[2018-04-29 19:01] cblecker commented on #2083
@shubheksha If you click the "Details" link above, there should be a link to the group list. Did you know that before? I'm thinking we just need to make that more discoverable.

[2018-04-30 10:25] #1602 closed

[2018-04-30 10:25] #1321 closed

[2018-04-30 10:27] countspongebob opened #2091 "Company association for Bob Wise wrong on SIG Scalability page"
Needs to be updated from Samsung SDS to AWS.

[2018-04-30 10:36] countspongebob commented on #2091
/sig scalablity

[2018-04-30 10:41] countspongebob commented on #2091
/assign countspongebob

[2018-05-01 07:32] shubheksha commented on #2083
@cblecker, nope, I didn't - that's a good idea.

[2018-05-01 09:03] thkoch2001 opened #2100 "The content of the new contributor workshop should be available online"
[events/2018/05-contributor-summit/new-contributor-workshop.md](https://github.com/kubernetes/community/blob/master/events/2018/05-contributor-summit/new-contributor-workshop.md) looks like a great agenda to cover everything a new contributor wants to know. Are we sure that all of this is also documented and easily discoverable?

[2018-05-03 00:28] cblecker commented on #1721
/remove-lifecycle stale

[2018-05-03 04:34] justaugustus opened #2122 "Update SIG PM Representatives list"
I noticed that the [SIG PM Representatives list](https://github.com/kubernetes/community/blob/master/sig-product-management/SIG%20PM%20representatives.md) looks to be a little out-of-date.

Could everyone pop on this [Google Sheet](https://docs.google.com/spreadsheets/d/1ZlGoJtziFD-5JYTGlRjTvrAhY836G5nVwPxuba1yisM/edit?usp=sharing) and update any contact info (name, email, github handle, secondari

[2018-05-03 19:59] cblecker commented on #2014
Closing this as part of #2032

[2018-05-03 19:59] #2014 closed

[2018-05-03 20:05] cblecker opened #2126 "github: document repo permissions levels"
Create documentation on Github permissions, and draft policies on who needs specific roles and why.

[2018-05-03 21:37] jberkus commented on #2032
Incidentally, I consider this good to go, it's just waiting for conventions to be over so I can carry it out.

[2018-05-03 23:53] chenopis commented on #2122
Done for @kubernetes/sig-docs-maintainers

[2018-05-04 00:41] k82cn commented on #2122
done for sig-scheduling :)

[2018-05-04 18:30] justaugustus opened #2130 "Define responsibilities of a SIG PM representative"
In the [SIG Governance / Creation doc](https://github.com/kubernetes/community/blob/master/sig-governance.md#sig-governance), we mention:

We should better define the responsibilities of a SIG PM representative, as this doesn't seem to be documented.

(this was a comment from @rsdcastro on this [Google Sheet](https://docs.google.com/spreadsheets/u/2/d/1ZlGoJtziFD-5JYTGlRjTvrAhY836G5nVwPxuba1yisM/e

[2018-05-04 18:30] justaugustus commented on #2130
/sig pm

[2018-05-07 21:25] spiffxp commented on #2088
Thanks for creating the teams @cblecker

After discussing with @dims on slack, I added the leads from sig-openstack who are in https://github.com/kubernetes/cloud-provider-openstack/blob/master/OWNERS

They're in @kubernetes/cloud-provider-openstack-admins and @kubernetes/cloud-provider-openstack-maintainers as team maintainers so they can add/remove people from those teams as they see fit

/unass

[2018-05-07 21:26] dims commented on #2088
Looks good. thanks @spiffxp

/close

[2018-05-07 21:26] #2088 closed

[2018-05-08 19:05] cblecker commented on #1644
/remove-lifecycle stale

[2018-05-08 19:14] cblecker commented on #1702
/remove-lifecycle stale
/remove-help

I don't think this is help wanted yet, because we don't have feedback on approach.

Do you still think this is a good idea, @castrojo? If so, I can put it in the backlog to discuss (trying to collect our issues together)

[2018-05-08 19:15] cblecker commented on #1724
/remove-lifecycle stale

[2018-05-08 19:36] cblecker commented on #1672
/remove-lifecycle stale

[2018-05-08 19:37] cblecker commented on #1753
/remove-lifecycle stale

[2018-05-09 14:29] khatamnejad commented on #798
Is someone working on this issue and/or quota [support for custom resources](https://github.com/kubernetes/kubernetes/issues/53777) actively? If no one is working on them, I think I should be able to do so.

[2018-05-09 23:03] justaugustus commented on #2122
Bumping this for updates to the [SIG PM representatives contact sheet](https://docs.google.com/spreadsheets/d/1ZlGoJtziFD-5JYTGlRjTvrAhY836G5nVwPxuba1yisM/edit?usp=sharing)!

[2018-05-11 17:29] cblecker commented on #1582
There is still activity here it looks like
/remove-lifecycle rotten

[2018-05-11 19:57] luxas commented on #2122
Done for SIG Cluster Lifecycle as well

[2018-05-12 06:00] cblecker commented on #720
/remove-lifecycle stale

[2018-05-14 04:07] kongsys opened #2147 "why kubelet run du -s"
Hi, my machine iowait very high, i found kubelet run du -s , why ?
/sig storage

[2018-05-14 17:01] cjcullen commented on #2122
Done for sig-auth.

[2018-05-14 17:03] cblecker commented on #2147
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-05-14 17:03] #2147 closed

[2018-05-14 21:12] misterikkit opened #2151 "broken link in E2E docs on version skewed testing"
The docs on doing version skewed e2e testing have a broken link.
https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#version-skewed-and-upgrade-testing

The link is to https://git.k8s.io/test-infra/jenkins/e2e-image/e2e-runner.sh but I can't find any e2e-runner.sh that talks about version skew testing.

/sig testing

[2018-05-16 19:07] cblecker commented on #1673
/remove-lifecycle stale

[2018-05-16 21:07] cblecker commented on #1803
/remove-lifecycle stale

[2018-05-16 23:27] jberkus commented on #2100
We need to add a whole bunch of notes to the slides, at which point they will be available too.

[2018-05-17 00:03] gbvikas opened #2157 "openshift"
How can we enable HPA in openshift 3.9?

I tried the steps specified in https://github.com/stefanprodan/k8s-prom-hpa with few tweaks but
doesnt work. The resources are not listed

oc get --raw "/apis/custom.metrics.k8s.io/v1beta1"
{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"custom.metrics.k8s.io/v1beta1","resources":[]}

oc get --raw "/apis/rbac.authorization.k8s.io/v1beta1"
{"kind

[2018-05-17 04:07] cblecker commented on #2157
Openshift is independent, and not supported by the Kubernetes project. You can find more information at https://www.openshift.org/.
---
/kind support
/close

[2018-05-17 04:07] #2157 closed

[2018-05-17 23:18] jagosan commented on #566
FYI - API Machinery is currently running an experiment on feature branch development for server-side apply [here](https://github.com/kubernetes/kubernetes/tree/feature-serverside-apply). The goals are to explore limits and issues with this approach in the main repo vs. in individual forks, especially regarding automation and testing. The broader goal is to explore working on something ambitious an

[2018-05-18 05:26] fejta commented on #566
The docs team is also trying to use feature branches: https://github.com/kubernetes/test-infra/issues/8058

[2018-05-18 06:31] BenTheElder commented on #566
@kubernetes/test-infra-maintainers we should keep up with the results here :-)
/cc

[2018-05-18 17:43] cblecker commented on #1809
/remove-lifecycle stale

[2018-05-18 18:12] parispittman commented on #1959
/assign @carolynvs

/cc

[2018-05-18 18:13] parispittman commented on #1959
/cc

[2018-05-18 23:18] guineveresaenger commented on #1613
Closing this as it was added in #1887 - thanks @nidorano!

[2018-05-18 23:18] #1613 closed

[2018-05-22 17:52] parispittman opened #2176 "update sigs.yaml with more wg info"
It would be good to see if the WG is horizontal, domain-specific, etc. and maybe what SIGs they cross into on the [sigs/wg list](https://github.com/kubernetes/community/blob/master/sig-list.md). if folks are in agreement, we'd need to update sigs.yaml.

ie:

name  |  horizontal (y/n) OR list of cross cutting SIGs  |  contact  |  meeting info
---  |  ---  |  ---  |  ---

[2018-05-22 17:53] parispittman commented on #2176
/sig contribex

[2018-05-22 17:54] parispittman commented on #2176
/sig contributor-experience

[2018-05-22 19:53] cblecker commented on #1666
/remove-lifecycle stale

[2018-05-22 19:53] cblecker commented on #1833
/remove-lifecycle stale

[2018-05-23 16:58] cblecker commented on #300
/remove-lifecycle rotten

[2018-05-23 17:17] jarrpa opened #2180 "Update / clarify local e2e tests instructions"
Following this document:

https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md

Led me to a section that showed how to run the e2e tests locally against a local-up cluster. While I was able to follow the instructions to get the local cluster up and running, hack/e2e.go complained that ginkgo did not exist. Sure enough, it was not present in my `_output` directory. Ho

[2018-05-23 21:13] jarrpa commented on #2180
@kubernetes/sig-contributor-experience-bugs

[2018-05-23 21:19] guineveresaenger commented on #1514
/remove-lifecycle stale

[2018-05-23 21:40] cblecker commented on #1665
/remove-lifecycle stale
/remove-help

[2018-05-27 18:09] nikhita commented on #2151
IIRC `e2e-runner.sh` was removed and it is recommended to use kubetest.

/cc @BenTheElder

[2018-05-27 18:09] nikhita commented on #2151
xref https://github.com/kubernetes/test-infra/issues/2829

[2018-05-27 18:14] nikhita commented on #859
/remove-lifecycle rotten

[2018-05-29 13:27] liggitt commented on #798
see the referenced issue: https://github.com/kubernetes/kubernetes/issues/53777#ref-pullrequest-325716240

PR open: https://github.com/kubernetes/kubernetes/pull/64201

currently blocked on generic lister/informer support (see https://github.com/kubernetes/kubernetes/pull/64201#issuecomment-392086703)

[2018-05-29 13:27] liggitt commented on #798
/assign @nikhita

[2018-05-29 19:00] fabiand commented on #798
Thanks for finding this incosnsitency - As you said: It's about hte number of CRs

[2018-05-29 19:45] BenTheElder commented on #2151
yes, using kubetest directly would be preferable, e2e-runner.sh is long gone AFAIK.

[2018-05-29 22:50] jarrpa commented on #2180
@dims I referenced this Issue in a PR I submitted to try and alleviate the problem.

[2018-05-31 03:34] jdumars commented on #2176
+1

This distinction is becoming more important as sigs proliferate.

[2018-05-31 03:39] jdumars commented on #2130
There is a lot in this that needs to be re-examined. First, SIG-PM is not in an organized enough state to demand such representation. Also, it is my belief that SIG-PM should be staffing the SIGs as needed, and not the other way around. Having an identified contact for SIGs with features in a release makes sense when questions arise, but I'm not sure of the other value.  @idvoretskyi may have a di

[2018-05-31 03:45] jdumars commented on #2126
+1

[2018-05-31 03:47] jdumars commented on #2091
https://github.com/kubernetes/community/blob/master/sigs.yaml looks correct. Can we close this issue?

[2018-05-31 03:49] jdumars commented on #2031
AFAIK there should be no problem migrating existing labels to cluster-lifecycle. The other question is best answered by @zehicle

[2018-05-31 14:37] parispittman commented on #2130
+1 to Jaice's comment - In contribex, our members attend other sig meetings and spread the word as advocates. We tell folks to monitor our comms(mailing lists, etc.) but don't assign representation.

[2018-05-31 17:41] cblecker commented on #2031
Nope, totally possible to migrate. We just need to understand what should migrate where.

[2018-06-01 09:42] nikhita commented on #1229
/remove-lifecycle stale

[2018-06-01 09:42] nikhita commented on #892
/remove-lifecycle stale
/lifecycle frozen

[2018-06-01 09:44] nikhita commented on #1213
/remove-lifecycle stale

still relevant

[2018-06-01 09:48] nikhita commented on #670
/remove-lifecycle stale

[2018-06-01 11:56] nikhita commented on #505
/remove-lifecycle stale
/lifecycle frozen

[2018-06-01 16:49] cblecker commented on #1213
/help
/kind documentation

[2018-06-01 18:31] cblecker commented on #1229
I believe this is complete.

[2018-06-01 18:31] #1229 closed

[2018-06-02 03:42] bgrant0607 commented on #2028
Why not moderate the sig/wg lists also?

[2018-06-02 03:43] bgrant0607 commented on #1999
We should re-evaluate whether these teams and googlegroup mirrors are useful or even work:
https://github.com/kubernetes/community/blob/master/sig-governance.md#creating-service-accounts-for-the-sig

[2018-06-02 03:58] cblecker commented on #1538
fixed in #2025

[2018-06-02 03:58] #1538 closed

[2018-06-02 13:41] zhangguanzhang opened #2208 "about the topologyKey"
Why use key name to select node？
Normal people use:
[code]
If I follow your requirements:
[code]
I think this is not in accordance with human habits

[2018-06-02 14:30] parispittman commented on #2028
We would need to be set to admin on all of those lists. If that's the direction that we should go in, we'll need to get all of the chairs/leads to give us permission and also figure out how to divvy up the work since there are so many lists.

[2018-06-02 20:28] cblecker commented on #2208
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-02 20:28] #2208 closed

[2018-06-03 18:05] danielepolencic opened #2210 "Revisiting pod autoscaling on a queue based architecture"
@kubernetes/sig-autoscaling-proposals
@kubernetes/sig-autoscaling-reviews

The [current best practice to autoscale pods based on the number of messages in a queue](https://cloud.google.com/kubernetes-engine/docs/tutorials/external-metrics-autoscaling) is to use an HPA with a metric of type External.

While this is good in theory, it's somewhat inconvenient in practice.

As a developer, I'd rather

[2018-06-03 18:52] nikhita commented on #1894
/remove-lifecycle stale

[2018-06-03 18:53] nikhita commented on #994
/remove-lifecycle stale

[2018-06-04 04:02] adohe commented on #2210
/sig autoscaling

[2018-06-04 17:03] cblecker commented on #1899
/remove-lifecycle stale
/lifecycle frozen

[2018-06-04 17:06] cblecker commented on #1819
/remove-lifecycle stale

[2018-06-04 20:21] rbitia opened #2214 "[Proposal] Create a nodeless working group"
We would like to create a nodeless working group! The proposal lives here: https://docs.google.com/document/d/1Y1GEKOIB1u5P06YeQJYl9WVaUqxrq3fO8GZ7K6MUGms/edit?usp=sharing

Main goals for the wg are as follows:
1. Create and decide on a nodeless architectural design for an “agentless” or “nodeless” kubernetes cluster
2. Design and propose entry points, extension points and API changes for CaaS pla

[2018-06-04 20:23] #2214 closed

[2018-06-05 16:02] ryanj commented on #1919
Sorry for the delay on this issue!  I'm mostly blocked for another 2 weeks, but am hoping to loop back around to it afterwords. If anyone else wants to jump on this issue, feed free. I don't want to get in the way.

[2018-06-05 23:13] cblecker commented on #1959
To update this, the label was created as a part of https://github.com/kubernetes/test-infra/pull/8129.
We still need to:
- update our "help wanted" guidelines with what the policy should be
- update the `/help` bot command to allow this label to be applied

@nikhita @guineveresaenger @jberkus: You all had expressed interest in this issue. Does anyone want to tackle one or more of these pieces in,

[2018-06-06 00:20] carolynvs commented on #1959
I would like to contribute to the "help wanted" guidelines! I had pneumonia the past few weeks, but am finally back to work and can share some of what I've been doing with SIG service catalog to bring in new contributors.

[2018-06-06 00:30] carolynvs commented on #1959
@guineveresaenger @nikhita I would love to collaborate with you both on some guidelines for help-wanted and good-first-pr. What do you say? 😀

[2018-06-06 13:35] nikhita commented on #1959
@carolynvs the edit is :100:

I'd like to work on this! I'll get started with it. @cblecker, I'll ping you in case I need help. :)

[2018-06-06 13:44] carolynvs commented on #1959
I'll work on combining the ideas here and submit a PR with changes to the doc files in this repo for the `help wanted` and `good first pr` labels.

[2018-06-06 15:34] guineveresaenger commented on #1959
Hi everyone- just woke up and see that everything is being volunteered for. I’ve been swamped lately so I’m happy to review and observe! Thank you all!

[2018-06-06 15:37] nikhita commented on #1959
@guineveresaenger would love a review of https://github.com/kubernetes/test-infra/pull/8273 :)

[2018-06-06 17:44] #1568 closed

[2018-06-06 21:53] zacharysarah opened #2221 "Add two new Kubernetes repos for Korean and Japanese internationalization"
## What we're asking for

SIG Docs would like to create two repos for localization of Kubernetes docs in Korean and Japanese:

Language | Repo name
---|---
Japanese | kubernetes-docs-ja
Korean | kubernetes-docs-ko

The names match the existing format of kubernetes-docs-<[ISO 639-2 language code](https://www.loc.gov/standards/iso639-2/php/code_list.php)>.

## Point(s) of contact

- @zacharysarah or

[2018-06-06 21:53] zacharysarah commented on #2221
/cc @calebamiles @ixdy

[2018-06-06 22:38] zacharysarah commented on #2221
/sig docs

[2018-06-06 22:38] zacharysarah commented on #2221
/assign @calebamiles @ixdy

[2018-06-06 23:55] cblecker commented on #2221
Looking at our [current rules](https://github.com/kubernetes/community/blob/master/kubernetes-repositories.md#rules-1), this should be fine as long as sig-arch is good with it. This is in line with what we're already doing for CN localization.

cc: @kubernetes/sig-architecture-proposals

[2018-06-07 00:20] chenopis commented on #2221
Are we using country codes or language codes? `cn` is the country code for China, whereas `zh` is the language code for Chinese. `ko` is the language code for Korean, and `kr` is the country code for South Korea. If we go w/ the language code, then we should rename the `/content/cn` directory to `/content/zh`.

[2018-06-07 01:13] justaugustus commented on #1913
/remove-lifecycle stale

[2018-06-07 08:33] nikhita commented on #1863
/remove-lifecycle stale

[2018-06-07 16:00] nikhita commented on #1959
Trying out something for checking the labels automation:

/label approved

[2018-06-08 17:56] jberkus opened #2234 "Determine canonical list of dependencies for Kubernetes"
We need a canonical list of official dependencies for Kubernetes, something we don't currently have.  This should appear both in the docs and in the release notes.

For example, this section of the release notes is currently a grab-bag:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#external-dependencies

Some of those things should be listed, some shouldn't, and there's c

[2018-06-08 17:56] jberkus commented on #2234
/sig architecture
/sig release
/sig documentation

[2018-06-08 17:57] jberkus commented on #2234
/milestone 1.12

[2018-06-08 17:57] jberkus commented on #2234
/kind docs

[2018-06-08 17:58] jberkus commented on #2234
/milestone v1.12
/kind documentation

[2018-06-08 18:35] grodrigues3 commented on #1673
@spiffxp where are we with this?  some sigs do have sub-projects .  Do we need to push the idea more broadly?  Do we have any metrics for how well this has been rolled out/accepted?

[2018-06-08 18:48] nikhita commented on #1959
/reopen

[2018-06-08 18:48] nikhita commented on #1959
/assign

[2018-06-08 18:48] nikhita commented on #1959
/reopen

[2018-06-09 18:36] tamalsaha opened #2236 "Broken links in serverside apply doc"
I wanted to learn about this interesting work. But most of the links under proposal are broken.

https://github.com/kubernetes/community/blob/master/keps/0006-apply.md#proposal

[2018-06-09 18:36] tamalsaha commented on #2236
cc: @lavalamp @apelisse

[2018-06-09 18:37] tamalsaha commented on #2236
/sig api-machinery

[2018-06-09 19:06] apelisse commented on #2236
Thanks for reporting!

[2018-06-09 19:16] #2236 closed

[2018-06-09 20:03] tamalsaha commented on #2236
Thanks for the quick fix.

[2018-06-09 22:52] carolynvs commented on #1757
Testing out the latest prow changes on this issue. Hope that's okay!

/good-first-issue

[2018-06-09 22:53] carolynvs commented on #1757
/remove-good-first-issue

[2018-06-09 22:54] cblecker commented on #1959
Last piece: Communicating what we've done! Who would like to send the e-mail to k-dev pointing at the docs as well as the bot commands?

[2018-06-10 06:03] nikhita commented on #1959
I'll do it! :tada:

I'll send the email on Monday. I'll sync up with @carolynvs and @guineveresaenger before hitting send. :)

[2018-06-10 07:57] nikhita commented on #1756
Closing this as a dupe of https://github.com/kubernetes/community/issues/1919 (since it has more comments and content).

/close

[2018-06-10 07:57] #1756 closed

[2018-06-11 15:34] pmorie opened #2243 "There should be a field in sigs.yaml for location of charter"
Currently the charter link is sprinkled into mission statement in many cases, while there is no first-class field for the location of a charter. We should add a first-class field for this information.

[2018-06-11 18:01] #2180 closed

[2018-06-11 18:17] nikhita commented on #1959
Kubernetes-dev: https://groups.google.com/d/msg/kubernetes-dev/UTkiFncx0YI/jZ45qIB_BQAJ
SIG-contribex: https://groups.google.com/d/msg/kubernetes-sig-contribex/-59Zu7LwBcA/f0lcQfGABQAJ

[2018-06-11 18:23] guineveresaenger commented on #1959
All work in this has been completed. Thank you everyone!

/close

[2018-06-11 18:23] #1959 closed

[2018-06-12 01:13] tallclair opened #2245 "KEP numbering is broken"
Here are the current keps, sorted by filename number and displayed alongside the metadata number:

[code]

The problems include number collisions & metadata / filename mismatch. Due to these problems, the current numbering only provides friction & confusion. I think the numbers either need to be abandoned, or automation needs to be added to ensure the correct numbering process is followed.

[2018-06-12 01:14] tallclair commented on #2245
/sig contributor-experience
/assign calebmiles

[2018-06-12 01:16] tallclair commented on #2245
/assign calebamiles

[2018-06-12 17:07] zacharysarah commented on #2221
@chenopis Good observation. If we go by language code, it also means renaming the Chinese repo to `kubernetes-docs-zh`, but I think that language is the more accurate way.

So:
Language | 2-letter code | Content directory | Official repo name
----------|---------------|------------------|---------------
Chinese | zh | `/content/zh/` | kubernetes-docs-zh (rename `kubernetes-docs-cn`)
Korean | ko |

[2018-06-12 18:13] zacharysarah commented on #2221
I just received a request to open a repo for a Japanese translation as well--updating the OP and comments with relevant info.

[2018-06-13 16:28] nikhita commented on #2243
Isn't the location of the charter of a sig always at community/sig-YOURSIG/charter.md? Ref: https://github.com/kubernetes/community/blob/master/committee-steering/governance/README.md#steps-to-create-a-sig-charter

[2018-06-13 16:30] nikhita commented on #2243
However, I guess it would be nice to mention the link to the charter in the sig readme though. Perhaps something like this in `sig_readme.tmpl`?

[code]

[2018-06-13 16:30] nikhita commented on #2243
/kind feature

[2018-06-13 16:32] nikhita commented on #1833
I think this could be a good first issue? :)

/good-first-issue

[2018-06-13 16:35] nikhita commented on #1833
For anyone who decides to work on this, the change would be here: https://github.com/kubernetes/community/tree/master/contributors/guide#open-a-pull-request

`...and following any SIG specific contributing guidelines...`

[2018-06-13 16:41] nikhita commented on #1832
@guineveresaenger Could this be a good first issue as well? :)

The approach I see here is:

1. Go to each repo (from @chris-short's list above) and create an issue about adding a `CONTRIBUTING.md` to their repo. Mention that they can point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md if they don't want to include any specific contributing guidelines.
2. If t

[2018-06-13 16:44] nikhita commented on #1702
Has there been any discussion on this?

Will this lead to too much spam? Maybe if we could figure out that the PR is sent by a new contributor (https://github.com/kubernetes/test-infra/issues/3083), we can put this info in the onboarding information?

[2018-06-13 16:46] nikhita commented on #1645
help and stale labels don't go hand in hand :)

[2018-06-13 16:49] nikhita commented on #1159
/remove-lifecycle stale

I think we should remove the examples with proto in them because proto definitions are generated. They are not expected to be written manually.

[2018-06-13 17:02] cblecker commented on #2243
/assign

[2018-06-13 18:17] pmorie commented on #2243
A month or so ago, there wasn't a uniform term for this document that was in use. I think there are likely a couple different conventions in use. My own subjective opinion is that it's probably best to have an explicit field for this.

[2018-06-13 19:02] carolynvs commented on #2243
Making it a dedicated field will also help prompt people to fill it in. 😀

[2018-06-13 19:34] fejta commented on #1702
I think the intent here is to make the details for the tide context display this info for a given PR

[2018-06-13 20:02] cblecker commented on #2243
Opened #2262 with this change.

[2018-06-14 16:36] andersjanmyr opened #2267 "Propagate Labels to Events"
I think it would be very useful for the labels of resources to propagate to the events.
If I create a `Deployment`, the labels propagate to the `ResultSet` and to the `Pods`, but not to the `Events` created by any of those resources.
It would be very nice to list events by labels and get everything related to my deployment.

[2018-06-14 17:10] andersjanmyr commented on #2267
/sig api-machinery

[2018-06-14 17:44] #2243 closed

[2018-06-14 19:28] parispittman commented on #2176
I put the 'what it would look like' at the bottom of the issue.
name  |  horizontal (y/n) OR list of cross cutting SIGs  |  contact  |  meeting info
---  |  ---  |  ---  |  ---

If it's the wg apply it would be something like:
apply | sig api machinery, sig foo | contact info | meeting info

We need this info to make sure we are getting regular updates from the wg's at the community meetings, audi

[2018-06-14 19:28] parispittman commented on #2176
in order for a working group to be formed, they need to have sponsoring sigs so they are defined.

[2018-06-14 19:31] guineveresaenger commented on #1636
@castrojo the above blog entry is a bit unclear on the exact steps you took to change your affiliation.
If you can give a bit more detail, we can make this a good first issue.
It should probably be linked to in https://github.com/kubernetes/community/tree/master/contributors/guide#sign-the-cla
and documented here:
https://github.com/kubernetes/community/blob/master/CLA.md

[2018-06-14 19:43] guineveresaenger commented on #1514
Current status summary of this issue:
- Reviews from the PR author's perspective are covered well as per #1761 .
- "How to review" still deeds doing; this is a gig for an experienced contributor/reviewer. For completion:

1.  There is some material in #1645 that should go into the reviewer guidelines
2. A good location for this is either a new subsection of https://github.com/kubernetes/community/

[2018-06-14 19:43] guineveresaenger commented on #1514
/help

[2018-06-14 19:44] guineveresaenger commented on #1514
/cancel help

[2018-06-14 19:44] guineveresaenger commented on #1514
/remove help

[2018-06-14 19:46] guineveresaenger commented on #1514
/remove-help

Apologies, this should be done by an experienced contributor.

[2018-06-14 19:50] guineveresaenger commented on #1645
This snippet should go into work from #1514, the Reviewers' Edition.

[2018-06-14 19:51] guineveresaenger commented on #1724
Motion: while this is important to do, it shouldn't be a blocker to publishing the contributor guide.

[2018-06-14 19:52] guineveresaenger commented on #1726
/remove-lifecycle stale
@grodrigues3 @castrojo - this is in the publishing area; is it being tracked elsewhere?

[2018-06-14 19:56] guineveresaenger commented on #1760
@chris-short are you still able to work on this? It would be awesome!

[2018-06-14 19:58] guineveresaenger commented on #1794
/remove lifecycle/stale

[2018-06-14 19:59] guineveresaenger commented on #1645
/remove-lifecycle stale

[2018-06-14 20:00] bgrant0607 commented on #1724
My conclusion is that notifications are hopeless. I'd be fine with getting rid of all the SIG-related github teams and mailing-list mirrors.

[2018-06-14 20:00] guineveresaenger commented on #1794
/remove-lifecycle stale

[2018-06-14 20:01] bgrant0607 commented on #1724
To be clear: I'm am completely DoSed by notifications, so it's all white noise to me.

[2018-06-14 20:09] guineveresaenger commented on #1794
Related: #2012

[2018-06-14 20:10] guineveresaenger commented on #1809
/help
Good for anyone comfortable with git.

[2018-06-14 20:13] guineveresaenger commented on #1824
This seems to be basically the same intent as #1644 .
@castrojo, OK to copy those resources and transfer them to this issue, and then close 1644?

[2018-06-14 20:14] guineveresaenger commented on #1832
I think this is an excellent first issue!
/good-first-issue

[2018-06-14 20:18] guineveresaenger commented on #1899
Related issues:
#1645
#1514

1514 should be scrubbed for any content that isn't duplicate here, and then closed, it feels like it's the same issue.

[2018-06-14 20:19] guineveresaenger commented on #2012
#1636 is related and can be incorporated in a fix for this issue, I think.

[2018-06-15 00:19] cblecker commented on #2176
If all WGs need sponsoring sigs, would listing "sponsoring sigs" work? I guess it's the "OR" bit that's confusing and unclear to me.

[2018-06-15 02:29] bgrant0607 commented on #2221
How are we dealing with reviewers in the other languages? I found the cn docs just copied the en reviewers, which probably isn't of much use.

[2018-06-15 03:04] bgrant0607 commented on #484
@calebamiles @jdumars Could we please find someone to document this?

[2018-06-15 03:06] bgrant0607 commented on #2028
We should do that. It would reduce the bus factor, also.

[2018-06-15 04:42] castrojo commented on #1724
I'd like to take this on as part of the mailing list moderator work. I can write something up to make this better, and we should probably take a hard look at having multiple teams and lists per SIG.

I don't have a solution for github notifications, it feels like we're all over it, and the best way to handle that is to interface with the github folks directly.

[2018-06-15 20:14] parispittman commented on #2176
Ah - I meant OR as a suggestion of a title - I'm 100% ok with "sponsoring sigs".

[2018-06-15 21:19] #1609 closed

[2018-06-15 22:27] cblecker commented on #2176
/assign
I'll take a stab, probably next week.

[2018-06-17 23:51] krmayankk commented on #923
/remove-lifecycle stale

[2018-06-17 23:52] krmayankk commented on #923
@xiangpengzhao are you still working on this ?

[2018-06-18 01:18] justaugustus commented on #2267
Hey @andersjanmyr, thanks for opening a feature request!
Looks like this would be better suited as an issue opened in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes).

I'm going to close this out, but you can open the request by clicking this link instead: https://github.com/kubernetes/kubernetes/issues/new

/close

[2018-06-18 01:18] #2267 closed

[2018-06-18 02:30] andersjanmyr commented on #2267
Okay, my mistake. Thanks.

[2018-06-18 23:07] cblecker commented on #703
/remove-lifecycle rotten

[2018-06-19 08:04] zacharysarah commented on #2221
@bgrant0607 Good question--I think it's reasonable to ask translation teams to strip reviewer/approver blocks from the front matter of individual files. Otherwise, as internationalizations scale up, reviewers will get increasingly bombarded by `@mentions`.

[2018-06-19 08:28] nasa9084 commented on #2221
I'm translating into Japanese in [kubernetes-docs-ja/website](https://github.com/kubernetes-docs-ja/website) repository and want to merge when official repository is created or transfer ownership of this repository.

[2018-06-19 10:09] whs-dot-hk opened #2283 "Adding a new sigs directory"
There are several markdown file in the root directory

e.g.
* `sig-list.md`
* `sig-governance.md`
* `sig-creation-procedure.md`
* `setting-up-cla-check.md`
* `org-owners-guide.md`
* `kubernetes-repositories.md`
* `governance.md`

really related to SIGs

I suggest create a folder call `sigs` and put them there

to minimize the time for comprehend what are they for

and why they are sitting there

[2018-06-19 10:42] #1516 closed

[2018-06-19 10:44] whs-dot-hk commented on #2283
/sig contributer-experience

[2018-06-19 14:39] idvoretskyi commented on #2283
cc @kubernetes/sig-contributor-experience-bugs @cblecker

[2018-06-19 16:40] guineveresaenger commented on #1516
I support this closing, since the related PR merged. @nikhita any objections?

[2018-06-19 16:44] nikhita commented on #1516
@guineveresaenger yeah, I think this de-duplication is fixed so it should be fine to close this. :+1:

[2018-06-20 10:26] whs-dot-hk opened #2291 "Suggest SIGs posting their other materials as posts"
Currently, each SIGs have their own way of posting additional files.

There might be different folders under a SIG, which made them hard to follow.

I suggest make those additional documents as post.

So, everyone could navigate them later as maybe News under a website.

[2018-06-20 10:36] nikhita commented on #2283
Not all files are sig-related though. For example, `setting-up-cla-check.md` is about setting up CLAs rather than about SIGs.

[2018-06-20 11:03] nikhita commented on #2050
Bumping this again.

Looks like this should go as an email to the steering and the sig-contribex lists.

[2018-06-20 11:05] nikhita commented on #2050
maybe the contributor guide could just "suggest" the changes and not enforce a certain style? Enforcing a certain style doesn't provide any tangible benefit per se (with respect to release notes, etc) but is a nice-to-have.

[2018-06-20 11:07] nikhita commented on #1971
I think we already have a script like this in k/k and probably k/community.

[2018-06-20 16:44] strajansebastian opened #2292 "Old version of docker recommended in the kubeadm install documentation"
Hello

https://kubernetes.io/docs/tasks/tools/install-kubeadm/ section 'Installing Docker':
_On each of your machines, install Docker. Version 17.03 is recommended, but 1.11, 1.12 and 1.13 are known to work as well. Versions 17.06+ might work, but have not yet been tested and verified by the Kubernetes node team. Keep track of the latest verified Docker version in the Kubernetes release notes._

S

[2018-06-20 16:52] strajansebastian commented on #2292
/sig node

[2018-06-20 17:06] cblecker commented on #2292
/remove-sig node
/sig cluster-lifecycle
/kind documentation

[2018-06-20 17:09] cblecker commented on #2291
I'm confused. Can you clarify what you mean by "posts"?

[2018-06-20 17:12] VineethReddy02 opened #2293 "Inputs for CONTRIBUTING.md"
Contributing page would be a great entry point for beginners in getting started with there respective interest groups.

These following are some of the basic elements of a contributing page, feel free to add more.
- Before you begin
- Adopting an issue
- Bug lifecycle
       1)Filing a bug
       2)Sending a fix
- Feature Request
- Feature lifecycle
- Merge state meanings
- Use of @meanings

Or el

[2018-06-20 17:15] cblecker commented on #2283
The following files are meant to be at the root because they are critically important documents:
- sig-list.md
- governance.md

The following files will move in a PR I've opened (https://github.com/kubernetes/community/pull/2277):
- org-owners-guide.md
- setting-up-cla-check.md
- kubernetes-repositories.md

The following files need to be reviewed for content accuracy, but could possibly be moved t

[2018-06-20 17:16] VineethReddy02 commented on #2293
/area contributor-guide
/sig autoscaling

[2018-06-20 17:28] tpepper commented on #1971
Yep I think in early May 2018 or so misspell came into checks.

[2018-06-20 19:32] castrojo commented on #2291
I think this is for hugo frontmatter at the beginning of each page so it knows how to render the page, similar to how docs does stuff like this: https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/administer-federation/daemonset.md

This would require some buy in and discussions first though.

[2018-06-20 21:53] MikeSpreitzer commented on #1537
I agree this is a big problem are for new, and even not-so-new, contributors.  One additional degree of difficulty comes from the fact that sometimes the failure is in the test harness itself rather than the code being tested; as far as I can tell, the developer is given no clean delineation between these kinds of failures.

[2018-06-20 22:18] jdumars opened #2295 "Automate generator for sigs.yaml"
With as many changes go into sigs.yaml, it would be preferred for the regeneration of markdown files to be the responsibility of automation.  Additionally, it simplifies the process for submitters who would no longer need to run code in order to make a simple yaml change.

[2018-06-21 08:37] #2130 closed

[2018-06-21 08:37] #2122 closed

[2018-06-21 14:06] SDAdham opened #2298 "Urgent: Just installed Kubernetes on Ubuntu and I see a lot of nodes are getting created in MAAS"
After installing kubernetes, I see a huge list of nodes and yet still increasing (whats going on?):

aware-code
aware-yak
casual-corgi
casual-whale
casual-mole
clear-hound
close-liger
cool-troll
decent-beetle
divine-bug
driven-drake
easy-cod
equal-frog
equal-swan
exotic-earwig
expert-cow
expert-slug
fair-bee
first-dog
frank-monkey
gentle-racer
good-koi
grown-bunny
guided-eft
handy-wahoo
hip-hornet

[2018-06-21 16:18] whs-dot-hk commented on #2291
@cblecker The best we could do right now is

https://whs-dot-hk.github.io/k8sC-sigs-markdowns/overview/

Will link to the markdowns later

I think common tags could help

[2018-06-21 17:16] cblecker commented on #2298
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-21 17:16] #2298 closed

[2018-06-21 17:56] #1213 closed

[2018-06-21 20:04] tallclair commented on #2245
/cc @kubernetes/sig-architecture-bugs

[2018-06-21 22:59] SDAdham commented on #2298
Hi cbleker,

I posted the question on stackoverflow as well

https://stackoverflow.com/q/50970133/5224768

I did a long research about this but still its not clear why this behaviour, i have a lot of nodes now. If anyone can really help, would be really appreciated.

[2018-06-22 14:40] SDAdham opened #2303 "Can't conjure-down kubernetes"
Hi, I am trying to conjure-down kubernetes because of #2298 as I deleted the VMs as if they are spam, this affected the kubernetes environment and it no longer runs, so I am trying to conjure-down it and this is the end result:

[code]

Both of those tickets are to be honest considered a bug, and PLS do not close them as support tickets, over 70 vms to be created on the server  and most of them fu

[2018-06-22 23:58] justaugustus opened #2307 "Define triage and tracking process for `kind/feature` issues / PRs in `k/k`"
There are currently [605 open issues](https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Akind%2Ffeature) in the kubernetes/kubernetes repo labelled as `kind/feature`.

Unfortunately, our Features tracking process (as it exists today), doesn't actively cull these issues.
I'm opening this issue up because I'd like to illicit some discussion around how we can eventually:
*

[2018-06-22 23:59] justaugustus commented on #2307
/sig pm
/sig contributor-experience

[2018-06-23 00:02] justaugustus commented on #2307
(I'll also be opening a separate issue later around bolstering the existing Features process.)

[2018-06-23 20:16] cblecker commented on #2303
@SDAdham As was mentioned in #2298, Github is *not* a support forum for Kubernetes. You aren't reporting a specific bug with an identified cause, you are asking for help in setting up/tearing down your specific kubernetes installation.

Setup guides are available [here](https://kubernetes.io/docs/getting-started-guides/ubuntu/), and [Stack Overflow](https://stackoverflow.com/questions/tagged/kuber

[2018-06-23 20:16] #2303 closed

[2018-06-23 20:28] cblecker commented on #2307
`kind/feature` isn't just for active features in the process, it's also for feature requests. Not all of them are accepted by the sig as features they want to implement (and therefor kick off a features or kep process), but this is how we currently accept requests.

Also, our automation is set up in such a way that we have a standard set of labels across all repos, and this is one of them. Changin

[2018-06-23 22:33] justaugustus commented on #2307
@cblecker -- do we have documentation for the process of:
* a SIG accepting a feature request
* a SIG placing this feature on their roadmap
* converting a `kind/feature` from k/k into k/features or a KEP

[2018-06-23 23:01] cblecker commented on #2307
I don't know the answer to that :)

[2018-06-23 23:11] justaugustus commented on #2307
@cblecker -- that's the perfect answer; means I have something to work on ;)

[2018-06-24 09:09] #1968 closed

[2018-06-24 12:55] idvoretskyi commented on #2307
not well-defined. It has to be clarified here https://github.com/kubernetes/features/blob/master/README.md

[2018-06-24 22:33] SDAdham commented on #2303
@cblecker : the bug I am reporting the amount of VMs that flooded my server, where these are coming from?

[2018-06-24 22:35] cblecker commented on #2303
@SDAdham my guess is a misconfiguration during setup, rather than a bug

[2018-06-24 22:35] SDAdham commented on #2298
@cblecker : please reopen this case, I need to know where those 70+ VMs came from.

[2018-06-24 22:38] SDAdham commented on #2303
@cblecker : there was no mis configuration, what possibly a mis configuration that would generate that many vms like mentioned in the description above? It doesn't really make sense.

[2018-06-24 22:39] SDAdham commented on #2303
A misconfiguration wouldn't generate a VMs like this:
aware-code
aware-yak
casual-corgi
casual-whale
casual-mole
clear-hound
close-liger
cool-troll
decent-beetle
divine-bug
driven-drake
easy-cod
equal-frog
equal-swan
exotic-earwig
expert-cow
expert-slug
fair-bee
first-dog
frank-monkey
gentle-racer
good-koi
grown-bunny
guided-eft
handy-wahoo
hip-hornet
holy-bass
holy-hen
intent-bear
large-kit
...

[2018-06-25 02:51] SDAdham commented on #2303
@cblecker : If deploying Kubernetes is going to cost users to have 70+, then it would be better if we can have this documented somewhere to warn users who are trying to deploy Kubernetes.

As I really previously mentioned having 70+ VMs to be deployed with funny names does not seem to be a normal behaviour of a deployment regardless mis or correct configuration, please reopen this issue.

[2018-06-25 02:56] cblecker commented on #2303
Kubernetes doesn’t require 70+ VMs. You can have as little as one. This is why I believe it’s an error in the way you have set up and configured your installation.

[2018-06-25 02:59] SDAdham commented on #2303
Then from where those 70+ VMs came from? If it is an error then this means "a bug" not "support case"?

[2018-06-25 03:08] SDAdham commented on #2298
@cblecker I don't really understand why you would really treat a deployment that installs 70+ VMs "a misconfiguration" and not bug! when installing Kubernetes can be as small as 1 VM

Why do you see this as support case and not a bug?

[2018-06-25 06:38] justaugustus commented on #2245
+1
Do we think it's enough to just have KEPs organized in folders by SIG and abandon the numbering scheme?

...or perhaps have the numbering be based on the date of the proposal e.g., `sig-pm/180625-really-cool-kep.md`?

[2018-06-25 07:28] justaugustus commented on #484
Adding RT Release Notes peeps from 1.10, 1.11, 1.12 to provide additional color and maybe get a volunteer to document the process.

/cc @nickchase @qedrakmar @marpaia @dstrebel @onyiny-ang

[2018-06-25 07:30] justaugustus commented on #484
/assign @nickchase @qedrakmar @marpaia @dstrebel @onyiny-ang

[2018-06-26 17:01] jdumars commented on #2245
I'm putting this on the SIG-Architecture agenda for this week. Hopefully we'll get to it.

[2018-06-26 18:04] cblecker opened #2315 "Notice of intent: Deprecate and remove kubernetes-pm team"
Ref: https://github.com/kubernetes/kubernetes/issues/57667

The @kubernetes/kubernetes-pm team gave write access to a number of repos including kubernetes/kubernetes to PMs who were managing issues and labels. However, all of this functionality can now be handled by bots, and privileged actions (such as managing the milestone) has moved over to the @kubernetes/kubernetes-milestone-maintainers team

[2018-06-26 18:10] cblecker opened #2316 "Notice of intent: Deprecate and remove kubernetes-build-cops team"
Ref: https://github.com/kubernetes/kubernetes/issues/57667, https://github.com/kubernetes/community/pull/1235

The @kubernetes/kubernetes-build-cops team gave admin access to a number of repos including kubernetes/kubernetes to a number of people who were tasked with ensuring that automatic merges were happening. However, this role has been deprecated since Oct 2017 (https://github.com/kubernetes/

[2018-06-26 19:32] castrojo commented on #2293
I think creating a link is the way to go, if we kept stuff in contributing.md then that'd be one more file we'd have to check when fixing something.

[2018-06-27 11:08] nikhita commented on #1965
/remove-lifecycle stale

[2018-06-27 14:41] bgrant0607 commented on #2245
This came up in the original KEP discussions. I think there was some assumption that an "editor" would assign numbers post-merge.

I am a fan of the date approach.

I think the intent of the numbering is, at a glance, to get some sense of which KEPs are more recent.

[2018-06-27 17:20] tpepper commented on #641
Should we close this now that the calendar's taken down?

[2018-06-27 17:21] tpepper commented on #1999
The "Calendars" section needs updating now that the calendar is not on http://k8s.io/community

[2018-06-27 17:40] cblecker opened #2321 "New Contributor Playground"
https://kubernetes.slack.com/archives/C1TU9EB9S/p1529008553000790

There was a Slack discussion on setting up a new contributor playground, not in k/community. Opening up an issue to track it so we don't forget.

[2018-06-27 17:46] cblecker opened #2323 "github: establish new github team structure"
We currently have 303 GitHub teams, with 164 of them being related to SIGs. We sent up a number of teams per sig, and then also set up mirror accounts and Google Groups for them to mirror the notifications.

This doesn't appear to be heavily used, and it also suffers from long upkeep and spam issues.

We need a new GitHub team structure for sigs, and to migrate away from the mirror accounts.

ref:

[2018-06-27 17:48] cblecker commented on #720
Closing in favour of #2323

[2018-06-27 17:48] #720 closed

[2018-06-27 17:52] tallclair commented on #2245
Why not just use the initial PR number? If the goal is to increase number density, we could just have a dedicated repo for KEPs. I think the number was intended to be a UID, so that related KEPs could be referred to unambiguously.

[2018-06-27 18:04] cblecker commented on #2323
I'd like to suggest a team structure like:
[code]

sig-foo and sig-foo-pr-reviews would be open for anyone in the org to join/leave (pending automation). The sig-foo-leads would be the chairs/TLs of the sig, for escalation. PR Reviews would be the front line notification for the sig, the leads the escalation point, and the main sig team would be the bat signal to notify anyone in the sig that is a

[2018-06-27 18:09] cblecker opened #2324 "Clean up github service accounts"
I'd like to clean up the following GitHub service accounts:

- cadvisorJenkinsBot
- k8s-bot
- k8s-cherrypick-bot
- k8s-external-contributor
- k8s-mirror-api-machinery-api-reviews
- k8s-mirror-api-machinery-bugs
- k8s-mirror-api-machinery-feature-rqusts
- k8s-mirror-api-machinery-misc
- k8s-mirror-api-machinery-pr-reviews
- k8s-mirror-api-machinery-proposals
- k8s-mirror-api-machinery-test-failures

[2018-06-27 18:10] cblecker commented on #2324
also cc: @calebamiles @idvoretskyi @grodrigues3

[2018-06-27 18:10] cblecker commented on #2324
@bgrant0607

[2018-06-27 18:29] BenTheElder commented on #2324
I'd suggest maybe holding onto the *bot accounts, we can only pack so much
automation on to each and I know @fejta at least is building new tools to
automate GitHub toil.

On Jun 27, 2018 11:11, "Christoph Blecker" <notifications@github.com> wrote:

@bgrant0607 <https://github.com/bgrant0607>

—
You are receiving this because you are on a team that was mentioned.
Reply to this email directly, view

[2018-06-27 18:56] jonasrosland opened #2325 "Non-Code Contributor Guide addition"
Currently the contributor guide is focused on how to contribute to Kubernetes by writing and submitting code. There are many other ways to contribute to an open source project though, and we want to make it easy for all contributors to do so.

The intent of the work done for the Non-Code Contributor Guide is to make Kubernetes a welcoming project for individuals with a vast array of different skil

[2018-06-27 19:00] jonasrosland commented on #2325
/sig contributor-experience

[2018-06-27 19:13] justaugustus commented on #2245
Going to plug the date approach again, since it gives you an immediate idea of how recent the proposals are. Not sure that we need another repo to track these, if we can think of a reasonable structure, but just my $0.02.

[2018-06-27 19:38] enj commented on #2323
Does it matter how it is structured if the source of truth is https://git.k8s.io/test-infra/prow/cmd/peribolos ?

[2018-06-27 19:54] cblecker commented on #2323
peribolos would be how we could manage it, but we want some consistency between the sigs

[2018-06-27 20:22] zacharysarah commented on #2221
@calebamiles @ixdy 👋 Bumping for action

[2018-06-27 21:16] justaugustus commented on #2324
Azure mirrors (excluding `k8s-mirror-azure-misc`) have been destroyed as part of #2313: https://github.com/kubernetes/community/pull/2313#issuecomment-400189640

[2018-06-28 11:48] idvoretskyi commented on #2307
This is a major blocker, IMO.

[2018-06-28 13:02] castrojo opened #2326 "Contributor guide needs to mention Meet Our Contributors"
We need to mention [Meet our Contributors](https://github.com/kubernetes/community/blob/master/mentoring/meet-our-contributors.md) in the contributor guide.

This is a good issue for anyone wanting to work on their first contribution. Add a link and description to the event above in the events or mentoring section of the [Kubernetes Contributor Guide](https://github.com/kubernetes/community/tree/m

[2018-06-28 14:29] castrojo commented on #2325
Initial PR: https://github.com/kubernetes/community/pull/2327

[2018-06-28 16:41] castrojo commented on #2326
/sig contributor-experience

[2018-06-28 16:46] cblecker commented on #2326
/good-first-issue

[2018-06-28 16:50] cblecker commented on #2307
Yes, @idvoretskyi. Deprecating `kind/feature` I don't think will work.. but having more defined process and automation around features is something I can completely get behind.

[2018-06-28 16:51] #1809 closed

[2018-06-28 17:36] thockin commented on #2245
I actually think a KEP repo makes sense.  I'm trying to keep up on KEPs,
but the volume of other community-repo stuff makes it very hard.

On Wed, Jun 27, 2018 at 10:52 AM Tim Allclair (St. Clair) <
notifications@github.com> wrote:

[2018-06-28 17:40] bgrant0607 commented on #2245
Or a KEP repo just for the backlog?

That would be similar to what is proposed for the API review process:
https://docs.google.com/document/d/1OkSQngGem7xaENqaO8jzHLDSSIGh2obPUaJGAFDwTUE/edit#

We don't have a clean division between KEPs, design proposals, and development docs right now. I wouldn't want them to live in separate repos.

[2018-06-28 18:11] jennac commented on #2326
Hi! I'm interested in tackling this

[2018-06-28 18:15] cblecker commented on #2326
Hi @jennac! Go for it 🚀

--
/remove-help

[2018-06-28 22:04] ixdy commented on #2221
I don't have permissions to do this. As @cblecker noted above, it looks like you might need someone from sig-architecture to own this.

Tangentially: I'm guessing you want separate repos rather than using branches in the main docs repo because it makes things generally easier to deal with?

[2018-06-29 01:04] cblecker commented on #2221
@zacharysarah I can help you with this from a permissions standpoint, but repo creation in the `kubernetes/` org requires sign off from sig-architecture.

/unassign @calebamiles @ixdy
/assign @bgrant0607 @jdumars
Assigning to Brian and Jaice so they see this as still pending action.

[2018-06-29 22:07] batarian71 opened #2332 "Logo"
Hello. I am a graphic designer. I want to volunteer support for open source projects. If you want, I can design a logo for you. What do you say? Also tell me if you want something. I can design.

[2018-06-29 22:14] thockin commented on #2332
Hi,

Thanks for the offer but this is not the right forum for such an offer.  I don't know which pieces need logos as of now, but if you look through some of the sub-projects you will certainly find some.

[2018-06-29 22:14] #2332 closed

[2018-07-01 09:41] marpaia commented on #484
/assign @marpaia

[2018-07-01 20:01] cblecker commented on #2321
@guineveresaenger @carolynvs @parispittman Do you know what the "due date" for this is? When will a playground be needed by?

[2018-07-02 14:48] carolynvs commented on #2321
I am doing an OSS workshop at GopherCon the last week of August that if it were done by then, I would point people towards it. But otherwise I would guess KubeCon Seattle, right @guineveresaenger?

FYI, since this involves setting up a new repo, I'm not sure how I can help move this forward until that's created. Let me know if I'm missing something and I can work on it this week on my vacation!

[2018-07-02 23:03] cblecker commented on #651
/remove-lifecycle stale

[2018-07-03 03:22] justaugustus commented on #2323
+1 to the proposed structure for notifications.
Would being part of the nested teams grant any magic powers or will that be entirely relegated to peribolos?

[2018-07-03 09:43] nikhita commented on #651
What are the TODO items here? I can help with this.

+1. I'll fix this.

I don't think we should change the old ones, for the new ones we have the KEP format.

KEPs have this. Do we also need to go back and fix the old ones?

[2018-07-03 17:04] jbeda commented on #2245
Sorry for being late to the party here.

I like the date approach. The one downside to that it is that it is difficult to refer to a KEP easily.  I was looking forward to being able to talk about KEP 123 and have everyone know what we were talking about.  As we have overlapping KEPs that deprecate old KEPs, etc. it is nice to have a number.  This works well for RFCs and PEPs.

I'm not a fan of usi

[2018-07-03 17:12] cblecker commented on #2245
Another out in the world example of how this is handled:
In the IETF, draft documents are always just `draft-name-00` with the 00 being incremented. When something is accepted for RFC publication, *then* it's assigned a number. So perhaps all initial drafts get merged as draft, but then once the status in the sig goes to ACCEPTED, then an incremental number is assigned?

[2018-07-04 08:36] idealhack commented on #923
Do we need to continue the work on this?

I've been triggering tests in some PRs in [oktotest.com](http://oktotest.com) recently. For now, the query is `is:open is:pr org:kubernetes -repo:kubernetes/charts label:needs-ok-to-test -label:needs-rebase`

[2018-07-04 08:47] nikhita commented on #923
I'm not sure if this is still required but I have a question:

Should I ok-to-test PRs:
- targeting areas that I am not involved in
- haven't had any reviews yet from folks who should be reviewing the PR
- but don't look harmful (in terms of bitcoin mining, etc).

I don't ok-to-test such PRs now, but I see some merit in ok-to-test-ing them. For example, the author can come to know places where the

[2018-07-04 09:48] nikhita commented on #2083
Is something still needed to be done here? Would non-toggling "Details" make it too spammy?

[2018-07-04 18:06] cblecker commented on #923
I think having clear guidance on this is still worthwhile.

If there is an *obvious* problem and we know tests are going to fail, then I usually call that out and won't okay it for test until that's fixed.

I also try to determine how complex a change is, and it's likelihood of being accepted before kicking off CI. Here's an example:
- First time contributor creates a `size/S` PR to fix spelling m

[2018-07-04 18:08] cblecker commented on #2315
The comment period has closed, and I have deleted this team. Thank you!

[2018-07-04 18:08] #2315 closed

[2018-07-04 18:09] cblecker commented on #2316
The comment period has closed, and I have deleted this team. Thank you!

[2018-07-04 18:09] #2316 closed

[2018-07-04 19:17] cblecker commented on #2324
On the bots topic, I know we need to keep:
@k8s-ci-robot - k8s-ci-robot
@k8s-merge-robot - Kubernetes Submit Queue  k8s-merge-robot

I'm proposing that we kick the following bots out of the org:
@cadvisorJenkinsBot - cadvisorJenkinsBot
@k8s-bot - Kubernetes Bot  k8s-bot
@k8s-cherrypick-bot - k8s-cherrypick-bot
@k8s-publish-robot - k8s-publish-robot  k8s-publish-robot
@k8s-slack - k8s-slack

If we

[2018-07-04 19:20] cblecker commented on #2324
I'm also going to put a time box on this.. Leaving open for comment until July 11 at 5pm PDT as I know a lot of people are OoO for the July 4th holiday.

[2018-07-04 19:28] BenTheElder commented on #2324
Can't we delete the tokens [1] / de-privilege the accounts while still
reserving the usernames / accounts (though perhaps not cadvisorJenkinsBot)?

I'm also not sure, what account does the publisher robot use?
k8s-publish-robot sounds like it.

[1] https://blog.github.com/2013-05-16-personal-api-tokens/

On Wed, Jul 4, 2018, 12:18 Christoph Blecker <notifications@github.com>
wrote:

[2018-07-04 19:30] cblecker commented on #2324
Kicking the bots out of the org doesn't delete the accounts or release the names. We could re-add the accounts to the org at any time. It just means they don't have any privileges.

The staging repo publishing bot is @k8s-publishing-bot (don't want to kick it out)

[2018-07-04 19:33] BenTheElder commented on #2324
Ah, thanks. I misunderstood "clean up the following GitHub service
accounts" as 'delete the following accounts'. 👍

SGTM

On Wed, Jul 4, 2018, 12:30 Christoph Blecker <notifications@github.com>
wrote:

[2018-07-04 20:54] cblecker commented on #1997
/remove-lifecycle stale

[2018-07-04 22:39] palash25 commented on #1833
I would like to work on this. Requesting assignment.

[2018-07-04 22:42] cblecker commented on #1833
/remove-help

@palash25 it's all yours.

[2018-07-05 09:02] nikhita commented on #923
/area contributor-guide

[2018-07-05 16:48] BenTheElder opened #2344 "document / explain github assignment restrictions"
We often see new contributors looking to take on issues labeled with `help wanted` / `good first issue` asking to be assigned ([example in test-infra/8413](https://github.com/kubernetes/test-infra/issues/8413#issuecomment-402637462)), but we cannot assign them because of the GitHub limitation that assignees must be Org members or at least repo collaborators.

We should document / explain this in a

[2018-07-05 16:50] BenTheElder commented on #2344
/sig contributor-experience

[2018-07-05 16:53] nikhita commented on #2344
cc @cblecker

[2018-07-05 20:40] murarisumit opened #2348 "Link to advanced_scripts used in GCE for kubernetes is not working."
Link to advanced script is not opening.

File: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/networking.md

Link in the below image.

<img width="967" alt="image" src="https://user-images.githubusercontent.com/2667258/42346878-abcc1cb2-80c1-11e8-82e4-0dd9d70a7e29.png">

[2018-07-05 20:43] murarisumit commented on #2348
/sig documentation.

[2018-07-05 20:47] murarisumit commented on #2348
Google sites were not opening from my machine for something, link works

[2018-07-05 20:47] #2348 closed

[2018-07-05 21:03] neolit123 opened #2349 "Write a tool for on demand mapping between github-handle, email and slack-handle"
this was discussed in the recent 1.11 Retro part 2 meeting:
https://youtu.be/sZekfvgIx28?list=WL&t=2076

me and @BenTheElder had a discussion about this today on slack:
https://kubernetes.slack.com/archives/C2C40FMNF/p1530819530000300
RAW copy-pasta of the discussion:
https://gist.github.com/neolit123/00835a9eec63de997329f0edf83977f6

also @dims proposed this tutorial about writing an Slack app.
h

[2018-07-05 21:16] cblecker commented on #2349
/remove-help

Removing help wanted, as there isn't an agreed to direction yet (doesn't meet the [requirements](https://git.k8s.io/community/contributors/devel/help-wanted.md) for help wanted.

[2018-07-06 04:42] neolit123 commented on #2349
in the meantime here is a quick script for the author/comiter emails from PRs:

https://gist.github.com/neolit123/f769f3c0c1d37f3e268cf71a1ffde1ab

[code]

[2018-07-06 05:00] nikhita commented on #923
Missed this question a few comments up.

Good question, @xiangpengzhao! For me, personally, I lgtm only when I am _super, super, super_ sure about the PR. I think this holds true to all types of PRs - big changes or small ones like typos, etc.

I think it is ok to lgtm typos, etc even if you are not a reviewer/approver for that area of the code -  if the fixes make sense and you are sure about it.

[2018-07-06 23:17] jiatongw opened #2351 "No pod.yaml in kubernetes/test/fixtures/doc-yaml/user-guide/ folder"
In the document ```community/contributors/devel/running-locally.md```  line 118 "**Running a user defined pod**" title, (please check [https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md](https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md)), it guides users to try ```cluster/kubectl.sh create -f test/fixtures/doc-yaml/use

[2018-07-06 23:17] jiatongw commented on #2351
/kind bug

[2018-07-06 23:24] jiatongw commented on #2351
/sig-docs

[2018-07-09 21:54] jiashenC opened #2360 "aws load-balancer is not registered with instances"
I use kubeadm to launch cluster on AWS. I can successfully create a load balancer on AWS by using kubectl, but the load balancer is not registered with any EC2 instances. That causes problem that the service cannot be accessed from public.

I am using.
[code]

How can I fix the issue?

Thanks!

[2018-07-09 21:55] jiashenC commented on #2360
/sig aws

[2018-07-09 21:56] zacharysarah commented on #2221
@ixdy 👋

Correct, partly because:
1. It makes sense for localization teams to review their own translation PRs, and the English docs team would only slow things down; and
2. Language-specific repos make it easier to automate content imports to [language-specific directories](https://gohugo.io/content-management/multilingual/) in k/website.

[2018-07-09 21:58] zacharysarah commented on #2221
@jdumars @bgrant0607 👋 Bumping for review.

[2018-07-09 23:20] cblecker commented on #2360
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-07-09 23:20] #2360 closed

[2018-07-09 23:21] cblecker commented on #276
/remove-lifecycle stale

[2018-07-09 23:30] #1159 closed

[2018-07-09 23:33] #2344 closed

[2018-07-09 23:54] #2351 closed

[2018-07-10 17:29] jiashenC commented on #2360
Re-post my issue [here](https://stackoverflow.com/questions/51254530/aws-load-balancer-is-not-registered-with-instances).

[2018-07-10 18:41] idvoretskyi commented on #2321
/cc

[2018-07-10 18:54] parispittman commented on #2321
they will have a new contributor workshop in Shanghai that @jberkus is leading

[2018-07-10 19:17] krzyzacy commented on #2151
/assign

[2018-07-10 20:23] jberkus commented on #2013
I actually want to modify this issue, based on how kind/ label usage changed in 1.11

[2018-07-11 01:20] BenTheElder commented on #2321
/cc

[2018-07-11 10:10] justaugustus commented on #2323
Any updates on this?

[2018-07-11 10:12] justaugustus commented on #2245
Any updates on this?

[2018-07-11 16:57] #2151 closed

[2018-07-11 19:39] castrojo opened #2366 "Document new-subscriber policy for mailing list"
We now turned on "New member posts are moderated" in the google group `kubernetes-dev`. New users will have their messages put in a queue and be sent the following response:

"Since you're a new subscriber you're in a moderation queue, sorry for the inconvenience, a moderator will check your message shortly. "

We need to document this in the moderation guidelines for everyone.

[2018-07-11 19:41] idvoretskyi commented on #2366
cc @kubernetes/sig-contributor-experience-proposals

[2018-07-11 21:49] cblecker opened #2367 "Proposal: GitHub Management Subproject in Contributor Experience"
## History:
The Kubernetes project uses Github extensively to store and organize code, manage issues and documentation, and provide a consistent contributor flow.

With the size and growth of the Kubernetes project, management of our Github footprint has historically been a challenge.  Management and permissions are handled in an ad-hoc way.

## Proposal:
I'd like to propose a subproject under Con

[2018-07-12 17:02] spiffxp commented on #2324
This is followup to https://github.com/kubernetes/community/pull/2302.  Is there an umbrella issue to catch cleaning up detritus related to that?  ie: I think devstats needs a touchup, I personally would like to nuke the k8s-mirror accounts I have credentials for, we're not sure what to do about the teams and renaming and the bots that apply labels based on their usage, etc.

[2018-07-12 17:32] castrojo opened #2370 "Contributor Guide needs a glossary"
The communication section needs a glossary. During many of our meetings we use terms like "lgtm", "prow", "tide", and so on and we don't have a place that explains what all this stuff is.

We should keep it separate from the user glossary so that there's a clean separation from k8s itself and then the meta

/sig contributor-experience
/area contributor-guide

[2018-07-12 18:36] jdumars commented on #2221
Approved SIG Architecture 7/12/18

[2018-07-12 18:42] cblecker commented on #2221
/unassign jdumars bgrant0607
/assign

[2018-07-12 18:49] parispittman commented on #2370
https://kubernetes.io/docs/reference/glossary/?fundamental=true

link that?

[2018-07-12 21:04] jberkus commented on #2321
We definitely need one by Shanghai.  Having one by GopherCon would be even better.

[2018-07-13 06:08] nikhita commented on #2370
Unfortunately, https://kubernetes.io/docs/reference/glossary/?fundamental=true&community=true doesn't have things like `lgtm`, `tide`, etc; instead it has things like `Init Container`, `kube-proxy`, etc. IMO terms like `init containers` shouldn't really be under "community". Wdyt?

[2018-07-13 07:55] parispittman commented on #2370
Make sure you have the fundamentals tab not blue; those words will show if it is. Only Community should be selected. We can file an issue to see if we can turn multiple tab selection off if that makes for a better experience.

If we ask for those to be added, they will or we can PR them in. Here is the main list: https://github.com/kubernetes/website/tree/master/content/en/docs/reference/glossary

[2018-07-13 08:11] nikhita commented on #2370
Oh yeah, that worked. :)

Clicking on https://kubernetes.io/docs/reference/glossary/ defaults to selecting fundamental as true. I clicked on community after that, which selected both of them. :woman_facepalming:

[2018-07-13 19:11] castrojo commented on #2370
Nice find, I had no idea this was there! I started a gdoc that was collecting terms, what I'll do is directly PR them into this doc.

[2018-07-13 19:11] #2370 closed

[2018-07-13 21:07] jberkus commented on #2349
@neolit123 hey, thanks!

For some reason, on some PRs that shell script pulls in the full text of the patch.  Haven't figured out why yet ...

[2018-07-13 21:35] neolit123 commented on #2349
hi, @jberkus
i wrote it very quickly and it might not always work.

can you give me an example PR #?

[2018-07-13 21:51] philips commented on #2367
Make sense to me.

[2018-07-13 23:41] jberkus commented on #2349
#64662

[2018-07-14 00:04] neolit123 commented on #2349
@jberkus
thanks, script updated:
https://gist.github.com/neolit123/f769f3c0c1d37f3e268cf71a1ffde1ab

it's still possible for extra info to get `grep`-ed, but now it's less likely.

also:
[code]

[2018-07-16 06:16] jberkus commented on #2349
If someone needs more than 60 mappings per hour, they're not using it for the purpose we intended

[2018-07-16 09:39] nikhita commented on #1832
@aojea THIS. IS. AWESOME. :heart:

[2018-07-16 13:24] parispittman commented on #1832
Yes, @aojea - thank you! If you are on the Kubernetes slack, DM me so we can coordinate a swag delivery. :)

[2018-07-16 16:05] spiffxp commented on #2367
Good list and anti-list.  Many of these seems like human bandaids for the lack of docs or automation, so part of me wonders if this couldn't be disbanded / merged away once these gaps are filled.  But let's get there first and then ponder that.

[2018-07-16 21:17] spiffxp commented on #2367
Context: https://groups.google.com/a/kubernetes.io/d/msg/steering/3eiJ0Dz-1jE/efNPfouMBgAJ

[2018-07-16 21:50] spiffxp commented on #1922
/remove-lifecycle stale

[2018-07-16 23:31] parispittman commented on #2029
/remove-lifecycle stale

[2018-07-17 23:48] bgrant0607 commented on #2367
+1

Github changes available settings on a not-infrequent basis, and sometimes owners are notified and sometimes not. Having someone with the experience and bandwidth to stay on top of them would be valuable.

Additionally, some repo owners want to enable a variety of applications, but not all applications are well behaved. For example, some third-party applications ask for permission from users t

[2018-07-18 00:56] bgrant0607 commented on #2367
One more detail: Much as with the security team, there needs to be a private channel to report potential security issues with our github orgs and repos, so they can be investigated and potentially acted upon prior to public disclosure.

[2018-07-18 01:10] bgrant0607 commented on #2367
Re. automation: I don't think this role can ever go away. Among other issues, not all of github's admin features are accessible via APIs, someone needs to respond to requests from contributors, someone needs to evaluate notifications from github about changes, someone needs to monitor https://blog.github.com/changelog/, and so on.

[2018-07-18 02:13] justaugustus commented on #2307
Features automation also mentioned [here](https://github.com/kubernetes/features/issues/590#issuecomment-405777788) by @liggitt:

[2018-07-18 06:33] xiangpengzhao commented on #923
@nikhita thanks for picking this! I totally agree with you :)

[2018-07-18 17:43] spiffxp commented on #2323
Agree with pr-reviews and the use of hierarchy

I have questions but no opinionated answers yet, what do other folks think?

[sigs don't have leads](https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md#roles), so... sig-chairs? sig-tls / sig-tech-leads?

subprojects (which own a collection of N dirs in M repos) as teams:
-  hierarchically under the si

[2018-07-18 20:48] roycaihw commented on #1832
Thanks for improving the contributor experience. I just want to point out that we also have client libraries under https://github.com/kubernetes-client, and project incubators under https://github.com/kubernetes-incubator. Do they also need to have CONTRIBUTING.md? AFAIK some of them don't have the file now.

[2018-07-18 22:08] cblecker commented on #2367
/area github-management

[2018-07-18 22:17] cblecker commented on #2367
On the security point: We'll be establishing a team that holds the owner powers to do things in GitHub, but I think for the reporting channel, I would suggest that go the [kubernetes.io/security](https://kubernetes.io/security) PST we already have. I would submit that they are in the best place to triage any incoming security reports, figure out which pieces of the project they concern, and then e

[2018-07-18 22:47] philips commented on #2367
I think just using the security@kubernetes.io reporting works fine.

[2018-07-19 04:50] nikhita commented on #1832
@roycaihw thanks for pointing that out! IMO they should have CONTRIBUTING.md files as well since they are official Kubernetes repos. I'll create PRs for them. :+1:

[2018-07-19 04:55] Rajat-0 opened #2392 "Autoscaler owners link broken"
Link to owners under Subproject Autoscaler section is broken, it shows 404 not found error.

[2018-07-19 05:03] Rajat-0 commented on #2392
/sig autoscaling

[2018-07-19 06:08] nikhita commented on #2392
@Rajat-0 good catch!

There is no OWNERS file for autoscaler: https://github.com/kubernetes/autoscaler.

For reference, the broken link exists here: https://github.com/kubernetes/community/tree/master/sig-autoscaling#subprojects.

[2018-07-19 06:47] raravena80 opened #2393 "Github Teams links in main sig-node page are broken"
The following are broken:

<img width="915" alt="screen shot 2018-07-18 at 11 46 00 pm" src="https://user-images.githubusercontent.com/7659560/42925971-d32b3b80-8ae4-11e8-8d01-c1b73c1c2bf1.png">

[2018-07-19 06:48] raravena80 commented on #2393
/sig node

[2018-07-19 06:53] nikhita commented on #2393
For reference, this is the link: https://github.com/kubernetes/community/tree/master/sig-node#github-teams.

@raravena80 you will not be able to view the links in the "details" section if you are not a Kubernetes org member.

But some google groups do not exist in the above link. @cblecker do we still want these google groups to exist? I remember there was a discussion about removing service accou

[2018-07-19 16:06] akshaymankar commented on #1954
/close

[2018-07-19 17:50] #1833 closed

[2018-07-19 19:02] tpepper opened #2395 "SIG Update template for community meeting"
In the 20180719 community meeting @quinton-hoole for SIG Multicluster had a slide on "How you can contribute" and I thought hey I should add that to the list of suggested topics a SIG include in their update at the community meeting.  But such a list does not exist!

https://github.com/kubernetes/community/blob/master/events/community-meeting.md#sig-updates

We should build either a short list the

[2018-07-19 19:03] tpepper commented on #2395
/sig contributor-experience

[2018-07-19 19:03] tpepper commented on #2395
/cc @parispittman @castrojo

[2018-07-19 19:42] idvoretskyi commented on #1808
/remove-lifecycle stale

[2018-07-20 03:40] jberkus commented on #1579
/remove-lifecycle stale

[2018-07-20 05:44] cblecker commented on #2324
All the accounts listed above have been removed from the org. We should decide which ones are worth going back and deleting, but as of now, they don't have access to anything in kubernetes/

[2018-07-20 17:51] spiffxp commented on #2324
I removed the sig-testing accounts https://groups.google.com/forum/#!topic/kubernetes-sig-testing/h9MnFx348Gs

[2018-07-20 17:58] spiffxp commented on #1579
/assign
I'm interested in reducing CI Signal toil, I'll aim to have a rollout proposal out next week

[2018-07-20 18:41] jberkus commented on #1579
Ah, I was going to write one up today, but am happy to wait for you.

[2018-07-20 18:49] jberkus commented on #2307
Also, your proposal doesn't make it clear what we'd be replacing kind/feature *with*.

For the last year we've been discouraging people from using kind/enhancement and asking them to use kind/feature instead.

[2018-07-20 20:06] idvoretskyi commented on #2324
/assign

[2018-07-20 21:31] guineveresaenger commented on #1832
There are some missing ones in kubernetes-sigs as well. I'll add those.

[2018-07-20 21:36] justaugustus commented on #1832
There's some prior art from @jessfraz as well to handle `SECURITY_CONTACTS`: https://github.com/jessfraz/secping

We should consider using that and expanding the scope to handle all of the expected files for a k8s repo.

[2018-07-20 21:49] guineveresaenger commented on #1832
@justaugustus thank you for linking to that <3

[2018-07-20 23:21] justaugustus commented on #1832
Also, we should `/assign` if someone is officially taking up this effort.

[2018-07-21 06:49] nikhita commented on #1832
/assign
Assigning myself because I've created PRs against repos against the kubernetes org. Have created some more in kubernetes-client (some more are remaining, which I'll do today). All PRs reference this issue and can be seen above.

I'll also send PRs to kubernetes-incubator, unless someone gets to it sooner.

/assign @guineveresaenger

[2018-07-23 12:39] cabrinoob opened #2405 "EKS and tag k8s.io/cluster-autoscaler/node-template/label is not assigned to worker nodes"
Hi,
I'am using an EKS cluster and I'd like to use cluster-autoscaler with it.

cluster-autoscaler version : 1.2.2
EKS kubernetes version : 1.10

So I have a brand new EKS cluster (with existing nodes) and I'd like to add new worker nodes with the CloudFormation script (as explained [here](https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html)).

This script provided 3 new t2.small E

[2018-07-23 12:46] cabrinoob commented on #2405
/sig EKS
/sig cluster-auto-scaler

[2018-07-23 18:36] cblecker commented on #2405
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-07-23 18:36] #2405 closed

[2018-07-23 18:57] zacharysarah commented on #2221
@cblecker 👋 Ping

[2018-07-23 20:58] guineveresaenger commented on #2321
/cc @ameukam

[2018-07-23 21:18] cblecker commented on #2221
Created repos:
- https://github.com/kubernetes/kubernetes-docs-ja
- https://github.com/kubernetes/kubernetes-docs-ko

Created teams:
- @kubernetes/kubernetes-docs-ja-admins
- @kubernetes/kubernetes-docs-ja-maintainers
- @kubernetes/kubernetes-docs-ko-admins
- @kubernetes/kubernetes-docs-ko-maintainers

PR created for automation:
- https://github.com/kubernetes/test-infra/pull/8792

[2018-07-23 21:21] #2367 closed

[2018-07-23 21:33] #2221 closed

[2018-07-23 21:35] cblecker commented on #2221
I should also note, I copied the OWNERS file from the main website repo, and I also used the CC licence instead of the Apache 2.0, in line with our guidelines.

[2018-07-23 22:14] spiffxp commented on #1579
Opening PR's to change docs per https://github.com/search?q=org%3Akubernetes+priority%2Ffailing-test&type=Code

[2018-07-24 00:42] spiffxp commented on #1579
kubernetes-dev thread asking for comment: https://groups.google.com/d/msg/kubernetes-dev/W_LfpE1iGlE/o8-M_J5xBgAJ

Will roll out sometime after 3pm PT Wed 7/25 if I hear no objections

[2018-07-24 00:46] #1760 closed

[2018-07-24 04:18] bgrant0607 commented on #1579
The reason I proposed priority/failing-test originally was because the auto-filing bot was DoSing other priority labels, and the issues were piling up without action -- clearly they weren't being treated as urgent, and many weren't actually urgent.

If the issues are being filed by humans and are actually treated as urgent, it's fine to use other priorities.

[2018-07-25 08:19] Rajat-0 commented on #2392
I am working on this.

[2018-07-25 14:12] justaugustus commented on #2072
and practices”.  Basically what a sig does versus how it does it.

That's how I've been interpreting this as well, but hoping for the final word by a Steering Committee member.

/remove-lifecycle stale
/lifecycle frozen

[2018-07-25 16:59] cblecker commented on #1693
/remove-lifecycle stale
/lifecycle frozen

[2018-07-25 17:55] spiffxp commented on #703
/lifecycle frozen
As a "known issue".

I'm not sure I ever foresee this getting fixed if the definition of done is "make everything the same".  I think instead a successful answer to these questions would do it:

- How could these conventions (and deviations from them) best be documented?
  - ie: I'm guessing somewhere in the docs around sig goverenance and sig creation there would be a list of al

[2018-07-25 21:35] spiffxp opened #2418 "kubernetes-sigs/cluster-api-provider-aws subproject needs to be added to sigs.yaml"
Ownership of this code must fall on a single sig.  I assumed it was sig-cluster-lifecycle, given that's where cluster-api-provider-openstack lives.  Can you please clarify and update sigs.yaml accordingly?

/sig aws
/sig cluster-lifecycle
@kubernetes/sig-aws-misc @kubernetes/sig-cluster-lifecycle-misc

/assign
@detiber as the originator of the repo
@timothysc since I believe this is sig-cluster-li

[2018-07-25 21:35] spiffxp commented on #2418
/unassign
/assign @detiber
as the originator of the repo
/assign@timothysc
since I believe this is sig-cluster-lifecycle

[2018-07-25 21:36] spiffxp commented on #2418
/assign @timothysc
since I believe this is sig-cluster-lifecycle

(argh I can't type)

[2018-07-25 21:37] spiffxp opened #2419 "kubernetes-sigs/cluster-api-provider-gcp subproject needs to be added to sigs.yaml"
Ownership of this code must fall on a single sig. I assumed it was sig-cluster-lifecycle, given that's where cluster-api-provider-openstack lives. Can you please clarify and update sigs.yaml accordingly?

/sig gcp
/sig cluster-lifecycle
@kubernetes/sig-gcp-misc @kubernetes/sig-cluster-lifecycle-misc

/assign @roberthbailey
as the originator of the repo
/assign @timothysc
since I believe this is si

[2018-07-25 21:41] roberthbailey commented on #2419
Yes, kubernetes-sigs/cluster-api-provider-gcp falls under cluster lifecycle. I'll update sigs.yaml.

[2018-07-25 22:12] spiffxp commented on #1579
I've removed holds from the linked PR's.  Will e-mail out once I see the label_sync has happened

[2018-07-25 23:42] #2419 closed

[2018-07-26 00:09] spiffxp commented on #1579
Migration complete:
- [org:kubernetes label:priority/failing-test](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubernetes+label%3Apriority%2Ffailing-test+) - 0 results
- [org:kubernetes label:kind/failing-test](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubernetes+label%3Akind%2Ffailing-test+) - 25 open

/close

[2018-07-26 00:09] #1579 closed

[2018-07-26 16:47] spiffxp commented on #2032
OK, this is all done, ref: https://github.com/kubernetes/community/issues/1579 and https://github.com/kubernetes/test-infra/pull/8129

As for the rest, many of the labels you reference as unused (in kubernetes/community) are used in kubernetes/kubernetes.

Looking at both, I would suggest (in order of ease):
- migrate `kind/upgrade-test-failure` and `kind/e2e-test-failure` to `kind/test-failure`
-

[2018-07-26 17:19] spiffxp commented on #2032
Notified kubernetes-dev@ of manual removal of `kind/postmortem` and `kind/mesos-flake`, will remove after 3pm PT today if no objections

https://groups.google.com/forum/#!topic/kubernetes-dev/CGpiuWpp5uE

[2018-07-26 17:58] tpepper opened #2424 "document maintenance of kubernetes-milestone-maintainers GH team"
Who should be added to and removed from the kubernetes-milestone-maintainers GH team, and when, needs documented.

https://github.com/kubernetes/sig-release/blob/1b389936697e0881dfc343f634da2d37f03604ff/release-team/role-handbooks/ci-signal/README.md previously referred to but that and https://github.com/kubernetes/community/blob/master/project-managers/README.md#joining-the-group now 404's as htt

[2018-07-26 18:02] tpepper commented on #2424
/cc @spiffxp @jberkus @jdumars @justaugustus @idvoretskyi

[2018-07-26 18:03] tpepper commented on #2424
/sig pm
/sig release

[2018-07-26 18:07] justaugustus commented on #2424
Great minds, @tpepper: https://github.com/kubernetes/features/issues/590#issuecomment-406127490

[2018-07-26 18:12] spiffxp commented on #2013
Can we close this in favor of https://github.com/kubernetes/community/issues/2032 ?

[2018-07-26 21:05] cblecker commented on #2032
new-api and api-change should actually go to sig-arch. Yes, they actively use the labels.

[2018-07-26 21:08] spiffxp commented on #1954
/reopen
literally just hit the same thing

[2018-07-26 21:08] spiffxp commented on #1954
/assign
/reopen

[2018-07-26 21:09] spiffxp commented on #1954
/reopen
... really seems like this should be a shortcut we allow, if we do something similar for /close and /lgtm

[2018-07-26 21:09] cblecker commented on #1954
https://github.com/kubernetes/test-infra/issues/8450 👀

[2018-07-26 21:53] spiffxp commented on #1954
/remove-lifecycle rotten

[2018-07-26 22:06] jberkus commented on #2013
It's part of 2032

[2018-07-26 22:09] jberkus commented on #2013
UPDATED to include kind/api-change and kind/new-api per discussion

[2018-07-26 22:12] jberkus commented on #2032
API kind labels added to lists above per @cblecker's comment, which I agree with based on 1.11 activity.

[2018-07-27 17:43] #641 closed

[2018-07-27 19:53] justaugustus commented on #2424
RFC for `milestone-maintainers` notes: https://github.com/kubernetes/sig-release/pull/239

[2018-07-29 05:18] #1869 closed

[2018-07-31 03:01] #1954 closed

[2018-07-31 08:32] stp-ip commented on #2292
Latest doc link: https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-docker

[2018-07-31 09:51] justaugustus commented on #2424
/assign

[2018-07-31 12:14] neolit123 commented on #2292
hello,

the document was evaluated in 1.11 and is up to date with what version of Docker Kubernetes supports.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/system/docker_validator_test.go#L65

the validation is performed by sig-node and when a new version is supported the document will update accordingly. when is that going to happen, i cannot answer.

there is a multit

[2018-07-31 12:14] #2292 closed

[2018-07-31 14:06] jgrobbel opened #2440 "Ability to specify a `jitter` flag as part of the cronjob schedule spec to help distribute load"
We are running several identical kubernetes clusters in which some pods need to do some maintenance on a regular schedule (like every 12 hours). But it would be nice if all the jobs didn't all start at exactly the same time since they put the receiving API's under considerable load.

It would be great if the kubernetes jobs offered some jitter settings similar to what other cron implementations of

[2018-07-31 14:13] tpepper opened #2441 "document some testgrid analysis workflows"
Testgrid is a bit mysterious to folks when they first approach it.  It could use better documentation.

For the release team this week we did a couple walk throughs of test grid:
https://youtu.be/K997_QKYKc8?t=1598
https://youtu.be/0tIFzATBCfM?t=1278
showing how we navigate it and tunnel into assessing status and triaging to a specific SIG for next level help.

In our discussion around that we've

[2018-07-31 14:17] tpepper commented on #2441
/cc @spiffxp @guineveresaenger @kerilynndell
/sig contributor-experience
/sig docs
/sig testing

[2018-07-31 15:51] castrojo commented on #2028
https://github.com/kubernetes/community/blob/master/communication/moderation.md is our first draft for it, is there anything specific we need to add?

[2018-07-31 16:19] jdumars commented on #2245
My recommendation is that we separate KEP implementation tracking from the technical aspects of the KEP itself. All KEPs are tracked by SIG architecture currently in https://github.com/kubernetes-sigs/architecture-tracking via https://github.com/kubernetes-sigs/architecture-tracking/projects/2 The KEP creator could create the tracking issue and use that number as the KEP number.  You will note on

[2018-07-31 16:40] jbeda commented on #2245
Jaice -- do you think we *need* a tracking issue on the board? Not all KEPs will require SIG-architecture to be involved.  What about KEPs that are local to a SIG?

[2018-07-31 23:24] tallclair commented on #2245
/assign @jdumars

[2018-08-01 16:28] spiffxp commented on #1721
/remove-lifecycle stale
/priority important-longterm

[2018-08-01 16:28] spiffxp commented on #1721
/remove-priority important-soon

[2018-08-01 21:54] spiffxp commented on #2324
@idvoretskyi ping

what's the plan to call this issue done?
- do nothing
- update sigs.yaml to remove references to non-existent google groups
- for the k8s-mirror, k8s-sig users
  - delete all referenced github accounts
  - delete all referenced google groups

- or some combination of the above?

[2018-08-02 06:45] guineveresaenger commented on #1413
As of PR https://github.com/kubernetes/community/pull/2444 which merged earlier today, I pronounce this issue closed.

We have a working contributor guide! Yaaaay!

Thank you everyone for your hard work and support in pushing this through and using and promoting the guide when helping new contributors, especially @paris, @jorge, @cblecker, @tpepper, @carolynvs, @nikhita, @idvoretskyi and everyone

[2018-08-02 06:45] #1413 closed

[2018-08-02 13:42] idvoretskyi commented on #2324
@spiffxp

This - immediately.

This - after I'll collect the 2FA keys from the github account owners.

[2018-08-02 15:17] castrojo opened #2455 "Add the contributor job board to the contributor guide"
This is a good issue if you want to practice learning how to contribute:

The [contributor guide](https://github.com/kubernetes/community/tree/master/contributors/guide) has a "Find something to work on" section. Add a sentence in there mentioning the [contributor job board](https://discuss.kubernetes.io/c/contributors/contributor-job-board) so that new users can find and post job postings.

/sig

[2018-08-02 16:13] cblecker commented on #2455
Closing this for right now :)

[2018-08-02 16:13] #2455 closed

[2018-08-03 16:41] tpepper commented on #1808
An additional aspect of this is adding "labels:" to OWNERS files, eg:
https://github.com/kubernetes/community/blob/master/github-management/OWNERS

That addition of sig or area labels to OWNERS files could be a good-first-issue, for somebody looking to do a little dive into how the codebase is laid out relative to sigs.

[2018-08-03 17:00] bgrant0607 commented on #1808
My current thinking is just top-level subproject OWNERS only. For subprojects with multiple directory roots, we could use subproject aliases. Not sure how we'd handle multi-repo subprojects.

cc @grodrigues3

[2018-08-03 17:00] bgrant0607 commented on #1808
See also #1673 and #1913

[2018-08-03 17:01] bgrant0607 commented on #1808
SIG is not the right granularity, btw. It should be subproject.

[2018-08-03 18:27] spiffxp opened #2463 "kubernetes-sigs/gcp-filestore-csi-driver subproject needs to be added to sigs.yaml"
Ownership of this code must fall on a single sig. I asked the approvers listed in its OWNERS file in slack, and they confirmed sig-gcp. Can you please clarify and update sigs.yaml accordingly?

/sig gcp
@kubernetes/sig-gcp-misc

/assign @msau42 @saad-ali

[2018-08-03 19:11] wadadli commented on #1808
@tpepper I'd be happy to do that deep dive. Is `sigs.yaml` the correct file to reference?

[2018-08-03 19:57] bgrant0607 commented on #2245
FWIW, I don't foresee people referring to KEPs by numbers. I don't know many others who regularly refer to issues and PRs by number. :-)

The number not being finalized while the KEP is actively being discussed also leads to just referring to the KEP by topic.

[2018-08-03 21:18] #2463 closed

[2018-08-03 21:38] spiffxp commented on #2126
/area github-management

[2018-08-03 21:41] spiffxp commented on #2324
/area github-management

[2018-08-03 21:41] spiffxp commented on #2323
/area github-management

[2018-08-03 21:42] spiffxp commented on #2393
ref: https://github.com/kubernetes/community/issues/2324#issuecomment-409930362

[2018-08-03 21:44] spiffxp commented on #2392
ref: https://github.com/kubernetes/community/issues/1721

[2018-08-03 21:48] spiffxp opened #2464 "Umbrella issue: ensure all repos present in sigs.yaml"
This is a step before https://github.com/kubernetes/community/issues/1721

We have a number of repos which aren't listed in sigs.yaml ([script](https://gist.github.com/spiffxp/c250d281330bbaea6f634ff3dc65efea))

| org/repo | in sigs.yaml? | has owners? | has approve? | in tide? | branch protected? |
| -------- | ------------- | ----------- | ------------ | -------- | ----------------- |

edit 2018

[2018-08-03 21:49] spiffxp commented on #1922
/lifecycle frozen
Bumping in recency as this came up during the most recent steering meeting

[2018-08-03 21:53] spiffxp commented on #1721
/area github-management
/committee steering

[2018-08-03 21:59] spiffxp commented on #1673
There is little to no automation that consumes sigs.yaml outside of the docs generator in this repo.  As a thing that is commonly understood, I still think we have work to do on sigs/wgs/subprojects.

To tighten things down I've got two umbrella issues:
- https://github.com/kubernetes/community/issues/2464 - get all repos in sigs.yaml
- https://github.com/kubernetes/community/issues/1721 - add OWN

[2018-08-03 22:04] spiffxp commented on #1913
/area github-management

Yeah I agree until there's a single source of truth this is going to be perpetually stale.  It started in sigs.yaml because it's easier to try and change everything in one place while getting started.

[2018-08-03 23:04] cblecker opened #2465 "Auditing Kubernetes Org Owner Permissions"
**TL;DR**: We will soon be limiting org admin access to our GitHub administration team. If you do not have/need admin access to a kubernetes org, you may stop reading now.

---

Hello everyone,
With the size of the Kubernetes project and our GitHub footprint, Contributor Experience has created a dedicated team (@kubernetes/owners) to oversee and handle the day-to-day administration of GitHub. You

[2018-08-03 23:10] cblecker commented on #2465
FYI @kubernetes/steering-committee

[2018-08-03 23:25] vishh commented on #2465
What are the specific roles being removed as a side effect of not being an org owner?

[2018-08-03 23:27] cblecker commented on #2465
@vishh The specific permissions that are being rolled back are detailed here:
https://github.com/kubernetes/community/blob/master/github-management/permissions.md#owner
https://help.github.com/articles/permission-levels-for-an-organization/

The highlights being inviting/removing members from the org, accessing the org audit log, creating new repos, etc.

[2018-08-03 23:52] parispittman opened #2466 "Communication & Collaboration Platform Sprawl Assessment"
We've discussed the sprawl of kubernetes communication and collaboration platforms on several different mediums as being a problem for the community with pushing messaging and participating in conversations. Contribex has begun making small improvements that are low hanging fruit but in order to make larger more impactful change we need the following to continue:

1- Identify [current state / inve

[2018-08-03 23:56] spiffxp commented on #2466
/area community-management

[2018-08-04 00:23] spiffxp opened #2467 "kubernetes-csi/* repos need to be added to sigs.yaml and have OWNERS files added"
Ownership of the code each of these repos needs to ultimately fall to a single sig.  In this case it seems like it should be sig-storage, which I confirmed with @saad-ali.  Adding them to sigs.yaml will do that.

They also need OWNERS files.  Eventually we'll want to turn on automation to consume them.  For right now they will serve as a reference of who owns the repos.

It also looks like these a

[2018-08-04 00:46] spiffxp commented on #2467
/area github-management

[2018-08-04 00:48] spiffxp commented on #2463
ref: https://github.com/kubernetes/community/issues/2464

[2018-08-04 00:53] spiffxp opened #2470 "kubernetes/kubernetes-docs-* repos need to be added to sigs.yaml"
ref: https://github.com/kubernetes/community/issues/2464

Ownership of the code each of these repos needs to ultimately fall to a single sig. In this case it seems like it should be sig-docs.  Adding them to sigs.yaml will help us track this.

I'm not sure which makes more sense, one i18n subproject that is responsible for all these repos, or a subproject for each language

This isn't an attempt t

[2018-08-04 01:00] spiffxp opened #2471 "kubernetes-sigs/kubeadm-dind-cluster subproject needs to be added to sigs.yaml"
ref: #2464

Ownership of this code must fall on a single sig. I assume it's sig-cluster-lifecycle based on https://groups.google.com/a/kubernetes.io/d/msg/steering/XguRKvkEFQg/gVqGsir9AgAJ

/sig cluster-lifecycle
@kubernetes/sig-cluster-lifecycle-misc

/assign @timothysc @roberthbailey @lukemarsden @luxas
sig-cluster-lifecycle chairs

[2018-08-04 01:01] spiffxp commented on #2471
/sig cluster-lifecycle
/area github-management

[2018-08-04 01:07] spiffxp opened #2472 "kubernetes-sigs/contributor-site subproject needs to be added to sigs.yaml"
ref: #2464

Ownership of this code must fall on a single sig.  In this case it's sig-contributor-experience, and I'm pretty sure this is a new subproject, ref: https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/fnM_YG5ImKE

/sig contributor-experience
@kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort

/assign @castrojo
you asked for the repo, this is part of the f

[2018-08-04 01:08] spiffxp opened #2473 "kubernetes-sigs/aws-"
ref: #2464

Ownership of this code must fall on a single sig.  In this case it's sig-contributor-experience, and I'm pretty sure this is a new subproject, ref: https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/fnM_YG5ImKE

/sig contributor-experience
@kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort

/assign @castrojo
you asked for the repo, this is part of the f

[2018-08-04 01:11] spiffxp opened #2474 "kubernetes-sigs/aws-* subprojects need to be added to sigs.yaml"
ref: #2464

Ownership of this code must fall on a single sig.  In this case it's sig-aws.  I'm guessing each of these repos makes sense as an individual subproject.

/sig aws
@kubernetes/sig-aws-misc

/assign @justinsb @kris-nova @countspongebob
as sig-aws chairs

/assign @andrewtandoc @bigkraig
you're listed in aws-alb-ingress-controller/OWNERS

/assign @mattmoyer @nckturner @mattlandis
you're li

[2018-08-04 01:12] spiffxp commented on #2473
/close
... bad copy-paste?

[2018-08-04 01:12] #2473 closed

[2018-08-04 01:12] spiffxp commented on #2473
/unassign @castrojo @parispittman @Phillels

[2018-08-04 01:13] spiffxp commented on #2473
/remove-sig contributor-experience

[2018-08-04 01:16] castrojo commented on #2472
Do we want this as a subproject or can we file it under the community subproject? I ask because in order to make a subproject I need to get concensus from the list, 72 hour voting period, etc.

[2018-08-04 01:17] cblecker commented on #2472
I think this would fall under the contributor site subproject, wouldn't it?

[2018-08-04 01:18] spiffxp opened #2475 "kubernetes-sigs/cluster-api-provider-vsphere needs to be added to sigs.yaml"
ref: #2464

Ownership of this code must fall on a single sig. In this case it's sig-vmware, ref: https://groups.google.com/a/kubernetes.io/d/msg/steering/h24NdY0yxEY/AFDX_AqoCAAJ

/sig vmware
.. does not appear to have any github teams?

/assign @frapposelli @cantbewong
as sig-vmware chairs

/area github-management

[2018-08-04 01:18] cblecker commented on #2472
ref:
https://github.com/kubernetes/community/blob/master/sig-contributor-experience/README.md
https://github.com/kubernetes/community/blob/master/sig-contributor-experience/projects.md

[2018-08-04 01:34] parispittman commented on #2472
This should fall under the community management subproject IMO

[2018-08-04 01:35] parispittman commented on #2472
If we could rename the contributor guide subproject to"contribute documentation" then it would be an ok fit there too

[2018-08-04 02:02] spiffxp commented on #2418
ref: https://github.com/kubernetes/community/issues/2464

[2018-08-04 02:02] spiffxp commented on #2419
ref: https://github.com/kubernetes/community/issues/2464

[2018-08-04 02:07] spiffxp opened #2476 "kubernetes-sigs/architecture-tracking repo needs to be added to sigs.yaml and have an OWNERS file"
ref: #2464
ref: #1721

Ownership of this code must fall on a single sig.  In this case it's sig-architecture.  The repo is also lacking OWNERS files.

I recognize this repo is pretty much just for the project boards, but it's got two files in it and some open PR's.

/sig architecture
@kubernetes/sig-architecture-misc-use-only-as-a-last-resort

/assign @jdumars

/area github-management

[2018-08-04 02:11] mbohlool commented on #2465
Does it change branch release manager's ability to change labels on PRs or
force merge them if necessary (while I am ok if I don't have the second
one, but first one is a must as some of the labels cannot be set using
commands).

Mehdy Bohlool |  Software Engineer |  mehdy@google.com |  mbohlool@github
<https://github.com/mbohlool>

On Fri, Aug 3, 2018 at 4:28 PM Christoph Blecker <notifications@g

[2018-08-04 02:22] spiffxp opened #2477 "kubernetes-incubator/cluster-proportional-autoscaler needs to be added to sigs.yaml"
ref: #2464

Ownership of this code must fall on a single sig.  I'm taking a total guess that it's sig-autoscaling based on https://github.com/kubernetes/community/blob/master/sig-autoscaling/README.md

This isn't an attempt to voluntold repos to a sig, just a guess. If I'm wrong, help me figure out which SIG should own these.

/assign @thockin @erictune @MrHohn @bowei
you're all listed as approver

[2018-08-04 02:25] cblecker commented on #2465
@mbohlool Branch manager permissions are granted through the @kubernetes/kubernetes-release-managers team, and will not be impacted by this change.

[2018-08-06 16:01] saad-ali commented on #2465
@cblecker kuberbetes-csi is still under active development. We are still actively adding, removing, and merging repos. Removing me as an org owner may effect our velocity. We plan to go GA (stable) in Q4 or Q1. Can you please not remove my permissions until then.

[2018-08-06 16:15] #2472 closed

[2018-08-06 18:17] cblecker commented on #2465
@saad-ali How often do you expect to be doing this? I see one repo creation in the audit log, 28 days ago. While I understand your concern and don't want to impact velocity, this is a critical step to the project's stability and security.

Would having SLOs around responsiveness address your concern?

[2018-08-06 20:00] parispittman commented on #2028
We need to add the mailing list guidelines and specifics on moderation. ie - add us to their mailing lists as owners, lock the thread before banning/removing someone so that no replies come in, etc.

[2018-08-06 20:05] saad-ali commented on #2465
Yes, if we can document where to reach out to for issuing these operations and what the SLO for that process is, that would definitely help.

[2018-08-06 20:48] #2475 closed

[2018-08-06 20:58] saad-ali commented on #2465
As for "How often do you expect to be doing this?"

Examples of what we want to do before GA:
* Split the drivers repo up in to separate repos for each driver.
* Add repos for common mounting code, e.g. iscsi-common, NFS-common, etc.

[2018-08-06 22:26] #2470 closed

[2018-08-07 01:09] spiffxp commented on #2467
Awesome work, two repos left for OWNERS files from what I can tell:
- https://github.com/kubernetes-csi/kubernetes-csi.github.io
- https://github.com/kubernetes-csi/resources

[2018-08-07 04:17] jdumars commented on #2476
https://github.com/kubernetes-sigs/architecture-tracking/pull/46 is in and I'll add the info to sigs.yaml when this gets merged.

[2018-08-07 15:21] #2471 closed

[2018-08-07 17:49] castrojo opened #2490 "Explicitly declare all moderators/admins of k8s communication channels"
From contribex-list

@cblecker : "I would also like to suggest we have an official list of moderation/admin roles (youtube, discuss, etc) and have that PR'd into the community repo. We should have an official list somewhere so we know who holds these roles so we can audit, and we know who to reach out to if there is a problem."

How about a MODERATORS file similar to OWNERS-style in k/kubernetes/c

[2018-08-07 17:51] cblecker commented on #2490
I'd suggest normal markdown (similar to https://github.com/kubernetes/community/blob/master/github-management/README.md#github-administration-team) as it will likely be humans consuming this list.

[2018-08-07 18:53] parispittman opened #2492 "archiving k-users@ ml and move to discuss.k8s.io"
From contribex mailing list:

The discuss KEP #2011  may have definitions of some of the details and features discussed below if you need more info.

**Current challenges:**
a recent uptick in spam messages to kubernetes-users@googlegroups.com (among others) has lead us to moderate (approve them first) messages from all new members on the kubernetes-users@googlegroups.com mailing list. This is not

[2018-08-07 18:55] castrojo commented on #2028
The ownership bits are covered here: https://github.com/kubernetes/community/blob/master/sig-governance.md#creating-a-mailing-list

I'll work up a PR on closing a thread.

[2018-08-07 19:00] castrojo commented on #2492
Adding content from a mailing list discussion for the record:

I agree that it's weird right now with both discuss and mailing lists, which is why we've been evaluating things over the last few months. YouTube is a separate thing, I think it's for people who want to consume video meetings and there's not much overlap. I believe that StackOverflow does a great job for answering technical questions,

[2018-08-07 19:00] castrojo commented on #2492
Just a follow up on this, there is a custom word block feature. I was able to find lots of curated lists of horrible words on the internet (yay internet!) and have imported them. The input form won't allow a post to go through, instead they will receive an error which tells them the exact word that has been blocked and they must remove it before it accepts a post. The user has the ability to flag

[2018-08-07 19:18] wadadli commented on #2492
I believe it was @bgrant0607 that mentioned g docs and calendar. how does that play out if you were to archive the ml?

[2018-08-07 19:35] parispittman commented on #2492
@wadadli - mailing lists can't own calendar items or gdocs so we are good to go there. the mailing list is also not listed as being invited to any meetings that we currently run (sigs, wg, office hours, moc, etc.).

[2018-08-07 21:37] cblecker commented on #2465
@saad-ali I've opened https://github.com/kubernetes/community/pull/2493. Would you mind having a look and letting us know if that would address your concerns?

[2018-08-07 21:37] bgrant0607 commented on #2492
For the record, I was referring to SIG mailing lists rather than kubernetes-users@. Mailing lists can be invited to meetings and docs can be shared with them.

[2018-08-07 21:47] liggitt commented on #2440
/sig apps

[2018-08-08 00:06] mrbobbytables commented on #2492
Following up on a discussion in slack. It may be worth setting up localized categories  and engaging with active community members from those regions to preemptively establish native-language moderation teams.

With that in mind, here are the to dos:

- [ ] Create Regional Categories
- [ ] Establish native-language moderation teams

[2018-08-08 00:13] castrojo commented on #2492
[ ] Move the automated posting from jeefy's personal account to something like `k8s-bot`, this account must be owned by contribex.
[ ] Move the zapier account to a cncf-credit card. I can expense this for now.
[ ] Establish workflow guidelines for the zapier account. (we can probably use this zapier thing for other automation across the project, we should think about smart ways to do this).
[ ] Co

[2018-08-08 01:26] cblecker opened #2496 "Enabling 2FA on kubernetes-clients"
2FA is not enabled on the @kubernetes-client org. This is against our org policy.

I will be enabling this on **Friday, Aug 10 at 5pm PT**.

If you're listed on the below list, and have not enabled 2FA before Friday, you will lose access to the kubernetes-client/ org.

- [ ] @mccullya
- [x] @skuda
- [x] @strigazi
- [ ] @tomplus

If you no longer need access to the kubernetes-client/ org, then no a

[2018-08-08 10:32] skuda commented on #2496
@cblecker same here, I already enabled 2FA, any other action is needed? Thanks

[2018-08-08 16:28] skuda commented on #2496
awesome! thanks @cblecker

[2018-08-08 16:36] spiffxp commented on #2324
I will be adjusting the doc generator / sigs.yaml to stop linking the mirror google groups in a PR later today

[2018-08-08 16:38] cblecker commented on #2465
**Everyone**:  Please be advised that this work is beginning now. Please pardon the dust. 🚧

[2018-08-08 17:13] cblecker commented on #2465
**Everyone:** This work is now complete! If you encounter any issues with permissions, please open an issue against https://github.com/kubernetes/org/issues

[2018-08-08 17:13] #2465 closed

[2018-08-08 18:06] saad-ali commented on #2467
I'm working with to deprecate and delete https://github.com/kubernetes-csi/resources
Will add one for https://github.com/kubernetes-csi/kubernetes-csi.github.io

[2018-08-08 18:58] spzala commented on #2324
FYI, I have just deleted `k8s-mirror-ibmcloud-misc` GitHub account.

[2018-08-08 20:27] jdumars commented on #2476
This work is complete.

[2018-08-08 20:27] #2476 closed

[2018-08-08 20:46] castrojo commented on #1666
We just documented this and there's no longer a SPOF, I think we can close this.

https://github.com/kubernetes/community/blob/master/communication/moderators.md

[2018-08-08 20:46] #1666 closed

[2018-08-09 00:13] spiffxp commented on #2032
Once the PR I just linked here merges, that leaves us with:
- chase down why the misc-mungers path-label munger is setting kind/old-docs for PR's that touch k/k/docs, perhaps we can remove it
- migrate kind/friction to kind/cleanup (I'm slightly unsure if I want to do this now)

[2018-08-09 15:14] castrojo commented on #359
/remove-lifecycle rotten

[2018-08-09 15:54] spiffxp opened #2505 "sig-auth needs to spell out its subprojects in sigs.yaml"
/assign @liggitt
ref: https://github.com/kubernetes/community/pull/2431#discussion_r205987820

/sig auth
/assign @mikedanese @tallclair
as sig-auth chairs

/sig contributor-experience
/area github-management
/committee steering

[2018-08-09 17:33] timothysc commented on #2465
The execution of this item should have been more broadly communicated on the implications through steering.

How do we transfer in repos now?
...

[2018-08-09 17:36] liggitt commented on #2324
sig-auth mirror accounts and secondary mailing lists have been removed

[2018-08-09 18:08] mikedanese commented on #2505
@liggitt @tallclair Do we feel like the subprojects document is a reasonable starting point? If this is just coalescing the doc into the sig.yaml format, I'm happy to take that on.

[2018-08-09 18:11] liggitt commented on #2505
I think it's probably ready to translate into a PR. There might be some personnel swaps, but I think it's a good starting point.

[2018-08-09 19:45] InAnimaTe opened #2507 "Fill in latest Sig-AWS subprojects to README"
Was just at the community meeting where Nishi Davidson went over some great new [subprojects](https://docs.google.com/document/d/1VQDIAB0OqiSjIHI8AWMvSdceWhnz56jNpZrLs6o7NJY/edit?disco=AAAACFpCSJQ) under sig-aws. These should be added to the readme (I think @spiffxp mentioned how sig leads can do this) with proper links to owners etc..

/sig aws

[2018-08-09 22:32] bgrant0607 commented on #2324
k8s-external-contributor has been deleted

[2018-08-10 00:06] spiffxp opened #2510 "Replace e-mailing kubernetes-membership@ as the path to org membership"
/kind cleanup
/sig contributor-experience
/area github-management
FYI @kubernetes/owners @kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort

The [currently documented way of becoming a kubernetes org member](https://github.com/kubernetes/community/blob/master/community-membership.md#member) is to e-mail kubernetes-membership@googlegroups.com

We want to replace this with interac

[2018-08-10 00:08] spiffxp commented on #2510
/assign @spiffxp @cblecker @fejta

[2018-08-10 07:12] idvoretskyi commented on #2510
/cc

[2018-08-10 10:40] nikhita commented on #1632
/remove-lifecycle stale

[2018-08-10 10:41] nikhita commented on #1297
/remove-lifecycle stale

[2018-08-10 10:42] nikhita commented on #1297
I'll try looking at some of them.

[2018-08-10 10:44] nikhita commented on #1234
/remove-lifecycle stale

Can someone edit the title to say "Document process for becoming an approver" or something like that?

/cc @parispittman
who is focussing on mentoring initiatives for the same.

[2018-08-10 10:47] nikhita commented on #1663
This is now gone! :tada:

Closing.
/close

[2018-08-10 10:47] #1663 closed

[2018-08-10 16:13] mikedanese commented on #2505
/unassign @tallclair @liggitt

[2018-08-10 17:51] spiffxp opened #2516 "cloud-provider-foo subprojects should not live under two SIGs at the same time"
/kind cleanup
/committee steering
/sig cloud-provider

I'm operating under the premise that a subproject is a solely hierarchical thing: it only has one parent SIG.  There are at least three SIGs/subprojects not following that rule.  Am I wrong?

/sig azure
/sig gcp
/sig openstack
cloud-provider-foo is listed under both sigs

There is inconsistency on which sig owns which subproject, so it's not c

[2018-08-10 17:58] spiffxp commented on #2516
/sig vmware
right, s/vsphere/vmware

[2018-08-10 18:44] cblecker commented on #2510
I soooooo want to do this ASAP. I very much dislike the e-mail list.

I'm kind of leaning toward moving to the issue template ASAP, and then we manually invite or "fixes #xxxx" it with a PR to close the issue. The main reason for that is I think that when we turn up peribolos, there might be some initial bumps. Or we might change the format/layout of the files.. I'd like to enforce alpha sorting t

[2018-08-10 20:26] parispittman opened #2517 "Steering Committee 2018 Election Process Kick Off"
*please do not use this issue as official election documentation. this is a WIP to get us to the official documentation.*

Moving some next step comments from [issue in steering repo](https://github.com/kubernetes/steering/issues/63) that kicks off the 2018 election cycle for steering committee members.

Election Officials:
@idvoretskyi @castrojo and @parispittman

- [x] get [steering committee pr

[2018-08-10 21:31] parispittman opened #2518 "Deliver a weekly "newsletter" to SIG Chairs/TLs"
Chairs/TLs see at least 3 pieces of email a week to the sig leads distro. If we funnel all news through a weekly digest, it would reduce the volume and provide a one stop shop. Tips would include: best practices, how tos, gh process changes, etc.

We can use discuss.k8s.io for this or some other service including plain old email. It would be nice to have multiple contributors from contribex help o

[2018-08-10 22:54] spiffxp commented on #2510
I think I also would rather go the issue-based route

[2018-08-10 23:48] spiffxp commented on #2507
/close
Duplicate of https://github.com/kubernetes/community/issues/2474

[2018-08-10 23:48] #2507 closed

[2018-08-10 23:48] spiffxp commented on #2474
/committee steering

[2018-08-11 00:09] spiffxp commented on #2496
:clock5:

[2018-08-11 00:44] philips commented on #2510
@cblecker you could do something like one file per username in a directory to avoid merge conflicts.

[2018-08-11 00:59] justaugustus commented on #2516
Cross-posting my [$0.02](https://groups.google.com/a/kubernetes.io/d/msg/steering/Oowl-ajoBh8/us4nvXcIDwAJ):
[code]

[2018-08-11 01:00] cblecker commented on #2496
This is now complete. The following users have been removed from @kubernetes-client:
- @mccullya
- @tomplus

[2018-08-11 01:00] #2496 closed

[2018-08-11 01:05] fejta commented on #2510
Issue + someone else more familiar with the repo creates the PR sounds like a fine approach to me

[2018-08-11 01:05] fejta commented on #2510
FWIW we should have the automation up next week

[2018-08-11 04:30] jberkus commented on #2517
Does this mean that we pull the list of who is eligible to vote on the 15th?  Or is that later?

[2018-08-11 08:40] tomplus commented on #2496
@cblecker sorry, I was on my vacation. I've just enabled 2FA, could you recovery my access. Thanks.

[2018-08-11 14:38] frapposelli commented on #2516
My 2 cents, from SIG-VMware perspective.

The scope for SIG-VMware has always been broader than just owning the cloud provider, we created the `cloud-provider-vsphere` subproject initially under SIG-VMware only because SIG Cloud Provider was not there at the time.

I personally participated in the definition of SIG Cloud Provider, and SIG-VMware agreed to transfer ownership of the subproject once

[2018-08-11 15:39] andrewsykim commented on #2516
Cross posting from https://github.com/kubernetes/steering/issues/65:

As mentioned in our charter, we have a tentative goal to consolidate all the cloud provider SIGs in the next 3 releases (quarters). We understand that a lot of important discussions/development happens within the current SIG structure so we're trying our best to do this in a way that is as least disruptive as possible.

To be ho

[2018-08-11 22:14] cblecker commented on #2496
@tomplus I've sent you an invite back to the org.

[2018-08-11 22:38] cblecker commented on #2510
I opened up https://github.com/kubernetes/community/pull/2521 to modify the user-facing procedure.

[2018-08-13 08:27] parispittman commented on #2517
@jberkus we will pull on the 15th. updating the issue to reflect, too.

[2018-08-13 10:55] talhairfanbentley opened #2522 "Kubernetes Strange Behaviour"
@kubernetes/sig-cluster-lifecycle-bugs
@kubernetes/sig-cluster-ops
how is this possible
`Pods Statuses:  1 Running / 1 Succeeded / 0 Failed`

[2018-08-13 16:13] chuckha commented on #2522
We need a lot more information. If this is a question, please use slack or stack overflow. If you believe this is a bug, please file it in the kubernetes/kubernetes repository with more detail. Include things like where you are running kubernetes, what tutorial you were following, steps you took, etc.

/close

[2018-08-13 16:13] #2522 closed

[2018-08-13 16:50] #2467 closed

[2018-08-13 18:27] spiffxp commented on #2516
At present I don't care about whether SIG's merge or split or spawn or retire etc.  That discussion can happen over in kubernetes/steering#65 (as I explicitly said in my e-mail, my intent was not to kick that discussion off).

Today, in this issue, I just want to ensure that code is owned by a single SIG.  My point about lack of consistency was that I didn't have a pattern to suggest that you foll

[2018-08-13 18:35] justaugustus commented on #2516
@spiffxp -- Any Azure subprojects, including `cloud-provider-azure` will continue to be owned by SIG Azure.

[2018-08-13 20:16] hogepodge commented on #2516
To mirror what other have said, it is my understanding that the creation of sig-cloud-provider was meant to eventually lead to the eventual shutdown of all sig-<provider> sigs. This wouldn't take code away from the members of those sigs, as individual working groups within sig-cloud-provider would be created that would be the owners of their respective code bases.

Making repository creation, docu

[2018-08-13 20:17] hogepodge commented on #2516
To add to this, with my /sig openstack hat on, we're committed to this plan.

[2018-08-13 23:08] #2516 closed

[2018-08-14 05:30] parispittman commented on #2517
adding as a note for later. thockins original notice of steering elections last year: https://groups.google.com/forum/#!topic/kubernetes-dev/piPuoqFkJwA

[2018-08-14 18:10] DirectXMan12 commented on #2477
Adding it as part of #2425

[2018-08-14 20:10] parispittman commented on #2466
/good-first-issue

putting the good first issue label on. i will happily guide someone through the exercise for #1.

[2018-08-14 22:50] parispittman opened #2536 "Audit zoom license holders"
Audit all zoom license holders (chairs/leads of SIG/WGs) to make sure they are using the right meeting set up feature and have updated version for moderation purposes. Follow up with individual SIG/WG chairs after audit if there is a concern.

[2018-08-15 09:51] TracyBin opened #2539 "ReadOnlyMany PVC of RBD is failed"
-  ReadWriteOnce is ok in the situation of relicaset is one,and pvc is mounted to only one node
- ReadOnlyMany  pvc is created successful,but deployment which mount pvc is failed

[code]

[code]

[code]
I think the reason is the formatting of the image in ceph. Image is automatically formatted to ext4 when in readwriteonce mode, but when PVC is readonlymany mode,Image is readonly,so format is fail

[2018-08-15 11:56] NickrenREN commented on #2539
You set `readonly: true` in your pod yaml file, kubernetes will not format the disk.

[2018-08-15 11:58] NickrenREN commented on #2539
/sig storage

[2018-08-15 15:14] cblecker commented on #2539
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-08-15 15:14] #2539 closed

[2018-08-15 17:00] tpepper commented on #2323
Regarding https://github.com/kubernetes/community/issues/2323#issuecomment-406015867

While there aren't "sig leads" per se, we do have http://groups.google.com/forum/#!aboutgroup/kubernetes-sig-leads and need that type of easy contact bucket.   I feel like without drifting right back toward a large list of teams under a sig's team hierarchy the "sig-foo-leads" name is a basic plain english phrase

[2018-08-16 02:51] TracyBin commented on #2539
@NickrenREN  Thank you for your reply.But I modify readonly to False,error is exist.
[code]
The image info in node of  192.168.8.191
[code]
PVC and pv info
[code]

Error log in node of 192.168.8.192,similar to 193
[code]

[2018-08-16 04:05] parispittman commented on #2517
Bumped the announcement to tomorrow for proper reviews and changes in place on the steering committee updates happening on [#68](https://github.com/kubernetes/steering/pull/68) and #2547.

[2018-08-16 06:04] TracyBin commented on #2539
The document of kubernetes show that rbd pv support multiattach by nodes in the mode of ReadOnlyMany.
- ReadWriteOnce – the volume can be mounted as read-write by a single node
- ReadOnlyMany – the volume can be mounted read-only by many nodes
- ReadWriteMany – the volume can be mounted as read-write by many nodes
https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2018-08-16 17:47] #2510 closed

[2018-08-16 20:48] parispittman commented on #2517
announcement has been bumped to Monday. August 20th to make sure that it doesn't get lost in the email shuffle of the week. announced on the 8/16 community call that we were going to send next week.

[2018-08-17 01:35] #2013 closed

[2018-08-17 04:40] justaugustus commented on #2518
This would be awesome to have! :)

[2018-08-17 18:04] spiffxp commented on #2474
/close
Fixed by #2544

[2018-08-17 18:04] #2474 closed

[2018-08-17 18:05] spiffxp commented on #2477
/close
closed by https://github.com/kubernetes/community/pull/2534

[2018-08-17 18:05] #2477 closed

[2018-08-17 19:27] spiffxp commented on #2032
This is no longer user https://github.com/kubernetes/test-infra/issues/9007.  Opened https://github.com/kubernetes/community/issues/2032 to merge the label into kind/documentation

I'm now leaning more toward making this an org-wide label.  Adding it puts us at 9 `kind/foo` labels, which is still within 7 +/- 2, and I think it's a distinct concept in between kind/bug and kind/cleanup, ie:
- kind/c

[2018-08-17 20:02] jberkus commented on #2032
I don't buy the logic on keeping kind/friction, because:

1. Labels are only useful to the extent that we can get contributors to use them consistently.  Do you really think that people are going to pick a "distinct concept between bug and cleanup" consistently?

2. In K/K, the label has been used only 23 times in the history of the repo, and only 3 times in the last year.  Further, for all three

[2018-08-17 20:57] sgnn7 opened #2554 "`k8s.io/code-generator` scripts do not work from repos that use new Go modules"
When invoking [generate-groups.sh](https://github.com/sgnn7/kubernetes/blob/master/staging/src/k8s.io/code-generator/generate-groups.sh) from a repo that uses the new [Golang v1.11 modules](https://github.com/golang/go/wiki/Modules), none of the codegens work as they assume that the repo layout has the code in `$GOPATH/src/k8s.io/code-generator` and that dependencies have been downloaded for this

[2018-08-17 21:13] sgnn7 commented on #2554
Another sidenote - static binary builds also look for `util.BoilerplatePath` in old-style GOPATH, indicating that [`gengo args.DefaultSourceTree `](https://github.com/kubernetes/gengo/blob/master/args/args.go#L162-L170) needs fixes to work with new go modules:
[code]

[2018-08-17 23:50] spiffxp commented on #2032
It's been used [28 times across the org](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubernetes+label%3Akind%2Ffriction+archived%3Afalse+sort%3Aupdated-desc+).  Of those, [it was used distinctly 16 times](https://github.com/issues?utf8=%E2%9C%93&q=org%3Akubernetes+label%3Akind%2Ffriction+-label%3Akind%2Fdocumentation+-label%3Akind%2Fcleanup+-label%3Akind%2Fdesign+-label%3Akind%2Fbug+-label%3A

[2018-08-18 23:17] sgnn7 commented on #2554
Oops - closing this issue - filed under wrong repo.

[2018-08-18 23:17] #2554 closed

[2018-08-20 06:43] talhairfanbentley opened #2556 "Unable to create job through api client"
/sig-api-machinery

I have a pod running in my cluster that creates new job in cluster. I'm getting following error:

    panic: jobs.batch is forbidden: User "system:serviceaccount:default:default" cannot create jobs.batch in
    the namespace "default"

    goroutine 9 [running]:
    main.check(0x1197660, 0xc4200f02d0, 0xc4200bc280, 0x4d)
        /go/src/extractorProvisioner/kclient.go:507 +0x21

[2018-08-20 14:00] liggitt commented on #2556
the service account for that pod has not been granted permissions to make that API call. see https://kubernetes.io/docs/reference/access-authn-authz/rbac/#service-account-permissions for details about granting API permissions to service accounts.

/close

[2018-08-20 14:01] #2556 closed

[2018-08-20 14:20] bronger commented on #2492
I read the mailing list as the news group gmane.comp.containers.kubernetes.user on gmane.org.  I know that others – albeit not many – do that same.  I have admin access for gmane's configuration, so maybe a transition is possible.  New messages must be sent to ``gccku-kubernetes-user at m.gmane.org``.

[2018-08-20 14:31] castrojo commented on #2492
@bronger This should be doable, we could create an account called "gmane gateway" or something and then have it subscribe to the group and then tweak it's email settings to send every mail sent to the "General Discussions" category. I'll add it as a work item.

Would it be possible to get a test newsgroup or something set up so we can play with the settings? I am hesitant to start sending mails to

[2018-08-20 17:27] parispittman commented on #2517
blocked on three election related docs sitting with steering committee. if we don't have by 2pm PT, we will punt announcement to Aug 21st (tomorrow, Tuesday).

[2018-08-20 19:28] jberkus opened #2562 "Need Zoom channel for Shanghai organizers"
Per earlier Slack discussion:

We need a zoom channel for meetings of the Shanghai Contributor Summit organizers.  For efficiency, we could probably just use a general Contrib Summit channel.  Regardless, I need to know what it is and have moderation powers on it.

Deadline: Wednesday.

@parispittman

[2018-08-21 01:31] timothysc opened #2565 "Separating proposals and architecture related items from community"
IMO proposals and architecture related items probably belong in their own repo now, this repo is starting to become overloaded.

/cc @jbeda @kubernetes/sig-architecture-bugs

[2018-08-21 01:53] parispittman commented on #2517
bumping to tomorrow. /steering/elections.md (#68) looks to be wrapping up final comments and obtaining approvals to merge but we will need at least an hour to test the voting and candidacy processes and then any final edits. if it merges before 10am PT tomorrow, aug 21st, we can send out by noon PT.

[2018-08-21 02:00] justaugustus commented on #2424
Added in https://github.com/kubernetes/sig-release/pull/239
/close

[2018-08-21 02:00] #2424 closed

[2018-08-21 05:59] sbhamad opened #2567 "Turning multiple end user machines (PCs, Macs, RPi ... etc) into one giant k8s cluster"
Hi K8s community,

I am new to kuberenetes.

is it possible to turn every end user machine (PCs, Macs, RPi ... etc) who with full consent downloaded my [electron](https://electronjs.org/) research app that should turn their machines into nodes that ultimately comprise a k8s cluster which then i can run [kubeflow.org](https://kubeflow.org/) on to do ML research?

Thanks

[2018-08-21 14:10] idvoretskyi commented on #2517
The correct link mentioned in the message above (wrong repo) - https://github.com/kubernetes/steering/pull/68.

[2018-08-21 17:12] thockin commented on #2565
+1 - I subscribed to this repo to keep track of KEPs but am overwhelmed by
everything else

On Mon, Aug 20, 2018 at 6:31 PM Timothy St. Clair <notifications@github.com>
wrote:

[2018-08-21 18:57] #2567 closed

[2018-08-22 05:00] spiffxp commented on #2464
/close
OK, every repo has at least one entry in sigs.yaml.

We're likely missing a number of subprojects that are distinct sets of packages within or across repos, but this is enough to get started.

[2018-08-22 05:00] #2464 closed

[2018-08-22 05:02] spiffxp commented on #1721
Nearly there, the remaining two repos are slated for deletion or retirement

[2018-08-22 11:38] discordianfish commented on #2210
I'm trying to achive the same, with the only exception that I'm running a dedicated exporter for the queue length. I have no problem using the Object based HPA, though? I don't understand the limitation you have in that area.

That being said, I struggle with scaling smoothly. For some reason I can't confirm that the HPA sets the replicas to `current/desired`. Instead what I see is that the pod co

[2018-08-22 15:49] parispittman commented on #2562
Delivered to Josh via slack with link on 8/21/2018. Will email with full information today - 8/22/2018.

/close

[2018-08-22 15:49] #2562 closed

[2018-08-22 15:52] parispittman commented on #2517
announcement was made yesterday, August 21st (depending on where you are in the world could have been the 22nd). closing this issue as we have now completed the kick off.

/close

[2018-08-22 15:53] #2517 closed

[2018-08-22 16:15] parispittman commented on #2565
+1

[2018-08-22 16:16] parispittman commented on #2518
note to self - include a link to last week in k8s dev

[2018-08-22 17:12] jberkus commented on #2518
Did you want to put this under LWKD?

I think 7 new items per week might be ambitious.

[2018-08-22 20:31] danielepolencic commented on #2210
Object-based HPA is for a single object. While it might work well for an ingress, it doesn't work well for a pod. In fact, I don't deploy just pods. I deploy pods in deployments or replica sets. If a pod dies, it is respawned (by the RS). That doesn't play nicely with the Object HPA because it assumes the name doesn't change.

The current algorithm for scaling application is not linear. [The code

[2018-08-23 01:28] parispittman commented on #2293
@VineethReddy02 would you like to put a help wanted label on this and see if we can get a contributor to do what @castrojo is suggesting? Or do you have a different direction in mind?

[2018-08-23 03:12] parispittman commented on #2325
Catching up on your work, @jonasrosland, and the notes from the other noncode folks and honestly, I think what you've written in this issue is a good start to a doc. Pop that into a .md file with some more details and you've got a WIP. Could be something good to build off of...

[2018-08-23 10:11] discordianfish commented on #2210
@danielepolencic Thanks for the link to the code, that's very helpful!

I too run pods via deployments, so still not sure about your problem. You can scale a deployment based on a object metric:
[code]

[2018-08-23 10:14] danielepolencic commented on #2210
In my case, the metric is exposed by the Pod, not the Deployment. Unless Deployments aggregate custom metrics from Pods, I won't be able to use that.

[2018-08-23 14:31] rootfs commented on #2539
@TracyBin is the rbd image formatted as ext4? if not, mount just fails. The following message indicated the device was not formatted or not ext4
[code]

[2018-08-23 20:57] spiffxp commented on #1721
/close
That's all of them

[2018-08-23 20:57] #1721 closed

[2018-08-23 21:50] cblecker commented on #2321
This is done: https://github.com/kubernetes/org/issues/26

/close

[2018-08-23 21:50] #2321 closed

[2018-08-24 00:02] mistyhacks commented on #2565
You can copy and close an issue with Zenhub, which installs itself as a browser plugin and overlays some additional functionality into the Github UI. This is used in Docker and Moby repos, for instance, to move mis-filed issues to the correct repo. Of course, a PR is quite different as it actually represents a comparison between two Git objects. You probably just have to open a new PR in the new r

[2018-08-24 01:53] TracyBin commented on #2539
@rootfs  because the pvc is mounted with readonly,so it can't be formatted.
I have found the reason that why the pvc can't be mounted by multi nodes with ReadOnly mode,this is a bug.The bug was fixed in release-v1.10.0,you can see it in [this](https://github.com/kubernetes/kubernetes/issues/63183)

[2018-08-24 01:55] TracyBin commented on #2539
@rootfs   I have found the reason that why pvc can't be mounted by multi nodes with ReadOnlyMany mode, this is a bug.You can see it in [this](https://github.com/kubernetes/kubernetes/issues/63183)

[2018-08-24 08:03] casusbelli opened #2585 "Help request: documentation on implementing API changes in k8s"
Hi!
Is there a document describing the build / dev process for API changes or something similiar?
I'm currently working on a bugfix for a k8s pkg bug. This fix requires an additional field in an API VolumeSource struct. However such a change seems to require additional conversion impls and does not correctly propagate through the different API layers (core, v1, etc.). I read the API conventions do

[2018-08-24 08:07] casusbelli commented on #2585
/sig docs

[2018-08-24 12:47] nikhita commented on #2585
@casusbelli There is https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md. Does that document answer your questions or is there something we should be including in it? Suggestions welcome! :)

[2018-08-24 12:49] nikhita commented on #2585
/remove-sig docs
/kind documentation

I guess this should be
/sig architecture

[2018-08-24 12:58] casusbelli commented on #2585
@nikhita api_changes looks like a bulls eye, thanks a lot!

[2018-08-24 12:58] #2585 closed

[2018-08-24 16:12] d-nishi opened #2587 "move aws-csi-driver-ebs as sig-aws subproject"
We would like to move the ebs csi driver project that AWS, Redhat and Docker engineers are working on to kubernetes-sigs as a sig-aws subproject.

We would like to add proper testing to the code as it is being developed under sig-aws.
Also mirror GCP' process of hosting the project under sig-gcp gcp-compute-persistent-disk-csi-driver

Can I get some comments/thoughts on this?

@jsafrane @gnufied @

[2018-08-24 16:13] d-nishi commented on #2587
@bertinatto

[2018-08-24 16:28] bertinatto commented on #2587
/sig storage
/sig aws

[2018-08-25 01:36] justaugustus commented on #2565
+1 -- I think this might be a good fit for https://github.com/kubernetes-sigs/architecture-tracking, as tracking for KEPs, API reviews, and conformance testing is already happening there.

/assign @jdumars

---
@mistyhacks -- w.r.t. Zenhub, I've used it in the past and dig it, but it requires write access across the kubernetes org, which we're not excited about.

rel:
- https://github.com/ZenHubIO

[2018-08-25 04:46] justaugustus commented on #2565
Alternatively, we could move the KEPs to `k/features` and maybe rename to `k/keps`.
A lot of the tracking work for enhancement delivery already lives in that repo.

[2018-08-26 21:17] cblecker commented on #1628
/remove-help
/close

Fixed in #2590

[2018-08-26 21:17] #1628 closed

[2018-08-27 05:06] talhairfanbentley commented on #2556
thanks

[2018-08-27 18:34] nikhita commented on #2565
Federation was moved out from k/k to k/federation with all issue comments still intact. Example: https://github.com/kubernetes/kubernetes/issues/38893 and https://github.com/kubernetes/federation/issues/88.

I'm not sure if some custom tool was used for this or if this was done manually (I hope not because that would be such a huge task!). @irfanurrehman can you elaborate on what you used to make

[2018-08-27 20:31] timothysc opened #2593 "Automatically synch sigs.yaml updates to community calendar"
Sig's manage this weirdly and not all meetings are on the calendar etc.

/cc @castrojo @roberthbailey @kubernetes/sig-contributor-experience-feature-requests

[2018-08-27 20:31] timothysc commented on #2593
/cc @kubernetes/test-infra-maintainers

[2018-08-27 21:14] parispittman commented on #2593
would this mean that you would need a PR every time a meeting is canceled or rescheduled?

[2018-08-28 10:39] tizhou86 opened #2594 "Request for the public gcs bucket to store conformance test result to testgrid"
Hi, @BenTheElder
According to https://github.com/kubernetes/community/blob/master/keps/sig-cloud-provider/0018-testgrid-conformance-e2e.md#requesting-a-gcs-bucket, I represent baiducloud, which is the CNCF gold member, to request for the public gcs bucket to store the conformance test result which will be used by testgrid, thanks!

[2018-08-28 10:40] tizhou86 commented on #2594
/assign @andrewsykim @BenTheElder

[2018-08-28 10:41] tizhou86 commented on #2594
/sig cloud-provider

[2018-08-28 14:49] irfanurrehman commented on #2565
@nikhita I used a hacky, custom version of https://github.com/IQAndreas/github-issues-import.
The not so nicely done hacky commits are available for reference at https://github.com/irfanurrehman/github-issues-import.

It worked as:
1. List commits with needed labels from src repo using `./list-sig-multicluster-only-issues.py --all`.
2. Migrate issues using the actual script, for example: `./gh-iss

[2018-08-28 16:27] BenTheElder commented on #2594
Hi, happy to help with this :-) -- Could I get back to you ~ later this week? I'm hoping to roll out an improved process for this soon :tm:

[2018-08-29 22:37] castrojo opened #2599 "Zoom guidelines need screen sharing recommendations."
We need https://github.com/kubernetes/community/blob/master/communication/zoom-guidelines.md to have a section on how to do screensharing properly.

The ideal section will include links to the Zoom documentation, and a set of common sense recommendations wouldn't hurt like "Make sure you turn off your notifications", "Close your email client", etc.

I'll get to this eventually but this wouldn't be

[2018-08-30 00:45] parispittman opened #2600 "Seattle Contributor Summit 2018 Kick Off"
I realized that I never set an issue for this and want to keep it on the project board.

The dates are set - December 9th and 10th.

Dec 9th will be a dinner/networking day/tbd
Dec 10th will be a full day of talks, birds of a feather, workshops, and more

Roles:
will update with names and roles

Planning Meetings:
Mondays @ 930a PT/ 1230a UTC

Sent Steering Committee a draft proposal for content r

[2018-08-30 01:18] parispittman opened #2601 "Phase 2 - Steering Committee Election"
Issue to capture the activities of the next phase after kick off.

- [x] blog post on kubernetes.io

- [x] weekly vote between election officials on eligible voter exception forms. update voters.md with any additions. -- pending votes from Ihor on the last 3 and then we can check this box. everyone that filled out the form should have an email y or n by 9/18.

- [x] send two more reminder emails b

[2018-08-30 06:32] jonasrosland commented on #2325
@parispittman I think the merged file from #2598 is a good start, so let's keep iterating on that.

[2018-08-30 12:43] dholbach opened #2605 "communication: README refers to kubernetes.slackarchive.io which redirects to Github"
It looks like https://kubernetes.slackarchive.io is not actually archiving Slack conversations. It's merely a redirect to https://github.com/dutchcoders/slackarchive

Not sure if Slack Archive is available or not, if it isn't, it'd be good to remove the bit from https://github.com/kubernetes/community/blame/master/communication/README.md#L28 and following.

[2018-08-30 12:45] dholbach commented on #2605
/sig contributor-experience

[2018-08-30 13:27] nikhita commented on #2605
/cc @parispittman @jdumars @idvoretskyi

[2018-08-30 14:18] nikhita commented on #2393
The team link will give a 404 to someone who is not part of the Kubernetes org. The service accounts have been removed (at least from the READMEs).

Closing.
/close

[2018-08-30 14:18] #2393 closed

[2018-08-30 14:28] idvoretskyi commented on #2605
Fixed in https://github.com/kubernetes/community/pull/2607

[2018-08-30 14:31] dholbach commented on #2605
Might make sense to remove the integration in Slack too. The bot seems to at least still be there still.

[2018-08-30 17:14] zachvalenta opened #2608 "CLA - 'How do I sign?' - step 2 - screenshot incorrect (no email address field)"
expected fields (based on screenshot): username, email address, first name, last name

actual fields: no email address field

<img width="1280" alt="screen shot 2018-08-30 at 1 10 23 pm" src="https://user-images.githubusercontent.com/11388735/44867689-8dbdef00-ac56-11e8-8b13-8c3025c387d5.png">

[2018-08-30 18:15] nikhita commented on #2608
/sig contributor-experience
/kind bug

https://github.com/kubernetes/community/blob/master/CLA.md contains a screenshot which contains the email address field. Looks like something changed from the LF/CNCF side?

[2018-08-30 18:16] nikhita commented on #2608
@zachvalenta were you asked to fill in the email after hitting Submit?

[2018-08-30 20:31] mrbobbytables commented on #2608
@zachvalenta I believe the email field automatically omits itself if you are signing in via a social login that has an email address associated with it (google). Once you have a linuxfoundation account setup you should be able to change the default associated email address while still preserving the social login.

[2018-08-30 20:49] jdumars commented on #2565
Big +1 on this. It's definitely time.

[2018-08-30 21:03] danielepolencic commented on #2210
Where do I write that line? In the HPA?

[2018-08-30 21:34] zachvalenta commented on #2608
@nikhita nope

@mrbobbytables that's what I figured. opened as issue bc step 1 instructs user to use social login.

[2018-08-30 22:13] cblecker commented on #2608
@caniszczyk @idvoretskyi Does the CNCF/LF maintain documentation of this process? Would it be more effective if we linked out to docs the CNCF/LF maintains, so in the event the process/UI changes, we're sourcing it from the right place?

[2018-08-30 22:15] idvoretskyi commented on #2608
@cblecker I'll check this, thanks for pointing.

[2018-08-31 05:05] talktolanka opened #2611 "nslookup resolve issue"
I am trying to learn DNS in kubernetes with https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

1. I deployed the busybox

2. **kubectl get po busybox -o wide**
NAME      READY     STATUS    RESTARTS   AGE       IP           NODE
busybox   1/1       Running   0          16m       10.200.1.5   worker-1

3. **kubectl exec -ti busybox -- nslookup kubernetes.default**
Server

[2018-08-31 05:26] cblecker commented on #2611
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-08-31 05:26] #2611 closed

[2018-08-31 07:17] bruceauyeung opened #2613 "some urls in sig-api-machinery/README.md can not access"
https://raw.githubusercontent.com/kubernetes-client/community/master/OWNERS
https://raw.githubusercontent.com/kubernetes-client/typescript/master/OWNERS
above two urls can not access and return “404 not found”
they have moved  to somewhere or have been removed？
Could I commit a pr to remove them in README.md ?

 /sig API-Machinery

[2018-08-31 07:28] bruceauyeung commented on #2613
/sig API-Machinery

[2018-08-31 08:36] cn-mayank opened #2614 "Deleting pod that had mount a host directory, does not let a new pod mount that directory"
/sig-windows

**Kubernetes version** 1.10.0

I have a deployment on my single worker-node cluster that mounts a directory. If the pod is deleted and when another pod gets created on the same node, it is not able to mount the directory with error `<path> is not a directory` even though the path exists, is a directory and was mounted by the pod before.

It is a reproducible issue for me, and i have

[2018-08-31 10:39] discordianfish commented on #2210
@danielepolencic It's a recording rule for prometheus, that creates a new timeseries which k8s-metrics-adapter should pick up as custom metric: https://prometheus.io/docs/practices/rules/

[2018-08-31 10:41] discordianfish commented on #2210
That being said, I realized that just scaling on the queue length doesn't work well for queues with high throughput, since it will always scale to min if the queue ever becomes empty (which it does usually in our case), which causes our queue to fill up rapidly, causing it to scale up to max.

We'll solve this by scaling on both the queue size and the ingress rate but I agree that in general this

[2018-08-31 16:12] cblecker commented on #2613
Yeah, these can both be removed. They were removed.

[2018-08-31 16:29] #2605 closed

[2018-08-31 18:54] spiffxp opened #2616 "sig-scalability needs to declare tech leads in sigs.yaml"
/committee steering
/sig scalability
/priority important-soon
/kind cleanup
/assign @wojtek-t

They are referenced in the charter as key decision makers, so we should list who they are

ref: https://github.com/kubernetes/community/pull/2149#discussion_r214440211

[2018-08-31 21:01] lucperkins opened #2618 "Request to join the Kubernetes org"
I make this request as a CNCF employee, SIG DOCS member, and Netlify admin for https://kubernetes.io and other k8s-related sites.

cc @zacharysarah

[2018-08-31 21:03] timothysc opened #2619 "Subproject details in sigs.yaml"
Subprojects need to have more details available other then OWNERS link

e.g. slack and lead details.

Currently I can't seem to add that to a sub-project.

[2018-08-31 21:06] zacharysarah commented on #2618
@lucperkins Happy to sponsor you. Please make sure to [follow the checklist](https://github.com/kubernetes/community/blob/master/community-membership.md) for this issue.

[2018-08-31 21:55] spiffxp commented on #2618
/close
Looking forward to having you as part of our community! Please follow the checklist linked above and file an issue in [kubernetes/org](https://github.com/kubernetes/org)

[2018-08-31 21:55] #2618 closed

[2018-08-31 22:44] cblecker commented on #2619
/sig contributor-experience

Can you mock up what the yaml might look like? Should be easy to implement.

cc: @spiffxp

[2018-09-01 01:58] spiffxp commented on #2031
/remove-lifecycle stale
/committee steering
/priority important-soon
I went looking through the meeting notes and I couldn't find a written decision to truly sunset this SIG.  It just sorta tapered off.  We either need a decision on this instance, or a policy on how to treat these sorts of things going forward.

[2018-09-01 15:15] nikhita commented on #2613
The community repo was deleted. The typescript repo is in kubernetes-retired but it should be removed from the README. :+1:

@bruceauyeung Please feel free to send a PR! :tada:

[2018-09-01 15:16] nikhita commented on #2613
Ah, just noticed https://github.com/kubernetes/community/pull/2621. :)

[2018-09-01 19:51] justaugustus commented on #2565
Adding myself to this as well.
/sig pm
/assign

[2018-09-02 20:03] zehicle commented on #2031
Aaron,

We could not establish a consistent quorum - the group is effectively
sunset.  Let me know what actions I should take to make that official.

Sorry for the slow response.

Rob

<http://t.sidekickopen10.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs3M2bjgW64zKpj3LyR22W1qMCsg56dVpDf9jJGjx02?t=https%3A%2F%2Fwww.rackn.com%2F&si=5660451956457472&pi=b5476891-75f5-465d-8650-7da909995352>

Rob

[2018-09-03 05:34] nikhita commented on #2613
Fixed by https://github.com/kubernetes/community/pull/2621

/close

[2018-09-03 05:34] #2613 closed

[2018-09-03 07:10] justaugustus commented on #2565
@bgrant0607 -- in an attempt to level up my git-fu, I took a whack at moving `keps/` and `design-proposals/`, while maintaining the history. PR is here: https://github.com/kubernetes/features/pull/613

If we're happy with moving them to `k/features` and renaming the repo to `k/keps`, then there are some additional things that would need to happen as well (not necessarily in perfect order)...

- an

[2018-09-03 17:09] nikhita commented on #1894
/remove-lifecycle stale

There is a PR open to improve the cherrypicks doc.

[2018-09-03 17:10] nikhita commented on #994
Automation is in place for this.

/remove-lifecycle stale
PR open

[2018-09-03 23:43] #1976 closed

[2018-09-04 16:07] parispittman commented on #1919
/remove-lifecycle stale

we need to prioritize this and find an owner

[2018-09-04 16:17] parispittman commented on #2031
@spiffxp Jorge and I can document the logistics/archival process if steering can take the decision on how, why, policy end.

re: #2029

[2018-09-04 16:42] dims opened #2626 "Please create repository named cli-runtime and sample-cli-plugin under kubernetes github org"
In https://github.com/kubernetes/kubernetes/pull/67658, we added staging/src/k8s.io/cli-runtime/* in the main k/k repository, we don't yet have
- a corresponding github repo : https://github.com/kubernetes/cli-runtime
- vanity urls to match

Same deal for https://github.com/kubernetes/kubernetes/pull/67938 that added staging/src/k8s.io/sample-cli-plugin/*

[2018-09-04 16:43] dims commented on #2626
Request from @pohly on slack

[code]

[2018-09-04 16:47] dims commented on #2626
/sig cli
/sig architecture

[2018-09-04 16:48] spiffxp commented on #2626
/sig cli
/sig architecture
We need sign off from the above sigs (pinging @kubernetes/sig-cli-feature-requests  and @kubernetes/sig-architecture-feature-requests)

You may want to contact them on other channels as well and send them to this request.

Per the requirements: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories

[2018-09-04 16:48] dims commented on #2626
@soltysh  @pwittrock  @AdoHe - can you please approve on behalf of the @kubernetes/sig-cli-maintainers ?

[2018-09-04 17:11] dims opened #2627 "Please create repositories for component config types for - controller-manager/proxy/scheduler/kubelet"
In the following PR(s), we added new directories under staging/src/k8s.io/ for holding component config api types

- https://github.com/kubernetes/kubernetes/pull/67263
- https://github.com/kubernetes/kubernetes/pull/66916
- https://github.com/kubernetes/kubernetes/pull/67688
- https://github.com/kubernetes/kubernetes/pull/67469

More specifically we need 4 new repositories to hold them:

- [k8s.i

[2018-09-04 17:15] dims commented on #2627
cc @luxas @dixudx @Lion-Wei @stewart-yu @bsalamat  @derekwaynecarr @dchen1107 @k82cn @thockin @dcbw @caseydavenport Folks, please +1 the request

@kubernetes/sig-node-pr-reviews @kubernetes/sig-network-pr-reviews @kubernetes/sig-scheduling-pr-reviews

[2018-09-04 18:12] spiffxp commented on #2032
/close
We're now at 8 distinct org-wide `kind/` labels, well within 7 +/- 2, which was my goal.  I'm calling this done, please /reopen if I missed any of the original criteria in the description.

I think efforts to further prune one-off `kind/` labels are out of scope here.  Those labels being...

[code]

[2018-09-04 18:12] #2032 closed

[2018-09-04 18:26] jberkus commented on #2032
No, all the things in the original issue are done.  Great work!

[2018-09-04 18:31] jdumars commented on #2626
We don't have a formal decision-making system established in SIG-Architecture, so my feeling is to bring this and #2627 to our next meeting.

[2018-09-04 18:32] sttts commented on #2627
@dims kube-controller-manager is missing.

[2018-09-04 18:33] sttts commented on #2626
/xref https://github.com/kubernetes/org/issues/58

Same topic.

[2018-09-04 18:34] dims commented on #2627
Added. thanks @sttts

[2018-09-04 18:35] sttts commented on #2626
@dims please compare the required permission documented in kubernetes/org#58

[2018-09-04 18:37] sttts commented on #2627
@dims also please compare the required permissions documented in https://github.com/kubernetes/org/issues/56.

Also note that this was already approved by sig-arch through [KEP 14](https://github.com/kubernetes/community/blob/master/keps/sig-cluster-lifecycle/0014-20180707-componentconfig-api-types-to-staging.md).

[2018-09-04 18:38] sttts commented on #2627
For the publishing bot please create a PR like https://github.com/kubernetes/publishing-bot/pull/93.

[2018-09-04 18:41] sttts commented on #2627
@spiffxp with csi-api I saw you copied some repo template. Can we have another repo template just for staging repos? They should not have any files and the permissions are special, compare kubernetes/org#56.

[2018-09-04 19:15] idvoretskyi commented on #2325
/cc

[2018-09-04 19:53] bgrant0607 commented on #2565
From a quick scan of devel, I'd move:

https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md
https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md (or at least parts of it)
 https://github.com/kubernetes/community/blob/master/contributors/devel/arch-roadmap-1.png (which needs to be updated, but is what we have)
https://github.com/

[2018-09-04 20:57] timothysc commented on #2565
Can we enqueue this for the @kubernetes/sig-architecture-feature-requests call this week to discuss?

[2018-09-04 21:16] spiffxp commented on #2565
Most of the docs @bgrant0607 lists above I wouldn't envision moving out of this repo.  Aspirational docs, design proposals and roadmaps, yes, move to a keps/features repo.

Stated conventions developers should follow and reasons why, no, those should stay here IMO.  Like @justaugustus said, those make more sense to me in a developers guide, which I would prefer to keep in close proximity to the co

[2018-09-04 21:26] spiffxp commented on #2627
@sttts are you asking for a completely blank repo, or do you need these to be empty repos with an initial commit? what will give me confidence is if I can see valid copies of those files in the staging repo that's going to sync to them, and get cc'ed on something that tracks the first sync happening (issue, pr, whatever)

@dims the actual requests for these repos should be made against kubernetes/

[2018-09-04 21:27] spiffxp commented on #2626
Same as https://github.com/kubernetes/community/issues/2627#issuecomment-418523398 we'll need these requests opened in k/org, but happy to use this issue as a place to link to for the decisions/approvals

[2018-09-04 21:45] justaugustus commented on #2565
@spiffxp -- this is exactly the effect I was hoping for.
(thanks for the tip on the tombstones!)

---

@timothysc -- I've put up an agenda item for the 9/6 SIG Arch meeting.

While I won't be able to attend most of the SIG Arch meetings for September, I intend to drive this with @jdumars, as it would fall under the scope of maturing the enhancement delivery process, which cross-cuts Arch, PgM, and

[2018-09-04 23:07] leakingtapan commented on #2587
bertinatto/ebs-csi-driver#1

[2018-09-05 00:43] jdumars commented on #2029
https://github.com/kubernetes/community/pull/2629

[2018-09-05 06:44] sttts commented on #2627
@spiffxp a first empty commit if possible.

The new repos are all in https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io and have those default files.

[2018-09-05 14:34] ameukam commented on #2466
@parispittman can i be a volunteer?

[2018-09-06 05:31] Rajat-0 opened #2634 "Link broken for label-selector api"
Link for label-selector is broken in [this section](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/vertical-pod-autoscaler.md#api)

[2018-09-06 05:33] Rajat-0 commented on #2634
/sig autoscaling

[2018-09-06 11:06] idvoretskyi commented on #2608
Nothing changed. Using the sign up via social media link does not allow
users to edit email as it uses the email from that social media account.

We do not have any documentation about signing up via social media.

Once signed up users can change their email.

[2018-09-06 17:01] bgrant0607 commented on #2626
SIG Arch signed off on this via email.

[2018-09-06 17:05] #2634 closed

[2018-09-06 17:55] bgrant0607 commented on #2565
@spiffxp On my proposed docs to move:

I agree that some contributor-focused docs on these topics need to land in the contributor doc site.

One problem right now is that most of our docs don't have a sense of who the audience is, so they mix many topics -- part design doc, part policy, part contributor instructions, part user documentation, etc. The API conventions is one example. We need user-fa

[2018-09-06 18:18] parispittman commented on #2466
@ameukam most definitely. want to chat with me on k8s slack and we can either have a meeting there or get on a call? (slack id: paris)

[2018-09-07 01:22] Noah-Huppert opened #2644 "Typo In SIG Storage Contributing Docs"
In the description of "Persistent Volume Framework":

PR coming soon.

[2018-09-07 01:27] Noah-Huppert commented on #2644
/sig storage

[2018-09-07 03:13] BenTheElder commented on #2594
Hey, sorry about that. I was hoping we'd be able to sort out something related to https://cloud.google.com/blog/products/gcp/google-cloud-grants-9m-in-credits-for-the-operation-of-the-kubernetes-project once it was out, but we still need to sort out some policy and things around how we manage these. We can wait a bit more or I can go ahead and set one up under Google now (I also have more time aga

[2018-09-07 12:17] dims commented on #2594
@BenTheElder let's use the same strategy we had for openstack for this bucket too. since we have a bunch of things to migrate anyway one more won't be too much trouble (right?)

[2018-09-07 15:41] soltysh commented on #2626
I think this can be close now.
/close

[2018-09-07 15:41] #2626 closed

[2018-09-07 20:01] spiffxp commented on #2029
I opened an an initial stab #2629 that adds a section, and notes we can retire sigs due to inactivity.

Based on comments in https://groups.google.com/a/kubernetes.io/d/msg/steering/IRFRNwFjQYA/wYd5WUw8BQAJ and https://github.com/kubernetes/community/pull/2629#discussion_r215471944 it sounds like the steering committee would like to discuss more specifics before opening another PR with more detail

[2018-09-07 20:05] parispittman commented on #2029
@spiffxp in the meantime, me/jorge/both can try to work up a draft of logistical items to add to that after the SC convo happens. I'll add a gdoc link here if we get something together before you do.

[2018-09-07 20:50] BenTheElder commented on #2594
yeah it shouldn't be too bad, @amwat and I are working on a doc outlining plans for that sort of thing. I'll try to get to this by EOD, along with some other providers :+1:

[2018-09-08 00:53] justaugustus commented on #2644
Thanks for the fix, @Noah-Huppert!
For future reference, it's totally fine to just PR a small change without an accompanying issue like this.

/close

[2018-09-08 00:53] #2644 closed

[2018-09-08 02:05] dims opened #2649 "Move from CLA to DCO"
Following up on an old email thread [1]. I understand that Kubernetes was using Google CLA before and hence naturally moved to using CNCF CLA [2].

- Since CNCF does allow projects to use DCO, is there a possibility that Kubernetes can move to it?
- What are the pros and cons of DCO vs CLA?
- Will using DCO help attracting a larger set of contributors? (we have anecdotal evidence of folks unable t

[2018-09-08 05:54] BenTheElder commented on #2594
I'll be reaching out shortly, just setup DO's.

[2018-09-08 05:59] BenTheElder commented on #2594
Actually, please reach out to me (BenTheElder on Kubernetes slack, or email in [my profile](https://github.com/BenTheElder) / on [my site](https://bentheelder.io/)) to arrange transferring a service account key for the bucket.

`gs://k8s-conformance-baiducloud` has been created, we just need to get your CI setup with the key :-)

[2018-09-08 22:38] jdumars opened #2651 "SIG-Architecture to do: Conformance test profile definitions"
From the SIG Architecture meeting on September 6th, 2018 [see [video](https://www.youtube.com/watch?v=fmlXkN4DJy0) and [notes](https://docs.google.com/document/d/1BlmHq5uPyBUDlppYqAAzslVbAO8hilgjqZUTaNXUhKM/edit?ts=5b92c0c4) ]

Privileged operation tests might be part of a specific conformance test profile, and other use cases e.g. cloud provider may have profiles as well.   A good example of a pr

[2018-09-09 19:22] dmcnaught opened #2654 "AWS cert manager cert sometimes needs replacing on a k8s service elb"
@d-nishi asked me to raise the issue here from slack #sig-aws

We have an issue with AWS cert manager certificates “disappearing” from the a kubernetes service ELB (deis-router).
We currently see the problem in K8s 1.9 (we’ve upgraded 3/5 clusters to 1.10 now and not sure if I’ve seen the problem there yet) installed/upgraded with kops 1.9.1
The cert is on the deis-router kubernetes service, and t

[2018-09-09 20:57] d-nishi commented on #2654
/sig aws

[2018-09-10 07:56] parispittman commented on #2536
Audit is finished.

Need to work with the following SIGs/WGs individually to get them using the right moderation features:

Apps
AWS
Azure
Big Data
CLI
Cloud Provider
IBMCloud
Instrumentation
Multicluster
Node
PM
Scheduling
Service Catalog
Windows
WG Cloud Provider
WG IoT Edge

Will close this issue once they have all been contacted.

[2018-09-10 07:57] parispittman commented on #2536
Need more info from API Machinery and Cluster Lifecycle.

[2018-09-10 08:54] parispittman commented on #1672
All of these items were completed. See https://git.k8s.io/community/mentoring.

Starting a new umbrella issue to cover the latest work.

/close

[2018-09-10 08:54] #1672 closed

[2018-09-10 09:42] justaugustus commented on #2565
@bgrant0607 @jdumars -- I've created a KEP to capture the feedback provided here and across the last few SIG Architecture meetings about KEP process
improvement: https://github.com/kubernetes/community/pull/2655
Open for comments!

To the devel docs discussion, I think we should drive that down as a separate effort, with Brian's suggestion of ensure OWNERS are in place for all subdirectories being

[2018-09-10 16:58] neolit123 commented on #2649
one good benefit of CLA is that it's integrated per github account.

i've been helping with reviews for the DCO integration:
https://github.com/kubernetes/test-infra/pull/9197#issuecomment-416931231

overall DCO is more fragile for contributors:
- DCO has to be manually added per each commit.
- auto-squash semantics nuke the DCOs and GPGs. this is quite bad and the project needs to outline this in

[2018-09-10 17:03] d-nishi commented on #2654
@M00nF1sh -- can you check this issue for the user?

[2018-09-10 17:09] bradtopol commented on #2651
What is driving this need for profiles?  Can we get this conversation in sync with the conformance workgroup?  There are many of us involved in the workgroup who feel conformance loses all meaning as soon as you introduce the notion of profiles.  cc @dankohn @WilliamDenniss

[2018-09-10 17:26] M00nF1sh commented on #2654
Hi Duncan, How did you setup your loadbalancer? via aws-alb-ingress or other mechanism?
Can you send me(yyyng@amazon.com) your k8s yaml for your loadbalancer setup?

[2018-09-10 17:32] dmcnaught commented on #2654
Is it a deis-router elb - set up by the workflow project using helm, and then modified with the instructions I pasted in the OP.
Sending the yaml now.

[2018-09-10 17:35] cblecker commented on #2654
@d-nishi Is this a bug, do you think? Bugs are typically tracked in the repo with the code (k/k or otherwise). k/community isn't the right place for this.

[2018-09-10 17:35] M00nF1sh commented on #2654
Get it, i'll investigate and get back to you 😄

[2018-09-10 17:36] cblecker commented on #2649
I think this discussion may need to start with the steering committee to see if it's even a possibility from their perspective. I personally like the CLA approach, but think there is value in discussing the pros/cons.

[2018-09-10 17:37] cblecker commented on #2649
cc: @kubernetes/steering-committee

[2018-09-10 17:50] thockin commented on #2649
There are real legal implications.  From what I understand (IANAL) the
CLA nd a DCO are *not* equivalent.  Fun reading:

https://opensource.google.com/docs/cla/policy/

https://opensource.com/article/18/3/cla-vs-dco-whats-difference

"If you're a juicy target for litigation and you want some cover, a
CLA might be the right approach"

There are many articles in the other direction, too, but the mai

[2018-09-10 18:40] parispittman commented on #2649
side note to thockins comment: there is a cla question going out on the contributor experience survey (launching this afternoon PT time). it's not a standalone question but ranks 1-5 how much of a challenge it is for the contributor.

[2018-09-10 20:15] timothysc commented on #2031
Did someone delete the zoom account?  For better or worse it was shared with @kubernetes/sig-cluster-lifecycle since before I was involved.

/cc @roberthbailey @kris-nova @detiber

[2018-09-10 20:17] zehicle commented on #2031
Lifecycle effectively owns it and uses it a lot.  Sharing was never a
problem.  Please don't delete without consulting them!

<http://t.sidekickopen10.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs3M2bjgW64zKpj3LyR22W1qMCsg56dVpDf9jJGjx02?t=https%3A%2F%2Fwww.rackn.com%2F&si=5660451956457472&pi=c22f965d-f4fb-4e55-a1f0-f872d00cd1af>

Rob Hirschfeld

Co-Founder and Chief Executive Officer, RackN

[2018-09-10 20:31] timothysc commented on #2536
@parispittman we have shared sig-cluster-ops zoom for years, before I was involved.

[2018-09-10 20:32] timothysc commented on #2031
xref - https://github.com/kubernetes/community/issues/2536

[2018-09-10 20:45] parispittman commented on #2031
I'm going to create a cluster lifecycle zoom account and have cluster-lifecycle-leads@ as the username.

@roberthbailey @timothysc @kris-nova @detiber

[2018-09-10 20:47] zehicle commented on #2031
+1

On Mon, Sep 10, 2018 at 3:46 PM Paris <notifications@github.com> wrote:

[2018-09-10 22:09] parispittman opened #2657 "1:1 hour mentoring process improvements"
After conducting some tests and a retro, we discovered the following that needs to be corrected before a full scale launch can happen.

**Automation**
if the coordinator or person setting up the event is sick, ooto, etc., it will block the entire process. Getting this automation right is P0 or coming up with a team of people to coordinate.

Ideal workflow: [for all of this to happen in GitHub with

[2018-09-10 22:14] roberthbailey commented on #2031
The sig-cluster-lifecycle-leads email list has been created.

[2018-09-11 02:58] tizhou86 commented on #2594
I'll ping you on slack, thanks!

[2018-09-11 16:53] mcrute commented on #2654
/sig aws

[2018-09-11 17:14] d-nishi commented on #2654
@dmcnaught sorry but this issue needs to be reported here: https://github.com/kubernetes-sigs/aws-alb-ingress-controller -- please close the issue here.

Please follow the issue here: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/604

[2018-09-11 17:25] #2654 closed, assigned to nobody

[2018-09-11 21:08] parispittman opened #2659 "group mentoring rescope/process improvements"
After conducting a large test and a retro, we discovered the following that needs to be corrected before a full scale launch can happen. This issue will get rolling updates and edits after we address each one of these items on group-mentoring.md doc.

- [ ] learning / workshops / curriculum
we should make a one stop doc in the mentoring folder that has all of the video links/playlists and other re

[2018-09-11 21:23] parispittman opened #2660 ""how to" for meet our contributors"
- [x] create a 'how to' put on a meet our contributors episode, including a script, for scaling purposes and to un-bus me.

[2018-09-12 07:01] luxas commented on #2627
This is now done, thanks everyone 🎉 !!

[2018-09-12 07:01] luxas commented on #2627
/close

[2018-09-12 07:01] #2627 closed

[2018-09-12 07:49] tianshapjq commented on #2614
you may locate the wrong place to issue your problem, please ref to [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes)

[2018-09-12 08:44] tizhou86 commented on #2594
Got the key, close the ticket now. :-)

[2018-09-12 08:44] #2594 closed

[2018-09-12 11:21] shubheksha commented on #2325
/cc

[2018-09-12 14:39] krmayankk commented on #2614
/close

[2018-09-12 14:39] #2614 closed

[2018-09-12 14:45] sahitpj opened #2661 "First Time Contributors"
Kubernetes being a huge community with a lot of documentation, I feel it is easy to get lost and tough to find to whom to interact first in order to understand how to go about.

I think there should be a first time contributors doc/file specially dedicated to them with FAQs and basic resources, and probably a first-time-contributor slack channel too. This could easily help them be more open and me

[2018-09-12 15:08] shubheksha commented on #2043
/remove-lifecycle stale

[2018-09-12 15:13] idvoretskyi commented on #2661
@kubernetes/sig-contributor-experience-bugs

/cc

[2018-09-12 15:15] idvoretskyi commented on #2661
@sahitpj FYI, we have the Kubernetes Contributor Guide available on Kubernetes website https://kubernetes.io/docs/community/guide/, which is an absolutely first getting started point for the new contributors.

[2018-09-12 15:59] parispittman commented on #2466
Update: survey was sent out on Tuesday (sept 11) and will be live for two weeks.

[2018-09-12 16:04] sahitpj commented on #2661
Thanks @idvoretskyi found it really hard to find that website, the first time I approached the docs.

[2018-09-12 16:04] parispittman commented on #2466
Artifacts to come from this:

-an enhanced communication.md with complete roadmap of our channels, audience, owners, where/how/why to post

-either an addendum to the above, our mod guidelines, or completely separate doc on comms behavior (ie- GitHub etiquette, only @here in Slack for $reason, etc.)

[2018-09-12 16:10] idvoretskyi commented on #2661
@sahitpj

It's accessible from the docs home page (https://kubernetes.io/docs/home/), just follow the interactive guide (contributors -> code contributor).

[2018-09-12 16:28] cn-mayank commented on #2614
@krmayankk @tianshapjq I went through the contributing guidelines as you rightly pointed out, my previous understanding about it was incorrect.
Here is my current understanding,
1. First reach out on slack/mail (I had done that previously but didn't get any response)
2. I am confused about posting on stack-overflow vs opening an github issue.
3. Was sig windows the wrong place and Would /sig-stora

[2018-09-12 17:19] parispittman opened #2663 "Umbrella Issue for Mentoring Programs Enhancements"
This issue will capture other smaller issues and the larger picture for the current state + work to do in the 7 mentoring programs that we have.

General Mentoring
- [x] update README with the latest information
- [ ] do a mentor recruiting campaign (after most of the programs are near a state of full launch)
contributor comms team can help with this one!
- [x] organize the data on mentors and men

[2018-09-12 18:27] parispittman commented on #2661
hi @sahitpj - we have a contributors folder on the community repo too that is a great place for all of this information. https://git.k8s.io/community/contributors/guide

We are going to surface this docs on a contributor website in the next few months as well. :)

[2018-09-12 20:47] krmayankk commented on #2614
@cn-mayank you can open a issue here https://github.com/kubernetes/kubernetes and then we can label it with sig-windows to notify the relevant people, also you can ask or kubernetes-users or slack

[2018-09-12 21:48] parispittman commented on #1636
/remove-lifecycle stale

i don't think this has been addressed. if it has, we can close.

[2018-09-12 22:59] parispittman commented on #2326
hi again @jennac - i found you on slack and reached out to you there. let me know how I can help.

[2018-09-13 17:26] Phillels opened #2666 "Create a readme for DevStats"
Create a banner at the top of the devstats page that points to a readme giving additional context for the dashboard and defines important terms.

[2018-09-13 19:31] nikhita commented on #1724
/remove-lifecycle stale

[2018-09-13 19:32] nikhita commented on #1645
/remove-lifecycle stale

[2018-09-13 19:32] nikhita commented on #1514
/remove-lifecycle stale

[2018-09-13 19:35] nikhita commented on #1665
/remove-lifecycle stale

[2018-09-13 19:36] nikhita commented on #1726
/remove-lifecycle stale

[2018-09-13 19:37] nikhita commented on #1794
/remove-lifecycle stale

cc @idvoretskyi

[2018-09-13 19:37] nikhita commented on #1819
/remove-lifecycle stale

[2018-09-13 19:38] nikhita commented on #1824
Closing in favor of https://github.com/kubernetes/community/issues/1644.

/close

[2018-09-13 19:38] #1824 closed

[2018-09-13 19:39] nikhita commented on #1863
/remove-lifecycle stale

[2018-09-13 19:39] nikhita commented on #2012
/remove-lifecycle stale

cc @idvoretskyi

[2018-09-13 19:40] nikhita commented on #2234
/remove-lifecycle stale

[2018-09-13 23:55] ameukam opened #2667 "Audit usage of Youtube"
As described in #2466, an audit is conducted to identify the current state of all communication and collaboration platforms. We have identified that some SIG/WG lacking of recordings of their meetings or have restricted the access.

Need to work with the following SIGs/WGs individually to get them applying the [uploading guidelines](https://github.com/kubernetes/community/blob/master/communication

[2018-09-14 04:01] knightXun opened #2668 "dynamic add/del routes for pods"
kubernetes pod has default routes.It meet most UE.But sometimes pods have special-nerwork environment. This means pods may require special networks configuration.Pod dns configuration is open for end-users.But pod routes is still black box for end-users.
If this is needed, I can code for this features.

[2018-09-14 04:02] knightXun commented on #2668
/sig nodes

[2018-09-14 04:06] #2668 closed

[2018-09-14 06:16] parispittman commented on #2667
cc @castrojo

[2018-09-14 20:04] nikhita commented on #2661
@sahitpj thanks for raising this issue! :)

Closing this issue since this is related to the creation of a contributor website and it is tracked in https://github.com/kubernetes/website/issues/7795.

Please feel free to reopen if this seems to address other issues as well.

/close

[2018-09-14 20:04] #2661 closed

[2018-09-14 21:48] nikhita opened #2675 "Add references to the governance model diagram"
There is a neat diagram depicting the governance model in the root of the repo: https://github.com/kubernetes/community/blob/master/kubernetes_governance_diagram.png. However, it is not referenced or utilized anywhere right now.

It was created in https://github.com/kubernetes/community/pull/2173 and I believe the intention was to reference it later.

I think a good place to add it would be in htt

[2018-09-17 11:17] embano1 opened #2678 "Discussion and idea on improving multi-cloud abstraction"
/sig architecture
@mhausenblas and I were discussing the current challenges when developing portable multi-cloud applications on Kubernetes. We acknowledge that at the core this is a controversial discussion, but more and more multi-cloud frameworks, e.g. recently knative, leverage the power of cloud abstraction by Kubernetes to build even more sophisticated frameworks.

Thanks to the Kubernetes c

[2018-09-17 16:14] thockin commented on #2678
Object Stores and Volumes are two VERY different things.  PV/PVC is
already an abstraction over clouds.

WRT Object Stores, we really REALLY do not want to be in the data
path.  Client-side abstractions are fine - wrap a library function
around a switch statement to figure out which cloud to use.  I
strongly advise you not to plan to have your own API in the middle of
the client and the server.

S

[2018-09-17 16:20] technosophos commented on #2678
Much of this seems to overlap with the Service Catalog goals.
https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/

I would advise opening some conversations with those folks. They're well-steeped in this problem space, and even if you don't see a connection immediately, I think they will have some invaluable insights.

[2018-09-17 17:18] castrojo commented on #2667
Yeah we need to do this but haven't found the time unless people complain. @ameukam would you be willing to help us chase down some SIGs? I could really use a hand here.

[2018-09-17 20:14] parispittman commented on #2667
@castrojo I'll help

[2018-09-17 20:34] parispittman opened #2680 "Phase 3 and final - Steering Committee Election"
Last and final steps for the steering committee election:

- [x] Jorge to send out CIVS poll on Wedsnesday, September 19th
- [x] Record email addresses / github handles that bounce back
- [x] Expecting to resend ballots for not good emails -- ~28 ballots resent in total to date (as of 9/27)
- [x] Close poll on October 3rd at 6pm PT
- [x] Validate results; highlight representation issues and anythi

[2018-09-18 12:43] shubheksha commented on #2050
/remove-lifecycle stale

[2018-09-18 17:36] nikhita commented on #1971
/remove-lifecycle stale

[2018-09-19 06:15] nikhita commented on #1537
/remove-lifecycle stale

[2018-09-19 06:16] nikhita commented on #2295
/remove-lifecycle stale

[2018-09-19 06:18] nikhita commented on #2295
Sometimes it is also helpful for me to run `make generate` and see how the README files would be updated. If we move to automation, would the Makefile still be kept?

(No strong opinions on this, just curious.)

[2018-09-19 09:56] ahsannaseem opened #2689 "kubectl giving certificate signed by unknown authority on one client where working fine on other"
hey all :slightly_smiling_face:

so somehow my kubectl start rejecting ssl certificate its giving error on my mac:
[code]

however with same config file its working fine on centos7 machine.

i did following to resolve but didn’t succeeded:
1) uninstall and reinstall latest kubectl version
2) remove .kube dir and recreate it with config file
3) tried --insecure-skip-tls-verify=true (but again got s

[2018-09-19 17:14] cblecker commented on #2689
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-09-19 17:14] #2689 closed

[2018-09-20 12:01] rhuss commented on #914
We have a similar question, especially for this accepted design proposal for service discovery by @KurtStam --> https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/service-discovery.md

This proposal introduces new annotations with a prefix "api.service.kubernetes.io/" (e.g. "api.service.kubernetes.io/description-path"). As this is an accepted design proposal

[2018-09-20 12:15] sammit20 opened #2694 "setting up monitoring within the namespace"
We have a kubernetes cluster for the entire organisation. And there are namespaces for individual teams to host their projects in that cluster. The problem seems to be monitoring individual namespace. Since we have only access to our namespace we can't setup any monitoring for the PODs, containers, or the nodes on which our pods are residing. Is there any way to accomplish monitoring of only the t

[2018-09-20 12:46] sammit20 commented on #2694
/cluster-ops

[2018-09-20 13:16] sammit20 commented on #2694
`sig/cluster-ops`

[2018-09-20 15:12] parispittman commented on #2601
Phase two officially complete and phase three started

/close

[2018-09-20 15:12] #2601 closed

[2018-09-20 17:05] cblecker commented on #2694
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-09-20 17:05] #2694 closed

[2018-09-20 19:14] castrojo opened #2696 "404 report for k/community"
I followed @jonasrosland 's recommendation for figuring out all the broken links in the k/community repo: https://gist.github.com/jonasrosland/7975b096fedef60c16e909e53fc79647

There are the 4xx errors on the site. I have removed obvious note/meeting archives that don't need to be updated.

As discussed in a contribex meeting, we'd like to group these in a way that new contributors can send in con

[2018-09-20 19:15] castrojo commented on #2696
/sig contributor-experience

[2018-09-20 19:32] jonasrosland commented on #2696
I would personally like the checklist style for this, where contributors can pick off a group of up to 5 errors, then reference this issue and once merged it can then get updated.

[2018-09-20 19:33] ameukam commented on #2696
Can we use this issue as an exercise for the New Contributor WorkShop ?

[2018-09-20 19:37] castrojo commented on #2696
Yes, absolutely, part of the reason for doing this was to ensure that new contributors have something that would be useful to fix instead of just going after typos.

[2018-09-22 07:43] nikhita commented on #2696
Not a 404 but always catches my eye whenever I view the community-meeting doc. In the archives section - https://github.com/kubernetes/community/blob/master/events/community-meeting.md#archives - it says `2014-1016` whereas it should be `2014-2016`. :upside_down_face:

A small change to fix this can be a good first issue for someone who wants to get familiar with our github process (prow, etc).

[2018-09-24 00:56] guineveresaenger commented on #1757
/remove lifecycle-stale

[2018-09-24 00:56] guineveresaenger commented on #1757
/remove-lifecycle stale

[2018-09-24 13:25] shubheksha opened #2703 "Create a file listing support channels"
There is no file to link to in support requests in the issue tracker for k/k and k/website. The closest thing I found was [this](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) section in the issue triage docs.
It'd make sense to add a file listing the various support channels to point people to.

/kind documentation
/sig contributor-exper

[2018-09-24 13:41] shubheksha commented on #2083
I believe this was addressed. It's not toggled anymore and is much more intuitive, so closing this :)
<img width="790" alt="image" src="https://user-images.githubusercontent.com/7693422/45955447-8efff300-c02d-11e8-9cef-93407e04c787.png">

[2018-09-24 13:41] #2083 closed

[2018-09-24 14:35] parispittman commented on #2703
an artifact of this #2466  may answer this

[2018-09-25 15:34] chenrui333 opened #2707 "Add `@kubernetes/sig-docs-zh-owners` github team"
It looks like we have other github teams like `@kubernetes/sig-docs-ko-owners` and `@kubernetes/sig-docs-ja-owners` in [here](https://github.com/kubernetes/community/tree/master/sig-docs#github-teams).

It would be good to have a Chinese one.

[2018-09-25 15:35] chenrui333 commented on #2707
/sig docs

[2018-09-25 16:59] soltysh commented on #2696
This is working just fine, just checked.

Seems reasonable to remove for both.

[2018-09-25 19:07] parispittman commented on #1999
/remove-lifecycle stale

[2018-09-25 19:10] nikhita commented on #2707
/cc @cblecker @spiffxp

[2018-09-25 19:10] nikhita commented on #2707
/area github-management

[2018-09-25 20:32] MAKOSCAFEE commented on #2599
I can work on this. Please assign me.

[2018-09-25 21:34] spiffxp commented on #2707
/close
@chenrui333 Please file an issue in kubernetes/org along with a list of who you would like to be added to this team as Team Maintainers

[2018-09-25 21:34] #2707 closed

[2018-09-25 23:05] cblecker commented on #2599
/remove-help

[2018-09-26 01:41] parispittman commented on #2667
Sent an email to the following leads of these groups:
Big data
Instrumentation
Ibmcloud
Multicluster
Wg iot leads

[2018-09-26 01:41] parispittman commented on #2536
Sent an email to the following leads of these groups:
Big data
Instrumentation
Ibmcloud
Multicluster
Wg iot leads

[2018-09-26 01:52] parispittman commented on #2667
Also emailed - autoscaling, testing, ui, wg app def, and container identity

[2018-09-26 16:38] parispittman commented on #1693
@jonasrosland + @castrojo will work on proposing a solution after SC election

[2018-09-26 16:40] parispittman commented on #2029
me + @castrojo will work on this after election cycle.

[2018-09-26 16:40] castrojo commented on #2696
/good-first-issue
/help

[2018-09-26 16:57] castrojo opened #2714 "Document some recommended mailing list filters"
People who join k8s have to follow a bunch of lists, Tim has some filters here he uses:

https://groups.google.com/forum/#!topic/kubernetes-dev/5qU8irU7_tE

Ideally make a page that lists these (and think of some others, get feedback) so that we can share this with new contributors and we can maintain it over time. We also need to link to it from the contributor cheat sheet.

/good-first-issue
/si

[2018-09-26 17:45] spiffxp opened #2715 "Where does the effort to move k8s infra to CNCF fall?"
/committee steering

We have #k8s-infra-team on slack

There is a recurring meeting with a running agenda doc https://docs.google.com/document/d/1r0nydnBoU7o_L7Hnjdc9SZrWe9zosbz64ZUUPn0XwXk/edit

Discussion during the team's first meeting (I wasn't around for the second) was a recognition that this effort needs to be formalized, but we didn't want to impede its initial progress around such formali

[2018-09-26 17:45] spiffxp commented on #2715
/sig contributor-experience
/sig release
/sig testing

[2018-09-26 17:47] spiffxp commented on #2715
If we go the working group route, we need to resolve https://github.com/kubernetes/steering/issues/27

[2018-09-26 17:47] BenTheElder commented on #2715
+cc @amwat (I'm sure others as well...)

[2018-09-26 17:51] nikhita commented on #2714
@castrojo this looks like a dupe of https://github.com/kubernetes/community/issues/1724

[2018-09-26 17:53] cblecker commented on #2715
cc: @kubernetes/k8s-infra-team

[2018-09-26 19:03] ameukam opened #2716 "Conformance of the names of the conferences"
As mentioned by @castrojo in [Slack](https://kubernetes.slack.com/archives/C1TU9EB9S/p1537888968000100), the term `KubeCon/CloudNativeCon` is the right one to reference the event.
Most of the time, the term `kubecon` is used.

cc @castrojo, @parispittman
/sig contributor-experience
/good-first-issue

[2018-09-26 21:00] spiffxp commented on #2715
Discussed during today's steering committee meeting

We are going to act as a working group, and delegate code ownership to the SIGS that make the most sense.  I will try to add extra verbiage if need be to ensure our "no single entity dominates" concern is addressed.

This may ultimately follow the model blazed by sig-cloud-provider, which started as a WG but turned into a SIG when it was clear i

[2018-09-26 21:08] thockin commented on #2715
Great!  Did we decide whether we want to be a subdir of an existing repo or
a new repo?  I could put it in the k8s.io/ repo and be happy

On Wed, Sep 26, 2018 at 2:00 PM Aaron Crickenberger <
notifications@github.com> wrote:

[2018-09-26 21:09] spiffxp commented on #2715
subdir of k8s.io is fine

[2018-09-26 21:53] #2599 closed

[2018-09-27 02:59] MAKOSCAFEE commented on #2716
/assign

[2018-09-27 14:10] nikhita opened #2718 "Move the logo dir from k/k to the community repo"
k/k contains a `logo/` dir at the root of the repo: https://github.com/kubernetes/kubernetes/tree/master/logo. We already have an `icons/` dir in the community repo, which is similar: https://github.com/kubernetes/community/tree/master/icons.

We can move it from k/k to k/community to house all icons and logos in one place.

With this change, all [these links](https://github.com/search?q=org%3Akub

[2018-09-27 14:18] ameukam commented on #2718
/help-wanted

[2018-09-27 14:19] nikhita commented on #2718
@ameukam let's not add the help wanted label now. We still need to decided if we want to do this. :)

[2018-09-27 17:07] cblecker commented on #2718
I think this is probably unneeded. The logo itself is historical, should be discoverable in the main project, and has specific usage guidelines.. none of these apply to the icon set.

Open to arguments in the other direction though :)

[2018-09-27 17:16] nikhita commented on #2718
I don't have any strong opinions about this. ¯\\\_(ツ)\_/¯

[2018-09-27 17:48] thockin commented on #2718
I don't think this is worth doing.  Some folks deep-link to it already.
Dan wants us to EOL it in favor of a repo owned by CNCF.  I say we just
leave it.

On Thu, Sep 27, 2018 at 10:16 AM Nikhita Raghunath <notifications@github.com>
wrote:

[2018-09-27 17:54] nikhita commented on #2718
Ack. Closing.

[2018-09-27 17:54] #2718 closed

[2018-09-28 17:27] justaugustus opened #2720 "Kubernetes LTS Brainstorming"
Placeholder to tie together some of the threads on the potential of having Kubernetes [LTS](https://en.wikipedia.org/wiki/Long-term_support) (Long-term support) releases:
- https://groups.google.com/forum/#!topic/kubernetes-dev/z0jYiJp5V1Y
- https://groups.google.com/forum/#!topic/kubernetes-pm/SPEQyO7FqAA
- https://kubernetes.slack.com/archives/C2C40FMNF/p1538143829000100
- https://github.com/kub

[2018-09-28 18:12] tpepper commented on #2720
/cc @imkin
Dhawal Bhanushali is a VMware engineer interested in LTS

[2018-09-28 18:37] spiffxp commented on #2720
Kubecon 2017 talk on kernel vs. distro and the need for different release cadences: http://events17.linuxfoundation.org/events/kubecon-and-cloudnativecon-north-america/program/schedule

[2018-09-28 18:58] guineveresaenger commented on #1636
haha I'm going through this literally right now. will try to follow up!

[2018-09-28 19:52] embano1 commented on #2678
Thank you for your feedback and the pointers. Actually I think Service Catalog could be a great resource to leverage and brainstorm.

[2018-09-28 19:52] #2678 closed

[2018-09-29 00:46] d-nishi commented on #2587
/close

[2018-09-29 00:47] #2587 closed

[2018-09-29 13:32] justaugustus opened #2724 "Refine existing KEP Documentation"
- Define KEP DACI (who is responsible for KEPs, both in process and execution)
- Glossary of terms (enhancement, KEP, feature, etc.)
  - KEP Workflow
  - KEP states
    - Entry / exit criteria

Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-09-29 13:34] justaugustus opened #2725 "Perform survey of KEPs and identify those needing update to directory format"
Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign @calebamiles

[2018-09-29 13:35] justaugustus commented on #2724
/assign @jdumars

[2018-09-29 13:42] justaugustus opened #2726 "Create KEP tombstones / redirects to k/enhancements"
Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-09-29 13:58] justaugustus opened #2727 "Enable cross-SIG project tracking"
Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.14
/assign

[2018-09-29 14:26] justaugustus opened #2728 "Mark KEP-1a as implementable"
Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-09-29 22:28] justaugustus opened #2730 "Move KEPs to k/enhancements"
Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-09-30 22:17] justaugustus commented on #2619
@timothysc -- I have a PR up that addresses this: https://github.com/kubernetes/community/pull/2731

[2018-09-30 22:17] justaugustus commented on #2619
/assign

[2018-10-01 01:42] nithya-krish opened #2732 "VPA recommender"
Hello all,   `/sig autoscaling`
 I am using VPA autoscaling in my kubernetes cluster. Can anyone tell me why the VPA recommender is keep on allocating the memory infinitely. Actually my worker node is of 11gb memory. I am using two pods each of 4gb memory. But my VPA recommender target memory is getting allocated till 256Gb and more.

apiVersion: poc.autoscaling.k8s.io/v1alpha1
kind: VerticalPodAu

[2018-10-01 07:43] mohammedfakhar commented on #2696
hi, I was looking at this issue, would also like to work on it if it's not already taken, but another even smaller issue/typo was mentioned, so I sent a PR.

[2018-10-01 10:09] nikhita commented on #651
/remove-lifecycle stale

[2018-10-01 11:30] mohammedfakhar commented on #2696
is it ok if I work on it? since it's a good starter issue, I won't mind if someone else picks up a file and send fix.

let me have a checklist:

 - [ ] FILE: ./contributors/devel/cherry-picks.md
   - [ ] https://github.com/kubernetes/kubernetes.git" → Status: 404
   - [ ] http://cherrypick.k8s.io/#/queue → Status: 0 Error: ETIMEDOUT

 - [ ] FILE: ./contributors/devel/e2e-tests.md
   - [ ] https://

[2018-10-01 18:29] #2728 closed

[2018-10-01 18:29] cblecker commented on #2732
@nithya-krish If you believe this is a bug, this should reside as an issue against kubernetes/kubernetes, rather than this repo.

/close

[2018-10-01 18:29] #2732 closed

[2018-10-01 20:45] timothysc commented on #2720
@thockin and I have have been in violent agreement on the idea, although we differ on how to get there.

I'm not a huge fan of LTS > 1 year for cluster managers, and this has been set forth by precedent in multiple projects.

[2018-10-01 21:01] thockin commented on #2720
While I think we need some story around LTS, I also do not think it is
something that an open community of volunteers naturally gravitates towards.

If done poorly (actually, anything less than nearly-perfect) LTS may become
an actively harmful thing.  It is the thing users ask for, but I still
question whether it is what they need.

On Mon, Oct 1, 2018 at 1:45 PM Timothy St. Clair <notifications@

[2018-10-01 22:40] dims commented on #2720
Based on Tim's prompt "I still question whether it is what they need".
Here's what i would ask the folks who say they want LTS.

- Do they want us to support more than 3 versions at a time?
- Do they want in-place upgrades? (instead of creating new clusters)
- Do they want to skip versions (say go from 1.9 to 1.11)
- When we drop support for a 1.x version (say 1.9), If we provide
documentation and

[2018-10-01 22:44] justaugustus commented on #2720
@dims -- Yep. This sounds like it could benefit from a survey. Let's see what we can do to mock something and then gather community feedback.

[2018-10-01 23:54] tpepper commented on #2720
I totally agree this is not something a community of volunteers gravitate towards.  I see a more likely outcome being more a vendor coalition.  If there are people the vendors are today or will be in the future paying to do long term support anyway, what portion of their work is redundant and could better be done in a shared fashion?

One recent concrete example: check out Greg KH's talks on the l

[2018-10-03 16:04] parispittman commented on #2600
Venues are set and skeleton for event is up at https://git.k8s.io/community/events/2018/12-contributor-summit

all planning will continue through the weekly working group that meets on Mondays, contribex slack, contributor summit slack, and the GH page linked above. Please direct all comments and/or suggestions to one of those channels.

/close