[2020-03-15 16:28] markyjackson-taulia commented on #3692
/remove-lifecycle rotten

[2020-03-15 21:21] mrbobbytables commented on #4374
Guidelines have been added for both the marketing and event lead roles in #4620 / #4622.
Once those have been merged this should be good to close.

[2020-03-16 03:41] parispittman opened #4623 "add meeting notes for marketing team to sigs.yaml"
meeting notes: https://docs.google.com/document/d/1IlHAJ131akGhI5ffF4OoVW0PrsVY4C0BB8l-UyQaQVo/edit

file to be updated:
https://github.com/kubernetes/community/blob/master/sigs.yaml
- the contributor marketing team entry can be found under sig-contributor experience subproject listings.

[2020-03-16 10:32] #4618 closed

[2020-03-16 10:36] #4591 closed

[2020-03-16 15:14] soltysh commented on #4577
The above duties and responsibilities assume that chair is also holding tech lead role, when the latter is present I'd like to see more explicit split of the roles. For example SIG roadmap is more up-to TL, if we have TL Deep Dives might be better suited for TL to lead, but chair can definitely organize.

[2020-03-16 21:09] chris-short opened #4626 "Kubernetes Upstream Marketing Social Media Platform Request"
We have discussed a need for a social media platform that adds more functionality than the current experience on Twitter.com (and other platforms as we expand). The team has some requirements around the ability to schedule posts, an approval process (might be external to the platform), multiple logins (no shared single login, if possible), and availability of APIs for automation. There are several

[2020-03-16 21:12] chris-short commented on #4626
/sig contributor-experience
/area contributor-management

[2020-03-16 21:14] chris-short commented on #4626
/label area/contributor-management

[2020-03-16 21:17] parispittman commented on #4626
If we have to define our top 3 needs, what are they? we've drawn out approval process and some kind of automation/api that could link us up with slack et al - what else? Trying to look at it as a quick rubric to see where buffer and hoot fall.

[2020-03-16 23:04] mbbroberg commented on #4626
Great work on this Chris. As  I mentioned in Slack:

My thought is on what each tool centers on. Hootsuite allows for account management -- tweet, delete, follow/unfollow, etc. Buffer is highly specialized for scheduling and curating -- tweets, retweets, rss feed input, image embedding by default, etc.

Based on what I understand, Buffer is a great choice with a smooth experience. If we need more

[2020-03-17 14:24] chris-short commented on #4626
1. Automation capabilities
2. Scheduling capabilities
3. Security (I'm lumping multiple accounts, approval process, etc. into this label)

The automation capabilities are a deal-breaker as is high cost.

Scheduling capabilities exist in all the platforms here but, HootSuite probably has an edge as they're using some intelligence in scheduling.

Security: Approval processes exist in HootSuite and B

[2020-03-17 15:54] bgrant0607 commented on #4617
Code decisions are based on subproject OWNERS files, not SIG-level votes.

cc @smarterclayton

[2020-03-17 15:55] bgrant0607 commented on #4615
Code decisions are based on subproject OWNERS files, not SIG-level votes.

Ref #4617

[2020-03-17 16:22] nikhita commented on #4617
We discussed this issue in the Private Steering Committee meeting on 16 March 2020. It might be helpful to have a nuanced discussion around this to figure out how to better document our current processes. I've talked to @remyleone offline and we have decided to discuss more about this issue in the next Public Steering Committee meeting on 6 April 2020. I'll send out an email to the steering mailin

[2020-03-17 16:22] nikhita commented on #4615
We discussed this issue in the Private Steering Committee meeting on 16 March 2020. It might be helpful to have a nuanced discussion around this to figure out how to better document our current processes. I've talked to @remyleone offline and we have decided to discuss more about this issue in the next Public Steering Committee meeting on 6 April 2020. I'll send out an email to the steering mailin

[2020-03-17 18:25] mbbroberg commented on #4626
I think they're comparable. Buffer auto-schedules based on the number of desired posts per day. I never worry about when it's going out: I hit the icon in Firefox/Chrome and it sends it to be scheduled. It's pretty perfect that way.

Regarding scheduling, I'd say it hinges on multiple people being able to suggest a post and someone being able to review it. I haven't used that feature on either pla

[2020-03-17 19:43] #4588 closed

[2020-03-18 04:44] KungWanyi opened #4635 "kubernetes-dashboard problems"
There is something wrong with the following result

[root@localhost ~]#  kubectl apply -f kubernetes-dashboard.yaml
secret/kubernetes-dashboard-certs unchanged
serviceaccount/kubernetes-dashboard unchanged
role.rbac.authorization.k8s.io/kubernetes-dashboard-minimal configured
rolebinding.rbac.authorization.k8s.io/kubernetes-dashboard-minimal unchanged
service/kubernetes-dashboard configured
servic

[2020-03-18 11:05] chris-short commented on #4554
The handle has been secured.

We’re working on narrowing down a social media platform in #4626. If you have any feedback there, it’d be appreciated.

I think we can call this one done.

[2020-03-18 11:05] #4554 closed

[2020-03-18 12:04] chris-short commented on #4626
Since I personally have a use for such a service, I went ahead and signed up for HootSuite.

@Mbbroberg it’d be cool to sit down and do a side-by-side with @parispittman, Marketing team, and others interested.

[2020-03-18 12:27] mrbobbytables commented on #4635
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-03-18 12:27] #4635 closed

[2020-03-18 12:29] mrbobbytables commented on #4374
Both PRs have merged -- guidelines have been added 👍
Going to go ahead and close this out :)

/close

[2020-03-18 12:29] #4374 closed

[2020-03-18 15:21] parispittman commented on #4626
whatever trials and things we are signing up for, can we use the projects official stuff instead of having it tied to individuals? i can give access to this team for community@kubernetes.io (googlegroup on the gsuite; less perm overhead) or contributors@kubernetes.io (actual gmail instance which comes with more responsibility)

[2020-03-19 21:33] parispittman commented on #2812
this doesn't get much traction anymore so I'll think about using the discuss board or some other way to generate ideas here.

/close

[2020-03-19 21:33] #2812 closed

[2020-03-20 13:11] mrbobbytables commented on #814
I'm going to go ahead and close this out. If more info is needed, can reopen or create a new issue 👍

/close

[2020-03-20 13:11] #814 closed

[2020-03-20 15:16] celanthe commented on #3654
I reached out to the k8s-infra working group today to see about getting an interview on the books sometime over the next two weeks, with a goal of publishing our next blog post sometime over the next 2-3 weeks. :)

[2020-03-20 20:36] detiber opened #4641 "REQUEST: New Slack token cluster-api-provider-aws-alerts"
**GitHub Username:**
@detiber

**Slack Username:**
jdetiber

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Token

**Name of Requested Resource:**
cluster-api-provider-aws-alerts

**Description of Request:**
Request api token to allow for special routing of cluster-api-provider-aws specific alerts from the Prow Monitoring App rather than alerting in #testing-ops wher

[2020-03-22 16:21] markyjackson-taulia commented on #3479
@jberkus During the last mentoring sub-project meeting you and @parispittman were assigned this issue. Is it ok if I assign it to you? I didn't want to do that without your approval 😺

[2020-03-22 16:22] markyjackson-taulia commented on #2659
@jberkus  During the last mentoring sub-project meeting you and @parispittman  were assigned this issue. Is it ok if I assign it to you? I didn't want to do that without your approval 😺

[2020-03-22 16:31] markyjackson-taulia commented on #2663
@jberkus This item will be a shared issue for group and 1:1 mentoring

[2020-03-22 21:25] mydockergit opened #4644 "How to resolve Kubernetes imports"
Hello,

I am new to developing in Kubernetes.
I setup Go and follow the steps for developing Kubernetes. I ran `make` after I cloned the project and it finished successfully.
I also run `hack/local-up-cluster.sh` script.
I opened my Goland IDE and load the Kubernetes project but there are lots of imports that can't be resolved:
![image](https://user-images.githubusercontent.com/37586216/77260987-d

[2020-03-22 21:30] mydockergit commented on #4644
/sig Contributor Experience

[2020-03-22 21:30] mydockergit commented on #4644
/sig contributor-experience

[2020-03-22 21:31] mydockergit commented on #4644
/sig testing

[2020-03-22 21:33] mydockergit commented on #4644
I noticed that I can run `go get -t k8s.io/apimachinery/pkg/runtime...` but there are lots of imports, is there a way to do it for all of them ?

[2020-03-23 11:08] mydockergit commented on #4644
I ran `go mod download` in the root directory and re open GoLand and it fixed it.

[2020-03-23 11:08] #4644 closed

[2020-03-23 14:36] mrbobbytables commented on #4585
Just to update -- I have reached out to most subproject owners and should complete it this week with PRs to follow.

[2020-03-23 17:52] mrbobbytables commented on #4595
It has now been configured \o/ Going to go ahead and close this out :)
/close

[2020-03-23 17:52] #4595 closed

[2020-03-23 19:55] #3959 closed

[2020-03-23 20:22] spiffxp commented on #4647
/kind feature
/lifecycle stale
/sig contributor-experience
I transferred this over from k8s.io because this seems a more appropriate venue for a contribex-related issue

[2020-03-23 20:27] parispittman commented on #4647
someone with access to contributors@ in contribex can create a public drive for you there. could you figure out how to get them to there?

[2020-03-24 16:13] castrojo commented on #4473
Ok I've audited the page. A few people were missing on the moderator mailing list so I've added them, and a few people changed emails so they've been updated and readded.

[2020-03-24 16:13] #4473 closed

[2020-03-25 16:58] mrbobbytables commented on #4641
Just to be 100% clear, this would also be a new channel? (`cluster-api-provider-aws-alerts`) right?

[2020-03-25 17:29] samudralavamshi54 commented on #3654
Reached out to Sig Cluster life cycle posted it on their slack for interview time if not shared the template doc, will follow up and update.

Thanks to @onlydole @celanthe for templating the required communication

[2020-03-25 17:40] spiffxp commented on #4011
ref: https://github.com/kubernetes/community/pull/4652 for documenting the process

[2020-03-25 19:15] mrbobbytables commented on #505
I think at this point with our contributor guide we should be good. We have a planned rework for at least development.md that is being tracked here:
https://github.com/kubernetes/community/issues/1644

With that I'm going to go ahead and close this out for now 👍
If you think it should be left open, please feel free to reply here or poke me in slack.

Thanks!
/close

[2020-03-25 19:15] #505 closed

[2020-03-25 19:19] detiber commented on #4641
@mrbobbytables I had originally naively thought that we could just forward the alerts to #cluster-api-provider-aws, but I like your idea of a new channel better.

[2020-03-26 16:19] castrojo commented on #4587
Ok playing with the streaming stuff now, here's what I found: https://support.zoom.us/hc/en-us/articles/360028478292-Streaming-a-Meeting-or-Webinar-on-YouTube-Live

Good:
- Anyone with the right youtube creds can now stream their meeting right from zoom directly to youtube by clicking a button, they don't need OBS or dedicated hardware!

Bad:
- If we wanted to do this for all the SIGs they'd need

[2020-03-26 16:46] cblecker commented on #2323
/milestone v1.19

[2020-03-26 17:29] samudralavamshi54 commented on #3654
Got the responses from SIG cluster lifecycle, will  work with @onlydole to format it .

[2020-03-26 17:29] samudralavamshi54 commented on #3654
reached out to next group SIG node will update

[2020-03-26 17:54] onlydole commented on #3654
Thank you, @samudralavamshi54! Feel free to raise up in Slack and I'll be happy to help!

[2020-03-26 17:55] spiffxp commented on #2323
We should address https://github.com/kubernetes/org/issues/1051 as part of this

[2020-03-26 17:57] spiffxp commented on #3179
/milestone v1.19
We discussed a proposal from @mrbobbytables during github-management meeting today, agreed to bring it forward to sig-contributor-experience next

[2020-03-26 18:01] castrojo commented on #4011
/close

[2020-03-26 18:01] #4011 closed

[2020-03-26 18:03] spiffxp commented on #2126
/remove-lifecycle stale
Agree with @mrbobbytables and @nikhita, the docs we have look good to me.  If there are specific questions that remain unanswered, please open a new issue.

/close

[2020-03-26 18:03] #2126 closed

[2020-03-26 18:09] #4200 closed

[2020-03-26 18:13] castrojo commented on #4280
/assign

[2020-03-27 15:21] samudralavamshi54 commented on #4623
/assign

[2020-03-27 16:09] castrojo commented on #4350
/close

This is staying for the time being so no need to track it. We'll see how the per-channel tools shape up over time.

[2020-03-27 16:09] #4350 closed

[2020-03-27 18:23] johnbelamaric commented on #4000
New policy for avoiding perma-betas has merged: https://github.com/kubernetes/enhancements/pull/1266

Along these lines we need:
- something similar for alpha APIs
- something similar for feature gates not just api versions, for both alpha and beta
- possibly some tools / specific criteria around what "sufficient feedback" is

We need to make sure that if we up the bar for beta we do not push thin

[2020-03-27 23:29] cblecker commented on #2323
Our draft plan, as discussed in the subproject meeting:

Create a PR (one per SIG/WG) to do the following:
- Collapse all sig teams other than "pr-reviews" into a sig-foo team
- Create a sig-foo-leads team (with the chairs and tech leads) as a child team of sig-foo
- Move sig-foo-pr-reviews as a child team of sig-foo

Assign this PR to the sig chairs asking for their LGTM. If they ask for minor ch

[2020-03-30 11:28] wojtek-t commented on #4286
Josh already created a charter and directory: https://github.com/kubernetes/perf-tests/pull/1030
We will continue there.

/close

[2020-03-30 11:29] #4286 closed

[2020-03-30 17:40] dims commented on #3623
@swinslow ping!

[2020-03-31 09:29] CriaHu opened #4663 "suggestions"
There are some broken links in this project. Most of them are caused by branch based links. If you delete a branch, the link is broken. So I suggest that links in this project should be based on specific submissions.

[2020-04-01 10:23] mydockergit opened #4670 "How to view SSL network traffic from the master to the worker"
I want to debug Kubernetes' network between the master to the worker.
For example, when the API server needs to create a new pod, I want to see what happens in the background.
The network is encrypted and I have the weave network plug-in, how can I decrypt it and see what is going on?

Maybe there is an easy solution to disable the SSL in Kubernetes? just for debugging.

[2020-04-01 11:21] mydockergit commented on #4670
/sig network

[2020-04-01 13:49] castrojo commented on #4663
Can you be more specific? Do you have an example? We could run the 404-checking script again if you mean the community repo. Thanks!

[2020-04-01 14:20] mrbobbytables commented on #4670
@mydockergit The community repo is used as the general management point of Kubernetes contributor community. Questions like that are not likely to be answered here. =/

I'd ask it over in the [#sig-network](https://kubernetes.slack.com/messages/sig-network) slack channel or on their [mailing list](https://groups.google.com/forum/#!forum/kubernetes-sig-networkt).

With that I'm going to go ahead an

[2020-04-01 14:20] #4670 closed

[2020-04-01 14:26] mydockergit commented on #4670
OK but the mailing list is not working for me, it says that the group does not exist or I don't have access to it. How can I view the mailing list?

[2020-04-02 00:43] parispittman opened #4673 "sig-leads mailing list to go under gsuite"
had this conversation in slack and moving here for record. this is not urgent and can be determined by the folks working on infra and contribex as to the priority.

kubernetes-sig-leads@googlegroups.com gets stale a lot and manually updating and pruning is getting painful for over 75 folks. i'd like to rename and move this group to gsuite owned googlegroup - chairs-and-techleads@kubernetes.io.

[2020-04-02 01:00] mrbobbytables commented on #4673
/committee steering

[2020-04-02 03:28] CriaHu commented on #4663
The directory structure of the community has changed so much that many other projects have lost links to community content, such as enhancements. How to view the references in those projects?

[2020-04-02 03:28] #4663 closed

[2020-04-02 07:22] sober-wang opened #4674 "How to get my Kubernetes Cluster CNI types?"
Because I not get help in stackoverflow topic kubernetes ,so I come back this
How should I get a running kubernetes cluster CNI types.

I choose Go language

[2020-04-02 10:33] nikhita commented on #4538
@JimBugwadia Now that we have https://github.com/kubernetes-sigs/wg-policy-prototypes, would it be ok to close this issue and create a new one at that repo? We generally use this repo for issues affecting the community as a whole. :)

[2020-04-02 14:27] mrbobbytables commented on #4674
The Stackoverflow post is correct. There isn't a single way to determine this from Kubernetes directly. It's meant to be an abstraction where Kubernetes "doesn't know" about it.
You can look at the [cni spec](https://github.com/containernetworking/cni/blob/master/SPEC.md#network-configuration) to get some information via the host or mounting the config.

Please keep those sorts of questions on sta

[2020-04-02 14:28] #4674 closed

[2020-04-02 14:31] errordeveloper commented on #4674
@mrbobbytables I do think there should be an open issue on this topic, this one is a good example of user raising a question regarding something we debated in addons WG. I'd consider reopening :)

/cc @stealthybox

[2020-04-02 14:36] mrbobbytables commented on #4674
if there is a better place for it, I can move the issue there 👍

[2020-04-02 18:57] JimBugwadia commented on #4538
Yes, thanks! Since GSoC deadline has passed, no need for a new issue at this time. Closing.

[2020-04-02 18:57] #4538 closed

[2020-04-02 20:26] samudralavamshi54 opened #4676 "MOC ( meet our contributors and office hours ) hours missing on contributor calendar update)"
Can anyone please update the MOC meet our contributor hours on contributor calendar.
I don't see them if they are updated and i miss it. Sorry in advance.

https://calendar.google.com/calendar/embed?src=cgnt364vd8s86hr2phapfjc6uk%40group.calendar.google.com&ctz=America/Chicago

[2020-04-02 20:28] samudralavamshi54 commented on #4676
@parispittman @mrbobbytables

[2020-04-02 20:30] samudralavamshi54 commented on #4676
/area-contributor-coms

[2020-04-02 21:04] parispittman opened #4677 "chair and tech lead folder updates"
the [chair and tech lead folder's readme](https://github.com/kubernetes/community/tree/master/contributors/chairs-and-techleads) needs some more work that I wanted to do but might be a good first issue for someone else and will go faster :)

I was envisioning this README in a style like the [developer guide's README](https://github.com/kubernetes/community/tree/master/contributors/devel) as a coll

[2020-04-02 23:57] spiffxp commented on #3267
/remove-committee steering
For steering, this is the bosun's responsibility

/close
All that's happened here over the last year is `/remove-lifecycle`

If we want to discuss improving the state of project board management, I would suggest opening up more granular well-scoped issues.

[2020-04-02 23:57] #3267 closed

[2020-04-03 01:09] spiffxp commented on #3071
/close
This is the only remaining open issue on https://github.com/orgs/kubernetes/projects/7

So I'm closing this issue and I'm closing the board.

I agree that test flakiness is always an issue.  I think it would be great if there was a (staffed) subproject or working group dedicated to addressing some of the more systemic issues we have with flakes.  But I don't think keeping this issue or the

[2020-04-03 01:09] #3071 closed

[2020-04-03 14:53] celanthe commented on #3654
An update on this for those that can't attend today's meeting 4/3/20, got all feedback from SIG chairs, and am going to draft this blog post with the goal of publishing it in mid-April sometime. :)

[2020-04-03 19:24] mrbobbytables commented on #1819
I'll ping ya on slack :)

[2020-04-03 23:21] errordeveloper commented on #4674
I am not really sure where that would be, given the OP has posted this
question in multiple palaces, I believe it is okay to keep this one closed
:)

On Thu, 2 Apr 2020, 3:36 pm Bob Killen, <notifications@github.com> wrote:

[2020-04-04 10:48] ILovetheEarth opened #4681 "Nguyentiensy"

[2020-04-04 12:58] #4681 closed

[2020-04-05 14:02] Heena-PyCloud commented on #4677
/assign

[2020-04-05 18:17] Heena-PyCloud commented on #4677
@parispittman
Hi Paris,
I have updated the chair and tech lead monthly meeting time without the zoom information at line 25 in README.md.  and created a pull request. Is there any other process I need to follow for review.

[2020-04-05 20:19] gerlt opened #4682 "Example: Deploying Cassandra with Stateful Sets - Page (Missing Storage Instructions)"
https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

Hello,

Happy to assist in fixing this issue, but the example doesn't properly address the storage required to deploy the stateful set.  Example:

kubectl create -f cassandra-storage.yaml

(example, cassandra-storage.yaml)
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: fast
provisioner: kubernetes.io/aws-ebs

[2020-04-05 20:23] gerlt commented on #4682
/sig docs
/kind documentation

[2020-04-05 20:35] markyjackson-taulia commented on #4682
@gerlt All you would need to do is sign the [cla](https://github.com/kubernetes/community/blob/master/CLA.md) and follow the instructions pr instruction [here](https://kubernetes.io/docs/contribute/start/#review-docs-pull-requests)

[2020-04-05 21:53] gerlt commented on #4682
I created a pull request but unclear how to link it.

Updated text for persistent volume. #20115

[2020-04-05 22:31] markyjackson-taulia commented on #4682
Awesome! Thank you. I put an lgtm on it. IT will need to go through 1 more review for an approve label

[2020-04-05 23:42] cblecker commented on #3724
/remove-lifecycle stale

[2020-04-06 10:02] g3rzi opened #4683 "What is the difference between "/exec" to "/run" Kubelet's API"
There are [two APIs](https://github.com/kubernetes/kubernetes/blob/c1f1b1bceb8e6dfbc0083617a25f17dd8d57340b/pkg/kubelet/server/server.go#L398) for Kubelet agent that I didn't understand their differences:

1. `/run`
2. `/exec`

Both of them allow to run command inside a container, what is the difference between them ?

According to https://github.com/kubernetes/kubernetes/blob/c1f1b1bceb8e6dfbc008

[2020-04-06 10:57] g3rzi commented on #4683
/sig api-machinery

[2020-04-06 13:15] davesargrad opened #4685 "Can someone point to documentation that describes how to run components of k8s in delve?"
I have not been able to find documentation that takes a developer through setting up a development environment that includes single step debugging components of k8s in [delve](https://github.com/go-delve/delve/blob/master/Documentation/cli/getting_started.md).

I'd like to be able to run kube-controller-manager, and other k8s components in the debugger.

I've been able to run
`dlv debug `

inside

[2020-04-06 14:38] mrbobbytables commented on #4683
@g3rzi The community repo is used as the general management point of Kubernetes contributor community. Questions like that are not likely to be answered here. =/

I'd ask it over in the [#sig-node](https://kubernetes.slack.com/messages/sig-node) slack channel or on their [mailing list](https://groups.google.com/forum/#!forum/kubernetes-sig-node) as they're the owners of the kubelet codebase.

[2020-04-06 16:48] spiffxp commented on #4516
/committee steering

[2020-04-06 18:08] mrbobbytables commented on #4409
@samudralavamshi54 just checking in, are you still planning to work on this?

[2020-04-06 18:11] #4280 closed

[2020-04-06 18:23] spiffxp commented on #4617
/remove-committee steering
we feels this is a documentation issue best address by sig-contribex

[2020-04-06 18:25] spiffxp commented on #4615
/close
We have found seeking consensus has worked well for us historically.  If there are instances of this not working out well, we'd like to hear about it, but this is something that needs to be handled on a case-by-case basis.

[2020-04-06 18:25] #4615 closed

[2020-04-06 18:28] g3rzi commented on #4683
OK I can do it

[2020-04-06 18:28] #4683 closed

[2020-04-06 18:32] spiffxp commented on #4516
We are ok with the use of this twitter account so long as we are explicit about how it's used re:KEPS

[2020-04-06 18:33] spiffxp commented on #4157
@derekwaynecarr to open PR to disband

[2020-04-06 19:19] #4157 closed

[2020-04-06 19:26] samudralavamshi54 commented on #4409
@mrbobbytables yup will work on it.. unfortunately due to other things on plate delayed will try to work and close it next week if its ok

[2020-04-06 19:27] mrbobbytables commented on #4409
No worries, just wanted to check in 👍

[2020-04-06 19:55] spiffxp commented on #4617
Possible overlapping/related issues:
- https://github.com/kubernetes/community/issues/1514
- https://github.com/kubernetes/community/issues/1899
- https://github.com/kubernetes/community/issues/1645

[2020-04-06 20:05] spiffxp commented on #4673
/wg k8s-infra

[2020-04-06 20:47] droccom opened #4691 "Clarify scope of --etcd-servers-overrides option"
The documentation does not say if the `--etcd-servers-overrides` option for `kube-apiserver` does support CRDs.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/#options

+Cc @MikeSpreitzer

[2020-04-06 20:48] droccom commented on #4691
/sig api-machinery

[2020-04-06 20:50] droccom commented on #4691
/kind documentation

[2020-04-07 13:14] nikhita commented on #4673
Can we use https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml instead?

@spiffxp I think you had raised some concerns about using the current automation in slack (might be misremembering...), but can't find it right now.

[2020-04-07 16:34] spiffxp commented on #4673
My concern is that a human is involved in reconciliation.  Maybe it's just me, but wait-for-merge, dry-run-for-paranoia, actual-run, and post-that-I-ran-it are all long enough events that I can wander away while they're happening, and then forget to move on to the next one.  Adding the leads group will increase the number of people we reconcile by 20%.

I'm willing to compromise and say we'll do t

[2020-04-07 18:24] mbbroberg commented on #4616
Hey @parispittman, given we're clarifying which part of the marketing team has the next steps, I'm going to tag @jonasrosland / @simplytunde as the owners of this. I'm all for following along and championing the colorful and simple categorization 🔴🟡🔵🟢.

🎉

[2020-04-07 18:31] mbbroberg commented on #4616
/unassign @parispittman

[2020-04-07 18:31] mbbroberg commented on #4616
/assign @jonasrosland @simplytunde

[2020-04-07 18:31] mbbroberg commented on #4616
/assign @jonasrosland
/assign @simplytunde

[2020-04-07 18:36] johnbelamaric opened #4696 "REQUEST: auto-upload of sig-arch meeting recordings"
We would like to get the auto-upload set up, please.

/cc @dims @derekwaynecarr

[2020-04-07 18:36] johnbelamaric commented on #4696
/assign @mrbobbytables

[2020-04-07 18:44] jonasrosland commented on #4616
Thanks @mbbroberg! I think the color scheme could work well, just wondering if mail filters would work on those icons? Such as "if PRIORITY > store in PRIORITY folder". That's fairly easy to accomplish if it's written text, and one more thing would be regarding color usage and accessibility. Need to think on this a bit.

[2020-04-07 19:51] dims commented on #4696
+1 thanks!

[2020-04-07 21:33] johnbelamaric commented on #4696
I created a separate zoom ID for code org, see #4698. One question: Do we need to auto-record the meetings too, or can we still start the recordings manually?

[2020-04-07 21:36] justinsb opened #4699 "REQUEST: auto-upload of kops office hours meetings"
We would like to get the auto-upload set up, please.

/assign @mrbobbytables

[2020-04-07 21:38] mrbobbytables commented on #4696
Nope, recording manually is preferred as long as things are saved to the cloud. If you setup auto-recording the youtube team has to do more trimming and there will be random small vids when people hop in and then hop back out.

[2020-04-07 21:39] justinsb commented on #4699
/sig sig/contributor-experience

[2020-04-07 23:14] spiffxp commented on #1922
Opened https://github.com/kubernetes/community/pull/4700 to suggest that the kubernetes-incubator/cluster-proportional* projects move to sig-network

[2020-04-08 00:58] mbbroberg commented on #4616
Great point. I could see a combo -- color + keyword -- once we get to the
experimental phase of this, then see if it looks good and helps anyone in
practice. Also feel free to email me as part of the experimental outreach.
I'm happy to see it in action.

On Tue, Apr 7, 2020 at 1:45 PM Jonas Rosland <notifications@github.com>
wrote:

[2020-04-08 17:05] mrbobbytables commented on #4230
/assign @castrojo

[2020-04-08 17:09] mrbobbytables commented on #4392
/assign @mrbobbytables

[2020-04-08 21:35] mrbobbytables commented on #3899
I'm inclined to agree with @BenTheElder. I'm a stickler for markdown formatting and conforming with the style guide where it has been used, but I'd rather not force it on folk ESPECIALLY org wide when it'd likely just be a burden for folk when attempting to improve documentation. We'd also likely have a slew of things we'd have to add to the whitelist like the various retro notes that are converte

[2020-04-09 02:56] #3100 closed

[2020-04-09 17:07] #4230 closed

[2020-04-10 14:33] droccom commented on #4691
Moved to kubernetes/kubernetes.

[2020-04-10 14:33] #4691 closed

[2020-04-10 15:26] parispittman opened #4707 "[k8s blog] series: info discoverability stories!"
we have the [SIG profile series](#3654), let's introduce one more need:
information discoverability! 🚀

Instead of writing dry, "hey did you know this exists" docs and blogs, let's tell stories about them. example: pick a few individuals that exemplify, or went through that experience, etc that would showcase the process or procedure instead of the doc on its own.

list:
- [ ] community-membership

[2020-04-10 15:56] mbbroberg commented on #4623
@Pensu happy to have you give this one a go :tada:

[2020-04-10 16:02] mbbroberg commented on #4446
Relates to #4616 which is resolved by #4679

If you're interested in mapping from the strategy above into tooling, come hang out :dancing_women: :dancing_men:

[2020-04-10 16:10] artisticcheese opened #4709 "Name resolution from windows pods does not work on 1.18.1"
Have following setup below. Flannel is in VXLAN mode. Name resolution does not work from Windows nodes. Verified that following works:
1. Windows POD -> external DNS server resolution
2. Windows POD -> HTTPS connection to kubernetes API service IP
3. Linux POD on master -> Name resolution against DNS service

Following does not work:
1. Windows POD -> DNS query against DNS service
2. Windows POD -

[2020-04-10 16:10] onlydole opened #4710 "Kubernetes Alpha Feature Posts"
During any given Kubernetes release, alpha features that are added don’t typically get a large focus unless they are called out directly. The upstream marketing team can create posts about the alpha features and work with SIGs to get their alpha features highlighted and to get end-user feedback. These feature posts should use a tool like [discuss.kubernetes.io](https://discuss.kubernetes.io) or so

[2020-04-10 16:16] mrbobbytables commented on #4709
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-04-10 16:16] #4709 closed

[2020-04-10 18:55] hh commented on #2657
- [A Templated Startup Process](#sec-1)
  - [variables](#sec-1-1)
  - [docker run to create local cluster](#sec-1-2)
  - [kubectl exec attach](#sec-1-3)
- [tmate](#sec-2)
  - [kustomization for pairing.k8s.io](#sec-2-1)
- [osc52 (kubectl exec populating clipboard)](#sec-3)
  - [Linux](#sec-3-1)
    - [working](#sec-3-1-1)
    - [not working (yet)](#sec-3-1-2)
  - [Windows](#sec-3-2)
    - [working

[2020-04-10 18:58] hh commented on #2657
The last comment was created by exporting this file as markdown: https://github.com/humacs/humacs/blob/master/org/kubernetes/community/sig-contribex/mentoring-hour.org#mentoring-hour-improvements

[2020-04-10 19:58] markyjackson-taulia commented on #2657
This is awesome. Thank you

[2020-04-10 21:05] artisticcheese commented on #4709
I followed explicit request from kubernetes documentation to create bug report. There were no mention there of not using GitHub for bugs and asking for help on stackoverflow etc

https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#reporting-issues-and-feature-requests

[2020-04-11 07:00] rajula96reddy commented on #4446
/assign

[2020-04-11 07:02] rajula96reddy commented on #4446
@mbbroberg I have assigned this to myself as discussed. I will start with a basic proof of concept sort and see where it goes

[2020-04-12 13:59] #4623 closed

[2020-04-13 09:14] chauncey-77 opened #4712 "Can kubemark master be a normal node of external cluster?"
I see the doc community/contributors/devel/sig-scalability/kubemark-setup-guide.md says that before starting a kubemark cluster, we need kubemark master and external cluster. I have a question, can the kubemark master be a normal node of the external cluster? Because I just have a k8s cluster and no more other machine.
/sig scalability

[2020-04-13 12:28] mrbobbytables commented on #4696
I reached out in PM, but for transparency sake -- We're going to hold off setting this up at this time until Zoom is [able to reliably deliver webhooks again](https://devforum.zoom.us/t/developer-impacting-changes-during-covid-19/8930). This has caused for intermittent failures to upload across all enabled accounts and is not something that should currently be relied upon.

I will update when I ha

[2020-04-13 12:29] mrbobbytables commented on #4699
I reached out in PM, but for transparency sake -- We're going to hold off setting this up at this time until Zoom is [able to reliably deliver webhooks again](https://devforum.zoom.us/t/developer-impacting-changes-during-covid-19/8930). This has caused for intermittent failures to upload across all enabled accounts and is not something that should currently be relied upon.

I will update when I ha

[2020-04-13 13:06] mrbobbytables commented on #4712
@chauncey-77 The community repo is used as the general management point of Kubernetes contributor community. It's unlikely that your question would get answered here =/

I'd ask it over in the [#sig-scalability](https://kubernetes.slack.com/messages/sig-scalability) slack channel or on their [mailing list](https://groups.google.com/forum/#!forum/kubernetes-sig-scale) as they're the [owners of kube

[2020-04-13 13:39] chauncey-77 commented on #4712
@mrbobbytables thank you very much, but I don't have account in kubernetes.slack.com so that I can't log in to check the slack channel. So, when next time I have another question I should send mail to them directly?

[2020-04-13 13:42] mrbobbytables commented on #4712
You can join slack here: https://slack.k8s.io/
But yes -- you can email directly.

[2020-04-13 13:46] chauncey-77 commented on #4712
@mrbobbytables it's very kind of you, thanks. Beside send email, maybe I can open issue in the Kubernetes repo instand of the community repo?

[2020-04-13 20:15] mrbobbytables commented on #4712
You can give that a go, but I think you will wind up with the quickest response reaching out in either slack or their mailing list.

[2020-04-13 23:24] spiffxp opened #4715 "Correct wg-api-expression meeting info"
Followup issue for https://github.com/kubernetes/community/pull/4655/files#r404382727

The `url:` should link to a zoom meeting, not a calendar entry. You should use a scheduled zoom meeting instead of an account's personal meeting id. See https://github.com/kubernetes/community/blob/master/communication/zoom-guidelines.md#setting-up-your-meeting-and-moderation for more info

There should be an `a

[2020-04-13 23:27] kwiesmueller commented on #4715
Thanks, will do.

[2020-04-14 08:46] micheelengronne commented on #4001
/active

[2020-04-14 08:47] micheelengronne commented on #4001
/remove-lifecycle rotten

[2020-04-14 20:03] onlydole opened #4718 "SIG Release folder under contributors@ GSuite account"
Hello team! SIG Release would like to start using a shared folder for templates, documents, and other functions for the SIG. Can we get help in getting a folder set up?

/milestone 1.19
/sig contributor-experience
/assign @mrbobbytables
/cc @tpepper @justaugustus

[2020-04-15 18:40] justaugustus opened #4721 "SIG PM Retirement tracking issue"
Following the [announcement of SIG PM's retirement](https://groups.google.com/d/topic/kubernetes-dev/RU8iINF758Y/discussion), there's some associated administrivia to complete the process.

I'll get the ball rolling and use this issue to track work.

- [x] Send an email to kubernetes-dev@googlegroups.com and community@kubernetes.io alerting the community of your intentions to disband or merge. [ex

[2020-04-15 21:02] LappleApple opened #4723 "Follow up on issues labeled 'milestone/needs-attention'"
As per my Slack message, [these 30 open issues](https://github.com/search?q=org%3Akubernetes+is%3Aopen+label%3Amilestone%2Fneeds-attention&unscoped_q=is%3Aopen+label%3Amilestone%2Fneeds-attention) dated March 26, 2018 and filed by @mtaufen include the `milestone/needs-attention` label, which seems to have been either abandoned or never adopted into general use. All but one of the issues refer to m

[2020-04-16 00:19] justaugustus commented on #4721
/area enhancements

[2020-04-16 00:34] justaugustus commented on #4289
/remove-sig pm

[2020-04-16 00:35] justaugustus commented on #4000
/remove-sig pm
/area enhancements

[2020-04-16 00:36] justaugustus commented on #3795
/remove-sig pm
/sig contributor-experience architecture
/area enhancements

[2020-04-16 00:37] justaugustus commented on #3456
/remove-sig pm
/area enhancements

[2020-04-16 00:38] justaugustus commented on #3455
/remove-sig pm
/assign

[2020-04-16 00:38] justaugustus commented on #3281
/remove-sig pm

[2020-04-16 00:40] justaugustus commented on #2725
/remove-sig pm
/sig architecture
/area enhancements
/assign
/unassign @calebamiles

[2020-04-16 00:40] justaugustus commented on #2724
/remove-sig pm
/sig architecture
/area enhancements
/unassign @jdumars

[2020-04-16 00:41] justaugustus commented on #2565
/remove-sig pm
/area enhancements
/unassign @jdumars

[2020-04-16 00:42] justaugustus commented on #2307
/remove-sig pm
/sig architecture
/area enhancements
/unassign @guineveresaenger @nikopen

[2020-04-16 00:43] justaugustus commented on #651
/remove-sig pm
/sig contributor-experience architecture
/area enhancements
/assign @justaugustus @mrbobbytables

[2020-04-16 00:45] justaugustus commented on #3266
Obsolete with the retirement of SIG PM: https://github.com/kubernetes/community/issues/4721
/close

[2020-04-16 00:45] #3266 closed

[2020-04-16 01:24] justaugustus commented on #3456
Mislabeled:
/remove-area enhancements

[2020-04-16 02:20] gkarthiks commented on #2565
/assign @gkarthiks

[2020-04-16 02:23] gkarthiks commented on #2565
hi @mrbobbytables, I was OOO for last month. Just returned back; sorry I missed your cut-off date.

With the `kind/design` label there's only one MR and kinda active that is. Posted a comment in that.  Can we re-consider the cut-off date again?

[2020-04-16 11:13] nikhita commented on #4723
/sig contributor-experience
/sig release

cc @justaugustus @mrbobbytables

[2020-04-16 12:29] mrbobbytables commented on #4723
I think the removal will need to be manually reconconciled -- It looks like they're a vestigial piece from mungegithub. -- I didn't see it in the history of label_sync.

[2020-04-16 18:53] zestrells commented on #4109
/assign

[2020-04-16 19:11] johnbelamaric commented on #2323
Also sig-arch needs cleanup: https://github.com/kubernetes/org/issues/1798

[2020-04-16 20:15] justaugustus commented on #2323
SIG Arch is cleaned up here: https://github.com/kubernetes/org/pull/1799

[2020-04-17 12:49] gkarthiks commented on #2565
@mrbobbytables  we don't have any open MR's apart from the one which was with the design label but yo said not to worry about that (https://github.com/kubernetes/community/pull/4648#issuecomment-614617157). Should we close this issue then?

[2020-04-17 12:58] mrbobbytables commented on #2565
@gkarthiks Nope -- this should remain open for now until they're actually migrated out. We setup blockade to prevent any PRs from being merged that touch the design-proposal directory for the interim. 👍

[2020-04-17 15:22] mbbroberg commented on #4626
Noting during the upstream marketing meeting today -- still waiting to hear back from Twitter for an API key to use github actions.

[2020-04-17 15:30] mbbroberg commented on #4446
Meeting notes: cc @jonasrosland you'll end up helping @rajula96reddy move forward with automation.

[2020-04-17 15:31] jonasrosland commented on #4446
Sounds great!

[2020-04-17 15:39] mbbroberg commented on #4707
Context from a team meeting: These are opportunities to write compelling stories. Comment here to claim one and we'll support you in writing it through the Upstream Marketing Team (then track it on [our editorial](https://github.com/orgs/kubernetes/projects/41)). ✍️ 🎉

[2020-04-17 15:48] mbbroberg commented on #3654
SIG Windows is claimed! @kaslin has that as a new contributor to upstream marketing team.

Tips to get started:

- Jump in the Slack channel and offer to get on the phone and talk through what's going on
- "Is there something that your SIG is really looking for right now?"
  - Contributors? Users? Awareness?
  - Whatever they offer ends up as the call to action for the article
- Start writing! Whe

[2020-04-17 15:52] mbbroberg commented on #4710
@onlydole love the idea. It'd be great to advertise / feature alpha features regularly. Let's talk through what a programmatic approach to this looks like.

[2020-04-17 15:55] mbbroberg commented on #4710
@mrbobbytables talking through this in practice:

- Alpha feature gets published
- Discuss (in Discourse) thread starts for that feature
- We're notified to write an article about the feature and embed the Discuss thread as the call to action at the end of the article

[2020-04-17 16:03] mbbroberg opened #4726 "Add @Pensu as APAC liaison for ContribEx / Upstream Marketing Team"
@Pensu has been a huge help to coordinating across time zones and we'd like to officially recognize that valuable role to the Kubernetes community and our squad.

Action: Document this role and list him.

To decide: Is this under the marketing team docs or all of contribex?

cc @parispittman

[2020-04-17 16:06] mbbroberg commented on #4726
/sig contributor-experience
/area contributor-comms
/kind documentation

[2020-04-17 21:55] markyjackson-taulia commented on #4397
@Avni-Sharma Is this still in progress?

[2020-04-19 23:20] justaugustus commented on #2730
/remove-sig pm
/area enhancements

[2020-04-19 23:21] justaugustus commented on #2728
/remove-sig pm
/area enhancements

[2020-04-19 23:21] justaugustus commented on #2728
/sig arch

[2020-04-19 23:22] justaugustus commented on #2728
/sig architecture

[2020-04-19 23:22] justaugustus commented on #2726
/remove-sig pm
/sig architecture
/area enhancements

[2020-04-19 23:23] justaugustus commented on #2245
/remove-sig pm
/sig architecture
/area enhancements

[2020-04-19 23:23] justaugustus commented on #914
/remove-sig pm
/sig architecture
/area enhancements

[2020-04-19 23:23] justaugustus commented on #531
/remove-sig pm
/sig architecture
/area enhancements

[2020-04-20 00:02] taamit1 commented on #2730
Please Unsubscribe me from this thread.

On Sun, Apr 19, 2020 at 7:21 PM Stephen Augustus <notifications@github.com>
wrote:

[2020-04-20 01:13] justaugustus commented on #4721
I think we're all set here, but feel free to open follow-up issues as needed.
/close

[2020-04-20 01:13] #4721 closed

[2020-04-20 06:58] parispittman commented on #4676
link fixed - thank you for reporting!!

/close

[2020-04-20 06:58] #4676 closed

[2020-04-20 07:13] parispittman opened #4728 "adding area/contributor-comms label to other repos"
need to add the area/contributor-comms label to:
kubernetes/website (we are blogging there) and
kubernetes/enhancements (if the author and reviewer/approvers would like a wider net of comments, feedback, +anything else)

labels.yaml needs to be updated. might not be a good first issue because of my lack of time to mentor but a good help wanted if you've done this before:)

[2020-04-20 07:37] parispittman commented on #3183
moving to close this issue as I don't have the time to do exactly whats scoped here but we are moving towards something like this with the addition of the sig chair folder and the meetings. if others disagree and/or can work on it, feel free to reopen.

/close

[2020-04-20 07:37] #3183 closed

[2020-04-20 07:40] nikhita commented on #4728
I have bandwidth and I'm happy to help out with this! :)

/good-first-issue

Steps on how to proceed here:

- The [labels.yaml](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml) file defines all the labels that are used in the Kubernetes project across multiple repos. The file configures what a label's color and description is, what repos a label should be present in, et

[2020-04-20 08:20] lfrancke commented on #4728
If no one else gets to this before then I'd take a look (first issue for me) at it this afternoon. Thank you @nikhita for the offer to help.

[2020-04-20 12:07] lfrancke commented on #4728
@nikhita Thank you for the detailed instructions. It'd have taken me ages otherwise.

[2020-04-20 12:27] nikhita commented on #4728
@lfrancke Glad it helped! :smile:

[2020-04-20 12:36] nikhita commented on #4728
Will remove the good first issue label since @lfrancke has got it covered :)

/remove-good-first-issue

[2020-04-20 15:07] #3237 closed

[2020-04-20 18:33] spiffxp commented on #4516
PR to review: https://github.com/kubernetes/community/pull/4729 

[2020-04-20 19:18] spiffxp commented on #4673
Discussed during steering and we're fine with the compromise I suggested.  We can use the leads mailing list.  We have tech/process debt to pay down before we go any further.

[2020-04-20 19:19] spiffxp commented on #4673
I don't have the ability to pull members from kubernetes-sig-leads@ but if someone assigns me the PR to k8s.io I can work to reconcile

[2020-04-20 20:03] spiffxp commented on #4445
Discussed during steering.  We want to better understand what specific problems occurred that this is trying to solve.  Subprojects and Groups (SIGs, WGs, etc) both suffer from "leads" and OWNERS files falling out of sync, just in different directions (viz all the OWNERS_ALIAS files that are copied around).

If this is a question of a point person for responsive to the release-team, we had some th

[2020-04-20 20:37] spiffxp commented on #3541
It looks like contributors@kubernetes.io has Group Admin privileges for kubernetes.io.  That means it can create, read, update, and delete groups.  Now that we have automated managed of kubernetes.io groups and their membership via [k8s.io/groups/groups.yaml](https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml), I'd like to suggest we revoke this permission.

The ability of contrib

[2020-04-20 22:11] parispittman commented on #3541
@spiffxp pls do revoke. community@ would be an example of one group that they should still manage though but that is probably lumped into your perserved note.

[2020-04-20 23:25] spiffxp commented on #3541
OK, I just revoked the Group Admin role.  If you find you are suddenly unable to do what you need, please open an issue in kubernetes/k8s.io and ping us #wg-k8s-infra on slack

[2020-04-21 02:12] laik opened #4733 "how to limit pod select a range node on namespace dimension"
After creating a namespace, specify the pods published in this namespace on a part of the nodes.

[2020-04-21 02:14] laik commented on #4733
/sig node

[2020-04-21 02:14] laik commented on #4733
/sig namespace

[2020-04-21 17:07] mrbobbytables commented on #4733
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-04-21 17:07] #4733 closed

[2020-04-21 20:04] markyjackson-taulia commented on #4010
/remove-lifecycle stale

[2020-04-22 02:20] medyagh opened #4736 "REQUEST: Windows VMs for minikube integration test"
### GitHub Username
medyagh

### Property you'd like to Moderate
need windows VMS capable of running hyperV to run minikube's integration tests

### Info
Hi I am one of minikube's maintainers and I need to add windows integration tests for minikube, I would like to get Windows VMs in the the cloud capable of running HyperV, provided by CNCF budget for our integration tests
https://github.com/kuber

[2020-04-22 13:50] nikhita commented on #4736
@medyagh Can you open an issue with more details in the kubernetes/funding repo - https://github.com/kubernetes/funding/issues/new/choose? Specifically, we would need more information about expected budget (the issue templates should help with filling all the necessary info).

A good example of this is https://github.com/kubernetes/steering/issues/156.

I'll keep this issue open until a new issue

[2020-04-22 14:31] idvoretskyi commented on #4736
@medyagh you may want to request the compute resources on the CNCF Cluster (backed by Packet.com) - https://github.com/cncf/cluster.

[2020-04-22 17:02] hh commented on #1644
/assign

[2020-04-22 17:05] hh commented on #1644
Do we have any numbers for OS starting points:

- Windows 10
- OSX
- Linux

I bought an Mac so I could help in this area, and I also thought of setting up VMs to walk through from scratch on each OS as well.

[2020-04-22 17:07] mrbobbytables commented on #2759
/assign @hh

[2020-04-22 17:24] hh commented on #3654
/cc @hh

[2020-04-22 17:42] nevermyuk commented on #1644
/assign

[2020-04-23 03:21] nikhita commented on #4728
Fixed in https://github.com/kubernetes/test-infra/pull/17297

Thanks again, @lfrancke!

/close

[2020-04-23 03:22] #4728 closed

[2020-04-23 05:27] nikhita commented on #4469
From April 23 APAC meeting, @idealhack to create a google doc to start collaborating on questions we can ask on the blog post.

We'll also be using the doc to draw a list of folks who would like to help out with the blog posts (per country/region) and folks we'd like to interview. This should help us with estimating timelines for scheduling the blog posts (thanks @palnabarun for the idea!)

[2020-04-23 05:47] idealhack commented on #4469
thanks for all the discussions today, the doc is here: https://docs.google.com/document/d/1zB-FOvfbnKbiWlGgInnDB06hDfLsTQuuKsXQCqc-lL0/edit

[2020-04-23 09:20] lfrancke commented on #4728
Thanks for your help @nikhita!

[2020-04-23 15:04] castrojo opened #4737 "Archive contributor experience meeting notes"
This is an issue for new contributors to help out with something bite sized, if you're already a contributor please leave this issue for new folks.

ContribEx keeps our meeting notes here: https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/edit#

When gdocs get too large they get slow and annoying to edit, so we should regularly commit these to github. Use a tool like

[2020-04-23 15:07] castrojo commented on #4737
Here's the naming convention for the community meeting notes archive if you want to steal that format: https://github.com/kubernetes/community/tree/master/communication/meeting-notes-archive

[2020-04-23 17:12] kushthedude commented on #4737
/assign

[2020-04-23 17:53] hh commented on #1644
@nevermyuk came across a windows dev setup written by @PatrickLang
- https://github.com/PatrickLang/kubernetes-windows-dev#setting-up-a-devbuild-environment

Might be good to have some folks run through it a few times and create podcast or recording of going through that flow. Might be interesting to try and consolidate a flow that works across Mac/Linux/Windows.

[2020-04-24 05:13] Avni-Sharma commented on #4397
Hi @markyjackson-taulia . No, We can close this now. Thanks!

[2020-04-24 05:13] #4397 closed

[2020-04-24 17:04] #4715 closed

[2020-04-25 00:09] LappleApple opened #4743 "Revising Issue Triage page to include workflow/automation KEP details, other adds"
I've created a [draft revision](https://github.com/kubernetes/community/pull/4744/files) of the [issue triage guide](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md), and shared it in the #contribex channel to get some feedback (received).

Some highlights:
- Tools section that mentions Gubernator, Project Boards, DevStats, etc.
- Process Pointers from SIGs o

[2020-04-25 00:26] LappleApple commented on #4743
/sig contributor-experience
/assign LappleApple

[2020-04-25 09:16] palnabarun commented on #4469
/assign

[2020-04-25 23:36] markyjackson-taulia commented on #2657
<img width="1318" alt="Screen Shot 2020-04-25 at 4 27 02 PM" src="https://user-images.githubusercontent.com/16655670/80293163-c0610900-8711-11ea-8c54-39e58d89ba1d.png">
This is the concept I am thinking about.
1. Mentee wishing to be mentored fills out the google form. Via automation, a PR is opened with appropriate mentoring subproject labels.
2. Either manually or via automation, the form is mat

[2020-04-25 23:51] markyjackson-taulia commented on #2663
For issue #2657, the mentoring 1:1, I have proposed a flow

[2020-04-28 03:43] parispittman commented on #4710
this falls under the same premise as #4729 and both processes should match for getting approvals, etc

[2020-04-29 13:33] wojtek-t commented on #4454
/remove-lifecycle stale

[2020-04-30 16:26] leexiaominghub opened #4750 "Is there a way I can compile k8s and make docker images of compoments of control plane just with go and gcc not kube-cross?"
I didn't see this way in the dir of building.

[2020-04-30 16:30] leexiaominghub opened #4751 "Which component guarantees that the modification of the configmap conforms to the configmap format?"
ie, when I add "- --v=4" to kube-proxy as flag after "--config" flag, it report an error and forbid this modification, does apiserver do this? and which port of apiserver do this ?thanks

[2020-04-30 16:31] leexiaominghub opened #4752 "Which IDE can help us write source code and make unit test?"
GOland? or others? thanks

[2020-04-30 21:27] LappleApple commented on #4577
Hi everyone:

Apologies in advance if what I write is super-obvious or totally off-base (still a bit new around here), but here are some thoughts...

Ideally a team wants to have someone minding:
-  **the roadmap**: from Paris' suggestions above, that would be the SIG Chair. So they'd be guiding "the why," and would ideally demonstrate through actions that they value alignment, responsiveness in c

[2020-05-01 11:58] mrbobbytables commented on #4712
@chauncey-77 I'm going to go ahead and close this out. If you have any other questions, please feel free to reach out to me directly.

/close

[2020-05-01 11:59] #4712 closed

[2020-05-01 14:06] rikatz opened #4754 "Specific issue lifecycle behavior for each SIG"
Hello :wave:

In the last [SIG Network](https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM/edit) meeting, a question was raised about what's the default policy of the SIG for issues lifecycle, when the issue is stale needing some user feedback like if it was solved or not, or even if it needs more information to reproduce it.

There was not really a 'default policy', a

[2020-05-01 14:07] rikatz commented on #4754
/sig contributor-experience

[2020-05-01 14:36] mrbobbytables commented on #4754
While I understand the idea behind this. I'm -1 on this at least for at least large shared repos k/k, k/community, and k/enhancements.
A few issues that come to mind:
- Issues and PRs can (and do frequently) have more than one sig involved. Which sig's settings take priority? What if one sig's SLA is different than the others?
- Confusion: "Why was my issue closed here in 2 weeks, where this one w

[2020-05-01 15:04] rikatz commented on #4754
@mrbobbytables thank you.

My thoughts about your concerns:

Maybe this could be solved with the 'bigger SIG configuration', like if SIG A have a config of 10 days and SIG B a config of 90 days, follow the bigger one.

I do agree with this one. This could also push out people of working with a specific SIG with more strict rules. But maybe the bot could provide a feedback of WHY that issue is bein

[2020-05-01 17:56] cblecker commented on #4754
The lifecycle bot closing is supposed to be the "last resort" (which is why it takes 150 days for it get cleaned up). If SIG Network wants to close an issue earlier, can't we just `/close` it?

[2020-05-01 18:30] parispittman commented on #4577
@LappleApple the definition of member you are using here is SIG member right? the older doc states that member in this docs case is chair, tl, and subproject owner and not sig member so want to make sure we are on the same page. that is the reason behind this issue.

I like the breakout sections by area/function/umbrella action. I think the why needs to be explicitly drawn out for the first sectio

[2020-05-01 18:31] thockin commented on #4754
We're currently doing this manually, yes.  The question is whether this is common enough to warrant EVEN MORE issue lifecycle management automation.  E.g.  We don't have a `/ball-is-in-OPs-court` command+label, but if we did it seems reasonable to auto-close those faster than 90d.

E.g.
day0: user files issue
day2: sig triage asks for info and sets `/triage info-needed`
day16: sig ignores it becau

[2020-05-01 19:05] parispittman commented on #4754
✨ this sounds like a good discussion for the next sig chairs meeting :) ✨ could scope how this may or may not appeal to other sigs

[2020-05-01 19:47] cblecker commented on #4754
There might be some room for automation around the "this is pending on author info, and should auto-close quicker if we don't get a response". I personally don't know if the ROI is worth it though.

Where things get really bad from a contributor UX perspective is if there are different bars depending on the SIG label. Consistency between repos and sigs is a key recurring issue.. the situation wher

[2020-05-03 06:16] LappleApple commented on #4577
Hi @parispittman: That's right, SIG Member. Noted re: wanting Chairs to run the daily/weekly SIG mechanics; these duties could then be rotated or shared among a SIG's Chairs.

[2020-05-04 12:35] nikhita commented on #4673
@castrojo @mrbobbytables @parispittman do y'all know who has access to https://groups.google.com/forum/#!forum/kubernetes-sig-leads?

[2020-05-04 16:09] parispittman commented on #4673
i have access, so does @castrojo @jdumars @idvoretskyi @mrbobbytables (through contributors@) lmk where i can send the info

[2020-05-05 08:53] nikhita commented on #3954
/remove-lifecycle stale

[2020-05-05 14:09] castrojo commented on #4752
Hi!  GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.k

[2020-05-05 14:10] #4752 closed

[2020-05-05 14:10] castrojo commented on #4751
Hi!  GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.k

[2020-05-05 14:10] castrojo commented on #4750
Hi!  GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.k

[2020-05-05 14:10] #4751 closed

[2020-05-05 14:10] #4750 closed

[2020-05-05 16:54] celanthe commented on #3654
Another update from me--The first post in my K8s-infra-wg blog series has been sent for review to @onlydole and @mbbroberg :)

[2020-05-06 23:26] mbbroberg commented on #4616
Fixed by #4679 🎉

[2020-05-06 23:26] #4616 closed

[2020-05-07 01:41] #4737 closed

[2020-05-07 04:03] vishal1991gupta commented on #4562
Hi, I want to be part of this journey. :)

[2020-05-07 15:18] jai opened #4764 "Minor typo in sig-api-machinery/strategic-merge-patch.md"
"mutual exclusive" -> "mutually exclusive"
Full path - contributors/devel/sig-api-machinery/strategic-merge-patch.md

PR: https://github.com/kubernetes/community/pull/4763

[2020-05-07 15:20] jai commented on #4764
/sig docs

[2020-05-07 18:13] tallclair commented on #2992
/remove-lifecycle stale
/lifecycle frozen

[2020-05-08 20:20] mrbobbytables commented on #4366
With the cancellation of the EU summit, I'm going to go ahead and close out the remaining open issues. If you think something should still be addressed. Please go ahead and reopen 👍

/close

[2020-05-08 20:21] #4366 closed

[2020-05-08 20:22] mrbobbytables commented on #4365
With the cancellation of the EU summit, I'm going to go ahead and close out the remaining open issues. If you think something should still be addressed. Please go ahead and reopen 👍

/close

[2020-05-08 20:22] #4365 closed

[2020-05-08 20:23] mrbobbytables commented on #4406
With the cancellation of the EU summit, I'm going to go ahead and close out the remaining open issues. If you think something should still be addressed. Please go ahead and reopen 👍

/close

[2020-05-08 20:23] #4406 closed

[2020-05-08 20:23] mrbobbytables commented on #3995
With the cancellation of the EU summit, I'm going to go ahead and close out the remaining open issues. If you think something should still be addressed. Please go ahead and reopen 👍

/close

[2020-05-08 20:24] #3995 closed

[2020-05-08 20:25] mrbobbytables commented on #4549
I've transferred this issue over to mentoring to keep track of status for now 👍

[2020-05-09 14:29] palnabarun commented on #4365
This issue needs no further work.

Thanks Bob for closing the issue. :+1:

[2020-05-09 14:29] palnabarun commented on #4366
This too needs no further work.

Thanks again for closing this. :+1:

[2020-05-11 17:02] LappleApple commented on #4743
Hi, I've made changes based on posted comments so perhaps this is ready for another look?

[2020-05-12 15:46] LappleApple commented on #4149
Hi all: this has been moving forward, but has lots of moving parts/SIG specifics to wrap one's head around so it takes some time. Help is welcome, mainly around SIG outreach; get in touch if you'd like to contribute on that front.

Meantime, wanted to share [this DevStats feature request](https://github.com/cncf/devstats/issues/248)—it aims to automate a manual data collection effort that I conduc

[2020-05-12 16:53] wabernatScality opened #4772 "Documentation: "Naming Conventions" errata"
The Naming Conventions section (https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions) has the following issues:

* First bullet: "Go field names must be CamelCase. JSON field names must be camelCase. Other than capitalization of the initial letter, the two should almost always match. No underscores nor dashes in either."
  *

[2020-05-12 17:01] wabernatScality commented on #4772
/sig docs

[2020-05-12 17:28] mrbobbytables commented on #4764
/close

[2020-05-12 17:28] #4764 closed

[2020-05-12 17:31] mrbobbytables commented on #4772
/remove-sig docs
/sig architecture

[2020-05-12 19:14] dustymabe commented on #4496
/remove-lifecycle stale

[2020-05-12 19:14] dustymabe commented on #4496
Anyone care to comment on this request?

[2020-05-13 13:22] divya-mohan0209 commented on #4772
/assign

[2020-05-14 09:39] sftim commented on #4772
Also relevant to
/sig docs

[2020-05-14 21:24] alculquicondor opened #5466 "Document how to create in-tree plugins"
We have recently changed how plugin args are parsed, defaulted and (#90859) validated.

The process is more complicated than most standard API uses.
We need to document this, probably in a new `pkg/scheduler/framework/plugins/README.md`.

Details for out-of-tree plugins can go to https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/

/kind documentation
/sig scheduling
/hel

[2020-05-14 22:23] aramase opened #4775 "REQUEST: New Slack channel #csi-secrets-store"
**GitHub Username:**

aramase
ritazh

**Slack Username:**

aramase
ritazh

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

Channel

**Name of Requested Resource:**
#csi-secrets-store

**Description of Request:**
Need a place to discuss [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver) matters in the community

[2020-05-14 22:23] aramase commented on #4775
cc @ritazh @karenhchu

[2020-05-15 16:10] mbbroberg opened #4780 "Document storytelling process"
Document a default article flow for interviewing people from the technology standpoint and the editorial one.

First take:

Tools:

- Google doc with questions for SIG/interviewee (give a due date for responses)
- Create another document for the article draft in either Google Docs or hackmd
- Invite feedback for the draft and iterate
- Open a PR for the final draft

Editorial tips:

- Start with y

[2020-05-15 16:10] mbbroberg commented on #4780
/assign @mbbroberg

[2020-05-15 17:49] LappleApple commented on #651
Heya, two things:

- was there agreement on @lachie83's points/did he get answers to his questions?
- is there a relationship between this and [#651](https://github.com/kubernetes/community/issues/651) that should be clarified or noted here and/or there?

[2020-05-15 17:51] #4775 closed

[2020-05-15 17:57] mrbobbytables commented on #651
This can probably be closed or should be closed once design proposals have been moved over to the enhancements repo for archival.
ref: https://github.com/kubernetes/community/issues/2565#issuecomment-615230060

@justaugustus what do you think?
Personally I'm in favor or just closing it in favor of keeping #2565 open till the move is complete.

[2020-05-15 18:45] LappleApple commented on #3795
Also following up here—has this been resolved/partly resolved? Or maybe it's referenced elsewhere, in another issue or in docs?

[2020-05-15 18:51] LappleApple commented on #3795
Update: @mrbobbytables says this is now being discussed in the #Enhancements Slack channel.

[2020-05-15 19:52] mrbobbytables commented on #1007
I'm going to go ahead and close this out. If this is still relevant, please go ahead and reopen or create a new issue.

/close

[2020-05-15 19:52] #1007 closed

[2020-05-15 21:22] parispittman opened #4781 "sig-gov de-dupping evolution continues.."
we merged and want to iterate again now on [sig-governance.md](https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md) based on some comments that were left from folks and what we see as gaps now that we've collated

tasks:
- [ ] take the first section about general sig operations and simplify this so it isn't a repeat of the chair duties below. a way t

[2020-05-15 21:29] divyabhushan commented on #4781
/assign

[2020-05-16 07:33] gkarthiks opened #4782 "REQUEST: New tool integration with Kubernetes community"
**GitHub Username:** @gkarthiks

**Slack Username:** Karthik

**What Type of Request is it ?**
There is a commercial app named **[Zapier](https://zapier.com/)** which connects multiple web applications.
For when a netlify application deployment is succeeded, we can trigger a slack-channel message, email announcement, tweet etc as shown in the fig below.

But there is one thing to note, to integrat

[2020-05-16 07:37] coderanger commented on #4782
Is this re: https://github.com/rajula96reddy/k8s-slack-contribex-marketing-bot ?

[2020-05-16 07:40] gkarthiks commented on #4782
Not directly, but something like that can be used as a source of truth for rest of the communications. This commercial app (zapier) is capable of much more automated works. Not sure if that is something we should invest in. So looking for some thoughts and comments here from everyone.

[2020-05-16 07:41] coderanger commented on #4782
I think you should update the top comment with a much more detailed description of what you are proposing then.

[2020-05-16 07:54] gkarthiks commented on #4782
Thanks @coderanger, I have updated to my best. lemme know if this needs more detailed information.

[2020-05-16 07:57] coderanger commented on #4782
What specific flows are you suggesting we create? We would probably want those worked out ahead of time to avoid creating a spam problem.

[2020-05-16 21:16] coderanger commented on #4782
Also is this request coming from SIG-ContribEx? We don't generally allow this kind of thing, I might have been misunderstanding last night if this was an official SIG request or just you personally working on something?

[2020-05-18 10:59] tfkinc opened #4786 "Cluster communication fails when spanning across class B and C networks"
Our production cluster is running fine on k8s 1.12.3-rancher1-1 having several nodes in two different networks: 192.168.225.0/24 (2) and 172.30.0.0/24 (6).
When upgrading the cluster to any newer version of k8s (verified with 1.16.4-rancher1-1 and 1.17.5-rancher1-1) communication between nodes of these networks fails.

To reproduce the issue set up the following environment. It is not necessary to

[2020-05-18 11:01] tfkinc commented on #4786
/sig network

[2020-05-18 11:14] mrbobbytables commented on #4786
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-05-18 11:14] #4786 closed

[2020-05-18 12:53] qq843700497 commented on #3899
I  want to be a new contributor, I agree with @BenTheElder

[2020-05-18 17:50] mrbobbytables commented on #567
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now, if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-18 17:51] mrbobbytables commented on #155
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now, if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-18 19:43] mrbobbytables commented on #300
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now, if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-18 19:44] mrbobbytables commented on #357
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now, if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-18 19:45] mrbobbytables commented on #566
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now, if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-18 19:45] mrbobbytables commented on #767
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now, if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-18 19:46] mrbobbytables commented on #691
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now, if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-18 19:48] mrbobbytables commented on #566
Woops, was hitting the contribex frozen issues and hit this one as well. I'll re-apply the freeze.
/lifecycle frozen

[2020-05-18 20:17] lavalamp commented on #300
@deads2k mostly fixed this for group names, IMO.

But labels still have this problem?

[2020-05-18 20:30] lavalamp commented on #357
This is miscategorized, it belongs to the api review subproject of sig arch, IMO

[2020-05-18 21:22] thockin commented on #300
This is still relevant.  It's something we actually need to do.

[2020-05-18 21:23] mrbobbytables commented on #300
/remove-lifecycle rotten

[2020-05-19 11:38] mrbobbytables commented on #357
/remove lifecycle-rotten
/remove-sig api-machinery
/sig architecture

[2020-05-19 18:33] rajula96reddy commented on #4446
Update:
Opened an issue on `slack-infra` regarding integrating the bot to infra
https://github.com/kubernetes-sigs/slack-infra/issues/32

[2020-05-19 18:52] lfrancke opened #4790 ""Meet our contributors" weird sentence"
I initially opened this in the wrong repo: https://github.com/kubernetes-sigs/contributor-site/issues/130

The Meet our Contributors page has this sentence:

Something seems to be missing in that sentence.
I'm not sure what the intention was.
In addition, there's no calendar to be found at that site.

Happy to create a PR to just remove that sentence..

[2020-05-19 18:53] lfrancke commented on #4790
/sig contributor-experience

[2020-05-19 20:24] markyjackson-taulia commented on #4790
@lfrancke Pr would be awesome!

[2020-05-19 20:28] lfrancke commented on #4790
Sure, I'm just not sure what it should say. Are you fine with just removing that bit?

[2020-05-20 12:24] mrbobbytables commented on #4718
This has been done \o/
/close

[2020-05-20 12:24] #4718 closed

[2020-05-20 15:34] mrbobbytables commented on #1819
I think we can actually close this issue in favor of the KEP and the current issues etc under the contributor site repo.

Any objections?

[2020-05-20 15:36] mrbobbytables commented on #651
I'm going to go ahead and close this asI think the discussion for design proposals is happening under #2565 . If it should be reopened please go ahead and open it back up again 👍

/close

[2020-05-20 15:37] #651 closed

[2020-05-20 15:37] justaugustus commented on #1819
Go for it!

[2020-05-20 16:00] mrbobbytables commented on #1819
/close
/pony salute

[2020-05-20 16:01] #1819 closed

[2020-05-20 17:08] karan opened #4795 "Add docs on running specific node test suite"
I'm trying to run a specific test suite remote.

For ex if I want to run https://testgrid.k8s.io/sig-node-containerd#containerd-node-features, I can't figure out how to run just that. The prow job for the test has `--test_args=--nodes=8 --focus="\[NodeFeature:.+\]" --skip="\[Flaky\]|\[Serial\]"` but those seem to run other tests (`make test-e2e-node REMOTE=true FOCUS="\[NodeFeature:.+\]" SKIP="\[F

[2020-05-20 17:08] karan commented on #4795
/sig node

/area node-e2e

/kind documentation

[2020-05-20 17:24] markyjackson-taulia commented on #3776
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-20 17:26] markyjackson-taulia commented on #3481
Is this still relevant? It's been open and frozen for some time now.
I'm going to mark it as rotten for now if it should be left open please update or re-freeze it 👍

/remove-lifecycle frozen
/lifecycle rotten

[2020-05-20 17:27] markyjackson-taulia commented on #3456
/remove-lifecycle frozen

[2020-05-20 17:29] markyjackson-taulia commented on #3277
/remove-sig contributor-experience

[2020-05-20 17:30] markyjackson-taulia commented on #3064
We need to break this down into workable chunks. This should be a focus meeting to do this

[2020-05-20 17:31] thockin commented on #3456
When can we hope to see this in action?

On Wed, May 20, 2020 at 10:27 AM Marky Jackson <notifications@github.com>
wrote:

[2020-05-20 17:33] markyjackson-taulia commented on #2951
/close per @castrojo

[2020-05-20 17:34] markyjackson-taulia commented on #2951
per @castrojo
/close

[2020-05-20 17:34] #2951 closed

[2020-05-20 17:34] justaugustus commented on #3456
@thockin -- I had some Releng work to do with anago, but will be picking this up later in the week and next week.

The PR is already mostly complete here: https://github.com/kubernetes/test-infra/pull/16298

[2020-05-20 17:35] markyjackson-taulia commented on #2873
/remove-lifecycle

[2020-05-20 17:35] markyjackson-taulia commented on #2873
/remove-lifecycle frozen

[2020-05-20 17:38] mrbobbytables commented on #2770
Jorge and I will finish the tasks out on this one.
/assign @castrojo @mrbobbytables
/remove-lifecycle frozen

[2020-05-20 17:40] hh commented on #2663
/assign @hh

[2020-05-20 17:41] markyjackson-taulia commented on #2565
/remove-lifecycle frozen

[2020-05-20 17:42] markyjackson-taulia commented on #2441
/unassign @vishakhanihore

[2020-05-20 17:43] markyjackson-taulia commented on #2441
/assign @markyjackson-taulia add SD CS testgrid video

[2020-05-20 17:43] markyjackson-taulia commented on #2441
/assign @markyjackson-taulia

[2020-05-20 17:44] markyjackson-taulia commented on #2307
Ping @justaugustus Is this still valid? Is this not covered by the KEP process?
/remove-lifecycle frozen

[2020-05-20 17:46] hh commented on #2050
/cc

[2020-05-20 17:48] markyjackson-taulia commented on #1693
/remove-lifecycle frozen

[2020-05-20 17:49] parispittman commented on #3481
It’s definitely still relevant because we aren’t doing any of the above now and need more help.

[2020-05-20 17:50] hh commented on #2657
/cc

[2020-05-20 21:42] shannonmitchell opened #4797 "openstack-volume driver unable to find virtio-scsi devices."
The issue is with this device matching code in the openstack_volumes.go file:  https://gitlab.dev.cncf.ci/kubernetes/kubernetes/blob/6c7afd1222ebf2cb91567364471d74ac056437b7/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L483

It is limiting the volumeid to 20 characters when looking for /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_<volumeID> devices.  We are seeing the full volume id with

[2020-05-20 21:43] shannonmitchell commented on #4797
/sig cloud-provider

[2020-05-20 22:57] kaslin opened #4798 "Contributor Marketing Team: Create Storyteller Resources Folder"
It would be useful to have a folder in kubernetes/community/communication/marketing-team to contain resources for Storytellers. For example, examples of past interview questions for the SIG highlight blog series. We may produce other resources for other storyteller activities which we would also want to include, so a folder might be the best way to organize it.

/assign @mrbobbytables
/assign @mbb

[2020-05-20 23:05] kaslin commented on #4798
/sig contributor-experience

[2020-05-21 02:22] jeefy opened #4799 "REQUEST: New Slack channel #contributor-discussion"
**GitHub Username:** @jeefy
/cc @parispittman @BenTheElder

**Slack Username:** jeefy

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Channel proposal

**Name of Requested Resource:**
#contributor-discussion

**Description of Request:**
This isn't officially a channel request, no no. This is just a tribute (placeholder)

Context: https://kubernetes.slack.com/archives

[2020-05-21 02:40] BenTheElder commented on #4799
To elaborate here:

I think we could try to moderate #kubernetes-dev, but I think it may be a somewhat futile and counter productive effort. I think most users simply join the slack, and look around by channel name. The channel descriptions are truncated and not super prominent in most of the slack UI.

It's a reasonable enough guess that "kubernetests dev" is a channel for developing _on_ kuberne

[2020-05-21 02:41] BenTheElder commented on #4799
... once upon a time this purpose was served by #google-containers on freenode :-)

[2020-05-21 13:17] shannonmitchell commented on #4797
Looks like there is a related open PR(https://github.com/kubernetes/kubernetes/pull/89726) and a fix in cloud-provider-openstack.  (https://github.com/kubernetes/cloud-provider-openstack/pull/853)

[2020-05-21 13:28] mrbobbytables commented on #4797
The community repo is used as the general management point of Kubernetes contributor community. Questions like that are not likely to be answered here. I'd follow up in one of those open issues.

/close

[2020-05-21 13:28] #4797 closed

[2020-05-21 14:08] LappleApple commented on #4584
Hiya, the [preferred channels for immediate contact chart](https://docs.google.com/spreadsheets/d/1osoBcTtzjiXfvojEa_-I-8-TZagUuZjaFePIteV-9CM/edit#gid=0) now misses only seven folks' info. To collect the other 13, I DM'ed people. Most responded immediately, a few responded after two pings. The remainder I will ping again, but it raises a responsiveness "smell."

I'm 99% confident that the lag is

[2020-05-21 14:36] LappleApple commented on #4149
/assign

[2020-05-21 20:57] kaslin commented on #4798
/assign @kaslin

[2020-05-21 22:01] Nuru opened #4801 "Fix inter-pod affinity/anti-affinity design doc"
The Pod Affinity proposal has [an inconsistency](https://github.com/kubernetes/community/blame/master/contributors/design-proposals/scheduling/podaffinity.md#L134-L136) introduced in a [cleanup](https://github.com/kubernetes/kubernetes/pull/20124) in response to a [review comment](https://github.com/kubernetes/kubernetes/pull/18265/files#r50640427).

The proposal is linked to from the [current doc

[2020-05-21 22:02] Nuru commented on #4801
/sig scheduling

[2020-05-22 07:05] bgopalakrishnan1986 opened #4803 "Hyperlink issue on "Go to Certification" button on CKA course"
Hyperlink issue on "Go to Certification" button on CKA course

Page Link: https://kubernetes.io/training/

Github Link: https://github.com/kubernetes/website/blob/master/content/en/training/_index.html

We are missing a double quotes on the href value at the starting, due to that the link on the website has a unnecessary double quotes at the end, but it gets redirected correctly without any issues

[2020-05-22 13:03] nikhita commented on #4803
Transferring issue to the kubernetes/website repo since it's relevant there. :)

[2020-05-22 21:58] cblecker commented on #4799
My gut says creating Yet Another Communication Channel is just going to be plagued by the same issues. I agree that k-dev's usefulness can be improved.

Could something like https://slack.com/intl/en-ca/slack-tips/automatically-onboard-new-channel-members work, where when someone joins k-dev we give them the lowdown on what the channel is about?

[2020-05-22 22:04] #4647 closed

[2020-05-23 02:20] jeefy commented on #4799
I feel like we could make kubernetes-dev the place we want it to be, but it
will involve strict moderation and probably an @channel from an admin
explicitly stating the purpose of the channel and the more stringent
posting guidelines.

That said, at-time-of-reply there are 6937 people in the chat and the
chatter is an even mix of applicable and non-applicable messages.

On Fri, May 22, 2020 at 5:5

[2020-05-23 14:31] devmarcomcentral commented on #2324
This is the most commented topic so I support it! Devs need to communicate.

[2020-05-24 12:30] mrbobbytables commented on #4801
Thanks for catching that @Nuru -- However it would probably be better to remove the link and/or correct it in the website documentation. =/

Design proposals are currently in an archived state and no longer being updated (PRs updating them are blocked by CI). They're place in the Kubernetes ecosystem has been superseded by [Kubernetes Enhancement Proposals](https://github.com/kubernetes/enhancemen

[2020-05-24 12:33] mrbobbytables commented on #4782
@coderanger It is coming from the marketing team under sig-contribex. Zapier was something we did experiment with some time ago, but not in its slack capacity (cc @castrojo)

[2020-05-24 19:26] cblecker commented on #4801
As @mrbobbytables mentioned, design docs are the original point in time designs.. and the website documentation says that they "contain extra background information about these features".

/close

[2020-05-24 19:27] #4801 closed

[2020-05-24 20:18] coderanger commented on #4782
@mrbobbytables Yeah, my understanding was we decided to move forward with the bot rather than Zapier though? I might just be missing a loop :)

[2020-05-25 22:28] parispittman commented on #4799
I like the idea of changing to the word contributor. But I also like the idea of moderating the channel because of 5k+ people in it already.

[2020-05-26 15:52] jberkus commented on #4010
Is this duplicative of the new NCW effort, or not?

[2020-05-26 15:53] jberkus commented on #3481
/needs-help
/good-first-issue

[2020-05-26 15:59] jberkus commented on #3481
Prospective workflow:

1. File an issue for each MOC
2. Volunteer sumarizes notes in the issue
3. member of Youtube team copy-and-pastes

[2020-05-26 18:34] markyjackson-taulia opened #4810 "Update needed areas with new meeting times for contribex mentoring subproject"
New meeting times are:

Tuesdays at 3:30 am GMT, every second and fourth week of the month
Tuesdays at 3:30 pm GMT, every second and fourth week of the month

**Updates should be to the following areas:**
https://github.com/kubernetes/community/blob/master/sigs.yaml#L1208
https://github.com/kubernetes/community/blob/master/mentoring/programs/README.md

[2020-05-26 18:34] markyjackson-taulia commented on #4810
/assign @markyjackson-taulia

[2020-05-26 18:36] markyjackson-taulia commented on #4810
/sig contributor-experience
/area mentorship-planning

[2020-05-26 18:56] MHBauer commented on #4795
I think this is one of the special tests that requires a gcloud setup to run vms.

Looking at the prowjob config, I see the `image-config-file` used, which contains a list of images to run the tests in.

[2020-05-27 07:19] houfangdong opened #4815 "sig/docs about kube-cross image problem"
hello，
I am currently compiling version 1.18.3 and found that the cross mirror repository has been removed.
https://github.com/kubernetes/community/blob/master/contributors/devel/development.md
question：
The image for cross compiling in build / build-image / cross.
It has been moved to k / release / images / build / cross.
But now the link given to the **Upgrading Go chapter** is wrong.
/sig docs

[2020-05-27 09:48] #4810 closed

[2020-05-28 14:55] copejon opened #4819 "Donating Git Org"
We're in the process of opening a new sub-project under sig-storage, for which we'd like to have a git org.  As our team had already created an org named `kubernetes-cosi`, we'd like to hand it over to the sig.  Any code in the org has been transferred out and all repos have been removed.

What's the process by which we can do this?  I was weary of opening a New/Migrate Repo issue as most of the f

[2020-05-28 14:56] #4819 closed

[2020-05-28 16:49] nikhita commented on #2323
/assign @justaugustus

[2020-05-29 15:23] celanthe opened #4823 "REQUEST: New communication about K8s Infrastructure Working Group Blog Post"
**What do you want send out?** A tweet, posts in relevant k/dev forums, networked communities promoting my recent blog post ['An Introduction to the K8s Infrastructure Working Group'](https://kubernetes.io/blog/2020/05/27/an-introduction-to-the-k8s-infrastructure-working-group/)

**What’s the intended outcome?** Gain visibility and traction on the post, drive new membership/contributions to the SI

[2020-05-29 15:24] celanthe commented on #4823
/assign celanthe

[2020-05-29 15:34] mbbroberg commented on #4516
This one is done. We're moving on into implementation phase.

[2020-05-29 15:34] parispittman commented on #4516
Closing this - we are done here

[2020-05-29 15:34] parispittman commented on #4516
/close

[2020-05-29 15:34] #4516 closed

[2020-05-29 15:37] mbbroberg commented on #4626
Note from team meeting today -- this issue will close when we have a documented process for how we review tweets.

So far we're leaning toward a program-based tweets through the issue template, one-off requests can come in through Slack, recurring/regular tweets can be loaded up and :+1: Friday mornings at the team meeting.

cc @chris-short @kaslin who are on point.

[2020-05-29 15:50] jonasrosland opened #4824 "REQUEST: New communication about public Steering Committee Meeting - June"
**What do you want send out?**
A reminder for the public steering committee meeting

**What’s the intended outcome?**
Reminding the contributor community to listen in/participate in the steering committee meeting

**What is the sponsoring SIG or community group?**
SIG Contributor Experience

**Is this time-sensitive?**
- [X] Yes, it is **due by** morning on Monday, June 1, 2020
- [ ] Yes, it **mus

[2020-05-29 15:54] mbbroberg opened #4825 "Automation of twitter posts"
Relates to #4626

We have a number of recurring outreach opporutnities that will come out of the Twitter efforts of contributor communications.

- Occasional `good-first-issue` notifications
- Weekly community group meeting calendar link
- Shout outs from Slack

The exact method to automate isn't determined yet and this issue is intended to capture the discussion around it. These posts will need t

[2020-05-29 15:55] mbbroberg commented on #4825
:point_up: @mrbobbytables that error doesn't seem to be accurate given the labels were applied. Thoughts on it being a bug?

[2020-05-29 17:11] mrbobbytables commented on #4825
@mbbroberg It's occasionally happened before, not sure what triggers it, but can ping in sig-testing about it

[2020-05-29 17:41] justaugustus commented on #4815
/assign
/sig release
/area release-eng

@houfangdong -- I've got updated documentation coming within the next week or two for Go.
cc: @kubernetes/release-engineering

[2020-05-30 19:05] coderanger commented on #2210
As mentioned 90 days ago, this repo is no longer used for SIG design discussions. Closing this out since it is unlikely to be helpful. If you'd like to get more visibility on the topic I'd move the convo to the autoscaling [mailing list](https://groups.google.com/forum/#!forum/kubernetes-sig-autoscaling) / [slack](https://kubernetes.slack.com/messages/sig-autoscaling) and aim to propose a [KEP](ht

[2020-05-30 19:05] #2210 closed

[2020-06-01 03:55] gnydick commented on #2720
The long and the short of it is less than .0000001% of engineering/ops teams have the bandwidth to screw around with deploying, supporting, and upgrading a moving target.

It's common sense 101, you don't make your livelihood dependent on bleeding edge, yet anyone who adopts kubernetes is doing that.

The moment someone releases either a true competitor or a proper LTS, everyone will switch to it.

[2020-06-01 10:31] dims commented on #2720
@gnydick thanks! we are aware of the issues and talk about it all the time, we have a WG for LTS as well. Since you feel so strongly, please help us do better:
https://github.com/kubernetes/community/tree/master/wg-lts

There's a slack channel, weekly meeting, notes/videos from previous meetings if you want to dig into what we have already looked at in the url above.

[2020-06-01 14:36] jonasrosland commented on #4824
This is now complete, closing.

[2020-06-01 14:36] #4824 closed

[2020-06-01 15:28] neolit123 commented on #2720
there is no right way to do API versioning.
backwards compatibility between v1 and beta is plausible but not always the case out there.

the general response to this problem is that k8s needs to enter a more widely present v1 state.
non-v1 APIs are simply WIP and most likely the k8s project needs help with moving them faster to v1 too.

[2020-06-01 16:49] nikhita commented on #3662
/remove-lifecycle stale

[2020-06-01 18:26] nikhita commented on #4673
/assign @parispittman

[2020-06-01 21:19] karan commented on #4795
I think `image` is unrelated to the question here. Unfortunately, https://github.com/contributing-to-kubernetes/gnosis/tree/master/stories/e2e-node-tests don't explain how focus works either.

[2020-06-02 12:02] danielmellado commented on #4496
I would love to see this there as well

[2020-06-02 17:53] MHBauer commented on #4795
Okay, my shot at it, the yaml definition of the job
we see `--test_args=--nodes=8 --focus="\[NodeFeature:.+\]" --skip="\[Flaky\]|\[Serial\]"`
that would be `PARALLELISM=8 FOCUS="\[NodeFeature:.+\]" SKIP="\[Flaky\]|\[Serial\]"`

I'll try running it and report back.

[2020-06-02 20:46] MHBauer commented on #4795
I'm going to make a pr to try and improve the doc at https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/e2e-node-tests.md

[2020-06-02 21:59] MHBauer commented on #4795
I blather on for quite a bit, but I got some good ideas on improvements to that doc, and other docs.
https://youtu.be/aoqnFd1Wd9E?t=1355
The focus + skip runs the same 34 tests as seen on the server.

[2020-06-02 22:59] coderanger commented on #4496
The same policy applies, we do not currently allow new Slack apps or alternative client bridges outside of direct support of the project. With so many people in the Slack and so few volunteer moderators/admins, it helps to keep things more unified which unfortunately restricts this kind of app. We encourage you to let Slack know about your desire for a smoother command-line experience.

[2020-06-02 22:59] coderanger commented on #4496
/close

[2020-06-02 22:59] #4496 closed

[2020-06-03 01:45] alisondy opened #4830 "NCW2: New Contributor Workshop Virtual"
## Motivation

In the past, we delivered the New Contributor workshop as a live in person workshop. There was alot of issues with this approach, bad conference wifi, inaccessible to folks who couldn't attend a kubecon, folks presenting couldn't attend other contributor summit sessions.

### Goals
- Each section of the contributor workshop surfaced as a doc on the contributor site
### Non-Goals
- P

[2020-06-03 01:46] alisondy commented on #4830
/sig contributor-experience

[2020-06-03 01:49] alisondy commented on #4830
/area mentorship-planning

[2020-06-03 15:14] #1514 closed

[2020-06-03 15:14] #1645 closed

[2020-06-04 19:18] #2050 closed

[2020-06-05 12:23] mrbobbytables commented on #1899
closing this, should be resolved by #3064 4831 👍

/close

[2020-06-05 12:23] #1899 closed

[2020-06-05 15:47] joshuabezaleel commented on #4409
Hi @samudralavamshi54 , are you still working on this?
I may be able to give this a shot if this is open :slightly_smiling_face: Thank you!

[2020-06-05 20:20] elmiko commented on #2759
hello/

i ran into the issues with the installation instructions today and created a pr to fix that part. not sure what else is stale, but this should help.

[2020-06-08 06:33] stp-ip commented on #2959
/remove-lifecycle stale

[2020-06-08 15:31] alejandrox1 commented on #4795
/assign
Couple things we should document and i'll give a quick explanationhere..

Starting with https://testgrid.k8s.io/sig-node-containerd#containerd-node-features
This is an e2e [prow] job.
An e2e job runs e2e tests.
Each [gray] rowon testgrid corresponds to an e2e test or a stage of the e2e job (e.g., created a VM, downloaded some files).

All e2e tests are writen using Ginkgo and that is where

[2020-06-09 00:58] spiffxp opened #4839 "Update sig architecture charter to include upgrade/downgrade policy"
addresses: https://github.com/kubernetes/community/pull/4755#pullrequestreview-405216799
ref: https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/07bv4oG-cfc

/sig architecture
/sig cluster-lifecycle
/kind documentation

[2020-06-09 02:31] samudralavamshi54 commented on #4409
@joshuabezaleel Please go ahead and assign it sorry didn't work on this

[2020-06-09 07:18] bond007007 opened #4845 "Namespace in terminating state"
I have a kubernetes cluster of version 1.15.3.
From last few days I observing that all the namespace which I am deleting (kubectl delete ns <xyz>) are going into terminating state.

Though I have tried to edit json (finilizer) after that I used curl command to delete the namespace. But still my namespace is in terminating state.
Plz help me in resolving my issue.
Thankyou.

[2020-06-09 11:58] mrbobbytables commented on #4845
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-06-09 11:58] #4845 closed

[2020-06-09 17:10] mrbobbytables commented on #4513
Going to go ahead and close this :(
Will revisit again next year...

/close

[2020-06-09 17:10] #4513 closed

[2020-06-09 17:12] mrbobbytables commented on #4395
/remove-lifecycle stale

[2020-06-10 07:49] heyste opened #4846 "Replace conformance.txt references"
- There are a few references to `conformance.txt` which have been replaced by `conformance.yaml`
- The [progress of adding a test to conformance](https://github.com/kubernetes/kubernetes/blob/master/test/conformance/README.md) hasn't been updated [here](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#promoting-tests-to-conformance)

/sig

[2020-06-10 07:52] heyste commented on #4846
/sig  architecture

[2020-06-11 17:40] justaugustus opened #4853 "REQUEST: New Slack private channel #security-release-team"
**GitHub Username:**
@justaugustus @kubernetes/release-managers @kubernetes/product-security-committee

**Slack Username:**
`justaugustus`

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Private channel

**Name of Requested Resource:**
#security-release-team

**Description of Request:**
Proposing a new private channel to spur tighter feedback loop between PSC and Rel

[2020-06-11 17:47] liggitt commented on #4853
Are we comfortable using slack to discuss details of vulnerabilities and security releases? The ability to select duplicate usernames is slightly concerning, and I'm unsure the degree to which admins and app integrations have visibility into channel content.

[2020-06-11 18:29] joelsmith commented on #4853
That's a good point. It seems like the PSC should have guidelines on what is and isn't okay to discuss on Slack. I see this channel being used more for release coordination and not for the discussion of specific details around the issues. I like the idea of a channel, but only if people understand what is and isn't okay to discuss there.

[2020-06-11 20:51] cblecker commented on #3621
/remove-lifecycle rotten

[2020-06-11 23:53] #4249 closed

[2020-06-12 13:10] mrbobbytables commented on #4853
@liggitt slack admins cannot administer private channels if they are not invited into it (the channel creator is auto-added on initial creation).  Admins cannot view/manage/pull the data from dms or private channels. It's actually been kind of a pain point for us as administrators and one of the reasons they are rarely created.

Workspace owners (currently @parispittman and @caniszczyk), CAN pull

[2020-06-12 15:02] mbbroberg opened #4854 "Feature Request for Community Communication: bulletin notifications"
Capturing an interesting request that relates to #4446, which is in progress.

From Slack:

[code]
/sig contributor-experience
/area contributor-comms

[2020-06-12 15:25] justaugustus commented on #4854
This could be useful to us, @kubernetes/sig-release + @kubernetes/product-security-committee

[2020-06-12 20:21] #4846 closed

[2020-06-14 21:57] #4790 closed

[2020-06-15 03:59] nikhita commented on #3362
/remove-lifecycle rotten

[2020-06-15 04:00] nikhita commented on #3938
/remove-lifecycle rotten

[2020-06-15 17:45] nikhita commented on #4445
Discussed this with @mrbobbytables on slack and agreed to close this primarily because of:

If a need arises, we can reopen and have discussions specific to the concern at that time.

/close

[2020-06-15 17:45] #4445 closed

[2020-06-16 03:47] sftim commented on #4772
I'd definitely like for the Kubernetes documentation to clarify what Kubernetes means by the term “camel case”, because that use is different from the most common use outside of Kubernetes (with the first letter lower case).

[2020-06-16 03:58] sftim commented on #4772
“Pascal case” is fine if that's what's meant.

[2020-06-16 11:10] nikhita commented on #4736
@medyagh Closing this issue, please create a new issue in https://github.com/kubernetes/funding with the necessary details.

/close

[2020-06-16 11:10] #4736 closed

[2020-06-17 13:46] mrbobbytables commented on #4444
/unassign @vishakhanihore
/help

[2020-06-17 14:02] mrbobbytables commented on #4444
At this point in time the big priority is removing / updating inaccurate information from the guide. A few examples include:
The old collaboration doc: https://github.com/kubernetes/community/pull/4866
The bug bounty program: https://github.com/kubernetes/community/pull/4865

Both of these contained inaccurate information and the canonical source of truth was in other docs.

[2020-06-17 17:09] parispittman commented on #4673
sent to Nikita and spiffxp in slack DMs

[2020-06-17 18:09] #567 closed

[2020-06-17 18:09] #155 closed

[2020-06-17 20:10] #767 closed

[2020-06-17 20:10] #691 closed

[2020-06-17 20:14] nikhita commented on #4673
created https://github.com/kubernetes/k8s.io/pull/970

[2020-06-18 16:38] jdumars commented on #4782
My two cents: I am strongly against integration of commercial tools unless it is a critical use case, and supported across other CNCF projects. Given the above comments and staleness, I am inclined to close this issue in ~1 week barring objections.

[2020-06-18 18:56] davesargrad commented on #4685
@jdumars I actually did figure out how to do this properly, or at least reasonably efficiently. In retrospect it was simple (once you figured it out). I'll try to follow up and capture the bits that I learned.

What I learned is a bit about delve, in combination with the bit that relates to the operator sdk kit. Its sort of the bridge between the two that a developer who starts with the operator s

[2020-06-18 20:40] markyjackson-taulia commented on #3708
/remove-lifecycle stale

[2020-06-18 21:30] coderanger commented on #3708
/lifecycle frozen

[2020-06-18 22:39] mrbobbytables commented on #4444
These docs contain alot of duplicate guidelines
- commit message guidelines / code review
  - [contributing.md](https://github.com/kubernetes/community/blob/master/contributors/guide/contributing.md)
  - [pull-requests.md](https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md)
  - [review-guidelines.md](https://github.com/kubernetes/community/blob/master/contribut

[2020-06-18 22:52] savitharaghunathan commented on #4830
Hi @alisondy , I am interested in volunteering if you are still looking for one, or help anywhere needed.

[2020-06-19 17:54] #3776 closed

[2020-06-20 14:41] markyjackson-taulia commented on #2657
@nikhita @idvoretskyi Any thoughts on the above?

[2020-06-22 17:12] gkarthiks commented on #4782
I agree to not bring in the commercial tool as well. This issue is to check the sentiment across the board for this.

I will close this issue.

[2020-06-22 17:12] #4782 closed

[2020-06-22 21:43] heyste opened #4877 "Remove/update legacy references in e2e testing guide"
1. Legacy issues

- [Kinds of tests](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#kinds-of-tests)
  - Should the first sentence be removed?

- [What is CI?](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#what-is-ci)
  - The links for ci-test.k8s.io redirect to other sites. What would be current opti

[2020-06-22 21:46] heyste commented on #4877
/sig testing
/assign @hh

[2020-06-23 11:06] miton18 opened #4882 "devel: broken link in generating-clientset.md"
I was looking for some documentation about Expansion generator, but in this page
[https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/generating-clientset.md](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/generating-clientset.md)

title: 3. Adding expansion methods

the __file__ link is broken

[2020-06-23 11:07] miton18 commented on #4882
/sig docs

[2020-06-23 15:45] markyjackson-taulia commented on #2657
Per @jberkus
For item 2:
Leave this manual so we can learn more about the process.

[2020-06-23 15:52] markyjackson-taulia commented on #2657
Per @jberkus
3. A doodle template is sent to the mentor who selects open slots and sends back to the mentee.
- Add communication preference for the mentor
- If no response, an alert (can be email but slack is prob best) of some type is sent to the mentoring subproject

[2020-06-23 21:51] #2441 closed

[2020-06-23 22:21] #4877 closed

[2020-06-24 09:15] nikhita commented on #4882
@miton18 Good catch!

That file references manually written methods in the expansion interface for pods' client. The link should be updated to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/kubernetes/typed/core/v1/pod_expansion.go.

Marking this as a good first issue since it involves a link change.

/good-first-issue

[2020-06-24 09:15] nikhita commented on #4882
/remove-sig docs
/sig api-machinery

[2020-06-24 10:21] nikhita commented on #2324
/remove-lifecycle rotten

On Wed, Jun 24, 2020 at 4:03 AM fejta-bot <notifications@github.com> wrote:

[2020-06-24 16:47] parispittman commented on #4577
/close

the work was done in #4716

[2020-06-24 16:47] #4577 closed

[2020-06-24 18:59] nikhita commented on #3179
/remove-lifecycle stale

On Thu, Jun 25, 2020 at 12:22 AM fejta-bot <notifications@github.com> wrote:

[2020-06-24 19:04] #4673 closed

[2020-06-24 19:46] jeremyrickard opened #4890 "Update enhancements subproject meeting info under sig-architecture"
The enhancements subproject (under sig-arch) has scheduled a reoccuring subproject meeting. This info should be updated into the `sigs.yaml` and sig-architecture's README.

[2020-06-24 19:46] jeremyrickard commented on #4890
/sig sig-architecture

[2020-06-24 19:46] jeremyrickard commented on #4890
/sig architecture

[2020-06-24 19:47] jeremyrickard commented on #4890
/kind documentation

[2020-06-24 19:47] jeremyrickard commented on #4890
/assign

[2020-06-24 20:44] nikhita opened #4892 "Archive kubernetes-sig-leads google group"
The https://groups.google.com/g/kubernetes-sig-leads google group has now moved to leads@kubernetes.io (https://groups.google.com/a/kubernetes.io/g/leads). See https://github.com/kubernetes/k8s.io/pull/970 and https://github.com/kubernetes/community/issues/4673 for more details.

With this move, we need to archive the old google group (ref: https://github.com/kubernetes/k8s.io/pull/970#issuecommen

[2020-06-24 22:49] jberkus opened #4893 "NCW2: Write video recording guide"
We will be prerecording most new NCW segments.

To help folks create their NCW segments, we'll need guides to doing easy recording of sessions for the presenters, most of whom are working from home.

Ideally, we want guides and advice for all of the following tools:

- [ ] Zoom, Meet, and other conferencing software to record.
- [ ] Open Broadcast Studio
- [ ] native Windows, Linux, and/or Mac scr

[2020-06-24 22:59] jberkus commented on #4893
/help

[2020-06-24 23:10] jberkus opened #4894 "NCW2: Create page for NCW"
We need to create a web page that will hold the NCW.  This should be on some page controlled by the Kubernetes community, and not on a CNCF/Kubecon page for ease of updating.  The page should include:

- Text introduction
- TOC of all the NCW segments, with descriptions, and links to both materials and video
- Links to other contributor guide materials
- Link to next steps (become an org member, u

[2020-06-25 08:20] #4882 closed

[2020-06-25 11:29] chris-short commented on #4893
I’m going to be honest here, we need to pick a preferred method and stick to it. Otherwise we’ll be getting varying degrees of quality, resolutions, etc. We can give platform specific options, of course, but building guides for infinite scenarios doesn’t seem reasonable. If there’s a universal option, I’d much prefer writing one guide over n+1.

I also mention this because hardware requirements fo

[2020-06-25 16:13] #3481 closed

[2020-06-25 17:54] jberkus opened #4897 "NCW2: create Kubeconless version of slide deck"
The New Contributor slide deck designed for Kubecon Amsterdam is themed and branded for Kubecon.  We need to create a version of the slide deck that doesn't have Kubecon branding, but instead has general Kubernetes branding.

TBD: should we chop the deck up into segments, or leave it as one big deck?  Rael, who is doing the work, will decide.

/sig contributor-experience
/kind documentation
/area

[2020-06-25 17:55] raelga commented on #4897
Thanks @jberkus !

[2020-06-25 18:02] jberkus commented on #4893
We can suggest one option first, but given how we're crowd-sourcing production, we need to have multiple options.

Can you figure out how to test recording yourself using zoom, and check the quality?

[2020-06-25 19:10] tallclair commented on #4853
I'm comfortable with adding the channel as long as it's explicitly for release coordination, and we agree not to discuss vulnerability specifics on the channel. Maybe we can add a channel header as a reminder.

One (non-blocking) concern is that this is one more place we need to audit access of. To that end:
1. It should be documented in our [on/offboarding docs](https://github.com/kubernetes/secu

[2020-06-25 19:41] coderanger commented on #4853
To echo from Slack, @tallclair and @justaugustus will be the delegated moderators for this space, just in case. Given the private nature, full moderation coverage doesn't seem required so I'm happy with that from the Slack Admin side.

[2020-06-25 20:08] mrbobbytables commented on #4031
I think this is now sorted out with the plans for the twitter account etc? @chris-short @mbbroberg @parispittman

[2020-06-25 22:06] coderanger commented on #4853
Channel created and initial users added.

/close

[2020-06-25 22:06] #4853 closed

[2020-06-25 22:23] #4890 closed

[2020-06-26 08:52] RameshJampana opened #4899 "sonobuoy on k8 cluster : sonobuoy run --mode certified-conformance --wait -v 5 failed"
certified-conformance : ./sonobuoy run --mode certified-conformance --wait -v 5 failed with below error

 level=error msg="Result processing error (409): result systemd-logs/cluster already received"
level=error msg="Result processing error (409): result systemd-logs/cluster already received"
 level=error msg="Result processing error (409): result systemd-logs/cluster already received"
level=error

[2020-06-26 11:57] mrbobbytables commented on #4899
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-06-26 11:57] #4899 closed

[2020-06-26 12:27] chris-short commented on #4031
I think @mrbobbytables is right that this is safe to close now. Thank you!

@kaslin, @parispittman: We should consider a sheet of tweets that we can modify and re-use existing content (like the tweets crafted here) so that we can more quickly put solid tweets together.

[2020-06-26 12:27] #4031 closed

[2020-06-26 12:47] mrbobbytables commented on #3467
/unassign @parispittman
/assign @castrojo @mrbobbytables
We've been working on this 👍

[2020-06-26 12:47] mrbobbytables commented on #4395
/assign @castrojo @mrbobbytables
We've been working on this 👍 It's not just ug/wg ..but also a lot of sigs 😬

[2020-06-26 15:49] khawajaAtteeq opened #4900 "Kubeadm installation error on apt-transport-https"
Team;
I'm trying to install kubeadm on a Ubuntu 16.04 Xenial VM, and I'm following all the steps provided at the https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ ,

After Docker installation when I reach at
![image](https://user-images.githubusercontent.com/5206639/85870122-16bbf800-b7e6-11ea-9fcb-d8ba97847537.png)

I get the following error. and after this er

[2020-06-26 15:54] mbbroberg commented on #3654
Here's the latest update on available writing. cc @celanthe @kaslin @vonguard.

- [x] scalability ([@vonguard](https://github.com/vonguard); finished)
- [x] wg-k8s-infra ([@celanthe](https://github.com/celanthe); finished)
- [x] [Windows](https://github.com/kubernetes/community/issues/sig-windows/README.md) by @kaslin
- [ ] [Network](https://github.com/kubernetes/community/tree/master/sig-cluster-

[2020-06-26 16:04] liggitt commented on #3211
[HPA container-based scaling review](https://docs.google.com/document/d/1v7UeADuMt8I7CX7APmleOE1reHb9Rm9vCVIqA4J2hXk/edit) - https://github.com/kubernetes/kubernetes/pull/90691

[2020-06-26 16:21] coderanger commented on #4900
Hi there and welcome. This repository and issue tracker are used for managing the Kubernetes community organization and SIG structure. For support using Kubernetes, please ask for help on discuss.kubernetes.io, Slack, or in your local community.

/close

[2020-06-26 16:21] #4900 closed

[2020-06-26 16:41] parispittman opened #4901 "reviewer group mentoring kick off"
this issue is for the kick off to a reviewership group mentoring session targeting sig-node topics lead by @dims as the mentor and me as the coordinator.

Things we know
- July 10th and the following Fridays will be slack stand up day; calendar invite sent from contributors@ to everyones calendars
- Group is full with 5 current members

Things we need
- private slack channel for the 7 of us: #revi

[2020-06-27 02:55] celanthe commented on #3654
@mbbroberg I would be very interested in taking on a piece about SIG-Docs after I finish my next post in the series on the Infra WG. I can tentatively commit to this in August, I am aiming for a one-post-per-month cadence currently as my bandwidth allows.

[2020-06-27 07:56] raelga commented on #4897
Amsterdam slide deck themed with vanilla kubernets style:

https://bit.ly/kubeconlesss_NCW2_slides

[2020-06-27 08:02] raelga commented on #4897
I will gather with @alisondy to start working on the final decks for the next NCW.

[2020-06-27 12:24] Rajpratik71 opened #4903 "Add "Kubernetes SIG Storage Shared Calendar" to "K8s Contributor Calendar""
Request is to merge standalone

 "Kubernetes SIG Storage Shared Calendar" [available at](https://calendar.google.com/calendar/embed?src=vvvo48r6cprccii1lsava6p2uc%40group.calendar.google.com)

to "K8s Contributor Calendar" [available at ](https://calendar.google.com/calendar/embed?src=cgnt364vd8s86hr2phapfjc6uk%40group.calendar.google.com)

[2020-06-27 12:54] Rajpratik71 commented on #4903
/sig contributor-experience

[2020-06-27 12:58] Rajpratik71 commented on #4903
/area calendar-management

[2020-06-28 12:13] mrbobbytables commented on #4894
I think it'd make sense to add this to the contributor site -- we'll have the contributor guide and other docs there. What do you think?

[2020-06-28 12:25] mrbobbytables commented on #4903
@saad-ali @xing-yang Can you add the contributor calendar address (`cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com`) to the meeting invites?

They should then appear on the contributor calendar 👍

ref: https://github.com/kubernetes/community/blob/master/communication/calendar-guidelines.md#establishing-a-new-meeting
/sig storage

[2020-06-28 17:24] #3353 closed

[2020-06-29 01:47] xing-yang commented on #4903
I have added the contributor calendar address (cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com) to the Data Protection WG meeting invites.
Looks like only the person who originally sent out the meeting invite can add new invites.
@saad-ali can you do this for the sig-storage bi-weekly meeting and the COSI meeting?
@msau42 can you do this for the CSI implementation meeting?

[2020-06-29 13:56] xing-yang commented on #4903
Hi @saad-ali,

Can you share the sig-storage calendar with the contributor calendar address (cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com)?  I think then we don't need to send individual meeting invites to them.  Thanks!

[2020-06-29 14:01] mrbobbytables commented on #4903
It doesn't work that way unfortunately :( It still needs to be added to individual meetings -- we're hoping to have an alternative solution soonish though.

[2020-06-29 14:22] xing-yang commented on #4903
Got it.  Thanks @mrbobbytables!

[2020-06-29 16:34] castrojo opened #4904 "Mailing list creation in the SIG/wg lifecycle document is missing important information"
Placeholder bug until I can get to it, or feel free to submit a fix!

https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md

Doesn't mention that we need new lists to have contributors@kubernetes.io, etc, this is important! We should add a link to people to check out the mailing list guidelines just like we do for zoom, slack, etc. to point to this page:

https://github.com/kuber

[2020-06-30 16:27] parispittman opened #4906 "REQUEST: New communication about community group annual reports"
**What do you want send out?**
announcement about new community group annual reports; 2020 will be just working groups and 2021 will include all groups (committees, sigs, etc.)

**What’s the intended outcome?**
inform the community this is happening so they can prepare in their groups, ask questions now, and kick off for the working group annual reports
**What is the sponsoring SIG or community gr

[2020-06-30 23:46] mrbobbytables commented on #4109
@zestrells are you still interested in working on this?

[2020-06-30 23:53] mrbobbytables commented on #4409
@joshuabezaleel are you still interested in working on this?

[2020-07-01 00:39] alejandrox1 commented on #4795
I think this would be a good issue for new contributors.
I'm going to save it for new contributors to give this a try :smiley:

/help wanted
/good-first-issue

[2020-07-01 15:44] championshuttler commented on #4904
@castrojo I would like to contribute to this as my first issue , can you help me getting started

[2020-07-01 15:46] championshuttler commented on #4409
@mrbobbytables I would like to contribute to this as my first bug , can you help me getting started

[2020-07-01 18:00] jewar commented on #4904
/assign

[2020-07-02 08:16] lilinji commented on #4904
/accept

[2020-07-02 10:29] sftim opened #4913 "Replace “master” icon with control plane"
https://github.com/kubernetes/community/tree/master/icons#kubernetes-icons-set has an icon representing the kubernetes control plane, labelled “master”

I recommend replacing this with a group symbol (possibly _not_ a heptagon) to represent the set of control plane elements.

The term “master” is problematic because the control plane doesn't have to run on a single primary host with replicas, and

[2020-07-02 15:40] #4904 closed

[2020-07-03 14:49] mrbobbytables commented on #4409
@championshuttler Sure, the general idea is to gather up all the office hours / mentoring and any other tracks to help get going contributing from [sigs.yaml](https://github.com/kubernetes/community/blob/master/sigs.yaml) in the root of this repo and then add them to the our [mentoring documentation](https://github.com/kubernetes/community/tree/master/mentoring) as an easy one stop shop to see whi

[2020-07-04 18:12] gkarthiks commented on #2565
@mrbobbytables I thing all of those are moved or archived. I don't see any with `kind/design` [here ](https://github.com/kubernetes/community/pulls?q=is%3Apr+is%3Aopen+label%3Akind%2Fdesign).

Do you want to close this?

[2020-07-04 21:03] nikhita commented on #3541
https://github.com/kubernetes/steering/issues/166 should help with this

[2020-07-05 09:21] nikhita commented on #3724
/remove-lifecycle stale

[2020-07-06 09:00] yuanhuaiwang opened #4916 "Remove resync period for disruption controller"
What type of PR is this?
/kind cleanup

What this PR does / why we need it:
The disruption controller is resyncing all ssets every 30 seconds, this is not necessary, and make the depth of disruption workqueue longer and can cause delays processing actual updates when large amounts of disruptions [exist.]

Which issue(s) this PR fixes:
Fixes #4916

Special notes for your reviewer:

Does this PR int

[2020-07-06 14:24] detiber commented on #4641
/remove-lifecycle stale

[2020-07-07 04:21] nikhita commented on #4916
@yuanhuaiwang was this meant to be a PR or an issue report?

If it was an issue report, can you please reopen this against https://github.com/kubernetes/kubernetes? Thanks!

Closing since an issue against k/k would make more sense.

[2020-07-07 04:21] #4916 closed

[2020-07-07 22:27] mrbobbytables commented on #3783
/remove-lifecycle stale

[2020-07-07 22:27] mrbobbytables commented on #4677
/remove-lifecycle stale

[2020-07-07 22:28] mrbobbytables commented on #4464
/remove-lifecycle stale

[2020-07-07 22:28] mrbobbytables commented on #3717
/remove-lifecycle stale

[2020-07-08 23:30] onlydole commented on #4175
/remove-lifecycle stale

[2020-07-09 21:05] mbbroberg commented on #4906
Seems we missed the deadline on this. Is there room to extend that @parispittman?

Thinking from comms POV on this one, it's unclear how we go from an unassigned request to a copy edited post to a published one.

To start testing it out: I'll sign up for copy editing and wrap up by meeting time tomorrow. Coordination after that is still in the works. Let's talk at tomorrow's meeting.

[2020-07-09 21:49] mrbobbytables commented on #4175
We can hold off on doing this until splain is reliable again :(

[2020-07-10 15:59] mbbroberg opened #4931 "Revise Marketing Request template"
Our [first revision](https://github.com/kubernetes/community/blob/master/.github/ISSUE_TEMPLATE/marketing-request.md) of the template is not quite the experience we want to provide our fellow Kubernetes contributors. Testing it with @parispittman, we found that:

- Information fatigue happens fast. There is too much someone has to answer before they're ready to answer it.
- Follow up happens outsi

[2020-07-10 16:01] mbbroberg commented on #4931
/sig contributor-experience
/area contributor-comms
/assign @mbbroberg

[2020-07-10 16:19] mbbroberg commented on #4906
Paris mentioned getting this done off GitHub. It's feeding into the lessons learned that will be applied to #4931

[2020-07-11 01:12] dims commented on #2992
@tom-snyk is the offer still open? :) i tried the free version and the golang scanning is not enabled there

[2020-07-12 07:41] afrouzMashaykhi commented on #4795
@alejandrox1 I'd like to contribute.

[2020-07-12 13:13] mrbobbytables commented on #4696
/remove-lifecycle stale
Splain is still having problems sadly :(

[2020-07-12 13:13] mrbobbytables commented on #4699
/remove-lifecycle stale
Splain is still having problems sadly :(

[2020-07-12 15:04] alok87 commented on #2210
@danielepolencic this can help https://github.com/practo/k8s-worker-pod-autoscaler

[2020-07-13 04:52] Pensu commented on #4825
Adding the feature request from marketing meeting discussion: We should add an automation for time-zone aware posting of tweets. This will help us in getting more engagement and will increase our reach across the globe. For example, if a blog (thanks @kaslin!) is tweeted during working hours in NA/EU/APAC time zones, the likelihood of getting more eyes on it increases. Here is what the process wou

[2020-07-13 04:56] Pensu commented on #4726
Hi @mbbroberg @parispittman, since we have #4739 merged, can we get this one going?

[2020-07-13 14:52] mbbroberg commented on #4726
Hey @Pensu! Absolutely. Drop a PR if you have a chance :smile:

[2020-07-13 19:14] valaparthvi opened #4938 "Unable to move past Current Contributor Info (page 3) of Kuberentes Contributor Form if you have not made any contribution."
I was filling out [this form](https://goo.gl/forms/9WllkPFTRB999vcc2) to sign up for The 1:1 Hour but could not move past `Current Contributor Info` (page 3) of the form which asks questions assuming the person signing up has made at least one contribution and wanted information regarding the same, but I just started today and have not made any contributions yet, so I was stuck.

Example question

[2020-07-14 03:45] parispittman commented on #4549
I can sign up for intro to community and communication

[2020-07-14 05:32] valaparthvi commented on #4938
/sig contributor-experience

[2020-07-14 09:48] zhaocheng173 opened #4942 "Does the infra container pause container require resource containment? Such as the memory"
The docker-CIS best practice tells me that I need to restrict the resources of all containers. How do I limit this one? Is there any code or method to restrict it?

[2020-07-14 10:07] coderanger commented on #4942
Hi there and welcome. This repository is used for tracking governance and SIG management tasks. For end-user support please try discuss.kubernetes.io or the Kubernetes Slack.

/slack

[2020-07-14 10:07] coderanger commented on #4942
/close

[2020-07-14 10:07] #4942 closed

[2020-07-14 12:43] alisondy opened #4943 "NCW2 Session: Why Contribute?"
## Description
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that welcomes students, and then leads them through selecting, or at least thinking about how they want to contribute.

See the Section Description for what this section is to cover, or used to cover. This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http:

[2020-07-14 12:44] alisondy commented on #4943
/sig contributor-experience
/area mentorship-planning

[2020-07-14 12:45] alisondy opened #4944 "NCW2 Session: Communications"
## Description
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that informs students on how we communicate within the contributor community

See the Section Description for what this section is to cover, or used to cover. This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides

[2020-07-14 12:45] alisondy commented on #4944
/sig contributor-experience
/area mentorship-planning

[2020-07-14 12:46] alisondy opened #4945 "NCW2 Session: Community Groups"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that informs students on how the groups within the Kubernetes project work

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides 29 to 51. You

[2020-07-14 12:47] alisondy opened #4946 "NCW2 Session: Repo Tour"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that informs students on the many different repositories within the Kubernetes org

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides 52 to

[2020-07-14 12:48] alisondy opened #4947 "NCW2 Session: Kubernetes Arch Overview"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that minimally outlines the architectural internals of a kubernetes cluster.

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides 61 to 63. Y

[2020-07-14 12:49] alisondy opened #4948 "NCW2 Session: Local Build & Test 1"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that informs students on how to setup a development environment for contributing to the Kubernetes project

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NC

[2020-07-14 12:50] alisondy opened #4949 "NCW2 Session: Local Build & Test 2"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that is a hands on Build & Test lab, which shows students how to modify the Kubernetes client, aiming towards building familiarity with interacting with the Kubernetes codebase.

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

S

[2020-07-14 12:51] alisondy opened #4950 "NCW2 Session: Local Build & Test 3"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that shows students how to add & run tests

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides ___ to ___. You will be making a copy of thes

[2020-07-14 12:52] alisondy opened #4951 "NCW2 Session: Local Build & Test 4"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that shows students how to build an altered kubectl with added features.

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides ___ to ___. You

[2020-07-14 12:52] alisondy opened #4952 "NCW2 Session: Pull Request Exercise"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that demonstrates and guides students through submitting a pull request to Kubernetes

it involves walking them through a fake PR on a test repo, aswell as a real pull request

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Sli

[2020-07-14 12:52] alisondy opened #4953 "NCW2 Session: Contribute to Docs"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that guides students on submitting a documentation fix to Kubernetes doc repo

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides ___ to ___

[2020-07-14 12:53] alisondy opened #4954 "NCW2 Session: Find your first issue"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that informs students on how to find a suitable issue for contributing to Kubernetes for the first time to ( todo: fix this sentence )

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](h

[2020-07-14 12:54] alisondy opened #4955 "NCW2 Session: K/K Walthrough"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that guides students through the k/k repo

part of this will involve creating a quiz centered around finding certain parts of code in the repo.

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slid

[2020-07-14 12:54] alisondy opened #4956 "NCW2 Session: You Can Review"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that educates/informs new contributors on how they can help review other folks prs

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides ___ t

[2020-07-14 12:55] alisondy opened #4957 "NCW2 Session: Troubleshooting Test Failures"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that guides students through the process of troubleshooting test failures in Kubernetes

Part of this will involve analyzing a failing resubmit test

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW

[2020-07-14 12:56] alisondy opened #4958 "NCW2 Session: The Release Cycle"
We need someone to update, prepare materials for, and record the segment of the New Contributor Workshop that informs students on how the release cycle works within Kubernetes

See the [Section Description] for what this section is to cover, or used to cover.  This will have to be updated.

Slides are in the [Overall NCW Slide Deck](http://bit.ly/kubeconlesss_NCW2_slides), slides ___ to ___. You w

[2020-07-14 13:01] alisondy commented on #4943
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4944
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4945
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4946
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4947
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4948
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4949
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4950
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4951
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4952
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4953
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4954
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4955
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4956
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4957
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:01] alisondy commented on #4958
/remove area mentorship-planning
/area new-contributor-track

[2020-07-14 13:02] alisondy commented on #4943
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4944
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4945
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4946
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4947
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4948
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4949
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4950
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4951
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4952
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4953
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4954
/remove-area mentorship-planning

[2020-07-14 13:02] alisondy commented on #4955
/remove-area mentorship-planning

[2020-07-14 13:03] alisondy commented on #4957
/remove-area mentorship-planning

[2020-07-14 13:03] alisondy commented on #4958
/remove-area mentorship-planning

[2020-07-14 13:03] alisondy commented on #4956
/remove-area mentorship-planning

[2020-07-14 13:51] alisondy commented on #4830
/area new-contributor-track

[2020-07-14 14:52] cblecker opened #4959 "Tracking issue: Unconscious Bias Training for current Chairs and Technical Leads"
Per #4940, this is a list of all current chairs and technical leads for any community group to track completion of the required unconscious bias training:

* [x] Aaron Crickenberger (**[@spiffxp](https://github.com/spiffxp)**)
* [x] Aaron Small (**[@aasmall](https://github.com/aasmall)**)
* [x] Abdullah Gharaibeh (**[@ahg-g](https://github.com/ahg-g)**)
* [x] Adnan Abdulhussein (**[@prydonius](htt

[2020-07-14 15:48] mkorbi commented on #4549
I'm happy to give some helping hands

[2020-07-14 15:56] savitharaghunathan commented on #4549
I'd like to help as well. Willing to take up sessions related to docs :) I would leave a comment on the issues I can help with. Thanks :)

[2020-07-14 15:56] savitharaghunathan commented on #4953
Interested in helping. Should I assign this to myself @alisondy ?

[2020-07-14 15:58] savitharaghunathan commented on #4952
Happy to help with this exercise

[2020-07-14 16:36] alisondy commented on #4893
@jberkus I just tested the local zoom recording thing

it's decent

How to test
- Start a meeting with yourself
- Get the presentation slide setup with the screenshare
- Once thats all setup click the record button
- when y ou click end meeting the video should export locally if you're doing the local record option

The quality of the audio and video was good for me

[2020-07-14 16:39] alisondy commented on #4953
@savitharaghunathan Yes, you can assign this to yourself! thank you ✨

[2020-07-14 17:35] savitharaghunathan commented on #4953
/assign

[2020-07-14 17:55] lizhuqi opened #4961 "Convert to your timezone link shows the wrong time"
I clicked the "Convert to your timezone" link in README.md doc, it shows 10:30AM for our local time(PST). However the right PST time shall be 9:30AM so I think the time converter is not converting the time correctly.
![TimeConverter](https://user-images.githubusercontent.com/15763677/87459637-7c6afb00-c5c0-11ea-914b-fcb0e4fe5d4c.png)

[2020-07-14 18:15] tashimi commented on #4959
Link: https://training.linuxfoundation.org/training/inclusive-speaker-orientation/

[2020-07-14 18:52] neolit123 commented on #4959
all VMware employees must complete an Unconscious Bias Training, at some point.
is my certificate sufficient here or should i enroll for the Linux foundation training specifically?

![lubomir_i _ivanov_unconscious_bias_cert](https://user-images.githubusercontent.com/331852/87464535-f086bc80-c61b-11ea-8ac3-84bd1783d4d2.png)

[2020-07-14 18:57] lizhuqi commented on #4961
@k8s-ci-robot
/sig windows

[2020-07-14 18:57] cblecker commented on #4959
@neolit123 I'm extremely happy that VMware has it's own initiative along the same lines, however I have no idea what that course contains so I can't say for certain that it has the same type of content as the LF course. As the LF foundation course is only about 30 minutes in length, I'd say let's please go ahead and do the LF course itself. Thanks for checking!

[2020-07-14 18:58] cji commented on #4959
Hello! Thanks for making this a requirement. I've completed the training:

![image](https://user-images.githubusercontent.com/419708/87464527-41c58a80-c5e1-11ea-95f6-c6d312658e75.png)

[2020-07-14 19:00] mkorbi commented on #4947
/assign @mkorbi

[2020-07-14 19:01] mkorbi commented on #4944
/assign @mkorbi
I will work on that

[2020-07-14 19:27] logicalhan commented on #4959
Hello! Thank you for organizing this :) I have [completed the training](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/60bf4f35-79f9-4d66-8bae-326051c20713-han-kang-the-inclusive-speaker-orientation-lfc101-certificate.pdf) as well :)

[2020-07-14 20:27] mrbobbytables commented on #4961
It looks like because the timezone is set for Eastern Standard Time when it is currently Eastern Daylight Time. This should be set to Eastern Time (ET) instead of Eastern Standard Time similar to how it is done for ContribEx:

https://github.com/kubernetes/community/blob/421c198faf48e640ce704c0a56355c67993ab88c/sigs.yaml#L1090-L1093

That will avoid it falling out of sync when daylight savings tim

[2020-07-14 20:36] mattfarina commented on #4959
![Screen Shot 2020-07-14 at 4 35 39 PM](https://user-images.githubusercontent.com/62991/87473830-18602b00-c5f0-11ea-87db-acfcd49969cd.png)

Completed

[2020-07-14 20:36] lavalamp commented on #4959
I won't spam you all with the picture, but I completed the course.

[2020-07-14 22:05] celestehorgan commented on #4959
@cblecker did it as a part of my CNCF onboarding. Will edit this the certificate if needed?

[2020-07-14 22:07] saad-ali commented on #4959
Completed. Feel free to email me if you'd like a copy of the completion certificate.

[2020-07-14 22:33] yuxiangqian commented on #4959
completed. thnx for organizing.

[2020-07-14 22:55] tallclair commented on #4959
How often are we expected to retake the course? I took the course last year as a Kubecon speaker.

[2020-07-14 22:59] tpepper commented on #4959
I've taken a prior LF instance of this training and also those of multiple employers.  This ends up amounting to having a new cert each year, but I actually value the regular reminders and insights each new one brings.  For anybody who's previously done one of these via LF, this one's updated and includes useful nuances.  Thanks for sharing @tashimi @cblecker et al.

I attest I've completed on Jul

[2020-07-14 23:21] janetkuo commented on #4959
I've [completed the training](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/6a99d5ac-cf0c-55ca-9c8f-0302b3512951-janet-kuo-the-inclusive-speaker-orientation-lfc101-certificate.pdf).

[2020-07-15 00:03] tallclair commented on #4959
Thanks for clarifying @tpepper. I'll get on it!

[2020-07-15 00:15] mrbobbytables commented on #4959
I've completed it as well 👍
[link](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/f744a94e-40ef-404c-abe4-af1a4c71366d-bob-killen-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-15 00:41] kbhawkey commented on #4959
I completed the [training course](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/0cadfb28-8b83-4954-b094-d2f92ef53918-karen-bradshaw-the-inclusive-speaker-orientation-lfc101-certificate.pdf).
Thanks!

[2020-07-15 00:55] sftim commented on #4959
I completed the course.

[2020-07-15 04:01] KumarGajavalli commented on #4959
[Completed the course. ](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/4e929e88-86e5-4ff7-bca4-8f74c442ab7a-maruthi-kumar-gajavalli-the-inclusive-speaker-orientation-lfc101-certificate.pdf)
- Maruthi Kumar Gajavalli

[2020-07-15 04:40] bartsmykla commented on #4959
[Certificate of Completion](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/21a637fb-5b48-4e07-bc08-2604ba3aba61-bart-smykla-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-15 06:49] nikhita commented on #4289
Steering is conducting annual health check reports to help with this - https://github.com/kubernetes/community/blob/master/committee-steering/governance/annual-reports.md

/remove-lifecycle stale

[2020-07-15 07:13] saschagrunert commented on #4959
Completed the course  ([certificate](https://github.com/kubernetes/community/files/4923476/cert.pdf))

[2020-07-15 07:22] jsafrane commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/3aa861f7-9b5d-49fe-9b4f-27982f71c18f-jan-afrnek-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-15 07:55] nikhita commented on #3662
We now require unconscious bias training for all SIG/WG/UG leads - https://github.com/kubernetes/community/pull/4940.

/close

[2020-07-15 07:55] nikhita commented on #3724
We now require unconscious bias training for all SIG/WG/UG leads - https://github.com/kubernetes/community/pull/4940.

/close

[2020-07-15 07:55] #3662 closed

[2020-07-15 07:55] #3724 closed

[2020-07-15 07:57] NagarajGoud commented on #4961
I think i can start my journey with this.

[2020-07-15 09:15] raelga commented on #4830
🥳

[2020-07-15 11:10] mrbobbytables commented on #2725
/remove-lifecycle stale
This has become the standard, do we want to leave this open till all of them are converted?

[2020-07-15 11:12] mrbobbytables commented on #3281
/remove-lifecycle stale

[2020-07-15 11:12] mrbobbytables commented on #3455
/remove-lifecycle stale

[2020-07-15 11:40] jayunit100 commented on #4289
Why not just have rotating chairs ? The ASF does this and it seems to work even on projects which are highly understaffed .

[2020-07-15 14:09] liggitt commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/a3971ba1-d762-4cca-9956-e91f688ab7f1-jordan-liggitt-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-15 17:33] ehashman commented on #4959
![Screenshot at 2020-07-15 10-33-01](https://user-images.githubusercontent.com/4706131/87576739-adadfe80-c686-11ea-95cf-506fc75c1b83.png)

[2020-07-15 17:45] tashimi commented on #4959
I had taken this before, but always good for a refresher. I would encourage anyone who's doing public speaking to check it out, it has some good info and data that can improve how you present material.

![image](https://user-images.githubusercontent.com/719646/87577762-3f6a3b80-c688-11ea-85d5-809d82cbd281.png)

[2020-07-15 20:45] castrojo commented on #4959
Thanks everyone for putting this together!

![image](https://user-images.githubusercontent.com/1264109/87594164-8709bb00-c6ba-11ea-9166-866146e6078b.png)

[2020-07-15 20:59] timothysc commented on #4959
I did mine a while ago, I'll have to recheck.

[2020-07-15 22:22] jberkhahn commented on #4959
Completed.
![cert](https://user-images.githubusercontent.com/5873242/87606072-f5e11700-c6ae-11ea-90c2-0050acf23a14.png)

[2020-07-16 05:30] brancz commented on #4959
Completed! :)

[frederic-branczyk-the-inclusive-speaker-orientation-lfc101-certificate.pdf](https://github.com/kubernetes/community/files/4929492/frederic-branczyk-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-16 06:36] Huang-Wei commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/a889bf01-b2cc-4b8a-b272-d940b3127979-wei-huang-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-16 15:33] timothysc commented on #4959
Completed

![image](https://user-images.githubusercontent.com/169553/87690986-b4547880-c74f-11ea-933e-066eb7a38754.png)

[2020-07-16 15:53] LappleApple commented on #2307
Heya, doing some organising of info and scanned this issue — been some casual chatting lately around looking at our labelling structure and this issue seems valid in that it's related to apparently unresolved label mechanics. FWIW there are now 698 items with the `kind/feature` label (as of this typing), up from 605 when SA created this back in 2018.

[2020-07-16 15:55] soltysh commented on #4959
[Completed](https://github.com/kubernetes/community/files/4932613/maciej-szulik-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-16 16:24] jberkus commented on #4894
Yes, clearly ... where woudl we drop the files right now to make sure they get included in the contributor site?

[2020-07-16 16:40] fabriziopandini commented on #4959
Thanks everyone for putting this together!
[completed](https://drive.google.com/file/d/142_79HUpwjHUaM29D1w9cptozI0PCjiD/view?usp=sharing)

[2020-07-16 18:18] jberkus commented on #4894
New location is going to be contributor-site/docs/newcontributor/

[2020-07-16 20:45] celestehorgan opened #4968 "WG Naming turn-up activities"
Remaining activities to finish off WG creation!

- [x] Create mailing list
- [x] Create governance.md
- [x] Request a slack channel
- [x] Create a leads mailing list
- [x] Request a Zoom account (depends on leads ML)
- [x] Request a YT playlist
- [x] Schedule and set up a meeting, link it to mailing lists

And some extras:

- [x] Send an email to kubernetes-dev to let them know we're here
- ~[ ] W

[2020-07-16 20:46] celestehorgan opened #4969 "WG Naming execution activities"

[2020-07-16 20:55] justaugustus commented on #4969
/wg naming

[2020-07-16 20:55] justaugustus commented on #4968
/wg naming

[2020-07-16 21:06] dashpole commented on #4959
[david-ashpole-the-inclusive-speaker-orientation-lfc101-certificate.pdf](https://github.com/kubernetes/community/files/4934152/david-ashpole-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-17 01:46] msau42 commented on #4959
[completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/e2f8d8ac-38a1-472d-96e0-907c6f4642c7-michelle-au-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-17 03:16] alejandrox1 commented on #4959
completed
[jorge-alarcon-the-inclusive-speaker-orientation-lfc101-certificate.pdf](https://github.com/kubernetes/community/files/4935553/jorge-alarcon-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-17 04:57] celestehorgan commented on #4968
/assign @justaugustus @celestehorgan @zacharysarah @jdumars

[2020-07-17 16:12] joelsmith commented on #4959
Training completed, cert LF-xot499c14g

[2020-07-17 16:54] andrewsykim commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/e834e25b-03e6-467c-b736-f6703992def4-andrew-kim-the-inclusive-speaker-orientation-lfc101-certificate.pdf)! Thanks for putting this together!

[2020-07-17 19:48] apelisse commented on #4959
Done
https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/a5900b61-cea1-491f-b1c0-cf56d1fc7a31-antoine-pelisse-the-inclusive-speaker-orientation-lfc101-certificate.pdf

[2020-07-18 14:28] xing-yang commented on #4959
I completed the training.  Thanks.

[2020-07-19 20:18] jeefy commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/e2e7696f-68e3-4ee1-a554-b19a67d3d973-jeffrey-sica-the-inclusive-speaker-orientation-lfc101-certificate.pdf)! Thanks for putting this together y'all!

[2020-07-20 07:41] gjtempleton commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/9cf72fa3-9cb4-5c30-bc9a-dafe6b3fd81b-guy-templeton-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-20 16:16] neolit123 commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/b8528bcb-9e54-42aa-a61d-ec93a0c97bb3-lubomir-ivanov-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-20 22:35] jberkus commented on #4897
Thanks!

Anyway, this is done

/close

[2020-07-20 22:35] #4897 closed

[2020-07-20 23:09] mtaufen commented on #4723
I'm not sure about why the needs-attention label was applied, probably fine to remove?

[2020-07-20 23:09] kwiesmueller commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/debc7512-4c1b-4f64-93ad-c634bbbed385-kevin-wiesmller-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-21 00:08] mrbobbytables commented on #4723
I think so 👍

/remove-lifecycle stale

[2020-07-21 00:53] zacharysarah opened #4979 "REQUEST: New Slack channel kubernetes-docs-fa"
Create a Slack channel for فارسی (Persian) docs localization.

For reference, the SIG Docs issue is https://github.com/kubernetes/website/pull/22565.

/sig docs
/language fa

[2020-07-21 01:11] irvifa commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/667f99f6-b489-46eb-a3c4-1bb9e1ebd382-irvi-firqotul-aini-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-21 01:19] zacharysarah commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/612c96ca-0289-44a4-999f-82627e554cb7-zach-corleissen-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-21 01:48] jimangel commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/bb82bb64-b53d-5d15-9d77-6ee0c3a16c72-james-angel-the-inclusive-speaker-orientation-lfc101-certificate.pdf) :+1:

[2020-07-21 04:59] youngnick commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/76ecb911-934a-4a5b-b061-227de5f3adbe-nick-young-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-21 13:37] mrbobbytables commented on #3179
The members have been removed, there are a few blocks on on updating owners with code freeze etc but those will be resolved soon.
With that, I think this is good enough to call done \o/

[2020-07-21 16:42] nikhita commented on #2992
Update - we are talking to Snyk folks on things we'd need from them for using their tool for k/k (thanks @elson-snyk!). Conversation going on in #k8s-code-organization in slack.

[2020-07-21 18:13] justaugustus commented on #2323
Opened another for SIG Scalability: https://github.com/kubernetes/org/pull/2056

[2020-07-21 23:33] mrbobbytables commented on #3179
Going to go ahead and close it 👍  If there is any other follow up please go ahead and reopen
/close

[2020-07-21 23:33] #3179 closed

[2020-07-21 23:40] coderanger commented on #4641
+1 from me. Is there a PR for making the new channel?

[2020-07-21 23:45] mrbobbytables commented on #4641
+1 from me as well, theres no current PR to add the channel specifically, but sounds like theres a few things that need to be sorted out with prow first.

[2020-07-22 00:04] mrbobbytables commented on #4549
cc @detiber who was interested in helping record a session 👍

[2020-07-22 02:40] onlydole commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/55ebeb90-9a87-5148-972f-19f7dbaec004-taylor-dolezal-the-inclusive-speaker-orientation-lfc101-certificate.pdf) 👍

[2020-07-22 05:29] evankanderson commented on #4471
Still discussing #4521

[2020-07-22 09:26] wojtek-t commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/f17da3aa-97d4-4870-8527-7a6938534ae7-wojciech-tyczynski-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-22 13:17] Evalle commented on #4109
@mrbobbytables @zestrells hey folks. I think I can take care of this issue if @zestrells doesn't have time for it atm.
Thanks!

[2020-07-22 20:53] benmoss commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/f13373bc-517d-41e1-bfca-cb3bac146d2f-ben-moss-the-inclusive-speaker-orientation-lfc101-certificate.pdf) 😸

[2020-07-22 22:58] mrbobbytables commented on #4109
@Evalle As its been some time and it's open, I think you can go for it :) Please feel free to assign

[2020-07-22 23:57] evankanderson commented on #4471
/remove-lifecycle stale

[2020-07-23 00:17] #4961 closed

[2020-07-23 01:06] tallclair commented on #4959
Completed

[2020-07-23 05:29] Evalle commented on #4109
@mrbobbytables thanks!
/assign

[2020-07-23 17:00] BenTheElder commented on #4959
Completed
<img width="1117" alt="Screen Shot 2020-07-23 at 9 57 04 AM" src="https://user-images.githubusercontent.com/917931/88315251-ec693780-ccca-11ea-9fc6-974f76c65b28.png">

[2020-07-23 17:21] justinsb commented on #4959
Completed

[2020-07-23 20:44] #4726 closed

[2020-07-23 21:26] #4798 closed

[2020-07-24 10:31] Pensu commented on #4469
/remove-lifecycle stale

[2020-07-24 10:48] #4109 closed

[2020-07-24 13:50] mbbroberg commented on #4906
Confirming this was sent already: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/Uyo0BXB69Qk/PG4WrGuaBQAJ

[2020-07-24 13:50] mbbroberg commented on #4906
/close

[2020-07-24 13:50] #4906 closed

[2020-07-24 14:45] nyuday commented on #3654
@mbbroberg I’d like to try creating a piece about SIG-Usability.

[2020-07-24 16:50] vonguard commented on #3654
@mbbroberg I'm still interested in writing about SIG Networking but I was completely unable to get anyone on the team to schedule an interview

[2020-07-24 17:04] #3467 closed

[2020-07-24 17:04] #4903 closed

[2020-07-24 17:15] xing-yang commented on #4903
Hi  @mrbobbytables, so we are all set for this, right?  We don't need to manually add it any more?

[2020-07-24 17:19] mrbobbytables commented on #4903
@xing-yang You're good! We've automated the process away :)

[2020-07-24 17:21] xing-yang commented on #4903
Awesome!  Thanks @mrbobbytables!

[2020-07-24 19:01] mtaufen commented on #4959
[michael-taufen-the-inclusive-speaker-orientation-lfc101-certificate.pdf](https://github.com/kubernetes/community/files/4973808/michael-taufen-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-24 22:47] celestehorgan commented on #4968
@kubernetes/wg-naming-leads – I'm about ready to draft a hello world to kubernetes-dev. Are we okay with this?

[2020-07-25 17:54] #2878 closed

[2020-07-25 17:54] #3947 closed

[2020-07-26 13:04] mrbobbytables commented on #4395
Just to update, the only 2 that have issues at this point in time are:
- kubernetes-wg-policy - must apply to join
- kubernetes-wg-security-audit - not public

[2020-07-27 12:46] mrbobbytables commented on #3479
/remove-lifecycle stale

[2020-07-27 12:46] mrbobbytables commented on #4077
/remove-lifecycle stale

[2020-07-27 12:47] mrbobbytables commented on #4707
/remove-lifecycle stale

[2020-07-27 15:36] #4409 closed

[2020-07-27 16:33] onlydole commented on #4710
/remove-lifecycle stale

[2020-07-27 19:57] #4979 closed

[2020-07-29 00:46] aasmall commented on #4959
I've [completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/e0b074f2-e137-4f34-a4a7-9301989b527b-aaron-small-the-inclusive-speaker-orientation-lfc101-certificate.pdf) the training.

[2020-07-29 07:41] wojtek-t commented on #4454
/remove-lifecycle stale

[2020-07-29 15:44] cantbewong commented on #4959
I completed the training and recieved cert number LF-px2a29or36

[2020-07-30 04:28] cjcullen commented on #4959
[Done](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/12fcd758-6623-41cf-b7b1-35f4b4b81982-cj-cullen-the-inclusive-speaker-orientation-lfc101-certificate.pdf)!

[2020-07-30 18:09] spiffxp commented on #3621
FWIW, I find spyglass' PR history page to be really useful for keeping track of what ran / passed when on my PR.  I most often get there via a link in the "tests failed" bot comment.

eg: https://github.com/kubernetes/kubernetes/pull/93549#issuecomment-666568900 -> "Full PR test history" -> https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=93549

[2020-07-30 18:22] spiffxp commented on #3621
The other way I know to get there:
- eg: https://github.com/kubernetes/kubernetes/pull/93459
- click on "Details" next to a status context that corresponds to a prowjob (eg: that isn't "tide" or "cla/linuxfoundation" or travis ci or github action context) - let's do pull-kubernetes-bazel-build
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93459/pull-kubernetes-bazel-build/128823318

[2020-07-31 01:47] rikatz commented on #4754
/remove-lifecycle stale

There's a PR ongoing in test-infra about this, but if you think we should deal directly in the PR I'm fine with that :)

[2020-07-31 14:16] mbbroberg commented on #4959
Hey! I'm not listed but lead in the Marketing WG so I thought it important to complete as well. [All done.](https://github.com/kubernetes/community/files/5007431/matthew-broberg-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-07-31 15:16] castrojo commented on #4892
/assign

I've moved/fixed the TL/Chairs leads doc into the contributors@ gdrive and shared the permissions to the proper groups. I'm going to make a final scrub through the repo next week to check for dangling references to the old doc and fix them.

[2020-07-31 15:54] mbbroberg commented on #4825
This is completed by the creation of https://github.com/kubernetes-sigs/contributor-tweets

[2020-07-31 15:54] #4825 closed

[2020-07-31 15:55] mbbroberg commented on #4626
This is technically completed by https://github.com/kubernetes-sigs/contributor-tweets, though needs documentation on how someone manages the twitter account. It's ready to close since we're no longer looking for an external platform.

/close

[2020-07-31 15:55] #4626 closed

[2020-08-01 20:10] cblecker commented on #3621
Sorry for the delay in coming back to this issue. We ran questions on this in the 2019 Contributor Survey, and they were posted back in March -- but with the state of the world, this dropped off my radar.

In reviewing the data we were able to glean from the survey, while it's clear that there are those in the community that see these notifications as a problem, the majority of the community do no

[2020-08-02 18:40] castrojo opened #5005 "Stateless example in docs should use be reviewed"
So I'm in the middle of a workshop with students using K8s and the example workshop links to this tutorial:

- https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

I did some digging and this terminology still seems to be an issue that redis hasn't solved so I'm wondering if we should just find someone to redo this with a stateless example that just avoids redis altogether. Eithe

[2020-08-02 18:45] castrojo commented on #5005
/assign

Unless anyone feels strongly otherwise I'm going to find someone with the technical expertise to fix this as soon as we can.

[2020-08-03 15:38] sftim commented on #3621
SIG Docs uses Prow, but right now that's almost entirely for enforcing process rather than for testing the change itself.
From a SIG Docs perspective I'd welcome a GitHub Checks status that lists all the reasons why a PR can't merge, perhaps with a link to likely actions that would change that for each one. Similar to “_Not mergeable. Needs approved label._” but with much more detail.

If we could

[2020-08-03 16:01] dejanb commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/6a41f719-624e-4057-8264-a80a447a4e78-dejan-bosanac-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-03 17:06] BenTheElder commented on #3621
Minor note: The Checks API is blocked on https://github.com/kubernetes/test-infra/issues/10423

[2020-08-03 22:01] jberkus commented on #4893
[Started guide draft](https://docs.google.com/document/d/1gpOhG8uaXSVyVycsi2_A-TyEpTDEIV_vpbaYOwSlf04/edit?usp=sharing)

[2020-08-03 23:18] parispittman commented on #4944
@mkorbi let me know if you need any help - I've done this section a bunch and have slides

[2020-08-04 05:41] sttts commented on #4959
Completed. LF-j49i025peq.

[2020-08-04 09:37] RameshJampana opened #5006 "e2e test failed with admission webhook and CustomResourceConversionWebhook"
Hi Team,
Can you please look into this issue.
PLUGIN     STATUS   RESULT   COUNT
        e2e          complete   failed       1

e2e.log failed testcases

[sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should not be able to mutate or prevent deletion of webhook configuration objects [Conformance]
[sig-api-machinery] CustomResourceConversionWebhook [Privileged:ClusterAdmin] should b

[2020-08-04 09:38] RameshJampana commented on #5006
/sig-api-machinery

[2020-08-04 10:17] RameshJampana commented on #5006
@deads2k @lavalamp
Hi David/Daniel
could you plz help on this issue.

Thanks,
Ramesh

[2020-08-04 10:41] mm4tt commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/50d419e3-ba9c-4635-8447-532032e992e0-matt-matejczyk-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-04 10:57] neolit123 commented on #5006
/close
please log this ticket in the kubernets/kubernetes repository where we track e2e failures.
then use `/sig api-machinery` to tag it.

thanks

[2020-08-04 10:58] #5006 closed

[2020-08-04 16:08] alejandrox1 commented on #4289
I think this issue in itself is a good example of the problem statement.

What follows is my perspective (biased in many ways)

Some of the actionable tings that were proposed in this issue are the following:

It ultimately comes down to "team X needs acknowledgement from leads that they know about information Y".
And hopefully that information would be passed along in the respective SIG meetings.

[2020-08-05 19:56] mikedanese commented on #4959
Completed. LF-7hb4nczak0.

[2020-08-05 20:41] #4969 closed

[2020-08-05 21:21] celestehorgan commented on #4399
/wg naming

Duplicate/overlapping issue: https://github.com/kubernetes/website/issues/17070

[2020-08-05 21:52] karenhchu opened #5009 "REQUEST: New Slack channel #openservicemesh"
**GitHub Username:**
karenhchu
michelleN

**Slack Username:**
karenhchu
mnoorali

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
channel

**Name of Requested Resource:**
#openservicemesh

**Description of Request:**
Need a place to discuss Open Service Mesh (OSM) matters with the community.

[2020-08-05 23:18] #4296 closed

[2020-08-05 23:25] coderanger commented on #5009
Hmm, are you sure this shouldn't go in the CNCF Slack? We are always happy to host ecosystem projects but if you're expecting to grow as a community we would recommend using the CNCF Slack instead.

[2020-08-05 23:52] stealthybox commented on #4959
Completed: [leigh-capili-the-inclusive-speaker-orientation-lfc101-certificate.pdf](https://github.com/kubernetes/community/files/5031753/leigh-capili-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

![leigh-capili-the-inclusive-speaker-orientation-lfc101-certificate](https://user-images.githubusercontent.com/2754700/89474963-4266c200-d744-11ea-8435-e341ab89cb3b.png)

[2020-08-06 09:37] mm4tt opened #5010 "Grant sig-scalability leads write/admin access to github.com/kubernetes/perf-tests repo"
Dear @kubernetes/owners,

We'd like to request write/admin access to github.com/kubernetes/perf-tests repository for sig-scalability leads (https://github.com/orgs/kubernetes/teams/sig-scalability-leads)
The access is needed to cut release branches. We started cutting release branches, mimicking the k/k release model, in order to address issues with accidentally breakages of k/k presubmits (see ht

[2020-08-06 09:40] mm4tt commented on #5010
/sig contributor-experience

[2020-08-06 09:41] mm4tt commented on #5010
/area github-management

[2020-08-06 10:30] dims commented on #5010
cc @cblecker @nikhita

[2020-08-06 10:39] dza89 opened #5011 "Limitrange request causes indefinite amount of pods spawned"
Kubernetes version: 1.16
kubeletVersion: v1.16.13-eks-2ba888

Just wondering if this is works as designed or an issue.

[code]

When the above limitrange is set, and there is no node available with 0.5 CPU available; an endless amount of pods is spawned.

Since the limits are set on container level, the kubelet receives the requests, then the requestlimit is added and the container cannot be sched

[2020-08-06 10:40] nikhita commented on #5010
@mm4tt -- @kubernetes/sig-scalability-leads should have admin access to the perf-tests repo now. :+1:

Btw just for the future, if you create an issue in https://github.com/kubernetes/org, it'll get seen by the org admins quicker. :)

/close

[2020-08-06 10:40] #5010 closed

[2020-08-06 10:46] mm4tt commented on #5010
Thanks!

[2020-08-06 11:35] dza89 commented on #5011
/sig scheduling

[2020-08-06 12:29] mrbobbytables commented on #5011
The community repo is used as the general management point of Kubernetes contributor community. Issues like that are not likely to be answered here.

However that doesn't sound like a desired behavior..would you mind opening an issue in https://github.com/kubernetes/kubernetes?

[2020-08-06 13:21] mrbobbytables commented on #5011
Issue has been opened: https://github.com/kubernetes/kubernetes/issues/93750
Going to go ahead and close this in favor of that one 👍

/close

[2020-08-06 13:21] #5011 closed

[2020-08-06 21:12] celestehorgan commented on #4968
Put us on the agenda for Contribex's August 20th meeting.

And with that, I'm calling this done!

[2020-08-06 21:12] #4968 closed

[2020-08-08 00:09] jberkus opened #5019 "2020 Steering Committee Election Tracking"
- [x] Generate voters.md
- [x] obtain emails and create email queue
- [x] Create 2020 intial election documents
- [x] Create exemption form
- [x] Send election announcement to kdev and start accepting nominations
- [x] Send weekly nomination status updates to kdev
- [x] Send notifications that nominations close in 24 hours
- [x] Hold Steering/candidates public session
- [x] Prep ballot
- [x] Send

[2020-08-09 00:29] #4349 closed

[2020-08-09 00:29] #4530 closed

[2020-08-09 13:42] #4388 closed

[2020-08-09 15:44] #3999 closed

[2020-08-10 02:17] zacharysarah opened #5021 "Review anti-racist language guidelines from other organizations for adoption by WG Naming"
Review how other organizations and projects are changing outdated and harmful language. Note any emerging consensus.

Possible sources include:
- [ ] Microsoft (specifically GitHub)
- [ ] Apple
- [ ] IBM
- [ ] Google
- [ ] Amazon

ref: https://www.cnet.com/news/microsofts-github-is-removing-coding-terms-like-master-and-slave/

/wg naming

## Moving forward

After review from WG Naming, we note eme

[2020-08-10 02:39] dims commented on #5021
Chris Wright from Red Hat's blog post - https://twitter.com/kernelcdub/status/1277954122172465152?s=20

[2020-08-10 16:13] lavalamp commented on #3752
/reopen
/lifecycle frozen

[2020-08-10 18:10] #4539 closed

[2020-08-11 13:26] jayunit100 opened #5024 "Create a network policy user group directory"
I would like to create folder under community/ called "network-policy-ug", where we could have. a permanent user group home, which would initially start as a home for some artifacts produced by the Kubernetes sig-network WG for network-policies.

*Motivation*

We have a current network policy working group associated with sig-network, which I believe will be able to complete most of its core purpo

[2020-08-11 15:45] rajula96reddy commented on #4549
I'd be happy to pitch in. I can help with 'Local Build..' and 'PR exercise' sessions.

PS: I was part of the audience for one of the Kubecon NCW and It has been a wonderful experience ❤️

[2020-08-11 17:49] ericavonb commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/95d0da8f-a877-4d66-8523-59e597d6ed0c-erica-von-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-11 18:42] pupapaik opened #5025 "Pod IP in hostNetwork mode does not update when node IP changes"
When PODs are running in hostNetworking mode they use Kubernetes node IP address. I hit issue when actual node IP changes, but some of the pods have never reflected the change. See screenshot bellow:

![image](https://user-images.githubusercontent.com/7746321/89935425-73e30000-dc12-11ea-9baf-05337c3c05e8.png)

The workaround is to restart kubelet. It seems like there is condition which does not up

[2020-08-11 18:44] dims commented on #5025
please open in https://github.com/kubernetes/kubernetes

/close

[2020-08-11 18:44] #5025 closed

[2020-08-11 19:45] zacharysarah opened #5026 "REQUEST: New Slack channel: sig-docs-localization"
**GitHub Username:**
@bradtopol
@jimangel

**Slack Username:**
@bradtopol
@jimangel

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

Channel

**Name of Requested Resource:**

sig-docs-localizations

**Description of Request:**

Language localizations for Kubernetes docs need an easy way to confer with each other, provide mutual support, and provide a better contribut

[2020-08-11 20:21] raelga commented on #5026
Thanks for the initiative!

[2020-08-11 20:23] sftim commented on #5026
LGTM!

[2020-08-11 20:40] coderanger commented on #5026
The `sig-docs-` prefix in Slack is delegated to the SIG-Docs team, so y'all can do this directly. Add your channel to https://github.com/kubernetes/community/blob/master/communication/slack-config/sig-docs/docs-channels.yaml and you can approve it yourself :)

[2020-08-11 22:05] #5026 closed

[2020-08-12 10:16] nikhita commented on #5024
@jayunit100 would need to follow the process here - https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md#prerequisites-for-a-ug :)

/sig network
/committee steering

[2020-08-12 14:23] jayunit100 commented on #5024
I think per conv w Bobby .... it's a no go as wgs and ugs and sps don't own code.  Will use a personal github repo for now .

[2020-08-12 14:42] mrbobbytables commented on #5024
subprojects can own code (as they're owned by a sig) - Would just need a place or repo that sig-network signs off on to put it all 👍

[2020-08-12 18:04] jayunit100 commented on #5024
ah, ok, ill leave this open for now then.  Ive put a feeler out on the mailing list as to *what* our deliverable will be for the policy stuff...  once I get some feedback there, then will know what to do.

[2020-08-12 19:02] puerco commented on #4549
I'm happy to help with _The Release Cycle_ segment.

[2020-08-12 21:00] ahg-g commented on #4959
![mYsrqYSnyCA](https://user-images.githubusercontent.com/40361897/90067561-47d08900-dcbd-11ea-805b-eef5da0c58e5.png)

[2020-08-13 00:11] karenhchu commented on #5009
Thanks for the feedback. We've taken this request to the CNCF. I will go ahead and close the issue.

[2020-08-13 00:11] #5009 closed

[2020-08-13 06:32] Pensu commented on #4954
Would love to work on this.
/assign

[2020-08-13 15:22] spiffxp opened #5034 "Retire WG Machine Learning"
/wg machine-learning
/comittee steering
/assign @castrojo @mrbobbytables
Since we discussed on slack

/assign @k82cn @vishh @kow3ns
Listed as WG organizers

ref: https://groups.google.com/forum/#!topic/kubernetes-dev/WBYJmIIaY4c

per: https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md#steps

I'm happy to help however I can

[2020-08-13 17:08] mdevasar opened #5036 "nslookup not working for pod and service"
Hi All,

when i run kubectl exec pod -it -- nslookup 10-0-9-5.default.pod i got error unknow path same is for service. plz help to fix it.

[2020-08-13 17:21] mrbobbytables commented on #5036
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-08-13 17:21] #5036 closed

[2020-08-13 19:40] mrbobbytables commented on #3795
In general I do see KEPs being used more for process changes and we probably should update the docs to reflect it. The discussion for adding tooling support for process/policy changes has been started in https://github.com/kubernetes/enhancements/issues/1783.

A recent example of a process change KEP is the [Issue Triage KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-contribu

[2020-08-14 00:08] imkin commented on #4959
<img width="848" alt="image" src="https://user-images.githubusercontent.com/2793249/90198765-4b186180-ddf0-11ea-89cd-a60e47aa0647.png">

[2020-08-14 16:50] castrojo commented on #5034
### Steps:
- [ ] Send an email to kubernetes-dev@googlegroups.com and community@kubernetes.io alerting the community of your intentions to disband or merge. [example]
- This kicks off the process for Contributor Experience’s community managers who will reach out and set an issue against `kubernetes/community` with exact next steps covered below. We can help walk through this when you get there. Mo

[2020-08-14 18:48] marosset commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/4e207198-cdae-4f5c-b75e-3fb3fe1a655c-mark-rossetti-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-17 11:07] randomvariable commented on #4959
[Completed: LF-ingcb5l3nl](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/95a27585-82d8-5ae4-9035-29ceb716fbc4-naadir-jeewa-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-17 14:45] mrbobbytables commented on #4395
/assign @ericavonb @hannibalhuang
For kubernetes-wg-policy

/assign @aasmall @cji @JayBeale @joelsmith
For kubernetes-wg-security-audit

[2020-08-17 15:26] munnerz opened #5040 "REQUEST: New communication about the Slack reporter tool"
**What do you want send out?**

A message to inform/remind users of Slack that the Slack reporter tool exists to report CoC violations to the Slack administration team and CoCC, to ensure everyone is aware of it. (in a non-boring way! 😄)

**What’s the intended outcome?**

People reporting messages and code of conduct violations on Slack, and ensuring it's a well known resource.

**What is the spon

[2020-08-17 18:51] mbbroberg commented on #5040
Thanks for filling this out @munnerz! We'll get working on it. cc @kaslin

[2020-08-18 00:09] #4444 closed

[2020-08-18 13:20] mkorbi opened #5043 "Adjust German style guide for inclusive speech & check translated docs"
Not sure if it is best placed here or at kubernetes/website.
## Issue 1
The German language is in most cases ether using a masculine or feminine ending of a word.

Small example:
- EN: "As contributor you have to follow the code of conduct."
- DE: "Als Beitragend**er**/**e** musst du dem Verhaltenscodex folgen."
As shown above, in DE we can't express a role, person, job etc. in a neutral way.

ToD

[2020-08-18 17:37] cji commented on #4395
I believe I have corrected the settings for kubernetes-wg-security-audit based on the [documentation](https://github.com/kubernetes/community/blob/master/communication/mailing-list-guidelines.md) I found.

[2020-08-18 18:46] markyjackson-taulia commented on #2873
/remove-lifecycle stale

[2020-08-18 18:47] markyjackson-taulia commented on #1693
/remove-lifecycle stale

[2020-08-18 20:34] pramchan opened #5044 "#SIG-Architecture Support for RISCV"
Since was looking at CNI and found there is no support for RISCV , wanted the architecture SIG to look at possibility of adding support for RISCV. Who will be interetsed in it? Possibly currently Academic like UC Berkely & IITM.
Some reference links are here for review:
https://en.wikipedia.org/wiki/RISC-V
https://en.wikipedia.org/wiki/Berkeley_RISC
https://gitlab.com/shaktiproject/software/shakti

[2020-08-18 20:38] pramchan commented on #5044
/assign @dims  -- can you comment on this?

[2020-08-18 20:40] pramchan commented on #5044
I created one for CNI - https://github.com/containernetworking/cni/issues/784

[2020-08-18 21:34] cheftako commented on #4959
Completed. https://www.youracclaim.com/badges/586f618b-b86a-4abc-a932-2671b259c7ee

[2020-08-18 21:52] jayunit100 commented on #5024
im going to close this, we'll use our own personal repos for now

[2020-08-18 22:05] dims commented on #5044
@pramchan https://github.com/kubernetes/community/pull/5014

[2020-08-19 14:48] mrbobbytables commented on #4584
/remove-lifecycle stale

[2020-08-19 16:42] pwittrock commented on #4959
Completed.  [Certificate](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/ba11a077-2caa-43d3-84c7-74b5b8b50cc7-phillip-wittrock-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-19 17:48] umohnani8 commented on #4959
Completed the course - [certificate](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/a54b2fbd-8bf1-4b9b-8b61-b9a4f07c636d-urvashi-mohnani-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-19 17:55] jdumars commented on #4959
Completed. [Certificate](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/698e63ec-5598-4d5e-a3a3-16d13ddc4e54-jaice-singer-dumars-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-19 18:05] caseydavenport commented on #4959
Completed. [Certificate](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/c2e87d18-fbf4-43e8-909c-c08583ea623a-casey-davenport-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-19 21:57] seans3 commented on #4959
Completed. [Certificate](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/c4c1b843-9cac-4564-8ca2-4db935163987-sean-sullivan-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-19 22:20] AevaOnline commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/46c8ac81-2246-4360-a933-0d68901f24ce-aeva-black-the-inclusive-speaker-orientation-lfc101-certificate.pdf).

[2020-08-19 23:01] mwielgus commented on #4959
Completed. [Certificate.](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/f2b43671-7010-4205-bda6-08c860001ca5-marcin-wielgus-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-20 01:14] karenhchu commented on #4959
Completed.

[2020-08-20 02:42] spzala opened #5051 "Contributor site - couple of broken references"
The following references are broken:

Under `Making your First Contribution` page:
See **Open A Pull Request** below.
Please see **Contributing** below for the workflow

Under `Contributing to Kubernetes` page:
Beginner focused information can be found below in **Open a Pull Request**

[2020-08-20 02:44] spzala commented on #5051
/sig contributor-experience

[2020-08-20 02:47] spzala commented on #5051
/cc @mrbobbytables @castrojo
I am not sure if we are compiling all issues around Contributor site and fixing, but can help with the fix if needed. Thanks!

[2020-08-20 03:00] spzala opened #5052 "Contributor site - inconsistency in the doc at few places"
The site has inconsistency in completing sentences with or w/o period in few pages. We should do clean sweep across all pages and try to make it consistent for a better user experience, few examples below:
Under `Getting Started` page:
See the sentences under **Sign the CLA** and **Setting up your development environment** vs **Code of Conduct**
See the sentences under **Events** and **Mentorship*

[2020-08-20 03:00] spzala commented on #5052
/cc @mrbobbytables @castrojo

[2020-08-20 03:06] spzala opened #5053 "Contributor site - showing links in new tab"
The site shows links for twitter, mailing list, slack etc in a new tab. However, all the links in the pages e.g. **Youtube playlist** under `Getting started` and in general all hyperlinks by default opens in the same page. It would be nice if we use new tab for all links. This is a suggestion, not a bug.

/sig contributor-experience

[2020-08-20 03:06] spzala commented on #5053
/cc @mrbobbytables @castrojo

[2020-08-20 03:09] spzala commented on #5044
/sig architecture

[2020-08-20 03:11] mrbobbytables commented on #5053
We can't configure that as markdown links. It's either/or.

[2020-08-20 03:11] mrbobbytables commented on #5051
I did a 404 scan and already have PRs in flight for fixing 👍

[2020-08-20 03:18] gkarthiks opened #5054 "Contributor site - Update site link in twitter profile"
The contributor site is up and running at https://k8s.dev

The Twitter profile k8scontributors link is still forwarding to GH.

![image](https://user-images.githubusercontent.com/30545166/90712881-9daabf80-e2c1-11ea-95d6-845e378ede70.png)

/sig contributor-experience

/cc @mrbobbytables

[2020-08-20 03:19] gkarthiks commented on #5054
/sig contributor-experience

[2020-08-20 03:23] spzala commented on #5051
Awesome! Thanks @mrbobbytables

[2020-08-20 03:24] spzala commented on #5053
OK, thanks Bob, whatever we decide is fine!

[2020-08-20 07:50] maciaszczykm commented on #4959
Completed: https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/c9aa109d-7511-4e09-995b-7fbdff85a40f-marcin-maciaszczyk-the-inclusive-speaker-orientation-lfc101-certificate.pdf

[2020-08-20 08:09] floreks commented on #4959
Completed.

![Zrzut ekranu z 2020-08-20 10-08-49](https://user-images.githubusercontent.com/2285385/90733697-34c94480-e2cd-11ea-8280-300a8ed47390.png)

[2020-08-20 11:06] matthyx commented on #4149
/remove-lifecycle stale

[2020-08-20 14:11] mrbobbytables commented on #5053
If the content was hosted directly out of the repo instead of being ingested we could have a little more control over it, but in its current form we cannot reasonably change it. =/

With that do you think this can be closed?

[2020-08-20 14:47] spzala commented on #5053
Yup, closing it. Thanks @mrbobbytables

[2020-08-20 18:51] sftim commented on #4953
I might be able to help with this. I'd certainly like to!

[2020-08-20 18:53] savitharaghunathan commented on #4953
Hi @sftim 👋  do you want to team up? It would be awesome :) We can do the presentation together?

[2020-08-20 19:12] mrbobbytables commented on #5051
All PRs with link fixes have been merged 👍
going to go ahead and close.
/close

[2020-08-20 19:13] #5051 closed

[2020-08-20 19:17] sftim commented on #4953
I'm happy to try @savitharaghunathan - I can't be sure that I can make time, that's my only reason for reluctance.

[2020-08-20 22:01] jberkus opened #5059 "Changes to the voter rolls for 2020 Steering election"
This year we have had several questions regarding contributors who should have been in voters.md, but were not.  Because this year’s EC includes someone who does databases, we’ve probed the missing names more than we have in the past, and this year has also involved the list of Org Members for the first time.  This has yielded some irregularities and changes, a few of which the EC needs to vote on

[2020-08-20 23:14] savitharaghunathan commented on #4953
@sftim Cool. I will follow up with you in slack.

[2020-08-21 16:18] sureshpalemoni opened #5061 "Periodic tweets and emails about SIGs"
**What do you want send out?**
Twitter handle should tweet or periodical email to distribution list about the existing SIG one at a time.

**What’s the intended outcome?**
For example we tweet/email periodically about  /sig-apps/CONTRIBUTING.md
 - If email - short one line what this sig about(tweet we can have this if we post some template image)
 - References to active repo of this SIG
 - contact

[2020-08-23 18:12] #4587 closed

[2020-08-23 23:32] coderanger commented on #4799
I've spent a few months on the "strict moderation of #kubernetes-dev" train. How do you feel about closing this?

[2020-08-24 03:00] BenTheElder commented on #4799
Maybe we should advertise it again? Getting it back on topic is great but doesn't on its own age having a place to message all of upstream (think announcements but for development)

[2020-08-24 12:42] mylesagray commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/87e99382-a078-4049-8ffb-27f1f895f6b0-myles-gray-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-24 17:26] markyjackson-taulia commented on #4010
/remove-lifecycle stale

[2020-08-25 15:49] castrojo commented on #4892
/close

I've set the old group to "owners" only allowed to post per the google groups documentation. The last post was 24 days ago and the the traffic on the new leads group is recent, so closing this for now.

[2020-08-25 15:49] #4892 closed

[2020-08-25 16:01] castrojo commented on #5034
I don't have access to the Google Group to archive it, one of the leads will have to do that.

[2020-08-25 18:28] thockin commented on #4959
I have clicked through the whole thing three times now and taken every quiz, but it still says I am at 90%.  The only section that doesn't have a blue check is "Before you begin" which I have clicked through over and over.

[2020-08-25 18:32] thockin commented on #4959
[Uploading tim-hockin-the-inclusive-speaker-orientation-lfc101-certificate.pdf…]()

[2020-08-25 18:42] detiber commented on #4641
Created a PR to add the slack channel here: https://github.com/kubernetes/community/pull/5069
/cc @cjwagner

[2020-08-26 16:56] #4931 closed

[2020-08-26 17:26] #1644 closed

[2020-08-26 18:30] #5059 closed

[2020-08-26 23:38] jberkus opened #5074 "Proposal: prompt contributors to join the org"
In the Elections committee, we were surprised to find that there were 302 folks who made 50 contributions (of some kind) to Kubernetes in 2019-2020 but were not org members.  The reason for this is likely that they don't know about org membership, or don't think it applies to them.

After a discussion, we thought it would be a good idea to prompt every contributor to become an org member on their

[2020-08-27 06:25] spiffxp commented on #5074
See https://github.com/kubernetes/test-infra/issues/13371 for prior discussion about this

[2020-08-27 19:48] #3623 closed

[2020-08-27 21:25] #4823 closed

[2020-08-27 21:25] celanthe commented on #4823
This was tweeted about, and thus can be closed!

[2020-08-27 23:12] JayBeale commented on #4959
Completed.

[2020-08-28 01:28] jayunit100 commented on #5024
@rikatz :)

[2020-08-28 01:41] spiffxp commented on #2651
Refreshing state...

There's now a KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1618-conformance-profiles
And a tracking issue to go along with it: https://github.com/kubernetes/enhancements/issues/1618

A suggestion of what Base/Privileged might look like: https://github.com/kubernetes/community/pull/4994

And to help frame where SIG Architecture is currently

[2020-08-28 01:41] #2651 closed

[2020-08-28 15:08] LogicalShark opened #5080 "Instrumentation quickstart should use or mention wrappers for prometheus"
Since prometheus is generally used with wrappers rather than directly called, this documentation should either mention that this is the preferred style or use an example wrapper.

File to be updated: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/instrumentation.md
(Quick Start parts 1, 2, 3)

Example use of MustRegister wrapper: https://github.com/kuber

[2020-08-28 21:12] johnbelamaric commented on #4959
[Done](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/7ccf7e84-e374-418f-8966-7d89bbc12b0a-john-belamaric-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-08-28 21:28] fedebongio commented on #4959
I'm having something similar to @thockin, it's stuck at 86% and the section that never get's checked is "Before you begin"

[2020-08-28 22:17] parispittman commented on #5054
updated

thanks for the catch!

/close

[2020-08-28 22:17] #5054 closed

[2020-08-30 10:08] sureshpalemoni commented on #5061
https://guides.github.com/features/mastering-markdown/
<img width="581" alt="Screen Shot 2020-08-30 at 2 05 24 PM" src="https://user-images.githubusercontent.com/16357895/91656498-2d264e80-eaca-11ea-8631-6942a062a713.png">

@mbbroberg  - Example Format

[2020-08-31 17:23] stevekuznetsov commented on #4959
Completed. Great course.
[course.pdf](https://github.com/kubernetes/community/files/5151685/course.pdf)

[2020-08-31 18:29] grosser opened #5085 "Allow blocking unchunked requests to list pods"
We have lots of pods and requests to get all pods use lots of memory on the api-server ~150m atm.
It would be nice if we could block any client from doing a request without chunking (limit to 1k items per response) to improve api server availability.

/sig api-machinery

[2020-08-31 18:39] castrojo opened #5086 "Publish list of community reports for SIG ContribEx"
We should inline link our community reports and videos right in our README to provide new people a backlog of info

/assign
/sig contributor-experience

[2020-08-31 19:00] pmorie commented on #4959
Completed it.

[2020-08-31 20:29] rikatz commented on #5024
@mrbobbytables @nikhita we're looking to have some kubernetes-sigs/netpol-evolution repo, working with issues, user stories as markdown files and future implementations / specs there as well :)

Is that possible? Do we need to open an specific issue?

Thank you very much :)

[2020-09-01 04:05] dcbw commented on #4959
Completed August 25th.

[2020-09-01 07:03] fedebongio commented on #4959
I've completed it on July 30th... here is finally my [certificate](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/8bc89502-cbe9-4c3b-adae-01de5aa790b2-federico-bongiovanni-the-inclusive-speaker-orientation-lfc101-certificate.pdf).

[2020-09-01 14:13] erikerlandson commented on #4959
completed.

[2020-09-01 14:43] mrbobbytables commented on #5024
Just need to open an [issue in kubernetes/org](https://github.com/kubernetes/org/issues/new/choose) for the repo request :) It will need sign off from the sig leads. and we can move forward with creating it 👍

[2020-09-01 16:41] mbbroberg commented on #5061
LOVE this! The one thought that comes to mind is that we could talk to reader a little more.

[code]

[2020-09-02 10:14] nikhita commented on #3954
/remove-lifecycle rotten

cc @karenhchu @celestehorgan @tpepper

[2020-09-02 16:16] celestehorgan commented on #3954
/assign

I'll write this all down 😌

[2020-09-02 16:40] jberkus opened #5090 "Change how we intro new people in meetings"
In SIG-Contribex meetings, and others, we do do this thing where we ask new people to introduce themselves, and only the new people.

This really puts new people on the spot, and is super-intimidating to introverts.  More importantly, it puts the new people in the position where everyone now knows them, but they don't know anybody.

Instead, we should either intro *everyone* (if a small meeting),

[2020-09-02 16:44] castrojo commented on #5090
/assign

Agree 100%, I can easily fix this in the template.

[2020-09-02 22:29] jberkus opened #5092 "Refine rules on exceeding maximal representation for SC election"
Steering:

**The Way It Is Now**:  According to the [steering committee elections doc](https://github.com/kubernetes/steering/blob/master/charter.md),

This means that, if there is already one SC member from CompanyX not up for election, and two new people from Company X win the current election, the least preferred newly elected candidate is automatically discarded.  In a worst case, if there are

[2020-09-03 00:01] cblecker commented on #5092
Question to election officers: is this something we want to change midway through an election cycle? My gut says that is a bad idea, and it would be preferable to discuss this in a retrospective between cycles.

Additionally, this could introduce some complexities around committee continuity where more seats are technically "up for election" than either the 3 or 4 that are supposed to be each cycl

[2020-09-03 01:47] qfny88 opened #5093 "metrics "certmanager_certificate_expiration_timestamp_seconds" confusions and questions"
Hi, we are facing some issue with a custom alarm created in Prometheus:

certificate_expires_within_7_days.json
{
"alert": "CertificateExpiresWithin7Days",
"expr": "((certmanager_certificate_expiration_timestamp_seconds - time()) / 60 / 60 / 24) <= 7",
"for": "5m",
"labels": {
"severity": "CRITICAL"
},
"annotations": {
"summary": "Certificate expires within 7 days (name {{ $labels.name }})",
"desc

[2020-09-03 02:11] mrbobbytables commented on #5093
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2020-09-03 02:12] #5093 closed

[2020-09-03 15:07] #5086 closed

[2020-09-03 15:25] mrbobbytables commented on #5085
@grosser This repo is the general management point of the contributor community, things like that are not likely to get a response here =/

Can you open your issue in https://github.com/kubernetes/kubernetes ?

[2020-09-03 15:46] grosser commented on #5085
thx ... I got redirected here from opening an issue somehow ... worked now :D

[2020-09-03 15:46] #5085 closed

[2020-09-03 15:46] derekwaynecarr commented on #5092
I agree with @cblecker that we should only update election rules between election cycles, and so we should queue this up for discussion prior to next election.

[2020-09-03 16:34] jberkus commented on #5092
Well, the reason I bring this up is that we potentially have exactly this situation with this election, with folks who are employed by VMware.

Regardless, we should NOT wait until "just before the next election".  We did that with the nominations process, and as a result the new EC had no idea whatsoever that they were supposed to change something.  If we're going to make this change between elec