[2019-02-27 18:23] parispittman opened #3315 "broken link in /communication/moderation.md"
the open issue link for moderation application in the /communication/moderation.md doc is 404'ing

this is the right link -> https://github.com/kubernetes/community/issues/new/choose

good first issue for someone getting started! ✨

[2019-02-27 18:26] Katharine opened #3316 "REQUEST: New moderator for Katharine of slack"
### GitHub Username
@Katharine

### Property you'd like to Moderate
Slack

### Username on Property Requested
Katharine

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines]((https://git.k8s.io/community/communication/moderation.md))
- [x] I have two sponsors that meet the sponsor requirements listed

[2019-02-27 18:26] philips commented on #2992
@caniszczyk Sent. For context here was the request.

[code]

[2019-02-27 18:31] parispittman commented on #3316
Katharine will be great

/approve
will wait for the other sponsor(s) to lgtm

[2019-02-27 19:46] nikhita commented on #3315
/sig contributor-experience
/kind documentation

[2019-02-27 20:46] parispittman commented on #2176
@zjs - want to PR in each one of these individually for those that are still blank and then tag the appropriate chairs of the wg as the approvers? I'll send you a shirt or swag item of your choice after if you'd like. :)

[2019-02-27 21:13] spiffxp commented on #1997
https://github.com/kubernetes/community/pull/3287

[2019-02-27 21:42] cblecker opened #3320 "REQUEST: New moderator for cblecker of slack"
### GitHub Username
@cblecker

### Property you'd like to Moderate
Slack

### Username on Property Requested
cblecker

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines]((https://git.k8s.io/community/communication/moderation.md))
- [x] I have two sponsors that meet the sponsor requirements listed in

[2019-02-27 22:03] #3320 closed

[2019-02-27 22:11] castrojo commented on #3316
/lgtm

Thanks for volunteering!

[2019-02-27 22:11] castrojo commented on #3310
/lgtm

Thanks for volunteering!

[2019-02-27 22:14] jeefy opened #3321 "REQUEST: New moderator for jeefy of Slack"
### GitHub Username
@jeefy

### Property you'd like to Moderate
Slack

### Username on Property Requested
@jeefy

### Requirements

- [ x ] I am a Kubernetes Org member already
- [ x ] I have read and will abide by the policies mentioned in the [Moderation Guidelines]((https://git.k8s.io/community/communication/moderation.md))
- [ x ] I have two sponsors that meet the sponsor requirements listed i

[2019-02-27 22:14] jdumars commented on #3316
/approve

[2019-02-27 22:14] jdumars commented on #3316
Thank you!!

[2019-02-27 22:15] jdumars commented on #3310
/lgtm

Thank you!!

[2019-02-27 22:23] castrojo commented on #3321
/lgtm

+1 to this but I'd like to slot you as a protempore for geographical diversity reasons. As more APAC/EU people join I'd like to ensure our timezone is not overrepresented, but we can cross that bridge when we get there.

[2019-02-27 22:24] coderanger commented on #3316
/approve

[2019-02-27 22:24] coderanger commented on #3310
/approve

[2019-02-27 22:45] #3310 closed

[2019-02-27 22:45] #3316 closed

[2019-02-27 22:45] #3321 closed

[2019-02-27 23:58] zjs commented on #2176
@parispittman - I'd be happy to help with that, assuming it's not urgent; I'm on vacation next week, and I'm not sure I'll get to it before I leave.

[2019-02-28 02:09] #3315 closed

[2019-02-28 04:21] eduartua commented on #3097
We are done with this issue. Every file has been classified.

[2019-02-28 16:19] idealhack opened #3329 "REQUEST: New moderator for idealhack of Slack"
### GitHub Username

@idealhack

### Property you'd like to Moderate

Slack (happy to moderate others, but this is what we are short for now)

### Username on Property Requested

@idealhack

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)

[2019-02-28 18:16] bgrant0607 commented on #3097
Thanks!
/close

[2019-02-28 18:16] #3097 closed

[2019-02-28 18:16] nikhita commented on #3329
Non-binding +1

[2019-02-28 22:27] jdumars commented on #3329
/lgtm

[2019-02-28 22:54] coderanger commented on #3329
/lgtm

[2019-03-01 04:22] alejandrox1 opened #3332 "REQUEST: New moderator for alejandrox1 of slack"
### GitHub Username
@alejandrox1

### Property you'd like to Moderate
slack

### Username on Property Requested
`@Jorge`

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines]((https://git.k8s.io/community/communication/moderation.md))
- [x] I have two sponsors that meet the sponsor requirements listed

[2019-03-01 04:26] alejandrox1 commented on #3332
/pony party

[2019-03-01 04:27] alejandrox1 commented on #3332
/meow

[2019-03-01 04:28] alejandrox1 commented on #3332
/joke

[2019-03-01 04:48] nikhita commented on #3332
+1 from sponsor

(I am a moderator for k-dev and steering mailing lists)

[2019-03-01 06:22] idealhack commented on #3332
Hey `@Jorge`... TIL Slack handles are case insensitive.

[2019-03-01 06:26] nikhita commented on #3332
They are also not unique :(

[2019-03-01 14:54] castrojo commented on #3332
+1 from second sponsor. I'll toggle the proper slack bits, thanks for volunteering!

[2019-03-01 14:54] #3332 closed

[2019-03-01 17:58] castrojo commented on #3144
Anything left for this one? Looks like your playlist is working fine?

[2019-03-01 18:05] castrojo commented on #3227
@ant31 Everything is pretty much set, if someone could send that summary to the list we could close this out.

[2019-03-01 18:07] castrojo commented on #3228
Can you set the google group to read only?

https://groups.google.com/forum/#!forum/kubernetes-wg-container-identity

[2019-03-02 01:52] jberkus opened #3339 "Need full access to Project for entire Shanghai Team"
@parispittman @mrbobbytables @nikhita

The whole Shanghai team needs to have full edit rights for the SCN Project.  That includes:

@chenrui333 @idealhack @chris-short @xiangpengzhao, and Puja, whose GH handle I can't find at the moment.  Thanks!

[2019-03-02 01:52] jberkus commented on #3339
/sig contributor-experience
/kind feature

[2019-03-02 01:53] #3177 closed

[2019-03-02 07:31] nikhita commented on #3339
All the contributor summit project boards are repo-level project boards scoped to the community repo. To give access to the project board, members would need to be given write access to the repo (which we'd like to limit in general).

I had discussed about migrating this to an org-level project board in #3272. I'm happy to do the migration too, if that helps.

I'd like to get an ack from @parispit

[2019-03-02 07:31] nikhita commented on #3339
/cc @idvoretskyi

[2019-03-02 10:41] idealhack commented on #3339
Puja's handle is @puja108.

@nikhita Thanks for your help, I think we can use an org-level project board and migrate the existing one.

[2019-03-02 20:09] spiffxp commented on #2818
/close
Yes, good

[2019-03-02 20:09] #2818 closed

[2019-03-03 05:58] GeetikaBatra commented on #2770
@hogepodge is this related to these two: https://github.com/kubernetes/cloud-provider-openstack and https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack

I see two places where the cloud providers reside. Also, I see that https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack lacks some tests. If that's okay I would like to

[2019-03-04 02:45] tomba7 commented on #2939
@dims @thockin
Shouldn't we update the amount of memory required (4.5GB) specified in the following documentation in the [README.md](https://github.com/kubernetes/kubernetes/blob/master/build/README.md) to 8GB (as suggested above) or 10GB in my case.

*macOS You can either use Docker for Mac or docker-machine. See installation instructions here. Note: You will want to set the Docker VM to have at

[2019-03-04 04:09] thockin commented on #2939
We should figure out how to limit the parallelism.  There's no excuse for
it to fail.

On Sun, Mar 3, 2019 at 6:46 PM tomba <notifications@github.com> wrote:

[2019-03-04 06:43] #3190 closed

[2019-03-04 06:46] parispittman opened #3340 "create a summits process doc"
"how to" for summits with the functions, general timelines, and role descriptions

I'm working on consolidating multiple spreadsheets and docs that are floating around. will be checked into the /events folder.

[2019-03-04 06:57] parispittman opened #3341 "create placeholder website for barcelona contributor summit"
information to be included:
dates
venue
basic description of event activities
email sign up for more info

[2019-03-04 07:17] parispittman opened #3342 "barcelona contrib summit content proposal"
send steering committee and chairs the content proposal for barcelona contributor summit and ask for buy-in and suggestions

[2019-03-04 07:20] parispittman opened #3343 "Marketing Kick Off - Barcelona Contributor Summit"
The following channels will get comms after blog post has been published:

- [x] kubernetes twitter [paris to coordinate with cncf]
- [x] k-dev mailing list [jonas to post]
- [ ] discuss.kubernetes.io [jonas to post]

no later than March 10th

[2019-03-04 09:25] geekygirldawn commented on #3342
I think this might be a partial duplicate of Issue #3273. That issue says to do a PR to add the content proposal to https://github.com/kubernetes/community/tree/master/events/2019/05-contributor-summit Should I do the PR first, and then we can send that link out for feedback, instead of the Google Doc?

[2019-03-04 10:56] DylanGraham opened #3344 "REQUEST: New Moderator Pro Tempore for @DylanGraham of Slack"
### GitHub Username
@DylanGraham

### Property you'd like to Moderate
Slack (Initially)

### Username on Property Requested
@DylanGraham

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requi

[2019-03-04 11:26] nikhita commented on #3344
+1

More APAC mods!
/pony awesome

[2019-03-04 12:37] idvoretskyi commented on #3339
/assign

[2019-03-04 17:03] spiffxp opened #3345 "SIG Testing meeting hygiene"
Miscellaneous things I keep forgetting to do:
- ~make a shared SIG Testing calendar owned by all SIG Testing chairs~
- ~ensure all SIG Testing meetings and subproject meetings live on that calendar~
  - ~sig testing weekly~
  - ~kind~
  - ~testing-commons~
- ~ensure all SIG Testing subprojects use the same meeting template~
  - ~sig testing weekly~
  - ~kind~
  - ~testing-commons~ (close enough)
-

[2019-03-04 17:08] spiffxp commented on #3345
/assign @timothysc
Can you make the testing-commons meeting notes editable by (at least) kubernetes-sig-testing-leads@?

[2019-03-04 17:27] idvoretskyi commented on #3276
/close

Done with https://github.com/kubernetes/community/pull/3319

[2019-03-04 17:27] #3276 closed

[2019-03-04 17:55] #3297 closed

[2019-03-04 17:57] andrewsykim commented on #2770
@GeetikaBatra yes, this effort is related to that.

Regarding test in the open stack provider, we can probably discuss that in a separate issue. I've created one here https://github.com/kubernetes/kubernetes/issues/74894 and pinged the appropriate people

[2019-03-04 18:04] jdumars commented on #3344
+1 from me.

[2019-03-04 18:04] castrojo commented on #3329
Ok please PR yourself into moderators.md, thanks!

[2019-03-04 18:04] #3329 closed

[2019-03-04 18:05] castrojo commented on #3344
Welcome, please submit a PR to add yourself into moderators.md!

[2019-03-04 18:05] #3344 closed

[2019-03-04 18:28] guineveresaenger opened #3346 "Create a Local Build and Test Demo for Contributor Workshop"
For Contrib Workshop edition 201, we should provide a controlled dev environment for people to try hacking on k/k locally.

Suggested Steps:

- [x] Use the build scripts from [here](https://github.com/kubernetes/kubernetes/tree/master/build#key-scripts) ~to create a container with all necessary dependencies~ to demonstrate a contribution workflow on k/k

- [x] Create a playbook for a live code run

[2019-03-04 18:29] guineveresaenger commented on #3346
/sig contributor-experience
/area contributor-summit
/cc @jberkus

[2019-03-04 18:35] guineveresaenger opened #3347 "Pre-publish and disseminate materials for Barcelona Contributor summit NCW"
Related: #3273

For New Contributor Workshop 101 and 201, we should:

- [x] Publish and disseminate slides ahead of time so they can be used as a text book

- [x] Require participants to sign the CLA

~**Additionally for 201 track, we should**~

~- [ ] Provide a Docker image with a k/k build&test env and ask folks to pull and build it on their machines~

EDIT 5/13: According to https://github.com/

[2019-03-04 18:43] guineveresaenger opened #3348 "[TRACKING] Update slides for NCW with more recent info"
This is a tracking issue for the 2019 New Contributor Workshop content.

Please update and report any content updates that are necessary by commenting here and creating a check box for each task

- [x] We have a chart we can use for the SIG tour [here](https://github.com/kubernetes/community/blob/master/SIG-diagram.png), it was updated, and we should definitely use that as the visual for explainin

[2019-03-04 18:54] guineveresaenger opened #3349 "Issue match for New Contributor Workshop Participants"
For the 101 track of the NCW, we should give people a paved path toward their first contribution. We trust 201 participants to find their own things to work on, but people with less open source experience and less outgoing personalities will struggle with this. We can and should match 101 contributors with their first issue.

Because of the size of the workshop, this should be doneby grouping cont

[2019-03-04 20:25] cmluciano commented on #3258
I'd be delighted to help out as triage captain/understudy .

[2019-03-04 21:56] chupman commented on #359
Hi @spiffxp I got the PR in (#3324) to actually add in the link checker to CI. I'm hoping someone can let me know where to save the output from the command. Once I update that it should be ready to test. We'll probably need a combination of dead link fixes and whitelisting before it can actually be merged though.

[2019-03-04 23:21] michelleN opened #3353 "appointment/election process for new CoCC members"
In August, 3 CoCC seats will complete their term as per the bootstrapping doc. The current process for electing new CoCC members is that the Steering Committee (SC) nominates and then votes on members. If we want to stick with that process then the SC will need to start the nomination process in June for 4 weeks and then vote on the candidates by the end of July, and notify/collect confirmations f

[2019-03-05 00:50] jdumars commented on #3353
I am ok with the current election process. We are targeting merge of the charter well before the election, so if there are changes we need, they will appear there.

[2019-03-05 02:07] spiffxp commented on #3305
What's your script? Mine was also hacky and I was embarrassed to share and that's what let me lose it to the sands of time (I think, I'm gonna go double check now)

We should at least put it someplace to have some prior art to source from if we are ever so inspired as to run it regularly

[2019-03-05 07:44] nikhita commented on #3305
Lol, mine was too so I didn't share it right away. I'll clean it up a bit and post it here for posterity though.

It mainly uses a `yaml.Unmarshal` on sigs.yaml and then trims the github links for owners files to get the list of repos.

I'll follow up on this. :+1:

[2019-03-05 13:51] bboreham commented on #3258
How about a role for someone who undertakes to hang out in #sig-network on Slack and give pointers to people who show up with generic questions (e.g. "that would be better asked in $product slack" or "suggest you file an issue on GitHub") ?.

[2019-03-05 14:36] carolynvs commented on #3353
I think the current process is just fine or at least nothing so far has made us go "Ah! 🔥" 😀

[2019-03-05 15:39] geekygirldawn opened #3357 "Content Transparency for Contributor Summit Barcelona 2019"
Make the content from the contributor summit available for people who could not attend.

- [x] Video Recording: Arrange to have both NCW rooms recorded.
- [x] Transcriptions: Arrange to have transcriptions of video (inclusivity).
- [x] Video Editing: @guineveresaenger to provide details about where to make the cuts to the video team before the event for sections of each workshop.
- [x] Video Editi

[2019-03-05 15:40] geekygirldawn commented on #3357
/assign @geekygirldawn @debgiles
/sig contributor-experience
/area contributor-summit
/cc @guineveresaenger

[2019-03-05 15:43] geekygirldawn commented on #3357
A few assumptions and questions:

- Assuming that the CNCF event team will handle video recording logistics - @debgiles is checking on this.
- For transcriptions, I've used rev.com for other Linux Foundation projects, and they handle technical language pretty well. We could use them unless we have other ideas? I assume we have budget somewhere to cover this?
- Do we have someone who can do the vid

[2019-03-05 15:52] mrbobbytables commented on #3357
re:video editing
At least historically - This is has been done by contribex post recording so that we may handle uploading it to the kubernetescommunity youtube channel.

[2019-03-05 16:16] geekygirldawn opened #3358 "SIG F2F Process for Contributor Summit Barcelona 2019"
- [x] Put together some guidelines for what we will / will not provide.
- [x] Create a form allowing SIG Chairs to request a F2F.
- [x] Send request form to SIG Chairs
- [x] Allocate space for requested F2F meetings.
- [x] Communication with additional details about F2F logistics
- [x] Move SIG F2F guidelines from Gdoc to repo. PR submitted, waiting for merge
- [x] Final reminder 1-2 weeks out to

[2019-03-05 16:16] geekygirldawn commented on #3358
/assign @geekygirldawn
/sig contributor-experience
/area contributor-summit

[2019-03-05 16:44] nikhita commented on #3102
/assign

[2019-03-05 17:29] geekygirldawn commented on #3358
@debgiles will we need attendees for the SIG F2F meetings to register to allow us to plan for food, space, etc.? If so, any thoughts on how we want to handle registration for these meetings?

[2019-03-05 17:30] nikhita commented on #2324
I'll take care of removing the GitHub teams.

[2019-03-05 17:32] mrbobbytables commented on #3358
@geekygirldawn Registration will cover if they are going to just the social or both the social and the contributor summit. We should be good on getting numbers for food etc without requiring additional info on the F2F meetings.

[2019-03-05 19:48] idvoretskyi commented on #2324
/assign @nikhita

[2019-03-05 20:33] timothysc commented on #2176
@parispittman - what else needs to get done here?

[2019-03-05 20:36] lledru opened #3360 "REQUEST: New moderator for lledru of slack"
### GitHub Username
@lledru
### Property you'd like to Moderate
slack
### Username on Property Requested
@lledru
### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requirements listed in the mod

[2019-03-05 20:40] debgiles commented on #3358
Correct, as long as they indicated they're coming on Monday, I don't need exact numbers in each SIG F2F.  Most of the space is all a similar size, so everyone will receive a similar amount of space for the SIG F2Fs.  Thanks!

[2019-03-05 20:52] castrojo commented on #3360
+1 from me, thanks for volunteering!

[2019-03-05 21:17] philips commented on #2992
For those following along the CNCF Service desk silently ignores emails from addresses not pre-registered with it. https://twitter.com/BrandonPhilips/status/1102992489072349184

[2019-03-05 22:09] jdumars commented on #3360
HUGE +1 on this!!

[2019-03-05 22:33] timothysc commented on #3345
done.

[2019-03-05 22:47] parispittman opened #3362 "gsuite process and guidelines"
contributor experience has a gsuite now - contributors@kubernetes.io

We need guidelines around what we use this for, why, who has access, etc. Doc will grow over time but need some initial guidance.

[2019-03-06 01:56] spzala opened #3364 "Building issue traige team for k/community"
update: @ameukam will be leading the triage team for kubernetes/community

Recruiting the following:
Triage Lead Shadow
2 Triage Members

We will use this issue to gather current issue triage challenges, thoughts on improving related processes, define related roles etc.
For example:
How to minimize the mislabelling of issues?
How to triage a huge backlog?
How SIGs are using triage processes?
Ref:

[2019-03-06 01:57] spzala commented on #3364
/cc @parispittman @nikhita @castrojo

[2019-03-06 02:00] spzala commented on #3364
/sig contributor-experience

[2019-03-06 02:30] parispittman commented on #3364
I'd like for the end result here to be a team of people who are working on a responsibilities doc and a grooming.md doc - does that sound good @spzala ?

[2019-03-06 02:31] parispittman commented on #3364
I'd like for us to get a team in place to help triage the kubernetes/community repo asap

[2019-03-06 02:48] parispittman opened #3365 "events listed twice in subprojects"
the events subproject on the Contributor Experience README is listed under community management and its own category of events. good first issue for someone to remove from under the community management and leave as a stand alone subproject.

[README](https://github.com/kubernetes/community/tree/master/sig-contributor-experience)

[2019-03-06 03:07] spzala commented on #3364
Thanks @parispittman Sounds good. So this will be a team of Triage Captains right? How big team you would suggest - I think a team of 3-5 is good enough to meet and brainstorm on defining new processes or modifying existing ones, pass them to SIGs etc. We can have the team members as an owner of this issue. So let's all interested people start assigning :-). Also, we have https://github.com/kubern

[2019-03-06 03:08] spzala commented on #3364
/assign @spzala

[2019-03-06 09:11] justaugustus commented on #3280
Looks like all the boards are public now. Thanks for working on this and writing up what was discussed here, @nikhita! :)

/close

[2019-03-06 09:11] #3280 closed

[2019-03-06 09:37] nikhita commented on #3280
SIG Network was still Private but I've flipped it to Public.

[2019-03-06 12:13] nikhita commented on #3102
Created https://github.com/kubernetes/community/pull/3368.

[2019-03-06 16:26] idvoretskyi commented on #3272
Boards recreated at the org-wide level:

EU 2019 - https://github.com/orgs/kubernetes/projects/19
CN 2019 - https://github.com/orgs/kubernetes/projects/20
NA 2019 - https://github.com/orgs/kubernetes/projects/21

/close

[2019-03-06 16:26] #3272 closed

[2019-03-06 16:30] idvoretskyi commented on #3339
Org-wide board is created - https://github.com/orgs/kubernetes/projects/20.

[2019-03-06 17:01] tom-snyk commented on #2992
@dims to get some more

[2019-03-06 18:03] idvoretskyi commented on #3283
/assign

[2019-03-06 18:16] ameukam commented on #3364
Hi @spzala, interested to be Triage Captain.

[2019-03-06 18:37] spzala commented on #3364
/assign @parispittman

[2019-03-06 18:37] spzala commented on #3364
/assign @nikhita

[2019-03-06 18:38] spzala commented on #3364
/assign @ameukam

[2019-03-06 20:02] nikhita commented on #3220
For whoever takes this up in the future: security-process docs in the sig-release repo also have the tombstone files with the same deletion date (https://github.com/kubernetes/sig-release/pull/537) so you can remove those as well.

[2019-03-07 15:50] castrojo commented on #3360
Ok can you submit a PR yourself into moderators.md? I'll start the other process on slack, thanks!

[2019-03-07 15:50] #3360 closed

[2019-03-07 17:57] castrojo opened #3372 "Contributor guide needs to mention the playground"
The contributor guide should mention the playground so people can "practice" doing pull requests.

https://github.com/kubernetes-sigs/contributor-playground/

/sig contributor-experience
/area contributor-guide
/help
/good-first-issue

[2019-03-07 18:15] rlenferink opened #3373 "REQUEST: New moderator for rlenferink of Slack"
### GitHub Username
@rlenferink

### Property you'd like to Moderate
Slack

### Username on Property Requested
@rlenferink

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requirements listed

[2019-03-07 18:16] nikhita commented on #3373
+1

On Thu, 7 Mar 2019 at 11:46 PM, Roy Lenferink <notifications@github.com>
wrote:

[2019-03-07 18:22] rlenferink commented on #3373
Thanks @nikhita 😃

[2019-03-07 18:22] jdumars commented on #3373
+1

[2019-03-07 18:23] parispittman commented on #3372
if the contributor could also link the playlist that would be good, too. https://www.youtube.com/playlist?list=PL69nYSiGNLP3M5X7stuD7N4r3uP2PZQUx and then this issue will close -> #2100

[2019-03-07 18:24] castrojo commented on #3373
Welcome! Please PR yourself into moderators.md and I'll follow up with you on slack, cheers!

[2019-03-07 18:24] #3373 closed

[2019-03-08 10:41] puja108 opened #3377 "REQUEST: New moderator for puja108 of Slack"
### GitHub Username

@puja108

### Property you'd like to Moderate

Slack

### Username on Property Requested

@puja

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requirements listed in th

[2019-03-08 10:42] nikhita commented on #3377
+1

/pony welcome

[2019-03-08 10:43] nikhita commented on #3377
/pony awesome

[2019-03-08 10:44] nikhita commented on #3377
@Katharine feature request for https://github.com/kubernetes/community/issues/3377#issuecomment-470885495 :stuck_out_tongue: :pray:

[2019-03-08 11:33] idvoretskyi commented on #3377
+1, welcome @puja108!

[2019-03-08 11:47] idvoretskyi opened #3380 "moderators.md requires more easy-readable per-region grouping"
Every person in [moderators.md](https://github.com/kubernetes/community/blob/master/communication/moderators.md) is active in a specific timezone, and this timezone is reflected near their name/ID.

At the same time, the timezones are barely understandable, so additional per-region grouping is likely (APAC, EMEA, NA).

/assign
/sig contributor-experience
/area community-management

[2019-03-08 13:39] idvoretskyi commented on #3339
@jberkus FYI - every member of the Kubernetes org is able to edit the [project](https://github.com/orgs/kubernetes/projects/20).

@chenrui333 @idealhack @chris-short @xiangpengzhao, and @puja108 are already the members, so they should have access. Please, let me know if you have any questions.

/close

[2019-03-08 13:39] #3339 closed

[2019-03-08 14:17] mrbobbytables commented on #3377
Big +1 from me~

/pony yay

[2019-03-08 14:39] mrbobbytables opened #3381 "REQUEST: New moderator for mrbobbytables of youtube/zoom/mailing list"
### GitHub Username
@mrbobbytables

### Property you'd like to Moderate
![allthethings](https://i.imgur.com/6gpMXrg.jpg)
youtube, zoom, mailing list.
I am happy to help moderate any of the kubernetes communication channels :)

### Username on Property Requested
@mrbobbytables
can PM emails

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policie

[2019-03-08 14:57] castrojo commented on #3377
I'll ping you in slack with the details, thanks!

[2019-03-08 14:57] #3377 closed

[2019-03-08 15:32] castrojo opened #3384 "Steps needed to re-open the Slack inviter"
Ok we're pretty close now so I'd like to have this issue open as a source of truth:

- [x] Ack from steering that we should try this plan
- [x] Getting 3 more moderators for EU, and 3 more moderators for APAC (minimum)
- [x] Contact information and escalation guidelines for the existing moderators
- [x] Faster admin access to the slack.k8s.io signing page so we can more responsively take down this

[2019-03-08 15:35] mkumatag opened #3385 "REQUEST: New moderator for mkumatag of slack"
### GitHub Username
@mkumatag

### Property you'd like to Moderate
slack

### Username on Property Requested
@mkumatag

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requirements listed in

[2019-03-08 15:37] nikhita commented on #3385
+1

/pong yay

On Fri, Mar 8, 2019 at 9:05 PM Manjunath A Kumatagi <
notifications@github.com> wrote:

[2019-03-08 15:38] dims commented on #3385
+1 from me!

[2019-03-08 15:41] nikhita commented on #3385
oops....

/pony yay

[2019-03-08 15:41] jeefy commented on #3381
It's an old meme but it checks out.

+1

[2019-03-08 15:48] castrojo commented on #3385
Awesome, thanks for volunteering, please submit a PR adding yourself to moderators.md, and I'll follow up with you on slack.

[2019-03-08 15:48] #3385 closed

[2019-03-08 17:06] alejandrox1 opened #3387 "REQUEST: New moderator for alejandrox1 of YouTube and Zoom"
### GitHub Username
@alejandrox1

### Property you'd like to Moderate
Youtube and Zoom

### Username on Property Requested
alarcj137@gmail.com

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor

[2019-03-08 17:07] alejandrox1 commented on #3387
/joke

[2019-03-08 17:20] parispittman opened #3388 "/community site redesign final steps/questions"
- [x] need a new masthead image. the one currently showing is all googlers.
- [x] need another take at the 'about us' on the top
- [ ] need a process/instructions on how to add events
- [x] review the video process (how do we get the most updated videos from the playlist to show?)
- [x] is the twitter stream catching kubernetes as a hashtag and/or other things? a: kubernetesio@

https://deploy-pre

[2019-03-08 17:52] spzala commented on #3364
Adding some related discussion and valuable thoughts from @thockin @spiffxp from contribEx slack channel today March 8 to have it handy for future discussions. We will eventually compile all the thoughts/challenges in a doc and go over them in a meeting of triage interested parties.
...
Hey contribex!   I have almost 300 issues tagged sig/network.  Many or most have NEVER been looked at by the SIG

[2019-03-08 18:12] thockin commented on #3364
Email sent to contribex list, too

On Fri, Mar 8, 2019 at 9:53 AM Sahdev Zala <notifications@github.com> wrote:

[2019-03-08 18:52] zacharysarah commented on #3388
@parispittman 👋 Here's a quick guide to community content in k/website:

What | Where
---|---
Content on k8s.io/community | https://github.com/kubernetes/website/tree/master/content/en/community
Masthead images/layout for k8s.io/community | https://github.com/kubernetes/website/tree/master/layouts/community

[2019-03-08 20:23] castrojo commented on #3387
+1 from this, when you get the next +1 please PR yourself into the right places in moderators.md, thanks!

[2019-03-08 20:24] coderanger commented on #3384
Yes, the `/me` issue is now fully resolved to the best of my ability to confirm.

[2019-03-08 23:40] parispittman commented on #3388
hey @zacharysarah i should have filed the issue against the website repo and not here. ill move it there. once we pic a new image, we'll file it to the masthead section (thanks for that). working with alex to get this wrapped up and present at an upcoming sig-docs meeting.

[2019-03-09 11:11] nikhita commented on #3387
+1 :tada:

[2019-03-10 12:44] idvoretskyi commented on #3381
+1

[2019-03-11 00:16] anguslees opened #3393 "REQUEST: New moderator for @anguslees of slack"
### GitHub Username
@anguslees

### Property you'd like to Moderate
slack

### Username on Property Requested
guslees

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [ ] I have two sponsors that meet the sponsor requirements listed in t

[2019-03-11 00:20] dims commented on #3393
@anguslees i'd be happy to sponsor you for this!

[2019-03-11 04:51] AndrewSav commented on #3247
According to https://discuss.kubernetes.io/t/requesting-invite-to-slack/5393/3 the invites should be up "early next week".

[2019-03-11 04:57] SeanPSnyder commented on #3247
Noooooow

On Sun, Mar 10, 2019, 11:51 PM Andrew Savinykh <notifications@github.com>
wrote:

[2019-03-11 05:56] parispittman commented on #3393
@anguslees - happy to sponsor you too, thanks for stepping up!

[2019-03-11 06:09] pontiyaraja opened #3394 "REQUEST: New moderator for pontiyaraja of k8s-slack"
### GitHub Username
@pontiyaraja

### Property you'd like to Moderate
k8s-slack

### Username on Property Requested
@Pandiya

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requirements list

[2019-03-11 06:13] nikhita commented on #3394
+1

@pontiyaraja would be a slack admin in the APAC timezone (India).

[2019-03-11 09:18] kyeett commented on #3247
Looking forward to it!

I had a look at http://slack.k8s.io/ and the information with the timeline is a lot better! If someone wants to close this ticket, I'm fine with that. Otherwise I will close it once the invites are finally up :-)

[2019-03-11 11:30] dims commented on #3394
+1 thanks!

[2019-03-11 12:57] castrojo commented on #3393
Thanks Gus! Please PR yourself into moderators.md, I'll follow up with you on slack.

[2019-03-11 12:57] #3393 closed

[2019-03-11 12:59] castrojo commented on #3394
Thanks for volunteering, please PR yourself into moderators.md, I'll follow up with you on slack!

[2019-03-11 12:59] #3394 closed

[2019-03-11 13:00] castrojo commented on #3381
Working on this, just been busy with slack, welcome Bob!

[2019-03-11 13:01] castrojo commented on #3384
Alright, we now have enough EU and APAC moderators to unblock this. We'll try to open it up today.

[2019-03-11 13:46] dims commented on #3247
folks, watch this space https://github.com/kubernetes/community/issues/3384

[2019-03-11 14:48] SeanPSnyder commented on #3247
Oh it's open

On Mon, Mar 11, 2019, 8:46 AM Davanum Srinivas <notifications@github.com>
wrote:

[2019-03-11 15:07] castrojo opened #3396 "retire wg-machine-learning"
This WG hasn't met since last September, any one have any more information? From looking at the notes it was active about a year ago.

https://docs.google.com/document/d/1t2zTAehIEu3Xy8VJ6dc_cgODO4WGN-FDwpAfBjYCKc4/edit#

[2019-03-11 15:12] SeanPSnyder commented on #3396
Let me out of here or die a horrible death

On Mon, Mar 11, 2019, 10:08 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-03-11 18:26] bowei commented on #3258
cc: @bowei

[2019-03-11 18:38] lachie83 commented on #651
@justaugustus I would be happy to iterate on this. I would like high level agreement that the following is the best course of action.

1. Rename all files replacing to lowercase only and dashes rather than underscores
1. Confirm template is correct
1. Make sure all proposals adhere to the same template
1. Update the README to reference to KEP process

Is there anything else that needs action here?

[2019-03-11 18:44] SeanPSnyder commented on #651
I only see one end game, so if there's another, I'd love to be privy

On Mon, Mar 11, 2019, 1:38 PM Lachlan Evenson <notifications@github.com>
wrote:

[2019-03-11 18:49] lachie83 commented on #651
@SeanPSnyder would you mind sharing the details on the end game you have in mind?

[2019-03-11 18:50] SeanPSnyder commented on #651
Bullet to the brain preferrably

On Mon, Mar 11, 2019, 1:49 PM Lachlan Evenson <notifications@github.com>
wrote:

[2019-03-12 01:53] nikhita commented on #2619
This is currently blocked on Steering, since we need docs for what a subproject "lead" means and the processes around it before we can add fields for it in sigs.yaml.

Ref: https://github.com/kubernetes/steering/issues/36#issuecomment-471732144

[2019-03-12 02:16] nikhita commented on #3396
/wg machine-learning
/committee steering

[2019-03-12 02:23] nikhita commented on #2659
/remove-lifecycle stale

[2019-03-12 02:23] dims commented on #2619
proposal
---------
- A sub project can have one or more leads.
- The lead keeps track of things to do
- The lead coordinates work among interested parties
- The lead runs the meetings, ensures there are notes/recordings
- The lead reports back updates to the parent SIG.

Does that help?

[2019-03-12 02:34] nikhita commented on #2619
@dims :+1: :+1: :+1: Would be cool to see this PR'd in. :)

For reference, we also have docs on what a "Subproject Owner" means today: https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md#subproject-owner

[2019-03-12 05:14] nikhita commented on #3396
/cc @vishh @kow3ns @balajismaniam @ConnorDoyle
wg-machine-learning organizers

[2019-03-12 05:57] Rajakavitha1 opened #3401 "REQUEST: New moderator for Rajakavitha1 of slack"
### GitHub Username
 @Rajakavitha1

### Property you'd like to Moderate
slack

### Username on Property Requested
@Rajakavitha1

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requirements l

[2019-03-12 05:57] Rajakavitha1 commented on #3401
I would like to moderate the slack channels for India.

[2019-03-12 05:58] Rajakavitha1 commented on #3401
I would like to be a moderator for the Slack India channels

[2019-03-12 06:02] nikhita commented on #3401
+1

@Rajakavitha1 is awesome!!

[2019-03-12 09:57] dims commented on #3401
+1 from me!

[2019-03-12 11:09] dims commented on #3247
It's open now http://slack.k8s.io/ (please refresh your browser cache)

[2019-03-12 11:09] dims commented on #3247
/close

[2019-03-12 11:09] #3247 closed

[2019-03-12 16:06] munnerz opened #3407 "REQUEST: New moderator for munnerz of slack"
### GitHub Username
e.g. @munnerz

### Property you'd like to Moderate
e.g. Slack

### Username on Property Requested
e.g. U0EC03FTN (munnerz)

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor

[2019-03-12 16:29] castrojo commented on #3384
Ok, slack reopened, I'll send a note to k-dev.

[2019-03-12 16:29] #3384 closed

[2019-03-12 16:29] castrojo commented on #3407
+1 from me!

[2019-03-12 16:30] nikhita commented on #3407
Of course yes :)

[2019-03-12 16:30] nikhita commented on #3407
<3 for listing the slack ID

[2019-03-12 16:32] munnerz commented on #3407
I definitely have feelings about Slack's "nobody needs usernames" blog post 🙄

[2019-03-12 16:33] castrojo commented on #3407
Welcome, please PR yourself into moderators.md and then I'll follow up with you on slack.

[2019-03-12 16:33] #3407 closed

[2019-03-12 16:34] castrojo commented on #3401
Welcome! Please PR yourself into moderators.md and I'll follow up with you on slack.

[2019-03-12 16:34] #3401 closed

[2019-03-12 16:46] #3387 closed

[2019-03-12 18:44] chris-short opened #3410 "REQUEST: New moderator for chris-short of Zoom/Slack/YouTube"
### GitHub Username
[chris-short](https://github.com/chris-short/)

### Property you'd like to Moderate
Zoom, Slack, and YouTube. To be honest, I can do anything but email. I declare Inbox Bankruptcy too often to properly manage e-mail.

### Username on Property Requested

Zoom: chris@chrisshort.net
YouTube: chris@chrisshort.net
Slack: chris@chrisshort.net (ChrisShort)

### Requirements

- [X] I a

[2019-03-12 18:45] nikhita commented on #3410
/pony yes

[2019-03-12 18:46] nikhita commented on #3410
That's a weird yes...

/pony lgtm

[2019-03-12 18:47] nikhita commented on #3410
Oops, looks like you are not a @kubernetes org member yet. Can you apply for membership [here](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E)? Happy to +1 you! :)

[2019-03-12 18:53] aditya-konarde opened #3411 "REQUEST: New moderator for aditya-konarde of slack"
### GitHub Username
@aditya-konarde

### Property you'd like to Moderate
Kubernetes Slack

### Username on Property Requested
aditya

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/community/communication/moderation.md)
- [x] I have two sponsors that meet the sponsor requireme

[2019-03-12 18:56] nikhita commented on #3411
+1 from me!

Aditya has offered to help with moderation for APAC (Indian timezone)

[2019-03-12 19:14] #3372 closed

[2019-03-12 21:21] mrbobbytables commented on #3410
I'd +1 your org membership request too :D

/pony yay

[2019-03-12 21:21] mrbobbytables commented on #3410
hm...less yay than intended. Will go for party...

/pony party

[2019-03-12 23:54] dims commented on #2619
adding here https://github.com/kubernetes/community/pull/3413

[2019-03-13 00:32] bgrant0607 commented on #2619
Let's please not use the term "lead". I commented on #3413.

[2019-03-13 11:19] leileijia opened #3416 "123 32"
─=≡Σ((( つ•̀ω•́)つ动感光波~~~ =͟͟͞͞ =͟͟͞͞ ﾍ( ´Д`)ﾉ 秋豆麻袋   =͟͟͞͞( ﾟ皿ﾟ‧̣̥̇)卧━=͟͟͞͞(Ŏ◊Ŏ ‧̣̥̇)━擦!!!!┐( ‾᷅㉨‾᷅ )┌ 怪我咯,ᵎ(•̀㉨•́)و ̑̑ 加油.

[2019-03-13 11:21] nikhita commented on #3416
This is not a valid issue.

[2019-03-13 11:21] #3416 closed

[2019-03-13 14:39] dims opened #3417 "Add #pr-reviews slack channel to contributor guide"
There is a `#reviews` on gophers slack that is pretty popular. Could we try to set up one too?

We can promote peer-to-peer reviewing and help figure out which SIGs need to sign off, help people find reviewers and approvers. will especially help newbies i think.

WDYT?

[2019-03-13 14:44] idvoretskyi commented on #3417
/sig contributor-experience

[2019-03-13 14:47] nikhita commented on #3417
+1

If the volume for the channel becomes low (which I doubt will happen), we can always collapse into #kubernetes-dev, so I don't see any harm in having this. :+1:

As a side note: we should also document this in our contributor guide, etc.

[2019-03-13 14:54] nikhita commented on #3417
(let's close this once we add the channel in the relevant docs)

[2019-03-13 15:03] munnerz commented on #3417
Channel created as #pr-reviews 😄

[2019-03-13 15:03] nikhita commented on #3417
I've updated the issue title to reflect that the task now includes documenting the channel.

/good-first-issue

[2019-03-13 15:12] castrojo commented on #3381
Ok PR yourself into moderators.md, we'll work out the rest in slack.

[2019-03-13 15:12] #3381 closed

[2019-03-13 15:12] nzoueidi commented on #3417
Well, I can help with adding the slack channel to the contributor guide.

[2019-03-13 15:13] castrojo commented on #3411
+1 thanks for volunteering, please PR yourself into moderators.md and we'll take it from there!

[2019-03-13 15:13] #3411 closed

[2019-03-13 18:37] JoelSpeed opened #3420 "REQUEST: New moderator for JoelSpeed of Slack"
### GitHub Username
@JoelSpeed

### Property you'd like to Moderate
Slack

### Username on Property Requested
joelspeed (U9D0X16M8)

### Requirements

- [x] I am a Kubernetes Org member already (Waiting on https://github.com/kubernetes/org/issues/596)
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies m

[2019-03-13 18:47] guineveresaenger commented on #3087
Hi @Sai-Adarsh! I think the meat of the content we should put into https://github.com/kubernetes/community/blob/master/contributors/devel/development.md
is actually in this file:
https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md#build

as I can't find too much actual conflation in `/guide/pull-requests.md`.

[2019-03-13 19:36] nikhita commented on #3188
Issue for tracking wg machine learning: https://github.com/kubernetes/community/issues/3396

[2019-03-14 09:58] munnerz commented on #3420
+1! Joel helps out all over the place already, and is also in GMT 😄

[2019-03-14 10:00] nikhita commented on #3420
/pony lgtm

[2019-03-14 10:08] nikhita commented on #3420
@JoelSpeed feel free to create a PR to add yourself to https://github.com/kubernetes/community/blob/master/communication/moderators.md#slack

[2019-03-14 14:34] #3420 closed

[2019-03-14 15:00] #3417 closed

[2019-03-14 17:34] bgrant0607 commented on #1808
It sounded like @guineveresaenger and @chris-short had concerns and/or suggestions regarding OWNERS files.

cc @parispittman also

[2019-03-14 17:45] guineveresaenger commented on #2100
Closing this because content is posted in contributor playground:
https://github.com/kubernetes-sigs/contributor-playground/tree/master/presentations
/close

[2019-03-14 17:45] #2100 closed

[2019-03-14 20:54] GodloveD opened #3432 "How to manage signups for my corporation?"
I've signed up to become a corporate representative [here](https://github.com/kubernetes/community/blob/master/CLA.md#the-contributor-license-agreement).  Now, how do I add members of my organization to become contributors?

[2019-03-14 20:56] GodloveD commented on #3432
@kubernetes/sig-contributor-experience

[2019-03-14 21:01] GodloveD commented on #3432
/sig contributor-experience

[2019-03-14 21:01] mrbobbytables commented on #3432
@GodloveD If you've configured it for your organization - any member who wishes to contribute will just need to have their corporate email account associated as an address with their github account and then go through the CLA process with that email address.

/sig contributor-experience

[2019-03-14 21:39] GodloveD commented on #3432
Rock and roll.  Thanks @mrbobbytables!  I'll verify that a member of Sylabs is able to go through that process and then I'll close this issue.

[2019-03-14 21:41] mrbobbytables commented on #3432
Great! If you do have any problems, the LF helpdesk will be the best group to contact. They can be reached here: `helpdesk@rt.linuxfoundation.org`

[2019-03-15 01:25] bgrant0607 commented on #1808
Another OWNERS issue: https://github.com/kubernetes/kubernetes/issues/50048

[2019-03-15 16:10] idvoretskyi commented on #3274
Submitted here - https://github.com/kubernetes/website/pull/13209

[2019-03-15 16:39] idvoretskyi commented on #3079
Waffle is not an option anymore - https://blog.waffle.io/farewell-from-waffle-%EF%B8%8F-794da4a72851.

[2019-03-16 00:22] mrbobbytables commented on #2660
/remove-lifecycle stale

With mentoring kicking back up this should come into play soon.

[2019-03-16 05:15] lachie83 commented on #2724
Created https://github.com/kubernetes/enhancements/pull/898 to `define KEP DACI`

[2019-03-17 17:40] nikhita commented on #1673
There is a PR open to add a project-manager-like role for subprojects here: https://github.com/kubernetes/community/pull/3413.

I think we can take a look at updating automation once we finalize on the subproject roles.

[2019-03-17 19:20] jeefy commented on #1971
/remove-lifecycle stale
/assign

[2019-03-17 23:23] mrbobbytables commented on #3036
Going to go ahead and close this, the issue was opened in k/k here https://github.com/kubernetes/kubernetes/issues/72131 and has gotten resposnes.
/close

[2019-03-17 23:23] #3036 closed

[2019-03-18 02:21] mrbobbytables commented on #1632
I think this is done? This section links to the root of devel - https://github.com/kubernetes/community/tree/master/contributors/guide#setting-up-your-development-environment

We could potentially be more explicit about linking to devel -- like linking to the readme directly the root makes it easier to browse. ¯\_(ツ)_/¯

[2019-03-18 06:30] nikhita commented on #1632
SGTM. Let's close the issue once this is done. If anything else is needed, let's create follow-up issues with more details.

Adding the good first issue label back.

/good-first-issue

For anyone who takes this up -- the link [here](https://github.com/kubernetes/community/tree/master/contributors/guide#setting-up-your-development-environment) should point to https://github.com/kubernetes/community

[2019-03-18 06:31] nikhita commented on #1632
/remove-lifecycle stale

[2019-03-18 06:31] nikhita commented on #1632
/kind documentation

[2019-03-18 06:31] nikhita commented on #1632
/priority important-longterm

[2019-03-18 06:59] nikhita opened #3443 "Set milestones and groom contribex project board"
To better plan and track the work we are doing in sig contribex and empower more people to take on and own tasks, we should add milestones and assign people (sometimes new folks and mentor them) to the issues that are actively being worked on/would be nice to have being worked on. This will also help us in prioritizing and providing direction to our work.

SIG Cluster Lifecycle has a doc on how th

[2019-03-18 07:08] nikhita commented on #3443
I just want to add this for completely clarity: these milestones are a nice-to-have and are to help us prioritize our work. These are **not meant to be deadlines**!

This is an open source project, most of us are stretched thin already and are working on this on our personal time. If we don't get an issue done by a milestone due date, that's **completely okay**! We can always bump it to the next m

[2019-03-18 07:25] #3365 closed

[2019-03-18 07:32] parispittman opened #3445 "Build San Diego Contributor Summit Team"
We'll need to fill the following core roles + shadows to get the ball rolling on strategy and venue selections. Core team will decide on subteam roles (ie - marketing lead will determine if a writer is needed) based on the direction of the event.

[Event Team Folder](https://github.com/kubernetes/community/tree/master/events/events-team)

Self nominations from current and past contributor summit s

[2019-03-18 07:35] parispittman commented on #3443
thanks for this nikhita!

subproject boards have been created - let me know if you see one missing

ps - if you're reading this, we are looking for a project manager! :D

[2019-03-18 08:53] nikhita commented on #3179
/priority important-longterm

[2019-03-18 08:53] nikhita commented on #3179
/kind documentation

Since this revolves around creating the policy first.

[2019-03-18 08:54] nikhita commented on #3178
/priority important-longterm
/kind cleanup

[2019-03-18 08:55] nikhita commented on #3178
We need to the "remove outside collaborators" part into incorporate this into peribolos. xref https://github.com/kubernetes/test-infra/pull/10517.

/assign

[2019-03-18 08:56] nikhita commented on #3102
/priority important-soon

[2019-03-18 08:57] nikhita commented on #2324
/priority important-soon

[2019-03-18 08:58] nikhita commented on #2323
/remove-priority important-longterm
/priority important-soon

[2019-03-18 09:01] nikhita commented on #2126
/priority important-longterm

It would be nice to have this "important-soon", but I guess it's realistic to have this as "important-longterm" since we have lots of people who have access to repos as direct collaborators. Cleaning that up is a part of https://github.com/kubernetes/community/issues/3178.

[2019-03-18 09:01] nikhita commented on #2126
/kind documentation

[2019-03-18 09:02] nikhita commented on #2323
/kind documentation

[2019-03-18 09:02] nikhita commented on #2324
/kind cleanup

[2019-03-18 09:03] nikhita commented on #1913
/kind bug
/priority important-soon

xref https://github.com/kubernetes/steering/issues/36

[2019-03-18 09:04] nikhita commented on #3432
/triage support

[2019-03-18 09:05] nikhita commented on #3445
/kind feature

[2019-03-18 09:06] nikhita commented on #3396
/kind cleanup

cc @kubernetes/steering-committee

[2019-03-18 09:07] nikhita commented on #3388
/area community-management

[2019-03-18 09:09] nikhita commented on #3380
/kind documentation
/priority important-soon

Adding "important-soon" because we are adding lots of moderators now. Would be good to make it consistent so the newly added moderators can add their timezone in the correct format themselves.

[2019-03-18 09:10] nikhita commented on #3364
/kind feature
/priority important-soon

related https://github.com/kubernetes/community/issues/3443

[2019-03-18 09:12] nikhita commented on #3362
/kind documentation
/cc @castrojo

I don't know what's Alex's github username... @Phillels can you cc him here? Afaik he was also working on this. :)

[2019-03-18 09:13] nikhita commented on #3305
/kind bug

[2019-03-18 09:13] nikhita commented on #3305
/assign

[2019-03-18 09:13] nikhita commented on #3340
/kind documentation

[2019-03-18 09:14] nikhita commented on #3277
/priority important-longterm

I guess...
/kind feature

[2019-03-18 09:15] nikhita commented on #3281
/kind feature

[2019-03-18 09:15] nikhita commented on #3281
Oops...
/remove-kind feature
/kind documentation

[2019-03-18 09:20] nikhita commented on #3268
There is a wg-lts team now: https://github.com/kubernetes/org/blob/master/config/kubernetes/wg-lts/teams.yaml.

The project board has write access for all org members. @justaugustus @imkin What else needs to be done here? Do you want to restrict write access to the team and enable only read access to members?

/assign @imkin

[2019-03-18 09:22] nikhita commented on #3237
/kind feature
/priority important-soon

[2019-03-18 09:22] nikhita commented on #3237
/area community-management

[2019-03-18 09:24] nikhita commented on #3228
/area community-management
/priority important-soon
/kind cleanup

@castrojo feel free to update the priority if that's not correct

[2019-03-18 09:24] nikhita commented on #3227
/area community-management
/kind cleanup
/priority important-soon

[2019-03-18 09:25] nikhita commented on #3220
/priority backlog

[2019-03-18 09:25] nikhita commented on #3221
/kind documentation
/priority important-longterm

@castrojo please update the priority if that's not correct :grimacing:

[2019-03-18 09:26] nikhita commented on #3188
/kind cleanup
/priority important-longterm
/area community-management

[2019-03-18 09:27] nikhita commented on #3183
/priority important-longterm
/area community-management

I guess..
/kind feature

[2019-03-18 09:28] nikhita commented on #3175
/kind documentation
/area community-management
/committee steering

I guess this should be `priority/important-soon` but I'll leave it to Paris to add it.

[2019-03-18 09:33] nikhita commented on #3159
What else needs to be done here?

Do we _require_ the meeting notes to be viewable to the Public? I don't think we impose that, from https://github.com/kubernetes/community/blob/master/communication/mailing-list-guidelines.md#mailing-list-creation.

[2019-03-18 09:38] nikhita commented on #3155
We use this for `test-infra-oncall` today. We also have some automation around that: https://github.com/kubernetes/test-infra/tree/master/experiment/slack-oncall-updater.

Are we ok with allowing others (not just test-infra-oncall) to use this feature as well? In that case, what else needs to be done? Right now I see:

- improve automation so that we can have a yaml config as the source of truth f

[2019-03-18 09:41] nikhita commented on #3129
/area community-management

I guess...
/kind feature

[2019-03-18 09:43] nikhita commented on #3127
I think we can leave this to the discretion of the repo owners. Any objections?

[2019-03-18 09:44] nikhita commented on #3128
Is this done? We've had an overhaul of our moderation docs afaik. :)

/cc @castrojo @mrbobbytables @jeefy

[2019-03-18 09:45] nikhita commented on #3118
@sabanas A good place to discuss this would be the SIG Apps ML or an issue in the main kubernetes/kubernetes repo. :)

Closing since this isn't in the scope of the community repo.
/close

[2019-03-18 09:45] #3118 closed

[2019-03-18 09:46] nikhita commented on #3100
/priority important-longterm

"Longterm" because Christoph is on vacation.

[2019-03-18 09:47] nikhita commented on #3076
/kind feature
/priority important-soon

[2019-03-18 09:51] nikhita commented on #3079
:wave: Are there any updates on this?

Btw...we've seen an increase in the number of GitHub project boards across the orgs. We also have policy around it now: https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#project-board-guidance.

[2019-03-18 09:52] nikhita commented on #3064
/priority important-longterm

[2019-03-18 09:52] nikhita commented on #3053
/kind feature
/priority important-longterm

[2019-03-18 09:53] idvoretskyi commented on #3079
I'd close in favor of https://github.com/kubernetes/community/issues/3267

[2019-03-18 09:55] nikhita commented on #3053
Come to think of it...I don't think we need a tool for the CoC anymore. All new repos are created by the github-mangement team and the initial commit is from https://github.com/kubernetes/kubernetes-template-project (which contains the CoC). We won't need this unless someone removes the CoC explicitly - which I don't think will happen.

Closing this. Please reopen if needed.
/close

[2019-03-18 09:55] #3053 closed

[2019-03-18 09:56] nikhita commented on #3038
@dims does https://github.com/kubernetes/community/issues/3038#issuecomment-448300802 sgty? is there anything else needed to be done here?

[2019-03-18 09:58] nikhita commented on #3035
Does Moderators Pro Tempore https://github.com/kubernetes/community/blob/master/communication/moderation.md#moderators-pro-tempore cover this?

[2019-03-18 09:58] nikhita commented on #3032
/kind documentation
/priority important-longterm

[2019-03-18 09:59] nikhita commented on #2959
/kind feature
/priority important-longterm

[2019-03-18 10:00] nikhita commented on #2951
/kind documentation
/area community-management
/priority important-longterm

[2019-03-18 10:02] nikhita commented on #2923
/kind feature
/area community-management
/priority important-longterm

[2019-03-18 10:02] idvoretskyi commented on #3443
/cc

[2019-03-18 10:03] nikhita commented on #2975
cc @kubernetes/steering-committee

[2019-03-18 10:04] nikhita commented on #3014
/remove-lifecycle stale
/kind documentation
/area developer-guide

[2019-03-18 10:05] nikhita commented on #3014
Going to add help-wanted since the website PR exists here for reference: https://github.com/kubernetes/website/pull/10097

/help

[2019-03-18 10:06] nikhita commented on #2878
/kind cleanup
/priority important-longterm

[2019-03-18 10:06] nikhita commented on #2987
/kind feature
/priority important-longterm
/area community-management

[2019-03-18 10:07] nikhita commented on #2873
/priority important-longterm

[2019-03-18 10:08] nikhita commented on #2833
Let's document this.

/kind documentation
/help

[2019-03-18 10:09] nikhita commented on #2833
Maybe even

/good-first-issue

[2019-03-18 10:09] nikhita commented on #2812
/kind feature

[2019-03-18 10:12] nikhita commented on #2803
This was addressed in https://github.com/kubernetes/community/pull/2814. Closing. Please reopen if needed.

/close

[2019-03-18 10:12] #2803 closed

[2019-03-18 10:13] nikhita commented on #2759
/kind documentation

[2019-03-18 10:14] nikhita commented on #2616
/remove-lifecycle stale
/assign @shyamjvs

[2019-03-18 10:14] nikhita commented on #2619
/kind feature
/priority important-soon
/lifecycle active

[2019-03-18 10:54] dholbach opened #3446 "REQUEST: New Slack channel: #cluster-addons"
**GitHub Username:** @dholbach
**Slack Username:** dholbach
**What Type of Request is it (Channel, Bot, Token, or Webhook)?** Channel
**Name of Requested Resource:** `#cluster-addons`
**Description of Request:**

In the SIG Cluster-Lifecycle meeting of 12th March it was decided to create a subproject to drive the specification and implementation of the https://github.com/kubernetes/enhancements/pu

[2019-03-18 10:57] idvoretskyi commented on #3380
This is WIP.

[2019-03-18 11:03] nikhita commented on #3380
/lifecycle active

[2019-03-18 11:08] dims commented on #3038
/close

i think we are good here.

[2019-03-18 11:08] #3038 closed

[2019-03-18 11:38] mrbobbytables commented on #3380
I'll get this sorted out today.

/assign

[2019-03-18 11:48] mrbobbytables commented on #3035
I think it does..the only tidbit might be if we want to firm up scheduling/notification of when a regular admin becomes unavailable. Right now it's the general guideline of "let other mods know you'll be away". I'd say give it a go without a calendar and if something does occur we can revisit setting up a calendar or some other means of coordinating "away".

My main thought on that is it'd essenti

[2019-03-18 11:49] mrbobbytables commented on #3128
I think so \o/

[2019-03-18 11:54] imkin commented on #3079
While working on the board with @tpepper it felt that the kanban board is very limited in features.

- It would be easier to triage the issues to the board for tracking, If the automation supported labels to sort the issues into columns. That way labeling the issues will automatically bring it to the board's attention.
- It is difficult to define "InProgress" for non-reviewable issues. Apart from

[2019-03-18 11:55] mrbobbytables commented on #3446
+1

[2019-03-18 11:59] imkin commented on #3268
Yes please restrict the write access to wg-lts team.

While working on the board with @tpepper it felt that the kanban board is very limited in features.

- It would be easier to triage the issues to the board for tracking, If the automation supported labels to sort the issues into columns. That way labeling the issues will automatically bring it to the board's attention.
- It is difficult to defi

[2019-03-18 12:09] lledru commented on #3446
+1

[2019-03-18 12:10] mrbobbytables commented on #3446
/assign

[2019-03-18 12:15] mrbobbytables commented on #3446
Channel has been created. :)

/close

[2019-03-18 12:15] #3446 closed

[2019-03-18 13:53] nikhita commented on #3268
Done.

@imkin let's discuss alternate project board tools in https://github.com/kubernetes/community/issues/3079. :)

/close

[2019-03-18 13:53] #3268 closed

[2019-03-18 15:07] parispittman opened #3449 "BCN Summit: complete know before you go"
completion and send out of the know before you go emails for barcelona contributor summit to:
- [ ] attendees. (one for everyone, another for specific tracks) Deadline: ~May 13

- [ ] speakers. Deadline: ~May 15th

[2019-03-18 15:10] parispittman commented on #3342
dup; closing

/close

[2019-03-18 15:10] #3342 closed

[2019-03-18 15:16] parispittman opened #3451 "BCN summit: determine day of ops staffing"
- [x] determine how many and what staffing needs we will have for the event (ops, TAs for workshops, etc.)
- [x] recruit and send out communications

issue will close when all needs are filled

[2019-03-18 15:22] parispittman opened #3452 "BCN Summit: Sunday Social Venue"
Need to find and confirm a venue for Sunday evening (May 19th)

issue will close when we've posted the information to the registration site

[2019-03-18 16:36] geekygirldawn commented on #3357
/assign @guineveresaenger

[2019-03-18 16:43] idvoretskyi commented on #3380
@mrbobbytables no need, I'm already working on this :)

https://github.com/kubernetes/community/pull/3453

[2019-03-18 17:41] mrbobbytables opened #3454 "Process doc for subproject site requests"
This is a follow-up to several discussions on slack and some preliminary investigation.

Several subprojects have grown large and complex enough to warrant their own site to house easily discoverable documentation. These subprojects fall out of scope for documentation on the main kubernetes.io site. Some notable examples include [kind](https://kind.sigs.k8s.io/) and [kubebuilder](http://kubebuilde

[2019-03-18 17:46] parispittman commented on #3454
thanks for putting this all together in one spot @mrbobbytables!! 💟

[2019-03-18 19:02] nikopen opened #3455 "Nuke 'triage' labels / replace them with 'lifecycle' or other"
Triage labels are a bit old and unused. Following discussions on https://groups.google.com/forum/#!topic/kubernetes-sig-contribex/BvGmOQ0v5f0 , the proposal is to instantiate a new workflow roughly defined at the discussion above and here kubernetes/test-infra#11818 (comment) - introduce a new label that allows SIGs to sort new issues and filter valid ones / label them / organize upcoming work in

[2019-03-18 19:41] nikopen opened #3456 "Umbrella ticket: Proposals for an updated project-wide triage workflow"
This is an overview of ideas I've been collecting in the last 6 months as triage lead on the release team. Related initial discussion for point 1. can be found here: https://groups.google.com/forum/#!topic/kubernetes-sig-contribex/BvGmOQ0v5f0 , the rest should be further discussed in some meeting - 1.14 release retro is a good candidate

Series of items and features that would be beneficial if imp

[2019-03-18 19:42] nikopen commented on #3456
@kubernetes/sig-release @kubernetes/sig-contributor-experience-feature-requests
@thockin @guineveresaenger @nikhita  @idvoretskyi @justaugustus @BenTheElder @neolit123 and anyone in lead or interested in the overall project management
@kubernetes/sig-testing @fejta @cjwagner @BenTheElder on test-infra / label automation

[2019-03-18 21:07] destijl commented on #3228
I removed the checkboxes for allow post by email and by web. Hopefully that's what you wanted.

[2019-03-18 22:10] nikopen commented on #3456
Summarized the points for discussion in the 1.14 retro doc
https://docs.google.com/document/d/1he2axf3adOIk3gA3vxFAewejtE2tm3Wl1NA1p-ooXpo/edit#

[2019-03-18 22:11] nikopen commented on #3456
/assign

[2019-03-18 23:15] mrbobbytables commented on #3221
Just dropping a note so we don't forget:
Whatever doc is produced -- it should be managed by the gsuite account and not any of our personal accounts.

[2019-03-18 23:29] spiffxp commented on #3283
What is the board <-> subproject mapping?

I see many more subprojects here: https://github.com/kubernetes/community/tree/master/sig-contributor-experience#subprojects

...than I do boards here: https://github.com/orgs/kubernetes/projects

FWIW, it's also a bit difficult to tell which of these 19 boards belong to sig-contributor-experience. I wonder if we want to some consistency in naming

[2019-03-18 23:39] mrbobbytables commented on #3432
verified with vendor, they're all set! 👍
/close

[2019-03-18 23:39] #3432 closed

[2019-03-18 23:48] justaugustus commented on #3456
/assign

[2019-03-19 00:23] GodloveD commented on #3432
This worked like a charm.  Thank you.

[2019-03-19 00:53] spiffxp commented on #3443
@nikhita @parispittman would it be helpful to have project board for the github-management subproject?  I'm not sure how often its issues come up in contribex these days

AFAIK we want to keep track of
- [`repo:kubernetes/community label:area/github-management`](https://github.com/kubernetes/community/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aarea%2Fgithub-management+) issues
- [`repo:k

[2019-03-19 01:11] parispittman commented on #3443
definitely will be helpful and happy to create. we can always delete if necessary.

for those following along, an update:
k8s.io
devstats
repo-infra

will not have their own project boards, they are small groups and can be handled at the main meeting. if activity kicks up that would warrant, then we can propose tracking them in this fashion.

[2019-03-19 01:13] parispittman commented on #3283
for those following along the following subprojects wont have their own board unless we see increased activity and can't manage it through our weekly meetings:
k8s.io
devstats
repo-infra

everything else is done/at a wip state

/close

[2019-03-19 01:13] #3283 closed

[2019-03-19 02:17] parispittman commented on #3076
events-team has been set and housed under /events, marketing under /communication, new contrib ambassador under /sig-contributor-experience (which is also the future home of a future @nikhita PR for /issue-triage-team, captain.md, PR/Issue wrangler.md)

this issue will close when nikhita is done with the issue triage PR. we can follow up with other issues when we want to create other roles.

[2019-03-19 02:36] parispittman commented on #703
[sig-wg-lifecycle.md](https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md) should cover most of these conventions along with the other governance doc updates recently. most of the naming convention information is included in each relevant section. do you think this is good @spiffxp?

contribex ml has also been changed to kubernetes-sig-contribex@

[2019-03-19 03:45] nikhita commented on #3443
Yes! I'll create it today. :)

[2019-03-19 12:58] nikhita commented on #3102
/lifecycle active

[2019-03-19 12:58] nikhita commented on #2324
/lifecycle active

[2019-03-19 13:05] nikhita commented on #3443
Created a project board for github-management: https://github.com/orgs/kubernetes/projects/25

kubernetes/community-admins@, kubernetes/community-maintainers@ and kubernetes/owners@ have write access. All org members have read access and it is visible to the Public.

[2019-03-19 13:48] timothysc opened #3467 "Auditing meeting times and community calendar."
One the key fundamentals to bringing new folks online into the kubernetes project is the general discoverability of when SIGs meet.  Today this is supposed to be done via the community calendar.  Upon recent switch to Daylight savings time, we discovered a number of oddities with the community calendar and found out it's in a sad state.

1. A number of meetings did not exist there, including the c

[2019-03-19 13:52] nikhita commented on #3467
/cc @parispittman @castrojo @mrbobbytables

[2019-03-19 14:17] castrojo commented on #3035
We have way more moderators than before, I'd like to try this without a calendar first, then reopen if it becomes a problem.

[2019-03-19 14:17] #3035 closed

[2019-03-19 16:08] geerlingguy opened #3469 "Kubernetes 'Supported releases' docs arbitrarily mention GKE versioning"
I was reading through the [Supported releases and component skew](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew) documentation in the Versioning section today, and noticed that the policy of supporting the three most recent minor releases is, and I quote:

https://cloud.google.com/container-engine/docs/

[2019-03-19 16:09] geerlingguy commented on #3469
@kubernetes/sig-docs-maintainers

[2019-03-19 16:20] parispittman commented on #3079
@nikhita matt is stepping away for a second to work on some other things right now so I'd close this issue in favor of #3267

[2019-03-19 16:23] nikhita commented on #3079
Ack.

/close

[2019-03-19 16:23] #3079 closed

[2019-03-19 16:24] mrbobbytables commented on #3443
/milestone may

[2019-03-19 16:25] mrbobbytables commented on #3443
/milestone May

[2019-03-19 16:27] nikhita commented on #3443
/milestone May

[2019-03-19 16:31] parispittman commented on #3467
i found out yesterday that those who are setting gmail calendar issues are not realizing a few things that I'm going to PR into the [sig-wg-lifecycle.md](https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md) doc which is where the calendar instructions are.
1 - gmail has a default visibility setting - this should be set to public which it is not set on default
2 - most of the SI

[2019-03-19 16:32] parispittman commented on #3467
im also in the middle of creating a calendar-guidelines.md and will replace the current calendar section of the sig-wg-lifecycle doc with that as a canonical source of truth. we can put best practices in here ,too.

[2019-03-19 16:41] parispittman commented on #3467
there is the setting that I'll put into the guidelines
<img width="254" alt="Screen Shot 2019-03-19 at 9 40 55 AM" src="https://user-images.githubusercontent.com/5912992/54624752-341ee580-4a2b-11e9-86c8-fd8047738cac.png">

[2019-03-19 16:48] mrbobbytables commented on #3443
/milestone may

[2019-03-19 16:49] mrbobbytables commented on #3443
/milestone May
:)

[2019-03-19 17:00] nikhita commented on #3443
Notified sig-contribex ML: https://groups.google.com/d/topic/kubernetes-sig-contribex/KneETB-_NAc/discussion

[2019-03-19 17:00] mrbobbytables commented on #3454
/Milestone May
/lifecycle active

[2019-03-19 17:02] mrbobbytables commented on #3454
/milestone May

[2019-03-19 17:04] mrbobbytables commented on #3032
/lifecycle active
/milestone May

[2019-03-19 17:06] mrbobbytables commented on #3237
/milestone May

[2019-03-19 18:21] parispittman opened #3471 "calendar-guidelines.md creation"
creation of a calendar-guidelines to list best practices and everything that is currently in sig-wg-lifecycle.md.

this is in flight and will be checked in within the next day.

[2019-03-19 18:32] parispittman commented on #3467
note for later documentation: google.com_@domain.calendar.google.com was missing from the shared community calendar owners list

[2019-03-19 19:33] chris-short commented on #3044
Well, I've done a really terrible job at this and I apologize for cookie licking.

WIP: https://docs.google.com/document/d/1_mbqanj3ZnNJ6fCObOyDQzEHKVBd9iWQqqrmuIhUz_U/edit

Can anyone help me push this over the line?

[2019-03-19 20:23] timothysc commented on #3467
deescalating priority now that community meeting is back, but still relatively important.

[2019-03-20 03:49] chris-short commented on #3410
Pending https://github.com/kubernetes/org/issues/627

[2019-03-20 06:52] parispittman commented on #3044
@chris-short - no worries. it was refactored into a 2019 summit post and closing this issue now. https://github.com/kubernetes/website/pull/13209

/close

[2019-03-20 06:52] #3044 closed

[2019-03-20 09:53] gaborfinta opened #3477 "Broken links aggregated-api-servers.md"
All three links are broken in this section: [https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/aggregated-api-servers.md#namespaces](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/aggregated-api-servers.md#namespaces)

[2019-03-20 09:57] gaborfinta commented on #3477
/sig docs

[2019-03-20 10:08] nikhita commented on #3477
/remove-sig docs
/sig api-machinery

The correct links are:

- finalizers -> https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/namespaces.md#finalizers
- resource quota -> https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-management/admission_control_resource_quota.md
- limit range -> https://github.com/kubernete

[2019-03-20 10:08] nikhita commented on #3477
/kind cleanup

[2019-03-20 12:05] nikhita commented on #3471
/kind documentation
/area community-management
/priority important-soon
/lifecycle active
/milestone May

[2019-03-20 12:08] nikhita commented on #2667
/priority important-soon
/milestone May

[2019-03-20 12:10] nikhita commented on #2536
/priority important-soon
/milestone May

[2019-03-20 12:16] nikhita commented on #3471
PR is here https://github.com/kubernetes/community/pull/3476 :tokyo_tower:

[2019-03-20 12:20] nikhita commented on #3228
/lifecycle active
/milestone May

Adding the milestone because it looks like only some bits are left.

[2019-03-20 12:21] nikhita commented on #3227
/lifecycle active
/milestone May

Adding the milestone because it looks like only some bits are left.

[2019-03-20 12:28] nikhita commented on #2923
Since this was "In Progress", I'm going to add the milestone.

/milestone May

[2019-03-20 12:31] nikhita commented on #2324
/milestone May

[2019-03-20 12:32] nikhita commented on #3102
/milestone May

[2019-03-20 12:33] nikhita commented on #2323
/milestone May

[2019-03-20 12:43] nikhita commented on #3270
/kind feature
/priority important-soon
/lifecycle active
/milestone May

[2019-03-20 12:44] nikhita commented on #3271
/kind feature
/priority important-soon
/lifecycle active
/milestone May

[2019-03-20 12:44] nikhita commented on #3305
/lifecycle active
/milestone May

[2019-03-20 12:45] nikhita commented on #3362
/area community-management
/priority important-soon

@parispittman do we want to target this for the current milestone?

[2019-03-20 12:46] nikhita commented on #3364
/milestone May

[2019-03-20 12:47] nikhita commented on #3340
/priority important-longterm

[2019-03-20 12:48] nikhita commented on #2802
@parispittman do we want to target this for the current milestone?

I guess...
/kind feature
/priority important-longterm

[2019-03-20 12:49] nikhita commented on #3076
/lifecycle active

[2019-03-20 12:49] nikhita commented on #3076
/milestone May

[2019-03-20 12:50] nikhita commented on #2955
/area community-management
/kind cleanup
/priority important-longterm

[2019-03-20 12:51] nikhita commented on #3128
Cool! Closing this. Please reopen if needed.

/close

[2019-03-20 12:51] #3128 closed

[2019-03-20 12:53] nikhita commented on #3456
/milestone May

[2019-03-20 12:54] nikhita commented on #923
/unassign
/help

[2019-03-20 12:54] nikhita commented on #923
/kind documentation
/priority important-longterm

[2019-03-20 12:58] nikhita commented on #992
/area community-management
/priority important-soon
/milestone May

/cc @coderanger @mrbobbytables @jeefy

[2019-03-20 12:59] nikhita commented on #3467
/area community-management
/lifecycle active

[2019-03-20 12:59] nikhita commented on #3467
/milestone May

@parispittman please verify if we can have it in this milestone :)

[2019-03-20 13:01] nikhita commented on #359
/priority important-longterm
/lifecycle active

[2019-03-20 13:01] nikhita commented on #359
/remove-help

[2019-03-20 13:03] nikhita commented on #3100
Sort of...

/area github-management

[2019-03-20 13:06] nikhita commented on #1693
/area community-management
/priority important-longterm

[2019-03-20 13:11] nikhita commented on #3076
/assign

[2019-03-20 13:12] nikhita commented on #3455
/milestone May

[2019-03-20 13:13] nikhita commented on #3452
/milestone May

[2019-03-20 13:13] nikhita commented on #3451
/milestone May

[2019-03-20 13:13] nikhita commented on #3449
/milestone May

[2019-03-20 13:14] nikhita commented on #3358
/milestone May
/lifecycle active
/priority important-soon

[2019-03-20 13:15] nikhita commented on #3349
/milestone May

[2019-03-20 13:16] nikhita commented on #3348
/milestone May

[2019-03-20 13:16] nikhita commented on #3347
/milestone May

[2019-03-20 13:16] nikhita commented on #3346
/milestone May

[2019-03-20 13:17] nikhita commented on #3343
/milestone May
/lifecycle active
/priority important-soon

[2019-03-20 13:18] nikhita commented on #3341
/milestone May
/lifecycle active
/priority important-soon

Isn't this done? :thinking:

[2019-03-20 13:18] nikhita commented on #3274
/milestone May
/lifecycle active
/priority important-soon

[2019-03-20 13:21] nikhita commented on #1971
/lifecycle active
/kind feature

[2019-03-20 13:31] nikhita commented on #3443
We have the following project boards right now:

- Main Contribex board - https://github.com/orgs/kubernetes/projects/1
- github-management - https://github.com/orgs/kubernetes/projects/25
- community-management - https://github.com/orgs/kubernetes/projects/24
- mentoring - https://github.com/orgs/kubernetes/projects/18
- Contributor summits:
    - EU - https://github.com/orgs/kubernetes/projects/

[2019-03-20 13:34] idvoretskyi commented on #3443
@nikhita great, thanks for doing this!

[2019-03-20 14:41] parispittman commented on #2176
hey @zjs - back from vacation and want to PR this?

[2019-03-20 14:42] nikhita commented on #992
/unassign @grodrigues3
/assign @Katharine

[2019-03-20 15:04] parispittman commented on #2466
inventory is complete and linked above. survey went out and results are [here](https://docs.google.com/presentation/d/1HwDpEsv1WKxUtq9fVu4xu1w4x5OFKaKvziG2PBKvkIs/edit?usp=sharing)

Blog post is starting-> https://docs.google.com/document/d/1U6tgPVsOVlDcsxCSXz7lBFyQc8KIdglTRrk2uuf-PG0/edit?usp=sharing

[2019-03-20 15:04] parispittman commented on #2466
/close

[2019-03-20 15:04] #2466 closed

[2019-03-20 15:18] castrojo commented on #1632
/milestone May

[2019-03-20 15:19] castrojo commented on #3281
/milestone May

[2019-03-20 15:19] castrojo commented on #3237
/cc @chris-short because he wants in on this.

[2019-03-20 15:20] castrojo commented on #3188
/milestone May

[2019-03-20 15:21] castrojo commented on #2987
/unassign @castrojo

[2019-03-20 15:23] parispittman commented on #2536
update - the labels shown (except contribex - we are good; there for project board) are still using personal meeting ID.

[2019-03-20 15:23] castrojo commented on #1863
This got resolved when the docs were merged/moved.

[2019-03-20 15:23] #1863 closed

[2019-03-20 15:26] parispittman commented on #1997
@jbeda - can you look at #3287 and let me know if anything needs to be wrapped up with this

ty

[2019-03-20 15:33] parispittman opened #3479 "group mentoring automation and formation"
Cut from original issue #2659 for a smaller sized issue:

We have information that someone wants to know to a level higher in their community membership journey and is interested in group mentoring - now what?

- [ ] an automated process that lets SIG chairs/TLs/subproject POCs know when people want to go to the next membership level so they can start a group.
   - [ ]  a script that will see who

[2019-03-20 15:45] parispittman opened #3480 "docs: meet our contributors"
meet-our-contributors-md need to be updated.

- [x] times
- [x] list the playlist
- [x] more language around the purpose and what folks get out of it
- [x] a note about steering committee - we used to do them (maybe links to the most recent edition) but we don't anymore because of public meetings bi-weekly. we will still have SC members on as guest mentors though!

[2019-03-20 15:51] parispittman opened #3481 "youtube: meet our contributors updates"
- [ ] need a transcript per episode or at least a document of questions and the times of their answers. need to figure this out so it's sustainable.

- [ ] clip out more good questions like the code base tour for shorter, digestible soundbite clips

[2019-03-20 16:03] parispittman commented on #2802
working on the blog post here -> https://docs.google.com/document/d/1U6tgPVsOVlDcsxCSXz7lBFyQc8KIdglTRrk2uuf-PG0/edit?usp=sharing

[2019-03-20 16:05] parispittman commented on #3388
/help

[2019-03-20 16:10] parispittman commented on #2857
@spiffxp do you think the work done in #3287 answers this?

[2019-03-20 16:43] nikhita commented on #3481
/help

[2019-03-20 16:48] parispittman commented on #1665
@tpepper - do you think the work with the lifecycle doc, latest doc changes around communication, etc are good for this or do we need more work?

cc/ @castrojo

[2019-03-20 16:49] castrojo commented on #3228
That works, thanks!

[2019-03-20 16:49] #3228 closed

[2019-03-20 16:53] parispittman commented on #3175
/help

i can talk to you over video call if someone is looking for a quick PR

[2019-03-20 17:20] parispittman commented on #3362
jorge filed servicedesk ticket for us to talk to google gsuite solutions architect/support folks about how we can better set this up, workflows, potential automation that would be helpful for us, etc.

[2019-03-20 17:25] idvoretskyi commented on #3362
cc @idvoretskyi

[2019-03-20 17:26] idvoretskyi commented on #3362
I'll follow up on the ServiceDesk request.

[2019-03-20 17:34] nikhita commented on #3443
This is done!!! :tada: :tada: :tada:

Thank you soooo much for the hard work with triaging and applying milestones, everyone! :smile:

/close

[2019-03-20 17:34] #3443 closed

[2019-03-20 18:40] spiffxp commented on #2323
It's unclear to me whether we want to shuffle around teams first, or consider automating the following:
- using teams in OWNERS files (instead of OWNERS_ALIASES)
- managing team ACLs (repo access, project board access)

I am personally still not sold on hierarchical teams (I don't know if peribolos supports these or not)

Maybe a good start would be to prune the existing teams down if they're not

[2019-03-20 19:31] mattfarina commented on #2937
/remove-lifecycle stale

[2019-03-20 19:52] jonasrosland commented on #3274
Blog post has been published:
https://kubernetes.io/blog/2019/03/20/a-look-back-and-whats-in-store-for-kubernetes-contributor-summits/

[2019-03-20 19:54] parispittman commented on #3274
/close

[2019-03-20 19:54] #3274 closed

[2019-03-20 19:54] jonasrosland commented on #3273
This has been completed, issue can be closed.

[2019-03-20 19:54] idvoretskyi commented on #3273
/close

[2019-03-20 19:54] #3273 closed

[2019-03-20 19:55] jonasrosland commented on #3341
Yup, this is completed, issue can be closed.

[2019-03-20 19:55] jonasrosland commented on #3271
This has also been completed, issue can be closed.

[2019-03-20 19:57] jonasrosland commented on #3343
Posts to k-dev and Discuss were done today, to coincide with the blog post:
https://groups.google.com/forum/#!topic/kubernetes-dev/65FROCRfhOs
https://discuss.kubernetes.io/t/join-us-for-contributor-summit-in-barcelona/5565
https://discuss.kubernetes.io/t/contributor-summit-in-barcelona-is-now-open-for-registration/5563

This is now complete, issue can be closed.

[2019-03-20 20:58] aakarshg opened #3490 "REQUEST: New Slack <[channel|]> <#sig-performance>"
**GitHub Username:**

**Slack Username:**

**What Type of Request is it (Channel, Bot, Token, or Webhook)?**
Channel

**Name of Requested Resource:**
#sig-performance

**Description of Request:**
Requesting a slack channel to discuss performance of k8s and distributions

[2019-03-20 21:07] mrbobbytables commented on #3490
`sig-` prefixed channels are reserved for official [SIGs](https://git.k8s.io/community/sig-list.md).

However, if you're looking for performance related topics I would check out [`#sig-scalability`](https://git.k8s.io/community/sig-scalability).

[2019-03-20 21:09] mrbobbytables commented on #3490
/assign

[2019-03-20 21:22] aakarshg commented on #3490
@mrbobbytables Would it be possible to perhaps get a #kubernetes-performance channel in that case then?
We're currently working on a [benchmark-operator](https://github.com/jtaleric/benchmark-operator), and looking for a mode of communication apart from github to allow open discussion about performance and also the project itself. We're all new to kubernetes and are looking for more users to engag

[2019-03-20 21:28] mrbobbytables commented on #3490
We generally prefer to have tool/topic discussions in the related sig channels till they have grown to be a large enough community to warrant a channel of their own. Keeping the discussion in the sig related channel is a good way to begin to engage with others that are focused on the same area.

[2019-03-20 21:33] aakarshg commented on #3490
Okay I understand, I'll try to interact with folks on #sig-scalability then. Thank you, I'm closing the PR.

[2019-03-20 21:33] #3490 closed

[2019-03-20 22:22] spiffxp commented on #3345
Created a shared calendar, with full rights given to kubernetes-sig-testing-leads@ and sc[1-3]@kubernetes.io, and event rights given to @BenTheElder

[2019-03-20 22:23] spiffxp commented on #3345
Created a "sig-testing weekly" recurring meeting in zoom:
- enable join before host
- mute participants on entry
- record to cloud automatically

[2019-03-20 22:33] BenTheElder commented on #3345
I've moved the event from my calendar to the sig-testing calendar

[2019-03-20 22:38] spiffxp commented on #3345
Removed the old kubernetes-sig-testing-weekly invite from my personal calendar, created a new "SIG Testing Weekly" one on the shared calendar (I was getting lots of bounces from the last meeting I canceled so I'm hoping this purge helps)

[2019-03-20 22:48] spiffxp commented on #3345
Updated description, testing-commons is all that remains

[2019-03-20 23:31] spiffxp commented on #703
/close
Yes, I think between sigs.yaml evolving to hold much of this contact info, and the lifecycle doc spelling out how to implement most of the conventions, we're good here

[2019-03-20 23:31] #703 closed

[2019-03-21 01:18] zjs commented on #2176
Yes, @parispittman, I'll take a stab at that — and thank you for the ping.

[2019-03-21 01:23] zjs commented on #2176
@timothysc, the remaining work as I understand it is to generate a PR for each WG that doesn't have any stakeholder SIGs listed on the [SIG/WG list](https://github.com/kubernetes/community/blob/master/sig-list.md) based on our best guess (https://github.com/kubernetes/community/issues/2176#issuecomment-444623488) and get review from the chairs of the WG.

[2019-03-21 02:36] zjs commented on #2176
I've posted a set of PRs to fill in the blanks.

| Working Group | Pull Request | Notes |
|--|--|--|
| wg-apply | #3495 |  |
| wg-iot-edge | #3496 | See https://github.com/kubernetes/community/pull/3496#issuecomment-475094997 |
| wg-machine-learning | #3497 |  |
| wg-multitenancy | #3498 |  |
| wg-policy | #3499 | See https://github.com/kubernetes/community/pull/3499#issuecomment-475095091 |
| wg-

[2019-03-21 05:05] nikhita commented on #2176
@zjs just want to explicitly say thank you for all the work! And for the pretty table linking each pull request! :heart_eyes:

[2019-03-21 05:09] nikhita commented on #3271
\o/

/close

[2019-03-21 05:09] #3271 closed

[2019-03-21 05:09] nikhita commented on #3341
/close

[2019-03-21 05:09] #3341 closed

[2019-03-21 16:33] castrojo commented on #3410
+1 for zoom and youtube -- for slack I'd like to queue you up and rotate you in in the summer/fall so we can get a rotation going.

[2019-03-21 16:40] castrojo commented on #3481
I've started to schedule office hours streams (under events in the live stream section of youtube) instead of just going live on the main channel.

This lets you schedule them in advance, and more importantly, they each get a unique URL, so like, you can start to market them ahead of time, and then users can set a reminder in youtube to remind them when it goes live.

There's a "copy from this liv

[2019-03-21 17:25] parispittman opened #3502 "LF Help Desk Email changed"
per @idvoretskyi in todays community meeting, LF's new contact information is through the website.

"The Linux Foundation HelpDesk email is not valid anymore. Instead, please visit https://support.linuxfoundation.org/"

if this is the case, we will need to change references in docs and CLA bot that list the email.

[2019-03-21 17:31] idvoretskyi commented on #3502
Mentioned on line #8 here - https://identity.linuxfoundation.org/migration-faq.

[2019-03-21 20:06] baasbank commented on #3477
@gaborfinta @nikhita Is this issue fixed now?

[2019-03-21 22:37] jberkus opened #3504 "Create Contributor Summit CN Page"
Contributor Summit EU one:
https://events.linuxfoundation.org/events/contributor-summit-europe-2019/

[2019-03-21 22:38] jberkus commented on #3504
/sig contributor-experience
/lifecycle active

There's currently a Save The Date page for this.

https://www.lfasiallc.com/events/contributor-summit-shanghai-2019/

[2019-03-21 22:40] jberkus opened #3505 "Create Registration form for Contributor Summit"
As discussed, we need to have separate registration for the contributor summit.  This means creating a bilingual page and all of the requirements for registration on it.

We should also coordinate with sig-docs on this.

[2019-03-21 22:42] jberkus commented on #3504
/area contributor-summit
/area shanghai

[2019-03-22 12:44] mrbobbytables commented on #3505
/sig contributor-experience
/kind feature
/area contributor-summit
(for now until the other labels get approved)

re: translation for reg form. I think LF has handled that in the past and with reg being managed by LF this time around I think that is something they could swing.
/cc @debgiles

[2019-03-22 12:46] mrbobbytables commented on #3502
/assign

[2019-03-22 15:39] bene2k1 opened #3507 "REQUEST: New Slack channel #kubernetes-docs-de"
**GitHub Username:** @bene2k1

**Slack Username:** @benedikt

**What Type of Request is it (Channel, Bot, Token, or Webhook)?** Channel

**Name of Requested Resource:** #kubernetes-docs-de

**Description of Request:** Channel for translation of Kubernetes documentation in German

[2019-03-22 16:53] idvoretskyi commented on #3502
Fixed with https://github.com/kubernetes/community/pull/3503

Thanks @mrbobbytables!

[2019-03-22 17:02] rlenferink commented on #3507
+1 good to see a German translation for our docs 🎉

[2019-03-22 17:11] mrbobbytables commented on #3507
/cc @zacharysarah

looping in for visibility

[2019-03-22 17:13] rlenferink commented on #3507
ref: https://github.com/kubernetes/website/pull/13340

[2019-03-22 17:26] zacharysarah commented on #3507
Excellent!

[2019-03-22 17:37] mrbobbytables commented on #3507
+1 go for it!

[2019-03-22 17:40] rlenferink commented on #3507
Perfect! `kubernetes-docs-de` just got created 🎉

/close

[2019-03-22 17:40] #3507 closed

[2019-03-22 17:55] debgiles commented on #3505
Yes, we will help with translations for all things related to the China event.

@jberkus Did you need it to be a separate registration form for China?  Or did including it in the registration form last year work okay for China and we just need to increase the capacity for attrition?

I had heard it worked okay last year within the same form, but I'm open to your feedback.

If we need a separate fo

[2019-03-22 21:17] kylix3511 opened #3509 "REQUEST: New Slack channel ::: meetup-penang"
**GitHub Username:**
kylix3511
sujaypillai

**Slack Username:**
kylix
Sujay Pillai

**What Type of Request is it (Channel, Bot, Token, or Webhook)?**
Channel

**Name of Requested Resource:**
meetup-penang

**Description of Request:**
We would like have a channel for people who are like minded to learn, speak, spread and enjoy Kubernetes and it’s power in Penang and Butterwoth Areas.

[2019-03-22 23:55] mrbobbytables commented on #3509
+1 👍

[2019-03-23 00:43] mrbobbytables commented on #3380
fixed by #3453 and #3494 :)
/pony party
/close

[2019-03-23 00:43] #3380 closed

[2019-03-23 01:04] mrbobbytables commented on #3445
/area na-summit

[2019-03-23 01:10] mrbobbytables commented on #3505
One other thing that came up today that might be useful on the reg form is preferred language. There's a ballpark idea from last year, but having an actual number to track might be worthwhile going forward.

/area cn-summit

[2019-03-23 01:11] mrbobbytables commented on #3452
/area eu-summit

[2019-03-23 01:11] mrbobbytables commented on #3451
/area eu-summit

[2019-03-23 01:12] mrbobbytables commented on #3449
/area eu-summit

[2019-03-23 01:13] mrbobbytables commented on #3358
/area eu-summit

[2019-03-23 01:14] mrbobbytables commented on #3357
/area eu-summit

[2019-03-23 01:18] mrbobbytables commented on #3343
I think this is safe to close. All comms channels have been advertises on. :)
/pony happy
/area eu-summit
/close

[2019-03-23 01:18] #3343 closed

[2019-03-23 01:19] mrbobbytables commented on #3275
/area cn-summit

[2019-03-23 01:19] mrbobbytables commented on #3270
/area eu-summit

[2019-03-23 01:22] mrbobbytables commented on #3504
/area cn-summit

[2019-03-23 02:14] spiffxp commented on #3345
/close
All done yay

[2019-03-23 02:14] #3345 closed

[2019-03-23 07:26] nikhita commented on #3477
There is a PR open #3487 :)

[2019-03-23 08:34] NASHTURING commented on #3477
/remove-good-first-issue

[2019-03-23 11:14] hamiBU opened #3510 "A question regading "Allocatable" computation"
Hello

I'm tryinh to find out that how kubernetes calculate the allocation of resources? Actually, I cannot find it in the source code.
 In one of the post allocatable has been calculated as  [Allocatable] = [Node Capacity] - [Kube-Reserved] - [System-Reserved] - [Hard-Eviction-Threshold]. Could you please help me to find the related source codes?

Cheers

[2019-03-23 11:48] mrbobbytables commented on #3510
@hamiBU You might be better off asking your question to the [Kubernetes-dev mailing list](https://groups.google.com/forum/#!forum/kubernetes-dev) or the [kubernetes-dev slack channel](https://kubernetes.slack.com/messages/C09R23FHP/). Both places will get you more relevant eyes on the question.

[2019-03-23 23:45] chris-short commented on #3410
I'm good with that. What's next?

[2019-03-24 02:32] sasachan opened #3512 "Links are broken for page "community/sig-contributor-experience/""
Page community/sig-contributor-experience/ has section GitHub Teams - It seems to have broken links.

![image](https://user-images.githubusercontent.com/12516416/54874121-f515d900-4e0a-11e9-84a9-a8b25ce76280.png)

/sig contributor-experience
/cc @nikhita

[2019-03-24 02:41] mrbobbytables commented on #3512
@sasachan To view the teams, you must be a member of the org. If you wish to see who is a part of each team, you can view the [sig-contributor-experience team config](https://github.com/kubernetes/org/blob/master/config/kubernetes/sig-contributor-experience/teams.yaml) in [kubernetes/org](https://github.com/kubernetes/org).

[2019-03-24 02:45] sasachan commented on #3512
Thanks @mrbobbytables

[2019-03-24 02:45] #3512 closed

[2019-03-24 02:47] mrbobbytables commented on #3512
Sure thing! :) It can be confusing coming in stumbling across those links without knowing that sort of thing ahead of time.

[2019-03-24 18:29] jeefy commented on #3509
+1

[2019-03-24 19:03] mrbobbytables commented on #3509
@kylix3511 After some discussion, would `#malaysia-users` be okay? It looks like we don't have any groups represented from there currently and it might serve as a better catch-all.

[2019-03-24 20:29] kylix3511 commented on #3509
@mrbobbytables ```#malaysia-users``` is little wired :) We will inherit ```kubernetes``` with ```malaysia``` ... something like ```#kubernetes-malaysia``` or ```#malaysia-kubernetes``` ? Will that be possible or acceptable ?

[2019-03-24 20:47] mrbobbytables commented on #3509
It follows the pattern we've typically used for local communities.
Usually in the form of:
`[country code|country|region]-[users|dev]`.
For example we have:
- `de-users` - German community
- `malta-users` - Malta community
- `aus-nz-users` - Australia/New Zealand community

[2019-03-24 21:44] kylix3511 commented on #3509
Oh OK. In that case, #malaysia-users works.

[2019-03-24 22:05] mrbobbytables commented on #3509
It has been created :)
Just ping back in here or in slack if theres anything else you need.

Thanks!

/assign
/close

[2019-03-24 22:05] #3509 closed

[2019-03-25 02:37] yittg opened #3513 "pv-controller:miss check node affinity when selected-node set"
if claim has already been assigned a node by scheduler for dynamic provisioning, then in `syncUnboundClaim` will try to `findBestMatchForClaim` but without check the `selected-node`(left it as nil).
This will lead to an issue that the claim will bound to a volume no match its node affinity.

Maybe we should change the `findBestMatchForClaim` signature by adding a node parameter like following:
[co

[2019-03-25 02:40] yittg commented on #3513
/sig storage

[2019-03-25 02:41] #3513 closed

[2019-03-25 18:14] guineveresaenger commented on #3349
Suggested form item to ask 101 participants:

"Please let us know from the following list of topics where you might want to start contributing. To help you choose, think about where you might have prior experience or what topics you might want to learn more about
."
- APIs/Cluster Resource Definitions/Operators
- CLI
- Docs
- Community management and governance (note: I feel release work goes here

[2019-03-25 18:14] guineveresaenger commented on #3349
@mrbobbytables  ^^

[2019-03-25 19:19] mrbobbytables commented on #3349
follow-up from slack, here is the question and options we wound up going with:

Please select from the following topics as an interest that you'd like to contribute to or learn more about as part of your contribution:

- APIs/CRDs/Operators
- CLI
- Community & Governance
- Docs
- Multicluster
- Networking
- Release
- Storage
- Testing
- UI
- Don't know
- Other:

[2019-03-25 19:29] jonasrosland commented on #3348
/assign @jonasrosland

[2019-03-25 22:17] jberkus commented on #3505
Deb:

I'm afraid you heard wrong.  We had a 70% noshow rate, because attendees selected it because it was free (I interviewed a couple).  This is why we need a separate form (this should include the Doc Sprints as well); needing to follow a link to somewhere else will cut down on the "because it was free" crowd.

Also, we do want to ask people questions beyond what you have above.

[2019-03-25 22:52] jberkus commented on #3505
Tagging @zacharysarah here too for Doc Sprints content.

/sig docs

[2019-03-25 23:34] guineveresaenger opened #3516 "SIG Meet and Greet @New Contributor Workshop KubeCon2019 Barcelona"
This issue will be used as a means to track mentor volunteers - if you could drop your contact information in a comment here or via k8s Slack to me @gsaenger you will earn karma points, my eternal gratitude, and new members for your SIG.

Do you need more SIG members? Are there many outstanding Good First Issue and Help Wanted labels in your SIG’s projects? Are you running out of Reviewers in your

[2019-03-26 14:00] parispittman commented on #3349
what about cluster lifecycle? thinking about the sigs that will be onsite

[2019-03-26 17:49] #3510 closed

[2019-03-27 03:06] zacharysarah commented on #3505
@jberkus 👋 We'd definitely like to add at least one or two questions for folks interested in doc sprints. What's the deadline for providing input?

/cc @hanjiayao

[2019-03-27 16:40] mrbobbytables commented on #3340
/assign

[2019-03-27 16:51] tpepper commented on #1665
Compared to when I first went through it the current documentation (for example: https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md ) is much cleaned up, old stuff is removed, single points of failure are removed.

[2019-03-27 16:51] #1665 closed

[2019-03-27 16:51] parispittman commented on #3364
AI: @nikhita to build rolebook for triage-team under contribex; @spzala to add info into triage captain responsibilities with shadow, nikhita to do PR Wrangler from sig-docs guidance

[2019-03-27 16:52] parispittman commented on #3076
events-team, marketing-team, and triage-team is in flight (will update with PRs)

[2019-03-27 22:22] spiffxp opened #3524 "Proposal to make a subproject for the kubernetes.io/blog"
https://github.com/kubernetes/community/blob/master/sig-docs/charter.md#cross-cutting-and-externally-facing-processes

https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md#cross-cutting-and-externally-facing-processes

It appears as though there is no explicit part of the Kubernetes project that owns the blog.  I raised the issue during steering, and suggested

[2019-03-27 22:24] spiffxp commented on #3524
ref: https://github.com/kubernetes/steering/issues/40 for the issue where this came up

[2019-03-27 22:24] parispittman commented on #3524
should this issue live against the website repo?

[2019-03-27 22:25] spiffxp commented on #3524
Involves subproject creation, that's sigs.yaml and community-related.  Treating this as umbrella issue.  Doesn't need to be tracked against contribex's milestones

[2019-03-27 22:40] chris-short commented on #3388
@parispittman Can you send/share the original photo from Contributor Summit?

[2019-03-27 22:56] zacharysarah commented on #3524
@parispittman 👋

Once we agree about subproject ownership, we can open an issue in k/website to change the relevant `OWNERS*` files for permissions. For now I think we're OK to treat this like an umbrella issue as @spiffxp suggests, given the changes to `sigs.yaml`.

[2019-03-28 19:33] cppforlife opened #3527 "REQUEST: New Slack channel k14s"
**GitHub Username:** @cppforlife
**Slack Username:** `dkalinin`
**What Type of Request is it (Channel, Bot, Token, or Webhook)?**: channel
**Name of Requested Resource:** `#k14s`

**Description of Request:**
We've recently open sourced a few Kubernetes related tools (ytt, kapp) under https://github.com/k14s. We think having presence in Kubernetes slack will be convenient for existing Kubernetes us

[2019-03-28 21:00] balajismaniam commented on #3396
We have been on a hiatus due to dearth of topics. We had a meeting today. One of the topics we discussed was to change the ML WG meeting to monthly one. I'm not sure what it entails to be a user group. If there is less interest from participants in the working group, we can look into transitioning the WG to a user group. WDYT?

[2019-03-28 21:19] jeefy commented on #3527
👍 from me

[2019-03-28 23:24] misterikkit commented on #2959
Mind if I help with this?

https://github.com/shlinkio/shlink has an MIT license, but more importantly, they have the best name and logo of any open source URL shortener.

I was able to figure out serving a "static" set of short URLs defined in the deployment yaml. Assuming the deployment yaml is checked in somewhere, we can code review new short links.

[2019-03-28 23:29] bagrat opened #3530 "Broken link in "SIG Roles and Organizational Governance""
In the first bullet-point list, the last item has a broken link to `[forums provided]`. See the screenshot below:

<img width="936" alt="Screen Shot 2019-03-29 at 3 27 43 AM" src="https://user-images.githubusercontent.com/3033265/55199243-ce70ed00-51d2-11e9-9f86-c1955437ba5a.png">

[2019-03-28 23:34] bagrat commented on #3530
/sig docs

[2019-03-29 00:01] BenTheElder commented on #2959
/assign @misterikkit
:tada:

[2019-03-29 00:01] BenTheElder commented on #2959
/remove help

[2019-03-29 00:02] BenTheElder commented on #2959
/remove-help

[2019-03-29 00:48] thockin commented on #2959
Can we talk pull config from a file, so we can use configmap?  Or maybe we
can give it a helper that watches the file and send SIGHUP or something?

On Thu, Mar 28, 2019, 4:24 PM Jonathan Basseri <notifications@github.com>
wrote:

[2019-03-29 04:59] misterikkit commented on #2959
@thockin that's actually what I ended up doing. (https://github.com/kubernetes/k8s.io/pull/211). It currently will exit(0) on configmap change, causing a container restart within the pod. (is that an antipattern?) Causes global downtime no matter how many replicas, but it's good enough for now.

I'll subscribe to https://github.com/kubernetes/kubernetes/issues/22368 ...

[2019-03-29 05:51] marpaia commented on #3396
If folks are open to it, I would be interested in participating in the ML WG's leadership and helping refocus a little bit. For the first time in a while, I won't be on the Release Team and I've been doing a lot of Machine Learning at work lately so this feels like an exciting intersection of interests for me.

Specifically, I think some concrete goals for the WG could be expanding the website doc

[2019-03-29 12:05] nikhita commented on #3530
/remove-sig docs
/sig contributor-experience

The doc with the broken link is https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md.

The correct link should be https://github.com/kubernetes/community/blob/master/communication/README.md

/good-first-issue

[2019-03-29 12:05] nikhita commented on #3530
/kind documentation

[2019-03-29 12:20] sanjaymore opened #3533 "Building On-Prem Kubernetes Hybrid Cluster ( with windows and linux worker nodes)"
Hi I am trying to build Kubernetes Hybrid Cluster in virtual environment on my host carrying windows 10 pro.
I am using Hyper-v-manager to to build three vm.
Two of them are running Ubuntu 18.04 Server ( Master and Worker Node)
One is running Windows 2019 Server ( evaluation version) to be deployed as Windows Worker Node.
I could build the K8s Cluster with Linux node, but having an issue adding wi

[2019-03-29 12:23] nikhita commented on #3533
This looks like an issue with the docs. @sanjaymore can you open an issue on https://github.com/kubernetes/website instead? Sorry for the back-and-forth :grimacing:

/close

[2019-03-29 12:23] #3533 closed

[2019-03-29 12:28] sanjaymore commented on #3533
Thanks Nikhita .. let me see what can be done wrt writing back to Kubernetes.
Meanwhile a link to correct document (if someone has followed in the past) would be of great help.

[2019-03-29 12:45] nikhita commented on #3533
I'd suggest asking on the #sig-windows channel on the Kubernetes slack.

[2019-03-29 13:05] sanjaymore commented on #3533
Thanks again Nikhita .. will give it a try.

[2019-03-29 16:08] stp-ip commented on #2959
Would have loved to see the now managed DNS config to be used via the TXT records, but happy to have a solution \o/.
If the decision ever comes back to do it via TXT records and TXTDirect, let me know. I'll also be at Next to discuss this in detail.

@misterikkit I definitely oppose the viewpoint on best name and logo :smiling_imp:

[2019-03-29 18:56] misterikkit commented on #2959
@stp-ip Could you explain why using DNS TXT records is a preferable solution? Is it easier to manage?

[2019-03-29 20:29] stp-ip commented on #2959
Not specifically preferable or easier. It depends on the viewpoint, but it can work with the new DNS setup and review process in k8s. The application is mostly stateless.

Additionally it might open up the avenue to not just use it for redirects but also container image urls, go pkg urls and git repos later on, if that ever wants to be controlled at the endpoint level.

It also has support for var

[2019-03-30 19:17] raelga opened #3538 "REQUEST: New Slack channel #kubernetes-docs-es"
**GitHub Username:** @raelga

**Slack Username:** rael

**What Type of Request is it?** Channel

**Name of Requested Resource:** `#kubernetes-docs-es`

**Description of Request:**

In the `#es-users` channel we started looking for contributors to work on the Spanish of the website and the documentation. Having a dedicated channel will help on joining forces to coordinate the localization and avoid

[2019-03-30 19:18] mrbobbytables commented on #3538
+1 \o/

[2019-03-30 19:20] jeefy commented on #3538
+1 🎉

[2019-03-30 19:24] mrbobbytables commented on #3538
Channel has been created :)
/assign
/close

[2019-03-30 19:24] #3538 closed

[2019-03-30 19:24] sieben commented on #3538
+1

Em sáb, 30 de mar de 2019 20:21, Jeffrey Sica <notifications@github.com>
escreveu:

[2019-03-30 19:31] mrbobbytables commented on #3527
+1

[2019-04-01 12:33] jeefy commented on #3527
Heya @cppforlife -- #k14s has been created in the Kubernetes Slack workspace.

Please keep in mind that while this is a channel to support your project, you must adhere to the [Kubernetes Code of Conduct](https://github.com/kubernetes/community/blob/master/code-of-conduct.md). If you need anything else slack-related, please hop into the #slack-admins channel.

Thanks!

/assign
/close

[2019-04-01 12:33] #3527 closed

[2019-04-01 14:40] #3530 closed

[2019-04-01 14:45] bgrant0607 commented on #3396
If the group is not operating, I suggest discontinuing it. We're in the process of archiving inactive groups.

@marpaia Thanks for offering to help, but I don't think any type of official advice about other software should be offered on kubernetes.io. One simple reason is that in the past we've been unable to keep such documentation up to date (e.g., to ensure that any tutorials still worked). But

[2019-04-01 21:29] parispittman opened #3541 "current community infra issues / gsuite"
we have contributors@kubernetes.io (and many others)

following up on steering committee meeting re: issues with current set up/gsuite, reasons why we want to talk to someone at gsuite, etc.

UPDATE: @mrbobbytables added community mailing lists to a k8s.io group that auto feeds into the calendar now. This could be an ok solution for right now.
**1- calendaring:** some sigs are following the guidel

[2019-04-02 03:10] chris-short commented on #3388
New masthead image?
https://drive.google.com/open?id=1FDfY2c_Hy61xvv2gfk2oKwLiQim7O1cu

[2019-04-02 06:27] codeekage opened #3543 "Joining a Kubernetes SIG"
Hello there 👋,

I'm Abraham Jr.  Agiri a member of Node.js TLC (top-level committee). I have some personal interest in GCP-SIG and DOCs-SIG, but also love to make contributions to the greater Kubernetes community.

I'm having a little difficulty knowing where to get started and make contributions, would really appreciate having someone guide me through and explain how things work here.

I'm also h

[2019-04-02 06:29] codeekage commented on #3543
/sig gcp /sig docs

[2019-04-02 11:21] daminisatya commented on #3543
Hi, @codeekage Welcome!

This talk will definitely help you get an outline of how Kubernetes as community functions.

https://www.youtube.com/watch?v=yVOCRrK6Fh0

[2019-04-02 11:28] daminisatya opened #3544 "Missing template for intra-SIG governance"
There is a short template file missing for intra-SIG governance in the below file. https://github.com/kubernetes/community/blob/master/governance.md

[code]

I think the link to the template is either deleted or missing. ```https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance-template-short.md```

If the template needs to be created, I'm happy to help.

[2019-04-02 11:29] daminisatya commented on #3544
/kind documentation
/area community-management

[2019-04-02 17:17] pmorie opened #3545 "API conventions should offer guidance on embedding types"
There are a number of places within the kubernetes APIs where an API type is embedded within another type that may alter some semantics of that type. As an example, `ReplicaSet` embeds the `PodTemplateSpec` type in its spec, but [alters the semantics of certain fields](https://github.com/kubernetes/kubernetes/blob/602c3eb0e610520521c0eb750d9b36dd60c64393/pkg/apis/apps/validation/validation.go#L646

[2019-04-02 17:57] mrbobbytables commented on #3454
After looking into Netlify teams and permissions there looks to be two paths forward.

1. The current method -- A member of sig-docs that is a netlify collaborator is granted temporary admin access to the repo to enable Netlify integration and configure the site. They are then removed after it is configured.
2. The github admin team (or a subset of them) are added as Netlify collaborators and enab

[2019-04-02 19:41] zacharysarah commented on #3454
/cc @jaredbhatti @bradamant3 for SIG Docs visibility

[2019-04-02 20:00] quinton-hoole opened #3546 ""Writing Good Conformance Tests" doc required"
Tracking issue for something discussed in SIG-Architecture/Conformance Definition meeting.

We need a set of published guidelines describing how to write good conformance tests.  Anecdotally we know of lots of tests that are not portable, or do not adequately test conformance against a desired set of functionality, but most of that information is in people's heads.  So lets rather get it in a doc

[2019-04-02 20:00] quinton-hoole-2 commented on #3546
/label area-conformance

[2019-04-02 20:02] quinton-hoole-2 commented on #3546
/sig architecture

[2019-04-02 20:02] quinton-hoole-2 commented on #3546
/area conformance

[2019-04-02 20:09] quinton-hoole-2 commented on #3546
/lifecycle frozen

[2019-04-02 20:09] quinton-hoole-2 commented on #3546
/frozen

[2019-04-02 20:14] quinton-hoole-2 commented on #3546
/help

[2019-04-02 20:23] embano1 opened #3547 "REQUEST: New moderator for embano1 of Slack (SIG VMware)"
### GitHub Username
@embano1

### Property you'd like to Moderate
Slack (SIG VMware)

### Username on Property Requested
@embano1

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/c

[2019-04-02 20:41] pmorie commented on #3545
/sig contribex

[2019-04-03 00:09] parispittman commented on #3388
@chris-short i think that would be good for the contributor site

[2019-04-03 00:23] frapposelli commented on #3547
/lgtm

:+1:

[2019-04-03 02:57] nikhita commented on #3454
/cc @kubernetes/owners

[2019-04-03 05:46] mucahitkurt opened #3554 "Broken links of sig storage contributor guide"
Below link is broken;

https://github.com/kubernetes/community/blob/master/sig-storage/CONTRIBUTING.md

/kind cleanup
/sig storage

[2019-04-03 05:46] mucahitkurt commented on #3554
/assign

[2019-04-03 14:12] castrojo commented on #3547
We don't really do per-channel moderation, we put you in a pool of other moderators. However having people concentrate on specific channels is a good idea as long as we're also ensuring the common areas have coverage.

Also not explicit, but similar to org membership, I would be more comfortable with a +1 from a non-vmware sponsor

[2019-04-03 15:42] chris-short commented on #3410
Good to go with YouTube
Figuring out Zoom bits
Rotating into Slack later this year.

[2019-04-03 15:42] #3410 closed

[2019-04-03 16:22] mrbobbytables commented on #3388
Here are a few other masthead suggestions from previous KubeCons:
- https://www.flickr.com/photos/143247548@N03/44541989060/in/album-72157704599428714/
- https://www.flickr.com/photos/143247548@N03/45581565324/in/album-72157704599428714/
- https://www.flickr.com/photos/143247548@N03/31365927607/in/album-72157704599428714/
- https://www.flickr.com/photos/143247548@N03/44488379080/in/album-721577045

[2019-04-03 19:12] #3554 closed

[2019-04-03 19:26] parispittman opened #3556 "speed mentoring kick off for kubecon barcelona"
speed mentoring kick off tracking issue for the speed mentoring sessions

- [x] - change the name of the event: Networking & Mentoring Session
- [x] - update the registration form to collect all pertinent info needed up front
- [x] - update copy to describe mentoring pods
- [x] - figure out signage needs
- [ ] - ask mentors if they would like to do it again so we have a pool to start with and kick

[2019-04-03 20:25] mattmoor commented on #3545
One of the interesting elements of our discussion of this in Knative (thanks @pmorie) was that folks would likely have a bias towards embedding (e.g. `corev1.Container`) and validating fields out vs. redefining them.  The net effect of this is that the OpenAPI schema for these types will be shared and express a superset of the fields that the API really allows.

A case where this gets gnarly is: s

[2019-04-03 23:13] mrbobbytables commented on #3388
Just as a quick follow-up. I think if we have the masthead picture updated and the about-us updated we could push to make it live. The only caveat would be related to the twitter feed. It supports [profiles, likes, lists, collections or moments](https://help.twitter.com/en/using-twitter/embed-twitter-feed). We could attach it to [kubernetesio](https://twitter.com/kubernetesio), [kubecon_](https://

[2019-04-04 04:17] apelisse commented on #566
Sharing thoughts about the feature-branch in the context of server-side apply: https://docs.google.com/document/d/1l-y_rgEpktXcWjCle7intCVKh7cAxhCHv735wLz1UwY/ (shared with kubernetes-dev@)

[2019-04-04 14:33] parispittman commented on #3388
@mrbobbytables sorry i haven't updated this issue - alex @ cncf found a welcome image from a past kubecon and we also updated the about us text. she is going to give us a new preview with this info.

as for twitter, i would agree to kubernetesio and kubecon_. need to check with alex on the rest of the items.

[2019-04-04 14:39] mrbobbytables commented on #3388
Awesome! Could also just use those 2 twitter accounts for now and change the alignment so they're a bit more equally spread.

[2019-04-04 15:30] geekygirldawn commented on #3358
SIG F2F Details for room allocations.

Confirmed:

1. SIG UI, Half day, 5-10 people, @jeefy
2. SIG CLI, Half day, 10-15 people, @soltysh
3. SIG Windows, Half day, 10-15 people, @michmike

Requested, but details unconfirmed:

4. SIG PM, TBD, 10?? people, @idvoretskyi
5. SIG Cluster Lifecycle, TBD, 15-30?? people, @timothysc
6. SIG Networking, TBD, 15?? people, @thockin
7. SIG Cloud Provider, TBD, 8

[2019-04-04 17:57] anguslees opened #3558 "REQUEST: Rename Slack channel: #ksonnet -> #jsonnet"
The "ksonnet" project is [shutting down](https://blogs.vmware.com/cloudnative/2019/02/05/welcoming-heptio-open-source-projects-to-vmware/).  Some parts of the project (notably [kubecfg](https://github.com/ksonnet/kubecfg)) live on, as does the emergent jsonnet<->kubernetes community that use this channel.

To better reflect its focus, can we rename #ksonnet to #jsonnet ?

(Thanks in advance)

[2019-04-04 18:43] idvoretskyi commented on #3541
/cc

[2019-04-04 19:36] parispittman commented on #3524
cc/ @jaredbhatti @kbarnard10

fyi - some docs folks are meeting tomorrow (friday) to discuss the formation of an editorial group that would own this subproject. more soon.

[2019-04-04 21:07] castrojo commented on #3558
Done, you'll want to update your pinned items and topic though!

[2019-04-04 21:07] #3558 closed

[2019-04-05 01:08] jberkus commented on #3275
fixed by: #3560

[2019-04-05 01:08] jberkus commented on #3275
/close

[2019-04-05 01:09] #3275 closed

[2019-04-05 01:10] #3504 closed

[2019-04-05 02:46] nikhita commented on #3545
/sig architecture
/cc @liggitt

[2019-04-05 15:21] #3087 closed

[2019-04-05 20:49] nwoods3 commented on #3556
Not sure we need "update copy to describe mentoring pods" in the initial copy, maybe when the mentor/mentees confirm we can send them a thank you for registering email with logistical information like format, what they need to come prepared with, what they can hope to take away, etc. Just trying to cut down on the initial event copy and any language confusion. Also, we can use the image of the pod

[2019-04-05 22:45] zacharysarah commented on #3524
We met today to discuss. Per the [SIG Docs charter](https://github.com/kubernetes/community/blob/master/sig-docs/charter.md#subproject-creation), the chairs agreed to form a SIG Docs subproject for the Kubernetes blog.

- @kbarnard10 will lead the subproject
    - @kbarnard10 will update SIG Docs info in k/community:
        - https://github.com/kubernetes/community/tree/master/sig-docs
        -

[2019-04-06 03:04] Katharine commented on #992
I fixed this!

https://slack.k8s.io
https://slack.kubernetes.io

[2019-04-06 03:04] Katharine commented on #992
/close

[2019-04-06 03:04] #992 closed

[2019-04-06 06:28] nikhita commented on #992
Thank you so much, Katharine!!

/pony yay

[2019-04-06 06:29] nikhita commented on #992
/pony slack

[2019-04-06 06:29] nikhita commented on #992
/pony unicorn

[2019-04-07 03:28] spzala commented on #3543
@codeekage thank you for your interest in contributing! Please work with both the sigs you are interested. You can get more info about how to get in touch with them here,
https://github.com/kubernetes/community/tree/master/sig-gcp
https://github.com/kubernetes/community/tree/master/sig-docs
About learning community contribution, Github workflow and other things, you can find many resources here,
h

[2019-04-08 18:32] nikhita commented on #2703
This exists today: https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2019-04-08 18:32] #2703 closed

[2019-04-08 20:59] spzala commented on #3516
@guineveresaenger cool, please count me in for IBM Cloud SIG. Thanks!

[2019-04-09 11:04] nikhita commented on #3547
big +1 for @embano1 :)

[2019-04-09 11:36] nikhita commented on #3543
@codeekage Welcome to Kubernetes :tada: :smile:

I'll close this issue. Feel free to reopen if needed.

/close

[2019-04-09 11:36] #3543 closed

[2019-04-09 16:45] russellb opened #3568 "REQUEST: New Slack channel #cluster-api-baremetal"
**GitHub Username:**

@russellb

**Slack Username:**

russellb

**What Type of Request is it (Channel, Bot, Token, or Webhook)?**
Channel

**Name of Requested Resource:**
#cluster-api-baremetal

**Description of Request:**
The cluster-api sub-project of the cluster lifecycle SIG has #cluster-api, but also some channels for discussing the specifics of integration with different platforms (#cluster-

[2019-04-09 17:37] saschagrunert opened #3569 "REQUEST: New Slack bot: Riot Bridge for #crio"
**GitHub Username:**

@saschagrunert

**Slack Username:**

sgrunert

**What Type of Request is it (Channel, Bot, Token, or Webhook)?**

Bot

**Name of Requested Resource:**

Riot Bridge

**Description of Request:**

Hey 👋, we would like to setup a Riot Bridge between the freenode cri-o IRC channel and the Slack crio channel, to synchronize our IRC with Slack to not miss any relevant information.

[2019-04-09 18:38] castrojo commented on #3568
/close

On this, I'll reach out in slack.

[2019-04-09 18:38] #3568 closed

[2019-04-10 17:58] castrojo commented on #2536
/unassign

[2019-04-11 06:35] harche commented on #2970
/remove-lifecycle stale

[2019-04-11 17:05] scottrigby opened #3573 "REQUEST: New Slack channel #chart-testing"
**GitHub Username:**

scottrigby

**Slack Username:**

scottrigby

**What Type of Request is it (Channel, Bot, Token, or Webhook)?**
New channel please :)

**Name of Requested Resource:**
#chart-testing

**Description of Request:**
Channel for transparent discussions about helm/chart-testing. Anyone is welcome to contribute. See https://github.com/helm/chart-testing

[2019-04-11 17:24] jeefy commented on #3573
Heya! Quick question. :) Would this fall under the #helm-dev channel? Or is this a unique-enough topic and #helm-dev busy enough that this would warrant a separate channel? Thanks!

Other slack-admins feel free to +1 in the meantime.

[2019-04-11 17:28] jeefy commented on #3569
Heya @saschagrunert -- Several slack-admins have discussed this, and we feel we can't fulfill this request.

The Kubernetes Slack adheres to the CNCF Code of Conduct and is managed by the community. While I totally see the value in adding this bridge, we would not be able to enforce the COC. Thanks for sparking the discussion, and we'll document our decision in the [Slack Communication Guidelines]

[2019-04-11 17:28] #3569 closed

[2019-04-11 17:32] jeefy commented on #3547
With Tempelis looming, do we want to move @embano1 forward as a Slack Moderator (we have 2 +1's) or do we want to wait and guinea-pig them as a #sig-vmware moderator?

To be clear:
![no-strong-feelings](https://user-images.githubusercontent.com/1394552/55978619-0bae9380-5c45-11e9-8269-0518f5fe3ee6.jpg)

[2019-04-11 17:32] saschagrunert commented on #3569
Alright I understand. Nevertheless, hank you for having a look into my request. 🙏

[2019-04-11 17:45] mrbobbytables commented on #3547
I would lean towards Tempelis. It would be a great first-use example for channel specific moderation.

[2019-04-11 19:13] davidewatson commented on #3454
I have followed the Slack conversations in #sig-docs-tools on this issue but it is not clear to me what remains to be done or how I can help move things along. For context, the Cluster API subproject of SIG Cluster Lifecycle has a GitBook which we are hoping to publish using Netlify.

[2019-04-11 20:03] dims opened #3575 "REQUEST: New Slack channel #k8s-code-organization"
**GitHub Username:**

dims

**Slack Username:**

dims

**What Type of Request is it (Channel, Bot, Token, or Webhook)?**
Channel

**Name of Requested Resource:**
#k8s-code-organization

**Description of Request:**
Need a place to discuss issues around the `code organization` subproject of sig-architecture. Please see https://github.com/kubernetes/community/tree/master/sig-architecture

[2019-04-11 20:04] dims commented on #3575
cc @liggitt

[2019-04-11 20:08] mrbobbytables commented on #3575
+1

[2019-04-11 20:09] thecrudge commented on #1632
#3574

And I have signed the CLA, I just didnt setup my email *smh*

[2019-04-11 20:11] dims commented on #3575
sorry about the confusion between the title and body, let us use `#k8s-code-organization`

[2019-04-11 20:12] jeefy commented on #3575
+1

[2019-04-11 20:18] mrbobbytables commented on #3575
created :)
/assign
/close

[2019-04-11 20:18] #3575 closed

[2019-04-11 20:18] timothysc commented on #1673
poke, can we close this now?

[2019-04-11 20:23] mrbobbytables commented on #3454
@davidewatson Right now waiting for review from github admins. It should be possible to get something up and going now with the old method if needed.

[2019-04-11 21:22] misterikkit commented on #2959
Copying some of @thockin's feedback here:

Now that I have a better understanding of txtdirect, I think it does a good job of addressing these points.

- simple to understand
- simple to have a canary
  - new versions of the redirector can be run before deploying to prod
  - dns changes can be evaluated on a different domain or subdomain (presumably we already have a dns canary process?)
- easy to

[2019-04-11 22:13] parispittman opened #3577 "REQUEST: New Slack channel: #youtube-zoom-admins"
**Slack Username:**
paris

**What Type of Request is it (Channel, Bot, Token, or Webhook)?**
channel

**Name of Requested Resource:**
youtube-zoom-admins

**Description of Request:**
a place for youtube and zoom admins to discuss day to day responsibilities

[2019-04-11 22:31] jeefy commented on #3577
Big +1

[2019-04-11 22:32] nikhita commented on #3577
/pony yes

[2019-04-11 22:39] nikhita commented on #3127
Going to close this in favor of discretion of the repo owners. Please reopen if needed.

/close

[2019-04-11 22:39] #3127 closed

[2019-04-11 23:28] cblecker commented on #3454
As I understand it, the problem is that there is a step that requires both privileged access to Netlify *and* GitHub, but then once complete, the rest of the configuration is in the repo? Is that accurate @mrbobbytables?

[2019-04-11 23:47] cblecker commented on #2959
Having a cursory look myself, I'm +1 on txtdirect. DNS as a database 👍

[2019-04-11 23:57] thecrudge commented on #1632
/resolved

[2019-04-11 23:59] thecrudge commented on #1632
/close

[2019-04-12 00:00] thecrudge commented on #1632
@castrojo @nikhita @parispittman @idealhack ^^^^^

[2019-04-12 00:16] thecrudge commented on #2833
As a brand spanking new contributor, Im not entirely sure this needs to be labeled “good first issue”, there is a lot of history here and is very hard to determine context, even after reading through the related PRs and Issues. I would be hesitant to comment aside from what I am putting here.

[2019-04-12 04:02] idealhack commented on #1632
@thecrudge thank you!

/close

[2019-04-12 04:02] #1632 closed

[2019-04-12 15:13] dims commented on #2892
@kwmonroe How's this going? it's been a few months now.

[2019-04-12 16:58] mrbobbytables commented on #3454
@cblecker correct. It really boils down to this (as a member with privileges to both):
- Enable Netlify app for GitHub repo.
- Initial Netlify configuration:
  - Give it a friendly project/site name in netlify (e.g. `kubernetes-sigs-contributor-site`).
  - Add a custom domain (CNAME) that should match what is being requested in k/k8s.io (ref [kind
](https://github.com/kubernetes/k8s.io/blob/master

[2019-04-12 19:17] castrojo commented on #2833
/assign @justaugustus
/remove-good-first-issue

This section should just be revised to line up with SIG PM's new charter and the KEP process, so just assigning it to Stephen since he's sitting in the venn diagram of keps, PM, and contribex.

[2019-04-12 20:31] Katharine commented on #3155
We now have automation driving this, controlled by configuration in [communication/slack-config](https://github.com/kubernetes/community/tree/master/communication/slack-config). This configuration is now the only valid way to manage channels or usergroups. The automation also opens the door to enabling groups outside the slack admins to manage a subset of slack resources without admin involvement

[2019-04-12 20:39] castrojo commented on #3577
I'm ok with just doing this in the contribex channel.

[2019-04-12 20:46] parispittman commented on #3577
can i request a user group then so i can call all of the youtube admins and zoom admins at once instead of tagging everyone individually? @castrojo

[2019-04-12 21:35] parispittman commented on #3129
+1 to dawn's data - that came through in other questions on the contributor experience survey as well as past contributor summit surveys.

some other bits worth noting and respective questions:

- 25% of respondents are new to oss - maybe we should list resources for these folks?
- time zone ID reflects usage in devstats - how can we highlight the groups that have meetings that are APAC and EU fri

[2019-04-12 22:11] kingdonb opened #3582 "REQUEST: Rename slack channels deis-users|deis-dev"
Hello! I am @teamhephy-admin and we're the new maintainers of Deis Workflow, I was wondering if we can rename #deis-users and #deis-dev to reflect that "ownership" or maintainership has changed?

The Deis channels are pretty quiet, we are recruiting volunteers on our own slack, but it would be good to have a continued presence on the Kubernetes slack.  There is no commercial endeavor behind this t

[2019-04-12 22:27] jeefy commented on #3577
We should be able to add a usergroup via a PR through [Tempelis](https://github.com/kubernetes/community/tree/master/communication/slack-config) now.

[2019-04-12 22:31] mrbobbytables commented on #3582
I think this is fine -- I would opt for `hephy-*` as workflow is quite generic and used in quite a few things.

/sig contributor-experience
/area community-management

[2019-04-12 22:35] kingdonb commented on #3582
I agree! Workflow is quite generic as a mark.

[2019-04-12 22:43] Katharine commented on #3582
+1 for #hephy-* from me - https://github.com/deis/workflow/blob/master/README.md appears to confirm this as the successor.

[2019-04-12 22:54] #3582 closed

[2019-04-12 23:47] thockin commented on #2959
My grumble with txtdirect is taking a dep on a free service.

On Thu, Apr 11, 2019 at 4:47 PM Christoph Blecker <notifications@github.com>
wrote:

[2019-04-13 00:04] cblecker commented on #2959
As I mentioned on the PR, it's an OSS project that we can host ourselves.

[2019-04-13 00:14] stp-ip commented on #2959
As mentioned on the PR and a few additions to give more context:

OSS: github.com/txtdirect/txtdirect
OSS docs: github.com/txtdirect/website
OSS builds using the plain makefile: https://gcr.io/v2/txtdirect-223710/txtdirect/tags/list
Built on a caddy webserver: github.com/mholt/caddy

Incorporates prometheus metrics, does autoTLS and has k8s config files available on request including a sidecar DNS

[2019-04-13 01:24] jberkus commented on #3505
@debgiles per meeting yesterday, please make sure that the text of the summit registration includes a statement like:

"This event is co-located with KubeCon Shanghai 2019"

[2019-04-13 01:26] jberkus opened #3585 "Develop content for social media posts about CN Summit"
We need to give some suggested content for LFAsia and others to share on social media about the summit.

[2019-04-13 01:27] jberkus commented on #3585
/sig contributor-experience
/kind outreach
/area cn-summit
/assing @chenrui333

[2019-04-13 01:29] jberkus opened #3586 "Contact speakers for Shanghai and solicit their participation in the Contributor Summit"
Now that the list of talks is out, we can make sure that folks go to the Summit as well.

This needs to be a group effort, can we divide it up?

/sig contributor-experience
/area cn-summit
/priority important-soon

[2019-04-13 01:32] jberkus opened #3587 "Write Kubernetes Blog post advertising the Summit."
/sig contributor-experience
/area cn-summit
/assign jberkus

[2019-04-14 16:29] rimusz commented on #3573
helm-dev is for helm development, the chart-testing one is related to charts testing

[2019-04-14 21:55] cblecker commented on #3454
Yeah, I think this is something we could take on.. that said, we would need some clear docs around it.

Namely:
- What steps we need to take (doesn't need to be step by step, but each part of the process should be clear)
- Any naming conventions written down (like the friendly name)
- Any policy dos/donts
- Who to escalate to if we are unclear or have questions

[2019-04-14 22:08] mrbobbytables commented on #3454
Definitely can do that 👍

[2019-04-15 01:24] parispittman commented on #3577
@jeefy do you mind doing that for me?

[2019-04-15 01:30] jeefy commented on #3577
Absolutely! :)

/assign

[2019-04-15 01:46] mrbobbytables commented on #3577
Follow-up once done (no big rush), should update zoom/youtube docs that the groups are available to ping if you need immediate assistance.

[2019-04-15 03:27] parispittman commented on #3129
@geekygirldawn i updated the planning doc with the discovered info filed under the personas section. looks like we have a really great first start to what's important out of the gate.

[2019-04-15 08:42] SeananXu opened #3591 "There is a misspelling in document "community/contributors/guide/owners.md""
![image](https://user-images.githubusercontent.com/26948962/56118386-beac2380-5f9c-11e9-8d15-90dd8b948f53.png)

[2019-04-15 08:43] SeananXu commented on #3591
/kind bug

[2019-04-15 08:50] SeananXu commented on #3591
/sig contributor-experience
/area contributor-guide

[2019-04-15 11:37] mrbobbytables commented on #3573
I'm okay with +1'ing this. If it's okay, I think channel name should be `#helm-chart-testing` to fall in line with the other helm channels (makes it easy to discover when someone types in `helm` into channel search).

[2019-04-15 11:42] rimusz commented on #3573
#helm-chart-testing +1 for the channel name

[2019-04-15 12:29] mrbobbytables commented on #3591
Thanks for catching that @SeananXu

The doc with the misspelled word is here: https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md

There are 2 instances of `repowners` that should be replaced by `repoowners`.

/remove-kind bug
/kind documentation
/good-first-issue
/help wanted

[2019-04-15 12:40] parispittman commented on #3471
ref: #3476

/close

[2019-04-15 12:40] #3471 closed

[2019-04-15 13:12] parispittman commented on #2812
CSI code base tour happened on April 3rd

[2019-04-15 13:13] parispittman commented on #2857
@spiffxp friendly ping - is this ok to close?

[2019-04-15 14:43] parispittman commented on #3541
@philips - is this enough to warrant a call with google now? anything else needed? i talked to a gsuite customer rep at NEXT and told them the situation and they said that this is what they do and can help us. supposedly there are features for nonprofits, like a ton more users than standard, that we can take advantage of. just want to get someone on the phone.

[2019-04-15 15:51] thockin commented on #2959
Ooops.  Sorry.  The only link I clicked took me to a hosted service.

On Fri, Apr 12, 2019 at 5:14 PM Michael Grosser <notifications@github.com>
wrote:

[2019-04-15 16:10] #3573 closed

[2019-04-15 17:28] scottrigby commented on #3573
🎉

[2019-04-15 17:35] rimusz commented on #3573
👍

[2019-04-15 18:30] #3591 closed

[2019-04-15 18:40] #3577 closed

[2019-04-15 19:50] philips commented on #3541
What is this? Can you expand this?

I think all of these requests are reasonable and the scope seems tight enough to have a good conversation. Any other input @michelleN ?

[2019-04-15 20:00] philips commented on #3541
@parispittman  I have the ability to make support requests via the Gsuite admin console. Could you draft the email you want me to send to them?

[2019-04-16 00:33] mrbobbytables commented on #3388
Following up the discussion in slack. There is a slight issue at large window sizes where the text in boxes for discuss, twitter, github and stackoverflow will go outside the box or be misaligned (the stackoverflow text). I wouldn't call it a show-stopper, but something that should be looked into eventually.
![Screen Shot 2019-04-15 at 9 24 06 AM](https://user-images.githubusercontent.com/6500863/

[2019-04-16 06:17] stp-ip commented on #2959
What's the current canary process?

Happy to work with @misterikkit to get the self-hosted part setup.

So plan of action?:
* [ ] merge specific tmp subdomain go2.k8s.io to test out general/canary process using txtd.io
* [ ] get TXTDirect setup in our k8s cluster
* [ ] move tmp subdomain to self-hosted version
* [ ] test all the things \o/
* [ ] switch go.k8s.io

[2019-04-16 06:31] #2892 closed

[2019-04-16 11:23] dims commented on #3144
/close

yes thanks @castrojo

[2019-04-16 11:23] #3144 closed

[2019-04-16 14:14] castrojo commented on #3155
I'm in favor of keeping an open/loose policy while we figure out the best way it will work in practice.

[2019-04-16 15:17] mrbobbytables commented on #3388
PR for the page is here:
https://github.com/kubernetes/website/pull/13046

[2019-04-16 15:43] thockin commented on #2959
DNS Canary process is to push changes to zones "canary.k8s.io" and "
canary.kubernetes.io" and then verify that all the records we expect to
find are present.

If we add a "go.k8s.io" delegation and zone files, we'll want a similar
process.  Even if we don't do a delegation, really.

We'll also want to make sure the test covers these TXT records.

On Mon, Apr 15, 2019 at 11:17 PM Michael Grosser <

[2019-04-16 16:06] alejandrox1 opened #3599 "Apply style guide to non-code contributing guide"
Make sure that the [non-code contributors guide](https://github.com/kubernetes/community/blob/master/contributors/guide/non-code-contributions.md) conforms to the [style guide](https://github.com/kubernetes/community/blob/master/contributors/guide/style-guide.md).

/good-first-issue
/help

[2019-04-16 16:07] alejandrox1 commented on #3599
/sig contributor-experience

[2019-04-16 17:27] nikhita commented on #2619
@spiffxp @timothysc can this be closed?

[2019-04-16 18:14] nikhita commented on #3547
Is this possible through Tempelis right now?

[2019-04-16 18:16] nikhita commented on #3544
/sig contributor-experience
/committee steering

I guess this would fall under https://github.com/kubernetes/steering/issues/99?

cc @dims

[2019-04-16 18:17] mrbobbytables commented on #3547
Not quite yet.

[2019-04-16 20:27] zacharysarah opened #3603 "REQUEST: New Slack channels kubernetes-docs-id kubernetes-docs-pt"
## New Slack channels

This request is for two new Slack channels for K8s docs localization.

## Details

Description | Slack channel | K8s Slack owner ID | GitHub owner ID
---|---|---|---
Indonesian K8s docs localization | `kubernetes-docs-id` | `onigiri` | @girikuncoro
Portuguese K8s docs localization | `kubernetes-docs-pt` | `felipe` | @femrtnz

![thankyou](https://user-images.githubusercontent

[2019-04-16 20:47] #3603 closed

[2019-04-16 21:18] spiffxp commented on #2857
/close
- #3601 removes the dupe files or tombstones I see in kubernetes/community
- I've verified nothing links to /sig-governance.md within kubernetes/*

[2019-04-16 21:18] #2857 closed

[2019-04-17 16:51] spiffxp commented on #2619
/close
https://github.com/kubernetes/community/pull/3483 addressed this by adding a `Contacts` field to the Subproject struct, which allows for subprojects to have a slack channel, mailing list, and github teams (with examples of all three)

[2019-04-17 16:51] #2619 closed

[2019-04-17 19:06] mrbobbytables commented on #3556
/area contributor-summit
/area eu-summit

[2019-04-17 19:07] mrbobbytables commented on #3349
/area eu-summit

[2019-04-17 19:11] mrbobbytables commented on #3556
I derped on this one. Its for **KubeCon EU** NOT the EU contributor summit. My bad.

/remove-area contributor-summit
/remove-area eu-summit
/area mentorship-planning

[2019-04-17 20:50] rlinstorres opened #3611 "Autoscaler Daemonsets List error Forbiden"
Hi, all!

My provider is AWS and I installed autoscaler version v1.14.0 with helm and the service with error:

`E0417 20:31:09.515269       1 reflector.go:126] k8s.io/autoscaler/cluster-autoscaler/utils/kubernetes/listers.go:319: Failed to list *v1.DaemonSet: daemonsets.apps is forbidden: User "system:serviceaccount:kube-system:aws-cluster-autoscaler" cannot list daemonsets.apps at the cluster sco

[2019-04-17 21:07] mrbobbytables commented on #3611
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2019-04-17 21:07] #3611 closed

[2019-04-17 23:09] cblecker commented on #2959
The other thing we'll need is the manifests to install on our cluster.

Similar to the nginx redirector (https://github.com/kubernetes/k8s.io/tree/master/k8s.io), we'll need a deployment, service, ingress, certificate, and optionally a config map if there is any config that needs to be passed. We should have a canary and prod one, just like the current nginx redirector.

[2019-04-18 03:26] chaitanyaenr commented on #2856
@shyamjvs @wojtek-t thanks for looking into this, we will test the limit on kubernetes when we get a chance and let you guys know. Sorry for the delayed response.

[2019-04-18 07:48] stp-ip commented on #2959
This PR is planned for next weekish.
Still trying to understand the canary.sh and if that is necessary.
Subdirectory suggested would be /redirect.k8s.io, which also serves as the DNS for the service. That way we can CNAME this on go.k8s.io first and other redirect later, if necessary. Don't wanna move things multiple times.

I'll get these PRs ready.

[2019-04-18 11:56] stp-ip commented on #2959
* /redirect.k8s.io doesn't work as it's taken.
Suggestion redirector.k8s.io instead.

[2019-04-18 14:28] mrbobbytables commented on #3454
Some thoughts -- I think the best path would be to have it be a github issue template residing in [kubernetes/k8s.io](https://github.com/kubernetes/k8s.io) and would essentially be a simpler version of the current DNS request form. The GitHub admin team would have 1 more additional responsibility in addition to creating the netlify site and that would be cutting a PR to add the DNS record. The alt

[2019-04-18 16:34] fejta commented on #2441
/remove-lifecycle rotten

[2019-04-19 00:36] cblecker commented on #3454
Process wise, I'd like the doc for this to live in git.k8s.io/community/github-management, and the issues to be opened against k/org instead of k/k8s.io.

Right now the DNS doesn't auto update from git.. one of the DNS admins needs to run the container that does it. Eventually we will get there, but DNS admins are a different group of people than the GitHub admins (I'm the one overlapping member,

[2019-04-19 00:47] mrbobbytables commented on #3454
@cblecker kk, that is pretty much what I originally had. :) Thought it might be possible to streamline and save a step. XD

Will get a PR out the door tomorrow.

[2019-04-19 02:15] spiffxp commented on #1673
Here's what's missing: a very tight machine readable definition of subproject owners.  The [sig-governance definition of the role](https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md#subproject-owner) is pretty crisp, except that it says they're defined in sigs.yaml.

Today in sigs.yaml, subprojects are defined by a list of OWNERS files, and those OW

[2019-04-19 06:25] cblecker commented on #3541
related: https://github.com/kubernetes/k8s.io/issues/228

[2019-04-19 22:13] mrbobbytables commented on #3032
closed by #3213
/close
\o/

[2019-04-19 22:13] #3032 closed

[2019-04-19 22:58] mrbobbytables commented on #3340
ref #3619

[2019-04-19 23:43] BenTheElder opened #3621 "reconsider posting CI comments on every test failure"
Currently Kubernetes PRs get a _lot_ of comments from @k8s-ci-robot, many of which are to notify of failing tests. This tends to drown out actual human interactions.

I know this came up at some point in the past, but I'm having difficulty finding why we do this and I'd like to revisit it.

Right now prow deletes it's job-results comment every time results change, and posts a new comment if there

[2019-04-19 23:43] BenTheElder commented on #3621
/sig contributor-experience
/sig testing

Example:

![image](https://user-images.githubusercontent.com/917931/56447638-65a2ff00-62be-11e9-93f1-11a5aa7abb06.png)

[2019-04-20 00:02] #3102 closed

[2019-04-20 00:25] dims commented on #3621
yes please +1 to test drive this in test-infra.

[2019-04-20 00:34] guineveresaenger commented on #3621
+1 if only to get folks off my back that it's the _welcome_ message that's at fault 😝

[2019-04-20 00:40] cblecker commented on #3621
A few thoughts:
- This will impact folks who have a primarily e-mail driven workflow. It may impact notification driven workflows too, as I'm not sure if a context update triggers the notification bell, even if not an e-mail.
- The example is a bit misleading, as you'll only get a screen like that if you don't refresh the GitHub window. The previous comments would get deleted/edited so that there

[2019-04-20 00:49] BenTheElder commented on #3621
Those workflows are likely broken to being with, as we do not post a comment when tests pass. You can only know that they failed at some point.

You get a notification for each of these comments because the comments are deleted and a new one posted, which was the intention of the example. Refreshing and seeing less comments _visibly_ is correct though, but you were still notified for each of these

[2019-04-21 02:38] vllry commented on #3621
Personally I get some use from the notifications - IMHO it would be nice to get a single comment, such as "1 test failed and more an ongoing" without comment followup, or "here's the complete status report". But I'd rather axe them all than keep getting hammered by prow as-is. :|

[2019-04-21 05:15] cblecker commented on #3621
We post the specific tests, and the specific retest comments (e.g. `/test pull-kubernetes-verify`). This make a copy paste really easy and clear.

It's still a valid criticism of doing away with the comment table. The desktop view isn't great on mobile. As I said previously, it's an edge case.. but it's still a valid one.

[2019-04-21 10:28] nikhita opened #3623 "Setup biweekly meeting for licensing subproject"
Licensing is a subproject under SIG Release: https://github.com/kubernetes/sig-release/tree/master/licensing

To keep the ball rolling on this, it would be helpful to setup a public biweekly meeting for it. This issue is for tracking setting up the meeting - creating a doodle, finalizing on a time, adding it to sigs.yaml and notifying the sig-release mailing list.

/sig release
/area licensing
/cc

[2019-04-22 05:20] parispittman commented on #3076
The one role I'd like to see get some attention before we close this issue is the APAC coordinator/council. We are making movements and have merged many of these and this issue can be closed soon.

[2019-04-22 17:55] parispittman commented on #2536
API Machinery needs a new zoom login entirely. adding this to document.

[2019-04-22 18:01] parispittman commented on #3388
we are rounding the corner here. need formatting changes that are located in the PR bob pointed to.

we also need to figure out a process/access to the community calendar for people to add events.

[2019-04-22 18:32] liggitt commented on #3211
[PSP RuntimeClass review](https://docs.google.com/document/d/1iewP5AAzgNLfuT776apDnpPQGVziEc5cD457piYc36s/edit#heading=h.lc03g1lvldxg)

[2019-04-22 18:47] ameukam commented on #3348
I don't know if this is relevant but we now have [User Groups](https://github.com/kubernetes/community/commit/44c77b522097fd069a6669fa08b81ec9ebf5e836) and [User Group gouvernance](https://github.com/kubernetes/community/pull/3620/) is still in review.

[2019-04-23 04:55] cblecker commented on #3502
/reopen

Hey Ihor,
Can we get the right process into our docs somewhere? Is https://jira.linuxfoundation.org/servicedesk/customer/portal/4/create/88 the link to create the right time of ticket?

We also need to update the bot prompt with either direct information, or an updated link to the doc on how to get support:
https://github.com/kubernetes/test-infra/blob/master/prow/plugins/cla/cla.go#L36-L

[2019-04-23 05:18] cblecker commented on #3388
/remove-help
The scope of work here isn't clear for a newcomer.

[2019-04-23 15:29] idvoretskyi commented on #3502
@cblecker

Yes, but I prefer us using the https://support.linuxfoundation.org/ - the internal JIRA URL may accidentally change.

[2019-04-23 16:46] parispittman opened #3638 "[k8s blog] profile on past ncw attendees"
Interview and profile two past new contributor workshop attendees for kubernetes blog

@vllry and @soggiest

things to include outside of the interviews:
- how to sign up for the barcelona and shanghai new contributor workshops
- a quote from @guineveresaenger about the new 201 workshop
- if they have any personal pics to share from the event

@vonguard will be assigned this issue once org members

[2019-04-23 16:53] guineveresaenger commented on #3638
@vonguard I'm `gsaenger`on Slack

[2019-04-23 20:41] guineveresaenger commented on #3346
UPDATE:

So, after a long and exhausting adventure with DinD and alpine, I have decided that it will serve new contributors better if we actually work through (some of) the build scripts together, as they already provide controlled build and test environments.

This does mean that everyone will have to use MacOS or Linux (I'm okay with this because that is unfortunately close to the current state

[2019-04-23 20:53] guineveresaenger commented on #3349
Here's a pretty easy accessible k/k issue that will provide at least some folks with something to work on immediately:
https://github.com/kubernetes/kubernetes/issues/68026
/cc @tpepper

[2019-04-24 09:00] nikhita opened #3642 "Add info about keywords in commit messages in contributor guide"
The [invalidcommitmsg](https://groups.google.com/d/topic/kubernetes-dev/MOnwc8_76wo/discussion) prow plugin will disallow at mentions (like @nikhita) and [keywords which close issues](https://help.github.com/en/articles/closing-issues-using-keywords) (like fixes #xxxx) in commit messages.

We should add this info to the contributor guide so that contributors know not to add these keywords in the f

[2019-04-24 16:10] nikhita commented on #3305
I've updated https://github.com/cncf/devstats/pull/167. But I've used the same hacky script (just update sorting + removed staging repos), so I haven't added the script yet :see_no_evil:

[2019-04-24 19:57] parispittman commented on #3541
@philips sorry ive been out; super sick.

how's something like this?

We wanted to talk to someone about our current organizational structure and how we can best use gsuite to accomplish our goals. We’ve run into some roadblocks with our current gsuite configuration. One example, is the current issues surrounding accounts that should be shared by a group to give them one voice (e.g. contributor@ku

[2019-04-24 20:18] spiffxp commented on #1673
Analysis of common owners https://gist.github.com/spiffxp/629ab537c2e1d59072aa3154c91459c0

[2019-04-24 22:09] tpepper commented on #3348
We should add two or so slides around architecture of a cluster and how that relates to code in k/k (and other repos), eg:

# top level picture of control plane + worker nodes, names of binaries that run on each, lines showing how they talk to each other
# map those binary names and communication flows to associated sources

[2019-04-24 22:56] philips commented on #3541
![image](https://user-images.githubusercontent.com/33544/56699237-8fd33300-66a9-11e9-983b-9fe9cfbc4cfc.png)

@parispittman sent.

[2019-04-25 00:47] guineveresaenger commented on #3348
Hi friends, I have started re-vamping the slides for Barcelona, focusing on the morning session combined content:
- copied Seattle slides and put them in a new deck here:
- updated content where applicable
- added TODOs where necessary
- the intent is to use these slides more as a textbook so it is easy for participants to follow links on their own computers

Specific action items from others:
- w

[2019-04-25 02:49] nikhita commented on #2176
Just needs one more PR for wg-security-audit and then this can be closed. :+1:

[2019-04-25 12:44] ameukam commented on #3348
Can we add  in the slides :
- a mention of the Code of Conduct Committee
- two or three slides about the Non-code contributions roles ?

[2019-04-25 14:29] dims opened #3645 "Setup a kubernetes community youtube playlist for sig-architecture code organization sub project"
Can you please create a playlist for code-organization subproject?

Please give @dims @andrewsykim and @mattfarina access to upload to this play list.

thanks,
Dims

[2019-04-25 14:35] chenrui333 commented on #3585
/assign

[2019-04-25 14:44] mrbobbytables commented on #3645
/sig contributor-experience
/area community-management

[2019-04-25 17:31] castrojo opened #3646 "Cheatsheet should have links to security policies and procedures"
/assign

[2019-04-25 17:43] castrojo commented on #3646
Filed in the middle of a meeting so just adding some detail, we should make sure the cheatsheet is pointing to the proper security procedures for the project, what to do, who to escalate to, that sort of thing.

[2019-04-25 18:26] cblecker commented on #3646
You mean the the security vulnerability/product security team procedure?

[2019-04-25 18:57] castrojo commented on #3646
Yep, all the information is here: https://kubernetes.io/docs/reference/issues-security/security/

[2019-04-25 19:07] cblecker commented on #3646
yup.. adding a link to it sounds great 👍

[2019-04-25 21:14] #2043 closed

[2019-04-26 13:01] mrbobbytables commented on #3502
@cblecker @idvoretskyi
Are there any other places that you know of that should be updated? I **think** this can be closed  now that https://github.com/kubernetes/test-infra/pull/12343 has been merged.

[2019-04-26 13:39] castrojo commented on #3646
https://github.com/kubernetes/community/pull/3651

[2019-04-26 13:58] #3646 closed

[2019-04-26 14:47] mrbobbytables commented on #3645
Playlist created and collaborator link shared.

Thanks!

/assign
/close

[2019-04-26 14:47] #3645 closed

[2019-04-26 17:02] dims commented on #2651
/unassign

[2019-04-26 20:47] parispittman commented on #2536
good news - personal meeting IDs can at least put folks on hold at this point. so if chairs are still using personal meeting IDs, the only annoying thing that will happen is they can't start the meeting without the host, which is their choice and not a safety problem.

im closing this issue as we are good now with moderation features and compliance.

[2019-04-26 20:47] parispittman commented on #2536
/close

[2019-04-26 20:47] #2536 closed

[2019-04-26 20:52] parispittman commented on #3388
I'm closing this issue as we are now live and have some smaller issues set related in the website repo. kubernetes.io/community

I'll also set an issue regarding the process for adding events to the community calendar.

/close

[2019-04-26 20:53] parispittman commented on #3388
/close

[2019-04-26 21:00] #3388 closed

[2019-04-27 01:05] cblecker commented on #3502
I can't see any others, but if I do we can reopen. Thanks both of you!
/close

[2019-04-27 01:05] #3502 closed

[2019-04-27 21:59] Sai-Adarsh commented on #3599
Still open for contributions?

[2019-04-27 22:20] Sai-Adarsh opened #3652 "Redundant scroll bar in header nav under Documentation tab"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
* Navigate from the home page of the website to Documentation which will land you over here.

![ww](https://user-images.githubusercontent.com/21096774/56855632-fe451900-6967-11e9-8aab-0c22c82ebb1a.jpg)

* It is seen that the scrollbar for the navigation tabs seems to be needless. Refer the below screenshot.

**Proposed Solution

[2019-04-27 22:21] Sai-Adarsh commented on #3652
/good-first-issue

[2019-04-27 22:32] cblecker commented on #3652
/remove-help
/sig docs

I'm going to have sig docs triage this one first before we apply help wanted labels.

[2019-04-29 14:11] jeefy commented on #2657
/remove-lifecycle stale

[2019-04-29 15:12] parispittman opened #3654 "[k8s blog] series: SIG profiles/storytelling"
put a story/human touch to our special interest groups. do interviews and tell stories around:

- their formation
- key challenges
- successes
- what they look for in new / retaining contributors
- funny / cool / TIL antidotes
- shoutout individuals / profile the folks doing the work

List of community groups for reporting:
- [x] scalability (@vonguard ref: [19628](https://github.com/kubernetes/we

[2019-04-29 15:59] guineveresaenger commented on #3346
FURTHER UPDATE:

0. Contributor playground demonstration of bot commands and label gathering
1. Codebase walkthrough
2. Use the [quick start instructions](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#quick-start) to build some binaries (anticipating some local complications)
2a. Attempt using the [build scripts](https://github.com/kubernetes/kubernetes/tree

[2019-04-29 19:28] guineveresaenger commented on #1537
/remove-lifecycle stale

@mariantalla is this still something you're working on?

[2019-04-30 04:48] lumjjb commented on #2970
@smarterclayton we have a demo that we'd like to show for this KEP if you think it'd be a good idea for us to share this at one of the sig weekly sync-ups?

[2019-04-30 06:10] dElogics commented on #2720
LTS is a necessity because with major updates comes regressions that you'll come to know about after months or weeks (into a point after which you cant rollback).

So for a stable successful project, you need LTS. LTS is know to be a success across distros for reason of stability.

[2019-04-30 14:37] wojtek-t opened #3659 "Revise sig-scalability thresholds doc and link it from slos page"
The threshold doc should be revised (also to match the terminology we use in slos doc, e.g. namespace/cluster scope) and linked from slos page.

/assign wojtek-t

[2019-04-30 14:38] wojtek-t commented on #3659
/sig scalability

[2019-05-01 16:08] parispittman opened #3661 "ContribEx Intro and Deep Dive @ Barcelona"
- [ ] Create Intro Deck (what should we highlight?)

- [ ] Make final decision on live SIG meeting concept for the deep dive

- [ ] change weekly meeting invite from weds to thurs for deep dive time

this is for kubecon/cloudnative con during the week and not the summit.
[https://docs.google.com/presentation/d/1mlIdjFYC0ZXhKvDAyCCvVnBwWMddupu3RHVdyE1UuKQ/edit?usp=sharing](url)

[2019-05-01 16:50] parispittman commented on #3076
/close

will open a specific issue for APAC coordinator

[2019-05-01 16:50] #3076 closed

[2019-05-01 17:18] tpepper opened #3662 "leadership trainings"
In other large projects with technical oversight or steering committees, I've observed that the associated foundation has funded various types of baseline and ongoing training when major boards are established or as membership turns over. Education around topics such as unconscious bias, decision making, conflict resolution, code of conduct violation/response trainings exist in industry to insure

[2019-05-01 17:18] tpepper commented on #3662
/cc @parispittman @castrojo

[2019-05-01 18:26] parispittman commented on #3662
thanks for filing, @tpepper! agreed and let's work on this.

updates:
the code of conduct committee received incident management interactive training from otter tech consulting funded by CNCF. we had a good experience and I inquired to get a quote for training moderators and communication platform operators. sending a note to steering and kicking off cncf servicedesk ticket process for funding req

[2019-05-02 07:45] #2593 closed

[2019-05-02 14:23] ameukam commented on #3346
Use the `OWNERS` file ? :thinking:

[2019-05-02 19:45] erikerlandson opened #3665 "REQUEST: New Slack channel #big-data-user-group (<-- rename #sig-big-data)"
**GitHub Username:**
@erikerlandson
@goltermann

**Slack Username:**
@goltermann

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Channel

**Name of Requested Resource:**
#big-data-user-group
(rename existing #sig-big-data)

**Description of Request:**
Requesting channel re-name from #sig-big-data  to #big-data-user-group

[2019-05-02 20:08] erikerlandson commented on #3665
see also: #3666

[2019-05-02 20:08] jonasrosland commented on #3451
Adding our wonderful workshop assistants to the issue for tracking:
@ameukam
@jeefy
@bartsmykla
@rosti
@smourapina
@kmova
@raelga

Thank you so much for volunteering!
/cc @guineveresaenger @tpepper

[2019-05-03 01:22] mrbobbytables commented on #3665
I'm still unsure of this change, and the renaming of the group altogether. Our convention has been `[sig|wg|x]-<group>` and putting user-group  on the end breaks from that convention completely.

Was there some consensus on changing the name?

[2019-05-03 02:11] nikhita commented on #3599
Closing as https://github.com/kubernetes/community/pull/3596 merged. Please reopen if needed.

/close

[2019-05-03 02:11] #3599 closed

[2019-05-03 02:18] nikhita commented on #3111
Looks like this is done.

Regarding this, kops is a subproject for SCL so I guess it makes sense to have it there. If not, please open a follow-up issue to move it from SCL to sig aws.

Closing. Please reopen if needed.
/close

[2019-05-03 02:18] #3111 closed

[2019-05-03 02:20] nikhita commented on #3071
@spiffxp @mariantalla @justaugustus Given that the project board is setup now, is there anything else to be done here?

I feel like this issue can be closed, and if deflaking needs to be a working group, we should move it to another issue. :eyes:

[2019-05-03 02:22] nikhita commented on #1297
Closing this in favour of https://github.com/kubernetes/community/issues/3211. Please reopen if needed.

/close

[2019-05-03 02:22] #1297 closed

[2019-05-03 02:24] nikhita commented on #2725
@justaugustus :wave: Just wanted to bump this again, and check what's remaining here and if this can be closed?

[2019-05-03 02:25] nikhita commented on #2727
@justaugustus Can this issue be closed? If not, could you add more details to the issue body? It's not immediately clear to me what this issue entails :thinking:

[2019-05-03 02:27] nikhita commented on #2856
Closing this issue. Please reopen and add next steps if this shouldn't have been closed :)

/close

[2019-05-03 02:27] #2856 closed

[2019-05-03 02:35] nikhita commented on #155
/area developer-guide

[2019-05-03 02:35] nikhita commented on #691
/area developer-guide

[2019-05-03 02:36] nikhita commented on #767
/area developer-guide

[2019-05-03 02:36] nikhita commented on #1007
/area developer-guide

[2019-05-03 02:36] nikhita commented on #859
/area developer-guide

[2019-05-03 02:37] nikhita commented on #357
/area developer-guide

[2019-05-03 02:38] nikhita commented on #814
/area developer-guide

[2019-05-03 02:40] nikhita commented on #300
/area developer-guide

[2019-05-03 02:46] nikhita commented on #914
@justaugustus is this still relevant given that we have the KEP status field today?

[2019-05-03 02:50] nikhita commented on #1644
/remove-lifecycle frozen
/remove-help

We have https://github.com/kubernetes/community/blob/master/contributors/devel/development.md today.

This isn't sufficiently actionable for help-wanted. :grimacing: @castrojo do you think we can close this issue? if not, could you add more details on what needs to be added?

[2019-05-03 02:51] nikhita commented on #2565
:wave: bump, what's still remaining here?

[2019-05-03 02:53] nikhita commented on #1726
/remove-lifecycle frozen

@mrbobbytables @castrojo I think this relates to the contributor website...is this still relevant today?

[2019-05-03 02:55] mrbobbytables commented on #1726
Nope! no longer relevant :) Thanks! 👍
/close

[2019-05-03 02:55] #1726 closed

[2019-05-03 02:55] nikhita commented on #1645
This is isn't sufficiently actionable to be help-wanted. Please add more details about what needs to be done, if the label should be added.

/remove-help

[2019-05-03 13:31] dims commented on #3541
fyi the k8s-infra working group will be using the google groups under kubernetes.io for granting permissions to community resources (switching over from using public google groups). please see https://github.com/kubernetes/k8s.io/issues/228 for details

[2019-05-03 14:40] erikerlandson commented on #3665
There was no particular consensus. Since this is the first user group, I chose names that I thought made sense. If the steering committee prefers some other name, that's fine with me. By far my highest priority is to get the changes finalized with the minimum friction for the community members.

[2019-05-03 14:41] nikhita commented on #3665
Wdyt about `ug-big-data`? That's how the directory, label etc are named today :)

[2019-05-03 15:06] erikerlandson commented on #3665
that would be OK with me

[2019-05-03 15:09] erikerlandson commented on #3665
if there is no objection, I'll re-submit the sigs.yaml google-group PR for "kubernetes-ug-big-data"

[2019-05-03 16:06] mrbobbytables commented on #3665
That sounds good to me 👍

[2019-05-03 17:35] #3665 closed

[2019-05-03 18:37] hamelsmu opened #3672 "Installing Issue-Label Bot"
Hello Maintainers, we (@inc0 and myself at GitHub) have been working closely with maintainers to build machine learning products that can help maintainers with GitHub apps.

We would like to propose installing the GitHub App [Issue Label Bot](https://github.com/marketplace/issue-label-bot).  This app is 100% open source and was developed with the community.  This app is already installed on other

[2019-05-04 12:47] nikhita opened #3673 "SIG diagram needs update"
The SIG diagram https://github.com/kubernetes/community/blob/master/SIG-diagram.png is out of date since some working groups like Container Identity don't exist anymore.

Additionally, it would also be helpful to include a way to edit this diagram...if it was created in google slides, maybe a link to the slides, etc.

/cc @bgrant0607 @luxas @cblecker

[2019-05-04 12:47] nikhita commented on #3673
/sig contributor-experience
/kind bug

[2019-05-04 12:56] nikhita commented on #3673
/assign @bgrant0607

[2019-05-06 15:39] justaugustus commented on #3623
@nikhita @dims @swinslow -- Doodle is up here: https://doodle.com/poll/ch62xafdbgqmyrtp

[2019-05-06 15:51] tpepper commented on #2720
We have [WG LTS](https://git.k8s.io/community/wg-lts) which is the focal point for this brainstorming.

/close

[2019-05-06 15:51] #2720 closed

[2019-05-06 16:47] codeekage opened #3678 "SIG-GCP Zoom Meeting and Meeting Docs"
Hello All -

The meeting docs here https://docs.google.com/document/d/1mtmwZ4oVSSWhbEw8Lfzvc7ig84qxUpdK6uHyJp8rSGU/edit#heading=h.m19juqx3y3zc have not been updated since 2018 and the zoom link seems broken.

Is there a new link for the zoom meetings and meeting notes?

[2019-05-06 16:48] nikhita commented on #3678
/sig gcp
/kind bug

[2019-05-06 16:49] nikhita commented on #3678
/assign @abgworrall

[2019-05-06 17:41] codeekage commented on #3678
Thank you @nikhita  for the adding labels 🙏

[2019-05-06 17:59] ameukam commented on #3661
/area contributor-summit
/area eu-summit

[2019-05-07 03:07] nikhita commented on #3621
Related https://github.com/kubernetes/test-infra/issues/12488#issuecomment-489797420

[2019-05-07 15:56] bgrant0607 commented on #2937
Fixed

[2019-05-07 15:56] #2937 closed

[2019-05-07 15:57] bgrant0607 commented on #1673
/remove-sig arch

[2019-05-07 15:58] bgrant0607 commented on #1673
/remove-sig apps

[2019-05-07 21:04] liggitt commented on #3211
[volume expansion secret review](https://docs.google.com/document/d/1Jp_8RAagO2wkRyU5dRHxdmRRibHIxGCQC8lPFKDLruk/edit)

[2019-05-08 00:21] liggitt commented on #3211
[windows GMSA review](https://docs.google.com/document/d/17n3-YxVpvpm46o8cCSGYBUszPyLOcxFAmjArJncZvgk/edit#)

[2019-05-08 14:25] castrojo opened #3692 "REQUEST: New Slack field: calendar/meeting scheduling"
**Name of Requested Resource:**

I'd like to add a new field to the Kubernetes slack profiles.  It'd be nice to have calendar information in our profile so people know how to schedule a meeting with you. This seems like an easy field that would make cross-org scheduling easier.

**Description of Request:**

Name: "Schedule a Meeting"
Description: http://calendly.com/username

As an example I would

[2019-05-08 15:20] nikhita commented on #2812
@parispittman looks like we have got sufficient traction on code base tours now :rocket:

Should this issue still be kept open?

[2019-05-08 15:22] nikhita commented on #2663
Since this is an umbrella issue, maybe this should be removed from the milestone...?

[2019-05-08 15:35] parispittman commented on #2812
@nikhita I wanted to keep open to collect other suggestions for code base tours but can be convinced to close. i can do a discuss thread or something - open to other suggestions, too.

[2019-05-08 15:37] nikhita commented on #2812
why_not_both.gif :wink:

I guess we can keep it open so there is a place where people can chime in. We can revisit this later as well.

[2019-05-08 15:42] mrbobbytables commented on #2812
If it's going to remain open as a more long term item, it might be worth pulling out of May milestone and turn this into more of an umbrella issue.

[2019-05-08 16:02] nikhita commented on #3480
/area mentorship-planning

[2019-05-08 16:05] nikhita commented on #3455
I think this still needs discussion + communicating with lazy consensus after any changes have been made. We definitely won't get this in for the current milestone with KubeCon around the corner.

/milestone Next

[2019-05-08 16:06] nikhita commented on #3456
This is an umbrella issue, so moving out of the current milestone.

/milestone Next

[2019-05-08 16:07] nikhita commented on #2324
/milestone Next

[2019-05-08 16:08] nikhita commented on #2323
/milestone Next

[2019-05-08 16:13] nikhita commented on #3661
/lifecycle active

[2019-05-08 16:38] nikhita commented on #2176
/good-first-issue

@zjs if you want to take up wg-security-audit, feel free to remove the good first issue and help wanted label :)

[2019-05-08 16:50] parispittman commented on #3340
/close

first iteration is complete

[2019-05-08 16:50] #3340 closed

[2019-05-08 16:51] tpepper commented on #2802
/cc @tpepper

[2019-05-08 16:53] spiffxp commented on #3672
/assign

[2019-05-08 16:59] parispittman commented on #2667
/close

we are recreating the community audit for q3&4, a new issue about youtube will be created

[2019-05-08 16:59] #2667 closed

[2019-05-08 17:00] spiffxp commented on #3305
To close this out, I would recommend:
- get latest run of the script over to devstats and signed off there, await generation of data
- get the hacky script checked in (or at least linked so it's recoverable and usable for the next person if we don't automate this away)
- add support for generating this file to the existing generator code

[2019-05-08 17:00] idvoretskyi commented on #3452
It's done - https://sched.co/Mpqq

/close

[2019-05-08 17:00] #3452 closed

[2019-05-08 17:00] idvoretskyi commented on #3451
@jonasrosland can this be closed?

[2019-05-08 17:02] idvoretskyi commented on #3346
@guineveresaenger can this be closed (the bulletpoints in the OP are checked)?

[2019-05-08 17:03] geekygirldawn commented on #3358
/close

The reminder is going out with the SIG lead email. Note that the SIG F2F rooms will actually have projectors / beamers!

[2019-05-08 17:03] #3358 closed

[2019-05-08 17:41] guineveresaenger commented on #3516
/milestone May

[2019-05-08 18:13] parispittman opened #3693 "Wanted: APAC Coordinator for ContribEx"
Looking for someone who can help prop up our efforts in the APAC region for Contributor Experience. This will include:

- [ ] speaking at meetups and local events about the work that happens in contributor experience
- [ ] writing blog posts about the same in multiple languages (coordinating translation when necessary)
- [ ] helping us with regional boards on discuss.kubernetes.io
- [ ] helping us

[2019-05-09 14:28] castrojo opened #3696 "Guide needs to mention setting github status"
prow's going to be taking people's github status into account when auto-assigning reviews, we need to document this in the guide so people understand that we use their status to weigh results.

/area contributor-guide
/assign castrojo
/sig contributor-experience

[2019-05-09 16:00] idealhack commented on #3693
Thank you for opening this specifically, Paris. I'm willing to help with some of the efforts.

[2019-05-09 21:46] guineveresaenger commented on #3451
@jonasrosland can you add full names to the "Workshop Facilitators" slide?

Then we can close it (unless other staffing needs must be addressed here)

[2019-05-10 04:20] guineveresaenger commented on #3349
SIGs are being asked to bring some good first issues to the SIG Meet-and-Greet to match with new contributors.

[2019-05-10 13:41] nikhita commented on #3693
We should also add this to the Role board on discuss.kubernetes.io (I can help with it next week)

[2019-05-10 15:20] stevekuznetsov commented on #3456
@fejta @spiffxp there seems to be enough work here on the Prow side to have this fulfill an Epic for us.

[2019-05-10 19:55] dims opened #3700 "Resurrect `findowner` to help update OWNERS files"
Originally when we created OWNERS files, we used https://github.com/coreos/findowner to seed the reviewers and approvers etc.

Can we please pick that up again and run it periodically?

[2019-05-10 19:55] dims commented on #3700
cc @nikhita

[2019-05-10 19:56] dims commented on #2873
related to https://github.com/kubernetes/community/issues/3700

[2019-05-10 19:56] dims commented on #1808
related to https://github.com/kubernetes/community/issues/3700

[2019-05-11 04:30] nikhita commented on #3700
/sig contributor-experience
/kind feature

[2019-05-12 07:05] nikhita commented on #3696
Ref: https://groups.google.com/d/topic/kubernetes-dev/bXHK8l3D6l0/discussion

[2019-05-12 07:12] nikhita commented on #3700
I'm still looking at the tool...out of curiosity, what did you have in mind about how we should use it? From a very first glance, it looks to me as a tool that approvers should be running for the "path" they are interested in updating reviewers for (the tool has a default depth of 3 from the given path).

[2019-05-12 07:14] nikhita commented on #3696
/kind documentation

[2019-05-12 07:23] nikhita commented on #3277
cc @kubernetes/steering-committee

[2019-05-12 07:24] nikhita commented on #3179
One example of this for OWNERS files: https://github.com/kubernetes/kubernetes/issues/76269

[2019-05-12 07:31] nikhita commented on #2970
Going to close this since KEPs are being tracked in the enhancements repo. Feel free to reopen if needed.

/close

[2019-05-12 07:31] #2970 closed

[2019-05-12 07:40] nikhita commented on #2072
cc @kubernetes/steering-committee

[2019-05-12 07:49] nikhita commented on #1997
What's remaining here? Paris solved most of this in https://github.com/kubernetes/community/pull/3287 :rocket:

We have both https://github.com/kubernetes/community/blob/master/governance.md and {sig,wg,ug}-governance in https://github.com/kubernetes/community/tree/master/committee-steering/governance today but I see the former as describing what each community group means and I'm not sure if they

[2019-05-12 07:52] nikhita commented on #1999
/remove-lifecycle stale

[2019-05-12 12:50] Rajakavitha1 commented on #3693
@parispittman I am willing to help with some of the efforts!!!!

[2019-05-12 19:29] avidLearnerInProgress opened #3704 "Localise contributor cheatsheet to Hindi"
[Markdown to localise](https://github.com/kubernetes/community/blob/master/contributors/guide/contributor-cheatsheet/README.md)

[2019-05-12 19:31] #3704 closed

[2019-05-12 19:32] avidLearnerInProgress commented on #3704
Already opened one earlier..

[2019-05-13 04:04] aravindputrevu commented on #3693
@parispittman Heya! I'm interested in doing some of these.. esp #1, #2 & #5.

[2019-05-13 08:26] Pensu commented on #3693
@parispittman Hey! Would love to help with some of the issues, whichever applicable!

[2019-05-13 12:29] dims commented on #3700
@nikhita essentially i'd like contribex to drive the updates of at least reviewers (add new folks, delete inactive folks) on a periodic basis. We could update the tool however we see fit, i don't have any specific preferences there. The problem i am trying to address is that it's hard for folks to propose themselves via PRs so they hesitate which is not good for the health of the project. Same pro

[2019-05-13 12:36] nikhita commented on #3700
This is so true, thanks for talking about this!

This looks like a great idea, and I'm going to try playing around with tool at least with the community repo.

Do you mean updating reviewers even for k/k?

cc @parispittman @cblecker @Phillels

[2019-05-13 12:44] dims commented on #3700
yes, even for k/k.

[2019-05-13 13:26] parispittman commented on #3693
@idealhack do you want to lead this and then build a team with the rest of the folks?

[2019-05-13 16:48] castrojo commented on #3227
/close

This is all set as the mail to the list is an optional item, also doublechecked with Ant that the lists are closed.

[2019-05-13 16:48] #3227 closed

[2019-05-13 16:50] castrojo commented on #3188
/close

There are a few WGs doing the transition to user groups, but that's out of scope for this issue.

[2019-05-13 16:50] #3188 closed

[2019-05-13 18:16] guineveresaenger commented on #3638
/assign

[2019-05-13 18:25] guineveresaenger commented on #3638
Google doc: https://docs.google.com/document/d/1aA3Nc3hzNgu-tYLTms5cjRPa_HGY_teoliWRd3zy7_4/edit?usp=sharing

[2019-05-13 18:28] mrbobbytables commented on #3454
Last steps following the merge of #3618 are adding the github admin team to netlify and creating the issue template in k/org.

I can create an issue template later today.

 @zacharysarah would you be able to add [the github admin team](https://git.k8s.io/community/github-management#github-administration-team) to the netlify org?

[2019-05-13 20:24] jonasrosland commented on #3451
We'll have the all-hands call on Thursday, I think it's fair to close it by then as all comms have been sent out then.

[2019-05-13 20:57] spiffxp commented on #3700
I've been toying around with a few scripts in this direction myself, based on PR reviews vs. code commits.  Nothing scalable enough to hit the whole codebase though

https://gist.github.com/spiffxp/97ee57e348d27c59e029ce55d11a50a6

[2019-05-13 21:01] spiffxp commented on #3672
https://github.com/organizations/kubernetes/settings/installations/951764 - the app is currently installed but not enabled for any repos, pending signoff from sig-contribex

[2019-05-13 21:12] zacharysarah commented on #3454
@mrbobbytables Sure thing. I need emails for the following folks:
- [ ] @calebamiles
- [ ] @cblecker
- [ ] @fejta

[2019-05-13 21:52] BenTheElder commented on #3139
I think this is done? :-)

[2019-05-13 22:10] parispittman opened #3708 "Rewards and Recognition Umbrella Issue"
Using this issue to collect anything and everything that we have and are building that relates to rewarding and recognizing contributors. Issue will close when we have PR'ed a doc in the /contributors folder.

- CNCF Awards (maintainer, chop wood carry water)
  - add links
- Contributor Summit Awards (need to codify)
- #shoutouts channel in slack feeds into Thursday Community Meeting Announcements

[2019-05-13 22:35] cblecker opened #3709 "Test issue"
I am opening a testing issue because I think I've found a bug.

[2019-05-13 22:54] spiffxp commented on #3672
apparently I accidentally had this enabled with its default labels for kubernetes/community for a bit, the aforelinked installation has been deleted

[2019-05-14 00:04] spiffxp commented on #3139
/remove-lifecycle stale
/close
Yeah this has been done for a while (I did the shared calendar thing under https://github.com/kubernetes/community/issues/3345)

[2019-05-14 00:04] #3139 closed

[2019-05-14 04:15] idealhack commented on #3693
@parispittman sure! I'll try my best :)

[2019-05-14 04:56] nikhita commented on #3700
I think sig contribex shouldn't be owning updating OWNERS files in k/k. It _is_ related to "contributor experience" per se, but I feel like each SIG should be responsible for updating their own OWNERS files. We (sig contribex) can tell them about best practices and tools but not own updating other SIGs' owners files.

[2019-05-14 09:48] charuni2018 opened #3712 "CPU is always 100 % on Kubernetes cluster"
Hello,

We are performing some PoC and trying to running some batch jobs concurrently but what I am noticing that CPU of 3 nodes cluster is always close to 100 % How I can I dig down further to see what is causing the CPU to reach its 100% CPU. Memory seems to be good .

$ kubectl top nodes
NAME                                   CPU(cores)   CPU%      MEMORY(bytes)   MEMORY%
0fd259ac-694b-483b-a50

[2019-05-14 09:49] discordianfish commented on #2210
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze
/cc @fejta Feedback: I don't like it.

[2019-05-14 12:52] parispittman commented on #3693
also note: We (contributor experience SIG) have a kubecon Shanghai Intro session (~30 minutes). Maybe this is something folks on here could help out with along with @jberkus. The other SIG Chairs and TLs won't be attending that one unfortunately.

[2019-05-14 15:25] dims commented on #3700
@nikhita we could propose new reviewers. it would be up to them to merge the PR. would that work?

[2019-05-14 15:26] dims commented on #3700
Clearly very few SIG(s) are doing what's necessary at the moment ... Hence asking.

[2019-05-14 15:40] spzala commented on #3712
@charuni2018 for a quicker response and help, please ask such questions on Stack Overflow as described below or on kubernetes-user slack or mailing list.

Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in respondin

[2019-05-14 16:34] guineveresaenger commented on #3712
/triage support
/close

[2019-05-14 16:34] #3712 closed

[2019-05-14 17:07] spiffxp commented on #3672
@hamelsmu sounds like we'd like you to demo this functionality at an upcoming [sig-contribex meeting (https://github.com/kubernetes/community/tree/master/sig-contributor-experience#meetings) https://github.com/kubernetes/community/pull/3707#issuecomment-492074570

what's your availability like?

[2019-05-14 18:38] hamelsmu commented on #3672
@spiffxp sure I’m pretty open and can make myself available anytime.  Let me know what works for you!

[2019-05-15 03:12] cblecker commented on #3454
@zacharysarah my-github-username at gmail dot com

[2019-05-15 03:36] jeffhollan commented on #2210
As an FYI we attempted to solve some of these problems to "wrap" the external metrics behind a custom resource definition called a `ScaledObject` in our [project KEDA](https://github.com/kedacore/keda).  I'd love to see more of this just baked into the HPA, but for now it allows defining a target threshold (e.g. Kafka lag or RabbitMQ queue length) and driving scale of a deployment on that, as well

[2019-05-15 04:54] BenTheElder commented on #3454
Thank you so much to @mrbobbytables in particular for picking this up ❤️
Thanks to everyone else involved as well :-)

[2019-05-15 06:25] fejta commented on #2210
/remove-lifecycle frozen

[2019-05-15 10:52] idvoretskyi commented on #3451
/close

[2019-05-15 10:52] #3451 closed

[2019-05-15 15:39] castrojo opened #3717 "Community Maintenance for 2019"
This is a list of things we should audit, see https://github.com/kubernetes/community/blob/master/sig-contributor-experience/community-maintenance.md for more details.

Feel free to assign yourself to a section, if you've done any of this in 2019 check it off.

### Slack

- [x] Channels - Anything out of place or not following the guidelines?
  - [x] Close unused channels.
  - [x] Check to see if

[2019-05-15 15:40] castrojo commented on #1999
/close

Kicking off a new one for the year: https://github.com/kubernetes/community/issues/3717

[2019-05-15 15:40] #1999 closed

[2019-05-15 15:50] parispittman opened #3718 "[docs] googlegroups changed settings"
update mailinglist-guidelines.md that googlegroups moderation and other perm settings have recently changed globally. this has caused some breaks in certain groups visibility settings.

instructions on how to fix from googlegroups for owners of the list:
Near the top right, click Manage group.
Click Settings
 ->Information
     ->Directory.
          ->Edit the setting to set the desired visibilit

[2019-05-15 17:41] spiffxp commented on #3672
@hamelsmu today's meeting was short for kubecon planning, next week most of us will be at kubecon, I would e-mail kubernetes-sig-contribex@ to ask when the next meeting is and get on the agenda

[2019-05-15 17:45] spiffxp commented on #1808
/priority important-longterm
/assign
not to say that I'm committed to this, but I would like to make this easier to find for me

Going to use this as umbrella issue for all things related to OWNERS files

[2019-05-15 17:46] spiffxp commented on #3700
ref: https://github.com/kubernetes/community/issues/1808

[2019-05-15 17:47] spiffxp commented on #3179
ref: https://github.com/kubernetes/community/issues/1808 for owners files

[2019-05-15 17:58] spiffxp commented on #1913
/assign
ref: https://github.com/kubernetes/community/issues/1808 for owners management

[2019-05-15 20:44] spiffxp commented on #1673
/remove-sig architecture

[2019-05-15 22:36] justaugustus commented on #3623
@nikhita @dims @swinslow -- My apologies, KubeCon prep has gotten the best of me.
Can we plan to meet the week of 5/27? If that works, I'll send another Doodle.

[2019-05-16 00:53] dims commented on #3516
@guineveresaenger count me in.

[2019-05-16 02:32] nikhita commented on #3623
Np, can relate to that :)

Sounds good!

[2019-05-16 02:49] swinslow commented on #3623
Yes, works for me! Thanks @justaugustus :)

[2019-05-16 07:38] soltysh commented on #3516
I'll try to show up too for sig-cli.

[2019-05-16 15:34] BenTheElder commented on #3621
IMHO this is still exactly what the welcome bot should be for, or we can put the copy paste command on the spyglass page. This does not have to be a repetitive comment.

We have friends at GitHub, IMHO we should not "fix" their mobile UX by spamming inboxes 😞

[2019-05-16 15:45] BenTheElder commented on #3621
I would also like to point out that roughly "GitHub notifications are a tire fire" is frequent complaint of Kubernetes project members, such that many of them simply don't use GitHub notifications in any form. I think this is detrimental to the project.

More specifically Prow contributes a very large number of those comments in ways that would be unusual in other projects, a major one being comme

[2019-05-16 17:17] michelleN opened #3724 "unconscious bias training for SIG chairs"
The steering committee has committed to taking [unconscious bias training](https://github.com/kubernetes/steering/issues/98). Our community is large and diverse and we think this is important for us to do. We also talked about whether we should require SIG chairs and any other leadership positions to take this kind of training as well. I've opened this issue so we can come to a consensus on this a

[2019-05-16 17:50] cblecker commented on #3724
/committee steering

If the steering committee found the training valuable, then I’m +1 to requiring sig leaders to do it too.

[2019-05-16 20:05] aravindputrevu commented on #3693
@parispittman Great! I will be at KubeCon Shanghai. (Provided, I get my VISA in time)

[2019-05-16 22:09] vllry commented on #3516
I'll volunteer for sig-network.

[2019-05-16 22:53] xihaLong commented on #3693
@parispittman I frequently go between HangZhou/ShangHai, ChengDu/XiAn/ChongQing, ShenZhen/DongGuan/HongKong and will love to help in any way. I am professionally most interested in Continuous Delivery Foundation topics presently

@idealhack and @aravindputrevu See you soon in at KubeCon ShangHai! :+1:

[2019-05-17 01:41] justaugustus commented on #2727
Good point, @nikhita! This is superceded by #3267, which has much more detail.
/close

[2019-05-17 01:41] #2727 closed

[2019-05-17 06:30] justaugustus commented on #3623
@nikhita @dims @swinslow -- New Doodle for the Licensing subproject meeting: https://doodle.com/poll/bg9g5pcfw3v66g7r

[2019-05-17 11:34] harche commented on #2970
@nikhita Thanks.

I have opened the new issue in the enhancements repo to track this effort. https://github.com/kubernetes/enhancements/issues/1067

[2019-05-17 12:47] guineveresaenger commented on #3638
This is done! Thank you @parispittman for co-authoring with me and thank you @vllry for the video clips!

Blog post here: https://kubernetes.io/blog/2019/05/14/expanding-our-contributor-workshops/

/close

[2019-05-17 12:47] #3638 closed

[2019-05-17 12:48] guineveresaenger commented on #3347
Slides were sent out in an email earlier this week. Ready to roll on Monday.

/close

[2019-05-17 12:48] #3347 closed

[2019-05-17 16:03] liggitt commented on #3211
[inline CSI migration review](https://docs.google.com/document/d/16_Eq_ehfZEkt5DzH9zdKr7IL26E67Pjxs0Lv5OWFj3c/edit)

[2019-05-17 17:18] cmluciano commented on #3516
I'll be there to assist @vllry with SIG-Net too.

[2019-05-17 23:20] philips commented on #3277
My rough guess at what things we would need to do:

- [x] Use a DCO or similar
- [x] Define/document project governance
- [x] Another will have the necessary access rights if someone dies
- [x] "Bus factor" of 2 or more
- [x]  Document security requirements ([I think this covers it](https://github.com/kubernetes/community/blob/master/contributors/guide/bug-bounty.md))
- [x] Have an assurance case

[2019-05-17 23:22] philips commented on #2072
I view @derekwaynecarr 's comment as correct.

[2019-05-19 08:19] mariantalla opened #3726 "REQUEST: New Slack user token"
**GitHub Username:**
@mariantalla

**Slack Username:**
`maria`

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Token

**Description of Request:**
I plan to use this token to query public data from the kubernetes slack, relating to aggregated activity over a period of time. Some examples: which channels were most active, how long conversation threads were on average,

[2019-05-19 08:56] coderanger commented on #3726
I think it would be better from a privacy PoV if you could list the specific aggregate data you are interested in and then someone from the Slack admin team could get it. Even better if you could show the script you want to run :)

[2019-05-19 09:00] coderanger commented on #3726
Also you mentioned in Slack to me that this is specifically re: the 1.14 release as part of the post-release analysis. Would be good to confirm that on here.

[2019-05-19 09:54] puja108 commented on #3693
Yes, we'll be there. Also at the contrib summit shanghai. I'm not based in APAC most of my time, but happy to help where I can.

[2019-05-19 15:02] mariantalla commented on #3726
Thanks for the comments!

Indeed; this is in the context of collecting aggregate data on contributor collaboration during the 1.14 timeline.

Good point, I'll write it against another workspace and send it back if it helps offer more detail 🤔

[2019-05-20 03:37] spiffxp commented on #3516
I'll be there for SIG Testing

[2019-05-20 04:39] hogepodge commented on #3516
I’ll be available for both SIG-Cloud-Provider and SIG-OpenStack

[2019-05-20 04:40] parispittman commented on #3516
I'll be there for ContribEx

[2019-05-20 14:43] cblecker opened #3727 "youtube: create a playlist for code base walk throughs"

[2019-05-20 14:44] cblecker commented on #3727
/sig contributor-experience

[2019-05-20 14:44] alisondy commented on #3693
new Zealand checking in, would be keen to help out

[2019-05-20 14:55] jgrobbel commented on #2440
/remove-lifecycle stale

[2019-05-21 11:51] mariantalla commented on #3726
A bit more detail on the data points I was hoping to add:

* all public channels
* all public channels with activity during 1.14
* total number of messages during 1.14
* total number of words
* total number of threads during 1.14
* average length of thread
* number of messages per channel and per day, for the top 10 (in total messages) channels during 1.14
* slack usernames of users that posted me

[2019-05-21 14:09] nzoueidi commented on #3642
I can take care of this!

[2019-05-23 00:58] nzoueidi commented on #2663
I am going to dig into this in the few upcoming days.

[2019-05-23 03:51] saiyam1814 commented on #3693
@nikhita @parispittman I am willing to contribute, specially for #1 #2 and other as well.
I can speak on the managed kubernetes service including GCP, AWS and Oracle cloud, kubernetes monitoring , kube-eagle, cluster autoscaler(I am already part of that SIG attending meetings), Rancher docker and kubernetes etc.
I write blogs on managed kubernetes and basics as well on medium (would be happy to co

[2019-05-23 10:44] nzoueidi commented on #3277
I can help with this. I will collect my researches about the enhancements that we could do to the code and let you know.

Maybe, we should fix a regularly meeting under sig-contribex in the near future where we can discuss all the possible points?

[2019-05-24 04:26] ShubhasisMathur opened #3735 "Git Hub Repo needs code fix"
I am doing set up of Kubernetes on my Aws Ec2 instance. I executed the below commands as per the instructions
git clone https://github.com/kubernetes/kubernetes
cd kubernetes
make quick-release
But getting error after running the make command:
Makefile.generated_files:152: recipe for target 'gen_deepcopy' failed
make[2]: *** [gen_deepcopy] Error 1
Makefile:557: recipe for target 'generated_files'

[2019-05-24 12:43] guineveresaenger commented on #3349
Closing this issue.

We will discuss rounding out more active SIG participation for future SIG-Meet-and-Greets to handle more onramp options to cover the "last mile" from workshop to happy new SIG member.

[2019-05-24 12:43] #3349 closed

[2019-05-24 12:45] guineveresaenger commented on #3516
THANK YOU EVERYONE for showing up and welcoming our new contributors! 🎉

[2019-05-24 12:45] #3516 closed

[2019-05-25 06:54] justaugustus commented on #3623
@dims -- just a heads up to vote on this Doodle when you have a chance.

[2019-05-25 16:48] brannondorsey commented on #2405
Does that mean that if you apply an tag like `k8s.io/cluster-autoscaler/node-template/label/example.com/some-label-key` to an AWS ASG the K8s cluster-autoscaler will respect this tag for purposes like nodeSelector or node affinity during pod scheduling but it **will not** actually apply the label to the node? Do you have any more info on the subject?