[2020-09-03 19:48] jdumars commented on #5092
+1 to what Josh said. I think this is a defect in the process as it stands now, and should be addressed explicitly before results are tallied. Having more clarity here is not a risk in my opinion.

[2020-09-03 20:09] jberkus commented on #5074
closing in favor of the older issue on test-infra.  Please move any further discussion there.

[2020-09-03 20:09] #5074 closed

[2020-09-03 20:25] jberkus opened #5096 "Create app for holding Steering elections using only github auth"
There are two extremely labor intensive and data-error-prone portions of the current [Steering Elections process](https://github.com/kubernetes/steering/blob/master/elections.md):

1. pulling the list of eligible voters
2. getting everyone's ballots to them by email

The latter is by far the worst, because it takes 2 days of solid time for the elections committee, and requires technical skills on

[2020-09-03 20:34] jdumars commented on #5096
I strongly support this effort.

[2020-09-03 20:40] cblecker commented on #5092
Is this an issue of clarifying the current rules, or changing them? What I read from Josh's issue is that this would be a change to the rules, as the interpretation of "The Way It Is Now" is what I understood to be the case, and the rules used in the 2019 election

[2020-09-03 20:50] markyjackson-taulia commented on #5096
+1 to @jdumars this will help a lot and I would love to help mentor this along with @jberkus and @jdumars

[2020-09-03 21:21] jberkus commented on #5092
@cblecker I'm not even sure whether this is just a clarification or requires an actual change to the rules.

[2020-09-03 21:25] mrbobbytables commented on #2759
/remove-lifecycle stale

I believe this is being worked on 👍

[2020-09-04 06:14] Oghenebrume50 commented on #5096
Hi @jberkus @jdumars @markyjackson-taulia  I would love to take this up, I am comfortable with JavaScript and Ruby, plus I am currently learning Go, please what is the proper communication medium to follow up with this?

[2020-09-06 06:09] kunal-kushwaha commented on #5096
Looking forward to contributing to it for the upcoming community bridge program! 🚀

[2020-09-06 15:52] sftim commented on #4953
/assign

[2020-09-06 16:50] mrbobbytables commented on #4945
/assign
I can update and record this section

[2020-09-08 12:10] neolit123 commented on #4839
/remove-lifecycle stale

[2020-09-08 14:52] markyjackson-taulia commented on #4125
/remove-lifecycle stale

[2020-09-09 00:09] guineveresaenger commented on #4951
**Session Content**

So I actually think that _everyone can build the kubectl binary with a fun "hello" message, so it would be lovely (and take some of the pressure off of the NCW work load) to have Session Four be called **"Advanced Testing Topics"** as 201 content for folks curious. _This would make this particular session a nice-to-have, rather than a requirement_.

Refer to the [SIG Testing g

[2020-09-09 00:09] guineveresaenger commented on #4950
**Session Content**

This assumes the student has completed Build&Test 1 and 2 or equivalent and is ready to talk about `make` targets. This is 201 content for folks who have previous experience with Kubernetes, open source, etc. This session will show how to set up and run unit tests using `go test` and `make`.
Refer to the developer guide for [unit tests](https://github.com/kubernetes/community/

[2020-09-09 00:09] guineveresaenger commented on #4948
**Session Content**

Based on experience and coordinating with the NCW subproject, this segment should lead the new contributor through _beginner oriented_ workspace setup ONLY, right up to the ability to run `make` locally.
You will want to refer to [this list](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#building-kubernetes-on-a-local-osshell-environment)

[2020-09-09 00:09] guineveresaenger commented on #4949
**Session Content**

This assumes the student has completed Build&Test 1 or equivalent and is ready to talk about `make` targets. This is 101 content for folks who have little to no experience with Kubernetes, open source, etc. This session will show make targets and how to set up a KinD cluster.

This should contain the [topics from these slides](https://docs.google.com/presentation/d/1zxKTK5k2mx

[2020-09-09 00:43] hh commented on #4948
/assign @hh

[2020-09-09 00:43] hh commented on #4949
/assign @hh

[2020-09-09 00:43] hh commented on #4950
/assign @hh

[2020-09-09 00:44] hh commented on #4951
/assign @hh

[2020-09-09 16:40] castrojo commented on #5090
/close
This is now implemented.

[2020-09-09 16:40] #5090 closed

[2020-09-09 17:04] SueKocher commented on #5021
My company (SAS) is dealing with these issues too, as best we can. Could you tell me if this SIG has any meetings planned, an agenda, or a plan to propose something specific to GitHub? (because i think I've seen similar discussions for GitHub terminology that have been going on for a while...)

Thanks for any info!

[2020-09-09 18:04] kscharm commented on #4795
Hi @alejandrox1 I'm a new contributor to k8s and would like to take this issue. I'm not too familiar with the testgrid framework, but I think this would be a good learning experience to get my feet wet.

[2020-09-09 18:28] tpepper opened #5120 "WG Security Audit active?"
[sig-list.md](https://github.com/kubernetes/community/blob/master/sig-list.md) points to a WG Security Audit meeting log google doc which only includes minutes from 2018/2019.  Is the WG still active?

[2020-09-09 18:30] tpepper commented on #5120
/wg security-audit

[2020-09-09 19:14] parispittman commented on #5120
@tpepper they are in a wind down process now and folding work into the new sig-security

[2020-09-09 21:55] #3692 closed

[2020-09-10 11:07] Jerry061-eng commented on #5120
[Gta 5 apk](https://thegta5android.com/)

[2020-09-10 13:38] lukehinds commented on #4959
[Completed](https://files.slack.com/files-pri/T027F3GAJ-F019SGSL27R/image.png)

[2020-09-10 16:47] castrojo commented on #4854
/remove-lifecycle stale

[2020-09-10 17:43] shyamjvs commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/3ed9c4fe-0d6a-4eaf-a480-79db850ef036-shyam-jeedigunta-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-09-10 22:38] ddebroy commented on #4959
[deep-debroy-the-inclusive-speaker-orientation-lfc101-certificate.pdf](https://github.com/kubernetes/community/files/5204959/deep-debroy-the-inclusive-speaker-orientation-lfc101-certificate.pdf)
Completed!

[2020-09-11 07:44] CindyXing commented on #4959
Completed.

[2020-09-11 11:53] mrbobbytables commented on #4586
/remove-lifecycle rotten
This has come up a few times now - lets see about tackling it in 1.20
/milestone v1.20

[2020-09-11 15:47] kaslin commented on #4945
Paris and I were planning to. We had a meeting last week to discuss how we wanted to update it. You're welcome to join in if you like.

[2020-09-11 15:58] mrbobbytables commented on #4945
Nah, go for it! :)

/unassign

[2020-09-11 18:42] mbbroberg commented on #5040
Hey @munnerz -- we've sent a few tweets related to this (sorry for not updating along the way. We're working on a process to shoot this out into k-dev Slack (cc @rajula96reddy to send that). Lastly, would you be interested in sharing a first draft of the blog post? We're happy to help edit and shepherd from there.

Thanks!

[2020-09-11 21:16] spiffxp opened #5129 "Update all SIG Testing zoom meetings to use password"
Per chairs-and-TLs meeting http://bit.ly/k8s-chair-tl-notes

- [x] kind
- [x] testing-commons
- [x] sig-testing

/assign
/sig testing
/sig contributor-experience

[2020-09-11 21:38] spiffxp commented on #5129
I changed testing-commons and update the calendar invite but got the wrong passcode

I changed sig-testing but have yet to update the calendar invite

[2020-09-11 23:34] prydonius commented on #4959
Completed - apologies for missing the first deadline!

[2020-09-11 23:44] spiffxp commented on #5129
SIG Testing Bi-Weekly
- updated meeting
- changed sigs.yaml (PR pending)
- updated calendar invite
- updated #sig-testing
- updated agenda doc

testing-commons
- updated meeting
- updated sigs.yaml (PR pending)
- updated calendar invite
- (no update needed for #testing-commons, topic links to agenda doc)
- updated agenda doc

kind
- meeting is defunct, deleted from zoom
- updated sigs.yaml

TODO:

[2020-09-12 00:16] #5129 closed

[2020-09-13 04:31] markyjackson-taulia commented on #3362
/remove-lifecycle stale

[2020-09-13 04:32] markyjackson-taulia commented on #3938
/remove-lifecycle stale

[2020-09-13 13:47] mrbobbytables commented on #3938
/lifecycle frozen
Still a good idea, just no bandwidth for it.

[2020-09-13 13:48] mrbobbytables commented on #3362
/lifecycle frozen
Still ned to do this :( Just bandwidth issues.

[2020-09-14 03:46] foxish commented on #4959
Completed

[2020-09-14 15:10] wabernatScality commented on #4772
/close

[2020-09-14 15:10] #4772 closed

[2020-09-14 18:37] jberkus commented on #5096
@Oghenebrume50 @kunal-kushwaha Projects will be accepted for Community Bridge on Sept 21st.  After that we will announce the project and tell you were to apply.

[2020-09-14 18:59] srampal commented on #4959
Completed.  Thanks.

[2020-09-14 19:04] parispittman commented on #1922
/remove committee-steering

[2020-09-14 20:17] mszostok commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/d0ba5039-a792-578e-a485-3d576e38dccc-mateusz-szostok-the-inclusive-speaker-orientation-lfc101-certificate.pdf] 👍

[2020-09-14 20:17] Oghenebrume50 commented on #5096
Alright noted, looking forward to it :slightly_smiling_face:

[2020-09-14 23:14] jberkus commented on #4956
@thockin can we use "How to be a bad-ass code reviewer" for this?

[2020-09-14 23:14] mrbobbytables commented on #4956
Here is the recording: https://www.youtube.com/watch?v=OZVv7-o8i40

[2020-09-14 23:16] jberkus commented on #4946
/assign jberkus

taking this one, since I wrote it for the first NCW

[2020-09-14 23:17] mrbobbytables commented on #4958
/assign @markyjackson-taulia

[2020-09-14 23:23] thockin commented on #4956
With blessings!

[2020-09-15 18:32] mrbobbytables opened #5146 "[Tracking Issue] Zoom passcode update"
We have some changes that need to be made to everyone's zoom meetings. :(

TL;DR

- Zoom will require passcode or waiting room enabled by September 27th
- Passcode was chosen as our current practices are good enough and waiting room isn’t practical
- Set the passcode to your meetings to be (five sevens): **77777**
- Update sigs.yaml, notes, and calendar invites with a new zoom link once passcode i

[2020-09-15 18:34] sftim commented on #5146
[How] can we update the settings for existing Zoom meetings / will we need to create a new meeting and share updated links?

[2020-09-15 19:08] mrbobbytables commented on #5146
@sftim an email was sent to the leads mailing list, I have updated the tracking issue with the instructions 👍

[2020-09-15 19:49] kscharm commented on #4795
/assign

[2020-09-15 22:20] markyjackson-taulia commented on #300
/remove-lifecycle rotten

[2020-09-16 00:41] mrbobbytables commented on #5034
@k82cn do you happen to have access to the calendar or group?

[2020-09-16 09:31] k82cn commented on #5034
I will cancel the calendar, but I can not access the gorup :(

[2020-09-16 11:10] mrbobbytables commented on #5034
ah >_<
@vishh can you archive the group?

[2020-09-17 12:56] mrbobbytables opened #5153 "[Tracking Issue] 2020 Contributor Survey"
This is the general tracking issue for the 2020 survey
ref: https://github.com/kubernetes/community/issues/4464

- [x] [Review 2019 Survey Question](https://docs.google.com/document/d/1IERzLwPBJkw5IYnolJ0UnS3ueWNEhePpoeRtTzIlrqs/edit)
- [x] [Call for changes to ContribEx ML by November 13th](https://groups.google.com/d/msg/kubernetes-sig-contribex/UZNz2gUtxrE/N-ojeLONBAAJ)
- [x] [Finalize Survey q

[2020-09-17 16:28] kow3ns commented on #4959
[Complete](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/22d390fc-86ab-4c65-8672-a7c1d3f4d7cb-kenneth-owens-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-09-17 18:12] parispittman opened #5156 "tweet every time we go live?"
can we set up an automated method that we can tweet from the k8scontributors account every time we are live on the community YouTube?

[2020-09-17 22:28] ehashman commented on #5096
+1000

This is what I saw after casting my ballot:

![Screenshot at 2020-09-17 15-19-42](https://user-images.githubusercontent.com/4706131/93534656-58969f00-f8fa-11ea-83b6-968558949a30.png)

Seeing that last poll does not surprise me, as the platform lacks mechanisms to address abuse: a particular individual has been using CIVS to harass the Debian project for months.

[2020-09-18 17:25] castrojo commented on #5146
WG LTS reported that they might conclude and close down soon so I wouldn't sweat that one for now.

[2020-09-18 18:03] markyjackson-taulia opened #5159 "Update mentoring meeting README.md"
The mentoring [README.md](https://github.com/kubernetes/community/blob/master/mentoring/programs/README.md) needs to be updated to reflect the new time change. This meeting is now held in conjunction with the NCW meeting, which is bi-weekly on Monday at 16:00.

[2020-09-18 18:03] markyjackson-taulia commented on #5159
/sig contribex
/assign @markyjackson-taulia

[2020-09-18 18:04] markyjackson-taulia commented on #5159
/sig contributor-experience

[2020-09-18 18:24] #5159 closed

[2020-09-21 13:04] mrbobbytables opened #5162 "Contributor Survey Images are sporadically loading, should be tracked in repo"
When viewing the [contributor survey reports](https://github.com/kubernetes/community/tree/master/sig-contributor-experience/surveys/2019), the images don't consistently load. They are being externally stored in a gdrive directory. They should be tracked in repo alongside the markdown docs themselves.

/area community-management
/sig contributor-experience
/milestone v1.20
/help
/good-first-issue

[2020-09-21 21:48] jberkus commented on #5096
@Oghenebrume50 @kunal-kushwaha  please apply for the Community Bridge program here.  We've been selected!

https://www.cncf.io/blog/2020/09/21/calling-all-mentees-cncf-communitybridge-projects-for-the-fall-2020-program/

[2020-09-21 21:49] jberkus commented on #5096
@SergeyKanzhelev we're going to be refining the spec for this application; I'll ping you for your input.

[2020-09-22 11:38] mrbobbytables commented on #5120
ref: https://github.com/kubernetes/community/pull/4976

[2020-09-22 14:55] alejandrox1 commented on #4795
/remove-help
/lifecycle active

[2020-09-23 14:18] ncdc commented on #4641
I see the Slack channel was created. What are the next steps for this? Thanks!!!

[2020-09-23 14:28] detiber commented on #4641
@ncdc next steps are to coordinate with test-infra-oncall and configure the alerts. I'm not sure if it is possible to do that through git hosted config currently or if it would need to be done externally.

@BenTheElder @cjwagner do either of you have insight into how to proceed?

[2020-09-24 05:31] palnabarun commented on #4469
/milestone v1.20

[2020-09-24 16:42] #4471 closed

[2020-09-24 17:45] markyjackson-taulia commented on #4901
/remove-lifecycle stale

[2020-09-24 17:56] mrbobbytables commented on #4901
I think this was completed. @parispittman can you confirm?

[2020-09-24 20:04] robstoll opened #5167 "get a slack invitation for #sig-api-machinery"
I have basically a feature request: https://github.com/kubernetes/enhancements/issues/1917
As it seems, I need first a sponsoring SIG and as far as I understood API changes (even if I eventually want it to happen for kubectl) have to be addressed by this SIG. Therefore, I would like to talk about the idea somehow to get the sponsoring.

Can someone help out?

[2020-09-24 20:05] robstoll commented on #5167
/sig api-machinery

[2020-09-24 20:46] mrbobbytables commented on #5167
The slack is open, you can get an invite by going to https://slack.k8s.io
I'd also suggest joining their mailing list if you haven't already: https://groups.google.com/forum/#!forum/kubernetes-sig-api-machinery

[2020-09-24 22:41] coderanger commented on #5167
As mentioned, all are welcome :) You can join using the link above and then in the Channels list click the `+` icon and search for `#sig-api-machinery`.

/close

[2020-09-24 22:41] #5167 closed

[2020-09-24 23:02] mrbobbytables opened #5169 "Update mailing list guidelines to include subprojects"
The current mailing list guidelines only cover top level community groups. There are instances of subprojects that are either large enough (kubebuilder) or are scoped in a way that would benefit from an independent list (kubernetes-keps).

/sig contributor-experience
/area community-management
/milestone v1.20

[2020-09-25 20:05] BenTheElder commented on #4641
I'm not involved with slack config and I've moved to go.k8s.io/oncall build-admin-oncall. If you think you need something from test-infra-oncall, please reach out via the slack alias.
The prow alerting system I'm not familiar with, I think @cjwagner is though.

[2020-09-27 17:02] evalsocket commented on #5162
/assign @evalsocket

[2020-09-27 18:57] jimangel commented on #5146
SIG Docs is complete. I noticed that we link to our agenda which links to our zoom URLs so there is no need to update the community repo.

@sftim I updated it using the SIG Docs Zoom login (happy to share), then as a calendar owner, I was able to update the links. The way we had APAC setup, I was able to just add a passcode, for the regular weekly meeting, I had to create a new reoccurring one whi

[2020-09-28 21:21] carolynvs commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/ef453e13-2c66-4bce-8b19-454c9b5e264c-carolyn-van-slyck-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-09-28 22:27] heyste commented on #4948
/assign @heyste

[2020-09-28 22:27] heyste commented on #4949
/assign @heyste

[2020-09-28 22:27] heyste commented on #4950
/assign @heyste

[2020-09-28 22:27] heyste commented on #4951
/assign @heyste

[2020-09-29 13:19] mrbobbytables opened #5175 "[Tracking Issue] GitHub Recognition Beta Test"
GitHub is working on a beta feature that allows members to recognize, thank or give kudos to other members. :tada:

This issue will be used for discussing rollout and feedback.

### How

It is a configurable `/command` that will then appear on a user's hover card, in addition to being able to see all kudos given for a specific repo. In the future, these are planned to be aggregated up to the org l

[2020-09-29 13:21] nikhita commented on #5175
:shipit:

+1 to use `/shoutout` as the command.

[2020-09-29 13:48] evalsocket commented on #4677
/lifecycle active

[2020-09-29 19:41] justaugustus commented on #2725
/unassign @mrbobbytables @justaugustus
/assign @kikisdeliveryservice
ref: https://kubernetes.slack.com/archives/C2C40FMNF/p1601408420103200?thread_ts=1601403539.085300&cid=C2C40FMNF

[2020-09-29 21:43] #3954 closed

[2020-09-30 10:59] nikhita commented on #4913
/remove-lifecycle stale

[2020-09-30 12:20] mrbobbytables commented on #5175
shoutout it is 🎉

Right now GitHub can only enable on specific repos. To start I'm thinking:
- kubernetes/kubernetes
- kubernetes/test-infra
- kubernetes/community

We can also reach out to other leads and subproject owners to see if its something they'd like to enable on their own repos.

[2020-09-30 13:38] castrojo opened #5180 "Clean up YouTube moderators"
We haven't had a clean up in a while, and I know only a handful of us are moderating so we need to clean this up.

If you're actively moderating/streaming please ack this issue, if not, no worries we'll just put you in emeritus, either way the list needs to reflect reality so that we new contributors opportunities to participate.

- [x] @castrojo
- [x] @mrbobbytables
- [ ] @parispittman
- [x] @chr

[2020-09-30 13:39] markyjackson-taulia commented on #5180
ack

[2020-09-30 13:41] jeefy commented on #5180
ack, though primarily as a backup streamer and ad-hoc request processor.

On Wed, Sep 30, 2020 at 9:39 AM Marky Jackson <notifications@github.com>
wrote:

[2020-09-30 13:47] onlydole commented on #5180
Ack - I help with uploads, metadata edits, and Zoom faux pas. I'd like to chat with y'all about streaming as I'm coming along with OBS 😄

[2020-09-30 13:54] jeefy commented on #5180
I'm happy to run a mini workshop for the YT admins on streaming if people are interested. :)

[2020-09-30 14:00] castrojo commented on #5180
Also wondering how useful having the release lead be able to self-serve, something to consider? (Or someone else on the release team)

[2020-09-30 14:41] mrbobbytables commented on #5180
/area community-management
/milestone v1.20

[2020-09-30 15:41] nikhita commented on #4469
Deadlines/milestones planned (osting from last meeting's notes):

Collection of responses - October 8th
Collating responses and writing the blogs - October 22nd
Publishing the series - November 15th

[2020-09-30 16:03] nikhita commented on #5120
wg-security-audit has now been folded into sig-security - https://github.com/kubernetes/community/pull/4976. Closing.

/close

[2020-09-30 16:03] #5120 closed

[2020-09-30 16:05] nikhita commented on #5024
@jayunit100 do you think this issue is good to be closed?

/remove-committee steering

[2020-09-30 16:07] nikhita commented on #4938
/area mentorship-planning

@parispittman do you have context around the form?

[2020-09-30 16:08] nikhita commented on #4901
/assign @parispittman @dims

Is there info from this mentoring group we can add in our contributor docs?

[2020-09-30 16:09] nikhita commented on #4815
@justaugustus @LappleApple do you know if we are tracking this in a sig-release issue and/or if this issue is good to be closed?

[2020-09-30 16:11] nikhita commented on #4799
/remove-lifecycle rotten

[2020-09-30 16:14] nikhita commented on #4754
@rikatz do you know where I can find this PR :)

[2020-09-30 16:16] nikhita commented on #4723
/assign

I think it can be removed too, but I'll follow up with folks in sig release/testing around the historical reasons for why this was added.

[2020-09-30 16:18] nikhita commented on #3783
Freezing this one since I don't know when we'd be able to travel again :cry:
/lifecycle frozen
/milestone clear

[2020-09-30 16:19] nikhita commented on #3455
PR to add the `needs-triage` workflow - https://github.com/kubernetes/test-infra/pull/19272

[2020-09-30 17:11] mrbobbytables commented on #4392
Going to go ahead and close this for now, we will roll the results into the next survey results/blog post 👍

/close

[2020-09-30 17:11] #4392 closed

[2020-09-30 17:16] mrbobbytables commented on #3717
Going to move forward with closing this. We can re-open for 2020/2021 👍

/close

[2020-09-30 17:17] #3717 closed

[2020-09-30 17:20] mrbobbytables commented on #4617
/assign @nikhita @mrbobbytables
To look it over again 👍

[2020-09-30 17:21] mrbobbytables commented on #4077
This has been done 👍
/close

[2020-09-30 17:21] #4077 closed

[2020-09-30 17:22] mrbobbytables commented on #4010
Closing in favor of the new NCW efforts 👍

/close

[2020-09-30 17:22] #4010 closed

[2020-09-30 17:23] mrbobbytables commented on #2770
I believe all AIs have been completed, going to go ahead and close this issue for now.

/close

[2020-09-30 17:24] #2770 closed

[2020-09-30 17:29] spiffxp commented on #1922
https://cs.k8s.io/?q=kubernetes-incubator&i=nope&files=&repos= there are still many references, need a human to verify which of these shouldn't be renamed (history) vs. which should (or could)

[2020-09-30 17:36] mrbobbytables commented on #1922
If you remove the kubernetes-incubator/kube-aws repo from the list it looks like its a lot less. Quite a few in k/website blog posts which we can ignore

[Massive Query URL](
https://cs.k8s.io/?q=kubernetes-incubator&i=nope&files=&repos=kubernetes-client/.github,kubernetes-client/c,kubernetes-client/csharp,kubernetes-client/gen,kubernetes-client/go,kubernetes-client/go-base,kubernetes-client/haske

[2020-09-30 17:46] jberkus commented on #5096
@Oghenebrume50 @kunal-kushwaha let me apologize, we are delayed in accepting applications because of problems with the CommunityBridge platform.

[2020-09-30 18:05] UdokaVrede commented on #5096
That's understandable, I'll patiently wait

[2020-09-30 18:33] rikatz commented on #4754
Hello @nikhita :)

Here's the PR: https://github.com/kubernetes/test-infra/pull/18171

It's failing because of some need to create a new dashboard in test-grid or use other one, but the main idea is there: A per Sig issue-lifecycle job, with issue lifecycle rules.

It's worth to comment that this can be 'problematic' with issues with more than one sig label, if both of them uses their own lifecycl

[2020-09-30 18:34] rikatz commented on #5024
@jayunit100 Let's discuss about this also in the next netpol subproject meeting, (or even in this week sig-network meeting) so we can gather the sponsorship to move forward with the project, and ask for the whole package of repo, slack channel, etc :)

cc @andrewsykim

[2020-09-30 19:56] jayunit100 commented on #5024
I think folks still wanted to add it , yeah we'll bring it up tomorrow I guess Ricardo?

[2020-09-30 20:15] LappleApple opened #5181 "Embedding DevStats charts into the Contributor Website"
In recent months we've been discussing ways to make [DevStats](https://k8s.devstats.cncf.io/d/12/dashboards?orgId=1&refresh=15m) optimally appealing and attractive for different types of users, including:
- SIG Chairs and Tech Leads
- the range of contributors to the project
- Open source program managers at companies
- Members of the Steering Committee

To gain a greater understanding of the type

[2020-09-30 20:18] LappleApple commented on #5181
/sig contributor-experience
/assign @jewar
/assign @SergeyKanzhelev
/assign @atihkin

[2020-09-30 21:42] jimangel commented on #5175
SIG Docs (k/website) would be interested in helping pilot this!

/cc @kbarnard10 @irvifa @zacharysarah

[2020-09-30 23:51] jberkus commented on #4893
/assign tokt jberkus

[2020-09-30 23:51] jberkus commented on #4893
@tokt is helping with this, even if I can't assign him.

[2020-10-01 00:08] mrbobbytables commented on #5175
Okay, we'll move forward with those 4 to start 👍

[2020-10-01 17:24] jewar commented on #5181
/assign

[2020-10-01 17:37] atihkin commented on #5181
/assign

[2020-10-01 20:52] jberkus commented on #5096
This effort has been re-consituted as a "new" project under CommunityBridge.  Applications will be open for the next 10 days, and the timeline is extended.  [Please apply here](https://people.communitybridge.org/project/953e5f12-460b-4bf1-80b3-5171c2044462).

Yes, this will mean re-submitting materials, but you can copy & paste from your previous application.

@Oghenebrume50 @kunal-kushwaha

[2020-10-01 21:03] Oghenebrume50 commented on #5096
Hi @jberkus the google-docs file under the "Full-specification" does not open, I think there is a mistake in the URL

[2020-10-01 21:05] markyjackson-taulia commented on #5096
@Oghenebrume50 I just tried it using copy and paste and it works. Try [this](https://docs.google.com/document/d/e/2PACX-1vQ4Z3jOpIsGZHaBy9Xa6me6IyL_rj-JZgAl-xRO-M2KacWhcRexcV3mILjwclsc9QI4ghRfic2ESFtB/pub)

[2020-10-01 21:12] Oghenebrume50 commented on #5096
@markyjackson-taulia  thank you, the link here works, I don't know why that did not work.

[2020-10-02 15:40] mbbroberg commented on #5156
@chris-short is looking into this since he has permission for each.

[2020-10-02 15:41] mbbroberg commented on #5061
This is coming along! Notes from working with the team:

- Do NOT link to Zoom
- Do link to the k8s.dev/calendar 

[2020-10-02 15:42] mbbroberg commented on #5040
Given that we've tweeted a few times and don't have any copy for a blog post, we'll close this one for now. @munnerz, happy to help with a blog if you get to a first draft!

/close

[2020-10-02 15:43] #5040 closed

[2020-10-02 15:44] mbbroberg commented on #4780
We still want to work on this.

/remove-lifecycle rotten

[2020-10-02 15:46] mbbroberg commented on #5156
Chris found there is no native mechanism that will tweet when you go live. There are 3rd party tools (streamlabs) if the team wants to add another tool. Alternatively, we stick with the scheduled tweets, though this isn't automated.

[2020-10-02 19:22] #4795 closed

[2020-10-03 12:49] thejoycekung commented on #5169
Hey, I'd like to try helping out with this! The current guidelines are under `communication/mailing-list-guidelines.md`, right?

Some things I can spot right now:
- We should mention subprojects either in the first sentence or right after
- Should instances of `SIG/WG` be replaced with `SIG/WG/subproject` instead?
- Do the mailing list guidelines for creation (e.g. needs a leads list and a members

[2020-10-04 03:13] chris-short commented on #5180
Yeah, I'm here when streaming needs to happen and no one else can.

[2020-10-04 15:35] shivam-51 commented on #5096
@jberkus @markyjackson-taulia  Hi, I would like to work on this project through Community Bridge. I hope its not too late.

[2020-10-04 15:37] markyjackson-taulia commented on #5096
@shivam-51
Hello. No, it is not too late. You can review the specs and apply here: https://people.communitybridge.org/project/953e5f12-460b-4bf1-80b3-5171c2044462

[2020-10-04 15:38] shivam-51 commented on #5096
@markyjackson-taulia Thank You

[2020-10-05 12:07] mrbobbytables commented on #5169
SGTM!

Yup!

Yes, they should follow the same guidelines. The two big differences for subprojects is they should be titled as `kubernetes-<subproject>`, but the rest of the privacy settings would be the same.

They should also be added to the subproject's contact information in [sigs.yaml](https://github.com/kubernetes/community/blob/master/sigs.yaml), similar to how its done for the server-sdk su

[2020-10-05 12:09] mrbobbytables commented on #1693
I think this can be accomplished this cycle, we need to add more items to the chairs and TLs guides
/milestone v1.20

[2020-10-05 12:30] mrbobbytables commented on #1922
I've [created an issue](https://github.com/kubernetes/website/issues/24380) on k/website wrt to updating references to incubator. With that out of the way, do you think we can go ahead and close this issue?

[2020-10-05 13:41] nikhita commented on #1922
There were a few migrated repos in k-sigs that still referenced kubernetes-incubator. I have created issues (linked above) in each of these repos.

The repo maintainers can follow up on those separately. Going to close this issue! :tada:

/close

[2020-10-05 13:41] #1922 closed

[2020-10-05 21:51] rikatz commented on #5024
@nikhita I'll close this issue in favor of https://github.com/kubernetes/org/issues/2239 :)

Thank you!!

/close

[2020-10-05 21:51] #5024 closed

[2020-10-06 11:06] stp-ip commented on #2959
/remove-lifecycle rotten

[2020-10-06 14:03] chris-short commented on #5156
I could not find a native way to do this in YouTube.

I started a discussion in #sig-contribex Slack tagging both groups. Will continue updating as I get info here.

[2020-10-06 15:15] DiptoChakrabarty commented on #5096
Hey I am interested in this , can I know the exact duration of this program . Thanks.

[2020-10-06 15:17] SergeyKanzhelev commented on #5096
https://github.com/cncf/mentoring/tree/master/communitybridge/2020/q3-q4#timeline

[2020-10-06 19:30] jberkus commented on #5096
It's shifted my more than a week; we're pretty sure this project will take extra time.  See spec, linked above.

[2020-10-07 05:59] JeremyOT commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/e036faa5-6d5e-40ad-b070-6241f7235d65-jeremy-olmsted-thompson-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-10-07 15:31] #5169 closed

[2020-10-07 17:00] mrbobbytables commented on #4710
/assign @LappleApple

[2020-10-07 17:04] mrbobbytables commented on #4399
@celestehorgan do you think we should close this issue and track in k/website or another issue?

[2020-10-07 17:05] mrbobbytables commented on #4289
looping in steering for review 👍 It might be handled by the sig check ins.

[2020-10-07 17:07] mrbobbytables commented on #4125
It doesn't solve the problem, but I do plan to at least audit the ones in place this cycle.
Looping in steering for evaluation with the sig/wg checkins.
/committee steering
/assign mrbobbytables
/milestone v1.20

[2020-10-07 17:08] mrbobbytables commented on #2959
@stp-ip do you know if there has been any traction with this by chance? :x

[2020-10-07 17:11] mrbobbytables commented on #2759
@BenTheElder @spiffxp @stevekuznetsov
This has been open for awhile, what do you think? Is the e2e testing docs  up to date enough to call this good?

[2020-10-07 17:13] mrbobbytables commented on #1913
/committee steering
This is similar to https://github.com/kubernetes/community/issues/4125 - should this be rolled into the annual sig/wg checks?

[2020-10-07 17:14] mrbobbytables commented on #300
/lifecycle frozen

[2020-10-07 17:15] mrbobbytables commented on #357
/assign @dims @johnbelamaric
Can you take a look at this and see if its still relevant? or should we move to close it?

[2020-10-07 17:17] mrbobbytables commented on #3064
I think this is safe to close for now. A good chunk has been merged or closed. We probably need to revisit it from the beginning  :x

/close

[2020-10-07 17:17] #3064 closed

[2020-10-07 17:19] mrbobbytables commented on #3899
Following up on this item, we did come to the conclusion that we should not move forward with an org wide linter. 👍
I'm going to go ahead and close it out, but If you have any questions or concerns please feel free to reopen :)

/close

[2020-10-07 17:19] #3899 closed

[2020-10-07 17:20] mrbobbytables commented on #1808
/assign @mrbobbytables

[2020-10-07 17:21] mrbobbytables commented on #2873
/assign @mrbobbytables

[2020-10-07 17:22] mrbobbytables commented on #4446
Just checking in on this, now that we have the slack integration - do you think should be closed? or are there other work items.

[2020-10-07 17:23] mrbobbytables commented on #3362
/assign @castrojo
/milestone v1.20

[2020-10-07 17:24] mrbobbytables commented on #2659
Did we make some progress on this? Just circling back and checking in^^:;;;

[2020-10-07 17:25] mrbobbytables commented on #3708
/assign @nikhita @mrbobbytables @castrojo
/milestone v1.20

[2020-10-07 17:27] mrbobbytables commented on #3281
/assign @jberkus
/milestone v1.20
We should document this in our communications directory.

[2020-10-07 17:27] stp-ip commented on #2959
Slow progress especially due to us having the nginx in place.

[2020-10-07 17:50] mrbobbytables commented on #2959
kk, no worries - I just wanted to double check 👍

[2020-10-07 17:54] mrbobbytables opened #5198 "Community Service Index"
**Further details will be added later**

At this time, services (request new repo, request swag, slack channel etc) that are available to contributors, leads etc are scattered throughout various repos and difficult to find.

These services should be indexed with a short description and linked to from the contributor website. The issue is being created here as many of the services to be surfaced re

[2020-10-07 18:02] spiffxp opened #5199 "wg-k8s-infra: multiple meeting recordings missing from youtube playlist"
Playlist link: https://www.youtube.com/playlist?list=PL69nYSiGNLP2Ghq7VW8rFbMFoHwvORuDL

I suspect all of these are due to the splain/youtube automation flaking out.  I'm happy to manually upload and update the playlist if it'll ease burden on youtube/zoom admin.

I moved all recordings in our zoom account to trash if they had been previously uploaded, leaving the following which need to be upload

[2020-10-07 18:38] BenTheElder commented on #4289
FWIW I've personally found things like the heavily moderated #chairs-and-techleads channel extremely helpful for being able to keep up with important notices since starting as SIG Testing chair.

As long as critical communications are kept in these high signal-to-noise environments, keeping up has not been problematic for me at least.

On the other hand, I frequently see people reach out via other

[2020-10-07 19:16] spiffxp commented on #5199
Link to slack thread: https://kubernetes.slack.com/archives/C1TU9EB9S/p1602097305225400

My take-away is that the current automation is a bit flaky, and it'll be easier to download the recordings from Zoom and then manually upload them, at least to backfill what's currently missing.

[2020-10-07 19:31] spiffxp commented on #5199
/assign @castrojo
who offered to help upload if I could get recordings into a bucket
[code]

[2020-10-07 19:46] mrbobbytables opened #5201 "Zoom Automation Review"
The splain automation has been incredibly flakey. Many meetings not being uploaded at all, and for the sigs that have had it configured they believe everything is working as intended.

Splain has been contacted multiple times about the flakeyness of uploads, without any real solution.

We should investigate other options - zapier has some integrations that might work as an alternative.

Details [P

[2020-10-07 21:03] mrbobbytables commented on #5180
Just as a general note - we'd really like the YT mods to help with wrangling of posting of videos. Lately It's just been myself, @markyjackson-taulia and @castrojo and tbh - @markyjackson-taulia <3 has been the one really carrying the torch lately. We really need more folk to help with the general responsibilities of being YT admins =/

[2020-10-07 21:21] markyjackson-taulia commented on #5180
If I can help anyone who sees this issue and wants to learn, just let me know :-)

[2020-10-08 12:44] mrbobbytables commented on #2724
/assign @LappleApple
For some additional eyes

I think this can be closed? or at least brought up again in k/enhancements. I don't think it'll get traction/visibility over here.

[2020-10-08 12:48] LappleApple commented on #2724
@mrbobbytables I'm not 100% sure -- we've circled this issue a few times recently but haven't come to a definitive yes/no. Should we try in Slack one more time? Would be great if we could determine and resolve there and not have to discuss at a meeting. :)

[2020-10-08 12:52] justaugustus commented on #2724
@mrbobbytables -- can you forklift the issue over to k/e? I think you're the only one of us with access to do so.

[2020-10-08 13:03] mrbobbytables commented on #3795
I've been thinking about this more, and I think it depends on scope.
The triage workflow one required ALOT of input from many different sources. It was good to go through that to make sure everyone's thoughts were gathered.

Other smaller changes like requiring the passcode for zoom, I wouldn't bother with a full blown KEP for it.

[2020-10-08 13:04] mrbobbytables commented on #2724
I can move it over there 👍

[2020-10-08 16:21] LappleApple commented on #4710
This is a great idea—thanks @onlydole! And thanks @mrbobbytables for looping me in. Two things:

- Maybe Discuss is the right tool for generating the feedback—I'll defer to others as I haven't used it. We might also encourage posting a structured (and brief) Google Form created by the SIG to gather user feedback on specific points or details. A highly polished, inspiring and thorough example of a

[2020-10-08 23:54] castrojo commented on #5201
Quick in progress update, still early days. We want to be able to upload to youtube without needing to give the near 100 chairs/tech leads admin access on youtube, what I've prototyped so far is:

1) zapier zap from a SIG Zoom account to the K8s google drive.
2) zapier zap from K8s google drive to youtube via the contributors@ gsuite account.

We can even set the visibility as private by default s

[2020-10-09 15:50] mbbroberg commented on #5156
Note from our team meeting today: we may find some options in the team Zapier mentioned in  #5201.

[2020-10-09 15:52] mbbroberg commented on #5201
Both @gkarthiks and I are interested and inexperienced with Zapier. Let us know how we can help (and get access to build out more automation for Comms) 👋

[2020-10-10 02:51] sourabhsingh282 commented on #5162
I would like to work on this

[2020-10-10 14:27] mrbobbytables commented on #5162
@sourabhsingh282 - I think @evalsocket is working on it - if they're not interested you're welcome to though :)

[2020-10-11 20:50] chris-short commented on #5180
Teach me, Obi-Wan @markyjackson-taulia.

This is a muscle I need to learn.

[2020-10-11 21:01] markyjackson-taulia commented on #5180
@chris-short I will ping you tomorrow. Should take no more then 39 mins..

[2020-10-12 11:21] JoKeR-88 opened #5208 "REQUEST: New Slack <[channel|usergroup|bot|token|webhook]> <[channel|usergroup|bot|token|webhook] name>"
**GitHub Username:**

**Slack Username:**

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

**Name of Requested Resource:**

**Description of Request:**

[2020-10-12 11:30] mrbobbytables commented on #5208
With the issue being blank, I think this was accidental 👍  Going to go ahead and close. @JoKeR-88 please reopen with more info if you did intend to open it.

/close

[2020-10-12 11:30] #5208 closed

[2020-10-12 12:09] irvifa opened #5210 "REQUEST: New Slack channe kubernetes-docs-bn"
**GitHub Username:**

@irvifa

**Slack Username:**

@irvifa

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

Channel

**Name of Requested Resource:**
kubernetes-docs-bn

**Description of Request:**
This kubernetes-docs-be is should be renamed as kubernetes-docs-bn

[2020-10-12 12:10] irvifa commented on #5210
/assign

[2020-10-12 14:58] #5210 closed

[2020-10-12 17:37] rahul799 commented on #5096
Hello mentors,
I have applied for Community-bridge. Just curious to know that when the results will be declared?

[2020-10-12 19:55] mbbroberg opened #5213 "REQUEST: New communication about Steering Committee results!"
**What do you want send out?** (Please include a link to a draft)

The Steering committee, via @jberkus, requested an article on the Steering Committee results.

https://docs.google.com/document/d/1Qz-DsXt7uohIWjPsFxpuFHWtx2CSwW7i2mQ4h77thFI/edit

- [x] I agree that if this is urgent, I will @contributor-comms in #sig-contribex Slack.

[2020-10-12 19:55] mbbroberg commented on #5213
/assign @kaslin

[2020-10-12 20:12] castrojo commented on #5213
Here is the information from last year: https://kubernetes.io/blog/2019/10/03/2019-steering-committee-election-results/

[2020-10-13 00:01] jberkus commented on #5213
@kaslin pinged us and we're coordinating

[2020-10-13 00:08] jberkus commented on #5096
At the end of this week.

[2020-10-13 03:32] jberkus commented on #5096
@Oghenebrume50 hey, reminder: you only have 24 hours left to complete your CommunityBridge application for this project, if you are going to.

[2020-10-13 06:53] Msutapalli opened #5215 "CredentialsError: Missing credentials in config"
While passing AWS SSM parameters via External secrets in Kubernetes, I'm getting the secret status as "ERROR, Missing credentials in config"

Could someone help me with this issue?

[2020-10-13 06:54] #5215 closed

[2020-10-13 13:26] mbbroberg commented on #5213
Merged!

[2020-10-13 13:26] #5213 closed

[2020-10-13 16:53] celestehorgan commented on #4399
@mrbobbytables The correct escalation for this issue (at this point) is to take this to the WG Naming mailing list and propose, for each term to replace, a replacement (or to remove the language entirely, as it were).

I can take care of that and we can close this issue after?

/assign

[2020-10-13 19:14] spiffxp commented on #2759
They are not up to date enough IMO, I would happily review any changes to them.  My bandwidth for updating them myself is low

[2020-10-13 19:20] spiffxp commented on #2759
At a glance, a few things I would recommend:
- drop references to ci-test.k8s.io and pr-test.k8s.io, instead refer to:
  - prow.k8s.io
  - testgrid.k8s.io
  - prow.k8s.io/an/example/spyglass/path/for/a/specific/ci-job
  - prow.k8s.io/an/example/spyglass/path/for/a/specific/pr-job
- instructions on how to get kubetest (IIRC it can't be installed via go get)
- rewrite kinds of tests to instead be te

[2020-10-13 19:21] spiffxp commented on #5199
/close
These were all uploaded last week.  Thanks @castrojo

[2020-10-13 19:25] markyjackson-taulia opened #5217 "Add recorded video tutorial for YouTube administrators"
Create a video walkthrough of the youtube playlist clean up for current and future Youtube administrators.

[2020-10-13 19:25] markyjackson-taulia commented on #5217
/assign @markyjackson-taulia
/sig contributor-experience

[2020-10-13 21:10] mrbobbytables commented on #4399
That sgtm! Thanks for taking point :)

[2020-10-14 09:00] Abhishek-Dev09 commented on #5096
@jberkus Is am late or CommunityBridge still accepting the application for this project ?

[2020-10-14 17:15] mrbobbytables commented on #2324
Will follow up at the next github admin meeting.

[2020-10-14 17:17] mrbobbytables commented on #3621
looping in sig-usability to see if they have any suggestions
/sig usability

[2020-10-14 17:18] mrbobbytables commented on #3753
/assign @castrojo

[2020-10-14 17:28] JasonvanBrackel opened #5220 "Fix Broken Hyperlinks in the Getting Started Guide"
Looking at https://www.kubernetes.dev/docs/guide.  There are a number of broken links when the page is rendered from Hugo to HTML.  For example https://www.kubernetes.dev/docs/guide/#sign-the-CLA at the top of the page does navigate to the #sign-the-cla anchor.

Example
![image](https://user-images.githubusercontent.com/942110/96023857-0b3a1e80-0e21-11eb-892d-41901cf30d2f.png)

[2020-10-14 17:28] JasonvanBrackel commented on #5220
/sig contributor-experience

[2020-10-14 17:29] mrbobbytables commented on #3795
/remove-lifecycle rotten

[2020-10-14 17:31] JasonvanBrackel commented on #5220
/assign

[2020-10-14 17:33] alvaroaleman commented on #3621
While the question of posting a comment on every failure is pretty controversial, I was wondering what ppl think about "Only include jobs that ran against the latest commit" in the comment. Today the comment might contain tests against multiple versions of a PR which confuses a lot of ppl (including me). Does anyone have thoughts on that?

[2020-10-14 17:33] mrbobbytables commented on #4799
@coderanger what do you think? You've been cleaning it up? Do you think it'd be good to keep it or create a new channel?

[2020-10-14 17:34] mrbobbytables commented on #4854
Just pinging in here - any update on this?

[2020-10-14 17:37] mrbobbytables commented on #5052
This should be resolved with the contributor guide clean up that @celanthe is doing :D

/assign @celanthe

[2020-10-14 17:45] mrbobbytables commented on #4585
This is complete 👍
/close

[2020-10-14 17:45] #4585 closed

[2020-10-14 19:50] lguinn commented on #5021
There was a similar discussion a few years ago that ended with some negative responses, claiming that this is not important. Let's push through this time to a better place. An issue does not need to affect everyone to be important and worth the long-term effort to resolve it.

[2020-10-14 20:17] castrojo opened #5222 "Write up method for community contributed chapters for recordings"
We can make chapters on our youtube videos to make it easier for users to consume our content. The format is basically:

0:00 Begin
00:15 Foo
00:30 Bar

And so on. We could do this for large meetings like the community meeting where we can chapter up the SIG updates, the release, etc. All we would need is for a youtube admin to copy and paste the table of contents from a volunteer who just watches

[2020-10-14 20:17] castrojo commented on #5222
/sig contributor experience

[2020-10-14 20:17] castrojo commented on #5222
/sig contribex

[2020-10-14 20:36] dchen1107 commented on #4959
Completed

[2020-10-15 14:06] #5220 closed

[2020-10-15 18:47] jhvhs commented on #4959
[Completed](https://www.dropbox.com/s/2rrwa3n8ugnw5yo/konstantin-semenov-the-inclusive-speaker-orientation-lfc101-certificate.pdf?dl=0)

[2020-10-15 19:31] kbarnard10 commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/54023e87-7893-45d3-9a48-642699eded2c-kaitlyn-barnard-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-10-15 20:21] castrojo commented on #5222
Riaan's done the community video: https://www.youtube.com/watch?v=h7jth3Js-Vg&feature=youtu.be

Looks great! We're thinking along the lines of appending text to videos we'd want to chapterize with something like: "Watching this video? Help the community by creating a ToC for this by following these instructions", and then a github template, then anyone can click through and submit a ToC and then w

[2020-10-15 21:16] onlydole commented on #5180
@mrbobbytables / @markyjackson-taulia - After this week I free up quite a bit and am able to help accordingly! If you have any requests, I'm happy to be a point of delegation (and will respond to any `youtube-admins` mentions I see in Slack).

[2020-10-16 00:35] chris-short commented on #5180
I'm around tomorrow, @markyjackson-taulia.

[2020-10-16 01:07] markyjackson-taulia commented on #5180
I'm happy to just hang out! But if you can't get enough of me: https://youtu.be/IbZ2wnvu_Zs

[2020-10-16 08:27] dty1er opened #5225 "Missing link in CLA.md"
The top link (https://www.cncf.io/community) in [CLA.md](https://github.com/kubernetes/community/blob/master/CLA.md#the-contributor-license-agreement) results 404 now.

[2020-10-16 11:45] #5217 closed

[2020-10-16 11:51] #5225 closed

[2020-10-16 13:11] mrbobbytables opened #5229 "[Tracking Issue] Developer Guide Audit"
**Problem**
Documentation is the **go-to** reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). This puts up significant road blocks for contributors, either getting started or looking for best practices on how they should approach a problem.

**Goal**
Audit the developer guide and note the sections that

[2020-10-16 13:36] mrbobbytables opened #5230 "[Developer Guide Audit] API Machinery"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 13:46] mrbobbytables opened #5231 "[Developer Guide Audit] Architecture"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 13:56] mrbobbytables opened #5232 "[Developer Guide Audit] CLI"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 13:59] mrbobbytables opened #5233 "[Developer Guide Audit] Instrumentation"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 14:02] mrbobbytables opened #5234 "[Developer Guide Audit] Node"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 14:04] mrbobbytables opened #5235 "[Developer Guide Audit] Release"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 14:07] mrbobbytables opened #5236 "[Developer Guide Audit] Scalability"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 14:10] mrbobbytables opened #5237 "[Developer Guide Audit] Scheduling"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 14:12] mrbobbytables opened #5238 "[Developer Guide Audit] Storage"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 14:15] mrbobbytables opened #5239 "[Developer Guide Audit] Testing"
Documentation is the go-to reference for contributors. Parts of the developer guide have been cited as vastly out of date (e.g. referencing VERY outdated versions of docker). We are asking each SIG that owns a portion of the developer guide to audit their [devel guide documentation](https://github.com/kubernetes/community/tree/master/contributors/devel/).

**This does not have to include updating

[2020-10-16 14:24] ameukam commented on #3938
@mrbobbytables Should we open a PR on https://github.com/1Password/1password-teams-open-source for an open source plan or do we need to use a Business Trial Plan for 1password evaluation ?

[2020-10-16 15:12] mrbobbytables commented on #3938
@ameukam open source plan :)

[2020-10-16 16:14] xing-yang commented on #5238
Hi @mrbobbytables, do the docs shown under sig-storage have to be files in this repo?  Can we add links to docs from other places, i.e., https://kubernetes-csi.github.io/docs/?

https://github.com/kubernetes/community/tree/master/contributors/devel#sig-storage

[2020-10-16 16:25] mrbobbytables commented on #5238
They don't have to be in this repo, but I would definitely add a sign-post from there to the other docs. - The devel directory is where we direct folks getting started so any pointers on where to go would be very useful.

[2020-10-16 17:32] lavalamp commented on #5230
@apelisse and/or @jpbetz, can one of you do this?

[2020-10-16 17:38] apelisse commented on #5230
@jpbetz, I'll let you look at [controller](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/controllers.md) and [generating clientsets](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/generating-clientset.md) since if it's not deprecated, it will soon thanks to what you're doing.
I'll definitely look at [strategic mer

[2020-10-16 17:38] apelisse commented on #5230
@mrbobbytables I assume we should also suggest additions to the doc for missing features?

[2020-10-16 18:02] mrbobbytables opened #5242 "[Tracking Issue] Virtual Contributor Celebration 2020"
**Goal**
Create and host an event for Kubernetes contributors to regain some of the missed social and networking with in-person events.

**Context**
Contributors are very much feeling virtual-event burnout and miss the "hallway" track of regular events. Polling the leads has shown very little interest in pre-recorded presentations, but a desire for more interactive and fun events.

- Social fun (g

[2020-10-16 18:03] mrbobbytables commented on #5242
/assign @mrbobbytables @castrojo @jeefy
to kick things off

[2020-10-16 18:04] markyjackson-taulia commented on #5242
I would love to help in any way possible!

[2020-10-16 20:21] Huang-Wei commented on #5237
Thanks Bob for raising this. The docs and source code pointers are really dated, need a polish.

I will see if any volunteer is interested first, so
/help

cc/ @adtac in case you want to incorporate https://github.com/kubernetes/kubernetes/issues/91120 into folder https://github.com/kubernetes/community/tree/master/contributors/devel/sig-scheduling.

[2020-10-16 20:28] mrbobbytables commented on #5230
Yup. It gives us a good starting point to get those items documented.

[2020-10-19 12:52] jeefy commented on #5242
Organize games? Online? lol I think I can help here.

ACK and sign me up, I've got a few ideas

[2020-10-19 13:46] adtac commented on #5237
sure, I can help with this. I'll open a PR to move the scheduler plugins README to this repo first.

[2020-10-19 13:55] mrbobbytables commented on #5237
Awesome, thank you!

[2020-10-19 22:00] jberkus commented on #5096
@Abhishek-Dev09 yes, you were too late.  Sorry.

[2020-10-20 18:45] detiber commented on #4641
For configuring the alerts, I believe this will require modifying the prometheus alert manager to route the Boskos aws alerts separately from all of the other alerts here: https://github.com/kubernetes/test-infra/blob/983896656456bc61f0e444e603f362a4de3d7139/config/prow/cluster/monitoring/alertmanager-prow_secret.yaml

[2020-10-21 13:00] #5162 closed

[2020-10-21 13:21] mrbobbytables commented on #5034
I think at this point our best bet is to send a mail to the list and then call it done.

[2020-10-21 13:28] mrbobbytables opened #5254 "Retire WG LTS"
WG LTS has retired: ref https://github.com/kubernetes/community/pull/5240
/assign @castrojo @mrbobbytables

### Steps:
- [x] Send an email to kubernetes-dev@googlegroups.com and community@kubernetes.io alerting the community of your intentions to disband or merge. [example]
- [x] Archive the member and lead/chair mailing lists/[GoogleGroups]
- [x] Check the [slack-guidelines.md] for latest process

[2020-10-21 16:35] palnabarun commented on #5242
Count me in for any help required. :)

Would love to help again with the summit. 🙌🏽

[2020-10-21 16:38] cpanato commented on #5242
i would like to help as well in any way, making virtual coffee or anything :)

[2020-10-21 16:43] eddiezane commented on #5242
Echoing my comments from sig-contribex call.

It would be great if we can find a way to incorporate "meet the sigs" in someway. 2019 San Diego's session was where I managed to find a home in the community. Target audience could potentially be more for New Contributor Workshop folks though.

[2020-10-21 17:41] vishh commented on #5034
Not sure what exactly archiving a mailing list entails, but I went ahead and froze the mailing list with all the knobs available via google groups. All old email threads are still accessible, only group owners can post new messages and no new members can join unless invited by group owners. Is that it?

[2020-10-21 19:10] mrbobbytables commented on #5034
@vishh That's it :) As long as no one else can post. If you can, do one final post stating that the group is retired and that should call it done.

[2020-10-21 19:20] mrbobbytables commented on #5233
Additional Item (just stumbled across it):
- [Instrumentation quickstart should use or mention wrappers for prometheus](https://github.com/kubernetes/community/issues/5080)

[2020-10-22 07:38] idvoretskyi opened #5260 "Enabling the LF Insights bot app in the Kubernetes Slack workspace"
The Linux Foundation is looking to add the metrics analytics bot (dev-analytics-bot) to the Kubernetes Slack.

Once added to the workspace the app will be part of the public channels and start reporting metrics to the Insights which will then be analyzed and presented on the Slack dashboard for Kubernetes in Insights (https://lfanalytics.io/).
A sample Slack dashboard looks like https://tinyurl.co

[2020-10-22 07:45] coderanger commented on #5260
To echo my comments on Slack, I think this clears my veto-level concerns as a Slack admin, but I don't think the K8s Slack Admin team is willing to champion/own this request so I would like to see a SIG confirm they would like this data and will (probably, not like a binding thing) use it. I agree with your labels that it would probably be SIG-ContribEx but if SC or marketing would like to champio

[2020-10-22 13:09] mrbobbytables commented on #5260
Without the email scope, i'd be okay with at least testing it. We do occasionally publish the logs from our channels and this is something similar.

This is a bit of an aside, but I would really like to get an idea of what lfanalytics is trying to do (devstats replacement?). Most of the dashboards and metrics being displayed in the current form aren't useful, difficult to drill down (can't filter

[2020-10-22 14:02] dims commented on #5260
I agree with @mrbobbytables 's assessment. i'd like to dig into the value of it as well.

[2020-10-22 14:10] its-crypted commented on #5096
@jberkus when the results are going to be released?

[2020-10-22 16:57] apelisse commented on #5230
I've briefly looked at it, and to be honest, it's very hard to know if this is correct or not, since no one wants to touch "strategic-merge-patch" with a ten foot pole. We have limited knowledge on this (@mengqiy might). As far as I know, there are no other implementation of strategic-merge-patch in any other language, and the only existing implementation is directly (through staging) in Kubernete

[2020-10-22 18:24] castrojo commented on #5260
I'm +1 to trying the slack part now that the email issue is sorted.

[2020-10-22 18:29] castrojo commented on #5242
I reached out to Matt Stratton who hosts "DevOps Party Games", which is a You-Don't-Know-Jack style game.

- https://devopspartygames.com/
- https://www.youtube.com/watch?v=Cji-wxJjUoA&list=PLpIuPh9QbvVLyn55QAr9_C1UHrjKYPDng&index=4

This probably wouldn't be able to scale to have everyone being able to participate, but if we can get the right mix of people running the games it could be fun for ev

[2020-10-22 21:51] castrojo opened #5261 "Consider linking to support resources from our github templates"
![Ek9pr8jU0AEJ6YR](https://user-images.githubusercontent.com/1264109/96933752-0a436580-148f-11eb-8178-0610a43b2ced.jpg)

You can add links to external support resources in github templates, we should consider doing this so users end up in the right place.

[2020-10-22 22:08] Riaankl commented on #2759
@pymander is doing great work on https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests-kubetest2.md
I share information with him on the points @spiffxp mentioned above to add to the document.

[2020-10-26 11:13] justaugustus commented on #5235
I started some work by moving the version markers doc here: https://github.com/kubernetes/community/pull/5268

@kubernetes/sig-release-leads -- who's interested in driving the audit of our docs?

[2020-10-26 11:14] justaugustus commented on #5235
Also assigning Lauri!
/assign @LappleApple

[2020-10-26 15:43] thecrudge commented on #5242
Me too would love to help out as always :) Super exciting.

[2020-10-26 15:44] castrojo commented on #5242
Here is the schedule page: https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/program/schedule/

How does the evening after the first day vibe with everyone? I'm thinking people will be dead tired if we do it at the end.

[2020-10-26 15:47] thecrudge commented on #5242
Tuesday?

[2020-10-26 16:07] mrbobbytables commented on #5242
We are not bound to it being tied to kubecon as well.

[2020-10-26 16:47] jberkus commented on #5096
We have selected @kalkayan as the mentee for this project.  Thanks everyone for your interest!  There may be a follow-up project in the spring; we'll see.

[2020-10-26 18:38] hpandeycodeit commented on #4959
completed

[2020-10-27 04:45] Pensu commented on #5242
Would love to help out in any way possible. Count me in  :)

[2020-10-27 05:45] aravindputrevu commented on #5242
Happy to help in any way possible!

[2020-10-27 06:24] ruanchen opened #5271 "[CSI and localpv]"
it's there any talk about CSI and Local PV in the future version?

[2020-10-27 06:25] ruanchen commented on #5271
/sig storage

[2020-10-27 06:51] coderanger commented on #5271
Can you be more specific? This repo is for tracking community projects. If you would like to ask about the progress of features, that would be a question for a SIG meeting or mailing list.

[2020-10-27 09:06] Joseph-Irving commented on #4454
This KEP is no longer happening
/close

[2020-10-27 09:06] #4454 closed

[2020-10-27 13:18] mrbobbytables commented on #5242
A thought regarding timing - what are folks thoughts on potentially hosting it after the 1.20 release (December 8th)? If the focus is social, that should be the last real big "deadline" for the year.

[2020-10-27 14:08] jeefy commented on #5242
I +1 a more "EOY" type event. Make it more of a celebration as well.

On Tue, Oct 27, 2020 at 9:18 AM Bob Killen <notifications@github.com> wrote:

[2020-10-27 14:35] mrbobbytables commented on #5271
@coderanger is right; a question like that isn't going to get answered here =/ This place is the meta repo for contributor community management. His suggestion of reaching out to the sig-storage mailing list/meeting/slack channel would be the right course of action.

With that I'm going to go ahead and close this out. If you have any further questions please feel free to respond or ask in slack 👍

[2020-10-27 14:35] #5271 closed

[2020-10-27 14:43] jeefy commented on #5242
Just to get some of it out of my head

- Online games (Destiny, Among Us) and Trivia, each "lobby" hosted by someone who can handle / report on any potential COC issues.
- Have a "featured game" that we stream (on Twitch. Maybe use CNCF's Twitch?) and seed with people we know are fun and entertaining
- Bring in different podcasters and have them do "live versions" of their shows for this event
- H

[2020-10-27 15:20] markyjackson-taulia opened #5273 "Add Marky Jackson to mentoring approver role in OWNERS.md"
Add Marky Jackson to mentoring approver role in OWNERS.md

[2020-10-27 15:21] markyjackson-taulia commented on #5273
/sig contributor-experience
/assign @markyjackson-taulia

[2020-10-27 15:46] alisondy commented on #5242
I would love to help out! 👋

[2020-10-27 20:33] mrbobbytables opened #5277 "GitHub Recognition Beta: Shoutout test issue"
Test issue for the GitHub recognition beta

ref: https://github.com/kubernetes/community/issues/5175

---
/sig contributor-experience

[2020-10-27 20:33] mrbobbytables commented on #5277
Test typing below shoutout line.

[2020-10-27 22:47] munnerz commented on #5242
I'd also like to help out! 😄 +1 on something social focused.

[2020-10-28 07:50] nikhita commented on #5277
/shoutout @mrbobbytables

/shoutout @dims for test comment1

/shoutout @mrbobbytables for test comment2

[2020-10-28 08:07] nikhita commented on #5277
/shoutout @dims

[2020-10-28 08:09] nikhita commented on #5277
I've sent some feedback to GitHub. Will delete the stray shoutouts after I've received a response from them. Sorry for the noise!

[2020-10-28 11:07] dims commented on #5277
![image](https://user-images.githubusercontent.com/23304/97428305-31b18c80-18ec-11eb-96ef-af2aeb0bf155.png)

I can see the shoutout on my hover card.

[2020-10-28 16:36] alisondy commented on #5242
+1 for end of year

[2020-10-28 16:36] markyjackson-taulia commented on #5242
+1 to having this after the 1.20 release

[2020-10-28 16:50] pymander commented on #5239
@Riaankl Let's make sure to link the e2e-testing changes here.

[2020-10-28 16:54] markyjackson-taulia commented on #5277
/shoutout @nikhita

/shoutout @dims

[2020-10-28 16:56] bdresser commented on #5277
Multiple shoutouts in the same comment aren't supported yet, but they will be eventually :)

[2020-10-28 16:56] bdresser commented on #5277
/sparkle @nikhita for the great feedback!

[2020-10-29 03:05] parispittman commented on #5242
big +1 to post kubecon.

[2020-10-29 03:50] youngnick commented on #5242
+1 to having this after the 1.20 release, looking forward to staying up to see everyone!

[2020-10-29 15:19] mrbobbytables commented on #4562
/lifecycle frozen

[2020-10-29 15:22] markyjackson-taulia commented on #2657
/remove-lifecycle stale

[2020-10-29 19:05] spiffxp commented on #5199
/reopen
The two most recent meetings have also not automatically uploaded, I'll download and upload into GCS shortly

[2020-10-29 20:51] spiffxp commented on #5199
Turns out it was just one meeting, 2020-10-28 has been posted

```gs://spiffxp-k8s-recordings/Kubernetes WG K8s Infra BI-Weekly Meeting for 20201014.mp4```

[2020-10-29 21:46] markyjackson-taulia commented on #5199
This video is now processing and will be available in 5 to 10 mins.. Sorry for the delay.

[2020-10-30 15:21] mbbroberg opened #5281 "Update OWNERS for upstream marketing sub group"
This is a little out of date: https://github.com/kubernetes/community/blob/master/communication/marketing-team/OWNERS

Should include:
@Pensu
@rajula96reddy
@kaslin

[2020-10-30 15:22] mbbroberg commented on #5281
/sig contributor-experience
/area contributor-comms

[2020-10-30 16:43] #4815 closed

[2020-11-02 14:44] hi-rustin opened #5285 "owners team link broken"
The owners team link broken in https://github.com/kubernetes/community/blob/master/github-management/README.md#github-administration-team.

[2020-11-02 14:48] nikhita commented on #5285
@hi-rustin did you mean https://github.com/orgs/kubernetes/teams/owners? That link will only be visible to Kubernetes org members due to how GitHub teams work.

[2020-11-02 14:52] hi-rustin commented on #5285
Got it. Thanks!

[2020-11-02 14:52] #5285 closed

[2020-11-02 16:40] ehashman commented on #5233
Overhauling the instrumentation docs is not a trivial thing and I suspect we're unlikely to get this done before doc freeze. I'll add this to our next SIG meeting agenda.

[2020-11-02 16:42] mrbobbytables commented on #5233
@ehashman No worries, this is out of band for user facing docs :) This is our devel docs only.

[2020-11-02 18:41] mrbobbytables commented on #5242
As we've had enough +1 for post kubecon/release - I'm thinking 10th/11th->13th. Essentially Thursday/Friday through the weekend. As it will mostly be just keeping a discord up and going, we should be able to support it through the weekend with minimal overhead.

[2020-11-02 20:11] mrbobbytables commented on #5242
[Discord](https://discord.com/) is looking to be the ideal platform for this, for its robust AV and moderation capabilities. The best bot I've found is [yagpdb](https://yagpdb.xyz/). It's OSS, verification system supports an external captcha that covers the various accessibility needs.

Some additional items that need to be hammered out.
- [x] Provision discord server
- [ ] Configure Bot
    - [ ]

[2020-11-02 21:04] ehashman commented on #5233
Ah okay! Still, will take time, energy, and careful effort :)

[2020-11-03 10:40] nikhita commented on #5260
+1, would like to like understand how this data is going to be used.

Some additional concerns around permissions:

channels:history, channels:read, groups:history, groups:read, im:history, mpim:history, reactions:read, team:read, users:read, channels:join.

- `groups:history` and `groups:read` grants access to content in private channels if the app is installed there. Since the app is only intend

[2020-11-03 10:42] nikhita commented on #5261
/help

[2020-11-03 12:41] mrbobbytables opened #5292 "GitHub Recognition Beta: Community Feedback"
## Community Feedback
Please use this issue for feedback on the [GitHub Recognition Beta](https://github.com/kubernetes/community/issues/5175).

### TL;DR
Kubernetes is participating in a GitHub beta where members can recognize, thank or give kudos to other members. 🎉
For Kubernetes, this is in the form of a shoutout:
[code]
These will appear in the timeline and user hovor card.

---
Tracking Issu

[2020-11-03 12:52] coderanger commented on #5277
/shoutout @kubernetes/bots for does it work with teams?

[2020-11-03 13:00] coderanger commented on #5292
The timestamp on a shoutout doesn't have an anchor link like other events, would be nice for showing off a shoutout on Twitter or whatnot. Also it would be nice if you could use reaction emoji on them for others to +1 a shoutout without a ton of noise.

[2020-11-03 13:34] mrbobbytables commented on #4395
At this point in time only wg-policy remains with outstanding permissions issues.

[2020-11-03 16:06] LappleApple commented on #5235
/assign @hasheddan

[2020-11-03 19:40] hasheddan commented on #4959
I have completed the training and my certificate number is `LF-atf7f043jq`

[2020-11-04 12:34] mrbobbytables commented on #5242
FYI - looking for help on any of the above^^

[2020-11-04 12:40] alisondy commented on #5242
@mrbobbytables i can help put together questions for a survey regarding what activities and games folks would be interested in

[2020-11-04 18:36] justaugustus commented on #4913
Recommendation in-flight here: https://github.com/kubernetes/community/pull/5243

[2020-11-04 18:39] justaugustus commented on #5021
/assign @zacharysarah
ref: https://inclusivenaming.org/

[2020-11-04 18:42] justaugustus commented on #4399
/unassign @celestehorgan
/assign @zacharysarah

[2020-11-04 23:33] jeefy commented on #5242
Doodle poll for planning meeting: https://doodle.com/poll/5sxgtp6q7zpfdbwe

Time boxed to EOD Friday PT.

[2020-11-05 00:08] zacharysarah commented on #5021
I edited the description with WG Naming's review results. The review function of this issue being complete, I'm closing this issue.

/close

[2020-11-05 00:08] #5021 closed

[2020-11-05 00:19] zacharysarah commented on #4399
Duplicate of https://github.com/kubernetes/website/issues/17070; I recommend closing this issue.

/close

[2020-11-05 00:19] #4399 closed

[2020-11-05 08:22] nikhita commented on #4586
This came up in https://github.com/kubernetes/community/pull/5291#discussion_r516868919

[2020-11-05 08:27] nikhita commented on #5096
Related - https://github.com/kubernetes/community/issues/4586. We will also be using this app for SIG elections whenever needed.

[2020-11-05 08:28] nikhita commented on #4586
Related - https://github.com/kubernetes/community/issues/5096

[2020-11-05 10:51] warmchang opened #5297 "Wrong scheduling-framework KEP link"
The scheduling framework design has moved to https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/624-scheduling-framework/README.md

[2020-11-05 10:55] warmchang commented on #5297
/sig scheduling
/area developer-guide

[2020-11-05 11:00] nikhita commented on #5297
Closing due to https://github.com/kubernetes/community/pull/5298#issuecomment-722305112

/close

[2020-11-05 11:01] #5297 closed

[2020-11-05 21:37] mrbobbytables opened #5299 "Triage Process Feedback"
### Feedback Thread
It has now been a few weeks since the roll-out of the `needs-triage` labels. Several bumps and issues have been raised in slack and elsewhere.

Please post comments, friction points, and any other feedback in this issue.

---
/sig contributor-experience
/area community-management
/area github-management

[2020-11-05 22:30] mrbobbytables commented on #5299
### Problem
A PR that touches a file that has a sig label applied by the label key in an OWNERS file will automatically reapply the label if it is removed. This is a feature ensuring that a PR that is updated and touches a new file has the new sig label applied and signals a new group of potential owners needing to approve the PR.

The problem arises during triage when a PR touches multiple areas

[2020-11-06 15:37] mbbroberg opened #5301 "Adjust Marketing issues from umbrella to artifact"
We have multiple long-standing issues that have no end in sight. As the subgroup matures, we want to tidy up and create more in-depth instructions for new members.

Goal: Migrate from umbrella issues around blog posts to a methodology with a single artifact (markdown page) that describes the goal and tools to get there.

Process through: https://github.com/kubernetes/community/issues/3654, https:/

[2020-11-06 17:27] #357 closed

[2020-11-06 17:46] quinton-hoole commented on #4959
Great course!

[quinton-hoole-the-inclusive-speaker-orientation-lfc101-certificate.pdf](https://github.com/kubernetes/community/files/5502711/quinton-hoole-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-11-06 19:36] lavalamp commented on #5299
Yeah, this is hitting sig api-machinery repeatedly as there's lots of stuff we co-own with other sigs.

[2020-11-06 23:04] castrojo opened #5303 "Surface email filtering page on k8s.dev"
https://twitter.com/IanColdwater/status/1324842182658777089
https://github.com/kubernetes/community/blob/master/communication/best-practices.md

TLDR, add the metadata for this page to be surfaced on k8s.dev

/assign @castrojo

[2020-11-09 18:14] #5273 closed

[2020-11-09 18:53] justaugustus commented on #4913
/assign @celestehorgan
/sig docs

[2020-11-09 20:59] sftim commented on #5299
When I triage an issue in [k/website](https://github.com/kubernetes/website) eg `/triage needs-information`, sometimes the issue can be both triaged and needing triage.
Eg at the time of writing https://github.com/kubernetes/website/issues/24657 is labelled _needs-triage_ and _triage/needs-information_.

[2020-11-10 12:55] kvaps opened #5305 "SIG: Kubernetes-helm-chart sponsorship"
Hey, first sorry if I choose wrong place for this issue.

I'm having a cool project to install Kubernetes in Kubernetes using a Helm chart:
https://github.com/kvaps/kubernetes-in-kubernetes

Currently it has no many contributors, but I'm going to make a speech about it soon.
I would like to share it with the community and if possible to continue development as **kubernetes-sigs/kubernetes-helm-cha

[2020-11-10 12:56] kvaps commented on #5305
/sig cluster-lifecycle

[2020-11-10 12:58] mrbobbytables commented on #5305
This likely won't get much visibility here in this repo. For new initiatives you'll want to reach out on the [sig-cluster-lifecycle mailing list](https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle#contact).

[2020-11-10 12:59] kvaps commented on #5305
Hi @mrbobbytables,
Thanks for pointing out, I'll write on mailing list then!

[2020-11-10 13:13] kvaps commented on #5305
OK, let's move the conversation to
https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/Tmr7LZ0g5iU

[2020-11-10 13:13] #5305 closed

[2020-11-10 13:39] mrbobbytables commented on #5231
Reminder ping @derekwaynecarr @dims @johnbelamaric
It doesn't have to be done this cycle, but would like to get it on the radar to be evaluated if possible^^;;; Identified items become something we can farm out to update.

[2020-11-10 13:41] mrbobbytables commented on #5232
Reminder ping @seans3 @soltysh @pwittrock
It doesn't have to be done this cycle, but would like to get it on the radar to be evaluated if possible^^;;; Identified items become something we can farm out to update.

[2020-11-10 13:42] mrbobbytables commented on #5234
Reminder ping @dchen1107 @derekwaynecarr
It doesn't have to be done this cycle, but would like to get it on the radar to be evaluated if possible^^;;; Identified items become something we can farm out to update.

[2020-11-10 13:43] mrbobbytables commented on #5236
Reminder ping @mm4tt @shyamjvs @wojtek-t

It doesn't have to be done this cycle, but would like to get it on the radar to be evaluated if possible^^;;; Identified items become something we can farm out to update.

[2020-11-10 13:46] soltysh commented on #5232
@mrbobbytables it's on our radar, but not sooner than after the code freeze :wink:

[2020-11-10 13:56] mrbobbytables commented on #5232
@soltysh don't blame ya there in the least XD Just wanted to make sure it was visible :) Thank you for the ack!

[2020-11-10 13:56] mm4tt commented on #5236
Hey Bob, this devel documentation is old and indeed might be outdated in many places. I skimmed through it and while some of the instructions there may still work it definitely doesn't reflect the spirit of current scalability efforts. For example, the documentation doesn't mention clusterloader2 at all.

I'm adding this to my TODO list. Unfortunately, I won't be able to do it this quarter. Will a

[2020-11-10 13:57] mrbobbytables commented on #5236
No worries @mm4tt :) Thank you for the update. I just wanted to make sure its on folks radar.

[2020-11-10 14:04] mrbobbytables commented on #5299
@sftim That is indeed the intended behavior. There was some back and forth on it, but it was decided that method would be best.

[2020-11-10 14:18] sftim commented on #5299
When adding this to a repo, existing issues don't get _needs-triage_ added; is that right? I think I'd prefer it to have the old issues get that label too if they need it.

[2020-11-10 15:40] mrbobbytables commented on #5242
[Planning Doc](https://docs.google.com/document/d/15xsaoy0VeX0Z7-908Hm4ojVheHxXZB2MavNzQWgDcL0/edit)- Please refer to the planning doc for **up-to-date information.**

Before the meeting tomorrow, please review the open questions and either add answers/questions to the doc or add your thoughts in the open threads in #summit-staff slack channel.

---
**Timeline**
- Week of 11/9
  - Form for game/ac

[2020-11-10 17:28] thockin commented on #5299
I am not sure that needs-triage is useful for PRs.  At least *I* don't pay attention to that.

[2020-11-10 20:44] ehashman commented on #5299
Feedback from SIG Instrumentation:

- We use and find needs-triage useful for both issues and PRs. It helps us track what issues and PRs we haven't looked at already.
- We are running into some contention issues when things span multiple SIGs. We might want to triage/accept things for SIG Instrumentation, but e.g. maybe SIG API-Machinery disagrees with us. We're not really sure how to manage this.

[2020-11-11 05:12] nikhita commented on #3455
Closing since we have the `needs-triage` and `triage/accepted` workflow now. Please reopen if needed.

/close

[2020-11-11 05:12] #3455 closed

[2020-11-11 05:16] nikhita commented on #4781
@parispittman do you think this can be closed?

[2020-11-11 05:18] nikhita commented on #4854
:wave: would this be a part of slack-infra?

[2020-11-11 05:26] nikhita commented on #5299
Old issues and PRs will get the `needs-triage` label if there are any changes on the issue/PR i.e. it is reopened or labels are updated. Unconditionally updating old issues becomes trickier because it could mean that we'd hit the rate limit if there are a lot of issues (which is usually the case for kubernetes repos).

[2020-11-11 12:03] sftim commented on #5299
Is there any mechanism for trickling old, open issues into Prow's labelling mechanisms? Even 1 per minute would be useful I think.

[2020-11-12 16:13] soltysh commented on #5232
Some work was done by Phil in https://github.com/kubernetes-sigs/cli-experimental/pull/48 but I'll keep it open for full review in the upcoming weeks.

[2020-11-12 17:47] logicalhan commented on #5080
/assign

[2020-11-12 17:48] ehashman commented on #5233
@logicalhan will take the lead on the doc review, and we've also identified some other areas for improvement/development in the dev docs.

[2020-11-13 03:55] hzliangbin opened #5315 "Update broken links"
[ Ephemeral Containers KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190212-ephemeral-containers.md) turns to be `404 nout found`. it would be a help to update the [doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/troubleshoot-running-pods.md).

thx!

[2020-11-13 03:56] hzliangbin commented on #5315
/ sig node

[2020-11-13 12:14] zinus92 opened #5316 "Prefixes and Suffixes"
Hello,
I would like to make a small clarification (I apologize for the fussiness). In SI, the symbols "m, k, M, G, T, etc." they are **prefixes**, not suffixes.

[2020-11-14 12:37] LappleApple commented on #4000
Adding discussion notes raised over various Release Team (1.19) and Enhancements subproject meetings since June 2020

### Process improvements and clarification needs

#### General

- [ ] **AI:** Need a clear workflow so that we can build tooling around it
- Our guidance (heuristics, goals) for graduation criteria; clarity would help reinforce neutrality when people/companies say, “this must go ou

[2020-11-14 14:08] jialiangsong commented on #4677
/assign

[2020-11-15 22:02] #4685 closed

[2020-11-15 22:16] Boes-man opened #5321 "SIG Storage - NFS Supplemental Groups not working"
/sig sig-storage

Kubernetes: 1.17.11
[NFS Volumes](https://kubernetes.io/docs/concepts/storage/volumes/#nfs)

The external nfs export is using Group based ID for permissions on the folder. EG:
ls -lZ /data/folder
drwxrwsr-x 2 root 1140214 ? 4096 Sep 30 08:55 subfolder1
drwxrws--- 2 root 1140214 ? 4096 Sep 30 08:55 subfolder2
drwxrws--- 2 root 1140214 ? 4096 Sep 30 08:55 work

It is expected the t

[2020-11-15 22:30] mrbobbytables commented on #5321
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2020-11-15 22:30] #5321 closed

[2020-11-16 13:39] sftim commented on #4953
Relevant to https://github.com/kubernetes/website/issues/25043

[2020-11-16 17:28] dims commented on #5092
/assign

[2020-11-16 18:06] mrbobbytables commented on #5315
design proposals are deprecated and there for historical purposes only. The enhancement repo is the correct location for any new info.

/close

[2020-11-16 18:06] #5315 closed

[2020-11-16 18:07] mrbobbytables commented on #5316
Which docs are you asking to update?

[2020-11-16 18:14] mrbobbytables commented on #5034
All items that can be completed are done. Going to go ahead and close this out.

/close

[2020-11-16 18:15] #5034 closed

[2020-11-16 18:29] jeremyrickard commented on #2725
/retitle Perform survey of KEPs and identify those needing update to directory format

[2020-11-16 19:08] mrbobbytables commented on #5242
Smaller break down of help wanted tasks are being called out in the `#summit-staff` channel.

[2020-11-16 19:41] zinus92 commented on #5316
Sorry, I'm referring to community/contributors/design-proposals/scheduling/resources.md

[2020-11-16 20:07] geoffcline commented on #4953
I'm working on adding a section to the docs contributor guide with videos/links for new people.

[2020-11-16 21:33] mrbobbytables commented on #5316
That doc is for [historical purposes only](https://github.com/kubernetes/community/tree/master/contributors/design-proposals#kubernetes-design-documents-and-proposals). Updates are blocked to the entire design-proposal directory as the process was replaced by [Kubernetes Enhancement Proposals](https://github.com/kubernetes/enhancements)

/close

[2020-11-16 21:33] #5316 closed

[2020-11-16 22:41] sftim commented on #4953
Consider adding that to https://k8s.dev/ and then having the contribution pages on https://k8s.io/ link to the new content you add into https://k8s.dev/
(this is because it's helpful to have consistent “how do I contribute to component _x_?” documentation, rather than each SIG having its own style).

[2020-11-17 16:24] hzliangbin commented on #5315
@mrbobbytables  thx

[2020-11-17 18:11] mrbobbytables commented on #5052
/help

[2020-11-17 18:13] mrbobbytables commented on #5146
I'm going to go ahead and close this out - with the comms regarding the updates, things should be okay and sigs.yaml will eventually be updated as people change meetings.

/close

[2020-11-17 18:14] #5146 closed

[2020-11-17 18:16] mrbobbytables commented on #5019
With the election completed, and retro held this should be good to close :)

Thanks everyone!

/close

[2020-11-17 18:17] #5019 closed

[2020-11-20 15:42] #5238 closed

[2020-11-23 18:46] championshuttler commented on #5261
@castrojo What are the resources I need to add, I want to take a stab ;)

[2020-11-24 13:32] mrbobbytables commented on #5254
All items that can be completed, have been. Going to call this done.

/close

[2020-11-24 13:32] #5254 closed

[2020-11-24 16:05] parispittman commented on #3479
/remove-lifecycle rotten

i'm going to put this in as TODOs on the doc and then close this issue

[2020-11-24 16:44] championshuttler commented on #5303
Hi @castrojo , I would like to help on this bug, can you help me with what i need to add and where? Thanks

[2020-11-24 21:09] spiffxp commented on #5199
/close

[2020-12-02 10:24] srinathkm opened #5339 "pod cidr not assigned during kubeadm init"
This issue started happening after the system was updated using yum. Currently the OS details are :

**Linux abcd.com 5.4.17-2036.100.6.1.el7uek.x86_64 #2 SMP Thu Oct 29 17:04:48 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux**

After kubeadm init, checking the pods and nodes shows : kubectl get nodes,pods -n kube-system shows status as CrashloopBackoff. For eg :

NAME

[2020-12-02 11:47] mrbobbytables commented on #5339
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2020-12-02 11:48] #5339 closed

[2020-12-02 17:12] #5281 closed

[2020-12-02 17:36] celestehorgan commented on #5043
Hi all,

per [the recommendation](https://github.com/kubernetes/community/blob/master/wg-naming/recommendations/master-control-plane.md), please feel free to update to use "control plane" when you are ready.

[2020-12-02 17:59] mrbobbytables commented on #5061
/assign @mbbroberg

[2020-12-02 18:06] mrbobbytables commented on #1693
Review this and determine if this can be closed -
Ref: https://github.com/kubernetes/community/blob/master/contributors/chairs-and-techleads/leadership-changes.md

[2020-12-02 18:08] mrbobbytables commented on #4584
/assign @mrbobbytables @castrojo

[2020-12-02 18:09] jberkus commented on #3281
@mrbobbytables, where on the Contributor Site structure should this live?

We will also need an kind/survey label for this repo.

[2020-12-02 18:12] mrbobbytables commented on #4395
ContribEx has followed up with every group they can. At this point remaining groups have been unresponsive. Steering should be the group to follow up with them.

[2020-12-02 18:13] mrbobbytables commented on #4743
/assign @mrbobbytables @spzala
To document the needs-triage workflow

[2020-12-02 18:14] mrbobbytables commented on #4677
/assign @mrbobbytables

[2020-12-02 18:19] mbbroberg commented on #4469
Hey @Pensu, did this happen? If so, link up the posts here and we'll close this out! Else, we can push to 1.21. Thanks!

[2020-12-02 18:35] Riaankl commented on #4677
/assign @Riaankl

[2020-12-02 18:52] palnabarun commented on #4469
Hi @mbbroberg 👋🏽, we are still collecting responses. We have a meeting in a few hours to discuss the progress of the blog series. On that note, I think it is better to be pushed to 1.21.

/milestone v1.21

[2020-12-02 18:53] palnabarun commented on #4469
Ah! I am not a member of @kubernetes/community-milestone-maintainers. 😅

@mbbroberg Please feel free to milestone this issue to v1.21.

[2020-12-03 03:52] justaugustus opened #5344 "Refining the way we communicate deprecations/wide-reaching changes to the project"
As we go through deprecations and infrastructure changes in the project, it might be a worthwhile exercise to assess and refine the way we communicate them.

I can think of a few recent examples that caused some panic and required additional lift from contributors to reframe or contort/extend support to accommodate:

- dockershim
- the k8s.gcr.io migration
- hyperkube

We should consider what it m

[2020-12-03 03:59] parispittman commented on #5344
can this be added to the release team communication role with assist from contributor-comms cc/ @mbbroberg for amplification, promotion, and education?

[2020-12-03 04:09] justaugustus commented on #5344
xref note to k-dev + Steering: https://groups.google.com/g/kubernetes-dev/c/B0mPMpDLVk4

[2020-12-03 04:12] Katharine commented on #5344
My generalised take on the latest adventure, without attempting to police personal contributor tweeting:

The people who write end-user-facing release notes (particularly for changes with action required, e.g. deprecations) should probably _not_ be the the people who wrote the code: they carry a substantial amount of context that the average person does not have, and that is fairly likely to leak

[2020-12-03 04:13] justaugustus commented on #5344
@parispittman -- Yep, I think that sounds great, with that caveat that the Release Comms subteam can be a conduit to merging the various communications streams, but the respective SIG/subproject/component area is on the hook for provide the context that should communicated.

[2020-12-03 04:13] justaugustus commented on #5344
THIS. THIS. THIS.

[2020-12-03 04:39] jeremyrickard commented on #5344
Big +1 echo to what @Katharine said.

I think so, but like @justaugustus said I think the content responsibility of the owning SIG and it's a partnership with sig-docs. To be honest (having been through a few cycles on the release team now), I think we struggle sometimes to get important things like docs and major themes in/ready sufficiently early to make sure we can communicate things correctly

[2020-12-03 04:41] dims commented on #5344
I don't think we need steering sign off on this. Cc is fine :) thanks for that!

[2020-12-03 04:43] reylejano commented on #5344
I believe that deprecations in a release should be identified by the appropriate release team role as early as possible so that the appropriate sig can prep, review, release the communications. The timeline to release communications should be cognizant of the availability of the changelog prior to the official release date.

[2020-12-03 04:48] celestehorgan commented on #5344
As a general rule: industry standard is to communicate a minimum of 6 months out (1+ year is better) from date of deprecation to date of removal. It's considered polite to communicate a schedule as soon as the descision is made, I.e.

- in release x.y.1, feature a is deprecated. It will be removed in feature x.y.3. Use feature b instead.

Which is what the console log does: the minimum is to commu

[2020-12-03 04:56] justaugustus commented on #5344
@reylejano -- to refine this a little: the owning SIG should signal to the Release Team that a deprecation is happening and that we all need to help prepare comms for it. The onus **_SHOULD NOT_** be on SIG Release to sift through issues and PRs to identify something that a SIG reviewer/approver [sh|w]ould have direct context on.

[2020-12-03 04:59] jeremyrickard commented on #5344
I agree, with a caveat.  We tracked a couple of deprecations this time around, but the dockershim one wasn't actually in the [1.20 Enhancement Sheet](https://bit.ly/k8s-1-20-enhancements). The current enhancement collection/tracking is really dependent on kubernetes/enhancements issues. The [dockershim KEP actually went in as a PR w/o issue](https://github.com/kubernetes/enhancements/pull/1985) an

[2020-12-03 05:28] lachie83 commented on #5344
Just an idea - Could we leverage the Comms team as part of the release team to manage deprecation Comms for that release? They could potentially work on these announcements prior to the release date once code and docs have made it into the release.

[2020-12-03 07:06] kikisdeliveryservice commented on #5344
This time around, I specifically tracked deprecations in the tracking sheet (they that had open issues and actively participated in the enhancements process) bc I wanted to be able to highlight them to docs or comms at a glance.  I think it's worth mentioning that all KEPs need issues and that non-trivial deprecations probably need a KEP (and a tracking issue/participate in the release process).

[2020-12-03 08:07] OmerKahani commented on #5344
I want to give my personal view:
Currently, the docker depreciation is frightening, as I am not certain what I should do. Should I start testing my application using containerd? How should I do it (set up nodes with only containerd)? What would be the upgrade path for an in-cluster upgrade?

I think a  guide for end-users who are not reading the KEPs, and maybe even not know what CRI is along with

[2020-12-03 08:19] justaugustus commented on #5344
@OmerKahani -- these resources should be helpful:

- Blog post: https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/
- FAQ: https://kubernetes.io/blog/2020/12/02/dockershim-faq/

[2020-12-03 08:36] sbueringer commented on #5344
I think we have at least two distinct target audiences for release notes: Kubernetes cluster operator and Kubernetes users.

The vast majority of the changes are only really relevant for the operators. Maybe it would help to make it easier to filter out user-facing changes. The docker deprecation is not an ideal example of this, in most cases it only affects the cluster operators, except when some

[2020-12-03 08:36] makkes commented on #5344
@justaugustus I personally strongly believe that what would take a lot of fear from people is a migration guide answering the question of "How do I migrate my **existing** K8s cluster setup with Docker to containerd or CRI-O?". Then people would see a clear path forward. Just my $0.02.

[2020-12-03 08:41] wilsonehusin commented on #5344
I totally agree with this. I sometimes get confused myself on _who_ this document is speaking to and where the boundaries are. I think it would be useful if we can further disambiguate this in announcements.

[2020-12-03 08:42] sftim commented on #5344
Following https://github.com/kubernetes/community/issues/5344#issuecomment-737751369, @makkes I agree and recommend opening an [issue](https://github.com/kubernetes/website/issues/new?labels[]=kind%2Ffeature&template=feature-request.md) in the website repo. (I can or you can).

[2020-12-03 08:46] justaugustus commented on #5344
@sbueringer -- it might be helpful to define terms here...

Where do you draw the distinction between "cluster operator" and "user"?

(Maybe naïvely) I would consider "cluster operator" ~= "user".
Concretely, if I'm providing a serving some set of applications to a consumer, the underlying infrastructure should be invisible to them (and the Kubernetes release notes become irrelevant from their len

[2020-12-03 08:51] justaugustus commented on #5344
Tangential to this issue, maybe a valuable exercise is defining personas?

(and maybe that work already exists...)
cc: @tashimi @hpandeycodeit -- SIG Usability

[2020-12-03 08:53] justaugustus commented on #5344
/sig contributor-experience release
/area release-team
/milestone v1.21

[2020-12-03 09:01] parispittman commented on #5344
@justaugustus the docs team did persona development. They are defined in the glossary now. Cluster operator, platform developer, etc. unless you are looking for something else/new. https://kubernetes.io/docs/reference/glossary

[2020-12-03 09:05] justaugustus commented on #5344
@parispittman -- no, that's perfect to potentially frame buckets of release note "types" (if that's something we decide we want to slice against). Thanks!

[2020-12-03 09:11] sbueringer commented on #5344
@justaugustus I think it's hard to differentiate sometimes.

My personal experience:
We're providing the cluster, our users/customers get a kubeconfig file and can then almost do whatever they want with their cluster (via kubectl, not via ssh). Providing includes: creating/updating/deprovisioning the cluster and monitoring the control plane and node health (this is where it get's blurry :)).

I th

[2020-12-03 09:43] makkes commented on #5344
I created https://github.com/kubernetes/website/issues/25371. This is my first issue on that repo so please bear with me in case it's not as complete as expected.

[2020-12-03 10:03] kikisdeliveryservice commented on #5344
I think that we're combining two issues here: 1) how to ensure that deprecations will be adequately communcated from the authors/sigs to the rt to the community and 2) what kind of communication that should be.

In practice, without having number 1(which I talked about earlier) we simply don't have the room to figure out what 2 should look like bc the comms that various deprecations need can only

[2020-12-03 11:05] vrock28 commented on #5344
Usually the EOL for a feature or product gets done by PM’s in collaboration with other teams like comms/doc etc. The best way i have seen it work is using a cascading method where the sig associated with the change (like dockershim deprication) could communicate to other sigs well before in hand. Each sig would then get a chance to evaluate the impact of the change and have a write up/ Communicati

[2020-12-03 11:58] OmerKahani commented on #5344
Thanks,

I used the docker as an example, I can make the same list for the depreciation notice in 1.16.

I wanted to emphasize that this kind of notice should come with a tactical guide including:
- What is the required check
- How can I find what I need to change in my cluster (what objects / configuration)
- What I should check with my application
- What is the upgrade path
- The timeline for co

[2020-12-03 15:39] sftim commented on #5344
If there were a ClusterWarning (new `kind` that I made up), or possibly an Event, in the _kube-system_ namespace, `kubectl` could have the smarts to fetch it and display it to callers when attached to a TTY.

Client side, your kubeconfig could have a mechanism to record an “I've seen this, ignore it until date _X_” note. The overall effect is to let `kubectl` and other tooling report when your clu

[2020-12-03 15:44] mkorbi commented on #5344
Looking at all the input I would assume we need to have a kind of process around it. I think from the release team the enhancement peeps are a good first place to identify if a change (imo it is maybe not only about deprecation) can call some earthquakes in the community.

This could be brought up through the release meetings and if the release team agrees the comms team takes over.
Contacting the

[2020-12-03 16:36] salaxander commented on #5344
I'm a new contributor (release team shadow) so feel free to take anything I say with any number of grains of salt you choose :)

I agree with what @lachie83 said and I think this is something that would be great to have the comms team involved in, I think it's something we could really help out with

Secondly, I really appreciate that this conversation is happening to begin with. This is a communi

[2020-12-04 14:05] dims commented on #5344
fyi, context for the record:
- Deprecation for dockershim was merged in ["[CHANGELOG: Update directory for v1.20.0-beta.2 release]"](https://github.com/kubernetes/kubernetes/commit/89b52c729cac201eef15da2b6502a5f20813a31f) ("16 days ago per commit")
- Initial tweet was https://twitter.com/dims/status/1333767999493464071 on `8:40 AM · Dec 1, 2020`
- Tweet was a screenshot of the language in the cha

[2020-12-04 15:46] mbbroberg commented on #5344
As a heads up, contrib-comms is dedicating this week's meeting to talking through this scenario to plot out how we can be helpful. cc @parispittman.

[2020-12-04 16:29] jeremyrickard commented on #5344
We had another sort of pop up yesterday with https://github.com/kubernetes/kubernetes/pull/97057

The TL;DR on this one is that ExecProbe timeouts were never honored/enforced. 1.20 fixes this bug and introduces  a feature gate that defaults to `true`. With the change, if not specified, timeout is 1s (the default that has always been there, but not enforced).

While this is a bug fix, this ends up

[2020-12-04 19:46] paulczar opened #5348 "PR template creates invalid commit messages"
It appears that the PR template creates an invalid commit message due to the `fixes:  #` section.

The offending line in the template: https://github.com/kubernetes/community/blame/master/.github/PULL_REQUEST_TEMPLATE.md#L15

What causes an invalid commit message tag: https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#do-not-use-github-keywords-or-mentions-with

[2020-12-04 19:49] mbbroberg commented on #5348
/sig contributor-experience

Thanks Paul!

Hey @castrojo, the latest policy is to not have `Fixes` annotation, right? If so, I'm down to remove it from the template.

[2020-12-04 19:55] mrbobbytables commented on #5348
The PR template is not intended to be a part of the commit msg which is whats flagging the bot. It's the text that gets loaded into the first response.

[2020-12-04 23:31] paulczar commented on #5348
Ahhh yeah good call, I don't know what I did wrong to end up with it in there. I'll close this out, pretty sure I'm wrong.

[2020-12-04 23:31] #5348 closed

[2020-12-05 20:15] dims commented on #5344
FYI news from Docker/Mirantis: https://twitter.com/justincormack/status/1334976974083780609?s=21

[2020-12-05 20:28] chris-short commented on #5344
I think involving contributor-comms earlier than later is highly advised. I
was not able to get too heavily involved due to workload and medical
appointments. But, i definitely should’ve gotten someone from the comms
team attention too.

I do think forming a process for communicating potential hot potato issues
can be improved in literally every project I’ve been a part of.

On Sat, Dec 5, 2020 at

[2020-12-07 22:26] mbbroberg commented on #5344
Building out communication systems that are helpful in these scenarios is definitely within scope of [contributor comms](https://github.com/kubernetes/community/tree/master/communication/marketing-team). Looking over this scenario, I think collaboration with release is the right entry point to catching news early and being part of the messaging after the fact. We're piloting our connection points

[2020-12-07 22:28] mbbroberg commented on #4469
You bet @palnabarun! Thanks for what you're doing 👋

[2020-12-08 05:35] #4913 closed

[2020-12-09 05:05] spzala commented on #4743
@mrbobbytables I will create a PR for this in a day or two. Thanks!

[2020-12-09 17:39] spzala commented on #4743
@mrbobbytables as I started working on it, I see that the current triage workflow is probably missing few things and we should wait before updating the flow in the guidelines. I will put some more thoughts and share the findings for discussion with the SIG and folks involved in the related triage KEP.

[2020-12-09 22:07] spzala opened #5358 "Kubernetes Issue Triage Workflow and Automation missing few items"
While working on updating the triage guideline according to the new Issue Triage Workflow and Automation KEP [1] and the new workflow[2], I noticed that the new workflow/automation seems not complete.

Please see this issue https://github.com/kubernetes/kubernetes/issues/96066  - as you can see, `triage/needs-information` and `triage/not-reproducible` were correctly added in the beginning. Later,

[2020-12-09 22:08] spzala commented on #5358
/sig contributor-experience

[2020-12-09 22:09] spzala commented on #5358
/assign @spzala

[2020-12-09 22:13] spzala commented on #5358
/cc @mrbobbytables @castrojo @nikhita @justaugustus @thockin @cblecker thanks!

[2020-12-10 01:32] spzala commented on #4743
Created this one for further discussion - https://github.com/kubernetes/community/issues/5358

[2020-12-10 21:16] castrojo opened #5360 "k8s.io/blue should point to our branding guidelines"
As a joke @marcoceppi made https://326ce5.com/ which is the hex color code for Kubernetes blue so that if you need it for slides or whatever you're working on. It then points to https://branding.cncf.io/projects/kubernetes/

We should just do k8s.io/blue and have it point right to the CNCF logo page. In order to prevent (or encourage!) this bikeshed issue, we could do k8s.io/logos or something.

[2020-12-11 01:41] alisondy commented on #5360
+1

[2020-12-11 04:06] cblecker commented on #5360
So to spec this out:
- Base domain.. k8s.io vs go.k8s.io? The latter is normally used for short links.
- Are you suggesting both blue *and* logos? Or just one or the other?

As long as the destination page is either k8s project or CNCF controlled, I don't see a problem with this.

[2020-12-13 18:57] #2307 closed

[2020-12-13 18:57] #2324 closed

[2020-12-14 16:39] castrojo commented on #5360
go.k8s.io/logo makes more sense and follows other conventions.

[2020-12-14 20:13] jeefy commented on #5242
This should get updated with the survey/feedback piece and then closed out once we get it all.

[2020-12-14 20:28] mrbobbytables commented on #5242
Yup, we'll close it out on Wednesday after the retro

[2020-12-15 08:23] GodGirlwsy opened #5364 "csi plugin container mount lustre failed"
Operation for "\"kubernetes.io/csi/lustreplugin.csi.h3c.com^lustre-csi-pv\"" failed. No retries permitted until 2020-12-15 14:37:00.574828082 +0800 CST m=+2383.010640361 (durationBeforeRetry 16s). Error: "MountVolume.SetUp failed for volume \"lustre-csi-pv\" (UniqueName: \"kubernetes.io/csi/lustreplugin.csi.h3c.com^lustre-csi-pv\") pod \"deployment-lustre-5ffb8566b7-vqk5k\" (UID: \"dc3e451a-3e9f-1

[2020-12-15 18:58] sftim commented on #5344
:thought_balloon: would it make sense to convert this to a GitHub discussion?

[2020-12-17 00:41] castrojo commented on #5180
My old work account and jbeda's account are now removed, afaict youtube now reflects what we want. We should probably review one more time as a group and then close?

[2020-12-21 02:03] mrbobbytables commented on #5364
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2020-12-21 02:04] #5364 closed

[2020-12-21 13:51] sftim opened #5380 "Document org-wide process for offtopic troll issue response"
### Organization or repository
[`kubernetes/org`](https://github.com/kubernetes/org)

### Describe the issue
I'd like the README at https://github.com/kubernetes/org#readme to signpost people (me!) to advice about how a maintainer can and should respond if offtopic troll issues come up.
(the response is likely to be to lock the issue, but it's a rare enough concern that we might not remember the d

[2020-12-21 19:25] wilsonehusin commented on #5344
The 1.20 release team had release retrospective last week and we discussed about gathering and publishing major themes as part of a release. Some discussion points:
- Gathering major themes content is very manual that release team reaches out to individual SIGs (shout out to SIGs which has their content ready an shared a document the moment we asked about it!). Would be great if we can have better

[2020-12-22 23:17] onlydole commented on #3654
/remove-lifecycle stale

[2020-12-23 13:11] Nivedita-coder commented on #4677
Is this issue still open ? I would  like to work on this.

[2020-12-24 15:11] #4707 closed

[2020-12-29 17:11] markyjackson-taulia commented on #4723
/remove-lifecycle stale

[2020-12-29 19:39] amar2k05 opened #5383 "nginx - Not able to connect to External IP of a VM in GCP from a browser"
Hi,

I have created 1 MAster and 1 Worker node on GCP with below config.

Master - E2 Small(2 vCPU, 2GB Memory), CentOS7, Standard Persistent Disk - 20GB, Allow http,https traffic

Worker - E2 Micro(2 vCPU, 1GB Memory), CentOS7, Standard Persistent Disk - 20GB, Allow http,https traffic

I have created an nginx POD and exposed it to outside internet using NodePort service.

But I am not able to acc

[2020-12-29 20:29] mrbobbytables commented on #5175
GitHub has put a pause on the beta for now and plan to revisit it in 2021. As the timeframe for it is unknown, going to go ahead and set this to lifecycle frozen for now.
/lifecycle frozen

[2020-12-29 20:31] mrbobbytables commented on #5292
GitHub has put a pause on the beta for now and plan to revisit it in 2021. As the timeframe for it is unknown, going to go ahead and set this to lifecycle frozen for now.
/lifecycle frozen

[2020-12-29 20:32] mrbobbytables commented on #5277
GitHub has put a pause on the beta for now and plan to revisit it in 2021. As the timeframe for it is unknown, going to go ahead and set this to lifecycle frozen for now.
/lifecycle frozen

[2020-12-29 21:19] mrbobbytables commented on #5383
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2020-12-29 21:19] #5383 closed

[2020-12-30 18:38] LappleApple commented on #5181
/remove-lifecycle stale

[2020-12-30 18:41] mrbobbytables commented on #5181
WIP PR is here: https://github.com/kubernetes-sigs/contributor-site/pull/194
Preview of dashboard embeds: https://deploy-preview-194--kubernetes-contributor.netlify.app/resources/dashboards/

[2021-01-04 20:05] mrbobbytables commented on #5198
This is now live \o/
https://k8s.dev/services

/close

[2021-01-04 20:05] #5198 closed

[2021-01-05 13:44] mrbobbytables commented on #4723
The label has been removed from all open items, going to go ahead and close this out 👍
/close

[2021-01-05 13:44] #4723 closed

[2021-01-05 13:45] mrbobbytables commented on #3281
This was completed in #5343
Going to go ahead and close this out 👍
/close

[2021-01-05 13:46] #3281 closed

[2021-01-05 16:30] parispittman opened #5385 "chairs/orgs comms checklist/guidance"
loose idea:
- checklist and templates for suggested weekly, monthly, n cadence communications to community group members (ie - sig members)
- examples:weekly meeting update template, new contributor alerts, maintainer opportunities, contributor process information, monthly important keps to review, etc.
- could we automate any of this/does any of this need to be automated? - ie, keps with labels t

[2021-01-05 16:57] Nivedita-coder commented on #5385
Hi @parispittman , I would like to work on this issue, can you help me with what I need to add and where? Thanks

[2021-01-05 19:39] jayunit100 commented on #4289
@LappleApple has this issue floated into the zombie zone or should it be revitalized?

[2021-01-05 19:48] LappleApple commented on #4289
Heya @jayunit100: We're working on some things in the Enhancements subproject that point to this, and I believe other groups like SteerCo have kept this in mind as well but I'll defer to them to give you the details. :)

[2021-01-05 19:49] LappleApple commented on #4289
@jayunit100 That said, if you have ideas or want to help out here then that's totally great.

[2021-01-05 19:50] LappleApple commented on #4289
/remove-lifecycle stale

[2021-01-06 03:34] Nivedita-coder commented on #5380
Hi @sftim , I would like to work on this issue, can you help me with what I need to add and where? Thanks

[2021-01-06 07:19] ShubhasisMathur opened #5387 "Yaml update is required"
Dear Team,

I would like to let you know that one of the page needs an update in the yaml. The contsraint template at https://kubernetes.io/blog/2019/08/06/opa-gatekeeper-policy-and-governance-for-kubernetes/ needs an update of the voilation which is missing.

instead of deny it should ne violation. Here is the revised yaml after I corrected it:

apiVersion: templates.gatekeeper.sh/v1beta1
kind: C

[2021-01-06 07:21] ShubhasisMathur commented on #5387
add label /doc

/sig /doc

[2021-01-06 07:27] ShubhasisMathur commented on #5387
#sig-cli-bugs

[2021-01-06 07:35] nikhita commented on #5387
@ShubhasisMathur thanks! Moving this to the kubernetes/website repo since the blog is hosted there.

[2021-01-06 21:14] Riaankl commented on #4677
@Nivedita-coder I planned to work on it over the holiday, but did not get round to it yet.
It would be great if you have time to work on it.

[2021-01-07 00:01] Nivedita-coder commented on #4677
Yes, I want to work on this issue. Thanks!

[2021-01-08 14:28] mrbobbytables commented on #5201
/remove-lifecycle stale

[2021-01-08 15:14] mbbroberg commented on #4710
If anyone would like to write this up, we can keep this issue around. Otherwise, let's let it close and mark Alpha features as an ideal piece of content for the Comms release liaison.

[2021-01-08 15:19] mbbroberg commented on #4446
We have a Slack multi-channel sender and Twitter automation. A longer-term vision more akin to this diagram will take planning and scoping.

![Screenshot from 2021-01-08 09-18-12](https://user-images.githubusercontent.com/1744971/104031543-78482080-5192-11eb-948d-338a88e19362.png)

This issue doesn't need to remain open as we do so.

[2021-01-08 17:23] onlydole commented on #4710
@mbbroberg - Agreed! I'm going to close this for now as it's a good comms action item.

[2021-01-08 17:23] #4710 closed

[2021-01-10 06:42] #4781 closed

[2021-01-12 12:10] mrbobbytables commented on #2565
/remove-lifecycle stale

I think the remaining item on this is for arch to do a review to see what items should be moved over to devel (e.g. [resource-management](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/resource-management.md))    before we can migrate the rest to live with enhancements.

/assign @dims @johnbelamaric @derekwaynecarr

[2021-01-12 16:30] justaugustus commented on #5235
Assigning Savitha as discussed in today's SIG Release meeting.

/assign @savitharaghunathan
/unassign @justaugustus @tpepper @saschagrunert @hasheddan @LappleApple @alejandrox1

[2021-01-12 16:35] Nivedita-coder commented on #4677
/assign @Nivedita-coder

[2021-01-12 17:38] Nivedita-coder commented on #4677
#5399

[2021-01-12 17:40] Nivedita-coder commented on #4677
#5399

[2021-01-13 01:18] mrbobbytables commented on #4799
/remove-lifecycle stale

After a little bit of discussion further on it - and after a lot of efforts from @coderanger to clean up the k-dev channel. I do agree it's just not bringing in the right people.

I'm +1 to rename it to hopefully focus it and attract the right audience.

[2021-01-13 01:20] coderanger commented on #4799
+1 as a rename. Slack has enough affordances around channel renames that I'm not super worried about it being disruptive (vs making a new channel which I think would be).

[2021-01-13 17:24] jberkus commented on #5153
Step 0 is going to be deciding who's the lead on the Survey this year.  Anyone want to run it?

[2021-01-13 17:25] jberkus commented on #5153
Also, at this point, maybe we call it the 2021 survey?

[2021-01-13 17:42] parispittman commented on #4799
+1 to a channel rename vs new channel.

[2021-01-13 17:55] mrbobbytables commented on #5358
`triage/accepted` is independent of the other labels. It essentially means its been evaluated by a community group.
There was a lot of back and forth, but that was what was decided on as the best path forward with it.

I'm pretty sure the other labels just weren't removed when it was accepted. I'd consider that more an edge than regular case looking at other isuses in k/k. - Looking at others, tha

[2021-01-13 18:03] spzala commented on #5358
OK, thanks @mrbobbytables We can keep eye on it, and see if we find more such issues as 96066. If not, we are good. I will create a PR for documenting the other things.

[2021-01-13 21:44] mbbroberg commented on #5153
I'm aiming to get someone assigned to help with communications on Friday, Jan 15.

[2021-01-14 03:52] zacharysarah opened #5408 "Rewrite the community values statement"
## Description

The [community values statement]( https://git.k8s.io/community/values.md) needs a rewrite.

## Example

Consider the first sentence:

- Uses evocative rather than descriptive language
- Uses passive voice
- Makes an uncited claim

This could be rewritten:

This suggested edit:
- Uses active voice
- Uses descriptive rather than evocative language
- Makes a verifiable claim

## Other

[2021-01-14 06:37] Nivedita-coder commented on #5408
I would like to work on this issue.

[2021-01-14 08:34] sladyn98 commented on #5408
I would like to work on this issue too :) if two can work on it together

[2021-01-14 12:33] Davidrjx opened #5410 "mutatingwebhook apply patch failed"
when applying patch below, an internalError occur where patch and related looks like
[code]
while patchObj is nil, no patch no error above, anybody faced with same issue and any solution or idea?

[2021-01-14 12:34] Davidrjx commented on #5410
/sig api-machinery

[2021-01-14 17:59] sladyn98 commented on #5408
/assign

[2021-01-15 15:46] chris-short commented on #5201
Where do we stand with Zapier? I'm asking because of issue #5156.

[2021-01-15 15:55] mrbobbytables commented on #5201
cc @castrojo ^^

[2021-01-17 05:24] #5044 closed

[2021-01-18 16:25] coderfornow commented on #5408
I could also work on this issue.

[2021-01-18 16:25] coderfornow commented on #5408
/assign

[2021-01-18 16:31] mrbobbytables commented on #5408
@coderfornow theres an open PR from @sladyn98 already.^^;;;

---
I'm going to go ahead and remove the good first issue as theres already a PR in flight 👍
/remove good-first-issue

[2021-01-19 16:49] detiber commented on #4641
/remove-lifecycle stale

[2021-01-19 18:21] 1010sachin commented on #5260
Hello to the Kubernetes Community. Firstly thank you @idvoretskyi for putting up this topic to a broader audience here as it gives us, from the LFX Insights team, a chance to interact directly with the community. Let me just quickly give a brief overview of the LFX Insights platform. Insights is a multi-tenant highly available and scalable analytics platform that provides complete visibility into

[2021-01-19 18:31] mrbobbytables commented on #5260
@1010sachin the larger problem for us with the email addresses is that there is nothing that folks have been prompted with telling them that their email will be used in that fashion. In other mediums its public data and there is some knowledge ahead of time of opting in with that (git commit signed with email etc). There isn't with slack, we haven't informed the users that their email may be share

[2021-01-21 21:13] celanthe commented on #5380
Hi @Nivedita-coder--I'd be happy to guide you on how to move forward with this if you're still interested in taking it on! :) @sftim would that work for you?

[2021-01-22 03:56] MadhavJivrajani opened #5422 "Broken link in SIG Scalability README"
The link for 'Scalability issues with Services' in the README seems to be broken due to a missing `/` in the relative path

[2021-01-22 03:56] MadhavJivrajani commented on #5422
/sig scalability

[2021-01-22 03:56] MadhavJivrajani commented on #5422
/assign

[2021-01-22 04:30] Nivedita-coder commented on #5380
Yes, I'm interested. It will be great for me ,Thanks @celanthe! :)

[2021-01-22 04:45] 1010sachin commented on #5260
@mrbobbytables I totally understand and we can drop the ```users:read.email``` scope from the bot app. I just wanted to provide a brief explanation on why we'd need that scope. We can continue without the aforementioned permissions.

[2021-01-22 11:21] #5422 closed

[2021-01-22 16:26] reylejano opened #5424 "REQUEST: New Slack channel sig-security-external-audit"
**GitHub Username:**
@aasmall
@tabbysable

**Slack Username:**
@Aaron Small
@Tabitha Sable

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Private Channel

**Name of Requested Resource:**
sig-security-external-audit

**Description of Request:**

SIG Security's subgroup for a third-party security audit for Kubernetes is publishing an RFP for an external security audit

[2021-01-22 16:33] mrbobbytables commented on #5424
I am +1
For some context there was a previous channel created for this purpose.

[2021-01-22 19:04] tabbysable commented on #5424
+1 from me, too. It will be hard to deal with this sensitive info properly using only public comms.

[2021-01-22 20:19] coderanger commented on #5424
+1, risks early disclosure of issues before they can be fixed to leave this public

[2021-01-22 22:03] spiffxp opened #5425 "Validate sigs.yaml resources created by other tools"
The dream: updating sigs.yaml would result in automatic create/deletion of resources managed by other tooling, e.g.
- GitHub labels
  - tool: label_sync
  - repo: kubernetes/test-infra
- GitHub teams (peribolos)
  - tool: peribolos
  - repo: kubernetes/org
- Slack channels (tempelis)
  - tool: tempelis
  - repo: kubernetes/community

The reality: just because something is in sigs.yaml doesn't make

[2021-01-22 22:05] spiffxp commented on #5425
I filed this because I noticed the `wg/reliability` label was missing (original PR to create: https://github.com/kubernetes/community/pull/5127)

[2021-01-22 23:39] mrbobbytables commented on #5424
This has been created 👍  @tabbysable has been invited to start - there are two aaron smalls in slack, so I'll leave it to @tabbysable  to add the right one^^;;;
/assign
/close
/milestone v1.21

[2021-01-22 23:39] #5424 closed

[2021-01-23 16:23] mrbobbytables commented on #5242
awards have been sent out and started to be received. I plan to go ahead and close this out, the remaining awards creation in k/community will be created as a separate issue.

/close

[2021-01-23 16:24] #5242 closed

[2021-01-23 16:27] mrbobbytables commented on #4901
At this stage I think we can close it and move anything else to follow up items, the cohort has been going for some time now :x and is definitely out of kick-off phase.

/close

[2021-01-23 16:27] #4901 closed

[2021-01-23 16:29] mrbobbytables commented on #3708
/unassign @nikhita @mrbobbytables @parispittman

@castrojo will finish this up with the awards from KCC this year.

[2021-01-23 16:30] mrbobbytables commented on #1693
/unassign @jonasrosland @castrojo
/assign @alisondy @mrbobbytables
looping in  so we can document that change over.

[2021-01-23 16:33] mrbobbytables commented on #4464
We rolled some of the follow-ups into the new questions (change owners file clean up etc) - I'm going to move the remaining AIs into the 2020 survey issue (mostly around documenting the process changes)

/close

[2021-01-23 16:33] #4464 closed

[2021-01-23 16:36] mrbobbytables commented on #4677
#5399 has been merged \o/
This is good to be closed.

/close

[2021-01-23 16:36] #4677 closed

[2021-01-23 16:38] mrbobbytables commented on #5410
@Davidrjx this is a meta-repo for management of the kubernetes contributor community, issues like that won't get looked at here =/
I suggest asking on the [api-machinery](https://github.com/kubernetes/community/tree/master/sig-api-machinery#contact) or [kubernetes-dev](https://groups.google.com/g/kubernetes-dev) mailing list or asking in slack.

/close

[2021-01-23 16:38] #5410 closed

[2021-01-23 16:39] mrbobbytables commented on #5425
One other item I would like to see is automatic updating of the leads mailing list and subsequent sig-foo-leads lists.

[2021-01-23 16:40] mrbobbytables commented on #5303
it's been posted with the surfacing of our communication docs  - https://k8s.dev/comms
/assign
/close

[2021-01-23 16:41] #5303 closed

[2021-01-23 17:18] spiffxp commented on #5425
/help
I'm willing to help provide reviews and guidance on how to write a prowjob that does this

My suggestion would be to extend the generator app to optionally take paths to local copies of the files/directories mentioned above, and add a flag/verb for validation against those paths if provided

FYI @nikhita if you have other suggestions

[2021-01-23 17:41] spiffxp commented on #5425
This is going to require that email addresses find their way into sigs.yaml.

And movement of the sig-foo-leads lists to kubernetes.io groups.  I would like to see group approval sharded (same model as kubernetes/test-infra job configs and kubernetes/org team configs) before we lean too heavily on groups.  One difference: creation/deletion of groups should require root approval (but membership add

[2021-01-24 11:43] MohdRashid01 opened #5431 "Kubernetes scanner commands issue"
Hello Everyone,

I have issue with this command as when i execute in terminal i got Flag --generator has been deprecated

Can anyone help me out with this issue.

kubectl run --generator=run-pod/v1 net-test --image=net/bot:latest --env="FX_HOST=cloudnetwork.net.com --env=“FX_IAM=Mwc/0zF7dfX+PUq6JxxxxxdbFUExxeL5” --env=“FX_KEY=chFPCKn+EB00tUxxxwX0WuYlLCtM1Gr/kQxx+UxR1nxxK6nSrvxxxOFT8Mo” --replicas=

[2021-01-24 11:58] MohdRashid01 commented on #5431
But how can i add sig labels and where i need to add sig label ...can you write for me and send me ...so that i can easily understand

[2021-01-24 14:28] mrbobbytables commented on #5431
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2021-01-24 14:28] #5431 closed

[2021-01-24 15:32] Riaankl commented on #5222
/remove-lifecycle stale
@castrojo Did this get any traction?
Can I help/

[2021-01-26 23:09] ehashman opened #5435 "Strategy for handling support requests in k/k"
Right now, when I categorize an issue as `kind/support` in kubernetes/kubernetes, I usually don't look at it again. I'd love to help these folks, but my focus is mostly on triage and getting bugs fixed.

We see a lot of issues where a support request is initially filed as a bug, and then a triager re-categorizes it as a support request, and then it usually rots out unless someone is feeling partic

[2021-01-26 23:09] ehashman commented on #5435
/cc @mrbobbytables

[2021-01-26 23:09] ehashman commented on #5435
/sig contribex

[2021-01-26 23:09] ehashman commented on #5435
/sig contributor-experience

[2021-01-26 23:11] mrbobbytables commented on #5435
/assign @mrbobbytables @cblecker @nikhita @alisondy
For input 👍
/area github-management

[2021-01-26 23:12] mrbobbytables commented on #5261
@championshuttler It's been awhile, but we'd want to repalce the support GH issue template with a link to https://discuss.kubernetes.io

Here is info on the GH template requirements:
https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository#configuring-the-template-chooser

[2021-01-26 23:14] spiffxp commented on #5199
/reopen
Last week's meeting recording never uploaded, I've placed into GCS if someone can help upload
[code]

Linking back to issue to review zoom automation: https://github.com/kubernetes/community/issues/5201

[2021-01-27 09:14] nikhita commented on #5435
We have a response template for support requests - https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example. However, we don't autoclose issues today.

We could perhaps do this:
- Remove the `Support Request` template from here - https://github.com/kubernetes/kubernetes/issues/new/choose
- Add a note below the templates to point to suppor

[2021-01-27 10:54] mrbobbytables commented on #5435
We could update our issue templates so the support button will actually take them right to discuss. ref: https://github.com/kubernetes/community/issues/5261

I think it might be worth doing the same thing for enhancement requests there too, except redirect them to the k/enhancements repo

Some people do use`kind/support` (at least in other repos), it might be worth it as a separate command where f

[2021-01-27 13:00] mrbobbytables commented on #4743
As #5430 has merged, this should be safe to close \o/
It was the last item on the list with the large changes being done in #4744

/close

[2021-01-27 13:01] #4743 closed

[2021-01-27 13:46] mrbobbytables commented on #1693
We should convert the leadership change doc into an issue template that is closed when all items are checked off.

[2021-01-27 15:52] Ankita5892 opened #5438 "In eks cluster load balancer is not deleted if i have deleted cluster and node-pool"

[2021-01-27 18:25] jberkus commented on #3938
I'll endorse both 1Password (not OSS, but free to us) and Bitwarden (OSS) for PW-keeping from a user perspective.  Both work well.

[2021-01-27 19:38] abitrolly opened #5473 "Repurpose fejta-bot + k8s-ci-robot to ping-bot"
**What should be cleaned up or changed**:

The lifecycle messages for non-solved issues are getting annoying. The message below has erupted from this thread https://github.com/kubernetes/kubernetes/issues/54923#issuecomment-768471985

Is there a way around this eternal back-and-forth?

A solution to reduce the noise was to implement a ping instead of auto-close.

An even better solution could be t

[2021-01-27 22:29] coderanger commented on #3938
-1 for Bitwarden unless we have enough people on the infra team that actually know MSSQL and/or we confirm that it works with a hosted version of MSSQL that we can pay for or get donated. I don't think we want to bite off running that ourselves unless we have more expertise in it than I would expect.

[2021-01-27 23:40] mrbobbytables commented on #5261
/reopen

[2021-01-27 23:45] mrbobbytables commented on #5261
@championshuttler that doesn't actually fix it =/ I commented on the PR.
We want to **replace** the support issue templates in at least this repo and k/k with a link to discuss, something like this:
[code]

[2021-01-28 01:32] jberkus commented on #3938
@coderanger I was suggesting paying for their hosted version.

[2021-01-28 04:15] Nivedita-coder commented on #5380
/assign

[2021-01-28 07:32] nikhita opened #5442 "Onboard alisondy as sig-contribex co-chair"
This issue is to track onboarding @alisondy as SIG Contributor experience co-chair. Some items in the checklist are derived from https://github.com/kubernetes/community/blob/master/contributors/chairs-and-techleads/leadership-changes.md.

#### Discuss with SIG leadership

- [x] Discuss the proposed changes with the current leadership.

#### Discuss with the SIG and wider community

- [x] Send an e

[2021-01-28 07:45] nikhita commented on #5442
@alisondy if you come across anything else that's not already covered in the issue body, please add it here! This info would be helpful to eventually turn it into an onboarding doc :)

[2021-01-28 08:50] nikhita opened #5444 "Update sig-contribex OWNERS, GitHub teams and email lists"
While updating artifacts in https://github.com/kubernetes/community/issues/5442, I noticed that some of our GitHub teams, OWNERS files and email lists are out of date and contain members who are no longer active in contribex.

We should update them to reflect the current state. Changes would need to be made in:

- OWNERS file across repos mentioned in https://github.com/kubernetes/community/tree/m

[2021-01-28 08:50] nikhita commented on #5444
/sig contributor-experience

[2021-01-28 08:51] nikhita commented on #5438
@Ankita5892 Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io)
with more information about the exact issue you are facing.

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
h

[2021-01-28 08:51] #5438 closed

[2021-01-28 15:20] celanthe commented on #5380
An update on this, I met with @Nivedita-coder yesterday 1/27/21 via Zoom and walked her through how to structure a new PR that will address this issue and includes the changes suggested here! :)

[2021-01-31 19:06] #5043 closed

[2021-02-01 14:20] mrbobbytables commented on #5358
@spzala I think we're good to close this one, right?

[2021-02-01 14:27] mrbobbytables commented on #4959
Ping: @hannibalhuang @enj  @micahhausler  @liyinan926
Can you respond here if you've completed the training?

[2021-02-01 14:28] spzala commented on #5358
@mrbobbytables +1 I kept it open to keep eye on the triage flow in regards to this issue, but good idea to close too as didn't see anything new so far. Will reopen if needed. Thanks!

[2021-02-01 14:28] #5358 closed

[2021-02-01 14:43] mrbobbytables opened #5451 "Update YouTube guidelines"
The [Youtube Guidelines](https://github.com/kubernetes/community/blob/master/communication/youtube/youtube-guidelines.md) currently require three updates to bring them up-to-date
1) The list of groups with splain enabled needs to be updated removing SIG PM and WG LTS
2) The [Uploading Guidelines](https://github.com/kubernetes/community/blob/master/communication/youtube/youtube-guidelines.md#upload

[2021-02-01 14:59] #5261 closed

[2021-02-01 15:42] mrbobbytables commented on #5435
The update for the issue template has been rolled out 👍
https://github.com/kubernetes/kubernetes/issues/new/choose

[2021-02-01 18:51] justaugustus opened #5454 "[Idea] Pronouns field for Slack"
Hey y'all, is it possible to enable a pronouns field for Slack?
I currently just do this in my display name, but it would be cool to have a field to promote inclusivity!

(Apologies if there's already an issue for this; I couldn't find anything on a quick search.)

cc: @kubernetes/sig-contributor-experience-leads

[2021-02-01 18:52] kwiesmueller commented on #3621
I just got pointed to this after asking if notifications could be reduced which is especially hard to work with since the GitHub mobile app.
I'd love to see one comment that gets updated instead of a new mail/notification for every new failure during a single run.
On the other hand I don't know other peoples mail based workflows. I regularly jump to test results myself from mail, but in most cases

[2021-02-01 18:52] justaugustus commented on #5454
/sig contributor-experience
/area slack-admin

[2021-02-01 19:48] spiffxp commented on #3621
Another related issue over this (it aged out) https://github.com/kubernetes/test-infra/issues/1723

It mentioned https://github.com/kubernetes/test-infra/pull/11341 was an attempt to address? But was reverted in https://github.com/kubernetes/test-infra/pull/11472 due to "lack of consensus"

[2021-02-01 19:53] jberkus commented on #5454
I've confirmed that this is technically possible, and it sounds like a good idea to me.  I'd like +1s from other Slack admins before I go ahead.

[2021-02-01 19:56] jberkus commented on #5454
tag: @mrbobbytables @coderanger @munnerz

[2021-02-01 20:22] parispittman commented on #5454
+1

[2021-02-01 20:30] mrbobbytables commented on #5454
+1

[2021-02-01 20:41] jberkus commented on #5454
Leaving this open for 24 hours just so that folks can point out issues, if there are any.

[2021-02-02 00:18] spiffxp commented on #5425
another good fit for this: validate that owners files listed for subprojects actually exist (ref: https://github.com/kubernetes/community/issues/4125)

[2021-02-02 00:24] spiffxp commented on #4125
https://github.com/kubernetes/community/issues/5425 would be a good opportunity to catch these

[2021-02-02 04:55] nikhita commented on #5454
+1

[2021-02-02 12:21] mrbobbytables commented on #5180
This has now been synced
/close

[2021-02-02 12:21] #5180 closed

[2021-02-02 18:01] thockin opened #5459 "Icons are wrong aspect ratio"
The rasterization stretches them vertically.

[2021-02-02 19:04] #5459 closed

[2021-02-03 15:42] nimbinatus opened #5462 "Rethinking the Monthly Community Meeting"
Contributor Experience has been discussing the "why" of the community meeting and looking into how to make the meeting more useful for the community. To summarize the discussions:

- The current format of the community meeting doesn't provide an opportunity for much discussion, which reduces engagement.
- The community meeting is a place for new members to get a sense of what's going on with the c

[2021-02-03 16:51] nimbinatus commented on #5462
After some further discussion with @parispittman, here are the thoughts around SIG reporting:

- We'd like to increase async comms and reduce meetings for the SIGs.
- There's already a lot of reporting (e.g., see https://github.com/kubernetes/community/blob/master/committee-steering/governance/annual-reports.md), and the community meeting overlaps much of that reporting already.

Some options that

[2021-02-03 16:56] mrbobbytables commented on #5462
Some notes from last week's contribex meeting where we talked about it too:

- SIGs schedule their own public sessions, getting updates from SIGs independently
  - It was dropped as it’d be difficult for attendees
- Openstack approaches community meetings by letting folks record video updates, We could approach folks to record video updates every quarter and then compile them together
- Considerin

[2021-02-03 23:12] jberkus commented on #5454
done!  Thanks for thinking of this.

[2021-02-03 23:12] jberkus commented on #5454
/close

[2021-02-03 23:13] #5454 closed

[2021-02-04 13:08] LappleApple commented on #2992
@nikhita Checking in on this — any recent developments?

[2021-02-04 19:38] celanthe opened #5467 "REQUEST: New communication about upcoming Data on Kubernetes presentation"
**What do you want send out?**

If possible I would love a tweet/signal boost amplifying the presentation that myself and Savitha (on twitter at @coffeeartgirl) are giving on 2/9/21 at 9:00 AM PST _The Kubernetes Contributor Experience and Fighting Impostor Syndrome_.

Here is the suggested copy: Let's contribute! @kiran_oliver from @Camunda and @coffeeartgirl are presenting at the @DoKCommunity m

[2021-02-05 16:59] mbbroberg commented on #5467
Thanks @celanthe! We're discussing in today's meeting whether it fits into our charter to cover a vendor-specific events. While it's not directl covered in the [social guidelines](https://github.com/kubernetes/community/blob/master/communication/marketing-team/social-guidelines.md), SIG ContribEx and our subgroup agree that it's best to avoid vendor amplification on the channel.

@mrbobbytables @k

[2021-02-05 22:48] #5467 closed

[2021-02-06 02:09] BenTheElder commented on #5473
thanks @mrbobbytables, xref: https://github.com/kubernetes/test-infra/pull/20767
/sig contributor-experience

[2021-02-07 06:23] Jeffwan opened #5475 "Kubemark guidance doesn't work"
Seems kubemark setup guidance is not update to date. I reproduce the test and get this issue from hollow-node container.

1. /bin/sh was removed in distroless image.
[code]

The major problem is kubemark image has been migrated to distroless image on Nov 15,2019. https://github.com/kubernetes/kubernetes/blob/23a46d88439e5919fa61d5b25e5752c258a900fb/cluster/images/kubemark/Dockerfile#L17

start scr

[2021-02-07 14:03] mrbobbytables commented on #5475
/sig scalability
/kind documentation
/area developer-guide

[2021-02-07 17:33] mrbobbytables opened #5478 "Clarify social media guidelines regarding boosting of non Kubernetes/CNCF events"
Currently there isn't a clear definition of what should/shouldn't be considered an event  that can be promoted. To ensure a neutral stance, the guidelines should be updated to state that only Kubernetes community or CNCF hosted events can quality for promotion.

Both the social media guidelines and issue template should be updated.

/sig contributor-experience
/area contributor-comms

[2021-02-07 21:23] caniszczyk commented on #5478
feel free to take a variation of this:
https://github.com/cncf/foundation/blob/master/social-guidelines.md

On Sun, Feb 7, 2021 at 11:33 AM Bob Killen <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-02-08 08:39] nikhita commented on #5435
/assign
I'll take this on and also try to do something similar for `kind/feature` - https://github.com/kubernetes/kubernetes/pull/98867

[2021-02-08 16:58] spiffxp commented on #5199
The meeting for 2020-01-20 remains missing.

The meeting for 2020-02-03 never uploaded either, so I've added that to the GCS bucket.

[code]

/unassign @castrojo
/assign @alisondy @mrbobbytables
Please assign to someone more relevant if you don't have the bandwidth.  Also, I think maybe I'm ready to suggest we cut off Splain automation, and I'll just go back to uploading manually?  Let me know wha

[2021-02-08 16:58] spiffxp commented on #5199
/priority important-soon

[2021-02-08 17:03] mrbobbytables commented on #5199
The only consistent way I've found to get splain to work after a meeting
stops being posted is to recreate the meeting with a new zoom id.

On Mon, Feb 8, 2021 at 11:59 AM Aaron Crickenberger <
notifications@github.com> wrote:

[2021-02-09 07:04] Jeffwan commented on #5475
PR has been merged and this issue is resolved. Thanks for quick response.

[2021-02-09 07:04] #5475 closed

[2021-02-09 12:33] mrbobbytables commented on #5299
/remove-lifecycle stale

[2021-02-09 18:33] ehashman commented on #5299
Is #5436 useful for other SIGs here?

[2021-02-09 21:13] spiffxp commented on #2759
/remove-lifecycle stale
/lifecycle frozen
/priority important-longterm

[2021-02-09 22:03] spiffxp commented on #5199
Meetings are up. I’ll get a new zoom meeting set up to close

[2021-02-10 03:36] viviandsilva commented on #5451
Hi! I'd like to give a try on this issue

[2021-02-10 13:32] viviandsilva commented on #5451
/assign @viviandsilva

[2021-02-10 16:07] alculquicondor opened #5485 "devel/sig-scheduling: Document the scheduling queues and events"
refer #5237

Document the different scheduling queues (active, backoff, unschedulable) and how pods move from one to another.

/sig scheduling

[2021-02-10 16:07] alculquicondor commented on #5485
cc @Huang-Wei

[2021-02-10 16:08] alculquicondor commented on #5485
/area developer-guide

[2021-02-10 18:22] ehashman commented on #5299
Two notes that came out of SIG Instrumentation's triage session today:

- Applying the `triage/unresolved` label doesn’t remove the needs-triage label -- is this a bug?
- What do we do when we don’t want to accept a PR but we also want to mark that we’ve looked at it? `triage/unresolved`? New contributors tend to view `triage/accepted` as "we're going to review and merge your PR," and for some PRs

[2021-02-10 21:16] Huang-Wei commented on #5485
/help

This is a good chance to learn scheduling queuing design - the hard way :) I can be the shepherd.

At a high-level, I'd like the doc to explain the following aspects in details: (but not limited to these)

- What is activeQ, unschedulableQ and backoffQ?
- How a pod is moved if it cannot be scheduled? (to unschedulableQ/backoffQ) How `moveRequestCycle` is correlated?
- How a pod is moved bac

[2021-02-10 23:21] thockin commented on #5299
My opinion:

For issues, triage/accepted means:
 - we have confirmed or reproduced the issue
 - we have categorized it as a bug/feature/etc
 - we have applied some notion of priority
 - we do not need further debate over whether this is real or not

For PRs it is far less clear.  It certainly doesn't mean "we're going to
review and merge your PR".  I think it means:
 - we have looked at it, and it

[2021-02-10 23:24] lavalamp commented on #5299
For SIG API Machinery,

* on issues, triage/accepted means we agree we're the right SIG, and we've selected someone to decide what to do about the issue
* on PRs, it means we've assigned a reviewer (but not made a judgement about whether or not the PR should be merged)

[2021-02-10 23:32] sftim commented on #5299
For k/website, `/triage accepted` is a good way of marking issues as not-incoming, making it much easier to spot issues that are new vs. those that “need triage” because they are incomplete, or look like a support request, etc.

[2021-02-11 09:20] ingvagabund commented on #5485
/assign

[2021-02-11 12:56] sftim commented on #5233
Very much relevant to https://github.com/kubernetes-sigs/contributor-site/issues/204

[2021-02-11 15:01] alisondy commented on #5201
I've had a chat with Bob, and we've come to the conclusion that we should pursue the zapier route

[ ] test out zapier zoom youtube meeting
[ ] document process
[ ] plan rollout on all meetings currently using splain

let me know if theres anything else that I've missed in this list

[2021-02-12 16:18] nicolas-g opened #5491 "Fix "Ephemeral Containers KEP" link"
The URL link for `Ephemeral Containers KEP.` is invalid in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/troubleshoot-running-pods.md

[2021-02-12 16:25] mrbobbytables commented on #5491
@nicolas-g design-proposals are in an archived state and are there for historical purposes only. Please see the readme for more info:
https://github.com/kubernetes/community/tree/master/contributors/design-proposals#kubernetes-design-documents-and-proposals

/close

[2021-02-12 16:25] #5491 closed

[2021-02-12 18:08] MehulKChaudhari commented on #5451
Hey @viviandsilva, If you aren't doing this can I please take this issue forward?

[2021-02-12 18:23] viviandsilva commented on #5451
Hey @MehulKChaudhari, I am doing this

[2021-02-12 18:29] MehulKChaudhari commented on #5451
Okay, All the best

[2021-02-12 19:32] cblecker opened #5494 "2021 Annual Report: SIG API Machinery"
Chairs: @deads2k @fedebongio
Liasion: @dims

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questions
-

[2021-02-12 19:32] cblecker opened #5495 "2021 Annual Report: SIG Apps"
Chairs: @janetkuo @kow3ns @mattfarina @prydonius
Liasion: @mrbobbytables

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may m

[2021-02-12 19:32] cblecker opened #5496 "2021 Annual Report: SIG Architecture"
Chairs: @derekwaynecarr @dims @johnbelamaric
Liasion: @liggitt

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make commen

[2021-02-12 19:32] cblecker opened #5497 "2021 Annual Report: SIG Auth"
Chairs: @enj @mikedanese @tallclair
Liasion: @cblecker

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask q

[2021-02-12 19:32] cblecker opened #5498 "2021 Annual Report: SIG Autoscaling"
Chairs: @gjtempleton @mwielgus
Liasion: @derekwaynecarr

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask

[2021-02-12 19:32] cblecker opened #5499 "2021 Annual Report: SIG CLI"
Chairs: @eddiezane @seans3 @soltysh
Liasion: @derekwaynecarr

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments

[2021-02-12 19:32] cblecker opened #5500 "2021 Annual Report: SIG Cloud Provider"
Chairs: @andrewsykim @cheftako
Liasion: @nikhita

- [x] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [x] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questio

[2021-02-12 19:32] cblecker opened #5501 "2021 Annual Report: SIG Cluster Lifecycle"
Chairs: @justinsb @neolit123 @timothysc
Liasion: @dims

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask q

[2021-02-12 19:32] cblecker opened #5502 "2021 Annual Report: SIG Contributor Experience"
Chairs: @alisondy @mrbobbytables
Liasion: @mrbobbytables

- [x] Consult SIG to complete draft of report
- [x] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [x] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [x] Steering Committee reviews report, and may make comments/ask

[2021-02-12 19:32] cblecker opened #5503 "2021 Annual Report: SIG Docs"
Chairs: @irvifa @jimangel @kbarnard10
Liasion: @liggitt

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask

[2021-02-12 19:32] cblecker opened #5504 "2021 Annual Report: SIG Instrumentation"
Chairs: @ehashman @logicalhan
Liasion: @cblecker

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questio

[2021-02-12 19:32] cblecker opened #5505 "2021 Annual Report: SIG Multicluster"
Chairs: @jeremyot @pmorie
Liasion: @parispittman

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questio

[2021-02-12 19:32] cblecker opened #5506 "2021 Annual Report: SIG Network"
Chairs: @caseydavenport @dcbw @thockin
Liasion: @derekwaynecarr

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comme

[2021-02-12 19:32] cblecker opened #5507 "2021 Annual Report: SIG Node"
Chairs: @dchen1107 @derekwaynecarr
Liasion: @nikhita

- [x] Consult SIG to complete draft of report
- [x] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report (N/A)
- [x] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/a

[2021-02-12 19:32] cblecker opened #5508 "2021 Annual Report: SIG Release"
Chairs: @justaugustus @saschagrunert
Liasion: @dims

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask ques

[2021-02-12 19:32] cblecker opened #5509 "2021 Annual Report: SIG Scalability"
Chairs: @mm4tt @shyamjvs
Liasion: @mrbobbytables

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questio

[2021-02-12 19:32] cblecker opened #5510 "2021 Annual Report: SIG Scheduling"
Chairs: @Huang-Wei @ahg-g
Liasion: @liggitt

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questions
-

[2021-02-12 19:32] cblecker opened #5511 "2021 Annual Report: SIG Security"
Chairs: @IanColdwater @tabbysable
Liasion: @parispittman

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask

[2021-02-12 19:32] cblecker opened #5512 "2021 Annual Report: SIG Service Catalog"
Chairs: @jberkhahn @jhvhs
Liasion: @cblecker

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questions
-

[2021-02-12 19:32] cblecker opened #5513 "2021 Annual Report: SIG Storage"
Chairs: @saad-ali @xing-yang
Liasion: @parispittman

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask ques

[2021-02-12 19:36] justaugustus commented on #5508
Already thinking about it!
Thanks for opening this up, Christoph.

/assign @justaugustus @saschagrunert @dims
cc: @kubernetes/sig-release-leads

[2021-02-12 19:46] cblecker opened #5515 "2021 Annual Report: SIG Testing"
Chairs: @BenTheElder @spiffxp @stevekuznetsov
Liasion: @parispittman

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make

[2021-02-12 19:46] cblecker opened #5516 "2021 Annual Report: SIG UI"
Chairs: @floreks @jeefy @maciaszczykm
Liasion: @nikhita

- [x] Consult SIG to complete draft of report
- [x] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report (N/A)
- [x] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comment

[2021-02-12 19:46] cblecker opened #5517 "2021 Annual Report: SIG Usability"
Chairs: @hpandeycodeit @tashimi
Liasion: @dims

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questions

[2021-02-12 19:46] cblecker opened #5518 "2021 Annual Report: SIG Windows"
Chairs: @marosset
Liasion: @liggitt

- [ ] Consult SIG to complete draft of report
- [ ] If needed, consult with Steering Committee liasion on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your SC liasion for review
- [ ] Steering Committee reviews report, and may make comments/ask questions
- [ ] Once

[2021-02-12 19:54] ehashman commented on #5504
/assign @ehashman @logicalhan

we had our initial meeting for this yesterday, we're working through our TODOs with the rest of the leads and SIG

[2021-02-12 21:27] neolit123 commented on #5501
@dims

as mentioned this is pretty much done. LMK how you want to proceed.

[2021-02-14 13:26] sharmapulkit04 commented on #5451
I would also like to work on this issue :)

[2021-02-14 13:26] sharmapulkit04 commented on #5451
/assign

[2021-02-14 20:26] sharmapulkit04 commented on #5451
@mrbobbytables I am not sure what to update when you said

I checked all the links, and all seems to be working, except SIG PM and WG LTS. And after removing them

there are no more broken links in the file.

[2021-02-14 20:39] mrbobbytables commented on #5451
https://github.com/kubernetes/community/blob/master/communication/youtube/youtube-guidelines.md#moderator-expectations-and-guidelines

The line:
[code]

This is a markdown reference link, but there is no link at the bottom of the doc pointing to the correct file. It needs this at the bottom of the file with the other reference links:
[code]

[2021-02-15 06:18] sharmapulkit04 commented on #5451
Didn't saw that one. Thanks !!

[2021-02-15 18:14] ingvagabund commented on #5485
First version of the document: https://docs.google.com/document/d/1gy1b6dceiKCdM3oFalfJNfmiHtb46bTUz0a2pC_W5Bo/edit

Feel free to comment.

[2021-02-15 19:09] damemi commented on #5237
/remove-lifecycle stale

[2021-02-15 20:04] Huang-Wei commented on #5485
Thanks @ingvagabund , very nice document. I added some comments.

I usually use draw.io or Google drawing (better on collaboration). Both are online tools.

[2021-02-15 20:17] tallclair opened #5528 "REQUEST: New *private* Slack channel - product-security-committee"
**GitHub Username:** @tallclair
**Slack Username:** tallclair

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Private channel for @kubernetes/product-security-committee use

**Name of Requested Resource:**
#product-security-committee

**Description of Request:**
Private channel for @kubernetes/product-security-committee to coordinate vulnerability response (separate

[2021-02-15 20:21] jeefy commented on #5528
+1 from slack admin

[2021-02-15 20:30] parispittman commented on #5528
+1 channel has been created; members of psc have been added and I've removed myself

/close

[2021-02-15 20:31] #5528 closed

[2021-02-15 22:36] spiffxp commented on #5239
/remove-lifecycle stale
/priority important-longterm
/help
Fresh eyes from new contributors are the best way to identify gaps in our documentation

[2021-02-16 08:06] nikhita commented on #5442
Closing this as done.

[2021-02-16 08:06] #5442 closed

[2021-02-16 08:12] nikhita commented on #5092
/remove-lifecycle stale

[2021-02-16 10:35] nikhita commented on #5435
Created https://github.com/kubernetes/test-infra/pull/20868

[2021-02-16 13:01] adtac commented on #5485
Thank you @ingvagabund, that's indeed a nice document! I learnt many things I didn't know before.

Given that this doc is targeted towards contributors (file path is in `contributors/devel/sig-scheduling`), I think it'd help to point to source files where some of important logic is defined. I think line number information for very specific details will become out-of-date very quickly, but the file

[2021-02-16 14:27] damemi commented on #5485
we could link to line numbers at the current latest hash (I try to do this in GH comments for this reason), or include code snippets. But either way, yeah pointing to where the logic lives is a good idea

[2021-02-16 20:40] kikisdeliveryservice commented on #2725
/remove-lifecycle-stale

[2021-02-16 20:41] kikisdeliveryservice commented on #2725
I feel that this is mostly done and tracked by the issue here: https://github.com/kubernetes/community/issues/2725

I can formally go thru the sub-dirs to get status but on a quick perusal this is very close to done.

[2021-02-16 20:42] kikisdeliveryservice commented on #2725
I feel that this is mostly done and tracked by the issue here: https://github.com/kubernetes/enhancements/issues/2220

I can formally go thru the sub-dirs to get status but on a quick perusal this is very close to done.

[2021-02-16 20:47] mrbobbytables commented on #2725
I think this is safe to close, the activity has been happening in k/enhancements.

[2021-02-16 22:00] spiffxp commented on #5515
/assign @spiffxp @BenTheElder @stevekuznetsov
/milestone v1.21
/kind documentation
/priority important-soon
I'll get a draft out to kubernetes-sig-testing-leads@ this week

[2021-02-16 22:02] spiffxp commented on #5239
/remove-sig storage
/sig testing
this would explain why I keep having trouble finding this

[2021-02-16 22:16] spiffxp opened #5532 "Document remaining kubernetes/kubernetes hack/verify* tests"
Part of developer guide audit for sig-testing: https://github.com/kubernetes/community/issues/5239

Follow-on to https://github.com/kubernetes/community/pull/5349 (ref: https://github.com/kubernetes/community/pull/5349#discussion_r575029064)

We lack documentation for the sundry verify tests that are used to block merge or release of kubernetes/kubernbetes.  We should ensure these tests are docume

[2021-02-16 22:47] mrbobbytables commented on #5239
@spiffxp sorry about that, completely missed it. I missed it in the copy/paste :x

[2021-02-16 22:51] BenTheElder commented on #3753
/unassign @costrojo
(jorge is doing other things now ...)

[2021-02-16 22:58] BenTheElder commented on #3753
some brain dump updates in the meantime:
- build stuff: I have a KEP to simplify the build more / expose developers to less of that. this will improve a bit in future releases.
- presubmit: SIG testing has worked with various SIGs / stakeholders to cut down on the stuff we run on PRs, particularly logn flaky jobs, but it's a constant battle. We're also working with the new WG reliability on effort

[2021-02-17 01:34] spiffxp commented on #5239
https://github.com/kubernetes/community/issues/5532 - help wanted issue: we should document the various verify-* tests used by kubernetes/kubernetes

[2021-02-17 14:48] pravarag commented on #5532
@spiffxp I would like to work on this issue. Though I'm getting started with `sig/test-infra` but I beleive this will help me build my knowledge around it.

[2021-02-18 03:58] #5408 closed

[2021-02-18 08:25] pogiroheat commented on #5515
Registration is open for ATP's first webinar in the 2021 New World of Testing Digital Series.

[2021-02-19 08:54] championshuttler commented on #5532
@spiffxp I also like to contribute

[2021-02-19 16:38] mbbroberg commented on #4854
This concept never quite materialized into a plan. In discussion with Contrib Comms, we're concluding that pointing users to release the most important location to date. We haven't figured out a place or message that should go on a bulletin board, but there was some discussion on the homepage of k8s.dev having a status of key activities.

That leads to more questions than actions. With that in min

[2021-02-19 16:38] #4854 closed

[2021-02-19 18:15] raelga commented on #4830
/remove-lifecycle stale

[2021-02-19 20:09] ehashman opened #5535 "Automation for GitHub Project Boards"
I currently run the [Node Triage Board](https://github.com/orgs/kubernetes/projects/49). We _manually_ update it based on [these guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/triage.md).

The only automation available that works consistently is moving things to **Done** when closed or merged.

It would be great to have the support of automation to do t

[2021-02-19 20:13] mrbobbytables commented on #5535
/sig contributor-experience
/assign @mrbobbytables

[2021-02-21 14:43] #5451 closed

[2021-02-21 17:51] pravarag commented on #5532
@championshuttler you can work on this issue since I haven't started working on it yet.

[2021-02-22 08:01] maciaszczykm commented on #5516
cc @floreks @jeefy

Let's keep that in mind as it needs to be done this week.

[2021-02-22 13:10] justaugustus commented on #3795
I think where we landed here was "it depends".
The idea of a `scope` field is being proposed in https://github.com/kubernetes/enhancements/issues/2311.

Let's bring the discussion there, with updated KEP documentation being part of the success criteria for that issue.
/close

[2021-02-22 13:10] #3795 closed

[2021-02-22 16:48] justaugustus commented on #5535
Referencing the k/test-infra issue from back in the day: https://github.com/kubernetes/test-infra/issues/9925

[2021-02-22 18:47] mrbobbytables opened #5541 "Update community platform docs with moderation guidelines"
### Problem Statement

Our communication property guidelines explain how to moderate content and when it should be reported, but broadly do not offer any other guidance of how moderations should respond. For example, under what conditions would you outright ban a person vs when would you reach out.

### Proposed Solution

Update our moderation guides to include some general guidelines or rules reg

[2021-02-22 20:01] ehashman opened #5542 "Document feature flag lifecycle"
The API lifecycle is well documented, but the feature flag lifecycle, which is related but not strictly coupled to it is not. It would be great to document the conventions for alpha, beta, and GA feature flags, how to add and graduate them, what the conventions for locking to true mean, etc.

This issue sparked by the conversation in https://github.com/kubernetes/kubernetes/pull/99158#issuecomment

[2021-02-23 14:28] mrbobbytables commented on #2725
I went through the subdirs, everything is good 🎉
/pony party
/close

[2021-02-23 14:28] #2725 closed

[2021-02-23 16:14] justaugustus commented on #5235
@savitharaghunathan -- any updates on this one?

[2021-02-23 16:16] justaugustus commented on #2992
/assign @hasheddan @justaugustus

[2021-02-23 16:16] LappleApple commented on #2992
Sync with PSC and SIG Release/Rel Eng would be useful here — closer interlock would be +1

[2021-02-23 16:43] savitharaghunathan commented on #5235
Apologies for not progressing on this issue. It fell off my plate. I will get to it this weekend.

[2021-02-23 21:06] parispittman opened #5546 "incident management process for comms platforms"
we should have a comms process for when things go not great and what not great means. Ideally, we should email moderators@ or contribex mailing list with a basic:
- when
- what
- current status
- help needed

normal guidelines to be used when incidents are happening but this would be addressing the post/during if its long.

[2021-02-23 22:46] mrbobbytables commented on #5546
related to #5541

[2021-02-24 16:43] liggitt commented on #5518
/assign @marosset

[2021-02-24 16:44] liggitt commented on #5510
/assign @Huang-Wei @ahg-g

[2021-02-24 16:46] liggitt commented on #5503
/assign @irvifa @jimangel @kbarnard10

[2021-02-24 16:47] jeremyrickard opened #5554 "Enhancement Subproject meeting times incorrect"
The enhancement subproject meetings have moved from Tuesday to Thursday, and the time has shifted. The time and date needs to be updated in this repo.

[2021-02-24 16:48] jeremyrickard opened #5555 "Add jeremyrickard to sig-release TLs"
I was added as a tech lead for sig-release, but not added to the appropriate files in here.

[2021-02-24 16:48] jeremyrickard commented on #5555
/sig release

[2021-02-24 16:49] jeremyrickard commented on #5554
/sig architecture

[2021-02-24 16:58] #5554 closed

[2021-02-24 17:03] liggitt commented on #5496
/assign @derekwaynecarr @dims @johnbelamaric

[2021-02-24 17:07] mrbobbytables commented on #5509
/assign @mm4tt @shyamjvs @wojtek-t

[2021-02-24 17:07] mrbobbytables commented on #5495
/assign @janetkuo @kow3ns @mattfarina @prydonius

[2021-02-24 17:08] mrbobbytables commented on #5502
/assign @mrbobbytables @alisondy @cblecker @nikhita

[2021-02-24 17:29] marosset commented on #5518
Ack - sorry, I missed the mention on this issue.

[2021-02-24 17:57] dims commented on #5501
@neolit123 want to go to next step? "Submit PR to git.k8s.io/community repo"?

[2021-02-24 18:32] timothysc commented on #5501
@neolit123 - Let's discuss on the next call.

[2021-02-24 18:54] neolit123 commented on #5501
@timothysc that's OK with, me but not sure if @dims agrees.
i shared the draft doc with both of you (slack) and we can update it offline by adding comments to it.

[2021-02-24 20:10] dims commented on #5501
@neolit123 @timothysc it's upto you all. I am just facilitating

[2021-02-24 21:22] ehashman opened #5559 "Restrict use of lifecycle labels"
Currently, anyone can remove a lifecycle/stale or rotten label, and any org member can apply a lifecycle/frozen label.

I see a number of PRs that are not mergeable/need-rebase where non-members keep removing the stale labels on PRs, perhaps because they do not understand the intent of the labels. This wastes reviewer time as someone has to go in and manually close or update the PRs.

Additionally

[2021-02-24 22:58] spiffxp commented on #5559
I'm less certain how I feel about restricting who can apply `lifecycle/foo` labels

But `lifecycle/frozen` definitely shouldn't be on PRs (thought I'd filed an issue for that already, guess I hadn't)

Maybe start with a job to remove it?
- [Sample job that uses commenter to remove `lifecycle/frozen` from `repo:kubernetes/enhancements label:lifecycle/frozen`][1]
- Do something with the query `org:k

[2021-02-24 23:00] spiffxp commented on #5559
[org:kubernetes org:kubernetes-sigs is:pr is:open label:lifecycle/frozen](https://github.com/pulls?q=org%3Akubernetes+org%3Akubernetes-sigs+is%3Apr+is%3Aopen+label%3Alifecycle%2Ffrozen+sort%3Aupdated-desc+) 45 open PRs today

[2021-02-25 02:55] spiffxp commented on #5532
/assign @pravarag
go for it! I'll leave the /help tag on since you said you haven't started

[2021-02-25 02:56] spiffxp commented on #5532
/assign @championshuttler
same thing

[2021-02-25 05:27] nikhita commented on #5507
/assign @dchen1107 @derekwaynecarr

[2021-02-25 05:27] nikhita commented on #5516
/assign @floreks @jeefy @maciaszczykm

[2021-02-25 05:28] nikhita commented on #5500
/assign @andrewsykim @cheftako

[2021-02-25 08:41] alisondy commented on #4549
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4943
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4944
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4945
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4946
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4947
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4948
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4949
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4950
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4951
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4952
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4953
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4954
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4955
/remove-lifecycle stale

[2021-02-25 08:41] alisondy commented on #4956
/remove-lifecycle stale

[2021-02-25 08:42] alisondy commented on #4957
/remove-lifecycle stale

[2021-02-25 08:42] alisondy commented on #4958
/remove-lifecycle stale

[2021-02-25 08:47] #4893 closed

[2021-02-25 08:51] alisondy commented on #4549
To consider -> Do all these need to be videos? Some might be better as a doc.

[2021-02-25 11:14] justaugustus commented on #5508
Template opened in https://github.com/kubernetes/community/pull/5561.

[2021-02-25 14:00] gkarthiks opened #5564 "Requesting suggestions from GH Management for prow extension"
### Hi GitHub Management Team,

Based on the discussion in the **WG Naming** [here](https://groups.google.com/u/3/g/kubernetes-wg-naming/c/D2fqUWt-H00), this issue is to request suggestion/comment on the following proposal.

### Problem Statement:
There are few terms that are considered offensive/biased that appear or enter into Kubernetes world only via issues(or most commonly via issues). These

[2021-02-25 14:03] gkarthiks commented on #5564
/area github-management
/sig contributor-experience
/wg naming

[2021-02-25 19:20] dims commented on #4839
/reopen

[2021-02-25 19:21] derekwaynecarr commented on #4839
/assign

[2021-02-25 19:21] ehashman commented on #4839
/remove-lifecycle rotten

[2021-02-25 19:22] dims commented on #4839
cc @navidshaikh

[2021-02-26 02:47] dims commented on #2565
@navidshaikh do you want to take this on and help with?

[2021-02-26 07:52] robertperera commented on #5515
The Group's debt covenants are tested at 30 June and 31 December each year ... 2021 is the most appropriate time period for its viability review.

[2021-02-26 13:31] wojtek-t commented on #5509
@mrbobbytables - I opened the first draft (still with multiple TBDs)

[2021-02-26 16:35] JasonMorgan opened #5574 "Add a step by step blog publishing guide"
Checkout this [TODO](https://github.com/kubernetes/community/blob/master/communication/marketing-team/role-handbooks/storytellers.md#workflow-%EF%B8%8F). Add a how to publish guide here that does a paint by numbers style walk through of how to add new articles to the blog.

[2021-02-27 14:12] dims opened #5576 "Katacoda Scenario(?) for a brand new developer - basic tutorial"
Other CNCF communities maintain katacoda courses, example:
https://github.com/thanos-io/thanos/issues?q=is%3Aissue++katacoda+

There are a lot of katacoda scenarios for kubernetes in general as a end user:
https://katacoda.com/kubernetes

ASK:
We need one where someone who has just starting out in kubernetes and wants to try their hand at making a patch and testing it.

Basic Steps:
- Create a for

[2021-02-27 14:12] dims commented on #5576
/sig contributor-experience

[2021-02-27 14:14] dims commented on #5576
Idea thanks to conversations with  @soniasingla @LappleApple @darshnadas

[2021-02-27 14:44] mrbobbytables commented on #5576
/area new-contributor-track
/assign @mrbobbytables @alisondy @jberkus

[2021-02-27 16:44] soniasingla commented on #5576
hey @mrbobbytables! Want to collaborate on this with me? It would be a great addition to our developer community!

I have some experience in creating Katacoda tutorials. https://katacoda.com/thanos/courses/thanos/2-lts I created this last summer, it came out to be really helpful :)

[2021-02-27 17:02] saiyam1814 commented on #5576
I think this is great @dims and would be useful for the community!
There is a Kind scenario already -> https://www.katacoda.com/petermbenjamin/scenarios/kind
Kubernetes playground is also there, so we can over time actually create fully maintained Kubernetes Katakoda scenarios that we can use to teach other things as well

[2021-02-27 19:00] mrbobbytables commented on #5576
I did a quick test of trying to build kubernetes, but unfortunately the instance just dies when doing so. I don't think katacoda can cope with our build requirements:
- 8GB of RAM
- 50GB of free disk space

If you want to try, I just went with vanilla instance and went through the dev procedure here to install our reqs and
https://github.com/kubernetes/community/blob/master/contributors/devel/deve

[2021-02-27 22:37] dims commented on #5576
@mrbobbytables `make all` may be a very heavy hammer. if we can do

- `make kubelet` (like individual pieces)
- `make generated_files`
- hack/verify-* scripts (especially typecheck)

that should give us a decent start. `make quick-release` etc will be too heavy as well. hoping we can experiment with some low resource stuff at least for now

[2021-02-27 22:37] dims commented on #5576
cc @benhall

[2021-02-27 22:45] BenHall commented on #5576
@mrbobbytables thanks for the info. We do limit our free tier but the platform supports much larger instances. I will try in one of our large environments and see what happens.

[2021-02-27 22:57] mrbobbytables commented on #5576
@BenHall Thanks! Are the instance types/resource allocations documented anywhere? I was trying to find it earlier, but didn't have any luck^^;;

[2021-02-27 23:03] BenTheElder commented on #5576
re: kind, LMK if there's any issues 🙃
re: `make quick-release` is heavy: https://github.com/kubernetes/kubernetes/issues/99517

[2021-02-28 19:32] mrbobbytables commented on #5574
/sig contributor-experience
/area contributor-comms
/milestone v1.21

[2021-02-28 19:33] mrbobbytables commented on #5574
/assign @JasonMorgan

[2021-02-28 19:33] mrbobbytables commented on #5535
Just to update, the feedback has been passed onto GitHub 👍

[2021-02-28 19:52] sftim commented on #5231
I raised https://github.com/kubernetes-sigs/contributor-site/issues/207 not knowing this was already open.

[2021-03-01 19:12] deads2k commented on #5494
We've started working on this and have a draft document again a personal repo.  The google doc indicates that the PR should be open by March 8.  Is that more authoritative?  https://docs.google.com/document/d/1HeABRzhgF9NNpM0xGKLDhhc6bRfQuulsIsb59AjyS9M/edit#

[2021-03-01 21:44] mrbobbytables commented on #5494
@deads2k Yes, a message was also sent to the leads mailing list with additional information: https://groups.google.com/a/kubernetes.io/g/leads/c/G-BNeN8mf2A/m/rJSwlWuBAgAJ

[2021-03-01 23:48] spiffxp commented on #5515
https://kubernetes.slack.com/archives/CD6LAC15M/p1614619254007100 cheatsheet posted in slack

[2021-03-02 02:49] jberkus opened #5582 "Should LWKD be a Contribex Comms subproject?"
@kubernetes/sig-contributor-experience:

Last Week in Kubernetes Development is a weekly newsletter currently written by myself and Noah Kantrowitz, with about 900 subscribers not including Discuss or RSS access.  It has always been maintained as a community resource for Kubernetes contributors and distro builders.  Currently LWKD includes:

* [project repository](https://github.com/lwkd/lwkd.gith

[2021-03-02 14:57] castrojo commented on #5582
I like this, work's already being done, might as well formalize it. Just throwing this out there but having lwkd.k8s.dev or just having the feed take over the k8s.dev/blog would be really cool (Keeping the original name/domain too of course). Or maybe syndication?

[2021-03-02 19:38] SergeyKanzhelev commented on #5096
should this be closed as there is https://elekto.io/ now?

[2021-03-02 19:45] LappleApple commented on #4149
/remove-lifecycle stale -- still actively working on this via different angles

[2021-03-02 20:09] parispittman commented on #5582
extremely +1 to this

[2021-03-02 20:22] mrbobbytables commented on #5096
I believe so, @jberkus are there any other follow up items at this time?

[2021-03-02 20:23] mrbobbytables commented on #4149
/remove-lifecycle stale

[2021-03-03 00:07] coderanger commented on #5582
Aside from maybe getting new contributors (though anyone can come help right now, regardless of K8s status), the big thing I'm interested is having some standing to get resources for the project. We've done a lot with free-tier offers but it would be nice to, for example, have HTTPS on the website and remove the ESP branding on the emails. Neither are pricey but more than I would like to put up pe

[2021-03-03 13:25] mrbobbytables commented on #5582
I am a big +1 as well
There are some other details that we should try and have a plan for:
- migrate repo
  - switch to netlify?
  - integrate into the contributor site? (we can create a category for lwkd on the blog)
- transfer of domain and twitter
- funding for mailing list
- etc

[2021-03-03 19:06] jberkus commented on #5582
Yeah, one timing thing here is that we need to get off MailChimp and onto something else, and "something else" is likely to require payment.

[2021-03-04 01:17] coderanger commented on #5582
Moving the repo under k-sigs seems like it should be fairly straightforward, though I remember GH Pages and CNAMES having weird bugs with repo moves so we might see some website downtime while we hammer on it (not super worrisome tbh, I don't think many people visit the page directly on a regular basis). Netlify would be cute but a lot of work for low benefit (we don't do much other than add the o

[2021-03-04 14:01] mrbobbytables commented on #5236
/remove-lifecycle stale

[2021-03-04 14:26] mrbobbytables commented on #5229
/remove-lifecycle stale

[2021-03-04 14:34] mrbobbytables commented on #5231
/remove-lifecycle stale

[2021-03-04 14:34] mrbobbytables commented on #5234
/remove-lifecycle stale

[2021-03-04 19:47] ehashman opened #5593 "Update Logging Conventions doc with structured logging"
File to update: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

Currently this references non-structured log functions. Following the [structured log migration guide](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md), we should update this to use structured logging eq

[2021-03-04 19:48] ehashman commented on #5593
/sig instrumentation
/kind documentation

[2021-03-05 00:00] BenTheElder commented on #3621
/remove-lifecycle rotten
what do we think is necessary to achieve a consensus on this?
do we need to send out a survey? to who?
do I need to go to a contribex meeting?
right now this is blocked on an arbitrary undefined bar https://github.com/kubernetes/community/issues/3621#issuecomment-771112667

cc @kubernetes/sig-contributor-experience @kubernetes/sig-testing

[2021-03-05 00:03] BenTheElder commented on #3753
I've gotten https://github.com/kubernetes/enhancements/issues/2420 to alpha status now, meaning that contributors to the current Kubernetes development branch do not need to work with bazel AND make at least (just make).

ref comments like: https://twitter.com/tsaha/status/1366482303078207488

a small win at least.

re-raising https://github.com/kubernetes/community/issues/3621#issuecomment-791040

[2021-03-05 00:05] BenTheElder commented on #3753
see also: https://github.com/kubernetes/test-infra/issues/18729 related to reducing presubmit pain.

[2021-03-05 00:10] BenTheElder commented on #3621
these comments are frequently confusingly out of date, e.g:
<img width="965" alt="Screen Shot 2021-03-04 at 4 10 20 PM" src="https://user-images.githubusercontent.com/917931/110048163-23dd9f00-7d04-11eb-982c-5926e5abec0d.png">
they're easily de-sychronized with the actual state in the github built-in status feature, which we also use.

[2021-03-05 00:12] BenTheElder commented on #3621
re-looking at this data, I don't think there's a question clearly about test failure notifications.
the question asks if the notifications are helpful without differentiating the other classes of comment we post

[2021-03-05 00:39] alvaroaleman commented on #3621
At the very least what I would _really_ like to see is not keeping references to jobs that ran on outdated revisions in the comment, that is tremendously confusing: https://github.com/kubernetes/community/issues/3621#issuecomment-708551605

[2021-03-05 01:27] BenTheElder commented on #3621
+1, there's a similar problem with removing jobs and even though the github statuses go away correctly the failure comment will keep existing failures forever if there is no pass.

[2021-03-05 09:09] LappleApple commented on #3621
A few months ago a UX designer was looking at this issue -- did anything come of that in Contribex?

[2021-03-05 11:55] lukehinds opened #5596 "Rename of PSC"
We recently discussed the name of the PSC / Product Security Committee  and if best describes what we do / could lead to confusion. The particular part is "Product" as there is no Product as such (that would be an element for downstream).

A more suitable name could be 'Security Response Committee' or 'Vulnerability Response Committee', the outcome of this discussion on our recent PSC meeting was

[2021-03-05 12:00] dims commented on #5596
cc @kubernetes/sig-security-leads

[2021-03-05 12:04] dims commented on #5596
@lukehinds please go ahead and open a PR against sigs.yaml:
https://github.com/kubernetes/community/blob/master/sigs.yaml#L3033-L3077

and drop an email to steering@k8s.io to approve. will force us to do stuff :) once that's approved, we can start making changes in other places. please give a heads up to related sigs as well.

[2021-03-05 12:09] mrbobbytables commented on #5596
/committee steering

[2021-03-05 12:23] lukehinds commented on #5596
cc @kubernetes/product-security-committee

[2021-03-05 13:12] firoshaq opened #5598 "Egress Network policy definition"
Hi Team,

I have been creating egress network policy using the official [documentation](https://kubernetes.io/docs/concepts/services-networking/network-policies/) under my name space in an AKS  cluster. I am using calico network plugin. I see that in the documentation we are able to only use  `cidr`range but with openshit we were able to use both `cidr` as well as `dnsname` as mentioned from [here

[2021-03-05 13:14] mrbobbytables commented on #5598
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2021-03-05 13:14] #5598 closed

[2021-03-05 14:49] BenHall commented on #5576
@mrbobbytables @dims I took a look today. With slightly CPU and Memory (8 cores, 8Gb) everything looked to build successfully within an environment, even `make all`.

I ran `make test` and most appear to work but some failed. Here is the output https://gist.github.com/BenHall/2896bf3012282deaae7f58508bfa7b8e

Anything failing due to Katacoda?

[2021-03-05 15:02] dims commented on #5576
@BenHall thanks! i see 2 failures, please log an issue about them so we don't forget. i think this is fine, you don't have to dig into it yet. we are reworking a bunch of stuff (rip bazel, bump to golang 1.16) so i'd expect some hiccups right now.

@BenHall can you please check if this works?
[code]
documented here : https://github.com/kubernetes-sigs/kind/blob/master/README.md#L87

a really stret

[2021-03-05 15:20] BenHall commented on #5576
@dims Looks like the node-image can build. It took 5mins, not sure what the normal time is.

Create Cluster however failed

[code]

The healthcheck appears to timeout after a while.

[code]

[2021-03-05 17:48] BenTheElder commented on #5576
If we're building Kubernetes sources at HEAD we need kind installed from HEAD. Kubeadm made a breaking change in 1.21 (unreleased) which kind at HEAD handles.

[2021-03-05 17:51] BenHall commented on #5576
@BenTheElder that would be it! Thanks, will give it a go.

[2021-03-05 18:36] BenTheElder commented on #5576
Also I'm pretty sure for the contributor summit at least what we've done is used stable releases of both (checkout to kubernetes release-1.X branch, use latest kind stable release) to avoid surprises on the day of the session, that may be a good idea here (though might be nearly as tricky to do on a rolling basis?)

We also have pre-compiled binaries used by CI here: https://kind.sigs.k8s.io/dl/la

[2021-03-05 19:13] derekwaynecarr opened #5600 "SIG Node needs a CONTRIBUTING.md"
Action item for follow-up from our annual report.

[2021-03-05 19:13] derekwaynecarr commented on #5600
/sig node

[2021-03-05 23:07] tabbysable commented on #5596
+1 (with my SIG Security hat on)

I like the "Security Response Committee" suggestion, as PSC isn't necessarily limited to k8s vulns.

[2021-03-06 19:26] #2873 closed

[2021-03-06 19:26] #2959 closed

[2021-03-07 08:34] nikhita commented on #5564
@kubernetes/wg-naming-leads -- can you please confirm if you'd like to go ahead with this feature?

From the contribex side, I will add it to next meeting's agenda.

[2021-03-07 09:18] nikhita commented on #5559
IMO we should allow non-members to apply lifecycle/foo labels. There are several instances when issues get autoclosed because the SIG hasn't actively investigated them.

I agree that starting with a job to remove them would be a good solution for now. We can revisit restricting who can apply the label based on how the job approach goes.

Created https://github.com/kubernetes/test-infra/pull/21211

[2021-03-07 23:19] mrbobbytables commented on #5199
Just checking back in, are things good now?

[2021-03-07 23:27] mrbobbytables commented on #5564
While I approve of the intent behind this. I don't think it'll have the intended impact. People don't look at the messages from our bots as it is :(

[2021-03-07 23:29] mrbobbytables commented on #5555
Currently listed as a TL 👍
https://github.com/kubernetes/community/tree/master/sig-release#technical-leads
/close

[2021-03-07 23:29] #5555 closed

[2021-03-07 23:51] spiffxp commented on #5199
They are not. I never got around to creating a new meeting. Will do so tomorrow. We are also behind in recordings again, I may just upload those myself to a channel I have publish rights to, and add to the shared playlist save you the trouble

[2021-03-08 02:48] mrbobbytables commented on #5153
Just to update, Survey has been sent out - It is targeted to close on the 21st

[2021-03-08 05:39] Pensu commented on #4469
/remove-lifecycle stale

[2021-03-08 13:35] #5485 closed

[2021-03-08 15:24] ingvagabund commented on #5237
Will update both https://github.com/kubernetes/community/blob/master/contributors/devel/sig-scheduling/scheduler.md and https://github.com/kubernetes/community/blob/master/contributors/devel/sig-scheduling/scheduler_algorithm.md

[2021-03-08 15:26] mrbobbytables commented on #5237
Thanks!

[2021-03-08 22:18] ehashman commented on #5593
/milestone v1.21

@iraj465 go for it!

[2021-03-09 03:09] spiffxp commented on #3541
/reopen
/remove-lifecycle rotten
I am noodling on a proposal related to this. The tl;dr is that if this ~gsuite~ Google workspace is funded out of the same bucket of cloud credits that funds k8s-infra, I am pretty sure we can find a workable solution that costs an additional <=2% of our current spend. I'll send to steering for review when ready, unless you would rather contribex take a look first

[2021-03-09 03:10] spiffxp commented on #3541
/unassign @castrojo
/assign @spiffxp

[2021-03-09 03:11] spiffxp commented on #3541
/wg k8s-infra

[2021-03-09 14:59] nikhita commented on #5582
I'm +1 to this.

I'd like an ack from the Contributor Comms subproject owners if they are good with this. We are very resource constrained in contribex so I'm a little hesitant in taking up new things. If we have volunteers who are willing to commit taking this on, we should go ahead with this. :+1:

/cc @mbbroberg @kaslin @rajula96reddy @Pensu

[2021-03-09 14:59] savitharaghunathan commented on #5235
Update: I am working on putting a document together with items that can be moved. I Will share it with the wider group, once I have it ready for feedback and comments. Thank you :)

[2021-03-09 16:34] #4446 closed

[2021-03-09 17:27] spiffxp opened #5619 "Update branch rename guide with snippets to get default remote branch vs hardcode"
Followup issue for https://github.com/kubernetes/community/pull/5609#discussion_r590571418

/assign
/sig contributor-experience
/sig testing
/priority important-soon
/milestone v1.21

[2021-03-09 19:45] coderanger commented on #5582
To be clear, we are not asking for anyone not already working on LWKD to do anything. Just an org chart update :) Josh and I will continue to manage and publish the newsletter.

[2021-03-09 19:50] chris-short commented on #5582
This sounds awesome to me

On Tue, Mar 9, 2021 at 14:45 Noah Kantrowitz <notifications@github.com>
wrote:

--

Chris Short
He/Him/His
Blog <https://chrisshort.net> | Newsletter
<https://devopsish.com/subscribe/> | Twitch
<https://www.twitch.tv/redhatopenshift> | Twitter
<https://twitter.com/ChrisShort> | LinkedIn
<https://linkedin.com/in/thechrisshort>
TZ=America/Detroit

[2021-03-09 20:45] eddiezane commented on #5232
@SyamSundarKirubakaran is this something you'd be interested in hopping on?

[2021-03-09 20:46] jayunit100 commented on #5229
do we need this for windows?

[2021-03-09 21:33] jsturtevant commented on #5229
We have a doc here: https://github.com/kubernetes/community/blob/master/sig-windows/CONTRIBUTING.md should we move this to https://github.com/kubernetes/community/tree/master/contributors/devel?

[2021-03-09 21:45] jayunit100 commented on #5229
i just made a PR symlinking

[2021-03-09 21:45] jayunit100 commented on #5229
https://github.com/kubernetes/community/pull/5621

[2021-03-10 00:49] iraj465 commented on #5593
/assign

[2021-03-10 16:41] spiffxp commented on #5619
(mumbles something about "default remote branch" not being hardcore, googles "SLC punk hardcore", chuckles)