[2021-03-10 17:28] spiffxp commented on #2323
I'm moving this to Blocked because it's unclear whether we want to announce and Just Do This, or shard this out as recommended path forward

[2021-03-10 20:04] ingvagabund commented on #5237
Google docs replacing both docs: https://docs.google.com/document/d/1t2QoASmg_BssFczl8n7UNTDWKgncMSrLTX802fQ0lK8/edit?usp=sharing. Still WIP, we can still borrow bits from the existing docs and put it into the new one.

[2021-03-10 20:04] ingvagabund commented on #5237
FYI @ahg-g @Huang-Wei @alculquicondor @damemi ^^

[2021-03-10 20:24] alculquicondor commented on #5237
/assign @ingvagabund

Thanks

[2021-03-10 20:51] damemi commented on #5237
@ingvagabund that is an excellent detailed document. I started doing something similar a while back, but have not had time to work on it: https://docs.google.com/document/d/1O78c38_NZcIb0ISJUqzh4u1uHspi6kgm/edit

Please feel free to pick any sections or details from that doc as you see fit to add here :)

[2021-03-10 21:25] jberkus commented on #5582
Is there some reason not to just use the lwkd repo, and move that under kube-sigs?  that would avoid a bunch of reconfiguration

[2021-03-11 16:38] dims commented on #566
sent a final email out to sig-arch and sig-api-machinery:
https://groups.google.com/g/kubernetes-sig-api-machinery/c/TTUxPiynt1I/m/G83OiOrTAwAJ

/close

[2021-03-11 16:38] #566 closed

[2021-03-11 22:33] mbbroberg commented on #5582
With that context, sounds great! We'd love to offer whatever support needed and happy to hold time for LWKD in the weekly meeting or as needed.

[2021-03-11 23:14] micahhausler commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/e4c032f2-164f-5372-b809-897a0f96e23d-micah-hausler-the-inclusive-speaker-orientation-lfc101-certificate.pdf)!

[2021-03-12 03:04] RobertKielty opened #5626 "contributors/devel/sig-testing/e2e-tests.md references deprecated script"
The below quoted section from  contributors/devel/sig-testing/e2e-tests.md looks out of date:

- references cluster/log-dump.sh which has moved and contains a deprecation notice
- references Jenkins builds
- the script does not work on local clusters

[code]

[2021-03-12 09:23] RobertKielty commented on #5626
/sig contribex

[2021-03-13 19:11] #4938 closed

[2021-03-13 20:12] #5156 closed

[2021-03-15 02:41] SyamSundarKirubakaran commented on #5232
Sure @eddiezane, I'll sync up with Phil to get more context on this.

[2021-03-15 09:53] nikhita commented on #5360
/remove-lifecycle stale

Adding the good-first-issue label.
/good-first-issue

If you are picking this issue up, here's how to proceed:

**What we want to do**:
Create a new shortlink go.k8s.io/logo to point to https://branding.cncf.io/projects/kubernetes

**Background**:
- The list of go.k8s.io redirections are here - https://github.com/kubernetes/k8s.io/tree/main/k8s.io#redirections
- The rewrit

[2021-03-15 09:59] nikhita commented on #5626
/sig testing

cc @BenTheElder

[2021-03-15 10:08] nikhita commented on #5542
/assign @kikisdeliveryservice

[2021-03-15 10:17] nikhita commented on #5360
/remove good-first-issue

/assign @RinkiyaKeDad

[2021-03-15 16:59] mbbroberg commented on #3654
Hey all! The team at contrib comms is working to shift this issue toward a system that fits into our editorial workflow. The objective is to make a document that helps facilitate asynchronous interviews with SIGs so profiling takes a little less effort for new authors.

Here is where we're putting that together: https://docs.google.com/document/d/17zSSDRYoVySbxev2_9r1x89YzFtRH-5DUrz-Q3VAGuo/edit

[2021-03-15 18:15] mbbroberg commented on #3541
/remove-area contributor-comms

[2021-03-15 18:15] mbbroberg commented on #3362
/remove-area contributor-comms

[2021-03-15 18:16] mbbroberg commented on #2663
/remove-area contributor-comms

[2021-03-16 06:09] nikhita commented on #5635
From @spiffxp's comment above:

/sig contributor-experience
/area github-management

/committee steering
this originated from steering

/sig architecture
/area code-organization
this is the sig that decides whether new kubernetes org repos should be created, it seems fair to me they should decide which preexisting repos should not be in this org

[2021-03-16 06:56] nikhita opened #5636 "Default branch migration docs feedback"
This issue is to track feedback about docs for migrating default branch from `master` to `main`. Docs are at:
- https://k8s.dev/rename
- https://github.com/kubernetes/community/blob/master/github-management/default-branch-migration.md

We've had feedback and ideas being shared in slack. This issue would help in collecting the feedback at a single place on GitHub.

Note - The docs are meant for rep

[2021-03-16 06:57] nikhita commented on #5636
Feedback from @BenTheElder (ref: [slack thread](https://kubernetes.slack.com/archives/C1TU9EB9S/p1615487742145000)):

[code]

[2021-03-16 06:58] nikhita commented on #5636
From @cblecker (ref: [slack message](https://kubernetes.slack.com/archives/C01672LSZL0/p1615842694011700)):

[2021-03-16 07:06] BenTheElder commented on #5636
Thank you @nikhita!

[2021-03-16 07:10] nikhita commented on #5636
xref https://github.com/kubernetes/community/issues/5619 - Update branch rename guide with snippets to get default remote branch vs hardcode

[2021-03-16 09:44] betaincao opened #5637 "Unclear definition of the --horizontal-pod-autoscaler-initial-readiness-delay flag"
issues: https://github.com/kubernetes/website/issues/12657

If my Java pod takes 3 minutes to start up and uses a lot of CPU and I want to make sure this CPU burst is not taken into account by HPA for scale up, which value should I set to 3 minutes? --horizontal-pod-autoscaler-initial-readiness-delay? --horizontal-pod-autoscaler-cpu-initialization-period? Both? Does it also matter when the readine

[2021-03-16 09:45] betaincao commented on #5637
/sig sig-autoscaling

[2021-03-16 09:46] betaincao commented on #5637
/sig autoscaling

[2021-03-16 12:42] mrbobbytables commented on #5637
Your question isn't likely to be answered here =/ This place is the meta repo for contributor community management. You will have better luck reading out to sig-autoscaling's [mailing list/meeting/slack channel](https://github.com/kubernetes/community/tree/master/sig-autoscaling#contact).

With that I'm going to go ahead and close this out. If you have any further questions please feel free to res

[2021-03-16 12:42] #5637 closed

[2021-03-16 16:14] #5360 closed

[2021-03-16 22:52] BenTheElder commented on #5636
also `branch_protection` is not the real config field, it's `branch-protection` apparently (which is super config as other fields in prow typically are snake case)

https://github.com/kubernetes/test-infra/blob/7c62dd64c875ae223eee355ce1ba9a20a66ab42d/config/prow/config.yaml#L135

[2021-03-16 23:37] BenTheElder commented on #5636
KIND is done now, remaining feedback:

- A lot of the checklist mentions prow config, but github actions are in use in some subprojects and may also need updating and don't seem to have any callouts.

- I also noticed netlify will try to retain the `master` branch in the configured branches for build, but that doesn't seem like a big deal / wasn't difficult to cleanup.

[2021-03-17 04:32] spiffxp commented on #5636
re: https://github.com/kubernetes/k8s.io/pull/1792#discussion_r595494784, that would be good ol' https://github.com/kubernetes/test-infra/issues/7971 which kept aging out

[2021-03-17 16:19] mrbobbytables commented on #4894
/remove-lifecycle rotten

[2021-03-17 16:36] LappleApple opened #5641 "Remove `kind/design` label"
This label isn't needed anymore.

/kind cleanup
/area enhancements
/sig architecture

[2021-03-17 18:02] mrbobbytables commented on #5641
/sig contributor-experience

[2021-03-17 21:00] mrbobbytables commented on #5641
/assign @nikhita @cblecker @alisondy @mrbobbytables
For further thoughts

As an FYI - at least within k/k this label isn't used that much anymore with the shift to KEPs.
I'm +1 for removal, @dims +1'ed the original thread in k/enhancements as well.

https://github.com/kubernetes/kubernetes/search?q=label%3Akind%2Fdesign&state=open&type=issues

[2021-03-17 21:09] jberkus commented on #4586
/remove lifecycle-rotten

This still needs to be completed.

[2021-03-18 16:23] fabriziopandini commented on #5535
+1 to this.
Having some automation (add card, move card, remove card) based on configurable labels & issue/PR status would really help to start using project boards

[2021-03-18 18:14] spiffxp commented on #3541
Some prior art for managing Google calendar https://github.com/sethvargo/terraform-provider-googlecalendar

[2021-03-19 15:52] mbbroberg opened #5644 "Document and simplify the SIG Profiling blog process"
Follow up to https://github.com/kubernetes/community/issues/3654#issuecomment-799581874

/area contributor-comms
/sig contributor-experience

[2021-03-19 15:53] mbbroberg commented on #3654
We have a new issue to complete the shift to an async format. Thank you to everyone who's been helped the community through these articles to date!

/close

[2021-03-19 15:53] #3654 closed

[2021-03-19 16:45] jberkus commented on #5582
Discussed this at the Contributor Comms meeting this morning, and the handover was approved.  Now taking it to infra.

[2021-03-20 04:35] parispittman commented on #2659
/close

bullets:
1 - we are adding more to the curriculum structure but not as in depth as listed here so we went in another lane of the same road :)
2 - we have a #pr-reviews slack channel, #contributors slack, and a bunch of other solutions now

[2021-03-20 04:35] #2659 closed

[2021-03-20 04:44] parispittman commented on #3479
rescoped the issue to reflect todays needs

[2021-03-21 12:27] timjohn2 commented on #5515
Enabling a better, safer and more interconnected world2020 Annual Reports [.](https://diamondpaintingkits.art/)

[2021-03-22 02:38] puerco commented on #5344
/remove-lifecycle stale

[2021-03-22 15:21] alisondy commented on #4943
make a written version of this instead of recording

[2021-03-22 15:24] alisondy commented on #4549
@mrbobbytables stub the pages in the contributor site with the list in this issue

[2021-03-22 15:26] alisondy commented on #4944
@mkorbi are you still interested on working on this?

[2021-03-22 15:28] alisondy commented on #4945
@kaslin @parispittman are you still interested on working on this? This can be in the form of either a video or a written guide.

[2021-03-22 15:28] alisondy commented on #4947
@mkorbi are you still interested on working on this? This can be in the form of either a video or a written guide.

[2021-03-22 15:30] alisondy commented on #4948
@hh @heyste any updates on how things are going 🙂

[2021-03-22 15:30] alisondy commented on #4949
@hh @heyste any updates on how things are going 🙂

[2021-03-22 15:30] alisondy commented on #4950
@hh @heyste any updates on how things are going 🙂

[2021-03-22 15:30] alisondy commented on #4951
@hh @heyste any updates on how things are going 🙂

[2021-03-22 15:32] alisondy commented on #4952
/assign @savitharaghunathan

[2021-03-22 15:32] alisondy commented on #4954
@Pensu are you still interested on working on this? This can be in the form of either a video or a written guide.

[2021-03-22 15:37] alisondy commented on #4955
note: refer to teh repo tour guide and remind folks that there is many different repos they can contribute too aswell

[2021-03-22 15:38] alisondy commented on #4958
/unassign @markyjackson-taulia

[2021-03-22 15:39] alisondy commented on #4958
/assign @jberkus

[2021-03-22 15:42] alisondy commented on #4894
/assign @mrbobbytables

[2021-03-22 15:45] alisondy commented on #5576
@hh @heyste fyi re: ncw build and test

[2021-03-22 15:50] alisondy commented on #4956
/assign @eddiezane

[2021-03-22 15:50] alisondy commented on #4956
/assign @alisondy

[2021-03-22 15:55] alisondy opened #5652 "NCW2: Update video guide to include video upload directory"
Here is the link of the drive folder to upload video recordings to

https://drive.google.com/drive/folders/1cvGcRgX9IWNR_csNVJ0nWRYD65Wmx9hu?usp=sharing

[2021-03-22 15:57] eddiezane commented on #5576
@napcs @katjuell @hazel-nut this might be a good place to contribute if DO folks are interested.

[2021-03-22 19:06] jberkus commented on #5582
With issue open against Org repo, closing this now.

[2021-03-22 19:06] #5582 closed

[2021-03-22 20:30] spiffxp commented on #5515
Despite my intentions to have drafted this in time for tomorrow's SIG Testing meeting, I have made little progress...

We've got a hackmd going, linked from our draft PR (ref: https://github.com/kubernetes/community/pull/5612)

[2021-03-22 22:37] jberkus commented on #4586
ooops:

/remove-lifecycle rotten

[2021-03-23 05:38] Pensu commented on #4954
@alisondy Yes, haven't had time to look into it. But would love to give this a shot. Do we have any timelines for this?

[2021-03-23 11:43] wei5523 opened #5654 "How to create ingress by golang api"
**Hi Everyone,**

**I want to create ingress by golang.  But I got error when I send the body like this  :**

 `{
    "apiVersion": "extensions/v1beta1",
    "kind": "Ingress",
    "metadata": {
        "name": "drone-ingress",
        "namespace": "drone"
    },
    "spec": {
        "rules": [
            {
                "host": "drone-local.nip.io",
                "http": {

[2021-03-23 11:49] wei5523 commented on #5654
/sig architecture

[2021-03-23 12:00] mrbobbytables commented on #5654
@wei5523 your question won't really get answered here, this is the meta-repo used for general contributor community management. I suggest [reaching out to sig network](https://github.com/kubernetes/community/tree/master/sig-network#contact) either in slack or on their mailing list to get your question answered 👍

[2021-03-23 20:30] enj commented on #4959
[Done](https://github.com/kubernetes/community/files/6192555/mo-khan-lfc101-cert.pdf).

[2021-03-24 01:08] wei5523 commented on #5654
@mrbobbytables thank for your reply. I will try and close this issue.  👍

[2021-03-24 01:09] #5654 closed

[2021-03-24 04:17] nikhita commented on #5641
Agree.

There are [68 open issues](https://github.com/search?p=1&q=org%3Akubernetes+label%3Akind%2Fdesign+is%3Aopen&type=Issues) in the kubernetes org with the label `kind/design`. Most of them are from k/k and k/kubeadm.

There are [52 open issues](https://github.com/search?q=org%3Akubernetes-sigs+label%3Akind%2Fdesign+is%3Aopen&state=open&type=Issues) in the kubernetes-sigs org with the label `k

[2021-03-24 04:17] nikhita commented on #5652
/sig contributor experience
/area mentorship-planning

[2021-03-24 04:17] nikhita commented on #5652
/sig contributor-experience

[2021-03-24 04:22] nikhita commented on #5096
@jberkus :wave: do you think this can be closed?

[2021-03-24 04:24] nikhita commented on #4641
Is this still desired?

[2021-03-24 04:29] neolit123 commented on #5641
i use this label on issues that require thinking,  discussion and proposal docs.
it can apply to bugs *and* features.

if you remove the `kind/design` label from k/k that's fine, but let's not remove it from non-k/k repo issues.
repo maintainers are free to add whatever `kind/*`, `area/*` labels they want.

[2021-03-24 08:32] wojtek-t commented on #5236
Docs to be update:
- [ ] the two kubemark-related docs should be updated and merged into a single kubemark-related one
- [ ] documentation on how to use cluster-loader should be added
- [ ] documentation on how to extend cluster-loader should be added

Having those should give us a good start.

[2021-03-24 15:07] vincepri commented on #5641
We have kind/design, but also kind/proposal. We truthfully only need a single one, although I know that Controller Runtime also uses this label. cc @DirectXMan12 @alvaroaleman

The reason to have an additional label is for us to remind that we need a design document / proposal when a feature is too large to discuss in an issue.

[2021-03-24 19:10] dims commented on #5641
@nikhita +1 to remove `kind/design` from k/k

[2021-03-25 11:43] nikhita opened #5660 "Add slack bot for non-inclusive language"
This issue is to track adding a slack bot to moderator non-inclusive language. See original issue with more details - https://github.com/kubernetes-sigs/slack-infra/issues/27

Ref: [slack thread](https://kubernetes.slack.com/archives/C4M06S5HS/p1614182913005000)

- [x] PR to add the bot - https://github.com/kubernetes-sigs/slack-infra/pull/41
- [x] Updates to slack-moderator-words to push the imag

[2021-03-25 15:11] ameukam commented on #4959
I attest I've completed on March 25, 2021 the training [https://training.linuxfoundation.org/training/inclusive-speaker-orientation/](https://training.linuxfoundation.org/training/inclusive-speaker-orientation/). Certificate ID : LF-7c4gognjpk

[2021-03-25 15:44] ehashman commented on #5593
/close

Fixed in #5624

[2021-03-25 15:44] #5593 closed

[2021-03-25 18:21] MadhavJivrajani opened #5663 "Broken link in README of sig-autoscaling"
The [link](https://github.com/kubernetes/community/tree/master/sig-autoscaling#scale-client) for Owners in `client-go/scale` seems to be broken due to a missing OWNERS file in the [`scale`](https://github.com/kubernetes/client-go/tree/master/scale) directory.

/sig-autoscaling

[2021-03-25 18:22] MadhavJivrajani commented on #5663
/sig-autoscaling

[2021-03-25 18:22] MadhavJivrajani commented on #5663
/sig autoscaling

[2021-03-25 19:06] ehashman commented on #5504
/reopen

as not all of the checkboxes have yet been addressed

[2021-03-26 00:35] tabbysable commented on #4959
I completed the course on 2020/09/22; do we have a requirement to upload the certificate somewhere, or is reporting it sufficient?

[2021-03-26 00:40] dims commented on #4959
@tabbysable thanks for reporting back. this is enough! (no need to upload)

[2021-03-26 15:20] mbbroberg commented on #4780
Thanks for signing up to work on this Jason!

/reopen
/unassign @mbbroberg
/assign @JasonMorgan

[2021-03-26 15:21] JasonMorgan commented on #4780
Heyo! I'd love to take this!

[2021-03-26 15:28] mbbroberg commented on #4780
Closing this in favor of https://github.com/kubernetes/community/issues/5574 which documents the desired outcome of filling in the existing TODO.

/close

[2021-03-26 15:28] #4780 closed

[2021-03-26 15:29] mbbroberg commented on #5574
From the other issue:

[2021-03-26 16:08] LappleApple commented on #2234
/unassign @jdumars

[2021-03-28 17:00] #2657 closed

[2021-03-30 14:14] maelvls opened #5668 "REQUEST: Upgrade the Slack App "GitHub""
**GitHub Username:** @parispittman (AFAIK owner of the `#cert-manager-dev` channel, see below)
**Slack Username:** [Paris Pittman](https://kubernetes.slack.com/team/U5SB22BBQ) (owner of the `#cert-manager-dev` channel)

<details>
<summary>🪧 Screenshot: owner of #cert-manager-dev</summary>

<img width="400" alt="Screenshot 2021-03-30 at 15 59 51" src="https://user-images.githubusercontent.com/21957

[2021-03-30 17:56] detiber commented on #4641
unsure, @randomvariable might have more context if it is still desired.

[2021-03-30 20:06] mrbobbytables commented on #5668
We unfortunately cannot upgrade the GitHub Slack app. When the new version was first released it was reviewed by the GitHub admin team and the the capabilities it enables + it being enabled for ALL channels automatically with no way of restricting its access is too much of a risk to enable. There are some capabilities of it that could potentially bypass the workflow processes that we have built wi

[2021-03-30 21:10] spiffxp opened #5671 "provider-aws OWNERS_ALIAS is mostly stale"
This alias is copy-pasted in a bunch of different repos (kubernetes/org, kubernetes/test-infra).  Two of its members have moved on from the project and have at most 5 contributions for the year (kris-nova, d-nishi) vs ~1K for justinsb (according to devstats).  PRs that touch paths it owns go unaddressed if justinsb happens to be unavailable.

This is the alias definition in this repo, but as I sai

[2021-03-31 08:28] nikhita commented on #2992
/assign @navidshaikh

[2021-03-31 10:01] maelvls commented on #5668
Got it! I will add a note about this on the [cert-manager biweekly meeting notes](https://docs.google.com/document/u/6/d/1Tc5t6ylY9dhXAan1OjOoldeaoys1Yh4Ir710ATfBa5U/edit#heading=h.7h8rkitcxn99). Thanks for the information!

/close

[2021-03-31 10:02] #5668 closed

[2021-03-31 13:57] markyjackson-taulia commented on #5201
I checked with @alisondy if it was ok that I worked this
/assign @markyjackson-taulia

[2021-03-31 21:05] spiffxp commented on #5199
Today's meeting was a new recurring meeting, if It gets automatically uploaded I'll call this done.

[2021-04-01 08:06] irvifa commented on #5503
@liggitt who will review the PR since it's ready to be reviewed

[2021-04-01 16:41] cpanato commented on #5660
bot is deployed and running

[2021-04-01 17:54] spiffxp opened #5685 "kubernetes-dev moderator staff has openings"
I kicked a bunch of kubernetes-dev@ messages from first-time posters out of moderation today.  Made me wonder if our moderation staff is stretched too thin.

So after asking in #sig-contribex I added @dims as an Owner, and reconciled the state of kubernetes-dev roles and the moderation docs: https://github.com/kubernetes/community/pull/5684

This leaves us with:
- 2 open primary moderator seats
-

[2021-04-01 19:42] mrbobbytables commented on #5502
Report has been merged 👍
/close

[2021-04-01 19:42] #5502 closed

[2021-04-01 21:52] spiffxp commented on #5619
https://github.com/kubernetes/community/pull/5688 should close this out

[2021-04-02 01:58] #5513 closed

[2021-04-05 13:21] #4754 closed

[2021-04-05 14:22] nikhita commented on #5230
/remove-lifecycle stale

On Mon, Apr 5, 2021 at 7:34 PM fejta-bot ***@***.***> wrote:

[2021-04-05 17:07] #5301 closed

[2021-04-05 20:20] markyjackson-taulia commented on #4289
/remove-lifecycle stale

[2021-04-06 10:00] Davidrjx commented on #5410
@mrbobbytables yes, thank you for answer. But my problem had been resolved as incorrect json patch syntax.

[2021-04-06 22:08] spiffxp commented on #5199
And... it did not.  I'll just manually upload to my channel again and add to playlist

[2021-04-07 12:41] LappleApple commented on #5235
Hi @savitharaghunathan, any updates on this?

[2021-04-07 12:47] savitharaghunathan commented on #5235
Hi @LappleApple, I have made very minimal progress on this since my last update. I am hoping to tackle this in the 1.22 cycle if it is okay to move it to the 1.22 milestone. Thanks :)

[2021-04-07 14:27] Avni-Sharma opened #5700 "Broken links in sig-docs"
The links mentioned under https://github.com/kubernetes/community/tree/master/sig-docs#contact seems to be broken.

[2021-04-07 23:29] markyjackson-taulia commented on #5385
/remove-lifecycle stale

[2021-04-08 07:56] cpanato commented on #5660
email sent: https://groups.google.com/g/kubernetes-dev/c/7ZdDLJ8UiQ8

[2021-04-08 18:07] Kevin1515-ENG opened #5702 "Kubernetes Benchmark Testing"
Hello,

I am new to the Kubernetes World so any guidance is greatly appreciated.

My role is a test engineer. The system I am testing is a Konvoy Kubernetes Cluster on a Bare Metal System.

My goal is to find a Benchmark or set of standards that is accepted across the Kubernetes community for testing the limits of  a Kubernetes Cluster.

My end goal is to take these Bare Metal results and compare

[2021-04-08 18:56] Kevin1515-ENG commented on #5702
/sig Testing

[2021-04-08 20:10] #5619 closed

[2021-04-08 21:07] Avni-Sharma commented on #5700
/sig docs

[2021-04-09 13:54] mrbobbytables commented on #5700
They are not broken, but require being an org member to view through GH
You can see the members of the groups here: https://github.com/kubernetes/org/blob/main/config/kubernetes/sig-docs/teams.yaml

[2021-04-09 13:54] mrbobbytables commented on #5700
/close

[2021-04-09 13:54] #5700 closed

[2021-04-09 13:56] mrbobbytables commented on #5702
This repo is the meta-repo for managing the project, your question is not likely to get answered here. =/

I'd suggest emailing the [kubernetes-dev](https://groups.google.com/u/1/g/kubernetes-dev) mailing list.

[2021-04-09 15:13] JasonMorgan commented on #5574
https://gist.github.com/JasonMorgan/f98e07d66dee6474a50d47db7b997b77 -- Draft

[2021-04-09 15:15] JasonMorgan commented on #5574
Add something about tweets/promotion after a blog

[2021-04-09 15:58] mbbroberg opened #5704 "Update Slack Group for @contrib-comms"
We have a lot of new regular members to add to [usergroups.yaml](https://github.com/kubernetes/community/blob/e04cba9f46da3577b33e1a58834b1186c1843199/communication/slack-config/usergroups.yaml).

[code]

Wow, that's a lot of great people 😅.

I'll complete this by following the instructions [here](https://github.com/kubernetes/community/tree/e04cba9f46da3577b33e1a58834b1186c1843199/communication/s

[2021-04-09 15:59] mbbroberg commented on #5704
/assign @mbbroberg

[2021-04-09 23:35] tallclair commented on #2992
Hopefully we can leverage https://go.googlesource.com/proposal/+/master/design/draft-vulndb.md for this in the future

[2021-04-11 19:58] BenTheElder commented on #2992
@tallclair +1 --  I've been in contact with the google team working on this, they've actually been using kubernetes/kubernetes as a test case given our large dependency tree 👍

[2021-04-12 17:26] neolit123 commented on #5501
PR merged:
https://github.com/kubernetes/community/pull/5594

[2021-04-13 00:38] SergeyKanzhelev commented on #5181
/remove-lifecycle stale

[2021-04-13 01:26] #3277 closed

[2021-04-13 01:36] dims commented on #5576
@BenHall Any updates? please let us know.

[2021-04-13 10:11] stevehipwell opened #5712 "Add repo to manage Helm charts for kubernetes-sigs"
It would be really useful to have a single repository under _kubernetes-sigs_ to manage Helm charts in one place for the projects hosted there. This repo could be configured to use GitHub actions to lint and test the charts before releasing them to a Helm repo hosted on the GitHub pages branch. I'd suggest `kubernetes-sigs/helm-charts` would be a good repo for this and I'd be keen to collaborate o

[2021-04-13 10:13] stevehipwell commented on #5712
/sig apps

[2021-04-13 11:39] mrbobbytables commented on #5712
Just as an FYI - this issue likely won't get attention from other groups here. You'll reach folk by sending it to the SIG mailing list or kubernetes-dev directly.

Would this solve your problem? - https://github.com/kubernetes/org/issues/2587
TL;DR an artifact-hub org account for k-sigs where they could be published there.

I'm hesitant on a mono-repo for charts as it'd constantly be a secondary t

[2021-04-13 11:51] stevehipwell commented on #5712
@mrbobbytables thanks for your response. I'm unfamiliar with how this process works so if you could give me a bit more of a pointer to move this forward that would help.

I think kubernetes/org#2587 would be useful for the repos where they've already added a chart but need to get it registered in https://artifacthub.io/. I don't think it addresses or solves the problem of projects not wanting the

[2021-04-13 12:08] mrbobbytables commented on #5712
I would move forward with mailing the sig-apps mailing list. All repos require a sponsoring SIG to adopt and take ownership of the management of the repo.

[2021-04-13 12:20] mrbobbytables commented on #5231
@dims @johnbelamaric @derekwaynecarr Any chance this could get looked at this cycle?

[2021-04-13 12:23] mrbobbytables commented on #5230
Just wanted to check back in on this,
@apelisse do we have a ballpark release target to deprecating strategic-merge-patch?
re:SSA, maybe just a pointer to the docs on kubernetes.io? Namely, if someone is coming here for api-machinery docs, they might not know of the info on kubernetes.io

@jpbetz did you happen to give the controller and generating clientsets a look?

[2021-04-13 12:25] mrbobbytables commented on #5234
cc @SergeyKanzhelev @ehashman

[2021-04-13 12:27] stevehipwell commented on #5712
@mrbobbytables I've put this on the [sig-apps mailing list](https://groups.google.com/g/kubernetes-sig-apps/c/FB4WgACGQoo).

[2021-04-13 12:47] dims commented on #5231
@mrbobbytables will look into possibilities! ( cc @navidshaikh )

[2021-04-13 12:57] logicalhan commented on #5080
/remove-lifecycle rotten
/reopen

[2021-04-13 12:58] logicalhan commented on #5080
/triage accepted

[2021-04-13 16:10] #5505 closed

[2021-04-13 18:29] #5510 closed

[2021-04-13 23:13] coderanger commented on #4799
We did indeed rename to `#kubernetes-contributors` and it seems to have helped. Closing this out since I think this is as addressed as it can be for now.

/close

[2021-04-13 23:14] #4799 closed

[2021-04-14 03:46] apelisse commented on #5230
We don't, and it's unclear if we can do it, or how. We would probably the field tomb-stoning part of server-side apply to formally deprecate SMP, but we don't have consensus on that feature yet.

We need to see how people use server-side apply to know exactly what we'll be needed. Time will tell.
/remind-me in 3 years :-)

[2021-04-14 03:47] apelisse commented on #5230
Yes, that's a good idea.

[2021-04-14 16:38] tallclair opened #5716 "REQUEST: New private Slack channel #sig-auth-leads"
**GitHub Username:** @tallclair
**Slack Username:** @tallclair

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Private channel for SIG-Auth leads to coordinate administrative duties.

**Name of Requested Resource:**
`#sig-auth-leads`

**Description of Request:**
Private channel for sig-auth leads to coordinate administrative duties (e.g. who is running the biweekly m

[2021-04-14 16:41] markyjackson-taulia commented on #5716
@tallclair is it not possible to have these discussions in the sig-auth channel? My concern is that the private channels are not managed by the slack infra..

[2021-04-14 16:51] mrbobbytables commented on #5716
Marky is right, we only do private channels for very specific and limited use-cases (security issues, CoCC etc)

[2021-04-14 16:53] nimbinatus commented on #5462
Update: We're going to reboot with a discussion-based format. The community has a spot to add topics to discuss with a Google sheet (sent to the k-dev mailing list on [19 March 2021 at 12:00p Central Standard Time](https://everytimezone.com/s/fe921d85)).

Tasks to finish before first reboot:
- [ ] Update the hosting guide
- [ ] Add an event to the community calendar
- [ ] Pick a few community-sugg

[2021-04-14 16:53] tallclair commented on #5716
There's nothing in there that needs to be strictly private. My concern with having these conversations in #sig-auth is that at best it will create noise for non-leads, and at worst could be misleading (e.g. the question of "who is running the meeting today" is not a call for volunteers from the general community, as it requires access to the sig-auth zoom account).

This request is really a nice-t

[2021-04-14 16:54] tallclair commented on #5716
OK, sounds like we can close this out then. Thanks for the feedback!

[2021-04-14 16:54] #5716 closed

[2021-04-14 18:00] mikedanese commented on #5497
Draft of report is here:

https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit

[2021-04-14 19:04] nimbinatus commented on #5462
/assign @nimbinatus

[2021-04-14 19:10] nimbinatus commented on #5462
cc: @MadhavJivrajani since you offered to help with this on the trackign sheet (Thank you!!!)

[2021-04-14 20:48] MadhavJivrajani commented on #5462
Hi! Thanks @nimbinatus!

I personally have not attended a community meeting having been part of the community for only a few months, but I just watched one of the community meets and looked over the current format, and I especially love the point that says "Contributor Tip of the Week", I think if its possible, we should try and include that in every community meeting, for example, for me personal

[2021-04-14 23:41] ehashman commented on #5234
Added to next week's agenda.

[2021-04-15 11:26] dims opened #5722 "Recognizing roles defined in SIGs and recognizing leaders in SIGs"
Dear Contribex folks,

Problem Statement:
In general, there is a need to recognize roles and leaders in our SIGs and WGs. If we pick say the SIG-Release [README.me](https://github.com/kubernetes/community/tree/master/sig-release#readme) there are a quite a few folks who are leading specific initiatives in addition to the chairs and tech leads that the team would like to recognize . Same is true wi

[2021-04-15 11:27] dims commented on #5722
/committee steering

[2021-04-15 11:36] justaugustus commented on #5722
Thanks for opening this broader discussion issue, @dims!
The PR linked to recognize @LappleApple includes changes to the SIG/WG README generator code.

I can further generalize that to support ad hoc roles! 💕

[2021-04-15 11:39] nikhita commented on #5722
Did we finalize on the nomenclature for subproject "owners"?

We've discussed about "owners", "coordinators" and "points of contact". Personally, I like "points of contact" because owners or coordinators implies that they have additional powers over people who are already defined in OWNERS, which is not the intent of this role.

[2021-04-15 11:49] dims commented on #5722
@justaugustus let's wait for comments/concerns before we churn any further :)

[2021-04-15 11:51] dims commented on #5722
@nikhita currently we all call them "subproject owner", so that would be status quo. We can take the bikeshed out of this issue if we need to. Let's make sure there is concrete guidance that's actionable here for now for contribex folks.

[2021-04-15 12:02] LappleApple commented on #5722
Love to see this discussion--thanks @dims! Let me know if I can assist in any way.

[2021-04-15 14:08] randomvariable commented on #4641
This dropped off the bottom of my Github notifications page until today. Eek.

Maybe. I think it'll be helpful in addition to the emails.

CC
@sedefsavas and @richardcase

[2021-04-15 14:17] detiber commented on #4641
@randomvariable this was less around the email notifications for failed jobs and more around notifications when the pool of available boskos resources is critically low. Currently those alerts go to #testing-ops, but they don't have any action they can take other than trying to track down someone from the CAPI/CAPA community to try and followup.

[2021-04-15 14:55] randomvariable commented on #4641
Ah, ok. That explains the Prometheus Alert Manager bit.

It might be better to rename the channel a bit more generically like aws-account-alerts (but that's a total super nit), as we're likely to start also using these accounts for the AWS Cloud Provider & CAPI at some point.

Looking at the docs, I don't think we need a new token if  we're using Incoming Webhooks

I think we only need to set up a

[2021-04-15 15:13] randomvariable commented on #4641
Had a quick look. I don't feel confident in making the PR without risking breaking Alertmanager without the Prometheus instance to test against

[2021-04-15 15:43] parispittman commented on #5722
after convos with many sig chairs, folks have been slow to adopt new roles because they follow sig-governance to a tee mostly with just chair and tech lead. I'm +1 on having another mechanism to collect named roles and display them. Also +1 to listing "suggested and/or optional" roles on sig-governance for things like ppm, triage lead, test lead, etc though we should stress chair and tech lead are

[2021-04-15 15:52] ehashman commented on #5722
At some point are TL roles going to become a requirement? As they're currently optional.

[2021-04-15 16:04] LappleApple commented on #5722
Elana's question raises something I have been wondering about relating to this discussion: If folks think of the TL role as secondary to the chair role, and if so, how to change this to ensure that leads land in the roles best matched to their interests and strengths.

[2021-04-15 16:54] dims commented on #5722
@LappleApple hard question, this is not different from when steering knows some specific SIGs are not functioning properly (or showing tendencies unbecoming of open source in general), we end up counseling privately / publicly / through trusted channels .. basically coach folks to do better without actually hauling them in front of the principal which is the final resort.

[2021-04-16 16:56] liggitt commented on #5497
the google doc looks ready to convert to a PR to community PR and send to the sig mailing list and cc steering for review

[2021-04-16 17:23] liggitt commented on #4125
fixed sig-auth issues

/remove-sig auth

[2021-04-16 20:36] #4699 closed

[2021-04-16 20:36] #5052 closed

[2021-04-16 20:36] #4696 closed

[2021-04-17 08:49] LappleApple commented on #5722
Poking around pages today and wondering if my PM role description might eventually fit here: https://github.com/kubernetes/community/blob/master/contributors/guide/non-code-contributions.md

[2021-04-17 09:55] LappleApple commented on #5535
+1. Brought up this issue yesterday during SIG Auth's first triage session.

[2021-04-17 13:30] enj commented on #5535
Can we use something like https://github.com/apps/project-bot in the interim?

[2021-04-17 14:03] pravarag commented on #5532
@spiffxp apologies for not able to put anything on my assigned part under this issue from past two months. But I've started looking on it again and will surely update soon.

[2021-04-18 16:30] markyjackson-taulia commented on #5201
Zapier integration is fairly straightforward. The steps are as followed:
1. Setup the zoom account to link to the youtube account
2. Set the privacy level. In our case, we will set it to private so a YouTube admin can audit
3. Turn on the trigger action. In our case, it will be a `New Recording` upload

Some items we will need to work through:
1. There is a cost associated with Zapier. It does com

[2021-04-18 18:14] #5704 closed

[2021-04-18 18:52] mrbobbytables commented on #5702
With the suggestion, and it not likely going to get any answer here I'm going to go ahead and close this issue. If you have any questions, please feel free to still use it or reach out in slack.
Thanks!

/close

[2021-04-18 18:52] #5702 closed

[2021-04-19 09:32] markyjackson-taulia commented on #3479
/remove-lifecycle rotten.
Rotten

[2021-04-19 16:10] cblecker commented on #5722
I have an issue with this part of the problem statement. Why is "being in sigs.yaml" the definition of recognition here? These folks are supposed to be the initial points of contact. There are many people doing all kinds of work all over the project.. is it scalable to put them all in sigs.yaml? Do we want to reenforce an idea that if you aren't in sigs.yaml, your work isn't being recognized?

[2021-04-19 19:54] parispittman opened #5730 "Mega/Process KEP changes & the Community Meeting"
**Goals:**
- more communication and
- more discussion/ feedback / consensus around mega and wide community process changes KEPs
  - more than 3 cross cutting SIGs (arbitrary number) AND KEPs that are strictly around large community process changes

**Knowns:**
- we have space at the community meeting now for large group discussions for ~30 minutes; we are also looking for content (aka it's not ove

[2021-04-19 20:03] #5494 closed

[2021-04-20 20:11] dims commented on #5722
@cblecker i've updates the language and dropped that statement. Please review.

[2021-04-20 21:46] dims commented on #5722
@mrbobbytables i've updated the text to make it clear that the new roles are essentially things that will be part of a charter update to the sigs that would like to list them out

[2021-04-20 23:42] gkarthiks commented on #5564
@nikhita  @celestehorgan @mrbobbytables  so what should we do? just drop this idea and see better options in future? Looking for some direction guide here pls.

[2021-04-21 09:56] CsatariGergely opened #5734 "Missing documentation license"
The community repo has only an Apache 2.0 License in the LICENSE file and there is no indication that all documentation is licensed under [CC BY 4.0](https://git.k8s.io/website/LICENSE) what should be the case according to the [CNCF charter](https://github.com/cncf/foundation/blob/master/charter.md).

[2021-04-21 14:19] nimbinatus commented on #5462
Hi! These are great points that I think we could incorporate overall. Let me see if I can touch on a few points:

- Overall, the issues we're trying to solve are as follows:
    - We want to build more two-way connections across the community rather than the meeting becoming another readout.
    - We want to reduce workloads so people have more time to engage with one another versus providing repo

[2021-04-21 14:28] mrbobbytables commented on #5462
Just an FYI - That is largely what the #kubernetes-contributors channel is for. 👍

[2021-04-21 16:23] jeremyrickard commented on #5722
I wanted to drop some feedback on this issue and touch on the comment from @cblecker up above. On behalf of SIG Release, @lappleapple submitted a form recommending a nominee to the 1.22 Lead Mentoring Cohort. She is not listed in the sigs.yaml file, however, because she holds the program manager role and we don't currently officially recognize that as a role within that file.  Since she was not in

[2021-04-21 16:25] jeremyrickard commented on #5722
Ooops, hit comment too soon. Obviously, I'm a +1 on this issue, I think it's needed.

[2021-04-21 16:34] MadhavJivrajani commented on #5462
Thank you for elaborating @nimbinatus!

Oh on the contrary, so I am a new contributor not only in terms of being new to the community but also in terms of being new to the k8s ecosystem as a whole. In my opinion, having a separate consumable video format would be great since now I would have all of the SIG updates in one place and I wouldn't have to search for it in a relatively longer meeting vid

[2021-04-21 16:48] dims commented on #5722
thanks @jeremyrickard!

[2021-04-21 18:35] dims commented on #5722
/cc @kubernetes/steering-committee

[2021-04-21 18:36] dims commented on #5722
/assign @liggitt @cblecker @parispittman @mrbobbytables @nikhita @derekwaynecarr

[2021-04-21 20:49] cblecker commented on #5722
Okay, so before I get into my more detailed thoughts, let me address the situation around the 1.22 Lead Mentoring Cohort:
The requirements to nominate someone for the Lead Mentoring cohort is you need to yourself be a SIG Lead. Governance defines this as a SIG Chair or a SIG Technical Lead. This issue would not solve this situation in Laurie's case as she would be listed as a PM and there is no cl

[2021-04-21 21:25] justaugustus commented on #5722
https://github.com/kubernetes/community/pull/5563#issuecomment-824367070

[2021-04-21 22:06] parispittman commented on #5722
https://github.com/kubernetes/community/compare/master...parispittman:otherroles

[2021-04-21 23:43] kikisdeliveryservice commented on #5730
Q: would the idea to be get feedback on the KEP or present the KEP to the community as an informative thing?

If it's the latter, I'd probably consider them in terms of impact to end users and also perhaps thinking about the PRR (Production Readiness Review) that captures a lot of those concerns in some combination with KEPs that SIGs (who now have more ownership/control over KEPs) want to highlig

[2021-04-22 04:29] celestehorgan commented on #5722
In general, I'm in support of the proposal to recognize roles specific to a given SIG, as well as to formalize them in .yaml(1). I think this for the following reasons:

- For cross-cutting SIGs like SIG Docs, a simple Chair/Tech Lead dichotomy doesn't capture the complexity of the roles they need to function. For example, for [SIG Docs](https://github.com/kubernetes/community/blob/master/sigs.yam

[2021-04-22 04:45] nikhita commented on #5722
Personally, I'm a +1 for recognizing roles within SIGs.

Tooling wise, I agree that roles should not be within sigs.yaml. We could formulate:
- `sigs.yaml` - tooling to introduce uniformity within SIGs with Chairs and TL roles
- a `roles.yaml` within each SIG directory such that the roles defined in `roles.yaml` get added to the SIG README.md under a separate `Roles` section - tooling for recognit

[2021-04-22 11:05] jayunit100 commented on #5722
Don't know this whole subjects history but I'd say this makes sense. it stands to incentivize a broader contribution model then just code which is cool

[2021-04-22 19:06] MadhavJivrajani opened #5738 "Broken link in sig-node/README"
The link to OWNERS file for [noderesourcetopology-api](https://github.com/kubernetes/community/blob/master/sig-node/README.md#noderesourcetopology-api) in the [sig-node/README](https://github.com/kubernetes/community/blob/master/sig-node/README.md#noderesourcetopology-api) seems to be broken due to absence of an OWNERS file in that repo.

/sig node

[2021-04-22 21:11] jberkus commented on #5722
Personally, I'd settle for just listing the subproject owners by name.  I'm pretty tired of looking up OWNERS files and disambiguating people's GH handles when I need to ask something.

[2021-04-22 21:18] ehashman commented on #5722
+1 to adding subproject leads to sigs.yaml. For format, I would love to see something like:

[code]

[2021-04-22 22:16] celestehorgan commented on #5722
I was thinking of suggesting something like this too, but if `sigs.yaml` can allow for freeform parsing of entries then maybe it's overkill.

I really like @ehashman's suggested yaml! :)

[2021-04-23 02:05] parispittman commented on #5730
@kikisdeliveryservice - love it!

first q: I think more of the latter and but driving folks to participate in the KEP with feedback is also awesome. I'm inclined to use the why not both emoji here. :D

[2021-04-23 12:19] mrbobbytables commented on #5730
consider in terms of impact to end users
maybe PRR has a part to play here?

I'm all for talking about KEPs, but I don't think we should require it. With the community meeting being monthly it could hold things up significantly for KEPs to be merged.

[2021-04-23 15:25] mbbroberg commented on #5574
@JasonMorgan this can plug into the TODO here: https://github.com/kubernetes/community/blob/master/communication/marketing-team/role-handbooks/storytellers.md#workflow-%EF%B8%8F

[2021-04-23 16:55] kikisdeliveryservice commented on #5730
@parispittman We discussed this in the Enhancements meeting and we believe that having a forum to communicate about KEPs is a great idea but that the usage of the meeting is best left up to SIGs. Since SIGs own KEPs and planning we believe the decision to discuss/present KEPs should start first with them.  We'd love for you to share this offer with SIG leads for their feedback and ideas of whether

[2021-04-23 18:25] jberkus commented on #5096
yeah, the app is created, I still need to integrate it into Kubernetes infra, but that should be a seperate issue.

/close

[2021-04-23 18:25] #5096 closed

[2021-04-24 18:28] jberkus commented on #5722
@celestehorgan what's the technical issue with putting the names in sigs.yaml?  I didn't quite follow that.

[2021-04-25 19:04] nikhita commented on #5564
I agree with @mrbobbytables -- we have too many bot comments today (related #3621) and I don't think this would have the intended impact either.

[2021-04-25 19:31] mrbobbytables commented on #5564
I would drop for now, or potentially freeze the idea. I think there are other areas where we should focus our efforts for greater impact. There are a lot of repos that still need to be migrated from master -> main, and effort within various projects to switch away from non-inclusive language.

[2021-04-26 18:24] cblecker commented on #5722
The Steering Committee met and discussed this issue. We have come to a few conclusions on this which should help us to move forward:
- We are currently working on https://github.com/kubernetes/community/pull/5736 to document how SIGs can create roles, and where they should be documented.
- These SIG-specific roles should not be added to sigs.yaml
- New roles should allow for a lazy consensus perio

[2021-04-26 18:31] mrbobbytables commented on #5722
(with steering hat on) I am +1 on enumerating subproject leads/points of contact.

[2021-04-27 15:11] mrbobbytables commented on #5734
I believe all docs are covered by the LICENSE at the root (apache 2)
cc @swinslow
What are your thoughts?

[2021-04-27 21:29] #5499 closed

[2021-04-28 00:40] celestehorgan commented on #5730
I think I understand the internal pressure/need here, particularly around long-winded KEPs, however I think the core of the issue seems to be not a _lack_ of discussion but really that there's too much discussion, and (particularly for process KEPs) it's unclear when the discussion can come to an end. This leaves KEPs that are open for long periods of time and dramatically increases the mental bur

[2021-04-28 13:23] cpanato commented on #5660
all this is done, we can close this issue
@nikhita can you check the last item and close it when you have a chance?

[2021-04-28 16:42] astoycos opened #5747 "Create a new `kubernetes-sigs/network-policy-api` repo"
After much discussion in the [Network Policy API Meeting](https://docs.google.com/document/d/1AtWQy2fNa4qXRag9cCp5_HsefD7bxKe3ea2RPn8jnSs), on the [KEP for Cluster Scoped Network Policy](https://github.com/kubernetes/enhancements/pull/2522/files#r600361541)  and in slack([dis 1](https://kubernetes.slack.com/archives/C01CWSHQWQJ/p1619120255062800) [dis 2](https://kubernetes.slack.com/archives/C09QY

[2021-04-28 16:42] astoycos commented on #5747
/sig-network

[2021-04-28 16:43] astoycos commented on #5747
/sig network

[2021-04-28 16:44] astoycos commented on #5747
/assign @caseydavenport

[2021-04-28 16:47] astoycos commented on #5747
/assign @aojea

[2021-04-28 16:48] astoycos commented on #5747
cc @abhiraut @Dyanngg

[2021-04-28 19:06] aojea commented on #5747
@astoycos I think that you have to open the issue in kubernetes/org, there is also a template for that
see this example https://github.com/kubernetes/org/issues/1292

Once you submit the request, it should be good to announce it in the sig-net mailing list too , see
https://groups.google.com/g/kubernetes-sig-network/c/Ev2FX74bACA/m/jtw65R5ADAAJ

[2021-04-28 19:46] mrbobbytables commented on #5747
@aojea is right 👍  please open an issue on k-org

[2021-04-29 00:57] justaugustus commented on #5730
Related on communications for large charges: https://github.com/kubernetes/community/issues/5344

[2021-04-29 00:57] justaugustus commented on #5344
xref: https://github.com/kubernetes/community/issues/5730

[2021-04-29 12:58] mrbobbytables commented on #5747
I'm going to close this for now, when you're ready - please open an issue over in k-org.

Thanks!

/close

[2021-04-29 12:58] #5747 closed

[2021-04-29 13:00] astoycos commented on #5747
ACK, will do Thanks!

[2021-04-30 01:36] supriya-premkumar opened #5750 "REQUEST: New Slack channel autoscaling-api"
**GitHub Username:**

Supriya Premkumar
**Slack Username:**

@supriya premkumar

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

Channel

**Name of Requested Resource:**
autoscaling-api

**Description of Request:**
This is for autoscaling working group to work on graduation of v2beta2 autoscaling APIs to GA  for 1.22 release.

[2021-04-30 22:42] ehashman commented on #5504
/close

Now I think this is good to close, as we've followed up at the April leads meeting.

[2021-04-30 22:42] #5504 closed

[2021-05-01 20:22] #4584 closed

[2021-05-01 20:22] #4395 closed

[2021-05-03 06:56] nikhita commented on #5425
/remove-lifecycle stale

[2021-05-03 06:59] nikhita commented on #5444
/remove-lifecycle stale

[2021-05-03 07:00] nikhita commented on #5660
Done. Closing 🎉

[2021-05-03 07:00] #5660 closed

[2021-05-03 08:50] nikhita commented on #4175
/remove-lifecycle rotten
/lifecycle frozen

[2021-05-03 08:50] nikhita commented on #4175
/reopen

[2021-05-03 17:46] #5750 closed

[2021-05-04 22:42] ritazh opened #5760 "SIG Auth needs a CONTRIBUTING.md"
Follow up item from sig auth annual report.

[2021-05-04 22:42] ritazh commented on #5760
/sig auth

[2021-05-05 16:41] #5497 closed

[2021-05-05 17:08] adtac commented on #5466
/remove-lifecycle stale

[2021-05-05 20:41] tabbysable opened #5763 "Add "drop CAP_NET_RAW" to the Restricted Pod Security Standards"
(This is proposing an update to https://kubernetes.io/docs/concepts/security/pod-security-standards/)

Per discussion during the Pod Security Policy replacement meeting, CAP_NET_RAW should be disallowed for pods under the Restricted policy due to the harmful behavior it enables. For example, consider [Liz Rice's KubeCon NA 2019 talk](https://kccncna19.sched.com/event/UaX0) and [my CVE-2020-8558 Pr

[2021-05-05 20:50] tabbysable commented on #5763
/sig security
/sig auth

[2021-05-06 19:56] PushkarJ commented on #2992
I am working with @navidshaikh on this from #sig-security. In terms of triage options of CVEs post identification regardless of tools, would love to hear some feedback on this proposal: https://docs.google.com/document/d/1V-IUJVYq4SGizNpZXA9GPBPeCJ-oH9p5V747o51NYvo/edit

Thanks @tallclair for your earlier feedback on slack for this proposal.

[2021-05-07 05:11] immanuelfodor commented on #5473
A few weeks ago, I got the feedback that I should never use frozen on tickets, so I'm confused, and still support the ping alternative.

[2021-05-07 05:12] immanuelfodor commented on #5473
/remove-lifecycle stale

[2021-05-07 05:38] abitrolly commented on #5473
The `ping-bot` could also collect public stats about most missing issues, most annoying notifications and the longest waited features.

[2021-05-07 06:26] CsatariGergely commented on #5734
@mrbobbytables according to some interpretations Apache License 2.0 is a code license, this is why the documentation usually is licensed with a different license, like CC BY 4.0. The CNCF Charter also suggests this way.

[2021-05-10 06:22] nikhita commented on #5478
/remove-lifecycle stale

[2021-05-10 06:23] nikhita commented on #5734
@swinslow @caniszczyk can you provide guidance here?

[2021-05-10 12:34] #5500 closed

[2021-05-10 15:28] swinslow commented on #5734
Hi all, yes, under the [CNCF charter (section 11(f))](https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy) documentation should be under the CC-BY-4.0 license. The [Kubernetes website](https://kubernetes.io) for instance indicates this in the footers at the bottom of its pages.

[2021-05-10 15:33] mrbobbytables commented on #5734
@swinslow This is with regard to all the markdown docs within the community repo and elsewhere. It's easier to flag that on the website where ALL the content is intended to be CCBY.

[2021-05-10 15:34] PushkarJ commented on #4947
@mkorbi I am picking this up again. Let me know if you have any concerns or want to pair

[2021-05-10 16:53] alisondy commented on #4894
https://github.com/kubernetes/contributor-site/tree/workshop once this is merged in / when we release the workshop to public this issue will be complete

[2021-05-12 21:16] sftim commented on #4953
Sorry I haven't made any progress on this so far.

[2021-05-13 00:28] ehashman commented on #5722
@cblecker I realize your conclusions above did not mention Subproject Leads, which are not SIG specific---were there any objections to adding those to sigs.yaml?

[2021-05-14 13:46] tabbysable commented on #5763
...also I should have made this on k/website instead of k/community. *sad trombone*

[2021-05-14 13:47] tabbysable commented on #5511
/close

[2021-05-14 13:47] #5511 closed

[2021-05-14 13:48] tabbysable commented on #5511
This was resolved by https://github.com/kubernetes/community/pull/5617

[2021-05-14 15:00] chris-short opened #5781 "NCW2: Calls to Action"
I'm not sure if we should include a link to the umbrella issue on social so please be cognizant of where you're sharing and the audience.

Umbrella issue: #4549

Various calls to action:

Do you remember what it was like getting started in the Kubernetes community? Onboarding? Your first commit? Signing the CLA? If you do and are willing to help others breeze through this process please consider h

[2021-05-14 15:24] chris-short commented on #4549
Hey all, working on CTAs in #5781 with @kubernetes/sig-contributor-experience

[2021-05-14 15:25] chris-short commented on #5781
/wg @kubernetes/sig-contributor-experience

[2021-05-14 15:26] chris-short commented on #5781
/sig contributor-experience

[2021-05-14 15:28] chris-short commented on #5781
/area mentorship-planning

[2021-05-14 15:53] mbbroberg commented on #5781
From talking to Chris, I'm hearing that:

- Audience for this CTA: early contributors who still remember how difficult it can be at times
- Audience for the writer: brand new or early contributors trying to learn how to get move involved

Thinking out loud:

What's one surprising challenge you came across when starting as a Kubernetes contributor? Was it uploading a video? Pinging the right person

[2021-05-17 16:59] liggitt commented on #5518
merged in #5575

/close

[2021-05-17 17:00] #5518 closed

[2021-05-17 17:00] liggitt commented on #5509
merged in #5572

/close

[2021-05-17 17:00] #5509 closed

[2021-05-17 17:00] liggitt commented on #5507
merged in #5601

/close

[2021-05-17 17:00] #5507 closed

[2021-05-17 17:00] liggitt commented on #5508
merged in #5698

/close

[2021-05-17 17:01] #5508 closed

[2021-05-17 17:01] liggitt commented on #5516
merged in #5590

/close

[2021-05-17 17:01] #5516 closed

[2021-05-17 17:04] liggitt commented on #5501
merged in #5594

/close

[2021-05-17 17:04] #5501 closed

[2021-05-17 18:05] gkarthiks commented on #5564
As per the suggestions from @justaugustus in the WG Monthly meeting(May 17th, 2021), I will take this idea to the [INI](https://inclusivenaming.org) group and check how are they approaching this in a broader spectrum.

I will circle back with the findings/approach from there, document it here, and will close this issue. No further actions are needed here. So assigning it to myself.

/assign gkarth

[2021-05-17 18:06] gkarthiks commented on #5564
/unassign nikhita

[2021-05-18 13:21] CsatariGergely commented on #5734
It would be more clear for the contributors if the license would be part of the repo with an indication that all .md files are licensed with CC BY 4.0. One good way to express this is using [REUSE](https://reuse.software/).

[2021-05-18 18:07] rawkode opened #5784 "REQUEST: New moderator for rawkode of YouTube"
### GitHub Username
@rawkode

### Property you'd like to Moderate
YouTube Channel

### Username on Property Requested
david.andrew.mckay@gmail.com

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](htt

[2021-05-18 18:08] markyjackson-taulia commented on #5784
+1 and thank you for stepping up

[2021-05-19 10:15] #3479 closed

[2021-05-19 14:18] mrbobbytables commented on #5784
+1 from me :)

If you want, please go ahead add yourself to the moderator list here:
https://github.com/kubernetes/community/blob/master/communication/moderators.md#youtube-channel

and we can follow up getting you added 👍

[2021-05-19 14:26] danpopSD opened #5786 "REQUEST: New moderator for danpopsd of YouTube Channel"
### GitHub Username
@danpopsd

### Property you'd like to Moderate
YouTube Channel

### Username on Property Requested
@danpopSD
dpapandrea@gmail.com (for the yt id)

### Requirements

- [X ] I am a Kubernetes Org member already
- [ X] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [ X] I have read and will abide by the policies mentioned in the [Mode

[2021-05-19 14:26] mrbobbytables commented on #5786
+1 from me :)

[2021-05-19 14:32] jeefy commented on #5786
+1

On Wed, May 19, 2021 at 9:27 AM Bob Killen ***@***.***> wrote:

[2021-05-19 14:34] castrojo commented on #5786
+1 from me as well!

[2021-05-19 15:08] #5496 closed

[2021-05-21 19:55] parispittman commented on #5517
#5615

[2021-05-21 19:55] #5517 closed

[2021-05-21 20:03] parispittman commented on #4959
#5749 and a Steering discussion with Big Data closes this issue for the two remaining folks. thanks everyone!!

[2021-05-21 20:03] #4959 closed

[2021-05-23 14:47] #5784 closed

[2021-05-23 14:52] mrbobbytables commented on #5786
You have been added 👍
If you could, follow up with adding yourself to the list of moderators here:
https://github.com/kubernetes/community/blob/master/communication/moderators.md#primary-moderators-1

[2021-05-24 16:16] mrbobbytables commented on #5786
PR has been merged (https://github.com/kubernetes/community/pull/5795), this is good to close 👍
/close

[2021-05-24 16:16] #5786 closed

[2021-05-25 14:00] #5495 closed

[2021-05-26 05:34] toumorokoshi opened #5797 "Document security practices around object references in controllers"
As a follow-up to #5748, [document security considerations around controllers references other objects](https://github.com/kubernetes/community/pull/5748/files#r639158155).

Filing this an issue to ensure follow-up.

[2021-05-26 05:34] toumorokoshi commented on #5797
/assign @toumorokoshi

[2021-05-26 05:35] toumorokoshi commented on #5797
/sig api-machinery

[2021-05-26 11:18] gghezzo opened #5798 "Readme does not reflect the new Meeting Times."
As an interested community member I would like to go to the github site and know when the meetings are.
The readme implies the meetings are at 16:00 PT.
![image](https://user-images.githubusercontent.com/5759275/119650877-54f4d980-bdf2-11eb-9472-719a0660c781.png)

The WG notes indicate they are biweekly at 16:00 UTC
![image](https://user-images.githubusercontent.com/5759275/119650833-44dcfa00-bdf2

[2021-05-26 11:21] gghezzo commented on #5798
/sig pollicy

[2021-05-26 11:22] gghezzo commented on #5798
/sig policy

[2021-05-26 11:23] gghezzo commented on #5798
I don't have time to parse through the proper labels today. I will come back when I do. Sorry for any confusion.

[2021-05-26 11:25] gghezzo commented on #5798
/wg policy

[2021-05-27 03:14] nikhita commented on #2565
/remove-lifecycle stale

On Thu, 27 May 2021 at 08:37, fejta-bot ***@***.***> wrote:

[2021-05-27 06:16] navidshaikh commented on #4839
/remove-lifecycle stale

[2021-05-27 17:10] jhvhs commented on #5512
/remove-lifecycle stale

[2021-05-27 21:14] spiffxp opened #5800 "Migrate sig-testing leads mailing list"
Followup issue to https://github.com/kubernetes/k8s.io/pull/2109 which adds a sig-testing-leads@kubernetes.io mailing list

- Switch our zoom account to use this e-mail address (super easy self-service, I did this for wg-k8s-infra)
- Update docs

/sig testing
/kind cleanup
/kind documentation
/priority backlog
/assign @spiffxp @BenTheElder @stevekuznetsov

[2021-05-28 19:53] puchongcnxx29 opened #5801 "REQUEST: New communication about <topic>"
**What do you want send out?** (Please include a link to a draft)

- [] I agree that if this is urgent, I will @contributor-comms in #sig-contribex Slack.

[2021-05-28 19:53] puchongcnxx29 opened #5802 "REQUEST: New moderator for <your-GH-handle> of <k8s property>"
### GitHub Username
e.g. (at)github_user

### Property you'd like to Moderate
e.g. discuss.k8s.io, kubernetes-dev

### Username on Property Requested
e.g. (at)property_user

### Requirements

- [ ] I am a Kubernetes Org member already
- [ ] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [ ] I have read and will abide by the policies mentioned in the [

[2021-05-28 22:27] coderanger commented on #5802
/close

Please do not open issues for no reason.

[2021-05-28 22:27] #5802 closed

[2021-05-28 22:27] coderanger commented on #5801
/close

[2021-05-28 22:27] #5801 closed

[2021-05-29 16:09] imabp commented on #4044
@parispittman I would like to contribute to this. Is it possible to collaborate with the people. :) Do let me know :)

[2021-05-31 12:39] claudiubelu commented on #4959
[Completed](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/fc599ad6-3831-44b0-9359-cfb3f0455613-claudiu-belu-the-inclusive-speaker-orientation-lfc101-certificate.pdf)!

[2021-06-01 12:28] mrbobbytables commented on #4149
This has been greatly improved on devstats with giving per repo and per sig stats. There is one last little bit that needs to be completed on a few dashboards, but overall should be done soon.

[2021-06-01 12:37] mrbobbytables commented on #5380
/remove-lifecycle rotten
/lifecycle frozen

[2021-06-01 12:40] matthyx commented on #4149
Yup, awesome work done folks! Congrats!

[2021-06-01 19:29] jberkus opened #5809 "Official Pronouns field for Slack, deployment plans"
Community,

Slack has added an ["official" pronouns field](https://slack.com/help/articles/1500011115781-Manage-pronoun-display-for-member-profiles).  This effectively replaces the custom pronouns field we added in #5454.  The advantage of the official field is that it shows up in mouse-overs, making it more useful than our custom field. However, there is no automated migration.

As such, after di

[2021-06-01 19:31] jberkus commented on #5809
/sig contributor-experience
/kind feature

[2021-06-01 22:18] jberkus commented on #5809
This is now done.

[2021-06-01 22:18] #5809 closed

[2021-06-03 16:53] rficcaglia opened #5814 "cluster-api security self assessment initiative"
This is to consolidate info and inform all the interested folks regarding discussions around security assessment of cluster-api sub-project.

This is our first attempt as a community where a Security SIG will perform a security assessment of a sub-project of a graduated CNCF project. So we expect to make slow but reasonable progress and will be open for feedback on how we can improve for the benef

[2021-06-03 16:55] rficcaglia commented on #5814
/sig sig-security
/sig cluster-api

maybe we should/need to create a wg? @tabbysable @reylejano @PushkarJ ?

[2021-06-03 16:57] rficcaglia commented on #5814
/sig security

[2021-06-03 17:22] reylejano commented on #5814
Related issue in cluster-api repo https://github.com/kubernetes-sigs/cluster-api/issues/4446

[2021-06-03 17:34] neolit123 commented on #5814
WGs have a contract with Kubernetes Steering and require a community page, Zoom call slots, Slack channels and yearly status reports. my vote would be to not create WGs for subproject security audits, but if people insist it can be done.

[2021-06-03 17:47] PushkarJ commented on #5814
@rficcaglia regarding WG creation, our co-chair @tabbysable PoV is [here](https://github.com/kubernetes/community/pull/5792#issuecomment-846483164), which I tend to agree with.

TL;DR this seems like a lower intensity effort that would not require a WG

[2021-06-03 22:09] mbbroberg commented on #4044
Hi @imabp! You're more than welcome to. Here is where you can read more about our work: https://github.com/kubernetes/community/tree/master/communication/marketing-team

[2021-06-03 22:16] PushkarJ commented on #5814
/sig cluster-lifecycle

[2021-06-04 15:39] JasonMorgan opened #5816 "REQUEST: Update SIG Profile Guide"
We had a request to update our [SIG profiling guidelines](https://github.com/kubernetes/community/blob/master/communication/marketing-team/storytelling-resources/example-topics.md) to include explicitly asking what help they need and referencing the Kubernetes Annual report's help-wanted section.

[2021-06-04 15:40] JasonMorgan commented on #5816
@mbbroberg FYI

[2021-06-07 07:24] HeGaoYuan opened #5818 "What does "MVP" mean in this context?"
What does MVP mean in this context?
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/vertical-pod-autoscaler.md#in-place-updates

[2021-06-07 07:26] HeGaoYuan commented on #5818
/sig autoscaling

[2021-06-07 07:26] coderanger commented on #5818
Hi there, this isn't a good place to ask support questions. If you're looking to get involved in Kubernetes, join us in Slack (slack.k8s.io) and try the `#kubernetes-contributors` channel.

But to answer your question, MVP is Minimum Viable Product (or something Project).

/close

[2021-06-07 07:26] #5818 closed

[2021-06-07 10:58] #5498 closed

[2021-06-07 19:06] #5506 closed

[2021-06-07 22:39] mrbobbytables commented on #5229
/remove-lifecycle stale

[2021-06-07 22:46] jberkus commented on #5153
/remove-lifecycle stale

we still need to publish a report on this

[2021-06-08 04:12] nikhita commented on #5671
related in k/org - https://github.com/kubernetes/org/pull/2759

[2021-06-08 21:46] cheftako commented on #5671
/assign @nckturner Do you have a good idea of who should be on this?

[2021-06-08 21:46] cheftako commented on #5671
/assign @nckturner

[2021-06-09 00:14] mrbobbytables commented on #5237
/remove-lifecycle stale
/lifecycle frozen

[2021-06-09 15:32] debgiles opened #5823 "Contributor Summit NA 2021: CNCF Planning Umbrella Issue"
An umbrella issue to cover the different areas that CNCF is working on intersecting with the ContribEx Team.

**GENERAL INFO**
KC+CNC Schedule Announcement - August 4, 2021

**VENUE LOGISTICS**
 - [x] Space Requirements Deadline - June 1
 - [x] Space Confirmed
 - [x] Schedule site visit between CNCF + Summit Lead (if needed) - Deb will complete the site visit on July 7 and provide a walkthrough vi

[2021-06-09 15:34] debgiles commented on #5823
/sig <contributor-experience>

[2021-06-09 16:08] mrbobbytables commented on #5823
/sig contributor-experience

[2021-06-09 16:09] jeefy commented on #5823
![image](https://i.imgur.com/vwMin.gif)

[2021-06-09 19:18] spiffxp commented on #5199
@ameukam and myself have been manually uploading to our own channels and adding to https://www.youtube.com/playlist?list=PL69nYSiGNLP2Ghq7VW8rFbMFoHwvORuDL

I created a new meeting ID when we re-scheduled, and thus far have yet to see anything get automatically uploaded.  Is there any additional configuration that needs to happen to get auto-uploading working again, or should we consider it abando

[2021-06-10 04:52] nikhita commented on #5738
cc @ehashman

[2021-06-10 04:54] nikhita commented on #5734
IIUC if a repo contains code _and_ markdown files, it needs to use the Apache 2.0 license. @swinslow can you please confirm?

[2021-06-10 04:57] nikhita commented on #5596
/remove-lifecycle stale

[2021-06-12 08:25] pravarag commented on #5532
@spiffxp, I've created a PR with documentation for `verify-api-groups` test for your review. I'll progress with changes for other verification tests documentation as well meanwhile.

[2021-06-12 15:00] pravarag commented on #5760
Hi @ritazh , can I work on this issue if it's available to take?

[2021-06-12 17:30] ritazh commented on #5760
Go for it! Thanks @pravarag!

[2021-06-12 18:00] atulkamble opened #5831 "Please, Add Official Discord Link of Kubernetes to Community Repo"
[Discord](https://discord.com/) for Kubernetes Community can add more value.

[2021-06-12 21:29] tabbysable commented on #5814
For the record: this is wonderful, huge thanks to everyone involved.

[2021-06-12 21:37] mrbobbytables commented on #5831
We used a discord temporarily last year for an event, and tbh, I'm personally a big fan of it, but at this time we have no plans to create and moderate a more permanent one. We have roughly 130,000 people in slack and that takes a significant effort to staff and run, we really don't want to split our community and manage another platform.  =/

/close

[2021-06-12 21:37] #5831 closed

[2021-06-13 06:15] pravarag commented on #5760
Thanks @ritazh! Just to confirm, I'm guessing this is the location where we can place the CONTRIBUTING.md guide: https://github.com/kubernetes/community/tree/master/sig-auth ?

[2021-06-14 06:26] kevinhakan commented on #5515
Enabling a better[,](https://pcsoftnew.com/eset-nod32-antivirus-crack/) safer and more interconnected world2020 Annual Reports .

[2021-06-14 09:50] atulkamble commented on #5831
okay, Thanks for replying and clearing my doubt @mrbobbytables.

[2021-06-14 12:34] tech-geek29 opened #5833 "Broken link to KEP in pre-review checklist"
In [api-review-process.md](https://github.com/kubernetes/community/blob/master/sig-architecture/api-review-process.md#what-apis-need-to-be-reviewed) the link to **KEP** under Mechanics.0 second point (`A KEP and tracking issue in kubernetes/enhancements has been created for changes within the kubernetes-* org introducing`) is broken.

I can fix that!

[2021-06-14 12:35] tech-geek29 commented on #5833
/sig document

[2021-06-14 12:36] tech-geek29 commented on #5833
/sig docs

[2021-06-14 12:37] tech-geek29 commented on #5833
/assign

[2021-06-14 15:29] #5797 closed

[2021-06-14 17:05] jberkus opened #5835 "Please advertise Thursday's Community Meeting"
Comms:

[code]

/sig contributor-strategy
/area contributor-comms

[2021-06-14 17:06] jberkus commented on #5835
feh

/sig contributor-experience

[2021-06-14 20:26] ehashman commented on #5542
/remove-lifecycle stale

ping @kikisdeliveryservice :)

[2021-06-15 00:36] kikisdeliveryservice commented on #5542
PR is still waiting final review - I'm going to bring it up in meeting.

[2021-06-15 01:58] #5542 closed

[2021-06-15 09:29] rajula96reddy commented on #5835
Update: As of today, we have [tweeted](https://twitter.com/K8sContributors/status/1404589369667715072?s=20) about this and posted the same on [k-dev](https://groups.google.com/g/kubernetes-dev/c/nM8EGUC6zDA).
We can send out a reminder tweet on Wednesday/ early Thursday for the same.

[2021-06-15 13:52] mrbobbytables commented on #5835
@rajula96reddy can kick off a slack msg reminder tomorrow too?

[2021-06-15 13:59] ritazh commented on #5760
Yes that’s the right place!

[2021-06-15 14:22] #5833 closed

[2021-06-15 15:03] jeremyrickard commented on #5235
@savitharaghunathan can you pick up or re-assign to someone on release team or new contributor?

[2021-06-15 15:05] savitharaghunathan commented on #5235
/unassign
I would be happy to provide context and guidance if any contributor wants to pick this up.

[2021-06-15 15:45] MadhavJivrajani opened #5838 "Request to change the year in SIG-network's annual report"
Hi!

The year mentioned In SIG-network's annual report is `2021`, iiuc, this should be `2020`.
xref: https://github.com/kubernetes/steering/pull/211#discussion_r651820153

/sig network
cc @mrbobbytables
cc @caseydavenport

[2021-06-15 15:58] mrbobbytables commented on #5838
Here is the PR for it: https://github.com/kubernetes/community/pull/5837

[2021-06-16 10:27] MadhavJivrajani commented on #5838
/close
Fixed in #5837

[2021-06-16 10:27] #5838 closed

[2021-06-16 11:54] mrbobbytables commented on #5092
/remove-lifecycle rotten

[2021-06-16 12:17] #4839 closed

[2021-06-16 12:42] rajula96reddy commented on #5835
Do we want the message reminder in all of the SIG & WG slack channels?

[2021-06-16 12:43] mrbobbytables commented on #5835
Yes along with the `#kubernetes-contributors` channel 👍

[2021-06-16 17:28] rajula96reddy commented on #5835
We have [retweeted](https://twitter.com/K8sContributors/status/1405211796772855810?s=19) to bring attention to the first tweet.
And pushed reminder messages to all the SIG/ WG/ UG & `#kubernetes-contributors` slack channels ([Example](https://kubernetes.slack.com/archives/C1TU9EB9S/p1623864028197600))

[2021-06-16 19:38] ehashman commented on #5435
/remove-lifecycle rotten

Would appreciate some guidance on this as we are about to triage a bunch of node bugs and are likely to mark a bunch of them as support requests.

I will add an agenda item to SIG Node to see how we want to handle them within our SIG; perhaps we can make a template to point people at official support channels and close them.

[2021-06-16 23:59] jberkus commented on #5835
Thanks for all the reminders to folks

[2021-06-17 12:37] MadhavJivrajani opened #5843 "Link to k/k/cmd/controller-manager in sig-apimachinery"
`k/k/cmd/controller-manager`, which is linked [here](https://github.com/kubernetes/community/tree/master/sig-api-machinery#server-binaries) is no longer existent IIUC. If my understanding is correct, this should be removed. If not removed, then what could we edit the link to? Thank you!

EDIT
TODO: remove `kubernetes/kubernetes/cmd/controller-manager` from [here](https://github.com/kubernetes/comm

[2021-06-17 12:38] MadhavJivrajani commented on #5843
/sig api-machinery

[2021-06-17 12:46] verma-kunal commented on #5843
hey @MadhavJivrajani , can i work on this ?

[2021-06-17 12:47] MadhavJivrajani commented on #5843
Sure! Go ahead and assign yourself (`/assign`)  😄

[2021-06-17 12:49] verma-kunal commented on #5843
/assign

[2021-06-17 16:30] pravarag commented on #5532
@spiffxp one query here: if I'm working on creating documentation for more than one `verify-*` tests, so shall I include those in same PR or we are expecting a PR for each test separately here?

[2021-06-17 21:46] spiffxp commented on #5532
Whatever is easier for you. If the same same pr, one commit per would be appreciated.

[2021-06-17 22:05] spiffxp commented on #5532
/reopen
Should not be closed until all verify tests are documented

[2021-06-18 02:36] BenTheElder commented on #5473
Sorry I'm just making it back through my own notifications (far too many...), can you share where you received this?
I know the enhancements repo had something like this, and I raised my concerns about that and we got this disabled there, but I'm not aware of this anywhere else and I don't agree, otherwise we would not have the ability to freeze issues.

@kubernetes/sig-contributor-experience PTAL

[2021-06-18 02:40] BenTheElder commented on #2992
vulndb is now somewhat exposed in https://deps.dev/
however, it's not really setup to monitor a repo @ HEAD AFAICT.
There's been some progress recently on standing up snyk I think (some recent discussion in #sig-testing, #code-organization, #wg-k8s-infra).

[2021-06-18 02:45] BenTheElder commented on #4149
At this point I think people are pretty aware that the PR lifecycle is not good and the issue is getting employers to support more active reviewers / approvers and grow them.

Also noting that per SIG stats are pretty badly off IMO because of inappropriate broad auto-labeling of PRs by OWNERS (e.g. any controller changes are "sig apps" which seems dubious and covers a lot of PRs) and multi-sig PRs

[2021-06-18 02:47] BenTheElder commented on #5730
1000 times this. and generally everything else in https://github.com/kubernetes/community/issues/5730#issuecomment-828054855

[2021-06-18 02:53] BenTheElder commented on #5344
I'll be that person: .... was anything refined?

I also see a lot of asks for super detailed messaging and content around this, but not people offering to staff this ... This project still depends quite a bit on the effort of volunteers, even those that are paid to work on the project are volunteering to do work outside their nominal work-role.

Writing good docs / blogs / guides is hard work, I w

[2021-06-18 02:54] BenTheElder commented on #5800
So we still need to switch the zoom / docs?
I can work on this.

[2021-06-18 02:58] BenTheElder commented on #5636
I _think_ recent projects have had a smoother time. A number are still tripping over prow config but otherwise doing OK I think.

[2021-06-18 04:20] divya-mohan0209 commented on #5344
+ 1 to what @BenTheElder said.

In addition given that these are major changes, it would make a lot of sense for the Release team (in general, & Release Comms, in specific) to have a heads-up so that the delivery can be appropriately coordinated & staged. This will be even more helpful if there are multiple such changes going in a particular release.

[2021-06-18 06:12] immanuelfodor commented on #5473
https://github.com/kubernetes/enhancements/issues/361#issuecomment-805291366

https://github.com/kubernetes/enhancements/issues/362#issuecomment-805271028

[2021-06-18 06:35] BenTheElder commented on #5473
Ok yeah, I strongly disagree with this and after discussion with SIG contributor experience in their slack about a week ago we got it disabled, you should not receive those comments again.

https://github.com/kubernetes/test-infra/pull/22488 disabled them.

[2021-06-18 06:39] BenTheElder commented on #5473
I've just re-frozen those issues.

If there are any more in kubernetes/enhancements the same applies.

In particular there is no good reason for automation to pre-emptively close tracked enhancements that already have a merged KEP document but aren't GA / complete yet. I'm not sure I agree with the lifecycle system in general, but that stuck out as particularly pointless / unhelpful, so I was able

[2021-06-18 14:20] ruizink opened #5847 "Re-activating a deactivated Slack account"
I just registered in the slack workspace and in the attempt of unifying my slack accounts I ended up deactivating my kubernetes account.

 I was wondering if anyone can help me to re-activate it?

The email I used to register is `mario.rf.santos@********`.

Thanks a lot.

[2021-06-18 14:24] ruizink commented on #5847
/sig contributor-experience

[2021-06-18 14:30] mrbobbytables commented on #5847
I've gone ahead and reactivated it 👍
If you have further problems, please feel free to reuse this issue till its all resolved.

Thanks!

/close

[2021-06-18 14:30] #5847 closed

[2021-06-18 14:35] ruizink commented on #5847
I'm in.

Thank you so much! @mrbobbytables

[2021-06-19 16:01] pravarag commented on #5760
/assign

[2021-06-19 16:32] pravarag commented on #5760
@ritazh I've created a PR and would like to have your review comments on it.

[2021-06-20 19:02] bec1442 opened #5849 "faild to deploy nginx controller"
I followed a tutorial to configure an internal nginx-controller and worked just like the tutorial.
I wanted to re-enforce the learning by repeating the tutorial so I did delete the namespace first

But trying again, I get error.  Even if I change the namespace (“ingress”), still reference to old
Error: rendered manifests contain a resource that already exists. Unable to continue with install: Clus

[2021-06-21 04:23] nikhita commented on #4586
/lifecycle frozen

[2021-06-21 05:58] #5260 closed

[2021-06-21 13:08] mrbobbytables commented on #5849
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2021-06-21 13:08] #5849 closed

[2021-06-21 14:57] BoleynSu opened #5851 "some typos in the docs and the comments"
There are some typos in the docs and the comments where OWNERS_ALIASES is spelled as OWNERS_ALIAS.

[2021-06-21 18:25] hh commented on #4951
Hi @alisondy !

Sorry, we've been heads down on other activities.

How's the plan coming for the next New Contributor Workshop?

It's been a while I'm not sure what the deliverables are here.
Are we still doing video or did we move to blog posts?

[2021-06-21 18:25] hh commented on #4950
See https://github.com/kubernetes/community/issues/4951#issuecomment-865250558

[2021-06-21 18:26] hh commented on #4948
See https://github.com/kubernetes/community/issues/4951#issuecomment-865250558

[2021-06-21 18:27] hh commented on #4949
See https://github.com/kubernetes/community/issues/4951#issuecomment-865250558

[2021-06-22 09:18] marseel commented on #5236
/remove-lifecycle stale

[2021-06-22 09:24] dims opened #5854 "SIGs need a Roster on who is on a SIG"
Having a Roster of some kind:
- will improve morale, have a sense of belonging
- A chance to celebrate
- Identify themselves with the group
- Natural mechanism to figure out who can vote
- Pool of folks SIG chairs and TLs can rely on
- Folks who are not in the roster can aspire to get there (part of a contributor ladder)
- Other SIGs (and general folks) will know who to reach out to (other than ch

[2021-06-22 09:25] dims commented on #5854
/committee steering

[2021-06-22 09:34] dims opened #5855 "Better Process of selection of SIG Chairs and Technical Leads"
//note: issue has been broken down into three and this one will reflect the mechanism of selection only; other two: #5886 #5890

Currently there is no standard mechanism, some SIGs have chairs who have been there for a while, some SIGs are able to get fresh blood in, some SIGs have even held an election.

We need to:
- A standard way for someone to be chosen - say an election
- Track in a easy to

[2021-06-22 09:35] dims commented on #5855
/committee steering

[2021-06-22 13:41] #5851 closed

[2021-06-22 14:07] nimbinatus commented on #5855
As a side note, defined term limits would also help folks plan when discussing becoming a chair/lead with their managers or when trying to decide if they have the ability to commit for a time period should they be considering any life-altering moves (e.g., family, career, personal).

[2021-06-22 17:11] #5061 closed

[2021-06-22 17:20] parispittman commented on #5855
I'm a fan of term limits for any named leadership role, including chair (re: https://github.com/kubernetes/steering/pull/175). I did a 2 year term as a Chair and after reflection think that 3-5 years can be a debatable term limit period.

[2021-06-22 17:22] parispittman commented on #5855
#4586 is relevant to SIG voting

[2021-06-22 17:29] BenTheElder commented on #5855
I want to clarify the language a bit here: "term **limit**" (https://en.wikipedia.org/wiki/Term_limit) usually refers to a limit on the number of terms an official can serve, where a term is a fixed length of time stint in office. I think that people are actually talking about here is _having_ terms / a limited period of time served after being elected, instead of unlimited time in the position.

[2021-06-23 00:14] jberkus commented on #5854
My big concern about this would be staleness, given that we're not good about keeping even the lists of subproject owners up to date.

[2021-06-23 00:22] ehashman commented on #5855
My 2c:

- Chairs should be elected on 2 year terms
- We should have a 4 year consecutive term limit
- TLs should be mandatory, selected by Chairs in a method of their choice (e.g. could be an advisory election)

Elections are tricky. SIG Instrumentation currently tracks our SIG members through a combination of [meeting attendance and devstats](https://github.com/kubernetes/community/blob/master/si

[2021-06-23 00:33] ehashman commented on #5854
Re: staleness, is this something that could be lumped into the annual report work? We used that as an opportunity to check OWNERS files as well

[2021-06-23 00:35] ehashman commented on #5854
N.B. each SIG could have the option of maintaining this in k/org as GitHub teams, see e.g. https://github.com/kubernetes/org/blob/576e433048f585039d3c5b7a1cd4de7213170446/config/kubernetes/sig-instrumentation/teams.yaml#L20

A lot of our GH teams are quite out of date.

[2021-06-23 02:05] tengqm commented on #5854
+1

Maybe a related change is to assign some roles inside each SIG, e.g., a security focal, a documentation liaison etc. This will help the docs team identify the person who can help provide technical lgtms.

[2021-06-23 02:05] sftim commented on #5855
If a SIG has say three co-chairs and no tech leads, should that SIG be forced to appoint a tech lead?

[2021-06-23 02:36] sftim commented on #5854
I like the idea of having that roster be (optionally) mirrored to a team in GitHub's API.

[2021-06-23 03:40] BenTheElder commented on #5855
I think it could be reasonable to simple set org members as the list of possible voters for SIG leadership.

I'm not sure it's best to limit it to "sig members" which seems likely to be a more arbitrary bar than the reasonable org membership bare we have today, and I think folks nominally focused on other SIGs still have a vested interest in the health of all SIGs. I don't think meeting attendance

[2021-06-23 03:41] BenTheElder commented on #5854
This needs to not be arbitrary / per-sig if we're going to use it to vote for SIG leadership.

I'm not sure it should be used for that particular purpose though https://github.com/kubernetes/community/issues/5855#issuecomment-866497734

[2021-06-23 08:35] saschagrunert commented on #5854
I generally like the proposal. Speaking for SIG Release we already maintain something similar for each cycle as well as in the release engineering subproject.

[2021-06-23 12:11] mrbobbytables commented on #5641
/remove-lifecycle stale

[2021-06-23 12:36] MadhavJivrajani commented on #5641
I can take this up /assign

From the conversation, I understand that this label should only be removed from k/k and `kind/feature` should be added to the currently open issues and PRs that have `kind/design` assigned to them. Please correct me if I'm missing something, thank you 😄

[2021-06-23 12:36] MadhavJivrajani commented on #5641
/assign

[2021-06-23 16:09] sunstonesecure-robert commented on #5855
is this a real problem or hypothetical?  (details not needed)   I am genuinely (academically) curious since I have been discussing the open source culture with academics and other "culture" SMEs and it's fascinating how human psych and social group dynamics permeates all aspects of a relatively technical environment :)

[2021-06-23 16:24] #5222 closed

[2021-06-23 16:26] neolit123 commented on #5855
everything right now is a best effort including who is a SIG lead and how much time they can participate as a lead.
people come and go, change jobs and so on. tracking that seems like overadministration to me.

the numbers of regular / active participants are not that high.
if we had dozens of active participants in SIGs pushing to climb ladders and more and more wanting to join, it feels better a

[2021-06-23 16:30] neolit123 commented on #5854
-1 too much work for distributed SIGs like Cluster Lifecycle and maybe Cloud Provider (not speaking for them).

@jberkus

i agree. this feels like yet another administrative complication that from my perspective, gains no benefits in a best effort community such as k8s.

[2021-06-23 17:13] ehashman opened #5859 "Document the purpose and criteria for NodeConformance tests"
/sig node testing
/kind documentation

Consider renaming to CRIConformance?

See Slack discussion: https://kubernetes.slack.com/archives/C78F00H99/p1623803503028500

Discussed in SIG Node CI Subgroup on 06/23 and 06/16 meetings.

[2021-06-23 17:49] ehashman commented on #5535
One additional ask: it would be an enormous improvement for columns to automatically sort by last updated (most recent at top, least recent at bottom for example). Right now, I have to look at every single issue in a column manually to see if it's been updated, about once a week.

[2021-06-23 17:55] ehashman commented on #5855
Yes, I think so.

Re: meeting attendance, our goal is to *additionally*, not exclusively, recognize people who have been regularly contributing in non-code ways, such as attending meetings, participating, and helping with notes. We actively encourage people who have regularly been attending our meetings but have been shy to get more involved in the project to submit PRs and apply for org membershi

[2021-06-23 18:30] MadhavJivrajani commented on #5663
/remove-lifecycle stale

[2021-06-23 18:37] BenTheElder commented on #5855
IMO: Yes. The folks in this thread are not known for spending their time on hypothetical problems 🙃

The current process lacks any sort of re-evaluation of leadership other than folks choosing to permanently step down of their own accord. SIGs have pretty broad ownership in the project but the community may not really have buy-in here. People burn out or otherwise become inactive but stay in their

[2021-06-23 18:59] neolit123 commented on #5855
https://groups.google.com/d/msgid/kubernetes-dev/9bdfaaa5-9664-4293-bded-256798ad7a99n%40googlegroups.com?utm_medium=email&utm_source=footer

^ Jeffrey Sica recently stepped down as a SIG UI chair and appointed Shu M. as someone who can take over the position.
personally, as an org member, i do not know Shu M. (we may have interacted at some point), but i would assume that they are active in SIG U

[2021-06-23 19:29] BenTheElder commented on #5855
Nothing prevents candidates from being nominated by prior leads. _That_ sounds like a hypothetical problem.

[2021-06-23 20:11] AevaOnline commented on #5855
(wearing my open source ecosystem hat)

Broadly, yes. The aphorism that "a tech company ships their org chart" applies to F/OSS as well: in the absence of corporate hierarchy, the open source org chart follows from a project's method of (s)electing leaders and organizing workstreams into groups (SIGs and WGs, for instance) that produce artefacts (code, docs, binaries, etc).

There are pros and con

[2021-06-23 20:26] neolit123 commented on #5855
You can also just choose not to vote if you are not informed sufficiently.

today i cannot think of sufficiently active candidates to nominate or such that can step up and have the time to do it.
so if a tern is fixed and votable rotation is mandatory, maybe candidates should self-nominate?

for distributed SIGs, then we enter subproject inner-SIG political voting, where participant in subproject

[2021-06-23 23:24] lavalamp commented on #5855
I don't think having people vote for leadership of a SIG without having inside context on that SIG is going to work out very well.

I usually would err on the side of trusting people on things, but in this case trusting them not to vote on SIG leadership when they lack context seems like a recipe for a popularity contest as mentioned above by @AevaOnline; even if 75% of such people realize they sh

[2021-06-24 00:12] lavalamp commented on #5855
In response to the OP, I think that leadership selection mechanism and getting "fresh blood" in are both worthy of discussion, but I'm not convinced they are the same problem or that they should be solved by the same mechanism. I think it would be a good exercise to zoom in one level of abstraction and list the elements of each that are problematic, in advance of determining a category of solution

[2021-06-24 00:19] lavalamp commented on #5854
A roster seems mandatory if there is to be a vote. However a roster requires maintenance and objective criteria for who can be on it. Administrating this can be very expensive in terms of human effort.

There would have to be some requirement on SIG members, and I think it would easy for a well-intentioned system to in practice be exclusionary and make it harder for people to join the project.

[2021-06-24 00:24] BenTheElder commented on #5855
We don't have a single person in any of the roles discussed in this thread, FYI. SIGs must have multiple.

The chairs of the SIG are already not minikube maintainers, so this seems somewhat moot. I'm also not sure it's a problem to have SIGs focus on most highly staffed efforts.

I think it's rather presumptuous to say that one cannot have context on a SIG without being a listed member. I also thi

[2021-06-24 00:27] jberkus commented on #5854
Could we make this semi-automated somehow?  That is, Org Member + 10 contributions == automatic invite?

[2021-06-24 02:45] sunstonesecure-robert commented on #5855
as a co-chair on a very small WG (policy) I agree with that! it's about the logistics and getting speakers and creating PRs and responding to various TOC requirements and minutiae - very little time left over for technical stuff, and then it's filling the gaps that others didn't want to cherry pick :)

I can imagine what a larger SIG chair load must be like!  I would presume that - like me - most

[2021-06-24 05:24] pranab-bajpai opened #5860 "CNCF Kubernetes EasyCLA data migrated from old CLA system"
ccla - user has signed corporate cla
ecla - user has signed both icla and ccla
icla - user has signed individual cla

[2021-06-24 08:15] jihoon-seo opened #5861 "Term `master` in contributors/design-proposals/cluster-lifecycle/ha_master.md"
Hello all!

It will be nice to replace the term `master` with `control plane` or `control plane node(s)` in
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cluster-lifecycle/ha_master.md .

Also, https://kubernetes.io/docs/tasks/administer-cluster/highly-available-control-plane/ needs to be updated accordingly.
![image](https://user-images.githubusercontent.com/46

[2021-06-24 08:16] jihoon-seo commented on #5861
/sig docs

[2021-06-24 13:44] logicalhan commented on #5855
In SIG Instrumentation, we've already discussed this (both fixed terms and term limits) and we had moderate support for both. Personally, I also believe and support the democratic ideal in the open-source community (I think I was the one to bring up both topics originally for debate in our SIG).

However, I don't really think that the answer is quite black and white. There is a lot that goes into

[2021-06-24 13:45] logicalhan commented on #5855
Also SIGs are by nature quite different and a one-size fits all strategy may not be the best thing in the end.

[2021-06-24 17:01] lavalamp commented on #5854
I think something like that would be best, but the codebase requires some curation. Some SIGs co-own some sections of code (that's fine, you get invites to both) and some code is unclearly owned. The major problem is that the code is just not clearly enough delineated; e.g. the auto-SIG-labeling code gives my SIG a lot of false positives.

I think a backup mechanism would be needed to let SIGs gra

[2021-06-25 04:33] unnati914 commented on #5859
could you guide me for this issue.. i have some idea of it

[2021-06-25 12:44] mrbobbytables commented on #5861
Design proposals are in an archived state, they are there for [historical purposes only](https://github.com/kubernetes/community/tree/master/contributors/design-proposals#kubernetes-design-documents-and-proposals) (Theres rules blocking PRs from merging updating them)

The tasks on the website can be updated though, an issue should be filed in [kubernetes/website](https://github.com/kubernetes/web

[2021-06-25 12:45] mrbobbytables commented on #5860
This is being tracked over here: https://github.com/kubernetes/org/issues/2778 👍

/close

[2021-06-25 12:45] #5860 closed

[2021-06-26 17:53] shekhar-rajak opened #5862 "JSON format of the SIG metadata"
Hi team,

Can we have JSON formate of the SIG metadata : https://github.com/kubernetes/community/blob/master/sigs.yaml ?

I am working on PR https://github.com/kubernetes/contributor-site/pull/222 "All Enhancement proposals in single webpage | KEPs " and basically I want to pull a file simialr to https://raw.githubusercontent.com/kubernetes/community/master/sigs.yaml means a GET request in JSON fo

[2021-06-27 17:47] palnabarun commented on #5862
AFAIU, this file is the source of truth for the pages in this repository. Hence, it is managed manually.

[2021-06-27 21:05] shekhar-rajak commented on #5862
I find alternate way. Please refer: https://github.com/kubernetes/contributor-site/pull/222#issuecomment-869222740

closing this.

[2021-06-27 21:05] #5862 closed

[2021-06-29 09:11] CsatariGergely commented on #5734
Even if the documentation in the markdown files are licensed with CC BY 4.0?

[2021-06-29 09:33] Zsolt-LazarZsolt opened #5863 "Kubernetes never cancels PreStop http hook"
Consider the following setup.

Have a main container with a liveness probe and a http prestop hook.
Have a side container running a webserver that is listening on said prestop hook, stalling connections indefinitely.

If the following happens:
- main container start failing the liveness probe (in the example port 8002 is not actually open)
- kubernetes decides to kill the main container, triggers

[2021-06-29 13:07] Zsolt-LazarZsolt commented on #5863
/sig node

[2021-06-29 13:44] mrbobbytables commented on #5863
I'd recommend reposting this as a bug in the [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes) repo. It is unlikely to be answered here. This repo is sort of the "meta" repo for the upstream contributor community.

[2021-06-29 13:45] mrbobbytables commented on #5861
With that, I'm going to go ahead and close this out. If you have questions, please feel free to reopen 👍

/close

[2021-06-29 13:45] #5861 closed

[2021-06-29 16:11] Zsolt-LazarZsolt commented on #5863
Thank you for the heads up. Opened in the right place

[2021-06-29 16:11] #5863 closed

[2021-06-29 16:46] pravarag commented on #5532
I've created a draft PR while I'm adding documentation for various `verify*` tests. Will open it for review once done.

[2021-06-29 18:18] BenTheElder commented on #5641
I've been tagging `kind/design` on issues that do not have an agreed design yet, but I don't think it's been particularly effective.

[2021-06-29 18:20] BenTheElder commented on #5641
The KEP process is *far* too heavyweight for projects outside of Kubernetes but we don't yet have an easy pattern to standup a lighter process, a few projects do now anyhow, like cluster-api and minikube.

[2021-06-30 18:34] jayunit100 commented on #5855
Overall good idea I've advocated for this in the past also.... but based on  the timing I'd say "yes but not right this minute" bc currently Lubomir's comment is pretty important to contextualize --- right now burn out is high in tech and in k8s in general- and new rules just increase it even more even if the rules are well intentioned.

[2021-06-30 19:22] PushkarJ commented on #5854
Not claiming that this is perfect or something we should adopt but in terms of exploring prior art as it relates to roster, membership criteria and role definitions, CNCF TAG Security has one: https://github.com/cncf/tag-security/blob/main/governance/roles.md

Also, +1 on automating some of it using Github teams

[2021-06-30 20:01] PushkarJ commented on #5855
Sharing a point of view of what a good process would look like from someone (me) who is neither a SIG chair or a tech lead (yet):

- Agree with elections becoming a popularity contest, when the electorate is large like all org members. Perhaps org members can share their non-binding votes to ensure their voice is heard. Steering committee members and all SIG's chairs can have a binding vote on sel

[2021-06-30 20:11] BenTheElder commented on #5855
All voting is, to an extent, a popularity contest.

Org membership is 100% intended to be a trust domain within the project. I'm sad and concerned that we apparently do not actually trust our members.

[2021-06-30 20:30] PushkarJ commented on #5855
My two cents, there is no lack of trust in org members. But there is definitely a need to contextualize the candidate and their contribution considering the size of the org.

It reminds me of @AevaOnline and @mrbobbytables talking about Dunbar number when explaining how "Social groups have scalability problems too" in Kubecon EU 2021 talk: https://youtu.be/aVZWOMGE5q8?t=233

Having said that, I re

[2021-06-30 23:18] jberkus commented on #5854
@lavalamp yeah, I'm just looking for "how do we make this so easy for SIG chairs that they can do it every week".  Because if it's not that easy, it won't happen at all.

[2021-07-01 19:35] BenTheElder commented on #5626
yeah, log-dump.sh is not a great detail of testing, it's useful to know about but not really portable.

sorry this slipped through the cracks for me.
/remove-lifecycle stale
/help

[2021-07-02 22:09] spiffxp commented on #3541
Opened https://github.com/kubernetes/steering/issues/213 as a placeholder for a proposal to address these issues

[2021-07-02 22:11] spiffxp commented on #5835
/close
I think this has been completed.  Please /reopen if I've closed this in error

[2021-07-02 22:11] #5835 closed

[2021-07-02 22:18] spiffxp commented on #3541
/remove-lifecycle stale

[2021-07-03 11:58] mrbobbytables commented on #3621
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-04 10:21] ameukam commented on #3938
FYI : https://github.com/1Password/1password-teams-open-source/pull/359

[2021-07-04 22:28] BenTheElder commented on #4289
^ the bot noise really does not help with being able to keep up with notifications 🙃

[2021-07-04 22:34] justaugustus commented on #4289
/remove-lifecycle stale
/lifecycle frozen

[2021-07-05 03:39] sanjimoh opened #5872 "Link in sig-autoscaling README.md are broken"
The below link refers to a non-existing OWNERS file in kubernetes/client-go/scale project.

https://github.com/kubernetes/community/blob/master/sig-autoscaling/README.md#scale-client

![image](https://user-images.githubusercontent.com/33784301/124415339-48a95800-dd72-11eb-81a3-b8a0803c3af6.png)

I tried creating a PR (https://github.com/kubernetes/client-go/pull/994) to introduce OWNERS file but t

[2021-07-05 03:40] sanjimoh commented on #5872
/sig Autoscaling

[2021-07-05 10:41] nikhita commented on #5636
/remove-lifecycle stale

[2021-07-06 21:33] mrbobbytables opened #5874 "Contributor Summit NA 2021: Volunteer thread"
If you are interested in volunteering to help with the Contributor Summit at KubeCon NA this year, please respond on this thread with by 7/14. We will then kick off a doodle for those interested to schedule our regular planning meeting.
[code]

**Note:** There will be some big changes for this event as compared to our previous events, largely due to the unpredictability around attendance.
- There

[2021-07-06 22:03] thecrudge commented on #5874
I'd be interested in the unconference lead or having some part

[2021-07-06 22:12] parispittman commented on #5874
I would love to coordinate the social. 🚀

[2021-07-06 22:31] mrbobbytables commented on #5872
It's entry can be updated by removing it from [sigs.yaml](https://github.com/kubernetes/community/blob/master/sigs.yaml) then running `make` to update all the locations that reference it.

I'd defer to the leads, @gjtempleton and @mwielgus about removing it or updating it to its new location (if it exists)

[2021-07-06 23:01] chris-short commented on #5874
I can help wherever needed. I'm assuming that Red Hat will be sending folks.

[2021-07-07 00:11] spzala commented on #5874
I would be happy to help with general support on-site and either facilitating a session or helping the lead(s) for SIG f2f/meet and greet. I am planning to attend the conf in person.

[2021-07-07 04:39] ameukam commented on #5874
Same as @chris-short. I'm planning to attend the conference in person.

[2021-07-07 04:43] gkarthiks commented on #5874
I am interested too. But I am in India. If things go well, I'll attend in-person else remotely.

[2021-07-07 07:50] geekygirldawn commented on #5874
I'm currently planning to attend on-site ... assuming travel between the US / UK is permitted in October :)

Preferred roles - I'd love to help with something content-related. I don't have a lot of time leading up to the event for organizing, so I'm not interested in leading anything but I would be happy to help out day of, and I'd be happy to provide advice as needed for areas I've led in the pas

[2021-07-07 11:14] kunal-kushwaha commented on #5874
I am interested in this. In-person if things go well with travel between the US & India, otherwise remote.

[2021-07-07 12:32] pnbrown commented on #5874
- Nigel Brown
- On-Site
- No preference

[2021-07-07 13:31] markyjackson-taulia commented on #5874
- Attending in person
- On-site
- Help @thecrudge with unconference and anything else that needs hands

[2021-07-07 14:33] reylejano opened #5875 "Kubernetes Third-Party Security Audit for 2021 (tracking issue)"
Tracking issue for the Kubernetes third-party security audit for 2021:
- [X] Create RFP
  - [X] Audit scope
  - [X] Finalize dates: RFP opening and closing dates, question period, vendor selection
  - [X] Complete question period and publish questions & replies to RFP
- [ ] Vendor assessment
  - [ ] Assemble vendor assessment group
  - [ ] Create private Slack channel
  - [ ] Create private Google

[2021-07-07 14:33] reylejano commented on #5875
/assign

[2021-07-07 14:36] reylejano commented on #5875
I agree to abide by the guidelines set forth in the [Security Release Process](https://github.com/kubernetes/security/blob/master/security-release-process.md), specifically the embargo on [CVE communications](https://github.com/kubernetes/security/blob/master/private-distributors-list.md#embargo-policy) and have no conflict of interest

[2021-07-07 14:38] paulczar commented on #5874
* Paul Czarkowski
* on-site
* happy to help with whatever needs doing @ the event

[2021-07-07 14:53] reylejano opened #5876 "REQUEST: New Slack channel sig-security-external-audit-private"
**GitHub Username:**
tabbysable, IanColdwater, reylejano

**Slack Username:**
rlejano

**Private Channel**

**Name of Requested Resource:**
sig-security-external-audit-private

**Description of Request:**
We request a private slack channel to discuss security vulnerabilities and findings for the Kubernetes third-party security audit conducted by the SIG Security External Audit subproject

[2021-07-07 15:01] #5876 closed

[2021-07-07 15:29] Vijayakumar0328 commented on #5874
- Vijayakumar (VJ)
- Virtual
- Happy to Lead and help with anything Virtually (Marketing?)

[2021-07-07 15:39] tech-geek29 commented on #5874
- Rishabh Jain
- On-site (preferred), otherwise remote
- Happy to help with anything

[2021-07-07 16:33] reylejano commented on #5875
/subproject external-audit

[2021-07-07 16:34] reylejano commented on #5875
/label subproject/external-audit

[2021-07-07 16:38] lauralorenz commented on #5874
* Laura Lorenz
* On-site
* No strong preference, interested in on-site rep for virtual attendee liaison

[2021-07-07 16:50] nimbinatus commented on #5874
- Laura Santamaria
- On-site
- Happy to help wherever you need me, probably preferred to be part of content (programmed sessions?) but willing and able to be anywhere. I've got experience organizing hybrid conferences and running unconferences for hybrid conferences and in-person conferences.

[2021-07-07 17:24] nimbinatus opened #5877 "Proposal: Migrating k-dev to a managed kubernetes.io account"
Kicking off an issue to track a discussion we've been having in Contribex. Currently, we can't send out community-wide calendar invites to k-dev due to restrictions around public Google Groups that limit how many people you can send a calendar invite to. Since we're in a situation where people track everything on their calendars and are generally remote, the lack of calendar invites means attendan

[2021-07-07 18:38] celestehorgan commented on #5855
So what are the next steps forward here @dims? Does this need more feedback/commentary?

[2021-07-07 18:39] dims commented on #5855
@celestehorgan we add it to the steering agenda for discussion.  ( cc @parispittman )

[2021-07-07 18:52] jberkus commented on #5823
Deb: current plan is that I'll do a shirt design based on some LA landmark; expect a draft in the first week of August.  However, if Tim has a stroke of inspiration before then, he'll take over.

[2021-07-07 18:54] jberkus commented on #5874
* Josh Berkus
* On-site
* Available for anything, good at doing unconference talk selection boards

[2021-07-07 18:59] microwavables commented on #5874
- Nanci Lancaster
- On-site (as long as company travel policy is lifted by then)
- Unconference, Registration, or anything content-related

[2021-07-07 19:37] debgiles commented on #5823
Sounds good @jberkus!

[2021-07-07 20:15] mrbobbytables commented on #5877
/area community-management
/milestone v1.23

[2021-07-07 21:08] jlk commented on #5875
I agree to abide by the guidelines set forth in the [Security Release Process](https://github.com/kubernetes/security/blob/master/security-release-process.md), specifically the embargo on [CVE communications](https://github.com/kubernetes/security/blob/master/private-distributors-list.md#embargo-policy) and have no conflict of interest

[2021-07-07 21:10] sunstonesecure-robert commented on #5875
I agree to abide by the guidelines set forth in the Security Release Process, specifically the embargo on CVE communications and have no conflict of interest - just in the interest of FULL 200% transparency I do often speak with, and employ, various pentesting companies. I have hired previously unrelated to CNCF projects 1 of the vendors, and have spoken to all of them at some point in the past 12

[2021-07-07 21:11] aasmall commented on #5875
I agree to abide by the guidelines set forth in the [Security Release Process](https://github.com/kubernetes/security/blob/master/security-release-process.md), specifically the embargo on [CVE communications](https://github.com/kubernetes/security/blob/master/private-distributors-list.md#embargo-policy) and have no conflict of interest

[2021-07-07 21:58] PurelyApplied commented on #5875
I agree to abide by the guidelines set forth in the [Security Release Process](https://github.com/kubernetes/security/blob/master/security-release-process.md), specifically the embargo on [CVE communications](https://github.com/kubernetes/security/blob/master/private-distributors-list.md#embargo-policy) and have no conflict of interest.

----

There was a `wg/security-audit` working group label, b

[2021-07-08 03:18] tokt commented on #5874
- Mars Toktonaliev
- On-site
- Happy to help with anything.

[2021-07-08 03:20] thecrudge commented on #5874
+1 for Mars being a shadow for unconference

On Wed, Jul 7, 2021 at 10:18 PM tokt ***@***.***> wrote:

--

------------------
e: ***@***.***
c: 214-603-9075
w: http://www.crudge.io

[2021-07-08 06:52] Oshratn commented on #5874
- Oshrat Nir
- Virtual
- I'd like to do shadow work for a back-office function. This will allow me to circumvent time zone issues and low availability during September.

[2021-07-08 16:51] vaibhav2107 opened #5879 "Broken Link in sig-node/CONTRIBUTING.md"
The link https://github.com/kubernetes/kuberentes/tree/master/pkg/probe mentioned in the section Helpful Links for Sig-Node is broken
The correct link should be https://github.com/kubernetes/kubernetes/tree/master/pkg/probe

/sig node
/assign

[2021-07-08 18:08] randomvariable commented on #4641
Trying to see if we can reuse the same token in https://github.com/kubernetes/test-infra/pull/22828/files

[2021-07-08 20:57] raesene commented on #5875
I agree to abide by the guidelines set forth in the [Security Release Process](https://github.com/kubernetes/security/blob/master/security-release-process.md), specifically the embargo on [CVE communications](https://github.com/kubernetes/security/blob/master/private-distributors-list.md#embargo-policy) and have no conflict of interest. In the interests of full transparency, I am an ex employee of

[2021-07-09 15:00] spiffxp commented on #5199
/close
/triage unresolved
Closing as wont-fix, at this point I think we'll just get by manually uploading videos to our own channels and adding to playlist until there is a better solution available

[2021-07-09 15:00] #5199 closed

[2021-07-10 14:04] amino19 commented on #5874
[code]

[2021-07-10 19:37] rficcaglia commented on #5814
here's my first pass at the self-assessment outline structure, ie not the CAPI details themselves but the high level parts to be filled in (including a place for someone to fill in the CAPI-specific features and controls). this is meant to be both for CAPI and serve as a template for future subproject use.

https://docs.google.com/document/d/1Fj_cLUN9kLruHbEgmYiEgoqZjf2rRuVOmQDGOKByaf4/edit?usp=sh

[2021-07-11 01:00] #5299 closed

[2021-07-12 00:20] dims commented on #5231
@kikisdeliveryservice Could you please organize some folks to revisit this on behalf of sig-arch?

[2021-07-12 00:51] mrbobbytables commented on #5874
Here is the doodle for scheduling the meeting:
https://doodle.com/poll/7d2ws558tty87gcp?utm_source=poll&utm_medium=link

If you can, please fill it out by Thursday (7/15) so we can get it scheduled

[2021-07-12 00:52] #5879 closed

[2021-07-12 14:37] davidmirror-ops commented on #5874
- David Espejo
- On-site (if company travel policy permits that by then)
- Would like to help with anything Content-related

[2021-07-12 14:46] pierluigilenoci commented on #5712
/remove-lifecycle stale

[2021-07-12 14:53] logicalhan commented on #5080
/remove-lifecycle stale

[2021-07-13 09:09] CsatariGergely commented on #5734
@nikhita @swinslow can you please suggest how to move forward with this?

[2021-07-13 10:59] nikhita commented on #5734
@swinslow @caniszczyk can you please provide guidance here?

[2021-07-13 12:33] loganmzz commented on #2720
Link is broken

[2021-07-13 14:21] caniszczyk commented on #5734
There are also some folks that would consider .md files "code" and since this project repo has code and isn't really a public facing website, I don't see why we need to add a "LICENSE-docs" here, but if you wish

These two licenses are very similar in spirit so I think this is a non issue, they both require attribution at the end of the day.

[2021-07-13 16:47] spiffxp commented on #5532
/milestone v1.22

[2021-07-13 17:50] BenTheElder commented on #2720
It's now https://github.com/kubernetes/community/tree/master/archive/wg-lts, wg-lts was concluded 9 months ago.

[2021-07-13 22:56] parispittman opened #5886 "Terms and Term Limits for Chairs/TLs"
Following up from Steering Committee meeting July 12th, we are going to split issue #5855 into three parts:
1- the original issue #5855: mechanism for selection,
2- defining terms and any limits associated (this issue),
3- should 1 tech lead be a required role for each SIG in addition to 1 chair

------

Chairs should have terms and potentially limits.

Why:
1. Responsiveness of overburdened chair

[2021-07-13 23:03] parispittman commented on #5855
https://github.com/kubernetes/community/issues/5886 -> broke this issue into another one for terms and/or term limits. I'll collect feedback from above there.

[2021-07-14 03:02] JohnRusk opened #5887 "Document the overlap (or not) between Server Side Apply and Kustomize"
When reading the Kustomize documention, I came to this page https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md  which says that Strategic Merge is probably obsolete and Server Side Apply is the way to go.

But I can't find anything that explains when to use Kustomize (and Strategic Merge) and when to use Server Side Apply.  That needs

[2021-07-14 03:04] JohnRusk commented on #5887
/sig api-machinery

[2021-07-14 03:21] coderanger commented on #5887
The two are kind of unrelated? Kustomize is a CLI tool for combining multiple YAML files together into a single manifest for a given environment (or whatever). Server Side Apply is a type of API request for managing API objects. The merge in Kustomize is different from an API PATCH request because it's not thinking about "live object" vs "patch data", it has two chunks of user input and is combini

[2021-07-14 03:23] coderanger commented on #5887
Also the most common use case for Kustomize is something that boils down to `kustomize build ... | kubectl apply -f -` so the first bit is Kustomize's compilation and the second bit either currently uses SSA or will soon (depending on your setup and arguments).

[2021-07-14 03:24] JohnRusk commented on #5887
That makes sense @coderanger . The confusing bit is that when I read the Kustomize documentation, that takes me to the above-mentioned page about Strategic Merge Patch, which tells me that Strategic Merge Patch is obsolete. The implication is that its obsolete _in the context of kustomize_ (where it is used).  I take it, from your comments just now, that that implication is incorrrect?

[2021-07-14 03:43] coderanger commented on #5887
Yeah, SMP as an API request type (more specifically a type of PATCH request) is on the way out. It's not clear exactly how the code with shake out, if kustomize will inherit it directly or what but it's an extremely different use case :) API deprecations don't apply to things that aren't the API. Also that said, most users of Kustomize that I've seen don't even use the special magic SMP keys, sinc

[2021-07-14 06:26] JohnRusk commented on #5887
Thanks. Makes sense. I think the only problem, if there is one, is that the Kustomize docs hyperlinked into the SMP _general purpose_ docs.

[2021-07-14 06:27] JohnRusk commented on #5887
Not sure if it's worth fixing the Kustomize docs.

[2021-07-14 07:04] coderanger commented on #5887
I leave that up to the Kustomize team :) I think there's nothing in particular to fix on the Kubernetes core side though since the two topics have nothing to do with each other aside from a passing historical connection.

[2021-07-14 10:27] nikhita commented on #5685
/remove-lifecycle stale

[2021-07-14 11:46] nikhita commented on #5685
First one has been filled by @cpanato (https://github.com/kubernetes/community/pull/5689), created https://github.com/kubernetes/community/pull/5888 to add @palnabarun for the second one

We are now left with 5 open pro-tempore moderator seats

[2021-07-14 11:53] cpanato commented on #5685
@nikhita I have a quick question, I never received any messages from this to moderate neither I see options when I access https://groups.google.com/g/kubernetes-dev

[2021-07-14 12:29] nikhita commented on #5685
Update -- @cpanato did not actually have moderator access, granted access now

[2021-07-14 17:43] parispittman opened #5890 "should TechLeads be mandatory (vs not combo with Chair)"
Broken down from issue #5855

Current state/knowns:
- 1 Chair is required for a SIG per sig-governance.md
- only two roles that are identified in sig-governance.md is TL and Chair
- 11 SIGs have explicit entries for TLs in sigs.yaml (combo=chair and TL):
  - Scale
  - Storage
  - Windows
  - Cluster life
  - ContribEx
  - Docs
  - Instrumentation
  - Release
  - ApiM - 1 chair, 1 TL, 1 combo
  - A

[2021-07-14 20:49] kikisdeliveryservice commented on #5231
Just to track the docs already in the dir:

- [ ] api-conventions.md - updated this week, will confirm it's up-to-date
- [ ] api_changes.md - - updated this month, will confirm it's up-to-date
- [ ] component-config-conventions.md - hasn't been updated in years, will get this looked at
- [ ] conformance-tests.md - updated in may have asked conformance team to re-review in case needs update
- [ ] f

[2021-07-14 21:03] mrbobbytables commented on #5231
One other thing that would be worth looking at, what files are worth copying from the sig-arch design proposals directory to the dev docs. Once that's done we can archive those off some place for good 🎉

[2021-07-14 21:10] kikisdeliveryservice commented on #5231
@mrbobbytables that would be this right? https://github.com/kubernetes/community/issues/2565#issuecomment-758615477

[2021-07-14 21:39] mrbobbytables commented on #5231
Yup!
We could probably move and copy later too, but it'd be sorta nice to get it on the list.

[2021-07-14 21:54] kikisdeliveryservice commented on #5231
Great! I'm going thru the linked things in your Description as well. Just trying to organize myself and wrap my brain around the state of everything now :smile:

[2021-07-14 23:28] #5887 closed

[2021-07-15 02:22] spiffxp commented on #5641
I would want to see a survey of which repos other than kubernetes/kubernetes use kind/design before blanket removing it from all repos

[2021-07-15 02:25] spiffxp commented on #5641
Given that the label sync tool doesn't allow denylisting of org-wide defaults this would be a pretty manual change today. We can do it, but I'm sure I see urgency to land this prior to v1.23

[2021-07-15 02:28] mrbobbytables commented on #5641
I think the general consensus was to remove it from k/k, but leave it as an option for others subprojects.

[2021-07-15 08:36] vaibhav2107 opened #5891 "Broken link in /kubernetes/test-infra/tree/master/prow/cmd"
In https://github.com/kubernetes/test-infra/tree/master/prow/cmd , the line in section Base Images
The container [images](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/images) in images are used as base images for Prow components.
has a broken link.

/assign

[2021-07-15 16:48] dashpole commented on #5233
/remove-lifecycle rotten

[2021-07-15 16:50] dashpole commented on #5233
cc @CatherineF-dev

[2021-07-15 16:51] dashpole commented on #5233
@CatherineF-dev can you read through the existing documentation, and document what you find confusing, or questions you have about how to contribute?  Thanks!

[2021-07-15 16:57] ehashman commented on #5233
also cc @husky-parul who is interested in working on this

[2021-07-15 23:44] ehashman commented on #5886
Can we consider splitting

into

and perhaps move term limits into a separate GH issue? Based on the discussion in the Tuesday July Chairs/Leads call, it was clear to me that many people view them as separate issues.

(Also, should we use GH discussions rather than issues?)

[2021-07-16 12:28] yuswift commented on #5626
What about using `kubectl cluster-info dump` to debug the cluster. If you agree with that, I'm willing to open a pr for the doc.

[2021-07-16 14:21] mrbobbytables commented on #5891
@vaibhav2107 if that is a broken link over in test infra, it should be opened in that repo and not the community repo.

[2021-07-16 17:33] InAnimaTe commented on #5874
Yeah so I'm late to this but:

* Mario Loria
* Onsite - 100% planning to be in-person
* Can help with anything across the board even getting drinks for Bob

[2021-07-17 04:08] bunniseng commented on #5425
Hey @spiffxp

Is this something I could pick up? I'm new to the community, happy to get my hands dirty with a bit of direction.

[2021-07-17 17:13] markyjackson-taulia commented on #5201
/remove-lifecycle stale

[2021-07-18 08:12] jayunit100 commented on #5855
re dunbars number: I think there's a pareto distribution (a small handful of 2 or 3 people are doing the leadership in different areas for the sigs  wether or not they have titles), multiplied by 20 sigs, it seems like 40 or 50 people shouldnt be too hard to have some kind of passing relationship with in the community ?

[2021-07-18 12:52] yuswift commented on #5891
/cc @BenTheElder

[2021-07-18 12:53] mrbobbytables commented on #5891
Please open a new issue in test infra

/close

[2021-07-18 12:53] #5891 closed

[2021-07-18 19:09] aliakbar-hemmati commented on #5466
Hi,
I see a merged commit here. Is there still sth to be done for this issue?

[2021-07-19 04:12] MadhavJivrajani commented on #5874
Oops! Seems like I'm late here, any chance I can still help out? If so:

- Name: Madhav Jivrajani
- Availability - if travel is possible; default: virtual
- Area of interest: Would love to help with registration and Content related (helped out with the last New Contributor Workshop that happened as part of KCD Bangalore)

[2021-07-19 12:27] MadhavJivrajani commented on #5641
Hey folks 👋🏻

As per the standing consensus, `kind/design` in favor of `kind/feature` was decided to be removed from only `k/k` and not the other repos. The method I hope to follow is as follows:

- Do a sweep of existing issues/PRs and remove and replace `kind/design` with `kind/feature`
  - A manual sweep would be required mainly because `label_sync` does not support a label to be present under

[2021-07-19 12:59] alculquicondor commented on #5466
This section still needs to be written https://github.com/kubernetes/community/blob/master/contributors/devel/sig-scheduling/scheduler_framework_plugins.md#creating-a-new-in-tree-plugin

However, this requires some previous experience writing plugins

[2021-07-19 13:14] nikhita commented on #5641
For anyone reading this - to elaborate, this means that new repos will **not** automatically include the `kind/design` label. If a repo wants to use the label, the repo maintainers would need to explicitly opt-in by adding the repo to `labels.yaml`.

There are a lot of repos in the @kubernetes and @kubernetes-sigs organization right now. Adding all of the existing repos to labels.yaml will blow up

[2021-07-19 13:39] mrbobbytables commented on #5641
+1

[2021-07-19 15:36] spiffxp commented on #5425
@bunniseng sure! if you comment `/assign` the issue will get assigned to you

Comparing the labels might be the easiest place to start, since it's a single file.  If you can write something that does that comparison, outputs diffs, and exits non-zero if there are diffs... it's pretty straightforward to turn that into a prowjob.

The slack channels and teams are going to require walking either remo

[2021-07-19 18:00] BenTheElder commented on #5891
Please prefer to open an issue instead of CC me 🙃
I am mostly out right now and the test-infra issue tracker can help route this to the relevant owners.

https://github.com/kubernetes/test-infra/issues/new?assignees=&labels=kind%2Fbug&template=bug-report.md

[2021-07-21 10:08] graywolf-at-work opened #5900 "fejta-bot is a bit annoying"
As instructed by fejta-bot

I would like to leave a feedback. Having the bot wanting to close the issue
every few months, without any action taken by an actual human feels really cold
and uninviting. I understand that resources might be spread thin, and I'm not
demanding my issues to be fixed, but having the bot try to close them over and
over is just cold.

[2021-07-21 10:08] graywolf-at-work commented on #5900
/sig sig-contributor-experience

[2021-07-21 10:48] nikhita commented on #5546
/remove-lifecycle rotten

[2021-07-21 12:22] MadhavJivrajani commented on #5900
/sig contributor-experience

Hi, thanks for the feedback!

There's some discussion around this here: https://github.com/kubernetes/kubernetes/issues/103151
if you'd like to follow along and maybe even provide your inputs on there :)

[2021-07-22 11:38] yashikabadaya commented on #5874
I just got to know about this. I am available to help with anything.
Name : Yashika Badaya
Availability: virtual
Area of interest: Happy to help with anything

[2021-07-22 12:55] Haimantika commented on #5874
Just got to know from the slack channel that one volunteer is still needed, would love to pitch in.

- Name- Haimantika Mitra
- Availability- Virtual (In-person, if possible)
- Area of interest- Content, however, would love to help with anything that comes up!

[2021-07-22 13:03] Haimantika commented on #5541
Hi @mrbobbytables, I would love to work on this. I just got introduced to the community, so this might take a while, we can expect some output from me within mid of August.

[2021-07-22 13:40] Haimantika commented on #5541
/assign @Haimantika

[2021-07-22 13:43] vaibhav2107 commented on #5891
Opened as a new issue https://github.com/kubernetes/test-infra/issues/22987

[2021-07-22 13:49] #1693 closed

[2021-07-22 14:47] spiffxp commented on #5473
/close
The reasons fejta-bot is a separate account is because:
- it is unprivileged, as a demonstration of what any contributor could do with automation
- it avoids exhausting the GitHub API token limit used by k8s-ci-robot
- it was setup by someone named fejta

There is an issue to use k8s-triage-robot instead https://github.com/kubernetes/test-infra/issues/12296

[2021-07-22 14:47] #5473 closed

[2021-07-22 14:49] spiffxp commented on #5900
/close
Agree with @MadhavJivrajani that https://github.com/kubernetes/kubernetes/issues/103151 is the place to discuss this

Consider: what would be a warmer way to express that there isn't sufficient contributor capacity to even look at the issue?  How would you propose increasing contributor capacity to ensure that all issues can be looked at?

[2021-07-22 14:50] #5900 closed

[2021-07-22 16:44] BenTheElder commented on #5473
and a more general issue regarding auto-closing (which is not the only thing the bot does) https://github.com/kubernetes/kubernetes/issues/103151

[2021-07-23 18:43] parispittman opened #5906 "Community Manager Group Mentoring Cohort"
This is the kick-off issue and will be closed after we are set up for the group and ready for the first meeting. [group mentoring docs](https://github.com/kubernetes/community/blob/master/mentoring/programs/group-mentoring.md)

Targeting: Reviewership after 3 months as a community manager for sig-contributor-experience in any or multiple subprojects (communication, etc.)
Mentor: Me (if you are rea

[2021-07-24 16:30] KamalSinghKhanna commented on #5843
Hey is this issue still open ?
I would like to work on this

[2021-07-24 16:47] MadhavJivrajani commented on #5843
Hey, there's a PR already open to fix this :)
But feel free to pick up another one!

[2021-07-25 01:36] KamalSinghKhanna commented on #5843
Sure I'll pick another one,
Thanks!

[2021-07-25 08:04] verma-kunal commented on #5843
there are various good first isssues for you to start contributing @KamalSinghKhanna !! do ask in the community channel if you'll need any help 🙂

[2021-07-26 14:40] Shavee2209 commented on #5906
Hello hi, myself Shanmukh and I like to join as a mentee right now

[2021-07-27 03:56] spiffxp commented on #5532
/milestone v1.23

[2021-07-27 04:03] spiffxp commented on #5239
/milestone clear

[2021-07-27 08:36] mshalmanov opened #5911 "sig-contributor-experience"
/check-cla

[2021-07-27 08:45] nikhita commented on #5911
@mshalmanov closing since this isn't a valid issue. Please reopen after adding more specific details. Thank you!

[2021-07-27 08:45] #5911 closed

[2021-07-27 14:52] jeremyrickard commented on #5235
/cc @Verolop

[2021-07-27 15:23] CatherineF-dev commented on #5233
* I have read markdown files under https://github.com/kubernetes/community/tree/master/contributors/devel/sig-instrumentation. These docs are well-written!  They include the most important parts in a short page and give related context in the links. In addition,  code examples in the docs are helpful.

* There are two kinds of suggestions I added:
1. Optional
They are a little important, which nee

[2021-07-27 15:24] CatherineF-dev commented on #5233
## instrumentation.md
### 1. need  descriptions for `kind` in  `kube_<kind>_<metric>` (Optional)
Suggestion: add `kind` in the description.  `produced by different controllers` -> `produced by different kinds of controllers`

[instrumentation.md#exception-for-object-state-metric](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/instrumentation.md#exception

[2021-07-28 00:37] vulture990 opened #5912 "REQUEST: New communication about <topic>"
**What do you want send out?** (Please include a link to a draft)

- [] I agree that if this is urgent, I will @contributor-comms in #sig-contribex Slack.

[2021-07-28 00:40] mrbobbytables commented on #5912
/close

[2021-07-28 00:40] #5912 closed

[2021-07-28 01:38] parispittman opened #5913 "Leadership Training Topics and Possible Trainers"
Building off of this #3662 issue. We have the channels and platforms now but we don't really have the training program just yet.

Channels/Platforms:
#chairs-and-techleads (k8s slack)
monthly sig/wg chair/tl meeting (kubernetes)
maintainers circle (cncf; all maintainers)
zoom
KubeCon

Each has a thread of leadership training, peer mentoring, and minor activities that you would get with a program b

[2021-07-28 01:48] dims commented on #5913
i've been to the zingtrain one, it was great!

[2021-07-28 06:52] MadhavJivrajani commented on #5230
Hi!

Please feel free to re-direct me if this isn’t the right place to ask this: I’ve noticed that there isn’t a lot of developer documentation around topics such as different components of client-go informers. A few of us usually do code walkthrough sessions on such topics and try and document them as well. @nikhita suggested that it might be a good idea to have these documented as part of the de

[2021-07-28 18:47] saschagrunert commented on #5913
Sounds interesting to me! 😊

[2021-07-28 18:51] realshuting commented on #5913
Super interested in this topic!

[2021-07-28 18:58] PushkarJ commented on #5913
Interested! +1

[2021-07-28 19:50] savitharaghunathan commented on #5913
Interested! :)

[2021-07-28 20:42] eddiezane commented on #5913
Interested!

[2021-07-28 22:20] justaugustus commented on #5913
Interested!
cc: @kubernetes/sig-release-leads

[2021-07-29 02:00] jeremyrickard commented on #5913
Interested

[2021-07-29 03:53] tabbysable commented on #5913
Interested!

[2021-07-29 10:08] randomvariable commented on #4641
Re-opening this issue in the new Github issue format

/close

[2021-07-29 10:08] #4641 closed

[2021-07-29 10:12] randomvariable opened #5916 "REQUEST: New Slack webhook #cluster-api-aws-alerts"
**GitHub Username:**

@randomvariable

**Slack Username:**

[Naadir Jeewa](https://kubernetes.slack.com/team/U6RDFQAF5)

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

New webhook URL for the [#cluster-api-aws-alerts Slack channel](https://kubernetes.slack.com/archives/C019TN4QZ7D)

**Name of Requested Resource:**

Test-Infra Prometheus AlertManager

**Description o

[2021-07-29 12:43] Sajmani commented on #2992
A prototype CLI for reading the Go vulndb is here:
  https://pkg.go.dev/golang.org/x/exp/vulndb/govulncheck
This is not yet ready for production use, but we welcome early adopter feedback.

[2021-07-29 18:19] soltysh commented on #5913
Interested :)

[2021-07-29 18:48] puerco commented on #5913
Interested :raised_hand_with_fingers_splayed:

[2021-07-29 19:13] dims commented on #2992
@Sajmani thanks! will poke at it when we get a chance

[2021-07-29 20:30] tashimi commented on #5913
This is an awesome idea.

[2021-07-29 20:41] mrbobbytables commented on #5913
I'd love to join :)

[2021-07-29 21:00] celestehorgan commented on #5913
+1!!

[2021-07-29 21:26] PushkarJ opened #5920 "[Umbrella] Artifact Vulnerability Scanning and Triage Policy"
**Goal**: Implement automated scanning capabilities that are tool agnostic for identifying vulnerabilities in Kubernetes related artifacts, followed by a documented private triage process to resolve the identified vulnerability, with a programmable way for Kubernetes users to consume this vulnerability information.

## Background
Over the years, multiple different community members in Security Res

[2021-07-29 21:28] PushkarJ commented on #5920
cc @kubernetes/sig-security-leads / @tabbysable / @IanColdwater , @dims , @navidshaikh , @puerco , @justaugustus

[2021-07-29 21:43] PushkarJ commented on #5920
/assign @PushkarJ

[2021-07-29 22:22] PushkarJ opened #5921 "[Umbrella] Security Assessment Process for Kubernetes sub-projects"
**Goal**: Define, execute and improve on a community driven security assessment process for kubernetes sub-projects, which is self-service and welcomes beginners without prior security background to engage and contribute

## Background

CNCF TAG Security has a well established [process](https://github.com/cncf/tag-security/tree/main/assessments) for project maintainers to engage them in a security

[2021-07-29 23:08] puerco commented on #5920
In addition to the SBOM item, you can find the images we produce in the SBOM to close this one:

I can help with that!

[2021-07-30 04:15] PushkarJ opened #5923 "Create a periodically auto-refreshing list of fixed CVEs"
With growing number of eyes on Kubernetes, the number of CVEs related to Kubernetes have increased. Although most CVEs are regularly fixed that directly or indirectly or transitively impact Kubernetes, there is no single place to programmatically subscribe or pull the data of fixed CVEs, for the end users of Kubernetes.

Current options are either broken or incomplete:
1. RSS feed with google grou

[2021-07-30 04:22] coderanger commented on #5923
Isn't this the problemspace https://osv.dev/ exists for? :)

[2021-07-30 04:25] PushkarJ commented on #5923
/assign @PushkarJ

[2021-07-30 10:31] gjtempleton commented on #5913
Interested!

[2021-07-30 19:04] MikeSpreitzer commented on #5230
@MadhavJivrajani : I think it is important to distinguish two sorts of documentation.  One is aimed at the larger audience of _users_ of client-go.  I do not think these folks need a walk-through of the implementation of informers; regarding informers, that audience only cares about the interface.  OTOH, they _do_ deserve documentation about how to write controllers.

The other sort of documentati

[2021-07-30 19:27] MadhavJivrajani commented on #5230
That's a good point. IIRC, there's some devel docs on writing controllers, in that

[2021-07-30 19:43] MadhavJivrajani commented on #5230
Thanks for this!
I do think that having some devel documentation that is centred around interaction among high level entities (an example would be devel docs around [sig-scheduling](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-scheduling/scheduler_queues.md)) rather than implementation details might be helpful for implementer/contributors to client-go.

[2021-07-31 10:32] LappleApple commented on #5913
You might also want to check out Patrick Kua's offerings:

- https://techlead.academy/p/systems-thinking-fundamentals
- https://www.thekua.com/tech-lead-course/

[2021-07-31 12:58] tengqm commented on #5920
/cc

[2021-08-01 08:51] MadhavJivrajani commented on #5641
I think we might also need to update the pull request template in `k/k`

[2021-08-02 15:37] divya-mohan0209 commented on #5913
Interested!

[2021-08-02 15:50] jsafrane commented on #5913
Interested

[2021-08-02 16:33] morengab commented on #5913
Interested!

[2021-08-02 16:54] derekwaynecarr commented on #5886
if we establish terms, and term limits, we will need to determine if we need to set minimum requirements for a chair or TL to not have a min=1 participation list.  i suspect we will want to support rotation of senior/junior folks by requiring some min=2 for either role.

[2021-08-02 16:55] mrbobbytables commented on #5890
/assign

[2021-08-02 18:27] liggitt commented on #5886
/assign

[2021-08-02 21:38] #5600 closed

[2021-08-03 08:52] CsatariGergely commented on #5734
Clear distinction of code and docs license makes contributions more easy for us. Thanks.

[2021-08-03 16:41] jayesh-srivastava commented on #5913
Interested!!

[2021-08-03 22:13] jimangel commented on #5913
Sounds awesome!

[2021-08-04 09:56] cpanato commented on #5913
Interested!!

[2021-08-04 19:34] spiffxp commented on #3541
/milestone v1.23

[2021-08-05 06:55] MadhavJivrajani opened #5929 "Include examples of good first issues/help wanted issues in contributor guide"
Following https://github.com/kubernetes/test-infra/issues/23129, it might also be helpful to include links to examples of some of the better good-first-issues/help-wanted issues.

Example of `help-wanted` issue:
- https://github.com/kubernetes/test-infra/issues/21356#issuecomment-799972711

Example of `good-first-issue`:
- https://github.com/kubernetes/kubernetes/issues/68231

---

TODO:
For `help

[2021-08-05 07:01] Debanitrkl commented on #5929
/assign

[2021-08-05 07:02] agryash commented on #5929
/assign

[2021-08-05 07:27] sandipanpanda commented on #5906
Hello @parispittman, I am Sandipan Panda and currently I am looking for opportunities to commit to open source projects on GitHub. I am eager to contribute to the amazing open source community of Kubernetes. This will be great chance for me to add value to the wonderful Kubernetes organization.

[2021-08-05 15:30] akuzni2 commented on #5663
/assign

[2021-08-05 15:48] akuzni2 commented on #5663
According to the [owners file](https://github.com/kubernetes/client-go/blob/master/OWNERS) under k/client-go the whole repo belongs to sig-autoscaling. Should I just remove the readme reference to `scale` being a subproject since it looks like the entirety of ` k/client-go` belongs to sig-autoscaling.

So the solution: I would just update the section to say that `k/client-go` is the subproject and

[2021-08-05 17:42] andriyDev opened #5931 "Add info about maintainers to addons page of website"

[2021-08-05 17:43] andriyDev commented on #5931
Umm wrong repo

[2021-08-05 17:43] #5931 closed

[2021-08-05 17:47] andriyDev opened #5932 "minikube Netlify fails to deploy for PRs"
https://app.netlify.com/sites/kubernetes-sigs-minikube/deploys/610c1201f5160400081d4f84

Netlify fails to fetch branches, with no info.

According to https://answers.netlify.com/t/error-fetching-branch-from-github-but-it-used-to-work/10941/6, the solution may be to just clear the cache and redeploy.

[2021-08-05 17:48] andriyDev commented on #5932
/sig cluster-lifecycle

[2021-08-05 23:33] ehashman commented on #5738
The repo is completely empty: https://github.com/kubernetes/noderesourcetopology-api/

Repo was created as part of https://github.com/kubernetes/org/issues/2302

/assign @swatisehgal

do you know what's happening here?

[2021-08-06 14:47] spiffxp commented on #5641
Just so I understand the intended outcome here, is this what everyone is expecting?
- no new repos will have the `kind/design` label
- the following repos will continue to have the `kind/design` label in github (source of truth) but not in labels.yaml (source of intent)
[code]
- some repos will have `kind/design` both in github and in labels.yaml
- all existing issues with `kind/design` will keep

[2021-08-06 15:02] MadhavJivrajani commented on #5641
Cross posting here:

https://github.com/kubernetes/test-infra/pull/23011#pullrequestreview-724409023

[2021-08-07 19:28] #2323 closed

[2021-08-08 14:28] dims commented on #5576
Some additional notes for someone who may work on this one day.

[code]

https://gist.github.com/BenHall/b9a546797797fec6492a1a7d90b31ef3

[2021-08-09 05:49] nikhita commented on #5444
/remove-lifecycle stale

[2021-08-09 06:04] nikhita commented on #4469
I don't think most of the folks on this thread have bandwidth to drive the "blog posts format" effort but would be willing to help shepherd if there's someone else taking the initiative.

We've had a slew of new contributors from India recently. Since this was originally intended for contributors from the APAC region, I am going to reach out to them to check if anyone has the time to drive this.
/

[2021-08-09 06:23] Debanitrkl commented on #4469
/assign

[2021-08-09 06:26] anubha-v-ardhan commented on #4469
/assign

[2021-08-09 08:27] verma-kunal commented on #4469
/assign

[2021-08-09 13:01] Atharva-Shinde commented on #4469
/assign

[2021-08-09 13:24] iamNoah1 opened #5936 "Improve links to create community membership"
On the [community membership doc](https://github.com/kubernetes/community/blob/master/community-membership.md) the link to [open an issue on the kubernetes/org](https://github.com/kubernetes/org/issues/new?template=membership.md&title=REQUEST%3A%20New%20membership%20for%20%3Cyour-GH-handle%3E) opens an issue without template. Also the link to the template leads to 404.

Suggestion:

* Point the `o

[2021-08-09 13:27] mrbobbytables commented on #5936
Thanks for catching that -

The link should be updated to this:
https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.yml&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E

Which is a direct link to the membership form.

/sig contributor-experience
/good-first-issue
/help wanted

[2021-08-09 13:31] iamNoah1 commented on #5936
/assign

[2021-08-09 13:41] iamNoah1 commented on #5936
@mrbobbytables https://github.com/kubernetes/community/pull/5937

[2021-08-09 13:47] #5936 closed

[2021-08-09 21:40] mrbobbytables commented on #5932
Judging from the linked thread, this was done.

FTR - please post these issues in k/org for faster triage. Non k/website related Netlify sites are handled by the GitHub admins.

/close

[2021-08-09 21:40] #5932 closed

[2021-08-10 16:56] deads2k commented on #5886
I don't think that term limits are appropriate for tech leads.  Technical knowledge and merit doesn't have a time limit. If a person is willing to continue performing that role, excluding them simply because they've done it before doesn't seem appropriate or efficient.

I feel slightly less strongly about that for chairs, since the chair role requires less technical depth with the project.  Howeve

[2021-08-10 16:58] deads2k commented on #5886
@derekwaynecarr When you say junior with respect to tech leads, do you mean that as "aspiring to be a tech lead, but lacking enough experience and depth to do it effectively" or do you mean that as, "someone eligible for the position on merit (not aspirational), but less experience that the other tech lead they're working with"?

[2021-08-10 18:07] lavalamp commented on #5886
IMO benevolent dictators are great; the actual problem is a) inability to determine benevolence in advance combined with b) no clear mechanism for ejecting (or even detecting) non- or formerly-benevolent dictators.

[2021-08-10 18:09] derekwaynecarr commented on #5886
@deads2k I was just trying to capture that I think term limits requires more than 1 concurrent individual to be effective.  So senior/junior just meant the persons that were staggered based on when they held a role similar to how steering for example staggers its own elections.  It was not intended to identify competency or merit.

[2021-08-10 18:12] Haimantika commented on #4469
/assign

[2021-08-10 20:38] lavalamp commented on #5886
My position: additional policy is harmful unless proven otherwise. I feel like there hasn't been a good discussion about the *problem* (with concrete specifics) and that makes it hard to see if the proposed solution actually addresses it. I am sure no one wants to say bad things about any specific SIG, but I don't see how we can all come to agreement that there is a problem at all without some kin

[2021-08-10 20:42] lavalamp commented on #5890
Problems I have heard -> my recommended solution

* Lack of documentation -> document better / in better places
* Lack of succession planning -> have deputy chairs / TLs / subproject owners
* Lack of recognition for accomplishments -> OWNERs files, subproject owners, deputy roles
* Lack of formal roles within a SIG to reward/encourage contributors -> OWNERs files, subproject owners, deputy roles

[2021-08-11 00:53] mrbobbytables commented on #5722
/remove-lifecycle stale

[2021-08-11 04:29] nikhita commented on #5181
@mrbobbytables based on https://github.com/kubernetes/contributor-site/pull/194#issuecomment-825667362, can this be closed?

[2021-08-12 14:40] liggitt commented on #5763
this was addressed during 1.22

see https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted

[2021-08-12 14:40] liggitt commented on #5763
/close

[2021-08-12 14:40] liggitt commented on #5763
docs added in https://github.com/kubernetes/website/pull/28903

[2021-08-12 14:40] #5763 closed

[2021-08-12 16:32] nimbinatus opened #5948 "REQUEST: New communication about August 2021's community meeting"
**What do you want send out?** (Please include a link to a draft)
Announcement for this month's community meeting: https://docs.google.com/document/d/1WLFaTdJ8_fFInSX1bgnnjoWbuqBAXKBeUaLEhBLu2zU/edit?usp=sharing

Needs to go out on Monday, 16 August 2021.

- [x] I agree that if this is urgent, I will @contributor-comms in #sig-contribex Slack.

/area contributor-comms

[2021-08-12 16:32] nimbinatus commented on #5948
Tweets and other posts also very welcome...

[2021-08-12 17:05] PushkarJ commented on #2992
@vinayakankugoyal is this the same tool you are doing a demo about in next SIG Security Tooling meeting (08/17)?

[2021-08-12 17:07] vinayakankugoyal commented on #2992
Yeah its https://pkg.go.dev/golang.org/x/exp/vulndb/govulncheck

[2021-08-12 17:27] vinayakankugoyal commented on #2992
cc @zpavlinovic.

[2021-08-12 18:04] vinayakankugoyal commented on #5920
I'd love to help with. `Evaluate go vuln-db tool as an additional scanning tool` and any of the `Container Images` - tasks.
I remember use talking about automation for updating k8s with latest debian-[base, iptables] images. Are we tracking that in this? I'd love to help with that.

[2021-08-13 05:24] CIPHERTron commented on #4469
/assign

[2021-08-13 07:14] MadhavJivrajani commented on #5635
/reopen
/remove-lifecycle rotten

[2021-08-13 07:18] MadhavJivrajani commented on #5635
/lifecycle frozen

[2021-08-14 16:16] justaugustus commented on #2992
@kubernetes/release-engineering -- FYI, in case anyone is able to attend this meeting.

Adding current RelEng Tech Leads as assignees:
/unassign @justaugustus @hasheddan
/assign @cpanato @puerco

[2021-08-16 17:36] #5644 closed

[2021-08-17 00:48] parispittman commented on #2663
/close

[2021-08-17 00:48] #2663 closed

[2021-08-17 00:53] parispittman commented on #5730
closing this since consensus was not reached

/close

[2021-08-17 00:54] #5730 closed

[2021-08-17 08:35] CsatariGergely commented on #5734
Is it okay if I prepare a pr to cover this?

[2021-08-17 19:08] spiffxp commented on #5435
/milestone v1.23
I think a template message that can be copy pasted would be appropriate.  Could add a k8s-triage-robot job to comment it with a /close to issues triaged as support

What is the specific ask here, for this team to write the template? I would prefer kicking that back to the broader SIG Contributor Experience folks

Or do we want to push forward with https://github.com/kubernetes/tes

[2021-08-17 19:11] spiffxp commented on #5559
/remove-lifecycle rotten

I don't think we've reached agreement on this, and would encourage soliciting a broader discussion within SIG Contributor Experience or folks who are specifically interested in fine-tuning the triage process (perhaps for kubernetes/kubernetes specifically)

Same thing here

https://github.com/kubernetes/test-infra/pull/21211 should prevent this, and I'm going to go ahead

[2021-08-17 19:11] spiffxp commented on #5559
/milestone v1.23

[2021-08-17 19:26] spiffxp commented on #5559
Rather than remove it myself, I'm going to have @k8s-triage-robot do it for us via: https://github.com/kubernetes/test-infra/pull/23278

This will catch anyone who attempts to manually add the label, since it hasn't been possible to add via `/lifecycle frozen` since March 2021

[2021-08-17 19:28] spiffxp commented on #5636
/milestone v1.23
I've noticed more people going through the docs but haven't seen much feedback about whether there are points of confusion.

[2021-08-17 19:30] spiffxp commented on #5636
/priority awaiting-more-evidence
I've moved this to Blocked because I feel like we need to decide whether they're good enough, or we're just holding this open in perpetuity.

I feel like we need to consider how to more widely / easily federate people migrating their repos, and if we think the docs are good enough for that, then we're good to go.  This could look like opening up a placeholder issue

[2021-08-17 19:31] spiffxp commented on #5435
/priority backlog
Because it's not clear to me what the actionable request is

[2021-08-17 19:35] spiffxp commented on #5559
/priority awaiting-more-evidence
Need more data to understand the scope of the problem, and more consensus from the community on what to do about it

[2021-08-17 19:36] spiffxp commented on #5635
/priority awaiting-more-evidence
https://github.com/kubernetes/community/issues/5635#issuecomment-795816729 explains why

[2021-08-17 19:43] spiffxp commented on #5380
/priority important-longterm
/milestone v1.23
/help
@celanthe @Nivedita-coder any progress on this? please /remove-help and /assign yourselves if you're still working on this

[2021-08-18 06:14] ShivamTyagi12345 commented on #4469
/assign

[2021-08-18 07:27] BenTheElder opened #5953 "Feedback: Test PRs are totally freezable"
Then why do we need to bother whatever remaining PRs?

This is presmuptuous. The burdern to rebase is on the author anyhow.

In my case I have multiple PRs used for testing CI that will not need rebasing long after the sun burns out, and certainly not after 150 days ... They have no code diff.

This PR and others like it will never merge.

That's not helpful.

----

Example:
https://github.com/kub

[2021-08-18 07:28] BenTheElder commented on #5953
More robot fun:
/sig contributor-experience

[2021-08-18 09:35] Shubham82 opened #5954 "Broken Links in design-proposals of Vertical Pod Autoscaler"
**This is a Bug Report**

**Problem:**
The following links under the design proposal of [vertical-pod-autoscaler](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/vertical-pod-autoscaler.md#combining-vertical-and-horizontal-scaling) are not working:
**1)** https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/vert

[2021-08-18 09:38] Shubham82 commented on #5954
/sig autoscaling

[2021-08-18 09:39] Shubham82 commented on #5954
I can work on this.
/assign

[2021-08-18 11:42] palnabarun commented on #4469
First of all, thank you all (@Priyankasaggu11929 @Debanitrkl @anubha-v-ardhan @verma-kunal @Haimantika @CIPHERTron @ShivamTyagi12345 and anyone else who is interested in this effort) for taking up this initiative. 💯

I can happily now unassign myself. 😌
/unassign

---
Responding to @Priyankasaggu11929's question from the [Slack thread](https://kubernetes.slack.com/archives/C1TU9EB9S/p1629185267141

[2021-08-18 12:37] Shubham82 commented on #5954
Fixed it here: #5955

[2021-08-18 16:40] kaiwalyakoparkar commented on #4469
/assign

[2021-08-18 18:52] Shubham82 commented on #5954
closing this issue with reference to #5955

[2021-08-18 18:52] #5954 closed

[2021-08-19 07:14] vedant-kakde commented on #4469
/assign

[2021-08-19 17:18] justaugustus commented on #5344
/assign @jlbutler
/milestone v1.23

[2021-08-19 18:20] verma-kunal commented on #4469
Thank you so much @palnabarun for all the points [here](https://github.com/kubernetes/community/issues/4469#issuecomment-901044060)
Helped a lot in understanding about the initiative!! Love to be a part of this ❤️

[2021-08-20 00:34] PushkarJ opened #5960 "Identify a list of container images under Kubernetes Org"
### **Background**
There are lot of places where images related to Kubernetes can be found:
1. Container image manifests and yamls: https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io
2. Base Image exception list: https://github.com/kubernetes/sig-release/blob/master/release-engineering/baseimage-exception-list.md
3. SBOM: (Software Bill of Materials) @puerco: any pointers on how to parse th

[2021-08-20 01:12] puerco commented on #5960
The kubernetes sbom lists all images we push out to the registries as part of a release. You can get all images from the release SBOM like this:
[code]

[2021-08-20 03:49] nehaLohia27 commented on #5960
@PushkarJ I am interested in contributing to this issue.

[2021-08-20 04:27] PushkarJ commented on #5960
/assign @nehaLohia27

[2021-08-20 09:52] nehaLohia27 commented on #5960
@PushkarJ @puerco

Below is the list of container images from curl command. Does this list have all of the container images or not ?

curl -L https://sbom.k8s.io/v1.22.1/release  | grep 'PackageName: k8s.gcr.io/' | awk '{print $2}'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   154

[2021-08-20 15:35] chris-short opened #5961 "Internationalization of interview questions for non-English speakers"
Not everyone in our community speaks English fluently. As we build out questions for interviewers we should work to get translations of the questionnaires.

[2021-08-20 15:37] chris-short commented on #5961
/sig contributor-experience
/area contributor-comms

[2021-08-20 16:20] puerco commented on #5960
All that are part of a Kubernetes release, yes. Keep in mind that there are other images (say `k8s.gcr.io/pause` or `k8s.gcr.io/etcd` ) which we are published outside of a regular release and are not described by the sbom.

[2021-08-20 21:30] #5760 closed

[2021-08-20 21:57] parispittman commented on #5906
documenting that Rin Oliver, Rynn Mancuso, Karen Chu are interested

@Shavee2209 and @sandipanpanda - if you are not on k8s slack, could you join and then DM me from there? slack.k8s.io

[2021-08-20 22:09] parispittman opened #5962 "group mentoring for sig-docs chairs and other leadership"
This is the kick-off issue and will be closed after we are set up for the group and ready for the first meeting.

Targeting: 2 more chairs in addition to Divya, newly created roles (tbd), and subproject owners
Mentor: @jimangel and me (main) (if you are reading this and want to help as a mentor, we can increase the amount of folks we let in - talk to me!)
Slack channel: created - docs-chair-mentor

[2021-08-20 22:53] PushkarJ commented on #5960
This is great progress @nehaLohia27 . Can you pick one or two of these images and run a snyk scan on them? Here's a useful [guide](https://support.snyk.io/hc/en-us/articles/360003946917-Test-images-with-the-Snyk-Container-CLI) to get started.
The idea is to just ensure if the images from here, can be pulled and scanned with snyk as we already have snyk licenses (Ref: https://github.com/kubernetes/

[2021-08-21 02:35] tokt commented on #5906
I'd like to join too, if there's still a slot available. Thank you! <3

[2021-08-21 03:43] Debanitrkl commented on #5906
@parispittman I would like to join as a mentee🙂

[2021-08-21 06:12] Atharva-Shinde commented on #5906
@parispittman would like to join as a mentee too :)

[2021-08-21 06:19] #5652 closed

[2021-08-21 06:28] vedant-kakde commented on #5906
@parispittman I would like to join as a mentee

[2021-08-21 10:44] nehaLohia27 commented on #5960
@PushkarJ I have installed snyk on my local machine and ran the scan on few of the container images from sbom url response.
eg: command to scan the images:  snyk container test k8s.gcr.io/kube-scheduler-s390x:v1.22.1
In scan results, no issues and no vulnerable paths were found. let me know the next steps.

Curious to know, do we need to identify all the images from this https://github.com/kuberne

[2021-08-21 14:17] Lakshya8066 commented on #5906
Hey @parispittman thank you for the opportunity. I would like to join as a mentee too :)

[2021-08-21 14:25] #4149 closed

[2021-08-21 15:25] #4954 closed

[2021-08-21 15:25] #4957 closed

[2021-08-21 15:25] #5232 closed

[2021-08-21 22:38] CIPHERTron commented on #5906
That's a really great opportunity. I would love to join as a mentee @parispittman 🚀

[2021-08-22 03:16] AvineshTripathi commented on #5906
Hey @parispittman I would like to join as a mentee

[2021-08-22 16:32] ParamPathak commented on #5906
hey @parispittman I would like to join as a mentee!

[2021-08-23 14:14] parispittman commented on #5906
If you didn't get an invite to the channel on slack, please DM me there.

[2021-08-23 17:04] ryan-dayrit commented on #5906
I'd like to join the effort as well. Please sign me up.

[2021-08-23 17:40] gnagel commented on #5906
I'd love to join in as well, please sign me up @parispittman :shipit:

[2021-08-23 17:41] ey-bluecore commented on #5906
I'd like to join too if theres still availability.

[2021-08-24 18:35] nikopen commented on #5344
how about a dedicated & curated page under https://kubernetes.io/releases/ ?

several levels of importance that I see: _Super-wide-reaching changes_ (e.g. dockershim), _other Critical Cluster-Breaking Stuff_ , etc

_Super-wide-reaching changes_ (e.g. dockershim)
can definitely utilize pro-active blog writing that summarizes the Why and How It Impacts My Clusters parts on the very top
great example

[2021-08-24 19:10] reylejano commented on #5344
Similar but not the same, there is an API deprecation guide on https://kubernetes.io/docs/reference/using-api/deprecation-guide/
This is one of the only pages that breaks the [Kubernetes style guide - avoid statements of the future](https://kubernetes.io/docs/contribute/style/style-guide/#avoid-statements-about-the-future)

In 1.22, the Release Team and SIG Docs members published an [API and Featu

[2021-08-24 19:26] sftim commented on #5344
I'm :+1: on the idea of moving (more like cloning) key release-related information into a page within https://kubernetes.io/releases/ - especially if we can focus on the really important stuff.
That page could link to relevant blog articles, so not just:

and more like:

[2021-08-24 20:23] PushkarJ commented on #5960
This is fantastic progress @nehaLohia27 you already, knocked out first three items in the umbrella issue for container images 🎉

Next steps could be two fold in IMO, but please share your thoughts as well as I maybe missing something 😄

1. Write a shell script that does something similar to what we did with snyk and build time deps scanning but for container image scanning: https://github.com/kube

[2021-08-24 21:41] yuanchen8911 opened #5970 "Broken links in sig-scalability documents"
Three linked pages don't exist in sig-scalability documents.

1. In [provider-configs.md](https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/provider-configs.md)

    Broken link: [Hardware guidelines for administering etcd clusters](https://github.com/etcd-io/website/blob/master/content/docs/v3.4/op-guide/hardware.md)

1. In [formal-scalability-processes.md](ht

[2021-08-24 21:41] yuanchen8911 commented on #5970
/sig Scalability

[2021-08-25 04:25] nikhita commented on #2565
/remove-lifecycle stale

On Wed, 25 Aug 2021 at 09:32, Kubernetes Triage Robot <
***@***.***> wrote:

[2021-08-25 05:06] niteshseram commented on #5970
Hello, I would like to take this up
/assign

[2021-08-25 06:08] #5970 closed

[2021-08-25 06:35] MadhavJivrajani commented on #5962
/cc @RinkiyaKeDad
for visibility

[2021-08-25 07:29] anubha-v-ardhan commented on #5962
Hey @parispittman
I would like to apply as a mentee : )

[2021-08-25 10:32] sftim opened #5972 "Use issue forms for code repositories"
For code repositories, we could use [issue forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms) rather than issue templates. This might be handy for issue types where people often omit important details.

[2021-08-25 10:33] sftim commented on #5972
/sig contributor-experience

[2021-08-27 13:00] MadhavJivrajani opened #5974 "Developer Documentation - Creating an ontology of concepts related to K8s API"
The official Kubernetes documentation provides a bird's eye view of the concepts related to the Kubernetes API (such as what is `kind`, `resource` etc). However, this might not be detailed enough for folks, post which other sources are referred to as mentioned in https://github.com/kubernetes/website/issues/24882.

Although, most sources have a consistent meaning and intent, it can get confusing f

[2021-08-27 16:24] Debanitrkl opened #5975 "Broken links on SIG-Contribex Charter"
While going through the [charter](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md), I found the links on line `34-38` aren't working properly.

The lines in the source of the doc:
[code]
![Screenshot 2021-08-27 at 21-52-52 community charter md at master · kubernetes community](https://user-images.githubusercontent.com/50622005/131158678-d576a74b-599e-4200-

[2021-08-27 18:35] Atharva-Shinde opened #5976 "Fix: Outdated mail-list of SIG Leads"
Change the outdated mail-list  of SIG Leads-
**Replace** :`sig-leads@googlegroups.com`  **to** `leads@kubernetes.io` inside the [charter.md](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md) file.

_**cc**_: @parispittman

/sig contributor-experience
/good-first-issue

[2021-08-28 00:52] #5976 closed

[2021-08-28 08:52] karuppiah7890 commented on #5975
It would be interesting to catch these issues way before PRs get merged, assuming PR is the only mode of adding code

Here's an issue detailing the simple idea - https://github.com/kubernetes/contributor-site/issues/236

The idea is catch issues sooner than later, aka precaution instead of cure - this issue's PR would be a cure, aka fail fast / catch bugs/issues fast

[2021-08-28 19:21] Debanitrkl commented on #5975
@karuppiah7890 thanks it's indeed a good suggestion but I'm afraid if anything automated solution is possible for this. Please if you could provide some examples or any way you have thought of approaching this problem, then it would be helpful.

[2021-08-29 03:56] karuppiah7890 commented on #5975
I think it's very much possible. I have seen some examples years ago, where links are parsed and they are checked to see if they are valid links. It's a standard linting idea for links (URLs) in docs (markdown, webpages)

[2021-08-29 04:07] karuppiah7890 commented on #5975
The algorithm from a high level is simple - you process every content that you want to lint and look for links and check if they are valid

For example, if you are looking at markdown files, get all markdown files, process them one by one, look for links in the file and we are only talking about web links here so just HTTP and HTTPS ones, so a simple search would be to use http:// and https:// as

[2021-08-29 09:47] Debanitrkl commented on #5975
@karuppiah7890 thanks for the explanation I think you should start a thread regarding this in the sig-contribex channel in slack. As k8s is a huge repository and also given the new security policies of GitHub in place I'm not sure if crawling would work. Also I'm not very well versed with this.

[2021-08-29 09:56] MadhavJivrajani commented on #5975
FYI:
- https://github.com/kubernetes/community/issues/359
- https://github.com/kubernetes/test-infra/issues/23255

(this might not be exactly what is being discussed here, but is definitely the right place to begin)

[2021-08-29 10:55] karuppiah7890 commented on #5975
@Debanitrkl I was only suggesting the lint check for this repo as part of this issue. Surely doing it on other repos in k8s orgs (k8s, k8s sigs etc) will be a big task, including the k8s/k8s repo, and I'm not sure about the status of those projects and what lints they do and if lint check is being. So I'll not comment on that until I know the details. This repo - I assumed it didn't have seeing th

[2021-08-29 11:26] Debanitrkl commented on #5975
@karuppiah7890 I really liked your suggestion just I wasn't aware of how that's possible in k8s so I suggested you for the slack discussion, but with the reference Madhav gave and the explanation from your side I can now think it as more viable. And no worries about the constraints you are having regarding initiating and moving it forward I will try to look into it myself and try to loop in few ot

[2021-08-30 15:33] dims commented on #5576
some chat with @yashikabadaya

[code]

[2021-08-30 16:31] MadhavJivrajani commented on #5576
/assign

[2021-08-30 16:58] MadhavJivrajani commented on #5576
/remove-lifecycle stale

[2021-08-30 17:37] Debanitrkl commented on #5576
/assign

[2021-08-30 17:52] anubha-v-ardhan commented on #5576
/assign

[2021-08-30 18:34] parispittman opened #5981 "mailing lists and calendar invites"
@thockin raised this in sig-contribex

Problem:
subscribed to multiple mailing lists and those mailing lists send multiple calendar invites per group (ie big sigs with lots of subproject meetings). the amount of meetings on calendars is a burden for folks.

Knowns:
calendars are terrible (hard to manage, timezones, ical, etc)
we have too many meetings (45+ a week)
permissions to change calendar in

[2021-08-30 18:35] parispittman commented on #5981
/sig contributor-experience

[2021-08-30 18:54] thockin commented on #5981
Or one meetings-calendar per SIG?

On Mon, Aug 30, 2021 at 11:35 AM Paris ***@***.***> wrote:

[2021-08-30 20:11] justaugustus commented on #5981
+1 to per-SIG meeting calendar + list.
Most of us should already have associated calendars as part of SIG creation steps.

Voting for this one because I'm primarily interested in joining a list to get a fresh calendar invite because it blocks my availability. Depending on the email system, calendar configuration, or organizational restrictions, there's no guarantee that a separate calendar subscri

[2021-08-30 20:30] jaehnri opened #5982 "[SIG-CLI]: Meeting notes and agenda requires auth"
The three **Meeting notes and Agenda** links referenced below require authentication:

https://github.com/kubernetes/community/blob/1acc88be28506b3b6a2c8a306f45c4c434631159/sig-cli/README.md#L17

https://github.com/kubernetes/community/blob/1acc88be28506b3b6a2c8a306f45c4c434631159/sig-cli/README.md#L20

https://github.com/kubernetes/community/blob/1acc88be28506b3b6a2c8a306f45c4c434631159/sig-cli/R

[2021-08-30 20:31] jaehnri commented on #5982
/sig sig/cli

[2021-08-30 20:32] jaehnri commented on #5982
/sig cli

[2021-08-30 21:33] pranavmarla opened #5984 "Typo in multi-line log example"
In the _Log Format_ subsection of the [CRI log format doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md#proposed-solution), there is an example of how a multi-line log looks. I believe there is a typo in that example -- specifically, the timestamps appear to be off.

Here is the example, representing two logs, where (single-line) log

[2021-08-30 21:38] pranavmarla commented on #5984
/sig docs

[2021-08-31 17:05] nehaLohia27 commented on #5960
@PushkarJ created the draft PR for  shell script code. https://github.com/kubernetes/test-infra/pull/23419

[2021-09-01 00:48] SARANYA233 commented on #5984
I am new to this open-source contribution, so I want to work on this issue. Can I work on this issue?

[2021-09-01 07:33] LappleApple commented on #5913
I suggested Patrick earlier ^^. This looks good: https://techlead.academy/p/systems-thinking-fundamentals

[2021-09-02 05:58] lakshya8066 commented on #5984
Hey @SARANYA233 you can self assign yourself by commenting "/assign" to this thread :)

[2021-09-02 09:09] SARANYA233 commented on #5984
/assign

[2021-09-02 14:04] imoisharma commented on #5984
/assign @imoisharma

[2021-09-02 19:57] spiffxp commented on #3541
/priority backlog

[2021-09-03 06:58] SARANYA233 commented on #5984
@pranavmarla

2016-10-06T00:17:09.669794202Z stdout P:TAG1:TAG2 log content 1
2016-10-06T00:17:09.669794203Z stdout P:TAG1:TAG2 log content 2

Is this what you were saying about?
Actually, I m new to this concept so somehow I tried to collect the concept
If it is wrong plz explain to me in detail what the content is about.

[2021-09-03 09:45] dbavery opened #5988 "Missing Kubernetes (top level) Icon (or is it not under the same re-use?)"
It is great that all of the k8s icons are available for use under various licenses: https://github.com/kubernetes/community/tree/master/icons

We should cross reference to https://github.com/cncf/artwork/blob/master/examples/graduated.md#kubernetes-logos which has the k8s icon artwork.

----
I know I am done when:
* The documentation is updated (https://github.com/kubernetes/community/tree/master/

[2021-09-03 11:39] dbavery commented on #5988
Sounds like the icon referenced is from here: https://github.com/cncf/artwork/blob/master/examples/graduated.md#kubernetes-logos

A cross reference would be nice

[2021-09-03 11:47] dbavery commented on #5988
Upon further review the doc does mention it is a trade mark and subject to trademark restrictions.

[2021-09-03 11:47] dbavery commented on #5988
Closing out.

[2021-09-03 11:47] #5988 closed

[2021-09-03 12:39] pranavmarla commented on #5984
@SARANYA233

2016-10-06T00:17:09.669794202Z stdout P:TAG1:TAG2 log content 1
2016-10-06T00:17:09.669794203Z stdout P:TAG1:TAG2 log content 2
Is this what you were saying about?

Sorry, not sure I understand.  Did you copy that from somewhere? When you say "Is _this_ what you were saying about?", what are you referring to?

If it is wrong plz explain to me in detail what the content is about.

I ex

[2021-09-03 14:17] SARANYA233 commented on #5984
@pranavmarla Actually, I understood that you were telling there is an issue in *log entry 2* rite. so when I was studying on this issue I found this,

2016-10-06T00:17:09.669794202Z stdout P:TAG1:TAG2 log content 1
2016-10-06T00:17:09.66979420**3**Z stdout P:TAG1:TAG2 log content 2

In log content 2, 2 -> 3, I have bolded it.
whether it is right or should I do any execution work.

[2021-09-03 14:45] #5975 closed

[2021-09-03 15:25] #5574 closed

[2021-09-03 15:47] pranavmarla commented on #5984
@SARANYA233 Hmm, I THINK that's right?

Let me try to explain again: Basically, if you go [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md#proposed-solution), you will see this section:

2016-10-06T00:17:09.669794202Z stdout P First line of log entry 2
2016-10-06T00:17:09.669794202Z stdout P Second line of the log entry 2
2016-10-

[2021-09-03 17:07] rajatgupta24 commented on #4469
/assign

[2021-09-03 19:05] jaehnri commented on #5982
/sig contributor-experience
/sig docs

[2021-09-04 13:20] SARANYA233 commented on #5984
@pranavmarla yeah I understood the final log might be like this rite

2016-10-06T00:17:09.669794202Z stdout F The content of the log entry 1
2016-10-06T00:17:09.113242941Z stdout P First line of log entry 2
2016-10-06T00:17:09.113242941Z stdout P Second line of the log entry 2
2016-10-06T00:17:10.113242941Z stderr F Last line of the log entry 2

How we will know whether what we did is right or wro

[2021-09-05 01:16] #5385 closed

[2021-09-05 14:02] lakshya8066 commented on #4469
/assign

[2021-09-05 14:20] lakshya8066 commented on #4469
Hey everyone!
I can help with writing the blog posts. Should I add my name in the [doc](https://docs.google.com/document/d/1zB-FOvfbnKbiWlGgInnDB06hDfLsTQuuKsXQCqc-lL0/edit#) and contact a coordinator who has received a response from their contributor?

[2021-09-05 14:27] kaiwalyakoparkar commented on #4469
@lakshya8066 yeah, you can go ahead with adding your name. For the responses part - coordinator does not have the responses you will have to reach out to @Deba or @psaggu for the responses :)

[2021-09-06 00:29] budhirajamadhav opened #5991 "Typo in SIG Cloud Provider's CHARTER.md"
There is a typo in [SIG Cloud Provider CHARTER.md](https://github.com/kubernetes/community/blame/master/sig-cloud-provider/CHARTER.md) at [Line 17](https://github.com/kubernetes/community/blame/master/sig-cloud-provider/CHARTER.md#L17).
It says:

I think it should be like

[2021-09-06 00:29] budhirajamadhav commented on #5991
/assign

[2021-09-06 00:30] budhirajamadhav commented on #5991
/sig cloud-provider

[2021-09-06 04:48] MadhavJivrajani commented on #5991
Hi @budhirajamadhav, thanks for sending creating this issue and sending a PR in!

The line in question is not a typo. "Testing and testing frameworks" implies that the SIG's areas of focus include both testing relevant code and maintaining test frameworks (if any) for the purposes of "ensuring vendor neutrality across all cloud providers".

Closing
/close

[2021-09-06 04:48] #5991 closed

[2021-09-07 07:48] coderanger commented on #5478
We still get requests about this from time to time so formal guidelines, even if they are very simple, would be good.

[2021-09-07 09:36] astraw99 opened #5994 "404 links in `sig-api-machinery/README.md`"
In doc https://github.com/kubernetes/community/blob/master/sig-api-machinery/README.md
In the `Contact` part, the links are invalid and got 404, pls check and fix.

[code]

[2021-09-07 10:23] MadhavJivrajani commented on #5994
@astraw99 I don't seem to he getting a 404 on those links. Could you please recheck?

[2021-09-07 12:23] astraw99 commented on #5994
In the `Contact/GitHub Teams` part, all the 7 links are invalid.
For example: the 1st link dst is: https://github.com/orgs/kubernetes/teams/sig-api-machinery-api-reviews, got 404.
PTAL thanks.

[2021-09-07 12:35] MadhavJivrajani commented on #5994
Ah I see what the issue is. Teams can only be accessed by members of the organization. Maybe they shouldn't be hyperlinks then if only org members can access it?
cc @mrbobbytables

[2021-09-07 12:52] mrbobbytables commented on #5994
Hyperlinks would do the same =/ If you're not a member of the org you won't be able to see the teams.

[2021-09-07 12:54] MadhavJivrajani commented on #5994
@mrbobbytables  Ah, I meant maybe formatting them as `@team-name` (formatted as markdown) rather than `[@team-name](link-to-team)` (this is how it currently is)

[2021-09-07 13:00] mrbobbytables commented on #5994
I'd lean towards leaving as is for our org members to be able to see who's a part of the team, but to be honest I wish we could link to entries in k/org instead (our source of truth).  There's really not a good way of doing that though >_<

[2021-09-07 13:01] astraw99 commented on #5994
@MadhavJivrajani @mrbobbytables As these docs are not secret, could you help to move the docs to the community project or give us(contributors) the team access? As contributors we want to see the docs, thanks.

[2021-09-07 13:04] mrbobbytables commented on #5994
They aren't secret, they're listed here (for api-machinery): https://github.com/kubernetes/org/blob/main/config/kubernetes/sig-api-machinery/teams.yaml

The reason the GH team lists are private is to prevent spamming of them and people requesting to join the teams through GitHub UI instead of via our management mechanism by updating entries in k/org

[2021-09-07 13:11] astraw99 commented on #5994
Got it.
Can I make a PR to add this new link(https://github.com/kubernetes/org/blob/main/config/kubernetes/sig-api-machinery/teams.yaml), and add some tips around the `GitHub Teams` part?

[2021-09-07 13:22] mrbobbytables commented on #5994
It'd probably be worth calling out in our contributor cheatsheet's community section
https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet#community and/or updating our readme templates  (e.g. https://github.com/kubernetes/community/blob/master/generator/sig_readme.tmpl) to link to k/org as the source of truth.

 We can't link directly to the teams.yaml file

[2021-09-08 09:35] MadhavJivrajani commented on #5994
/remove-kind api-change
/remove-kind bug
/remove-kind design
/remove-kind feature
/kind documentation

[2021-09-08 14:05] CIPHERTron commented on #5972
Heyy @sftim you need any help with this issue? I'm willing to help.

[2021-09-08 20:28] sandipanpanda opened #5999 "Meeting notes and agenda link of community management links to an archived file"
In README of SIG contributor experience under Subprojects: [community management](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/README.md#community-management)
Meeting notes and Agenda link of community-management links to an archived file:

https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/edit

The line in file needed to be updated:

[2021-09-08 20:29] sandipanpanda commented on #5999
/assign

[2021-09-09 15:09] parispittman commented on #5722
now that #5736 has merged, what's left on this issue @dims ?

[2021-09-09 16:05] pranavmarla commented on #5984
Hey @SARANYA233

2016-10-06T00:17:09.113242941Z stdout P First line of log entry 2
2016-10-06T00:17:09.113242941Z stdout P Second line of the log entry 2
2016-10-06T00:17:10.113242941Z stderr F Last line of the log entry 2

No, the last line of log 2 still has a different timestamp from the two lines above it -- I'm saying that I think it should look something like this:

2016-10-06T00:17:09.66979

[2021-09-09 16:36] dims commented on #5722
@parispittman thanks. yes, we can close this out.

[2021-09-09 16:36] #5722 closed

[2021-09-10 04:54] #5181 closed

[2021-09-10 12:15] Darshnadas commented on #4469
I would like to help in this series as well :) do I assign myself?

[2021-09-10 12:18] anubha-v-ardhan commented on #4469
/assign @Darshnadas

[2021-09-10 12:20] anubha-v-ardhan commented on #4469
Oops, GitHub only allows 10 assignees at a time. No worries, it doesn't matter if you're assigned or not, you are most welcomed.

[2021-09-10 12:23] Darshnadas commented on #4469
Awesome then!

[2021-09-10 15:12] mbbroberg commented on #5948
Welp, looks like we missed the target timeline on this one from the issue POV. @nimbinatus, anything we can do to help in the next week to amplify? If not, we can close this and review our issue response to not miss this in the future. Thanks!

[2021-09-10 15:19] mbbroberg opened #6003 "Copy editing of upcoming Katacoda course"
**What do you want send out?** (Please include a link to a draft)

https://hackmd.io/LdhuuYCbQCC-0fhDON9RMg?both

- [x] I agree that if this is urgent, I will @contributor-comms in #sig-contribex Slack.

[2021-09-10 15:19] mbbroberg commented on #6003
/assign

[2021-09-10 15:19] mbbroberg commented on #6003
Relates to https://github.com/kubernetes/community/issues/5576

[2021-09-10 21:15] nimbinatus commented on #5948
No worries! @mbbroberg Not yet; we're still getting the lineup together for September, so I don't have the email ready. I'll make a new issue for it when we do. Thank you!

[2021-09-10 21:15] nimbinatus commented on #5948
/close

[2021-09-10 21:15] #5948 closed

[2021-09-11 05:04] GauravKakoti commented on #6003
/assign

[2021-09-11 05:09] GauravKakoti commented on #5999
/assign

[2021-09-13 10:07] lakshya8066 commented on #5982
Hey @jaehnri thanks for pointing out the issue!
The links seem to work fine for me. Can you check if you are subscribed to the sig-contribex [mailing list](https://groups.google.com/forum/#!forum/kubernetes-sig-contribex)?

[2021-09-13 10:26] mrbobbytables commented on #5982
Docs are generally shared with the SIGs mailing list (SIG CLI) for edit, kdev for comment and public for view. It is however something only the sig cli leads can adjust.

/remove-sig contributor-experience
/remove-sig docs

[2021-09-13 11:12] lakshya8066 opened #6007 "Broken links in Sig-contributor-experience/README.md"
Links under the Contact section of the [README.md](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/README.md#community-management) give a 404 error.

![image](https://user-images.githubusercontent.com/73181332/133073323-0c642e5b-4b81-4260-8180-5477a6b1e315.png)

cc @parispittman
/sig contributor-experience

[2021-09-13 11:31] mrbobbytables commented on #6007
To see the team membership, you must be an org member - please see this thread for details: https://github.com/kubernetes/community/issues/5994

/close

[2021-09-13 11:31] #6007 closed

[2021-09-14 15:45] mrbobbytables commented on #5874
As we are downsizing the event, I am going to go ahead and close this out. We will be ramping things up again for organizing our end of year virtual contributor celebration, please keep an eye out for a request for volunteer for that event.

Thanks everyone!

/close

[2021-09-14 15:45] #5874 closed

[2021-09-14 16:29] PushkarJ commented on #5923
/transfer sig-security

[2021-09-14 16:30] PushkarJ commented on #5920
/transfer sig-security

[2021-09-14 16:31] PushkarJ commented on #5960
/transfer sig-security

[2021-09-14 16:35] mrbobbytables opened #6011 "KubeCon NA 2021: SIG Meet & Greet"
The [SIG Meet and Greet](https://sched.co/luKT) will be a part of KubeCon proper this time around. It is scheduled for Wednesday, October 13 from 1:30pm - 2:30pm, right at the beginning of KubeCon in an effort to try and boost interest for attendees to visit the SIG specific sessions during the rest of KubeCon.

If your SIG is interested in having a table, please comment on this thread and I will

[2021-09-14 19:08] eddiezane commented on #6011
SIG CLI - @KnVerey @seans3
SIG Cluster Lifecycle - @stealthybox

[2021-09-14 19:33] parispittman commented on #5877
Work done:
We have a list of emails from k-dev@ to migrate to the new group

Work needed:
timeline
comms

[2021-09-14 19:46] lakshya8066 commented on #5999
/assign

[2021-09-14 19:52] ehashman commented on #4125
Is this a dupe of https://github.com/kubernetes/community/issues/1913 ? Can we close one?

[2021-09-14 19:54] ehashman commented on #5092
/remove-lifecycle stale
/lifecycle frozen

[2021-09-14 19:54] ehashman commented on #5596
Can this be closed now that the PRs above have merged?

[2021-09-14 19:56] lukehinds commented on #5596
/close

[2021-09-14 21:34] eddiezane commented on #6011
SIG Security - @tabbysable

[2021-09-14 22:12] ehashman commented on #5596
/close

[2021-09-14 22:12] #5596 closed

[2021-09-15 12:02] sandipanpanda commented on #5999
@GauravKakoti @lakshya8066 you can clearly see that this issue is already assigned to someone and a linked PR meaning someone is already working on this issue. Don't make multiple duplicate PRs for the same issue. Before assigning yourself an issue, check that it has not been assigned to anyone else.

You can find a good number of unassigned issues up for grabs here: https://go.k8s.io/help-wanted,

[2021-09-15 12:52] lakshya8066 commented on #5999
No problem @sandipanpanda I did not mean to interfere. I was adding updates and did not realise you were still working on it.

[2021-09-15 12:58] mrbobbytables commented on #5984
I commented on the PR, but as an FYI the documentation in the design-proposal directory is considered to be in an [archived state  and no longer accepting updates](https://github.com/kubernetes/community/tree/master/contributors/design-proposals#kubernetes-design-documents-and-proposals) (PRs are blocked from being merged via the `do-not-merge/blocked-paths` label). Any future changes should be ma

[2021-09-15 13:06] #5843 closed

[2021-09-15 13:59] eddiezane commented on #6011
SIG Scalability - @marseel

[2021-09-15 14:08] parispittman commented on #4125
/remove-community management

[2021-09-15 19:01] ehashman opened #6016 "Contributor guide: document internal Kubelet API"
The kubelet has an undocumented, unversioned API that is not intended for client use.

Its existence often catches new contributors by surprise. It would be good to add some developer documentation on the API in the community repo under the SIG Node folder: https://github.com/kubernetes/community/tree/master/contributors/devel/sig-node

See https://github.com/kubernetes/kubernetes/blob/release-1.2

[2021-09-15 19:23] sftim commented on #5972
I haven't figured out the right way to use these things (and also I haven't asked for help from GitHub, forums etc).

@CIPHERTron if you're happy to try this out, perhaps in your own fork of a repo, and get it working, that'd be really handy!

[2021-09-15 19:23] sftim commented on #5972
I'm going to pause my work on this because it doesn't seem to be the low-hanging fruit I originally thought it might be.

[2021-09-15 21:25] pranavmarla commented on #5984
Thanks for adding that here as well @mrbobbytables !

Incidentally, my assumption behind this issue (and @SARANYA233 's later pull request) was that, when a multi-line log is split into multiple log entries by a CRI-implementing container runtime (eg. containerd), each log entry (i.e. each line) is assigned the same timestamp.

However, I recently had the chance to examine some log entries produce

[2021-09-15 21:25] #5984 closed

[2021-09-16 05:08] MadhavJivrajani commented on #6003
/cc @dims

[2021-09-16 14:44] catblade commented on #6016
Interested.

[2021-09-16 21:14] johnbelamaric commented on #6011
Alas, change of plans. I will NOT be attending in person this time, so I will not be able to represent SIG Architecture for Meet & Greet.

[2021-09-17 15:15] #5816 closed

[2021-09-17 16:32] YiDing-Duke opened #6018 "Service Account Token Volume Projection - Support dynamical serviceAccountToken configuration"
Hi Community,

I am interested in https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection which allows users to project customized service account token into a Pod's volume.

If I have one projected volume with one ServiceAccountToken in a live pod as below Spec:
[code]
Am I able to add one more serviceAccountToken without restart

[2021-09-17 16:36] YiDing-Duke commented on #6018
/sig auth

[2021-09-17 16:36] YiDing-Duke commented on #6018
/sig storage

[2021-09-17 18:17] parispittman commented on #5685
FYI two folks from the current contribex mentoring group that is going to sign up and comment here that they are ready, available, understand the duties.

[2021-09-17 18:31] coderanger commented on #6018
Hi there and welcome. This repo is used for tracking project organizational stuff, not for feature requests. I would recommend you chat with SIG-Storage directly :)

[2021-09-17 19:05] coderanger commented on #6018
/close

[2021-09-17 19:06] #6018 closed

[2021-09-17 20:50] mrbobbytables opened #6020 "test issue please ignore"
pre-details

<details>

Will the item inside details be included in the email notification. That is the question

</details>

post-details

[2021-09-17 20:50] mrbobbytables commented on #6020
/sig contribtuor-experience

[2021-09-17 20:55] castrojo commented on #6020
pre-details

<details>

Beagles are fantastic animals.

</details>

post-details

[2021-09-17 20:55] mrbobbytables commented on #6020
/close

[2021-09-17 20:56] #6020 closed

[2021-09-18 01:40] Debanitrkl commented on #5685
Hi, I'm Debabrata, from contribex-mentoring group. I have gone through the moderation docs and also @parispittman gave a demo on how moderation works. I would like to help with this.
Thank you

[2021-09-18 10:45] PratikBorhade302 opened #6024 "Missing link for Hindi language Cheatsheet on Readme.md"
**Short Description**
On Readme.md, Hindi language Cheatsheet is not mentioned.

**Steps to Reproduce**
- Open [contributor-cheatsheet](https://www.k8s.dev/docs/contributor-cheatsheet/)
- Under `Kubernetes Contributor Cheat Sheet` heading, Hindi language is not mentioned.

[2021-09-18 10:46] PratikBorhade302 commented on #6024
\assign

[2021-09-18 10:47] PratikBorhade302 commented on #6024
/assign

[2021-09-18 12:34] Atharva-Shinde commented on #5685
Hey I am Atharva, I am part of the current Contribex mentoring group and I have thoroughly gone through the moderation guidelines, I am available as required and understand the duties. I am interested and would like to be a part of this and help the community

[2021-09-18 14:29] NikhilSharmaWe opened #6026 "It should be mentioned for Windows Users to build tools inside WSL environment to run make test"
When I forked the kubernetes/kubernetes repo and run make test it showed me error. But after researching and Mark Rosetti told me that in Windows you need to build tools inside WSL environment. Windows users need to install ubuntu and clone the repo again.

[2021-09-18 14:34] NikhilSharmaWe commented on #6026
/sig docs

[2021-09-18 14:35] NikhilSharmaWe commented on #6026
/sig docs

[2021-09-18 15:02] NikhilSharmaWe commented on #6026
It is mentioned but it should be more clear for the beginner to understand what steps to be taken to set up.

[2021-09-19 07:00] Debanitrkl commented on #6024
/sig contributor-experience
/kind documentation

[2021-09-19 10:34] sudheerpodila opened #6029 "terminationmessage path and policy not working as expected"
I am using below configuration to log the abrupt disruption in pods using terminationMessagePath  as  terminationMessagePath: /tmp/message-log and terminationmessagePolicy as  terminationMessagePolicy: FallbackToLogsOnError
but when the pods are getting restarted I am just seeing the path getting created as:
-rw-rw-rw-    1 root     root             0 Sep 12 18:13 message-log

but file size is alw

[2021-09-19 11:30] sudheerpodila commented on #154
I am using below configuration to log the abrupt disruption in pods using terminationMessagePath as terminationMessagePath: /tmp/message-log and terminationmessagePolicy as terminationMessagePolicy: FallbackToLogsOnError
but when the pods are getting restarted I am just seeing the path getting created as:
-rw-rw-rw- 1 root root 0 Sep 12 18:13 message-log

but file size is always of 0 byte.
Is this

[2021-09-19 11:39] mrbobbytables commented on #6029
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2021-09-19 11:39] #6029 closed

[2021-09-20 04:28] 2610aayushi commented on #5576
/assign

[2021-09-20 13:31] mrbobbytables commented on #6026
/remove-sig docs
/sig contributor-experience
FYI - the docs sig is for end user docs (https://kubernetes.io), Contributor Experience is responsible for contributor focused docs 👍

[2021-09-20 13:41] mrbobbytables commented on #5462
/remove-lifecycle stale
/lifecycle frozen

[2021-09-20 13:43] markyjackson-taulia commented on #4894
/remove-lifecycle stale

[2021-09-20 13:46] mrbobbytables commented on #5153
TBH, it's been so long since we conducted the survey I don't think it'd make much of a difference if it was posted this year =/ Maybe roll the report into next year?

[2021-09-20 13:49] mrbobbytables commented on #5175
Closing this as there has been no update on when the beta may restart
/close

[2021-09-20 13:49] #5175 closed

[2021-09-20 13:50] mrbobbytables commented on #5292
Closing this as there has been no update on when the beta may restart
/close

[2021-09-20 13:50] #5277 closed

[2021-09-20 13:50] #5292 closed

[2021-09-20 13:52] wojtek-t commented on #5236
/remove-lifecycle stale

[2021-09-20 14:12] mrbobbytables commented on #2565
As an FYI - we keep getting people opening up issues/PRs to update the design-proposals. It'd be nice to move this along and then we can finally put them some place to be permanently archived.

[2021-09-20 15:00] Debanitrkl opened #6032 "REQUEST: New moderator for Debanitrkl of kubernetes-dev"
### GitHub Username
@Debanitrkl

### Property you'd like to Moderate
 kubernetes-dev

### Username on Property Requested
Debabrata
d.panigrahi.nitrkl@gmail.com

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Moderation Gu

[2021-09-20 15:06] Atharva-Shinde opened #6033 "REQUEST: New moderator for Atharva-Shinde of kubernetes-dev"
### GitHub Username
@Atharva-Shinde

### Property you'd like to Moderate
kubernetes-dev

### Username on Property Requested
@Atharva-Shinde
atharvashinde179@gmail.com

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Modera

[2021-09-20 17:13] jberkus commented on #5153
@mrbobbytables +1.  The results of the survey were pretty boring from what I could see anyway.

[2021-09-20 17:44] mrbobbytables commented on #5153
kk, we'll go ahead and close this out 👍
/close

[2021-09-20 17:44] #5153 closed

[2021-09-20 20:52] mrbobbytables commented on #4949
/reopen

[2021-09-20 20:53] mrbobbytables commented on #4951
/reopen

[2021-09-20 20:53] mrbobbytables commented on #4954
/reopen

[2021-09-20 20:53] mrbobbytables commented on #4952
/reopen

[2021-09-20 20:54] mrbobbytables commented on #4957
/reopen

[2021-09-20 20:54] mrbobbytables commented on #4958
/reopen

[2021-09-20 20:55] mrbobbytables commented on #4943
/reopen

[2021-09-20 20:55] mrbobbytables commented on #4945
/reopen

[2021-09-20 20:59] mrbobbytables commented on #5232
I know this is closed (from lifecycle) but was it completed?
@eddiezane @soltysh

[2021-09-20 21:02] mrbobbytables commented on #5229
/remove-lifecycle stale

[2021-09-20 22:43] spiffxp opened #6036 "Rename WG K8s Infra to SIG K8s Infra"
Umbrella / placeholder issue to track all of the things that need to be renamed in order to complete the conversion of WG K8s Infra to SIG K8s Infra

- [ ] proposal PR that updates sigs.yaml, updates charter
- [ ] rename slack channel
- [ ] rename mailing lists
- [ ] add github topic
- [ ] rename meeting link
- [ ] rename meeting agenda doc
- [ ] rename wg/k8s-infra github label
- [ ] rename githu