[2018-10-03 16:04] #2600 closed

[2018-10-03 16:10] parispittman commented on #2466
Update: survey data is in. In progress of awarding all swag to those who submitted an email address and then sanitizing the data for publicly posting it.

[2018-10-03 16:11] parispittman commented on #2466
@ameukam and I would love more help for the first listed task if you are reading this and would like to get more involved (or want to see this issue progress further)

[2018-10-03 21:41] guineveresaenger opened #2745 "SIG Meet and Greet @New Contributor Workshop KubeCon2018 Seattle"
**This issue will be used as a means to track mentor volunteers - if you could drop your contact information in a comment here or via k8s Slack to me `@gsaenger` you will earn karma points, my eternal gratitude, and new members for your SIG.**

Do you need more SIG members? Are there many outstanding Good First Issue and Help Wanted labels in your SIG’s projects? Are you running out of Reviewers i

[2018-10-04 01:29] parispittman commented on #2680
Election is over. Prepping the last two items now. Thanks everyone :tada:

[2018-10-04 04:00] RajatVaryani commented on #2326
Hi. Let me have a go at it. Is there any clarity where we have to add because we already have the link under (mentoring section)[https://github.com/kubernetes/community/blob/master/mentoring/README.md]

[2018-10-05 05:02] parispittman commented on #2680
wrapped final tasks

/close

[2018-10-05 05:02] #2680 closed

[2018-10-05 20:46] spiffxp commented on #2649
I asked about this Jan 2018: https://groups.google.com/a/kubernetes.io/d/msg/steering/B32ZXpw8EG8/aCx5yhdfCwAJ

Final response from thockin was:

represents a liability to all consumers of the project, and urge every
CNCF project to adopt the CLA.

[2018-10-05 20:47] spiffxp commented on #2649
/committee steering

[2018-10-06 17:45] nikhita opened #2759 "Update e2e testing guide"
The doc https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md is very stale and lots of portions need a re-write.

Ref: https://github.com/kubernetes/community/pull/2701#discussion_r219757973

/cc @BenTheElder @spiffxp @cjwagner

/sig testing
/area contributor-guide
/kind bug

[2018-10-08 05:42] nikhita commented on #276
/remove-lifecycle stale

[2018-10-08 12:52] nikhita commented on #1919
xref: https://github.com/kubernetes/community/issues/892 - this issue also has a lot of useful discussion regarding a developer guide.

[2018-10-08 18:49] philips commented on #1997
/remove-lifecycle stale

[2018-10-08 19:38] philips opened #2766 "README: link to repository policy for working groups"
In the README explaining working groups [recommend an associated repo](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#associated-repositories) instead of current language, as of https://github.com/kubernetes/community/pull/1994, about "not owning code".

[2018-10-08 19:38] philips commented on #2766
/committee steering

[2018-10-08 19:46] philips commented on #2649
Personally I am apathetic. CLA is a one time horrible UX. DCO is an ongoing horrible UX.

[2018-10-08 19:49] dims commented on #2649
@philips true enough. The intent was about making things easier for occasional contributors.

[2018-10-08 20:05] jbeda commented on #2766
I can take this on if no one else does. Thanks for getting #1994 in so that we can just tweak it now.

[2018-10-08 20:06] philips commented on #2766
go for it @jbeda

[2018-10-09 01:42] hogepodge opened #2770 "Transition all SIG-{cloud provider} to WG-{cloud-provider} under SIG-Cloud-Provider"
Under the charter of the recently founded SIG-Cloud-Provider, global code ownership will transition from individual cloud sigs to sub-projects (or working groups) within SIG-Cloud-Provider.

Tracking issue for this work.

https://github.com/kubernetes/community/blob/master/sig-cloud-provider/CHARTER.md#subprojects--areas-of-focus

/sig-cloud-provider
/sig-aws
/sig-azure
/sig-gcp
/sig-ibmcloud
/sig

[2018-10-09 02:05] hogepodge commented on #2770
/sig cloud-provider
/sig aws
/sig azure
/sig gcp
/sig ibmcloud
/sig openstack
/sig vmware

[2018-10-09 02:26] hogepodge opened #2771 "Update "Testing and Merge Workflow" to clarify /lgtm and /approve labels"
Following up on the discussion about the behavior of /lgtm and /approve labels, update documentation to clarify purpose and behavior of each.

/sig docs

/assign hogepodge

@dims @parispittman

https://groups.google.com/d/msg/kubernetes-sig-contribex/_FMoL0qAN_s/5ocHsC4RBQAJ
https://github.com/kubernetes/test-infra/pull/9151

[2018-10-09 16:41] cblecker commented on #2649
If all things were equal legally (I understand that they probably aren't), it would be a disruption to take our existing contributor base and change their workflow. While CLA is a one-time impact on new contributors, DCO would require workflow changes from everyone. There would need to be a bunch of added value IMO to consider doing this.

[2018-10-09 18:19] parispittman commented on #2492
/close

[2018-10-09 18:19] #2492 closed

[2018-10-09 18:32] parispittman commented on #2466
update: all 68 respondents who left their email have been sent codes for water bottles. 🎉 thanks again!

data sanitizing is done; preparing survey sheet for data fun. will post publicly in the contribex folder in the k/community repo.

the inventory and discovery doc can use some more eyes and hands. feel free to jump in for columns with green.

[2018-10-10 16:43] spiffxp commented on #2766
/assign @jbeda

[2018-10-10 16:50] jonasrosland commented on #2325
The Non-Code Contributor's Guide has now been added to the GitHub repository, and the following communications have gone out:

Blog: https://kubernetes.io/blog/2018/10/04/introducing-the-non-code-contributors-guide/

Distribution lists:
https://groups.google.com/forum/#!topic/kubernetes-dev/v3CMiElT8T8
https://groups.google.com/forum/#!topic/kubernetes-sig-leads/MVqHr_4F9KI

Discuss:
https://discu

[2018-10-10 16:50] #2325 closed

[2018-10-12 20:40] spiffxp commented on #2715
/assign @spiffxp @dims

[2018-10-12 20:43] spiffxp commented on #2715
We discussed during today's meeting and @dims and I will act as chairs for the WG.  We discussed whether we want a charter given that no other WG has one, but we feel it's important to be explicit about in-scope/out-of-scope here, so will do a charter.  I will consider this issue closed once we have merged a PR with said charter.

[2018-10-12 22:08] idvoretskyi commented on #2715
/cc

[2018-10-13 03:49] justaugustus commented on #1819
/kind kep

[2018-10-14 19:49] jbeda commented on #2766
Looks like this'll be largely covered in https://github.com/kubernetes/community/pull/2702 but after that goes in I'll be sure to update it with a pointer to that suggestion as a way to incubate code outside of SIGs.  @pwittrock has already seen enough back and forth there that I'm happy to make this a delta after that is merged.

[2018-10-15 11:07] parispittman commented on #2714
closing in favor of #1724

/close

[2018-10-15 11:07] #2714 closed

[2018-10-15 11:08] parispittman commented on #2366
closing in favor of #2028

/close

[2018-10-15 11:08] #2366 closed

[2018-10-15 12:00] parispittman opened #2802 "Contributor Experience Survey Results"
- [x] post results
- [x] post README for results
- [x] follow up with everyone who wanted a water bottle
- [ ] respond to everyone who left an email that had follow up questions, needs more 411 on a topic, etc.
- [ ] write a blog post
- [x] process pretty graphs
- [ ] turn survey angst and cheers into actionable items

[2018-10-15 12:03] parispittman commented on #2518
Doing this on the slack channel now vs email

/close

[2018-10-15 12:03] #2518 closed

[2018-10-15 17:09] philips opened #2803 "working group governance feedback"
Address remaining feedback on wg-governance.md now that it is merged.

https://github.com/kubernetes/community/pull/2702#pullrequestreview-164511723

/assign @pwittrock

[2018-10-15 17:12] philips commented on #2803
/committee steering

[2018-10-15 18:06] krzyzacy commented on #2759
/milestone 2019
/cc

also [contributors/devel/e2e-node-tests.md](/contributors/devel/e2e-node-tests.md) here
probably will do after a kubetest overhaul

[2018-10-16 07:11] nikhita commented on #923
/remove-lifecycle stale

On Tue, Oct 16, 2018 at 12:26 PM fejta-bot <notifications@github.com> wrote:

[2018-10-16 09:15] analytik commented on #2720
For us (running on bare metal CoreOS), the desire for LTS boils down to not having to spend a lot of effort and risk breaking changes when upgrading.

For now we're still stuck on 1.5 as the effort for upgrading beyond it snowballed (etcd3, Docker, CoreOS, ingress, TLS, RBAC, kubeadm, etc). Once upgrading becomes just replacing binaries/images and reading a few release notes, then LTS loses its ap

[2018-10-16 14:59] idealhack commented on #923
/remove-lifecycle stale

[2018-10-16 17:35] parispittman opened #2812 "Code Base Tours - Videos"
need to do more code base tours as part of meet our contributors and otherwise. @sttts did one recently - https://youtu.be/yqB_le-N6EE - that has 400 views already and folks have given great praise that have watched it.

what other repos outside of k/k should we do a code base tour that would be beneficial to people who want to help out with triage and other helpful ways? or people who want a quic

[2018-10-16 17:49] idvoretskyi commented on #2720
/cc

[2018-10-16 18:30] parispittman opened #2813 "SIG Chair/TL Training"
Develop a video and/or in person training followed up by new documentation creation and doc clean up of existing materials. Improve the onboarding experience for new chairs/tls so they have all of the information they need to be awesome at their role.

[2018-10-16 22:35] parispittman opened #2815 "Kick off Speed Mentoring planning for KubeCon Seattle"
Start planning for KubeCon Seattle Speed Mentoring activity.

Had kick off call with LF/CNCF and @tpepper recently. We hashed out some generalities and started looking at dates times. Decided that we should do two events vs one and keep them in the AM or PM to avoid major schedule conflicts.

This issue will close once we have posted the advert for the event.

[2018-10-17 16:47] guineveresaenger commented on #2745
/area mentorship-planning

[2018-10-17 17:59] spiffxp opened #2818 "Propose replacing Graph & KEP of the week w/ automation focused slot"
Naming is hard: automation of the week? bot command of the week? contribex tips?

Basically I think the Graph of the Week slot has outlived its utility to the community.  We've shown all the graphs, but I don't know if people are using them.  I'd rather replace that 5min slot with something that shows people how to do stuff on our project, or a piece of our automation, etc.  I think this should be

[2018-10-17 19:42] jeefy commented on #2818
+1

I like the sound of "Contributor Tips".

It feels inclusive and casts a wide net toward the desired target audience.

[2018-10-17 19:43] spiffxp commented on #2818
FYI @jberkus
What about any "graphs" we might want to present? IMO they should be meaningful and actionable from a contributor perspective, and can fit into this slot.  We could also talk about them in Announcements, as we often have spare room then.

FYI @justaugustus @calebamiles
What about any "KEPs" we might want to present?  I think we often have time at the end in Announcements and they coul

[2018-10-18 01:14] fedebongio commented on #2720
Please count me in - I've been on the other side (customer of K8s) and I've also had the problem of the versions on my last company core product (Mule ESB at @mulesoft). Had countless discussions through the years, broke many customers upgrading to "theoretically" backward compatible patch versions.

I think the problem also expands to what mentioned on the side: a bunch of beta apis that are beco

[2018-10-18 13:55] dims commented on #2029
@parispittman #2629 has merged. Do we need to do more here?

[2018-10-18 15:17] parispittman commented on #2029
@dims - yes, we need to document the logistics of retirement. ie - process to follow to archive any repos, slack channels, mailing lists, etc.

[2018-10-18 17:47] parispittman commented on #2029
working document until we draft in GH
https://docs.google.com/document/d/1_venhAEU1ndOD57Jcz03E645xEtj4eAkrRIOaWjSsJ4/edit?usp=sharing

[2018-10-18 20:02] castrojo commented on #2818
I feel like KEPs should be a top primitive. The community meeting is cross-SIG by nature and having someone present a KEP is a good way to make sure they're getting eyeballs.

For the "Contributor Tips" I think we should just have a list of things we could be rotating on:
- Chart/Devstats o' the week.
- Bot-o-logy - Something bot/automation related. "Did you know you can foo?"
- Some other communi

[2018-10-18 21:17] spiffxp commented on #2176
ref: https://github.com/kubernetes/steering/issues/27

[2018-10-18 21:18] spiffxp commented on #2619
ref: https://github.com/kubernetes/community/issues/1673

[2018-10-19 02:54] knightXun opened #2824 "expose pods' l3 cache info"
For now, kubelet collect cpu,memory,disk info. But l3 cache info is missing. kubernetes has cpumanager which can let pod monopolize several cpu cores,  I think kubelet should expose these pod's l3 cache information, it will provide better metrics and provide some info for scheduler.

[2018-10-19 02:54] knightXun commented on #2824
/sig node

[2018-10-19 02:58] knightXun commented on #2824
/cc @ConnorDoyle

[2018-10-19 07:27] #1832 closed, assigned to guineveresaenger, nikhita

[2018-10-22 18:28] castrojo commented on #2029
I am confused as to why we have two `sig-governance.md` documents? I've linked to the one in the steering directory from the root one but imo it's confusing.

[2018-10-22 18:59] castrojo opened #2833 "Changes to SIG Governance should require some concensus from SIGs"
This merged PR from SIG PM adds new requirements to other SIGs that imposes requirements on them: https://github.com/kubernetes/community/pull/2289

I feel like this sets a bad precedent for the following reasons:

- We shouldn't retcon new requirements onto SIGs unless they have a say in those requirements.
- New requirements of other SIGs should perhaps at least be discussed on k-dev and documen

[2018-10-22 19:26] justinsb opened #2834 "KEP numbers are not unique"
There are 2 KEP 30s:

https://github.com/kubernetes/community/blob/master/keps/sig-api-machinery/0030-storage-migration.md

https://github.com/kubernetes/community/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md

I think there are also two KEP 28s, two KEP 18s, three KEP 15s.

I'm guessing that rebase-needed detection doesn't work the way we think it does...

[2018-10-23 05:52] #2824 closed

[2018-10-23 15:17] castrojo commented on #2833
/sig contributor-experience

[2018-10-23 18:29] jberkus commented on #2818
I think we can drop Graph O' The Week.  I may keep doing it for LWKD, but it doesn't need to be part of the community meeting.

I think we should keep KEP of the week, *provided* that we can make it the job of SIG-PM to supply us with one.  Since having a KEP of the week is directly related to successfully promoting the KEP concept, they should be eager to do this.  If they're not, I think it spel

[2018-10-23 18:29] nikhita commented on #874
Closing this because it was decided in https://github.com/kubernetes/org/issues/10 that we don't need this now. We can revisit it, if needed.

/close

[2018-10-23 18:29] #874 closed

[2018-10-23 20:05] parispittman commented on #2833
/steering-committee

[2018-10-24 08:45] justaugustus commented on #651
/remove-lifecycle stale
/lifecycle frozen

[2018-10-24 08:46] justaugustus commented on #914
/sig pm

[2018-10-24 09:41] justaugustus opened #2847 "Create explicit instructions on SIG leadership access hygiene"
While we do a pretty good job of defining [what's required to create a SIG](https://github.com/kubernetes/community/blob/master/sig-governance.md#sig-creation-procedure), I'm not sure that I've seen documentation on what to do when SIG leadership changes.

Some ideas would include:
- Sharing / rotating:
  - credentials for Zoom
  - YouTube playlist link
  - SIG calendar access
  - Google Group own

[2018-10-24 09:42] justaugustus commented on #2813
I created another issue, which overlaps with some of this: https://github.com/kubernetes/community/issues/2847

[2018-10-24 09:44] justaugustus commented on #2847
I coulddddd work on this, but I'm just as happy to review someone else's PR :)
/cc @parispittman @castrojo

[2018-10-24 10:34] justaugustus commented on #2818
This has ballooned into "Let's define the exact shape of the Community Meeting" as opposed to "Let's remove some things". Could we update the title to reflect that?

In my mind, I see the following:
- Announcements
- Demo
- SIG Updates
- KEP preso
- Did you know? / Contributor Tips / `_____` O' The Week
- Shoutouts

I think SIG Updates are good for who we are, what's going on, upcoming work, and h

[2018-10-24 10:49] justaugustus commented on #2834
Closing this as a duplicate of https://github.com/kubernetes/community/issues/2245.

/close

[2018-10-24 10:49] #2834 closed

[2018-10-24 10:51] justaugustus commented on #2245
From @justinsb in #2834:

[2018-10-24 14:49] parispittman commented on #2847
Can we cover this in #2813 @justaugustus

[2018-10-24 14:55] parispittman commented on #2813
Do you mind if I update this issue with some of your comments and then close #2847 ? All of your concerns from there I think will be covered in here.

[2018-10-24 15:00] justaugustus commented on #2813
From #2847 (Create explicit instructions on SIG leadership access hygiene):

[2018-10-24 15:01] justaugustus commented on #2847
@parispittman totes. just dropped a comment over there. :)
/close

[2018-10-24 15:01] #2847 closed

[2018-10-24 15:38] mrbobbytables opened #2850 "Establishing Community Content Style Guide"
This issue came to light recently while reviewing content on the [WIP contributor site](https://contributor.kubernetes.io/). Currently much of the docs within the community repo do not follow a consistent set of rules with regard to tone and formatting. There are a few suggestions here or there such as the [Markdown link style guide](https://git.k8s.io/community/sig-contributor-experience/markdown

[2018-10-24 16:45] parispittman commented on #2850
thanks for filing!

[2018-10-24 17:15] justaugustus commented on #2833
(Hmm, that PR feels like a throwback for me.)

The original intent was to actually remove a requirement, namely, having specified SIG PM reps within the SIG.
While I agree with the spirit of this issue, the things added to that PR should have been things that a SIG was already doing and at present, I think only 50% actually happens.

Stepping away from that PR and just considering the general case

[2018-10-24 19:40] cblecker commented on #651
/sig pm
/remove-sig contributor-experience

[2018-10-24 21:20] BenTheElder commented on #2245
rebase needed basically asks github if the PR needs rebase IIRC, it does this on some pretty low polling interval (daily?) and otherwise might occasionally get an event from github sooner than that.

[2018-10-24 21:20] BenTheElder commented on #2245
it's definitely not something to rely on heavily, just a handy nudge when it works

[2018-10-24 21:55] spiffxp commented on #2176
We discussed during steering and were ok with adding a field.  Uncertain how clearly defined this list of sigs is for each wg

[2018-10-24 23:47] derekwaynecarr commented on #2745
I should be available.

[2018-10-25 00:02] dchen1107 commented on #2745
I plan to go too.

[2018-10-25 00:03] zacharysarah commented on #2745
I will attend.

[2018-10-25 02:16] parispittman commented on #2818
Can we nuke the future topics section, too? [scope creep - I'll see myself out]

[2018-10-25 02:54] kmova commented on #2745
I will be available

[2018-10-25 02:59] parispittman commented on #2812
/help-wanted

[2018-10-25 03:56] parispittman commented on #2657
@jeefy is working on an automated calendar widget that would be kicked off from an issue template

[2018-10-25 08:29] weeco opened #2854 "Accessing resource usage metrics with Go client"
I am trying to access the resource usage metrics using the Kubernetes go client. I couldn't figure out what package to use in order to access the resource usage metrics (e. g. CPU usage for each node). There was no documentation about it here either: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/resource-metrics-api.md

I created a Stackoverflow

[2018-10-25 08:34] roberthbailey commented on #2745
I can be there.

[2018-10-25 08:35] weeco commented on #2854
/sig cluster-ops

[2018-10-25 10:37] soltysh commented on #2745
Count me in.

[2018-10-25 10:55] dims commented on #2745
Sounds like fun. count me in

[2018-10-25 13:53] mrbobbytables opened #2855 "CNCF CoC Translations Needed for Discuss Regional Boards"
Tracking Issue.

With the goal of making the [Kubernetes Discuss Forums](http://discuss.kubernetes.io) more welcoming and inclusive for non-english native speakers, we have planned to launch regional specific categories moderated by trusted community members fluent in those languages. As the forums are governed by the [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-co

[2018-10-25 14:33] rootsongjc commented on #2855
That's a good idea but the website [Kubernetes Discuss Forums](https://discuss.kubernetes.io/top/all) is too slow in China.

[2018-10-25 14:52] juanvallejo commented on #2745
Will attend as well

[2018-10-25 15:05] castrojo commented on #2855
We can for sure bump up to the plan that offers a CDN, I'll investigate.

[2018-10-25 15:15] castrojo commented on #2855
@rootsongjc It would help if we knew which parts of the site were slow, can you provide any more information?

[2018-10-25 15:48] childsb commented on #2745
will attend for sig-storage

[2018-10-25 16:09] idealhack commented on #2855
I haven't noticed it's slow, maybe it's because I have cached those js and images from `discourse-cdn-sjc2.com` before. When I am refreshing the site with cache disabled, sometimes it's quite slow. So this may affect some new visitors.

[2018-10-25 16:46] tao12345666333 commented on #2855
[code]

It's my visit detail. For comparison, `ks8.io` only takes 704ms.

[2018-10-25 16:48] spiffxp commented on #2818
No no no please let's not scope creep this.

I'll just drop GoTW for this since I seem to have gotten consensus there.  We can see how KEP of the week continues to play out.

[2018-10-25 17:01] chaitanyaenr opened #2856 "Increasing the cluster limits"
The cluster limits including pods per namespace, deployments per namespace were lowered in https://github.com/kubernetes/community/pull/2231. We ran some scale tests where we created 48k pods per namespace and couldn't see any abnormal spikes in time duration and resource usage by control plane when we increased the pod count from 3k to 48k.

I wanted to check if there are any known issues stoppin

[2018-10-25 17:19] jberkus commented on #2818
@justaugustus if SIG-PM *isn't* going to help schedule KEPs, I'd argue that we should drop them from the community meeting.

Speaking as a rotational moderator, I have too little insight into KEPs to schedule them.  I'm happy to follow-up/confirm, but I need SIG-PM to create the intial schedule.

[2018-10-25 17:28] chaitanyaenr commented on #2856
@wojtek-t PTAL.
/cc @sjug @jeremyeder

[2018-10-25 17:52] seans3 commented on #2745
I will be available (SIG CLI)--thanks.

[2018-10-25 18:03] chaitanyaenr commented on #2856
/sig scalability

[2018-10-25 18:15] detiber commented on #2745
I will attend for sig-cluster-lifecycle :) I'll reach out over slack for contact info.

[2018-10-25 18:40] weeco commented on #2854
@cblecker I am aware, however after offering a bounty and waiting plenty of time I am losing hope someone there can help me. That's why I created the issue in this repository in the first place.

[2018-10-25 18:59] cblecker commented on #2854
@weeco There's some other options here: https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/#help-my-question-isn-t-covered-i-need-help-now

Namely, I'd try looking through Discuss or asking a question in #kubernetes-users slack channel

[2018-10-25 20:32] spiffxp opened #2857 "de-dupe sig-governance.md files, rename root copy to sig-lifecycle"
addresses: https://github.com/kubernetes/community/issues/2029#issuecomment-431925933
by covering this work: https://github.com/kubernetes/community/pull/2832#issuecomment-432345332

I took an action item to followup on this in the latest steering committee meeting.

/committee steering
/sig contributor-experience
/kind cleanup
/kind documentation
/priority important-soon
/assign

[2018-10-25 20:38] #2771 closed

[2018-10-25 21:41] misterikkit commented on #2657
Thanks for distilling all this!

On the topic of automating calendar invites, might also be good to automate an email reminder 24h in advance.

For #s 5 and 6 on mentee info, I wonder if those can be turned into a more generic, "what level of help are you looking for?" that could range from dev enviro setup to code/config syntax to very specific k8s stuff.

Since you propose that mentees need to d

[2018-10-25 21:46] misterikkit commented on #2657
Would this proposal force all mentees to make their requests public?

[2018-10-25 23:07] parispittman commented on #2657
Agreed to auto email reminders! That's a good one.

Re need an issue to work on: That's a suggested activity for mentor/ees to choice from now. "AMA" I need to get a script/doc together for the mentors that explains just that. I've been thinking about a "training", too, for mentors once we have more of this laid out since some of these concepts/way of doing this are new.

Re mentees public request

[2018-10-26 00:08] quinton-hoole-2 commented on #566
Comments from a separate email thread:

Date: Fri, Oct 12, 2018 at 12:23 PM
Subject: Feature branches
To: kubernetes-sig-architecture <kubernetes-sig-architecture@googlegroups.com>

Hi sig-arch

Followup to yesterday's discussion (initiated by thockin) on merging incomplete features and feature branches as a possible solution to that.  I'm not sure where the broader discussion on feature branches

[2018-10-26 00:18] quinton-hoole-2 commented on #566
One more point regarding keeping the feature branches in sync with master (i.e. periodically rebasing against master):

1. The primary cause of rebase headaches is merge conflicts.
2. Merge conflicts occur when two people edit the same chunk of code (inevitably the same file, and often the same method).
3. The above is typically (but not always) a sign of poor code factoring.

So to avoid rebase h

[2018-10-26 00:33] JackWindows opened #2858 "Misbehavior in ClusterRole with aggregation rule"
I have the following ClusterRole with aggregation rule
[code]
Note the 3rd clusterRoleSelectors "matchExpressions" is wrong, but it shouldn't affect how the 1st and 2nd selectors work. However, it turns out the 3rd malformed clusterRoleSelector will prevent rules from `system:aggregate-to-view` (which matches the 2nd clusterRoleSelector) being added to the created cluster role.
If I remove the 3rd

[2018-10-26 01:36] eduartua commented on #2716
I'll be working on this.

[2018-10-26 02:42] eduartua commented on #2716
Job done, I think this can be closed.
/fixed

[2018-10-26 02:48] parispittman commented on #2716
thanks again @eduartua!

/close
fixed in #2860

[2018-10-26 02:48] #2716 closed

[2018-10-26 02:54] brendandburns commented on #2651
@jdumars @bgrant0607 in SIG-Arch today you mentioned that there was a PR for profiles somewhere? Do you have a pointer to the PR? I searched community but I couldn't find it...

[2018-10-26 03:28] yue9944882 commented on #2858
/sig auth

[2018-10-26 03:30] yue9944882 commented on #2858
hi @JackWindows thx for reporting this. plz open this issue in kubernetes/kubernetes repo.

/close

[2018-10-26 03:30] #2858 closed

[2018-10-26 05:04] justaugustus commented on #2245
Thanks for the context, Ben!

[2018-10-26 07:12] aanm commented on #2745
I will be there as well

[2018-10-26 15:20] ignertic commented on #2326
Hello is this issue still open?

[2018-10-26 15:20] ignertic commented on #2326
Has this issue been tackled or is there anyone working on this, im willing to tackle if no is working on it

[2018-10-26 17:40] saurav-malani commented on #2716
@ameukam this issue is not much clear. Can you please clarify it a bit, so that I can work on it.

[2018-10-26 18:18] Huang-Wei commented on #2745
I will attend for sig-scheduling.

[2018-10-26 18:19] qedrakmar opened #2862 "Track Facilitators needed for Contributor Summit at Kubecon Seattle"
Several people will be needed to manage running sessions and directing attendees to various locations.  There are at least 5 stations that will need to be covered.  Volunteers from those already attending the Contributor Summit should respond in the comments below.

**To ensure volunteers do not miss the sessions they want to attend, please reference the current Summit schedule, which is available

[2018-10-26 18:19] qedrakmar commented on #2862
/sig contributor-experience

[2018-10-26 20:50] shyamjvs commented on #2745
I can be there for sig-scalability.

[2018-10-27 09:45] dstrebel commented on #2745
I can be there for Sig-Azure

[2018-10-27 17:09] bukzor commented on #798
@nikhita I was hoping to use CRD quotas to model our cluster-scoped limited resource: software licenses. Is there a better way I should do this? Or does this provide a valid use case of cluster-scoped quotas?

[2018-10-27 19:34] quinton-hoole-2 commented on #2745
I can be there for sig-multicluster. @pmorie, @marun, @irfanurrehman @shashi

[2018-10-28 06:00] onyiny-ang commented on #2862
I'd like to help out! :raising_hand_woman:

[2018-10-28 06:09] mhausenblas commented on #2862
Happy to help out.

[2018-10-28 14:11] spzala commented on #2745
I will be there for sig-ibmcloud /cc @duglin Thanks @guineveresaenger

[2018-10-28 14:36] nikhita commented on #2326
@ignertic Noone is working on it right now.

@castrojo Looks like the contributor guide [links to the mentoring page](https://github.com/kubernetes/community/tree/master/contributors/guide#mentorship) (which has information about Meet Our Contributors). Is this enough or did you have something more in mind?

[2018-10-28 20:10] quinton-hoole-2 commented on #2745
cc @shashidharatd

[2018-10-29 12:32] nikhita commented on #2326
@ignertic Only organization members can be assigned issues. However, please consider yourself assigned and feel free to work on it.

[2018-10-29 15:04] chris-short commented on #2862
Count me in.

[2018-10-29 15:13] nikhita commented on #2441
/remove-lifecycle stale

[2018-10-29 16:49] mrbobbytables commented on #2745
Just a reminder for those that are volunteering. If you did not get a confirmation email regarding Contributor Summit Registration last Friday (10/26/2018). Please register by filling out the [Contributor Summit Registration Form](https://docs.google.com/forms/d/e/1FAIpQLSclBl56mToh4pm_CXgTc4MvOj1bjD_OxC_L8A9ZS1CtdJHS-A/viewform).  It says it is currently waitlisted, but go ahead and select the cu

[2018-10-29 17:53] tpepper commented on #2745
I'm happy to contribute for SIG-Release.

[2018-10-29 19:39] jberkhahn commented on #2745
I'll be around for SIG Service Catalog

[2018-10-29 20:41] bgrant0607 commented on #2720
I agree with Jago.

Ref https://github.com/kubernetes/community/issues/567

[2018-10-29 21:16] dims opened #2873 "Finding seconds/alternates to less active reviewers/approvers"
Follow up to https://github.com/kubernetes/community/issues/1808

Here we just look at how to identify folks who are not very active and request seconds/alternates to add to OWNERS files, so PR(s) do not go stale. Making sure we add more active folks to OWNERS will help reduce burden on existing folks as well.

Find out who are listed in the OWNERS files and how many files does their id appear: (w

[2018-10-30 00:11] mml commented on #2873
Hi @dims.  It seems like we have two distinct issues here.  (1) Managing review latency, and (2) ensuring the set of reviewers/owners in each file is basically correct: trustworthy or otherwise considered "worthy" by the community (with the standards outline in the community-membership doc as a low bar).

With respect to (1), I wonder if it might be better to focus the analysis on PRs rather than

[2018-10-30 05:17] shubheksha commented on #2812
I believe the kubectl codebase would make for a good component for this as there are ongoing efforts to complete isolate it from k/k.

[2018-10-30 05:28] bgrant0607 commented on #2720
Most of the work required to achieve releases of higher quality and stability is independent of release frequency, such as:
* Patches only contain critical fixes
* Critical APIs are stable (vN)
* kubernetes/kubernetes/master kept in a releasable state
* Clearer testing signal
* Higher test coverage
* Meaningful version-skew, upgrade, and downgrade tests that people fix promptly when they are broke

[2018-10-30 10:16] archyufa commented on #2862
Will be happy to help. Count on me.

[2018-10-30 13:11] soltysh commented on #2812
@parispittman yeah, I can do that one.

[2018-10-30 14:05] castrojo commented on #2812
I ran a poll: https://discuss.kubernetes.io/t/poll-what-kind-of-small-one-topic-videos-would-you-like-to-see/3200/2

So far "As k8s-Controllers or Operators use workqueue to keep its state. It would be nice to go quick deep-dive into the workqueue package to understand its implementation and how it is used by controllers." would be a good one as well.

[2018-10-30 14:34] shubheksha commented on #2862
I can help out!

[2018-10-30 21:10] mml opened #2878 "Audit/groom OWNERS files"
We have a lot of OWNERS files, and entries in those files can become stale as people leave the project or are no longer suitable owners in an area (e.g. the area has since moved in new directions and they are contributing elsewhere.)

This is an audit mainly for suitability and correctness of the owners.  We want to ensure that these people are considered suitable by the community to do reviews or

[2018-10-30 21:10] mml commented on #2873
#2878 is my idea for (2).

[2018-10-30 21:10] mml commented on #2878
/sig contributor-experience

[2018-10-31 12:24] nikhita opened #2880 "Plan Outreachy participation for the Dec 2018 - March 2019 round"
Kubernetes is participating in the [Outreachy](https://github.com/kubernetes/community/blob/master/mentoring/outreachy.md) internship program for the Dec 2018 - March 2019 round. This issue will act as a landing page to all planning related to Outreachy.

The Kubernetes page on the Outreachy website can be found [here](https://www.outreachy.org/communities/cfp/kubernetes/).

**List of things that

[2018-10-31 16:13] idealhack commented on #2862
I'd like to help 🙋‍♂️

[2018-10-31 16:54] mcrute commented on #2745
I'm happy to attend for sig-aws

[2018-10-31 17:03] qedrakmar commented on #2862
Scheduling all interested parties will take place AFTER Kubecon Shanghai (Nov 19th or so).

[2018-10-31 18:30] parispittman commented on #2880
Thanks for this @nikhita!

For those who are reading that may be interested in an internship, please visit the outreachy.org site and complete the application process through there first. All application instructions will be listed there.

[2018-11-01 11:07] justaugustus opened #2883 "Clarify that membership in non-`kubernetes` orgs doesn't imply the inverse"
ref:
- https://github.com/kubernetes/org/issues/174#issuecomment-431137034
- https://github.com/kubernetes/org/pull/212#issuecomment-434924300

/cc @spiffxp @cblecker
/help

[2018-11-01 11:08] justaugustus commented on #2883
/sig contributor experience

[2018-11-01 11:14] justaugustus commented on #2883
/sig contributor-experience

[2018-11-01 11:36] mrbobbytables commented on #2883
Just adding a bit more information to the thread  -- The membership requests in the referenced links are specifically related to the migration of the kubespray  project from incubator to sigs as a subproject under sig-cluster-lifecycle (https://github.com/kubernetes/org/issues/208).

[2018-11-01 12:21] mrbobbytables commented on #2855
With the translations provided and the launch of the regional boards, I'm inclined to close this issue but I don't want to disregard the site slowness.

The kubernetes discussion board hosting is provided by [Discourse](https://discourse.org). If users are experiencing consistent site slowness, our best bet is to gather up as **MUCH** information as we can in a thread on the forum or as an issue h

[2018-11-01 12:50] parispittman opened #2884 "discuss.k8s.io guidelines"
draw up discuss.kubernetes.io guidelines like zoom-guidelines.md, slack-guidelines.md, etc. and include other information about it in our communication folder. cc/ @castrojo

[2018-11-01 22:30] spiffxp commented on #2392
/close
Was fixed by https://github.com/kubernetes/autoscaler/pull/1174

[2018-11-01 22:30] #2392 closed

[2018-11-02 02:50] idealhack commented on #2126
/remove-lifecycle stale

[2018-11-02 12:05] #2855 closed

[2018-11-02 15:14] mrbobbytables commented on #2745
@derekwaynecarr @dchen1107 @zacharysarah @kmova @childsb @quinton-hoole-2 - When you get a moment, please complete the [Contributor Summit RSVP](https://docs.google.com/forms/d/e/1FAIpQLSclBl56mToh4pm_CXgTc4MvOj1bjD_OxC_L8A9ZS1CtdJHS-A/viewform). It will say waitlisted, but we will take care of that behind the scenes.

[2018-11-02 15:33] mrbobbytables commented on #2745
@quinton-hoole-2  Thanks! Link has been fixed.

[2018-11-02 16:37] kwmonroe opened #2892 "Tracking issue: new home for juju charm related work"
In reference to https://github.com/kubernetes/kubernetes/pull/70430, we're looking for an appropriate home for code that lives in the deprecated `kubernetes/cluster/juju` tree:

https://github.com/kubernetes/kubernetes/tree/master/cluster/juju

We're leaning towards requesting a new `charms` repo in the kubernetes org; kubernetes-sigs was also suggested as a potential parent org. Questions/comment

[2018-11-02 17:06] kwmonroe commented on #2892
@kubernetes/sig-cluster-lifecycle-proposals

[2018-11-02 18:08] kmova commented on #2745
Thanks @mrbobbytables. Done.

[2018-11-02 20:50] timothysc commented on #2892
This should really live out of tree, perhaps in kubernetes-sigs, but I'm wondering how much usage does this tool actually get.?.?

Typically juju's are only used by canonical, and not more broadly applicable.

[2018-11-04 13:32] k82cn commented on #2745
I'll be there for SIG Scheduling as well.

[2018-11-05 06:50] idealhack commented on #1644
/remove-lifecycle stale
/lifecycle frozen

[2018-11-05 14:05] kwmonroe commented on #2892
There's a broad Juju following both in- and outside of Canonical.  Juju excels at managing K8s across clouds -- from AWS to VMware to home-grown metal -- as well as enabling out-of-cluster tool integration with K8s (Keystone auth, Prometheus metrics, etc).

[2018-11-05 18:56] #2883 closed

[2018-11-05 19:49] quinton-hoole-2 commented on #2720
I sounds like a working group to explore this space comprehensively and properly document in a white paper:

1. a set of clear problem statements
2. a set of possible solutions to the stated problems
3. known pros and cons of the possible solutions

... would be useful.

The outcome will probably not be "we do LTS and this is how it works", but rather something more along the lines of "these are t

[2018-11-05 21:51] DirectXMan12 commented on #2745
I'll be there for SIG Autoscaling

[2018-11-06 10:37] idealhack commented on #2440
/remove-lifecycle stale

[2018-11-06 16:55] guineveresaenger commented on #2745
You are all amazing and wonderful people. ❤️ ❤️ ❤️
I will update this thread and send emails as well as the event comes closer.

For now, the plan is:

We will put signs with SIG names on tthe tables in the room. This way, you and the new folks will be able to find each other easily, and you can start talking, answering questions, showing off your repo(s), maybe setting folks up with their first i

[2018-11-06 18:05] gyuho commented on #2745
Hope it's not too late. I'll be there for SIG AWS. Please email leegyuho@amazon.com.

[2018-11-06 18:07] M00nF1sh commented on #2745
I'll be there for sig aws. Email yyyng@amazon.com 😄

[2018-11-06 18:09] d-nishi commented on #2745
I will be there too!
Email: dnishi@amazon.com

[2018-11-06 18:09] leakingtapan commented on #2745
Would like to join for sig aws. Contact: chengpan@amazon.com

[2018-11-07 01:32] tpepper commented on #2720
fyi:

https://github.com/kubernetes/community/pull/2911

[2018-11-07 17:12] mattfarina commented on #1819
@castrojo Where is this KEP at? It's listed as _implementable_ but I see a repo at https://github.com/kubernetes-sigs/contributor-site. Is status noted somewhere?

Also, where is this planned on being operated out of?

[2018-11-07 17:46] castrojo commented on #2028
This is completed.

[2018-11-07 17:46] #2028 closed

[2018-11-07 17:59] tpepper commented on #2815
Meetings ongoing.

Call for mentors and mentees about to go out, including survey of info desired by mentees.

Later this month we will compare the mentor list with the desired info, and possibly reach out to target a few community members who can fill any gaps.

[2018-11-07 19:46] #1582 closed

[2018-11-07 22:30] parispittman commented on #2857
I'm working on a lot of this now and will PR some and mention in here what was not done.

[2018-11-08 04:16] #2505 closed

[2018-11-08 07:37] bgrant0607 commented on #2720
Regarding "Upgrade path across more distant releases":
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew
https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api
https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#backward-compatibilit

[2018-11-08 08:51] idealhack commented on #359
/remove-lifecycle stale

[2018-11-08 19:01] neolit123 commented on #2720
just some quick 2c.

i proposed to @tpepper to expose all important related topics as proposals and available options in a list.
once the list is created, discussions have to occur in SIG-arch and/or WG-LTS meetings covering the topics.

once the discussions are in place a voting system has to be established where a list of SIG-chairs and possibly WG chairs need to vote.
in terms of who would be e

[2018-11-08 19:11] parispittman commented on #2720
@neolit123 re: voting. We've used the following:
-CIVS
-CNCF SurveyMonkey account that has voting style questions with a collaborative interface that allows for you to lead it vs CNCF
-discuss.kubernetes.io has capabilities to do polling, likes, etc. depending on how you set up the thread.

[2018-11-09 00:39] quinton-hoole-2 commented on #2720
I suggest that we give the working group the proposed bounded amount of
time to come up with one or more recommendations, and prioritize them via
our preferred consensus mechanism, including relevant SIG and working group
leaders.  In the unlikely event that consensus cannot be reached, we can
fall back to voting, but I sincerely hope that that will not be necessary.

On Thu, Nov 8, 2018 at 11:12

[2018-11-09 03:15] idealhack commented on #1234
/remove-lifecycle stale

[2018-11-10 00:28] parispittman opened #2923 "zoom to youtube automation pipe"
we are exploring paths from zoom recordings to the kubernetes youtube account for auto uploading.

contribex has access to [this file](https://docs.google.com/document/d/1-8kyEQkWATJbNZtW2wrkAil38RakXdV4LDY-clHVVdA/edit?usp=sharing) for goals/non goals and preliminary documentation.

[2018-11-10 20:58] #1702 closed

[2018-11-11 15:08] nikhita commented on #1632
/remove-help
Removing the `help-wanted` label on this. Please re-add it again if this issue is still valid for a new-ish contributor.

/cc @ryanj

[2018-11-12 06:44] idealhack commented on #1632
/remove-lifecycle stale

[2018-11-12 23:07] sirkubax opened #2931 "End to end testing documentation - key information missing"
https://kubernetes.io/docs/getting-started-guides/ubuntu/validation/
https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md

On the following websites I cannot find a key information:
What is 'test'? Where can I see the test code?
Are some tests generic? How can I re-use them?
How to define my new 'test'.
How to test 'my service' with 'some test'....

Please point me t

[2018-11-12 23:09] sirkubax commented on #2931
@kubernetes/sig-testing

[2018-11-13 04:51] guineveresaenger commented on #1794
Closing this via https://github.com/kubernetes/community/pull/2893.

[2018-11-13 04:51] #1794 closed

[2018-11-13 06:07] qedrakmar commented on #2862
I'm closing this issue.  I will contact everyone in the next week or so for scheduling.

[2018-11-13 06:07] #2862 closed

[2018-11-13 19:09] cblecker commented on #2100
/remove-lifecycle stale

[2018-11-14 04:22] vboctor opened #2937 "Broken link in Kubernetes Architectural Roadmap"
The [Kubernetes Architectural Roadmap](https://docs.google.com/document/d/1VEzP20JvIKckPrGSs_R-D4vlwFzMAaqJd-9Lvfyi3jw/edit) has broken link to Kubernetes architecture overview doc in the Background section.

This document is linked to from [Kubernetes SIG Architecture meeting notes](https://docs.google.com/document/d/1BlmHq5uPyBUDlppYqAAzslVbAO8hilgjqZUTaNXUhKM/edit#) header via link http://bit.l

[2018-11-14 07:51] jberkus commented on #2349
/remove-lifecycle rotten
/lifecycle frozen

[2018-11-14 08:00] parispittman commented on #2813
other topics
- where to find and what governance docs to read as a chair/tl
- slack tips for your channel(s)
- code of conduct

[2018-11-14 08:21] nikhita commented on #2937
@vboctor The google doc has since been converted to markdown. The [markdown document](https://github.com/kubernetes/community/blob/master/contributors/devel/architectural-roadmap.md#background) has the correct [link](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/architecture.md) to the architecture overview.

[2018-11-14 15:57] vboctor commented on #2937
Thanks @nikhita for the ack.  Maybe it is also worth updating the Google Doc to indicate in the header that it is now maintained in a different location and point to the markdown.  This would address cases where there are direct links to the old document.

[2018-11-14 15:59] andig opened #2939 "Unable to build on OSX"
This is the output:

    ❯ kubetest --build
    2018/11/14 16:55:03 process.go:153: Running: make -C /Users/andig/go/src/k8s.io/kubernetes quick-release
    +++ [1114 16:55:04] Verifying Prerequisites....
    +++ [1114 16:55:04] Using Docker for MacOS
    +++ [1114 16:55:06] Building Docker image kube-build:build-5c4c19886b-5-v1.11.2-1
    +++ [1114 16:55:11] Syncing sources to container
    +++ [

[2018-11-14 16:12] dims commented on #2939
Make sure your docker daemon has at least 8GB RAM and it should work fine.

/close

[2018-11-14 16:12] #2939 closed

[2018-11-14 18:07] Rajakavitha1 commented on #2745
I would be happy to attend for sig-docs.

[2018-11-14 19:39] michelleN commented on #2029
Update: #2832 looks good is waiting on an official lgtm and unhold from @spiffxp before merge. Aaron added a follow up item #2857 as well.

[2018-11-15 15:11] mwringe opened #2942 "Ability to get accessible namespaces based on RBAC"
With RBAC its possible to restrict user access to only specific namespaces, but there doesn't appear to be anyway to get a list of namespaces that a user has permission to access.

Our main usecase here is to be able to provide in a UI a list of namespaces that a user has access to.

We do have options such as the SelfSubjectRulesReview which will allow a user to get a list of actions a user can p

[2018-11-15 15:44] liggitt commented on #2942
please open feature requests against https://github.com/kubernetes/kubernetes, not the community repo

this particular request has been made in https://github.com/kubernetes/kubernetes/issues/48537, https://github.com/kubernetes/kubernetes/issues/58262, and https://github.com/kubernetes/kubernetes/issues/61958 and the objections described there still hold

I still don't think a special acl-filtere

[2018-11-15 15:44] #2942 closed

[2018-11-15 19:19] cblecker commented on #2931
Closing as duplicate
/triage duplicate
/close

[2018-11-15 19:19] #2931 closed

[2018-11-16 17:21] castrojo commented on #2884
The moderation workflow is the same as a list, I think we can get away with just a section in moderation.md (under mailing lists), I'll work up a PR on this next weekish.

[2018-11-17 15:16] vallard opened #2948 "Math help"
I'm trying to understand the [resources readme](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/resources.md) where it shows equivalent values.  There is a sentence that says:

"For example, the following represent roughly the same value: 128974848, "129e6", "129M" , "123Mi"."

Can you help me understand the `123Mi`?  I thought it would be 128974848 / 1

[2018-11-17 15:37] vallard commented on #2948
ah, that explains.  So slowly:
128974848 bytes = 125,952 kilobytes = 123 megabytes correct?

Thank you!

[2018-11-17 15:37] #2948 closed

[2018-11-17 18:41] #2283 closed

[2018-11-19 04:03] parispittman commented on #2857
[shared with k-dev ML]
[1st round of PRs listed here](https://docs.google.com/document/d/192ct2e2u_yjvhg_WD-96xBtmc-f8M_FMbt4OfA9vvN4/edit?usp=sharing)
2nd round will be combo'ing the leftovers of sig-gov at the root and sig-gov at /committee-steering

[2018-11-19 17:27] castrojo opened #2951 "SIG Chairs need a handbook"
We need a guidebook for SIG Chairs and TLs. Something that lists which lists to be on, how to get access to resources they need, how to manage their existing resources, etc. This would also be a place for existing chairs to leave tips, document lifecycle/handover procedures, etc.

I can work on this after Kubecon.

/assign
/sig contributor-experience

[2018-11-19 18:34] idealhack commented on #2948
@pcarver we have `M` and `Mi`

[2018-11-19 18:43] parispittman commented on #2813
-surveymonkey (surveys)

[2018-11-19 20:42] nikhita opened #2953 "Handling flood of trivial PRs"
If you are a new contributor, please note that all PRs are welcome in @kubernetes - even if it is a small typo fix! This issue is for discussing how to handle a flood of trivial PRs for reviewers, approvers and members.

---

We have recently noticed a flood of trivial (typos, removal of repeated words, punctuation) PRs in many repos. This situation has been discussed in the #sig-contribex channel

[2018-11-19 21:14] nikhita commented on #2880
Selection is done - @eduartua will be working with us on the developer guide project! :tada: :tada: :tada:

Closing this issue since selection is over.

[2018-11-19 21:14] #2880 closed

[2018-11-19 21:39] parispittman opened #2955 "Rolling back Zoom licenses in favor of host keys"
Now that we understand that host keys are the same as having the credentials, we can cut down on expecting our chairs/TLs/others that run meetings to be zoom admins. SIGs/WGs no longer need licenses, especially if they don't want one, as we can centralize this service. Right now, we are asking 70+ people to understand how to administratively set up a lot of security details when they should focus

[2018-11-19 22:45] philips commented on #2029
#2832 is merged.

[2018-11-19 22:48] parispittman opened #2956 "Docs on archiving and creating a mailing list on 1 doc"
Need to spell out how to archive a mailing list. either add to the moderation guidelines (doesn't seem to make sense there) or we make a mailing list guideline doc like we have for zoom and slack.

also need to put the creation of the groups into the same spot as well. this will be the canonical source of truth for mailing lists that we can link to.

[2018-11-20 04:08] duglin commented on #2953
One option is to allow someone with the proper authority to tag a PR with a certain tag that would skip the testing phase when the PR does things like fixes a typo in comments. While its a bit frustrating to see a flurry of those PRs, I'm more annoyed at knowing that its slowing meatier PRs from getting access to the testing resources.

[2018-11-20 14:20] castrojo commented on #2953
Perhaps we can rate limit submissions? For example if one author who isn't in the org files more than 1 XS issue in a span of X hours the bot removes the PRs from the usual queues by unassigning the usual tags and then pastes in a link to the trivial edit policy. Then perhaps a bunch of us work through a "new" queue so that we can mentor them through the initial process?

[2018-11-21 05:19] nikhita commented on #2293
We have a [CONTRIBUTING.md](https://github.com/kubernetes/community/blob/master/CONTRIBUTING.md) file which has links to the contributor guide and other useful resources.

Closing. Please reopen if needed.
/close

[2018-11-21 05:19] #2293 closed

[2018-11-21 15:54] nikhita commented on #2326
Fixed by https://github.com/kubernetes/community/pull/2870. Thanks, @ignertic!

/close

[2018-11-21 15:54] #2326 closed

[2018-11-21 17:05] #1636 closed

[2018-11-21 17:42] idvoretskyi commented on #1999
@castrojo since this one is called as H1'2018, shouldn't it be renamed as we are coming closely to the end of H2'2018 :)

[2018-11-21 17:45] tpepper commented on #2666
<img width="466" alt="screen shot 2018-11-21 at 9 44 10 am" src="https://user-images.githubusercontent.com/2745300/48859129-163dbe80-ed72-11e8-905b-6b9af0e95f09.png">

screenshot from devstats ^^^

Is this issue done?

[2018-11-21 18:21] nikhita commented on #2666
@lukaszgryglicki Can you confirm this and if it's done, then close the issue?

[2018-11-21 18:32] lukaszgryglicki commented on #2666
It is done. See done column [here](https://github.com/cncf/devstats/projects/1).

[2018-11-21 22:12] justaugustus opened #2959 "Create a URL shortener"
...that isn't nginx.
We currently use nginx configs [here](https://github.com/kubernetes/k8s.io/tree/master/k8s.io) to create vanity URLs for kubernetes web properties, but it would be great to have something more robust, self-service, **inserts more descriptors**.

I don't have specific parameters for what we'd want this to look like, just capturing, so it doesn't get lost in [Slack history](http

[2018-11-21 22:43] ameukam commented on #2959
Do we want to build something from scratch or _kubernetize_ open source tools like [polr](https://demo.polr.me/) ?

[2018-11-21 22:49] cblecker commented on #2959
/remove-good-first-issue
Definitely a help wanted, but it's not a defined enough request for gfi. There will need to be some back and forth.

[2018-11-21 23:01] BenTheElder commented on #2959
I'd actually suggest implementing it ourselves, since probably the interesting part is having a very minimal config.

A hypothetical home-grown service would just need to read the inbound URL and respond with an HTTP 301 redirect matching the config, or a 404 if there's no entry.
This could be written in a _very_ tiny bit of go and deployed to the existing k8s.io cluster, reading the config from a

[2018-11-21 23:10] cblecker commented on #2959
I'm also not opposed to a commercial saas offering though, if branding/marketing wanted to be able to track the use of redirects. Find which short links are being used, and which ones aren't, stuff like that.

[2018-11-22 07:17] nikhita commented on #2812
/area mentorship-planning

[2018-11-22 07:35] nikhita commented on #670
The comment problem is fixed by https://github.com/kubernetes/kubernetes/pull/70718 so we don't need to enforce the git version anymore. Closing.

/close

[2018-11-22 07:35] #670 closed

[2018-11-22 07:36] nikhita commented on #651
@justaugustus Is this still relevant given the latest changes in KEPs?

[2018-11-22 07:39] nikhita commented on #276
A little tangential but somewhat related: auditing OWNERS files - https://github.com/kubernetes/community/issues/2878.

[2018-11-22 08:09] nikhita commented on #1757
Created https://github.com/kubernetes/community/pull/2960 to add the help wanted guidelines in the issue triage doc.

[2018-11-22 08:09] nikhita commented on #1757
/remove-help

[2018-11-22 08:16] nikhita commented on #1808
Related https://github.com/kubernetes/community/issues/2878 and https://github.com/kubernetes/community/issues/2873

[2018-11-22 08:21] nikhita commented on #1894
The cherry-pick doc recently went through a round of improvements in https://github.com/kubernetes/community/pull/2408 and https://github.com/kubernetes/community/pull/1980. It was also updated from the test-infra side so that the bot reacts with useful comments for cherry-pick PRs https://github.com/kubernetes/test-infra/pull/9128.

Closing as this is now done.
/close

[2018-11-22 08:21] #1894 closed

[2018-11-22 08:39] nikhita commented on #2675
I have created https://github.com/kubernetes/community/pull/2961 to move this forward.

[2018-11-22 08:41] nikhita commented on #2703
/cc @ameukam

[2018-11-22 08:44] nikhita commented on #2953
We briefly discussed this on the [November 21st SIG Contributor Experience meeting](https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/edit#heading=h.1spbwskugzuo). The consensus was that we probably need metrics on the volume of trivial PRs and how much of an impact/problem it is for the community before moving ahead with any policy and/or automation changes. The curr

[2018-11-22 18:42] #1757 closed

[2018-11-22 19:54] justaugustus commented on #651
@nikhita -- yep. Ideally, I'd like to see active design proposals morph into KEPs over time, but for now we're prioritizing standardizing KEPs. From there, we'll work with SIGs individually to cleanup and migrate their design proposals.

[2018-11-23 04:23] yogipat2006 opened #2964 "CreateContainerConfigError"
Hi

I am using kubernetes version- GitVersion:"v1.11.2"
While deleting pod it says pod deleted successfully, but its not deleted. Pod status is -CreateContainerConfigError
Have tried below commands, but still pod is in same state-
kubectl delete pod <pod> --grace-period=0 --force --wait=false
kubectl patch pod <pod> -p '{"metadata":{"finalizers":null}}'

Can someone suggest how to fix this problem

[2018-11-23 06:20] nikhita commented on #2964
@yogipat2006 One of the common causes of this is usually an error in mounting volumes. https://stackoverflow.com/questions/50424754/pod-status-as-createcontainerconfigerror-in-minikube-cluster has some more details on how you can debug.

If the above link does not answer your questions, can you please repost your question to [StackOverflow](http://stackoverflow.com/questions/tagged/kubernetes) wit

[2018-11-23 06:20] #2964 closed

[2018-11-24 12:19] #1965 closed

[2018-11-26 07:46] lumjjb opened #2970 "Proposal: KEP Encrypted Container Images Support"
@stefanberger, @harche, @estesp and I have been working on OCI image encryption/decryption feature for containerd/kubernetes.

We have prepared a KEP for the feature. We think that it is relevant for sig-node and would like to share this with the group, and also get some feedback on the KEP - we are good to give a demo of the feature!

Here’s a link to the KEP draft (demo included): https://docs.g

[2018-11-27 00:10] BenTheElder commented on #2959
Interesting.

We do have another project with [dns management](https://github.com/kubernetes/k8s.io/tree/master/dns) in the works, which will allow similar ownership and management of the domains at some point IIRC, sounds like you might be able to lend a hand with that :-)

----

@cblecker A commercial service seems like overkill for serving some 301s / 404s imho, but perhaps not :^)

[2018-11-27 00:12] thockin commented on #2959
I'd rather kubernetize an OSS project, if we can.  We should not be
reinventing everything just for fun.

On Mon, Nov 26, 2018 at 4:10 PM Benjamin Elder <notifications@github.com>
wrote:

[2018-11-27 00:44] BenTheElder commented on #2959
I would agree, but I am not seeing something particularly suitable
currently.

https://polrproject.org/ (previously mentioned) seems to be the most
popular OSS one, but it's based around a PHP web UI / REST API, and
requires a SQL database.
Other projects seem very similar.

imho the ideal solution would just read declarative config from a
configmap, rather than a database, I haven't spotted anyth

[2018-11-27 02:37] tpepper opened #2975 "Steering charter is in separate repo"
In discussion around the placing of SIG Release's charter document (initially proposed for k/sig-release repo), there seemed to be consensus all key charters should be in k/community for common discoverability.

This is an outlier:
https://github.com/kubernetes/steering/blob/master/charter.md

Does it make sense to have that in k/community?  Should there be Committees in sigs.yaml and sig-list.md?

[2018-11-27 02:38] tpepper commented on #2975
/committee steering

[2018-11-27 02:39] tpepper commented on #2975
/assign @spiffxp

[2018-11-27 05:02] thockin commented on #2959
If we *really* can't find one, then making one is fine, I guess.  It's not
like it is a complicated program.

On Mon, Nov 26, 2018 at 4:44 PM Benjamin Elder <notifications@github.com>
wrote:

[2018-11-27 11:37] stp-ip commented on #2959
As a sidenote the current hosted instance and the underlying git -> DNS stuff is running in K8s.

Basically:
git-sync (sidecar) pulling in a git repository with bind files + CoreDNS serving the DNS <-- our own DNS records
CoreDNS sends notifies to our DNS provider on new commits
DNS provider is fronting our CoreDNS instance for reliability and speed
TXTDirect (caddy) with autoTLS (besides the TLS

[2018-11-28 05:08] maheshmahadevan commented on #2696
Is there still any room for additional contributors , if yes I will like to pitch in.

[2018-11-28 15:47] parispittman opened #2987 "content strategy for the contributor site"
Update: Jan 21st - I'll update this as an umbrella issue. The content strategy kick off happened on the 18th.  [Planning doc has been updated](https://docs.google.com/document/d/1_4qnfu5kNCxfO3yjaoBO6LM9KfqxGC4HnAvVakIQM-I/edit?usp=sharing) [sig contribex permissions]

tl;dr - we are getting a small working group together (no, not official kubernetes working group on the sigs list) of folks who wa

[2018-11-28 15:53] chris-short commented on #2987
I feel like this is something I can help with.

[2018-11-28 15:53] markyjackson-taulia commented on #2987
I can help here

[2018-11-28 15:53] mrbobbytables commented on #2987
Would be happy to help as well.

[2018-11-28 15:57] geekygirldawn commented on #2987
I'd be happy to help out. In particular, I'd love to help dig into the survey data, but I'm also happy to do any of these other items :)

[2018-11-28 17:55] jberkus commented on #2987
I can help with this starting in January, particularly funneling content both out of the NCW and the Release Team.

[2018-11-28 22:05] parispittman commented on #2745
to summarize attendance: aws, autoscaling, scheduling, node, release, multicluster, ibmcloud, azure, scalability, network, storage, cluster lifecycle, cli, architecture, and contribex.

[2018-11-29 00:42] parispittman commented on #2813
@tpepper @jberkus - any materials that we should include for release that chairs need to know?

[2018-11-29 06:28] brendandburns opened #2992 "Track CVEs for kubernetes dependencies..."
Kubernetes has a very large number of golang library dependencies. While there is some work to track and ensure license compatability, there is little to know work done to track vulnerabilities in these library dependencies.

Indeed, I don't know of a database (something like https://ossindex.sonatype.org/) for go libraries that we could use. (perhaps the CNCF can help here...)

But the lack of to

[2018-11-29 08:29] HackToHell opened #2994 "CRI log format needs to define maximum file name length better."
I recently ran into an issue with Fluentd being unable to buffer logs from kubernetes because the length was more than the OS maximum. https://github.com/fluent/fluentd/issues/2195

This might be a problem even in the newer CRI log format as kubernetes names can by upto 253 chars and the CNI defines a log line as

``` /var/log/pods/<podUID>/<containerName>_<instance#>.log ```

Where both the `cont

[2018-11-29 08:31] HackToHell commented on #2994
/sig node

[2018-11-29 09:32] chenrui333 commented on #558
Did we update the logging conventions for this issue?

[2018-11-29 12:56] jayunit100 commented on #2992
Agree , one highly visible critical CVE unchecked could really hurt a data center and even if not, if public it would hurt the growth and adoption of kubernetes in enterprises.

Should this
Be part of the build process ?  We may be able to Integrate with blackduck copilot .

[2018-11-29 13:09] dims commented on #2992
@jayunit100 AFAICT copilot does not support golang (looking at https://copilot.blackducksoftware.com/)

[2018-11-29 18:15] cblecker commented on #2992
cc: @kubernetes/product-security-team

I know GitHub does this for other languages.. I wonder if they will start doing it for Go 🤔.

[2018-11-30 17:20] brendandburns commented on #2992
@jessfraz Do you know anything about tools that Github might be working on?

[2018-11-30 17:36] jessfraz commented on #2992
yes there is work on better tooling around this, so if you can hang tight for a little bit (maybe a few months but don't quote me on that) it will get better

[2018-11-30 17:38] jessfraz commented on #2992
I had talked to @cblecker about our plans here with github integrations but happy to discuss with anyone else as well :) don't want to necessarily make promises in public in writing just in case things change a little but we would love feedback on the ideas going forward

[2018-11-30 22:52] brendandburns commented on #2992
@jessfraz any chance you can add me to the email?

[2018-11-30 23:41] jessfraz commented on #2992
Added!

[2018-12-01 09:52] justaugustus commented on #2730
The migration has been completed.

Capturing the commands for posterity...

**Extracting KEPs from k/community**
[code]

**Pulling KEPs into k/enhancements**
[code]

Before considering this complete, we need to:
- Tombstone all KEP files in k/community: #3002
- Prevent future KEPs from landing in k/community: https://github.com/kubernetes/community/issues/2726

[2018-12-01 17:04] smarterclayton commented on #2970
Please make the doc commentable by the node sig group.

[2018-12-02 04:39] harche commented on #2970
@smarterclayton sorry. Just added `kubernetes-sig-node@googlegroups.com` to that doc's ACL. Let me know if it works for you now.

[2018-12-03 05:35] nikhita commented on #2593
/remove-lifecycle stale

[2018-12-03 07:12] #2726 closed

[2018-12-03 08:08] justaugustus commented on #2730
Tombstones and blockade are in place, so we can close this out now.
/close

[2018-12-03 08:08] #2730 closed

[2018-12-03 18:17] spiffxp commented on #2234
/sig cluster-lifecycle
kubeadm does some amount of node-level dependency verifying, perhaps their mechanism is a place to start

Also ref: https://github.com/kubernetes/sig-release/issues/400 for the release team to at least have some kind of documented process to follow in its checklist

[2018-12-03 18:23] tpepper commented on #2234
@marpaia fyi

[2018-12-04 11:06] heikoettelbruecksap opened #3006 "OpenID Connect: Identify user by more JWT claims than just a single one"
Summary:

In our use case, ID tokens of our OpenID connect provider (CF UAA) don't have a single claim that
* uniquely identifies a user and
* is human-readable (= usable in a Kubernetes cluster, e.g. for role bindings, auditing).
However, currently the API server only supports choosing a single claim (=> usernameClaim) which is treated as (expected to be unique) user name within the cluster.
Basi

[2018-12-04 11:07] heikoettelbruecksap commented on #3006
@kubernetes/sig-auth-feature-requests

[2018-12-04 20:34] guineveresaenger commented on #2745
Dear SIG meet-and-greeters,

thank you again for being available to welcome new contributors into our community.

Here's a quick update on the details:

What: Be ready to chat with newcomers about their interests, be ready to exchange email/slack handles, set up SIG meeting invites, have a few "good first issues" or starting strategies on hand.

How: We will have table signs for each SIG and I wil

[2018-12-05 00:37] philips commented on #2766
Closed via https://github.com/kubernetes/community/pull/2702 I believe.

[2018-12-05 18:00] castrojo commented on #2884
Not really, it has documentation, perhaps we can riff on something like this? https://meta.discourse.org/t/discourse-moderation-guide/63116?u=erlend_sh&source_topic_id=65817

[2018-12-05 18:52] parispittman commented on #2884
the guidelines should link to that and then also take the discuss stuff for creation of lists from sig-governance. we need a canonical source of truth for all things discuss to link to that instead of talking about it in several docs across the community repo.

[2018-12-05 19:44] Jeffwan commented on #2745
Would like to join for sig aws. please email seedjeffwan (at) gmail.com

[2018-12-05 19:56] zjs commented on #2176
I looked through the resources linked to from the [sig-list](https://github.com/kubernetes/community/blob/master/sig-list.md) and organized the information about the relationships in the following table:

| Working Group | Working Group Name | Status | Relevant SIGs |
|--|--|--|--|
| wg-app-def | Application Definition | Inactive [[1]] | sig-api-machinery, sig-apps, sig-cli [[2]] |
| wg-apply | Ap

[2018-12-05 19:58] sun7927 opened #3013 "Is it required to deploy flexvolume plugin to the master for volume resizing?"
According to the flexvolume volume resizing design, the flexvolume plugin has to be installed on master node to get ExpandVolume() call. If the plugin can't be installed on master because of some restrictions, is there any workaround or solution for it?

@xingzhou
/sig storage

[2018-12-05 22:21] gnufied commented on #3013
No, it is not required to have flexvolume plugin installed on the master. If plugin is not installed on the master then control-plane call is basically a NOOP and resizing will be done on the node. There should be a follow up PR for updating flexvolume.md . cc @aniket-s-kulkarni

[2018-12-05 22:22] gnufied commented on #3013
/close

[2018-12-05 22:22] #3013 closed

[2018-12-05 22:46] brahmaroutu opened #3014 "Document FlexVolume resize feature"
For clarity on the feature, this feature needs to be documents as suggested in the docs PR: https://github.com/kubernetes/website/pull/10097

Please update the relevant information into the document on how to use this feature.
 https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md

[2018-12-05 22:48] brahmaroutu commented on #3013
@gnufied Opened an issue on the community docs to update the feature information.
https://github.com/kubernetes/community/issues/3014

[2018-12-05 22:55] sun7927 commented on #3013
@gnufied thanks for your reply. Is the flexvolume resizing feature ready in kubernetes 1.13 now? I didn't see it in the release notes.

[2018-12-05 23:08] brahmaroutu commented on #3014
/sig storage

[2018-12-06 00:16] spiffxp commented on #2029
/close
I'll close this and take on the followup item separately as it's out of scope for this issue

[2018-12-06 00:16] #2029 closed

[2018-12-06 00:19] spiffxp commented on #2031
@jorge @parispittman re: https://github.com/kubernetes/community/issues/2031#issuecomment-417956179

can we follow the process that was merged in https://github.com/kubernetes/community/pull/2832 to officially sunset SIG cluster-ops?

[2018-12-06 00:59] zehicle commented on #2031
+1

<https://www.rackn.com/>

Rob Hirschfeld

Co-Founder and Chief Executive Officer, RackN

(512) 773-7522

<https://twitter.com/zehicle?lang=en>
<https://www.linkedin.com/in/rhirschfeld/>

On Wed, Dec 5, 2018 at 6:19 PM Aaron Crickenberger <notifications@github.com>
wrote:

[2018-12-07 02:39] khacminh opened #3019 "About contributing EFS CSI Driver"
Hi,

Currently, Kubernetes (and EKS) doesn't support EFS mounting using **amazon-efs-utils** package. The only way to connect to EFS is using NFS Persistent Volume. In this way, the advances of EFS cannot be used, such as TLS connection.

**It would be great if AWS can contribute an EFS CSI Driver for Kubernetes.**

Thanks

@kubernetes/sig-aws-feature-requests

[2018-12-07 02:39] khacminh commented on #3019
/sig-aws

[2018-12-07 02:41] khacminh commented on #3019
/sig sig-aws

[2018-12-07 02:46] d-nishi commented on #3019
@khacminh this is in the roadmap plan for SIG AWS
@leakingtapan and @bertinatto are on point for this.

/assign @leakingtapan @bertinatto

[2018-12-07 02:47] d-nishi commented on #3019
/milestone 1.14 alpha

[2018-12-07 10:28] slimee opened #3020 "MountVolume.SetUp failed for volume “mongo-two”: lstat /mongo/data: no such file or directory"
**What happened**:
Failed to mount a local-storage volume. (stateful-set with PVC + PV + local-storage class)
First PV is at "Bound" status with correct PVC, but deployment never ends.
Kubelet log say:  lstat /mongo/data: no such file or directory
But /mongo/data exists on the hosts.

**What you expected to happen**:
Volume should be successfully mounted.

**How to reproduce it (as minimally and p

[2018-12-07 10:30] slimee commented on #3020
@kubernetes/sig-storage-bugs

[2018-12-07 10:31] parispittman commented on #2031
@zehicle @spiffxp - we will start on this asap post KubeCon

[2018-12-07 14:55] zehicle commented on #2031
No rush from my end

[2018-12-07 17:31] slimee commented on #3020
Ok the difference was I use contenairized kubelet.
I add my volume bound into kubelet container and it's OK.

[2018-12-07 17:31] #3020 closed

[2018-12-07 18:18] cblecker commented on #3019
@d-nishi is there a more appropriate repo for this? If so, I can move it over.

[2018-12-07 18:47] d-nishi commented on #3019
@cblecker - this can be moved under aws-csi-ebs-driver for now.

[2018-12-07 19:22] cblecker commented on #3019
Oh, darn. Looks like the issue transfer (which is still in beta) only works to other repos in the org.

[2018-12-07 19:23] d-nishi commented on #3019
We can close here and can ask the creator to recreate in the correct location?

[2018-12-09 10:10] justaugustus commented on #2565
No you don't, @fejta-bot ...
/remove-lifecycle stale
/lifecycle frozen

[2018-12-10 17:46] nikhita commented on #1297
/remove-lifecycle rotten
/assign

[2018-12-10 22:08] cblecker commented on #2660
/remove-lifecycle stale

[2018-12-10 22:08] cblecker commented on #2659
/remove-lifecycle stale

[2018-12-11 09:09] Davidrjx opened #3025 "invalid firewall policies setup on a certain node"
i intend to firewall some services with NodePort type, making them inaccessible from outside. i try to setup DOCKER-USER and FORWARD chains in filter table, but some ports of a few nodes in cluster are still accessible from public.
i do not know why, could anyone please give some guides? thanks.

[2018-12-11 09:09] Davidrjx commented on #3025
@sig-network

[2018-12-11 09:11] Davidrjx commented on #3025
@kubernetes/sig-aws-feature-requests

[2018-12-11 09:12] Davidrjx commented on #3025
@kubernetes/sig-network

[2018-12-11 09:16] Davidrjx commented on #3025
invalid

[2018-12-11 09:17] #3025 closed

[2018-12-11 09:17] Davidrjx opened #3026 "invalid firewall policies setup on a certain node"
i intend to firewall some services with NodePort type, making them inaccessible from outside. i try to setup DOCKER-USER and FORWARD chains in filter table, but some ports of a few nodes in cluster are still accessible from public.
i do not know why, could anyone please give some guides? thanks.

[2018-12-12 18:37] shubheksha commented on #3026
@Davidrjx, you'd have better luck asking in the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures). This repo is a collection of resources about joining the community.

[2018-12-12 18:37] shubheksha commented on #3026
/close

[2018-12-12 18:37] #3026 closed

[2018-12-14 19:13] DXist commented on #2210
Hi.

I consider to support scaling for RabbitMQ priority queues. I think about these metrics:

* ingress rate for high priority messages to make sure we have enough capacity for low latency processing
* QoS processing time for different priority classes. For example 10 seconds for priority 1 and 2 hours for priority 0 (the lowest).

The use case is online and offline job processing.

[2018-12-15 03:30] chaitanyaenr commented on #2856
@shyamjvs PTAL.

[2018-12-15 03:41] idealhack commented on #1724
/remove-lifecycle stale
/lifecycle frozen

[2018-12-15 03:43] idealhack commented on #1645
/remove-lifecycle stale
/lifecycle frozen

[2018-12-15 03:43] idealhack commented on #1514
/remove-lifecycle stale
/lifecycle frozen

[2018-12-15 03:43] idealhack commented on #1665
/remove-lifecycle stale
/lifecycle frozen

[2018-12-15 03:44] idealhack commented on #1726
/remove-lifecycle stale
/lifecycle frozen

[2018-12-15 03:46] idealhack commented on #1863
/remove-lifecycle stale
/lifecycle frozen

[2018-12-15 03:46] idealhack commented on #2012
/remove-lifecycle stale
/lifecycle frozen

[2018-12-15 22:36] shrasool commented on #2660
@parispittman I was going through the December video and did felt the need for the last point 'need a transcript per episode or at least a document of questions and the times of their answers' and since I would be viewing the previous versions I can do that. A format reference would be helpful!

Is there any doc on website or in this repo which is set up for this purpose or do we add this in the d

[2018-12-16 16:44] mrbobbytables opened #3032 "Contributor workflow etiquette doc"
This is a follow-up to a discussion on Slack / at KubeCon. As a part of the revamped Developer Guide, there should be a short cheatsheet or "TL;DR" edition that covers common project/git etiquette. A few examples of what should be included would be the information on "[Trivial Edits](http://git.k8s.io/community/contributors/guide/pull-requests.md#10-trivial-edits)" and "[Squashing and Commit Title

[2018-12-16 17:38] parispittman commented on #3032
Can we add to this one? https://github.com/kubernetes/community/blob/master/contributors/guide/contributor-cheatsheet.md

[2018-12-16 17:43] mrbobbytables commented on #3032
I would say so :)

[2018-12-16 19:03] mrbobbytables commented on #3032
Title has been updated to better reflect goal.

After some quick discussion, it should be a separate doc. The intent is not to be a larger "cheatsheet" for the project, but more of a focused doc on developer/git community practices.

[2018-12-16 19:08] parispittman commented on #3032
@eduartua - can you add this need to your doc

[2018-12-17 16:40] castrojo opened #3035 "Moderators.md needs a travel section"
Every single list/discuss/youtube moderator was in Kubecon Seattle.

We were too busy to constantly check our properties, we need to document a procedure for major events so that people not attending can keep an eye on our online presence. This could simply just be a planning checklist for each event.

/sig contributor experience
/assign

[2018-12-17 18:32] nikhita commented on #3035
/sig contributor-experience
/area community-management

[2018-12-17 18:34] nikhita commented on #1971
/remove-lifecycle stale
/sig release
/cc @marpaia

[2018-12-17 18:35] nikhita commented on #2815
@parispittman @tpepper Thanks for making this happen! :heart:

Closing since this is now done.
/close

[2018-12-17 18:35] #2815 closed

[2018-12-17 18:38] nikhita commented on #2745
Thanks for making this happen, everyone! :heart:

Closing since this is now done.
/close

[2018-12-17 18:39] nikhita commented on #2745
/close

[2018-12-17 18:39] #2745 closed

[2018-12-17 18:44] nikhita commented on #2291
@whs-dot-hk I'm still confused. Can you elaborate on what you mean by "posts"?

[2018-12-17 18:46] nikhita commented on #2176
@zjs Thanks!

/commitee steering
I guess steering still needs to weigh in on this (?)

[2018-12-17 18:48] nikhita commented on #1999
+1

Also, I think we have achieved a few of these already \o/

[2018-12-17 18:49] nikhita commented on #1999
/area community-management

[2018-12-17 22:12] sun7927 opened #3036 "Flexvolume volume resizing feature doesn't work"
/sig storage

**what happened**
Setup a one-node Kubernetes 1.13 cluster and installed with a plugin with volume provisioner and flexvolume for an external block storage. It worked correctly and successfully to create a PVC and a Pod using it. However, it went in a problem when expanding the PVC, that the flexvolume plugin didn't get ```expandfs``` call.

**what is expected to happen**
When expand

[2018-12-17 22:35] dims opened #3038 "Single google group or alias for all org members"
At ASF, there's a `committers@apache.org` which is auto-magically maintained with a list of everyone with CLAs.

Similarly can we please have an alias/group that we can populate with all the org members of various github orgs under our aegis?

Thanks,
Dims

[2018-12-18 06:38] nikhita commented on #1537
/remove-lifecycle stale

Somewhat related: https://github.com/kubernetes/community/issues/2759

[2018-12-18 11:49] babalsurer opened #3039 "Kubernetes with vmware"
Hi,
  How i can start minikube with Vmware.?

[2018-12-18 13:13] dims commented on #3039
please ask on https://github.com/kubernetes/minikube/

/close

[2018-12-18 13:13] #3039 closed

[2018-12-18 17:23] cblecker commented on #3038
/sig contributor-experience

This is supposed to be what k-dev is for (it's a requirement for getting membership)

[2018-12-19 00:21] guineveresaenger commented on #2100
We have a slide deck from Seattle linked in https://github.com/cncf/presentations/tree/master/kubernetes
and we will also have a recording somewhere.

I will come up with a good place to make this discoverable in the new year!

[2018-12-19 06:21] idealhack commented on #2100
https://github.com/kubernetes-sigs/contributor-playground/pull/213

[2018-12-19 06:34] idealhack commented on #2050
/lifecycle frozen

[2018-12-19 15:35] nikhita commented on #2441
The testgrid introduction from the 2018 Contributor Summit is being added to the testgrid README: https://github.com/kubernetes/test-infra/pull/10483, maybe we can cross reference it here later.

/cc @fejta @michelle192837

[2018-12-19 16:05] ankitpateledu opened #3043 "question : How to configure global settings for k8s pods deployment"
Hi All

I am debugging certain behavior from my application pods; i am launching on K8s cluster. In order to do that I am increasing logging by increasing verbosity of deployment by adding ` --v=N ` flag to` Kubectl create deployment ` command.

my question is : how can i configure increased verbosity globally so all pods start reporting increased verbosity; including pods in kube-system name spac

[2018-12-19 16:12] ankitpateledu commented on #3043
@k8s-ci-robot  how do i apply label here; i dont see an option

[2018-12-19 16:54] parispittman opened #3044 "Wrap up contributor summit 2018"
- [x] survey (2 different surveys - separate one for ncw that @jberkus completed)

- [ ] blog post

- [x] wrap up email to all attendees

- [x] picture album

- [x] youtube videos

- [ ] meet with cncf re: budget and responsibilities

[2018-12-19 17:41] parispittman commented on #3044
josh has some responses already collected from seattle, shanghai for ncw. thinks they will have some content restructuring for it next year.

[2018-12-19 19:05] cblecker commented on #3043
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-12-19 19:05] #3043 closed

[2018-12-19 19:20] parispittman commented on #2850
https://hackmd.io/Fe8YTu5XSUyt4dP3P2MGkg?view -author: @mrbobbytables

[2018-12-21 00:10] Jeffwan commented on #2405
@cabrinoob  I took some time to look at this issue. Actually, aws manager will retrieve asg information, and then convert ASG tags into Labels and only save in memory. It doesn't run command like `kubectl label` so that's why you can not see labels there.

[2018-12-21 11:20] nikhita commented on #3044
/area community-management

[2018-12-25 17:39] nikhita commented on #2663
/remove-lifecycle stale

[2018-12-26 05:32] nikhita commented on #2667
/remove-lifecycle stale

[2018-12-27 11:34] nikhita opened #3053 "Ensure all repos have the CoC"
I wrote up some quick Go code for identifying repos that don't have the `CONTRIBUTING.md` file for https://github.com/kubernetes/steering/issues/28. Used the same one for finding missing LICENSE files (https://github.com/kubernetes/steering/issues/57#issuecomment-450132738) and CoC.

The following repos don't have the file `code-of-conduct.md` at their root:

**kubernetes:**
kubernetes/website
kub

[2018-12-27 12:04] nikhita commented on #3053
Created PRs for all repos with missing CoC:

- https://github.com/kubernetes/website/pull/11919
- https://github.com/kubernetes/klog/pull/33
- https://github.com/kubernetes/cloud-provider-sample/pull/1
- https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/792
- https://github.com/kubernetes-sigs/aws-iam-authenticator/pull/186
- https://github.com/kubernetes-sigs/mutating-trace-admis

[2018-12-28 13:39] nikhita commented on #2725
/remove-lifecycle stale

[2018-12-28 13:39] nikhita commented on #2724
/remove-lifecycle stale

[2018-12-28 14:39] nikhita commented on #2727
/remove-lifecycle stale

[2018-12-28 21:03] BenTheElder commented on #3053
SGTM 👍
No real opinions on the tool itself, whatever @jessfraz prefers regarding secping.
If we can write less new code, great! 💯  If not, it wouldn't be much more new code in test-infra 🙃

[2018-12-31 10:11] luxas commented on #2892
I'm okay with / supportive of creating a new kubernetes-sigs repo (e.g. `kubernetes-sigs/juju-charms` or `kubernetes-sigs/cluster-api-{juju,charms}`) for getting this code out of the core k8s repo. It shouldn't be in the core repo for multiple reasons.

Are you able to mention confirmed numbers or public users (optional, but it'd help build your case. You can do this to the leads privately as well

[2018-12-31 13:33] idealhack commented on #1913
/remove-lifecycle stale

[2019-01-01 14:01] Zyqsempai opened #3059 "Broken link in governance.md"
Link to `kubernetes repository guidelines` is broken in governance.md, Repository guidelines section.
I can easily fix it, but since Kubernetes incubator is deprecated now, wouldn't it be good to exchange "Repository guidelines" with "Kubernetes subprojects" description and link?

[2019-01-01 14:18] Zyqsempai commented on #3059
/sig contributor-experience

[2019-01-01 18:19] Zyqsempai commented on #3059
@calebamiles Sorry, I choose your name from owners list, what do you think about this topic??

[2019-01-01 18:46] nikhita commented on #3059
@Zyqsempai Good catch about the broken link!

The document at the old link has been moved to https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md. The term "repository guidelines" in governance.md indicates guidelines that each repo needs to follow.

We don't really have a term "Kubernetes subprojects" -- we only have subprojects under each SIG. Each rep

[2019-01-01 19:14] Zyqsempai commented on #3059
Ok. thanks, will open PR soon.

[2019-01-02 16:50] roberthbailey commented on #2892
Thanks for following up on this @luxas and bringing it back onto our radar for 2019.

I agree that if we plan to keep this code in the Kubernetes community repositories then the maintenance model will need to change and we need to adhere to the requirements for any SIG / SIG subproject.

One comment about this quote from the PR comment thread:

kops and minikube are in the kubernetes org because t

[2019-01-02 17:03] eduartua opened #3064 "Umbrella issue - Revamping the Kubernetes Developer’s guide"
The contributor guide has been revamped. This is a mostly general guide for all who are getting ramped up on Kubernetes upstream contributions. We need to produce a section of that with the name “The developer guide”

As per [#1919](https://github.com/kubernetes/community/issues/1919) and [#892](https://github.com/kubernetes/community/issues/892), and the content within the /devel folder, we have

[2019-01-02 17:05] eduartua commented on #3064
/sig contribex

cc @parispittman @nikhita

[2019-01-02 17:06] nikhita commented on #3064
Looks great, @eduartua! :heart:

/sig contributor-experience
/kind feature

I know its more "developer guide" than contributor guide but would be useful to find/triage issues, so:
/area contributor guide

[2019-01-02 17:11] eduartua commented on #3064
I rewrote what I had in the doc, so this feels more like a real guide. We need to come to a consensus about the skeleton.

[2019-01-02 17:12] nikhita commented on #1919
Related: @eduartua will be working on this as a part of [Outreachy](https://www.outreachy.org/) and has created an umbrella issue https://github.com/kubernetes/community/issues/3064 about this.

[2019-01-02 19:16] nikhita commented on #1919
I think we can close this issue in favour of https://github.com/kubernetes/community/issues/3064, since that is being actively worked on.

I'll leave this issue open until the end of the week and close it in case no one has any objections.

[2019-01-02 19:16] nikhita commented on #892
I think we can close this issue in favour of https://github.com/kubernetes/community/issues/3064, since that is being actively worked on.

I'll leave this issue open until the end of the week and close it in case no one has any objections.

[2019-01-02 21:46] leakingtapan commented on #3019
/assign @leakingtapan

[2019-01-02 22:38] leakingtapan commented on #3019
@khacminh @gregsidelinger Here is the EFS CSI Driver repo: https://github.com/aws/aws-efs-csi-driver Please create issues/feature requests there. Thx

/close

[2019-01-02 22:38] #3019 closed

[2019-01-02 23:04] cblecker commented on #3059
fixed by #3060
/close

[2019-01-02 23:04] #3059 closed

[2019-01-05 00:13] spiffxp commented on #1537
/area deflake

Guess what, a lot of this content once existed in k/community, and then got moved into k/sig-release/ephemera. (ref: https://github.com/kubernetes/sig-release/issues/428)

In lieu of debugging/troubleshooting (which could cover a lot of things IMO) I would suggest a  "test failure triage" guide or something, although I admit "troubleshooting" is probably a more common phrase.

IMO w

[2019-01-05 00:14] spiffxp commented on #1537
/priority important-soon
/kind documentation

[2019-01-05 00:15] spiffxp commented on #1537
/area deflake
(now that the label exists)

[2019-01-06 11:03] nikhita commented on #2176
Created https://github.com/kubernetes/community/pull/3069 to try to move this forward. I think we still need input from steering and/or each WG on their stakeholder SIGs -- but I created the PR so that we can either iterate or start the discussion on it.

[2019-01-06 11:05] nikhita commented on #2619
/committee steering

[2019-01-07 10:44] nikhita commented on #1997
/remove-lifecycle stale

[2019-01-07 10:45] nikhita commented on #2770
/remove-lifecycle stale

[2019-01-07 15:58] parispittman commented on #1997
/assign

I'm working on this

[2019-01-07 16:39] guineveresaenger commented on #3064
Thank you so much for this, @eduartua! A couple thoughts, in no particular order:

At the danger of repeating others, I want to point out the [Python Developer Guide](https://devguide.python.org/) as a fantastic example of a very useable, helpful dev guide.

Please ping me (here or on Slack) about files that are more a contributor guide topic than a technical dev guide topic that need to be delete

[2019-01-07 17:48] guineveresaenger commented on #3064
Found a couple related issues; perhaps add to the list of files above:
https://github.com/kubernetes/community/issues/1537 (regards `testing.md`)
https://github.com/kubernetes/community/issues/2759 (regards e2e tests)

[2019-01-07 18:39] mrbobbytables commented on #2466
/remove-lifecycle stale

[2019-01-07 20:56] cblecker commented on #2649
Closing per https://github.com/kubernetes/steering/issues/74

[2019-01-07 20:56] #2649 closed

[2019-01-07 21:45] tpepper commented on #3064
Looking good to me for a start!  A few small comments:

The sections:
 * Building and running Kubernetes
 * Deploy process
might better be:
 * Building Kubernetes
 * Deploying and running your Kubernetes code

In the deploy and run section I think some treatment needs given to the multitude of host platforms on which one might run.  This also then relates to cloud provider code.  I'm curious if @a

[2019-01-07 22:49] fejta commented on #3053
Using her code sgtm, but I think the tool should have a different name than secping, although it wouldn't be the end of the world if that happens.

[2019-01-07 23:47] parispittman commented on #2987
sent a doodle poll out to folks on this list for a kick off.

[gdoc here shared with contribex members](https://docs.google.com/document/d/1_4qnfu5kNCxfO3yjaoBO6LM9KfqxGC4HnAvVakIQM-I/edit?usp=sharing)

[2019-01-07 23:51] markyjackson-taulia commented on #2987
I didn't get the doodle poll but can help when needed

[2019-01-08 00:19] jberkus commented on #3044
I need to get the Shanghai NCW survey data from the CNCF because it was on Surveymonkey.  Requested.

[2019-01-08 02:26] spiffxp opened #3071 "Umbrella issue - deflaking kubernetes e2e tests"
/assign @mariantalla @jberkus @spiffxp
/area deflake
/sig release
/sig testing

NOTE: I'm not actually sure an umbrella issue makes sense here. I'm creating one so I have something to link to from the [1.13 Retro](https://bit.ly/k8s113-retro)

We had a session on deflaking e2e tests at the Kubecon Seattle Contributors Summit.  We also had an impromptu meeting later at Kubecon Seattle.  I rambled a

[2019-01-08 06:56] nikhita commented on #3071
nit: I am an org member but don't have write access and I can see the "New Project" button on https://github.com/orgs/kubernetes/projects but I can't move cards/issues/PRs in a board....so managing a board would need also need write access. :upside_down_face:

[2019-01-08 14:35] mariantalla commented on #3071
Started populating [projects/7](https://github.com/orgs/kubernetes/projects/7), please pardon the dust (and let me know for feedback! 🙏🏻) while I add more issues.

[2019-01-08 17:59] spiffxp commented on #2323
Opened https://github.com/kubernetes/org/issues/336 for "what would it take for peribolos to manage this"

[2019-01-08 18:15] hogepodge commented on #2770
In recent discussions with SIG-Cloud-Provider participants at KubeCon Seattle, it was indicated that many providers would like to keep their SIGS, or SIG-like structures, intact for further cross-SIG development and user support. This will be an ongoing topic of discussion and we can use this as a tracking issue for it.

[2019-01-08 18:16] hogepodge commented on #2770
/assign @hogepodge @andrewsykim @jagosan

[2019-01-08 18:19] d-nishi commented on #2770
@hogepodge we discussed the idea of sub sigs under sig cloud provider.

Is that discussion being moved forward?

[2019-01-08 18:21] hogepodge commented on #2770
The discussion will be moving forward, no decision has been made on any particular course of action yet.

[2019-01-08 18:30] andrewsykim commented on #2770
I'm working on a proposal that will be reviewed by steering committee, but would be great to get everyone in the SIG (and other provider SIGs) to review first :).

[2019-01-08 18:35] d-nishi commented on #2770
@andrewsykim let’s work together on the proposal if that’s fine by you. Would love to help!

[2019-01-08 18:39] andrewsykim commented on #2770
Sounds good! I'll share a template of it soon :)

[2019-01-08 18:46] hogepodge commented on #2770
/assign @d-nishi

[2019-01-08 18:56] justaugustus commented on #2770
@andrewsykim -- happy to review as well!
/assign

[2019-01-09 00:23] parispittman opened #3076 "create more roles for contribex"
Creating more roles will help our SIG in the following ways:
- breaking down work, assigning tasks, ownership
- create opportunities for contributors
- recognition

Will discuss further on our weekly update calls with follow ups here and mailing list for discussion. Need to define scope, responsibilities, align with subprojects, and document.

Role ideas:
- New contributor ambassador (for our SIG;

[2019-01-09 04:11] eduartua commented on #3064
Thank you @tpepper I will include those sections.

[2019-01-09 10:09] nikhita commented on #1919
Closing in favour of #3064. Please reopen if needed.

/close

[2019-01-09 10:09] #1919 closed

[2019-01-09 10:09] nikhita commented on #892
Closing in favour of #3064. Please reopen if needed.

/close

[2019-01-09 10:09] #892 closed

[2019-01-09 10:53] manukasa opened #3078 "[kubelet-check] It seems like the kubelet isn't running or healthy."
when ran the Kubeadm init command
sudo kubeadm init --pod-network-cidr=192.168.0.0/16 --apiserver-advertise-address=<IP Address>

[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp 127.0.0.1:10248: connect: connection refused.

[2019-01-09 11:00] manukasa commented on #3078
Detailed Log
[init] Using Kubernetes version: v1.13.1
[preflight] Running pre-flight checks
        [WARNING HTTPProxy]: Connection to "https://<IP>" uses proxy "http://104.129.192.34:9480". If that is not intended, adjust your proxy settings
        [WARNING HTTPProxyCIDR]: connection to "10.96.0.0/12" uses proxy "http://104.129.192.34:9480". This may lead to malfunctional cluster setup. Make sur

[2019-01-09 11:02] manukasa commented on #3078
Ubuntu Version
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial
--------------------------------------------------------------------------------------------------------------
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13

[2019-01-09 12:17] neolit123 commented on #3078
hi, the community repo is not for issue tracking.
you can try logging this issue in kubernetes/kubeadm.
or asking on stackoverflow for help.

on a quick look it seems that your proxy setup is incorrect.

/close

[2019-01-09 12:17] #3078 closed

[2019-01-09 13:11] manukasa commented on #3078
Thanks  @neolit123  will do it

[2019-01-09 15:43] mattj-io opened #3079 "Umbrella issue - Project Management improvements for sig-contribex"
This issue will track the development of project management tooling/workflow for sig-contribex. As I understand it, we currently have a number of issues

1. Github's kanban's are not necessarily very effective for non-code project management - no dependency tracking, lack of subtasks etc. etc.
2. Issues in this area can be defined too broadly, making the definition of done difficult to assess
3. T

[2019-01-09 15:45] mattj-io commented on #3079
/sig contributor-experience

[2019-01-09 15:47] mattj-io commented on #3079
First open question as devils advocate - why use github for non-code project management ? It doesn't have the full set of features that something like Trello or JIRA would have. Non-devils advocate, I can also see the benefit of keeping everything for the project within a single system.

[2019-01-09 15:49] mattj-io commented on #3079
Within the github ecosystem, there are a number of addons which improve the project management capabilities eg. codetree and waffle.

Waffle ( https://waffle.io/ ) is free for open source
Codetree ( https://codetree.com/ ) costs 💵

Both add sizings, dependency tracking etc.

[2019-01-09 15:55] mattj-io commented on #3079
Aside from tooling, the issues I can see already are

1. Need a definition of sizing and some way of allocating it
2. Some issues are too widely defined and need breaking down into smaller units
3. Discuss having a deliverable timeframe ( per Contributor Summit was suggested in Seattle ) and plan only for that in order to timebox work
4. How to handle dependencies other than manually noting them

[2019-01-09 16:20] parispittman commented on #3079
Wanted to document my excitedness for organization lol :) thank you @mattj-io

Will thoroughly read and respond in a few hours

[2019-01-09 17:45] chris-short commented on #3044
I can do the blog post if no one is already working on it. @parispittman @jberkus @nikhita Please let me know.

[2019-01-09 17:49] spiffxp commented on #2818
/assign
/unassign @castrojo
I'm going to ensure the community meeting template is updated and then close this out

[2019-01-09 18:03] spiffxp commented on #3079
ref: https://github.com/kubernetes/sig-release/issues/432 for the GitHub/Airtable stuff I just mentioned in contribex meeting

[2019-01-09 18:32] idvoretskyi commented on #3079
/cc

[2019-01-09 22:31] jberkus commented on #2818
Having said the above, I just hunted down and scheduled a KEP for this week.

[2019-01-09 23:56] spiffxp commented on #2818
On the subject of KEPs specifically, I'm willing to work with 1.14 release team and sig arch to identify relevant high profile KEPs to be discussed in community

[2019-01-10 02:12] parispittman commented on #3044
@chris-short happy to have you. shared the doc with you. 50% of the words on paper so happy to co-author. thank you!

[2019-01-10 13:15] idvoretskyi commented on #3079
@mattj-io I made a brief review of these solutions, +1 on Waffle!

[2019-01-10 14:20] mattj-io commented on #3079
Yeah I liked waffle as well, although I imagine that has to be installed at the organisation level and I'm not sure what the complexity of getting that approved is. It may also be that we don't actually need all that feature set ..

[2019-01-10 14:30] mattj-io commented on #3079
for those who missed it, you can also see a live version of waffle at https://waffle.io/waffleio/waffle.io - big ticket features are dependency tracking, sizings, configurable swim lanes and a bunch of other cool stuff.

[2019-01-10 16:47] idvoretskyi commented on #3079
For some reason, Waffle is already installed for k/k, but was used a long time ago (1.2-1.3 timeframe).

[2019-01-10 22:44] jberkus commented on #2987
So, here's a list of comparable Contributor "sites" across other OSS projects so we can look at them:

* [Mozilla](https://www.mozilla.org/en-US/contribute/) - goodness included multiple paths for engagement *including* things like "follow us on twitter" which (AFAIC) are a lovely "stepping up" to contribution pathway; up-to-date events list; the "easy" interface here (https://www.mozilla.org/en-U

[2019-01-11 05:33] harche commented on #2970
@smarterclayton let me know if the doc is commentable for you now.

[2019-01-11 16:39] zjs commented on #3079
ZenHub (https://www.zenhub.com/) may also be worth considering, and is free for public repositories. One unique (AFAIK) thing about it is that it uses an optional browser extension to overlay the additional information/functionality directly in the GItHub UI.

[2019-01-11 17:44] #2715 closed

[2019-01-11 18:44] spiffxp opened #3087 "The Contributor Guide pull request doc conflates developer and non-developer personas"
/area contributor-guide
/kind documentation

Summarizing a [thread in #sig-contribex](https://kubernetes.slack.com/archives/C1TU9EB9S/p1547230614247500)

We view the contributor guide as a place where all contributors - developers, writers, etc can get the same information and if anything speaks to solely the developers persona, it should go in a dev guide.

We need to edit the contributor guide P

[2019-01-11 18:44] spiffxp commented on #3087
/sig contributor-experience

[2019-01-11 18:45] spiffxp commented on #3087
ref: https://github.com/kubernetes/community/issues/3064 for the developer guide

[2019-01-11 19:30] parispittman commented on #3087
/help

[2019-01-11 19:37] parispittman commented on #2987
also node -> https://nodejs.org/en/get-involved/contribute/

[2019-01-11 19:41] spiffxp commented on #992
Is this something we run? ref: https://github.com/kubernetes/test-infra/issues/5085

[2019-01-11 20:28] ixdy commented on #992
yes, it is.

[2019-01-11 23:58] BenTheElder commented on #3079
IIRC zenhub is blocked in the kubernetes org due to the oauth scopes it requests from users being too broad.

[2019-01-13 02:01] amjadkhoja opened #3091 "Getting error when deploying container through Kubectl"
Getting below error when we deploy a container from Kubernetes.
Window Worker Node is Windows server 2019 build 1809
Container image is mcr.microsoft.com/windows/nanoserver:1809  or any other image (tried with different images still same error)

Error response from daemon: CreateComputeSystem 94d1c5e13d7201f47af54f676d0a6c3220f4cdc70a02cb9398b11cc5dc189ae5:
The container operating system does not

[2019-01-13 02:03] cblecker commented on #3091
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-01-13 02:03] #3091 closed

[2019-01-13 18:19] nikhita commented on #2803
/remove-lifecycle stale

[2019-01-13 19:00] nikhita commented on #2759
/remove-lifecycle stale

On Mon 14 Jan, 2019, 12:28 AM fejta-bot, <notifications@github.com> wrote:

[2019-01-14 12:53] rus4 opened #3092 "unable to build kubetest"
@kubernetes/sig-testing-bugs
/sig testing
Upon following the documentation located here: https://github.com/kubernetes/test-infra/tree/master/kubetest
it fails for me when i try an do #  go get -u k8s.io/test-infra/kubetest on unbuntu bionic I have set my GOROOT an GOPATH variables.

[2019-01-14 14:01] rus4 commented on #3092
/help
/good-first-issue

[2019-01-14 17:53] spiffxp opened #3094 "Document how to suggest improvements to devstats"
/sig contributor-experience
/area devstats
/kind documentation
/assign @jberkus @Phillels

ref: [thread in #sig-contribex](https://kubernetes.slack.com/archives/C1TU9EB9S/p1547481917266500)

Let's document what the path is for suggesting improvements to devstats.  Apparently one of our most prolific contributors didn't even know https://github.com/cncf/devstats was a thing

[2019-01-14 17:57] nikhita commented on #3094
/cc @lukaszgryglicki

[2019-01-14 18:23] nikhita commented on #2536
/remove-lifecycle stale

[2019-01-14 18:44] phoenixking25 commented on #3092
@rus4 i also faced the same probelm, but i solved it by adding the path of `kubetest` executable in `$PATH` in ubuntu

[2019-01-14 21:12] jberkus commented on #3094
Any thoughts on where this documentation should go?  The new contributor site?

[2019-01-14 23:13] spiffxp commented on #3094
IMO I would update https://github.com/kubernetes/community/tree/master/sig-contributor-experience/devstats

[2019-01-14 23:30] eduartua opened #3097 "Grouping files in /devel folder by SIG"
This is related to #3064

Grouping files by SIGs will allow us to investigate which needs to be updated in a more efficient way. Also, the idea is that SIGs will be the onnwers of that files.

| SIG | Files |
|------|-------|
|[API Machinery](https://git.k8s.io/community/sig-api-machinery/README.md)|generating-clientset.md<br/>strategic-merge-patch.md<br/>controllers.md<br/>|
|[Architecture](https

[2019-01-15 10:30] phoenixking25 commented on #3092
here's what i added to my path `/home/<username>/go/bin` , point is dont add kubetest in path. Give path of the dir that is containing the executable

[2019-01-15 10:39] rus4 commented on #3092
Sure that's what I did originally but still no joy ,

`~#  export PATH=$PATH:/root/go/bin
root@BIONIC1:~# echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/root/go/bin/kubetest:/root/go/bin `

' root@BIONIC1:~# file /root/go/bin/kubetest
/root/go/bin/kubetest: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-6

[2019-01-15 10:42] rus4 commented on #3092
@phoenixking25 Im guessing theres a step that is not documented or written in another section that is required to get this working either that or something wrong with my base bionic install

[2019-01-15 10:44] phoenixking25 commented on #3092
You got it running or not?

[2019-01-15 10:46] rus4 commented on #3092
not yet

[2019-01-15 11:06] phoenixking25 commented on #3092
well adding dir path to $PATH worked for me

[2019-01-15 11:19] rus4 commented on #3092
@phoenixking25 looking at this again does it need kubernetes/kubernetes from github to run ? (upto now I not been using that actual one) is it using a docker container with all the ancillary stuff rather than containing all it needs in its own install? in the docs this containerized version is specified for development but not for testing i guess its assumed/implied  its this way for testing?

[2019-01-15 16:43] jberkus commented on #2818
I think we can do a KEP of the week, we just can't do it every week.

[2019-01-15 18:06] regmilton commented on #2210
Something to consider (and to to make sure I understand this correctly...): scaling will not be linear with the queue size, and the number of workers will never be proportional to the number of messages. The growth rate will be (in theory, in practice as you've shown in the code, it's not, but never mind...).

The auto-scaler always tries to reach a ratio of 1 between the metric and the target. So

[2019-01-15 20:11] cblecker opened #3100 "docs team review and automation requirements"
I'd like to meet with the docs team to review their automation setup, and review requirements.

We want to figure out how we meet the goals of a consistent experience across the organization (things like `/approve` settings), *AND* have the review structure in place that the docs team requires.

cc: @parispittman @Phillels @nikhita @mistyhacks @jaredbhatti

[2019-01-15 21:54] danielepolencic commented on #2210
@regmilton Thanks for this. I couldn’t have put it better myself.

*As a developer*, that would be my expectation when I design a queue based architecture. The more messages in the queue, the more Pods I'd like to be scheduled.

That sounds close enough to me. But is it applicable to "Pods" or "Objects"?

[2019-01-16 00:31] spiffxp commented on #2715
/wg k8s-infra

[2019-01-16 08:32] DXist commented on #2210
At the moment I use 3 metrics for pod autoscaling for 3 cases:

* normal mode - worker utilisation is under 80%. This metric is suppressed and becomes 0 when we don't have enough resources for online processing and queue starts to grow
* spike of incoming messages - messages published / messages acked ratio is 1
* batch/offline mode - estimated queue processing time is less then X minutes

[2019-01-16 10:15] nikhita commented on #3097
kubectl-conventions.md -> belongs to sig-cli
kubelet-cri-networking.md -> belongs to sig-node or maybe sig-network

[2019-01-16 13:35] nikhita opened #3102 "Document process to add new teams and team members"
We are using  [peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos) to [automate GitHub teams](https://github.com/kubernetes/org/issues/336). This includes creation/deletion of teams and addition/removal of team members.

We should document:

- The process about how one can request creation of a team or a request to be added to a team
- What are the requirements to c

[2019-01-16 16:50] idealhack commented on #3100
Can I add some notes here? I have two items related to this stared by myself on Slack. I haven't got the chances to put them on issues/PRs yet.

- Enforcement docs freeze for `k/website` repo during the release cycle. ref: https://kubernetes.slack.com/archives/CA1MMM1HU/p1543595245003200
- Customized TTL of fejta-bot jobs for `k/website` repo. ref: https://kubernetes.slack.com/archives/CA1MMM1HU/

[2019-01-16 17:52] philips commented on #2766
@spiffxp fixed now? https://github.com/kubernetes/community/pull/3104

[2019-01-16 22:13] #2766 closed

[2019-01-16 23:32] discordianfish commented on #2210
That only applies when you catch up on a queue. I felt the same way but it didn't work well, as soon as the messages drop to zero the autoscaler will scale to zero causing the queue to back up quickly. @regmilton describes this very well.

[2019-01-17 09:50] idealhack commented on #2291
By reading at https://github.com/kubernetes/community/issues/2291#issuecomment-399161489, I guess @whs-dot-hk wanted better reading experiences for all the docs.

I think this can be useful, but I don't want to spend too much effort on it.

Also, I guess a website like this has some overlaps with our [contributor site](https://github.com/kubernetes/enhancements/blob/master/keps/sig-contributor-exp

[2019-01-17 21:00] bgrant0607 commented on #2878
"A lot" of OWNERS file is an understatement. The last time I counted, it was nearly 5000.

We should (a) consider reducing the number of unique OWNERS files and (b) make most of the files (at least "top level" ones) refer to centrally maintained lists of approvers and reviewers for each subproject (related to #1673).

[2019-01-17 22:39] bgrant0607 commented on #3097
Thanks.

* architectural-roadmap.md and arch-roadmap-1.png: I was planning to move these to contributors/design-proposals/architecture, since they aren't particularly actionable for most contributors, and plan to update them soon. Feel free to move them there if I don't get to it soon enough.
* profiling.md: probably SIG Scalability would be the best fit
* writing-a-getting-started-guide.md: It's

[2019-01-18 17:06] spiffxp opened #3111 "sig-aws meeting info out of date"
I showed up to what I thought was the weekly Friday meeting of sig-aws at 9am PT Friday, and was told it was the kops office hours.  This isn't documented in https://github.com/kubernetes/community/tree/master/sig-aws

Kops office hours are documented in https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle, so it seems like sig-aws is where the docs update needs to occur

/kin

[2019-01-19 21:25] sabanas opened #3118 "StatefulSet resiliency to failed volumes"
one of the main downsides of using a StatefulSet is the lack of ability to handle failures such as failed volumes (failed EBS drive for example), which would require creating a new volume and mapping it to the PVC of the specific pod that's failing. this could be solved in theory if it was possible to scale down a specific pod in the set.
@kubernetes/sig-apps-misc i'm curious what are your thought

[2019-01-20 08:02] justaugustus commented on #2245
This will be removed in kubernetes/enhancements#703
I've commented on open KEP PRs to request that authors remove references to KEP numbers.

[2019-01-20 08:08] justaugustus commented on #651
We discussed this last week at [SIG PM](https://youtu.be/jHXm10TieUI) and I think this is a good opportunity for SIG PM volunteers to get involved.

I'll be assigning people soon to work with SIGs on getting current design proposals cleaned up and migrated.

[2019-01-20 08:09] justaugustus commented on #2245
/milestone v1.14

[2019-01-20 09:57] gjohnson commented on #2992
In the interim, would something like [dependabot](https://dependabot.com/go/) work?

[2019-01-20 15:09] neolit123 commented on #3092
cloning test-infra and then doing:
[code]

works fine for me. the resulted binary is in the kubetest folder.

[2019-01-21 09:33] pierreozoux commented on #2678
There is a KEP opened about this topic, if you are interested in the discussion: https://github.com/kubernetes/enhancements/issues/706

[2019-01-21 14:15] rus4 commented on #3092
Hi @neolit123 thanks for having a go an helping, that build seemed to run ok , yet then when i try to execute the created binary it says cannot execute binary ... so for now it still not working

[code]

[2019-01-21 15:15] rus4 commented on #3092
yeah im not sure if its doing anything , is this the expected result?
[code]

[2019-01-21 17:58] deads2k commented on #3097
1. conformance-tests.md -  I don't think apimachinery owns this. I would assign that architecture.
2. mesos-style.md - is this even still valid?  We moved mesos out a long time ago

The rest of apimachinery looks fine.

[2019-01-21 18:09] eduartua commented on #3097
Thank you @deads2k The file conformance-tests.md has been assigned to Architecture. The file mesos-style.md will be removed.

[2019-01-21 18:54] eduartua commented on #3097
@bgrant0607 Do you consider the mesos-style.md file to be deleted?

[2019-01-21 19:07] BenTheElder commented on #3097
SIG-testing: I'm not authoritative there but LGTM. e2e-node-tests might actually be sig-node, but is probably fine under testing for now. 👍

[2019-01-21 22:58] neolit123 commented on #3092
try passing a flag to it like `--help`.

also ideally you want to setup your paths as:
`go/src/k8s.io/kubernetes`
`go/src/k8s.io/test-infra`

[2019-01-22 04:28] justaugustus opened #3127 "Add suggestions on global .gitignore to developer guide"
Ref: https://github.com/kubernetes/enhancements/pull/702#issuecomment-456191648
/cc: @PatrickLang @pohly

/sig contributor-experience
/help
/good-first-issue

[2019-01-22 04:53] d-nishi commented on #3111
@spiffxp -- the confusion is because the same zoom meeting link is used for KOPS office hours.

Otherwise KOPS currently is a SIG Cluster Lifecycle subproject.

Did you want us to specifically add a date in the documentation starting Jan 2019? This is not a consistent model for all the SIGs hence the question. Also, we do have a calendar for SIG AWS that adds a meeting invite for anyone who is par

[2019-01-22 08:47] parispittman opened #3128 "Expand moderation groups umbrella issue"
This is not a call for recruitment right now.

Issue:

- [ ] update docs on moderation experience and/or contributor experience requirements to prepare for said call for recruitment
    - [ ] platforms that need more moderators: slack, youtube, zoom, googlegroups (need to check on discuss.k8s)
- [ ] re-review all docs for updated information on moderation expectations and actions on all platforms

[2019-01-22 08:49] pohly commented on #3127
@nikhita a global (aka per-user) .gitignore isn't in the individual repo, so there's no risk of it getting committed accidentally.

[2019-01-22 08:57] geekygirldawn opened #3129 "Survey and data deep dives for contributor site"
High level [planning doc](https://docs.google.com/document/d/1_4qnfu5kNCxfO3yjaoBO6LM9KfqxGC4HnAvVakIQM-I/edit?usp=sharing) [sig contribex permissions] - part of umbrella issue #2987.

Details to be added when we begin the analysis.

[2019-01-22 08:59] geekygirldawn commented on #3129
@parispittman I don't think that I have permissions to assign the 2 of us or update the labels, so if you or someone else could do it, that would be grand :)

[2019-01-22 09:12] idealhack commented on #3129
@geekygirldawn Thanks for this! You can do it by telling the bot:

/assign @geekygirldawn @parispittman
/sig contributor-experience

[2019-01-22 09:13] rus4 commented on #3092
not sure which variables you mean?

[2019-01-22 11:48] nikhita commented on #3127
@pohly Yeah, I meant it as "it's a good thing we are going to have it in the official docs \o/". Sorry, should have been clearer. :)

[2019-01-22 20:36] #3094 closed

[2019-01-22 20:36] cblecker commented on #3127
This can also backfire.. I've seen some weird things in folks local files. I definitely prefer the repo having firm definitions of things it doesn't want in it.

[2019-01-22 20:43] cblecker commented on #3092
The import path for the test-infra repo is `k8s.io/test-infra` not `github.com/kubernetes/test-infra`. You should clone the repo to `${GOPATH}/src/k8s.io/test-infra`. The kubernetes repo is similar (`k8s.io/kubernetes`).

That said, this is the wrong repo to ask for support for kubetest, so I'm going to go ahead and close this issue.

[2019-01-22 20:43] #3092 closed

[2019-01-22 22:13] spiffxp commented on #3111
Guess what, I can't read.  You absolutely did call out the sig-aws meeting as biweekly, not weekly, and I was totally in the wrong.

But the PR is helpful, since I try to avoid being subscribed to literally all sig calendars.

[2019-01-22 22:38] spiffxp commented on #3111
It would have helped me, yes.  If you want to push back a hard no I will understand

[2019-01-22 22:59] d-nishi commented on #3111
Done!

[2019-01-22 23:29] spiffxp opened #3139 "Create a recurring zoom meeting for the sig-testing kind subproject"
ref: https://kubernetes.slack.com/archives/CEKK1KTN2/p1548192461363600

I'm going to take this opportunity to try setting up sig-testing meetings correctly.

/sig contributor-experience
hey look I'm finally doing the zoom stuff

/sig testing
/kind cleanup
/priority important-soon

[2019-01-23 10:53] idvoretskyi commented on #2324
Sent out the notification to https://groups.google.com/d/msg/kubernetes-sig-contribex/rzwrLOLHgR8/P8A8nuqhFQAJ; the deadline to reach the lazy consensus is Feb 1st.

[2019-01-23 10:54] idvoretskyi commented on #2324
I can confirm that I can remove the above ^

[2019-01-23 11:37] mariantalla commented on #1537
Can I take this one? I'm hoping to PR some additions as part of https://github.com/kubernetes/sig-release/issues/428.

[2019-01-23 15:20] brancz commented on #3097
SIG Instrumentation looks good in terms of categorization. Instrumentation guide looks good, we'll have to do a pass on logging and events, we haven't looked at those in a while I think.

[2019-01-23 17:34] spiffxp opened #3144 "Setup a kubernetes community youtube playlist for wg-k8s-infra"
We've been uploading our wg-k8s-infra meetings to @dims' personal youtube channel, but there is AFAIK no youtube playlist for the community to find

Would like a playlist (WG k8s-infra) on kubernetes community and uploading rights for @dims and myself (similar to WG LTS and WG Apply)

/wg k8s-infra
/sig contributor-experience

[2019-01-23 17:36] jeefy commented on #3144
/assign

[2019-01-23 18:00] idvoretskyi commented on #2324
SIG-Release is done - https://github.com/kubernetes/sig-release/issues/353

[2019-01-23 18:15] spiffxp commented on #3144
We now have https://www.youtube.com/playlist?list=PL69nYSiGNLP2Ghq7VW8rFbMFoHwvORuDL&jct=CrK47n3guCIiVUh9hvrcfB2evZnGVw

/assign @dims
I added the previously uploaded videos, but would like them to be named [following the guidelines](https://github.com/kubernetes/community/blob/master/communication/K8sYoutubeCollaboration.md)

eg: today's video is "Kubernetes WG K8s Infra 20190123"

[2019-01-23 23:59] mrbobbytables commented on #2657
/remove-lifecycle stale

[2019-01-24 02:44] mrbobbytables commented on #2802
/remove-lifecycle stale

[2019-01-24 04:41] jasinner opened #3149 "Kubelet should perform ACL check when pulling an image"
If an image already exists on a node it is possible to use that image in a different namespace even though a user might not have access to pull that image from a private repository.

This is mentioned in the [CIS Kubernetes Benchmark v1.3.0](https://www.cisecurity.org/benchmark/kubernetes/) in the item titled "1.1.11 Ensure that the admission control plugin AlwaysPullImages is set". There is offer

[2019-01-24 04:41] jasinner commented on #3149
/sig node

[2019-01-24 05:47] enj commented on #3149
/sig auth

[2019-01-24 16:24] dims commented on #3149
@jasinner can you please move this to the main kubernetes repo?

[2019-01-24 17:51] armin-arcules opened #3150 "Waiting for federation control plane to come up............ is been running for the past 17h"
Very much new to federation, I have a local kubernetes cluster and a GCP kubernetes cluster, I've been following the  https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/#before-you-begin for setting up the host federation on my GCP cluster.
After running the following command kubefed init fellowship     --host-cluster-context=gke_sandbox-***_**-***_***-cluster     --dns-

[2019-01-24 18:10] armin-arcules commented on #3150
federation-system   apiserver-7bfd59c99b-s4vkj                          1/2     ImagePullBackOff   0          30m   10.32.0.30   gke-armin  <none>
federation-system   controller-manager-754d5945b6-674v9                 0/1     ImagePullBackOff   0          30m   10.32.0.31   gke-armin-cluster   <none>

[2019-01-24 22:16] bgrant0607 commented on #3097
For posterity, the mesos-style.md was removed by this PR:
https://github.com/kubernetes/community/pull/3126#issuecomment-456217755

@eduartua

Please try to use more explanatory PR titles (e.g., rather than "Moving files issue3097") and ensure the PRs reference this issue.

[2019-01-24 22:37] eduartua commented on #3097
Thank you for the feedback Brian. For future PR titles I'll try to be more
informative.

On Thu, Jan 24, 2019 at 4:17 PM Brian Grant <notifications@github.com>
wrote:

--

*Eduar Tua*

[2019-01-24 22:44] bgrant0607 commented on #3097
@eduartua Thanks. I need to browse vast amounts of email, issues, PRs, etc. very quickly, so I mostly need to decide whether to look at them by subject/title and labels.

[2019-01-25 01:07] cblecker commented on #3150
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-01-25 01:07] #3150 closed

[2019-01-25 18:45] spiffxp opened #3155 "Kubernetes Slack admin policy on User Groups feature"
I am interested in using Slack's User Group's feature:
- https://slackhq.com/introducing-user-groups
- https://get.slack.help/hc/en-us/articles/212906697-Create-a-user-group
- https://get.slack.help/hc/en-us/articles/115004952926-Manage-permissions-for-user-groups

Use cases that would help me:
- I am the release team lead, and I want to ping `@k8s-release-team` rather than have to copy paste a li

[2019-01-25 19:08] castrojo commented on #2031
This is the current status:

- [x] SIG Chairs agree to disband. This decision should follow the decision making process of the SIG's Charter.
- [x] Send a email to kubernetes-dev to let people know the SIG has either closed or merged with another SIG. This will let SIG Contributor Experience know that they need to help you archive/deactivate project resources.
- [ ] Archive the mailing list/group

[2019-01-25 19:35] tallclair commented on #2992
- A lot of our dependencies are not mature enough to get CVEs for security issues. That doesn't mean we shouldn't care about the vulnerability.
- We also want to have insight into non-security bug fixes. See this slide: https://docs.google.com/presentation/d/1i3Qnt2yQOfqVLXXkyiaQ_6HOj5ZqkeWQ2wRmT1U2aBs/edit#slide=id.g499934ca8f_0_72
- We should also work on trimming dependencies to reduce the numb

[2019-01-25 19:47] bgrant0607 commented on #2992
On trimming dependencies: that's one of many reasons why I want provider-specific code (e.g., cloud providers, volume sources) out of tree.

[2019-01-25 23:02] spiffxp commented on #359
https://github.com/kubernetes/kubernetes/pull/70052#discussion_r239686687
https://github.com/kubernetes/kubernetes/pull/70052#issuecomment-445112134

Turns out we _have_ a linkchecker in kubernetes/kubernetes: https://github.com/kubernetes/kubernetes/tree/master/cmd/linkcheck

It's just been broken and unused for two years.  It was in use before we heavily leaned on kubernetes/website and kubernet

[2019-01-25 23:03] spiffxp commented on #359
/help
/kind cleanup

[2019-01-26 05:39] BenTheElder commented on #2031
Checking in from sig-testing: AFAIK there are not any jobs. Searching testgrid seems to confirm.

[2019-01-26 05:41] cblecker commented on #2031
`Clean up and remove all GitHub teams that refer to that SIG/WG`

Can confirm none exist.

[2019-01-26 17:17] idvoretskyi commented on #3155
/cc

[2019-01-26 21:06] justaugustus commented on #3155
FWIW, I'm a +1 for user groups as well. I had asked about it a while back here for SIG Chairs/TLs. Being able to do things like `@sig-azure-leads`, "Hey `@rt-114`, are still on track for x date?" would be super useful.

You can address the intended audience without having to go figure out who that might be in k/community or somewhere else.

[2019-01-26 21:20] parispittman commented on #3155
I asked CNCF to set up a call with slack. We are very conservative with slack because of past bad experiences with bots and automation. My main concern is the members of the user groups high volume notifications since they are treated the same way as mentions.  (my empathy is showing)

re: dims - we have the github bot enabled that will allow us to get notifications in a slack channel when someone

[2019-01-26 22:01] spiffxp commented on #3155
@dims

This is the dream.  My cursory glance when I suggesting this for an oncall alias was... there's nothing off the shelf out there, so it'd have to be homegrown.

We do have prow posting manual-merge notifications, but I'm willing to be sensitive and understanding around any more intrusive API access as its maybe not as well understood as GitHub.

[2019-01-27 23:28] spiffxp opened #3158 "Non-code contributors meeting isn't listed in sig-contributor-experience's README"
I feel like if there's a recurring non-code contributor guide meeting with [kubernetes-sig-contribex@](https://groups.google.com/forum/#!forum/kubernetes-sig-contribex) on the invitees, either the SIG or one of its subprojects should have that info in sigs.yaml so it shows up in the SIG's README

/sig contributor-experience

[2019-01-27 23:35] mrbobbytables commented on #3158
/cc @qedrakmar

@qedrakmar has been the one spearheading  the non-code initiative. Things were put on hold around kubecon, but have started to pick back up again.

[2019-01-28 15:38] jayunit100 opened #3159 "Resolve/Unify permission issues with SIG Meeting Notes in a way that is transparent."
We currently have several meeting agenda google docs which *aren't open to the public*....

Since we're 100% community driven, that should be changed soon, IMO across the board so that

- all mtng agendas are publically available to anyone on the interweb,
- the development process and any communication we note down should be 100% non-dependent on google-specific logins.

I've made a quick list he

[2019-01-28 15:48] jayunit100 commented on #3159
/sig community

[2019-01-28 15:51] castrojo commented on #3159
/sig contributor-experience

Thanks for working on this!

[2019-01-28 16:07] #2884 closed

[2019-01-28 17:05] spiffxp commented on #3139
/assign
ok, trying to setup the kind meeting real quick

[2019-01-28 17:07] spiffxp commented on #3139
Meeting settings in zoom (minus the link)
![screen shot 2019-01-28 at 9 06 35 am](https://user-images.githubusercontent.com/49258/51852952-072c3d00-22dc-11e9-89a4-6921d3e13712.png)

![screen shot 2019-01-28 at 9 05 36 am](https://user-images.githubusercontent.com/49258/51852913-f7145d80-22db-11e9-81ae-4c7b3d370a86.png)

[2019-01-28 17:08] spiffxp commented on #3139
To create the calendar invite:
- I let zoom add it to my gmail.com calendar (then removed access because I'm paranoid like that)
- I should not be trusted to own this thing so I sent an ownership change request to @BenTheElder
- I invited [kubernetes-sig-testing@](https://groups.google.com/forum/#!forum/kubernetes-sig-testing)

[2019-01-28 17:09] spiffxp commented on #3139
/assign @BenTheElder
to confirm ownership of this meeting now

[2019-01-28 17:51] parispittman commented on #3139
@spiffxp you should create a shared calendar and then transfer ownership of that invite to the shared calendar. add sig-testing-leads to the shared calendar with change perms and everyone will be able to edit the meeting.

Also, the waiting room is optional these days and only for hosts comfort. not required so take that as you will.

[2019-01-28 17:55] BenTheElder commented on #3139
Thanks @spiffxp, I accepted the transfer link and see edit rights on the calendar entry, I believe (?) that confirms.

[2019-01-28 18:00] spiffxp commented on #3139
@parispittman that makes sense, is this something I overlooked in the docs?

[2019-01-28 18:00] cblecker commented on #3159
/cc @parispittman @Phillels @nikhita

Is there a reason for some being closed vs open? were we having moderation issues?

[2019-01-28 18:02] parispittman commented on #3159
@cblecker - some where probably created by googlers where we have restricted sharing perms. in those cases, they most likely shared it with their mailing list only and not k-dev. someone will need to audit this and then have them share with k-dev, too, if you can't see them.

[2019-01-28 18:04] parispittman commented on #3159
if they want it open to the public and not just k-dev, they will need to be copied and transferred over to a new owner that doesn't have permissions issues like a @gmail account. This will need to be documented, too, at the top of the document because if this person would leave, they take the doc with them.

[2019-01-28 18:06] parispittman commented on #3159
it may be worthwhile holding on this until we can get the contribex gsuite ironed out and then we can figure out team drive for centralized ownership of documents. i think we may still have "public" issues with access to that though.

[2019-01-28 18:08] jayunit100 commented on #3159
How about copy/paste -> New doc ?  At least in the short term, that will solve the existing issue.

[2019-01-28 18:10] parispittman commented on #3139
@spiffxp i dont see anything in the docs that indicates turning it on although that was the previous recommendation at one point. can you point to where you saw that so I can make the change?

[2019-01-28 18:12] zehicle commented on #2031
I turned the google group to read only.
I was not able to change the grouppleads rights.

[2019-01-28 18:12] parispittman commented on #3159
we will need to find all of the dependancies where we link to our meeting notes - one of which is the meeting invites. will need to regen those, too. if we could get a checklist of what a sig lead needs to do here, that will be best. another example - only give edit rights to those in your mailing list, etc.

[2019-01-28 18:14] parispittman commented on #3159
@mrbobbytables can you add this to: https://github.com/kubernetes/community/pull/3160?

[2019-01-28 19:07] castrojo commented on #2031
Alright, both lists set to read-only and not allowing new members. Thanks everyone.

[2019-01-28 19:07] #2031 closed

[2019-01-28 22:22] mrbobbytables commented on #3159
Updated to include a note on sharing the docs.

[2019-01-28 22:59] BenTheElder commented on #3139
[noting that we need to fix the calendar entry -- seems only I and maybe @spiffxp can see it, also the zoom meeting didn't seem to actually allow join before host :confused: ]

[2019-01-28 23:05] parispittman commented on #3139
@BenTheElder - that's because the waiting room was enabled. Needs to be one or the other.

[2019-01-29 04:44] qedrakmar commented on #3158
/assign
I'll batch this with a couple other related documentation changes I need to make.

[2019-01-29 06:06] nikhita commented on #2873
/remove-lifecycle stale

[2019-01-29 21:01] prisar commented on #2939
I also got the same error. I am having 8 GB RAM system memory. If I assign 8 GB RAM, all my memory will be used up.

[2019-01-30 05:02] chupman commented on #359
PR is in for the link check, but a separate PR will be needed in this repo for the [wrapper script](https://github.com/kubernetes/kubernetes/blob/master/hack/verify-linkcheck.sh). Changes will need to be made to specify which directories should be scanned or skipped.

[2019-01-30 21:50] parispittman opened #3175 "create process doc for running public steering committee meetings"
- [ ] detail out the roles and responsibility of moderators, contribex, steering members
- [ ] how to run the meeting
- [ ] how / where to advertise

file in ?? tbd (maybe /communication with discoverable links elsewhere?)

/sig contributor-experience

[2019-01-31 03:46] mrbobbytables commented on #2126
/remove-lifecycle stale

[2019-01-31 04:23] jberkus opened #3177 "Kick off Contributor Summit Shanghai Planning"
Current plans:

1. We will have an NCW, lead by Yang Li.
2. We will have a 1-day, 1-room current contributor summit
3. We will have doc sprints
4. We will not have an evening event (tentative, needs discussion)

Registration will be through a separate page, in order to reduce the "I registered because it's free" problem.

Current status:

* we have a volunteer docs team headed by @zacharysarah
* w

[2019-01-31 04:29] cblecker opened #3178 "github: pare down and eliminate outside collaborators from orgs"
Folks with permissions on the Kubernetes orgs should be members.

We need to work towards getting people who are involved in the org, and remove those collaborators.

I've got two issues for repos, but we need to go through the rest:
https://github.com/kubernetes/minikube/issues/3345
https://github.com/kubernetes/frakti/issues/348

cc: @kubernetes/owners

[2019-01-31 04:36] cblecker opened #3179 "github: audit and remove stale org members"
We have no policy around inactivity for org members.

We should do something like:
- establish standard for what defines "inactivity" (6 months perhaps?)
- determine a way to get a report of who's inactive (devstats?)
- create a policy on how often we check for inactivity, how do we notify those contributors, and then the actual process for PRing the removal

[2019-01-31 04:59] coderanger commented on #3076
Role ideas from meeting: blogger, contrib summit related roles, marketing/outreach?

[2019-01-31 05:05] idealhack commented on #3177
cc @puja108 @chenrui333 @xiangpengzhao

[2019-01-31 05:06] idealhack commented on #3076
also from the meeting: localization-related roles

[2019-01-31 05:12] cblecker commented on #1999
Maybe this should just be a general "lets do these all at least once" kind of audit, and then we can figure out how to make it regular haha

[2019-01-31 05:12] mrbobbytables commented on #2850
closed by #3125

/close

[2019-01-31 05:12] #2850 closed

[2019-01-31 05:16] chenrui333 commented on #3177
👍

[2019-01-31 09:15] idvoretskyi commented on #1999
+1

[2019-01-31 14:53] kwmonroe commented on #2892
@luxas and @roberthbailey, thanks for the followup, and I apologize for the delayed response. If you'll recall, our biggest issue with being in-tree is that charm source doesn't necessarily follow upstream k8s releases; we've had to work around this by maintaining and releasing charms from a fork.

Fork management and sync has not been ideal, so we've investigated both SIG and Canonical org owners

[2019-01-31 17:06] parispittman commented on #3032
@eduartua - let's talk about this at our next 1:1. I can help you with this and we can crowdsource it. Would be a great add to the set.

thanks for putting this to the top @cblecker

[2019-01-31 17:07] parispittman commented on #2956
covered in #3160
/close

[2019-01-31 17:07] #2956 closed

[2019-01-31 17:14] castrojo commented on #2536
SIG windows is all set, I'll ask chairs/TLs to comment here when they've moved over.

[2019-01-31 17:17] eduartua commented on #3032
Sure, I'll add it to the dev guide section.

[2019-01-31 17:43] liggitt commented on #3159
most of the docs are intentionally shared with specific mailing lists (kubernetes-dev and the sig mailing list). most of the anonymously visible docs referenced above share zoom meeting ids, which goes against the guidelines at https://github.com/kubernetes/community/blob/master/communication/zoom-guidelines.md#setting-up-your-meeting-and-moderation

[2019-01-31 17:44] parispittman commented on #2813
we tested this at the last contributor summit (seattle 2018) and it had some bumps but went well. setting a new issue to address the iteration. purpose of this issue has been achieved.

[2019-01-31 17:44] parispittman commented on #2813
/close

[2019-01-31 17:44] #2813 closed

[2019-01-31 17:46] lavalamp commented on #3159
At least for api machinery, I object to describing it as "closed"; it's shared with kubernetes-announce, kubernetes-dev, and kubernetes-sig-api-machinery.

The title, which used to be viewable just by clicking on the link, has joining instructions, but it seems it's no longer visible without logging in :(

[2019-01-31 17:46] jayunit100 commented on #3159
Per https://github.com/kubernetes/community/pull/3160/files#diff-3dd56b6252307b3ebd4082bdd70317a1R119 , the *view* permissions need to be modified.

Or revert that merge.

[2019-01-31 17:53] parispittman commented on #3159
@jayunit100 - we have some zoom issues that we are addressing right now. once that is cleared up re: #2536, we will be able to fully implement those new view perm guidelines.

[2019-01-31 17:53] jayunit100 commented on #3159
+1 , we can keep it open till then

[2019-01-31 17:59] parispittman opened #3183 "SIG/WG Chair/TL Training pt 2"
Clean up the first version of the SIG/WG Chair/TL training that @castrojo and I did at the last contributor summit.

This issue will close when we've done:
- [ ]  a new video that's been distributed

[2019-01-31 18:03] mourya007 commented on #3159
Agree with the point, because most of the places google mails are not easy to access. So we should have a public process for everyone.

[2019-01-31 21:45] castrojo opened #3185 "WG-Kubeadm-adoption has moved to a subproject"
This WG served it's purpose and hasn't had updated notes since October 2017.

Please follow: https://github.com/kubernetes/community/blob/master/sig-governance.md#sigwg-retirement

I think most of these don't apply since it's basically all just SIG Cluster Lifecycle at this point and has kubeadm as a subproject. We should howerver make sure we're not leaving zombie working groups in the repo.

/as

[2019-01-31 21:46] detiber commented on #3185
+1

[2019-01-31 21:46] timothysc commented on #3185
It's a subproject for a long time now.

[2019-02-01 01:20] saad-ali commented on #3159
@jayunit100 SIG Storage meeting notes ([link](https://docs.google.com/document/d/1-8KEG8AjAgKznS9NFm3qWqkGyCHmvU6HVl0sk5hwoAE/edit?usp=sharing)) are shared publicly and have always been (see attached screenshot). Can you please clarify why we are listed as `Closed : Need to be made public`?

![sig-storage-notes-access](https://user-images.githubusercontent.com/10052848/52096620-54c6d500-257c-11e9-

[2019-02-01 16:52] timothysc commented on #3185
fwiw, it's not really sunsetting.  It was restructured year+ ago but this is a leftover.

[2019-02-01 19:37] jayunit100 commented on #3159
@saad-ali  your right ! Fixed, sorry, alot of links there.  no idea how that slipped into the wrong bin.

[2019-02-01 20:30] castrojo commented on #3159
I wanted to add some comments from slack:

So I think the issue here is the governance isn't explicit:
https://github.com/kubernetes/community/blob/master/sig-governance.md#sig-governance (edited)

We only really say that the recording must be made publically available. Now, I personally would assume that that means that there's an implied task that if your meeting recording is public, then clearl

[2019-02-01 20:47] jayunit100 commented on #3159
+1 for renaming the issue, thats probably a better title for it .  Thanks for helping move this along @castrojo

[2019-02-01 22:10] castrojo opened #3188 "Ensure working groups in sigs.yaml reflect actual usage"
Working groups are supposed to be temporary, some have moved to subprojects under a SIG or otherwise moved on. This week I've done or am doing:

- [x] [Cluster Ops](https://github.com/kubernetes/community/issues/2031)
- [x] [Kubeadm Adoption](https://github.com/kubernetes/community/issues/3185)
- [x] App def
- [x] Container Identity

The important thing is for us to make sure that if there was an

[2019-02-01 22:11] castrojo opened #3189 "SIG/WG lifecycle doesn't address archiving community repo artifacts"
https://github.com/kubernetes/community/blob/master/sig-governance.md#sigwg-retirement needs to mention what we do with an old SIG or WG's directory in the community archive. These are moved into archive/ ... the sig-governance doc just needs to document that.

[2019-02-01 22:13] castrojo commented on #3189
/sig cluster-lifecycle

[2019-02-01 22:15] castrojo commented on #3189
/good-first-issue

[2019-02-01 22:17] parispittman opened #3190 "Barcelona Contributor Summit Planning Kick Off"
Sent out the first round of invites to the team:
Mondays @ 9am PT - strategy, content, and creative
Fridays @ 1030a PT - logistics, venue, and cncf sync

This issue will close when we have:
- [x] a skeleton event page in /events
- [x] a label for area/contributor-events
- [ ] venue and date(s)/time(s) are set
- [x] sigs.yaml has been updated with the Monday (our main session) time for this subproj

[2019-02-02 16:58] luxas commented on #3185
Agreed, we transferred it to the kubeadm Office Hours as part of the SIG as a subproject more than a year ago, but we just forgot to remove it from k/community. Thanks @castrojo let's fix it

[2019-02-02 17:13] luxas commented on #3185
ref @kubernetes/sig-contributor-experience-feature-requests
(don't know what exact team to tag for sunsetting...)

TODO list:

 - [x] Archive the mailing list/group
    - Not applicable, I don't remember we had one (not 100% sure though)
 - [x] Archive the leads mailing list/group
    - Not applicable, we never had one
 - [x] Archive the slack channel
    - Not applicable, we never had one
 - [x]

[2019-02-02 19:50] justinsb commented on #3185
I believe I have now removed the calendar invite - let me know if anyone still has it!

[2019-02-03 12:30] nikhita commented on #3185
/cc @parispittman

[2019-02-03 12:53] nikhita commented on #1999
Should this be renamed to "Umbrella issue for Community Maintenance tasks"? :)

[2019-02-03 15:17] idvoretskyi commented on #1999
👍

[2019-02-03 19:49] BenTheElder commented on #3139
I believe I've just fixed the calendar entry to properly invite kubernetes-sig-testing@googlegroups.com based on all the auto-rsvp-reject emails in my inbox 😂
I think the zoom meeting still needs fixing and this needs to go in the SIGs metadata.

[2019-02-04 06:48] nikhita commented on #276
Closing in favour of https://github.com/kubernetes/community/issues/3179 - since that has slightly more details.

/close

[2019-02-04 06:48] #276 closed

[2019-02-04 06:50] nikhita commented on #1999
Renamed.

[2019-02-04 07:49] parispittman commented on #3128
this should be a priority this week

need to add incident response guidelines and processes

[2019-02-04 08:10] nikhita commented on #3127
:eyes: Do we want this documented then? Or should we leave this to the discretion of the repo owners? (no strong opinions from me)

In any case, since the direction isn't completely clear, I will remove the help-wanted labels from this.

/remove-help

[2019-02-04 09:11] parispittman commented on #3190
/help

the label and the sigs.yaml entry can be a good quick PR if anyone is looking, the rest can't be filled by a quick PR

[2019-02-04 09:34] parispittman commented on #3159
I'm seeing the perms on contribex as anyone on the internet can find and view. What's the error that is displaying?

<img width="360" alt="screen shot 2019-02-04 at 1 32 04 am" src="https://user-images.githubusercontent.com/5912992/52200172-ddfc3700-281c-11e9-995c-87c12bb6905f.png">

[2019-02-04 11:07] idealhack commented on #3190
Trying to make this clearer, we have the label `area/contributor-summit` (added by https://github.com/kubernetes/test-infra/pull/10901), do we want `area/contributor-events` along with it or replace it?

[2019-02-04 11:12] parispittman commented on #3190
oh good 😅 totally forgot about that. thanks @idealhack ! checking that off now.

[2019-02-04 11:39] jgrobbel commented on #2440
/remove-lifecycle stale

[2019-02-04 11:41] parispittman opened #3198 "slack.k8s.io - down; needs a 404 page"
we took down slack.k8s.io due to an incident and needs a 404 page created. it also resides in the google owned infra that is being transferred over with wg-k8s-infra's project. thockin and that crew can put up the page once created.

I believe Noah K (@coderanger but not a member yet) volunteered for this. Need to follow up.

[2019-02-04 11:41] kajanth opened #3199 "contributor guide contributors/devel/help-wanted.md broken link"
Help Wanted link in contributors/devel/help-wanted.md is broken and should be referencing

https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md

[2019-02-04 11:44] kajanth commented on #3199
/sig architecture

[2019-02-04 11:46] parispittman commented on #3190
area/contributor-summit

[2019-02-04 11:52] nikhita commented on #3199
@kajanth Thanks for catching that, I've updated https://github.com/kubernetes/community/pull/3196 with the change.

[2019-02-04 11:53] idealhack commented on #3199
/sig contributor-experience
/remove-sig architecture

[2019-02-04 11:54] nikhita commented on #3198
Wait..what?! @coderanger if you can open an issue against k/org for the membership request, I'll happily +1 it. :)

[2019-02-04 11:55] nikhita commented on #3198
/cc @BenTheElder @spiffxp
since you have access to slack.k8s.io

[2019-02-04 12:59] mrbobbytables commented on #3198
Would be happy to +1 as well :)

[2019-02-04 13:52] kajanth opened #3200 "release lifecycle images missing contributors/devel/sig-release/release.md"
Release.md missing images

/contributors/devel/sig-release/release.md

release-cycle,png
release-lifecycle.png

files are in path - contributors/devel

[2019-02-04 15:35] nikhita commented on #3178
Just to be clear -- this also means removing folks who are members of the org but have direct collaborator access along with any outside collaborators i.e. people who are _not_ members of the org but have direct collaborator access...right?

[2019-02-04 16:22] BenTheElder commented on #3198
The DNS condig for what this points to is public in k8s.io. If we want just a 404 page we can stick that up somewhere and then point to it.

[2019-02-04 16:44] parispittman commented on #3128
/help

help from other admins here please

[2019-02-04 17:03] spzala commented on #2536
SIG IBMCloud is set too. @castrojo thanks for helping out with the set up.

[2019-02-04 22:39] #3199 closed

[2019-02-05 03:00] kikisdeliveryservice commented on #3189
/assign

[2019-02-05 03:08] kikisdeliveryservice commented on #3189
I opened PR #3203 to close this issue 😄

[2019-02-05 06:18] nikhita commented on #3189
/remove-help

There is a PR open (thanks @kikisdeliveryservice! :))

[2019-02-05 20:00] liggitt opened #3211 "Umbrella issue - API conventions, changes, review guidelines"
This issue is to coordinate efforts to improve and add to the [API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md) and [API changes](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md) documentation, based on existing issues files and feedback from reviewers/shadows.

Questi

[2019-02-05 20:01] liggitt commented on #3211
@kubernetes/sig-architecture-api-reviews @kubernetes/sig-api-machinery-api-reviews

[2019-02-05 20:01] liggitt commented on #3211
cc @kubernetes/api-approvers @kubernetes/api-reviewers
/assign

[2019-02-05 21:03] castrojo commented on #3035
Working on this here: https://github.com/kubernetes/community/pull/3212

[2019-02-05 22:46] #3158 closed

[2019-02-05 23:31] parispittman commented on #3076
thanks for those @idealhack and @coderanger - added!

[2019-02-06 01:11] cblecker commented on #3200
Fixed in #3205

[2019-02-06 01:11] #3200 closed

[2019-02-06 02:16] coderanger commented on #3198
Landing page has been set up by rewriting the existing deployment to use `kantrn/k8s-slackin-tmp:v1` as the image which is `FROM nginx` and some static content.

[2019-02-06 12:58] nikhita opened #3220 "keps: cleanup all tombstone files"
There are a bunch of tombstone files in the [devel](https://github.com/kubernetes/community/tree/master/contributors/devel) directory created as a part of #3097. They need to be removed by 1 July 2019 or the release of v1.15, whichever is sooner. Ref: https://github.com/kubernetes/community/pull/3196.

@mrbobbytables suggested that it would be nicer to create an issue to keep track of tombstone fi

[2019-02-06 12:58] nikhita commented on #3220
This is ideally a good-first-issue but I'm not adding the label because it is not actionable right now.

[2019-02-06 14:05] jayunit100 commented on #3159
Hmm, looks closed to me (contrib-ux, right?) : https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/ ?

[2019-02-06 14:35] parispittman commented on #3159
Yes, that is correct. That's where I took the above screenshot - you should be able to view it.

[2019-02-06 15:39] jayunit100 commented on #3159
hmmm, no it wont let me
<img width="706" alt="screen shot 2019-02-06 at 7 38 43 am" src="https://user-images.githubusercontent.com/826111/52352875-49433600-29e2-11e9-80b5-03aeadcc87d4.png">

[2019-02-06 17:21] idvoretskyi commented on #3079
@mattj-io any updates on this?

Are there any specific issues with the current GitHub Projects workflow that require us to move to a different tool ASAP?

[2019-02-06 18:04] castrojo opened #3221 "Escalation procedures for community processes/issues"
In cases of a spam event or other concerns, we need to have a method of getting "all hands on deck" of people to escalate an event.

We need to ensure that CNCF folks are involved, that enough community people are involved, and crucially, people with access to whatever infrastructure is under duress.

[2019-02-06 18:04] castrojo commented on #3221
/sig contributor-experience
/assign
/area community-management

[2019-02-06 19:14] cblecker commented on #3198
Source is now here: https://github.com/kubernetes/k8s.io/tree/master/slack.k8s.io/offline

[2019-02-06 19:14] #3198 closed

[2019-02-06 23:05] parispittman commented on #3128
sent ask for moderators@kubernetes.io to the steering committee mailing list today - pending response

[2019-02-07 04:32] jberkus commented on #3035
We should probably have a gcal for moderators, which is visible only to the collective moderators and admins.  Because people are going to have a lot more out-of-town/off-the-grid events than Kubecon.

[2019-02-07 08:52] mattj-io commented on #3079
Sorry folks, got caught up in real life work and haven't been able to make the weekly meetings for a couple of weeks. Judging from the responses on the mailing list thread our best option is to look at Github Projects workflows as opposed to external tooling. Next steps are :

- Look at the current board and break down issues into smaller components
- Track dependencies through references
- Invest

[2019-02-07 12:58] mrbobbytables commented on #3035
Agreed. With that though we will definitely want a uniform means of contacting the moderators. I know a "moderators@kubernetes.io" account is being pursued via the [gsuite proposal](https://groups.google.com/d/msg/kubernetes-sig-contribex/81vRGlfBLZA/DbJircVxFwAJ), but without that, the  _"who"_ to contact when will become quite a bit more fuzzy.

[2019-02-07 13:53] nikhita commented on #1234
/lifecycle frozen

[2019-02-07 19:03] #3189 closed

[2019-02-07 19:13] castrojo opened #3227 "WG Application Definition needs to be retired"
Looks like this WG hasn't had a meeting in a while, so we need to archive the resources used:

https://github.com/kubernetes/community/blob/master/sig-governance.md#sigwg-retirement

The process for closing a SIG/WG is as follows:

- [x] Chairs agree to disband. This decision should follow the decision making process of the SIG's Charter.
- [ ] Send a email to kubernetes-dev to let people know the

[2019-02-07 19:26] castrojo opened #3228 "WG Container Identity needs to be retired"
This group was folded back into SIG auth, retro doc is here: https://docs.google.com/document/d/1qZcAvuWBznR_oEaPWtwm7U4JNT91m8r9YOUvInU-src/edit#heading=h.jsw0l2t0ra8

We just need to close out the small details.

- [x] Chairs agree to disband. This decision should follow the decision making process of the SIG's Charter.
- [x] Send a email to kubernetes-dev to let people know the SIG has either c

[2019-02-07 19:35] castrojo commented on #3227
/sig contributor-experience

[2019-02-07 20:18] ant31 commented on #3227
@castrojo yes, we already agreed to terminate it during our the last meeting.
we wanted to do a blog post with what the wg has achieved and where the work continue (sig apps/sig cli) and announce the retirement of the WG.
Maybe it's time to do it :)

[2019-02-07 20:24] castrojo commented on #3188
Tracking:

- https://github.com/kubernetes/community/issues/3228
- https://github.com/kubernetes/community/issues/3227
- https://github.com/kubernetes/community/issues/3185

[2019-02-07 20:54] lrouquette commented on #2210
@danielepolencic - I'm facing the same issue. Aside from the inconvenience you listed, wouldn't the metric of type External satisfy the requirement since you can describe how the metric is used (Value, AverageValue or Utilization)? Perhaps I'm missing something.

For full disclosure, I'm currently using a custom metric implemented via the [Prometheus adapter](https://github.com/DirectXMan12/k8s-pr

[2019-02-07 20:55] lrouquette commented on #2210
/remove-lifecycle rotten

[2019-02-07 21:47] destijl commented on #3228
I think we've done most/all of these already, check out the thread "Turning down container identity WG" with paris.

[2019-02-08 00:54] coderanger commented on #2923
/lifecycle frozen

[2019-02-08 08:26] vikashiscoder opened #3229 "test"
test

[2019-02-08 08:27] #3229 closed

[2019-02-08 08:57] danielepolencic commented on #2210
I thought External is meant for external resources such as Azure Service Bus or Google Big Query and not Pods. Can you use external with objects inside the cluster?

[2019-02-08 13:59] RajatVaryani opened #3232 "None of the links works."
Hello everyone. I landed on a page https://github.com/kubernetes/community/tree/master/sig-contributor-experience wherein some links are mentioned at the bottom (**Github team**). None of them works. Ideally where should they be pointing to? Would like to raise PR for the same.

[2019-02-08 14:02] RajatVaryani commented on #3232
/sig contributor-experience

[2019-02-08 14:03] nikhita commented on #3232
@RajatVaryani The links will only work for members of the Kubernetes GitHub org. The line "Note that the links to display team membership will only work if you are a member of the org" in the doc essentially means that.

If you are still interested in contributing, please take a look at the issues with the label `good-first-issue`. Thanks! :)

/close

[2019-02-08 14:03] #3232 closed

[2019-02-08 15:12] castrojo commented on #3228
I can finish most of these for you (started today!), but mostly I need one of you to ensure that the main google group and corresponding -leads group is set to read-only.

[2019-02-08 15:54] castrojo commented on #3185
I've taken care of youtube, sigs.yaml and labels.yaml have a PR in flight, thanks everyone!

[2019-02-08 15:54] #3185 closed

[2019-02-08 17:24] lrouquette commented on #2210
The way I read this is that the _metric_ itself is external to the cluster. How that metric is ingested is somewhat irrelevant; for instance, you could have Prometheus scrape the data directly from the Azure Service Bus, or AWS SQS. But nothing prevents you from exposing that metric to Prometheus from inside the k8s cluster: the object used to expose that metric (perhaps a Service) is completely i

[2019-02-08 17:48] mrbobbytables opened #3237 "Standardize obs streaming config"
This follow-up to a conversation with @castrojo and @jeefy.

We should standardize and check in an [OBS](https://obsproject.com/) streaming config similar to what was done for [TGIK](https://github.com/heptio/tgik/tree/master/obs-config). This will make it easier for others to step in and stream things such as office hours or meet our contributors in the event either @castrojo or @jeefy is unavail

[2019-02-08 18:14] mrbobbytables commented on #3237
/assign @castrojo @jeefy

[2019-02-08 19:40] #2245 closed

[2019-02-09 21:01] luxas commented on #3185
Thanks a lot @castrojo :clap:!

[2019-02-11 23:01] spiffxp commented on #3139
I disabled the waiting room, meeting worked as expected today

[2019-02-12 01:13] spiffxp commented on #3139
Just to close the loop on "did I read the docs", I saw something about the waiting room at https://git.k8s.io/community/communication/zoom-guidelines.md#moderation and assumed that was a thing I needed to enable.  The doc shared with kubernetes-sig-leads@ mentions it, but only as an "if you have it enabled"

Why this is still open: I need to actually make a sig-testing shared calendar and put the

[2019-02-12 01:15] parispittman commented on #3139
the doc is currently showing that the waiting room is what happens when you put someone on hold. we told folks to initially to enable that before we had the security under control but have since edited out those instances on all docs.

[2019-02-12 10:46] kyeett opened #3247 "When will slack re-open for invites?"
Hi!

I'm just getting started with Kubernetes and would like to join the [K8s slack](http://slack.k8s.io/), which is unavailable due to "recent attacks". Since it doesn't say for how long the invites have been unavailable, I don't know if I should expect it to never open again, or should I check back in another week.

Some information that could be useful:
1. How long has it been down (a few days,

[2019-02-12 10:51] kyeett commented on #3247
/sig area/community-management

[2019-02-12 10:54] kyeett commented on #3247
@kubernetes/sig-contributor-experience-proposal

[2019-02-12 12:08] nikhita commented on #3247
cc @parispittman @coderanger @idvoretskyi @jdumars

[2019-02-12 12:08] idvoretskyi commented on #2324
SIG-OnPrem GitHub accounts and mailing lists are successfully deleted.

[2019-02-12 12:13] idvoretskyi commented on #2324
The following groups own the mailing lists that still exist:

@kubernetes/sig-api-machinery-misc
@kubernetes/sig-architecture-misc-use-only-as-a-last-resort
@kubernetes/sig-autoscaling-misc
@kubernetes/sig-aws-misc
@kubernetes/sig-cli-misc
@kubernetes/sig-cloud-provider
@kubernetes/sig-cluster-lifecycle
@kubernetes/sig-multicluster-misc
@kubernetes/sig-release
and SIG-VMware.

I can delete these m

[2019-02-12 12:38] idvoretskyi commented on #3079
@mattj-io let's schedule a brief call next week (I assume you'll have more capacity). It would be great to move forward with this.

/cc @parispittman

[2019-02-12 15:42] mattj-io commented on #3079
Sounds good. I'm back in the UK from Tuesday.

On Tue, 12 Feb 2019 at 04:39, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2019-02-12 16:54] dims opened #3249 "Unknown owner for kubernetes-announce ML"
[code]

cc @hoegaarden @justaugustus @tpepper @idvoretskyi

/sig contribex

[2019-02-12 16:59] calebamiles commented on #3249
I'm one of the owners for this mailing list. Posting Permissions have been given to @hoegaarden

/close

[2019-02-12 16:59] #3249 closed

[2019-02-12 19:45] egernst opened #3250 "multi-tenancy SIG readme needs updating for meeting schedule, chairs"
Tasha Drew is the chair.

Meetings are biweekly on Tuesdays.

Existing readme is wrong and confusing.

[2019-02-12 19:50] egernst commented on #3250
/sig multitenancy

[2019-02-12 19:53] egernst commented on #3250
/cc @tashimi

[2019-02-12 19:57] egernst commented on #3250
Help me @k8s-ci-robot! I don't see an appropriate SIG/WG label for multi-tenancy group.

[2019-02-12 22:57] cblecker commented on #3250
/wg multitenancy

[2019-02-13 21:23] castrojo commented on #3188
These have been pruned from github but still need mailing list closure, so I'll keep this open until that's complete.

[2019-02-15 00:09] caseydavenport opened #3258 "Define more roles for SIG network"
Taking some inspiration from https://github.com/kubernetes/community/issues/3076

I think some well-defined roles will help increase contribution and provide opportunities for recognition. Starting this as a place to discuss which roles make sense for the SIG.

These can be regularly rotating positions (e.g., each release cycle, or something similar) to encourage more folks to get involved! As sug

[2019-02-15 00:09] caseydavenport commented on #3258
/sig network

[2019-02-15 18:53] liggitt commented on #3211
[Pod priority and preemption review](https://docs.google.com/document/d/1W3nqRejktMXFR3ykmDBMJOCPt3EvpAMh11NF72N_AqI/edit#)

[2019-02-16 07:18] #3250 closed

[2019-02-16 07:38] #2295 closed

[2019-02-16 10:41] #2291 closed

[2019-02-16 21:58] justaugustus commented on #3079
/assign
/sig pm

[2019-02-16 23:04] justaugustus opened #3266 "Update SIG PM charter"
We (SIG PM) owe a new charter.
@idvoretskyi and I working on an updated one, just putting an issue up for tracking purposes.
We'll put up a PR when this is ready for review.

ref: https://github.com/kubernetes/steering/issues/31, https://github.com/kubernetes/community/pull/2068

/sig pm
/assign @idvoretskyi @justaugustus

[2019-02-16 23:04] justaugustus commented on #3266
cc: @calebamiles @jdumars

[2019-02-17 00:51] justaugustus opened #3267 "Discuss project grooming"
In recent discussions in Steering and [SIG PM](https://youtu.be/7N2U27pTebw), I mention the possibility of having SIG PM assist with backlog grooming for project-wide groups e.g., Steering, PM, Architecture, ContribEx.

Overall, there's been positive reception so far, but I'd like to document the intent and open the floor for comments. This is something that would get added as something in-scope f

[2019-02-17 00:55] justaugustus commented on #3267
cc: @parispittman

[2019-02-17 01:01] justaugustus commented on #3267
Question for peribolos wizards (@cblecker, @fejta, @cjwagner, @spiffxp):
Is it possible to manage project board permissions with peribolos? It would be cool if this `project-managers` group was automatically added to org-level boards in the future.

[2019-02-17 04:28] justaugustus opened #3268 "Create a project board for WG LTS"
Spoke with @imkin on Friday and he requested a project board to track WG LTS efforts.
I've created that here: https://github.com/orgs/kubernetes/projects/15

Before handing that off to WG LTS, I'd like to see a GH team for WG LTS created, so we can give that group write access to the board.
Optionally, a `wg/lts` could also be created to make it easier to search issues.

/assign @imkin @tpepper
/w

[2019-02-17 12:28] nikhita commented on #3267
No, this is not possible today.

[2019-02-17 22:19] mrbobbytables commented on #2955
/remove-lifecycle stale

[2019-02-18 16:00] parispittman commented on #2857
/remove-lifecycle stale

[2019-02-18 17:36] parispittman opened #3270 "Create Comms Timeline for Barcelona Contributor Summit"
this is a work in progress state and issue will be closed when all deadlines have been populated

document will also be a template for the san deigo event

[Comms Timeline - accessible by contribex mailing list members](https://docs.google.com/spreadsheets/d/1ZyYWVuoD04jX_SJ8Ic6czYkNNphiaBY7hvN6UoV0ZHk/edit?usp=sharing)

[2019-02-18 17:50] parispittman opened #3271 "Create Event Website for Barcelona Contributor Summit"
- [ ] figure out the event site mechanism - github pages, cvent reg page, etc.
- [ ] engage a designer with CNCF for a basic layout
- [ ] put up initial copy

this issue will close when we go live with a site

[2019-02-18 17:52] mrbobbytables commented on #3271
/assign

[2019-02-18 23:55] cblecker commented on #3267
Yeah, as Nikhita said, no, this is not possible... but I think that's okay, mostly for the reason of this being "opt-in". Like, a sig should be able to say "yes, I would love sig-pm's help to maintain my board" or "no thank you, we would like to maintain our board ourselves".

The other tricky bit is for boards that are repo-scoped, rather than org-scoped. I wish all boards were just org-scoped, b

[2019-02-19 00:44] justaugustus commented on #3267
SGTM.
While we're staffing, I'd only want to sign us up for managing a few boards (Steering, SIG PM, KEP Implementation Tracking, API Reviews, KEP Tracking). Those are in-scope for what @jdumars and myself have already been doing. From there, we would probably bring a few more people on and look at helping out SIG ContribEx next.

I'd prefer the boards we manage be org-scoped as well. In addition

[2019-02-19 13:44] idvoretskyi opened #3272 "Create the Project Boards for Kubernetes Contributor Summits"
- [x] - Kubernetes Contributor Summit EU 2019 (Barcelona)
- [x] - Kubernetes Contributor Summit CN 2019 (Shanghai)
- [x] - Kubernetes Contributor Summit NA 2019 (San Diego)

/area contributor-summit
/sig contributor-experience
/assign @idvoretskyi

[2019-02-19 13:52] idvoretskyi opened #3273 "Create a Content Proposal for Contributor Summit Barcelona 2019"
- [ ] - Contributor Summit Barcelona 2019 Content Proposal to be drafted
- [ ] - Content Proposal to be reviewed and signed off by the Contributor Summit team
- [ ] - PR to be submitted to https://github.com/kubernetes/community/tree/master/events/2019/05-contributor-summit

/assign @geekygirldawn

[2019-02-19 13:59] idvoretskyi opened #3274 "Create a Contributor Summit EU 2019 blog post"
- [x] - Draft a Contributor Summit EU 2019 blog post
- [x] - The blog post draft to be reviewed
- [x] - Define the timeline for publishing
- [x] - The blog post is published 🎉

This issue can be closed after the Contributor Summit will be officially announced via the Kubernetes blog.

/assign @parispittman @jonasrosland
/area contributor-summit
/sig contributor-experience

[2019-02-19 14:03] mrbobbytables commented on #3190
Just updating, These tasks should be complete:
* a skeleton event page in /events done (#3243)
* sigs.yaml has been updated with the Monday (our main session) time for this subproject "events" (#3217)

The last issue - _"venue and date(s)/time(s) are set"_, should be soon.

[2019-02-19 14:06] idvoretskyi opened #3275 "Create an event description of the 2019 Kubernetes Contributor Summit CN"
- [ ] - [README.md](https://github.com/kubernetes/community/tree/master/events/2019/06-contributor-summit) of the event has to be filled out with the initial event information.

/assign @jberkus

[2019-02-19 14:06] idvoretskyi opened #3276 "Create an event description of the 2019 Kubernetes Contributor Summit EU"
- [x] - [README.md](https://github.com/kubernetes/community/tree/master/events/2019/05-contributor-summit) of the event has to be filled out with the initial event information.

/assign @jonasrosland

[2019-02-19 14:22] idvoretskyi commented on #3272
Done:

- Kubernetes Contributor Summit EU 2019 (Barcelona) - https://github.com/kubernetes/community/projects/4

- Kubernetes Contributor Summit CN 2019 (Shanghai) - https://github.com/kubernetes/community/projects/5

- Kubernetes Contributor Summit NA 2019 (San Diego) - https://github.com/kubernetes/community/projects/6

[2019-02-19 14:27] idvoretskyi commented on #3267
@justaugustus

Please, update the OP after the naming changes discussed here - https://github.com/kubernetes/org/pull/496#issuecomment-464932769.

[2019-02-19 14:34] idvoretskyi commented on #3267
I disagree that org-scope should be mandatory (let's agree that it's a default and preferred behaviour, but not mandatory). There may be cases, when repo-wide boards are a preferred way to go.

[2019-02-19 14:58] justaugustus commented on #3267
Not implying that we should mandate org-level boards; they're just easier from the mgmt perspective for horizontal groups. Repo-scoped boards definitely work well for work that is tightly scoped to code.

[2019-02-19 20:52] dims opened #3277 "Core Infrastructure Initiative for Kubernetes - Move to next level above "passing""
We currently have a "passing" grade for Kubernetes at https://bestpractices.coreinfrastructure.org/en/projects/569

https://github.com/coreinfrastructure/best-practices-badge has more information about the initiative. This was also presented in the CNCF TOC meeting on Feb 19th.

We should research if we can move to the "silver" [1] (and then "gold") and see what we may be missing in what we do. Th

[2019-02-19 21:11] cblecker commented on #3272
/reopen

@idvoretskyi These should probably be org-level boards, as you can't grant access to move things around on the board without giving full write access to the repo.

[2019-02-20 04:59] bgrant0607 commented on #3267
It looks like it's now possible to access control org-level project boards? The lack of team-based ACLs is what previously drove us to create repos to contain projects, like architecture-tracking.
https://help.github.com/articles/project-board-permissions-for-an-organization/

[2019-02-20 05:05] liggitt commented on #3267
Yes. Examples for the API review project:

Org members can be scoped to read access:

![screen shot 2019-02-20 at 12 04 24 am](https://user-images.githubusercontent.com/980082/53067666-31b88280-34a3-11e9-905b-299ccb274c25.png)

And specific teams in the org given other levels of access:

![screen shot 2019-02-20 at 12 04 35 am](https://user-images.githubusercontent.com/980082/53067679-3f6e0800-34a

[2019-02-20 05:58] justaugustus opened #3280 "Set default org-level project board permissions"
In discussing [project grooming](https://github.com/kubernetes/community/issues/3267#issuecomment-465425845), I noticed that the default visibility for org-level project boards are private and default permissions are write. Ideally, these would be `public` and ~`read`~ `write`.

![screenshot from 2019-02-20 00-44-22](https://user-images.githubusercontent.com/567897/53069121-db4e4280-34a8-11e9-8d0d

[2019-02-20 05:58] justaugustus commented on #3280
/area github-management

[2019-02-20 06:03] justaugustus commented on #3267
Yep. I've noticed the defaults for the project boards are:
- visibility: private
- permission: write

I'm thinking these should be:
- visibility: public
- permission: read

Opened a separate issue for that: https://github.com/kubernetes/community/issues/3280

[2019-02-20 06:32] bgrant0607 commented on #3267
Oh, right. Org-level boards also used to only be visible to org members

[2019-02-20 06:54] nikhita commented on #3280
It's not possible today but I think it should be possible to add a feature for this: https://developer.github.com/v3/projects/#update-a-project.

/cc @cblecker @fejta

[2019-02-20 06:55] nikhita commented on #3280
For now, if there is consensus, we can flip the settings for all boards so that they are Public and org members have Read access.

[2019-02-20 07:16] justaugustus opened #3281 "Process for requesting community surveys"
Occasionally, contributors and SIGs are interested in surveying the community.
Currently, AFAIK, we don't a defined process around requesting surveys and the comms involved in the process.

A few things to consider:
- Who should have access to Survey Monkey? We need to minimize sharing the credentials as it's a single-user account.
- Should we investigate a team account? Does the demand support th

[2019-02-20 08:29] nikhita commented on #2812
/remove-lifecycle stale

[2019-02-20 08:57] justaugustus commented on #3280
@nikhita -- I'm in favor of that.
Can you list the project board admins for org-level projects here so we can get their approval? I don't believe I have the rights to do that myself.

[2019-02-20 09:19] nikhita commented on #3280
The following org-level project boards are Private and have Write access for org members:

- 1.14 CI Signal - @mariantalla
- SIG NETWORK - @bowei

The following org-level project boards are Private and have Read access for org members:

- Kubernetes Infrastructure Team - @dims and @cblecker

The following org-level project boards are Public and have Write access for org members:

- cncf-k8s-confor

[2019-02-20 13:49] idvoretskyi commented on #3272
@cblecker this initiative was discussed at the regular Contributor Summit planning meeting, where we agreed to have these boards repo-wide (no necessity to keep them org-wide).

[2019-02-20 15:30] parispittman commented on #3281
@idvoretskyi has access to SurveyMonkey. CNCF should remain holding this. He can create the survey for you and then give you collaboration access. We link the final data from a google drive (team drive tbd as requested through a gsuite in cncf service desk yesterday) in a file like this: https://github.com/kubernetes/community/blob/master/sig-contributor-experience/contribex-survey-2018.md

[2019-02-20 15:31] parispittman commented on #3281
this is technically a team account. we requested it specifically for kubernetes from cncf.

[2019-02-20 15:45] parispittman opened #3283 "create project boards for all contribex subprojects"
we should have a project board for each subproject and then a main contribex one that is catching the umbrella and stuff that is left over.

Our main one now is too busy and not easy to figure out. Breaking this down will also help with meetings and standups.

[2019-02-20 15:54] liggitt commented on #3211
[Promote RunAsGroup to beta](https://docs.google.com/document/d/1sA-XVWOimfov1Gemw02Bwi50bGazeRc3hod0JL4wA_0/edit) review notes

[2019-02-20 16:19] spiffxp commented on #3280
I'm more of a fan of Write being the default, because it means contributors can move and add cards themselves.  Please leave as such for the cncf-k8s-conformance-wg board, and I would prefer the same for the Deflaking board.

[2019-02-20 17:47] PatrickLang commented on #3280
+1 to write being the default. We want members to be able to update the SIG-Windows board on their own as they take work items. It's good having this board in the org instead of a separate Trello because it's discoverable and doesn't require separate permissions.

[2019-02-20 18:10] jberkus commented on #3076
Do we already have a role for Process Change Notification?  That is, if we roll out a change to merges, labels, etc., making sure that all contributors are informed and have a chance to give feedback?

[2019-02-20 18:13] parispittman commented on #3076
@jberkus i figured that could be the blogger and the marketing person

[2019-02-20 18:13] bgrant0607 commented on #3227
I followed the list archiving instructions, except I didn't send a message to the list, since no messages have been posted since last July.
https://github.com/kubernetes/community/blob/master/communication/mailing-list-guidelines.md#archive-a-mailing-list

In particulary, posting is now disabled and joining is invitation only.

[2019-02-20 18:14] jberkus commented on #3076
Paris: not the same thing, at all.  Blogger/marketing is outward-focussed.  Process Change Notification works internally with the SIG leads, SIG-PM, SIG-Release, etc.

It's sounding like I should think about this role ...

[2019-02-20 18:21] jonasrosland commented on #3076
Regarding the Marketing role, would that then have Blogger, Event, and Social Media rolling up to them? I'm imagining a facilitator role to make sure everyone's on the same page.

[2019-02-20 18:24] parispittman commented on #3076
@jonasrosland that would be a good idea imo - marketing lead

[2019-02-20 20:24] thockin commented on #3211
CSINodeInfo and CSIDriver notes: https://docs.google.com/document/d/1pkCYjr_OLCRUk2e606eMa2PEIwJdFHAfU5slXtBcKj8/edit#

[2019-02-20 20:59] thockin commented on #3211
CSI Inline Volumes: https://docs.google.com/document/d/19-q0YR6D1wuZwrdBl3U5Xp9Wg6d7UXPFXKvKv5uH96w/edit#heading=h.8i4r99zg796y

[2019-02-21 00:04] thockin commented on #3211
Ingress -> network group:  https://docs.google.com/document/d/1RycD0x-WUBvPjtTyLYCZF_db_Jv9b36NW1PynMEOm9Q/edit

[2019-02-21 01:16] justaugustus commented on #3280
@spiffxp / @PatrickLang -- Right you are; just looked over the permissions again. Let's go with visibility: public and permissions: write for the org-level boards. Will update the description.

[2019-02-21 01:22] justaugustus commented on #3281
Just to clarify for passerbys, the intention is to document the process around generating a survey and the associated administrivia. Ihor, Paris, and myself have access to the Survey Monkey account.

---

@parispittman -- We actually have an individual account and share the creds. Survey Monkey has team plans as well.

[2019-02-21 18:55] idvoretskyi commented on #3283
/cc

[2019-02-22 02:35] mrbobbytables commented on #3271
/cc @debgiles

[2019-02-22 13:56] JasonvanBrackel commented on #3247
@kyeett In the meantime, you're welcome in the the Rancher slack. We have some great Kubernetes practitioners in the general and kubernetes channels. Many of us are in both Slack workspaces.  I'm jvb over there and in the Kubernetes slack as well.  http://slack.rancher.io/

[2019-02-22 13:56] nikhita commented on #3280
I have updated https://github.com/kubernetes/community/issues/3280#issuecomment-465492138 to list access options for all org-level project boards. IMO we should go for Public + Write as a default, but not enforce this on all boards.

For example, I don't think everyone should have write access to the API Reviews project board and this should only be scoped to the API reviewers/approvers. cc @liggi

[2019-02-22 14:16] liggitt commented on #3280
correct, the current permissions are desired (read access for public and org members, write access for approvers/reviewers teams)

[2019-02-22 14:42] mattfarina commented on #3267
Regarding the KEP board, because we merge early and often the PRs for those are not a useful thing to track on a board. We need to come up with a plan (short and long term) to get these wrangled.

A possible short term plan would be to have an issue for every KEP. Each of the PRs could be associated with the issue. A label could be used to track state (e.g., `provisional`, etc).

It would be nice

[2019-02-22 14:46] castrojo commented on #3281
/assign

I'm working on this as part of https://github.com/kubernetes/community/issues/1693 with a section on how SIGs can request survey resources. It's currently empty but when I submit the draft PR I'll circle back around for the process.

[2019-02-22 15:46] spiffxp commented on #3267
Sounds like the tracking issues that the release team uses.  I agree there is much that could be done to improve them, but I would start there.

[2019-02-22 15:58] spiffxp commented on #3280
Given that people have preferences that are more or less restrictive than the proposed defaults, and we can't actually set a default, this sounds like guidelines / docs more than automated enforcement

[2019-02-22 16:33] kyeett commented on #3247
@JasonvanBrackel Thank you! I'll join.

[2019-02-22 19:42] bgrant0607 commented on #484
Changes to the set of conformance tests should have release notes that briefly explains what the change is to someone who cares about what conformance tests are run, passing/failing, etc., such as a Kubernetes provider or someone building their own cluster "the hard way".

[2019-02-22 21:41] marpaia commented on #484
CC @dstrebel @onyiny-ang and @jeefy to follow-up with @bgrant0607 and the Conformance Working Group to determine what content we should add to the release notes regarding the changes that are happening.

[2019-02-22 21:54] mattfarina commented on #3267
@spiffxp That is a good place to start. We also need to consider the features that are not in a k8s/k8s release but are a KEP. Thanks for the reminder.

[2019-02-23 19:38] Sai-Adarsh commented on #3087
@spiffxp Shall I work on this issue?

[2019-02-23 20:36] spiffxp commented on #2651
/remove-area test
/area conformance

[2019-02-23 22:02] guineveresaenger commented on #3087
@Sai-Adarsh yes please! Happy to answer questions and help. I’m gsaenger on k8s slack. ❤️

[2019-02-24 01:32] herbrandson opened #3296 "It would be nice if the "icons" directory included an icon for the kubernetes logo"
I realize there's already a logo elsewhere in the kubernetes repo, but the styling isn't quite the same as these (i.e. it's missing the white border)

[2019-02-24 15:59] nikhita commented on #3296
For reference, the main Kubernetes logo exists here: https://github.com/kubernetes/kubernetes/tree/master/logo.

This was discussed previously and it was decided to leave the main kubernetes logo in the kubernetes/kubernetes repo.

@herbrandson I'm trying to understand this better -- do you mean that the main kubernetes logo does not have the border or the icons in the `icons` directory? I can see

[2019-02-24 16:39] nikhita opened #3297 "Add a field for User Groups in sigs.yaml"
"User Groups" were added in https://github.com/kubernetes/community/pull/3174. https://github.com/kubernetes/community/blob/master/governance.md#user-groups

We also need to add this as a field in sigs.yaml. Ref: https://github.com/kubernetes/community/pull/2988#issuecomment-465792969

/assign
/sig contributor-experience
/cc @cblecker @parispittman

[2019-02-24 16:47] nikhita commented on #3272
Who all are intended to have write access to the contributor summit project boards? My understanding is that folks who are involved in organizing need to have access to it too. In that case, it's easier to give them access to the project board if the project board is org-level. If not, we'll need to grant all of them organizers write access to the community repo (which we'd like to limit in genera

[2019-02-24 16:54] mrbobbytables commented on #3272
As someone who would be on the events team list, I agree. It'd be nice if GH boards had more granular access-control, but  as they do not, I think org level boards would be a better option overall.

[2019-02-24 17:25] nikhita commented on #3268
Created https://github.com/kubernetes/test-infra/pull/11487 for this. :)

[2019-02-24 17:32] neolit123 commented on #3268
erm, i already have write access to this project board.

[2019-02-24 18:23] nikhita commented on #3296
/cc @cblecker

[2019-02-24 20:00] nikhita commented on #3280
Created #3300

[2019-02-24 20:05] nikhita commented on #3272
Relevant to the discussion here: I have created https://github.com/kubernetes/community/pull/3300 to document some guidelines regarding project boards. PTAL. :)

[2019-02-24 20:11] nikhita commented on #2953
We still get a few trivial PRs in k/k weekly but I don't think there is sufficient data that it is immensely problematic today.

I'll close this issue since it isn't really actionable without metrics of negative impact (if any) trivial PRs have had. Please reopen if needed, or create a follow up issue discussing the metrics aspect.

/close

[2019-02-24 20:11] #2953 closed

[2019-02-24 20:12] nikhita commented on #2951
/remove-lifecycle stale

[2019-02-24 20:16] nikhita commented on #2937
@jdumars bump about updating the link. :)

[2019-02-24 20:21] nikhita commented on #2703
@shubheksha @parispittman We have all communication mediums listed here: https://github.com/kubernetes/community/blob/master/communication/README.md. The doc also includes what each medium is used for.

We also have issue templates which contain information about support channels in case someone wants to open a support request.

Do you think this covers it? If not, where do you think we should doc

[2019-02-24 20:22] nikhita commented on #2043
@shubheksha Bump about https://github.com/kubernetes/community/issues/2043#issuecomment-440950469 :)

[2019-02-24 20:24] nikhita commented on #1632
@castrojo I'm trying to understand what this issue better -- does this mean just adding a link to the developer guide from the contributor guide or hashing out some more things? If its the former, we could add back the good-first-issue label.

The developer guide has also gone through a major overhaul (thanks to @eduartua!).

[2019-02-24 20:28] nikhita commented on #923
/remove-lifecycle rotten

I think it would still be good to have this explicitly documented in the issue triage doc.

/assign

[2019-02-24 20:29] nikhita commented on #2833
/remove-lifecycle rotten

:+1:

[2019-02-24 20:38] nikhita commented on #505
/area developer-guide
/cc @eduartua

[2019-02-24 20:42] nikhita commented on #2072
/remove-lifecycle frozen

/cc @spiffxp @parispittman
cc'ing you two for comments first since you are involved in steering + overhaul of governance docs

Will cc the whole steering committee later if needed. :grimacing:

[2019-02-24 20:46] nikhita commented on #2349
Bumping this -- do we still want to have this? If yes, it'd be nice to have an agreed direction and then add the help wanted label. :grimacing:

[2019-02-24 21:41] neolit123 commented on #2349
i must admit i never had the need for such a tool, so it's up to sig-release to plan and own this item.

[2019-02-24 23:52] herbrandson commented on #3296
logo_with_border.svg was exactly what I was looking for! So sorry. Not sure how I missed that :(

[2019-02-24 23:52] #3296 closed

[2019-02-25 03:10] nikhita commented on #3296
No problem! Glad you found it. :)

On Mon 25 Feb, 2019, 5:23 AM Eric Herbrandson, <notifications@github.com>
wrote:

[2019-02-25 03:38] cblecker commented on #2349
/lifecycle frozen

If this isn't actively being worked on by sig release, then this should be allowed to close.

[2019-02-25 03:42] cblecker opened #3301 "Audit wiki permissions"
Ensure all repos that have a wiki enabled, have it locked down to those with write access.

/cc @kubernetes/owners
/area github-management
/sig contributor-experience

[2019-02-25 09:08] nikhita commented on #3301
/assign

[2019-02-25 09:38] idvoretskyi commented on #3272
@nikhita I see.

@cblecker @justaugustus is it possible to migrate the project boards to org-level if needed?

[2019-02-25 09:49] nikhita commented on #3272
No...but you can copy the column names, description and automation settings to org-level. The cards would not be copied.

https://help.github.com/en/articles/copying-a-project-board

[2019-02-25 09:51] idvoretskyi commented on #3272
@nikhita thanks. Let's agree on our board strategy at the meeting ContribSummit today.

[2019-02-25 10:08] nikhita commented on #3301
Using queries like https://github.com/search?p=1&q=org%3Akubernetes&type=Wikis to search wikis, these are the repos which have Wikis enabled.

For the repos that had public access, I have flipped the setting and locked it down to those with write access.

**Kubernetes**:
- website
- client-go
- kubectl
- dashboard
- kubernetes-anywhere

Out of these, dashboard had public access.
cc @maciaszczykm @

[2019-02-25 10:08] #3301 closed

[2019-02-25 11:00] nikhita commented on #2349
@cblecker I'm guessing you wanted to remove the frozen label so...

/remove-lifecycle frozen

[2019-02-25 15:24] parispittman commented on #1632
@nikhita - pretty sure it's just a link to the main devrel readme when its ready

[2019-02-25 16:10] nikhita commented on #1632
@parispittman Thanks. Do you think we can link it even today? What does ready mean here? :)

[2019-02-25 16:13] parispittman commented on #3190
waiting on venue confirmation to close - hope to have that by this Friday

[2019-02-25 17:27] geekygirldawn commented on #3273
/assign @guineveresaenger

[2019-02-25 23:27] guineveresaenger commented on #3273
Made edits to the doc with a tentative outline for teaching content

Still needs approximate time slots

My suggestion is to put all the community information at the beginning and have both tracks attend together, since this is nontechnical content meant to explain how we work.

[2019-02-26 03:37] spiffxp opened #3305 "devstats: many new repos aren't included in devstats"
ref: https://github.com/cncf/devstats/issues/158

I ran a script to generate the SIG-based grouping last time, but of course like a genius I don't think I actually checked it in.  Creating the issue here so it can be /assign'ed and maybe handled by one of the other devstats subproject owners.  I'm not sure when I'll be able to get to this.

/area devstats
/sig contributor-experience
/priority impo

[2019-02-26 04:24] nikhita commented on #3305
Wrote a very-quick-and-hacky script to generate the list from sigs.yaml and created a PR against the devstats repo: https://github.com/cncf/devstats/pull/167.

If the folks assigned here could review the PR, that'd be great. :)

[2019-02-26 05:05] BenTheElder commented on #2959
I completely ran out of bandwidth to look into options for this further.

Totally agree we should try to find / select one to re-use first and get that setup.

We do at least have DNS managed by config now.. perhaps the TXT record redirector could be integrated with that.

Pretty sure ContribEx still wants this.
/remove-lifecycle stale

[2019-02-26 05:34] nikhita commented on #2696
/remove-lifecycle stale

[2019-02-26 21:12] philips commented on #2992
@brendanburns Did you ever see any response on the CNCF Service Desk request for Go dependency CVE tracking?

@tallclair Is there even a way for Go dependencies to express metadata about security right now?

[2019-02-26 21:15] tallclair commented on #2992
Not that I know of... Maybe it's something the go team could help us solve?

[2019-02-26 21:21] philips commented on #2992
@tallclair Yea, I think we are in a bit of a chicken and egg situation. If there is no way to express security issues then it is impossible to build tooling for it.

Anyone know who on the Go team to talk to? The only person I know is @bradfitz 👋

[2019-02-26 21:30] mrbobbytables opened #3310 "REQUEST: New moderator for mrbobbytables of slack"
### GitHub Username
@mrbobbytables

### Property you'd like to Moderate
Slack - Happy to moderate others, but will limit this request to just slack for now.

### Username on Property Requested
mrbobbytables

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines]((https://git.k8s.io/community/communicati

[2019-02-26 21:30] mrbobbytables commented on #3310
/sig contributor-experience

[2019-02-26 21:36] tallclair commented on #2992
I think there are some hacky things we could do, like creating a dashboard for commits of the dependencies. For other dependencies in github, we could also track issues & releases.

[2019-02-27 12:40] Sajmani commented on #2992
I'll loop in a few Go team members here; CVE tracking is definitely something we're thinking about. It would be useful to us to know what form this needs to take to integrate well with the k8s workflow.

CC @rsc @andybons @FiloSottile @julieqiu @spf13

[2019-02-27 13:03] dims commented on #2992
@Sajmani not sure if you have seen this already, just in case - https://github.com/kubernetes/sig-release/blob/master/security-release-process-documentation/security-release-process.md#security-release-process

[2019-02-27 13:48] nikhita commented on #3280
I think we can close this issue once we make all org-level boards Public.

@mariantalla any objections for making the 1.14 CI Signal board public?

@bowei any objections for making the SIG Network board public?

I can flip the settings from Private to Public if this sgty.

[2019-02-27 14:53] caniszczyk commented on #2992
nothing was every filed to the CNCF servicedesk but note that FOSSA which Kubernetes uses for licensing scanning already supports security scanning

CNCF also is happy to fund other tools like Snyk that do this type of work

[2019-02-27 14:58] dims commented on #2992
@caniszczyk Snyk does seem interesting, let's see what others say. one issue is that they support dep/govendor and we are currently using `godep`

- https://snyk.io/docs/snyk-for-golang/
- https://snyk.io/vuln?type=golang

[2019-02-27 14:59] caniszczyk commented on #2992
@dims ya, I mean since we're already doing the FOSSA scanning for licensing checks it shouldn't be too hard to do the CVE scan too, they are more than happy to help with this, but we leave it up to the project to choose what tools work best

[2019-02-27 16:29] Phamhien77779 opened #3312 "REQUEST: New moderator for <your-GH-handle> of <k8s property>"
### GitHub Username
e.g. (at)example_user

### Property you'd like to Moderate
e.g. discuss.k8s.io, kubernetes-dev

### Username on Property Requested
e.g. (at)example_user

### Requirements

- [ ] I am a Kubernetes Org member already
- [ ] I have read and will abide by the policies mentioned in the [Moderation Guidelines]((https://git.k8s.io/community/communication/moderation.md))
- [ ] I have tw

[2019-02-27 16:32] Phamhien77779 opened #3313 "REQUEST: New moderator for <your-GH-handle> of <k8s property>"
### GitHub Username
e.g. (at)example_user

### Property you'd like to Moderate
e.g. discuss.k8s.io, kubernetes-dev

### Username on Property Requested
e.g. (at)example_user

### Requirements

- [ ] I am a Kubernetes Org member already
- [ ] I have read and will abide by the policies mentioned in the [Moderation Guidelines]((https://git.k8s.io/community/communication/moderation.md))
- [ ] I have tw

[2019-02-27 16:58] mrbobbytables commented on #3312
@Phamhien77779 If becoming a moderator is something you're interested in, please consider the requirements first.

With that, both this and #3313 have been created as blank, which I'm pretty sure was unintentional. If you're having a problem or have any questions, please feel free to comment or reopen the issue with more details.

Thanks!

/assign

[2019-02-27 16:58] mrbobbytables commented on #3312
/close

[2019-02-27 16:58] #3312 closed

[2019-02-27 16:59] mrbobbytables commented on #3313
@Phamhien77779 If becoming a moderator is something you're interested in, please consider the requirements first.

With that, both this and #3312 have been created as blank, which I'm pretty sure was unintentional. If you're having a problem or have any questions, please feel free to comment or reopen the issue with more details.

Thanks!

/assign

[2019-02-27 16:59] mrbobbytables commented on #3313
/close

[2019-02-27 16:59] #3313 closed

[2019-02-27 17:33] philips commented on #2992
@caniszczyk This was filed with the service desk. Maybe something is wrong
with the CNCF service desk? Spam processing?

@brendanburns emailed the service desk (servicedesk@cncf.io) with the title
"Request for CVE/Vulnerability tracking for golang packages." on November
28th 2018. I was cc'd on the request and sent a followup email yesterday.

On Wed, Feb 27, 2019 at 6:54 AM Chris Aniszczyk <notif

[2019-02-27 17:44] caniszczyk commented on #2992
forward me the email and I'll look into it

On Wed, Feb 27, 2019 at 11:33 AM Brandon Philips <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-02-27 17:52] philips commented on #2992
@dims @caniszczyk The problem is that the data set FOSSA and synk are working from is super duper small. There are many libraries Kubernetes depends on that we have fixed issues in that don't show up in the snyk data set.

To fix this we have to work with the Go community to enable publishing of this metadata. This is not a vendor selection issue at this point. It is a missing metadata issue.