[2019-05-26 16:17] sftim opened #3737 "Clarify terminology “Kubernetes CLA” vs. “CNCF CLA”"
Some parts of this repo and the [Kubernetes documentation](https://kubernetes.io/docs/) mention a Kubernetes CLA; others, the CNCF CLA.

I _think_ the most accurate term is “CNCF Contributor License Agreement” because it's applicable to more than just Kubernetes. If so, then there's some cleanup tasks to adopt that wording everywhere.

/priority background

[2019-05-26 16:19] sftim commented on #3737
/kind documentation
/sig contributor-experience

[2019-05-26 22:31] mrbobbytables commented on #3726
Sorry for the delay in response, still playing catch up from KubeCon. -- Overall, I think this sounds fine.  :)
 The scopes are read only, and the time range is limited. It'd be interesting to see the data and run the report from release to release to see various trends.

[2019-05-26 23:31] justaugustus commented on #3456
Here's the state machine as a chart, based on what I have in my head:

## State Machine

| **State** | **Description** | **Entry Criteria** | **Bot Actions** | **Human Actions** |**Exit Criteria** |
|---|---|---|---|---|---|
| Open | Default state when an issue is opened | N/A | `needs/sig` and `needs/triage` are applied | One or more `sig/*` labels are applied | Has `sig/*` label |
| Triage | SIG

[2019-05-27 01:18] cblecker commented on #3737
Can you provide some examples of where you are seeing inconsistency?

[2019-05-27 04:47] justaugustus commented on #3456
Thanks so much for putting this together, @nikopen!
Allow me to comment on a few of these items...

Agreed. This is a great first step with the immediate impact of being able to search by a single label, instead of an aggregate of them.

I'm in favor of `needs-triage` or `needs/triage`.

Are SIGs indeed tasked with this by definition or is it an undocumented expectation?

Agreed that this would be

[2019-05-27 04:51] justaugustus commented on #3456
@nikopen -- Also, this is meaty and impactful enough now that it's deserving of a KEP.
Let's kick around thoughts on the state machine before moving forward with that.

[2019-05-27 10:10] nikhita commented on #3735
Closing in favour of https://github.com/kubernetes/kubernetes/issues/78342#issuecomment-495994653

/close

[2019-05-27 10:10] #3735 closed

[2019-05-27 10:28] nikhita commented on #2349
Given the past activity on this, I don't think this is really needed. Closing, but please reopen if needed.

/close

[2019-05-27 10:28] #2349 closed

[2019-05-27 15:25] nikhita opened #3741 "Enable global Slack welcome message"
**GitHub Username:** The issue template says that this needs to be the GitHub username of the bot owner or primary contact, not sure who this should be...I guess @Katharine or @jeefy? :grimacing:

**Slack Username:** Again, not sure who this should be.

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**: Bot, which sends a configurable welcome message to each new member

[2019-05-27 15:28] Katharine commented on #3741
Saving it from the history of a private Slack channel, this is the proposed message:

[code]

[2019-05-27 18:34] sftim commented on #3737
https://github.com/kubernetes/community/blob/95bb2fbd88b951ac20b34d35a89ce71c389afe21/CLA.md mentions “the Kubernetes CLA”; later on the page, there's a sample email which says:

and there's a heading [Setting up the CNCF CLA check](https://github.com/kubernetes/community/blob/95bb2fbd88b951ac20b34d35a89ce71c389afe21/CLA.md#setting-up-the-cncf-cla-check)

[Setting up the CNCF CLA check](https://gi

[2019-05-27 19:22] cblecker commented on #3737
So "CNCF CLA", "CLA", and "CNCF Contributor License Agreement" are interchangeable in my opinion depending on the context. "Kubernetes CLA" isn't accurate, and can be corrected. "Linux Foundation CLA" is a grey area, and may be correct in some cases (in particular when talking about the `cla/linuxfoundation` GitHub status context).

[2019-05-28 00:43] dims commented on #3741
@Katharine the message looks great!

[2019-05-28 14:57] nikopen commented on #3456
Excellent, thanks for the lengthy responses!

more thoughts ----

_state machine / labels_
- standardizing /needs and /lifecycle for the triage workflows looks good!
- /closed labels good!
- /priority is sometimes neglected and bit fuzzy as a notion, could be optional

- /lifecycle probably needs one more - `lifecycle _ready_` or similar - to indicate a ticket that is triaged and ready to be picke

[2019-05-28 19:05] nikopen commented on #3456
relevant - issue bot https://github.com/kubernetes/community/issues/3672

[2019-05-28 19:10] nikopen commented on #3672
@hamelsmu this looks great.

Have a quick read through https://github.com/kubernetes/community/issues/3456 if you will, currently draft proposals soon to be more concrete.

It will be interesting to have functionalities of automatically applying labels through project boards - ticket moved to column X gets label Y, and vice versa (ticket having labels Y and Z moving to project board U column Y) et

[2019-05-28 20:16] hamelsmu commented on #3672
@nikopen that sounds like a good use case for another bot and might be simple to implement (no machine learning required).

Some follow up/questions:
 - Need someone to sponsor the hosting of this bot, do you have any ideas?  (I can try to find a home if nothing comes to mind).
 - Should the issues be labeled as the same name of the column in the project board?

[2019-05-28 22:24] cblecker commented on #3456
A few thoughts:
- We have "mass reworked" labels a couple of times, and it's always extremely impactful on the contributor experience. Nobody is sure what they mean, who can apply them and how. Or which combination of labels is the right one. We need to tread lightly here.
- Do we really need `close/*` labels? These get stale if something is reopened. Is this something we need to or want to track

[2019-05-28 22:26] #3737 closed

[2019-05-29 09:03] justaugustus commented on #3623
@nikhita @dims @swinslow -- Invite sent for Thursday, May 30th, 2pm ET!
We may move this meeting as it is in the same timeslot as SIG Arch, but let's try it out for now and adjust if we need to later. :)

/close

[2019-05-29 09:17] nikopen commented on #3456
@cblecker ^^
- Agree on impact and confusion, thus having short and concise docs, announcements and clear "what changed" comms really helps with adoption. It's an important part of delivering it to 'prod'
- There can be a rule that "if issue/PR is open, remove all close/ labels". They're the replacement of the old 'triage' labels, but could do without them too, not too important for the results.
-

[2019-05-29 09:26] justaugustus commented on #3623
Notified SIG Release on the mailing list: https://groups.google.com/d/topic/kubernetes-sig-release/boaGhSZwd54/discussion

[2019-05-29 09:32] nikhita commented on #3623
I'm cool with this timeslot for this week, but would prefer if we can move it later so that it won't conflict with the SIG Arch (code organization) meeting. :)

I think I filled out the doodle before the code organization meeting was setup (sorry!) :see_no_evil:

[2019-05-29 09:41] justaugustus commented on #3623
@nikhita -- For sure, that can be one of our discussion topics!

[2019-05-29 12:29] parispittman commented on #3556
event is over. opening a new issue to cover the last item.

/close

[2019-05-29 12:29] #3556 closed

[2019-05-29 12:31] parispittman opened #3744 "[doc update] speed mentoring"
update the speed mentoring doc in /community/mentoring

include:
- [ ] where and how people can sign up to be a mentor or mentee at a future event
- [ ] explain "pod mentoring" vs 1:1
- [ ] talk about expectations
- [ ] delete past information and make this doc about the process and less about specific upcoming events

[2019-05-29 12:33] parispittman commented on #3270
/close

event is done. will have some comms timeline adjustments post retro.

[2019-05-29 12:33] #3270 closed

[2019-05-29 12:34] parispittman commented on #3449
done.

/close

[2019-05-29 12:34] #3449 closed

[2019-05-29 12:35] parispittman commented on #3348
event is over. we can open a new slides issue for the next event if there are other changes that need to happen post our retro.

/close

[2019-05-29 12:35] #3348 closed

[2019-05-29 12:36] parispittman commented on #3346
event is over. thanks for adding this demo!

/close

[2019-05-29 12:36] #3346 closed

[2019-05-29 12:36] parispittman commented on #3661
/close

[2019-05-29 12:36] #3661 closed

[2019-05-29 12:56] nikhita commented on #3305
/milestone Next

[2019-05-29 13:30] nikhita commented on #3696
/good-first-issue

[2019-05-29 13:38] spzala commented on #3456
To add on @cblecker point - initially when I proposed the triage labels they were actually close/* along with auto closing of issues. We had some folks liked the name but eventually with further discussion with community we voted to go with triage/* instead of close/* - https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/c8J8VOYeDB8/39kYEYkrBwAJ and https://grou

[2019-05-29 15:15] nikopen commented on #3456
Good to know!

Ultimately in their current state they just confuse people and they're old/mostly unused, so it's better to switch them back to close/ with some extra automation or even remove them.
It's necessary to change/remove them in order to move forward.

[2019-05-29 15:17] guineveresaenger commented on #1537
Awesome, will take a look soon!

[2019-05-29 15:54] spzala commented on #3456
I don't understand why it's necessary to change/remove them in order to move forward but I am totally fine with the overall decision here. It may be helpful if we keep all or some of them as such or with some renaming if it's confusing, and try educate triage engineers about the usage. As @cblecker mentioned close/* may be confusing as well. The idea of using triage/* labels was to use them mostly

[2019-05-29 16:48] nikopen commented on #3456
@spzala There's a lot of scattered context throughout this and other tickets that you might have missed.

[the first actionable item of this ticket](https://github.com/kubernetes/test-infra/pull/11818)  is a continuation of the [discussion in this link](https://groups.google.com/forum/#!topic/kubernetes-sig-contribex/BvGmOQ0v5f0) which is about live issue triage by @thockin . 99% of the `triage` l

[2019-05-29 17:15] spzala commented on #3456
Thanks @nikopen and sounds good. I have no objection with changes if that's making things simpler, some of those triage/* labels are probably pre-triage sort of findings with intention to help speed up triage by SMEs. closed/* is good, but it may not help identifying issues that are candidates for close. Agree that new issues always needs-triage.

[2019-05-29 18:04] nikopen commented on #3672
CNCF infra is still incubating, not sure if it's able to host it, @spiffxp @dims maybe you know better? Most things are still hosted in Google infra like [Prow ](https://github.com/kubernetes/test-infra/tree/master/prow)etc.

Columns will likely have standard kanban names like "in progress" , corresponding labels will probably be a bit different like "lifecycle/active" and so on. If it's more prac

[2019-05-29 18:12] guineveresaenger commented on #1537
ah, heh! yes! we can totally close this. Thanks for pinging!
/close

[2019-05-29 18:12] #1537 closed

[2019-05-30 00:19] mhamdisemah commented on #3696
@nikhita can I take care of this ? As this my first issue I would like to get some help.

[2019-05-30 06:17] nikhita commented on #3741
@Katharine @jeefy @mrbobbytables what are the next steps required for turning on the slack bot? Does a slack admin just need to add it to our instance?

To move this forward, I was thinking that we could do a lazy consensus on the contribex mailing list.

[2019-05-30 06:19] nikhita commented on #3741
Btw to @vllry's point on slack about how most questions in sig channels are ending up user focused:

Maybe we could replace `- Find a  <https://git.k8s.io/community/sig-list.md|SIG channel> to join and ask your question.` in `Have a general Kubernetes  question` with a link to our support channels?

[2019-05-30 06:25] nikhita commented on #3696
Sure! :smile:

https://groups.google.com/d/topic/kubernetes-dev/bXHK8l3D6l0/discussion has more details on the feature that we'd like to document. Basically it means that you can set your github status to "busy" to avoid getting review requests - if you are on vacation, taking time off, etc.

A note about this needs to be added in https://github.com/kubernetes/community/tree/master/contributors/gu

[2019-05-30 06:26] nikhita commented on #3642
Fixed in https://github.com/kubernetes/community/pull/3731. Thanks @nzoueidi!

/close

[2019-05-30 06:26] #3642 closed

[2019-05-30 06:27] nikhita commented on #2696
/remove-lifecycle stale

[2019-05-30 06:30] nikhita commented on #3727
/area community-management
/cc @parispittman  @castrojo @jeefy @alejandrox1 @mrbobbytables

Maybe we should have a GitHub team for youtube admins :P

[2019-05-30 10:03] mrbobbytables commented on #3727
Probably a good idea XD

[2019-05-30 17:04] vllry commented on #3741
Small suggestion: it might be good to move the "have a question" section to the top. That's probably the most relevant by volume, and many people will drop-off part way through reading.

[2019-05-30 17:13] mrbobbytables commented on #3741
Agree -- we should move it to the top. It can also be updated to route to discuss -
[code]

[2019-05-30 17:19] Katharine commented on #3741
It needs to actually run somewhere, too (which, as ever, is a problem that will be solved via liberal application of yaml).

Of greater concern is that another of our slack bots started double reporting joins lately, which suggests a Slack API bug (or perhaps intentional entirely undocumented change) that makes me nervous about turning this on until we can dedupe the spurious events Slack is sendi

[2019-05-30 18:25] nzoueidi commented on #3718
I will help with this. :)

[2019-05-30 19:11] codeekage commented on #3718
Is this for Google SIG? Haven’t much activities there. Please, correct me if I’m wrong.

[2019-05-30 19:56] nikopen commented on #3456
@justaugustus A few suggestions on the label reworks - edits with bold:

How to achieve the renaming? Have to actively change all already-labeled issues.
Could stay as is, needs-foo

[2019-05-31 01:42] MikeSpreitzer commented on #2234
I suppose this issue is about run-time dependencies.  There is also the question of build-time dependencies.  Perhaps the title of this issue should be more explicit.

[2019-05-31 01:51] MikeSpreitzer opened #3749 "Need better documentation of build-time dependencies"
I read https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#building-kubernetes-on-a-local-osshell-environment but it did not tell me what I need to know.  I started with a "minimal Ubuntu" VM on the IBM Cloud, and it does not include all the needed development tools.  For example, it does not include `make`.  So I installed `build-essential`.

Next, when I ran `ma

[2019-05-31 01:53] MikeSpreitzer commented on #3749
I also discovered that `make verify` requires some things to be in $GOPATH, even though I have `GO111MODULE=on`:
[code]
(and a great many others).

[2019-05-31 02:10] MikeSpreitzer commented on #2234
I opened #3749 for the build-time dependencies.

[2019-05-31 10:58] nzoueidi commented on #3717
I can help in many points in this list. I will link indeed some PRs here soon. :)

[2019-05-31 14:03] vllry commented on #3456
With this triage label (similarly to having 1 global triage label now), how do we differentiate between different SIGs that need to look at an issue? Say, something is tagged apps, architecture, and apimachinery... if the first person (say in apimachinery) comes along and marks it as triaged, that's unhelpful for the other SIGs.

[2019-05-31 14:22] jeefy commented on #3727
@kubernetes/youtube-admins Created a playlist and started populating it: https://www.youtube.com/playlist?list=PL69nYSiGNLP0gugLYzpNR1ueyUj9GjzpK

[2019-05-31 14:23] justaugustus commented on #3456
@vllry -- There would be an [additional label (`lifecycle/ready`)](https://github.com/kubernetes/test-infra/pull/11818#issuecomment-496958005), which when applied, would remove `needs-triage`.

While `needs-triage` is applied, SIGs can search on that and assign to members of other SIGs as required.

Does that sound okay?

The alternative I see is having per-SIG triage labels, which I think would g

[2019-05-31 14:23] MikeSpreitzer commented on #3749
@anguslees pointed out that https://github.com/kubernetes/kubernetes/blob/cf76868b3430be015cc1e8443a216bf863a9b9f7/build/build-image/cross/Dockerfile exists and shows what is needed --- and is regularly tested.

[2019-05-31 14:43] nikopen commented on #3456
Indeed, if someone deems that an issue is triaged and is ready to be worked on, then applying the ready label would be enough to remove `needs-triage` and signify any number of SIGs attached to the issue that it can move forward.

An issue might be cross-SIG and that's up to the participating SIGs to determine how they will work together or not, there's little Labels can do to help in this case -

[2019-05-31 15:59] justaugustus commented on #3623
/reopen

[2019-05-31 17:05] MikeSpreitzer opened #3752 "api-conventions.md should explain patchStrategy"
The API conventions doc should explain, or point to an explanation of, the patchStrategy stuff that appears in golang.  The reader should be told how to understand the existing golang, and how to use patchStrategy when writing new golang.  This should include a pointer to the definitions of what each patchStrategy means.

[2019-05-31 17:08] MikeSpreitzer commented on #3752
@kubernetes/sig-api-machinery-misc

[2019-05-31 17:42] BenTheElder opened #3753 "Contributing to Kubernetes is harder than it should be and problems have unclear owners"
Preserving this from a slack [discussion](https://kubernetes.slack.com/archives/C1TU9EB9S/p1559274533028900) in #sig-contribex as requested.

Will cleanup later. CC @cblecker @dims @nikhita

Pasted from slack:

-----

IMHO a lot of them the problem is mostly "who owns this?"

- presubmits are awful ... --  bug testing? release? some other sig? who owns what tests run in presubmit?
-- slow (> 1 hou

[2019-06-01 12:12] nzoueidi commented on #3211
I can help with this!

[2019-06-01 15:32] idealhack commented on #3693
Thanks to all the volunteers! We can start to work on this by resume the APAC version of [SIG meetings](https://github.com/kubernetes/community/tree/master/sig-contributor-experience#meetings). I'm thinking of a bi-weekly one after the current one (Wednesdays 9:30 PT), it could be around the old time (Wednesdays 20:00 PT) but does not have to. Let's do a doodle next week.

/assign

[2019-06-02 06:12] justaugustus commented on #2725
/remove-lifecycle rotten
/reopen

[2019-06-02 12:35] nikhita commented on #3752
Adding sig-arch as well because they own the doc
/sig architecture
/kind documentation

[2019-06-02 12:38] nikhita commented on #3749
This is great feedback, thanks @MikeSpreitzer!

/kind documentation

[2019-06-02 12:41] nikhita commented on #3718
@codeekage No, this isn't about SIG GCP. [Google Groups](https://groups.google.com/) are used for mailing lists, and this is about documenting some settings for it. :)

[2019-06-02 14:59] codeekage commented on #3718
Thank you @nikhita. 😅 I’d love to help with some docs. Can you help walk me through? 🙏🏼

[2019-06-02 16:50] nikhita commented on #3718
@codeekage Sure, feel free to ping me on Slack and we can discuss more. I am @nikhita there as well.

[2019-06-02 18:15] codeekage commented on #3718
Please, can I get the link to Slack? 🙏🏼

[2019-06-02 19:20] justaugustus commented on #2770
/remove-lifecycle stale

[2019-06-02 19:21] justaugustus commented on #2770
/lifecycle frozen

[2019-06-02 20:04] nzoueidi commented on #3718
@codeekage here is the link to slack: slack.k8s.io
You might want also to join #sig-contribex.
Feel free also to ping me there, I have some good first issues in mind. My username is nzoueidi.

[2019-06-03 18:12] kbarnard10 opened #3763 "Create blog@kubernetes.io alias"
Requesting an alias for editors of the Kubernetes blog:

Alex Handy
Zach Corleissen
Paris Pittman
Cody Clark
Bob Killen
Kaitlyn Barnard
Jorge Castro

cc // @parispittman

[2019-06-03 20:12] JamieRachel commented on #3445
Hi Paris,
I would like to volunteer for the roles project manager and accessibility, inclusiveness, and diversity for KubeCon NA. Can't wait for a great event :)

[2019-06-03 20:25] cji commented on #2176
👋 Hello from wg-security-audit! I was reach out to on the kube slack by @nzoueidi about this issue and wanted to try and provide some clarification and ask questions about what makes sense to include for our WG.

The origin of the WG came from the proposal by CNCF and the PST starting with members of sig-auth to construct the wg. While sig-auth is definitely a stake holder in our results then, the

[2019-06-03 20:29] parispittman commented on #2176
@cji - i would just do sig-auth then. intent is for mapping sigs to wgs so we can get updates, points of contact, flow of info, etc. for organizational purposes.

[2019-06-03 20:30] cji commented on #2176
Thank you @parispittman !

[2019-06-03 21:16] guineveresaenger commented on #3445
@alisondy expressed interest in helping with the contributor workshop,
also I think @raelga has experience and would be awesome as a shadow!

[2019-06-03 21:19] alisondy commented on #3445
I would be keen with volunteering for contributor workshop ✨ thanks for pinging me @guineveresaenger

[2019-06-03 21:28] mrbobbytables commented on #3763
Teams managed under the [kubernetes/org](https://github.com/kubernetes/org) repo. The sig-docs teams are located in [org/config/kubernetes/sig-docs/teams.yaml](https://github.com/kubernetes/org/blob/master/config/kubernetes/sig-docs/teams.yaml) 👍

[2019-06-03 21:47] jeefy commented on #3445
I volunteer to shadow Lead. :)

[2019-06-03 22:49] jberkus commented on #3445
I'm good with overall content lead.

[2019-06-04 04:14] nikhita commented on #3763
@mrbobbytables looks like this is for an email/gsuite alias. I'm not sure who owns that...maybe steering? https://github.com/kubernetes/steering#top-level-accounts

[2019-06-04 04:14] nikhita commented on #3763
/sig docs

[2019-06-04 04:14] nikhita commented on #3763
cc @philips @jbeda @spiffxp

[2019-06-04 04:28] idealhack commented on #3693
To be clear, we will figure out things like the checklist above in this meeting at first, once that's done, we can run the APAC meetings full version eventually.

The doodle is here: https://doodle.com/poll/e2wx98nrc4g8ipek, please vote in a week if you want to join us :)

[2019-06-04 05:03] idealhack commented on #3445
I'm interested in shadowing Overall Content :)

[2019-06-04 06:15] coderanger commented on #3445
I might nominate myself for siteops again even though it's not on the list, since I will probably end up doing it anyway :)

[2019-06-04 06:20] coderanger commented on #3445
Also we should probably not have anyone taking on more than one role if possible, each one is pretty time consuming.

[2019-06-04 10:55] mrbobbytables commented on #3763
100% right, I overlooked title and went right to github team/alias 🤦‍♂

[2019-06-04 11:04] dims commented on #3763
@nikhita @mrbobbytables i have automation for k8s-infra-.* alias(es) in [1], but this needs "blog", so just drop an email to steering and one of Brandon, Joe or Aaron will create the list for you.

[1] https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml

[2019-06-04 13:52] castrojo opened #3769 "Add metadata to the contributor guide"
We'd like to index the contributor guide on the contributor site without having to move it to the contributor site repo, so the pages we want indexed over there need metadata in the head content so we can render the page properly in hugo. This is the tracking issue.

/cc @mrbobbytables @cblecker

[2019-06-04 13:54] castrojo commented on #3769
We need title and weight as a minimum: https://gohugo.io/content-management/front-matter/#example

[2019-06-04 16:11] chris-short commented on #3445
Sign me up, please.

Chris Short
Web <https://chrisshort.net/> | Newsletter <https://devopsish.com/> |
Twitter <https://twitter.com/ChrisShort>

On Tue, Jun 4, 2019 at 2:20 AM Noah Kantrowitz <notifications@github.com>
wrote:

[2019-06-04 16:29] ameukam commented on #3445
I'm interested in the _Accessibility, Inclusiveness, and Diversity_ shadow role. :-)

[2019-06-04 16:30] ameukam commented on #3717
Interested to volunteer on this issue. :-)

[2019-06-04 16:49] spiffxp commented on #3353
/remove-lifecycle stale
This is being codified in the charter (ref: https://github.com/kubernetes/community/pull/3663), I believe this can be closed once the charter has merged

[2019-06-04 16:57] spiffxp commented on #3353
After re-reading the charter, I'm not sure it answers any of the questions posed by this issue, except terms and staggering.

[2019-06-04 18:57] philips commented on #2992
/remove-lifecycle stale

cc @amye

[2019-06-04 19:15] dims commented on #2992
ok, first step, get dependencies to known versions (not random SHA's) - https://github.com/kubernetes/kubernetes/issues/78434

[2019-06-04 19:26] philips commented on #3763
I created blog@kubernetes.io google group and made @nikhita admin. She can add the others from here.

[2019-06-04 19:28] nikhita commented on #3763
@philips would the link be https://groups.google.com/a/kubernetes.io/forum/#!forum/blog? I can't seem to access it.

[2019-06-04 19:29] nikhita commented on #3763
Or uh wait, that should be added to groups.yaml. Will do.

[2019-06-04 20:37] michelleN commented on #3353
@spiffxp yea that's correct. let's ask @kubernetes/code-of-conduct-committee to add the selection/appointment process to their charter as a follow up item?

[2019-06-05 09:49] nikhita commented on #3763
@dims @kbarnard10 looks like this is done?

[2019-06-05 09:54] dims commented on #3763
yep @nikhita

[2019-06-05 09:59] nikhita commented on #3763
/close

[2019-06-05 09:59] #3763 closed

[2019-06-05 17:15] nzoueidi commented on #1724
/remove-lifecycle frozen
/lifecycle active

I am working on this.

[2019-06-05 17:29] palnabarun commented on #3445
Hello everyone,

Is there a document where the role responsibilities are written down? Also, is it possible for someone to shadow a role if the person is uncertain about attending KubeCon NA?

Thanks

[2019-06-05 17:35] krmayankk commented on #3445
i am interested in helping with new contributor workshop @parispittman

[2019-06-05 18:05] parispittman commented on #3445
@palnabarun we are building that live as we speak. check out what we have so far here -> https://github.com/kubernetes/community/tree/master/events/events-team

[2019-06-05 18:45] spiffxp commented on #3524
/close
This was fixed by https://github.com/kubernetes/community/pull/3640, thanks a bunch!

[2019-06-05 18:45] #3524 closed

[2019-06-05 19:30] palnabarun commented on #3445
Thank you @parispittman for pointing out the document.

[2019-06-05 20:36] pmorie opened #3776 "There should be an API-conventions document for users of CRDs"
The API conventions document is useful but targets an audience that is adding to the kubernetes API surface directly or implementing their own aggregated API server (and thus has the same conversion / validation / default mechanisms available to them as someone making API changes in k/k). Much of this document does not directly translate to people developing APIs using CRDs. I am aware of a number

[2019-06-05 20:36] pmorie commented on #3776
/sig api-machinery

[2019-06-05 20:46] michelleN commented on #3353
Michelle to send out email to kubernetes-dev and community asking for nomination.
Community members can email steering-private to nominate people.

[2019-06-05 23:21] palnabarun commented on #3445
I would love to be a shadow for the Project Manager or Registration Lead. Both roles are really interesting.

[2019-06-06 11:43] deads2k commented on #3776
This is true.  Behaviors around nullable and optional are particularly hard and the distinctions between defaults and mutating webhooks aren't always obvious.

/assign @sttts @p0lyn0mial

[2019-06-06 14:18] #3769 closed

[2019-06-06 18:34] justaugustus commented on #3267
/remove-lifecycle stale

[2019-06-06 18:34] justaugustus commented on #3266
/remove-lifecycle stale

[2019-06-06 21:53] celanthe commented on #3744
@parispittman If you need help with writing this, I am happy to take a crack at writing some of this for you if you can get me the building blocks/background information!

[2019-06-07 09:20] kaushikchaubal commented on #3469
Hi @geerlingguy, I can pick up this issue and create a PR. This is going to be my first PR to the community so if anything is incorrect, please shout out.

[2019-06-07 10:04] dims opened #3783 "Formulate a process/plan for a "Travel Support Program""
CNCF has a "Diversity Scholarship" program. This program has been very successful. However there are some folks who were not able to take advantage of the program either because of budget limitations or unable to qualify for some other reason. Some of these folks are active contributors for example with sig-release or some other SIGs or working groups. It would be in our community's interest to en

[2019-06-07 10:04] dims commented on #3783
/assign @parispittman

[2019-06-07 10:38] dims commented on #3783
Things to think about:
- How do we make sure folks who are applying for Diversity scholarship and various SIGs in kubernetes in general are made aware of this program?
- How do we work in concert with the folks running the Diversity scholarship program especially around privacy thats needed for that program?
- Would it make sense for a contribex member to be part of the Diversity scholarship progr

[2019-06-07 10:41] nikhita commented on #3783
xref - https://github.com/kubernetes/steering/issues/46 (Funding and Budgeting)

[2019-06-07 10:47] dims commented on #3783
Important detail about current process for exceptions from @dankohn in the email thread.

[code]

[2019-06-07 10:56] idvoretskyi commented on #3783
/cc

[2019-06-07 21:33] justaugustus commented on #3469
/sig release

[2019-06-07 21:37] #3469 closed

[2019-06-08 03:30] castrojo commented on #3717
No need to wait on anyone, if you see something you can bust out feel free to just do it and check the boxes. The sigs.yaml stuff doesn't need special perms so that can be done, also the community meeting stuff is available in public documents so that's an easy one too, ping me on slack if you run into any problems!

[2019-06-08 03:32] castrojo commented on #3717
@parispittman I believe my template for the gsuite is now out of date, we'd just file a ticket with steering now I'd assume? Also I think you've been in there recently so we can probably check off the box for this milestone?

[2019-06-10 08:35] nzoueidi commented on #923
/assign
/lifecycle active

I am working on this, expect a PR in the few upcoming days.

[2019-06-10 21:03] parispittman commented on #3445
awesome @palnabarun - can you DM me on slack with your best email and I'll add you to the meeting poll?

[2019-06-10 21:42] hpandeycodeit commented on #3445
Is Project Manager shadow role still open or Overall Content Lead?

[2019-06-10 21:44] tariq1890 commented on #3445
Interested in volunteering at the Contributor Workshop.

[2019-06-10 22:16] tashimi commented on #3445
Hey - I'm happy to help, including shadow the project lead if that is helpful, or future roles that open up.

[2019-06-11 00:11] nzoueidi commented on #3445
@parispittman feel free to put my name in any available spot. I will be there :)

[2019-06-11 01:05] qedrakmar commented on #3445
Count me in!  "Team Noah", FTW?

[2019-06-11 04:13] deekshith-elear opened #3791 "Regarding usage of calico network"
Hi, I was using calico network for my kubernetes cluster with pod-networks as 192.168.0.0/16 give me only maximum nodes as 255 can I use 192.0.0.0/8 0r 192.0.0.0/12 during my kubernetes pod network. Can any one help me out to solve this issue

[2019-06-11 04:39] cblecker commented on #3791
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-06-11 04:39] #3791 closed

[2019-06-11 14:02] irabinovitch commented on #3445
Looks like all the roles are full, but would be happy to lend a hand where ever it is needed.

[2019-06-11 14:16] parispittman commented on #3445
Thanks everyone!! Love the demand to help out with this event - it's my favorite of the year. :)

The core team is going to meet over the next few weeks and start to plan out workstreams which will open up some other roles and contribution points. We will use this issue to get more contributors and also make a shout on k-dev mailing list. 🚀

[2019-06-11 17:22] parispittman opened #3792 "Kick Off San Deigo Contributor Summit Planning"
[Core team has been formed]( #3445 ) with many others volunteering for day of ops and other future roles in the issue.

- [ ] wait for a few more core team members to weigh in on availability from doodle poll for meetings and then send invites

This issue will close when we have:

- [ ] a skeleton event page in /events
- [ ] sigs.yaml has been updated with the decided meeting time for this subproj

[2019-06-11 21:26] mrbobbytables commented on #3454
I think this is safe to close now. We should be good.  \o/

/close

[2019-06-11 21:26] #3454 closed

[2019-06-12 01:42] parispittman commented on #3445
core team meetings on mondays @ 10am unless otherwise noted. we will update sigs.yaml with the details and invite more folks along the ride with us as roles open up. watch this issue- #3177 for more kick off details.

closing this issue but will reach out to all of those who offered to volunteer as we go. reach out to us in #summit-staff on slack if you need anything.

/close

[2019-06-12 01:42] #3445 closed

[2019-06-12 02:25] castrojo opened #3793 "Youtube automation request for release team"
Opening for discussion; the release team seems like it's ready to investigate youtube automation. I was doing it by hand this cycle, which wasn't a a problem but there likely won't always be a youtube admin on RT, and on top of that release leads changes 4 times a year and sometimes it feels like we can never get the collab feature working on youtube quite right.

Towards the end of the cycle ther

[2019-06-12 03:40] nikhita commented on #3454
I think @cblecker and @fejta still need to be added to invited to netlify, but we can coordinate that on slack. :+1:

[2019-06-12 04:44] tashimi opened #3794 "Proposal to create UX sig or sub-project"
I have been talking to some UX designers and researchers who are interested in contributing to improve the user experience of upstream Kubernetes to be more uniform and user-friendly. I was wondering if there might be community interest in creating a UX working group or sub-project?

Some ideas:
- user research initiative to better understand users of Kubernetes, distinct from builders of Kubernet

[2019-06-12 04:48] tashimi commented on #3794
@kubernetes/sig-pm-proposals, @kubernetes/sig-architecture-proposals, @kubernetes/sig-contributor-experience-proposals

[2019-06-12 04:52] spencersugarman commented on #3794
Maybe to start, this is a sig-contribex working group, and then later its own SIG or an ongoing project under an existing SIG (like PM). Short term, it would be great to define processes for how to (1) share existing work that is relevant to open source, and (2) match UX contributors to SIGs that want help.

[2019-06-12 09:55] justaugustus commented on #3794
/cc @kubernetes/sig-pm

[2019-06-12 10:59] justaugustus commented on #3794
Thanks for writing this up, @tashimi!
Echoing my sentiment from the [thread](https://groups.google.com/d/topic/kubernetes-sig-pm/OoUHBK6iKMs/discussion), I think this fits nicely as a subproject of a horizontal SIG as opposed to a Working Group (because it's something we want to continue to exist).

We'd happily support this as a subproject of SIG PM! :)
/assign

[2019-06-12 14:34] mattfarina commented on #3794
I'm excited to see some people interested in UX. We need this.

@tashimi thanks for getting this out there.

I don't think UX fits within ContribEx. [The ContribEx charter notes](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md):

Many of the users we need to be concerned with the experience of are not contributing to k8s development and never will. They ar

[2019-06-12 15:10] parispittman commented on #3793
Do you want to hook them up to splain.io like docs, contribex, etc?

[2019-06-12 15:56] oicheryl commented on #3794
There's several in the CNCF End User Community who would be keen to participate in user research studies and interviews. I'm happy to support and facilitate connecting with Kubernetes end users.

[2019-06-12 16:11] castrojo commented on #3793
Yes I think it'd be a good step, once the 1.15 crunch is done.

[2019-06-12 16:15] parispittman commented on #3793
we can turn it on today to test - its a few clicks

[2019-06-12 16:50] lukaszgryglicki commented on #3456
I can create a dedicated DevStats dashboard around this if needed.

[2019-06-12 17:52] spiffxp opened #3795 "Should KEPs be used for process changes?"
It was stated during today's contributor experience meeting that KEPs should be used for process changes which was a surprise to me, given that:

- Current KEP documentation seems to avoid mentioning the word process: https://github.com/kubernetes/enhancements#is-my-thing-an-enhancement
- Current KEP documentation seems to frame in terms of user and operator facing changes - https://github.com/kub

[2019-06-12 18:02] justaugustus commented on #3795
/assign

[2019-06-12 20:11] spiffxp commented on #3794
(pulling out of the e-mail thread)

UX can mean different things to different people.  For example SIG Apps is focused on the experience of developing and running applications in Kubernetes [1].  SIG CLI is focused on the user experience of command line tools that interact with the Kubernetes API [2].  SIG Cluster Lifecycle aims to improve the user experience for cluster administration. [3]

Given

[2019-06-13 06:47] Rajakavitha1 commented on #3794
/sig-docs

[2019-06-13 06:59] Rajakavitha1 commented on #3794
Hi,
SIG-Docs has been working on making https://kubernetes.io/ accessible since December 2018. In
Q2 we completed adding the guidelines for accessibility and accessibility checker:
https://github.com/kubernetes/website/pull/14292 and https://github.com/kubernetes/website/pull/14218

Guidelines for UX is planned for Q3.

[2019-06-13 11:35] justaugustus commented on #3794
The ML discussion is leading us down the path of forming SIG Accessibility, which I'm a strong +1 for. h/t @brendandburns! :)
Who's going to run with this? https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md#Creation

/unassign
/committee steering

[2019-06-13 12:11] serenamarie125 commented on #3794
I would definitely be interested in helping to support & facilitate connecting with Kubernetes end users as well

[2019-06-13 15:52] tpepper opened #3798 "SIG Scalability out of date"
The https://github.com/kubernetes/community/blob/master/sig-scalability/README.md mentions weekly meetings but based on the agenda and youtube playlist it seems this is no longer the case, with notes of one meeting perhaps held in 2019 and no videos uploaded since 2017.

[2019-06-13 15:52] tpepper commented on #3798
/sig scalability

[2019-06-13 18:06] cblecker commented on #3794
/remove-sig contributor-experience

I agree that this doesn't fit with contribex, but there are other clear homes for it :)

[2019-06-13 23:43] tashimi commented on #3794
@justaugustus I'm happy to run with the SIG creation process, unless there's someone better suited?

[2019-06-13 23:49] justaugustus commented on #3794
@tashimi -- you're the OP. Go ahead and run with it! :)
Thanks again for the wonderful suggestion!

[2019-06-14 16:27] tashimi commented on #3794
@justaugustus from the mailing list it looks like @brendanburns is going to run with creating the PR to create the sig instead

[2019-06-14 20:36] beezerbt commented on #3753
Thanks to @BenTheElder for this raising this issue.
I want to write Golang code, and I am a huge fan of K8s.
So I am really, i mean __really__ motivated to contribute.
Even if it means starting with documentation.

However the K8s landscape is **bewildering**.
So I totally concur.

I mean whats the difference between kubernetes and kubernetes/community.
A one line explanation would suffice in the

[2019-06-14 21:48] gaby-moreno commented on #3794
Hello! I'm a researcher and designer on the IBM Kubernetes service, would be happy to help with any research as well or support with getting this off the ground.

Might I suggest adding **sig-end-user-experience** to the many names  being considered?

[2019-06-14 22:18] brendandburns commented on #3794
PR is here for SIG-usability (working name for now)

https://github.com/kubernetes/community/pull/3801

[2019-06-15 02:50] jeefy commented on #3792
/assign

[2019-06-16 04:25] vllry commented on #3258
/lifecycle frozen

[2019-06-16 12:49] nikhita commented on #2878
/remove-lifecycle stale

[2019-06-16 13:02] nikhita commented on #2951
/remove-lifecycle stale
/lifecycle frozen

[2019-06-16 13:02] nikhita commented on #3183
/remove-lifecycle stale

[2019-06-16 13:03] nikhita commented on #2126
/remove-lifecycle stale

[2019-06-16 13:04] nikhita commented on #3178
/remove-lifecycle stale

On Sun, Jun 16, 2019 at 2:54 PM fejta-bot <notifications@github.com> wrote:

[2019-06-16 20:03] vllry commented on #3258
I'd be happy to volunteer for PM, or if that's taken/contentious, new contributor/community ambassador.

[2019-06-17 14:52] parispittman opened #3806 "help wanted label to target current and/or experienced contributors"
I'll go ahead and open up this bike shed/pedantic adventure.

Both good-first-issue and help-wanted label guidelines are targeting new contributors with varying levels of support/mentoring involved.
I would love to have a label/bat signal to current contributors (or those with targeted expertise in that part of the codebase) that means I can't give out too much support but it's very much open to w

[2019-06-17 20:03] cblecker commented on #3806
Wouldn't that just be "anything that is not those things"?
e.g. `is:open is:issue -label:"good first issue" -label:"help wanted" no:assignee`

[2019-06-17 21:11] BenTheElder commented on #3753
FWIW the README in this repo does mention what it is for.
https://github.com/kubernetes/community#kubernetes-community

Further down it goes on to explain more. This repo is for community docs etc., github.com/kubernetes/kubernetes contains much of the "main" project code. I suggest reading through some of the links in this repo's README to get started :sweat_smile:

I think that's a separate prob

[2019-06-17 21:20] parispittman commented on #3806
@cblecker that makes for one heck of a statement when I'm out and about ha. "just look at help wanted in x repo" is kinda what I'm going for here. I think a lot of our contributors use help-wanted in this way, too.

i guess i just like the idea of help wanted label without needing a ton of the criteria of the guideline?

[2019-06-17 22:15] mml commented on #3700
Want to mention again that I think there are two dimensions to this problem:

1. Are the existing members of the OWNERS file good choices?  That is, do they have the right context, judgement, and trust of the community?  I had a concrete proposal for this in #2878 which I think is workable.
2. Let's make sure reviews get appropriate levels of attention and that our throughput and latency don't suf

[2019-06-17 22:45] astrieanna commented on #3806
I think your link is already redirected: https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md

[2019-06-18 00:07] scottilee commented on #3717
@castrojo I took a look at the "Check that the calendar works" task and the only place I see the calendar on http://k8s.io/community is at the bottom of the page. I think it could be called out more prominently.

<img width="648" alt="Screen Shot 2019-06-17 at 4 56 31 PM" src="https://user-images.githubusercontent.com/7443383/59644327-55be6480-9121-11e9-89db-46784f335c7e.png">

Additionally, in re

[2019-06-18 00:16] scottilee commented on #3744
@parispittman should [community/mentoring/mentoring-events.md](https://github.com/kubernetes/community/blob/master/mentoring/mentoring-events.md) be renamed to `speed-mentoring.md` or should it be deleted and a "Speed Mentoring" section be added to [community/mentoring/mentor-guide.md](https://github.com/kubernetes/community/blob/master/mentoring/mentor-guide.md)?

Could you also provide resources

[2019-06-18 01:28] BenTheElder commented on #3806
Not exactly. A trivial counter-example if the issue is already assigned and `lifecycle/active`.

There's a subtle difference between "this issue is tracked and active contributors are on it" and "this issue is tracked but won't happen soon without help, and no, it's not first time contributor friendly".

You could argue for `priority/backlog` on the issue but there's also a difference between an i

[2019-06-18 02:30] astrieanna commented on #3806
@parispittman @BenTheElder In a world where there was a label for the category you're describing, what would the criteria be to apply that label? And who would be the target audience to pick those issues up?

[2019-06-18 03:38] nikhita commented on #3806
Wdyt about `is:open is:issue -label:"good first issue" -label:"help wanted" label:priority/important-soon no:assignee`?

Personally, I see this as "this issue is important to us in the short term, but we've got no one working on it right now and anyone is welcome to take it up. it doesn't have `good first issue` or `help wanted` labels so it's not really beginner friendly either".

[2019-06-18 03:52] BenTheElder commented on #3806
I think if I people need to use a query they won't find it. "Help wanted" stands out. It says we want help :-)

The target audience is twofold:
- signaling, IE acknowledging that nobody is currently looking to work on it for users that want to see the issue fixed but don't intend to contribute (🤷‍♂️ lots of those for some projects)

- for existing contributors with some experience but perhaps not

[2019-06-18 04:02] nikhita commented on #3806
Follow up questions :)

Would this mean to add `help-wanted-from-experienced-folks` (or something of that sort :stuck_out_tongue: ) to all issues that match `is:open is:issue -label:"good first issue" -label:"help wanted" label:priority/important-soon no:assignee`?

Why doesn't `is:open is:issue -label:"good first issue" -label:"help wanted" label:priority/important-soon no:assignee` _acknowledge_

[2019-06-18 04:07] BenTheElder commented on #3806
Somewhat alternatively something like `needs-discussion` would be helpful ... there are a lot of tracked issues without clear solutions that really aren't set up for many people to jump into easily yet, like: https://github.com/kubernetes/community/issues/3753

I think? @parispittman to confirm for her use cases.

I was using "help wanted" for issues like this in [kind](https://sigs.k8s.io/kind) (

[2019-06-18 04:15] BenTheElder commented on #3806
I would contend that _most_ individuals interacting with our issue trackers are never going to read our labeling guidelines, so having labels that intuitively mean various things is pretty important.

It's rather unfortunate that GitHub has decided that "help wanted" "good first issue" and "kind/documentation" are automatically listed under `https://github.com/$org/$repo/contribute` (a page I can'

[2019-06-18 07:32] jpeach opened #3809 "Document how to run kubemark against a pre-existing cluster"
Kubemark has support for running against a pre-existing cluster, see kubernetes/kubernetes#44394. The pre-existing cluster configuration is not mentioned at all in the [kubemark guide](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-scalability/kubemark-guide.md#starting-a-kubemark-cluster)

There is some [minimal documentation](https://raw.githubusercontent.com/kubernet

[2019-06-18 07:57] jpeach commented on #3809
/sig scalability

[2019-06-18 09:48] Mehrez27 opened #3811 "Nextcloud docker image untrusted domain"
Hi!
I tried to deploy nextcloud in a cluster kubernetes I used this helm chart: "https://gitlab.com/kanzari.1993/nextcloud.git" with ingress controllers enabled that I have set it with the necessary configurations (DNS update, hostname and the certificate provider https) but when I access through the hostname that I indicated in the ingress.yaml file I receive this warning:
![e626995e76969bd14c9c1

[2019-06-18 14:04] astrieanna commented on #3806
The goal is to highlight issues in a more curated and obvious way than a search filter (and maybe add `needs discussion` to help with filtering) so that people who have already landed a couple PRs can pick up harder but not maintainer-only work.

It sounds like the desire is for a looser `help wanted` so that more/harder issues can be added. The current criteria for `help wanted` are:

I'm assumin

[2019-06-18 15:56] nikhita commented on #359
/remove-lifecycle stale

On Tue, Jun 18, 2019 at 6:45 PM fejta-bot <notifications@github.com> wrote:

[2019-06-18 16:27] parispittman commented on #2987
oops thought this was closed

all activities lead to the issues that are drawn out here -> https://github.com/kubernetes-sigs/contributor-site/issues

/close

[2019-06-18 16:27] #2987 closed

[2019-06-18 17:11] nikhita commented on #3811
@Mehrez27 Hi, please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regul

[2019-06-18 17:11] #3811 closed

[2019-06-18 17:20] nikhita commented on #3798
/assign @shyamjvs @wojtek-t

[2019-06-18 17:21] nikhita commented on #3776
/area developer-guide
/kind documentation

[2019-06-18 17:23] nikhita commented on #3741
@Katharine from your message on slack, looks like this is no longer the case? :)

Do you think we could do this or would you like to wait to confirm that slack won't go berserk again? :stuck_out_tongue:

[2019-06-18 17:29] Katharine commented on #3741
I'm working on it literally as we speak

[2019-06-18 18:21] eduartua commented on #3064
/remove-lifecycle stale

[2019-06-18 20:06] cblecker commented on #3362
/remove-lifecycle stale

[2019-06-18 20:08] cblecker commented on #2955
/remove-lifecycle stale

[2019-06-18 21:06] nikopen commented on #3806
This is relevant to the Triage KEP I am preparing.

The KEP includes the proposal of a new label - `lifecycle/ready`, that indicates issues that are `prioritized` but not currently worked on by anyone.

Issues with this label applied are obvious candidates for the scenario discussed here.

In addition I propose:

- `good-first-issue` to target _both_ "no barrier" _and_ "low barrier" of entry
- `he

[2019-06-18 21:08] nikopen commented on #3806
Another proposal to make wording more explicit:

- Rename `good-first-issue` to `low-hanging-fruit` so it's not necessarily a `first issue` :)

[2019-06-19 14:33] seenickcode opened #3815 "REQUEST: New Slack Invite"
Hello, I noticed a link to the Slack workspace in this repo and would like an invite to the kubernetes.slack.com. I didn't see a way to request an invite.

My email is nicholas.manning@gmail.com

Thanks in advance.

[2019-06-19 14:36] mrbobbytables commented on #3815
Hey there @seenickcode - No invite is needed :) You can join slack through this link: http://slack.k8s.io

I'm going to go ahead and close this issue, but if you have any other questions feel free to follow-up.

Thanks!

/close

[2019-06-19 14:36] #3815 closed

[2019-06-19 17:15] mrbobbytables commented on #3783
/cc

[2019-06-19 17:16] dims commented on #3783
/assign @castrojo

[2019-06-19 17:27] parispittman commented on #3753
@castrojo and @nzouedi are going to help break this down into chunks for us! yay

[2019-06-19 17:31] parispittman commented on #3727
/closed

thanks @jeefy

[2019-06-19 17:31] jeefy commented on #3741
/assign @Katharine

This is done already, correct? 🎉

[2019-06-19 17:32] jeefy commented on #3727
/close

[2019-06-19 17:32] #3727 closed

[2019-06-19 17:39] parispittman commented on #3587
/close

[will update with a link for records]

[2019-06-19 17:39] #3587 closed

[2019-06-19 17:41] jberkus commented on #3586
This got done, led by @xiangpengzhao

[2019-06-19 17:41] #3586 closed

[2019-06-19 17:42] parispittman commented on #3357
/close

complete - thank you @castrojo and @geekygirldawn !

[2019-06-19 17:42] #3357 closed

[2019-06-19 17:42] jberkus commented on #3505
This was done a while ago.

[2019-06-19 17:42] #3505 closed

[2019-06-19 17:46] idealhack commented on #3586
/assgin @xiangpengzhao
/assgin

just for the record :)

[2019-06-19 17:47] parispittman commented on #3155
i know the slack team does user groups now so i think this issue can be closed.

@spiffxp - are you good?

[2019-06-19 17:48] idealhack commented on #3587
links here:

- https://kubernetes.io/blog/2019/06/12/join-us-at-the-contributor-summit-in-shanghai/
- https://kubernetes.io/zh/blog/2019/06/11/%E6%AC%A2%E8%BF%8E%E5%8F%82%E5%8A%A0%E5%9C%A8%E4%B8%8A%E6%B5%B7%E4%B8%BE%E8%A1%8C%E7%9A%84%E8%B4%A1%E7%8C%AE%E8%80%85%E5%B3%B0%E4%BC%9A/

[2019-06-19 17:57] idealhack commented on #3585
We had some preparation for this, but eventually, CNCF folks beat us on translating the blog post: https://mp.weixin.qq.com/s/yqb6yHiorkuSDQCQCBtUVw

xref:

- https://github.com/kubernetes/community/issues/3587
- https://github.com/kubernetes/website/pull/14837

[2019-06-19 18:02] Phamhien77779 opened #3816 "REQUEST: New Slack <[channel|usergroup|bot|token|webhook]> <[channel|usergroup|bot|token|webhook] name>"
**GitHub Username:**

**Slack Username:**

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

**Name of Requested Resource:**

**Description of Request:**

[2019-06-19 18:11] Katharine commented on #3741
Correct!

/close

[2019-06-19 18:11] #3741 closed

[2019-06-19 18:11] mrbobbytables commented on #3816
@Phamhien77779 It looks like this issue was created on accident. If you're actually interested in filing a slack request, please fill it out and reopen or create a new issue. For now I'll go ahead and close the issue.

Thanks!

/close

[2019-06-19 18:11] #3816 closed

[2019-06-19 22:02] cblecker commented on #3727
Thank you!

[2019-06-20 02:58] snowplayfire commented on #3809
I have recorded how to setup a kubemark cluster against pre-existing cluster as follows:

https://github.com/snowplayfire/kubemark-outside-gce

Hope it is helpful for you.

[2019-06-20 14:00] nikhita commented on #3220
v1.15 is out and this is now actionable! :tada:

/remove-lifecycle stale
/good-first-issue

[2019-06-20 14:04] nikhita commented on #3672
Closing since it was discussed in the contribex meeting to not move forward with this for now. Let's reopen if we revisit this in the future.

@hamelsmu Thanks for showing up to the meeting and giving the demo! Loved the collaboration :)

/close

[2019-06-20 14:04] #3672 closed

[2019-06-20 14:05] nikhita commented on #2833
/remove-help

[2019-06-20 14:12] nikhita commented on #2992
/remove-lifecycle stale

[2019-06-20 14:12] nikhita commented on #923
/remove-help
since @nzoueidi is working on this

[2019-06-20 14:22] idealhack commented on #3585
let's try better next time!

/close

[2019-06-20 14:22] #3585 closed

[2019-06-20 15:14] nikopen commented on #3672
@nikhita What are the reasons it was decided to not move forward?
I can hardly see any negative points.

[2019-06-20 15:19] nikhita commented on #3672
@nikopen mainly that issue templates help in categorizing issues into bug, feature, etc already.

[2019-06-20 15:26] nikopen commented on #3672
@nikhita obviously that's an existing layer of categorization but there's a big number of new issues that are wrongly categorized, and that's the intention and playfield of this bot.

What is the actual counterargument?

[2019-06-20 15:38] hamelsmu commented on #3672
@nikopen no fear!  I’m currently in the process of building a new version of the bot that will suit the k8 community much better.  Might take me some time as I’m currently on parental leave so I’m working on it as time allows.  I’m pretty optimistic about it.  The new bot will hopefully will be able to offer a more fine grained ability to label k8 specific things like sig/ labels etc.

[2019-06-20 17:21] cblecker commented on #3672
@nikopen The bot currently only does three buckets of categorization: bug, feature, support request. We have issue templates to do this categorization now, and we actually want to use them so we can redirect/deter folks from submitting support requests period. Most outside users, if offered those three options, can categorize their request correctly.

We also just don't need more bot chatter on is

[2019-06-20 18:54] #2176 closed

[2019-06-20 20:23] justaugustus opened #3824 "REQUEST: New private Slack channel (release-managers-private)"
**GitHub Username:**
SIG Release Chairs: @calebamiles @justaugustus @tpepper

**Slack Username:**
SIG Release Chairs: @calebamiles @justaugustus @tpepper

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

**Name of Requested Resource:**
Private channel: #release-managers-private (or some equivalent appropriate naming for a private channel)

**Description of Request:**

[2019-06-20 20:40] jeefy commented on #3824
/assign

[2019-06-20 20:49] mrbobbytables commented on #3824
+1'ing as another slack admin

[2019-06-20 20:56] jeefy commented on #3824
/close

[2019-06-20 20:56] #3824 closed

[2019-06-21 13:16] mariantalla commented on #3071
/remove-lifecycle rotten

[2019-06-21 21:01] mattfarina commented on #2440
@jgrobbel I think the reason this is not getting much traction is that an enhancement like this needs to be filed against the [enhancements repo](https://github.com/kubernetes/enhancements) as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps).

CronJob is part of SIG Apps. Would you be interested in taking this to the SIG Apps mailing list or meeting?

[2019-06-23 13:50] tddorgtfo commented on #3220
/remove-help
/remove-good-first-issue

[2019-06-24 08:24] wojtek-t commented on #3798
I was on vacation for last 3 weeks - sorry for delay.

I don't understand the comment about the charter - it has a link:
[code]

[2019-06-24 11:36] geekygirldawn commented on #3792
It looks like we have the basic [event page](https://github.com/kubernetes/community/tree/master/events/2019/11-contributor-summit) created along with the sig.yaml update that I just PRed.

[2019-06-24 13:52] guineveresaenger opened #3835 "New Contributor Workshop San Diego Content Proposal"
The [content proposal for NCW San Diego](https://docs.google.com/document/d/1ha3KtgLcRIY7IaRi9pm_h28xVsx9VoVLu8Fl1YO-eCI/edit#) is now live!

Please comment and discuss. Links have been sent out to the New Contributor Content Team by email.

Part of #3792.

[2019-06-24 13:58] nikhita commented on #3835
/sig contributor-experience
/area contributor-summit

[2019-06-24 14:00] guineveresaenger commented on #3835
Argh.
/sig contributor-experience
/area na-summit
/cc @raelga
/cc @alisondy
/cc @geekygirldawn

[2019-06-24 14:05] #3696 closed

[2019-06-24 14:36] parispittman commented on #3792
thanks @geekygirldawn!

/close

[2019-06-24 16:50] furlongce commented on #2210
This works for us, and may work for others that are experiencing this issue. We utilize a metric that captures the number of messages dequeued in the last minute and specify the threshold using targetAverageValue. Because our microservices are throttled at X number of messages per minute, we can detect if they're under full load.

This is used in conjunction with a queue size metric. If the queue

[2019-06-24 23:01] mrbobbytables opened #3837 "[Umbrella Issue] NA Contributor Summit Registration"
Umbrella for smaller issues related to NA summit registration. Further tasks TBD.

- [x] Gather additional questions for registration (primarily NCW information)
- [x] Create and test sample separate registration flows for NCW and Current Contributors.
- [x] Create seperate registration pages for NCW and Current Contributors.
- [x] Determine Phased registration dates and groups. (ref #3866)
- [ ]

[2019-06-24 23:02] mrbobbytables commented on #3837
/milestone August

[2019-06-24 23:41] trevormeiss opened #3838 "Flexvolume to CSI migration"
Is there any guidance for migrating flexvolume drivers to CSI?
We have an existing cluster with flex PVs. We would like to uninstall our flexvolume driver and install a new CSI driver. We would like the new CSI driver to use the same StorageClass as our old flex driver, and we would like the CSI driver to take over managing the existing PVCs.

Is there any work being done to make this migration no

[2019-06-25 02:35] nikhita commented on #3220
Let's keep this open until all keps have been removed too. https://github.com/kubernetes/community/pull/3833#issuecomment-504771192

[2019-06-25 17:57] #3718 closed

[2019-06-26 16:44] spiffxp commented on #3305
I'll work to update the CNCF PR (or open a new PR) with the script that landed in #3778

[2019-06-26 16:45] spiffxp commented on #359
/assign
As I'm helping review PR from @chupman

[2019-06-26 16:51] parispittman commented on #3129
/close

[2019-06-26 16:52] #3129 closed

[2019-06-26 18:12] parispittman opened #3849 "retitle monday contrib summit meeting in sigs.yaml"
in sigs.yaml the monday meeting needs to be retitled to reflect that its a subproject meeting

suggested: "events planning subproject"

[2019-06-27 00:41] parispittman commented on #3783
when we initially discussed this in contribex, i had forked nodejs's travel funds and started playing around with it in notepad to change some things for us. https://github.com/nodejs/admin/blob/master/MEMBER_TRAVEL_FUND.md

putting a copy of that here so i can delete it from mine:)

node does reimbursements and i think i heard some comments that folks didn't have money to float upfront so copy he

[2019-06-27 02:59] nikhita commented on #3783
@parispittman This is AMAZING! Thank you so much! :heart_eyes:

What would happen if someone "more deserving" applied later, but before the three month mark? Instead, would having a deadline + reviewing all requests together (like the diversity scholarship) help in that case?

To apply for a visa, one needs to have the conference ticket + flights + accommodation bookings. Unfortunately, this won't

[2019-06-27 10:02] geekygirldawn commented on #3849
/assign

[2019-06-27 18:46] cblecker commented on #3849
/remove-help

[2019-06-28 20:25] rickducott opened #3857 "Broken links"
There were some broken links on this page: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#specify-multiple-versions

The links reference this repo:
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md
https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md

[2019-07-01 02:38] nikhita commented on #3396
/remove-lifecycle stale

[2019-07-01 09:03] geekygirldawn commented on #3857
It looks like these 2 files have been moved to:

https://github.com/kubernetes/community/tree/master/contributors/devel/sig-architecture

I'm working on a pull request now for this change.

/assign @geekygirldawn

[2019-07-01 09:11] #1724 closed

[2019-07-01 09:16] geekygirldawn commented on #3849
This change was merged.

/close

[2019-07-01 09:16] #3849 closed

[2019-07-01 10:34] nikhita commented on #3857
https://github.com/kubernetes/website/pull/15220 has merged. Thanks for fixing this, Dawn! :)

[2019-07-01 10:34] #3857 closed

[2019-07-03 03:22] markyjackson-taulia commented on #3835
@guineveresaenger Is it possible to volunteer to help here?

[2019-07-03 11:37] krzysztof-jastrzebski commented on #1025
You can find documentation here:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md

[2019-07-03 18:21] Bradamant3 commented on #3353
Let's redirect this issue toward the recent request that the current CoCC document election procedures separately from the charter itself. See #3663 and comments therein.

[2019-07-03 18:40] jbeda opened #3864 "Adjust API review process for CRDs and SIGs/subprojects"
There was an [email thread](https://groups.google.com/forum/#!msg/kubernetes-sig-architecture/FTDK-90gGRA/gHq9tH_BCwAJ) to SIG-arch talking about this.  Here are some concrete proposals that we can turn into action.  I'm opting to have the discussion here in GitHub.

I agree with the start of that thread that having some clarity here would be good.  I also agree with Tim that the process, as it st

[2019-07-03 18:49] JamieRachel opened #3865 "Contributor Summit - SD Website Requirements"
This will track content and registration.

**Shell site:** https://events.linuxfoundation.org/events/contributor-summit-north-america-2019/

Task:

- [ ] Update venue information (contract needs to be signed)

- [ ] Detail/identify the process of ownership of pre-registration information (deb at cncf has this; will download and send emails once we are live)

- [ ] Put up skeleton copy of track des

[2019-07-03 19:03] jbeda commented on #3864
/sig architecture

[2019-07-03 19:16] liggitt commented on #3864
There are a few categories of uses of CRDs:
1. APIs that are experimental, alpha, or otherwise unsupported
2. APIs that are in support of "internal" tooling and are unsupported
3. APIs that intend to be published and supported

For the first two categories, we should find ways to clearly delineate the lack of support to avoid confusing users, and find a lightweight way to avoid accidental use of t

[2019-07-03 19:20] dims commented on #3864
/area api

[2019-07-03 19:22] JamieRachel opened #3866 "Contributor Summit SD - Registration Mechanism"
This issue will track discussion and process of the tiered pre-registration system. as referenced in umbrella issue #3837

Task:

- [ ] Create a registration code of local, underrepresented groups for NCW

- [ ] Create a roll out plan for code launch - include dates and membership role

To do:
Add more task for details

[2019-07-03 19:26] dims commented on #3864
Also please see traffic here for context - https://github.com/kubernetes/enhancements/pull/1111#issuecomment-507834574

[2019-07-03 19:32] jbeda commented on #3864
First -- I didn't know that there were more reviewers per SIG area.  That is good news.  I'd expect he list of reviewers in the main doc to be updated with that.  Perhaps a pointer to the OWNERS_ALIASES file? (or perhaps we should break this into smaller files?). But in any case, I mispoke -- there are no new *approvers*.  That is still a long pole.

As for your categories -- I'd say that we can s

[2019-07-03 19:32] JamieRachel opened #3867 "Contributor Summit SD - Awards"
This issue is to track the discussion and progress

Reference **[best practices](https://github.com/kubernetes/community/blob/master/events/events-team/best-practices.md#contributor-awards)**:

- [x]  codify this,

- [x]  determine what awards

- [x]  process for nominations

[2019-07-03 19:39] JamieRachel opened #3868 "Contributor Summit SD Transparency & AV"
Make the content from the contributor summit available for people who could not attend. Will collect all the AV needs as well.

- [x] Video Recording: Arrange to have both NCW rooms recorded.

- [ ] Video Recording: Identify what other rooms and tracts need to be recorded

- [x] Transcriptions: Arrange to have transcriptions of video (inclusivity). _(Check with team- is this happening?)_

- [x] Vi

[2019-07-03 19:53] JamieRachel opened #3869 "Contributor Summit SD - Create a content proposal"
[WIP Content Proposal](https://docs.google.com/document/d/1pXCjKcBMZByBIOLTDT9A5br3kyJ1Ray3eSf0aLXzU_Y/edit)

- [ ] Contributor Summit NA San Diego 2019 Content Proposal to be drafted (new contributor workshop can be found separately in #3835)

- [x] Content Proposal to be reviewed, discussed with SIG chairs, tech leads and the Contributor Summit team

- [x] Send to steering committee for review &

[2019-07-03 20:18] timothysc commented on #3864
I'll try to PR the current policy to frame the discussion, and propose some options on guidelines.

/assign @timothysc

[2019-07-03 20:41] thockin commented on #3864
As an approver and sometimes bottleneck, I still agree with the general thrust of the proposal in the thread and in https://github.com/kubernetes/enhancements/pull/1111 .

Everyone wants to be part of the kubernetes umbrella, and I keep telling them "this comes at a cost".  This is part of the cost.  If you don't want to be beholden to Kubernetes, don't be.

I do agree that these sorts of reviews

[2019-07-03 20:48] timothysc commented on #3864
I think is a misnomer, and we made the clarifications in steering of the layers of core/sigs/associated with that intent in mind.  What is missing in API review document is a set of guidelines and practices that echos this model and makes the expectations explicit to the end consumer.

[2019-07-03 21:23] cblecker commented on #3864
+100.

[2019-07-03 21:48] cblecker commented on #3869
/sig contributor-experience
/area contributor-summit

[2019-07-03 21:48] cblecker commented on #3868
/sig contributor-experience
/area contributor-summit

[2019-07-03 21:48] cblecker commented on #3867
/sig contributor-experience
/area contributor-summit

[2019-07-03 21:48] cblecker commented on #3866
/sig contributor-experience
/area contributor-summit

[2019-07-04 02:26] guineveresaenger commented on #3837
For NCW, the absolutely necessary questions/prompts:

- What is your GitHub handle?
- Please sign the CLA (and be aware this may involve your company's Legal department, so make sure to do it well in advance of the workshop. If you don't sign, you may not be able to participate in exercises
- Please bring in a Macbook or a Linux VM setup (unless we have Windows figured out by then)

Optional:

- W

[2019-07-04 02:58] alisondy commented on #3837
following up from what @jberkus mentioned in the NCW google doc, Having some questions to gauge what session would be best for participants would be good.

It could also backfire though, by making wrong impression on who is registering. We don't want people to feel like they're not experienced enough to make a start. I might be overthinking it though.

A few sample questions below

[2019-07-04 08:59] raelga commented on #3837
About the mandatory question:

* Please sign the CLA (and be aware this may involve your company's Legal department, so make sure to do it well in advance of the workshop. If you don't sign, you may not be able to participate in exercises

Maybe we can also encourage the folks to ask in Slack if they are having issues settings things up for the contributor summit before the event.

* Please bring

[2019-07-05 12:50] dims commented on #3783
Paris,

This looks good! Can you please open a PR against kubernetes/steering (and an email there) so we can may be word smith it a bit more and get it approved?

Thanks,
Dims

[2019-07-08 17:17] parispittman commented on #3837
need key dates

[2019-07-08 17:27] parispittman commented on #3866
75 chairs/tls block (codes needed)

100-125 sep reg for ncw

total capacity for reg = 275

[2019-07-08 17:31] parispittman commented on #3866
~mid-aug 31 - soft website launch with codes
sept 5 - general website is up

[2019-07-08 17:36] parispittman commented on #3865
pre-reg data = cncf has it (ask deb)

venue needs to have contract in place before putting on the main site

mid-august track descriptions look amazing by then

[2019-07-08 17:42] jberkus commented on #3867
I will be raising the possibility of Release Team/RE awards in SIG-Release.

[2019-07-08 17:42] parispittman commented on #3867
simple nom form? small committee that sees noms. per: dawn

[2019-07-08 17:43] parispittman commented on #3867
surprise or not surprise, that is the question. :)

discussion around: knowing its happening but not knowing the winners

[2019-07-08 17:46] geekygirldawn commented on #3867
Some ideas from the UK open source awards:

* [Gathering nominations](https://opensourceawards.org/2019/04/25/the-uk-open-source-awards-is-back/)
* [Announcing the shortlist](https://opensourceawards.org/2019/05/22/uk-open-source-awards-shortlist-announced%ef%bb%bf/)

[2019-07-08 18:24] hpandeycodeit opened #3879 "Contributor Summit SD - Project Management"
This Issue is to track/list down all the project management activities that can be referred to in future summits as well.

[Best Practices](https://github.com/kubernetes/community/blob/master/events/events-team/best-practices.md#project-management):

Each event will have a project board created. The incoming team will need to create a label area/regionfor-summit and any issue or PR related to all

[2019-07-08 18:25] hpandeycodeit commented on #3879
/sig contributor-experience
/area contributor-summit

[2019-07-09 16:28] parispittman commented on #2951
reverse engineer the sig-wg-lifecycle.md doc and that's everything a sig chair will need to know and be acquainted with, have access to, etc.

[2019-07-09 20:16] parispittman commented on #3541
gsuite got back to philips with this:

Basically to cover your first query about shared accounts I would like to suggest for you to read up on the Collaborative inbox, as this is in my opinion closes I've found to compensate for the shared account accessible by certain users. You can read up in more detail in this article here:
https://support.google.com/a/answer/167430?hl=en
**action for us: need

[2019-07-09 20:17] parispittman commented on #3541
conversations around security and the use of zoom has come up around the community. one possible solution would be the use of meet chat on gsuite which now has a capacity for 100 on the editions mentioned by the gsuite rep above. the positive would be easy livestreaming via youtube and records of all SIG meetings without individuals owning them. need to look into further: global access

[2019-07-10 17:19] JamieRachel commented on #3865
[Contributor Summit Co-located Event Link](https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/co-located-events/#kubernetes-contributor-summit)

[2019-07-10 23:58] parispittman commented on #3837
question for current contributor reg:
- what sig(s) are you most active in? list no more than two/three

will assist in content changes/additions, sig meet-and-greet, and discussion track(s)

[2019-07-12 22:40] nzoueidi opened #3889 "REQUEST: New moderator for nzoueidi of Zoom and Youtube"
### GitHub Username
@nzoueidi

### Property you'd like to Moderate
Zoom, Youtube

### Username on Property Requested
nzoueidi

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/commu

[2019-07-13 00:22] tpepper commented on #3798
My turn to have been on vacation, apologies for delay on my side now.  I don't know what I was seeing anymore either.  I could swear I'd hit a non-link "charter" text, but clearly it is a link
and the git history shows it has been for quite some time.

I'll amend my issue description to remove that.

[2019-07-13 15:24] eroiborges opened #3891 "Custom Scheduler Policy"
Goal: Try define a custom scheduler policy

Config:
add the parameters to kube-scheduler manifest
    - --use-legacy-policy-config=true
    - --policy-config-file=/etc/kubernetes/custom-policy-scheduler.json

content of /etc/kubernetes/custom-policy-scheduler.json
{
  "kind": "Policy",
  "apiVersion": "v1",
  "predicates": [
      {"name": "PodFitsPorts"},
      {"name": "PodFitsHostPorts"},

[2019-07-13 15:27] eroiborges commented on #3891
/sig contributor-experience
/kind bug

[2019-07-13 19:44] parispittman commented on #3889
+1! Excited to have you.

assigning some other admins for a lgtm and approve.

[2019-07-13 19:52] spiffxp commented on #1808
notes and awful hackery I have tried to measure people's actions against PRs: https://gist.github.com/spiffxp/97ee57e348d27c59e029ce55d11a50a6

tl;dr
- I think it's important to look at more actions than authorship, such as review, approval, triage, etc.
- I haven't found anything off-the-shelf that lets us:
  - filter by files touched
  - considers reviews that are done via GitHub's UI (`PullRequ

[2019-07-13 20:13] alejandrox1 commented on #3889
+1
🎉

[2019-07-13 21:35] idvoretskyi commented on #3889
+1

[2019-07-14 02:06] cblecker commented on #3891
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-07-14 02:06] #3891 closed

[2019-07-14 21:00] jberkus commented on #3837
Following up on this:

For CS Shanghai, we had a decision tree for registrants, so that we funneled them to the appropriate type of registration.  It seemed to work fairly well.  We can do the same for San Diego; the tricky part is the questions to separate 101 from 201.

Note that for us Doc Sprints were also part of the CS registration.  Are they in SD?

[2019-07-15 08:36] parispittman opened #3893 "Contributor Summit SD: Sunday Night Celebration"
umbrella issue collecting the following:

- [x] select venue (cncf to sign on contracts) Lead: Deb/me: quartyard
- [x] update website with venue info (times and other pertinent info) Lead: Deb/Bob
- [x] decide on activities (team to decide together): contributor bingo, karaoke
- [x] create welcome bingo / new contributor welcome activities. Lead: Alison #3914
- [x] slide show or other medium for m

[2019-07-15 09:00] parispittman commented on #3866
will need codes for contributors who are not attending kubecon either so we have a way to handle those transactions

[2019-07-15 09:03] parispittman commented on #3893
suggestions from alison for bingo card from content proposal doc:
Have a bingo card, for meeting people, You have to get their signature, and fill out the card, squares like 'A member of the 1.15 release team', 'A person who has a kep'

[2019-07-15 12:33] markyjackson-taulia opened #3894 "Contributor Summit SD: Unconference Umbrella Tracker"
Umbrella issue collecting the following:

  - [x] Sync with @castrojo for Seattle unconf knowledge transfer
  - [x] Walk through venue (Owner): @markyjackson-taulia
  - [x] Start [documentation](https://docs.google.com/document/d/1oZF8ZYzpVbickinDXyKyWk1WdhTkVBEP5FHdcdIJnvw/edit#) (Owner): @markyjackson-taulia
  - [x] Breakdown task (Owner): @markyjackson-taulia & @thecrudge
  - [x] Create PR with

[2019-07-15 12:35] markyjackson-taulia commented on #3894
/sig contributor-experience
/area contributor-summit

[2019-07-15 12:38] markyjackson-taulia commented on #3894
/assign @markyjackson-taulia

[2019-07-15 12:40] markyjackson-taulia commented on #3894
/area na-summit

[2019-07-15 16:17] guineveresaenger commented on #3837
re: key dates - When does overall conference registration usually close/sell out? I'd recommend closing about 2 weeks after this event occurs.

[2019-07-15 17:22] parispittman commented on #3837
target 7/22 for prototype; 7/29 for build on site

[2019-07-15 17:24] parispittman commented on #3894
@castrojo can you link up with @markyjackson-taulia and discuss what you did for the unconf in seattle?

[2019-07-15 17:34] parispittman commented on #3867
nominations by contributors for most approachable/"mentoring"/helpful

go through labels (code cleanup, triage, etc) (our chop wood and carry water)

[2019-07-15 18:32] hpandeycodeit commented on #3879
/assign @JamieRachel

[2019-07-15 18:38] spiffxp commented on #3305
This part hasn't been done yet. I am personally fine with the existing python script unless there is a strong need to move away from it.

What I feel is necessary to close this out: how to handle this periodically.

We discussed in https://github.com/cncf/devstats/pull/192 how often we want to refresh these repos, and settled on quarterly.  This is infrequent enough that a human is likely to forge

[2019-07-16 00:56] geekygirldawn opened #3896 "Contributor Summit SD - SIG Meet and Greet"
This issue is to track the discussion and progress toward organizing the SIG Meet and Greet.

**What is the SIG Meet and Greet?**

The SIG Meet and Greet is a great place for SIGs and WGs to recruit contributors, and every SIG / WG is being asked to send one or more experienced members to the Meet and Greet to represent your group. Representatives should complete this [Google Form](https://forms.g

[2019-07-16 00:58] geekygirldawn commented on #3896
/sig contributor-experience
/area contributor-summit

[2019-07-16 00:59] geekygirldawn commented on #3896
/project Contributor Summit NA 2019

[2019-07-16 01:01] geekygirldawn commented on #3896
@guineveresaenger @parispittman I realized we never created an issue to track the SIG Meet & Greet, so here it is :)

Also, I can't seem to figure out how add it to the Contrib Summit project board, so if someone could do that (or tell me how), I'd appreciate it.

[2019-07-16 01:01] geekygirldawn commented on #3896
/assign

[2019-07-16 01:02] geekygirldawn commented on #3896
/area na-summit

[2019-07-16 08:58] thangbn commented on #2405
It's still not working on EKS 1.13. AWS EKS is complete garbage, nothing is working properly even this.

[2019-07-16 09:18] cblecker commented on #2405
@thangbn Please keep things civil. The upstream Kubernetes GitHub project is not the appropriate place for those kinds of comments.

As this issue has already been closed with a redirect to our support channels, I’m going to go ahead and lock this thread.

[2019-07-16 10:22] kapil70war opened #3898 "access by pods hostanme"
Hi,

Is there a way to access a pod by its hostname?
I have a pod with hostname my-pod-1 that need to connect to another pod
my-pod-2

what is the best way to achieve this with out services?

[2019-07-16 11:19] mrbobbytables commented on #3898
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2019-07-16 11:19] #3898 closed

[2019-07-16 12:24] wojtek-t commented on #2616
/remove-lifecycle rotten

[2019-07-17 00:54] alejandrox1 commented on #3889
coming back this (please forgive the delay :sweat_smile: )... @nzoueidi could you PR yourself to the appropiate places in https://github.com/kubernetes/community/blob/master/communication/moderators.md ?

[2019-07-17 16:18] markyjackson-taulia commented on #3894
Jorge is on vacation till the 22nd. I did send an email to start the conversation when he return and is settled from vacation

[2019-07-17 17:04] jonasrosland opened #3899 "Markdown linter for all of K8s org"
This is a suggestion based on some of the great work was done last week by @akutz with regards to making sure Markdown docs are properly linted. This could help the project's more Markdown heavy locations become more standardized, and also help drive and apply parts of the [style guide](https://github.com/kubernetes/community/blob/master/contributors/guide/style-guide.md#markdown-formatting).

The

[2019-07-17 17:27] akutz commented on #3899
Thank you @jonasrosland. For those reading this, here is some additional information regarding the linting process:

* [`.markdownlintrc`](https://github.com/igorshubovych/markdownlint-cli#configuration) - A file at the root of a repository that influences the linter
* [Linter rules](https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md) - The rules that may be enabled/disabled with

[2019-07-17 19:02] hongkailiu opened #3902 "REQUEST: Kubernetes slack `incoming webhook` URL"
**GitHub Username:**
@hongkailiu @stevekuznetsov

**Slack Username:**
@hongkailiu @stevekuznetsov

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

We need slack [incoming-webhooks URL](https://api.slack.com/incoming-webhooks) to set up `alertmanager` of [prow-monitoring stack](https://github.com/kubernetes/test-infra/blob/master/prow/cluster/monitoring/alertmanager-p

[2019-07-17 19:02] hongkailiu commented on #3902
/assign @Katharine

[2019-07-17 19:07] Katharine commented on #3902
Putting on my sig-testing hat:

We want to create a slack app that has an incoming webhook, for the purpose of being able to send alerts about the health of prow. Contrary to the documentation and purpose of incoming webhooks, the slack app will be theoretically capable of sending to _any_ channel. In practice, however, it will not.

The only scope used is the webhook, which is strictly write-only

[2019-07-17 20:05] jeefy commented on #3902
+1

[2019-07-17 20:28] cblecker commented on #2959
/remove-lifecycle stale

[2019-07-17 20:33] debgiles opened #3903 "Contributor Summit SD - Create Powerpoint Template for all Activities"
Create an event-specific powerpoint template to be used for all onsite activities.

[2019-07-17 20:35] debgiles commented on #3903
area/na-summit
sig/contributor-experience

[2019-07-17 20:38] debgiles commented on #3903
@debgiles

[2019-07-17 20:43] debgiles commented on #3903
/sig contributor-experience
/area na-summit

[2019-07-17 20:47] debgiles commented on #3903
/assign

[2019-07-17 20:47] debgiles commented on #3903
/milestone July

[2019-07-17 20:51] debgiles commented on #3903
Powerpoint available here: https://drive.google.com/file/d/1VJDqbfqwz_-sdotGVoyQ7SwYyObs34k2/view

[2019-07-17 20:51] #3903 closed

[2019-07-17 21:36] Katharine commented on #3902
I've created the integration and added the webhook URL secret into the prow cluster.

/close

[2019-07-17 21:36] #3902 closed

[2019-07-17 21:46] mrbobbytables commented on #3902
Thanks @Katharine :)

/pony yay

[2019-07-18 17:37] bgrant0607 commented on #3864
For the record, a link to the message about the API review shadowing process:
https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/e_Tg2m62C1w

[2019-07-18 20:00] tashimi commented on #3866
Women in tech in San Diego groups: https://www.meetup.com/topics/witi/us/ca/san_diego/
Out Entrepreneurs group: https://www.meetup.com/San-Diego-LGBT-Entrepreneurs-Investors-And-Allies/
Blacks in Technology meetup: https://www.meetup.com/BITSanDiego/

[2019-07-18 20:48] cblecker commented on #3100
/remove-lifecycle rotten

[2019-07-19 22:51] hpandeycodeit opened #3911 "Contributor Summit SD - Marketing Timelines"
Documenting the timelines as per the discussion:

- [x] Send [Steering Committee Proposal Email](https://github.com/kubernetes/community/issues/3835)
- [x] Send [SIG Chair/TL Proposal Email ](https://github.com/kubernetes/community/issues/3835)
- [x] Sent out a tweet to get people signed up - **By Mid July**
- [x] Add ContribSummit to main KubeCon site - **July**
- [x] wordings finalization for 10

[2019-07-19 22:52] hpandeycodeit commented on #3911
/sig contributor-experience
/area contributor-summit

[2019-07-19 22:52] hpandeycodeit commented on #3911
/area na-summit

[2019-07-19 22:53] hpandeycodeit commented on #3911
/assign @jonasrosland

[2019-07-19 22:55] hpandeycodeit commented on #3879
/area na-summit

[2019-07-22 00:28] alisondy opened #3914 "Contributor Summit SD - Bingo Cards for Sunday Night Celebration"
As discussed in the content proposal document, We would like to have a game to get folks to  know one another.

See parent issue #3893

todo:
- [x] Get Questions for cards
- [x] Submit by October 18th
- [x] Organize Prizes

Could alternatively make a webapp.

[2019-07-22 00:29] alisondy commented on #3914
/sig contributor-experience
/area contributor-summit

[2019-07-22 00:30] alisondy commented on #3914
/area na-summit

[2019-07-22 14:08] markyjackson-taulia commented on #3894
Meeting with Jorge today at 1:30 PM PST

[2019-07-22 15:32] parispittman opened #3915 "2019 Steering Committee Election Kick Off"
*please do not use this issue as official election documentation, announce your candidacy, or anything else related. this issue is the operations behind those processes.*

Knowns:
The Steering Committee will reduce to 7 seats October 2019.
4 seats will be up for election.
dims, timothysc, and spiffxp will carry out another year.

- [ ] Steering Committee to set Election Officials per https://git.k

[2019-07-22 15:43] markyjackson-taulia commented on #3915
@parispittman For the 3rd slot, Is it possible to have a shadow or possibly a person to shadow on of the others you have recommended?

[2019-07-22 15:47] parispittman commented on #3915
@markyjackson-taulia unsure honestly. I'd rather have the SC weigh in on the election officials first and then discuss shadow topics.

[2019-07-22 15:56] castrojo commented on #3915
Same with me!

[2019-07-22 15:56] castrojo commented on #3915
Same with me!

[2019-07-22 15:56] castrojo commented on #3915
Same with me!

[2019-07-22 15:57] castrojo commented on #3915
Same with me!

[2019-07-22 16:04] castrojo commented on #3915
Same with me!

[2019-07-22 16:42] #3864 closed

[2019-07-22 17:20] jeefy opened #3917 "Contributor Summit 2020 - Space Reservation"
Blanket reminder/issue to track reserving the 2020. The sooner we can jump on this, the more options we have.

[2019-07-22 17:21] jeefy commented on #3917
/sig contributor-experience
/area contributor-summit
/assign @debgiles @parispittman

[2019-07-22 17:27] guineveresaenger commented on #3835
@markyjackson-taulia yes! Some things we're currently working on:

- updating the slide deck; specifically we're hoping to add some tie-ins for the codebase walkthrough. I'f you're good at making diagrams, this would be a place that has lots of work!

- I'm tossing around the idea of having a complete PR walkthrough demo as the workshop opener to hook people's interest and create better context fo

[2019-07-22 17:28] parispittman commented on #3837
update: 7/29 for prototype

[2019-07-22 17:29] smarterclayton commented on #3915
Since this is a fairly big turnover / change, I would definitely feel like we should create the perception of continuity experience wise.  I think it might make sense to have at least two officials from previous involved (with one new and one training)?  I'd want to bias towards perception of continuity of institution even as we dramatic reshape the SC.

[2019-07-22 17:30] parispittman commented on #3837
https://docs.google.com/spreadsheets/d/1KFpRE5U2TOW7lecBShowSPUS-Bad-mIJjE_WsqxMm1g/edit#gid=0 - reg questions from bob

[2019-07-22 17:33] raelga opened #3919 "Contributor Summit SD - Create New Contributor Workshops slides"
Following content discussed in:

- [Contributor Summit SD - Create a content proposal #3869](https://github.com/kubernetes/community/issues/3869)
- [New Contributor Workshop San Diego Content Proposal #3835
](https://github.com/kubernetes/community/issues/3835)

Proposal for the decks content:

### NCW 101 deck

- [x] Brief k/k overview
- [x] Setting Up Your Development Environment: Prerequisites,

[2019-07-22 17:41] raelga commented on #3919
/assign
/cc @guineveresaenger @alisondy

[2019-07-22 17:43] parispittman commented on #3896
chairs email in mid august will include a 'how to get involved' with sig meet and greet

[2019-07-22 17:44] guineveresaenger commented on #3919
/area na-summit

Links to past slide decks:

[Barcelona Slides for reference](https://docs.google.com/presentation/d/1usEbwHMSC8vR7HvbxHJBOj2ISdTkw9rmufQUq7fkIl4/edit#slide=id.g577153f745_1_410)
[Seattle NCW Slides](https://docs.google.com/presentation/d/1cgEw0t8oeokaN44piqmEemul2gQBqZX5wvj6NncqPFI/edit#slide=id.g46fa5fb152_0_0)

[2019-07-22 17:44] guineveresaenger commented on #3835
issue for slides: #3919

[2019-07-22 18:16] markyjackson-taulia opened #3921 "Add url for event planning doc"
Need to update sig.yaml with url doc link

/sig contributor-experience
/area contributor-summit
/area na-summit
/assign @markyjackson-taulia

[2019-07-22 18:16] markyjackson-taulia commented on #3921
#3920

[2019-07-22 21:52] markyjackson-taulia commented on #3894
Met with @castrojo (love him!). I will start the documentation once the walk through is completed on Wed..

[2019-07-23 15:42] markyjackson-taulia commented on #3717
@castrojo
- [x] Check that the calendar works. Go to http://k8s.io/community and follow the flow
- [x]  Ensure that chairs and leads are accurate in the sigs.yaml (Since I was just working in here I thought I would make sure)

I will go through and do some more of the items on the list over the next few days

[2019-07-23 16:26] jeefy commented on #1971
@tpepper Do you think this issue could be closed? It was kind of an umbrella issue and a lot of these things have or are being addressed/tracked in separate issues. 🤔

[2019-07-24 14:04] dims commented on #3915
+1 to @smarterclayton 's observation

[2019-07-24 14:04] dims commented on #3915
/cc

[2019-07-24 17:59] spiffxp commented on #1913
/remove-priority important-soon
/priority important-longterm

[2019-07-24 18:41] parispittman commented on #3869
update - sent to steering july 22nd for comments

[2019-07-25 02:16] markyjackson-taulia commented on #3894
Walk through completed and I will now start the documentation process

[2019-07-25 15:50] hpandeycodeit commented on #3893
/area contributor-summit

[2019-07-25 16:04] justaugustus commented on #3623
@nikhita is going to be taking point on Licensing moving forward so that I can direct my attention to the Release Engineering work. I'll let her handle the scheduling and provide support where needed.

/unassign
/assign @nikhita

[2019-07-25 22:57] alisondy commented on #3914
/assign alisondy

[2019-07-26 04:05] castrojo commented on #3915
The rotation we wrote up in the docs as a recommendation always allows for at least 2 people's worth of continuity. A total three election officers, one brand new person, one person from the year before, and one person with 2 years experience on a rotational basis. Right now this would work out work out as:

mrbobbytables: first year
ihor: this would be his 2nd year
paris/jorge: this would be our

[2019-07-26 07:52] alisondy opened #3927 "Can't join sig node mailing list, access denied"
[On this page](https://github.com/kubernetes/community/tree/master/sig-node), under mailing list, when I try access the page for the google group, the following message is displayed :

<img width="574" alt="Screen Shot 2019-07-26 at 19 48 08" src="https://user-images.githubusercontent.com/19580905/61935368-77432380-afde-11e9-92e2-50d31987c322.png">

Please help 🙏

[2019-07-26 07:57] alisondy commented on #3927
/sig node

[2019-07-26 08:02] nikhita commented on #3927
I think this could be related to the recent permissions change that google groups introduced.

Pasting from @parispittman's email to chairs and TLs:

[code]

I can see the mailing list in incognito, but there have been previous reports of this being inconsistently visible to non-members. Would be good to fix the settings in any case.

/assign @derekwaynecarr @dchen1107

[2019-07-26 13:54] idvoretskyi commented on #3915
+1, that works.

On Fri, Jul 26, 2019 at 7:05 AM Jorge O. Castro <notifications@github.com>
wrote:

--
Ihor Dvoretskyi <ihor@cncf.io>
Developer Advocate, Cloud Native Computing Foundation https://cncf.io/

[2019-07-26 14:34] dims commented on #3915
Sounds like good plan @castrojo

[2019-07-26 15:03] detiber commented on #3867
I can see potentially having both community-wide awards as well as per-sig awards. The per-sig awards might allow for recognizing people's contributions that are invaluable to a SIG, but may not be visible to the wider community.

What are the limitations? Is there a particular budget and/or limitations of time for presenting the awards? Or does that still need to be scoped?

[2019-07-26 19:34] jberkus commented on #3867
The main limitation is that we don't want an hour-long awards ceremony.  So we really want to limit it to 6-7 awards.

Hey, thought: what if we did the awards during the social?  @alisondy ?

[2019-07-26 22:08] spiffxp commented on #359
/unassign
/help
@chupman wasn't able to complete https://github.com/kubernetes/community/pull/3324

[2019-07-27 05:07] alisondy commented on #3867
Would be great to have awards at the social. Only other thing I could think of would be needing some rough schedule for social so that folks know when things are happening throughout the evening.

[2019-07-27 19:35] markyjackson-taulia commented on #3894
Documentation completion ETA Monday 7/29

[2019-07-29 14:08] detiber commented on #3867
The only downside to doing the awards at the social could potentially be that not all recipients may be in attendance. Of course not all awardees might not be at the Contrib Summit, but due to travel plans and/or the contributor's desire to participate in the social there would probably be a greater chance of attendance at the Contrib Summit proper.

[2019-07-29 14:10] mrbobbytables commented on #3867
I would definitely lean towards having it during the actual Contributor Summit. For both Seattle and Barcelona lots of folk weren't able to make the social due to travel interruptions etc.

[2019-07-29 14:10] parispittman commented on #3867
i think contributor summit proper is the best place for awards if we are looking to spotlight folks.

we didn't ask for budget for this but based on savings in other areas that we will probably see - I'd say under 3k total.

last year we did the kubernetes logo framed in code from kubernetes/kubernetes

[2019-07-29 14:11] parispittman commented on #2657
/remove-lifecycle stale

[2019-07-29 14:14] bhack commented on #3396
What is the status?

[2019-07-29 15:02] parispittman commented on #3479
/remove-lifecycle rotten

[2019-07-29 15:20] markyjackson-taulia commented on #3659
/remove-lifecycle stale

[2019-07-29 16:20] parispittman commented on #3869
Goals
Have content that is interesting for all contributor personas (see Expectations for details)
Create a space where people can work and have extended hallway track
Assist new and current contributors with their onboarding paths
Focus on sustainability and education topics
Include a track or multiple sessions that will be driven by the contributors (unconference)

Facts and content planning met

[2019-07-29 16:21] parispittman commented on #3869
Timeline For Content

July 20th: determine tracks/rooms
August 6th: send out solicitation for preplanned content
September 10th: close proposals for preplanned content
September 24th: finish selecting sessions
October 1st: publish draft schedule
October 15th: finalize schedule
Expectations
450 people
~50 new; 75 intermediate NCW will be a separate registration process
Graduate 100+ into the commun

[2019-07-29 16:21] castrojo commented on #3783
https://github.com/kubernetes/steering/pull/114

[2019-07-29 16:27] JamieRachel commented on #3879
/assign @JamieRachel

[2019-07-29 16:30] parispittman commented on #3869
Monday, Nov 18th

A mix of workshops, unconference, pre-planned topics and discussion sessions, and other multimedia adventures.

Room proposal

2 rooms for new contributor workshop activities, sig meet and greet, etc. https://github.com/kubernetes/community/issues/3835
Previous 101 and 201 workshops are being re-worked to How to Get Started (101) and Building, testing, and GH Workflows (201)
Some

[2019-07-29 19:37] parispittman opened #3938 "doc: lastpass/password sharing process for mods/admins/community folks"
need a doc that describes the process and what platforms need to have credentials shared

example: zoom admins need to share the main account info

[2019-07-29 21:31] derekwaynecarr commented on #3927
@nikhita thanks for the pointer.  I think I lack permissions for this item, will make sure its brought to @dchen1107 attention in sig-node meeting tomorrow.

[2019-07-29 21:50] vishh commented on #3396
+1 on discontinuing the group as there isn't critical momentum yet to improve k8s itself for the purpose of ML/data science. There are other communities like Spark & Kubeflow that are attempting to build around k8s which have sufficient momentum.

[2019-07-29 22:14] jberkus commented on #3867
/assign @tpepper
/assign @claurence

[2019-07-29 22:16] jberkus commented on #3867
Note, both @coderanger and I are available for award trophy sourcing.

[2019-07-29 23:20] ConnorDoyle commented on #3396
+1 to disband. The group hasn’t met regularly for lack of interest / topics.

[2019-07-30 03:19] justaugustus commented on #3793
Can we turn this on for the SIG Release meetings as well?

/priority important-longterm
/kind feature
/area release-team

[2019-07-30 04:01] justaugustus commented on #3749
/remove-sig release
/help

[2019-07-30 07:42] justaugustus commented on #3938
Interested in this as well for SIG Release assets.
I think @idvoretskyi mentioned CNCF has 1password?
/sig release

[2019-07-30 07:49] justaugustus commented on #2770
## Consolidation Tracking

### Prerequisites for SIG Retirement
- [x] SIG’s retirement decision follows the decision making and communication processes as outlined in their charter

### Steps:
- [x] Send an email to kubernetes-dev@googlegroups.com and community@kubernetes.io alerting the community of your intentions to disband or merge.
- [ ] Archive the member and lead/chair mailing lists
- [x] C

[2019-07-30 07:51] idvoretskyi commented on #3938
@justaugustus LastPass.

It could be requested via the CNCF ServiceDesk (see https://github.com/cncf/servicedesk/blob/master/README.md#how-do-i-file-a-ticket-with-the-service-desk).

[2019-07-30 07:52] justaugustus commented on #3938
Gotcha. Thanks Ihor!

[2019-07-30 16:21] dchen1107 commented on #3927
Fixed. Thanks for the reporting and the tips.

[2019-07-30 19:03] justaugustus commented on #2725
/priority important-longterm
/milestone keps-beta

[2019-07-30 19:04] justaugustus commented on #3456
/priority important-soon

[2019-07-30 19:04] justaugustus commented on #3266
/priority important-soon

[2019-07-31 02:33] cblecker commented on #3662
/remove-lifecycle stale

[2019-07-31 03:23] nikhita commented on #3927
@alisondy Can you close this issue if you are able to access the mailing list? Thanks! :)

[2019-07-31 11:49] nikhita opened #3945 "Ensure all SIG/WG/UG leads are Kubernetes org members"
From https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md#notes-on-roles:

From https://github.com/kubernetes/community/blob/master/committee-steering/governance/wg-governance.md#creation-process-description:

This note for working groups was added in https://github.com/kubernetes/community/pull/3564.

---

The following SIG/WG/UG leads are currently

[2019-07-31 14:19] wojtek-t commented on #3659
This was partially addressed in https://github.com/kubernetes/community/pull/3757 and https://github.com/kubernetes/community/pull/3768

#3946 will close this issue

[2019-07-31 14:21] parispittman commented on #3945
other practical reasons: voting in elections (contributor names can be pulled without validating multiple sources like a chair list), contributor summit invites, etc.

[2019-07-31 14:22] #3659 closed

[2019-07-31 16:51] alisondy commented on #3927
Solved thankyou 🙏

/close

[2019-07-31 16:51] #3927 closed

[2019-07-31 16:52] castrojo commented on #3915
Next step: We'll need SC to do the appointments and finalize what the voting criteria is for this election. In the last election was 50 github contributions in the org and then write ins for exemptions.

[2019-07-31 17:28] BenTheElder opened #3947 "guidelines for OWNERS do not match reality"
Attempting to capture a discussion in #sig-contribex slack starting [here](https://kubernetes.slack.com/archives/C1TU9EB9S/p1564587437200600).

---

We have requirements for membership, reviewers, and approvers here outlining the requirements to be each: https://github.com/kubernetes/community/blob/master/community-membership.md

However, I've observed that we don't always necessarily follow these

[2019-07-31 17:28] BenTheElder commented on #3947
xref: https://github.com/kubernetes/community/issues/1808

[2019-07-31 17:30] spiffxp commented on #1808
(ref: https://github.com/kubernetes/test-infra/issues/10065) I think it's preferable for us to use GitHub teams as a more discoverable / centralized way of having the same group of people referenced across repos rather than syncing OWNERS_ALIASES around.  That said, we should be mindful of how to ensure visibility of how teams are managed

[2019-07-31 18:49] spiffxp commented on #1922
/area github-management
There are 15 repos left in kubernetes-incubator.
- [kubernetes-incubator/apiserver-builder-alpha](https://github.com/kubernetes-incubator/apiserver-builder-alpha) - sig-api-machinery
- [kubernetes-incubator/bootkube](https://github.com/kubernetes-incubator/bootkube) - sig-cluster-lifecycle
- [kubernetes-incubator/cluster-capacity](https://github.com/kubernetes-incubator/clu

[2019-07-31 19:46] spiffxp commented on #3945
/priority critical-urgent
The lack of membership should have been a blocker to the creation of these groups in the first place
/committee steering
Putting this on steering's radar

[2019-07-31 19:55] spiffxp commented on #2324
This has been sitting open for a while.  What is our definition of done here?

There are lots of incremental updates here, but I no longer have a sense of:
- whether all the github accounts have been deleted
- whether all the associated mailing lists have been deleted
- whether there is a desire to delete all of the associated prefixed teams (it's not clear to me how to gather data on whether thes

[2019-07-31 19:57] spiffxp commented on #2324
/remove-priority important-soon
/priority important-longterm
Given the speed with which we've been moving on this.  Ideally I would like to scope this down to something we can close out this release cycle.  I am comfortable calling the remaining accounts and mailing list abandoned detritus if necessary, but would like to at least understand what remains

[2019-07-31 19:59] spiffxp commented on #1922
/priority important-soon

[2019-07-31 20:20] cji commented on #3945
Hello! To clarify, if our involvement is focused on the WG we're a part of, should we be requesting access to @kubernetes or @kubernetes-sigs? Or both? https://github.com/kubernetes/org/issues/966

[2019-07-31 20:28] JamieRachel commented on #3879
[ ] Create a meeting format

[2019-07-31 21:33] spiffxp commented on #3945
@cji definitely kubernetes; if, as part of your WG's mission, you need to interact with code or issues in repos in kubernetes-sigs, there too

[2019-08-01 02:24] spiffxp commented on #3794
/close
Charter has merged, SIG has had their first meeting https://www.youtube.com/watch?v=nV4-TF_5loM

[2019-08-01 02:24] #3794 closed

[2019-08-01 02:25] spiffxp commented on #3396
/retitle retire wg-machine-learning

[2019-08-01 02:30] spiffxp commented on #3396
/assign @ConnorDoyle @vishh
Thanks for helping us reduce our wg sprawl!

https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md#retirement says your first step is

and folks can help you with the rest of the steps from there

[2019-08-01 03:12] parispittman commented on #1922
i thought steering owned spartakus? https://github.com/kubernetes/community/tree/master/committee-steering

[2019-08-01 06:36] nikhita commented on #3693
Closing since we now have APAC coordinators for contribex, and we are meeting biweekly and planning exciting things. :)

Thanks @idealhack @aravindputrevu @alisondy @saiyam1814!! :tada:

/close

[2019-08-01 06:36] #3693 closed

[2019-08-01 07:43] hongli-my opened #3951 "kube-scheduler bind is async, scheduler-extender how to maintain node/pod cache"
according to  [scheduler-extender](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md)

we can configure scheduler.conf  extenders section:  filterVerb, prioritizeVerb, bindVerb.
but, kube-scheduler  filter and prioritize is sync, bind is async,  before bind will call  assume.
maybe some request should be send to scheduler-extender wh

[2019-08-01 07:46] hongli-my commented on #3951
sig/scheduling

[2019-08-01 13:06] markyjackson-taulia commented on #1644
/remove-lifecycle stale

[2019-08-01 13:07] markyjackson-taulia commented on #1644
/assign markyjackson-taulia

[2019-08-01 15:53] parispittman opened #3954 "doc: code of conduct committee off/onboarding checklist"
need a checklist of access, perms, docs needed for new code of conduct committee members

known:

- [ ] mailing list (conduct@)
- [ ] slack channel - members will have to remove themselves during offboarding; a cocc member will need to add new folks
- [ ] beacon perms - we have access to the beacon prototype; will need to share info
- [ ] meeting agenda - perms are through conduct@
- [ ] sigs.yaml

[2019-08-01 16:31] arnaudmz commented on #3445
Hi I'm not sure why my name appeared in the volunteer list. I don't think I did volunteer.
Can you remove me from the list?

[2019-08-01 17:17] parispittman commented on #3445
hi @arnaudmz sorry - wrong arnaud!! :D I meant for @ ameukam

[2019-08-01 19:17] tallclair commented on #3945
@easeway is no longer involved with Kubernetes, and should be removed from the wg-policy-leads

I will also vouch for / sponsor @cji @JayBeale and @ericavonb

[2019-08-01 19:52] timothysc commented on #3546
/assign @hh

[2019-08-01 19:53] timothysc commented on #2651
/assign @johnbelamaric

[2019-08-01 20:25] parispittman opened #3956 "Contributor Summit SD: Monday Content Framework"
This issue will collect main content, room, and Monday event information and link to other detailed issues (possibly by room/track). Monday is a mix of workshops, unconference, pre-planned topics and discussion sessions, and other multimedia adventures.

By Room:
Main Room/Main Track (1 room)

- host morning welcome, afternoon wind down, and other sessions that we believe will have more than 75 pe

[2019-08-01 21:24] mattmoyer commented on #3945
I'm also happy to vouch for @cji and @ericavonb.

[2019-08-01 21:34] parispittman commented on #3893
update - walk thru for two venues complete

[2019-08-01 21:35] parispittman commented on #3893
sunday activities: unconference suggesting and voting, possible talent show of sorts

[2019-08-01 21:38] parispittman commented on #3893
include sig intro and deep dive schedule on the presentation and info about the event including a description of what folks can expect. we will also cover these in the monday morning intro.

preserved comment from the original proposal doc from clayton:
One thing that is interesting is that we lack the "summarize all sigs priorities" event - since sigs go during the week but this happens on Monday

[2019-08-01 23:00] jberkus commented on #3956
Looks good.  Should this go onto the content proposal doc?

[2019-08-02 00:07] hannibalhuang commented on #3945
agree with @tallclair and @mattmoyer 's endorsement on Erica, for policy-wg @easyway @mdelder and @tsandall are not active leads, just me and Erica at the moment :)

[2019-08-02 03:01] parispittman opened #3959 "doc: combo zoom and youtube admins"
per an email sent to moderators for discussion, it makes sense to have zoom and youtube moderators/admins be the same. as we set up more automation, both of those functions need to share credentials in order to set it up. we can explore using the youtube communications manager feature to add youtube specific moderators down the line but for now, they should all have the same perms.

to close this

[2019-08-02 10:03] nikhita commented on #3945
Thanks for the update, everyone!

@hannibalhuang can you create a PR to update leads for wg-policy?

[2019-08-02 18:14] debgiles commented on #3919
Event powerpoint template available in #3903

[2019-08-02 18:19] debgiles commented on #3896
@geekygirldawn Stands and buttons are on our ordering list.  I'll be creating "SIG Kits" that can be picked up outside of each room.  In the kit will include that SIG's stand with tablecard and buttons, so the lead can pick up the kit on the way in the room and then leave the kit on the table on the way out or return it to the table outside the room.  This will hopefully make the process much quic

[2019-08-02 18:20] raelga commented on #3919
Thanks @debgiles, the slides look awesome!

[2019-08-02 18:48] debgiles commented on #3914
@alisondy - We can print these for you.  Would you also like us to design them?  If so, you would just have to provide us with the list of questions and we can create 10 different card options that mix the bingo's around.

If you'd like our creative team to design them, deadline for the list of questions/squares would be October 18.
If we're just printing, deadline for files is November 1.

[2019-08-02 19:11] parispittman commented on #3956
@jberkus i took it out of there to make it more open.

[2019-08-02 19:14] debgiles commented on #3868
I've added notes to all of your tasks in the above, although I can't figure out how to check the boxes in the original text.  Let me know if there are questions based on this information.

- [ ] Video Recording: Arrange to have both NCW rooms recorded.
COMPLETED

- [ ] Video Recording: Identify what other rooms and tracts need to be recorded.
Sustainability and Welcome/Wrap Up Room will be recorde

[2019-08-02 19:37] ptone commented on #3945
What is the guidance on soliciting the sponsors required for membership (per the application link, you need 2 +1s ) if the WG activity is mostly about running recurring meetings and docs?

[2019-08-02 19:45] debgiles commented on #3865
@jonasrosland To help ensure we have all of the correct information when launching websites and our team can easily build them, I've created a website framework for you and team to complete with information.  The goal is to make this something that we can use as a framework for all future websites too, so please make comments/edits/suggestions throughout the doc as your completing it, to make it s

[2019-08-02 19:49] cblecker commented on #3956
I'm curious as to what the schedule looks like.

I'm concerned about concurrency and forcing folks to choose between multiple important sessions. For example, "technical discussions" and "sustainability topics" are equally important and apply to most of the project.. I wouldn't want to see the situation where folks (particularly senior project leaders) have to choose between participating in a tec

[2019-08-02 20:06] thecrudge commented on #3894
/assign

[2019-08-02 21:29] mrbobbytables commented on #3956
It's honestly a difficult balance to maintain. =/ There has been, and certainly will be a significant amount of content to fit in and schedule for one day.

[2019-08-03 05:50] nikhita commented on #3945
@ptone I'd look at asking the leads of the WG's stakeholder SIGs: https://github.com/kubernetes/community/blob/master/wg-iot-edge/README.md#stakeholder-sigs and/or people you interacted with while seeding the WG.

[2019-08-04 17:22] markyjackson-taulia commented on #3894
*Update*
- [x] Get @thecrudge synced on the items already completed and what is to come
- [] Start the task list (in progress)
- [] Create rolebook/best practices for unconferences and then PR that into community repo (in progress

[2019-08-04 19:28] neolit123 commented on #1922
from the readme:
https://github.com/kubernetes-incubator/kube-aws#kubernetes-incubator

recently there was a discussion with the slack user `dominic` (can't find the link), who wanted to ask if the repo can be graduated out of incubator. sig cluster-lifecycle probably won't take the project as it overlaps with kops, but i cannot speak for the chairs.

on the other hand, Andrew Kim gave feedback th

[2019-08-05 15:17] parispittman opened #3969 "Create 2019 Contributor Survey"
Per our the contributor experience charter, we need to execute on a contributor survey to get a pulse on the upstream community. We've made progress over the years and would like to add a designer on this year so we can have a beautiful report at the end.

Goals:
- gather demographics for contributor base (try to map to past data questions for trends)
- create a priority list for contributor exper

[2019-08-05 15:25] debgiles opened #3970 "Contributor Summit SD: CNCF Planning Umbrella Issue"
An umbrella issue to cover the different areas that CNCF is working on intersecting with the ContribEx Team.

**GENERAL INFO**
KC+CNC Schedule Announcement - September 5

**VENUE LOGISTICS**
- [x] Space Requirements Deadline
- [x] Space Confirmed
- [x] Schedule site visit between CNCF + Summit Lead (if needed)
- [x] Share walkthrough video of space (https://drive.google.com/file/d/1Hl-yysWGKJsNV8E

[2019-08-05 15:26] debgiles commented on #3970
/assign @debgiles
/area contributor-summit
/sig contributor-experience
/area na-summit

[2019-08-05 15:27] debgiles commented on #3970
/project Contributor Summit NA 2019

[2019-08-05 16:01] parispittman commented on #3969
/help-wanted

need to break the tasks down into individual issues and time box them. this is not a good issue for first time contributors unfortunately but will happily take at least a partner from our current base.

[2019-08-05 16:51] alisondy commented on #3914
Some questions
A Sig Chair
Someone who has an Open KEP
Someone who is attending Kubecon for the first time
A member of ______ sig
Someone on the current release team
Someone who has previously been on the release team
Someone who is on the contributor summit team
Someone who is a member of the Kubernetes org

[2019-08-05 17:38] hpandeycodeit commented on #3970
The issue to track Bingo cards for Event celebration: #3914

[2019-08-05 20:19] parispittman commented on #3954
confirming jennifer and eric have been removed from conduct@

[2019-08-05 22:15] DanRoscigno opened #3974 "I manage the corporate CLA for my company, how do I add more contributors?"
Hi Folks,
I have not added anyone other than myself to the CLA for my company, and I can't remember how to add someone.  One of my colleagues would like to contribute.

Thanks!!

[2019-08-05 22:30] thecrudge commented on #3974
/sig contribex

Hi Dan,

I think the best place to start would be here:

https://github.com/kubernetes/community/blob/master/governance.md

and

https://github.com/kubernetes/community/blob/master/community-membership.md

[2019-08-05 22:32] thecrudge commented on #3974
/sig contributor-experience

[2019-08-05 22:51] parispittman commented on #3974
@DanRoscigno - https://github.com/kubernetes/community/blob/master/CLA.md instructions are there for corp as well as individual. you may want to consult a lawyer as it related to adding things on your side.

[2019-08-06 00:27] spiffxp commented on #1922
@neolit123 I'm going off of what is currently listed in sigs.yaml and shows up in each SIG's README.md

[2019-08-06 04:09] nikhita commented on #3678
/sig cloud-provider

[2019-08-06 06:22] nikhita commented on #3974
@DanRoscigno Also, in case you run into any issues, the LF Support Site (https://github.com/kubernetes/community/blob/master/CLA.md#troubleshooting) would have the necessary expertise to help you. :)

fyi @idvoretskyi

Closing since this isn't actionable from the Kubernetes side.
/close

[2019-08-06 06:22] #3974 closed

[2019-08-06 08:14] idealhack commented on #2441
/remove-lifecycle stale
/help

[2019-08-06 15:28] jeefy commented on #3692
/remove-lifecycle stale

[2019-08-06 16:55] cblecker commented on #2323
/remove-lifecycle stale

[2019-08-06 18:27] parispittman commented on #2802
/close

[2019-08-06 18:27] #2802 closed

[2019-08-06 20:17] ameukam commented on #3364
/remove-lifecycle stale

[2019-08-06 20:29] ameukam commented on #3364
@spzala @spzala Now #3622  is merged, what's the next step for this ?

[2019-08-06 20:41] parispittman commented on #3364
@ameukam ID'ing the team members and then building it out more.

hypothetically, if you signed up to do triage role, do you think you could do it from this document? if not, what can we improve?

[2019-08-06 21:07] spzala commented on #3364
@ameukam agree with @parispittman Making sure that the document provides good enough material would great. I am not sure but @nikhita probably was working on creating role descriptions.
@parispittman may be four of us meet for a quick call/slack chat if the timing works and have some discussion around it.
Thanks!

[2019-08-07 11:38] nikhita commented on #3277
This is part of "gold": https://github.com/coreinfrastructure/best-practices-badge#gold but re security review: https://www.cncf.io/blog/2019/08/06/open-sourcing-the-kubernetes-security-audit/

[2019-08-07 11:40] nikhita commented on #3277
@nzoueidi sorry for the late response! I think this isn't limited to just contribex but spread across various repos/sigs like testing, etc. Broadly speaking, I think this would come more under steering.

[2019-08-07 13:46] detiber commented on #3896
/assign

[2019-08-07 13:53] bgrant0607 commented on #3277
See also: https://github.com/cncf/toc/issues/196

[2019-08-07 13:56] geekygirldawn commented on #3896
/assign @detiber

I've recruited @detiber to work with me on organizing the SIG Meet & Greet. It's worth noting that I will be on holiday and not checking email the 2 weeks before KubeCon, so I wanted to have someone else involved from the start.

We're working on a form to capture the details for the representative from each SIG, which should be ready to go out in the next few days. The SIG chair

[2019-08-07 20:57] castrojo commented on #3915
As per the meeting, steering needs to explicitly name: @castrojo @parispittman @mrbobbytables and @idvoretskyi as election officers.

[2019-08-08 15:25] zelivans opened #3982 "Security audit WG disclosure process"
The security reports requested by the [Security Audit Working Group](https://github.com/kubernetes/community/tree/master/wg-security-audit) were released two days ago on Github and [published](https://www.cncf.io/blog/2019/08/06/open-sourcing-the-kubernetes-security-audit/) in the CNCF website.

The majority of the issue identified by the researchers in the ToB report have seemingly not been addre

[2019-08-08 15:29] zelivans commented on #3982
/sig wg-security-audit
/sig product-security

[2019-08-08 15:36] zelivans commented on #3982
/committee product-security
/wg security-audit

[2019-08-08 18:40] cblecker commented on #3982
cc: @kubernetes/product-security-committee

[2019-08-08 20:51] liggitt commented on #3982
The report was disclosed privately and each item reviewed by the product security committee prior to release. All of the identified items were judged to be appropriate to fix via a public issue, for one or more of the following reasons:
* they were already disclosed/tracked in public issues (e.g. https://github.com/kubernetes/kubernetes/issues/81111 / https://github.com/kubernetes/kubernetes/issue

[2019-08-08 20:51] liggitt commented on #3982
/close

[2019-08-08 20:51] #3982 closed

[2019-08-08 20:53] liggitt commented on #3982
Yes, CVE IDs will be issued for security bugs

[2019-08-08 23:31] parispittman opened #3985 "youtube channel needs a new owner"
I'm the current owner on the community channel for youtube. I'd like to pass the torch to another youtube admin.

A) how should someone be selected for this role?
B) let's document it.
C) can contributors@kubernetes.io own it and then multiple people have access? unsure. need to investigate. [update: yes, this address can be the primary owner. i will remove myself as the primary owner and add this

[2019-08-08 23:46] jberkus commented on #3956
@cblecker that will never not be a problem.   However, making the CS longer has been impractical for a number of reasons.  Also, as the CS grows (450 for San Diego), we *must* have concurrent sessions in order to keep some sessions small enough that real discussion sessions can happen.

[2019-08-09 02:10] cblecker commented on #3956
@jberkus This means that the schedule is even more important. Trading off large sessions for too many sessions that stakeholders can't attend sessions they need to is not *necessarily* a good trade off.

My point is though, I'm interested in seeing the draft schedule when it's available and perhaps provide some feedback. I know all of us have the goal of the most useful schedule possible.

[2019-08-09 03:20] mrbobbytables commented on #3985
At least for C, it should be possible for contributors@kubernetes.io to own it. A shared owner account will certainly help with the current bus-factor aspect. 😬

Better management (ref: https://github.com/kubernetes/community/issues/3938) of the credentials shouldn't necessarily be a blocker for changing ownership...but we should probably pursue sorting that out sooner rather than later.

[2019-08-09 14:26] jonasrosland commented on #3896
This looks great @geekygirldawn!
The description is spot on I'd say, and will be great to use on the event site.

I can't access the form unfortunately, "This form can only be viewed by users in the owner's organization."

[2019-08-09 14:29] geekygirldawn commented on #3896
This should be fixed now.

[2019-08-09 14:32] jonasrosland commented on #3896
Thanks! The form looks great 👍

[2019-08-09 16:12] parispittman commented on #3896
thanks dawn!

[2019-08-09 17:58] jberkus commented on #3914
Any thoughts on what *kind* of prizes we might want?

[2019-08-09 19:57] hpandeycodeit commented on #3868
@JamieRachel we can mark above tasks completed as per the update from Deb.

[2019-08-09 20:32] markyjackson-taulia commented on #3914
Stickers pack?

[2019-08-10 01:56] xiexiaojing commented on #3985
A shared owner account is an excellent idea.😀

[2019-08-11 19:07] ameukam commented on #3364
@paris IMO the document is enough to guide a volunteer for the task at the beginning. @spzala agree with your idea to start a group chat on slack.

[2019-08-12 16:37] jonasrosland commented on #3865
Thank you @debgiles! I'll work on this during the week.

[2019-08-12 16:38] raelga commented on #3919
WIP of the new deck at https://docs.google.com/presentation/d/18LcwvqyNn74HgqIk7O-ChgfSsJAqDIYm7obguEXto4Q/edit?usp=sharing

[2019-08-12 17:10] mrbobbytables commented on #3866
Unfortunately cvent does not support registration codes to come out of a central "pool" for attendees to specific events. They require a different reg flow. It will be a "clone" of the NCW flow that will be used as an alternative.

The current rollout plan is as follows, but may see further update:
* August 28th
  * **Active Contributor** - Registration will be "soft launched" for SIG/WG Chairs an

[2019-08-12 17:26] castrojo commented on #3985
Feel free to move primary ownership to me, I can at at least assign a new moderator and start documenting the process.

[2019-08-12 17:44] hpandeycodeit commented on #3921
@markyjackson-taulia Since the PR related to this is already merged, I think we are good to close this issue. :)
/close

[2019-08-12 17:44] #3921 closed

[2019-08-12 17:51] mrbobbytables commented on #3866
Here is the current registration number breakdown:

Total: 515
Total - estimated no shows: 450
- New Contributor (165)
  - Beginner (70)
    - No-show (20)
    - Diversity & Outreach (30)
    - General Admittance (20)
  - Intermediate (95)
    - No-show (20)
    - Diversity & Outreach (20)
    - General Admittance (55)
- Active Contributor (325)
  - No-show (25)
  - General Admittance (300)
- Staf

[2019-08-12 21:26] JamieRachel opened #3993 "SD Contributor Summit - Sunday Social event - Child Care"
Diversity/inclusion - re: childcare services provided for attendees for Sunday evening social events

[] @debgiles will check on logistics as this is with a 3rd party company (cost)
[] if need link to registration

/milestone September

[2019-08-12 21:30] JamieRachel commented on #3993
sig/contributor-experience
area/contributor-summit
area/na- summit

[2019-08-12 22:18] tashimi opened #3994 "SD Contributor Summit - Laptop Program"
I'd like to propose creating a loaner laptop program. Currently in the New Contributor sign up form, we ask if a participant has a laptop they can install software on, and if they don't, the form tells them they must have a laptop to participate. This will exclude potential new contributors who either don't have a laptop they can bring, or have a laptop at their work that they are not allowed to i

[2019-08-12 22:23] tashimi commented on #3994
@kubernetes/sig-contributor-experience-proposals

[2019-08-12 23:09] debgiles opened #3995 "Contributor Summit EU 2020: CNCF Planning Umbrella Issue"
An umbrella issue to cover the different areas that CNCF is working on intersecting with the ContribEx Team.

**GENERAL INFO**
KC+CNC Schedule Announcement - January 22

**VENUE LOGISTICS**
- [x] Space Requirements Deadline - August 31
- [x] Space Confirmed - January 2020
- [x] Schedule site visit between CNCF + Summit Lead (if needed) - January 2020 - NOT NEEDED
- [x] Share walkthrough video of s

[2019-08-12 23:10] debgiles commented on #3995
/assign @debgiles
/area contributor-summit
/sig contributor-experience
/area eu-summit

[2019-08-12 23:22] mrbobbytables commented on #3994
Thanks again for surfacing this idea! :)

/assign @debgiles
For working with CNCF legal.

/area contributor-summit
/area na-summit

[2019-08-13 01:24] cblecker commented on #3994
This is a cool idea :)

[2019-08-13 01:42] debgiles commented on #3994
I believe we're going to do discovery first to see if people need the laptops and then revisit this?  Let me know if I misunderstood on today's call though.  Thanks!

[2019-08-13 11:54] ameukam commented on #3956
/area contributor-summit

[2019-08-13 11:54] ameukam commented on #3869
/area contributor-summit

[2019-08-13 11:55] ameukam commented on #3867
/area contributor-summit

[2019-08-13 11:55] ameukam commented on #3866
/area contributor-summit

[2019-08-13 11:55] ameukam commented on #3865
/area contributor-summit

[2019-08-13 17:45] hpandeycodeit commented on #3970
Issue for tracking Sunday Night Celebration/Evening Celebration: #3893

[2019-08-13 18:03] JamieRachel commented on #3993
/assign @debgiles

[2019-08-13 18:59] johnbelamaric opened #3997 "Conformance: Handling optional features"
This is an umbrella issue to track various aspects of managing optional features with respect to Kubernetes conformance.

By the current [conformance test requirements](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements), only non-optional features are eligible for conformance tests. However, there are many imp

[2019-08-13 19:00] johnbelamaric commented on #3997
/cc @kubernetes/cncf-conformance-wg

[2019-08-13 19:01] johnbelamaric commented on #3997
/sig architecture

[2019-08-13 19:02] johnbelamaric commented on #3997
/area conformance

[2019-08-13 20:31] Katharine opened #3998 "test issue please ignore"
test issue please ignore

[2019-08-13 20:31] #3998 closed

[2019-08-13 20:36] zparnold opened #3999 "REQUEST: New Slack user token #sig-docs"
**GitHub Username:**
zparnold

**Slack Username:**
zparnold

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
It is for a User Token in accordance with the documentation found here: https://api.slack.com/methods/reminders.add

Required Scopes:
`reminders:write`

**Name of Requested Resource:**
The "Sig Docs PR Wrangling Reminder" token.

**Description of Request:**
Ess

[2019-08-13 21:06] Katharine commented on #3999
This seems reasonable enough to me. I'd like to see the source code published (ideally somewhere kubernetes-controlled), though.

[2019-08-13 21:17] zparnold commented on #3999
@Katharine https://github.com/zparnold/pr-wrangler-slack-reminder/tree/master

[2019-08-13 21:25] tashimi commented on #3994
Yes, step 1 is for us to ask the question on the sign up form (cc @mrbobbytables). Meanwhile, if someone does ask for assistance, we'd like to have the convo with CNCF legal so we can offer a loaner laptop (@debgiles )

[2019-08-13 21:50] zacharysarah commented on #3999
+1 as SIG Docs chair. Thanks for this, @zparnold! ✨

[2019-08-13 21:53] mrbobbytables commented on #3994
👍 The question was added to the list to update:
[code]

[2019-08-14 00:52] parispittman commented on #3708
/remove-lifecycle stale

def not stale :)

[2019-08-14 01:20] johnbelamaric opened #4000 "Revisiting criteria and process for Alpha/Beta/GA"
As part of the ongoing effort to improve consistency, quality and reliability, we have been adding new gates along the feature development path, such as writing a KEP, API review, production readiness review, conformance test requirements, etc. Because of this, we need to revisit our guidance for graduation criteria and perhaps the feature release process. The KEP template has a section for gradua

[2019-08-14 01:35] justaugustus commented on #4000
/sig architecture pm release
/priority important-soon

cc: @kubernetes/sig-pm @kubernetes/sig-release @kubernetes/release-team

[2019-08-14 04:06] nikhita commented on #3999
@Katharine @jeefy would it make sense to move this to slack-infra? :thinking:

[2019-08-14 13:39] jeefy commented on #3999
I dig this. My thoughts:

As @nikhita / @Katharine alluded to, it should live somewhere Kube-controlled (heh heh) and that makes sense in slack-infra

That said, could this be made more generalized and potentially used by other SIGs? (Probably)

Slack Ops FTW

[2019-08-14 15:08] mkimuram opened #4001 "Tool to generate Kubernetes architecture diagrams with Kubernetes icons set"
It would be nice if we can automatically generate Kubernetes architecture diagrams with [Kubernetes icons set](https://github.com/kubernetes/community/tree/master/icons) from an actual Kubernetes deployment. To discuss this more in detail, I’ve implemented PoC code in https://github.com/mkimuram/k8sviz.

Any feedback is welcomed, but I expect feedback especially on:
- Whether we should have this k

[2019-08-14 15:12] mkimuram commented on #4001
/sig architecture
@etiennecoutaud @cblecker @thockin @bgrant0607 @jdumars

Any feedback?

[2019-08-14 16:46] Katharine commented on #3999
I don't think slack-infra is the place for this to live - it's a trivial, specialised tool for a single use case. For the same reason, the slack-infra-oncall updater [lives in test-infra](https://github.com/kubernetes/test-infra/tree/master/experiment/slack-oncall-updater) and not slack-infra. I think making it slack-infra would require substantial work on generalising and hardening it, and I imag

[2019-08-14 19:59] fedebongio commented on #4000
/cc

[2019-08-14 23:04] parispittman opened #4002 "Contributor Summit SD - Swag/Tshirt"
issue to capture everything that we need for swag and the tshirt.

- shirts designed by @thockin ; @jberkus will take the reigns for all summit shirt designs next year
- stickers (let's decide on no more than 3 - +1, lgtm, what else?)
- contributor patches
- anything needed for awards
- what am i missing?

we should build out more documentation around this, too, in the event best practices docs.

[2019-08-15 04:51] dhineshbabuelango opened #4003 "not able to pull images from ECR: no basic auth credentials"
We are using aws eks, we used to deploy our application which will always pull images from ECR. it was working fine for a month and all of a sudden we started getting this error, not able to pull any images from ECR.

Failed to pull image "": rpc error: code = Unknown desc = Error response from daemon: Get https://XXXXXX.dkr.ecr.ap-southeast-1.amazonaws.com/v2/webbook/webbook/manifests/latest: no

[2019-08-15 05:05] cblecker commented on #4003
I'm sorry, but you'll need to speak to AWS support. The open source Kubernetes project doesn't run ECR or EKS.. these are specific AWS products.

/triage support
/close

[2019-08-15 05:05] #4003 closed

[2019-08-15 11:56] #3159 closed

[2019-08-15 11:56] #2975 closed

[2019-08-15 11:56] #3014 closed

[2019-08-16 14:01] bgrant0607 commented on #3915
Just noting that the PR with this info is here:
https://github.com/kubernetes/community/pull/3991

I will be an additional election officer, while Paris will not be.

Dates:
21 August - Announce Election - first thing in the morning EST, this is
just sending an email
11 Sept - All bios and voting exemptions due - 5pm PST
18 Sept - Voting begins - "Morning of" to account for CIVS setup
2 October -

[2019-08-16 21:54] jberkus opened #4007 "Create event-team-cs1119 mailing list"
We could really use a mailing list for the 2019/11 contributor summit event team.   Please create one.

In the future, I think it should be policy to create mailing lists for each event team.  I thought about having a general event-team list instead (the way the release team does it), but the difficulty with that is that event team planning periods overlap, and having different teams sharing the s

[2019-08-16 21:54] jberkus commented on #4007
/area na-summit

[2019-08-16 21:55] jberkus commented on #4007
/sig contributor-experience

[2019-08-16 23:09] jberkus commented on #4007
/unassign @jamiehannaford
/assign @JamieRachel

[2019-08-19 14:02] ameukam commented on #4002
/area contributor-summit

[2019-08-19 18:10] parispittman opened #4010 "[doc needed] boxing up the contributor workshop"
several of us have boxed up the workshop and delivered it at places that were not kubecon/cloudnativecon. others have expressed helping to launch in other markets/conferences/unis, etc. it would be cool if we had a checklist for future hosts/teachers.

I can help with this (many others, too) but can't lead.

scope creep: it should also be targeting an online experience vs in person too

[2019-08-19 19:01] parispittman commented on #3744
hey scott - so sorry this fell off my radar.
for the checklist above:
1- lets let folks know that they will have to register for kubecon/cloudnativecon in $city in order to attend and that links to registration will be posted 1-2 months before the event on the co-located events page.
2- correct on the pod mentoring assumption. i wanted to outline that we do this for a few reasons:
- no one person

[2019-08-19 19:51] parispittman opened #4011 "add more moderators to the moderators@ alias"
looked at the members list on moderators@ and only see slack, kdev, and youtube admins on the list. we need to add discuss and make sure everyone else is included as well. moderators@ should be the main point of contact for everyone. we should add this into the moderator documentation somewhere that folks will need to take an action and get added.

https://github.com/kubernetes/community/blob/mast

[2019-08-19 20:21] cblecker commented on #4011
I think GitHub is in there too. If not, we should be.

[2019-08-21 03:12] markyjackson-taulia commented on #2663
/remove-lifecycle stale

[2019-08-21 14:34] parispittman commented on #3985
update - contributors@ will be the primary. next step is figuring out who should get access to contributors@. i think it should be everyone in the owners file at the root for the community-management subproject. thoughts? we need to update docs, too.

[2019-08-22 12:52] nikhita commented on #2324
I think I had agreed to work on this to remove GitHub teams in a contribex meeting but revisiting this now, I'm confused...did we intend to delete the GitHub accounts listed in the main PR body or also the prefixed GitHub teams for each SIG?

Anecdotally, some SIGs use the prefixed teams heavily, some don't use that much. Don't really have any data on this. :/
I feel like there is some value in ha

[2019-08-22 12:59] nikhita commented on #3178
Corresponding issue for peribolos: https://github.com/kubernetes/test-infra/issues/10501

[2019-08-22 13:10] nikhita commented on #2126
We have https://github.com/kubernetes/community/blob/master/github-management/permissions.md#repository-level-permissions today. What else do we need to document?

[2019-08-22 13:37] nikhita commented on #2324
Related: issue for establishing team structure for SIGs (https://github.com/kubernetes/community/issues/2323)

[2019-08-22 14:15] nikhita commented on #3179
xref https://github.com/kubernetes/org/issues/966

[2019-08-22 15:45] parispittman commented on #3954
added aeva and tasha to mailing list and slack channel

[2019-08-22 16:42] parispittman commented on #3954
sent email to new committee which included a doodle for our first meeting (sometime between sept 6th - 11th), link to this issue, and some welcome notes.

[2019-08-22 19:04] jberkus commented on #3956
@cblecker great, I've put your name down as someone to help us work out a schedule.  ;-)

[2019-08-22 21:05] castrojo opened #4018 "We need a way to lookup OWNERs files"
This will take lots of discussion so I'll just start it. It's difficult for me to keep track of all the things I am either an approver or reviewer of, it'd be nice if we could have a script or tool that let us do some lookups. Something like this (just spitballing)

[code]

/sig contributor-experience

[2019-08-22 21:08] tpepper commented on #4018
This should be a straight forward tool for somebody who's looking for some initial contributions and it's quite valuable to us to have.  With OWNERS_ALIASES the spread of who's where is really hard to follow.  Prow can do something similar on a PR, so maybe there's even some reusable code.  But from a contribex standpoint I think a standalone tool's useful for us to measure the sustainability of o

[2019-08-22 21:08] parispittman commented on #4018
I think @mrbobbytables @spiffxp and others are working on this

[2019-08-22 21:27] justaugustus commented on #4018
Maybe we've got some prior art to leverage, like Hound?
e.g., https://cs.k8s.io/?q=justaugustus&i=nope&files=OWNERS&repos=

I _think_ @dims worked on this.

[2019-08-22 21:30] justaugustus commented on #4018
I either mentioned or forgot to mention on the GH Admin subproject call earlier...
Something like this would be super useful for gleaning legitimate sponsors for new membership requests.

[2019-08-22 23:39] jberkus opened #4019 "Decide what to do about declining Community Meeting attendance"
For a while, we've been noting that attendance on Zoom at the community meetings has declined, from 100+ dial-ins back in 2017 to an average of less than 40 now (don't have solid data on this because Zoom doesn't record it).  Our assumption had been that more people were watching it on Youtube, but Jorge pulled some data for me, and that doesn't appear to be the case:

![Monthly median community m

[2019-08-22 23:40] jberkus commented on #4019
/sig contributor-experience
attn:
@castrojo

[2019-08-23 00:13] castrojo commented on #4019
The format of the meeting hasn't changed too much since I started working on it (~2.5 years), however, the community meeting predates many things that we have today that did not exist back then:

- A KEP process
- A dedicated release team
- Regular contributor summits and a contributor focused meet-our-contributors mentorship
- and I am sure I'm missing some

In the past it felt like you really _h

[2019-08-23 00:32] markyjackson-taulia commented on #4019
(Marky wondering aloud) I wonder if we could drive attendance if we had some intros or walked through an issue or even showed people how to get involved, maybe even a sig sponsored drive to get more people.
Just some random idea. Sorry if that doesn't help this issue.

[2019-08-23 00:39] castrojo commented on #4019
Adding a link on what we say the purpose of the meeting is:

- https://github.com/kubernetes/community/blob/master/events/community-meeting.md

Marky, those are all great ideas, and we should definitely look at doing those things on the YouTube Channel as a whole (like how we add contributor summit videos, etc); not sure how they might apply for this specific meeting though, we do cover lots of th

[2019-08-23 00:51] markyjackson-taulia commented on #4019
If I can help in any way @castrojo please do not hesitate to call on me

[2019-08-23 03:26] parispittman commented on #4019
i think we need to have an advertising and communication plan for all of our programs and that was my intention of setting up a marketing team for contribex but hasn't gotten off the ground. we should send out the agenda before the meeting to k-dev, get folks to write blog posts about content they see there, pull in josh's lwkd as a subproject, set up a contributor twitter, etc.

[2019-08-23 14:43] castrojo commented on #4018
Yes, cs.k8s.io is what I use now, but what I was thinking about other possibilities outside of code searching in the future where we can leverage other APIs, etc, like say the ability to just see `Signed CLA: Yes` or something.

[2019-08-23 19:03] jberkus commented on #4019
Yeah, I was thinking "if we dropped the contributor meeting, what would I miss?" and the answer is pretty much "the SIG updates".  The CM is still a good way to keep tabs on SIG dev priorities across the project ... but maybe not the best way we could do that.

I believe that @parispittman has some data from last year's survey

[2019-08-24 04:40] cblecker commented on #3956
@jberkus happy to help :)

[2019-08-26 03:34] parispittman commented on #3919
@raelga can you pass me comment perms? thanks!

[2019-08-26 04:57] parispittman commented on #4019
<img width="913" alt="Screen Shot 2019-05-17 at 2 21 10 PM" src="https://user-images.githubusercontent.com/5912992/63666134-32e4a800-c783-11e9-9bea-03ae130245eb.png">
for the most part, our contributors are split with what they like the most. there is no trends either on certain personas except the two bubbles at the top right

[2019-08-26 04:57] parispittman commented on #4019
devstats did the poorest and thus, removed it since we removed it from the meeting

[2019-08-26 05:58] raelga commented on #3919
@paris Done!

Sharing link updated with comment permissions for all and added you as editor just in case.

[2019-08-26 07:34] nikhita commented on #4019
/area community-management

[2019-08-26 07:36] nikhita commented on #4018
xref: #1808

[2019-08-26 11:02] parispittman opened #4022 "Build Amsterdam Contributor Summit Team"
We'll need to fill the following core roles + shadows to get the ball rolling on strategy and venue selections. Core team will decide on subteam roles (ie - marketing lead will determine if a writer is needed) based on the direction of the event.

[Event Team Folder](https://github.com/kubernetes/community/tree/master/events/events-team)

Self nominations from current and past contributor summit s

[2019-08-28 00:52] chris-short commented on #4019
YouTube is there too. Watching the meeting is easy, actively participating
is harder. There are a number of things we could try but, I think
reiterating that it's a community meeting and having a community of people
asking questions during the meeting is important. At the moment, it's a
sort of demo and status meeting. If you're not interested in the demo and
are good on updates, what's the incent

[2019-08-28 22:40] mrbobbytables commented on #4022
/area eu-summit

[2019-08-28 23:31] jberkus commented on #3969
Per discussion today I'd like to add some questions about the community meeting.  I feel like we need to poll what people would like to see out of a community meeting.  Here's my suggestion:

Q: How many times did you attend, or watch a video of, the weekly Community Meeting last year?
     - Zero
     - 1-3
     - 4-9
     - 10-20
     - 20+

Q: Which of the below would make you likely to attend

[2019-08-29 10:59] chris-short opened #4031 "Community Meeting Notifications"
I'd like to get an MVP notification system up and running for community meetings (see #4019). Tweets, emails, etc. What are the best places to send to? k-dev? k8s twitter? kubeweekly? where else?

[2019-08-29 11:18] guineveresaenger commented on #4031
/sig contributor-experience
/area community-management

I support the use of twitter to blast about the community meeting!

Do we have a community-meeting Slack channel? internally, we have an all-hands channel, and it's a great way to comments and stay connected with any presenters and ask questions if you're not comfortable putting up your hand in a meeting, or if you can't video chat.

[2019-08-29 11:19] guineveresaenger commented on #4019
Knowing the agenda beforehand is great; we haven't historically done that.

full disclosure: I am one of the meeting-avoiders, plus my company often has all-hands during the community meeting slot.

[2019-08-29 13:21] chris-short commented on #4031
I'll reach out to CNCF team today to work on the k8s twitter messaging.

[2019-08-29 17:09] chris-short commented on #4031
First crack at these, need a few more so we can tweet more often throughout the week.

Want to find out what's going on in #Kubernetes? Come find out at the Kubernetes Community Meeting! https://github.com/kubernetes/community/tree/master/communication#weekly-meeting

Subscribe to the Kubernetes Community livestream to learn more about the latest happenings with Kubernetes: youtu.be/c1GzVlofSm4

W

[2019-08-29 19:44] castrojo commented on #4031
Spam is a problem when we post zoom URLs to twitter, would prefer to send people to youtube or the page and then put the zoom info on there.

[2019-08-30 18:05] nathansmyth commented on #2292
Latest doc link: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-runtime

[2019-08-30 19:58] neolit123 commented on #2292
latest version that we support is 18.09
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/system/docker_validator.go#L49

[2019-08-31 02:58] castrojo commented on #4019
On thing for sure I am going to start doing is inviting people outside the usual suspects to host the meeting. The cloud-native/container community has tons of interesting characters and personalities. This seems like a nobrainer way to get interesting hosts that would spice up the meeting:

![image](https://user-images.githubusercontent.com/1264109/64058447-3e681280-cb79-11e9-9915-5ca25f8e8022.pn

[2019-09-01 05:14] gtaylor opened #4040 "REQUEST: New Slack private channel #reddit-admins-private"
**GitHub Username:** gtaylor

**Slack Username:** greg.taylor

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?** Private Channel

**Name of Requested Resource:** #reddit-admins-private

**Description of Request:**

Per [discussion](https://kubernetes.slack.com/archives/C4M06S5HS/p1563920994003800) with @thockin, we are looking to get more organized with the moderation o

[2019-09-01 11:15] chris-short commented on #4031
Noted, @castrojo

Also, I talked to Kristen Evans who said occasional tweets from CNCF/Kubernetes accounts are possible but, a scheduled cadence of them isn't recommended due to the frequency.

[2019-09-02 05:05] #3545 closed

[2019-09-02 15:50] geekygirldawn commented on #4031
I think it would be great if we could customize the messages with details from the agenda, which might entice people to attend their first meeting if they see something they are are interested in learning more about.

Something like:

Join the Sept 5th #Kubernetes Community Meeting to see a demo of ?? and get updates from our Autoscaling, Windows, and Network SIGs: https://github.com/kubernetes/co

[2019-09-02 15:55] geekygirldawn commented on #4022
I'm definitely interested in helping out with something, but things are a bit crazy at work right now, so I don't want to commit to anything that might consume more time than I have available :)

[2019-09-02 18:27] debgiles commented on #3993
We've confirmed we will not offer childcare on Sunday night, and the venue will be open to all ages.  That should close this issue out.  Let me know if there are any questions.  Thanks!

[2019-09-03 02:31] mrbobbytables commented on #4018
Writing a tool to do this over one or more cloned repos wouldn't be too difficult -- A service would be a bit more work.

With regard to searching cs.k8s.io, a query for `OWNERS` can turn up a lot of unneeded results centered around vendor directories. This will likely solve itself in time, but for now filtering out what you can is useful.

This is a bit more complicated, but helps eliminate them

[2019-09-03 15:16] parispittman opened #4043 "call for outreachy interns"
outreachy internship requests are due sept 5th. we have two funding opportunities from red hat.
ideas:
1) developer guide content
2) front end and tech writer for the contributor site

thoughts?

[2019-09-03 15:20] chris-short commented on #4031
I will begin scheduling some of these through my personal account(s) and will ask CNCF to broadcast/rebroadcast as appropriate.

The question is, what platforms should we care about (we need to think about outside the US)?

Updated per feedback:

Want to find out what's going on in #Kubernetes? Come find out at the Kubernetes Community Meeting! https://github.com/kubernetes/community/tree/master/c

[2019-09-03 15:50] parispittman opened #4044 "build (upstream) marketing team"
finally build out the roles that we set forth here:
https://github.com/kubernetes/community/tree/master/communication/marketing-team

I will lead this team for the first three months to get us up and running and then the area leads and shadows will continue on. folks joining the bootstrap marketing team will be tasked with creating role books and general guidance on how this team does business. th

[2019-09-03 16:16] nikhita commented on #4043
/area mentorship-planning

[2019-09-03 17:43] cblecker commented on #4031
Want to find out what's going on in #Kubernetes? Come find out at the Kubernetes Community Meeting! https://git.k8s.io/community/communication#weekly-meeting

Want to participate in the Kubernetes Community meeting? Join us every Thursday at 1000 UTC. https://git.k8s.io/community/communication#weekly-meeting #Kubernetes

^^ updated with shortened links

[2019-09-03 18:44] mrbobbytables commented on #3237
/remove-lifecycle stale

[2019-09-03 18:46] mrbobbytables commented on #3281
/remove-lifecycle stale

[2019-09-03 23:42] tashimi commented on #3866
Created a form to gather attendees to send code to: https://forms.gle/m8rjYQLHqdu48smz9
Outreach:
- tweeted and requested signal boost
- reached out to meetup groups above
- will email to kubedev

[2019-09-04 12:58] castrojo commented on #4040
/lgtm

This would be great!

[2019-09-04 13:00] castrojo commented on #4040
Please open a PR against this: https://github.com/kubernetes/community/blob/master/communication/slack-config/channels.yaml

[2019-09-04 14:46] simplytunde commented on #4044
I volunteer myself as a blogger.

[2019-09-04 15:13] chris-short commented on #4031
https://twitter.com/ChrisShort/status/1169267080798932993

Join the Sept 5th #Kubernetes Community Meeting to see a demo from our @GSOC student, Elijah Oyekunle. Plus we'll be getting updates from our Autoscaling, Windows, and Network SIGs: https://git.k8s.io/community/communication#weekly-meeting #K8s

[2019-09-04 15:15] Guaris commented on #4044
I volunteer as an editor.

[2019-09-04 16:13] chris-short commented on #4044
I volunteer as a blogger and editor. I really don't want to add social media to my workload at this time.

[2019-09-04 16:47] saiyam1814 commented on #4044
I Volunteer myself as a blogger and editor.

[2019-09-04 17:51] k-hopson commented on #4044
I volunteer as a tech writer (This is a follow-up on a convo I had with Paris).

[2019-09-04 19:48] markyjackson-taulia commented on #3267
remove-lifecycle stale

[2019-09-04 20:03] chris-short commented on #4031
Also shared on linkedin: https://www.linkedin.com/posts/thechrisshort_kubernetescommunity-activity-6575105747120644098-Rmme

[2019-09-04 20:54] cblecker commented on #3969
cc: @vllry @BenTheElder @munnerz @justaugustus

I want to get a couple questions added around prow testing comments and notifications. Still mulling over exact wording, but want to make sure we get them in.

[2019-09-04 21:32] mrbobbytables commented on #4040
Unfortunately, tempelis can't manage private channels...they're kind of funky in slack. After creation they can't really be "managed" by anyone (including owners and admins) unless they're in the channel itself already . :|

Before creating a private channel for it, would you be open to the idea of making it an official kubernetes community platform?

The big change would be that the [Kubernetes (

[2019-09-04 23:22] gtaylor commented on #4040
We have this in the sidebar where our rules are outlined:
![image](https://user-images.githubusercontent.com/75556/64299864-98792700-cf2f-11e9-80cf-c48d7212ff74.png)
The thing that we're running into is that we're not coordinated enough as a mod team to enforce the CoC in a timely and consistent manner (which is where this channel would come in). This sub has gradually and organically grown by the

[2019-09-04 23:55] jeefy commented on #3893
Updates ping

@parispittman Can check off venue and website updates (first two)

@alisondy Can you status update us on the Bingo-ey Goodness?

@jonasrosland We should start thinking about the info presentation when you get back. ;)

[2019-09-04 23:57] jeefy commented on #3993
That will do it, Thanks!

/close

[2019-09-04 23:57] #3993 closed

[2019-09-05 00:06] jeefy commented on #3919
How are things going with the 201 preso? Please ping if help is needed. :)

[2019-09-05 00:17] jeefy commented on #3956
Walking the board and pinging for updates. The next major deadline we have involves room layout and A/V reqs (Sept 16th). The following week (Sept 25th) is when we finalize our signs.

We should try to have the schedule in a firm state before the 16th. Ping with an update, and let us know if less opinions (or more help) are/is required. :)

[2019-09-05 00:21] jeefy commented on #3896
@parispittman We should link directly to the form in the next Chair/TL Need-To-Know. Less clicks might help with engagement. I also think if we lack any SIG reps by October, we should reach out. Thoughts?

[2019-09-05 00:22] jeefy commented on #3911
The Chair/TL proposal email was sent out by @parispittman on Aug 26th so you can safely check that.

I imagine @parispittman will send a reminder email with the same content in the next Chair/TL Need to know. :)

[2019-09-05 00:24] jeefy commented on #3911
Pressed enter too early. Oops!

Did these get done?

Because at this point

Should be done, as the website/reg is live. Am I missing something there? :)

[2019-09-05 00:27] jeefy commented on #3894
I think the Rolebook checkbox can be completed. ;)

@markyjackson-taulia Do you mind updating the root issue description with the current task list? It's difficult at a glance to see the status of things when they're lower in the comments :( Looks like things are cruising along though, thanks!

[2019-09-05 00:30] jeefy commented on #3869
At this point we do have proposals set up for [Sunday](https://github.com/kubernetes/community/issues/3893) and [Monday](https://github.com/kubernetes/community/issues/3893)

Please re-open if I'm incorrect in that assertion. :)

[2019-09-05 00:30] jeefy commented on #3869
/close

[2019-09-05 00:30] #3869 closed

[2019-09-05 00:38] jeefy commented on #3865
Venue is already locked in, check that! :)

Now that the site is live, what's the turn around for the emails from Deb? :)

Also: Should working out on-prem reg details be part of the Website Requirements issue? 🤔

[2019-09-05 00:45] jeefy commented on #3866
Are we doing any sort of registration codes? AFAIK we aren't (@mrbobbytables didn't think so either) so, is this considered completed?

[2019-09-05 00:47] jeefy commented on #3867
Have we started reaching out to SIGs regarding awards? This is something we should try and have wrapped up by the end of the month so there's time for trophy orders.

[2019-09-05 00:57] jeefy commented on #3994
Should we leave this open until after we have collected data? My feeling is this should be closed and addressed during retro once we look at both feedback and future planning, but I could go both ways.

Thoughts?

[2019-09-05 01:22] mrbobbytables commented on #4040
Awesome. The CoC thing was the biggest concern.

Because of the nature of private channels, they're something we really don't want to do for an unofficial communication platform (our current policies are pretty strict on their usage). Once created they're essentially 100% unmanageable from a slack admin/owner perspective =/

If you'd like to become official (even if not quite ready for it), a case

[2019-09-05 02:00] tashimi commented on #3994
Once we see if people need laptops, we plan to implement a program for this Kubecon, so I think this should remain open. We're not going to wait for a future Kubecon to fill this need.

[2019-09-05 02:01] tashimi commented on #3866
I've got the dedicated link I need for the accessibility drive, so I am good.

[2019-09-05 03:49] jimangel commented on #1922
:wave: Hey! I just opened this issue to kick off the migration of our ref-docs: https://github.com/kubernetes/org/issues/1158

I would like to wait until 1.16 goes out the door and have some docs folks review the permissions suggested... but we should be good to go after that!

[2019-09-05 05:36] k82cn commented on #3951
@hongli-my , would you help to open an issue at https://github.com/kubernetes/kubernetes ?

[2019-09-05 07:37] hongli-my commented on #3951
@k82cn   here: https://github.com/kubernetes/kubernetes/issues/82359

[2019-09-05 07:37] #3951 closed

[2019-09-05 07:57] geekygirldawn commented on #3896
@jeefy we're way ahead of you :) @detiber and I got together this week to divvy up the SIGs/WGs to follow up with them. We're going to start the following up process now, since we want to get the SIG M&G on people's calendars before they commit to anything else!

@parispittman Agree that linking directly to the form is probably best.

[2019-09-05 10:14] debgiles commented on #3865
Email to those that showed an interest prior to the site going live is going out today!

I think the reg info referred to the website, so that can be checked off too.  I think everything here has been completed and is live on the website!

[2019-09-05 13:34] chris-short commented on #4044
I'd like to amend my previous statement, I can handle social media if no one has already stepped up.

[2019-09-05 14:47] chris-short commented on #4031
Join the live stream of today's Kubernetes Community meeting to learn more about the latest happenings with Autoscaling, Windows, and Network SIGs. Plus, a bonus demo from our @gsoc student, Elijah Oyekunle! https://youtu.be/41Le9wRzbf8 #Kubernetes #K8s

https://twitter.com/ChrisShort/status/1169623031695794176

[2019-09-05 15:19] boluisa commented on #4044
I Volunteer as a blogger.

[2019-09-05 16:28] alejandrox1 commented on #3456
/cc

[2019-09-05 16:30] zparnold commented on #3999
So I guess I wasn't clear where we landed here. Happy to make more general because I am in love with this community and anything that makes their lives easier I am all for!

In the meantime, could we start with just this and expand if it's useful?

[2019-09-05 16:46] lachie83 commented on #3793
/assign @mrbobbytables

[2019-09-05 16:46] lachie83 commented on #3793
/unassign @parispittman

[2019-09-05 18:45] vonguard commented on #3654
/remove-lifecycle rotten

On Thu, Sep 5, 2019 at 11:27 AM fejta-bot <notifications@github.com> wrote:

[2019-09-05 19:51] markyjackson-taulia commented on #2660
/remove-lifecycle rotten

[2019-09-05 19:53] markyjackson-taulia commented on #2812
/remove-lifecycle stale

[2019-09-06 03:45] t0rr3sp3dr0 opened #4061 "Add Support to Deny RBAC Rules"
The absence of denial rules in K8s makes it difficult or impracticable to restrict access while being permissive.

Some use cases would be:
- Allow user to perform all actions that do not involve `kube-system` namespace. Including being able to create new namespaces and automatically have access granted to perform actions on it.
- Prevent secrets from being accessed by some subject in a namespace

[2019-09-06 03:48] t0rr3sp3dr0 commented on #4061
@kubernetes/sig-auth-feature-requests

[2019-09-06 15:27] mrbobbytables commented on #4061
Hey there @t0rr3sp3dr0 enhancement requests should be made against the [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes) repo using the [Enhancement Issue template](https://github.com/kubernetes/kubernetes/issues/new?labels=kind%2Ffeature&template=enhancement.md). The community repo is more or less the center point in how me manage the Kubernetes contributor community itself.

With

[2019-09-06 15:27] #4061 closed

[2019-09-07 22:31] markyjackson-taulia commented on #2873
/remove-lifecycle rotten

[2019-09-08 04:33] gtaylor commented on #4040
I don't think I can sign us up for that unilaterally, and we're not quite organized enough for me to have a great way to make that case.

I'm going to close this and we'll find another way to get stuff sorted out!

[2019-09-08 04:33] #4040 closed

[2019-09-08 09:09] andyzheung opened #4068 "Some questions about Huge Pages and NUMA"
I read  community/contributors/design-proposals/resource-management/hugepages.md, and said that :

Initially, a pod may not consume multiple huge page sizes in a single pod spec. Attempting to use hugepages-2Mi and hugepages-1Gi in the same pod spec will fail validation. We believe it is rare for applications to attempt to use multiple huge page sizes. **This restriction may be lifted in the futur

[2019-09-08 09:35] raelga commented on #3919
Added:
- [Community values slide](https://docs.google.com/presentation/d/18LcwvqyNn74HgqIk7O-ChgfSsJAqDIYm7obguEXto4Q/edit#slide=id.g608b283008_0_52)
- [Community Groups slide](https://docs.google.com/presentation/d/18LcwvqyNn74HgqIk7O-ChgfSsJAqDIYm7obguEXto4Q/edit#slide=id.g608b283008_0_11)
- [Community Groups overview diagram](https://docs.google.com/presentation/d/18LcwvqyNn74HgqIk7O-ChgfSsJAqD

[2019-09-08 09:38] raelga commented on #3893
@jeefy the info deck is [here](https://drive.google.com/file/d/1OFGJ2kTV_2KsBMmA4aM3j_JU2OQLxb0C/view)

[2019-09-08 09:41] raelga opened #4069 "Contributor Summit SD - Create Monday need to know info slides"
Slide deck to display during the Sunday Night Celebration with _need to know information_ for the Contributor Summit San Diego event on Monday.

Following requirement requested in:

- [Contributor Summit SD: Sunday Night Celebration #3893](https://github.com/kubernetes/community/issues/3893)

Proposal for deck content:
- [x] New contributors name list
- [x] Current contributors name list
- [x] SIG

[2019-09-08 09:52] raelga commented on #4069
/sig contributor-experience
/area na-summit
/area contributor-summit
/assign
/cc @jonasrosland

[2019-09-08 09:54] raelga commented on #3893
@parispittman The issue for the info slides is https://github.com/kubernetes/community/issues/4069

[2019-09-08 09:55] raelga commented on #4069
/assign @jonasrosland

[2019-09-09 05:18] idealhack commented on #4069
we are currently reviewing proposals of CS Sessions, and the program will be available about two weeks later.

[2019-09-09 14:23] micheelengronne commented on #4001
Seems great. For threat modelling it would be of good use. +1

[2019-09-09 18:59] cblecker commented on #4001
While I can see the value in a tool to do this, I don't think this needs to or should be done by the upstream project. I think this is a great thing to have in the community though.

[2019-09-10 09:05] k82cn commented on #3396
Sorry to have more comments at the last minutes :)

If we retire this WG only because of topics, I'd like to collect the requirements and be committed to pulling content together bi-weekly or monthly.

Some items in my pipeline:

1. work with kubeflow/common for `SchedulingPolicy`, a scheduler CRD for ML workload ([kf/common#46](https://github.com/kubeflow/common/issues/46))
1. GPU topology from k

[2019-09-10 19:24] zparnold commented on #3999
@Katharine @jeefy @nikhita any movement on this?

[2019-09-10 20:28] mrbobbytables commented on #3793
Everything connected and tested. 👍

Going to go ahead and close this out.

If there are any other problems don't hesitate to give me a ping :)

/close

[2019-09-10 20:28] #3793 closed

[2019-09-10 22:24] mrbobbytables commented on #3866
Unless we want to leave this open till the last reg phase change (October 28th) I think this issue can be closed. 👍

We have the separate reg links for the different paths and the phased rollout is in effect. \o/

[2019-09-10 22:54] mrbobbytables opened #4077 "Document Process for setting up recurring Zoom meetings."
The [Zoom Guidelines](https://git.k8s.io/community/communication/zoom-guidelines.md) are missing the best practices for setting up a recurring meeting (ensuring a start/end time etc). This is referenced by the [YouTube guidelines](https://git.k8s.io/community/communication/youtube/youtube-guidelines.md#automation) as a prerequisite for setting up a splain pipeline.

/sig contributor-experience
/ar

[2019-09-11 04:11] markyjackson-taulia commented on #3064
I am going over the issues opened for similar items. They are
#155
#1644
#1899
#2441
#2759
#3749

All of this in some way connected in terms of the needs. @eduartua really summed that up in this issue so I would like to incorporate the the above mentioned issues in to this one. That does not mean close those issues bit rather address each one of those issues with @eduartua work here.

The tasks fo

[2019-09-11 04:16] markyjackson-taulia commented on #3064
I am starting my online documentation here: https://docs.google.com/document/d/1D7CZZLqKrByrPrXytmf1q5YWzTURL_r7_3KH9iCPgOE/edit?usp=sharing

[2019-09-12 02:56] xjas opened #4084 "local: -n: invalid option when make test "kubernetes 1.16". Requires bash version >= 4.3"
When I make test, It just can not pass.
Some of the error message is:
[code]

I did a lot investigate, and I fonund that the usage `local -n` requires bash version >= 4.3.
I wonder is there any need that this should be added to a `Requirements` section?

[2019-09-12 16:06] saiyam1814 opened #4086 "APAC friendly K8s Webinars"
We are planning to conduct webinars during the APAC friendly timezone. In order to get this started this, we need some kind of google form for CFP wherein people can submit their topics, abstract etc and then we can prioritize things when and how we are going to start.
We also need to check with CNCF for it.

[2019-09-13 16:42] misterikkit commented on #2657
@markyjackson-taulia Hey that sounds like fun - what's the actual task though?

[2019-09-13 16:45] markyjackson-taulia commented on #2657
@misterikkit It would require you and I to refine the existing 1:1 mentoring process and make it easy to understand and community-friendly. Something of a well defined guide that a mentor can follow and a mentee understands

[2019-09-13 16:52] misterikkit commented on #2657
I'm happy to contribute to this! I'm `misterikkit` on slack. Maybe we can
coordinate there.

[2019-09-13 16:53] markyjackson-taulia commented on #2657
Perfect!

[2019-09-13 18:24] castrojo opened #4091 "Mention point release schedule on the contributor cheatsheet"
This is a simple task that is adding a URL to an existing page, if you're a new contributor looking for something simple to learn the process, consider adopting this issue!

SIG Release has an awesome point release page now: https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md

We should add this to the cheatsheet: https://github.com/kubernetes/community/tree/master/con

[2019-09-13 20:37] #3547 closed

[2019-09-13 21:21] sb1975 opened #4092 "Seperate pod-network vlan for each namespace"
Is it possible to extend the namespace with a feature to add a separate pod-network range for each namespace. This would help to isolate in multitenant situations when same kubernetes cluster is shared with multiple tenants.

[2019-09-14 12:59] mrbobbytables commented on #2878
/remove-lifecycle stale

[2019-09-14 18:25] mrbobbytables commented on #1922
descheduler has now been migrated to kubernetes-sigs
ref: https://github.com/kubernetes/org/issues/1176

[2019-09-15 17:04] markyjackson-taulia commented on #2657
@misterikkit and I are meeting this coming week (invite sent after discussing via dm) to discuss and breakdown the task in to workable chunks

[2019-09-15 19:31] cblecker commented on #4092
Feature requests can be opened here: https://github.com/kubernetes/kubernetes/issues/new/choose

/close

[2019-09-15 19:31] #4092 closed

[2019-09-16 17:02] rthomchick commented on #4044
I volunteer as an editor. I worked in this role at VMW for 4 years and wrote the VMW Marketing Style guide in collaboration with Tech Pubs.

[2019-09-16 22:36] parispittman commented on #2955
/close

if the current zoom admins want to fully roll this out, they can pick it up at another time.

[2019-09-16 22:36] #2955 closed

[2019-09-16 22:37] parispittman commented on #3362
/remove-lifecycle stale

this needs to get done but can't take it on myself

[2019-09-16 22:39] tashimi commented on #4043
Hi - the working group for multi-tenancy has some cool projects going on: Tenancy CRD, Hierarchical Namespaces, RBAC, and Quotas. We think an intern could jump in and work on these projects, working on end to end testing, new user tutorials, and implementing small features and providing code review to other community members. We will identify some issues as "Good First Issues."

[2019-09-16 23:29] parispittman commented on #4043
@tashimi sounds great! would you be the point of contact/mentor?

[2019-09-17 01:22] tashimi commented on #4043
@parispittman I can definitely be the point of contact, I've got several volunteers who are more involved in the coding efforts that will help mentor, @rjbez17 @srampal

[2019-09-17 21:19] alejandrox1 commented on #2812
Update on this:
Here is the playlist for all code base torus: https://www.youtube.com/playlist?list=PL69nYSiGNLP0gugLYzpNR1ueyUj9GjzpK

Other than that, please request any additional code tours you want to see here!
Currently, we should do
* [ ] kubectl
* [ ] workqueue - as per [discuss poll](https://discuss.kubernetes.io/t/poll-what-kind-of-small-one-topic-videos-would-you-like-to-see/3200)
* [ ]

[2019-09-17 22:01] alejandrox1 commented on #3481
@mrbobbytables I can start working on this, if you dont mind

[2019-09-17 22:02] alejandrox1 commented on #3481
/remove-lifecycle rotten
/lifecycle active

[2019-09-17 22:03] alejandrox1 commented on #3481
Also removing help from this one since there are people assigned to it now
/remove-help

[2019-09-17 22:03] alejandrox1 commented on #2812
/remove-lifecycle rotten
/lifecycle active

[2019-09-17 22:43] tashimi commented on #4043
At the ClusterAPI community in person meeting, we discussed having an intern take the automated API notation being done and creating automated documentation with it. This could be a great way to have a good starter project and learn a ton about how ClusterAPI works.

[2019-09-18 00:41] 2pai commented on #4091
can i take this issue ?
so  i just add patch release link to the contributor cheatsheet right?

[2019-09-18 08:14] markyjackson-taulia commented on #2659
/remove-lifecycle stale
/assign markyjackson-taulia

[2019-09-18 08:18] markyjackson-taulia commented on #3479
After reviewing I think it would be best to have an automated weekly report of everyone that has signed up for group mentoring bu this requires SIG/WG lead participation. I will take this action item start the discussion with a few SIG/WG and see if I can from that templatize/codify this issue task

[2019-09-18 08:18] markyjackson-taulia commented on #3479
/assign markyjackson-taulia

[2019-09-18 08:19] markyjackson-taulia commented on #2663
/assign markyjackson-taulia
Adding myself also as an assignee

[2019-09-18 14:44] markyjackson-taulia commented on #923
/remove-lifecycle stale
@nikhita would this make sense to add to the ongoing developer guide work I am doing? If so, I can assign this to me but I wanted to check with you 1st

[2019-09-18 15:30] philips commented on #2992
This should be easier now that there is an API of module versions: https://index.golang.org/

[2019-09-18 16:29] alejandrox1 commented on #2812
I know there are more code base tours in the previous meet our contributors sections so I will go through them and get them in the playlist.

[2019-09-18 16:34] parispittman commented on #2812
@alejandrox1
kubectl is in may with maciej
garbage collection in june with david

[2019-09-18 16:44] alejandrox1 commented on #2812
Thank you @parispittman
kubectl just went live. I'll start working on the garbage collection one then!

[2019-09-19 22:06] #3889 closed

[2019-09-23 05:00] nikhita commented on #3220
KEPs were cleaned up in https://github.com/kubernetes/community/pull/3846

/close

[2019-09-23 05:00] #3220 closed

[2019-09-23 08:21] deltasquare4 commented on #2210
/remove-lifecycle stale

[2019-09-23 10:19] nikhita commented on #3945
Ping on this...

@ericavonb: Can you create a membership request to be added to the Kubernetes org?

@ericavonb and @hannibalhuang: Can you create a PR/mailing list thread to update the wg policy leads?

@ptone and @aasmall: Reminder to accept the invite to the org. You can find the invite by visiting https://github.com/kubernetes :)

[2019-09-23 10:20] nikhita commented on #4086
/assign @idealhack @saiyam1814

[2019-09-23 10:28] nikhita commented on #4043
/assign

[2019-09-23 10:34] nikhita commented on #3999
@zparnold sorry for the late response, just came back from vacation.

:heart:

I'll leave the final decision to slack admins but IMHO it would be nicer to have this generalized and in the slack-infra repo before we get it into action.

I'd hate this to be a blocker...I'm just concerned about setting a precedent about using more tools like this in the future, especially with regards to slack since

[2019-09-23 22:47] alexec opened #4106 "Proposal: provide a font (like fontawesome)"
It'd be great to have this as a font similar to how fontawesome works.

/sig contributor-experience
/area contributor-guide
/help

[2019-09-24 03:17] nikhita commented on #4106
@alexec can you add some more details on what the font is supposed to be meant for, how you are intending to use it, etc?

[2019-09-24 03:34] parispittman commented on #4043
@tashimi this is what we will need to go live on the outreachy site tomorrow:
- short title
- Description of the internship project
- system requirements
- examples of possible tasks
- skills needed

notes from outreachy folks:
Please do not place educational restrictions (such as needing a degree) on this project. Outreachy applicants are judged on their demonstrated skills, not on their educatio

[2019-09-24 14:01] nikhita commented on #923
Yes :))

/assign @markyjackson-taulia

[2019-09-24 14:02] nikhita commented on #3700
/remove-lifecycle stale

[2019-09-24 14:03] nikhita commented on #3724
/remove-lifecycle stale

[2019-09-24 15:19] alexec commented on #4106
It would make it easy to use the icons in web apps as they could be used via simple CSS styling. I’d note that fontawesome is not actually a font.

[2019-09-24 18:23] #3744 closed

[2019-09-25 02:41] mrbobbytables opened #4109 "Update youtube guidelines to include subprojects"
The [current guidelines for  youtube meeting playlists](https://github.com/kubernetes/community/blob/master/communication/youtube/youtube-guidelines.md#meeting-playlists) exclude subprojects. As some of the subprojects are very large in size and host their own meetings, they should be able to have their own playlist to better target their own contributors and increase general discoverability.

/si

[2019-09-25 06:15] idealhack commented on #3956
We've been catching up for the past week.

Now schedule's been sending out to speakers to confirm their availability etc.

[2019-09-25 12:50] parispittman commented on #4044
for those interested - let's get together and discuss. @simplytunde @rthomchick @boluisa @chris-short @k-hopson @saiyam1814 @Guaris

provide your availability for a meeting next week-
https://www.doodle.com/poll/6682kfq36wttq6fa

[2019-09-25 13:03] parispittman commented on #4011
people that are on there now:
coderanger
jeefy
ihor
spiffxp
dylan
castrojo
jorge (other one)
gus
idealhack
mrbobbytables
christoph
jaice
munnerz
joel
katharine
loic
nikhita
puja
manjunath
roy
Pandiyaraja

heres the list to compare it to:
https://github.com/kubernetes/community/blob/master/communication/moderators.md

[2019-09-25 13:04] saiyam1814 commented on #4044
voted :)

On Wed, Sep 25, 2019 at 6:21 PM Paris <notifications@github.com> wrote:

--
<https://www.linkedin.com/in/saiyam-pathak-97685a64/>

[2019-09-25 13:08] jonasrosland commented on #4022
I would gladly take on the marketing lead role again. If Jeff chooses not to take lead on the Amsterdam Summit, I would also be available to do that.

[2019-09-25 13:13] parispittman opened #4111 "contribex meetings updated in sigs.yaml"
need to have the mentoring and contributor documentation meetings updated with times/dates/other info in sigs.yaml (in the root of kubernetes/community)

also need to remove the meeting information for the noncode guide since that is flowing into the contributor documentation meeting

contribex meeting agenda has all of the above information in detail on the first page
[meeting notes](https://docs

[2019-09-25 13:14] geekygirldawn commented on #4022
I could probably do content lead, since the EU events don't have an insane amount of content outside of NCW?

[2019-09-25 13:44] parispittman opened #4112 "looking for one more zoom and youtube admin"
looking for another zoom and youtube admin to take my place as a admin and moderator. i will mentor. there is a level of trust that comes with this role and would like to see folks who have been contributing to the project for a bit take it. its been two years of me in this role and it's time to let someone else take the wheel.

[zoom guidelines](https://github.com/kubernetes/community/blob/master

[2019-09-25 13:53] ameukam commented on #4022
I'm interested in helping out the Registration Team. :-)

[2019-09-25 14:32] parispittman commented on #3969
ok - i modified and left comments for all of the questions we asked last year. Please take a look.

1- How long have you been contributing to Kubernetes?
- less than one year
- one to two years
- two to three years
- three+ years

2- What level of the Contributor Ladder do you consider yourself to be on? (pick the highest if you are multiple OWNERs files)
-there's a contributor ladder?
-not yet a

[2019-09-25 14:47] nikhita commented on #3969
A question about how useful people find comments from test failures on PRs would be useful: https://twitter.com/tophee/status/1169147984724074496

xref https://github.com/kubernetes/community/issues/3621
/cc @cblecker @BenTheElder @munnerz

[2019-09-25 14:50] simplytunde commented on #4044
done

[2019-09-25 17:30] tashimi commented on #4022
I'm happy to do D&I again

[2019-09-25 17:36] jberkus commented on #3969
Would be lovely to have this in something that allowed line-item comments, but until GiST supports that I don't have a suggestion.  Some tweaks, mainly to the available answers:

remove word "maybe"
add "if I had more free time"

s/oss/open source

change to "1 other"

change to "2 or more"

Add: "Writing documentation and notes"
(this is to cover our non-english speakers who often struggle with t

[2019-09-25 17:52] boluisa commented on #4044
@parispittman The dates with checkboxes are for this week, was that intentional? can you please clarify.

[2019-09-25 19:34] chris-short commented on #4044
I’m not available until Friday.

On Wed, Sep 25, 2019 at 13:52 Tunde Olu-Isa <notifications@github.com>
wrote:

--

Chris Short
He/Him/His
Web <https://chrisshort.net/> | Newsletter <https://devopsish.com/> |
Twitter <https://twitter.com/ChrisShort> | LinkedIn
<https://linkedin.com/in/thechrisshort>

[2019-09-25 20:25] cblecker commented on #3969
Specific questions on testing:

- Remove question 7-10
- Add following questions:
---
How often do you interact with Kubernetes GitHub via the following methods (1 - not at all, 5 - frequently):
- GitHub website
- Desktop application
- Mobile
- E-mail notifications
---
Do you agree with the following statements (1 - strongly disagree, 5 - strongly agree):
"I understand enough about how Kubernetes

[2019-09-26 03:11] tashimi commented on #4043
@parispittman sorry for the slow response on this:

- short title: multi-tenancy working group internship
- Description of the internship project: The multi-tenancy working group has several projects underway, developing a Tenancy CRD, Hierarchical Namespaces, and extending role-based access control (RBAC) and quotas to extend multi-tenancy management to Kubernetes. This project is for an intern t

[2019-09-26 03:17] tashimi commented on #4043
- short title: ClusterAPI internship project
- Description of the internship project: ClusterAPI is an opensource project that seeks to automate the lifecycle of Kubernetes clusters. In this internship, you will be automating the documentation of this project, using the automated API notation that the maintainers have included as they build out ClusterAPI! Your work will enable other developers to

[2019-09-26 06:43] raelga commented on #4022
Happy to be part of the Content / NCW team again, not ready to lead (yet), but willing to keep learning to be there in the future!

:)

[2019-09-26 07:15] idealhack commented on #4086
If we want to duplicate some of the CNCF webinars, here they are: https://www.cncf.io/webinars/?_project=kubernetes

[2019-09-26 08:01] saiyam1814 commented on #4086
Yeah, so for the process of nomination they have an email given. I feel that can be changed and we can have google form wherein we can ask for all the information we need and then we select one by one the topics.

[2019-09-26 12:55] alisondy commented on #3914
I expanded on the list, some things are a bit repetitive, thank you @jberkus for the suggestions, I've added them and a couple more to the list below

1. ... is a Sig Chair of _fill in the blank___ sig
2. ... has an Open KEP
3. ... is attending Kubecon for the first time
4. ... is a member of ___fill in the blank___ sig
5. ... is on the current release team
6. ... has previously been on the releas

[2019-09-26 17:49] celanthe commented on #4022
Happy to help with content/D&I however possible! :)

[2019-09-26 17:53] celanthe commented on #4044
I volunteer as a blogger if needed! Have marketing experience!

[2019-09-26 20:24] conwaychriscosmo opened #4117 "How to Find Component Standard Issues"
From @stealthybox
component-base is an automated staging repository from k/k, so most of the issues end up on kubernetes/kubernetes or their associated component's repo's.
See:
- [Project Board](https://github.com/orgs/kubernetes/projects/26)
- [k/k Issues/PR's needing Review](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=label%3Awg%2Fcomponent-standard+)
The wg label has also b

[2019-09-26 20:25] conwaychriscosmo commented on #4117
/wg component-standard

[2019-09-26 23:11] mrbobbytables opened #4118 "2019 Steering Committee Election Tracking Issue"
This is a bit late -- but getting out there. Supersedes the kick off issue https://github.com/kubernetes/community/issues/3915.

| When       | Week | What                                                                     | Done    |
|------------|------|--------------------------------------------------------------------------|---------|
| 2019-09-12 | 0    | Stub election content in Community

[2019-09-26 23:18] mrbobbytables commented on #3915
Thanks @parispittman for getting this together. :)

With the election well under way, closing in favor of the tracking issue #4118

/close

[2019-09-26 23:18] #3915 closed

[2019-09-27 23:59] tallclair commented on #2992
/remove-lifecycle-stale

[2019-09-29 14:18] markyjackson-taulia commented on #3211
/remove-lifecycle rotten

[2019-09-29 17:13] liggitt commented on #3211
/lifecycle frozen

[2019-09-30 13:30] geekygirldawn opened #4125 "Invalid owners files in sigs.yaml"
The following owners files in sigs.yaml are generating 404 errors:

sig-apps
https://raw.githubusercontent.com/kubernetes/kubernetes/master/staging/src/k8s.io/api/core/v1/OWNERS

sig-auth
https://raw.githubusercontent.com/kubernetes/kubernetes/master/pkg/controller/certificates/approver/OWNERS
https://raw.githubusercontent.com/kubernetes/kubernetes/master/plugin/pkg/admission/imagepolicy/OWNERS

s

[2019-09-30 13:32] geekygirldawn commented on #4125
/label sig-apps sig-storage sig-autoscaling sig-auth

[2019-09-30 13:34] geekygirldawn commented on #4125
/area community-management

[2019-09-30 13:58] nikhita commented on #4125
Thanks for auditing these, @geekygirldawn :)

/help

For anyone who takes it up:

Most of the work involves tracking the OWNERS files and following up with SIGs. One suggestion for tracking these OWNERS files is to do a `git log -- <file-name>` to get the list of commits that touched the file. The latest commit would have removed the file and would contain more context about the change.

If you ha

[2019-09-30 14:12] mrbobbytables commented on #4125
Thanks @geekygirldawn -- Longer term I think this is something we should look into automate a bit. Walking sigs.yaml and checking for valid OWNERS shouldn't be too bad. Maybe schedule a report to run once every release? If there are any out of date, create a follow-up issue after the release.

[2019-09-30 14:37] geekygirldawn commented on #4125
Agreed! I was doing a little bit of analysis of owners files, and one of my scripts returned errors on these files, so it should be easy enough to automate :)

[2019-09-30 15:30] geekygirldawn commented on #4125
After a bit more digging:

[2019-09-30 17:29] jeefy commented on #3914
Everyone on the 09/30 call to review and propose/+1 by EOW. :)

[2019-09-30 17:33] jeefy commented on #3956
Schedule is pending and we'll be releasing it this week.

Thanks all!

/close

[2019-09-30 17:33] #3956 closed

[2019-09-30 17:35] jeefy commented on #3911
Per @jonasrosland all of these are done! :tada:

/close

[2019-09-30 17:37] jeefy commented on #3911
/reopen

[2019-09-30 17:40] jonasrosland commented on #3911
@hpandeycodeit Can you please add these to the list, as unchecked?
- Publish blog post with the schedule and descriptions
- Send out schedule and registration numbers to k-dev
- Tweet about the scheduled
- Once the NCW registration reopens, tweet about that

[2019-09-30 17:41] jeefy commented on #3865
Website is up!

/close

[2019-09-30 17:41] #3865 closed

[2019-09-30 17:42] jeefy commented on #3868
Looks like we're done!

/close

[2019-09-30 17:42] #3868 closed

[2019-09-30 17:43] jeefy commented on #3866
Reg is opened!

/close

[2019-09-30 17:43] #3866 closed

[2019-09-30 18:51] markyjackson-taulia commented on #3914
+1 for the newly expended items.
I really love this idea @alisondy and I think people are going to really have fun with this

[2019-09-30 20:41] mrbobbytables commented on #1922
reference docs has now been migrated to kubernetes-sigs
ref: https://github.com/kubernetes/org/issues/1158

[2019-09-30 22:55] raelga commented on #3919
The community groups sections have been updated with up-to-date information.

Updated:

 * [SIGs diagram slide](https://docs.google.com/presentation/d/18LcwvqyNn74HgqIk7O-ChgfSsJAqDIYm7obguEXto4Q/edit#slide=id.g5e6254b17b_4_1270)
 * [SIGs / WG / Sub-projects slides](https://docs.google.com/presentation/d/18LcwvqyNn74HgqIk7O-ChgfSsJAqDIYm7obguEXto4Q/edit#slide=id.g5e6254b17b_4_1282)

[2019-09-30 23:57] idvoretskyi commented on #3673
/close

Closed by https://github.com/kubernetes/community/pull/4129

[2019-09-30 23:57] #3673 closed

[2019-10-02 05:31] nikhita commented on #3621
/remove-lifecycle stale

[2019-10-02 05:31] nikhita commented on #3753
/remove-lifecycle stale

[2019-10-02 06:30] nikhita commented on #4043
Kubernetes projects are live on the Outreachy website: https://www.outreachy.org/apply/project-selection/#kubernetes :tada:

We'll need to update mentor info as a follow-up.

[2019-10-02 15:01] carolynvs commented on #3353
/remove-lifecycle stale

[2019-10-02 19:35] markyjackson-taulia commented on #4091
/good-first-issue

[2019-10-02 19:36] markyjackson-taulia commented on #4086
/good-first-issue

[2019-10-02 19:37] markyjackson-taulia commented on #3798
/good-first-issue

[2019-10-03 04:49] idealhack commented on #4091
this was fixed by https://github.com/kubernetes/community/pull/4103

/close

[2019-10-03 04:49] #4091 closed

[2019-10-03 04:57] idealhack commented on #4022
I'm happy to help with Content / NCW again :)

[2019-10-03 06:00] jedidiahjrp opened #4139 "@kubernetes/sig-Network-network External Ip Pending in kuberntes for Load Balancer"
Hi I have installed Kubernetes in centos using kubeadm i created Deployment using type Load Balancer the external ip is always in pending state !

NAME         TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)        AGE
kubernetes   ClusterIP      10.96.0.1       <none>        443/TCP        13m
service
![Pending1](https://user-images.githubusercontent.com/44153581/66102773-200a9200-e5d1-11e9-

[2019-10-03 06:06] jedidiahjrp commented on #4139
@kubernetes/sig-Network-network

[2019-10-03 06:06] cblecker commented on #4139
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-10-03 06:06] #4139 closed

[2019-10-03 06:13] jedidiahjrp commented on #4139
hi @cblecker I posted Stack Overflow also unable find the solution please Help me out! Thank You

[2019-10-04 00:55] jeefy commented on #4022
@parispittman Toss me on as lead for Amsterdam please. :)

Let's get this party started.

[2019-10-04 07:25] raelga commented on #4022
{{party_parrot_placeholder}}

[2019-10-04 20:08] markyjackson-taulia commented on #3267
/remove-lifecycle stale

[2019-10-04 20:08] markyjackson-taulia commented on #3267
/remove-lifecycle rotten

[2019-10-07 10:14] nikhita commented on #4086
cc @kubernetes/sig-contributor-experience-apac-coordinators

[2019-10-07 10:20] nikhita commented on #4018
Can this be closed now?

We have `https://go.k8s.io/owners/${GITHUB_USER}` now. Thanks @mrbobbytables!! :)

https://groups.google.com/forum/#!topic/kubernetes-dev/t96WvmdacUc

[2019-10-07 10:23] nikhita commented on #3917
/area eu-summit

[2019-10-07 10:37] Pensu commented on #4022
Would love to help out with Registration/Content.

[2019-10-07 13:38] idvoretskyi commented on #4022
/cc

[2019-10-07 14:24] nikopen commented on #3455
/remove-lifecycle rotten
/reopen

[2019-10-07 16:04] timothysc opened #4149 "PR Lifecycle stats, automation, and leadership notification"
I decided to start to investigate why do we have so many open PRs and how long have they been open for, and the data is troubling IMO.

`is:pr is:open created:<=2019-04-07 `= 153
`is:pr is:open created:<=2019-07-07 `= 432
`is:pr is:open created:<=2019-09-07 `= 747
Total open PRs = 1053

What are we doing to ensure PRs are reviewed in a timely manner and that SIG leadership is aware of these number

[2019-10-07 16:16] timothysc commented on #4149
Also worth noting `is:issue is:open updated:<=2018-10-07` = 202 .
Meaning there are 202 issues open that haven't been updated in over a year!!

[2019-10-07 16:29] geekygirldawn commented on #4149
/assign

I'd be happy to help @castrojo or others dig into this issue to see what we can do to help better manage our PRs.

[2019-10-07 16:34] aravindputrevu commented on #4086
Now that we're all on boarded. What are the next steps?

[2019-10-07 16:34] #4018 closed

[2019-10-07 16:34] cblecker commented on #4149
Right now we close untouched issues after 150 days:
- 90 days until issue goes stale
- Another 30 and the issue goes "rotten" (basically, gets a second reminder)
- Another 30 days after that and it gets closed

For the issues where this is not happening, it's because they have been "frozen" to prevent interactions from the lifecycle bot. For example, kops has 92 frozen issues:
https://github.com/k

[2019-10-07 16:43] alejandrox1 commented on #4149
/cc

[2019-10-07 16:54] mrbobbytables commented on #4149
Already digging in to this from the owners perspective.

/assign

[2019-10-07 17:17] tariq1890 commented on #4022
I am happy to be involved with content again. But also open to other teams if that slot already fills up.

[2019-10-07 17:42] timothysc commented on #4149
Any action plan here I'd like to see a policy doc written on lifecycle of an ISSUE + PR in order to help:

1- Accurate routing
2- Timely response
3- Appropriate remediation
4- Overall expiration

I recognize some issues are thorny and can take a long time to address, but there is little reason a PR should languish for 6+ months, and it should be a rare exception.

[2019-10-07 17:53] parispittman opened #4150 "map for contrib summit"
logging issue so it doesn't go untracked

need a map of the floor for summit:
-sched
-signs

[2019-10-07 18:20] castrojo commented on #4149
From a quick call with Tim, it'd be neat if the lifecycle doc was a spec for the bot to do comments on PRs and issues based on the lifecycle, for example "It's been 15 days since this PR was touched, please see step foo in the lifecycle document and contact baz." as an example.

[2019-10-07 18:41] mrbobbytables commented on #3179
/assign

[2019-10-08 00:08] parispittman commented on #3541
/remove-lifecycle stale

[2019-10-08 06:26] soorena776 opened #4154 "`Ready` condition for programatic decisions"
Hi everyone!

In Crossplane project, we are tackling the problem of inter resource referencing (https://github.com/crossplaneio/crossplane/pull/874).  In summary, a resource `c` in some scenarios might need to retrieve the desired attributes of a referred resource `r`, which becomes available once `r`'s corresponding external resource is created.

Let's assume resource `c` is consuming `r`'s attri