[2017-08-11 16:41] bgrant0607 commented on #860
The above requirements should be documented somewhere.

[2017-08-11 16:44] bgrant0607 commented on #857
In addition to the problem with multiple committers, which I believe still happens for large numbers of committers, such as for some release-branch cherrypick PRs, there were some problems with PRs from specific contributors in the past that took weeks to debug.

[2017-08-11 18:22] bgrant0607 commented on #856
This is covered by #651

[2017-08-11 18:22] #856 closed

[2017-08-11 18:24] #854 closed

[2017-08-11 18:24] bgrant0607 commented on #854
Yep, fixed. Thanks

[2017-08-11 18:31] bgrant0607 commented on #818
@kbroughton This is not the right place to make a feature request.

This has also already been requested:
https://github.com/kubernetes/kubernetes/issues/38791

[2017-08-11 18:31] #818 closed

[2017-08-11 18:35] bgrant0607 commented on #614
Please ask support questions on stackoverflow.

[2017-08-11 18:35] #614 closed

[2017-08-11 18:38] bgrant0607 commented on #339
Yes, tests only run on Linux.

Also, please try slack for contributor-related questions like this.

[2017-08-11 18:38] #339 closed

[2017-08-11 18:38] bgrant0607 commented on #201
@grodrigues3 Can this be closed?

[2017-08-11 18:39] bgrant0607 commented on #165
This wasn't the right way to make a proposal, but it has been implemented and merged already, so closing.

[2017-08-11 18:39] #165 closed

[2017-08-11 18:40] bgrant0607 commented on #892
See also #155

[2017-08-11 20:04] sebgoa commented on #351
ok done. Submitted a PR. Difficult to do anything meaningful without knowing what the bootstrap committee has settled on. I tried to organize a bit the list and explain why in the PR comments.

[2017-08-11 20:04] #351 closed

[2017-08-11 23:16] #830 closed

[2017-08-12 03:28] yiakwy opened #902 "Kubernetes Auth"
kind bug
@kubernetes/sig-auth-bugs
@kubernetes/sig-cli-bugs
the cmdutil package cannot be found in the path "k8s.io/kubernetes/pkg/kubectl/cmd/util".

After diving into Kubernetes auth source code, I want to identify from kubectl to kube-proxy at which part, authentication happens in the traffic flow.

According to the documentation, user first send request to Identity provider, for example GCE us

[2017-08-12 14:56] bradtopol commented on #892
Paul, this is an awesome idea. How can I help?  Is there any content from https://developer.ibm.com/opentech/2017/06/21/tour-kubernetes-source-code-part-one-kubectl-api-server/   that would be worth pulling into this effort?

[2017-08-13 11:29] zhangxiaoyu-zidif commented on #874
That sounds good. Does the tool work now?

[2017-08-13 11:32] zhangxiaoyu-zidif commented on #806
Great, I like sig-storage. Hope better storage description~

[2017-08-14 02:50] zhangxiaoyu-zidif commented on #860
I like the first suggestion, use /help-wanted
By the way, whether only member of kubernetes can add "help-wanted" label?

[2017-08-14 17:35] grodrigues3 commented on #874
This is a feature request.  If you'd like to work on this please self-assign and reach out to ContribX or me for help getting started.

[2017-08-14 19:15] mhausenblas commented on #892
I'm as well as many other folks here very interested to contribute. Here are a few questions:

* Who 'owns' this activity?
* What's the plan (scoping, goals, timeline), going forward?

Given the many ideas and people expressing interest, maybe a cross-SIG Working Group is the best way forward?

IMO we need (at least) one meeting where everyone interested gets a chance to provide input. This topic

[2017-08-15 11:26] xiangpengzhao commented on #484
@bgrant0607 @idvoretskyi does this issue make sense?

"Consider splitting CHANGELOG in separate files"
https://github.com/kubernetes/kubernetes/issues/48985

[2017-08-15 11:35] zhangxiaoyu-zidif commented on #484
I think one release should have its own changelog in a independent files.
We can create a dir for these changelog files. :)

[2017-08-15 12:20] zhangxiaoyu-zidif commented on #806
Maybe we can list a 2017 plan like sig-network.
That will help us to know what could we do for k8s storge.

[2017-08-15 13:36] xiangpengzhao commented on #851
Thanks @cblecker! I will clean up it later.

[2017-08-15 13:38] hyakuhei opened #912 "sig-contributor-experience Meeting agenda minutes are not publicly accessible."
Hi Guys,

The agenda minutes linked from the contributor experience SIG page on Github don't seem to be publicly accessible, perhaps they should be ?

[Agenda minutes](https://docs.google.com/document/d/1qf-02B7EOrItQgwXFxgqZ5qjW0mtfu5qkYIF1Hl4ZLI/) linked from
[sig-contributor-experience/README.md](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/README.md)

Cheers
-

[2017-08-15 16:20] mikedanese opened #914 "Disambiguate "design-proposals" and accepted designs"
This came up in a sig. Someone asked whether a merged doc in contributors/design-proposals/ was an accepted design or still a proposal.
* Is there documentation anywhere explaining that merged docs are accepted?
* Would contributors/designs/ be a better name for the contributors/design-proposals/? Are docs proposals when they are PRs and become designs after they merge?
* If not, then when should

[2017-08-15 17:29] cblecker commented on #806
/sig storage

[2017-08-15 17:31] cblecker commented on #912
/sig contributor-experience
/assign @grodrigues3 @Phillels
@grodrigues3 @Phillels perhaps we can add kubernetes-dev@ as a viewer to the minutes doc too, so that people don't have to join contribex to read them?

[2017-08-15 20:05] dchen1107 commented on #484
I made the proposal on how to automate the  release note in 1.7 release cycle at:
https://docs.google.com/presentation/d/1f-Td0Fs1kR3rSWlYzR0EJ2PFgd8_R2srlE_O_vxwdlk/edit#slide=id.p

The initial discussion among the kubernetes community is here: https://groups.google.com/forum/#!topic/kubernetes-dev/NNnbHAhzuVI

[2017-08-15 20:43] grodrigues3 commented on #912
Shared with K8s-dev mailing list.
Thanks for letting me know.

/close

[2017-08-15 20:43] #912 closed

[2017-08-15 23:22] grodrigues3 opened #918 "Organize Design Proposals Folder"
The design proposals folder is getting a little out of hand, and we could do a few things to help improve it.

- [ ] In lieu of sig subdirs, create functional area subdirs with clear ownership
- [ ] Create OWNERS files in those subdirs
- [ ] Disambiguate proposals from accepted changes as tracked by #914

[2017-08-15 23:32] spiffxp commented on #834
Not much bandwidth for this right now, but if/when I can contribute I will.  Happy to review if someone else takes a crack at this.

[2017-08-16 00:17] grodrigues3 commented on #201
/close

[2017-08-16 00:17] #201 closed

[2017-08-16 00:26] smarterclayton commented on #918
We talked about organization of design proposals on sig-arch and I had the todo of a structure proposal.  I'm leery of per sig because we have many cross cutting proposals, but functional area is probably the best choice since we lack any other clear structure for team ownership.

I do think approval process for a proposal has a higher bar than code, since they touch on expansion of "what is kuber

[2017-08-16 00:35] ahmetb commented on #626
/sig contributor-experience

[2017-08-16 01:17] feiskyer commented on #648
/sig node
/sig storage

[2017-08-16 01:18] feiskyer commented on #807
/sig node

[2017-08-16 01:53] jdumars commented on #468
/sig aws

[2017-08-16 01:54] cblecker commented on #702
/sig contributor-experience

[2017-08-16 02:00] cblecker commented on #891
Fixed in https://github.com/kubernetes/community/pull/917
/sig release

[2017-08-16 02:00] #891 closed

[2017-08-16 02:03] xiangpengzhao commented on #834
cc @kirs

[2017-08-16 02:55] cblecker opened #921 "Steering Committee Label?"
There are issues like https://github.com/kubernetes/community/issues/402 that need a sig label, but they fit under the steering committee more than one sig. Should we add a label for them?

cc: @kubernetes/steering-committee @grodrigues3

[2017-08-16 03:01] cblecker opened #922 "SIG PM Label?"
There are issues like https://github.com/kubernetes/community/issues/531 that related to sig-pm, but we don't have a matching `sig/pm` label.

cc: @grodrigues3

[2017-08-16 03:02] #496 closed

[2017-08-16 03:03] #490 closed

[2017-08-16 03:05] cblecker commented on #266
This is fixed.

[2017-08-16 03:05] #266 closed

[2017-08-16 09:17] xiangpengzhao opened #923 "Document in what cases to "/ok-to-test""
As a new member, I want to help trigger tests for those PRs which have `needs-ok-to-test`. But I'm not sure in what cases I can comment `/ok-to-test` to trigger tests.

As what I can think about, PRs with the below cases shouldn't be given a `/ok-to-test`.

- with label `cncf-cla: no`
- with label `do-not-merge`
- with label `needs-rebase`
- created by mistake (without meaningful code patch. e.g.

[2017-08-16 09:27] xiangpengzhao commented on #923
cc @kubernetes/sig-contributor-experience-misc

[2017-08-16 14:39] xiangpengzhao commented on #923
We may want to document it here: https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#the-testing-and-merge-workflow

[2017-08-16 16:46] MHBauer commented on #923
Not a member. Yes, I agree would be good to start with a list of when not to test.

[2017-08-16 17:15] grodrigues3 commented on #921
yeah, I think governance falls under the steering committee rather than contribx.  let me confirm with a few steering committee members and then i'll get the label created

[2017-08-16 17:22] grodrigues3 commented on #918
@smarterclayton that makes total sense.  Do you think we need automation for this (requires some thought) or can we rely on consensus (e.g. several confirmations) or existing leadership to resolve these disputes?

Functional area makes sense.  What do you think about splitting out approved designs and proposals?

[2017-08-16 17:22] grodrigues3 commented on #918
@kubernetes/sig-architecture-feature-requests

[2017-08-16 17:31] grodrigues3 commented on #923
This was originally created to prevent people from mining bitcoins and running other malicious code using our ci/cd.

So, yeah, the cases you mentioned as well as the above.

Also, @xiangpengzhao if you decide to take this, can you update the [doc](https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#the-testing-and-merge-workflow) to include the new command `/ok

[2017-08-16 17:43] cblecker commented on #923
For me, it also depends on the size of the PR. If it's XS/S/M, then I'm more likely to ok-to-test a PR that I'm not assigned.. if it's a L/XL/XXL, then I'll usually leave it for the assigned reviewers as there is more to go over, and there may need to be a larger overhaul of the PR before it's even worth testing.

[2017-08-16 18:07] smarterclayton commented on #918
Up until now we haven't merged proposals that aren't approved.  So we may
not need approved yet, but I could see how that might be desirable.
Possibly instead of sub folders, we could require better naming.  We could
also have a deprecated / out of date proposals dir, although that can also
be managed by naming.

I think we don't know yet what the approval process will be officially, but
unofficia

[2017-08-16 18:32] grodrigues3 commented on #134
links looked fixed.  Thanks!

/close

[2017-08-16 18:32] grodrigues3 commented on #134
/assign

/close

[2017-08-16 18:33] grodrigues3 commented on #134
/close

[2017-08-16 18:33] #134 closed

[2017-08-16 18:34] grodrigues3 commented on #134
@fejta can you remind me why `/close` doesn't assign me and close the issue.

Nit: /assign followed by /close doesn't work

[2017-08-16 19:23] grodrigues3 commented on #626
@ahmetb can we close this?  Note, the new behavior is such that whenever the bot comments, it links to all the commands that can be used.  For example, https://github.com/kubernetes/kubernetes/pull/50780#issuecomment-322842376

[2017-08-16 19:33] #770 closed

[2017-08-16 19:51] #626 closed

[2017-08-16 19:54] ssg1205 opened #925 "How to track container/pod downtime?"
Hi,
   I am looking for some help to formulate a query/metric to measure how much downtime each container or pod incurred during a specific time duration (say 24 hours). Is there any repository available in this community which tracks this metric?

Thanks
SS

[2017-08-16 20:12] ssg1205 commented on #925
area/monitoring sig/apps

[2017-08-16 20:13] ssg1205 commented on #925
cc @kubernetes/sig-apps

[2017-08-16 20:19] grodrigues3 commented on #922
done

/close

[2017-08-16 20:19] #922 closed

[2017-08-16 20:22] ssg1205 commented on #925
/sig apps

[2017-08-16 20:24] ssg1205 commented on #925
area build-release

[2017-08-16 20:24] ssg1205 commented on #925
/area build-release

[2017-08-16 20:25] ssg1205 commented on #925
/area monitoring

[2017-08-16 20:27] ssg1205 commented on #925
/help-wanted

[2017-08-16 21:06] cmluciano commented on #429
xref: https://github.com/kubernetes/community/pull/692

[2017-08-16 21:14] bgrant0607 commented on #921
Yes, we need a steering label. I suggest `committee/steering` and `committee/conduct`.

[2017-08-16 21:19] bgrant0607 commented on #914
This is being discussed in SIG Architecture as we formalize the proposal process.

Related: #651

[2017-08-16 21:19] bgrant0607 commented on #918
Related: #651

[2017-08-16 21:20] cblecker commented on #921
Side note: if we are using a non `sig/` format, then we probably have to train the needs sig munger on it too

[2017-08-16 21:32] grodrigues3 commented on #921
@cblecker yeah, though I imagine these labels will have fewer use cases and will be specific to this repo.  I'll create the two labels for now and we can modify as needed later

[2017-08-16 21:34] grodrigues3 commented on #921
created both

/close

[2017-08-16 21:34] #921 closed

[2017-08-17 03:40] xiangpengzhao commented on #923
@grodrigues3 There are also other places which should be updated. I had an issue tracking such cases: https://github.com/kubernetes/community/issues/834 But I'm not ready for this yet :) I'm afraid I'm not so sure about some of the exact details of the current process.

[2017-08-17 03:44] xiangpengzhao commented on #923
:+1:

Another concern, is it ok if I lgtm some PRs which aren't assigned to me? These PRs are trivial, e.g. typos, log message changes. Just want to lgtm them to less other reviewers' burden. I believe they're busier than me:)

[2017-08-17 20:15] grodrigues3 commented on #914
@k8s-mirror-architecture-feature-request

[2017-08-17 22:58] spiffxp commented on #402
awaiting deployment of https://github.com/kubernetes/test-infra/pull/4089 to take away the `needs-sig` label

[2017-08-17 22:58] spiffxp commented on #295
awaiting deployment of https://github.com/kubernetes/test-infra/pull/4089 to take away the `needs-sig` label

[2017-08-17 22:59] spiffxp commented on #350
awaiting deployment of https://github.com/kubernetes/test-infra/pull/4089 to take away the `needs-sig` label

[2017-08-17 23:04] spiffxp commented on #921
We should probably add support for a `/committee` command to add these committee labels?

Personally I would have been fine with `sig/committee-foo` and fewer code changes but we can do this too.

[2017-08-17 23:51] spiffxp commented on #798
Maybe https://github.com/kubernetes/community/blob/master/sig-scalability/thresholds.md instead of goals.md but yeah it's missing TPR's or CRD's.  There's probably an open question of whether we wait for a resource to be alpha/beta/GA before attempting to declare or hold to such a limit.

@kubernetes/sig-scalability-misc any thoughts?

[2017-08-18 12:46] AJNOURI opened #944 "SDK Install/update doesn't recognize the path "/usr/lib/google-cloud-sdk/bin""
Each time I install a new SDK node, it doesn't recognize the path "/usr/lib/google-cloud-sdk/bin" to (kubectl, ...)
I have to **add it manually to PATH**.

It even asks me after component update (gcloud components update), to remove the "old" path "/usr/lib/google-cloud-sdk/bin":

`# gcloud container clusters create ...`

Run gcloud update:

`# gcloud components update`

Knowing that, after update

[2017-08-18 14:15] AJNOURI commented on #944
Moved the question to Kubernetes slack group.

[2017-08-18 14:15] #944 closed

[2017-08-18 15:21] idvoretskyi commented on #295
@bgrant0607

https://github.com/kubernetes/community/blob/master/committee-steering/backlog.md

This link doesn't work for me (404). It seems the following link is more accurate now - https://github.com/kubernetes/steering/blob/master/backlog.md.

[2017-08-21 23:27] bgrant0607 opened #952 "Complete architectural roadmap"
Presentation and working doc:
https://docs.google.com/presentation/d/1oPZ4rznkBe86O4rPwD2CWgqgMuaSXguIBHIE7Y0TKVc/edit
https://docs.google.com/document/d/1VEzP20JvIKckPrGSs_R-D4vlwFzMAaqJd-9Lvfyi3jw/edit#heading=h.ub3h0cdur849

[2017-08-22 18:05] #648 closed

[2017-08-22 20:15] calvn commented on #505
Another case is on the [Getting started locally](https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md) guide, where it mentions running the setup with minikube if not on Linux, but does not actually provide any steps or configuration on how things should be set up for that scenario.

[2017-08-23 17:06] nikhita commented on #874
@grodrigues3 If no one is working on this, I'd like to do so!

I had recently written a similar tool for generating the following list, taking the organization and contributor's github handle as the input.

- Pull Requests created
- Issues created
- Pull Requests reviewed

(It was not for applying for the membership but for my Google Summer of Code project report).

Here is the output it generates

[2017-08-23 17:46] grodrigues3 commented on #874
@nikhita awesome, yes we'd love the help.

Github ACLs don't allow someone who is not a collaborator or in the org to be assigned to issues or PRs.  However, they can still comment (like you just did on this issue) and give feedback.  I think those people should be credited with PR reviews even though they are not listed as the assignee or reviewer on the PR itself.   In other words, if they wrote

[2017-08-23 17:57] nikhita commented on #874
Oh, the Github API already supports this! :)

However, it also lists the PRs that were _authored_ by the contributor. (Do we want to show this as well? IMHO it's counter-intuitive to say that someone reviewed their own PR).

But this is not really a problem and can be solved using another API call (I do that in my code).

Example:

- In this list - https://github.com/nikhita/gsoc-meta-k8s#pull-req

[2017-08-23 18:20] grodrigues3 commented on #874
Yeah, we should filter this.  More than likely they are just responding to other people's comments :)

Nope, I think you have a pretty good handle of this.  Let me know if you get stuck at all.

[2017-08-23 20:16] mikecico opened #974 "Extend PodPreset to include ability to add containers?"
It looks like the PodPreset proposal is currently geared towards env, volume, and env-from mods to a pod at creation time.  It might be useful to also allow adding a container to the pod definition, for example for attaching an implicit sidecar to a pod/deployment.

Or is there a similar "preset" proposal/feature for updating a deployment definition?

[2017-08-23 20:28] mikecico commented on #974
@kubernetes/sig-cli-feature-requests

[2017-08-23 21:05] mikecico commented on #974
Looks like this is handled by issue #43874

https://github.com/kubernetes/kubernetes/issues/43874

[2017-08-23 21:05] #974 closed

[2017-08-24 01:32] resouer commented on #874
@bgrant0607 I've tried @nikhita 's tool and it's awesome, +1 for this contribute!

[2017-08-24 08:38] mykaul opened #982 "waitforattach definition in flexvolume spec is not clear - how long to wait?"
It's not clear from the spec for how long should the driver wait in waitforattach API. Forever? Fail after X seconds / retries? Something else?

[2017-08-24 08:58] mykaul commented on #982
@kubernetes/sig-storage

[2017-08-24 08:58] mykaul commented on #982
/sig storage

[2017-08-24 08:59] mykaul commented on #982
@kuberenetes/sig-storage-bugs

[2017-08-24 11:30] dims commented on #982
Looks like 10 mins - https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/volume_manager.go#L88

[2017-08-24 14:24] mykaul commented on #982
Sent https://github.com/kubernetes/community/pull/986 to clarify according to the code above.

[2017-08-24 21:55] grodrigues3 commented on #874
So the tool does quite a bit of the work for us, but it still seems like a pull-not-push interface.  Meaning I need to look up individual contributors.

Instead, I'd like something that always displayed contributors that should be up for ladder promotion or infrequently alerted a list or the user that they should self-nominate.  The project is too large for any one person to regularly identify who

[2017-08-25 15:50] bgrant0607 commented on #767
@xiangpengzhao I removed links to that picture because it has numerous problems. For instance, I'd like to remove mention of cadvisor, which isn't a separate component. There is also no "scheduling actuator", the proxy is misleading, it doesn't mention the apiserver, it doesn't mention CRI and other more recent developments, etc.

And it's not very attractive.

[2017-08-26 02:18] xiangpengzhao commented on #767
@bgrant0607 yeah :)

[2017-08-28 21:26] chenopis commented on #892
@bradtopol @mhausenblas I guess I "own" this project. The main doc is [here](https://docs.google.com/a/google.com/document/d/1EdQ8acmuKGlzZy1agejLqmB7cLpTRBJKC0JYptJ-ylg/edit?usp=sharing), and project tracking will be done [here](https://github.com/kubernetes/kubernetes.github.io/projects/5). We can discuss this more at the next sig-docs meeting, which is tomorrow **8/29 @ 10:30-11:20 am PDT**. He

[2017-08-29 04:01] mhausenblas commented on #892
Thanks for clarifying @chenopis and I'll try to be there, yes.

[2017-08-29 04:31] bradtopol commented on #892
Hi Andrew,
 
Thanks for reaching out.  I am Beijing right now and unfortunately won't be able to make the 8/29 meeting but will catch up when I get back.
 
Thanks,
 
Brad
 
Brad Topol, Ph.D.IBM Distinguished Engineer
Open Technology & Developer AdvocacyOpenStack Foundation Board Member(919) 543-0646Internet: btopol@us.ibm.comAssistant: Kendra Witherspoon (919) 254-0680
 
 
----- Original message -

[2017-08-29 13:30] justinsb opened #992 "http://slack.k8s.io redirector should speak https"
slack.k8s.io currently only listens on http, not https.  We should turn on KubeLego for it :-)

[2017-08-29 13:58] guangxuli opened #993 "sig-scheduling meeting time"
A little confusing, why sig-scheduling meeting time plan described in different places are not consistent?

1.[place 1](https://docs.google.com/document/d/13mwye7nvrmV11q9_Eg77z-1w3X7Q1GTbslpml4J7F3A/edit)
2.[place 2](https://github.com/kubernetes/community/tree/master/sig-scheduling#meetings)
which is the right one? Any difference? :(
/cc @k82cn

[2017-08-29 15:02] guangxuli commented on #993
/sig-scheduling

[2017-08-29 15:36] guangxuli commented on #993
ping @davidopp @bsalamat

[2017-08-29 16:26] pmorie commented on #892
Unfortunately I won't be able to attend the sig-docs meeting due to a conflict, but I am happy that this effort is being kicked off.  Please let me know if you have any questions for me.

[2017-08-29 17:10] cblecker commented on #992
@thockin @ixdy is this something you guys might be able to help with?

[2017-08-29 20:05] chenopis commented on #892
Specifically regarding creating/organizing content targeted at Kubernetes codebase contributors, I will approach SIG Community and contact SIG API Machinery, SIG Architecture, and SIG Contributor Experience to start a discussion about the governance of this process. @mhausenblas has agreed to help collect materials and requirements for the actual content. Then once everyone is aligned, we will cre

[2017-08-29 20:13] jpbetz opened #994 "How to cherry pick a fix to multiple release branches?"
After reading [https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md](cherry-picks.md), I'm unclear on how a patch that needs to be cherry-pick to two or more branches should be handled.

For example, say 1.8 is under development and a fix needs to be cherry picked to 1.6 and should also be applied to 1.7.

Are cherry-picks to older branches automatically carried t

[2017-08-29 20:14] jpbetz commented on #994
cc @mml @wojtek-t

[2017-08-29 20:21] caesarxuchao commented on #994
No.

I think that's reasonable.

You'll have to tag each patch release manager to approve each cherrypick, except the release the milestone is set to, because the patch release manager will notice the original PR as it has the milestone and the `cherryp-pick-required` label.

[2017-08-29 20:24] jpbetz commented on #994
Thanks @caesarxuchao.  What do you mean by "tag each patch release manager"?

[2017-08-29 20:30] caesarxuchao commented on #994
I mean cc them :)

[2017-08-29 22:37] ixdy commented on #992
/assign @grodrigues3 @roberthbailey
who are the owners of this AFAIK.

Depending how it's running, an integration with lego (to use LetsEncrypt) or something equivalent might be doable, but I don't really know how it's set up.

[2017-08-30 02:33] guangxuli commented on #993
Any guys provide some feedback?

[2017-08-30 02:36] k82cn commented on #993
please check group dicussion

[2017-08-30 07:25] guangxuli commented on #993
okay, got it, thanks @k82cn

[2017-08-30 21:27] mengqiy opened #1007 "Update doc about how to gen client"
This doc seems to be out of date.
https://github.com/kubernetes/community/blob/master/contributors/devel/generating-clientset.md

/assign @caesarxuchao

[2017-08-30 22:13] mengqiy commented on #1007
/sig api-machinery

[2017-08-31 17:21] mhausenblas commented on #892
From 2017-08-31 K8S Community meeting via @bgrant0607 (persona-related):

- https://github.com/kubernetes/kubernetes/issues/2633
- https://github.com/kubernetes/kubernetes/issues/2839
- https://github.com/kubernetes/kubernetes/issues/7299

[2017-08-31 17:27] bgrant0607 commented on #892
Some personas:

* Contributors to the project -- some kubernetes-owned github org/repo
* Developers building atop the API (e.g., client libraries, CRDs)
* End users deploying and managing applications (application operators and developers)
* Cluster administrators creating and managing clusters
* Decision-makers for a company deciding whether to adopt K8s or not

There are some finer-grain distinc

[2017-08-31 17:33] bgrant0607 commented on #892
User journey doc also has personas: https://docs.google.com/document/d/1EdQ8acmuKGlzZy1agejLqmB7cLpTRBJKC0JYptJ-ylg/edit#

[2017-08-31 23:39] mattfarina commented on #925
@ssg1205 You might want to look into the https://github.com/kubernetes/heapster API. I'm not sure this issue is right for the community repo. Does heapster answer your question? If so, can we close our this issue?

[2017-09-01 09:05] mhausenblas commented on #892
I'm working on the [Kubernetes Contributors Material Inventory](https://docs.google.com/document/d/1h08PSJG_ikCLb-1awGRwvtQU4Xui5X8zSpk6lrxXfwk/) now with an ETA of early w/c 2017-09-04. This inventory aims at listing all the known material and can be used to make an informed decision about the next steps (cross-SIG WG, etc.)

CC: @chenopis

[2017-09-02 14:30] bradtopol commented on #892
Hi @chenopis,
I also was not able to make the 8/29 sig-docs meeting due to business travel.   Was there agreement on us having a weekly meeting for this topic?  How can I get started helping out on this effort?
Thanks,
Brad

[2017-09-02 23:56] chenopis commented on #892
@bradtopol I'm working with Paris, one of the community managers, and we're going to assemble a working group to tackle this. I've put together a list of contacts based on this issue. We will send out some communications next week -- probably after Tuesday.

[2017-09-03 17:41] xiangpengzhao commented on #994
/sig release contributor-experience

[2017-09-03 19:15] #851 closed

[2017-09-05 09:46] mhausenblas commented on #892
@chenopis I've completed the first iteration of the  [Kubernetes Contributors Material Inventory](https://docs.google.com/document/d/1h08PSJG_ikCLb-1awGRwvtQU4Xui5X8zSpk6lrxXfwk/) now for review for the group. Note that I won't be able to join this week's SIG Docs meeting but trying to catch up via mail. Any feedback, please directly in the GDocs …

[2017-09-05 16:31] pwittrock commented on #892
Some contributors may find the following guide useful:

https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/concepts/api_building_overview.md

Uses the apiserver-builder libraries to walk through Kubernetes API conceptual information

[2017-09-06 03:06] lichen2013 commented on #150
This should been fixed by commit  [Clean up contributors/devel docs](https://github.com/kubernetes/community/commit/acd6a3ce2f9306770b3ae8e39c3330f51f538275).

[2017-09-06 03:06] #150 closed

[2017-09-07 09:41] bboreham opened #1025 "Make the cherry-pick process document easier to find"
Currently I have been searching for ten minutes and I cannot find it at all.
#994 takes me to https://github.com/kubernetes/community/issues/cherry-picks.md which is "Not found".
Searching for things like `cherry-pick kubernetes process`, I didn't find anything definitive.

EDIT: Using GitHub search in this repo I found https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-

[2017-09-07 13:10] bboreham commented on #1025
/sig contributor-experience

[2017-09-08 07:58] rvishwakarma825 opened #1032 "Changing the auto-generated kops kubernetes admin password"
Hi All,
I have been using kops to build the kubernetes cluster which is really easy-to-go tool, however i am unable to find a way-out on how to change the admin password that is auto-generated during the cluster creation by kops.

[2017-09-08 13:36] pmorie commented on #892
Those are amazing docs and should definitely be part of a dev guide as well as user-facing guides, :100:

[2017-09-08 17:58] cblecker commented on #1032
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-09-08 17:58] #1032 closed

[2017-09-08 20:08] mattfarina commented on #566
@bgrant0607 how long would you expect feature branches to live for? If they are long lived it could be more difficult to merge the changes in.

I've been a fan of gitflow and github flow having used them quite a bit. The danger has to do with development of long lived branches. Sometimes it's easier to put early features behind flags and iterate on a feature via multiple feature branches.

[2017-09-09 07:04] xiangpengzhao commented on #1025
@bboreham I send a PR trying to fix this. It adds a link in k8s-merge-robot's comment.

When a PR is merged, k8s-merge-robot will comment as below.
[code]

I modify it to be
[code]

`here` has a link to cherry-picks.md, it's shown as [here](https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md).

[2017-09-11 01:56] xiangpengzhao opened #1034 "Add kubernetes to the list of "Great for new contributors" on github"
https://github.com/showcases/great-for-new-contributors

I think kubernetes is such a project :) How about adding it to that list? (Not sure how to, though)

@bgrant0607 @sarahnovotny

[2017-09-11 18:39] bgrant0607 commented on #1034
@xiangpengzhao Interesting idea, but I don't think we need to advertise for more contributors, and we're not yet ready to handle them. I'd at least want the contributor guide to be finished first, and the metrics dashboards so that we can observe the impact, identify bottlenecks, etc.

[2017-09-11 18:39] #1034 closed

[2017-09-11 20:07] xiangpengzhao commented on #1034
@bgrant0607 agree. Thanks! :)

[2017-09-12 12:49] abitrolly commented on #116
https://github.com/kubernetes/community/wiki/1.4-Release-Status - doesn't seem valuable.

[2017-09-12 16:11] bgrant0607 commented on #116
@abitrolly Agreed. Gone

[2017-09-12 16:12] jagosan opened #1047 "Request for new #wg-cloud-provider slack channel"
Please create a new slack channel for the cloud provider working group. #wg-cloud-provider seems appropriate given precedent.

[2017-09-12 16:36] abitrolly commented on #116
@bgrant0607 an issue point could be ticked?

https://github.com/kubernetes/community/wiki/WIP:-Proposed-1.5-Release-Milestones-and-Deadlines could be a template for https://github.com/kubernetes/features/tree/master/release-1.5 but the scope is broader than just features. I [couldn't find](https://github.com/search?q=org%3Akubernetes+release+czar+assigned&type=Code) repository with such release te

[2017-09-12 18:48] countspongebob opened #1052 "SIG docs link to meeting recordings should point to the recorded meeting videos"
https://github.com/kubernetes/community/blob/master/sig-docs/README.md

Has a self-referential link back to the same page.

@kubernetes/sig-docs-maintainers

[2017-09-14 02:32] xiangpengzhao commented on #1047
@jagosan It would be good to also list #wg-cloud-provider in [sig-list.md](https://github.com/kubernetes/community/blob/master/sig-list.md) and create a dir "wg-cloud-provider" in root of this repo and write an introduction doc in the dir for the wg :)

[2017-09-14 02:43] xiangpengzhao commented on #1052
I can only find two sig docs meeting records on YouTube. Seems like there isn't a channel from SIG Docs currently.

https://www.youtube.com/watch?v=8zEqbHwxE_M
https://www.youtube.com/watch?v=UHRbh27y13M

@zacharysarah since you uploaded the above records, mind create a channel and update https://github.com/kubernetes/community/blob/master/sig-docs/README.md ?

[2017-09-14 02:45] xiangpengzhao commented on #1052
@kris-nova #wg-cluster-api also has the self-referential link issue. I think it's because the wg hasn't hold a meeting yet :)

[2017-09-14 06:19] xiangpengzhao opened #1060 "Umbrella Issue: candidates bio"
This issue is just a kindly reminder for folks who haven't submitted their bio :)

- [X] Aaron Crickenberger
- [X] Aaron Schlesinger
- [X] Adnan Abdulhussein
- [X] Alex Pollitt
- [X] Caleb Miles
- [X] Derek Carr
- [X] Doug Davis
- [X] Ihor Dvoretskyi
- [X] Ilya Dmitrichenko
- [X] Jaice Singer DuMars
- [X] Justin Santa Barbara
- [X] Kris Nova
- [X] Matt Farina
- [X] Michael Rubin
- [X] Michelle Noo

[2017-09-14 13:11] justinsb opened #1069 "Upload location for meeting videos"
Is there a doc that describes how to upload videos?  The empty link from sig-aws reminds me that I need to upload our videos!

[2017-09-14 13:11] justinsb commented on #1069
cc @sarahnovotny

[2017-09-14 14:51] mhausenblas commented on #892
@chenopis any recent developments here I might have missed?

[2017-09-14 15:02] xiangpengzhao commented on #1069
@justinsb I think you may want to [Create a new channel](https://support.google.com/youtube/answer/1646861?hl=en) and then [Upload videos](https://support.google.com/youtube/answer/57407?hl=en).

[2017-09-14 17:13] castrojo commented on #1069
https://github.com/kubernetes/community/blob/master/community/K8sYoutubeCollaboration.md

^^ the workflow is there, I'll send you the playlist collab link via mail.

[2017-09-14 17:29] castrojo commented on #1069
Just follow up and close this bug when you've accepted the playlist collaboration link, thanks!

[2017-09-14 18:16] zacharysarah commented on #1052
@xiangpengzhao :wave:

There is! It's just new. :bowtie:

Sure thing! Check out #1071. 🙇

[2017-09-14 18:56] #1052 closed

[2017-09-14 19:30] #918 closed

[2017-09-15 19:27] #1025 closed

[2017-09-17 21:42] kargakis commented on #807
/assign @derekwaynecarr @dchen1107

[2017-09-17 21:44] kargakis commented on #806
https://github.com/kubernetes/community/tree/master/sig-storage

[2017-09-17 21:44] #806 closed

[2017-09-18 11:01] rvishwakarma825 commented on #1032
https://stackoverflow.com/questions/46277648/changing-the-auto-generated-kops-kubernetes-admin-password

Hi cblecker,
I have raised it as per your advise. I will be grateful if you can help me on this.

Regards,
Ritesh

[2017-09-19 04:11] parispittman commented on #892
What is this [README doc](https://github.com/kubernetes/community/tree/master/contributors/devel) missing? This is a combo dev and contributor doc. For @chenopis project, we would be splitting much of this into two personas - the developer or the contributor.

Let's get on a video call and discuss further. ContribX SIG should own the contributor piece to this and I can help facilitate. Here's a [d

[2017-09-19 04:18] pmorie commented on #892
@parispittman

Notables include:

- How to think about the task of extending Kubernetes via the API aggregator
- How to build an API server
- How to correctly design an API resource
- How to write a controller
- The 'why' behind design decisions large and small
- What you should not try to make Kubernetes APIs do
- How to think 'the Kubernetes way'
- Numerous implementation tasks like how to make

[2017-09-19 04:31] erictune commented on #892
On Mon, Sep 18, 2017 at 9:18 PM, Paul Morie <notifications@github.com>
wrote:

It covers how to pick between API Aggregator and CRD.
I will clean up and share shortly.

write a controller.

decide if you should make your API be a Kubernetes API or not.

[2017-09-19 18:04] parispittman commented on #892
@pmorie I'm still tripping between the definition of developer vs contributor; there are grey areas and areas of intersection but both (mostly) different pathways and onboarding. Should we unpack these and keep them somewhere visible? This will be crucial for the user journeys project. Some of the bullets listed could go in dev, contrib, or both. Sounds like @erictune has and/or can create many of

[2017-09-19 23:40] quinton-hoole commented on #1060
I added my bio.  https://github.com/kubernetes/community/pull/1101

[2017-09-20 00:03] xiangpengzhao commented on #1060
Thanks @quinton-hoole!

@kris-nova the vote is already started, can you finish your bio when you get a chance? :)

[2017-09-20 16:26] #834 closed

[2017-09-20 16:29] spzala commented on #892
@parispittman IMHO contributor is a top level term - developer is a contributor but a contributor may or may not be a developer. So the contribute guide should apply to every contributor onboarding but developer guide should be of specific interest to dev. Thanks!

[2017-09-20 16:41] erictune commented on #892
In terms of roles in "Crafting User Journeys" how about these role names:

Kubernetes Contributor. Contributes directly to Kubernetes community
projects with or without coding
 --> Needs a high level guide to how the community works, like SIGs and
roles.

Kubernetes Developer. Contributes code directly to Kubernetes community
projects
--> Needs to read all the docs that Kubernetes Project Contribu

[2017-09-21 06:28] mindprince opened #1109 "Design proposals have lots of broken links to other design proposals"
https://github.com/kubernetes/community/pull/1010 moved design proposals to SIG specific directories but didn't update the internal links from one design proposal to another. So, all proposals that refer to other proposals have broken links now which makes them harder to read.

/cc @grodrigues3 @bgrant0607

[2017-09-21 06:36] bgrant0607 commented on #1109
@mindprince Could you please send a PR to fix them?

[2017-09-21 14:13] php-coder commented on #1109
I'll fix them.

[2017-09-21 14:38] php-coder opened #1117 "Consider automate check for the broken links"
In order to be noticed about broken links quickly I suggest to automate such check. There are some useful tools for that, for example: https://github.com/dkhamsing/awesome_bot and https://www.npmjs.com/package/markdown-link-check

It's possible to run such check on each pull request or daily (see https://docs.travis-ci.com/user/cron-jobs/).

[2017-09-21 14:43] php-coder commented on #1117
/sig docs

[2017-09-21 15:00] xiangpengzhao commented on #1109
@php-coder awesome! @zhangxiaoyu-zidif had similar idea in https://github.com/kubernetes/kubernetes.github.io/pull/5530#issuecomment-331099373

Can the tools you used in your PR automatically check the broken links referenced in other repo?

[2017-09-21 15:01] xiangpengzhao commented on #1117
cc @zhangxiaoyu-zidif

[2017-09-21 15:08] php-coder commented on #1109
I didn't use any tools this time. It was one-liners on shell :)

[2017-09-21 15:12] xiangpengzhao commented on #1109
@php-coder thanks! If you try and find some tools workable, feel free to ping @zhangxiaoyu-zidif :)

[2017-09-21 15:20] duglin commented on #1109
sig svc-cat uses this:  https://github.com/duglin/vlinker

[2017-09-21 15:21] duglin commented on #1117
sig svc-cat uses: https://github.com/duglin/vlinker

[2017-09-21 19:46] #1109 closed

[2017-09-22 15:21] xiangpengzhao opened #1121 "Document how to update SIG-foo READMEs"
We now should modify `sigs.yaml` and then run `make` to update `sig-list.md` and `sig-foo README`. But recently I saw there were several PRs whose authors didn't know this.

https://github.com/kubernetes/community/pull/931#issuecomment-323051821
https://github.com/kubernetes/community/pull/1089#issuecomment-330575222
https://github.com/kubernetes/community/pull/1120#discussion_r140520897

We shoul

[2017-09-22 15:23] xiangpengzhao commented on #1121
cc @kubernetes/sig-contributor-experience-feature-requests

[2017-09-22 15:33] jamiehannaford commented on #1121
@xiangpengzhao Yeah totally agree. Feel free to assign me to this and I'll try to get around to it next week.

We actually have tests in `./hack/verify.sh` that would bubble up these errors, but AFAIK we haven't added the necessary GitHub hooks for them yet.

@cblecker Do you think we can add them?

[2017-09-22 16:02] xiangpengzhao commented on #1121
@jamiehannaford github didn't allow me to assign this to you, but feel free to work on it. Thanks a lot!

[2017-09-24 21:58] xiangpengzhao commented on #1060
All done.
/close

[2017-09-24 21:58] #1060 closed

[2017-10-05 01:12] castrojo commented on #1047
/close

The channel exists so I'm closing this!

[2017-10-05 01:13] #1047 closed

[2017-10-05 01:13] castrojo commented on #1069
@justinsb All set here, can we close this?

[2017-10-06 07:55] nikhita commented on #1117
dupe of https://github.com/kubernetes/community/issues/359

[2017-10-06 17:14] php-coder opened #1159 "api_changes.md: add protobuf definitions to the Frobber struct"
Most of the [examples with the `Frobber` struct](https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#on-compatibility) has only JSON definitions while some of them also have a protobuf definitions. In order to make the doc consistent, all the examples should be written in am uniform way.

[2017-10-06 17:18] php-coder commented on #1159
/sig cluster-api
@kubernetes/sig-cluster-api-feature-requests,

[2017-10-07 01:55] bgrant0607 commented on #566
@mattfarina How long branches would live is TBD. I understand that branches increase the burden on contributors, but that is a necessary tradeoff at this point. I think the alternative is to apply a lot more rigor to every code review, require docs and tests to be written before the code, and other process changes that would also increase the burden on contributors, just in other ways.

I have see

[2017-10-08 15:55] idvoretskyi commented on #566
I'd suggest if feature branch lifecycle will be equal to the feature lifecycle itself - since the early design proposal stage until GA.

[2017-10-10 22:24] ahmetb opened #1172 "SIG list doesn't help with /sig command"
When the k8s-merge-bot tells me to add a /sig label ([example](https://github.com/kubernetes/kubernetes/issues/53683#issuecomment-335624804)), It redirects me to this list: https://github.com/kubernetes/community/blob/master/sig-list.md

But this list is all human-readable names e.g. "Contributor Experience" but I can't use this in /sig command. It's unclear to find out which one is the correct va

[2017-10-11 00:44] liggitt commented on #1172
Oh, the irony

[2017-10-11 19:22] cblecker commented on #1172
(comment to try and trigger the bots)

[2017-10-12 19:01] ssg1205 commented on #925
@mattfarina - Thanks for your response. Let me explain the situation a little bit more in detail. I have a Kubernetes cluster with a number of services. Each service is running only one Pod and one Container. However there are situations when Pods go down and a new Pod spins up. At this point - the respective Service is not able to point to this new Pod and continues to point to the old/unresponsi

[2017-10-12 19:15] cblecker commented on #925
@ssg1205 This is more a support question, than a design question about Kubernetes and it's development. The heapster project tracks metrics within the cluster, but even then, metrics are different than the problem you describe (service needing to reconnect to newly created pod).

You may wish to post to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes), as this is where we han

[2017-10-12 19:15] #925 closed

[2017-10-13 00:06] #1121 closed

[2017-10-13 03:06] #1172 closed

[2017-10-17 00:05] srossross opened #1204 "Can I include CoreV1 in my generated clientset with client-gen?"
I want to include other clients in my clientset. Otherwise I will have to pass around 2 cientsets.  For example Here I have modified the generated code to incude corev1
[code]

[2017-10-17 01:04] srossross commented on #1204
/sig  contributor-experience

[2017-10-17 06:56] porridge opened #1212 "Two documents with too similar titles"
- "Kubernetes Developer Guide": https://github.com/kubernetes/community/blob/master/contributors/devel/README.md
- "Development Guide": https://github.com/kubernetes/community/blob/master/contributors/devel/development.md

*please* retitle one of them

[2017-10-17 07:25] porridge commented on #1212
@kubernetes/sig-docs-bugs

[2017-10-17 07:35] porridge commented on #1212
Actually, @kubernetes/sig-contributor-experience-bugs might be a better
audience.

[2017-10-17 09:35] porridge opened #1213 "Wrong order of workflow steps"
The [workflow instructions](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#workflow) suggest to first run `make verify` and later commit the change.

However `make verify` will stop asking for the commit:

[code]

so it would be more useful to advise to commit first, and later `--amend` as necessary.

[2017-10-17 09:36] porridge commented on #1213
@kubernetes/sig-contributor-experience-bugs

[2017-10-17 14:40] #1069 closed

[2017-10-17 22:28] grodrigues3 commented on #1212
The README.md looks more like a table of contents or a sitemap with links to actual content.

What about calling it a Table of Contents or Index or something of that nature?

[2017-10-17 22:29] grodrigues3 commented on #1213
@kubernetes/sig-testing-bugs do you guys own the make verify script?

[2017-10-18 17:30] castrojo opened #1226 "CONTRIBUTING.md needs an update"
As per the SIG contribex-meeting today, the contributing.md could use a scrub through, check links, and make sure it's pointing to the updated resources. Also make sure contributing.md in kubernetes/kubernetes is updated. I'll be working on this with @parispittman

[2017-10-19 07:12] xiangpengzhao opened #1229 "Move release docs to release repo?"
We have some release associated docs here:
https://github.com/kubernetes/community/tree/master/contributors/devel/release

Do we need to move these docs to https://github.com/kubernetes/release ?

/cc @bgrant0607 @enisoc

[2017-10-19 07:17] xiangpengzhao commented on #1213
for the very `verify-staging-godeps.sh`, ping @deads2k :)

[2017-10-19 15:56] chrislovecnm opened #1234 "Document process for becoming an approver"
It would be really nice to have a section that outlines the process for each different type. We have some details around the approver role, but a section like

### Process to become an Approver

May help with the readability of the document.

I literally skimmed over the single section that says submit a PR.

The content is readable, just a bit more organization into sections would be nice.

[2017-10-19 16:59] cblecker commented on #1213
This isn't a bug in the scripts -- they need things to be committed to check for dependency changes.

This is an issue with the docs needing to be updated.

[2017-10-19 20:03] enisoc commented on #1229
I think the plan is to move these to https://github.com/kubernetes/sig-release

cc @calebamiles

[2017-10-19 21:06] xiangpengzhao commented on #1229
Yeah I see some similar docs here: https://github.com/kubernetes/sig-release/tree/master/ephemera

Are we planning to combine the diff to there and remove these docs in this repo?

[2017-10-20 00:11] bgrant0607 commented on #1229
cc @kubernetes/sig-release-pr-reviews

[2017-10-20 06:40] wangxinxu411 opened #1237 "Add document about how to init --cloud-provider=aws"
Hi Guys.i installed a k8s cluster on aws China.it seems every thing goes fine but when i use ebs volume i got the error of pod ContainerCreating:
Mounting arguments: /var/lib/kubelet/plugins/kubernetes.io/aws-ebs/mounts/vol-08bb02d1e750a3612 /var/lib/kubelet/pods/af9c33b7-b2ea-11e7-8753-06dcce290c54/volumes/kubernetes.io~aws-ebs/couchbase-pv  [bind]
Output: mount: special device /var/lib/kubelet/p

[2017-10-20 06:48] wangxinxu411 commented on #1237
/sig/contributor-experience

[2017-10-20 07:05] wangxinxu411 commented on #1237
/sig aws

[2017-10-20 12:57] idvoretskyi opened #1239 "Steering Committee GitHub team"
As the Steering Committee has been elected, I would propose to update @kubernetes/steering-committee with the new list of members:
@spiffxp
@michelleN
@derekwaynecarr
@timothysc
@pwittrock
@quinton-hoole

Also, we may consider removing existing members from the team.

cc @dankohn

[2017-10-20 13:38] castrojo commented on #1234
cc @parispittman , who is working on this.

[2017-10-20 13:54] bgrant0607 commented on #1239
All 13 members are now in that team.

Don't understand why we'd remove existing members.

[2017-10-20 13:54] #1239 closed

[2017-10-20 13:56] bgrant0607 commented on #992
https://github.com/kubernetes/k8s.io

[2017-10-20 14:04] bgrant0607 commented on #992
Hmm. It's not listed there.

Perhaps @goltermann remembers how it was set up.

[2017-10-20 14:05] bgrant0607 commented on #992
We used:
https://github.com/rauchg/slackin

[2017-10-20 14:37] idvoretskyi commented on #1239
Are they still the Steering Committee members? I'm not against of their participation, just would like to avoid the confusion where unnecessary.

[2017-10-20 14:42] bgrant0607 commented on #1239
Yes.

[2017-10-20 14:43] bgrant0607 commented on #1239
https://github.com/kubernetes/steering/blob/master/charter.md#establishment-of-a-steering-committee

[2017-10-20 14:45] idvoretskyi commented on #1239
@bgrant0607 thanks.

[2017-10-20 17:38] cblecker commented on #1237
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-10-20 17:38] #1237 closed

[2017-10-21 07:48] idvoretskyi commented on #703
big +1

[2017-10-21 13:29] castrojo commented on #703
So what I was thinking was proposing something to the SIG governance document that reads something like "The entry `dir: sig-api-machinery` in sigs.yaml becomes the machine-consumable naming convention that all your other resources inherit."

Then we make sure the slack channels, etc. align up. Renaming the slack channels is easy, we just renamed #sig-scale without problems. Not sure on how disrup

[2017-10-21 17:48] cblecker commented on #703
we can change/update sigs.yaml as needed.. there's actually three lines in there (dir, name, label) that are all similar. Having one as the source of truth, and then changing around the generator as needed would work

[2017-10-23 05:48] alessbn opened #1256 "Complete Install etcd in the Development Guide"
The Development Guide in the [Woorkflow section](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#install-etcd) describes how to install `etcd` as follows:
#### Install etcd
`hack/install-etcd.sh`

I propose to complete the instruction as is described in the [Testing guide](https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md#instal

[2017-10-23 05:57] alessbn commented on #1256
/sig contributor-experience

[2017-10-24 09:45] idvoretskyi commented on #677
@castrojo aren't you working on the similar task now?

[2017-10-24 12:00] xtophs opened #1263 "bad reference to push-federation-images in e2e test"
https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#federation-e2e-tests references build/push-federation-images.sh

I believe this should be federation/develop/push-federation-images.sh

[2017-10-24 12:15] xtophs commented on #1263
/area federation

[2017-10-24 14:28] cblecker commented on #1263
/sig multi-cluster

[2017-10-24 17:09] bgrant0607 commented on #703
Zoom channels should be prefixed with "k8s-"

Other open-source communities are adopting SIGs

[2017-10-24 21:38] spiffxp commented on #703
re: zoom-channels, you only get one vanity url aka "Personal Link" via https://zoom.us/profile

Couldn't use a dash, so now I've got https://zoom.us/my/k8s.sig.testing, WDYT?

Only other URL I've seen is https://zoom.us/my/kubernetescommunity

[2017-10-24 23:22] idvoretskyi commented on #703
Dots look weird, IMO.

On Oct 24, 2017 11:38 PM, "Aaron Crickenberger" <notifications@github.com>
wrote:

[2017-10-25 02:11] bgrant0607 commented on #703
dots are better than no punctuation.

An existing example:
https://zoom.us/my/sig.apps

k8s.sig.testing seems fine.

[2017-10-25 06:50] yuexiao-wang commented on #1263
I have send a PR to fix it.
Thanks @xtophs

[2017-10-26 19:22] #635 closed

[2017-10-27 17:21] spiffxp opened #1286 "document OWNERS options field and no_parent_owners feature"
We changed the code lets change the docs while we're at it https://github.com/kubernetes/test-infra/issues/5197

/assign @mml @BenTheElder

[2017-10-27 17:31] cjwagner commented on #1286
Note that these options won't be used until we switch approval handling to Prow. kubernetes/test-infra#5115

[2017-10-30 16:56] php-coder opened #1297 "api_changes could be improved"
1) Quote from https://github.com/kubernetes/community/blob/a0d81523e35af4a29843e0410d53fe35ef0fde6b/contributors/devel/api_changes.md#generate-code:

But there is no `make generated`:
[code]

2) Also I know that there is a concept of "cohabiting resources", but the documentation doesn't mention it at all.

[2017-10-30 17:04] php-coder commented on #1297
I don't know what SIG is responsible for the API.

[2017-10-30 18:17] cblecker commented on #1297
I think the doc just needs to be updated. The make target is `generated_files`

[2017-10-31 16:28] php-coder commented on #1297
One more point: looks like we should update `defaulting_test.go` when we're adding a new API group.

[2017-11-02 02:40] ms4720 opened #1317 "architecture/principles.md broken link"
in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/principles.md

link: API conventions.

points to: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/devel/api-conventions.md

should point to: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md

I will fix

[2017-11-02 05:35] ms4720 commented on #1317
/sig docs

[2017-11-02 14:54] jdumars commented on #1317
Thanks for your contribution!  This has been merged.

[2017-11-02 14:54] #1317 closed

[2017-11-02 17:27] countspongebob opened #1321 "Scalability guidelines recommend etcd version out of sync with community CI results"
This is a tracking issue for the discussion at the 11/2/17 Sig Scalability meeting. Etcd 3.0.17 is what passed community CI at the 5000 node level. The "3.1.8 minimum" recommendation is out of sync with actual test results.

I will plan to open a PR.

https://github.com/kubernetes/community/blob/master/sig-scalability/provider-configs.md

Question: Should this issue cover release notes, or should

[2017-11-02 18:00] spiffxp opened #1322 "Update sigs.yaml to include SIG GCP contact info"
I had to go searching kubernetes-dev@ to find the kubernetes-sig-gcp mailing list, can we get that contact info into sigs.yaml so that docs are generated and https://github.com/kubernetes/community/tree/master/sig-gcp becomes useful?

@kubernetes/sig-gcp-misc
/kind documentation

[2017-11-02 18:15] abgworrall commented on #1322
/assign

[2017-11-02 18:49] spiffxp commented on #1321
I would suggest a separate issue for for release notes

https://github.com/kubernetes/community/blob/master/contributors/devel/release/scalability-validation.md#concretely-define-test-configuration says "Any non-default config used" but we would greatly appreciate some guidance on how to find the default config if not explicit definition for things like external dependencies.  ie: etcd version, et

[2017-11-02 18:49] timothysc commented on #1321
I think the release notes should call out full versions for sure.

[2017-11-02 20:39] #1322 closed

[2017-11-03 00:22] dpatelapx opened #1326 "Expose Kubernete service externally"
Hi,
We are using an internal load balancer for our Kubernete cluster in Azure and we would like to expose one of the services externally.

How do we achieve that ?

Thanks,
Darshan

[2017-11-03 00:28] dpatelapx commented on #1326
@kubernetes/sig-Azure-proposals

[2017-11-03 00:48] cblecker commented on #1326
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-11-03 00:48] #1326 closed

[2017-11-03 22:18] spiffxp opened #1333 "Update sigs.yaml to include wg-cloud-provider"
There is a https://groups.google.com/forum/#!forum/kubernetes-wg-cloud-provider but I wouldn't know it by looking at this repo.  I had to go searching in kubernetes-dev to uncover [this thread](https://groups.google.com/forum/#!searchin/kubernetes-dev/wg|sort:date/kubernetes-dev/iO0NXYodMsE/RMUkhX6vAAAJ)

Who are the leads for this WG, when does it meet? etc.

[2017-11-03 22:26] spiffxp commented on #1333
/sig-aws
/sig-azure
/sig-openstack
/sig-gcp
Should there be a `wg` label for this?

[2017-11-03 22:27] spiffxp commented on #1333
/sig aws
/sig azure
/sig openstack
/sig gcp
Should there be a `wg` label for this?

[2017-11-04 00:06] guineveresaenger opened #1334 "Documentation outdated and confusing"
Many of the docs in contributors/devel are outdated and/or confusing. They should be revised, pruned, and updated.
It is unclear on whether the kubernetes website or these docs are the source of truth. They do not seem to be the same.
Some of these docs are quite relevant and recent, such as development.md, others have not been updated in years.

Proposal:
Remove all docs with conten that can also

[2017-11-04 18:10] wlan0 commented on #1333
/assign wlan0 jagosan

@spiffxp Thanks for raising this issue. I'm co-leading this with @jagosan

FYI, We meet every Wednesday at 10am PT
Video call link: https://zoom.us/my/cloudprovider
Meeting notes: https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw
Mailing list: https://groups.google.com/forum/#!forum/kubernetes-wg-cloud-provider

We have a area label

/area cloud

[2017-11-06 12:45] xiangpengzhao commented on #1334
Some of the outdated docs seems due to the munger/prow plugins changed but we forgot to change the related docs.

[2017-11-06 12:45] xiangpengzhao commented on #1334
/cc cjwagner

[2017-11-06 12:47] xiangpengzhao commented on #1334
/cc @cjwagner

[2017-11-06 16:26] garethr commented on #841
This just hit me this week for SIG Apps and for the App Def working group. I'll use SIG Apps as an example but I don't think this the only one.

The SIG page on this site uses UTC, as do all of the SIG pages I had a quick look at: https://github.com/kubernetes/community/tree/master/sig-apps

However the agenda and minutes at https://docs.google.com/document/d/1LZLBGW2wRDwAfdBNHJjFfk9CFoyZPcIYGWU7R

[2017-11-06 19:09] cjwagner commented on #1334
Most of the docs that reference mungegithub seem up to date to me besides https://github.com/kubernetes/community/blob/master/contributors/devel/owners.md which I'm waiting to update once Prow's approve plugin completely replaces the approval-handler munger.
@xiangpengzhao can you link me to the docs you were reffering to?

[2017-11-06 19:17] cblecker commented on #1334
@guineveresaenger The overall direction for these docs will be creating a "contributor guide" that will live under kubernetes.io. @parispittman has been spearheading this, and we've discussed it at a couple contribex meetings. If you'd like to provide input or participate, information is available here: https://github.com/kubernetes/community/tree/master/sig-contributor-experience

If there are sp

[2017-11-06 19:23] cblecker commented on #841
Yeah, this is confusing. Unless anyone has any objections, I'd be fine with moving this to use PST as the base time zone. I'm not sure what the best way to represent DST is though.. we'd have to clarify with the sigs if they'll be meeting at the same time or if it will shift for Daylight Savings. My guess is the latter.

cc: @kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort

[2017-11-06 19:32] lavalamp commented on #841
PDT = daylight adjusted PST

[2017-11-06 19:40] guineveresaenger commented on #1334
@cblecker thank you for mentioning this here - I have in fact been in touch with Paris on this. I'm rather new to the community and very interested in making contributing less bumpy for new folks. :)

[2017-11-06 19:47] cblecker commented on #841
Right, but there are currently no locations that are in PDT (UTC-7). Everything has transitioned over to PST (UTC-8). There are some locations that use [different dates for transitioning](https://en.wikipedia.org/wiki/Pacific_Time_Zone#Daylight_time), so it's possible to have both PST and PDT time zones on the same day.

[2017-11-06 20:03] cblecker commented on #1334
Fantastic! If you're in touch with Paris, then you're in good hands. We're glad to have you on board!

As we're tracking this in contribex as a goal, I'm going to close this general issue. However if there are specific docs we know are out of date, please feel free to open an issue for them (preferably one issue per doc or type of doc.. that way we can find the right owner and assign it to them fo

[2017-11-06 20:03] #1334 closed

[2017-11-06 20:46] lavalamp commented on #841
How about we post both the local time, and summer/winter UTC times in the documentation?

[2017-11-06 21:30] jbeda commented on #841
I'm fixing this now by letting SIGs specify time in whatever time zone they want.

[2017-11-06 21:32] jbeda commented on #841
I just did cluster lifecycle but could update the rest to be the pacific equivalent and then let people fix it if they *don't* want to flow with DST.

God, I hate DST. And Time Zones.

[2017-11-06 21:42] jbeda commented on #841
If someone here wants to jump on to #1350 and give it a LGTM, that'd be great.

[2017-11-06 22:14] #841 closed

[2017-11-07 02:40] xiangpengzhao commented on #1334
@xiangpengzhao can you link me to the docs you were reffering to?

@cjwagner I updated some docs in https://github.com/kubernetes/community/pull/1016. I guess I should use past tense in my last comment :)

[2017-11-08 18:12] erictune commented on #892
I've added docs about ways to extend Kubernetes.
https://github.com/kubernetes/website/pull/6224

And expanded docs on how to pick between CRD and AA.
https://github.com/kubernetes/website/pull/6238

[2017-11-08 23:37] parispittman commented on #892
FYI - [#6102](https://github.com/kubernetes/website/issues/6102)(issue against the website repo) has been created to migrate a contributor guide there under the persona of 'contributor', an updated dev guide will be nested in there. The raw doc that we are working from is located inside of the issue.

[2017-11-09 21:46] #1333 closed

[2017-11-13 13:15] purpuregecko opened #1391 "Broken links to CRI."
There are broken links in architecture.md and apparmor.md to Container Runtime Interface.

There are links to container-runtime-interface-v1.md
Should points to /contributors/devel/container-runtime-interface.md

[2017-11-13 13:20] purpuregecko commented on #1391
/sig docs

[2017-11-13 17:43] bgrant0607 commented on #432
Initial certification program has launched!

[2017-11-13 17:43] #432 closed

[2017-11-13 19:05] cblecker commented on #1391
fixed by #1392

[2017-11-13 19:05] #1391 closed

[2017-11-13 23:25] WilliamDenniss commented on #432
ICYMI: https://www.cncf.io/announcement/2017/11/13/cloud-native-computing-foundation-launches-certified-kubernetes-program-32-conformant-distributions-platforms/

[2017-11-15 19:35] castrojo commented on #1212
cc @guineveresaenger we need to take this into account when we land the contributor guide.

[2017-11-15 21:33] mattfarina opened #1407 "Document List of Organizations"
I was attempting to look for a list of the GitHub organizations that are part of Kubernetes and couldn't find any form list. This caught my attention because of CLA checking and formalities. From the Prow configuration I captured:

* kubernetes
* kubernetes-incubator
* kubernetes-security

There are other organizations that exist including, but not limited to:

* kubernetes-ui
* kubernetes-client

[2017-11-15 21:36] cblecker commented on #1407
cc: @kubernetes/steering-committee

[2017-11-15 22:20] dankohn commented on #1407
For [DevStats](devstats.k8s.io), we do the following.

For data starting from 2015-01-01 it is:
https://github.com/cncf/devstats/blob/master/projects.yaml
Which lists organizations: "kubernetes,kubernetes-client,kubernetes-incubator,kubernetes-helm"
Before 2015-01-01 this is a special config:
https://github.com/cncf/devstats/blob/master/kubernetes/kubernetes.sh
It lists single repos (not orgs): "G

[2017-11-16 07:27] bgrant0607 commented on #952
Major architectural efforts underway (WIP):
https://docs.google.com/document/d/1ti1Qjt7DKoRThdXWQxHmeRVqjeseOJgNIPBX_H0Sf0Q/edit#heading=h.5e8qjdcxuxuj

[2017-11-16 15:10] bgrant0607 commented on #1407
kubernetes-ui, kubernetes-up-and-running, kubernetes-digitalocean-terraform, and kubernetes-contrib are not ours.

[2017-11-16 19:41] chrislovecnm opened #1410 "Add documentation to assist with First Time Contributors troubleshooting CLA bot problems"
A lot of first-time contributors have this experience:

1. push a PR
1. the bot adds the note they have not signed the CLA
1. they go sign the CLA
1. they next scratch there head on why the bot has not updated there PR

It would be helpful to link a doc on how to troubleshoot an issue with the CLA bot.

1. you have to have a matching email address in your git commit.  Many people use different ema

[2017-11-16 19:45] tpepper commented on #1410
s/have to have/must have/

Also suggest calling out the specific config fixing commands when you're in a k8s repository, eg:
* git config user.name "Mona Lisa"
* git config user.email "mlisa@example.com"
(or for all your repos by adding also "--global" on those command lines).

[2017-11-16 23:28] guineveresaenger opened #1413 "Umbrella issue for contributor's guide"
As per https://github.com/kubernetes/website/issues/6102 we need a contributor guide that is easily found, complete, and organized logically.

In https://github.com/kubernetes/community/pull/1409, a /guide folder is being created in k/community/contributors, and its README is set up to be the central starting point for contributing.

This issue is an umbrella tracking issue. Below is a list of che

[2017-11-16 23:32] guineveresaenger commented on #892
UPDATE - the [issue](https://github.com/kubernetes/website/issues/6102) Paris mentioned in the previous commit now has a starting point and umbrella issue for a contributor's guide linked to it in [comments](https://github.com/kubernetes/website/issues/6102#issuecomment-345005377).

[2017-11-16 23:32] guineveresaenger commented on #1413
/sig-contribex

[2017-11-16 23:45] guineveresaenger commented on #1413
/sig contribex

[2017-11-18 23:40] chrislovecnm opened #1414 "code-of-conduct.md"
We seem to reference the code-of-conduct but we do not actually have a file in here.  https://github.com/kubernetes/kubernetes/blob/master/code-of-conduct.md

/assign @sarahnovotny

Any reason for that?  It is part of the base template for Kubernetes GitHub projects.

[2017-11-20 18:06] spiffxp commented on #703
Fun (annoying) facts discovered while trying to reconcile for sig-contributor-experience
- renaming a google group will break anything that attempts to use the old name
- slack channel names are limited to 21 characters (sig-contributor-experience is 27)

So we're back to kuberenetes-wg-contribex and #sig-contribex for now

[2017-11-22 16:04] xiangpengzhao commented on #1414
Seems like all of the CNCF projects reference to CNCF Code of Conduct currently.
For example:
https://github.com/containernetworking/cni/blob/master/CODE-OF-CONDUCT.md
https://github.com/prometheus/prombench/blob/master/code-of-conduct.md
https://github.com/fluent/fluentd/blob/master/code-of-conduct.md

xref:
https://github.com/cncf/foundation/issues/2
https://github.com/kubernetes/kubernetes/pull

[2017-11-22 16:09] xiangpengzhao commented on #1413
@guineveresaenger this is awesome!

BTW, I help modify the markdown format of the issue body to make the task list have checkbox. It might be more readable :)

[2017-11-26 20:05] #677 closed

[2017-11-26 20:05] #702 closed

[2017-11-27 05:08] #993 closed

[2017-11-30 21:13] chrislovecnm commented on #1414
/assign @parispittman

Does someone want me to PR?  @dankohn who is the legal guru that lays this stuff out?

[2017-12-01 02:59] xiangpengzhao commented on #1414
I'm not sure, but I guess @dankohn has some more contexts.

[2017-12-01 04:11] dankohn commented on #1414
I believe this is working as designed. We want the K8s CoC to cite by reference the CNCF CoC, just as the other 13 CNCF-hosted projects do. That way, if and when we revise the CoC in the future, all CNCF projects will automatically be updated.

Of course, we won’t change the CoC without first getting buy-in from the maintainers of all of the projects.

Can we close the issue?

[2017-12-01 04:19] chrislovecnm commented on #1414
we do not have the file @dankohn in this repo :)

[2017-12-01 04:28] cblecker commented on #1414
You mean adding it to the kubernetes/community repo itself?

[2017-12-01 04:32] chrislovecnm commented on #1414
correct we do not have the file in this repo, and we should ...

[2017-12-01 04:32] chrislovecnm commented on #1414
Let me PR it and we can discuss on the PR ... 😆

[2017-12-01 04:36] xiangpengzhao commented on #1414
Oh, sorry for my incorrect wording. I didn't mean this :)

@dankohn I'm so sorry about this.

[2017-12-01 04:37] chrislovecnm commented on #1414
Hey my English was horrible on that comment, I am surprised anyone understood that comment

[2017-12-01 04:38] chrislovecnm commented on #1414
@xiangpengzhao see https://github.com/kubernetes/community/pull/1457

[2017-12-01 04:41] xiangpengzhao commented on #1414
@chrislovecnm haha, I believe I misunderstood around :)

[2017-12-01 08:24] #1414 closed

[2017-12-01 21:44] #1263 closed

[2017-12-02 01:43] #1226 closed

[2017-12-05 14:00] lenhattan86 opened #1462 "How to see the kube-scheduler log?"
I also want to see the logs of kube-scheduler go files. I tried different methods like

- using kubeclt logs: this show the event logs of kube-scheduler but not all the logs in kube-scheduler.
- using docker logs [kube-scheduler container id]: it does not have any log.
- journalctl -u kubelet: only show the log of kubelet.

All of these do not work. Please let me know if you guys found the way to

[2017-12-05 17:44] cblecker commented on #1462
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-12-05 17:44] #1462 closed

[2017-12-06 01:55] tpepper commented on #1413
@guineveresaenger in the issue description the "pages to update" section has two links  .../contributing/guide/ and I'm wondering if it should be .../contributors/guide as that's what's referenced earlier in the text and those pages do exist via #1409

[2017-12-08 18:31] castrojo opened #1481 "Fix notes formatting for the monolith contributor summit session"
See https://github.com/kubernetes/community/pull/1480

[2017-12-08 18:34] castrojo opened #1482 "Add client library notes to contributor summit notes"
Need to integrate: https://gist.github.com/bboreham/baf2e6ec3d81e95b52086675376192cb

[2017-12-09 17:38] #1481 closed

[2017-12-11 09:48] traghave opened #1486 "Support namespace listing based on kubernetes rolebindings or clusterrolebindings"
Whenever I perform 'kubectl get namespace'
I either get all the namespacelist or none based based on the resource type "namespaces" added to the kubernetes roles.

Is there any way where I'll get the authorized namespace list when any user does "kubectl get namespaces"

[2017-12-11 11:12] traghave commented on #1486
@kubernetes/sig-contributor-experience-feature-requests

[2017-12-11 11:28] traghave commented on #1486
Scenario 1:

When I try with below yaml

++++++++++++++++++++++++++++++++++++++++++++++++++
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: namespaceList
rules:
- apiGroups: [""] # "" indicates the core API group
  resourceNames: ["default", "kube-system", "kube-public"]
  resources: ["namespaces"]
  verbs: ["get", "watch", "list"]

++++++++++++++++++++++++++++++++++++

[2017-12-11 11:31] traghave commented on #1486
but when i try to set the clusterrolebiding with namespace resource, it will list all namespaces but not just the namespaces the user is authorized to.

+++++++++++++++++++++++++++
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: namespaceListBinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: namespaceList
subjects:
- apiGroup: rba

[2017-12-11 14:33] liggitt commented on #1486
What you are describing is acl-filtered list, which is desired, but not able to be implemented without breaking watch semantics. If the content of a list call depends on two dimensions (actual resources present AND current state of ACL), a single resourceVersion will not represent the results correctly.

Additionally, if the API server does not have a way to know when ACLs have changed, it does no

[2017-12-11 14:33] #1486 closed

[2017-12-12 18:52] castrojo commented on #1482
This was included already.

[2017-12-12 18:52] #1482 closed

[2017-12-13 21:02] nydalal opened #1502 "kube-controller constantly running into garbage collection for non-existing resources"
k8s version - 1.5.2

kube-controller constantly running into garbage collection for non-existing resources. It prevents deployment of new pods in cluster and all pods remain in "Pending" state.

pod and node throws error about Affinity, which is also mis-leading.
Warning   FailedScheduling   {default-scheduler }   pod (kube-state-metrics-2632609649-9qbk0) failed to fit in any node

E1213 19:52:59.

[2017-12-13 21:03] liggitt commented on #1502
thanks for the report. please open this as a bug against https://github.com/kubernetes/kubernetes/issues

[2017-12-13 21:03] #1502 closed

[2017-12-14 11:47] arunakk opened #1504 "Failed to download OpenAPI (the server could not find the requested resource), falling back to swagger"
Hi,

I am  getting below exception while executing kubectl create -f command

 Failed to download OpenAPI (the server could not find the requested resource), falling back to swagger

We are using Kubernetes cluster and version is 1.8.1
OS version : LINUX RHEL 3.10

Please help me how can i resolved it .
Regards,
Aruna.K

[2017-12-14 15:48] idvoretskyi commented on #1413
cc @castrojo @parispittman

[2017-12-14 17:27] cblecker commented on #1504
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-12-14 17:27] #1504 closed

[2017-12-14 19:11] anubhakushwaha commented on #1413
@guineveresaenger I am new to this community and was really interested in helping with some tasks. For the beginning, I have added the link to _community/contributors/guide/README.md_ in _kubernetes/kubernetes/contributing.md_ , let me know if something else was desired and I will be happy to work upon the changes. Thank you.

[2017-12-15 00:29] spiffxp opened #1511 "Remove direct write access to this repo"
We now have sufficient automation in place to address most if not all of the use cases that would require direct write access to this repo:
- https://community.submit-queue.k8s.io: we allow people without direct write access to merge via /lgtm, /approve, and OWNERS files
- https://go.k8s.io/bot-commands: we allow people who are org members to assign, triage, and manage issues and their labels via

[2017-12-15 01:51] tpepper commented on #923
I proposed some of this "trivial PR" scrubbing as a chop wood, carry water entry point for new reviewers going through the new https://git.k8s.io/community/mentoring/group-mentoring.md mentor program and it's even listed in https://github.com/kubernetes/community/blob/master/mentoring/group-mentee-guide.md

Perhaps @parispittman can at the end of the first cohort's test period get the participants

[2017-12-15 01:59] spiffxp commented on #116
removed https://github.com/kubernetes/community/wiki/WIP:-Proposed-1.5-Release-Milestones-and-Deadlines (we have https://github.com/kubernetes/features/blob/master/release-1.5/release-1.5.md)

[2017-12-15 02:07] idvoretskyi commented on #1511
Sounds good to me.

cc @castrojo @parispittman

[2017-12-15 18:42] castrojo opened #1514 ""How to do reviews and PRs" document needed"
Part of  #1413

We have https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#best-practices-for-faster-reviews for the person submitting the reviews, but we are missing a document for people doing reviews. We need to collate some tips and tricks from reviewers from across the project.

[2017-12-15 18:43] castrojo commented on #1514
/sig contrib-ex

[2017-12-15 18:46] castrojo opened #1515 "CONTRIBUTING.md needs to be rewritten and scoped"
Part of #1413

As the new guide comes together k/community/CONTRIBUTING.md needs to be rescoped to be about the community repo and specifically contributing to it, what it's for, etc. instead of being about kubernetes/kubernetes.

[2017-12-15 18:46] castrojo commented on #1514
/sig contributor-experience

[2017-12-15 18:48] castrojo opened #1516 "README.md needs to be rescoped and rewritten"
Part of #1413

There will now be duplicated content in the README and the contributor guide, we need to decide what's appropriate to put there, what cross-linking is appropriate, and what we should cut out.

/sig contributor-experience

[2017-12-15 19:24] guineveresaenger commented on #1515
/sig contributor-experience

[2017-12-15 19:53] chrislovecnm commented on #1514
/assign @parispittman
/assign

[2017-12-15 19:56] chrislovecnm commented on #1514
/cc @thockin

We talked about this Tim @ kubecon :)  Dragging you into it kicking a screaming.  NEED your help!!

/cc @justinsb

Since you are opinionated on PR reviews, need your help.

[2017-12-15 19:59] tpepper commented on #1514
I like to use the docs like https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#best-practices-for-faster-reviews as a starting point for reviewers.  The reviewer and reviewee docs should be symmetric.

A lot of the existing doc is around mechanical "how" parts.  For the philosophical parts I like to refer people to http://sage.thesharps.us/2014/09/01/the-gentle

[2017-12-15 20:01] chrislovecnm commented on #1514
@parispittman mentioned this on slack https://twitter.com/math_rachel/status/939968380202762240

[2017-12-16 01:42] mtaufen commented on #1511
+1

On Thu, Dec 14, 2017 at 6:07 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2017-12-16 18:29] cblecker opened #1522 "Create 'help wanted' guidelines page"
The guidelines for a 'help wanted' issue need to be documented. They are outlined in Brian's comment here: https://github.com/kubernetes/community/issues/860#issuecomment-321861134

We should create a document at `contributors/devel/help-wanted.md` outlining these points.

[2017-12-16 19:05] nikhita commented on #1522
The irony of this issue having the `help wanted` label :)

[2017-12-17 00:21] spiffxp commented on #1286
https://github.com/kubernetes/test-infra/pull/5571 turned this feature on for k/k

https://github.com/kubernetes/community/blob/master/contributors/devel/owners.md is due for a refresh, it'd be helpful to document the destination state we're migrating to (prow handles things, not mungegithub, and there are some new owners features), and link in issues that describe in-progress migration

[2017-12-18 17:48] spiffxp commented on #116
- Edited https://github.com/kubernetes/community/wiki to refer to this issue
- Release managers have been moved https://github.com/kubernetes/sig-release/pull/42

[2017-12-18 17:55] spiffxp opened #1527 "Refer to kubernetes/community as authoritative source for code of conduct"
There are miscellaneous copies of a code-of-conduct.md file scattered across repos in kubernetes and kubernetes-incubator.  I'd like to change them to a redirect to the code-of-conduct.md file living in this repo as the authoritative source.

[code]

See https://github.com/kubernetes/kubernetes-template-project/pull/13 for an example of what I'd like to use

There is also the question of whether r

[2017-12-18 18:04] jbeda commented on #1527
SGTM

[2017-12-18 18:05] cblecker commented on #1527
I support this 👍

[2017-12-18 21:38] guineveresaenger commented on #1413
Somebody please reopen this? I’m on mobile rn @castrojo

[2017-12-18 21:39] cblecker commented on #1413
@guineveresaenger already done :)

[2017-12-18 22:43] spiffxp commented on #116
- Replaced https://github.com/kubernetes/community/wiki/WIP:-Contributor-Guide:-kubectl-new-contributor-onboarding-guide with a link to https://github.com/kubernetes/community/blob/master/sig-cli/CONTRIBUTING.md
- Making an executive decision to delete https://github.com/kubernetes/community/wiki/Release-Guide:-Release-Czar (this can't possibly be up to date; we don't have an adequate replacement

[2017-12-18 22:49] jdumars commented on #116
A re-write of the release process + roles is somewhere in my backlog.  What's out there does not reflect reality.

[2017-12-18 23:21] spiffxp commented on #116
I'm making an executive "I've been on multiple release teams" call and outright deleting some content that seems harmfully incomplete or out of date.  These are not going to be source for a rewrite of the release docs we're forming up over in https://git.k8s.io/sig-release
- deleted https://github.com/kubernetes/community/wiki/Life-of-a-Kubernetes-Release
- deleted https://github.com/kubernetes/co

[2017-12-19 01:18] #1410 closed

[2017-12-19 02:02] #860 closed

[2017-12-19 02:03] cblecker commented on #1522
/remove-help

[2017-12-19 03:46] cblecker commented on #1522
/remove-help

[2017-12-19 03:47] cblecker commented on #1522
/help

[2017-12-19 11:39] idvoretskyi commented on #116
@spiffxp +1.

PS. Hope you've already recharged your laptop :)

[2017-12-19 13:58] abitrolly commented on #116
Who can update checkbox in the top post?

[2017-12-19 18:02] mattfarina commented on #116
cc: @kow3ns

[2017-12-20 04:21] chrislovecnm commented on #1522
The problem is they are not help wanted issues. We need good first contribution label which I think we have. Is a title change for this issue appropriate?

[2017-12-20 18:43] tpepper opened #1537 "add debug or FAQ section to testing.md"
The test landscape is complex for new comers.  As @spiffxp described at KubeCon in the sig-testing meetup there is a subset of tests that is highly likely to fail.  A simple PR that hits these types of failures can turn away new contributors, or cause them to take actions that increase infrastructure load (eg: re-run the coin-flip equivalent test until a heads is achieved or periodically rebase ho

[2017-12-20 18:43] tpepper commented on #1537
/sig testing

[2017-12-20 18:43] tpepper commented on #1537
/sig contribex

[2017-12-20 18:44] tpepper commented on #1537
/sig contributor-experience

[2017-12-20 18:45] tpepper commented on #1537
@guineveresaenger as discussed at KubeCon:  If this makes sense and is put in place, probably a good link to hit in the new contrib guide.

[2017-12-20 19:17] spiffxp commented on #1527
PR's have been opened for all kubernetes and kubernetes-incubator repos.  I also went ahead and did this for all kubernetes-client repos.

Do all of these repos represent the complete set of projects that are covered by our code of conduct, or have I left something out?

[2017-12-20 19:35] spiffxp commented on #1527
@kubernetes/kubernetes-staging-publish-cops have I done this correctly for repos that are published from kubernetes/kubernetes/staging?  I assumed I should PR directly into the repos that are published from there

eg: I PR'ed into https://github.com/kubernetes/client-go since its root contains more files than live in  https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-g

[2017-12-20 19:52] sttts commented on #1527
Into k/k's staging/ please, not into the single repos.

[2017-12-20 21:42] spiffxp commented on #1511
/close
teams have been removed as advertised

---
<img width="741" alt="screen shot 2017-12-20 at 4 40 59 pm" src="https://user-images.githubusercontent.com/49258/34230036-9b42d9c0-e5a4-11e7-931e-1c1630d1af41.png">

[2017-12-20 21:42] #1511 closed

[2017-12-20 21:45] liggitt commented on #1511
/force close

[2017-12-20 22:05] cblecker commented on #1522
Fixed in #1532

[2017-12-20 22:05] #1522 closed

[2017-12-20 22:56] spiffxp commented on #1527
Opened PR's against kubernetes-helm/* repos as well per https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/p1mquHULobQ

[2017-12-21 01:20] jpoley opened #1538 "incorrect wording"
you have it listed as on premise.  a premise is a thought or idea, what is meant is premises.  not exactly the same thing, and this mistake is very common.

https://github.com/kubernetes/community/blob/master/sig-list.md#master-sig-list

[2017-12-21 01:37] cblecker commented on #1538
@kubernetes/sig-onprem-misc

[2017-12-21 02:27] cblecker commented on #1527
56 open, 10 closed without merge, 21 merged, 87 total. Maybe they'll all be done by 1.10? ;)

[2017-12-21 21:27] spiffxp commented on #116
https://github.com/kubernetes/community/pull/1540 moves the last of the existing wiki pages out into `migrated-from-wiki` subdirs in each responsible sig's folder.  I suspect the content in these wiki pages is also obsolete or out of date, but I'll leave that for each SIG to decide.

Once that PR merges, I propose we remove the remaining pages from the wiki, and turn it off.

[2017-12-21 21:28] spiffxp commented on #116
https://github.com/kubernetes/community/issues/1511 has restricted the set of people who can actually edit this wiki to a very small list of people

[2017-12-21 21:36] spiffxp commented on #116
I've asked kubernetes-dev https://groups.google.com/forum/#!topic/kubernetes-dev/kTFl4Gl7YFw

[2017-12-22 01:18] cblecker commented on #116
I support removing/disabling the wiki completely. Can we do this for k/k too? https://github.com/kubernetes/kubernetes/wiki

[2017-12-22 21:43] philips commented on #116
I don't have time to work on this. Looks like @spiffxp has point now?

[2017-12-22 21:58] spiffxp commented on #116
/assign
sure I'll take point, all that remains to be done for this wiki is to merge kubernetes/release#492 and then disable the wiki

I'd be happy to tackle something similar for kubernetes/kubernetes but I don't have the same access rights there.

[2018-01-02 01:15] spiffxp commented on #116
/close
The wiki is now disabled

[2018-01-02 01:15] #116 closed

[2018-01-02 01:49] spiffxp commented on #1407
I've been using https://github.com/kubernetes/community/issues/1527 to try and cover all repos that are part of this project.  Thus far I have opened PR's for all repos in:
- [kubernetes](https://github.com/kubernetes)
- [kubernetes-client](https://github.com/kubernetes-client)
- [kubernetes-helm](https://github.com/kubernetes-helm)
- [kubernetes-incubator](https://github.com/kubernetes-incubator)

[2018-01-02 02:14] spiffxp commented on #1407
There are also orgs for repos/subprojects I believe to be part of kubernetes that don't have "kubernetes-" in their name, eg:
- https://github.com/helm vs. https://github.com/kubernetes-helm
- https://github.com/kops vs. https://github.com/kubernetes/kops

[2018-01-02 16:10] mattfarina commented on #1407
For reference, Helm started out in the helm org. This is prior to the existence of the CNCF. Once helm became popular it was invited to merge with deployment manager in a new helm v2 that lived in the Kubernetes org. After that the CNCF was founded.

The helm org comes from the history of helm.

As far as I know, everything in the helm org aside from helm-www is obselete. helm-www is used to gener

[2018-01-02 19:19] spiffxp commented on #1527
Opened PR's against all repos in kubernetes-ui and kubernetes-csi

[2018-01-02 22:09] cblecker commented on #857
/remove-lifecycle stale
/help

[2018-01-03 06:16] nikhita commented on #691
/remove-lifecycle stale

[2018-01-03 06:18] nikhita commented on #651
/remove-lifecycle stale

[2018-01-03 06:18] nikhita commented on #651
This is done 🎉

[2018-01-03 17:33] nikhita commented on #874
/lifecycle frozen

[2018-01-03 17:34] nikhita commented on #874
/remove-lifecycle stale

[2018-01-03 18:03] cblecker commented on #484
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 17:25] ericchiang commented on #902
/close

https://github.com/kubernetes/kubernetes/issues/new is a better place for support questions if this is still an issue.

[2018-01-04 17:25] #902 closed

[2018-01-05 04:07] spiffxp opened #1565 "Remove "outside collaborator" role in favor of lowering requirements for "member" role"
ref: https://github.com/kubernetes/community/pull/1330#issuecomment-355467738

The additional role makes the contributor ladder more complicated.  It's also just as much if not more effort to administer the role, and more difficult to audit across repos and orgs.

The only real benefit the additional role adds is constraining people's ability to use certain commands to specific repos instead of al

[2018-01-05 13:58] idvoretskyi commented on #1565
This makes sense to me.

[2018-01-05 20:10] chrislovecnm opened #1568 "CVE security advisory template"
Do we have one? Would be great to have one since I need to write another advisory. If not I can PR one.

/cc @jessfraz @cjcullen @castrojo

Btw which sig is this?

[2018-01-05 20:12] cblecker commented on #1568
cc PST: @philips @jessfraz @cjcullen @tallclair @liggitt

[2018-01-05 20:15] chrislovecnm commented on #1568
This is why I am writing and advisory https://github.com/kubernetes/kops/issues/4188

This is what we did last time https://github.com/kubernetes/kops/blob/master/docs/advisories/cve_2017_14491.md

[2018-01-06 02:04] chrislovecnm commented on #1568
@spiffxp I do not think either of those own it ... but sure

[2018-01-06 02:06] jessfraz commented on #1568
We usually just ping everyone, but a template seems like a good idea to me :) thanks

[2018-01-06 07:35] chrislovecnm commented on #1407
@spiffxp I have not idea who owns https://github.com/kops  org ... @justinsb any idea?

[2018-01-07 16:01] chrislovecnm commented on #1568
Looking at the different templates https://security-tracker.debian.org/tracker/CVE-2017-5715 seem really clean

[2018-01-07 18:52] bigmyx opened #1573 "Cannot assign a custom IP with internal LB type service"
@kubernetes/sig-azure-bugs

Hello,

It seems like Azure K8s does not create a custom custom ingress IP address as defined:

[code]

Even though, I specified  `10.0.73.253` as ingress IP, other (`10.0.73.204`) IP is assigned:

[code]

Additional info:

The cluster is connected to custom VNET/Subnet.

[code]

Can anyone please advise?

[2018-01-07 20:53] cblecker commented on #1573
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-01-07 20:53] #1573 closed

[2018-01-08 18:43] spiffxp opened #1579 "Propose replacing github label priority/failing-test with kind/failing-test"
As CI Signal Lead for 1.9 I often found myself filing issues with `priority/critical-urgent` `priority/failing-test`.  Having two priorities assigned to an issue seems... weird.  I think the idea was to encourage folks to prioritize failing tests as the most important thing.  I'm not sure how well that has worked in practice.

It would make more sense to me if we called it `kind/failing-test`, to

[2018-01-08 20:57] tpepper commented on #1579
While one might argue simply that all tests must pass and any failure is gating, failing test and criticality are orthogonal to me here especially in light of your discussion in the SIG-testing session at KubeCon: if there are highly fail-likely scenarios that go unaddressed for a long time, those will dilute or confuse critical prioritization.  The proposal makes sense.

Do you see kind/flake as

[2018-01-08 23:11] spiffxp commented on #1579
Personally I would probably use `kind/failing-test` when the test has failed N runs in a row, vs. `kind/flake` when the test is flipping back and forth between passing/failing.  I had some ~sleep~ human-induced hysteresis when it came to opening issues against test failures.

[2018-01-09 01:30] G-Harmon commented on #567
/cc me.

[2018-01-09 04:43] bgrant0607 commented on #1407
On Mon, Jan 1, 2018 at 5:49 PM, Aaron Crickenberger <
notifications@github.com> wrote:

How did you find these OOC?

Don't know.

Also squatting on:
kubernetes-test

—

[2018-01-09 16:32] idvoretskyi commented on #1407
/assign

[2018-01-09 16:53] zcahana opened #1582 "API Machinery SLIs/SLOs - Watch latency"
[discussion moved from [google docs](https://docs.google.com/document/d/1Q5qxdeBPgTTIXZxdsFILg7kgqWhvOwY8uROEf0j5YBw/edit?ts=5a54e869#heading=h.8ftey72as5p) regarding the [API Machinery SLIs/SLOs for watch latency](https://github.com/kubernetes/community/blob/master/sig-scalability/slis/apimachinery_slis.md#watch-latency)]

@zcahana:

@wojtek-t:

@zcahana:

Ideally we'd start measuring when the cl

[2018-01-09 16:55] zcahana commented on #1582
I've tried tagging @kubernetes/sig-scalability, but it's invisible to me.

[2018-01-09 16:59] zcahana commented on #1582
/sig scalability

[2018-01-09 17:08] idvoretskyi commented on #1407
@mattfarina @spiffxp @bgrant0607

FYI, I'm working on collecting all the GitHub organizations, that include the word "kubernetes" in their naming (to proceed with the further actions).

To reconfirm, all the orgs below are the "official" Kubernetes ones, right?

- [kubernetes](https://github.com/kubernetes)
- [kubernetes-client](https://github.com/kubernetes-client)
- [kubernetes-helm](https://git

[2018-01-09 19:38] lukaszgryglicki commented on #1407
This returns 645 users: https://github.com/search?utf8=✓&q=kubernetes&type=Users
And this returns 105: https://github.com/search?utf8=✓&q=kubernetes-&type=Users

But please take a look, it also searches for users tags, name, description etc.
So returned list contains all users (mean users or orgs) that has "kubernetes" anywhere in their profile.
This is not the orgs list
Attached screenshots:
![sc

[2018-01-09 20:20] idvoretskyi commented on #1407
Lukasz, thank you for pointing out.

On Tue, Jan 9, 2018, 9:38 PM Łukasz Gryglicki <notifications@github.com>
wrote:

[2018-01-09 20:31] wojtek-t commented on #1582
We want to be able to measure the SLO in live clusters too, not just in tests.

[2018-01-09 23:16] spiffxp commented on #1407
I've heard no disagreement that these orgs are considered part of the project:
- [kubernetes](https://github.com/kubernetes)
- [kubernetes-client](https://github.com/kubernetes-client)
- [kubernetes-helm](https://github.com/kubernetes-helm)
- [kubernetes-incubator](https://github.com/kubernetes-incubator)

I am relatively confident this should be considered part of the project. eg: [this repo](htt

[2018-01-09 23:19] spiffxp commented on #1527
Closing kubernetes-ui PR's

[2018-01-09 23:30] spiffxp commented on #1527
Have pinged on all remaining open PR's

[2018-01-10 14:27] mattfarina commented on #1407
@spiffxp aside from the sig specific ones, shall I update #1569 with the rest? Only being conservative on the sig ones until the steering committee makes a call on a proposal for those.

[2018-01-10 15:42] idvoretskyi commented on #1407
@lukaszgryglicki any idea why some organizations (eg. `kubernetes-sig-foo`, as @spiffxp mentioned) are not returned after your query?

[2018-01-10 17:19] cblecker commented on #276
/remove-lifecycle stale
Still relevant

[2018-01-10 18:15] cblecker commented on #1565
I agree with this. One question though.. what about the member requirements would need to be lowered? I think it's a pretty easier bar for people to meet.

[2018-01-10 18:45] zcahana commented on #1582
So, if we can't relax the requirement to measure it in live clusters too (as per the [goals and non-goals](https://github.com/kubernetes/community/blob/master/sig-scalability/extending_slo.md#goal) section), then we can start measuring from when the request arrives at the API server. This will clearly simplify the setup - it mainly boils down to API server instrumentation.

[2018-01-10 19:14] jessfraz commented on #647
This was handled by https://github.com/kubernetes/community/pull/1153 so I think it can be closed :)

[2018-01-10 19:16] cblecker commented on #647
So it was! Thanks @jessfraz
/close

[2018-01-10 19:16] #647 closed

[2018-01-10 19:16] cblecker commented on #724
sigs.yaml is now time zone enabled!
/close

[2018-01-10 19:16] #724 closed

[2018-01-10 19:17] cblecker commented on #359
/remove-lifecycle stale

[2018-01-10 19:18] cblecker commented on #1117
Closing as dupe of #359
/close

[2018-01-10 19:18] #1117 closed

[2018-01-10 19:34] bgrant0607 commented on #402
Replaced by https://github.com/kubernetes/steering/blob/master/backlog.md

[2018-01-10 19:34] #402 closed

[2018-01-10 19:35] bgrant0607 commented on #295
The Steering Committee election has occurred. This is now obsolete.

[2018-01-10 19:35] #295 closed

[2018-01-10 19:35] bgrant0607 commented on #351
Backlog is now at https://github.com/kubernetes/steering/blob/master/backlog.md

[2018-01-10 19:37] bgrant0607 commented on #402
Note that technical oversight/direction is being handled in SIG Architecture

[2018-01-10 20:08] nikhita commented on #798
/remove-lifecycle stale
/lifecycle frozen

[2018-01-10 21:54] lavalamp commented on #798
I think this is bigger than just CRDs. I am thinking about object count quotas in general.

[2018-01-11 00:14] idvoretskyi commented on #1407
Based on the spreadsheet by @lukaszgryglicki, I've create a spreadsheet to track the "*kubernetes*" orgs on GitHub - https://docs.google.com/spreadsheets/d/1MQwsWGuQvJc_RepCFgQ9HleQD2m3-_2k8utGcPaVHKY/edit#gid=289132963

@spiffxp - can you please review and update if needed?

[2018-01-11 05:04] lukaszgryglicki commented on #1407
should I update DevStats config (https://github.com/cncf/devstats/blob/master/projects.yaml#L6) when this is approved, confirmed and made official, right?

[2018-01-11 08:18] #982 closed

[2018-01-11 10:14] akhilm opened #1589 "cannot join network of a non running container"
Guys,

We are facing an issue with Kubernetes and we don't have any clue why we are facing this issue with PODS and Ingress Controller. It worked for 1-2 hours on production and post that is starts crashing and become super slow. Further, it went down automatically and our master node goes away. It was working in pre-production environment and performed well during load testing as well. But it was

[2018-01-11 11:11] stp-ip commented on #1589
Hey. This repository is mainly for community content and not for bug reports.

Sorry to hear you are having issues. You can get help in a few ways:
If you need support, start with the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/) and work your way through the process that we've outlined.

That said, if you have questions, reach out to us [one

[2018-01-11 11:12] stp-ip commented on #1589
/assign
/close

[2018-01-11 11:12] #1589 closed

[2018-01-11 12:04] akhilm commented on #1589
Where I can ask this question because we already tried several ways to debug it

[2018-01-11 12:19] stp-ip commented on #1589
[Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
[Slack](slack.k8s.io)
Or if you feel it really is a bug [kubernetes repo](https://github.com/kubernetes/kubernetes/issues/new)

[2018-01-11 16:22] cmluciano commented on #429
IPVS is now supported in beta form

[2018-01-11 16:22] cmluciano commented on #429
/close

[2018-01-11 16:22] #429 closed

[2018-01-11 17:11] spiffxp commented on #1407
I discussed this during sig-architecture meeting this morning.  I would like to have sign off from @bgrant0607 on whether we have captured the list of orgs that are part of the project today, and I need help from @thockin to further collect the list of orgs we are squatting on today.

[2018-01-11 20:05] idvoretskyi commented on #1407
I've shared the spreadsheet above with the @kubernetes/steering-committee. @spiffxp @thockin @bgrant0607 can you update it if you have any extra data?

[2018-01-11 20:05] idvoretskyi commented on #1407
@lukaszgryglicki yes, please.

[2018-01-12 01:03] bgrant0607 commented on #1407
@spiffxp Do you agree the spreadsheet is what I should update and sign off on?

[2018-01-12 01:16] bgrant0607 commented on #1407
The list here: https://github.com/kubernetes/community/issues/1407#issuecomment-356445729
looks right to me, and I updated the spreadsheet to match that (modulo formatting).

kubernetes-incubator-retired and kubernetes-graveyard should be folded into kubernetes-retired

[2018-01-12 07:41] stewart-yu opened #1593 "Does we need add CONTRIBUTING.md file for every sig"
According to website docs:  [https://kubernetes.io/docs/imported/community/guide/#sig-structure](https://kubernetes.io/docs/imported/community/guide/#sig-structure part, we should add CONTRIBUTING.md file for every sig.

[2018-01-12 07:41] stewart-yu commented on #1593
/assign

[2018-01-12 07:42] stewart-yu commented on #1593
/sig docs

[2018-01-12 08:55] johnarok opened #1594 "Add info on KUBE_TIMEOUT in testing doc for troubleshooting"
Refering Doc: https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md

While following the steps detailed on the above document, the unit tests for pkg/master would consistently error with a panic (see below) and the only way to get past it is to increase the KUBE_TIMEOUT on /hack/make-rules/test.sh to something greater than 120s in the kubernetes/kubernetes repo. Thinkin

[2018-01-12 09:01] johnarok commented on #1594
/sig Testing

[2018-01-12 14:37] mattfarina commented on #1407
I'll update the PR based on that list.

[2018-01-12 15:56] cblecker commented on #1594
You shouldn't have to edit the file. You can override the variable with `make test KUBE_TIMEOUT=-timeout 300s`

[2018-01-12 15:58] cblecker commented on #1593
This bit of text was fixed here: #1587. It will be fixed in kubernetes.io on the next docs import.

/assign @chenopis

[2018-01-12 18:11] cblecker commented on #1594
Yes, putting a note with the syntax of how to boot the timeout would be good.

[2018-01-12 22:36] countspongebob opened #1602 "Proposal to change meeting time for Sig Scalability"
As of the last couple of meetings the lazy consensus is that the scalability SIG should be bumped later by 30 minutes to avoid conflicts with SIG architecture. This is a tracking issue for this change, I will work on a PR.

[2018-01-12 22:44] cblecker commented on #1602
@kubernetes/sig-scalability-misc

[2018-01-13 13:14] pisarenko-net commented on #1594
I've been running into the same issue when trying to start with k8s development.

[2018-01-14 15:00] cristifalcas opened #1605 "when listing objects, the returned list has kind:None for all items"
Example:

    ret = v1b1e.list_deployment_for_all_namespaces()
    for i in ret.items:
        print("kind: %s" % (i.kind)

Returns:

    kind: None

This is the same for v3 and v4. Also, object type doesn't matter (daemonset, replicationcontroller, statefulset, deployment)

[2018-01-14 15:01] cristifalcas commented on #1605
This was supposed to go to python bindings

[2018-01-14 15:01] #1605 closed

[2018-01-14 15:19] liggitt commented on #1605
See https://github.com/kubernetes/kubernetes/issues/3030

[2018-01-16 18:49] verult opened #1609 "Version skew test documentation link out of date"
The link in the documentation below is out of date.

https://github.com/kubernetes/community/blame/master/contributors/devel/e2e-tests.md#L449

And the `e2e-runner.sh` at the new location is deprecated. Is there a new authoritative source, or should this line be removed altogether?

/sig testing
/cc @jingxu97

[2018-01-16 20:42] nikhita commented on #798
xref https://github.com/kubernetes/kubernetes/issues/53777

[2018-01-16 20:45] nikhita commented on #1297
xref. https://github.com/kubernetes/kubernetes/issues/46404 (feature gate deprecation policy).

[2018-01-16 20:49] nikhita commented on #1297
Related https://github.com/kubernetes/community/issues/1159.

[2018-01-16 20:54] nikhita commented on #357
/remove-lifecycle stale

[2018-01-16 20:54] nikhita commented on #155
/remove-lifecycle stale

[2018-01-16 21:05] nikhita commented on #1256
@alessbn Any updates?

[2018-01-16 21:07] nikhita commented on #767
/remove-lifecycle stale
/lifecycle frozen

[2018-01-16 23:11] guineveresaenger opened #1612 "Sig-aws CONTRIBUTING.md should point at contributor guide"
The new  [contributor guide](https://github.com/kubernetes/community/tree/master/contributors/guide) is in working condition. Any SIG-specific CONTRIBUTING.md files should first point to the contributor guide, and then mention SIG-specific extra guidelines.
The goal is to have the contributor guide be the single source of truth for general contributing rules.

Make sure to:
- avoid duplication of

[2018-01-16 23:12] guineveresaenger opened #1613 "SIG-cli CONTRIBUTING.md should point at contributor guide"
The new  [contributor guide](https://github.com/kubernetes/community/tree/master/contributors/guide) is in working condition. Any SIG-specific CONTRIBUTING.md files should first point to the contributor guide, and then mention SIG-specific extra guidelines.
The goal is to have the contributor guide be the single source of truth for general contributing rules.

Make sure to:
- avoid duplication of

[2018-01-16 23:14] guineveresaenger opened #1614 "SIG-multicluster CONTRIBUTING.md should point at contributor guide"
The new  [contributor guide](https://github.com/kubernetes/community/tree/master/contributors/guide) is in working condition. Any SIG-specific CONTRIBUTING.md files should first point to the contributor guide, and then mention SIG-specific extra guidelines.
The goal is to have the contributor guide be the single source of truth for general contributing rules.

Make sure to:

avoid duplication of i

[2018-01-16 23:16] guineveresaenger opened #1615 "SIG-storage contributing.md should point at contributor guide"
The new [contributor guide](https://github.com/kubernetes/community/tree/master/contributors/guide) is in working condition. Any SIG-specific CONTRIBUTING.md files should first point to the contributor guide, and then mention SIG-specific extra guidelines.
The goal is to have the contributor guide be the single source of truth for general contributing rules.

Make sure to:

avoid duplication of in

[2018-01-17 18:17] guineveresaenger commented on #1593
@chenopis @stewart-yu can either of you close this issue?

[2018-01-17 18:19] cblecker commented on #1593
/close

[2018-01-17 18:19] #1593 closed

[2018-01-17 23:59] thockin commented on #1565
I am naturally anxious about this, but I have been chided for being a little too control-oriented, so I am willing to let the collective wisdom prevail.

[2018-01-18 00:43] grodrigues3 commented on #1565
@parispittman I think you might have recorded last week's contribx.  Can you please upload to youtube?  Yeah, I believe the general consensus was to phase out the collaborator role.

[2018-01-18 13:49] vbmade2000 commented on #1538
@cblecker Let me work on that if you don't mind.

[2018-01-18 14:24] nikhita commented on #1234
/remove-lifecycle stale

[2018-01-18 17:25] grodrigues3 commented on #992
/lifecycle frozen

[2018-01-19 08:20] lcfang opened #1627 "Do all tests in test/e2e_node will be ran using "make test-e2e-node"?"
There are two official docs about e2e test.
[End-to-End Testing in Kubernetes](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md)
[Node End-To-End tests](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-node-tests.md)
I wonder if the first one will only run the tests in folder test/e2e, and the second one will only run the tests in test/e

[2018-01-19 08:20] lcfang commented on #1627
/sig-node

[2018-01-19 08:23] lcfang commented on #1627
cc @grodrigues3 @Phillels @idvoretskyi @calebamiles @cblecker @spiffxp

[2018-01-19 15:02] castrojo opened #1628 "PR document needs to mention trivial edit contribution policy"
I've removed this text from CONTRIBUTING.md, but we need to put it back in the PR doc when that gets scrubbed and put into the contributor guide.

[code]

[2018-01-19 15:03] castrojo commented on #1628
/sig contributor-experience

[2018-01-19 15:17] bgrant0607 commented on #914
/remove-lifecycle stale

[2018-01-19 15:19] bgrant0607 commented on #914
Almost all of these were written prior to implementation and so are "proposals" in that sense. A few were never implemented -- those should be marked, and possibly moved.

In general, we're trying to clarify this type of thing with the new KEP process.

[2018-01-19 15:21] castrojo commented on #1516
Looking at this I think we need to get more things in place before we revise this document, it's pointing to a bunch of resources and removing it now doesn't make sense until we have a nicer replacement. Perhaps revist this in a few week.

[2018-01-19 19:23] castrojo opened #1632 "Link to developer guide from the contributor guide"
We need to sync with RyanJ or someone else working on the developer guide and at least link to whatever they have so far as a starting point

/sig contributor-experience
/area contributor-guide

[2018-01-19 19:31] #1286 closed

[2018-01-20 00:29] thockin commented on #1407
I am squatting on a lot, but it's not obvious to me how to get a list...

[2018-01-20 00:47] bgrant0607 commented on #1407
@thockin

https://github.com/thockin

you should see icons for all your orgs under Organizations on the lower left. Hover over the icons

[2018-01-20 00:48] cblecker commented on #1407
@thockin @bgrant0607 They're also listed on https://github.com/settings/organizations for the logged in user

[2018-01-20 03:23] parispittman commented on #1514
Created this doc - appreciate collaboration. This will be used as a resource when mentoring new reviewers.

["Code Reviews the Kuberetes Way"](https://docs.google.com/document/d/1vP95I180Lj_e4JT40QZ4vIkbOsiY8pkTtfJcmP5i5Ac/edit#heading=h.qnd9ih5ibazs)

[2018-01-20 06:20] castrojo opened #1636 "Changing affiliation needs to be documented"
It's unclear what we should do when someone changes affiliation. There's sigs.yaml but it's not just about updating it, people need to run make, etc.

We should probably have document these bits as devstats for the person needs to be updated as well. This feel like an area where we should be consistent across the CNCF.

/cc @idvoretskyi
/sig contributor-experience
/area contributor-guide

[2018-01-20 07:22] idvoretskyi commented on #1636
+1, I agree.

We have a few samples of outdated info about the company affiliation.

[2018-01-20 17:28] cblecker commented on #1636
Should we also open up an issue against devstats?

[2018-01-21 16:51] idvoretskyi commented on #1636
@cblecker Yes, please, just a reference is enough.

[2018-01-21 16:54] idvoretskyi commented on #1407
@thockin and feel free to update https://docs.google.com/spreadsheets/d/1MQwsWGuQvJc_RepCFgQ9HleQD2m3-_2k8utGcPaVHKY/edit#gid=289132963

[2018-01-22 15:07] castrojo commented on #1515
Fixed with https://github.com/kubernetes/community/pull/1630

/close

[2018-01-22 15:07] #1515 closed

[2018-01-22 15:17] castrojo opened #1644 ""Setting up a development environment" needs to be documented"
Right now we just dump people to an index.

We need to do something like:
- Setting up your laptop for mac, windows, and linux
- Installing the right tools (the github workflow deals with checking out and stuff, so this doesn't need to be detailed.
- Real world tips from existing developers.

/sig contributor-experience
/area contributor-guide

[2018-01-22 15:28] castrojo opened #1645 "Move assigned reviewers snippet from collab.md somewhere else."
I've merged the parts of collab.md that are relevant into community-expectations.md, this snippet on assigned reviews should live somewhere else though.

[code]

[2018-01-22 15:39] castrojo commented on #1645
/sig contributor-experience
/area contributor-guide

[2018-01-22 15:39] castrojo commented on #1413
Note to selves, we do not need to bring `collab.md` over from the devel directory, I have added it to the community expectations, and filed #1645 to remember to put what's left of it somewhere else.

[2018-01-22 15:52] castrojo commented on #1644
Some existing resources:

- https://github.com/kubernetes/community/blob/master/contributors/devel/development.md
- https://thenewstack.io/tutorial-configuring-ultimate-development-environment-kubernetes/
- https://abhishek-tiwari.com/local-development-environment-for-kubernetes-using-minikube/
- https://blog.giantswarm.io/getting-started-with-a-local-kubernetes-environment/
- https://github.com/k

[2018-01-22 15:53] castrojo commented on #1644
Note to selves: even though it's in beta let's include the docker/kubernetes work as that will simplify our instructions quite a bit.

[2018-01-22 16:46] php-coder commented on #1297
More places that should be updated for a new API were discovered:
- `pkg/master/import_known_versions.go` (this file has a comment "These imports are the API groups the API server will support")
- `test/integration/etcd/etcd_storage_path_test.go`

[2018-01-22 19:13] spiffxp commented on #1407
I would like to see us PR in the list of orgs we're squatting on with instructions to contact steering@kubernetes.io, instead of using a spreadsheet as the source of truth

[2018-01-23 02:51] bgrant0607 commented on #580
Clearly issues are being auto-closed now.

I still think we need more effective triage rotation, but closing in favor of more specific proposals

[2018-01-23 02:51] #580 closed

[2018-01-23 02:55] bgrant0607 commented on #859
/remove-lifecycle stale

[2018-01-23 02:56] bgrant0607 commented on #876
/remove-lifecycle stale

[2018-01-23 03:07] pmorie commented on #859
I will either PR this or close it.

[2018-01-23 05:18] bgrant0607 commented on #300
/remove-lifecycle stale

[2018-01-23 05:18] bgrant0607 commented on #566
/remove-lifecycle stale

[2018-01-23 15:30] mattfarina commented on #1407
We shouldn't have community documentation in a spreadsheet as folks can't search for it. +1 for a PR with that direction from @spiffxp

[2018-01-23 17:04] tpepper opened #1663 "README.md references 2015 stats"
https://github.com/kubernetes/community/tree/master/sig-contributor-experience/README.md includes "we need to break the commit-rate ceiling we hit in July 2015, and we need to get the monotonically growing PR merge latency and numbers of open PRs and issues under control."

Does devastates show the commit-rate ceiling?  Has the 2015 ceiling been broken?

Either way, it might be a more clear charte

[2018-01-23 17:32] cblecker commented on #1663
/sig contributor-experience

[2018-01-23 18:35] tpepper opened #1665 "Community meeting invite workflow needs to be revised"
There's some signs of issues and vestigial limbs here.

Why does this google group exist: https://groups.google.com/forum/#!forum/kubernetes-community-video-chat

Why does one need to email @castrojo or @parispittman to get an invite?

And...I didn't actually get an invite after @castrojo added me.

This should be streamlined and the results better documented for example in the results of PR #1660

[2018-01-23 18:43] castrojo commented on #1665
/sig contributor-experience

[2018-01-23 19:32] castrojo commented on #1665
@parispittman said in another issue: "What are thoughts on messaging everyone in that group that we are sunsetting this google group / process and to copy calendar from kubernetes.io/community?"

+1 to this, we need to test that it works.

[2018-01-23 19:37] castrojo opened #1666 "Community resources need to be managed by more than one person"
We have individual admin accounts for:

Zoom
YouTube
Google Calendar
Slack?
Too many documents on google drive to list here.

And so on, we need to de-bus-factor this so that one person isn't in the gatekeeper for the community resources. Perhaps something like `community@k8s.io` and that with a rotating set of trusted people there for admin purposes.

/sig contributor-experience

[2018-01-23 19:38] castrojo commented on #1665
Let's fix #1666 first so that we get a new calendar meeting on the schedule.

[2018-01-23 20:07] fanzhangio commented on #1613
cc @seans3 @mengqiy I would like to take this

[2018-01-23 20:09] cblecker commented on #1666
Related: https://github.com/kubernetes/community/blob/master/sysadmin.md

[2018-01-24 14:29] castrojo opened #1668 "Access to google docs used by the community needs to be documented"
It appears(?) that most of the working docs we used are shared with the dev mailing list, and to get read access to these documents you must be subscribed to the mailing list first, otherwise you get an access error.

We need to document this clearly as part of the first steps of becoming a contributor.

/sig contributor-experience
/area contributor-guide

[2018-01-24 21:40] parispittman opened #1672 "Mentoring Umbrella Issue"
We have a brand new home in the community repo for mentoring docs. We've kicked off testing for all three strategies listed on the [README](https://github.com/kubernetes/community/tree/master/mentoring). These tackle various learning styles, audiences, and our needs of continuous contributor growth.

This is a task list of where we need help, engagement, and/or your opinions. I'll add the correspo

[2018-01-24 21:58] spiffxp opened #1673 "Formalize the concept of subprojects"
This is based on / inspired by a [SIG Architecture proposal to expand SIG metadata and flesh out OWNERS](https://docs.google.com/document/d/1FHauGII5LNVM-dZcNfzYZ-6WRs9RoPctQ4bw5dczrkk/edit#)

This is driven by a steering committee goal of ensuring that our organizational structure maps to our code structure.

I'd like to start by implementing this concept in [`sigs.yaml`](/sigs.yaml). This ensure

[2018-01-24 23:53] tpepper commented on #1413
I started looking through from the end of the list at some test related devel/ docs and their linked docs.  Based on that I think:

coding-conventions.md and go-code.md should move from devel to guide as they've broadly informative to new comers

testing.md, writing-good-e2e-tests.md, flaky-tests.md, e2e-tests.md, and godep.md should stay in devel as they're notably deeper technically

I'm looking

[2018-01-25 00:27] parispittman commented on #1672
/assign

[2018-01-25 17:25] spiffxp commented on #1673
/sig architecture

[2018-01-25 23:04] tpepper commented on #1514
I've dropped some related doc links in the google doc.

[2018-01-25 23:31] guineveresaenger commented on #1613
@fanzhangio please! it would be appreciated. :)

[2018-01-25 23:40] #1612 closed

[2018-01-25 23:57] #1614 closed

[2018-01-25 23:58] guineveresaenger commented on #1615
Closed via #1684

[2018-01-25 23:58] #1615 closed

[2018-01-26 01:26] guineveresaenger commented on #1413
Another note to selves, we should bring over "On Code Review" which is currently a broken link, merge content with collab.md, and fix broken links.

[2018-01-26 14:50] castrojo opened #1693 "SIG lead lifecycle needs to be documented"
When a SIG lead moves on we need to document a few things. There are [pending governance things](https://github.com/kubernetes/steering/blob/master/backlog.md) here but this issue will document the technical changes at a minimum.

- Old lead
  - unsubscribe from their sig leaders list.
  - Removal as leader from sigs.yaml
- New lead
  - Subscribe to the sig leaders list.
  - Need the Zoom credenti

[2018-01-26 15:04] castrojo commented on #1413
You mean this one? https://github.com/kubernetes/community/blob/master/contributors/guide/community-expectations.md

[2018-01-26 15:19] castrojo commented on #1693
Marking as contrib-ex but blocking on SIG charters, governance, etc.

/sig contributor-experience

[2018-01-26 15:24] castrojo commented on #1693
See also: https://github.com/kubernetes/community/pull/1650

[2018-01-26 16:57] spiffxp commented on #1666
/area community-management
😱 I added another area label to this repo by hand, please let me know if I did a bad thing

[2018-01-26 17:00] spiffxp commented on #1666
/area community-management
😱 I added another area label to this repo by hand, please let me know if I did a bad thing

[2018-01-27 00:12] #1668 closed

[2018-01-27 02:24] philips commented on #1565
Is there currently anyone that holds this role? If not seems OK to me.

[2018-01-29 15:19] castrojo opened #1702 "Bot should respond with the final step when a PR is accepted"
A new contributor gave me some bot feedback. All the intermediate steps were fine (bot had links to docs, etc.) but one thing he wasn't clear on was what the next step when his PR got accepted.

Perhaps something like "Your PR has been accepted, you're done! No action is required on your part. Check the _merge queue_ if you're interested in more details"

/sig contributor-experience

[2018-01-31 15:43] bgrant0607 commented on #1565
"Outside collaborator" was not intended to be a rung in the contributor ladder. It's a github construct. A number of repos, most notably helm, add outside collaborators as a way to bypass the need for org membership and to manage their own permissions.

My current thinking is that org member, outside collaborator, and maintainer should be removed from the ladder and moved to a github governance do

[2018-01-31 15:47] bgrant0607 commented on #1565
There are 16 outside collaborators on helm, but it looks like they could all be added to the repo teams: https://github.com/kubernetes/helm/settings/collaboration

I know there are some on other repos, which also were added before we had a membership process.

[2018-01-31 16:09] bgrant0607 commented on #1565
A couple pages of collaborators here:
https://github.com/orgs/kubernetes/outside-collaborators?page=1&query=&utf8=%E2%9C%93

[2018-01-31 17:57] cblecker commented on #814
@kubernetes/sig-architecture-api-reviews Is this still relevant?

[2018-01-31 18:09] bgrant0607 commented on #814
Yes

/remove-lifecycle rotten

deliberately not freezing so that it pops up again

[2018-01-31 18:18] castrojo commented on #1413
We should review this for ideas: https://github.com/kubernetes-helm/community/pull/2/files

[2018-01-31 18:19] castrojo commented on #1514
More reference material to check out: https://github.com/kubernetes/charts/blob/master/REVIEW_GUIDELINES.md

[2018-01-31 23:02] spiffxp commented on #1527
/close
All remaining open PR's have been merged.  I updated instructions in the kubernetes-template-project to refer to this code of conduct file.  https://github.com/kubernetes/kubernetes-template-project/pull/14

[2018-01-31 23:02] #1527 closed

[2018-02-01 01:49] cblecker commented on #1702
@spxtr @cjwagner @fejta @spiffxp
Some feedback that might be helpful to keep in mind for tide (and it's status context).

[2018-02-01 22:16] spiffxp opened #1721 "Add OWNERS files to kubernetes repos that lack them"
This is in aid of #1673 which seeks to specify subprojects by way of OWNERS files living in all of the repos.  There are currently a number of repos that lack them.

 org/repo | in sigs.yaml? | has owners? | has approve? | in tide? | branch protected? |
| -------- | ------------- | ----------- | ------------ | -------- | ----------------- |

edit 2018-08-06: down from 26 repos to 14
edit 2018-08-1

[2018-02-01 22:17] spiffxp commented on #1721
/sig architecture
/sig contributor-experience
/priority important-soon

[2018-02-02 01:34] idvoretskyi commented on #1407
@spiffxp I can submit a PR. Where is the best place for it?

[2018-02-02 01:35] #1565 closed

[2018-02-02 01:38] idvoretskyi commented on #1666
I second this.

We can start with creating a Google Group.

[2018-02-02 01:39] idvoretskyi commented on #1666
cc @parispittman @jdumars

[2018-02-02 01:41] idvoretskyi commented on #1666
UPD.

We have a @kubernetes/community-admins group, so we may start from this list of people.

[2018-02-02 01:41] jdumars commented on #1666
Yes, please let me know if I can help.

[2018-02-02 15:17] chris-short opened #1724 "ContribEx Guide Needs to Recommend Mailing List Best Practices"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
As a Kubernetes community member, it is difficult to attain a good signal-to-noise ratio with regards to GitHub notifications and mailing list messages.

**What you expected to happen**:
I'd like to get some guidance on how to be an effective communicator in the Kubernetes community. In other words, not be deluged by

[2018-02-02 16:26] castrojo opened #1726 "Doc building script needs to be automatic"
We are currently getting the contrib guide, mentorship guide, and KEPs imported into the doc site.

To do this we must checkout the website repo locally, run `./update-imported-docs community.yml`, then submit a PR to the docs team to update these docs.

It would be nice if this script did:

- Make it so we don't have to specify each and every page in `community.yaml`, we should just be able to sa

[2018-02-02 16:28] castrojo commented on #1726
/sig contributor-experience
/area contributor-guide

[2018-02-03 14:20] idvoretskyi commented on #1724
https://groups.google.com/forum/#!msg/kubernetes-dev/5qU8irU7_tE/aZov0LpCBwAJ

[2018-02-05 01:34] #558 closed

[2018-02-05 08:03] cblecker commented on #1579
Opened https://github.com/kubernetes/test-infra/pull/6642 to actually do this.

[2018-02-05 18:13] guineveresaenger commented on #1645
@castrojo could it maybe be incorporated into this?https://github.com/kubernetes/community/blob/master/contributors/devel/owners.md

[2018-02-07 06:52] parispittman opened #1753 "Meet Our Contributors needs Volunteers"
From Mentoring Umbrella Issue #1672

[Doc explaining MOC](https://github.com/kubernetes/community/blob/master/mentoring/meet-our-contributors.md)

We need more volunteers for the Ask Us Anything portion and code peer reviewers live. Volunteers can mark their availability [on this sheet (tab for MOC)](https://docs.google.com/spreadsheets/d/1OKc4h-0QLKCbncSloRf_gYklpHYVyNxZmfEM9hlK1xQ/edit?usp=shari

[2018-02-07 06:53] parispittman commented on #1753
/assign

[2018-02-07 11:23] idvoretskyi commented on #1407
PTAL https://github.com/kubernetes/community/pull/1754

[2018-02-07 16:01] castrojo commented on #1724
/help

[2018-02-07 16:01] castrojo commented on #1645
/help

[2018-02-07 16:01] castrojo commented on #1644
/help

[2018-02-07 16:02] castrojo commented on #1413
/help

[2018-02-07 16:03] castrojo commented on #1702
/help

[2018-02-07 16:11] castrojo commented on #1665
/help

[2018-02-07 18:50] guineveresaenger opened #1756 "/contributors/devel/development.md needs a rewrite"
This document should focus on the technical aspects and caveats of working on an issue. It should link to the contributor guide for all contributing-specific questions (like signing the CLA, adhering to community standars) and it should be clear on its technical purpose.
/area contributor-guide

[2018-02-07 18:50] guineveresaenger commented on #1756
/sig contributor-experience

[2018-02-07 18:54] tpepper commented on #1413
I propose "cherry-picks.md" not be in the contrib guide and rather move to https://git.k8s.io/sig-release/release-process-documentation

[2018-02-07 18:59] guineveresaenger opened #1757 "/contributors/devel/help-wanted.md needs to be incorporated elsewhere"
This is a very short stub doc that should be deleted and the information incorporated in documentation on how to file/label issues somewhere. It currently is linked from nowhere.
/sig contributor-experience
/area contributor-guide

[2018-02-07 19:04] cblecker commented on #1757
It is currently linked from here: https://github.com/kubernetes/test-infra/blob/cb87afa612ef6d8c63e69602d8b76bb009f6d2d6/prow/plugins/help/help.go#L36

[2018-02-07 19:06] guineveresaenger commented on #1757
@cblecker good to know, thanks! (I must remember to check the overall project. My bad.)

[2018-02-07 19:06] cblecker commented on #1757
It's used in the bot message:

by commenting with the /remove-help command.

[2018-02-07 19:08] guineveresaenger commented on #1757
I still think it should be a subsection of guidelines on labeling Issues, as it's a relevant decision to make while filing/triaging an issue.

[2018-02-07 19:14] guineveresaenger commented on #1413
@tpepper noted, above

[2018-02-07 21:30] castrojo opened #1759 "Calendar procedure is too complex"
We need to restructure this.

- [x] Document steps
- [ ] Update https://github.com/kubernetes/community/blob/master/sig-governance.md#sig-creation-procedure
- [x] Update widget on k8s.io/community
- [x] Fix instructions on k8s.io/community

/sig contributor-experience

[2018-02-07 21:47] castrojo commented on #1759
The openstack folks do this: http://eavesdrop.openstack.org/#LOCI_Development_Meeting

And they use https://github.com/openstack-infra/yaml2ical

[2018-02-07 21:51] idvoretskyi commented on #1759
cc @kubernetes/community-admins

[2018-02-07 22:58] spiffxp commented on #1665
/area community-management

[2018-02-08 01:01] jdumars commented on #1759
@parispittman has the answer.

[2018-02-08 02:17] guineveresaenger commented on #1413
@tpepper others seem to agree - the doc in /devel is a duplicate;
https://github.com/kubernetes/sig-release/blob/master/ephemera/cherry-picks.md

[2018-02-08 02:19] guineveresaenger opened #1760 "cherry-picks.md in /contributors/devel is a duplicate"
Sig-release has a duplicate of the cherry-picks document here:
https://github.com/kubernetes/sig-release/blob/master/ephemera/cherry-picks.md

We should
1. remove it from community/contributors/devel
2. find all references throughout the org and fix any links
/sig contributor-experiece
/area contributor-guide
/help-wanted

[2018-02-08 02:21] guineveresaenger commented on #1760
/sig contributor-experience
/help

[2018-02-08 18:22] idvoretskyi commented on #1759
/assign castrojo parispittman idvoretskyi

[2018-02-09 14:16] gaocegege opened #1774 "sig-scheduling: 404 link in scheduler subproject"
[code]

https://github.com/kubernetes/community/commit/28584e497ea72edc5ca618c23ee7324f21f8ecbc#diff-cbec2030070d4f7b5fed03589b0a1509R41

/sig scheduling

[2018-02-09 18:05] guineveresaenger commented on #1613
/area contributor-guide

Also, if @fanzhangio has gotten swamped in the meantime, I'm happy to do this.

[2018-02-10 12:24] arunk2 opened #1785 "All the Details links in SIG-autoscaling are broken"
@kubernetes/sig-autoscaling Can you please fix the details links in README of SIG-autoscaling?

https://github.com/kubernetes/community/blob/master/sig-autoscaling/README.md

[2018-02-10 16:56] cblecker commented on #1785
Per the readme:

/close

[2018-02-10 16:56] #1785 closed

[2018-02-11 02:26] countspongebob commented on #531
Closing, especially in light of various process improvements.  Looking forward to see how we manage the KEP process in this regard.

/close

[2018-02-11 02:26] #531 closed

[2018-02-11 05:38] cblecker commented on #720
/remove-lifecycle rotten

[2018-02-11 10:04] jamiehannaford commented on #641
/remove-lifecycle rotten

[2018-02-12 07:12] #1774 closed

[2018-02-12 19:01] technosophos opened #1793 "Confusion over states in the KEP-1 proposal"
This issue arises out of a discussion in SIG-Apps today, and applies to 0001-kubernetes-enhancement-proposal-process.md

For background, there has been movement in the community to use the KEP process for more general standards (e.g. CRDs, conventions, or ecosystem tooling), not just changes to Kubernetes core. This is causing confusion.

The states defined in the KEP-1 (implementable, implemented

[2018-02-12 20:32] cblecker commented on #1793
/sig architecture

[2018-02-12 20:33] cblecker commented on #1793
cc: @jbeda @bgrant0607 @calebamiles @jdumars

[2018-02-12 20:40] jbeda commented on #1793
First off -- SIGs should feel free to use whatever process they need for their own design and communication.  KEPs will probably only be necessary as we start having things that impact the project in a wider way (like new APIs, wide changes across the project, etc).

As for the states -- they started out based on the PEP process but were changed based on feedback from early users of the process.

[2018-02-12 21:31] guineveresaenger opened #1794 "CLA.md needs to be more clear about the difference between signing up as employee vs. individual"
Problem:

The steps for signing the CLA are clearly documented for individual contributors.

It is unclear what to do when your company has signed a CLA. Does the contributor need to sign anything? Obtain a Linux Foundation ID? What if the contributor's github email is different from company email?

Furthermore, if no action on part of a company-approved contributor is necessary, this needs to be

[2018-02-13 14:53] Capstan opened #1796 "Bot still refers to old PR documentation"
`k8s-ci-robot` has a link:

That link reports being moved to https://git.k8s.io/community/contributors/guide/owners.md

[2018-02-13 14:58] Capstan commented on #1796
Moving this to test-infra

[2018-02-13 14:58] #1796 closed

[2018-02-13 17:54] bgrant0607 commented on #1793
A common, valid complaint about past proposals was regarding the lack of clarity regarding the implementation statuses of the proposals. The vast majority of proposals in this project have resulted in single canonical implementations, or no implementation. These proposals are, for the most part, unlike IETF/ISOC RFCs, which aren't necessarily associated with any specific implementation. So, I thin

[2018-02-13 17:55] bgrant0607 commented on #1793
Alternatives to accepted are being discussed in #1775

[2018-02-13 17:56] bgrant0607 commented on #1793
Regarding 100s of comments: As a practical matter, the Application KEP has so many comments, that it's having trouble loading in the github UI at this point.

[2018-02-13 17:58] jbeda commented on #1793
(I tried with the application KEP to encourage it to be submitted and iterated on after that.  That is exactly the situation we are trying to avoid with "check in early")

[2018-02-13 22:54] guineveresaenger opened #1797 "Membership doc should point new contributors to contributors guide"
Bug:
The following section points at an ancient, still open, issue.
https://github.com/kubernetes/community/blob/master/community-membership.md#new-contributors

Fix:
Make that link point to the contributor guide instead.

/help
/sig contributor-experience
/area contributor-guide

[2018-02-14 16:36] bgrant0607 commented on #952
The initial version is checked in. We'll iterate from there.

[2018-02-14 16:36] #952 closed

[2018-02-15 16:52] parispittman opened #1803 "Mentoring Proposal: Long Term Buddy/Guide Program"
Inspiration: Buddy/Guide program @ gophercon. New folks to Go and/or the conference (Buddies) are paired up with more experienced folks (Guides) to have a meal and discuss how to get the Buddy better engaged in the community plus the event.

K8s implementation:
We can obviously use this at KubeCon as well but longer term strategy would be similar to 1:1 matching mentor programs that we are used to

[2018-02-15 17:00] parispittman commented on #1803
/assign

[2018-02-15 18:24] bgrant0607 commented on #1673
One idea that just occur to me is that maybe the area/ labels should be replaced by subproject/ labels.

[2018-02-15 19:25] chris-short commented on #1803
I think this is a natural progression of community and mentorship efforts. Flying solo at conferences is daunting especially if you're new to the community. Adopting the GopherCon Buddy Program will certainly help with that.

Ideally, both the conference/mentorship pieces will make the best effort to match people up with community members that have similar interests in SIGs. But, that shouldn't be

[2018-02-15 21:45] guineveresaenger commented on #1645
@castrojo two thoughts:
1. this should be part of the "Code Reviews the Kubernetes Way"
2. it is also covered in part in https://github.com/kubernetes/community/pull/1761

[2018-02-15 21:45] guineveresaenger commented on #1645
also, collab.md should be removed in favor of conciseness and clarity.

[2018-02-16 12:13] vaibhavsingh97 commented on #1797
@guineveresaenger Can I fix this? This will be my first small bug fix in K8s community :P

[2018-02-16 13:34] dims opened #1808 "Updating OWNERS files"
It's been an year since the first population of the OWNERS files in https://github.com/kubernetes/contrib/issues/1389.

* Some folks have moved on and no longer reviewing or approving changes that they are responsible for
* New folks have adding code who may make good reviewers if not approvers
* Can we get some data on which reviewers / approvers are not really doing what they are supposed to do?

[2018-02-16 13:37] dims opened #1809 "Documenting the revert process (Avoid the github revert button)"
- Use `git revert SHA` where SHA is the hash of the commit you wish to revert
- Push this commit to a new branch in your own repo
- Use the commit/branch to file a PR

Essentially avoid pushing the button in github web UI. This creates unnecessary branches in the kubernetes main repository that someone has to go clean up. The bots notice such merges and notifies kubernetes-dev channel as well. fol

[2018-02-16 14:18] guineveresaenger commented on #1797
@vaibhavsingh97 please do! Thank you!

[2018-02-16 17:01] duglin commented on #566
Big +1 - any change that go into master (or any official branch) should be fully baked, tested and documented - as if it were going to be released the next day. If they can't meet that criteria then it shouldn't be considered ready to be merged since the minute it goes in other PRs may then overlap it and backing it out could be a real challenge.

[2018-02-16 19:25] cblecker commented on #1809
/sig contributor-experience
+1 to this

[2018-02-16 19:25] cblecker commented on #1809
/area contributor-guide

[2018-02-16 19:25] cblecker commented on #1808
/sig contributor-experience

[2018-02-18 19:05] cblecker commented on #703
/remove-lifecycle stale

[2018-02-19 15:14] php-coder commented on #1159
/remove-lifecycle rotten

[2018-02-19 19:08] jbeda commented on #1793
We've decided on `provisional` instead of `accepted`.  Discussion here: https://youtu.be/Os0zQoYL4XA?t=53m54s.  I'll get a PR together today to make that happen.

[2018-02-20 21:41] castrojo opened #1819 "KEP0005: Contributor Site discussion"
- https://github.com/kubernetes/community/blob/master/keps/sig-contributor-experience/0005-community-site.md

[2018-02-20 21:42] castrojo commented on #1819
https://github.com/kubernetes/community/pull/1814
/sig contributor-experience

[2018-02-20 21:53] castrojo opened #1820 "Merge contributor summit schedule into the repo"
https://docs.google.com/spreadsheets/d/1dPljyNV0ZznVZbAqes41X_xK_4itFW4SkevG2UVlOy4/edit#gid=1109964465

This schedule should be on https://github.com/kubernetes/community/tree/master/events/2018/05-contributor-summit

[2018-02-20 21:55] castrojo opened #1821 "Merge charter for contributor-experience"
https://docs.google.com/document/d/1pM0N8fpE2Xs7oqZtUygJoncwQXfVtqi4og6J_nTlEOg/edit

/sig contributor-experience
/assign @parispittman

[2018-02-20 21:55] castrojo opened #1822 "Merge contributor experience 1.10 goals"
https://docs.google.com/spreadsheets/d/1EDmA7e1xiwAqjXlAgzfxeiJ4gMLuRLkisr--wh6sRHQ/edit#gid=0

/sig contributor-experience
/assign @parispittman

[2018-02-20 21:57] castrojo commented on #1820
/sig contributor-experience
/assign @castrojo

[2018-02-20 23:07] castrojo commented on #1794
We need to add this to the README of the contributor guide, at the top level so it's obvious to people that the CLA document covers individuals and organizations.

[2018-02-20 23:20] parispittman opened #1824 "Need Dev Enviro Checklist"
Need to add dev environment checklist for new contributors - how to set up on multiple platforms and address main issues / concerns. Add to new contributor guide.

/sig contributor-experience
/area contributor-guide

[2018-02-20 23:28] castrojo commented on #1726
/assign @grodrigues3

[2018-02-20 23:32] castrojo opened #1826 "Contributor guide doesn't mention membership"
We need to talk about the membership, the ladder, etc. and link to here:

https://github.com/kubernetes/community/blob/master/community-membership.md

/assign @castrojo
/sig contributor-experience
/area contributor-guide

[2018-02-20 23:54] grodrigues3 commented on #1726
@kubernetes/sig-docs-maintainers

[2018-02-21 00:03] jbeda commented on #1819
Thanks for merging the start of the KEP.

Generally, with the KEP process I’m thinking we want to have follow on issues/PRs be more specific wrt the topics in question.

To start with I’d love to get the following locked down:
* We should do a separate site vs. try and do a Rube Goldberg thing with the main k8s site.
* We should outline the first set of features a that we want to have on the site

[2018-02-21 02:04] yogeshmsharma commented on #1666
I agree with having Google group.

[2018-02-21 08:11] grodrigues3 commented on #1726
Looks like the files specified currently are not all in one directory.   What's the plan?

Is it to build everything in contributor/guide and the keps dir and the mentoring dir?

[2018-02-21 19:02] guineveresaenger opened #1832 "Require all k/* repositories to have CONTRIBUTING.md"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to
https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-02-21 19:06] guineveresaenger opened #1833 "Contributor guide README should clarify special subrepository contributing guidelines"
See also #1832 .

Certain subrepositories of the Kubernetes Project may have (and will have) additional or special contributing guidelines. Currently, the contributor guide only mentions that SIGs may have additional guidelines, but is silent about subrepositories.

Add clarifying language that contributors should double check if the particular repository they're contributing to has additional req

[2018-02-21 19:07] idvoretskyi commented on #1666
PTAL @spiffxp

[2018-02-21 19:21] alessbn commented on #1256
Hi @nikhita
I submit my PR, could you review it?

[2018-02-21 23:06] rramkumar1 opened #1837 "sig-network needs clearly defined roadmap for Alpha -> Beta -> GA"
Currently, there seems to be no set of standards that need to be met to promote a feature from alpha to beta and then to GA. We should create a document and make sure that feature developers are aware of the requirements before pushing their feature on to the next stage.

/sig network
/assign

[2018-02-22 00:23] #1797 closed

[2018-02-22 16:41] #1793 closed

[2018-02-22 18:16] #1256 closed

[2018-02-22 19:18] castrojo commented on #1819
Ok I feel like this is taking too long and is starting to block work, for each of the three issues brought up:

- Let's just do a separate site, contributors.k8s.io
- From running a `tree` in the community repo we should probably surface/generate:

[code]

And then each sig and wg has a directory that we should probably generate so that each SIG and WG has a "home page" for end users.

[2018-02-22 20:24] castrojo commented on #1665
Fixing with:

https://github.com/kubernetes/community/pull/1827
https://github.com/kubernetes/website/pull/7472

[2018-02-22 20:25] castrojo commented on #1665
@parispittman Do we have access to edit this text?

https://groups.google.com/forum/#!forum/kubernetes-community-video-chat

[2018-02-22 20:36] castrojo commented on #1514
See also: https://docs.google.com/document/d/1WVobATuodV0T3F22CXhsdYpOk5K7D-uKO9j-0QUuLdU/edit#heading=h.2oi459gj6360

[2018-02-22 21:16] zacharysarah commented on #1726
@grodrigues3 👋 I added the import script to SIG Docs' upcoming deep dive for Hugo migration.

[2018-02-23 00:38] #1820 closed

[2018-02-23 01:22] #1212 closed

[2018-02-24 12:54] mingfengwuye opened #1851 "Is there any other example for Device Plugin excluding nvidia's k8s-device-plugin?"

[2018-02-26 15:07] castrojo commented on #1851
Please use [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) for this, thanks!

[2018-02-26 15:07] #1851 closed

[2018-02-26 15:07] #1826 closed

[2018-02-26 23:23] mindprince commented on #1851
https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#nvidia-gpu-device-plugin-used-by-gkegce

[2018-02-27 20:13] castrojo opened #1863 "SIG working document needs to reflect governance updates"
Here's how SIGs are currently being run: https://github.com/kubernetes/community/blob/master/sig-governance.md

And here's the new governance: https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance-requirements.md

We need to make sure that the working document matches the intended governance, and put it in a place where SIG leads can find them, ideally cr

[2018-02-27 20:15] castrojo commented on #1863
/sig contributor-experience
/assign

[2018-02-28 18:58] parispittman commented on #1819
We haven't heard from LF and I believe this to be a priority for surfacing docs and creating a centralized point for contributors. Let's go.

+1 - happy to be an approver; @jbeda , @castrojo - pls be reviewers. This is my first KEP, too, so help with process would be great @jbeda

/lgtm

[2018-02-28 21:54] jbeda commented on #1819
Thanks!

I'll put a PR in to add you as approver and Jorge as a reviewer.

I'll then open another PR (hopefully tomorrow) that starts filling in some details.  Once we are happy (probably a couple more PRs) we can move it to `implementable`.

[2018-03-01 03:43] kow3ns opened #1869 "update sig-apps ownership after modification to owners files"
#1868 updates the sigs.yaml to include the correct portions of the code base owned by SIG Apps. There are a few remaining deficiencies.

- The integration test directory for ReplicationController and ReplicaSet have no OWNERS file.
- We have to figure out if/how we can indicate that sig-apps owns only the PodDistruptionBudget kind in the policy group.

[2018-03-01 03:44] kow3ns commented on #1869
/assign kow3ns

[2018-03-01 03:44] kow3ns commented on #1869
/sig apps

[2018-03-03 08:41] nikhita commented on #505
I guess this is still relevant.

/remove-lifecycle rotten

@castrojo Not sure if this is being tracked elsewhere (for the contributor guide). If it is, please feel free to close it. :)

[2018-03-03 08:42] nikhita commented on #892
/remove-lifecycle stale

[2018-03-03 08:45] nikhita commented on #1229
/remove-lifecycle rotten
/cc @jdumars

[2018-03-03 08:46] nikhita commented on #1229
related https://github.com/kubernetes/community/issues/1760

[2018-03-03 08:47] nikhita commented on #670
/remove-lifecycle rotten

Still relevant.

[2018-03-03 08:56] nikhita commented on #1204
Usually, we suggest using two clientsets as in https://github.com/kubernetes/sample-controller/blob/master/controller.go#L89 and don't suggest modifying the generated code.

However, if you would still like something like this, please open an issue against https://github.com/kubernetes/kubernetes to discuss in detail since this isn't related to kubernetes/community (sorry for the trouble!).

Closi

[2018-03-03 08:56] #1204 closed

[2018-03-03 09:02] nikhita commented on #994
/remove-lifecycle rotten

Including the following information in the docs can be useful:

- a separate cherry pick needs to be created against each branch
- set the milestone to the oldest branch
- cc the patch manager for each release (with info about who the person is). This is really needed because unless you are highly involved in the project, it isn't easy to find who the patch manager is.

[2018-03-03 09:02] nikhita commented on #1760
ref https://github.com/kubernetes/community/issues/994. We should also include some more information in the doc.

[2018-03-03 09:04] nikhita commented on #1213
/remove-lifecycle rotten

I think the same goes for docs for updating dependencies. We need to commit the changes before update deps for staging.

https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md#saving-deps-in-staging-repos

[2018-03-03 09:05] nikhita commented on #992
/remove-lifecycle stale

[2018-03-03 11:02] erikbgithub commented on #505
I also think it's still relevant, but I've moved on to Openshift, so I'm not really in the know anymore and will unsubscribe. Thanks for continue to working on it, though. Documentation is always one of the hardest parts.

[2018-03-03 11:12] nikhita commented on #1824
+1. More explicit details in https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md would be really, really helpful.

I've usually gotten the feedback that people don't want to go to each dependencies' page and checkout the install process. They usually expect "do this, this and this and boom - you are done!". Hopefully accomplishing this is feasible enough (have

[2018-03-03 11:13] nikhita commented on #1824
ref https://github.com/kubernetes/community/issues/505#issuecomment-324139042

[2018-03-03 11:25] nikhita commented on #1321
/remove-lifecycle rotten

[2018-03-03 12:32] liggitt commented on #994
Those seem like excellent tasks for the bot. /cc @kubernetes/sig-contributor-experience-feature-requests

[2018-03-03 17:15] nikhita commented on #1613
@fanzhangio Are you still interested in working on this? :)

[2018-03-03 17:16] nikhita commented on #1538
@vbmade2000 Are you still interested in working on this?

[2018-03-03 22:12] nidorano commented on #1613
Hi! I would like to work on this issue. If I understand correctly, the idea is to have something like in [here](https://github.com/kubernetes/community/blob/master/CONTRIBUTING.md), isn't it?

[2018-03-03 22:38] spiffxp opened #1881 "disable reviewable for kubernetes repos that don't use it"
Discussion here: https://groups.google.com/forum/#!topic/kubernetes-dev/0RhWYvxW2XI

https://reviewable.kubernetes.io/repositories claims it's enabled for
- kubernetes/client-go (doesn't make sense, PR's to this repo aren't accepted)
- kubernetes/contrib
- kubernetes/frakti
- kubernetes/gengo
- kubernetes/git-sync
- kubernetes/heapster
- kubernetes/helm (no webhook)
- kubernetes/ingress-nginx
- ku

[2018-03-03 23:03] spiffxp commented on #1881
/sig contributor-experience
/assign

[2018-03-03 23:42] spiffxp commented on #1881
Based on [this query](https://github.com/pulls?utf8=%E2%9C%93&q=%22unresolved+discussions%22++is%3Apr+user%3Akubernetes+sort%3Aupdated-desc+-repo%3Akubernetes%2Fwebsite+-repo%3Akubernetes%2Fkubernetes+) of PR's, gengo also recently used a reviewable review.  Other uses of reviewable date back to Oct 2017.

I used the reviewable UI at https://reviewable.kubernetes.io/repositories to disable reviewa

[2018-03-03 23:51] spiffxp commented on #1881
/assign thockin
I probably need @thockin's help to troubleshoot why it's not working for k/k if there is a desire to use it there.  I'm guessing it must have stopped working a few months back and we just never noticed.

[2018-03-04 03:14] nikhita commented on #1613
@nidorano Yes, linking to that document and removing any duplicate information. :+1:

[2018-03-04 03:45] vbmade2000 commented on #1538
@nikhita Apology for delay. Thanks for reminder. I'll create PR asap.

[2018-03-04 03:53] vbmade2000 commented on #1538
I think it requires corrections in more than sig-list.md

[2018-03-05 14:53] MikeSpreitzer commented on #994
I am a newbie and I have this question.  https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md still does not answer it.  There should be clear step-by-step instructions for a contributor.

[2018-03-05 15:00] MikeSpreitzer opened #1894 "Other unanswered questions in cherry-picks.md"
I made a PR against the master branch of kubernetes, and it needs to be cherry-picked to some older releases.  I have read https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md but it leaves me with some questions.

cherry-picks.md says, in the section on "Propose a Cherry Pick", that "Cherrypicks are managed with labels and milestones", and the last part is a hype

[2018-03-05 15:01] MikeSpreitzer commented on #1894
@kubernetes/sig-contributor-experience-bugs

[2018-03-05 17:33] cblecker commented on #1894
cc: @spiffxp

[2018-03-05 17:33] cblecker commented on #994
cc: @spiffxp

[2018-03-05 18:47] thockin commented on #1881
I disabled the integration for all.  Given that it wasn't working, I have a hard time claiming it is needed.

[2018-03-05 18:47] #1881 closed

[2018-03-05 18:48] #1821 closed

[2018-03-05 19:41] castrojo commented on #1819
TODO: I need to PR scope and maintenance plan.

[2018-03-05 23:26] rramkumar1 commented on #1837
Update: Will try to discuss using [KEP](https://github.com/kubernetes/community/blob/master/keps/0000-kep-template.md) for this SIG at the next meeting.

[2018-03-06 05:15] pipejakob commented on #564
Hey @castrojo, are you looking for feedback for your draft? Are you still owning this action item?

[2018-03-06 15:14] castrojo opened #1899 "Umbrella issue for reviews"
This tracks issues/content for the "How to do reviews the Kubernetes Way" section of the contributor's guide:

Known Docs:
- [Tim’s (thockin) Live Code Review](https://docs.google.com/document/d/1WVobATuodV0T3F22CXhsdYpOk5K7D-uKO9j-0QUuLdU/edit#heading=h.2oi459gj6360)
- Clayton's Review Notes will go here.
- [BPs for better, faster reviews](https://github.com/kubernetes/community/blob/master/contr

[2018-03-06 15:15] castrojo commented on #1899
/sig contributor-experience
/area contributor-guide

[2018-03-06 16:26] parispittman commented on #1899
Note - we are scheduling Clayton for an API live code review session. We will have those notes to add, too.

[2018-03-07 10:35] traghave opened #1902 "Support client certificate revocation"
Need help regarding revoking a already issued client certificates.

Steps to reproduce:

1. I added the groups information in the idtoken of oidcUser1 and configured the same groups
using "--oidc-groups-claim" in kubernetes

2. I've created created client certificate and key for use with kubectl.
[code]
which works fine with
kubectl config set-credentials oidcuser --client-certificate=oidcuser.pem

[2018-03-07 10:42] traghave commented on #1902
/help

[2018-03-07 17:35] cblecker commented on #1902
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-03-07 17:35] #1902 closed

[2018-03-08 12:28] emailtovinod opened #1906 "No default iptable rule to allow incoming traffic to port 6443 on master (Kubernetes 1.9.3)"
** BUG REPORT**:

 /kind bug
@sig/cluster-lifecycle/kubeadm

**What happened**:

While deploying kubernetes v1.9.3 cluster using `kubeadm` on Centos 7.4, nodes couldn't reach master API on port 6443.

The command  `# kubeadm join --token 32fcfd.d1eec8c99efe1cfb 10.0.32.140:6443 --discovery-token-ca-cert-hash sha256:6931045ca75e9a9deb08b616467367d5e5d91185adb9bae3455c7b3d68f97800`  on nodes showing

[2018-03-08 19:37] cblecker commented on #1906
@emailtovinod Would you mind reopening this bug against the kubeadm repo? Thank you!

https://github.com/kubernetes/kubeadm/issues/new

/close

[2018-03-08 19:37] #1906 closed

[2018-03-08 23:32] lavalamp opened #1913 "Subprojects in sigs.yaml will be instantly out of date"
Anytime anyone moves a directory, the entry in sigs.yaml will suddenly be wrong.

Wouldn't it make more sense for OWNERS files to instead declare the owning sig and subproject, and then we generate sigs.yaml from that?

[2018-03-08 23:33] lavalamp commented on #1913
Not sure who to tag-- maybe @spiffxp ?

[2018-03-08 23:37] cblecker commented on #1913
/sig contributor-experience

yeah, there are some updates that are going to have to be made to the generator to accommodate the new structures in https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance-template-short.md

[2018-03-11 04:22] YoginthS opened #1918 "Add me to bower kubernetes Org"
Add me to bower kubernetes Org, Know about me https://yoginth.ml

[2018-03-11 05:40] cblecker commented on #1918
Hello,
More information about the requirements to become an org member are available here: https://github.com/kubernetes/community/blob/master/community-membership.md

/close

[2018-03-11 05:40] #1918 closed

[2018-03-11 22:21] ryanj opened #1919 "Umbrella issue for developer's guide updates"
As per kubernetes/website#6102, and #1413 we need a developers' guide that is easily found, complete, and organized logically.

I'll plan on documenting next-steps in this umbrella issue.

[2018-03-11 22:22] ryanj commented on #1413
Thanks to @guineveresaenger for showing me this issue. I've created a similar umbrella issue for documenting planned updates to the Developer guide (#1919)

[2018-03-11 22:30] ryanj commented on #1756
Duplicate issue #1919 (@ryanj)

[2018-03-12 08:06] meysam001 opened #1920 "How to pass parameters in Kubernetes API [question]"
The [document](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/resource-metrics-api.md) have said:

How to pass the parameters in Kubernetes API?

I tried the following URL that it didn't work:
`http://localhost:8080/apis/metrics.k8s.io/v1beta1/pods?window=1d`

@mbohlool
/sig api-machinery

[2018-03-12 16:16] idvoretskyi commented on #1919
cc @kubernetes/sig-docs-maintainers

[2018-03-12 17:20] spiffxp opened #1922 "Deprecate kubernetes-incubator in favor of kubernetes-sigs"
/committee steering
/sig contributor-experience
/assign
ref: kubernetes/test-infra#7184

We have https://github.com/kubernetes/community/blob/master/kubernetes-repositories.md sorta spelling out kubernetes-sigs, and we have https://github.com/kubernetes/community/blob/master/incubator.md spelling out kubernetes-incubator.

There's been lots of mailing list and meeting talk about deprecating incuba

[2018-03-12 23:32] zacharysarah commented on #1919
@idvoretskyi :+1:

[2018-03-12 23:32] parispittman opened #1924 "ContribEx SIG Leadership Composition Changes"
Per the new charter template guidance from the Steering Committee, this issue is to change the following after we need to gain consensus via mailing list:
- [] README.md
- [] sigs.yaml
- [] anything else?

Changing SIG Lead title to Chair:
@Phillels and @parispittman

Nominating @cblecker to Technical Lead
Moving @grodrigues3 to Technical Lead from SIG Lead

Declaring subproject owners:
SIG Planni

[2018-03-12 23:37] parispittman commented on #1919
Thanks for this, @ryanj

/sig contributor-experience

[2018-03-13 00:35] #159 closed

[2018-03-13 00:35] #350 closed

[2018-03-13 00:35] #455 closed

[2018-03-13 00:35] #468 closed

[2018-03-13 01:36] #709 closed

[2018-03-13 06:08] #1920 closed

[2018-03-14 05:18] ryanj commented on #1919
Looking into these first:

- [ ] Establish a top-level Readme
- [ ] adding-an-APIGroup.md - Should be part of developer guide
- [ ] api-conventions.md - Should be part of developer guide
- [ ] api_changes.md - Should be part of developer guide
- [ ] architectural-roadmap.md - Should be part of developer guide and/or SIG Arch
- [ ] include links to examples and step-by-step guides

[2018-03-19 09:05] anubhakushwaha opened #1941 "Link broken"
Under `community/contributors/design-proposals/api-machinery/aggregated-api-servers.md` the link under [storage](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/aggregated-api-servers.md#storage) for directing to `third party resources` is broken.

[2018-03-19 09:07] anubhakushwaha commented on #1941
I guess it has already been sent in PR #1940  Closing.

[2018-03-19 09:07] #1941 closed

[2018-03-19 18:07] rramkumar1 commented on #1837
Update: Discussed at SIG Network meeting. Everyone seems on board. Next step is to write a retroactive kep or two to act as a benchmark for the future. Plan is to write one for IPVS and CoreDNS.

[2018-03-19 20:41] jdumars commented on #1924
Approving @cblecker to the SIG-Leads group per this thread.

[2018-03-19 21:18] #1924 closed

[2018-03-20 22:05] heckj commented on #1919
I think there would be a lot of value (and positive uptake, as well as inevitable bike-shedding) on having an example walk-through on  "how to set up a dev environment, compile the code, run the tests, and see the tests pass". This doesn't exist to my experience, or is heavily tribal knowledge, and may even vary quite significantly between subprojects within Kubernetes (i.e. kubernetes/helm vs. ku

[2018-03-21 01:53] carlolm opened #1948 "[bug] Stateful Set: Dynamic Provisioning of PV/PVC"
## Objective
Create pods with persistent volumes to store large amounts of data that is regularly synced.  The data should persist even if the other modules of the pod are changed or updated.  If a persistent volume is made inactive (for example, scaling down or when restarting the stateful set), when it is re-mounted again by another/new pod, data syncing should resume from when the persistent wa

[2018-03-21 01:57] carlolm commented on #1948
@msau42

[2018-03-21 02:05] msau42 commented on #1948
/assign

I'll try to reproduce with a simpler stateful set example

[2018-03-21 02:06] msau42 commented on #1948
/sig storage

[2018-03-21 02:25] liggitt commented on #1948
thanks for the bug report, but please file it against https://github.com/kubernetes/kubernetes/issues

[2018-03-21 02:29] carlolm commented on #1948
@liggitt noted. Actually I've resolved the issue, there were some errors in the path references. I've got it working now

[2018-03-21 02:29] #1948 closed

[2018-03-21 14:39] akshaymankar opened #1954 "setting up e2e environment is not compatible with LibreSSL"
I was trying to run `go run hack/e2e.go -- --up` and I got this error:

[code]
I am using MacOS High Sierra (10.13.3). The default `openssl` binary points to LibreSSL, which is not compatible with easyrsa. I had to `export PATH=/usr/local/Cellar/openssl/1.0.2n/bin:$PATH` before continuing.

[2018-03-21 14:40] akshaymankar commented on #1954
/sig testing

[2018-03-21 18:47] parispittman commented on #1919
@carlpett - appreciate if you could list some of those missing pieces here so we can make sure to include/address. thanks for the help!

[2018-03-21 18:47] carlpett commented on #1824
Having just gone though this process myself - yes, something clearer would be very helpful! I didn't really want to risk my entire laptop by running my own poorly understood code as root (wanted to make a change in storage-related bits), so I ended up using Vagrant to have a disposable cluster VM.
This approach is sort of implied in the docs, they mention minikube but not really how to get your bu

[2018-03-21 19:59] carlpett commented on #1919
Of course!

This is in "chronological order of surprise" from the last few days :)

- *Import paths:* `k8s.io/X` maps to `github.com/kubernetes/kubernetes/staging/X`. This is then found by the compiler because there are symlinks in vendor/k8s.io. Unexpected to someone used to Golang. (This is documented in `staging/README.md`, but you'll only find that if you know what you are looking for)
- *Maki

[2018-03-21 23:44] jberkus opened #1959 "Create "good first issue" label"
The way it is now:

We have the "help-wanted" label, which according to [its description](https://github.com/kubernetes/community/blob/15b507ad2f38b5943bc03d0362416c6483665c28/contributors/devel/help-wanted.md) should cover issues which are suitable for work by novice contributors. However, that's not how that label is being used; instead, it's being used for issues which are not making progess be

[2018-03-21 23:46] cblecker commented on #1959
/sig contributor-experience

[2018-03-22 15:20] guineveresaenger commented on #1959
Is someone working on adding the prow command? I’d like to volunteer for that part if no one’s doing it yet...

[2018-03-22 15:44] cblecker commented on #1959
Some thoughts:
- "We could try to change member's behavior in using the "help wanted" tag, but that seems unlikely to be successful." - This shouldn't be a driver. I think we need to set clear guidelines on what "help wanted" should be, and then circulate it far and wide. Same with "good first issue", if we add it.
- I'm in favour of a new "good first issue" label, but only in the case that we can

[2018-03-22 15:46] cblecker commented on #1959
@guineveresaenger As far as the automation piece, I don't think anyone is working on it. Once we get to the point where we're ready to implement, it's all yours!

[2018-03-23 14:43] nikhita commented on #1959
For the documentation of the `help-wanted` label, we can remove "Tractable for new/casual contributors" from the docs and keep the rest same as it is.

For documenting `good first issue`:

---

**Good First Issue**

Items marked with the `good first issue` label should be tractable for new contributors and need to ensure that they follow the guidelines for `help wanted` labels (link) and _addition

[2018-03-23 14:44] nikhita commented on #1959
From https://github.com/kubernetes/community/issues/860,

@cblecker Does something like this exists already?

[2018-03-23 18:49] parispittman commented on #1959
@nikhita I think explicitly requiring mentorship may deter folks from using the label if they don't have time themselves to handle.

I also see good-first-issue as something that implies help-wanted already so needing both would be duplicate, imo. Help-wanted should imply anyone other than a first time contributor because it may be too complex or would most definitely need guidance from another hu

[2018-03-23 19:41] php-coder opened #1965 "Improve docs for generators"
Documentation for generators could be improved by explaining more details about how it works.

**Steps to reproduce:**
- Read https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#generate-clientset
- Read https://github.com/kubernetes/community/blob/master/contributors/devel/generating-clientset.md
- Try to move internal types from one API group to another

**Expec

[2018-03-26 02:13] ZouRui89 opened #1968 "What is the difference between node e2e test and e2e test?"
I have read their related docs about node e2e test and e2e test, but have not figured out the difference. Could you tell me about it?

[2018-03-26 02:15] chrislovecnm commented on #1968
All of that is deprecated. Take a look at kubetest in the test-infra project. e2e is just a shim now.

I would file issue in that repo and ask on #sig-test on slack,

[2018-03-26 02:15] chrislovecnm commented on #1968
/sig test

[2018-03-26 02:16] chrislovecnm commented on #1968
/sig testing

[2018-03-26 19:13] nikhita commented on #1959
Fair point, @parispittman. :+1:

[2018-03-26 21:00] tpepper opened #1971 "possible relnotes improvements"
While reviewing the draft 1.10 release notes I had the following thoughts for future enhancements:

* add a table of contents:  this does appear to happen as they render elsewhere later in the publication flow, but would make some aspects of review easier on this very long document
* add a security section (could relate to issue #1568 to have a special notation so these are easily queried for the

[2018-03-26 22:50] rramkumar1 commented on #1837
CoreDNS KEP is out for review (#1956). Closing this issue now that it looks like we are going to adopt KEP.

[2018-03-26 22:50] #1837 closed

[2018-03-27 13:40] php-coder commented on #1965
My initial problem was resolved by manually removing some files. IMHO we still need more detailed documentation.

[2018-03-27 18:34] chrislovecnm opened #1976 "Improve Documentation - What is a sig and what the sigs are"
/sig contribex

I would love to see a document that basically can guide a new member to what sigs they should attend.  Elevator pitch for each sig, and a blurb about what a sig is.

https://github.com/kubernetes/community/blob/master/sig-list.md

I think is all we have now, but to a new user wth is this sig actually do.  Big question.

[2018-03-28 17:17] idvoretskyi commented on #1407
@mattfarina is it effectively fixed by https://github.com/kubernetes/community/pull/1923?

[2018-03-29 10:04] sttts commented on #1965
@php-coder which files did you remove?

[2018-03-29 10:17] php-coder commented on #1965
- `pkg/client/listers/extensions/internalversion/podsecuritypolicy.go`
- `pkg/client/informers/informers_generated/internalversion/extensions/internalversion/podsecuritypolicy.go`
- `pkg/client/clientset_generated/internalclientset/typed/extensions/internalversion/podsecuritypolicy.go`
- `pkg/client/clientset_generated/internalclientset/typed/extensions/internalversion/fake/fake_podsecuritypolicy.

[2018-04-01 07:54] nikhita commented on #1976
/sig contributor-experience

[2018-04-01 12:45] nikhita commented on #1959
Just noticed that `kubernetes/kubectl` uses a `good first issue` already - https://github.com/kubernetes/kubectl/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22.

[2018-04-02 17:32] castrojo commented on #1759
Ok we've made it easy for people to subscribe to the community meeting and now have updated instructions on k8s.io/community, which point here: https://github.com/kubernetes/community/blob/master/events/community-meeting.md

Sharing from SIGs is more complicated than I'd like but we can't seem to find a simpler way. At least for end users it's much easier, so closing this.

[2018-04-02 17:32] #1759 closed

[2018-04-02 23:14] jbeda opened #1997 "Rationalize governance.md, sig-governance.md and committee-steering/governance"
There is a lot of overlap across these.

@kubernetes/steering-committee

See also #1986 and #1994.

[2018-04-02 23:19] cblecker commented on #1997
/committee steering

[2018-04-02 23:20] cblecker commented on #857
This label is being deprecated.
/close

[2018-04-02 23:20] #857 closed

[2018-04-02 23:22] jbeda commented on #1997
What do y'all think about moving all of this into /governance/*?

@pwittrock?

[2018-04-02 23:34] #1822 closed

[2018-04-03 14:06] MHBauer commented on #691
/remove-lifecycle stale

/lifecycle frozen

[2018-04-03 16:40] bgrant0607 commented on #1997
SGTM.

The docs in committee-steering aren't very discoverable, I've found.

Originally the content of sig-governance.md (and some of the other docs, like community-membership.md) were all in governance.md, and then were broken out. Now more content is being added to governance.md.

[2018-04-03 19:07] castrojo opened #1999 "Umbrella issue for Community Maintenance tasks"
This is a list of things we should audit, see https://github.com/kubernetes/community/blob/master/sig-contributor-experience/community-maintenance.md for more details.

Feel free to assign yourself to a section

### Slack
Assignee: @parispittman

- [x] Channels - Anything out of place or not following the guidelines?
  - [x] Close unused channels.
  - [x] Check to see if there is a purpose, pinned

[2018-04-03 19:18] mattfarina commented on #1407
I think this can be considered closed now. Any additional changes can happen separately from this issue.

/close

[2018-04-03 19:18] #1407 closed

[2018-04-03 19:26] spiffxp commented on #857
/assign
Base on the query: [is:pr user:kubernetes label:"cla: human-approved" -label:"cncf-cla: yes"](https://github.com/issues?utf8=%E2%9C%93&q=is%3Apr+user%3Akubernetes+label%3A%22cla%3A+human-approved%22+sort%3Aupdated-desc+-label%3A%22cncf-cla%3A+yes%22)
- this was used 14 times in the last year
- there is only one open PR with it that's going to be closed and done against another repo

So whi

[2018-04-04 00:10] bgrant0607 commented on #1999
And mailing list moderation, if that lands in contrib X.

I can't right now, but ping me next week, and I'll add more things to these lists.

[2018-04-05 05:42] #564 closed

[2018-04-05 19:49] pwittrock commented on #1997
@jbeda That SGTM.  I am OOO through Wednesday so don't block on me.

[2018-04-06 10:43] m0uj commented on #992
/close

[2018-04-06 20:08] justaugustus opened #2012 "CLA "edge cases" and how to approach them"
Howdy! I wanted to open this up in `k/community`, but there's also a superset-ey, omnibus issue around CLAs in kubernetes/kubernetes#27796.

I'm not sure if this is the best place to discuss this, but some interesting cases for contributors are when they:
- transition from individual contributor to employee contributor (or vice versa)
- transition to another company e.g., Red Hat acquisition of Co

[2018-04-06 21:34] parispittman commented on #1976
This is documented here -> https://github.com/kubernetes/community/blob/master/governance.md

There is work going on in several issues, #1986 #1994 , et al around sig process, wg defintion, etc. and once that is complete, we will rework the top of the sig list doc to add better discoverability to those definitions once they are set. @chrislovecnm - ok to close knowing this?

[2018-04-06 22:01] jberkus commented on #1959
@cblecker

In 20 years of open source development, I've found that you only attempt to change people's habits when there's a large benefit to be delivered thereby.  It's very, very hard to do.

[2018-04-06 23:09] jberkus commented on #1579
@cblecker you opened a PR for this, then closed it.  How were you planning to proceed from here?  I'd like to get this settled.

[2018-04-06 23:43] jberkus opened #2013 "Add several already-in-use kind labels to official list"
The following kind/ labels are already in wide use in the project, have meaning, and as such should be available in the official master list of labels:

* kind/cleanup: A refactoring, API reorganization, dependency version upgrade, or other "maintenance" code change.
* kind/design: Specifications, API designs, plans for new components and APIs.
* kind/api-change: changes to an existing API, import

[2018-04-06 23:47] jberkus commented on #2013
/sig contribex
/sig test-infra

[2018-04-06 23:52] jberkus commented on #2013
/sig contributor-experience

/sig test-infra

[2018-04-07 01:03] dankohn commented on #2012
We're in the process of finishing development of an open source replacement for the CLAbot. It will still have corner cases where you'll need to escalate things to the helpdesk, but hopefully less over time.

I'd suggest reaching out to @alanapost who is the product manager for the development. I can connect you by email if you email me. In general, we'd be happy to hear your use case and see if w

[2018-04-07 18:22] spzala opened #2014 "Lable kind/support should be renamed to triage/*"
We now have a series of triage labels towards identifying and closing issues that do not need an actual fix. These labels also provides a way to measure such issues. https://github.com/kubernetes/test-infra/pull/7554
Since kind/support is for issue triage it should be renamed with prefix triage and have it as part of triage series of labels e.g. rename it to triage/support-request. We had some dis

[2018-04-08 09:26] dorshay6 commented on #876
Any news?

[2018-04-09 05:04] davidopp commented on #566
FWIW, a rant on (against) feature branches:
http://www.davefarley.net/?p=247

[2018-04-09 10:17] idvoretskyi commented on #567
/remove-lifecycle stale

[2018-04-11 03:26] parispittman opened #2028 "Moderation docs for mailing lists"
Contributor Experience is going to take on the moderation of non-sig/wg community mailing lists. This includes k-dev and k-users. We need to write down some basic moderation guidelines for it - the how, who, and what we do. One of two things: 1-new file under /communication for this or 2-combine with slack guidelines for a main moderation doc.

/sig contributor-experience

[2018-04-11 03:39] parispittman opened #2029 "Documentation: Sunset procedures for SIGs/WGs"
We should have documentation on the why and how to dissolve a SIG/WG, turn a WG into a SIG (or vice versa), combining efforts, etc. #2025 inspired this as we have a few more areas to fix/remove/modify.

The why should come from steering? (I could have glanced over the why in one of the new governance docs) The how could come from contribex.

/sig contributor-experience
/steering

[2018-04-11 03:41] parispittman commented on #2029
/committee steering

[2018-04-11 07:14] zcahana commented on #1582
Agree, multiple apiservers make it more difficult. Do the current benchmarks run in a multiple-masters setup?

[2018-04-11 07:16] wojtek-t commented on #1582
Some of them will be running soon.

[2018-04-11 13:01] jamiehannaford commented on #359
/remove-lifecycle stale

[2018-04-11 16:26] castrojo opened #2030 "SIG Onprem needs to finish converting to a WG"
The slack channel and notes are up to date but `sigs.yaml` needs to be updated, as well as removing the github labels.

/cc @marcoceppi
/cc @dghubble
/sig onprem

[2018-04-11 17:19] jberkus commented on #1959
Seems like we have a definitinion for this and no real objections.  Is there anything blocking moving foward (PR and kubernetes-dev discussion)?

[2018-04-11 17:42] dghubble commented on #2030
https://github.com/kubernetes/community/pull/2025

[2018-04-11 18:19] cblecker commented on #1959
@jberkus No, I don't think so!
Suggested path forward:
- PR to k/community updating the help-wanted.md with the proposed definitions
- Send PR to k-dev with a timebox for feedback/consensus
- PR to k/test-infra to add the label
- PR to k/test-infra to add the command

[2018-04-11 18:26] castrojo opened #2031 "Umbrella issue to sunset SIG Cluster Ops"
We actually don't have a process documented for how to turn a SIG into a WG, I suspect it's just a bunch of renaming, but filing this in github so that we can gleam info and write it down.

Also not sure if Cluster Ops wants to move into the On Prem WG, or roll up under SIG Cluster Lifecycle.

https://github.com/kubernetes/community/issues/2029

/cc @zehicle
/sig cluster-ops

[2018-04-11 18:29] spiffxp commented on #2031
From a github label perspective we can either migrate sig/cluster-ops to sig/cluster-lifecycle or get rid of it. Let me know what you decide.

[2018-04-11 18:45] spiffxp commented on #1922
https://github.com/kubernetes/community/pull/1979 calls incubator deprecated

[2018-04-11 18:59] jberkus opened #2032 "Tracking Issue: Normalize Kind Labels"
There are several issues open regarding Kind labels.  This is a tracking issue to track all of them across the project so that people can visualize what the end result will be.

Issues:
* #2014 Lable kind/support should be renamed to triage/
* #1579 Propose replacing github label priority/failing-test with kind/failing-test
* #2013 Add several already-in-use kind labels to official list

Some gene

[2018-04-11 19:12] jberkus commented on #2032
/sig contributor-experience

[2018-04-11 21:11] BenTheElder commented on #2032
kind/bug and kind/failing-test seem to commonly overlap since tests fail due to bugs somewhere, why would failing-test not be a priority label still?

[2018-04-11 21:18] cblecker commented on #2032
"bug" tells me that there is a bug in the kubernetes code base somewhere. "failing-test" can be for a bug, but it can also be a test-infra issue, or an external dependency issue unrelated to a bug in the code base.

[2018-04-11 21:31] cblecker commented on #2032
I don't understand this. Could you explain?

[2018-04-11 21:51] BenTheElder commented on #2032
The existing label is pretty heavily used, so switching it will artificially split up issues / PRs into the old label and the new.

[2018-04-11 22:13] jberkus commented on #2032
So?  That's true of any label change.  If that's a winning argument, then we can never change any labels ever.  The answer to this is to have a bot reassign for currently open issues and PRs.

@spiffxp's issue on this explains the problems with priority/failing-test:

1.  Issues are supposed to have only one priority, but "failing test" always needs to be accompanied by other priorities, and is th

[2018-04-11 22:16] jberkus commented on #2032
Here's a good example of why priority/failing-test is a failure as a label:  https://github.com/kubernetes/kubernetes/issues/61645#issuecomment-376333161

In that issue, it's not even used, and the way we track that it's a failing test is by "[test fail]" in the issue title.  When folks start resorting to adding ad-hoc tagging to long text fields, labelling isn't working.

[2018-04-11 22:28] BenTheElder commented on #2032
It definitely *is* true of any label change, and I do think most label changes cause unnecessary churn and confusion FWIW, so I'd prefer strong justification for changing any labels. This is a label we search for and catalog as humans, the bots don't and probably shouldn't care about this label.

The justification from @spiffxp SGTM, but I do want to mention that we still have somewhat awkward ove

[2018-04-11 22:30] BenTheElder commented on #2032
To clarify I want to see this change overall and love seeing less labels(!) -- I'm not asking to block anything, I'm just raising some concern that those two kind labels will likely continue to be poorly conflated and imho probably raise the likelihood that test failures are only labeled as bugs.

[2018-04-11 22:31] cblecker commented on #2032
@BenTheElder the label sync tool migrates the label. So renaming it doesn't impact current issues/PRs that use the old label.

[2018-04-12 03:12] grantbow opened #2037 "godep moved"
`kubernetes/community/contributors/devel/development.md` line 156 is
`Kubernetes uses [`godep`](https://github.com/tools/godep) to manage`

`tools/godep/Readme.md` says to use `golang/dep` for go 1.9 and above.

/sig contributor-experience
/area contributor-guide

[2018-04-12 05:25] arashadahamad opened #2038 "[hpa] hpa is creating pod > then max size on kube 1.7"
hpa is creating pod > max size on kube 1.7.

Observation:
This is due to getting <unknown> metrics from heapster,

Expected:
hpa should not create more pod in case of <unknown> metrics

output
$kubectl get hpa
ghost-api-autoscale             Deployment/ghost-api             199% / 45%        3         20        6          20h
ghost-tags-autoscale            Deployment/ghost-tags            unknown

[2018-04-12 16:18] cblecker commented on #2037
We do currently use godep. godep and dep are completely different utilities, and we have not yet migrated from godep to dep. Not a documentation issue.

[2018-04-12 16:18] #2037 closed

[2018-04-12 18:33] BenTheElder commented on #2032
This might actually make sense. From my point of view a "low priority failing test" doesn't really make sense. What good are tests if we're content to let them fail?
We should fix or eliminate failing tests, otherwise we're just teaching people to ignore them and wasting resources...

[2018-04-12 19:02] jberkus commented on #2032
No, but I can see having a failing test be priority/important-soon or priority/important-longterm instead of priority/critical-urgent, depending on the test.  For example, new tests for alpha features just aren't critical-urgent when they fail; part of the feature getting to beta is having good tests, but we don't expect the developers to fix the tests on a 48hours-or-less basis.

[2018-04-13 15:24] shubheksha opened #2043 "Add link to relevant code tree(s) for each SIG"
It'll be very helpful to have a link to the code tree(s) from the repo(s) in the readme for each SIG to specify what part of the code they're responsible for.

[2018-04-13 15:24] #2030 closed

[2018-04-13 15:26] shubheksha commented on #2043
/sig contributor-experience

[2018-04-13 15:45] shubheksha commented on #2043
As an addition, food for thought: would it make sense to add the open issues/PRs as well? Those are relatively easier to find compared to the code tree, but can be useful!

[2018-04-14 05:13] grantbow commented on #2037
I thought that might be the case, thank you very much for the clarification here. It might be able to describe this more clearly for newcomers like me who don't understand when they first see this. My first quick read of the information gave me a different impression. Then I reread it.

[2018-04-14 23:36] johnarok commented on #1594
Submitted PR #2047 to add the note to testing.md

[2018-04-15 22:59] cblecker commented on #2037
@grantbow Feel free to open a PR to improve the wording. I'd gladly review it :)

[2018-04-17 02:05] mengqiy commented on #1007
/remove-lifecycle stale
/lifecycle frozen

[2018-04-17 03:48] nikhita commented on #155
/remove-lifecycle stale
/lifecycle frozen

[2018-04-17 03:49] nikhita commented on #357
/remove-lifecycle stale
/lifecycle frozen

[2018-04-17 13:57] castrojo commented on #2028
Something like this perhaps: https://support.mozilla.org/en-US/kb/moderation-guidelines

[2018-04-18 01:20] michelleN opened #2050 "guidance on commit message style"
Would be great to add some guidance on what your commit message should look like when contributing a PR to [kubernetes/kubernetes](github.com/kubernetes/kubernetes) if there is a format/convention. Some repos have a specific commit message style that helps with generating release notes. See [this one](http://docs.deis.io/en/latest/contributing/standards/#commit-style) as an example.

[2018-04-18 08:17] shubheksha commented on #2050
We can expand the section or maybe spin a sub-section here: https://github.com/kubernetes/community/tree/master/contributors/guide#code-review?

[2018-04-18 16:37] cblecker commented on #1234
/remove-lifecycle stale
Still relevant

[2018-04-18 16:49] cblecker commented on #2050
I don't believe we have any convention for commit messages to k/k. We handle release notes through the Github PR body.

[2018-04-18 22:32] castrojo commented on #2050
I agree that this should part of the contributor guide.

@tpepper - you spent some time mentoring me with some great tips, maybe we can work on this together as a default recommendation?

/area contributor-guide

[2018-04-18 23:46] tpepper commented on #2050
I like the Deis example, although I'm not sure why there's a "footer", unless it was meant to be preceded by a line with '''---''' for '''git-send-email''' usage as described for example in the section '''The canonical patch format''' of the [linux kernel patch submission guidelines](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/process/submitting-patches.rs

[2018-04-18 23:52] tpepper commented on #2050
Also it's worth noting that there hasn't been / is not a rigorous format convention today if you look though k/k and other k/* repos.  I for one would very very very much welcome the start of a format convention like those linked above.  But does that become something for steering?  There's bound to be at least some push back to the idea and it only becomes convention if it's widely used, which at

[2018-04-19 23:51] spiffxp commented on #2032
I would rather see N `kind/foo` labels on an issue than N `priority/foo` labels.

I hear the `kind/bug` vs. `kind/test-failure` point, but I'm thinking of this more from an issue than PR perspective.  I would anticipate seeing more `kind/bug` issues filed by users, vs. `kind/test-failure` issues being filed by people/bots that watch tests.

I'm explicitly against non-prefixed labels in general, be

[2018-04-19 23:56] spiffxp commented on #2032
Label migration does impact issue / PR update time, but I don't think label renaming does.  AFAIK we don't have anything automatically creating issues with `priority/failing-test` so I wouldn't expect to see the old label reappear if we decided to renaming the existing label.

[2018-04-19 23:59] spiffxp commented on #1579
Note to self: none of the devstats links work anymore, I think the dashboard got renamed

[2018-04-20 09:34] nikhita commented on #1537
/remove-lifecycle rotten
/area contributor-guide

@tpepper @spiffxp I'm guessing this is still needed, right?

/cc @castrojo

[2018-04-20 09:38] nikhita commented on #1516
@guineveresaenger Should this be closed? I'm not sure if https://github.com/kubernetes/community/pull/1807 addresses this completely.

[2018-04-20 18:05] itkroplis opened #2058 "How send POD log to remote syslog server UDP 514?"
Hi!
How send POD log to remote syslog server UDP 514?
Configured at Kubernetes level? Or at POD level?
I don't find any examples. I have a feeling that it is not supported.

[2018-04-20 18:07] cblecker commented on #2058
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-04-20 18:07] #2058 closed

[2018-04-20 19:15] bgrant0607 commented on #1808
Related: #1721, #1913, #1673

We have more than 4000 OWNERS files, which is clearly unmaintainable. We should update guidance on how OWNERS files should be used. How many nested OWNERS files should subprojects have probably depends on the subproject, but we should at least ensure that each directory tree has an OWNERS file.

Also, we have the general contributor ladder:
https://github.com/kubernet

[2018-04-20 20:16] cblecker commented on #2038
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-04-20 20:16] #2038 closed

[2018-04-23 11:02] php-coder commented on #1297
/remove-lifecycle stale

[2018-04-23 16:58] castrojo commented on #1636
/remove-lifecycle stale

[2018-04-23 18:39] cblecker commented on #1663
/remove-lifecycle stale
Still relevant.

cc: @parispittman @Phillels @grodrigues3

[2018-04-24 13:27] castrojo commented on #1613
/help

[2018-04-24 13:27] castrojo commented on #1628
/remove-lifecycle stale
/help

[2018-04-24 13:27] castrojo commented on #1632
/remove-lifecycle stale
/help

[2018-04-24 13:27] castrojo commented on #1636
/help

[2018-04-24 13:28] castrojo commented on #1757
/help

[2018-04-24 13:31] castrojo commented on #1999
@bgrant0607 #2028 is the issue for moderating the lists, I'll be working on that, feel free to add more here in the comments and I'll integrate it into the master template.

[2018-04-24 20:46] pmorie opened #2072 "Choose a term: charter or governance"
This repo has many references to 'governance' and 'charters' as it pertains to SIGs and other organizational divisions of the project, but they're used inconsistently which is extremely confusing.

I think we should pick a term for the document that holds the charter/governance content and use it consistently.

/sig steering

[2018-04-25 00:38] derekwaynecarr commented on #2072
I have viewed the charter as “scope” and governance as “roles, procedures,
and practices”.  Basically what a sig does versus how it does it.

On Tue, Apr 24, 2018 at 5:23 PM Christoph Blecker <notifications@github.com>
wrote:

[2018-04-25 16:52] cblecker commented on #2032
Reading over this discussion, I don't think we have any further objections to moving `priority/failing-test` to `kind/failing-test`. I agree that there may be possible confusion with `kind/bug`, but tbh, that's already the case if we ask reporters to label things. There are many "bugs" that aren't really bugs.

[2018-04-26 01:34] chris-short commented on #1832
Here are the following k/subrepositories with no CONTRIBUTING.md in their root dirs:

autoscaler
cloud-provider-aws
cloud-provider-azure
cloud-provider-gcp
cloud-provider-openstack
common
dashboard
examples
features
federation
gengo
kube-openapi
kube-state-metrics
kubernetes-anywhere
kubernetes-bootcamp
node-problem-detector
publishing-bot
repo-infra
sig-release
utils

[2018-04-26 01:56] chris-short commented on #1234
Does this not cover it? https://github.com/kubernetes/community/blob/master/community-membership.md

[2018-04-26 05:00] shubheksha commented on #2043
@chris-short, something like the code section here: https://github.com/kubernetes/community/blob/master/sig-storage/README.md#links

[2018-04-26 13:17] castrojo commented on #1636
Ok so it's not hard to change the CNCF affiliation, I blogged about it here: https://blog.jorgecastro.org/2018/01/29/updating-your-cncf-developer-affiliation/

We just need to take that and generalize it somewhere.

[2018-04-26 16:40] cblecker commented on #1693
Governance stuff should be done, but the process stuff might need to still go in.
/remove-lifecycle stale

[2018-04-26 16:54] spiffxp commented on #1760
I would suggest we nuke the sig-release doc. Cherry picking is a contribution process not a sig-release-specific process.

Most recent doc is here: https://github.com/kubernetes/community/blob/afc5171643fabbd498ce29bc45a668a5d8f20225/contributors/devel/cherry-picks.md

Seems like if you're trying to move all things "how do I contribute" to the contributor guide, this should go there (with an appro

[2018-04-26 18:11] spiffxp commented on #2032
I've got opinions on the rest, preferring to add as few as possible, but I want to go get some more data about what labels are out there and how they're used first.  It looks like the proposed list keeps us within https://en.wikipedia.org/wiki/The_Magical_Number_Seven,_Plus_or_Minus_Two so broadly lgtm.

For now, a comment on:

This isn't new, it's been present in kubernetes/kubernetes, but nowher

[2018-04-26 22:07] jberkus commented on #2032
@spiffxp yeah, my criteria for all of the remaining kind/ labels was "can I imagine wanting to run a report on issues/PRs of this type".

[2018-04-27 05:05] shubheksha opened #2083 "Add link to sig-list when an incorrect `sig/` command OR when the `needs-sig` label is added to an issue/PR"
Not sure if this is the correct repo for this issue. If it isn't, please let me know what would be the right place to file it.

Whenever the @k8s-ci-robot adds a `needs-sig` label, can we link to the list of sigs as well? A lot of people aren't aware of what a SIG is or what labels exist, so some background about that would be very useful while filing issues. It would save overhead while triaging.

[2018-04-27 11:16] shubheksha opened #2086 "Links to examples result in a 404 for flexvolume.md"
File: https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md
Links:
- https://git.k8s.io/kubernetes/examples/volumes/flexvolume/nginx-lvm.yaml
- https://git.k8s.io/kubernetes/examples/volumes/flexvolume/nginx-nfs.yaml
- https://git.k8s.io/kubernetes/examples/volumes/flexvolume/lvm
- https://git.k8s.io/kubernetes/examples/volumes/flexvolume/nfs

[2018-04-27 11:16] shubheksha commented on #2086
/sig storage

[2018-04-27 14:42] stp-ip commented on #1234
For members that seems to be the case. For the other roles it just defines the requirements in a sense of checkpoints for someone reviewing such a role switch imo. The great thing about the members requirements section is that it also works as a how to move to a member role.

[2018-04-27 18:27] #2086 closed

[2018-04-28 12:53] dims opened #2088 "write/admin access for cloud-provider-openstack"
Can you please add the sig leads of sig-openstack as admins for cloud-provider-openstack? they are listed here:

https://github.com/kubernetes/community/tree/master/sig-openstack

/assign @spiffxp

[2018-04-28 12:54] dims commented on #2088
cc @hogepodge

[2018-04-28 15:04] hogepodge commented on #2083
/sig openstack

[2018-04-28 15:06] hogepodge commented on #2088
Not sure if the sig-openstack label is appropriate for this issue, since it impacts us but we're not responsible for the merge. Add if necessary.

[2018-04-29 18:59] cblecker commented on #2088
Based on https://github.com/kubernetes/community/blob/master/org-owners-guide.md#team-guidance, I've created the teams https://github.com/orgs/kubernetes/teams/cloud-provider-openstack-admins and https://github.com/orgs/kubernetes/teams/cloud-provider-openstack-maintainers.. I'll let @spiffxp review give the thumbs up on ensuring the right people are added to those teams