[2022-02-21 07:39] nikhita commented on #6308
/reopen

https://github.com/kubernetes/kubernetes/pull/96275 was closed to inactivity and https://github.com/kubernetes/noderesourcetopology-api/ is still empty.

[2022-02-21 07:40] nikhita commented on #6308
/sig node

[2022-02-21 11:32] swatisehgal commented on #6308
Thanks Nikhita for reopening this issue. I didn't get a chance to update https://github.com/kubernetes/kubernetes/pull/96275 as I have been busy but I will update it as soon as I have some time.

/assign

[2022-02-22 08:52] chendave opened #6486 "Unknown CLA label state. Rechecking for CLA labels."
### Describe the issue

consistently hit the error when check the cla,

[code]

e.g.  https://github.com/kubernetes/kubernetes/pull/108270

[2022-02-22 08:53] chendave commented on #6486
/sig sig-contributor-experience

[2022-02-22 08:53] chendave commented on #6486
/sig contributor-experience

[2022-02-22 12:34] mrbobbytables commented on #6486
I've pinged the LF to look into it - EasyCLA is likely dropping hooks.

[2022-02-22 21:59] parispittman opened #6488 "editor for annual reports summary"
### Describe the issue

Thanks to @celestehorgan for last years amazing editorial journey for our first ever Annual Report Summary! We are looking for another editor for this years edition. https://www.cncf.io/reports/cncf-annual-report-2020/

Timeline:
- Steering presents a draft to editor(s) no later than mid-March.
- Editor reviews for tone/large structural changes, etc; Steering revises
- Edit

[2022-02-22 22:01] parispittman commented on #6488
/committee steering

[2022-02-23 06:02] #4125 closed

[2022-02-23 12:59] mrbobbytables commented on #6486
@chendave I pinged again today and opened up this issue for tracking: https://github.com/communitybridge/easycla/issues/3458

[2022-02-23 13:13] Debanitrkl commented on #6399
Not much updates here, closing this for now
/close

[2022-02-23 13:14] #6399 closed

[2022-02-23 15:07] uroy-personal opened #6493 "The link to "Contributor Role Board" in the https://www.kubernetes.dev/docs/guide/first-contribution/ page is broken."
**This is a Bug Report**

**Problem:**
The link to "Contributor Role Board" in the https://www.kubernetes.dev/docs/guide/first-contribution/ page is broken.
**Proposed Solution:**
The page should redirect to correct public page
**Page to Update:**
https://kubernetes.io/...

[2022-02-23 20:30] jberkus commented on #6471
Wouldn't this be chair of the mentoring subproject?  I mean, we're looking for one of those, but seems to go with the territory.

[2022-02-23 20:32] parispittman commented on #6471
we don't do chairs of subprojects but if we want to create a role that is 'mentoring lead' that is fine; my only concern is the other mentoring programs that they would need to lead as well and this is more finely scoped than that. if we really did get a mentoring lead they would need at least 5 hours a month with all of the group stuff that I do and everything else going on. just seems like too m

[2022-02-23 20:33] parispittman commented on #6471
it would be good to get another approver for group mentoring, a 3rd party lead, and then a new contributor workshop lead

[2022-02-23 20:57] jberkus commented on #6471
BTW, do we have a candidate for this role?

[2022-02-23 20:58] parispittman commented on #5877
/close

we're done!

[2022-02-23 20:58] #5877 closed

[2022-02-23 21:08] parispittman commented on #6084
/assign @nikhita @cblecker

[2022-02-23 21:09] parispittman commented on #5462
/close

I think we are ok here, especially with the docs being updated. thanks for your work Laura! re-open if there are more items to discuss

[2022-02-23 21:10] #5462 closed

[2022-02-23 21:32] parispittman commented on #1808
with the addition of your OWNERs tooling, I think it might be safe to close this - what do you think? maybe set up a fresh issue that says it gets run every year during annual reports? or add that into liaison doc?

[2022-02-23 21:44] parispittman opened #6492 "swag ideas for OWNERs"
### Describe the issue

one of the staple pieces of swag we have is the kubernetes contributor patch that we give away during contributor events. now that we have a [function in prow that flags new OWNERs](https://github.com/kubernetes/test-infra/pull/24937) (reviewers, approvers) with information and a swag opportunity, should we customize a patch or another piece of swag for them as an extra spe

[2022-02-23 23:43] jberkus commented on #6084
FYI: this is mainly waiting on me to do all the directory re-arranging as a PR.  That's more complicated than it sounds because moving the elections directory affects our running instance of Elekto.

[2022-02-23 23:46] parispittman commented on #6084
@jberkus we still need a TL to approve the concept

[2022-02-24 01:41] uroy-personal commented on #6493
Hi @mrbobbytables,
I would like to work on this simple fix and get familiar with the flow of events in the process. I am not able to assign the issue to myself.  Your suggestion on next steps will be of great help.

[2022-02-24 02:59] Debanitrkl commented on #6471
Presently, I'm working on this defining the timelines to reach out to SIGs for submission of proposal for specific mentoring programs.

[2022-02-24 12:00] mrbobbytables commented on #6493
@uroy-personal you can assign it via our automation, respond with  `/assign` and it'll do the rest 👍

/sig contributor-experience
/area contributor-guide

[2022-02-24 13:22] uroy-personal commented on #6493
/assign

[2022-02-24 14:30] uroy-personal commented on #6493
Thanks @jihoon-seo

[2022-02-24 14:31] uroy-personal commented on #6493
Thanks @mrbobbytables

[2022-02-24 19:23] jberkus commented on #6084
Ah, point.  Well, no rush.

[2022-02-24 23:56] cblecker commented on #6084
No objections from me.

@nikhita thoughts?

[2022-02-25 07:39] nikhita commented on #6471
+1 on introducing this role. It's been pretty adhoc as of now and we've definitely had cases of where we've forgotten to follow up on mentorship programs with so many things going on.

[2022-02-25 07:40] nikhita commented on #6084
+1

cc @kubernetes/steering-committee - no action needed, just fyi.

[2022-02-25 07:41] nikhita commented on #6084
cc @mrbobbytables @alisondy

[2022-02-25 12:53] mrbobbytables commented on #6084
lgtm from me - it was one of the big things to come out of the retro.

[2022-02-25 14:56] cblecker commented on #6084
@jberkus you're clear to proceed :)

[2022-02-25 18:36] jberkus commented on #6471
@Debanitrkl if you want it, I'd be thrilled to nominate you for this.

[2022-02-26 07:52] #6075 closed

[2022-02-26 21:06] keviny11 commented on #6334
/assign

[2022-02-27 06:57] tabbysable opened #6496 "Add SIG Security as a stakeholder SIG for WG Policy"
### Describe the issue

SIG Security hosts WG Policy's artifacts and shares many concerns with WG Policy. We should probably be listed as a stakeholder SIG.

Filing this as an issue because I'm unable to PR in the update at this time, but want to ensure the idea doesn't get forgotten.

[2022-02-27 06:57] tabbysable commented on #6496
/wg policy
/sig security
/assign @JimBugwadia

[2022-02-28 17:09] pymander commented on #6483
/assign

[2022-02-28 17:15] asviel opened #6497 "Where can i find the actual CRI log format description (kubelet-cri-logging.md)?"
I want to change docker to containerd/cri-o and want to know understand how i need to reconfigure my log sniffers due this change.
I only found https://github.com/kubernetes/design-proposals-archive/blob/main/node/kubelet-cri-logging.md, but it's in the archive.
Can you help me?

[2022-03-01 03:26] Debanitrkl commented on #6497
@asviel please consider asking this in https://discuss.kubernetes.io/ or in [slack](https://github.com/kubernetes/community/tree/master/communication#slack)
Also you could find more details here: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/
/close

[2022-03-01 03:26] #6497 closed

[2022-03-01 20:57] #6493 closed

[2022-03-01 22:26] mrbobbytables opened #6505 "REQUEST: Private Slack channel for moderators"
### GitHub Username

mrbobbytables

### Slack Username

mrbobbytables

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Private Channel

### Name of Requested Resource

k8s-moderators (open to other ideas)

### Description of Request

We have the private moderators mailing list, but it would be useful to have it mirrored as a slack channel for better cross-platform in

[2022-03-01 22:26] parispittman commented on #6505
+1

[2022-03-01 22:36] markyjackson-taulia commented on #6505
+1

[2022-03-01 22:53] dylanANZ commented on #6505
+1

[2022-03-01 23:00] DylanGraham commented on #6505
+1

[2022-03-02 18:30] jberkus opened #6511 "Proposed: Expose k/community content via contributor-site"
### Describe the issue

The way it is now: select portions of k/community are available via kubernetes.dev, but other portions require browsing in the repo itself.

The way it should be: any and all documentation to which contributors are expected to refer should be available via kubernetes.dev.  This would include most of k/community.

Reasons for the change:
- website content is more findable th

[2022-03-02 18:36] jberkus commented on #6511
/sig contributor-experience
/area contributor-site
/assign @mrbobbytables @alisondy

attn: @parispittman @nate-double-u

[2022-03-02 18:54] sftim commented on #6511
Depending on what this is, that information could also have a home in or linked from https://kubernetes.io/community/

[2022-03-02 19:18] jberkus commented on #6511
@sftim it's primarily information around contributor summits

[2022-03-02 19:18] parispittman commented on #6511
to @sftim point - can we expand on what docs those are in each one. for instance - the mentoring folder has programs and operations files.

[2022-03-02 19:19] parispittman commented on #6511
it would be good to know what the definitions are for each area of the contributor site too to better answer these questions. example: what goes in community and what goes in resources?

[2022-03-02 19:23] parispittman commented on #6511
re: sig directories - would they be housed in k-sigs/contributor-site or would leads be instructed they can still host materials in k/community?

[2022-03-02 19:25] parispittman commented on #6511
missing from above - chairs and tech leads documentation: https://github.com/kubernetes/community/tree/master/contributors/chairs-and-techleads

[2022-03-02 19:27] parispittman commented on #6511
breaking down steering committee docs they are:
- community group governance (how they should do it/operations)
- annual report instructions
- charter instructions and FAQ

[2022-03-02 19:31] jberkus commented on #6511
Let me give an example of a section that's in my particular responsibility area:

## Elections

### Expose in Contributor Site

* elections meta page (i.e. here's the upcoming elections, here's where you find info, link to elections.k8s.io)
* elections subproject charter (does not exist yet)
* How To Request An Election (does not exist yet)
* elections HOWTO (for election admins)

### Remain Githu

[2022-03-02 19:37] coderanger commented on #6505
YouTube too, and maybe Reddit if we want to coordinate with them at all (though that's an unofficial comms channel so it's not under our formal umbrella).

[2022-03-02 19:41] mrbobbytables commented on #6511
FWIW - while I would love to surface as much docs as possible, I think the real thing that SHOULD move to the contributor site is the contributor guide. It serves the audience that are NEW to the project and don't have any experience navigating its structure. We want to make as much as we can as easily discoverable as possible. It's also the prime target for localization, and its frustrating when

[2022-03-02 19:44] jberkus commented on #6511
If that was our decision, would it derail current efforts?

[2022-03-02 19:47] mrbobbytables commented on #6511
No, if we moved some content there - there isn't a reason it couldn't be moved back and still preserve git history.

[2022-03-02 19:49] jberkus commented on #6511
@parispittman I'm really trying to separate out "what is our goal" from "how do we implement that".  Let's agree on goals first before we get bogged down in the technical details.

[2022-03-02 20:14] parispittman commented on #6511
in your example @jberkus  - where would the elections docs be housed in the current site structure?

[2022-03-02 20:39] #5231 closed

[2022-03-03 00:07] cblecker commented on #5734
Relates to: https://github.com/kubernetes/community/pull/6502

[2022-03-03 06:17] fmuyassarov opened #6515 "REQUEST: New Private Slack for metal3.io project maintainers"
### GitHub Username

fmuyassarov

### Slack Username

fmuyassarov

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Private Channel

### Name of Requested Resource

metal3-security

### Description of Request

Hi,
Within [Metal3.io](https://github.com/metal3-io) project we currently have [#cluster-api-baremetal ](https://kubernetes.slack.com/messages/CHD49TLE7) public

[2022-03-03 06:19] coderanger commented on #6515
Sorry, we don't offer private channels to community projects due to being unable to enforce our code of conduct in them.

[2022-03-03 06:45] namnx228 commented on #6515
What if we will invite someone from Kubernetes community (a maintainer/reviewer) to the channel? The person can monitor the channel activity and make sure the code of conduct is enforced.

[2022-03-03 06:50] coderanger commented on #6515
Unfortunately we as a moderation team just can't handle direct oversight in these cases, there are too many people and too many channels. Private Slack channels are reserved only for core project functions which have literally no other options such as election management and our own security response team.

I would encourage you to look at setting up your own community resources, or if you're unde

[2022-03-03 10:37] alisondy commented on #6511
Is there any data on how people use the site now?

What links are the most clicked, what are the most common journeys folks take when using the contributor site.

What are the most commonly searched things.

[2022-03-03 13:39] markyjackson-taulia commented on #6515
Also a -1 from me for the same reasons

[2022-03-03 14:53] chris-short commented on #6511
I would like more links from k.dev to repos, in general. But, I agree with Bob that the Contributor Guide should be on the site (so long as all the other repos are sufficiently linked). I hope that bridges the gap here.

[2022-03-03 17:41] parispittman opened #6517 "New role: Group Mentoring Coordinator"
### Describe the issue

I tried to automate much of this and never got to it, ran into several roadblocks, or insert reasons here. (one example here: #3479)

This program is geared towards contributor ladder growth and not new contributors, but could be structured for new members depending on the goals of the group (ie expedited reviewers).

Time expectations: at least 5 hours a month when not in

[2022-03-03 18:57] mrbobbytables commented on #6394
@AvineshTripathi that is an old issue and should be closed in favor of this one at this point.

[2022-03-03 23:56] parispittman commented on #6488
/assign @Debanitrkl

[2022-03-04 06:56] fmuyassarov commented on #6515
Thanks for the suggestions folks.
/close

[2022-03-04 06:56] #6515 closed

[2022-03-04 13:37] dims commented on #6505
+1

[2022-03-04 16:05] mkumatag commented on #6505
+1

[2022-03-04 18:19] cblecker commented on #6505
Would it also be beneficial to invite CoCC too?

+1 to the idea

[2022-03-04 20:27] celestehorgan commented on #6505
Thanks @cblecker

yay ❤️

[2022-03-04 20:31] cblecker commented on #6505
Also: if this is a new private slack channel we should create a doc detailing the reasons for it, what kind of topics will be discussed, and intended membership.. just so we have a public record of it for transparency sake.

[2022-03-04 21:54] jberkus commented on #6223
/remove lifecycle-stale

I still need to add a survey thing to the main Communications page for this

[2022-03-04 21:55] jberkus commented on #6511
Yeah, let's go ahead and move the contributor guide.

[2022-03-05 00:54] ehashman commented on #6462
@serathius right now the subprojects list just links to a bunch of OWNERS files. It's not a good starting point for newcomers to get started with contributing to subprojects. Many won't even know what an OWNERS file is.

It would be better for us to list areas seeking help and link directly to their contributor guides, which are not covered by the top-level Kubernetes one.

[2022-03-05 18:14] #5230 closed

[2022-03-05 20:54] celestehorgan commented on #6505
@cblecker sounds like a use case for something I think the project needs anyways - non-architectural decision records. k/enhancements gets bogged down on occasion by changes (like "no 3rd party projects in the docs") which are fundamentally policy/process decisions. But there needs to be a clear approver for that kind of change, and steering is probably it.

[2022-03-06 17:46] parispittman commented on #5913
/remove-lifecycle stale

working on this next week

[2022-03-07 16:18] liggitt commented on #6379
fixed by https://github.com/kubernetes/community/pull/6467

/close

[2022-03-07 16:18] #6379 closed

[2022-03-07 16:19] liggitt commented on #6387
fixed by https://github.com/kubernetes/community/pull/6473

/close

[2022-03-07 16:20] liggitt commented on #6386
first part completed in https://github.com/kubernetes/community/pull/6409

still pending completion of https://github.com/kubernetes/community/blob/master/sig-windows/annual-report-2021.md#operational

[2022-03-07 16:28] parispittman opened #6522 "draft archive guidance for subprojects"
### Describe the issue

GitHub management team has [best practices and procedures for archiving a repo](https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#removing-repositories) but a subproject can be inside of a repo with other subprojects (case in point, this repo)

draft guidance that answers the questions/statements:
- when should a subproject be archive

[2022-03-07 17:06] liggitt commented on #6386
fixed in https://github.com/kubernetes/community/pull/6523

/close

[2022-03-07 17:06] #6386 closed

[2022-03-07 22:45] dims commented on #6362
@deads2k @fedebongio ping! how's the annual report going, is there a PR?

[2022-03-07 22:46] dims commented on #6369
thanks @neolit123 i'll review the PR this week

[2022-03-07 22:47] dims commented on #6385
@hpandeycodeit @morengab @tashimi ping! how's the annual report going, is there a PR?

[2022-03-07 22:50] dims commented on #6385
/cc @dims

[2022-03-07 22:53] dims commented on #6364
markdown we are collaborating on is here https://hackmd.io/@XYdYH0X5SYC3DUYFF5Wylg/r1Iu38qg9

once we have fleshed that out a bit, will open a PR

[2022-03-07 23:53] dims commented on #6362
https://github.com/kubernetes/community/pull/6461

[2022-03-08 11:31] JamesLaverack opened #6527 "Community Icons Google Slides Deck is Private"
### Describe the issue

Under the [community icons](https://github.com/kubernetes/community/tree/master/icons) page, there is a link to a [Google Slides presentation](https://github.com/kubernetes/community/tree/master/icons#slide-deck) with all the icons present. That presentation, at the time of writing, has been set as private by whoever owns it and is now inaccessible to community members.

![

[2022-03-08 18:57] rohit777anand commented on #6334
@k8s-ci-robot /assign

[2022-03-08 21:33] tabbysable opened #6529 "Automatically `make generate` when sigs.yaml is updated"
### Describe the issue

(Filing issue after being prompted during Leads meeting)

After updating `sigs.yaml` it's necessary to run `make generate` which takes a really long time and a lot of disk space if you don't do it regularly.

It would be a lovely quality of life improvement for this to be done automatically, so that we could just commit `sigs.yaml` changes.

[2022-03-08 21:48] justaugustus commented on #6529
/sig contributor-experience
cc: @cblecker

@tabbysable -- Worth checking out `make generate-dockerized`

https://github.com/kubernetes/community/blob/f5a8a153f24e9c3bb9ad6b697e43f0f4e55d2062/Makefile#L14-L15

[2022-03-09 21:57] fedebongio commented on #5230
/assign @leilajal @apelisse @jpbetz

[2022-03-09 21:57] fedebongio commented on #3752
/assign @apelisse @MikeSpreitzer

[2022-03-09 21:58] fedebongio commented on #3211
/remove-sig api-machinery

[2022-03-09 21:58] fedebongio commented on #300
/assign @deads2k

[2022-03-09 22:48] jberkus opened #6531 "REQUEST: Publicize Release Cadence Survey"
### What do you want send out?(Please include a link to a draft)

What we want to send out:  [The Release Cadence Survey](https://www.surveymonkey.com/r/k8s-cadence-2022)

When: ASAP

Target Audience: Kubernetes contributors and users

Channels: Twitter, Slack (mailing lists already addressed)

Message:

[code]

[2022-03-10 10:25] elchead opened #6533 "Get recent build from CI"
### Describe the issue

Following https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/getting-builds.md, I tried to download the build from a PR (https://github.com/kubernetes/kubernetes/pull/104907). In the CI build log, I found a version number "v1.24.0-alpha.3.413_4c90ec346e1c8d" and used this in the hack script to download it.
Unfortunately, I get a regexp error.

[2022-03-10 10:28] elchead commented on #6533
/sig contributor-experience

[2022-03-10 10:38] elchead commented on #6533
It seems the images are moved / removed after passing CI, since I get a HTTP 301 (Moved) when using the url from the build log:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/104907/pull-kubernetes-e2e-gce-alpha-features/1501562549865287680/artifacts/e2e-a05885a038-cc220-master/images-containerd.log

[2022-03-10 17:48] dashpole commented on #6372
cc @logicalhan

[2022-03-10 17:49] dashpole commented on #6372
/close

[2022-03-10 17:49] #6372 closed, assigned to nobody

[2022-03-10 20:13] alisondy commented on #6351
I've started taking a look into this and fleshing out some ideas

https://github.com/alisondy/community/blob/hosting-guide-chair-tl/contributors/chairs-and-techleads/meeting-host.md

will get a draft pr in soon™️

[2022-03-10 22:00] ShaileshKumar007 commented on #6334
/assign

[2022-03-10 22:43] liggitt commented on #876
the mentioned doc is now at https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#verbs-on-resources

Some resources support create on update (PUT), but it is not consistent, only these allow it:

[code]

The documentation should clarify that support for create via PUT is resource-specific.

With server-side apply, all resources support create-o

[2022-03-10 23:30] apelisse commented on #876
I was looking at [SSA page](https://kubernetes.io/docs/reference/using-api/server-side-apply/) and it's not that great with that regard. This point is mentioned in that [pull-request](https://github.com/kubernetes/website/pull/31261) though:

: Server Side Apply YAML (a Kubernetes-specific extension, based on YAML).
  All JSON documents are valid YAML, so you can also submit JSON using this
  medi

[2022-03-11 10:47] #6378 closed

[2022-03-11 21:45] jberkus commented on #6531
Thanks for the boost!

/close

[2022-03-11 21:45] #6531 closed

[2022-03-14 15:47] nimbinatus opened #6537 "REQUEST: New communication about March 2022 Community Meeting"
### What do you want send out?(Please include a link to a draft)

Looking to send out comms about the monthly Contributor Community Meeting. Draft text (tagging in @jberkus to add details/any adjustments): https://gist.github.com/nimbinatus/4d169ac482ed6c1dfab950aff8f6d18f

The sponsoring SIG is Contributor Experience, and the point of contact is @nimbinatus or @jberkus (this month's host). We'd l

[2022-03-14 20:47] AndreSPy1 commented on #6334
Hello, do we have to change "emeritus_reviewers" to Reviewers?

[2022-03-14 20:55] AndreSPy1 commented on #6334
/assign

[2022-03-14 20:55] jakspok commented on #6334
@dims /assign

[2022-03-14 20:56] ElvertMora commented on #6334
/assign

[2022-03-15 17:46] jdumars commented on #1808
@dims - thoughts on closing this?

[2022-03-15 18:07] nimbinatus commented on #6537
Note: @jberkus is going to email directly.

[2022-03-15 18:51] thockin commented on #6527
I also do not have access

[2022-03-15 18:55] thockin commented on #6527
`git blame` says @arnaudmz might know

[2022-03-15 18:59] alisondy commented on #6533
Adding sig-release, the SIG associated with the owners file where this doc is located.

/area sig-release

[2022-03-15 19:38] jberkus commented on #6537
Posted to k/dev.

@kaslin, could you tweet it?

[2022-03-15 20:32] alisondy opened #6540 "Events channel on slack doesn't align with what's in sigs.yaml"
### Describe the issue

In the contribex readme, the events channel in slack is linked to as the contact for the events subproject

Currently the events channel in slack is used by multiple folks to share upcoming meetups and events in the cloud native / kubernetes space.

Is there value in a creating a slack channel for all upstream focused work around events?

Thoughts?

/area sig-contributor-ex

[2022-03-15 20:33] dims commented on #1808
@jdumars @parispittman yes. I'd be happier if we came with tooling to surface new contributors to leads that can then be added as reviewers etc...

/close

[2022-03-15 20:33] alisondy commented on #6540
/area contributor-experience

[2022-03-15 20:40] parispittman commented on #6540
we have always used #summit-staff and since there aren’t many events outside or contrib summit, #sig-contributor-experience

[2022-03-15 22:14] justaugustus commented on #6533
@elchead -- Information on version markers (and how to use them) can be found here: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/kubernetes-versions.md#ci

Build jobs: https://testgrid.k8s.io/sig-release-releng-blocking

While we produce images for _periodic_ CI builds: https://console.cloud.google.com/gcr/images/k8s-staging-ci-images/GLOBAL
We provide no guar

[2022-03-15 22:15] justaugustus commented on #6533
I'm going to close this out in the hopes that that was helpful, but please feel free to reopen if you still need help! :)
/close

[2022-03-15 22:15] #6533 closed

[2022-03-16 16:38] nimbinatus opened #6544 "Curating Community Meeting Topics"
Following up from https://github.com/kubernetes/community/issues/5462, one of the concerns is trying to gather topics ahead of time on a continuous basis. As hosts have traditionally been new to the project as a way to get involved, asking hosts to find topics to discuss is unsustainable, and we've been relying on various members to find topics.

At the moment, we have a few ways that folks can ra

[2022-03-16 16:57] ameukam commented on #6492
Kubernetes Hoodie with the Github handle of the contributor. I saw this for Github employees.

[2022-03-16 17:10] dims commented on #6492
circular lapel pin with k8s logo inside and `/approve` and `/lgtm` on the border ( i treasure one similar to this for openstack that says "+2" - i think swag from HP )

[2022-03-16 18:34] chris-short commented on #6492
Standard Kubernetes patch with OWNER embroidered in/on to it

[2022-03-16 18:44] parispittman commented on #6544
im a fan of having the same person do it for a 6 month or 1 year period with a shadow and then the curation will come naturally once you have been around for a bit. if folks really like it that a new person hosts, maybe the host is the one that is new and just reads the script while the 6mo-1yr role does the curation.

[2022-03-17 15:55] jwmatthews opened #6546 "Data Protection White Paper small formatting issue"
### Describe the issue

There is a small formatting issue with the [Data Protection Working Group's White Paper](https://github.com/kubernetes/community/blob/master/wg-data-protection/data-protection-workflows-white-paper.md#desirable-characteristics-of-volume-backups) under "Desirable Characteristics of Volume Backups"

Sample of how it is rendering
<img width="1050" alt="Screen Shot 2022-03-17 a

[2022-03-17 16:27] jwmatthews commented on #6546
/wg data-protection

[2022-03-17 16:38] jwmatthews opened #6548 "Missing a repository label related to working groups: wg/batch and wg/data-protection"
### Describe the issue

I ran into a missing label for 'wg/data-protection' when filing issue #6546 and trying to assign the wg.

Looking at: https://github.com/kubernetes/community/blob/master/sig-list.md#working-groups I see the below labels for working groups are missing in this repository:

- wg/batch
- wg/data-protection

[2022-03-17 17:18] Debanitrkl commented on #6548
/area github-management

[2022-03-17 17:18] Debanitrkl commented on #6548
/sig contributor-experience

[2022-03-18 19:39] parispittman commented on #6517
/help

[2022-03-18 19:59] parispittman commented on #6537
/close

complete

[2022-03-18 19:59] #6537 closed

[2022-03-18 21:38] alisondy commented on #6209
/remove-lifecycle-stale

[2022-03-18 21:39] alisondy commented on #6209
I am bad at labels 😓

[2022-03-19 15:23] alisondy commented on #6209
Closing this issue as it's too widely scoped and more a goal, that's being implemented through our mentoring subproject

/close

[2022-03-19 15:24] #6209 closed

[2022-03-19 15:24] alisondy commented on #6209
Need to make the points in the description their own issues

[2022-03-19 16:36] alisondy commented on #6548
Transferring to test-infra

/transfer test-infra

[2022-03-19 19:23] alisondy commented on #6540
Updated description of issue for clarity.

[2022-03-19 21:46] #5444 closed

[2022-03-19 21:46] #5541 closed

[2022-03-19 22:47] #5953 closed

[2022-03-19 22:47] #6068 closed

[2022-03-20 00:07] #6540 closed

[2022-03-20 06:51] #5974 closed

[2022-03-21 02:08] twilight0620 opened #6552 "Link 404 in Contact-GitHub Teams of community/sig-docs/README.md"
### Describe the issue

when hope to open Contact-GitHub Teams of community/sig-docs/README.md, the page response 404.
Each link of @kubernetes/* can not be accessed.
Link as follows:

Contact
GitHub Teams:
[@kubernetes/kubernetes-blog](https://github.com/orgs/kubernetes/teams/kubernetes-blog) - Kubernetes blog maintainers
[@kubernetes/sig-docs-de-owners](https://github.com/orgs/kubernetes/teams/s

[2022-03-21 02:12] twilight0620 commented on #6552
/kind bug

[2022-03-21 11:30] MadhavJivrajani commented on #6552
This isn't a bug unfortunately :/
/remove-kind bug
Please see https://github.com/kubernetes/community/issues/5994 for more details

[2022-03-21 11:37] mrbobbytables commented on #6552
As there are no follow up items, going to go ahead and close this out.

/close

[2022-03-21 14:01] #6546 closed

[2022-03-21 14:14] apalekar12 commented on #6517
Hi! I'm interested in this role-please let me know if I can be of any help!

[2022-03-21 15:42] parispittman commented on #6517
@apalekar12 and folks reading this - can you meet this weds the 23rd at 9am PT? thanks!

[2022-03-21 15:43] apalekar12 commented on #6517
Sure can!

[2022-03-21 17:07] alisondy opened #6553 "Build Contributor Summit Valencia Team"
### Describe the issue

Build Contributor Summit Team for Valencia!

[Event Team Folder](https://github.com/kubernetes/community/tree/master/events/events-team)

Role | Volunteer Name | Shadow Name | Notes
-- | -- | -- | --
Event Lead | Puja Abbassi @puja108 / Alison Dowdney @alisondy | | |
Registration Lead | Arnaud M. @ameukam  |   |  Josh Berkus @jberkus to support
Marketing Lead | | |  
Recept

[2022-03-21 17:22] csantanapr commented on #6553
This is my first time helping, I want to shadow

[2022-03-21 17:22] ameukam commented on #6553
I volunteer as Registration lead with @jberkus.

[2022-03-21 17:24] ameukam commented on #6553
/area contributor-summit
/sig contributor-experience
/lifecycle active

[2022-03-21 17:41] qnetter commented on #6553
AKA @qnetter :)

[2022-03-21 18:10] tokt opened #6554 "Draft schedule for Kubecon EU 2022 Contributor Summit"
### Describe the issue

Proposed event schedule:

**0900** - Breakfast and Banter, Gathering Topics
**1000** -  Welcome, and keynote?
**1100 - 1115** Close Voting, 1130 Announce Topics
**1200** - Lunch
**1300** - Unconference
**1400** - Unconference
**1500** - Afternoon Tea, 1530 Unconference
**1600** - Unconference
**1700** - Contributor Panel (topic for that?) and closing
**1800** -   (transport

[2022-03-21 18:12] alisondy commented on #6554
/area contributor-summit
/sig contributor-experience
/lifecycle active

[2022-03-22 00:50] onlydole opened #6556 "Update SIG Contribex Splain and Zoom Integration"
### Describe the issue

The current Splain integration with Zoom isn't working for SIG Contribex and needs to be fixed.

/assign @onlydole
/sig contributor-experience
/area community-management

[2022-03-22 00:51] mrbobbytables commented on #6556
It does work for the contribex zoom account, but its not configured for the root one

[2022-03-22 01:03] onlydole commented on #6556
Ah! Got it 👍🏼 Thank you, @mrbobbytables!

[2022-03-22 01:05] onlydole commented on #6556
I found the culprit! I'll work with the Splain support team to get this updated.

<img width="651" alt="Screen Shot 2022-03-21 at 6 05 15 PM" src="https://user-images.githubusercontent.com/117500/159387272-817e3bd5-a13e-4cba-b711-3d69d6b5800a.png">

[2022-03-22 01:08] mrbobbytables commented on #6556
It may just need to be disconnected / reconnected (this has happend in the past) I didn't think we had splain setup for the root account though. O_o we just need to make sure other things using the root zoom don't select record.

[2022-03-22 01:35] onlydole commented on #6556
The SIG Contribex connector was working as expected! The issue was that the root account needed to be re-authenticated (the Kubernetes community meetings get scheduled via the root Zoom account).

Thank you to Bob and SIG Contribex folk for helping on this one!

/close

[2022-03-22 01:35] #6556 closed

[2022-03-22 01:38] kofiowu commented on #6556
Thanks for you contribution.

[2022-03-23 08:37] scoof commented on #6050
/remove-lifecycle stale

[2022-03-23 08:38] cpanato commented on #6517
I'm interested as well

[2022-03-24 06:08] alisondy commented on #4562
/remove lifecycle-frozen

[2022-03-24 08:15] CIPHERTron opened #6561 "SIG Testing meeting recordings gets uploaded to YT studio twice"
### Describe the issue

 I’ve seen this weird behavior a couple of times with SIG Testing meeting recordings. Weird as in a **single recording** gets uploaded to YT studio two times. Those two recordings are essentially the same but differ only in terms of meeting views. One recording will be having the gallery view whereas the other will be having single views of the one who’ll be speaking.

I th

[2022-03-24 08:17] CIPHERTron commented on #6561
/sig contributor-experience
/area community-management

[2022-03-24 21:22] onlydole commented on #6561
I can help take a look at this one!

/assign @onlydole

[2022-03-24 22:14] onlydole commented on #6561
I found the culprit! I was able to work with the SIG Testing leads to get access to Zoom and un-check the "Record gallery view with shared screen" setting so there will be no more double video uploads.

<img width="453" alt="Screen Shot 2022-03-24 at 3 11 29 PM" src="https://user-images.githubusercontent.com/117500/160018826-ece5b91e-5b82-4e36-8f07-d697a892d8b9.png">

Thank you for raising this, @

[2022-03-24 22:14] #6561 closed

[2022-03-26 14:18] jkaye2012 opened #6566 "Broken link in API conventions documentation"
### Describe the issue

In the [API conventions documentation](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md) (linked in turn from the [official Kubernetes documentation](https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/)), there is a broken link to a description for `DNS_LABEL` format [on line 88](htt

[2022-03-26 14:21] jkaye2012 commented on #6566
This would be for the Docs sig, but I don't seem to have the ability to modify the labels.

[2022-03-26 14:26] jkaye2012 commented on #6566
I believe this may be the correct link for replacement?

https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names

[2022-03-28 09:55] MadhavJivrajani commented on #6566
/sig architecture
@jkaye2012 please see https://github.com/kubernetes/design-proposals-archive/blob/main/architecture/identifiers.md as the intended link (design proposals were recently migrated and archived). Feel free to send in a PR!

[2022-03-28 18:50] tokt opened #6572 "[RFC] New Contributor Workshop for KubeCon NA 2022 scope reduction"
### Describe the issue

**Past**
Up to (and including) 2019 we used to have a full day NCW at every KubeCon event.
[Slides](http://bit.ly/kubeconlesss_NCW2_slides )
Some of the challenges with that approach:

- Folks running NCW and Contributor Summit are mostly same people.
- A very small percentage of people attending the NCW ended up contributing later.

**Current state**
There were no workshop

[2022-03-29 00:33] mrbobbytables commented on #6572
If there is room, enough volunteers and bandwidth to run it, I don't see a problem with running one - my gut is leaning towards there won't be though. I know a number of the usual suspects that have run it in the past have other responsibilities that day.

[2022-03-29 07:22] #6377 closed

[2022-03-29 08:47] puja108 commented on #6554
Based on yesterday's discussions, slightly adapted schedule:

0900 - Breakfast and Banter, Gathering Topics
1000 - Welcome
1130 Start Voting
1200 - Close Voting and start Lunch
1300 - Annpounce Unconference Schedule and first sessions
1400 - Unconference
1500 - Afternoon Tea, 1530 Unconference
1600 - Unconference
1700 - Steering AMA and closing (tell people about transport and pooling to social)
1

[2022-03-29 14:25] jeremyrickard opened #6575 "SURVEY REQUEST: k/k branch rename impact survey"
### Group Requesting

SIG Release

### Title of Survey

Tell us how the Kubernetes repository branch rename will impact you

### Goal of Survey

We will rename the branch for https://github.com/kubernetes/kubernetes from master to main and we would like to gather some information regarding the downstream consumers of the branch.

We are aiming to do the change in the 1.25 release cycle.
For more i

[2022-03-29 14:33] mrbobbytables commented on #6575
/assign @jberkus

[2022-03-29 15:13] parispittman commented on #6200
sending survey today

[2022-03-29 16:52] parispittman commented on #6200
sent direct to 408 owners with emails associated to GitHub

[2022-03-29 16:53] parispittman commented on #6575
Note - there are two active surveys out right now so what out for survey fatigue

release cadence and OWNERs (800 people which is limited; however, these are the folks that might weigh in on both)

[2022-03-29 17:18] jberkus commented on #6575
Who are "downstream consumers"?  That is, who are we targeting with this?

[2022-03-29 17:31] jberkus commented on #6575
More questions:

(btw, in the future a Google Doc works better, becuase then we can comment on, and collaborate on, the individual questions.  We can't do so on a form)

1. Are you requesting that folks have only one response per organization?  That is, an "official" response?
2. Questions 2 and 3 seem unlikely to yield useful information.  Let me suggest instead:

(2) How much will renaming the p

[2022-03-29 17:37] jberkus commented on #6575
If this is going to have "official" answers, we need some guarantee of confidentiality for respondees, and probably an alternate route to provide you with feedback if they just can't type stuff into a form.  In the latter case, who should they contact directly? Carlos and Jeremy?

[2022-03-30 00:29] jberkus commented on #6554
Questions:

Does this mean that the first sessions start at 13:10?

Is that a half-hour Unconference session at 15:30?  or something else?

[2022-03-30 00:30] jberkus commented on #6554
More ideas:

How about having one pre-planned session from 10:30 to 11:30?  Something we've figured out ahead of time?

[2022-03-30 06:48] guettli opened #6576 "How to handle "do-not-merge/invalid-commit-message""
### Describe the issue

I accidentely used `close #NNNN` in my commit message.

The PR got the `do-not-merge/invalid-commit-message` label.

I updated the commit-message via the webgui of github, but the label was not removed.

Please update the docs and explain what I can do to remove the label.

Docs: https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#do-not-

[2022-03-30 06:49] guettli commented on #6576
/sig contributor-experience

[2022-03-30 09:08] cpanato commented on #6575
Thanks, Josh, for the feedback and inputs.
The main idea of the survey is to collect feedback and have an idea of how that will affect the downstream users when we do the branch rename.
So we can plan to do the change in the next release cycle or move to the next one.

An "official" answer might take much more time, but if we decide to move in this direction sounds good.

Agree on the extra questi

[2022-03-30 09:45] erkules opened #6577 "Make Helm able to disable auto-generate-certs"
### Describe the issue

`--auto-generate-certificates` is enabled by default.
Right now it can be disabled by setting protocolHttp.
As an admin I would like to provide an option to disable `--auto-generate-certificate` and still run HTTPS.
I would like to provide a patch giving the opportunity disable  by .Values.disableGenerateCertificates.
This wold unset `--auto-generate-certificates` and disab

[2022-03-30 11:07] erkules commented on #6577
/sig ui

[2022-03-30 12:02] mrbobbytables commented on #6577
The helm project is independent of kubernetes. Please see https://github.com/helm instead

/close

[2022-03-30 12:03] #6577 closed

[2022-03-30 12:19] erkules commented on #6577
I opened an issue on https://github.com/kubernetes/dashboard
and landed here. There ist the "bug" I doubt the helm-people would fix something in https://github.com/kubernetes/dashboard

[2022-03-30 16:38] lavalamp commented on #3752
Note that we should also recommend the newer SSA version of these concepts.

I don't know if we can realistically get rid of SMP, or even officially deprecate it, at least not soon -- but it has bugs we don't intend to fix.

[2022-03-30 16:55] jberkus commented on #6575
Well, the question becomes: would we be satisfied with responses from the large vendors and large users (some of them), or do we need to get responses from many small vendors/users?

[2022-03-30 18:32] guettli commented on #6576
I was blind. Sorry

[2022-03-30 18:33] guettli commented on #6576
Reopen: I work with git since ages, but I have never changed a commit message. Maybe it would be good to have a hint at this place:

https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#do-not-use-github-keywords-or-mentions-within-your-commit-message

[2022-03-31 14:35] puja108 commented on #6554
These both are a bit TBD, I'd like to get an y'alls suggestions if 30 or 45 min slots would be best. Once we have a slot length, we can detail out the unconference part of the schedule I'd say.

I like that idea. Did you already have sth in mind?

[2022-03-31 15:16] zhaojul opened #6580 "REQUEST: New Slack channel kubernetes-ha"
### GitHub Username

zhaojul

### Slack Username

zhaojli

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

kubernetes-ha

### Description of Request

I hope there is a channel for discussing Kubernetes high availability related technologies, and everyone can get help in this channel.
Thanks Team.

[2022-03-31 15:28] jberkus commented on #6575
Per @cpanato on slack, we'll be targeting the organizations we can reach directly.

[2022-03-31 15:41] cpanato commented on #6575
I think if possible we can send them directly to all we have information from CNCF and also we send that out in the k-dev mailing list and use social media to broadcast more

[2022-04-01 11:46] furkatgofurov7 opened #6581 "Dead link to plugins yaml in Setting up the CNCF CLA check document"
### Describe the issue

The reference link to plugins.yaml in https://github.com/kubernetes/community/blob/master/github-management/setting-up-cla-check.md#label-automation is dead and the correct link should be the https://git.k8s.io/test-infra/config/prow/plugins.yaml because `prow/plugins.yaml` was moved to `config/prow/plugins.yaml`

[2022-04-01 11:47] furkatgofurov7 commented on #6581
I am happy to put a fix if it is actually a wrong link and agreed upon with maintainers!

[2022-04-01 11:52] furkatgofurov7 commented on #6581
/sig docs

[2022-04-01 19:46] mrbobbytables commented on #6581
Thanks!

/remove-sig docs
/sig contributor-experience
/area github-management

[2022-04-01 22:04] #6383 closed

[2022-04-01 22:07] mrbobbytables opened #6584 "Update CLA Instructions for EasyCLA"
### Describe the issue

For Corp CLAs, the instructions should be updated that contributors should ensure their default email address associated with their LFID profile is set to their corp email. If not, it can lead to issues with the CLA system.

/sig contributor-experience
/area community-management

[2022-04-03 16:00] endocrimes commented on #5234
/remove-lifecycle stale

working on this - blocked on approvals for some draft docs before doing a full audit in one go

[2022-04-04 06:05] wojtek-t commented on #5236
/remove-lifecycle stale

@marseel did a bit of progress on improving our documentation, but there are still things left to audit here

[2022-04-04 17:20] puja108 commented on #6553
@chris-short as Marketing Lead

[2022-04-04 17:35] puja108 commented on #6554
cc @pnbrown re schedule adjustment

[2022-04-05 00:09] mrbobbytables commented on #6576
We have this documented in our pull-request guidelines
https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md#5-commit-your-changes

[2022-04-05 18:27] PushkarJ commented on #6496
+1

[2022-04-06 16:02] #6365 closed

[2022-04-06 16:32] #6367 closed

[2022-04-09 20:36] #4947 closed

[2022-04-10 14:47] sandipanpanda commented on #6584
I can help by updating the Corp CLA instructions.
/assign

[2022-04-11 03:25] #6580 closed

[2022-04-12 01:05] #6380 closed

[2022-04-12 22:27] jberkus commented on #6575
Survey is finished and is being sent out to all of the recipients we could think of by @onlydole, including social media, Leads, K-Dev, the Conformance list, CNCF's End Users, and some individual contacts at large vendors.

https://www.surveymonkey.com/r/k8s-branch-rename

[2022-04-12 22:30] jberkus commented on #6575
This issue will remain open until May 31st, when the survey closes.

[2022-04-13 17:27] utkarsh348 commented on #6544
The POC can track the specific events for the reaction added to a message. This is just a barebones implementation and from here we can proceed by understanding what features and permission settings we'll need to add(naturally this bot's features will need to have some restricted access), along with where to post the messages or agendas. We realize this will need some deliberation and we'd like to

[2022-04-13 18:42] reylejano commented on #5913
interested +1

[2022-04-14 00:35] hh commented on #5535
/cc @hh

[2022-04-14 19:33] #6225 closed

[2022-04-14 23:16] markyjackson-taulia opened #6606 "[TO DO] Add words to the slack guidelines for new slack channel creation"
### Describe the issue

This more centers around slack administrators and the PR review & approval process

/assign markyjackson-taulia

/sig contributor-experience

[2022-04-15 19:43] #6224 closed

[2022-04-17 09:02] #5738 closed

[2022-04-18 05:06] #6180 closed

[2022-04-18 06:45] geekygirldawn commented on #6307
/remove-lifecycle stale

[2022-04-18 14:32] Brijesh-09 commented on #6334
I want to work on this issue can you assign it to me?

[2022-04-18 15:18] nimbinatus opened #6609 "REQUEST: New communication about the April 2022 Community Meeting"
### What do you want send out?(Please include a link to a draft)

Looking to send out comms about the monthly Contributor Community Meeting. Here are some drafts:

- Email: https://gist.github.com/nimbinatus/410574bc3b99473369a7c141d5c3254a
- Tweet: The monthly community meeting is this week. Join us at 10am PT Thursday to have discussion with upstream contributors on topics like annual reports, t

[2022-04-18 15:25] neolit123 opened #6610 "SIG CL: migrate Zoom account to kubernetes.io"
### Describe the issue

the SIG CL Zoom account is currently bound to kubernetes-sig-cluster-lifecycle-leads@googlegroups.com
it's not clear who is in that group, but it might be an outdated list of SIG CL chairs.
https://groups.google.com/g/kubernetes-sig-cluster-lifecycle

we are actually blocked from logging in our Zoom acc, because Zoom sends verification codes to the same old group.
Slack thr

[2022-04-18 15:25] neolit123 commented on #6610
/sig cluster-lifecycle
/kind feature
/area zoom

[2022-04-18 15:32] neolit123 commented on #6610
/area admin

[2022-04-18 15:40] AndreSPy1 commented on #6334
/unassing

[2022-04-19 03:39] #6471 closed

[2022-04-19 08:07] endocrimes opened #6611 "sig-node: CONTRIBUTING.md updates"
/sig node
/kind documentation

The sig-node contributor documentation currently assumes a lot of existing knowledge about how the kubernetes project works. To help foster new contributions from people who don't necessarily have existing upstream contributor knowledge, or people within their organization who can train them we should update this document.

I think we probably need to focus on the fo

[2022-04-19 11:45] endocrimes opened #6612 "sig-node: Document Reviewer/Approver requirements"
/sig node
/kind documentation

sig-node has requirements beyond those defined by the project for becoming a reviewer/approver, but they are not currently publicly documented. This issue stands to track publicly documenting them when the process is finalized.

[2022-04-21 05:46] grosser commented on #6233
irony bot to the rescue :D

[2022-04-21 05:46] grosser commented on #6232
staying alive

[2022-04-21 17:35] jberkus commented on #5886
other advantages:

- having a defined interval at which we talk about replacing chairs would mean that chairs could leave *and come back*

I am -1 to term limits at this point.

[2022-04-24 17:18] markyjackson-taulia commented on #5546
/remove-lifecycle stale

[2022-04-26 14:34] jayunit100 opened #6619 "add note aboute 1.24 removal to the dockershim page"
### Describe the issue

https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-deprecation-affects-you/ seems to have been not updated since 2021

/assign @ridavid2002

[2022-04-26 14:54] #6366 closed

[2022-04-26 16:49] sftim commented on #6619
/transfer website

[2022-04-27 17:18] chris-short opened #6620 "REQUEST: New tweet about KCEU KCS 2022 Registration Closing"
### What do you want send out?(Please include a link to a draft)

Friendly reminder, registration for the Kubernetes Contributor Summit EU 2022 closes on 13 May 2022 https://k8s.dev/summit #KubeCon

[2022-04-28 00:53] parispittman opened #6622 "maintainer audit for a few SIGs"
### Describe the issue

looking to get unique reviewers and approvers for the following SIGs using the maintainer audit tool

SIGs:
Testing
Multicluster
Node
Cloud provider
API Machinery

Audit tool:
https://github.com/kubernetes-sigs/maintainers

/help
/sig contributor-experience

[2022-04-28 00:55] parispittman opened #6623 "emeritus counts in OWNERs files"
### Describe the issue

Looking to get a number for how many times 'emeritus' was put into any OWNERs file all k8s repos for two periods:
1 - calendar year 2021 - Jan 21-Dec 21
2 - Jan 22 - now

/help
/sig contributor-experience

[2022-04-28 06:23] MadhavJivrajani commented on #6622
/assign

[2022-04-28 16:44] reylejano opened #6625 "REQUEST: New private Slack channel sig-security-external-audit-2022"
### GitHub Username

reylejano

### Slack Username

rlejano

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

sig-security-external-audit-2022

### Description of Request

Request a private slack channel for the duration of the 2022 third party security audit with the SIG Security Third-party subproject and vendor, NCC Group, t

[2022-04-28 16:47] reylejano commented on #6625
cc: @tabbysable @IanColdwater

This request is for a private Slack channel for the 2022 third-party security audit and will be deleted after the audit findings are published.

[2022-04-29 12:29] Chenhait opened #6628 "how to use rkube?"
### Describe the issue

hi, i have read the wonderful paper "Mind the Gap: Broken Promises of CPU Reservations in Containerized Multi-tenant Clouds".
i want to make some experiment about this paper.
however, i am a new bird in kubernetes,
could you tell me about how to install the rkube?
thank you very much, and wish you a happy life.

[2022-04-29 12:59] mrbobbytables commented on #6628
rkube is not an upstream kubernetes project,  I think this is the repo you're looking for:
https://github.com/a-yiorgos/rkube

With that though - I'm going to go ahead and close this out. Goodluck!

/close

[2022-04-29 12:59] #6628 closed

[2022-04-29 14:00] Queeq opened #6629 "SVG icons have errors"
### Describe the issue

Hi,

`icons/svg/resources/labeled/` have `text-anchor:middle;` in the CSS styles for `<tspan>` elements, while `text-anchor` has to be the attribute of `<tspan>` itself.

More details [here](https://yed.yworks.com/support/qa/24568/kubernetes-svg-icons-imported-wrong).

In addition, `cronjob.svg`, line 100, references an ID which does not exist, which also makes SVG unusable

[2022-04-29 14:10] Queeq commented on #6629
/sig ui

[2022-04-29 14:17] Queeq commented on #6629
/remove-sig ui

[2022-04-29 17:45] Atharva-Shinde opened #6630 "Help Wanted: Drafting tweets for KubeCon EU 2022"
### Describe the issue

As KubeCon EU '22 is approaching,

We at ContribEx Upstream Marketing Team are looking for **contributors** to help in drafting a bunch of tweets for the KubeCon EU Keynotes and events for the Kubernetes Contributors (@K8sContributors) twitter account.

Those interested, feel free to comment and do **reach out to @contibutor-comms group in #sig-contribex** channel on slack

[2022-04-29 17:46] Atharva-Shinde commented on #6630
/sig contributor-experience

[2022-04-29 17:46] Atharva-Shinde commented on #6630
/good first issue

[2022-04-29 17:49] Atharva-Shinde commented on #6630
/good-first-issue
/help-wanted

[2022-04-29 17:53] Atharva-Shinde commented on #6630
/area contributor-comms

[2022-04-29 19:40] #5972 closed

[2022-05-01 14:48] #5981 closed

[2022-05-01 15:07] dims commented on #6334
I think we have done a bunch of this. Closing this for now, we may do this again.

[2022-05-01 15:07] #6334 closed

[2022-05-02 10:05] MadhavJivrajani commented on #6622
@parispittman 👋🏼

### SIG Testing

**Reviewer and approver count across _all subprojects_:**

| Review Count  | Approver Count |
| ------------- | ------------- |
| 36  | 44  |

**Reviewer and approver count _only_ in `k/k`:**

| Review Count  | Approver Count |
| ------------- | ------------- |
| 9  | 26  |

---

### SIG Multicluster

**Reviewer and approver count across _all subprojects_:**

| R

[2022-05-02 17:10] pnbrown opened #6633 "Unconference Topics - KCEU Contributor Summit 2022 Valencia"
### Describe the issue

Hi folks,
We're hosting an Unconference for the Contributor Summit this year in Valencia. We'd love to hear from you about topics in which you are interested. You can submit a topic, and upvote topics that seem interesting to you. We want to understand what is of general interest to the community, and not just for those who happen to be joining us in Valencia.

Topic: [Samp

[2022-05-02 17:15] pnbrown commented on #6633
/sig contributor-experience

[2022-05-02 22:30] Huang-Wei opened #6634 "sync up scheduler perf test document"
### Describe the issue

Per the recent cleanup in scheduler perf testings, we should sync the documents here.

Context: https://github.com/kubernetes/kubernetes/pull/109696#issuecomment-1113897666.

[2022-05-02 22:31] Huang-Wei commented on #6634
/sig scheduling

[2022-05-03 14:24] mrbobbytables commented on #5229
/reopen
/lifecycle frozen

[2022-05-03 23:05] #6223 closed

[2022-05-04 02:53] nikhita commented on #5425
/remove-lifecycle rotten

On Thu, 21 Apr 2022 at 21:05, Kubernetes Triage Robot <
***@***.***> wrote:

[2022-05-04 03:01] nikhita commented on #6308
@swatisehgal wanted to follow up on this. https://github.com/kubernetes/noderesourcetopology-api is still empty. Are you still planning to work on this or would you prefer archiving the repo?

I'm also assigning https://github.com/kubernetes/noderesourcetopology-api/issues/1 to you.

[2022-05-04 05:36] AvineshTripathi commented on #5425
@nikhita Isn't this issue resolved with the addition of the `maintainers` tool, or there is still some features left to be added in the tool to resolve this issue

[2022-05-04 06:12] nikhita commented on #5425
@AvineshTripathi the maintainers tool needs to be integrated into a prow job to inform when sigs.yaml gets out of date. @RaghavRoy145 is working on this.

[2022-05-04 11:45] swatisehgal commented on #6308
@nikhita  Thank you so much for following-up on this.
I wasn't able to work on this but certainly plan to do so. I will prioritize this work in the upcoming release cycle.

[2022-05-04 19:04] chris-short opened #6637 "REQUEST: New Slack channel for contributor-comms"
### GitHub Username

chris-short

### Slack Username

chris-short

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

contributor-comms

### Description of Request

Contributor Comms has grown to the point where we need more than adhoc mentions in #sig-contribex and ever evolving DM groups. Having our own channel could allow for

[2022-05-04 19:58] jberkus commented on #6637
+1, agreed this is needed for communications

/lgtm

[2022-05-04 20:01] mrbobbytables commented on #6637
I'd lean towards calling it something like sig-contribex-comms or something along those lines just to follow the general pattern we have for sig channels, but overall +1 to the idea.

[2022-05-05 14:05] mrbobbytables commented on #6625
+1 to creation

[2022-05-05 14:11] markyjackson-taulia commented on #6625
+1 to creation

[2022-05-05 15:03] chris-short commented on #6637
+1 @mrbobbytables

[2022-05-05 15:06] chris-short commented on #6637
On second thought, that would break the consistent naming throughout the project spaces. Hmm…
Thoughts @kaslin?

[2022-05-06 19:21] chris-short opened #6641 "Renaming marketing-team to contributor-comms impact survey"
### Describe the issue

We want to change the marketing-team subdirectory name to contributor-comms. But, we need to be ready with PRs in case it's mentioned in other files.

Here's the thankfully short list for things with marketing-team in the string: https://gist.github.com/chris-short/3288cb1273654e9323a14156ad58b6fc

I checked out all kubernetes repos and grepped recursively and case insensit

[2022-05-06 19:21] chris-short commented on #6641
/label area/contributor-comms

[2022-05-06 19:29] chris-short commented on #6641
/sig contributor-experience

[2022-05-06 19:29] chris-short commented on #6641
/label area/contributor-comms

[2022-05-06 19:53] chris-short commented on #6641
/area contributor-comms

[2022-05-08 15:52] markyjackson-taulia commented on #6370
/remove-lifecycle stale

[2022-05-08 20:22] markyjackson-taulia commented on #6357
/remove-lifecycle stale

[2022-05-09 01:40] mrbobbytables commented on #6370
This was merged some time ago, going togo ahead and close 👍

/close

[2022-05-09 01:40] #6370 closed

[2022-05-10 07:23] youngnick commented on #6633
Topic: The Gateway API and its future
Description: The Gateway API has been getting more visibility in the last six months or so. Both Rob Scott and Nick Young are planning on being present, so we can give an update on where things are at and take questions or talk about what's happening.
Moderator: @youngnick and @robscott if he's up for it.

[2022-05-10 09:46] pohly commented on #6633
Topic: Structured and contextual logging
Description: [Structured logging](https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#structured-logging) enables Kubernetes components to emit log data as JSON, which is faster, easier to parse, and has a richer semantic. [Contextual logging](https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#contextual-logging) is

[2022-05-10 14:29] aojea commented on #6633
Topic: Successful and Sustainable Quality
Description: Kubernetes is no longer a child, it grew so fast and so big that current quality expectations are very high.
However, it has already started to show symptoms that the quality is not as good as developers and users desire:
jobs failing permanently, flaky tests, regressions, bugs introduced by new features, technical debt never addressed, ...
So

[2022-05-10 16:22] sttts commented on #6633
Topic: Serving APIs to Workspaces in KCP. A Reset of how we think about CRDs. Also: name^Wworkspaced CRDs.
Description: CRDs are everywhere. Operators are a thing. CRD evolution is still a very hard topic, and offering CRDs and semantics in a super-multi-tenant setup (= thousands of tenants) even more so. KCP tries to reset our view of what a CRD is, how it is installed, how it is updated, how RBA

[2022-05-10 17:59] markyjackson-taulia commented on #6328
/remove-lifecycle rotten

[2022-05-10 18:04] mrbobbytables commented on #6328
/lifecycle frozen

[2022-05-11 10:30] nagpalnitin0110 opened #6645 "Nodes are flapping with error PLEG is not healthy: PLEG was last seen active 3m.6314604s ago, threshold is 3m0s This issue is coming only in 2 nodes out of 18 nodes"
Cluster version:- 1.20.14
Total Nodes:- 18
Issue on worker Nodes

[2022-05-11 11:40] JohnTitor opened #6646 "A link related to sig-scalability is broken"
### Describe the issue

A link to the test dir on https://github.com/kubernetes/community/blob/master/sig-scalability/charter.md#in-scope is broken.
I'm going to check the kubernetes repo, find an alternative, then fix it later.

[2022-05-11 11:41] JohnTitor commented on #6646
/sig scalability

[2022-05-11 11:43] mrbobbytables commented on #6645
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2022-05-11 11:44] #6645 closed

[2022-05-11 12:21] #6646 closed

[2022-05-11 18:40] reylejano commented on #6625
Thank you @mrbobbytables @markyjackson-taulia @tabbysable , let me know what the next steps are

[2022-05-11 18:51] mrbobbytables commented on #6625
channel has been created 👍

/close

[2022-05-11 18:51] #6625 closed

[2022-05-11 20:03] han-so1omon opened #6648 "Issue with tests. Proposed fix."
### Describe the issue

Running `make test` and `make test-dockerized`. Failing due to what seems to be a lack of `stakeholder_sigs` property in the `generator/testdata/sigs.yaml` file. Proposed fix below. I apologize, I'm too lazy at the moment to submit the PR myself. There's also a good chance that I'm running the tests wrong. Anyways

Failing as such:

[code]

Fixed by adding the following (bo

[2022-05-11 20:07] han-so1omon commented on #6648
/sig docs

[2022-05-11 20:08] han-so1omon commented on #6648
Not sure if docs is the correct group, but it is whichever groups is responsible for maintaining the `kubernetes/community` repo itself

[2022-05-12 08:10] saschagrunert commented on #5235
/close

[2022-05-12 08:10] #5235 closed

[2022-05-12 17:26] cblecker commented on #6648
/sig contributor-experience
/remove-sig docs

[2022-05-12 23:36] JohnTitor commented on #6648
Thanks for reporting! Fixed on master.

[2022-05-13 08:05] #6222 closed

[2022-05-13 17:19] pohly commented on #6633
Topic: [Dynamic Resource Allocation KEP](https://github.com/kubernetes/enhancements/pull/3064)
Description: Users are increasingly deploying Kubernetes as management solution for new workloads (batch processing) and in new environments (edge computing). Such workloads no longer need just RAM and CPU, but also access to specialized hardware. With upcoming enhancements of data center interconnects,

[2022-05-15 21:40] sftim commented on #6633
Topic: Improving diagrams for Kubernetes
Description: Diagrams help make for good tech docs. Which are the topics that need good diagrams? These could be end-user concepts such as VerticalPodAutoscaler or ReplicaSet. Internal topics are fair game too - we can add diagrams to content within https://k8s.dev/ and help get new contributors up to speed sooner.
References: https://www.k8s.dev/blog/2021/

[2022-05-16 01:40] riking commented on #6263
Seems like work has moved to other issues.

/close

[2022-05-16 01:40] #6263 closed

[2022-05-16 08:53] marquiz commented on #6633
Topic: [Class Resources KEP](https://github.com/kubernetes/enhancements/pull/3004)

Description: Not all resources can be managed with the current Kubernetes resource model. This KEP introduces the concept of class resources which could be described as "QoS resources" or "opaque non-integer resources". Think about extended resources for non-accountable resource types. The initial motivation for cl

[2022-05-16 09:46] luxas commented on #6633
Topic: Why is Kubernetes and cloud native principles the way they are?

Kubernetes is often described as designed from “decades of experience”, but it is not as often mentioned what that means in practice. Quite conversely, many newcomers to Kubernetes find it “too complex”. Why is it, or why is that the impression? What is actually the principle of cloud native? Why were certain design decisions

[2022-05-16 17:43] grantm44 opened #6653 "AWS EKS issue - opened a new terminal window and no kubectl commands work"
### Describe the issue

Opened a new terminal window and now no kubectl commands work. Everything was working perfectly before

For instance I enter _kubectl get svc_. Get back error
error: error loading config file "C:\Users\grant\.kube\kubectl.exe": yaml: invalid leading UTF-8 octet

Or if I try to update the config file using _aws eks update-kubeconfig --name EKS-*******_
terminal outputs 'char

[2022-05-16 20:36] #6653 closed

[2022-05-16 20:37] grantm44 commented on #6653
Wrong version of kubectl mismatch with EKS cluster. Downloaded kubectl 1.22 and it worked

[2022-05-17 23:49] shu-mutou commented on #6384
/remove-lifecycle stale

[2022-05-18 07:47] nckturner commented on #6368
/remove-lifecycle stale

[2022-05-18 07:48] nckturner commented on #6368
Report PR is waiting on another round of review: https://github.com/kubernetes/community/issues/6368

[2022-05-19 23:13] BenTheElder commented on #6290
/lifecycle frozen

[2022-05-19 23:15] BenTheElder commented on #5636
/remove-lifecycle stale

[2022-05-20 09:38] rikatz opened #6657 "Ingress NGINX future survey"
### Group Requesting

Ingress NGINX / sig-net subproject

### Title of Survey

Shaping the future of Ingress NGINX

### Goal of Survey

Research what features are more used in ingress-nginx, what should be deprecated, what are the pain points to adopt later versions and what we recently broke that may have caused problems (will help us define how to fix it)

### Target Audience

Ingress NGINX user

[2022-05-20 09:38] rikatz commented on #6657
We will define the questions after kubecon.

[2022-05-20 12:00] strongjz commented on #6657
@jberkus We started this document here https://docs.google.com/document/d/1sH1INQPRHeIe2yAWG3w3zyUOqy9Pnkc8__aBmDOdTkA/edit?usp=sharing

[2022-05-21 13:07] Ayan-thecodeking commented on #6630
hey @Atharva-Shinde I want to work on this issue ..
let Me know if it is pending

[2022-05-22 11:15] NitishKumar06 commented on #6630
Hey @Atharva-Shinde , I'm beginner to K8s. I believe this is the perfect issue for me to get started . Can you guide me on what's need to be done?

[2022-05-22 11:15] NitishKumar06 commented on #6630
/assign

[2022-05-22 17:17] Atharva-Shinde commented on #6630
Unfortunately all the work for tweets of KubeCon EU 22 has been done with as the event's already passed.

Nevertheless you can join the Kubernetes server on slack if you haven't yet. There's always some or the other work new contributors like you can help with!
@Ayan-thecodeking @NitishKumar06

[2022-05-22 17:17] #6630 closed

[2022-05-23 07:52] ameukam commented on #6373
/remove-lifecycle stale

[2022-05-24 04:01] liangfujian opened #6662 "Installing kubesphere-v3.21 on k8s-v1.21.22"
### Describe the issue

        template was:
                {.items[0].metadata.name}
        object given to jsonpath engine was:
                map[string]interface {}{"apiVersion":"v1", "items":[]interface {}{}, "kind":"List", "metadata":map[string]interface {}{"resourceVersion":"", "selfLink":""}}

error: expected 'logs [-f] [-p] (POD | TYPE/NAME) [-c CONTAINER]'.
POD or TYPE/NAME is a requ

[2022-05-25 04:26] jaytiaki opened #6663 "Adding steps/detail to Contributor Guide - Getting Started"
### Describe the issue

(Experience of new Contributor) The Guide assumes that those navigating the page(s) might have pre-existing knowledge about Kubernetes, some terminology e.g. 'SIGs' on the 'Welcome' page, and the concept of contribution.

Would there be value in adding brief descriptions/breakdowns of these (providing links for further info as required), in the event this is a visitors firs

[2022-05-25 13:49] anubha-v-ardhan opened #6664 "Update link for SIG-Docs meeting notes and agenda"
### Describe the issue

The currently linked document for APAC SIG Meeting and Regular SIG Meeting notes on [SIG-Docs README](https://github.com/kubernetes/community/tree/master/sig-docs) has been archieved and no longer in use.

We should update the link to [new meeting notes](https://bit.ly/sig-docs-agenda)

[2022-05-25 13:50] anubha-v-ardhan commented on #6664
/sig docs

[2022-05-25 13:57] Aayush987 commented on #6664
/assign

[2022-05-25 16:28] mrbobbytables commented on #5478
/reopen
/lifecycle frozen

[2022-05-25 18:01] parispittman opened #6665 "sig cli & sig apps group contributor ladder cohort - reviewers"
**this is not a group for new contributors - sorry y'all!**
**we are full as of July 12th. feel free to comment in case we have openings come up.**

**Timelines:**
- selection: done
- kick off: maybe august 1st or 3rd
- weekly slack standup day: Monday (Apps) and Wednesday (CLI). Mentees must check-in during these days and mentors will be available to answer questions.
- session dates/times TBD [s

[2022-05-25 18:02] parispittman commented on #6665
/sig cli
/sig apps
/sig contributor-experience
/area mentorship-planning

[2022-05-26 03:06] harshitasao commented on #6641
/assign

[2022-05-26 07:59] AvineshTripathi commented on #6665
Hey @parispittman I am interested joining the group

[2022-05-26 10:41] serathius commented on #6393
/close
Report was done and merged.

[2022-05-26 10:42] #6393 closed

[2022-05-26 11:08] valaparthvi commented on #6665
I'm interested in being a part of sig/cli. I'm an existing member of the  org, and relevant slack channels.

[2022-05-26 18:14] parispittman commented on #6663
I would be happy to accept PRs in areas that do not have our terms spelled out and defined like SIGs but at this stage in the game, I would hope folks are aware of Kubernetes and what it does by the time they start contributing. Most of the contribution areas right now require you to know and understand the basics of Kubernetes. Maybe link to the kubernets.io site in the first paragraph of the gui

[2022-05-26 19:19] mrbobbytables commented on #6663
I agree with Paris - you really should have some base knowledge of what Kubernetes is before you should consider contributing to it. FWIW, we are going to be publishing a new contributor course that will cover a bit more of the general "what is a SIG" type questions in a streamlined onboarding path. These days I think the contributor guide itself is a bit more of a reference instead of start to fi

[2022-05-26 22:58] jaytiaki commented on #6663
Thank you both for your considered feedback.
@parispittman - That's all clear and helpful, I'll have a crack at those PRs as suggested :)
@mrbobbytables - The contributor course sounds awesome; can I ask if I specific Repo has been created to develop this? I'm currently starting similar work to support underrepresented groups/individuals into the space, so don't want to risk potentially doubling-u

[2022-05-27 05:11] Priyankasaggu11929 commented on #6665
Hello Paris, I'm interested to be a participant of the 'apps-reviewer' cohort.

I commit to contributing at least 2-5 hours per week for the duration of the cohort, and then steadily grow beyond that. My goal for attending the cohort is to learn more about a technical aspect of the Kubernetes project and to establish a strong foundation.

I acknowledge that I have read and I understand the above m

[2022-05-27 05:20] pravarag commented on #6665
Hi @parispittman , I'm interested in joinning the group as a reviewer. I've done some regular contributions towards sig-scheduling in projects like descheduler, kube-scheduler-simulator and sig-testing issues. I'm ready to commit at least 2-5 hours per week and would love to stick around for the mentioned duration of 1 year or more.
I've Git org membership and a part of SIGs slack channels and att

[2022-05-27 06:05] CIPHERTron commented on #6665
Hello @parispittman 👋
I can fulfill the above mentioned requirements and would love to be a part of this cohort.

Slack handle: Pritish (Pritish Samal)

[2022-05-27 14:40] jberkus commented on #6084
this is still planned.

/remove-lifecycle stale

[2022-05-28 18:00] #6200 closed

[2022-05-30 17:28] suryashekhawat commented on #6665
Hey @parispittman, I'm interested in working with this cohort, I am new to oss would like to start with you all as a starting step.
[email: sing.shekhawat67@gmail.com]

[2022-06-01 14:22] markyjackson-taulia opened #6680 "REQUEST: Archived Slack Channel <[sig-docs-dockershim]>"
### GitHub Username

Ray Lejano

### Slack Username

Rey Lejano

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Archive Channel

### Name of Requested Resource

Archive

### Description of Request

With the release of 1.24 and we finished our post-1.24 set of SIG Docs dockershim-removal meetings, we can archive the #sig-docs-dockershim channel

[2022-06-01 14:23] markyjackson-taulia commented on #6680
/assign @markyjackson-taulia

[2022-06-01 15:10] dani-santos-code commented on #6665
Hi! I'm also interested in joining this cohort and also can meet the listed requirements
Slack Handle: Daniele Santos

[2022-06-01 15:21] parispittman commented on #6665
@suryashekhawat @cailynse @dani-santos-code I don't see you in the GitHub Org unfortunately. Here is the contributor ladder that describes how to become an org member. You'll need at least 2 merged pull requests and 2 sponsors from different companies/independents. https://github.com/kubernetes/community/blob/master/community-membership.md#member

[2022-06-01 16:23] MadhavJivrajani commented on #6623
@parispittman - some numbers for k/k:

### For the calendar year 2021:

Important to keep in mind:
- Total number of OWNERS files where an `emeritus_approver` was added = 66
- Total number of OWNERS files where an `emeritus_approver` was removed = 2

- Number of added `emeritus_approvers` = 98
- Average number of `emeritus_approvers` added per OWNERS file = 1.48
- Number of removed  `emeritus_appr

[2022-06-01 17:00] cailynse commented on #6665
@parispittman - Is it conceivable to try and achieve membership before this program kicks off? If not, how often do these opportunities arise?

[2022-06-01 18:37] Atharva-Shinde commented on #6665
Hi @pgadige you can get started contributing to Kubernetes by joining our slack! In order to be able to participate in this cohort you at least need to be an org-member. (@cailynse) If you are not a member do not worry :) there's always some or the other work new contributors like you can help us with which will help you in becoming an org-member.
I would focus more on engaging and contributing to

[2022-06-01 18:39] chetak123 commented on #6665
Hello @parispittman I have contributed in kubernetes-sigs in the past and I'm really interested in this program, I have also asked for some help to get github membership in slack channel https://kubernetes.slack.com/archives/C09R23FHP/p1654108446287059
I would be really grateful if someone can please help me in fulfilling the requirement for this program

Slack handle : Ayushman Mishra

[2022-06-02 08:50] MadhavJivrajani commented on #6623
Created https://github.com/kubernetes-sigs/maintainers/pull/21 to try and automate this for the future.

[2022-06-02 16:26] parispittman commented on #6622
thanks again @MadhavJivrajani !

/close

[2022-06-02 16:26] #6622 closed

[2022-06-02 19:28] Namanl2001 commented on #6665
Hey @parispittman 👋
I fulfill all the requirements mentioned above and would love to be a part of this long journey with all other folks :)

Slack handle: `Naman Lakhwani`

[2022-06-03 02:16] prnvkv commented on #6665
Hey @parispittman !!
I will be glad to be part of this program as i can fulfill the mentioned requirements.

Slack Handle: Prnv
Full Name: Pranav Kamath

[2022-06-03 08:41] NitishKumar06 commented on #6662
@liangfujian Please ask your doubts in the[ slack](https://kubernetes.slack.com/) channel of Kubernetes.

[2022-06-03 21:54] markyjackson-taulia commented on #6505
/remove-lifecycle stale

[2022-06-04 20:42] dstrbad commented on #6665
Ehlo, would like to join, understood requirements. On slack `dstrbad`, interested in following SIGs: security, scheduling, instrumentations

[2022-06-05 18:42] vaibhav2107 commented on #6016
/remove-lifecycle stale

[2022-06-05 23:53] neolit123 commented on #6369
/close

https://github.com/kubernetes/community/pull/6458 merged.

[2022-06-05 23:54] #6369 closed

[2022-06-06 05:25] meghanajangi commented on #6665
Hello @parispittman ,
I can meet the listed requirements and would like to join this cohort.
Slack handle: MeghanaJangi

[2022-06-06 22:20] jberkus commented on #6505
@markyjackson-taulia what is this request waiting on?

[2022-06-06 22:21] markyjackson-taulia commented on #6505
@jberkus nothong to my knowledge other than an approval

[2022-06-06 22:50] parispittman commented on #6357
/assign @cblecker

[2022-06-07 00:07] DylanGraham commented on #6505
/lgtm

[2022-06-07 00:09] mrbobbytables commented on #6505
Approval is done, just have to create it+document it.

IMO, if we don't document it first, it probably won't happen. I'd suggest that as next steps.

[2022-06-07 00:14] markyjackson-taulia commented on #6505
@mrbobbytables i can take on the documentation. I have an item for the escalation procedure

[2022-06-07 00:19] mrbobbytables commented on #6505
Go for it!
It'd probably go in our main moderation doc or the moderator list

[2022-06-07 05:48] Atharva-Shinde commented on #6505
+1

[2022-06-07 17:58] Atharva-Shinde commented on #6664
/close

[2022-06-07 17:59] #6664 closed

[2022-06-07 17:59] Atharva-Shinde commented on #6664
/close

[2022-06-07 18:29] parispittman commented on #6665
it would be best if you have been contributing to apps, cli, or another related group for this as being a reviewer requires some previous knowledge of how things work

[2022-06-08 15:15] #6609 closed

[2022-06-09 19:17] mrbobbytables commented on #6381
/close

[2022-06-09 19:17] #6381 closed

[2022-06-10 11:08] FeU-aKlos opened #6697 "Broken link"
### Describe the issue

The link  for the slides about the k8s-icons is broken.
[Kubernetes_Icons_GSlide](https://docs.google.com/presentation/d/15h_MHjR2fzXIiGZniUdHok_FP07u1L8MAX5cN1r0j4U/edit)

[2022-06-10 11:13] FeU-aKlos commented on #6697
/sig Docs

[2022-06-10 15:05] mrbobbytables commented on #6553
/close

[2022-06-10 15:05] #6553 closed

[2022-06-10 15:08] mrbobbytables commented on #6633
Summit is over, thanks all!

/close

[2022-06-10 15:08] mrbobbytables commented on #6554
Summit is over, thanks all!

/close

[2022-06-10 15:08] #6633 closed

[2022-06-10 15:08] #6554 closed

[2022-06-10 16:33] #6331 closed

[2022-06-10 16:51] chris-short commented on #6637
FYI @jberkus and @mrbobbytables ^^^

[2022-06-10 16:56] mrbobbytables commented on #6637
Please go ahead and open a PR to add it 👍

[2022-06-10 17:38] chris-short commented on #6641
This will need to be broken up into four (4) different PRs based on what needs changing. All mentions of marketing-team need to be replaced with contributor-comms. Here's how I'd manage the PRs:

Look in higher level directory for OWNERS files to see who has approval rights.

1. `community` repo has multiple mentions; sigs.yaml likely needs an independent PR
   1. community/committee-steering/gove

[2022-06-10 18:12] eddiezane opened #6699 "1Password for SIG CLI"
### Describe the issue

SIG-CLI is requesting a 1Password vault to share credentials.

/assign @mrbobbytables
/cc @soltysh @KnVerey @seans3 @natasha41575

[2022-06-10 18:39] #6606 closed

[2022-06-10 19:11] chris-short commented on #6641
Also, you can check here for any other potentially lingering places: https://cs.k8s.io/?q=marketing-team&i=nope&files=&excludeFiles=&repos=

[2022-06-11 02:43] harshitasao commented on #6641
Thank you, @chris-short. This is very helpful. I will make a PR soon.

[2022-06-12 14:03] markyjackson-taulia commented on #6088
/remove-lifecycle stale

[2022-06-12 14:04] markyjackson-taulia commented on #6088
This is still ongoing but very close to the end.

[2022-06-14 11:30] atiratree commented on #6665
Hi @parispittman , I would like to sign up for this cohort with a preference for sig-apps and ackowledge the requirements.
Slack handle: Filip Krepinsky

[2022-06-14 16:12] #6288 closed

[2022-06-15 07:11] MadhavJivrajani opened #6704 "Community Meeting: Requesting a new label - `area/community-meeting`"
### Describe the issue

@nimbinatus suggested adding a new label `area/community-meeting` in order to try and ease curation of content for the monthly Kubernetes community meeting.

Some more specifics:
- Anyone can add this label on an issue or a PR
- Before a community meeting, the issues and/or PRs with
  this label are taken and filtered down and curated for the
  meeting.

TODO:
- [x] Lazy Co

[2022-06-15 07:11] MadhavJivrajani commented on #6704
/sig contributor-experience

[2022-06-15 08:25] #6637 closed

[2022-06-15 13:22] Rishit-dagli opened #6705 "Incorrect times in the K8s Contributor Calendar"
### Describe the issue

The [K8s Contributor Calendar](https://calendar.google.com/calendar/u/0/embed?src=cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com&ctz=America/Los_Angeles) has an incorrect time listed for the Kubernetes Office Hours, the time listed is 2 hours behind the real meeting time. I noticed this discrepancy while trying to join today's Office Hours, it seems that https://githu

[2022-06-15 14:29] nimbinatus commented on #6704
Thank you for doing this! Relates to #6544

[2022-06-15 16:32] iamNoah1 commented on #6665
This is super awsome <3 Definitely interested :)

[2022-06-15 20:55] parispittman commented on #6665
updates for all: we are going to start outreach and selection post KEP freeze (enhancement proposals) and will try and target a kick off of mid-August. for folks who aren't org members yet, still plenty of time. k8s.dev/guide

I'll update this thread again mid-late next week (July 22-25).

[2022-06-16 12:04] Sakuralbj opened #6707 "Reduce memory consumption of apiserver by replacing encoding/json with json-iterator"
### Describe the issue

We have a kubernetes cluster with 5k nodes and 5w pods. When we get the heap profile of apiserver, we find that large memory is used for json.encode in translateforobject.

[2022-06-16 12:09] MadhavJivrajani commented on #6707
/transfer kubernetes

[2022-06-16 17:06] parispittman commented on #6623
thanks @MadhavJivrajani again! closing this

/close

[2022-06-16 17:07] #6623 closed

[2022-06-16 17:46] jberkus opened #6708 "Community Meeting Calendar item should link to the RO version of the notes"
### Describe the issue

Currently:

The Community Meeting calendar item links to the read-write version of the agenda, which during the meeting can cause the doc to freeze for the note-taker.

Fix:

The calendar item should link to the RO version (http://bit.ly/k8scommunity-ro) and then the agenda itself can have a link to the RW version for people adding items or taking notes.

/sig contributor-e

[2022-06-17 04:19] divya-mohan0209 commented on #6371
/remove-lifecycle rotten

[2022-06-17 04:20] divya-mohan0209 commented on #6371
@cblecker : May we close this since the 2021 SIG Docs report has been submitted & merged?

[2022-06-17 15:46] #6345 closed

[2022-06-17 21:48] jberkus commented on #6657
OK, the survey questions look good and complete.  I can turn this into a surveymonkey survey and ask Comms to help broadcast as soon as you're ready.

[2022-06-18 02:12] strongjz commented on #6657
Unless @rikatz disagrees we can send it out as soon as it's ready.

[2022-06-18 03:52] rikatz commented on #6657
I will never disagree with you James, unless you tell me that it is kubecuddle and not kube-c-t-l

@jberkus if it’s my call, I think this can be send as soon as contribex can send it :) we are ready for this!

[2022-06-20 15:22] grosser commented on #6233
/reopen
... also it should not mark them as "completed"

[2022-06-20 15:23] grosser commented on #6232
/reopen

[2022-06-20 19:35] cblecker commented on #6704
Two questions:
- Should this label apply to all orgs/repos, or only specific ones like k/commmunity?
- If the latter, has our chartered consensus process been followed for this change? https://github.com/kubernetes/community/blob/master/sig-contributor-experience/charter.md#cross-cutting-and-externally-facing-processes

[2022-06-21 10:03] MadhavJivrajani commented on #6704
@cblecker thanks for pointing that out. I missed that.

All orgs/repos. Since a PR or issue from any org/issue can be of interest to the broader community.
This change virtually "effects" all SIGs/WGs in that all repos across orgs will have this label, but it is also a low risk change which can be rolled back if needed. I can send a laze consensus notice to k-dev with this issue if needed.

[2022-06-21 13:10] Atharva-Shinde commented on #6517
/remove-lifecycle stale

[2022-06-21 15:25] cblecker commented on #6704
That all makes sense to me! Feel free to proceed with seeking consensus :)

[2022-06-21 15:32] mrbobbytables commented on #6704
My one thought on this is, how likely are the folks running the meetings actually going to SEE items outside of k/community?
if we had an issue template here with it we might be able to build the list of items more easily.

[2022-06-21 16:46] parispittman commented on #6392
/close

[2022-06-21 16:46] #6392 closed

[2022-06-21 16:47] #6391 closed

[2022-06-21 16:47] parispittman commented on #6389
/close

[2022-06-21 16:47] #6389 closed

[2022-06-21 16:48] parispittman commented on #6362
/close
https://github.com/kubernetes/community/blob/master/sig-api-machinery/annual-report-2021.md

[2022-06-21 16:48] #6362 closed

[2022-06-21 16:52] parispittman commented on #6364
/close
https://github.com/kubernetes/community/blob/master/sig-architecture/annual-report-2021.md

[2022-06-21 16:52] #6364 closed

[2022-06-21 16:52] parispittman commented on #6376
/close

[2022-06-21 16:52] #6376 closed

[2022-06-21 16:53] parispittman commented on #6488
many thanks to @sftim and @reylejano with the assist

/close

[2022-06-21 16:53] #6488 closed

[2022-06-21 16:54] parispittman commented on #6382
/close

https://github.com/kubernetes/community/pull/6587

[2022-06-21 16:54] parispittman commented on #6371
/close
https://github.com/kubernetes/community/pull/6627

[2022-06-21 16:55] #6371 closed

[2022-06-21 16:55] #6373 closed

[2022-06-21 16:55] parispittman commented on #6374
/close

[2022-06-21 16:56] #6374 closed

[2022-06-21 16:57] #6375 closed

[2022-06-21 16:57] #6388 closed, assigned to nobody

[2022-06-21 16:58] #6390 closed

[2022-06-21 16:59] parispittman commented on #6385
/close
https://github.com/kubernetes/community/pull/5615

[2022-06-21 16:59] #6385 closed

[2022-06-21 17:00] #6368 closed

[2022-06-21 17:47] parispittman commented on #1913
with the annual report checks and the new tool above that dims linked, @lavalamp do you think we are in a better place now and ok to close this?

[2022-06-21 19:52] jberkus commented on #6641
Hey, I added this to the ContribEx meeting for tommorrow; need to know what the timing is on this so that I can approve a bunch of PRs.

[2022-06-22 00:22] jberkus commented on #6575
Survey has been completed.

Detail data has been sent to recipients.

[2022-06-22 00:23] jberkus commented on #6575
/close

[2022-06-22 00:23] #6575 closed

[2022-06-22 16:08] justaugustus commented on #6575
Thanks again, Josh!!

[2022-06-23 13:48] strongjz commented on #6657
/assign @jberkus

We have reviewed the Doc with Josh, next step is to get the survey into survey monkey and send it out to the k dev mailing list.

[2022-06-23 13:53] ameukam opened #6717 "REQUEST: New Slack webhook for k8s infra"
### GitHub Username

ameukam

### Slack Username

ameukam

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Webhook

### Name of Requested Resource

_No response_

### Description of Request

I would to be able to send notifications from multiple GCP projects using the GCP monitoring API to the slack channel `#k8s-infra-alerts`.
Ref: https://cloud.google.com/monitorin

[2022-06-23 13:56] ameukam commented on #6717
cc @mrbobbytables @markyjackson-taulia

[2022-06-23 14:00] ameukam commented on #6717
Similar request have be made before: https://github.com/kubernetes/community/issues/4534

[2022-06-23 22:08] jberkus commented on #6082
/area elections

[2022-06-23 23:43] jberkus commented on #6657
@kubernetes/contributor-comms  this survey is in final review.  Once it's ready we'll want to promote it.

[2022-06-24 14:06] cpanato commented on #6575
many thanks josh <3

[2022-06-24 18:33] jberkus commented on #6657
The survey is now ready:  https://www.surveymonkey.com/r/ingressngx2022

Comms, let's discuss promoting it on Monday.

[2022-06-24 19:21] AvineshTripathi commented on #6657
Hey @jberkus, from comms I've taken up this task to promote this survey

[2022-06-24 19:51] jberkus commented on #6717
So what happened with the original request?

[2022-06-24 20:02] #6353 closed

[2022-06-24 20:19] jberkus commented on #6717
(discussion on Slack ensues)

So this is a request to track additional GCP projects, rather than a request for a new app.  I see no reason not to grant it.

Waiting through the weekend for any knowledgable objections.

[2022-06-26 19:31] #5961 closed

[2022-06-27 00:32] #6404 closed

[2022-06-27 13:44] jkaye2012 commented on #6566
/remove-lifecycle stale

Linked PR should ideally be merged before closing this

[2022-06-27 23:39] jberkus commented on #6572
/remove-lifecycle stale

This is still being considered for KCSNA

[2022-06-28 05:28] mehabhalodiya commented on #6665
Sounds good to me!
I'm interested in being a part of this, but I don't have a preference for the SIG group at the moment. I'm an existing member of the `kubernetes` and `kubernetes-sigs` and relevant slack channels, and I should be able to commit 2-3 hours a week to this. Additionally, committing to sticking around with the K8s community for at least 1-year post-group training program. I believe t

[2022-06-29 16:35] mpuckett159 commented on #6665
Also interested, hope I'm not too late. I've read the requirements and will be able to commit to the 2-3 hours a week requirements and definitely plan on being around more than a year past the end of the program.

[2022-06-29 18:04] #6349 closed

[2022-06-29 21:14] aladewberry opened #6722 "REQUEST: New Slack channel for SIG-Security assessments"
### GitHub Username

@aladewberry

### Slack Username

Ala Dewberry

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

Slack

### Description of Request

We would like to request ([reference conversation](https://github.com/kubernetes/community/pull/6512#discussion_r903043770)), a general Slack channel - #sig-security-assessment

[2022-06-30 02:38] mrbobbytables commented on #6505
channel has been created, it is called kubernetes-moderators
this can be closed when docs are updated

[2022-06-30 21:00] #6581 closed

[2022-07-01 17:43] parispittman commented on #6665
Folks - need to pick which sig you want
@Avineshtripathi
@Valaparthvi
@pravarag
@Ciphertron
@Harshitasao
@namanl2001
@meghanajangi
@mehabhalodiya

I'll add you to the top of the issue when you've selected

[2022-07-01 21:01] ncapps commented on #6665
👋 I would like to sign up as a mentee for SIG-CLI. I can commit 3+ hours per week and would like to contribute long term.

[2022-07-01 22:41] laxmikantbpandhare commented on #6665
Hello, I would like to sign up as a mentee for SIG-CLI. I can contribute for the long term with the availability of 3-4 hours per week.

[2022-07-02 06:55] mehabhalodiya commented on #6665
I would like to join the SIG CLI. Please count me in that 🙂

[2022-07-02 07:34] meghanajangi commented on #6665
I am interested in sig-cli.

[2022-07-02 07:38] pravarag commented on #6665
@parispittman I'll be happy to join SIG Apps, please add me to the issues like mentioned above :)

[2022-07-02 07:44] CIPHERTron commented on #6665
I would like to pick up sig-cli. Thanks!

[2022-07-02 08:18] harshitasao commented on #6665
@parispittman I'm interested in sig-cli. Thanks!

[2022-07-02 16:29] valaparthvi commented on #6665
I'm interested in sig-apps. Thanks :)

[2022-07-02 23:15] cblecker commented on #6511
/remove-lifecycle rotten

[2022-07-03 07:33] parul5sahoo commented on #6665
Hey @parispittman , I am interested in this program. I fulfill all the requirements and have tried to contribute to SIG-CLI formerly by getting in touch with @eddiezane. However, I would like to re-initiate my journey with SIG-CLI again as a mentee to this program.
Slack handle: `parul_sahoo`

[2022-07-03 10:57] Namanl2001 commented on #6665
We have to select either sig-apps or sig-cli. Right?

[2022-07-03 12:25] MadhavJivrajani commented on #6665
@Namanl2001 yes :)

[2022-07-03 17:56] chris-short commented on #6641
@harshitasao Do you think these are ready to go?

[2022-07-04 02:02] mrbobbytables commented on #6423
/reopen

I don't think this has happened yet

[2022-07-04 08:18] FillZpp commented on #6665
@parispittman I would like to be the reviewer of sig-apps.
I have been working on this area for years -- I have several PRs merged for sig-apps, solve issues and answer questions on slack. And I'm also the founder and maintainer of OpenKruise, which is a CNCF Sandbox project and mainly focuses on application workloads/deployment as a 3rd party project of Kubernetes sig-apps.

[2022-07-04 08:19] FillZpp commented on #6665
@parispittman I'm interested in sig-apps. Thanks!

Actually I have been working on this area for years -- I have several PRs merged for sig-apps, solve issues and answer questions on slack. And I'm also the founder and maintainer of OpenKruise, which is a CNCF Sandbox project and mainly focuses on application workloads/deployment as a 3rd party project of Kubernetes sig-apps.

[2022-07-04 09:50] Namanl2001 commented on #6665
I would like to pick up sig-Apps. Thanks!

[2022-07-04 14:55] #5576 closed

[2022-07-04 17:29] helayoty commented on #6665
Hi, I am so interested in both SIG's. I have contributed to sig- release, sig-scheduling and others.

[2022-07-05 09:38] marseel commented on #5236
I've added tutorials about:
- documentation on how to use cluster-loader should be added
- documentation on how to extend cluster-loader should be added
I think we can close this issue for now.  This should be a good starting point for new contributors.
/close

[2022-07-05 09:39] #5236 closed

[2022-07-05 14:46] upodroid commented on #6308
Forgot to mention this in the meeting but can you look in to moving the repo instead? You can retain the issues, PRs, and releases instead of just moving over the git repo alone.

https://github.com/k8stopologyawareschedwg/noderesourcetopology-api

[2022-07-05 18:13] parispittman commented on #6665
@ncapps and @laxmikantbpandhare - I don't see either of you listed as a member of the Kubernetes GitHub Org. If you have at least two merged PRs already you most likely qualify to fill out the form issue here: https://github.com/kubernetes/org/issues/new/choose

[2022-07-05 18:14] parispittman commented on #6665
@helayoty what speaks to you more - apps or cli? pick one that you think you'd have the most day job support for.

[2022-07-05 19:55] ncapps commented on #6665
Hi, It looks like I need a sponsor to apply for membership. Would you be able to sponsor me for this application?

[2022-07-05 20:08] eddiezane commented on #6699
/sig cli

[2022-07-05 20:28] PurneswarPrasad commented on #6665
A sponsor is basically a person who have helped you in solving an issue. If you've worked on any issue earlier, you can ask the reviewers to be a sponsor. This issue won't really count as one. For starters, you can try some `good-first-issue` tags in the SIGs you're interested.

[2022-07-06 03:03] chetak123 commented on #6665
Hello everyone I have recently gained organization membership for `kubernetes` and now complete the Requirements for this program.
I would like to apply for this cohort please.

[2022-07-06 03:45] kidddddddddddddddddddddd opened #6727 "Broken links in sig-scheduling/README.md"
### Describe the issue

The links in [Contect/GitHub Teams]( https://github.com/kubernetes/community/blob/master/sig-scheduling/README.md#:~:text=Community%20Issues/PRs-,GitHub%20Teams,-%3A ) are broken now.

[2022-07-06 03:48] kidddddddddddddddddddddd commented on #6727
/sig Docs

[2022-07-06 03:53] mrbobbytables commented on #6727
👋 That's normal^^;; You have to be a GitHub org member to see the members of the team. They're private to cut down on the random requests to join. You can manually see the members in the https://github.com/kubernetes/org repo

[2022-07-06 03:58] kidddddddddddddddddddddd commented on #6727
Oops... Sorry,I'm new here and I didn't know this before😂. Understood now.

[2022-07-06 03:58] #6727 closed

[2022-07-06 04:02] Atharva-Shinde commented on #6665
@chetak123 you need to decide which sig you're interested in, sig-cli or sig-apps

[2022-07-06 04:10] chetak123 commented on #6665
I would like to pick-up sig-apps
Thanks

[2022-07-06 04:49] AvineshTripathi commented on #6665
I would like to choose Sig-cli thank you

[2022-07-06 17:04] MadhavJivrajani commented on #6704
This dropped off my radar, sorry!

@mrbobbytables

if we had an issue template here with it we might be able to build the list of items more easily.

Please correct me if I've misunderstood something here, but what I understand from the above point is that it would be easier for folks running the meetings to curate a list of items if there was an issue template  for this in k/community because it

[2022-07-06 17:10] rajibmitra commented on #6665
@parispittman Hi! I am interested in joining this cohort, and would like to work closely with sig-cli.  slack - rmitra.

[2022-07-06 17:45] nate-double-u commented on #6641
Can we leave breadcrumbs behind so as to not break any existing links? (i.e. leave a README.md file in any folder that's been renamed with info about where the files have gone)

That would make PRs like https://github.com/kubernetes/website/pull/34451 unneeded I think.

[2022-07-06 22:37] somtochiama opened #6729 "REQUEST: New Slack channel #africa-dev"
### GitHub Username

somtochiama

### Slack Username

somtochiama

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

channel

### Name of Requested Resource

africa-dev

### Description of Request

Hello,

This is inspired by the great work that happens at #in-dev channel⭐️. This is a request for a public slack channel for African contributorsof Kubernetes for easy com

[2022-07-07 08:20] ShivamTyagi12345 commented on #6729
I am a member of SheCodeAfrica. I would love to let the interested folks know about this initiative

[2022-07-07 11:27] soltysh commented on #6665
@parispittman feel free to add @ardaguclu to sig-cli as well

[2022-07-08 06:08] imnmo opened #6731 "Provide correct link for Marketing Council Handbook"
### Describe the issue

Within the Storytellers.md the reference to marketing council handbook is broken.

Fix is to provide the correct link for council.md

[2022-07-08 06:10] imnmo commented on #6731
/sig sig-contribex-comms

[2022-07-08 06:21] imnmo commented on #6731
/sig contributor-experience

[2022-07-08 12:57] dharmit commented on #6665
Hi @parispittman, I'm interested in sig-apps. But I haven't contributed to any k8s repos so far. Is there still time before the cohort starts to satisfy the above prerequisites?

Besides that, I opened a minor [docs PR for Kubebuilder](https://github.com/kubernetes-sigs/kubebuilder/pull/2752) some time back, and it's merged; does that count?

[2022-07-08 17:45] #6612 closed

[2022-07-09 08:52] qiaoxuchen opened #6732 "热更新失效"
### Describe the issue

当我项目启动之后，第一次修改configmap，pod可以加载到；当第二次修改configmap，pod无法加载

[2022-07-09 18:41] cblecker commented on #6732
Sorry, this is not a support forum.

If you have support questions, please visit discuss.kubernetes.io

/close

[2022-07-09 18:41] #6732 closed

[2022-07-10 18:08] debgiles opened #6733 "Kubernetes Contributor Summit NA 2022 - CNCF Umbrella Issue"
### Describe the issue

An umbrella issue to cover the different areas that CNCF is working on intersecting with the ContribEx Team.

**GENERAL INFO**
KC+CNC Schedule Announcement - August 3

**VENUE LOGISTICS**
- [x]  Space Requirements Deadline - April 18
- [x]  Space Confirmed - July 2022
- [x]  Share walkthrough video of space - July 2022 (https://drive.google.com/drive/folders/1hK0BwJ32WeCQ4B

[2022-07-10 18:15] debgiles commented on #6733
/sig <Contributor Experience>

[2022-07-10 18:16] debgiles commented on #6733
/sig <contributor-experience>

[2022-07-11 01:59] mrbobbytables commented on #6733
/sig contributor-experience
/area contributor-summit

[2022-07-11 13:51] AbuTuraab commented on #6016
Is the documentation available already? if no I wish to contribute.

[2022-07-11 17:37] parispittman commented on #6665
@dharmit this might not be for you since we would like folks who are familiar with the codebase at this point

[2022-07-12 00:18] mrbobbytables opened #6734 "Assemble KCSNA 2022 Summit Team"
### Describe the issue

The 2022 Summit will be a return to our "regular" summit planning with the usual array of roles.

The leads for KCSNA Detroit will be myself, @castrojo and @jeefy.  For this summit we will need registration, comms, and content leads, awards + shadows that could potentially take on leading those roles in the future along with some general staff to help with on-site needs.

E

[2022-07-12 00:40] parispittman commented on #6734
signing up to advise content and/or marketing roles. if you're reading this and had doubts about signing up but need a mentor, look no further. :)

[2022-07-12 00:44] parispittman commented on #6729
hi @somtochiama! awesome! you can request the channel by submitting a PR, too. here is an example and the file to change: https://github.com/kubernetes/community/pull/6728
we can also tag this with help-wanted for other contributors if you don't have the time or desire. :) let us know

[2022-07-12 00:46] markyjackson-taulia commented on #6734
I am signing up for whatever is needed.

[2022-07-12 01:11] chris-short commented on #6734
I'm local so I feel some obligation to provide info or site visits.

[2022-07-12 01:28] thecrudge commented on #6734
Ill be there! Just let me know what I can do :)

[2022-07-12 04:59] mitul3737 commented on #6665
@parispittman I would love to contribute. I am an org member and currently a maintainer for the Kubernetes Bengali Localization. Although I have not contributed to other sigs but is a consistent contributor towards sig-docs by now.

I am also familiar with kubernetes. Really hope that I might get the chance to contribute.

[2022-07-12 05:01] SaiHarshaK commented on #6665
I am interested in being a mentee in SIG-CLI, I've also contributed to couple of PRs in SIg-CLI

[2022-07-12 05:55] Priyankasaggu11929 opened #6735 "GitHub Project Beta Request for Release Team Enhancements Sub-Project"
### Describe the issue

**Newly created board:** https://github.com/orgs/kubernetes/projects/87/views/1

The goal of this issue is to document the context for creating the above GitHub Project Beta board for the Release Team [Enhancements sub-project](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/enhancements) in order to transition from using a Google Spreadshe

[2022-07-12 06:04] ShivamTyagi12345 commented on #6665
Helllo @Atharva-Shinde  @PurneswarPrasad  I hope i am not commenting late. I read and met the basic criteria for SIG-CLI please sign me up. My slack handle would be @Shivam Tyagi

[2022-07-12 06:05] Priyankasaggu11929 commented on #6735
/sig release

[2022-07-12 06:06] Divya063 commented on #6665
@parispittman Hello, I'm interested as well. I satisfy the requirements and I'm interested in contributing to SIG-APPS. I have contributed to sig-release, kubernetes-sigs/multi-tenancy, and others.

Slack Handle: Divya Rani

[2022-07-12 08:51] droslean commented on #6665
I would be interested in helping the community this way as well. +1

[2022-07-12 09:34] feloy commented on #6665
@parispittman @PurneswarPrasad  Hello, I would love to contribute in CLI and/or APPS reviews.

I have a good knowledge on writing controllers using kubebuilder and the controller-runtime, and also writing CLIs related to Kubernetes (https://github.com/redhat-developer/odo).

I'm a Kubernetes contributor, mostly for the DOC SIG (https://kubernetes.io/blog/2020/12/04/gsod-2020-improving-api-referenc

[2022-07-12 11:39] Atharva-Shinde commented on #6665
Hello @droslean @feloy which sig do you want to participate in particular, sig-cli or sig-apps? You need to pick one (that interests you the most).

[2022-07-12 11:42] droslean commented on #6665
@Atharva-Shinde I would be first interested first in sig-apps and then sig-cli. I would be glad to contribute to either of the teams.

[2022-07-12 11:46] feloy commented on #6665
I'm more interested in sig-apps

[2022-07-12 15:32] palnabarun commented on #6734
I can help leads with registrations.

[2022-07-12 15:49] parispittman commented on #6734
https://github.com/kubernetes/community/tree/master/events/events-team - role books if folks reading this and thinking about signing up want to take a look

[2022-07-12 18:05] jberkus opened #6737 "Recommend Election Officers for the 2022 SC Election"
### Describe the issue

The new Elections Subproject needs to prepare a group of Election Officers (three EOs and one alternate) to work the 2022 Steering election.  These should be folks who are known across the project, are not running in the election, and have been org members for at least a year.

One other requirement is to have at least one EO continue from one year to the next, so @coderang

[2022-07-12 18:15] jeremyrickard commented on #6737
+1 to the Noah, Dims, and Jason.

[2022-07-12 19:07] nimbinatus commented on #6544
/remove-lifecycle stale

[2022-07-12 19:49] jberkus commented on #6734
I'll work with community artists to design/select a tshirt for the event.

I'm available for other volunteer roles as needed, but would rather not lead anything this time.

[2022-07-12 21:59] markyjackson-taulia commented on #5201
/remove-lifecycle stale

[2022-07-12 22:13] detiber commented on #6737
+1 from me as well

[2022-07-12 22:26] fsmunoz commented on #6737
FWIW +1 to @coderanger @dims and @detiber, and +1 to @parispittman suggestion of @kaslin (should she be interested of course).

[2022-07-12 22:40] pnbrown commented on #5201
I'm out right now but there has been some progress with integration on Zapier. Can reliably get from Zoom to Google Drive. Need to test naming when I'm back and then Google Drive to YouTube.

Still would like to have a meeting with you regarding this, @markyjackson-taulia

[2022-07-12 22:43] markyjackson-taulia commented on #5201
@pnbrown totally. I am on vacation from tomorrow to next week, lets sync then and thank you.

[2022-07-12 22:56] kaslin commented on #6734
Happy to help!

[2022-07-13 04:10] AvineshTripathi commented on #6737
+1 to paris suggestion for alternate

[2022-07-13 04:32] CIPHERTron commented on #6737
+1 from me as well for Noah, Dims and Jason.

[2022-07-13 04:42] m-Bilal commented on #6665
Hi, if you happen to get any new vacant spot somehow, I'm interested in being a part of sig-cli. I have read the requirements and the program guidelines.

Slack handle: m-Bilal

[2022-07-13 12:16] NitishKumar06 commented on #6737
I have never interacted with  Noah and @detiber but I'd definitely hit +1 for @dims @sftim and @mehabhalodiya

[2022-07-13 12:23] markyjackson-taulia commented on #6737
+1 from me as well for Noah, Dims and Jason.

[2022-07-13 12:29] sftim commented on #6737
Thanks for the suggestion but I don't feel I have capacity to be an election officer this time round.

[2022-07-13 13:11] Babapool commented on #6737
+1 from as well for Noah, Dims and Jason, and +1 to Paris's suggestions for alt (should any of them be interested)

[2022-07-13 14:36] detiber commented on #6737
+1 from me for both @bridgetkromhout and @kaslin should they be interested

[2022-07-13 16:40] deejross commented on #6665
@parispittman I would like to be on the sig-cli list as well, thanks!

[2022-07-13 18:41] kaslin commented on #6737
Thanks for the recommendations! I haven't been directly involved in elections before but I'd be happy to help and learn if that's alright.

[2022-07-13 19:50] thockin commented on #6527
Ehh, all the icons are checked in here, so a template slide deck isn't THAT useful...

[2022-07-13 19:51] JamesLaverack commented on #6527
I liked it because it made it faster to copy/paste them into side decks for presentations, but the barrier isn't that much higher for just copying in the raw icons you're right.

[2022-07-13 19:56] JamesLaverack commented on #6527
I've raised https://github.com/kubernetes/community/pull/6738 to remove the link, which I feel would close this issue.

/assign
/lifecycle clear

[2022-07-13 20:58] #6527 closed

[2022-07-13 22:16] aladewberry commented on #6722
@mrbobbytables wooo! I'll work with @tabbysable and @IanColdwater to do it up!

[2022-07-14 04:24] MadhavJivrajani commented on #6729
/close
As this has been addressed!
Thanks!

[2022-07-14 04:24] #6729 closed

[2022-07-14 04:50] #6731 closed

[2022-07-14 12:44] Priyankasaggu11929 commented on #6735
/assign

[2022-07-14 14:58] #6576 closed

[2022-07-14 19:01] PushkarJ commented on #6722
@aladewberry (just an idea) if and when you decide to add a new channel with a PR after your chat with our co-chairs, to the file Bob mentioned, it could be a good first issue for some new contributor to work on!

[2022-07-15 15:29] markyjackson-taulia commented on #6734
I would like to shadow for content but can also take a larger role of the role is not filled by a lead.

[2022-07-15 17:48] helayoty opened #6742 "GitHub Project Beta Request for Release Team Bug Triage"
### Describe the issue

**Describe the issue**

Newly created board: https://github.com/orgs/kubernetes/projects/80/views/1

The goal of this issue is to document the context for creating the above GitHub Project Beta board for the Release Team Bug Triage in order to transition from using a Google Spreadsheet (as is [currently done](https://docs.google.com/spreadsheets/d/1zNR8sb9f4ZP1MyZovmUV2_uv7

[2022-07-15 17:48] helayoty commented on #6742
/assign

[2022-07-15 18:47] kaslin commented on #6641
@jberkus @harshitasao I think we're ready to go when you all are. It's been a while at this point so these might need some updates and @nate-double-u has a good suggestion here.

[2022-07-15 19:09] detiber commented on #6734
After re-reading slack and the rest of the comments in this issue, I'm happy to volunteer to lead Content

[2022-07-16 02:57] AvineshTripathi commented on #6734
Hey folks, I would like to shadow for comms

[2022-07-16 05:15] RajGM commented on #6737
+1 for @nimbinatus
+1 for @Nivedita-coder @parul5sahoo

[2022-07-16 23:09] #5872 closed

[2022-07-17 17:44] neolit123 commented on #6610
this was completed some time ago :+1:

[2022-07-17 17:44] #6610 closed

[2022-07-18 09:10] mkaramuk opened #6744 "REQUEST: New Slack channel kubernetes-docs-tr"
### GitHub Username

mkaramuk

### Slack Username

@Muhammed Karamuk

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

channel

### Name of Requested Resource

channel

### Description of Request

Turkish localization channel.

[2022-07-18 14:18] mrbobbytables commented on #6744
sig-docs has been delegated the ability to manage channels with the kubernetes-docs-* prefix, please open a PR to add the channel here:
https://github.com/kubernetes/community/blob/master/communication/slack-config/sig-docs/docs-channels.yaml

[2022-07-18 16:40] mrbobbytables commented on #6734
@parispittman we only do awards at NA, they're EoY. So idea would be to shadow for next year

[2022-07-18 17:42] tokt commented on #6734
Happy to help wherever help is needed! <3

[2022-07-18 17:45] salaxander commented on #6734
Interested in shadowing wherever help is needed!

[2022-07-18 17:45] jrsapi commented on #6734
I would like to shadow Awards.

[2022-07-18 18:51] #6744 closed

[2022-07-19 05:50] ameukam commented on #6717
gently ping @jberkus @jeefy :-)

[2022-07-19 08:22] Akuma1991 opened #6749 "NFS server mount is down"
### Describe the issue

how to solve issue of pv mount when NFS server is down

[2022-07-19 13:20] mrbobbytables commented on #6749
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2022-07-19 13:21] #6749 closed

[2022-07-19 19:19] mskrocki opened #6751 "REQUEST: New Slack channel multi-network"
### GitHub Username

mskrocki

### Slack Username

mskrocki

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

multi-network

### Description of Request

We have formed a workgroup to work on introducing multi network concept and a Network construct into Kubernetes. We would like to have a slack channel where we can easily discu

[2022-07-19 19:55] aojea commented on #6751
/sig network
/Cc @dcbw @thockin
As sig-network chairs

[2022-07-19 20:13] markyjackson-taulia commented on #6751
For channel creation, please refer to this [guide](https://github.com/kubernetes/community/blob/master/communication/slack-guidelines.md#requesting-a-channel) for submitting a new channel PR

[2022-07-19 22:28] jberkus commented on #6737
@RajGM I've dropped Nivedita off the list of potential nominees simply because she's on the Release Team right now.

[2022-07-19 22:33] jberkus commented on #6737
Current list of EO nominees:

* @dims
* @detiber
* @nimbinatus (unconfirmed)
* @kaslin
* @MadhavJivrajani (unconfirmed)
* @mehabhalodiya (unconfirmed)

I have reached out to all of the above candidates, and am waiting to confirm interest from a few of them.

[2022-07-19 22:38] dims commented on #6737
Happy to do this. If there are enough folks, i am happy to step aside for sure!

[2022-07-20 00:29] nimbinatus commented on #6737
Thanks for the nomination! I unfortunately can't commit to the time involved right now, but I'm flattered my name came up.

[2022-07-20 02:36] #5546 closed

[2022-07-20 02:36] #6505 closed

[2022-07-20 03:51] MadhavJivrajani commented on #6737
I’m happy to help in any way I can! Thanks ❤️

[2022-07-20 03:57] mehabhalodiya commented on #6737
I'd be happy to help and learn if it's alright! Thanks for the nomination ❤️

[2022-07-20 05:43] parul5sahoo commented on #6737
Yes, I am yet to complete one year of contributing to Kubernetes. However, thanks for the nomination @RajGM.
And +1 for @dims, @MadhavJivrajani and @mehabhalodiya .

[2022-07-20 07:21] RajGM commented on #6737
+1 for @mehabhalodiya and @dims

[2022-07-20 15:41] #6232 closed

[2022-07-20 15:41] #6233 closed

[2022-07-20 16:05] mrbobbytables commented on #6662
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2022-07-20 16:05] #6662 closed

[2022-07-20 16:24] Atharva-Shinde commented on #6734
would love to shadow for socials

[2022-07-21 18:13] kikisdeliveryservice commented on #6737
+1 @dims @detiber @kaslin @bridgetkromhout

[2022-07-21 22:36] jberkus commented on #6717
This is going to require temporarily making Arnaud an admin, so turning over to @markyjackson-taulia

[2022-07-21 22:37] markyjackson-taulia commented on #6717
ack
/assign markyjackson-taulia

[2022-07-22 08:41] markyjackson-taulia commented on #6717
24 hour access has been granted.
I will close this issue after 24 hours and verification with @ameukam has been completed.

Cc: @jberkus

[2022-07-22 15:59] markyjackson-taulia opened #6754 "Create YouTube Admin Weekly Schedule"
### Describe the issue

As a member of the YouTube administration team, a weekly schedule is needed to aid in the YouTube video editing.

[2022-07-22 16:00] markyjackson-taulia commented on #6754
/assign markyjackson-taulia
/sig contributor-experience

[2022-07-22 18:14] jberkus commented on #6737
After a quick secret poll of additional ContribEx folks, the following officers have been selected for recommendation to the Steering Committee:

Election Officers:

* @coderanger
* @dims
* @kaslin

Alternate:

* @bridgetkromhout

From here it goes to the Steering Committee for approval.  Thanks, everyone!

[2022-07-22 18:23] harshitasao commented on #6734
I'm interested in shadowing for Registration.

[2022-07-22 18:26] reylejano commented on #6734
I helped with the last awards (virtual), I can shadow or lead awards for KCSNA 22.

[2022-07-22 23:02] jberkus commented on #6737
/close

[2022-07-22 23:02] #6737 closed

[2022-07-23 04:19] Priyankasaggu11929 commented on #6734
I can shadow Registration, content, or comms or wherever else any help is needed.

[2022-07-23 11:57] markyjackson-taulia commented on #6754
Tis has been completed and right removed
/close

[2022-07-24 22:31] RajGM commented on #6708
Looks like an excellent first issue.

/good-first-issue

/assign

[2022-07-24 22:56] RajGM commented on #6708
Hi @jberkus
I checked it out and realized that the Calendar admin needs to change that.
I am currently looking for the read-only file to include a link for the read-write version.

[2022-07-24 23:17] RajGM commented on #6697
/good-first-issue

[2022-07-24 23:20] RajGM commented on #6394
Hi @mrbobbytables
It looks like an excellent good first issue.

[2022-07-24 23:22] RajGM commented on #6394
/assign

[2022-07-25 03:03] MadhavJivrajani commented on #6394
/remove-lifecycle rotten

[2022-07-25 12:16] heysujal commented on #6697
@RajGM Hi , I want to work on this issue , can you guide me how do I go about fixing this ?
What is the correct link and where it has to be placed ?

[2022-07-25 14:31] mrbobbytables commented on #6394
@RajGM this is not a good first issue, there are a number of policy and process decisions that need to be made when drafting the docs.

[2022-07-25 16:23] cici37 commented on #6734
I could shadow Registration, Comms, Awards or anywhere if help needed :)

[2022-07-25 18:21] RajGM commented on #6394
Hi @mrbobbytables
Can you please redirect me to the policies that should be followed while drafting the docs?

[2022-07-25 18:23] mrbobbytables commented on #6394
We don't have them yet, thats part of this issue. =/

[2022-07-26 02:04] RajGM commented on #6697
Hi @heysujal
The links were fixed by the admins.

[2022-07-26 02:06] RajGM commented on #6697
Hi @heysujal
I am new to open source as well.
I am looking into this as well.

[2022-07-26 04:43] divya-mohan0209 commented on #6697
Hello @FeU-aKlos , please can you tell us where exactly did you find the broken link?

Also, @RajGM - would request you not add labels before seeking clarification on what the issue actually is.  Without any information, it does not seem related to sig-docs, and hence will be removing the label.

[2022-07-26 04:44] divya-mohan0209 commented on #6697
/remove-sig-docs

[2022-07-26 04:49] divya-mohan0209 commented on #6697
/remove-good-first-issue

[2022-07-26 04:50] divya-mohan0209 commented on #6697
/remove-sig docs

[2022-07-26 11:55] RajGM commented on #6697
Got it, @divya-mohan0209

[2022-07-26 14:34] FeU-aKlos commented on #6697
@divya-mohan0209 the link was is the README.md file. JamesLaverack fixed it by removing the broken link! Nevertheless, do you still have a link which is working? would like to see the slides again...

[2022-07-26 14:34] #6697 closed

[2022-07-27 16:04] iamNoah1 commented on #6665
@parispittman @Atharva-Shinde any news here about the kick off date? Looking to plan my next weeks :) Also vacation wise 😅

[2022-07-27 16:53] valaparthvi commented on #6665
I remember it was somewhere around 15th August.

[2022-07-27 18:03] Atharva-Shinde commented on #6665
Hey @iamNoah1 and everyone here,
The kickoff is scheduled on August 3rd, we'll add you to your private slack channels shortly

[2022-07-28 07:15] iamNoah1 commented on #6665
thanks for the info @Atharva-Shinde, looking forward ;)

[2022-07-28 18:17] #6483 closed

[2022-07-29 23:04] spzala commented on #5663
`scale` is a special parts of client-go but since it's not a repo on its own, the link should point to the OWNERS of the `client-go`

[2022-07-31 05:33] AvishaiMan1 opened #6768 "Install Multus on Kubernetes"
### Describe the issue

I am trying to install Multus on the machines I set up. I installed all plugins from https://github.com/containernetworking/plugins.

Attach the configuration file:

apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: macvlan-confavishai
spec:
  config: '{
      "cniVersion": "0.3.0",
      "type": "macvlan",
      "master": "ens192",

[2022-07-31 10:09] mrbobbytables commented on #6768
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2022-07-31 10:09] #6768 closed

[2022-08-01 16:39] reylejano commented on #5913
interested

[2022-08-01 16:51] divya-mohan0209 commented on #5913
I know I've commented before. Interested :)

[2022-08-01 18:30] jimangel commented on #6734
Late to the party, happy to help out / fill in any open spots! Catch ya'll there either way!

[2022-08-02 02:46] #6462 closed

[2022-08-03 15:29] detiber commented on #6734
@mrbobbytables please add @Priyankasaggu11929 as a shadow for content.

@qedrakmar if you don't think it would be too much of a distraction from Operations work, I would love to have @jimangel as a shadow for content as well.

[2022-08-03 16:08] mpuckett159 commented on #6665
Were we supposed to have been added to those channels by now?

[2022-08-03 18:05] Atharva-Shinde commented on #6665
hello everyone,
I have added all the mentees in our private slack channels, if you didn't get in do comment here with your `slack handle` to avoid confusion

[2022-08-03 21:39] markyjackson-taulia commented on #5201
@pnbrown If you have some cycles this week or next, let me know

[2022-08-04 14:46] thecrudge commented on #6734
Im in!

------------------
e: ***@***.***
c: 214-603-9075
w: http://www.crudge.io

On Wed, Aug 3, 2022 at 10:29 AM Jason DeTiberus ***@***.***>
wrote:

[2022-08-04 15:17] palnabarun commented on #6734
@mrbobbytables can you please add @harshitasao as a reg shadow?

[2022-08-04 17:10] #6522 closed

[2022-08-06 05:24] MadhavJivrajani commented on #6529
/reopen
/remove-lifecycle rotten

[2022-08-07 10:32] Imightkillmyself opened #6774 "Please help! Emergency"
### Describe the issue

Hackers have already destroyed my life and mow they are go going after my young daughters they recorded them showering and sent it 2 me and then destroyed the evidence the police arent doing anything and my kids cant have any of there phones PC tablets until something resolves my isp provider cant figure put how they are breaching my familys home

[2022-08-07 10:34] Imightkillmyself commented on #6774
Idk what that stuff means :(

[2022-08-07 13:19] markyjackson-taulia commented on #6774
/close

[2022-08-07 13:19] #6774 closed

[2022-08-07 20:40] #6351 closed

[2022-08-08 18:03] puja108 commented on #6734
As mentioned in the call today, bit late to the party as I was on PTO for 3 weeks+, but I will be onsite and happy to help, wherever you still need hands.

From the list above maybe I could help out @salaxander and @cici37 with the social . Otherwise (or additionally) @qedrakmar mentioned ops will definitely need half a dozen hands onsite, so I'm happy to sign up for that already.

[2022-08-09 13:47] pnbrown commented on #5201
I'm still out but ping me on Slack. We can meet briefly.

[2022-08-09 16:04] rajaskakodkar commented on #6734
I'd like to help out. I can shadow @palnabarun for registrations. I am willing to lead registrations for EU 2023.

[2022-08-12 14:19] bsmith1180 opened #6813 "kubernetes.slack.com returning 500 error when trying to join"
I used the slack.kubernetes.io page to try to join the channel.  When I got the invite, I clicked on the link but it gave me a 500 error.  I tried

Here's the response headers if fit helps:

[code]

[2022-08-16 12:31] cpanato opened #6800 "Steering Committee Nomination: Carlos Panato (@cpanato)"
### Describe the issue

Kubernetes Community,

I am self-nominating to stand as a candidate in the project's 2022 Steering Committee election.

My involvement in this community spans many years of activity across some SIGs and WGs, always trying to help the project and the community where I can.
Today I'm Tech lead for SIG-Release and help some other projects like Cluster-API-(GCP/DigitalOcean) an

[2022-08-16 12:32] markyjackson-taulia commented on #6800
Strong +1

[2022-08-16 13:07] palnabarun commented on #6800
Big +1 for Carlos!

[2022-08-16 13:35] rikatz commented on #6800
+1 from me!!
Ricardo - VMware

[2022-08-16 13:39] iamNoah1 commented on #6800
+1

[2022-08-16 14:30] savitharaghunathan commented on #6800
+1
Employer: Red Hat

[2022-08-16 14:44] aojea commented on #6800
+1
aojea - Red Hat

On Tue, 16 Aug 2022 at 16:31, Savitha Raghunathan ***@***.***>
wrote:

[2022-08-16 14:54] puerco commented on #6800
+1000 Carlos is one of the best contributors of the project!!!
(disclosure: we are coworkers at Chainguard, but still!)

[2022-08-16 15:33] detiber commented on #6800
+1
Employer: Cisco

[2022-08-16 18:11] jberkus commented on #6800
+1
(Red Hat)

[2022-08-16 18:14] reylejano commented on #6800
+1
Employer: SUSE

[2022-08-16 18:51] MadhavJivrajani commented on #6800
+1 - VMware

[2022-08-17 07:46] natalisucks commented on #6800
+1  🙌
Employer: Wayfair

[2022-08-17 10:06] endocrimes commented on #6611
/remove-lifecycle rotten
/lifecycle frozen

[2022-08-17 11:48] palnabarun commented on #6307
/remove-lifecycle rotten
/lifecycle frozen

[2022-08-17 12:12] vaibhav2107 commented on #6496
/remove-lifecycle rotten

[2022-08-17 18:21] jrsapi commented on #6800
+1

Employer: Adobe

[2022-08-17 19:08] soltysh commented on #6800
+1
Employer: Red Hat

[2022-08-17 21:19] jberkus opened #6809 "Slack Invites while Inviter is Down"
### Describe the issue

This issue is so that people can request invitations to Kubernetes Slack while the inviter is out of service.

Note that the inviter is expected to be functional again within a few days, so please only request an invitation if you have some urgent need to be on Slack *today*.

Please give us the following information in your request:

---------------------------------------

[2022-08-17 21:19] jberkus commented on #6809
/sig contributor-experience
/area slack

[2022-08-17 21:49] markyjackson-taulia commented on #6809
/sig contributor-experience
/area slack-management

[2022-08-17 22:29] jberkus commented on #6084
This is created.

/close

[2022-08-17 22:29] #6084 closed

[2022-08-17 22:30] jberkus commented on #5092
/close

[2022-08-17 22:30] #5092 closed

[2022-08-17 22:47] jberkus commented on #6657
@rikatz the survey has been open for 3 months and you have 62 responses.  Do you want to close it?  Or do you want to do another round of promoting the survey?

![image](https://user-images.githubusercontent.com/115146/185256866-42b97fdc-08e5-4f6f-a2b3-0a75d41fd713.png)

[2022-08-18 15:17] detiber opened #6811 "REQUEST: New Slack channel #release-obs-poc"
### GitHub Username

@detiber

### Slack Username

@jdetiber

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

#release-obs-poc

### Description of Request

We are working on a PoC of building, signing, and distributing DEB/RPM packages with SUSE's Open Build Service. This channel would be a place for collaboration on the PoC t

[2022-08-18 15:37] detiber commented on #6811
/assign

[2022-08-18 15:53] detiber commented on #6811
@markyjackson-taulia gave it a go with #6812, please let me know if I missed something.

[2022-08-18 16:44] #6811 closed

[2022-08-18 23:06] marosset commented on #6423
@jayunit100 do you remember what this issue was created for?
I think all of the repos listed at https://github.com/containerd/containerd/issues/6712 (except maybe kubernetes-sigs/sig-windows-samples) are active.

[2022-08-19 03:23] markyjackson-taulia commented on #6754
/reopen

[2022-08-19 22:26] jberkus commented on #6809
Slack inviter is fixed.
/close

[2022-08-19 22:26] #6809 closed

[2022-08-20 00:33] jberkus commented on #6813
This has been fixed; new slack inviter is working.

/close

[2022-08-20 00:34] #6813 closed

[2022-08-20 14:17] kundan2707 commented on #6016
IF no one is working. I am interested to contribute.

[2022-08-20 14:47] catblade commented on #6016
@kundan2707  please do.  We haven't managed to get the time to do so.

[2022-08-20 19:27] endocrimes commented on #6800
+1, VMware

[2022-08-21 03:32] kundan2707 commented on #6016
@catblade  thanks started working on it

[2022-08-21 03:32] kundan2707 commented on #6016
/assign

[2022-08-22 14:43] rikatz commented on #6657
I think we can close it :) thanks Josh

@strongjz thoughts?

[2022-08-23 00:22] jberkus commented on #6717
Is this done now?

[2022-08-23 01:27] markyjackson-taulia commented on #6717
Yes, this was completed a week or so ago

[2022-08-23 02:08] jayunit100 commented on #6423
It was a note from a few weeks ago when we realized we wanted to refactoring the gmsa repo I think.  I'll ask in sig win tomoro

[2022-08-23 15:15] #6751 closed

[2022-08-23 16:15] jeremyrickard commented on #6800
+1, Microsoft

[2022-08-23 17:14] jayunit100 opened #6822 "sig-windows outreach repository"
### Describe the issue

We have an incoming idea from @anandnataraj and @marosset to create an azure hosted site with examples of where people are running windows containers in production , to do things like

- forza hosting of applications
- ms word in containers Office 365
- Roblox windows containers

and so on.

This would be a good community resources for new users wanting to see "how" windows

[2022-08-23 20:10] jayunit100 commented on #6822
/sig windows

[2022-08-23 20:11] jayunit100 commented on #6822
/assign @marosset

[2022-08-24 12:49] RajGM commented on #6708
Hi @jberkus
I think we can close this issue.

[2022-08-24 15:49] salaxander commented on #6822
+1 - this would be a very cool idea. As someone who has no experience working with Windows containers, it would be interesting to see real world uses.

[2022-08-24 18:30] marosset commented on #6822
Ack
/cc @brasmith-ms

[2022-08-24 20:14] kaslin commented on #6641
Website PR was just rebased, per @harshitasao so I think we should send these. @jberkus?

[2022-08-24 20:19] jberkus commented on #6641
/lgtm
/approve

[2022-08-24 20:31] deads2k opened #6824 "Steering Committee Nomination: David Eads (@deads2k)"
Hi everyone,

I am self-nominating for the upcoming Steering Committee election.

I've worked on Kubernetes in a technical capacity since before 1.0, focusing primarily on sig-auth and sig-apimachinery. I'd be glad to serve on the steering committee.

[2022-08-24 20:34] deads2k commented on #6824
/committee steering

[2022-08-24 20:48] astoycos commented on #6824
+1!

[2022-08-24 21:09] thockin commented on #6824
+1

[2022-08-24 21:14] xing-yang commented on #6824
+1

[2022-08-24 21:14] vonguard commented on #6824
+1

[2022-08-24 21:19] fedebongio commented on #6824
+1
Employer: Google

[2022-08-24 21:21] alaypatel07 commented on #6824
+1

Employer: Nvidia

[2022-08-24 21:24] aojea commented on #6824
+1
Employer: Red Hat

[2022-08-24 21:24] aojea commented on #6800
+1
Employer: Red Hat

[2022-08-24 21:27] tamalsaha commented on #6824
💯

Employer: AppsCode

[2022-08-24 21:35] jagosan commented on #6824
+1
Employer: Google

[2022-08-24 21:54] droslean commented on #6824
+1
Employer: Red Hat

[2022-08-24 21:57] natalisucks commented on #6824
+1
Employer: Wayfair

[2022-08-25 00:12] mtaufen commented on #6824
+1
Employer: Google

[2022-08-25 01:17] hongkailiu commented on #6824
+1
Employer: Red Hat

[2022-08-25 01:34] gnufied commented on #6824
+1
Employer: Red Hat

[2022-08-25 05:09] nikhita commented on #6800
+1 :rocket:
Employer: VMware

[2022-08-25 07:45] stlaz commented on #6824
+1
Employer: Red Hat

[2022-08-25 09:49] savitharaghunathan commented on #6824
+1
Red Hat

[2022-08-25 10:14] JoelSpeed commented on #6824
+1
Employer: Red Hat

[2022-08-25 11:03] Elbehery commented on #6824
+1
Employer: Red Hat

[2022-08-25 11:25] smg247 commented on #6824
+1
Employer: Red Hat

[2022-08-25 11:31] tkashem commented on #6824
+1

[2022-08-25 13:10] awgreene commented on #6824
+1

[2022-08-25 14:31] sjenning commented on #6824
+1
Employer: Red Hat

[2022-08-25 15:06] mkumatag commented on #6824
+1
Employer: IBM

[2022-08-25 15:19] dobsonj commented on #6824
+1
Employer: Red Hat

[2022-08-25 16:50] elmiko commented on #6824
+1
Employer: Red Hat

[2022-08-25 17:46] BenTheElder opened #6826 "Steering Committee Nomination: Benjamin Elder (@BenTheElder)"
Copying from the [mailinglist thread](https://groups.google.com/a/kubernetes.io/d/msgid/dev/CAHXsEpxmdQZZfWtTNsd5oFi2TW-Kmdrjg%2BgD81nYb-ODAAHQew%40mail.gmail.com?utm_medium=email&utm_source=footer) @ameukam started, to file an issue here for [the candidacy process](https://github.com/kubernetes/community/tree/master/elections/steering/2022#candidacy-process) 😅

I do intend to run; will follow up

[2022-08-25 17:48] Karthik-K-N commented on #6824
+1
Employer: IBM

[2022-08-25 17:50] ameukam commented on #6826
+1
Employer: VMware

[2022-08-25 17:51] chaodaiG commented on #6826
+1
Employer: Google

[2022-08-25 17:52] tamalsaha commented on #6826
💯

Employer: AppsCode

[2022-08-25 17:54] mtaufen commented on #6826
+1
Employer: Google

[2022-08-25 18:02] cjwagner commented on #6826
+1
Employer: Google

[2022-08-25 18:04] rikatz commented on #6826
+1
Employer: VMware

[2022-08-25 18:06] dobsonj commented on #6826
+1
Employer: Red Hat

[2022-08-25 18:17] michelle192837 commented on #6826
+1
Employer: Google

[2022-08-25 18:32] aojea commented on #6826
+1
Red Hat

[2022-08-25 18:36] upodroid commented on #6826
+1
Employer: Rackspace Technology

[2022-08-25 18:41] mrbobbytables opened #6827 "Steering Committee Nomination: Bob Killen (@mrbobbytables)"
### Describe the issue

I would like to self-nominate for a 2nd and final term on the Steering Committee.

I've served the community in various roles since mid 2017; mainly in contribex, the past two years on steering, and have spent time on the release team in addition to several other roles & subprojects throughout the project. If elected, I'd love the opportunity to continue representing the co

[2022-08-25 18:41] cpanato commented on #6826
+1
Employer: Chainguard

[2022-08-25 18:46] kwiesmueller commented on #6824
+1
Employer: Google

[2022-08-25 18:47] puerco commented on #6826
+1
Employer: Chainguard

[2022-08-25 18:48] puerco commented on #6827
+1 !!!!
Employer: Chainguard

[2022-08-25 18:50] devdattakulkarni commented on #6827
+1

[2022-08-25 18:50] ameukam commented on #6800
+1
Employer: VMware

[2022-08-25 18:53] markyjackson-taulia commented on #6827
+1
Employer: Independent

[2022-08-25 19:00] alculquicondor commented on #6827
+1

[2022-08-25 19:00] endocrimes commented on #6827
+1
Employer: VMware

[2022-08-25 19:01] endocrimes commented on #6826
the biggest of +1's.
Employer: VMware

[2022-08-25 19:07] jagosan commented on #6827
+1
Employer: Google

[2022-08-25 19:14] stmcginnis commented on #6826
+1
Employer: Amazon

[2022-08-25 19:14] ameukam commented on #6827
+1
Employer: VMware

[2022-08-25 19:18] detiber commented on #6827
+1
Employer: Cisco

[2022-08-25 19:19] detiber commented on #6826
+1
Employer: Cisco

[2022-08-25 19:21] eddiezane commented on #6827
+1
Employer: Chainguard

[2022-08-25 19:21] eddiezane commented on #6826
+1
Employer: Chainguard

[2022-08-25 19:21] eddiezane commented on #6800
+1
Employer: Chainguard

[2022-08-25 19:22] Riaankl commented on #6826
+1

[2022-08-25 19:28] kwiesmueller commented on #6827
+1
Employer: Google

[2022-08-25 19:29] karenhchu commented on #6827
+1
Employer: Microsoft

[2022-08-25 19:45] xing-yang commented on #6827
+1

[2022-08-25 19:56] cici37 commented on #6826
+1
Employer: Google

[2022-08-25 19:56] cici37 commented on #6824
+1
Employer: Google

[2022-08-25 19:59] cici37 commented on #6827
+1
Google

[2022-08-25 20:01] cici37 commented on #6800
+1
Employer: Google

[2022-08-25 20:12] xing-yang commented on #6826
+1

[2022-08-25 20:15] dobsonj commented on #6827
+1
Employer: Red Hat

[2022-08-25 20:29] fedebongio commented on #6827
+1
Employer: Google

[2022-08-25 20:32] aojea commented on #6827
+1
Employer: Red Hat

[2022-08-25 20:45] savitharaghunathan commented on #6826
+1
Employer: Red Hat

[2022-08-25 20:48] savitharaghunathan commented on #6827
+1
Employer: Red Hat

[2022-08-25 21:18] reylejano commented on #6827
+1
Employer: SUSE

[2022-08-25 21:18] reylejano commented on #6826
+1
Employer: SUSE

[2022-08-25 21:19] reylejano commented on #6824
+1
Employer: SUSE

[2022-08-25 21:46] elmiko commented on #6827
+1
Employer: Red Hat

[2022-08-25 22:42] rikatz commented on #6827
+1
VMware

[2022-08-26 01:23] RainbowMango commented on #6826
+1
Employer: Huawei

[2022-08-26 01:24] RainbowMango commented on #6824
+1
Employer: Huawei

[2022-08-26 01:30] pacoxu commented on #6824
+1
Employer: DaoCloud

[2022-08-26 01:30] pacoxu commented on #6826
+1
Employer: DaoCloud

[2022-08-26 01:31] pacoxu commented on #6800
+1
Employer: DaoCloud

[2022-08-26 03:02] chendave commented on #6826
+1

Employer:  arm

[2022-08-26 03:15] MadhavJivrajani commented on #6826
Huge +1
Employer - VMware

[2022-08-26 04:08] nikhita commented on #6827
+1
VMware

[2022-08-26 04:09] nikhita commented on #6826
Big +1
Employer: VMware

[2022-08-26 05:11] MadhavJivrajani commented on #6827
Huge +1
Employer - VMware

[2022-08-26 05:11] astraw99 commented on #6824
+1
Employer: Tencent

[2022-08-26 06:48] natalisucks commented on #6827
+1 ❤️
Employer: Wayfair

[2022-08-26 06:55] pohly commented on #6826
+ 1
Employer: Intel

[2022-08-26 07:10] saad-ali commented on #6826
+1
Employer: Google

[2022-08-26 07:15] saad-ali commented on #6827
+1
Employer: Google

[2022-08-26 07:25] sxllwx commented on #6824
+1!

[2022-08-26 08:41] cpanato commented on #6827
+1
Employer: Chainguard

[2022-08-26 09:12] soltysh commented on #6824
+1
Employer: Red Hat

[2022-08-26 09:14] soltysh commented on #6826
+1
Employer: Red Hat

[2022-08-26 09:46] ydFu commented on #6827
+1 👍🏻

[2022-08-26 09:46] ydFu commented on #6826
+1 👍🏻

[2022-08-26 09:46] ydFu commented on #6824
+1 👍🏻

[2022-08-26 09:47] ydFu commented on #6800
+1 👍🏻

[2022-08-26 09:54] swatisehgal commented on #6827
+1
Employer: Red Hat

[2022-08-26 13:34] sbueringer commented on #6826
+1
Employer: VMware

[2022-08-26 13:34] sbueringer commented on #6800
+1
Employer: VMware

[2022-08-26 14:08] mkumatag commented on #6826
+1
Employer: IBM

[2022-08-26 14:48] salaxander commented on #6827
+ 💯
Employer: Microsoft

[2022-08-26 15:07] palnabarun opened #6831 "Steering Committee Nomination: Nabarun Pal (@palnabarun)"
### Describe the issue

Hi everyone,

I want to self-nominate for the 2022 Kubernetes Steering Committee Election.

I got involved with the Kubernetes community on my own time to give back to a project that I was using to build an internal platform at my day job. Since then, I have been associated with the Kubernetes Releases since I joined the 1.17 Enhancements team. It has been an exciting journ

[2022-08-26 15:10] markyjackson-taulia commented on #6831
+1

[2022-08-26 15:10] MadhavJivrajani commented on #6831
Big +1 ♥️
Employer - VMware

[2022-08-26 15:12] reylejano commented on #6831
+1
Employer: SUSE

[2022-08-26 15:16] Priyankasaggu11929 commented on #6831
Huge +1 🥳
Employer - VMware

[2022-08-26 15:18] cpanato commented on #6831
+1
Employer: Chainguard

[2022-08-26 15:24] aojea commented on #6831
+1
Red Hat

[2022-08-26 15:24] ameukam commented on #6831
+1
Employer - VMware

[2022-08-26 15:36] Debanitrkl commented on #6831
Huge +1!
Employer - Harness

[2022-08-26 15:39] natalisucks commented on #6831
+1!
Employer: Wayfair

[2022-08-26 16:25] chrischdi commented on #6831
+1
Employer - VMware

[2022-08-26 16:35] kmova commented on #6831
+1
Employer - VMware

I have been following the work and depending on his work from my previous company (MayaData) as well.

[2022-08-26 16:39] sachinkumarsingh092 commented on #6831
Huge +1
Employer - Independent

[2022-08-26 16:44] sbueringer commented on #6831
+1
Employer - VMware

[2022-08-26 16:51] aledbf commented on #6831
+1
Employer: Gitpod

[2022-08-26 16:58] savitharaghunathan commented on #6831
+1
Employer: Red Hat

[2022-08-26 17:00] endocrimes commented on #6831
+1
Employer: VMware

[2022-08-26 17:19] PushkarJ commented on #6831
+1
Employer: VMware

[2022-08-26 17:23] MrHohn commented on #6826
+1
Employer: Google

[2022-08-26 17:42] Ankitasw commented on #6831
+1
Employer - VMware

[2022-08-26 17:46] devdattakulkarni commented on #6831
+1

[2022-08-26 17:54] kranurag7 commented on #6831
Big +1 🚀
Employer - Independent

[2022-08-26 18:02] longwuyuan commented on #6831
+1

Thanks,
; LongMessage ID: ***@***.***

[2022-08-26 18:10] xing-yang commented on #6831
+1

[2022-08-26 18:39] harshitasao commented on #6831
+1

[2022-08-26 18:58] akhilerm commented on #6831
+1
Employer - VMware

[2022-08-26 21:56] #6492 closed

[2022-08-27 01:24] ArkaSaha30 commented on #6831
Huge +1!! 🥳
Employer: VMware

[2022-08-27 03:45] jasonbraganza commented on #6827
+1

[2022-08-27 03:46] jasonbraganza commented on #6831
+1

[2022-08-27 03:49] ahg-g commented on #6827
+1

Employer: Google

[2022-08-27 04:02] samos123 commented on #6827
+1

Employer: Google

[2022-08-27 04:07] nikhita commented on #6831
Big big +1
Employer: VMware

[2022-08-27 04:11] rikatz commented on #6831
+1
Employer: VMware

[2022-08-27 04:25] CodesbyUnnati commented on #6831
+1 😊
Employer - VMware

[2022-08-27 05:16] ydFu commented on #6831
+1 👍🏻

[2022-08-27 07:26] praveenrewar commented on #6831
+1
Employer: VMware

[2022-08-27 10:07] Debanitrkl commented on #6827
+ 1

Employer:  Harness

[2022-08-27 12:18] abhaytaras7 opened #6833 "Invite me to organization /sig <contribution >"
### Describe the issue

I'm open source advocate and love to do open source contributions

[2022-08-27 14:25] sonasingh46 commented on #6831
Big +1
Employer: VMware

[2022-08-27 18:01] mrbobbytables commented on #6833
Please see the [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md) for information on becoming an org member.

/close

[2022-08-27 18:01] #6833 closed

[2022-08-27 23:04] JeremyOT commented on #6827
+1
Employer: Google

[2022-08-27 23:36] chaodaiG commented on #6827
+1
Employer: Google

[2022-08-28 11:42] soltysh commented on #6831
+1
Employer: Red Hat

[2022-08-28 14:48] VibhorChinda commented on #6831
Big +1 🚀
Employer: VMware

[2022-08-28 16:16] markyjackson-taulia commented on #6754
Left a few messages over the last couple weeks https://kubernetes.slack.com/archives/C1TU9EB9S/p1661560489655119

[2022-08-28 18:23] khannakshat7 commented on #6831
+1
Employer - VMware

[2022-08-28 18:55] khannakshat7 commented on #6800
+1
Employer: VMware

[2022-08-28 19:19] hemantwasthere opened #6835 "INVITATION: I would like to join this organization"
### What do you want send out?(Please include a link to a draft)

Hey I would like to join this organization

[2022-08-28 19:21] mrbobbytables commented on #6835
Please see the [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md) for information on becoming an org member.

/close

[2022-08-28 19:21] #6835 closed

[2022-08-29 02:08] jeefy commented on #6827
I am, of course, the biggest +1 of them all. But I won't write a long-winded Chaucer-esque support/hype speech this time. His actions this past term have spoken more than I can.

Employer: CNCF/LF

[2022-08-29 02:12] jeefy commented on #6826
Massive +1 here. Ben embodies this community/project in everything he does. He is articulate, well-spoken, and has been helping this project longer than many of us. With that experience comes a wealth of opinions and knowledge I think will move Kubernetes forward.

Employer: CNCF/LF

[2022-08-29 04:43] AmitKumarDas commented on #6831
+1
Employer - VMware

[2022-08-29 04:57] mohitsharma-in commented on #6831
+1
Employer - VMware

[2022-08-29 05:23] meghanajangi commented on #6831
+1

[2022-08-29 14:19] pigletfly commented on #6824
+1

[2022-08-29 14:29] droslean commented on #6824
+1

On Mon, Aug 29, 2022 at 4:19 PM Wang Bing ***@***.***> wrote:

[2022-08-29 15:09] cici37 opened #6836 "Steering Committee Nomination: Cici Huang (@cici37)"
### Describe the issue

Hi Kubernetes Community,

I am self-nominating for the upcoming Steering Committee election.

My involvement with Kubernetes community is crossing multiple areas including sig-cloud provider, sig-apimachinery, release etc. I served as Kubernetes 1.25 release lead recently and would love to contribute on the steering committee.

/committee steering

[2022-08-29 15:12] markyjackson-taulia commented on #6836
+1
@cici37 was a great leader on the 1.25 release and would be great in this role.

[2022-08-29 15:21] reylejano commented on #6836
+1
Employer: SUSE

[2022-08-29 15:36] leonardpahlke commented on #6836
+1

[2022-08-29 15:37] orsenthil commented on #6836
+1
Employer: AWS

[2022-08-29 16:12] fedebongio commented on #6836
+1
Employer: Google

[2022-08-29 16:14] aojea commented on #6836
+1
Employer: Red Hat

[2022-08-29 16:18] dobsonj commented on #6836
+1
Employer: Red Hat

[2022-08-29 16:58] jiahuif commented on #6836
+1
Employer: Google

[2022-08-29 17:36] sudlo commented on #6836
+1

[2022-08-29 17:38] tokt commented on #6827
+1
Employer: Independent

[2022-08-29 18:13] palnabarun commented on #6827
Huge +1!!! ❤️
Employer: VMware

[2022-08-29 18:21] qedrakmar opened #6837 "Steering Committee Nomination: Noah Abrahams (@qedrakmar)"
### Describe the issue

Hello Kubernetes community,

I would like to self-nominate for the Kubernetes Steering Committee.

I have been involved with this project since 2016, primarily in a community growth role.  My most visible work has been with SIG Contributor Experience, where I drive the Non-Code Contributors project, as well as some time on the Release Team.  You may have encountered me help

[2022-08-29 18:32] qedrakmar commented on #6836
+1
Employer: Oracle

[2022-08-29 18:32] qedrakmar commented on #6827
+1
Employer: Oracle

[2022-08-29 18:32] qedrakmar commented on #6800
+1
Employer: Oracle

[2022-08-29 18:33] qedrakmar commented on #6831
+1
Employer: Oracle

[2022-08-29 18:41] markyjackson-taulia commented on #6837
+1
@qedrakmar and I met in 2016 and he has been a vital part of the contribex.

[2022-08-29 18:55] leonardpahlke commented on #6831
+1
Employer: Liquid Reply

[2022-08-29 18:56] leonardpahlke commented on #6800
+1
Employer: Liquid Reply

[2022-08-29 19:24] varshaprasad96 commented on #6836
+1
Employer: Red Hat
I was a part of the K8s release team along with @cici37.

[2022-08-29 19:41] reylejano commented on #6837
+1
Employer: SUSE

[2022-08-29 20:41] lavalamp opened #6839 "Steering Committee Nomination: Daniel Smith (@lavalamp)"
I'd like to nominate myself for the Steering Committee.

I have been working on Kubernetes since before it was open source. I was the top contributor for the first few years of its existence. I specialized on things I felt would enable an ecosystem to form around Kubernetes (I think that has paid off). I initiated and continue to co-run the API Machinery SIG. I would be honored to serve the commun

[2022-08-29 20:46] seans3 commented on #6839
+1

[2022-08-29 20:47] deads2k commented on #6839
+1

Employer: Red Hat

[2022-08-29 20:48] alculquicondor commented on #6839
+1
Employer: Google

[2022-08-29 20:50] aojea commented on #6839
+1
Employer: Red Hat

[2022-08-29 20:56] minzhuogoogle commented on #6839
+1

[2022-08-29 20:57] tkashem commented on #6839
+1

[2022-08-29 20:57] seans3 commented on #6836
+1
Employer: Google

[2022-08-29 20:58] kwiesmueller commented on #6839
+1
Employer: Google

[2022-08-29 20:58] seans3 commented on #6824
+1
Employer: Google

[2022-08-29 20:59] seans3 commented on #6826
+1
Employer: Google

[2022-08-29 20:59] seans3 commented on #6827
+1
Employer: Google

[2022-08-29 21:08] ahg-g commented on #6839
+1
Employer: Google

[2022-08-29 21:27] elmiko commented on #6836
+1
Employer: Red Hat

[2022-08-29 22:06] MushuEE commented on #6839
+1
Employer: Google

[2022-08-29 22:17] jagosan commented on #6839
+1
Employer: Google

[2022-08-29 22:18] jagosan commented on #6836
+1
Employer: Google

[2022-08-29 23:03] fedebongio commented on #6839
+1
Employer: Google

[2022-08-30 00:32] saad-ali commented on #6839
+1
Employer: Google

[2022-08-30 01:25] pacoxu commented on #6839
+1
Employer: DaoCloud

[2022-08-30 01:41] MadhavJivrajani commented on #6839
+1

Employer: VMware

[2022-08-30 02:08] chaitanyaenr commented on #6824
+1
Employer: Red Hat

[2022-08-30 02:27] jqmichael commented on #6824
+1

[2022-08-30 02:27] jqmichael commented on #6839
+1

Employer: AWS

[2022-08-30 02:58] iamprashant commented on #6839
+1

[2022-08-30 03:22] jasonbraganza commented on #6836
+1
@cici37 was my release lead for the v1.25 release. she was warm and empathic. big +1.

[2022-08-30 03:29] MadhavJivrajani commented on #6836
+1
Employer: VMware

[2022-08-30 04:49] anusha94 commented on #6831
+1 ❤️
Employer: VMware

[2022-08-30 05:19] palnabarun commented on #6836
+1
Employer: VMware

[2022-08-30 05:20] palnabarun commented on #6837
+1
Employer: VMware

[2022-08-30 05:25] jasonbraganza commented on #6837
+1

[2022-08-30 05:26] jasonbraganza commented on #6824
+1

[2022-08-30 05:27] jasonbraganza commented on #6826
+1

[2022-08-30 05:36] pravarag commented on #6831
Big +1
Employer: IBM

[2022-08-30 05:53] vinaykul commented on #6836
+1
Employer: Futurewei (Huawei)

[2022-08-30 06:00] vinaykul commented on #6831
+1
Employer: Futurewei (Huawei)

[2022-08-30 06:02] vinaykul commented on #6827
+1
Employer: Futurewei (Huawei)

[2022-08-30 06:03] vinaykul commented on #6826
+1
Employer: Futurewei (Huawei)

[2022-08-30 08:04] 44past4 commented on #6839
+1
Employer: Google

[2022-08-30 08:47] swatisehgal commented on #6831
+1
Employer: Red Hat

[2022-08-30 09:18] soltysh commented on #6836
+1
Employer: Red Hat

[2022-08-30 09:18] soltysh commented on #6839
+1
Employer: Red Hat

[2022-08-30 09:24] wojtek-t commented on #6839
+1
Employer: Google

[2022-08-30 10:33] RinkiyaKeDad commented on #6831
VERY BIG +1!
Employer: Okteto

[2022-08-30 10:34] RinkiyaKeDad commented on #6827
+1
Employer: Okteto

[2022-08-30 10:35] RinkiyaKeDad commented on #6826
+1
Employer: Okteto

[2022-08-30 10:35] mm4tt commented on #6839
+1
Employer: Google

[2022-08-30 10:35] RinkiyaKeDad commented on #6800
+1
Employer: Okteto

[2022-08-30 10:36] RinkiyaKeDad commented on #6836
+1
Employer: Okteto

[2022-08-30 13:22] sjenning commented on #6839
+1
Employer: Red Hat

[2022-08-30 14:58] asm582 opened #6840 "Cluster autoscaler improvements for AI workloads"
### Describe the issue

We see that the current cluster autoscaler (CA) reacts to pending pods, this may not work well for AI/HPC workloads, we outline the scenarios below:

- CA reacts to pending pods, When a large number of pods are being co-scheduled it can wait tens of minutes with pending pods before triggering scale-up, stressing the control plane.
- When multiple AI/HPC workloads are submit

[2022-08-30 15:00] asm582 commented on #6840
/sig autoscaling

[2022-08-30 15:20] cpanato commented on #6836
+1
Employer: Chainguard

[2022-08-30 15:20] cpanato commented on #6839
+1
Employer: Chainguard

[2022-08-30 16:25] saschagrunert commented on #6800
+1
Employer: Red Hat

[2022-08-30 16:57] aravindhp commented on #6824
+1

[2022-08-30 17:31] lavalamp commented on #6824
+1
Employer: Google

[2022-08-30 17:31] lavalamp commented on #6826
+1
Employer: Google

[2022-08-30 17:31] lavalamp commented on #6827
+1
Employer: Google

[2022-08-30 17:31] lavalamp commented on #6831
+1
Employer: Google

[2022-08-30 17:31] lavalamp commented on #6836
+1
Employer: Google

[2022-08-30 18:51] elmiko commented on #6840
@asm582 and i have talked offline about this issue, i'm very curious about this work. thanks for sharing!

[2022-08-30 19:07] Jefftree commented on #6839
+1
Employer: Google

[2022-08-30 19:07] Jefftree commented on #6836
+1
Employer: Google

[2022-08-30 19:07] Jefftree commented on #6826
+1
Employer: Google

[2022-08-30 19:07] Jefftree commented on #6824
+1
Employer: Google

[2022-08-30 20:17] BenTheElder opened #6841 "slack bots are down"
### Describe the issue

due to the slack.k8s.io => community inviter redirect, the slack tools were also on slack.k8s.io/foo and are being redirected to the inviter, which means none of our moderation tools work ...

/assign
/priority critical-urgent
/sig contributor-experience

[2022-08-30 20:27] BenTheElder commented on #6841
slack thread: https://kubernetes.slack.com/archives/CCK68P2Q2/p1661887032869249

[2022-08-30 20:32] dims commented on #6841
ugh! my bad @BenTheElder

[2022-08-30 20:39] benluddy commented on #6836
+1
Employer: Red Hat

[2022-08-30 20:39] benluddy commented on #6824
+1
Employer: Red Hat

[2022-08-30 22:17] BenTheElder commented on #6841
OK so slack-infra.k8s.io / slack-infra.kubernetes.io are live, we are just waiting on:
- certificate provisioning
- katharine updating the slack app configs to point to the new URL

then hopefully the bots / moderation tools should be good to go 🤞

[2022-08-30 22:29] BenTheElder commented on #6841
certs are up, and katharine is updating the configs.

[2022-08-30 22:49] mrbobbytables commented on #6840
IMO - I would send this to the autoscaling mailing list, this repo is not really for answering general questions.^^;;; It's more of a meta repo for how the project self manages.

[2022-08-30 23:02] BenTheElder commented on #6841
most of them are back up, but post-message and moderator-words still need updating, Katharine doesn't have access to those https://kubernetes.slack.com/archives/CCK68P2Q2/p1661900038920049?thread_ts=1661887032.869249&cid=CCK68P2Q2

not sure who does ... (I'm also not a slack admin)

[2022-08-31 00:52] asm582 commented on #6840
Thank you, I am new to this sig and believe the above are shortcomings of the current autoscaler and not general questions. I am happing to hop on the mailing list or post in another repository that you can recommend if that is a better way to get a review of the shortcomings.

[2022-08-31 02:29] tamalsaha commented on #6839
:100:

Employer: AppsCode

[2022-08-31 09:24] anubha-v-ardhan commented on #6831
+1
Employer: Independent

[2022-08-31 10:34] humblec commented on #6824
+1
Employer: Red Hat

[2022-08-31 10:34] humblec commented on #6839
+1
Employer: Red Hat

[2022-08-31 10:35] humblec commented on #6826
+1
Employer: Red Hat

[2022-08-31 10:35] humblec commented on #6827
+1
Employer: Red Hat

[2022-08-31 10:35] humblec commented on #6831
+1
Employer: Red Hat

[2022-08-31 10:35] humblec commented on #6836
+1
Employer: Red Hat

[2022-08-31 10:35] humblec commented on #6837
+1
Employer: Red Hat

[2022-08-31 10:35] humblec commented on #6800
+1
Employer: Red Hat

[2022-08-31 16:26] nimbinatus commented on #6704
Dropping an update here as I seem to have lost track of this issue: Yes, we would very much like to get the label across the repos in the org if possible. It reduces the bar to get a topic on the list of discussion, and it would help drive discussion out to SIGs' repos (which might help drive contributors to SIGs) during the community conversation, as well. I'm all for avoiding duplicating content

[2022-08-31 17:16] jberkus commented on #6841
Confirmed that Reporter is working again.

[2022-08-31 17:21] MrHohn commented on #6839
+1
Employer: Google

[2022-08-31 18:40] #5234 closed

[2022-08-31 22:55] Huang-Wei commented on #6826
+1
Employer: Apple

[2022-08-31 22:55] Huang-Wei commented on #6839
+1
Employer: Apple

[2022-08-31 22:56] Huang-Wei commented on #6824
+1
Employer: Apple

[2022-09-01 11:18] pacoxu opened #6845 "Steering Committee Nomination: Paco Xu (@pacoxu)"
### Describe the issue

Hi Kubernetes Community,

I am self-nominating for the upcoming Steering Committee election.

My involvement with Kubernetes community is crossing multiple areas including sig-cluster-lifecycle, sig-node, sig-cli etc.
Now am a sig-node & kubeadm reviewer. I started with Kubernetes in early 2017 and my first contribution was in March 2018. I would love to contribute on the s

[2022-09-01 11:25] cpanato commented on #6845
+1
Employer: Chainguard

[2022-09-01 11:42] yankay commented on #6845
+1 ! 👍🏻🚀🙌

Employer: DaoCloud

[2022-09-01 11:43] rikatz commented on #6845
+1
Employer: VMware

[2022-09-01 11:45] chendave commented on #6845
+1

Employer: arm

[2022-09-01 11:50] aojea commented on #6845
+1
Employer: Red Hat

[2022-09-01 11:53] windsonsea commented on #6845
+1
Employer: DaoCloud
I have learned much from Paco who led my way to the open source community. Thank you.

[2022-09-01 12:03] uablrek commented on #6826
+1
Employer: Ericsson

[2022-09-01 12:09] uablrek commented on #6827
+1
Employer: Ericsson

[2022-09-01 12:10] nikhita commented on #6845
Definitely +1
Employer - VMware

[2022-09-01 12:23] uablrek commented on #6845
+1
Employer: Ericsson

[2022-09-01 12:24] palnabarun commented on #6845
Huge +1!
Employer: VMware

[2022-09-01 13:14] Karthik-K-N commented on #6845
+1
Employer: IBM

[2022-09-01 14:11] RA489 commented on #6845
Huge +1!
Employer: NEC Corporation

[2022-09-01 14:31] thecrudge commented on #6837
+1

[2022-09-01 16:58] seans3 commented on #6845
+1
Employer: Google

[2022-09-01 18:41] coderanger commented on #6845
Unfortunately the deadline for nominations has passed so I'm going to have to close this out.

/close

[2022-09-01 18:41] #6845 closed

[2022-09-01 18:57] coderanger commented on #6800
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that Carlos Panato has the necessary endorsements to qualify to run for steering committee.

Please prepare a bio for yourself based on the [nomination-template](https://github.com/kubernetes/community/blob

[2022-09-01 18:57] coderanger commented on #6824
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that David Eads has the necessary endorsements to qualify to run for steering committee.

[2022-09-01 18:58] coderanger commented on #6826
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that Benjamin Elder has the necessary endorsements to qualify to run for steering committee.

Please prepare a bio for yourself based on the [nomination-template](https://github.com/kubernetes/community/blo

[2022-09-01 18:58] coderanger commented on #6827
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that Bob Killen has the necessary endorsements to qualify to run for steering committee.

Please prepare a bio for yourself based on the [nomination-template](https://github.com/kubernetes/community/blob/ma

[2022-09-01 18:59] coderanger commented on #6831
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that Nabarun Pal has the necessary endorsements to qualify to run for steering committee.

Please prepare a bio for yourself based on the [nomination-template](https://github.com/kubernetes/community/blob/m

[2022-09-01 18:59] coderanger commented on #6836
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that Cici Huang has the necessary endorsements to qualify to run for steering committee.

Please prepare a bio for yourself based on the [nomination-template](https://github.com/kubernetes/community/blob/ma

[2022-09-01 18:59] coderanger commented on #6837
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that Noah Abrahams has the necessary endorsements to qualify to run for steering committee.

Please prepare a bio for yourself based on the [nomination-template](https://github.com/kubernetes/community/blob

[2022-09-01 18:59] coderanger commented on #6839
Per the requirements of the [candidate process](https://github.com/kubernetes/community/tree/41289f0f7e1fdc559c24e09c8e66c1f805fdfd52/elections/steering/2022#candidacy-process), I have verified that Daniel Smith has the necessary endorsements to qualify to run for steering committee.

Please prepare a bio for yourself based on the [nomination-template](https://github.com/kubernetes/community/blob/

[2022-09-01 20:38] leilajal commented on #6836
+1
Employer: Google

[2022-09-01 21:59] #6824 closed

[2022-09-01 23:27] puerco commented on #6836
+1 !
Employer: Chainguard

[2022-09-01 23:27] puerco commented on #6837
+1
Employer: Chainguard

[2022-09-02 03:49] kerthcet commented on #5535
Revisit the issue, do we have any progress on this or we do have some standard configurations for project board. For sig scheduling, we recently create a new board for tracing, but not smooth enough. It's actually a hand-actuated. https://github.com/orgs/kubernetes/projects/79/views/1

/remove-lifecycle rotten

[2022-09-02 04:10] #6839 closed

[2022-09-02 09:07] sftim opened #6848 "Document joining the Kubernetes org"
### Describe the issue

Document how to join the organization in this repo, so that that information gets published into https://k8s.dev/docs/

[2022-09-02 23:54] #6800 closed

[2022-09-02 23:58] #6831 closed

[2022-09-02 23:58] #6837 closed

[2022-09-02 23:58] #6826 closed

[2022-09-03 01:58] cc4i commented on #6836
+1
Employer: Google

[2022-09-03 04:29] ADITYADAS1999 commented on #6848
hey [sftim](https://github.com/sftim) can i work on this documentation ? It's seems easy for me 😊

[2022-09-03 10:04] #6836 closed

[2022-09-03 10:08] #6827 closed

[2022-09-04 16:39] sftim commented on #6848
No objection from me!

[2022-09-04 21:45] jeremyrickard opened #6858 "Update SIG Release Meeting Times"
### Describe the issue

As part of https://github.com/kubernetes/sig-release/issues/1912, we need to update the sig.yaml and generated files to add the new meeting times.  We also need to drop the releng meeting to bring that in line with our consolidation of releng and sig release meetings.

[2022-09-04 21:45] jeremyrickard commented on #6858
/sig release

[2022-09-05 00:43] markyjackson-taulia commented on #6357
/remove-lifecycle stale

[2022-09-05 15:16] #6858 closed

[2022-09-06 13:05] enxebre commented on #6840
thanks @asm582, please let's move this here https://github.com/kubernetes/autoscaler/issues

[2022-09-06 15:20] asm582 commented on #6840
Thanks @enxebre. Closing this issue, the issue opened in another repository: https://github.com/kubernetes/autoscaler/issues/5170

[2022-09-06 15:20] #6840 closed

[2022-09-06 17:03] mzacho commented on #6708
/close

[2022-09-07 00:13] mrbobbytables commented on #6848
It's documented in the [community membership](https://github.com/kubernetes/community/blob/master/community-membership.md) doc at the root of the repo, would just need hugo metadata header and a some other info added to be published over there

[2022-09-07 02:37] ADITYADAS1999 commented on #6848
all the Hugo Shortcodes  are present here I thing it is helpful
https://kubernetes.io/docs/contribute/style/hugo-shortcodes/

[2022-09-07 06:06] iamarnavgupta commented on #6423
Hey, I am a new contributer, if there is any task for me please assign . I would be to happy to contirbute.

[2022-09-07 22:01] dims commented on #6841
`slack-moderator-words` bot/app is now working

[2022-09-07 22:39] dims commented on #6841
`slack-post-message` bot/app is now working

[2022-09-08 00:24] jberkus commented on #6841
This issue is resolved.

/close

[2022-09-08 00:24] #6841 closed

[2022-09-08 06:52] BenTheElder commented on #6841
/assign @jberkus @dims

[2022-09-08 16:00] tabbysable commented on #6722
Officially approving the creation of this slack channel.

Is our next-steps to have Ala PR the creation of the channel into the YAML and slash-approve that PR?

[2022-09-08 16:02] markyjackson-taulia commented on #6722
Lgtm and holding for another slack admin to approve

/lgtm
/hold

[2022-09-08 16:39] aladewberry commented on #6722
Done! Figured it out finally!

https://github.com/kubernetes/community/pull/6864

[2022-09-09 01:44] mrbobbytables commented on #6754
I'd like to move to emeritus 👍

[2022-09-09 15:41] castrojo commented on #6754
Yeah I need to be emeritus as well, realistically not done this in a while. Thanks for driving the issue forward!

[2022-09-09 16:04] chris-short commented on #6754
I'm hesitant to say make me emeritus given Bob and Jorge are but, I haven't done or helped with anything since contributor awards last year. I'm usually the "Uh oh... Help!" POC.

[2022-09-09 16:24] markyjackson-taulia commented on #6754
@chris-short the idea is to move folx to emeritus for that very reason.
I will be doing an unconference talk hopefully to get some new members.
Let me know your thoughts

[2022-09-09 16:25] chris-short commented on #6754
Emeritus me please with sugar on top

[2022-09-09 16:42] onlydole commented on #6754
I'm happy to join the schedule and help out at least one week a month! I think it'll help with triaging/assigning much more productively. Thank you for opening this, @markyjackson-taulia 🙌🏼

[2022-09-10 02:12] amolmote opened #6868 "Broken link need to fix"
**This is a Bug Report**

**Problem:**
visit this page [pull-requests](https://www.kubernetes.dev/docs/guide/pull-requests/)
when we click on this `Kubernetes Enhancement Proposal process` it returns 404 not found page,so this needs to be fix.

**Proposed Solution:**
correct link of md file require to provide.

**Page to Update:**
https://www.kubernetes.dev/docs/guide/pull-requests/

/sig docs
/as

[2022-09-10 03:26] amolmote commented on #6868
/Sig docs

[2022-09-10 07:13] souravsk commented on #6868
The link is working fine.Can you recheck it.

[2022-09-10 07:16] amolmote commented on #6868
This link is working fine which I provided in issue but link of KEP is not working properly

[2022-09-10 07:17] amolmote commented on #6868
I have checked it multiple times then I have raised this issue

[2022-09-10 09:37] souravsk commented on #6868
It's not working for the desktop Brower previously when I checked it was working it opened in the GitHub mobile application.

[2022-09-10 09:37] souravsk commented on #6868
i'm working on this

[2022-09-10 09:43] amolmote commented on #6868
I have assigned it to myself already

[2022-09-10 09:45] souravsk commented on #6868
okay let me if need any help

[2022-09-10 09:47] amolmote commented on #6868
yes sure I am waiting for the sig, once it is approved by any member i will the pr.

[2022-09-10 09:49] souravsk commented on #6868
can you give me the file location of page

[2022-09-10 15:21] markyjackson-taulia commented on #6088
I think this is complete @parispittman also cc @coderanger

/remove-lifecycle stale

[2022-09-10 16:13] dims commented on #6868
`https://github.com/kubernetes/enhancements/blob/master/keps/0001-kubernetes-enhancement-proposal-process.md` should be replaced with
`https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/0000-kep-process/README.md`

[2022-09-10 16:20] amolmote commented on #6868
yes will do this changes thank you @dims

[2022-09-11 16:34] akankshakumari393 opened #6872 "Link for Testing Broken on contributer cheatsheet"
### Describe the issue

[code]

here in [https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet](https://github.com/kubernetes/community/tree/master/contributors/guide/contributor-cheatsheet) the Testing locally doesn't poit us to the testing locally section.

[2022-09-11 16:35] akankshakumari393 commented on #6872
/sig contributor-experience

[2022-09-11 16:35] akankshakumari393 commented on #6872
/assign

[2022-09-12 14:32] swgu931 opened #6873 "Is there any way to set readiness, liveness with millisecond something like 5ms or 10 ms"
### Describe the issue

I have an time critical application and I run it on kubernetes with Deployment
then I will check 5ms then if failed, I will let kubernetes create a new pod instead of that in order to handle in real-time manner.
It is supposed to be used in real-time control plant.
I think the most simple solution I can use will be Liveness and Readiness, But as I search for this, it would

[2022-09-13 10:43] #6868 closed

[2022-09-14 05:29] Pro-Coder04 commented on #6872
/assign

[2022-09-14 05:54] akankshakumari393 commented on #6872
@Pro-Coder04 I am working on this one. It was already assigned.

[2022-09-14 05:54] akankshakumari393 commented on #6872
/unassign @Pro-Coder04

[2022-09-14 09:01] Pro-Coder04 commented on #6872
I have solved the issue so I decided to raise a pull request
I was waiting for you to solve it but it's already been 3 days since you raised it

[2022-09-14 22:40] jberkus commented on #6657
The survey is closed and data dispatched to the survey owners.

[2022-09-15 14:37] #6872 closed

[2022-09-16 10:24] Debanitrkl commented on #6848
/sig contributor-experience
/area developer-guide
@ADITYADAS1999 are you still working on this? or I can put quick PR for this

[2022-09-16 12:14] ADITYADAS1999 commented on #6848
@Debanitrkl  you can feel free to make a PR  , I right now working on another issue

[2022-09-16 14:19] Debanitrkl commented on #6848
/assign

[2022-09-16 14:20] Debanitrkl commented on #6848
Here's the draft with hugo headers and adequate changes, will make a PR soon after few reviews on this. https://hackmd.io/@XzECIhDGRqCtGVrLiJFzxQ/rkszHbMbi/edit

[2022-09-16 14:31] mrbobbytables commented on #6848
Please don't include any hugo shortcodes, just the metadata at the top should do it. The page needs to be fully readable in both locations.

[2022-09-18 10:31] Daghashk opened #6882 "Create my own plugin for scheduler"
### Describe the issue

I would like to write my own plugin for example, taking the latency of nodes into consideration when score the nodes?
if there are any document that can guide me as fresh learner, please help me.
/sig Scheduling

[2022-09-20 06:41] MadhavJivrajani commented on #6704
FYI - comms for lazy consensus have been sent out: https://groups.google.com/u/1/a/kubernetes.io/g/dev/c/CVkurn6mUuQ

[2022-09-20 19:13] sftim commented on #5435
I'd really like a bot to handle the case where something is mis-triaged as support, and the submitter wants to let us know.
Once we have a bot to fix mistriage, we can be more vigorous at automating handling of the remaining issues where the issue submitter either agrees it's a support request, or we don't hear from them further.

[2022-09-20 20:23] marosset commented on #6423
/close
@jayunit100 feel free to re-open if you remember what we wanted to do here :)

[2022-09-20 20:23] #6423 closed

[2022-09-21 15:13] vitorfhc opened #6888 "Development for Building Kubernetes is inaccurate"
### Describe the issue

The [documentation suggests](https://github.com/kubernetes/community/blob/002ec4b213ba3b00bc456dc8e2eaa1643de4bff0/contributors/devel/development.md?plain=1#L360-L364) using `GOGCFLAGS="-N -l"`.

In the Makefile we have [another way to set debug mode](https://github.com/kubernetes/kubernetes/blob/299e65cdc5799b982b6af69858c14bfe41463540/build/root/Makefile#L78-L79), which i

[2022-09-21 15:14] vitorfhc commented on #6888
/sig docs

[2022-09-25 20:20] jkaye2012 commented on #6566
/remove-lifecycle stale

Linked PR should ideally be merged before closing this

[2022-09-26 05:18] Pro-Coder04 commented on #6888
/assign

[2022-09-26 20:38] jberkus commented on #6572
This is not planned for KCSNA 2022.

/close

[2022-09-26 20:38] #6572 closed

[2022-09-27 04:24] MadhavJivrajani commented on #6704
The lazy consensus deadline for this has passed!
Lazy consensus email: https://groups.google.com/u/1/a/kubernetes.io/g/dev/c/CVkurn6mUuQ

[2022-09-27 11:01] #6704 closed

[2022-09-27 12:09] MadhavJivrajani commented on #6704
/remove-area community-meeting
yay!
(sorry for the additional comments)

[2022-09-28 00:16] jberkus commented on #6848
@Debanitrkl please go ahead and create the PR.

[2022-09-28 00:18] jberkus commented on #6882
Howdy @Daghashk!  This issue page is not going to help you to learn how to write Scheduler plugins.  I suggest instead joining [Kubernetes Slack](https://slack.k8s.io) and posting your question in the `#sig-scheduling` channel.

[2022-09-28 00:18] jberkus commented on #6882
/close

[2022-09-28 00:18] #6882 closed

[2022-09-28 16:25] mrbobbytables commented on #6735
board is in use :)
going to go ahead and close this out
/close

[2022-09-28 16:25] #6735 closed

[2022-09-28 16:28] mrbobbytables opened #6899 "KubeCon NA 2022 - K8s Meet and Greet volunteers"
### Describe the issue

The meet and greet will take place Friday October 28th @ 12:30pm ET

If you would like to volunteer to represent your SIG/WG - please post below 👍

/area contributor-summit
/sig contributor-experience

[2022-09-29 12:30] ADITYADAS1999 opened #6901 "Link not found error"
### Describe the issue

At contact section github team links are not found

https://github.com/kubernetes/community/tree/master/sig-instrumentation

![8888](https://user-images.githubusercontent.com/58718316/193031515-3327ebf4-2103-454e-af23-72d89ae1c412.PNG)

[2022-09-29 23:25] #6634 closed

[2022-09-30 08:56] BusyOppo opened #6902 "Remove BLM please"
### Describe the issue

all color life matter

[2022-10-01 01:38] sreekaransrinath commented on #6901
Hey @ADITYADAS1999, team pages can be viewed only by org members.

<img width="772" alt="image" src="https://user-images.githubusercontent.com/50989977/193377972-81fb8174-3a75-480f-8f55-86ec247236cf.png">

https://docs.github.com/en/organizations/organizing-members-into-teams/about-teams#team-visibility

[2022-10-01 03:42] ADITYADAS1999 commented on #6901
Thanks for informing @sreekaransrinath

[2022-10-01 03:42] #6901 closed

[2022-10-01 07:47] #5425 closed

[2022-10-01 13:52] chris-short commented on #6641
Well, if anyone can approve this that'd be awesome.

[2022-10-01 14:37] cblecker commented on #6641
What needs approval? This is an issue, not a PR, and all the linked PRs to this issue are either merged, closed, or failing tests.

[2022-10-03 15:55] mrbobbytables opened #6904 "GitHub Task List Alpha Feedback"
### Describe the issue

This issue can be used for posting feedback regarding the new Task list functionality.

Docs available here: https://docs.github.com/en/early-access/issues/about-tasklists

---
/area github-management
/sig contributor-experience

[2022-10-04 11:34] #6742 closed

[2022-10-04 16:30] natalisucks commented on #6899
Myself and @divya-mohan0209 volunteer to represent SIG Docs 👋 🐱

[2022-10-04 21:27] thockin commented on #6899
Interested for sig-net and/or sig-arch

[2022-10-04 22:06] xing-yang commented on #6899
I'll be there for SIG-Storage.

[2022-10-04 22:09] MadhavJivrajani commented on #6899
I can help with ContribEx and/or API Machinery :)

[2022-10-04 22:36] helayoty commented on #6899
I can help with SIG-Apps, Virtual-Kubelet, and a little bit about SIG-Scheduling.

[2022-10-04 23:34] jpbetz commented on #6899
I can be there for SIG api-machinery

[2022-10-04 23:34] cailynse commented on #6899
I'd like to volunteer for SIG Security!

[2022-10-05 08:03] alculquicondor commented on #6899
Me for SIG-Scheduling, SIG-Apps and WG-Batch

[2022-10-05 10:54] dims commented on #6899
Me for SIG-Arch

[2022-10-05 11:00] soltysh commented on #6899
I'll do that for SIG-Apps and SIG-CLI

[2022-10-05 14:23] dashpole commented on #6899
I'll be there for SIG instrumentation

[2022-10-05 16:19] JimBugwadia commented on #6899
I would like to volunteer for WG-Policy and WG-Multitenancy

[2022-10-05 16:48] charleszheng44 commented on #6899
I'd like to volunteer for wg-multitenancy and sig cluster-api.

[2022-10-05 17:07] elmiko commented on #6899
i'm happy to volunteer for sig cloud-provider and/or sig autoscaling

[2022-10-05 17:22] KnVerey commented on #6899
I volunteer for SIG CLI

[2022-10-05 19:06] dcbw commented on #6899
I volunteer for SIG-Net

[2022-10-05 23:50] robscott commented on #6899
I can be around for SIG Net and Gateway API

[2022-10-06 09:00] aojea commented on #6899
I can be around for SIG Net and SIG Testing

[2022-10-06 21:57] sreekaransrinath commented on #6888
[code]

Hey,

@mrbobbytables - do you think this doc change makes sense?
@Pro-Coder04 Are you working on this or do you mind if I submit a quick PR?

[2022-10-07 04:07] Pro-Coder04 commented on #6888
@sreekaransrinath you can go ahead with your PR

[2022-10-07 05:09] cpanato commented on #6899
I volunteer for SIG-Release

[2022-10-07 06:50] scoof commented on #6050
/remove-lifecycle stale

[2022-10-07 15:34] kaslin commented on #6641
These are in aside from the one that is broken. However none of these actually changed the subdir name, so all of these just broke things by putting in the link we want, not the link there is. @reylejano is going to walk a new contributor through doing that change.

[2022-10-08 00:04] spiffxp opened #6913 "Update SIG Testing chairs and tech leads"
### Describe the issue

We've reached lazy consensus on some chair and tech lead additions
- Add @michelle192837 as chair ([mailing list thread](https://groups.google.com/g/kubernetes-sig-testing/c/1p4_YnsKhsk))
- Add @aojea and @pohly as tech leads ([mailing list thread](https://groups.google.com/g/kubernetes-sig-testing/c/Ey7oQdJkEgI))

This issue is to track the sundry PRs and onboarding tasks

[2022-10-08 00:14] spiffxp commented on #6913
/assign

[2022-10-08 21:18] jrsapi commented on #6899
I volunteer for SIG-Release.

[2022-10-10 14:58] brianpursley opened #6915 "SURVEY REQUEST: kubectl localization"
### Group Requesting

SIG-CLI

### Title of Survey

Kubectl Localization Survey

### Goal of Survey

Kubectl's language translations are incomplete, with some languages have less than 10% of the output translated.  The untranslated text remains in English, resulting in the output having a mix of two languages.

We think this experience is probably not good enough for those who use kubectl in one o

[2022-10-10 15:39] jeremyrickard opened #6916 "Code Of Conduct Committee Onboarding for @detiber"
### Describe the issue

Code of Conduct Committee Onboarding Tracking Issue for onboarding @detiber  and moving @palnabarun to emeritus

- [ ] Kubernetes Slack
     - [x] add to slack group
     - [x]  add to moderator channels
     - [ ] Workspace Admin privileges

- [x] Update k/community sigs.yaml https://github.com/kubernetes/community/pull/6921
  - [x] update sigs.yaml
- [x] Update k/k8s.io h

[2022-10-10 15:39] jeremyrickard commented on #6916
/committee conduct

[2022-10-10 15:40] jeremyrickard commented on #6916
/committee code-of-conduct

[2022-10-11 02:16] varshaprasad96 commented on #6899
I can be around for SIG-Apimachinery (for Kubebuilder/controller-runtime/controller-tools) projects.

[2022-10-11 19:38] BenTheElder commented on #6899
I volunteer for Testing and Infra

[2022-10-11 19:38] puerco commented on #6899
I'll be there for SIG Release :tada:

[2022-10-11 19:42] thockin commented on #6899
Do we have a room assignment for this?

[2022-10-11 19:52] mrbobbytables commented on #6899
Room 411ABC 12:30-1:30, we do have hte room till 2:30 if folks want to go longer.

[2022-10-12 16:31] marosset commented on #6899
I volunteer SIG Windows

[2022-10-13 16:10] dgrisonnet commented on #6899
I'll be there for SIG Instrumentation

[2022-10-14 14:04] mrbobbytables commented on #6899
Here is the sched url for the meet & greet session: https://sched.co/1CZy3

[2022-10-14 19:45] krmayankk commented on #6899
I will try to be there for sig-apps, but potentially have a talk on 28th at 4:00 PM. Not sure what is the time for this ?

[2022-10-16 01:01] sepulworld opened #6928 "I’d like to help maintain external-dns"
### Describe the issue

Hi, looks like the external-dns project is in need of maintainers. I’m familiar with the code base and would like to help maintain the aws-sd provider to start. Could I be added to a codeowners file for this portion of the project? Please consider me for help as I’d like to see this project succeed.

[2022-10-16 01:05] sepulworld commented on #6928
/sig contributor experience

[2022-10-16 01:29] dims commented on #6928
@sepulworld `external-dns` comes under https://github.com/kubernetes/community/tree/master/sig-network#subprojects so you should probably go talk to them (drop an email on the sig-network mailing list and follow up in one of their meetings).

[2022-10-16 01:33] sepulworld commented on #6928
Thanks @dims!! Can I switch this issue/request over to their sig? Instead of using email?

[2022-10-16 01:33] sepulworld commented on #6928
/sig network

[2022-10-16 19:42] mrbobbytables commented on #6928
FWIW - I'd still follow up with the mailing list / slack / meeting. Requests like this aren't often seen by other groups here in k/community.

[2022-10-16 19:46] dims commented on #6928
/close

[2022-10-16 19:46] #6928 closed

[2022-10-16 19:48] mrbobbytables commented on #6734
Closing this as the team was assembled 👍

/close

[2022-10-16 19:48] #6734 closed

[2022-10-16 20:01] dims commented on #6734
![avengers-assemble-gif-3](https://user-images.githubusercontent.com/23304/196055568-de9cb28b-254d-4bb0-974d-233e2a534133.gif)

[2022-10-17 12:54] pohly commented on #6899
I can help @aojea with SIG testing and @dgrisonnet  / @dashpole for SIG instrumentation - assuming that I can travel (COVID...).

[2022-10-17 23:45] enj commented on #6899
I will be there for SIG Auth but I might be late as I have a talk right before this slot.

[2022-10-18 17:09] jberkus commented on #6899
I will be there for SIG-Beard.

[2022-10-18 17:22] jberkus opened #6930 "Approve funding request for LWKD newsletter publishing"
### Describe the issue

[LWKD](http://lwkd.info/) is a publication of Contributor Comms.  The publication supports the kubernetes community by helping our large population of contributors keep up with changes to kubernetes/kubernetes, as well as being a news channel for announcements targeting contributors.

It gets published several ways: (1) Twitter (2) Discuss.Kubernetes.org (3) website (4) Dir

[2022-10-18 17:38] jberkus commented on #6930
/assign @nikhita

[2022-10-18 21:05] cblecker commented on #6930
+1 from me

[2022-10-19 06:10] caniszczyk commented on #6930
One option you can consider is https://www.getrevue.co which some LF
projects use (integrates with twitter which can be a pro/con)

Anyways, whatever you use we can happily cover it, this stuff isn't
widely pricey.

On Tue, Oct 18, 2022 at 7:22 PM Kubernetes Prow Robot <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-10-19 13:59] akshat5302 commented on #6517
Hi, @parispittman I would love to help you. Do let me know if you have any tasks for me

[2022-10-19 14:00] akshat5302 commented on #6517
/remove-lifecycle stale

[2022-10-19 14:00] akshat5302 commented on #6517
Hi, @parispittman I would love to help you. Do let me know if you have any tasks for me

[2022-10-19 16:01] swatisehgal commented on #6308
Sorry for the delay in respose. I somehow missed these messages and am following up now.
@upodroid We would be more than happy to donate the existing repo.

@mrbobbytables I have a [PR](https://github.com/kubernetes/kubernetes/pull/110252) open to bootstrap the repo and was planning to add the API definition as part of a follow up PR but donating the repo altogether shouldn't be a problem from our

[2022-10-19 17:25] ritazh commented on #6899
I'll be there for SIG Auth after the sig auth talk. Looking forward to meeting everyone!

[2022-10-19 22:12] markyjackson-taulia opened #6932 "[CONTRIBUTOR SUMMIT NA DETROIT UNCONF] Sign Up"
### Describe the issue

**Unconference: k-dev email / slack #contributor-summit suggestion:**

We're hosting an Unconference for the Contributor Summit this year in Detroit. We'd love to hear from you about topics in which you are interested. You can submit a topic, and upvote topics that seem interesting to you. We want to understand what is of general interest to the community, and not just for

[2022-10-19 22:13] markyjackson-taulia commented on #6932
/sig contributor-experience 
/area contributor-summit
/area na-summit
/assign markyjackson-taulia

[2022-10-19 22:58] RobertKielty commented on #6932
Topic : Launching Prow Plugins from Github Actions

Description:
I finished an initial proof-of-concept custom GitHub Action called pga that runs a subset of Prow Plugins.I would be happy to give a demo of it in action and describe why the work was undertaken, go over some implementation details, and what I think the next steps are from an implementation point of view.

I would like to discuss the

[2022-10-20 00:16] jberkus commented on #6930
@caniszczyk I talked to Kristi Tan, and she said CNCF doesn't yet have a newsletter service ya'll have settled on.  So the plan is to go with Buttondown until something supported by the organization comes along.

[2022-10-20 14:59] stmcginnis opened #6934 "Relative references break imported docs in https://www.kubernetes.dev/docs/comms/slack/"
### Describe the issue

When looking for information about Slack usage, one of the first search results leads to the official Kubernetes community docs published [here](https://www.kubernetes.dev/docs/comms/slack/).

This site [pulls together a lot of good information from other repos](https://github.com/kubernetes/contributor-site/blob/7921c0c51cc37cecd3481a6382c6327b4334d3f0/external-sources/kub

[2022-10-20 15:00] stmcginnis commented on #6934
/assign
/sig docs

[2022-10-20 23:27] seans3 commented on #6932
Topic: `kubectl apply/prune` direction

Description:

`kubectl apply/prune` has been alpha for many years, and it has some fundamental limitations. See:

https://docs.google.com/document/d/1y747qL3GYMDDYHR8SqJ-6iWjQEdCJwK_n0z_KHcwa3I/edit?usp=sharing

This discussion would cover the possible directions for this important functionality.

[2022-10-21 00:27] markyjackson-taulia opened #6939 "[SLACK-ADMIN] Remove Tanzu Community slack channel"
### Describe the issue

With regards to https://kubernetes.slack.com/archives/C02GY94A8KT/p1666310885302769, the following channel with be archived #tanzu-community-edition

area/slack-management
area/contributor-experience
/assign markyjackson-taulia

[2022-10-21 00:30] markyjackson-taulia commented on #6939
/sig contributor-experience

[2022-10-21 00:34] jdumars commented on #6939
Thank you for your help!

[2022-10-21 00:35] #6939 closed

[2022-10-21 22:08] craiglpeters commented on #6932
Topic: hurdles for new K8s contributors

Description:
What are the hurdles for new contributors to K8s, and how can we categorize and prioritize them? I am very interested in gathering the perspectives of both new and long-time K8s contributors. I worry that those of us who have been doing this too long don't remember what it was like to be new.

Moderator: happy to do it if it makes sense
cc: @ch

[2022-10-21 23:22] vinaykul commented on #6932
Topic: Extending kubemark for measuring CNI performance at large scale

Description: We have been working on a PoC that extends kubemark to run real CNI drivers and allocate IPs from them for cost-effective large scale testing. We [shared our idea with sig-scale](https://groups.google.com/g/kubernetes-sig-scale/c/rcnlFhE5FHQ) some time ago to ensure they have no concerns.

We have made some progre

[2022-10-22 22:33] thockin commented on #6932
Topic: Multi-cluster horror stories
Description: We all have those stories - whether they are our own or a friend 's or a customer's.  Let compare notes about what we are struggling with around multi-cluster and help set priorities.
Moderator: I can do it if nobody wants to

[2022-10-22 22:36] thockin commented on #6932
Topic: API battle scars

Description: Let's compare the places where we have found the kube API to be... problematic.  It's important that we all learn from each other's mistakes, so let's take apart some of the worst "seemed like a good idea at the time" situations.

Moderator: happy to lead it

[2022-10-23 01:10] bobbypage commented on #6932
Topic: Pod Lifecycle - the good, the bad, and the misunderstood

Description: Pod Lifecycle is critical to formalize and document so that k8s users can understand what is the expected behavior for the lifecycle of their pods. This is important for users building on top of kubernetes (such as external controllers), so they can understand what guarantees there are around various lifecycle steps as w

[2022-10-23 06:20] bobbypage commented on #6899
I can help with SIG-Node, looking forward to meeting everyone!

[2022-10-24 00:40] #6663 closed

[2022-10-24 13:42] atosatto commented on #6932
Topic: maintaining the quorum - running stateful workloads on Kubernetes

With the popularity of the Kubernetes project growing within the community, more and more end-users are starting to use it to run stateful workloads. While Kubernetes provide foundations to easily run these class of services orchestrating them poses unique operation challenges in order to maintain quorum and ensure no servic

[2022-10-30 03:17] nRookie opened #6949 "unit test failed on Ubuntu."
### Describe the issue

#### Environment

[code]

#### grpc_pro_test failed

When I run test as follow on my local ubuntu machine, the test cases failed.

[code]

I check the source code, and this code snippet makes no sense to me

[code]

since the errorNotServeServerMock Server will never respond to the client,
We will get an error as "context deadline exceeded" rather than "service unhealthy (r

[2022-10-30 03:21] nRookie commented on #6949
/help-wanted

[2022-10-30 03:22] nRookie commented on #6949
/sig/testing

[2022-10-30 03:23] nRookie commented on #6949
/sig testing

[2022-10-30 03:24] nRookie commented on #6949
/help-wanted

[2022-10-30 04:05] nRookie commented on #6949
the reason this test failed is that I'm behind a proxy, and did not add 0.0.0.0 in no_proxy.
[code]

After add 0.0.0.0 , the test passed.
[code]

[code]

[2022-10-30 04:05] #6949 closed

[2022-11-01 20:14] parispittman commented on #6932
thanks for organizing unconference team!

/close

[2022-11-01 20:14] #6932 closed

[2022-11-02 10:18] FillZpp opened #6954 "REQUEST: New Slack channel #koordinator"
### GitHub Username

@FillZpp

### Slack Username

@FillZpp

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

#koordinator

### Description of Request

Koordinator is a QoS based scheduling system for hybrid orchestration workloads on Kubernetes.
Website: https://koordinator.sh/

This channel would be a place for the community

[2022-11-02 15:58] henvic commented on #6915
Please consider adding `Not Applicable / prefer to use English` to the question "How satisfied are you with kubectl’s support for your language?".

[2022-11-02 18:23] jberkus commented on #6915
So this survey has one critical issue: we want to reach audiences that don't speak English as their primary language, which suggests that we need the survey itself to be available in all eight languages.  We do not have any specific infrastructure for translating surveys, and I'm not entirely certain what SurveyMonkey's support of multilingual surveys is.

I can investigate the technical support,

[2022-11-02 18:25] jberkus commented on #6657
/close

[2022-11-02 18:25] #6657 closed

[2022-11-02 18:28] jberkus commented on #6915
Surveymonkey supports multilingual surveys, so we just need the translations.

[2022-11-02 18:44] jberkus commented on #6915
Our SurveyMonkey account does **_not_** support multilingual surveys.  It's unlikely that the CNCF wants to upgrade, so let's discuss this on Slack.

[2022-11-03 03:27] BenTheElder commented on #6699
/remove-lifecycle rotten

[2022-11-03 13:26] mrbobbytables commented on #6699
Sorry, this dropped off my radar. I'll provision it now

[2022-11-03 13:31] mrbobbytables commented on #6699
Invites have been sent to the emails associated with the sig cli leads list. LMK if they should go elsewhere.

[2022-11-03 14:02] BenTheElder commented on #6699
@mrbobbytables Is 1password management something we should delegate to a team like GitHub admins, or something we should kick up to steering? I know you've had a lot between steering and understaffed contribex.

[2022-11-03 14:04] mrbobbytables commented on #6699
steering owns the root account(s) as a breakglass emergecy type thing, but it should be owned by a team similar to GitHub admins, but not necessarily the same group.

[2022-11-03 14:40] eddiezane commented on #6699
No worries - thanks Bob! I accepted the invite but don't seem to be able to create a shared sig cli vault.

[2022-11-03 14:49] mrbobbytables commented on #6699
You should be able to now, after you accept an admin has to confirm your invitation and add you to groups

[2022-11-03 16:14] BenTheElder commented on #6699
+1, didn't mean the same group, but it sounds like we should consider spinning up a group in a similar pattern.

[2022-11-04 08:37] palnabarun commented on #6529
/remove-lifecycle stale

/lifecycle frozen

[2022-11-04 13:23] cablunar opened #6957 "Template examples for MachineHealthCheck missing"
### Describe the issue

The cluster-api-provider-aws should accomodate self healing kubeadmcontrolplane template examples, in the tempaltes folder.

Proposing to add the following code to `cluster-template-machinepool.yaml`, this enables kubeadmcontrolplanes to heal itself if an instance is taken down or otherwise unhealthy.
This is crutual information for at least production scenarios, where a cl

[2022-11-04 13:26] cablunar commented on #6957
/sig cluster-lifecycle

[2022-11-04 13:33] #6957 closed

[2022-11-05 03:50] mkumatag opened #6959 "REQUEST: New Slack channel #ppc64le"
### GitHub Username

@mkumatag

### Slack Username

@mkumatag

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Channel

### Name of Requested Resource

ppc64le

### Description of Request

Need a slack channel for discussion around the ppc64le arch/platform for Kubernetes.

[2022-11-05 14:05] benzaidfoued commented on #6899
I'd like to volunteer for wg-multitenancy and sig cluster-api

[2022-11-05 14:09] mrbobbytables commented on #6899
The event was last week^^;; going to go ahead and close this out. Thanks everyone!

/close

[2022-11-05 14:09] #6899 closed

[2022-11-06 02:16] #6959 closed

[2022-11-09 19:47] jeremyrickard commented on #6916
I think this is completed. Going to close it out now.

/close

[2022-11-09 19:47] #6916 closed

[2022-11-11 12:37] chalin opened #6965 "Migrate discuss.kubernetes.io to Google Analytics 4 (GA4)"
### Describe the issue

This issue is part of a CNCF-wide effort to upgrade project websites to GA4 since **Google has deprecated Universal Analytics** (UA). For more details, see:

- https://github.com/cncf/techdocs/issues/108, including reference to a suggested [migration process](https://github.com/cncf/techdocs/blob/main/docs/analytics.md#migrating-to-google-analytics-4), which we've used to [

[2022-11-11 12:39] chalin commented on #6965
@jimangel @jberkus @a-mccarthy or anyone else - can you perform the "Configure Discourse server to use the GA4 ID" task listed in the opening comment and confirm once it is done?

[2022-11-11 13:15] chalin commented on #6965
/sig contributor-experience

[2022-11-14 07:36] vaibhav2107 commented on #6308
/remove-lifecycle stale

[2022-11-14 07:36] vaibhav2107 commented on #6394
/remove-lifecycle stale

[2022-11-14 07:38] vaibhav2107 commented on #5913
/remove-lifecycle stale