[2021-09-20 22:45] spiffxp commented on #6036
/committee steering
FYI, not a thing I expect steering needs to handle, but just so they're aware

[2021-09-20 23:39] spiffxp commented on #6036
Renaming the kubernetes-wg-k8s-infra@googlegroups.com mailing list:
- [x] send notice: https://groups.google.com/g/kubernetes-dev/c/c0P08_9IXAU/m/qO-afjMvCQAJ
- [ ] update calendar invite for bi-weekly meeting
- [ ] update meeting doc permissions

[2021-09-20 23:40] spiffxp commented on #6036
Renaming the wg-k8s-infra-leads@kubernetes.io group:
- [x] Ensure the shared calendar is shared with the new list
- [ ] Ensure the zoom account uses the new e-mail
- [ ] Ensure doc permissions are updated appropriately

[2021-09-21 02:27] Debanitrkl commented on #6026
/close

[2021-09-21 02:27] #6026 closed

[2021-09-21 13:41] mrbobbytables commented on #5636
I think the current docs are good enough.

For what its worth  re:organizing people to migrate we were tossing an idea around to make it a community wide activity as part of the EoY contributor celebration. It'd be after the last release is cut and during the lull between releases. I do kinda like the idea of opening up issues in the repos ahead of time and assign to repo admins - give folks a lit

[2021-09-21 15:10] jeremyrickard commented on #5235
We will try and address this during 1.23

[2021-09-21 18:14] ehashman commented on #5234
I don't think so...

/reopen
/remove-lifecycle rotten

[2021-09-21 18:21] ehashman commented on #5435
lol bot

/remove-kind support
/reopen

[2021-09-21 18:26] ehashman commented on #5535
/remove-lifecycle stale

This is still (painfully) relevant.

[2021-09-21 18:27] ehashman commented on #5859
@unnati914: @SergeyKanzhelev should currently be working on this, please reach out to him.

/assign @SergeyKanzhelev

[2021-09-21 19:14] mrbobbytables commented on #5535
Sorry just saw this, it's no longer being maintained and doesn't work quite right these days :(

[2021-09-21 20:42] spiffxp commented on #6036
Job configs, testgrid dashboards and tests are all kind of intermingled.  It seemed easier to do them in a single PR: https://github.com/kubernetes/test-infra/pull/23694

[2021-09-22 02:47] Debanitrkl opened #6039 "Retiring WG Component Standard"
In a recent [mail](https://groups.google.com/g/kubernetes-dev/c/_IN6H0m_QHk/m/566t3cVpCQAJ) to the k-dev mailing list it was mentioned that WG component standard should be dissolved as they were unable to find replacement chairs also the WG hasn't had meetings after [July 07, 2020](https://docs.google.com/document/d/18TsodX0fqQgViQ7HHUTAhiAwkf6bNhPXH4vNVTI7GwI/edit#heading=h.ka0dnu2ck8gf).
This is

[2021-09-22 02:52] Debanitrkl commented on #6039
/wg component-standard
cc @stealthybox @mtaufen

[2021-09-22 07:51] bronger opened #6041 "API conventions: HTTP PUT can really create?"
On https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#verbs-on-resources, it says:

Is the “or create” really true? FWIW, I get 404 errors PUT’ting a resource that does not exist yet.

/sig architecture

[2021-09-22 07:56] bronger commented on #6041
/sig architecture

[2021-09-22 09:25] CIPHERTron opened #6042 "REQUEST: New moderator for CIPHERTron of YouTube and Zoom"
### GitHub Username
@CIPHERTron

### Property you'd like to Moderate
YouTube Channel, Zoom

### Username on Property Requested
pritish.samal918@gmail.com

### Requirements

- [x] I am a Kubernetes Org member already
- [X] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [X] I have read and will abide by the policies mentioned in the [Moderation Guidelin

[2021-09-22 14:03] spiffxp commented on #5671
/remove-lifecycle stale

[2021-09-22 14:49] bhumijgupta opened #6043 "REQUEST: New moderator for bhumijgupta of Youtube"
### GitHub Username
@bhumijgupta

### Property you'd like to Moderate
Youtube Channel

### Username on Property Requested
bhumijgupta@gmail.com

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https:

[2021-09-22 17:49] marosset opened #6045 "Promote Claudiu Belu to SIG-Windows tech lead"
Instructions from https://github.com/kubernetes/community/blob/master/contributors/chairs-and-techleads/leadership-changes.md

@ddebroy is stepping down as techlead for SIG Windows and @claudiubelu is being promoted the  techlead for SIG Windows

 /cc @jayunit100 @jsturtevant

This was discussed May 4th, 2021 SIG-Windows community meeting.
https://groups.google.com/g/kubernetes-sig-windows/c/FCkIz

[2021-09-22 17:49] marosset commented on #6045
/sig windows
/assign

[2021-09-22 18:03] jsturtevant commented on #6045
Thanks for all the contributions to the sig @ddebroy!  Congrats to @claudiubelu 🎉

[2021-09-22 20:05] sandipanpanda opened #6047 "REQUEST: New moderator for sandipanpanda of YouTube and Zoom"
### GitHub Username
@sandipanpanda

### Property you'd like to Moderate
YouTube channel and Zoom

### Username on Property Requested
samparksandipan@gmail.com

### Requirements

- [ ] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Moderation Gui

[2021-09-23 08:07] CIPHERTron commented on #5671
I would love to take up this issue @spiffxp provided no one else is working on it. 😄

[2021-09-23 12:41] scoof opened #6050 "[SIG-SCALABILITY] API latency SLIs/SLOs should exclude proxy requests"
https://github.com/kubernetes/community/blob/c07e3ce87dca23d885cb7cf61b2ae37b95554a1e/sig-scalability/slos/api_call_latency.md describes SLI/SLO thresholds for the API-server, but does not exclude proxy requests from latency parameters. I believe it should exclude `subresource=proxy` from the latency calculations, since the apiserver cannot influence the latency of these calls.

[2021-09-23 12:42] scoof commented on #6050
/sig SIG-SCALABILITY

[2021-09-23 12:42] scoof commented on #6050
/sig scalability

[2021-09-23 15:43] AvineshTripathi commented on #5425
@spiffxp can we have a program running that compares both the .yaml file at a periodic interval and and see for missing labels in the label.md file and if the condition satisfy we can can do the needful change

[2021-09-24 03:26] mkumatag opened #6053 "REQUEST: New Slack channel cluster-api-ibmcloud"
**GitHub Username:**
mkumatag

**Slack Username:**
mkumatag

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Channel

**Name of Requested Resource:**
cluster-api-ibmcloud

**Description of Request:**
This request is for creating a new channel for the project https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud

[2021-09-24 07:02] MadhavJivrajani opened #6055 "[Tracking Issue] Permanant Archival of Design Proposals"
Hi folks, this issue is meant to serve as a tracking issue for the various action items involved leading to moving out design proposals from this repository and subsequently, permanently archiving them.

As a follow up to https://github.com/kubernetes/community/issues/2565, after discussing with sig-arch, this issue is meant for different SIGs to decide upon which [design proposals](https://github

[2021-09-24 07:04] MadhavJivrajani commented on #6055
/sig architecture

[2021-09-24 07:06] MadhavJivrajani commented on #2565
@mrbobbytables fyi - https://github.com/kubernetes/community/issues/6055
created a tracking issue for this after discussing it with sig-arch in yesterday's meeting

[2021-09-24 13:41] #6053 closed

[2021-09-24 14:30] spiffxp commented on #6036
I've opened https://github.com/kubernetes/k8s.io/issues/2780 as a followup issue to rename the account used for the groups reconciler. It's not public-facing so I'm less concerned with waiting on that before calling this done

[2021-09-24 14:35] spiffxp commented on #6036
/close
OK, I believe everything that can or should be renamed has been renamed.  Thanks for the help @ameukam @tehcyx @mrbobbytables

[2021-09-24 20:53] #6024 closed

[2021-09-24 20:57] #6033 closed

[2021-09-25 01:10] mtaufen commented on #6039
Should we try to get the youtube videos all transferred to the [official Kubernetes account](https://www.youtube.com/c/KubernetesCommunity)? They're currently mostly in a [separate account](https://www.youtube.com/channel/UCx2prWFkMAY4fkRdf62vG_Q/videos) (we were still doing manual uploads), with some very old ones still hosted by @luxas's personal youtube account.

Playlist: https://www.youtube.c

[2021-09-25 01:51] Debanitrkl commented on #6039
Yes they should be posted in kubernetes channel.

[2021-09-25 01:55] mtaufen commented on #6039
Great, how can we get them transferred?

[2021-09-25 02:13] Debanitrkl commented on #6039
Let me get help from YouTube mods.

[2021-09-26 13:33] ossparvinder commented on #6041
Can you please provide an example? According to [RFC2616](https://datatracker.ietf.org/doc/html/rfc2616#section-9.6), you should be able to create a resource using PUT only if you have required privileges.

I assume that also means, user is allowed to assign a unique identifier which is required to create a resource when making a PUT request.

[2021-09-26 19:16] bronger commented on #6041
I observe this with secrets in Kubernetes 1.21. Being a cluster admin, I cannot place a PUT request on /api/v1/namespaces/default/secrets/certificate-12345 if a secret called “certificate-12345” does not exist. Instead, I have to POST to /api/v1/namespaces/default/secrets. However, if a secret with that name does exist, PUT works.

[2021-09-26 19:17] bronger commented on #6041
The error data is:

    kind: Status
    apiVersion: v1
    metadata: {}
    status: Failure
    message: secrets "certificate-12345" not found
    reason: NotFound
    details:
      name: certificate-12345
      kind: secrets
    code: 404

[2021-09-27 00:36] ossparvinder commented on #6041
Thank you, it seems the [API ](https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/secret-v1/#update-replace-the-specified-secret) first tries to find the secret which it expects to exists and is returning 404.

I'm also new to kubernetes codebase hence, cannot find exact code to confirm but it seems the implementation and documentation (API conventions) are not in syn

[2021-09-27 00:51] coderanger commented on #6041
SIG-Architecture would be group to ask for an official ruling but I suspect the short-term answer might be something like "no core types use PUT for creation however this can be allowed for aggregated APIs as they see fit".

[2021-09-27 15:27] ossparvinder opened #6066 "Code Organization - to help new contributors"
Hello,

First of all, I want to say we have good documentation on many subjects (and are being updated as gaps are identified).

One thing that I did not find yet, is how such a large code base is organized? So when you look at issues like #6041 or something else you don't know where to start?

It might be helpful to document (if it doesn't exists) to say:

Kubernetes code is organized in followin

[2021-09-27 15:30] parispittman opened #6067 "YouTube docs - update with info on transferring videos"
when a sig or wg disbands, the playlist link gets deactivated but there is a chance we lose the videos that were on someones person account. we need to download the videos from there, re-upload them to the k8s account, etc. there are some tools that we can use but we need to document this process so that the new admins coming on board know for future.

[2021-09-27 15:30] parispittman commented on #6067
/sig contributor-experience
/area community-management

[2021-09-27 15:30] ossparvinder commented on #6066
sig/contributor-experience
sig/docs
sig/architecture

[2021-09-27 15:31] parispittman commented on #6067
https://kubernetes.slack.com/archives/C1TU9EB9S/p1632732488248100

[2021-09-27 15:34] ossparvinder commented on #6066
/sig docs

[2021-09-27 15:34] ossparvinder commented on #6066
/sig architecture

[2021-09-27 15:41] castrojo commented on #6039
There's no way to transfer videos unfortunately, however we can youtube-dl the playlist and reupload it to the main account, which isn't as bad as it sounds, is the playlist complete or do you have anything else to add to it?

[2021-09-27 16:34] alisondy opened #6068 "Make sure Slack meetings are documented in SIG Readmes"
Some of the slack meetings aren't documented in SIG Readmes

For example:
https://github.com/kubernetes/community/tree/master/sig-contributor-experience#meetings

We need to check that all meetings are documented so folks are going to the right places

TODO

- [ ] Send out message to mailing list to remind people
- [ ] Update contribex readme

[2021-09-27 16:51] alisondy commented on #6068
/sig contributor-experience

[2021-09-27 16:56] mtaufen commented on #6039
The playlist should be complete.

[2021-09-27 17:03] #5641 closed

[2021-09-27 17:16] Debanitrkl commented on #6067
/cc  @castrojo

[2021-09-27 18:07] Debanitrkl commented on #6066
There are New contributors workshop organized time and again like here for code walk-through https://www.youtube.com/watch?v=XeHlZuF3BhU.
Also there is an umbrella issue regarding this https://github.com/kubernetes/community/issues/4549

[2021-09-27 18:11] Debanitrkl commented on #6066
Also if you need to search for any term in kubernetes repository for that we have https://cs.k8s.io/ so these all things are already taken care of for any other queries regarding k8s please join our slack channel
/close

[2021-09-27 18:11] #6066 closed

[2021-09-27 20:35] wgahnagl commented on #5535
https://github.com/googleapis/repo-automation-bots could we use something like this, perhaps ? :eyes:

[2021-09-28 14:23] Debanitrkl commented on #6039
@mtaufen could you please delete the wg calendar if that stll exists because as an owner you could do that

[2021-09-28 15:15] castrojo commented on #6039
Ok all set: https://www.youtube.com/playlist?list=PL69nYSiGNLP2-UwxeTIxb_QRXTk7nJg0h

However the descriptions are empty, can one of you provide a generic description? I can then bulk edit the videos with it, ideally if there's a place you want people to end up or links to a resource that might be useful for them is probably best.

[2021-09-28 16:16] Debanitrkl commented on #6039
@castrojo it's loading like this when I click on the link
![Screenshot_20210928-214552](https://user-images.githubusercontent.com/50622005/135125809-98c50df4-5ac8-47d0-8f91-5d6c331e8982.png)

[2021-09-28 16:17] Debanitrkl commented on #6039
@mtaufen could you please help with the video description that @castrojo is asking above

[2021-09-28 16:30] onlydole opened #6072 "REQUEST: New moderator for onlydole of YouTube"
### GitHub Username
@onlydole

### Property you'd like to Moderate
Kubernetes YouTube Channel

### Username on Property Requested
onlydole@gmail.com

### Requirements

- [X] I am a Kubernetes Org member already
- [X] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [X] I have read and will abide by the policies mentioned in the [Moderation Guidelines](h

[2021-09-28 16:37] mtaufen commented on #6039
Sure, let's just use the WG description:

[code]

[2021-09-28 16:38] mtaufen commented on #6039
The calendar invites should already be deleted, let me know if you see otherwise and I can try to debug.

[2021-09-28 16:40] Debanitrkl commented on #6039
No it's not showing to me either so it's already deleted 👍

[2021-09-28 16:51] parispittman commented on #6039
mailing list has now been archived; only group managers can post and edit things with the group. documenting here that contributors@ has access to make any other changes needed.

[2021-09-28 17:07] cblecker commented on #5512
/remove-lifecycle rotten

[2021-09-28 22:13] immuzz commented on #6011
SIG Windows - @immuzz

[2021-09-28 22:41] brasmith-ms commented on #6011
SIG Windows - @brasmith-ms

[2021-09-29 02:22] justaugustus opened #6074 "Steering Committee Nomination: Stephen Augustus (@justaugustus)"
Hi Kubernetes Community,

I am self-nominating for the upcoming Steering Committee election.
I've had the opportunity to learn from this wonderful community as a part of my day-to-day work (and play) across the last few years and I'd be honored to serve you all in this capacity!

Best,
Stephen

[2021-09-29 02:27] justaugustus commented on #6074
/committee steering

[2021-09-29 02:29] markyjackson-taulia commented on #6074
I whole heartedly +1 this

[2021-09-29 02:30] jeremyrickard commented on #6074
+1 from me!

[2021-09-29 02:43] reylejano commented on #6074
+1 from me, I'm one of many who have learned a lot from Stephen

[2021-09-29 03:11] jimangel commented on #6074
+1 @justaugustus has demonstrated, year after year, model community leadership and would be a great fit for the steering committee.

[2021-09-29 03:21] tabbysable commented on #6074
+1 Stephen is a brilliant, caring, and thoughtful leader. The community stewardship he has demonstrated in SIG Release will be even more valuable on the Steering Committee.

[2021-09-29 04:01] danpopSD commented on #6074
There is NO ONE more deserving of this role.  This man has demonstrated leadership in every aspect of Kubernetes and his time is now.

[2021-09-29 04:41] IanColdwater commented on #6074
Strong +1! Stephen would be an amazing addition to the Steering Committee. The project would be lucky to have him.

[2021-09-29 05:25] youngnick commented on #6074
+1 from me as well. Stephen's gracious, caring, and diligent leadership would serve the project well, I think.

[2021-09-29 05:34] MadhavJivrajani commented on #5929
/unassign @agryash

[2021-09-29 05:37] AvineshTripathi commented on #5929
/assign

[2021-09-29 06:16] mcbenjemaa commented on #6074
+1 @justaugustus is potentially a great fit and he really deserve it.

[2021-09-29 06:21] puerco commented on #6074
+1E10 ! Stephen is a true cornerstone of this community, not only holding it together but also ensuring a path for contributors to join, grow and become the best they (we) can be. Long overdue.

[2021-09-29 07:30] shivanshu1333 opened #6075 "Modify structured logging migration guide"
Enhance the guideline present in [migration-to-structured-logging](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md) to incorporate migration of existing logs containing periods.

[2021-09-29 07:32] shivanshu1333 commented on #6075
/sig instrumentation
/wg structured-logging
/triage accepted
/kind enhancement

[2021-09-29 08:54] cpanato commented on #6072
+1
thanks for working on this!

[2021-09-29 08:57] cpanato commented on #6074
huge +1 I think Stephen has all the skills and leadership to be part of the Steering Committee

[2021-09-29 09:36] Debanitrkl commented on #6039
The YouTube videos are in here https://youtube.com/playlist?list=PL69nYSiGNLP33s-PULNo9F_23b9X2_8GF and with this all the tasks regarding retiring of wg component standard is completed. Thank you @mtaufen and all the contributors who have contributed to this wg. I guess we can now close this issue

[2021-09-29 10:01] Debanitrkl opened #6079 "Broken links on Zoom-guidelines"
While going through the [zoom-guildelines](https://github.com/kubernetes/community/blob/master/communication/zoom-guidelines.md), I found a broken link on `line 12` , which should indicate to [Meet Our Contributors](https://github.com/kubernetes/community/blob/master/mentoring/programs/meet-our-contributors.md).

For `good-first-issue`:
To solve this we need to update the link on `line 220` of [zo

[2021-09-29 10:03] marseel commented on #6011
Unfortunately I won't be attending in person as well (travel ban) so I won't be able to represent SIG Scalability for Meet & Greet.

[2021-09-29 10:28] PurneswarPrasad commented on #6079
/assign

[2021-09-29 10:58] afirth commented on #6074
+1

[2021-09-29 11:24] ncdc commented on #6074
+1 - thanks for everything you do for this community!

[2021-09-29 12:53] xing-yang commented on #6074
+1 for Stephen!

[2021-09-29 13:19] MoShitrit commented on #6074
Easiest +1 EVERRR. @justaugustus is a true inspiration!

[2021-09-29 14:21] parispittman commented on #6039
confirming zoom has been deactivated

[2021-09-29 15:56] spiffxp commented on #5671
Looks like @nckturner is taking this on
/assign @nckturner

[2021-09-29 16:11] monadic commented on #6074
+1

[2021-09-29 16:21] jberkus opened #6082 "Update devstats query for SC elections"
The old Devstats query for steering elections counts email addresses, which results in problems like this one: #6077

Update the query so that it pulls unique github IDs.

/sig contributor-experience
/committee steering
/assign

attn: @coderanger @lukaszgryglicki

[2021-09-29 16:25] jberkus opened #6083 "Request /area/elections label for this repo"
In addition to the annual Steering election, starting in 2022 we will have the ability to host all kinds of internal community elections on K8s infrastructure.  As such, it would be helpful to have an /area/elections label to easily track Issues and PRs against k/community.

/sig contributor-experience

[2021-09-29 16:41] MadhavJivrajani commented on #6083
/cc

[2021-09-29 17:15] mkorbi commented on #6074
+1 🚀

[2021-09-29 17:43] jberkus opened #6084 "Proposed: create Elections subproject of SIG-contribex"
Per @parispittman proposal during SIG-Contribex meeting today:

## New Subproject: Elections, SIG-Contribex

The elections subproject would own:

* Recruiting and proposing the Election Committee for the annual Steering elections
* Supporting SIGs and committees in using elections.k8s.io to run other elections for their group (starting in 2022)
* The elections.k8s.io app, shared with SIG-Infra, in

[2021-09-29 18:36] spiffxp commented on #5800
/close
There are not

[2021-09-29 18:36] spiffxp commented on #5800
/milestone v1.23

[2021-09-29 18:37] #5800 closed

[2021-09-29 20:04] qedrakmar commented on #6074
+1

[2021-09-29 21:14] deads2k opened #6086 "Steering Committee Nomination: David Eads (@deads2k)"
Hi everyone,

I am self-nominating for the upcoming Steering Committee election.

I've worked on Kubernetes in a technical capacity since before 1.0, focusing primarily on sig-auth and sig-apimachinery.  I'd be glad to serve on the steering committee.

[2021-09-29 21:15] deads2k commented on #6086
/committee steering

[2021-09-29 21:18] jackkleeman commented on #6086
+1 @deads2k helped me get going in this community ❤️

[2021-09-29 21:18] droslean commented on #6086
+1 :)

[2021-09-29 21:22] bertinatto commented on #6086
+1

[2021-09-29 21:28] lavalamp commented on #6086
+1!

[2021-09-29 21:28] kwiesmueller commented on #6086
+1

[2021-09-29 21:32] seans3 commented on #6086
+1

[2021-09-29 21:34] xing-yang commented on #6086
+1

[2021-09-29 21:51] parispittman opened #6087 "Steering Committee Nomination: Paris Pittman (@parispittman)"
I'd like to self nominate for the 2021 Steering Committee election. ✨

Serving the upstream Kubernetes community in various roles, including the last two years on the Steering Committee, has been my greatest honor and pleasure. I'd love to continue to represent you all in what would be my last and final two year term. More soon on my bio.

/committee steering

[2021-09-29 21:57] natalisucks commented on #6086
+1!

[2021-09-29 22:08] lavalamp commented on #6087
+1

[2021-09-29 22:08] natalisucks commented on #6087
Huge +1, I consider Paris a mentor and someone I continually learn from as I contribute to this awesome community

[2021-09-29 22:11] IanColdwater commented on #6087
+1! Paris has been awesome on Steering and I'd love to see her continue to be. 💖

[2021-09-29 22:18] monadic commented on #6087
+1

[2021-09-29 22:18] jeremyrickard commented on #6087
I am very happy to +1 this nomination!

[2021-09-29 22:23] xing-yang commented on #6087
+1 for Paris!

[2021-09-29 22:25] markyjackson-taulia commented on #6087
Love Love Love @paris and am sooo sooo sooo happy to +1 this

[2021-09-29 22:36] jimangel commented on #6087
+1 to the great work Paris has done, and plans to do, in steering!

[2021-09-29 22:40] #5671 closed

[2021-09-29 22:44] alvaroaleman commented on #6086
+1

[2021-09-29 22:52] ALRubinger commented on #6087
💯

I work more with Paris at Apple than I do within k8s. What I know of her: her dedication to this project and its people, her deep expertise in managing difficult issues at global scale, and her commitment to lifting up others. Her work here isn't done.

[2021-09-29 23:02] christopherhein commented on #6087
+1

[2021-09-29 23:09] parispittman opened #6088 "curate a lead moderator role"
we have several platforms (mailing list, slack, etc) that are all moderated and/or administered in some way with a different set of moderators (some that overlap) for each. between sig-contribex chairs, myself, and other active leads on certain platforms, we all play a part in what could be a carved out role for a moderation lead.

this person would help with:
- training and onboarding all new mem

[2021-09-29 23:10] parispittman commented on #6088
lol dang that hyphen

/sig contributor-experience

[2021-09-29 23:13] caesarxuchao commented on #6086
+1!

[2021-09-29 23:17] jailton commented on #6087
+1

[2021-09-29 23:18] jailton commented on #6074
+1

[2021-09-29 23:19] petr-muller commented on #6086
+1

[2021-09-29 23:31] thecrudge commented on #6087
+1

[2021-09-29 23:32] thecrudge commented on #6074
+1

[2021-09-29 23:33] justaugustus commented on #6087
Paris has been an absolutely pivotal leader in this community for years and has thoughtfully served us recently as both a Steering member and CNCF Governing Board rep.

I enthusiastically support Paris for re-election!

[2021-09-29 23:34] lachie83 opened #6089 "Steering Committee Nomination: Lachlan Evenson (@lachie83)"
Hi Kubernetes community - I would like to self nominate for the 2021 Steering Committee election.

I have been a long time member of the community and have served in many different capacities including a 6 month term on the Steering committee. I would like to return to the steering committee and have the opportunity to serve the community for a full term to continue helping meet the needs of the K

[2021-09-29 23:34] lachie83 commented on #6089
/committee steering

[2021-09-29 23:39] federicobucchi commented on #6087
**+1**

[2021-09-29 23:48] mtaufen commented on #6086
+1

[2021-09-29 23:48] mtaufen commented on #6087
+infinity

[2021-09-30 00:00] tabbysable commented on #6087
+1
Paris has been an exemplary leader, not only for Kubernetes, but for open source as a whole. Kubernetes would be lucky to have her leadership for another term.

[2021-09-30 00:01] lachie83 commented on #6087
+1

[2021-09-30 00:07] cblecker opened #6090 "Steering Committee Nomination: Christoph Blecker (@cblecker)"
Hello everyone!
I'd like to self-nominate for the 2021 Kubernetes Steering Committee election.

It has been a pleasure and honour serving the community for the last 2 years on the steering committee, and I would love to continue to represent you all through one final term.

/committee steering

[2021-09-30 00:16] #6083 closed

[2021-09-30 00:20] jeremyrickard opened #6091 "Steering Committee Nomination: Jeremy Rickard (@jeremyrickard)"
Hello everyone,

I would like to self-nominate myself for the upcoming 2021 Steering Committee election!

I have been involved with SIG Release continuously since the 1.17 Release Team and most recently as the lead for the 1.20 release and as a tech lead for SIG Release. I have recently begun participating in SIG CLI meetings and projects, and previously was a member of the [Service Catalog](https

[2021-09-30 00:22] MoShitrit commented on #6087
+1

[2021-09-30 00:30] frapposelli commented on #6087
+1

Paris is amazing 💯

[2021-09-30 00:31] MoShitrit commented on #6091
+1

[2021-09-30 00:35] IanColdwater opened #6092 "Steering Committee Nomination: Ian Coldwater (@IanColdwater)"
Hi friends! I would like to nominate myself for the 2021 Steering Committee election.

It's been an honor to get to serve the community as SIG Security Co-Chair, and I would love to have the opportunity to get to serve the community in this role too. ☺️

Thank you very much!

/committee steering

[2021-09-30 00:39] youngnick commented on #6092
+1

So excited to see you nominate, @IanColdwater!

[2021-09-30 00:41] logankilpatrick commented on #6087
Thanks for all you do @parispittman, your community work is an inspiration!

[2021-09-30 00:42] tabbysable commented on #6092
In the time that I've spent co-leading SIG Security with Ian, I've been continually astounded by their skill at bringing together a community and making it a space where contributors can lift each other up - as engineers, leaders, and human beings. Adding that energy to the Steering Committee would be transformational for Kubernetes.

My biggest +1

[2021-09-30 00:43] markyjackson-taulia commented on #6091
+1 to a very fine human!

[2021-09-30 00:46] youngnick commented on #6089
+1

Strewth, you can't go past having a bottler like Lachie on the steering committee again.

[2021-09-30 00:47] youngnick commented on #6087
+1

[2021-09-30 00:51] guineveresaenger commented on #6087
So much love here - Paris has mentored me into this community and I couldn't think of anyone better to continue playing a part in running it!

+1

[2021-09-30 00:53] youngnick commented on #6091
+1

[2021-09-30 01:19] jeremyrickard commented on #6072
+1 from me!

/lgtm

/honk

[2021-09-30 01:32] LalatenduMohanty commented on #6086
+1

[2021-09-30 01:40] Damans227 commented on #6091
+1

[2021-09-30 01:53] chris-short commented on #6092
+1 x 💯

[2021-09-30 01:55] jeremyrickard commented on #6089
I am happy to +1 this nomination ❤️

[2021-09-30 01:58] wilsonehusin commented on #6074
+1 🎸

[2021-09-30 01:59] wilsonehusin commented on #6091
+1 👨🏼‍🎤

[2021-09-30 02:05] puerco commented on #6091
+1000 for Jeremy, a constant contributor, helper on many fronts and, proven leader!

[2021-09-30 02:08] puerco commented on #6087
+1 what would this community look like without Paris?

[2021-09-30 02:14] puerco commented on #6089
+1 happy to see Lachie on the ballot again :koala:

[2021-09-30 02:24] gkarthiks commented on #6087
+1

[2021-09-30 02:25] gkarthiks commented on #6092
+1

[2021-09-30 02:25] lachie83 commented on #6091
+1

[2021-09-30 02:31] EmilyM1 commented on #6087
+1

[2021-09-30 02:35] mmenbawy commented on #6074
+1

[2021-09-30 02:45] supriya-premkumar commented on #6087
+1

[2021-09-30 02:58] Debanitrkl commented on #6087
+1 Paris is an amazing mentor

[2021-09-30 03:35] yangjunmyfm192085 commented on #6090
+1

[2021-09-30 03:39] 249043822 commented on #6086
+1

[2021-09-30 03:40] yangjunmyfm192085 commented on #6086
+1

[2021-09-30 03:41] 249043822 commented on #6090
+1

[2021-09-30 03:48] thockin commented on #6089
+1

[2021-09-30 04:12] markyjackson-taulia commented on #6089
+1
![image](https://user-images.githubusercontent.com/16655670/135385909-c3709618-615d-44c3-927c-4200c20693c1.png)

[2021-09-30 04:23] mkumatag commented on #6086
+1

[2021-09-30 04:27] saiyam1814 opened #6093 "Steering Committee Nomination: Saiyam Pathak (@saiyam1814)"
Hello everyone!
I would like to self nominate for the 2021 Steering Committee election.
I have been part of the Kubernetes community in different ways for many years now- first as an end-user trying to understand how K8s worked. Today, I spend much of my time welcoming and educating new users to the k8s and cloud native community.
I've also been a heavy Kubernetes user for many years at different

[2021-09-30 04:35] karthequian commented on #6093
+1 this nomination!!

[2021-09-30 05:04] mehabhalodiya commented on #6091
+1

[2021-09-30 05:05] mehabhalodiya commented on #6093
+1

[2021-09-30 05:13] mcbenjemaa commented on #6090
+1 for sure.

[2021-09-30 05:14] kunal-kushwaha commented on #6093
+1

[2021-09-30 05:23] shuklaritvik06 commented on #6093
+1 :)

[2021-09-30 05:43] seljmov commented on #6092
+1

[2021-09-30 05:49] RinkiyaKeDad commented on #6087
+1 Paris is awesome!

[2021-09-30 05:51] RinkiyaKeDad commented on #6091
+1

[2021-09-30 06:22] droslean commented on #6089
+1

[2021-09-30 06:23] droslean commented on #6091
+1

[2021-09-30 07:19] divya-mohan0209 commented on #6091
+10000 Thank you Jeremy for all that you do ❤️

[2021-09-30 07:20] divya-mohan0209 commented on #6092
+1000000000000 for Ian 💜

[2021-09-30 07:21] divya-mohan0209 commented on #6074
+1 for Stephen ✨

[2021-09-30 07:23] divya-mohan0209 commented on #6087
+1 Paris has been an amazing (and extremely patient) mentor figure! Thank you so much for all that you do and have done so far 💜

[2021-09-30 07:32] wojtek-t commented on #6086
+1

[2021-09-30 07:39] radu-matei commented on #6091
+1, Jeremy is an awesome engineer and human being!

[2021-09-30 08:01] cynepco3hahue commented on #6086
+1

[2021-09-30 08:01] cpanato commented on #6089
+1 yayy!!

[2021-09-30 08:01] cpanato commented on #6092
+1 <3

[2021-09-30 08:02] cpanato commented on #6091
+1 thanks for all Jeremy!

[2021-09-30 08:02] cpanato commented on #6090
+1 :D

[2021-09-30 08:03] cpanato commented on #6087
+1 thanks Paris!!

[2021-09-30 08:03] cpanato commented on #6086
+1

[2021-09-30 08:41] petr-muller commented on #6090
+1

[2021-09-30 09:44] dbaker-rh commented on #6086
+1

[2021-09-30 10:19] Atharva-Shinde commented on #6087
+1 she's amazing ❤️

[2021-09-30 10:27] abhibhaw commented on #6093
+1

[2021-09-30 10:41] PurneswarPrasad commented on #6093
+1

[2021-09-30 10:45] savitharaghunathan commented on #6092
Ian brings the community together and strives towards creating a safe space for everyone! My heartiest +1 to Ian ❤️
/honk

[2021-09-30 10:48] savitharaghunathan commented on #6089
+1 to Lachie!

[2021-09-30 10:51] savitharaghunathan commented on #6091
Jeremy is awesome and goes an extra mile to help anyone. I am super happy to +1 his nomination! ❤️

[2021-09-30 10:57] savitharaghunathan commented on #6087
Paris has been a great mentor to me and many in the community! Thank you Paris!
+1 for the nomination ❤️

[2021-09-30 10:58] savitharaghunathan commented on #6086
+1

[2021-09-30 11:19] evillgenius75 commented on #6091
+1 for @jeremyrickard

[2021-09-30 11:27] puja108 commented on #6087
+1

[2021-09-30 11:28] puja108 commented on #6092
+1 /honk

[2021-09-30 11:28] puja108 commented on #6074
+1 for the one and only

[2021-09-30 11:58] CIPHERTron commented on #6087
A huge +1 🚀

[2021-09-30 12:03] AlexsJones commented on #6091
+1

[2021-09-30 12:12] natalisucks commented on #6092
Hell yeah +1

[2021-09-30 12:18] JoelSpeed commented on #6086
+1

[2021-09-30 12:31] ChaturvediSulabh commented on #6087
+1

[2021-09-30 12:31] nimbinatus commented on #6087
+1 :100:

[2021-09-30 12:31] nimbinatus commented on #6074
+1

[2021-09-30 12:32] nimbinatus commented on #6086
+1

[2021-09-30 12:32] nimbinatus commented on #6090
+1

[2021-09-30 12:32] nimbinatus commented on #6091
+1

[2021-09-30 12:32] astoycos commented on #6086
+1

[2021-09-30 12:32] nimbinatus commented on #6092
+1

[2021-09-30 12:32] nimbinatus commented on #6089
+1

[2021-09-30 12:39] strongjz commented on #6092
+1

[2021-09-30 12:46] RealHarshThakur commented on #6093
+1

[2021-09-30 13:17] tkashem commented on #6086
+1

[2021-09-30 13:18] AnaisUrlichs commented on #6093
+1

[2021-09-30 13:26] seljmov commented on #6092
+1

[2021-09-30 13:32] yue9944882 commented on #6086
+1

[2021-09-30 14:05] detiber commented on #6087
+1

[2021-09-30 14:05] detiber commented on #6090
+1

[2021-09-30 14:06] detiber commented on #6091
+1

[2021-09-30 14:06] detiber commented on #6092
+1
/honk

[2021-09-30 14:06] detiber commented on #6089
+1

[2021-09-30 14:11] lakshya8066 commented on #6087
+1 Paris is amazing!

[2021-09-30 14:12] solonish opened #6096 "REQUEST: Install Github app for #cert-manager-aws-privateca-issuer channel"
**GitHub Username:** @solonish

**Slack Username:** [Nishanth Solomon](https://kubernetes.slack.com/archives/D02D1JKT9V2)

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Installing GitHub for Slack.

**Name of Requested Resource:**
GitHub for Slack - https://slack.com/intl/en-gb/help/articles/232289568-GitHub-for-Slack#github-for-slack-1

**Description of Request:**

[2021-09-30 14:35] gvsraju commented on #6093
+1 👍

[2021-09-30 14:40] Krishnapro commented on #6093
+1`👍`

[2021-09-30 14:40] Huang-Wei commented on #6087
+1

[2021-09-30 14:42] Huang-Wei commented on #6090
+1

[2021-09-30 14:42] Huang-Wei commented on #6086
+1

[2021-09-30 14:54] puerco commented on #6090
+1 !!

[2021-09-30 15:06] yangsoon commented on #6086
+1

[2021-09-30 15:13] jberkus commented on #6072
/lgtm

[2021-09-30 15:14] jberkus commented on #5092
/area elections

[2021-09-30 15:15] jberkus commented on #6084
/area elections

[2021-09-30 15:20] IshwarChandra commented on #6093
+1👍

[2021-09-30 15:21] celestehorgan commented on #6092
+1 and customary /honk

[2021-09-30 15:22] celestehorgan commented on #6091
+1 ❤️

[2021-09-30 15:22] celestehorgan commented on #6074
+1 ❤️

[2021-09-30 15:22] celestehorgan commented on #6087
+1 and happy to see you running again! ❤️

[2021-09-30 15:22] celestehorgan commented on #6089
+1!! ❤️

[2021-09-30 15:23] celestehorgan commented on #6090
+! ❤️

[2021-09-30 15:43] lavalamp commented on #6092
+1

[2021-09-30 15:49] strongjz commented on #6074
+1

[2021-09-30 16:46] dobsonj commented on #6092
+1

[2021-09-30 16:46] dobsonj commented on #6086
+1

[2021-09-30 16:47] avinashupadhya99 commented on #6093
+1

[2021-09-30 16:50] mtaufen commented on #6039
This link looks like the old playlist (videos still on the old account)?

[2021-09-30 16:51] mtaufen commented on #6092
+1
/honk

[2021-09-30 17:04] Debanitrkl commented on #6039
/re-open

[2021-09-30 17:04] Debanitrkl commented on #6039
/reopen

[2021-09-30 17:22] resouer commented on #6089
+1

[2021-09-30 17:22] Fei-Guo commented on #6089
+1

[2021-09-30 17:28] sangam14 commented on #6093
+1 👍

[2021-09-30 18:07] savitharaghunathan commented on #6090
+1 :)

[2021-09-30 18:11] Debanitrkl commented on #6039
@castrojo could you please look into this

[2021-09-30 18:18] rg13567 opened #6097 "Need help with configuring jenkins proxy which is running inside pod deployed via helm"
I  have a kubernetes cluster setup with master and worker nodes
I deployed jenkins on my worker node with helm chart. I want to configure jenkins proxy as part of deployment so that once my jenkins pod comes up it already has my proxy configured in order to install plugins.
Can anyone suggest how this can be done?

[2021-09-30 18:23] mrbobbytables commented on #6097
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted i

[2021-09-30 18:23] #6097 closed

[2021-09-30 18:32] mcbenjemaa commented on #6087
+1

[2021-09-30 18:32] carolynvs commented on #6091
A hearty +1 for Jeremy! 💖

[2021-09-30 18:49] Huang-Wei commented on #6074
+1

[2021-09-30 18:49] savitharaghunathan commented on #6074
+1 for Stephen ❤️ ✨

[2021-09-30 19:16] ryanconley1 commented on #6092
+1

[2021-09-30 20:33] CIPHERTron commented on #6068
Heyy @alisondy I would love to work on this. Could you give a bit more context on this issue? Thanks!

[2021-09-30 20:33] CIPHERTron commented on #6068
/assign

[2021-09-30 22:17] marcel-dempers commented on #6089
+1
I had the honor of working with @lachie83  for a week. Was the best week ever!

[2021-09-30 22:21] coderanger commented on #6096
Sorry, we do not allow apps for security and privacy reasons. In the case of GitHub, the issue is the near-total lack of access controls.

/close

[2021-09-30 22:22] #6096 closed

[2021-09-30 23:52] chris-short commented on #6093
+1

[2021-10-01 00:14] dlorenc commented on #6074
I strongly support this!

[2021-10-01 00:15] lachie83 commented on #6074
+1

[2021-10-01 00:21] StabbyCutyou commented on #6074
+1

[2021-10-01 00:32] benhemp commented on #6074
+1 Stephen would be an excellent steward of Kubernetes ecosystem in my estimation.

[2021-10-01 01:08] bcosden commented on #6089
+1

[2021-10-01 01:32] FillZpp commented on #6089
+1

[2021-10-01 01:46] danpopSD commented on #6089
+1 one of the most active, responsive, encouraging people in our community.  Strong support for Lachie.

[2021-10-01 01:55] jdumars commented on #6087
Huge +1 from me!

[2021-10-01 01:57] jdumars commented on #6074
+1

[2021-10-01 01:58] jdumars commented on #6092
+1

[2021-10-01 02:27] edsoncelio commented on #6074
+1

[2021-10-01 02:30] erikaehrli commented on #6089
+1 to Lachie!

[2021-10-01 02:36] jimangel commented on #6089
+1!! 🙌🙌🙌

[2021-10-01 02:37] jimangel commented on #6092
Huge +1!
/honk

[2021-10-01 02:37] jimangel commented on #6091
+1! ❤️

[2021-10-01 02:38] jimangel commented on #6090
+1! 🎉

[2021-10-01 05:31] LukasGentele commented on #6093
+1

[2021-10-01 05:35] SteveLasker commented on #6089
+1 Lachie can navigate the most difficult of situations

[2021-10-01 06:07] suchakra012 commented on #6093
+1 for nomination

[2021-10-01 06:24] wonderflow commented on #6086
+1

[2021-10-01 06:44] Debanitrkl opened #6099 "Broken links on non-code-contributions.md"
While going through the [non-code-contributions.md](https://github.com/kubernetes/community/blob/master/contributors/guide/non-code-contributions.md), I found a broken link on `line 34` , which should indicate to [Meet Our Contributors](https://github.com/kubernetes/community/blob/master/mentoring/programs/meet-our-contributors.md).

For `good-first-issue`:
To solve this we need to update the link

[2021-10-01 07:10] YushChaudhary commented on #6099
Thanks For this issue let me fix this.

[2021-10-01 07:10] BLasan commented on #6099
/assign

[2021-10-01 07:12] Debanitrkl commented on #6099
@YushChaudhary thanks for your interest, I think @BLasan has already assigned him this and working on it, you could look for another issue to work on.

[2021-10-01 07:14] YushChaudhary commented on #6099
ok

[2021-10-01 07:21] YushChaudhary commented on #6099
Hay what are these steering commiteee nominations

[2021-10-01 07:32] Debanitrkl commented on #6099
@YushChaudhary  You can find more about it here https://github.com/kubernetes/community/tree/master/committee-steering also the [k8s.dev](https://www.kubernetes.dev/) is a good place to start with. And join our [slack channel](https://slack.k8s.io/), where all your queries could be answered

[2021-10-01 07:34] YushChaudhary commented on #6099
Hey Thanks a lot.

[2021-10-01 07:50] reylejano commented on #6087
Big +1 from me

[2021-10-01 07:51] reylejano commented on #6089
+1 🚀

[2021-10-01 07:53] reylejano commented on #6091
+1 🚀 from me!

[2021-10-01 08:04] reylejano commented on #6092
+1 from me 🚀

[2021-10-01 10:06] bgeesaman commented on #6074
+10000000

[2021-10-01 10:07] bgeesaman commented on #6092
+10000000

[2021-10-01 10:07] bgeesaman commented on #6087
+1000000

[2021-10-01 10:08] bgeesaman commented on #6089
+1000000

[2021-10-01 10:08] bgeesaman commented on #6091
+1000000

[2021-10-01 10:28] lukehinds commented on #6074
+1

[2021-10-01 10:33] oshi36 commented on #6093
+1

[2021-10-01 14:34] dmgolembiowski commented on #6093
+1

[2021-10-01 15:44] qedrakmar commented on #6092
+1

[2021-10-01 15:45] qedrakmar commented on #6091
+1

[2021-10-01 15:45] qedrakmar commented on #6090
+1

[2021-10-01 15:45] qedrakmar commented on #6089
+1

[2021-10-01 15:46] qedrakmar commented on #6087
+1

[2021-10-01 16:18] jgavinray commented on #6074
+1

[2021-10-01 18:47] sandipanpanda commented on #6087
Paris is a great mentor. A big :heavy_plus_sign:1 from me. Thank you Paris for everything you have done this community. :heart:

[2021-10-01 23:57] mtaufen commented on #6074
+1

[2021-10-02 02:17] #6099 closed

[2021-10-02 03:04] jailton commented on #6092
+1

[2021-10-02 03:58] naveensrinivasan commented on #6074
+1

[2021-10-03 02:45] taku333 opened #6107 "The CLA procedure was changed."
The CLA procedure was chaged.

→E-mail is no longer needed.
I couldn't figure out how to fix the source, so I submitted an issue.

<img width="449" alt="2  Create Linux Foundation ID Portal account " src="https://user-images.githubusercontent.com/16697482/135737492-0d2f3ab3-4598-437d-bb13-864ed7456d17.png">

◆Modification place
https://github.com/kubernetes/community/blob/master/CLA.md

https://gi

[2021-10-03 09:36] sxllwx commented on #6086
+1

[2021-10-03 14:09] aojea commented on #6086
+1

[2021-10-03 14:09] aojea commented on #6089
+1

[2021-10-03 16:19] aojea opened #6108 "Steering Committee Nomination: Antonio Ojea (@aojea)"
Hello,

I'd like to self-nominate for the 2021 Kubernetes Steering Committee election.

I've started contributed to the project in 2018 as a hobby, and now this project is part of my life.
I have so many things to thank to the project that I'd like to keep helping being part of the steering committee.

/committee steering

[2021-10-03 16:27] rikatz commented on #6108
Huge +1

[2021-10-03 16:37] sttts commented on #6108
+1

[2021-10-03 16:57] jeremyrickard commented on #6108
+1!

[2021-10-03 17:28] dougsland commented on #6108
+1

[2021-10-03 17:34] jayunit100 commented on #6074
+1

[2021-10-03 17:35] jayunit100 commented on #6108
+1

[2021-10-03 19:39] danwinship commented on #6108
+1

[2021-10-03 21:25] puerco commented on #6108
+1!

[2021-10-03 23:55] savitharaghunathan commented on #6108
+1 🚀

[2021-10-04 03:40] Debanitrkl commented on #6107
/sig contributor-experience

[2021-10-04 04:22] pacoxu commented on #6108
+1

[2021-10-04 04:23] pacoxu commented on #6074
+1

[2021-10-04 05:27] uablrek commented on #6108
+1

[2021-10-04 05:27] thockin commented on #6108
+1

[2021-10-04 06:11] kmova commented on #6093
+1

[2021-10-04 06:43] cpanato commented on #6108
+1 yeah!!

[2021-10-04 09:17] saiyan86 commented on #6108
+1 @aojea will help the community a lot!

[2021-10-04 09:18] saiyan86 commented on #6089
+1 @lachie83 goooo!

[2021-10-04 09:19] saiyan86 commented on #6074
+1!!

[2021-10-04 10:39] creydr commented on #6108
+1

[2021-10-04 14:14] endocrimes commented on #5234
/assign

[2021-10-04 15:22] strongjz commented on #6108
+1

[2021-10-04 16:09] #5929 closed

[2021-10-04 16:21] lachie83 commented on #6108
+1

[2021-10-04 17:30] ereslibre commented on #6108
Huge +1

[2021-10-04 22:14] alisondy commented on #6074
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Stephen Augustus has the necessary endorsements to qualify to run for steering committee.

Stephen, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:15] alisondy commented on #6086
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that David Eads has the necessary endorsements to qualify to run for steering committee.

David, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:15] alisondy commented on #6087
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Paris Pittman has the necessary endorsements to qualify to run for steering committee.

Paris, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:16] alisondy commented on #6089
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Lachlan Evenson has the necessary endorsements to qualify to run for steering committee.

Lachlan, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:17] alisondy commented on #6090
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Christoph Blecker has the necessary endorsements to qualify to run for steering committee.

Christoph, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:17] alisondy commented on #6091
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Jeremy Rickard has the necessary endorsements to qualify to run for steering committee.

Jeremy, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:18] alisondy commented on #6092
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Ian Coldwater has the necessary endorsements to qualify to run for steering committee.

Ian, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:19] alisondy commented on #6093
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Saiyam Pathak has the necessary endorsements to qualify to run for steering committee.

Saiyam, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 22:23] alisondy commented on #6108
Per the requirements of the [candidate process](https://git.k8s.io/steering/elections.md), I have verified that Antonia Ojea has the necessary endorsements to qualify to run for steering committee.

Antonio, please prepare a bio for yourself based on the `nomination-template` file in the election directory and submit a PR before October 14th.

[2021-10-04 23:23] ehashman opened #6110 "Require org members to have a merged PR (if including PRs in an application)?"
I know that this is often an informal requirement among sponsors (it is for me -- open PRs are not sufficient imho), but I am wondering if it should be a formal requirement.

Requiring org members to have a merged PR ensures that they have correctly signed the CLA and are able to interact with our GitHub repos. When individuals become org members, it gives them power over PRs such as applying tria

[2021-10-04 23:31] jberkus commented on #6110
If we include kube-sigs, and the possibility of a chicken-and-egg issue (that is, that the PR requires org membership to merge), then this seems OK.

[2021-10-04 23:34] ehashman commented on #6110
I've only seen this happen when people try to add themselves to OWNERS files and weren't org members, _usually_ because they were already a kubernetes org member but not kubernetes-sigs (and were bootstrapping a kubernetes-sigs repo).

I would be 100% fine with the PR happening in kubernetes-sigs.

[2021-10-04 23:35] coderanger commented on #6110
I'll put myself up as an example of someone that probably had no code contributions at the time I was put up for org membership (if I did I'm sure it was like 1 character typo fixes or something), so I think it's definitely a path that exists. It's mostly for folks joining on the community and security sides right now (SIG-ContribEx, SIG-Security, SRT, etc) but that's still a very important path I

[2021-10-04 23:41] ehashman commented on #6110
Let me scope down a little bit here---do you have any objection to requiring that if a list of PRs are included in a membership application, at least one of those must be merged?

[2021-10-04 23:47] coderanger commented on #6110
+1 to that, unmerged PRs don't count for zero but it's very close to zero :) If that's what you are citing as your reasons for joining, I agree it's not a very compelling case.

[2021-10-05 04:11] nikhita commented on #6110
Big +1 to this.

cc @kubernetes/owners

[2021-10-05 04:27] lachie83 commented on #6089
Thanks @alisondy - I have submitted PR https://github.com/kubernetes/community/pull/6105 with my bio.

[2021-10-05 15:30] mrbobbytables commented on #6110
I am +1 to adjusting the language to reference merged PRs.

[2021-10-05 16:01] vincepri opened #6112 "Steering Committee Nomination: Vince Prignano (@vincepri)"
Hi Kube-folks,

I'd like to self nominate for the Steering Committee 2021 election ✨.

Joined the Kubernetes community 3 years ago, have been serving it in multiple forms and shapes. Today, I'm SIG Cluster Lifecycle co-Chair and maintainer of Cluster API, pushing forward the vision to make Kubernetes lifecycle management boring.

I'd love to bring SIG, end-user, and my overall experience to the St

[2021-10-05 16:02] jdumars commented on #6112
Big +1 from me!

[2021-10-05 16:14] jeremyrickard commented on #6112
+1

[2021-10-05 16:22] cpanato commented on #6112
huge +1

[2021-10-05 16:28] sbueringer commented on #6112
💯  (+1)

[2021-10-05 16:31] charleszheng44 commented on #6112
+1 👍

[2021-10-05 16:31] nimbcode commented on #6112
+1

[2021-10-05 16:38] Riaankl commented on #6087
+1

[2021-10-05 16:47] devigned commented on #6112
+1

[2021-10-05 16:55] jeremyrickard commented on #6110
+1

[2021-10-05 18:08] alvaroaleman commented on #6112
+1

[2021-10-05 18:15] elmiko commented on #6108
+1

[2021-10-05 18:34] fabriziopandini commented on #6112
Big +1

[2021-10-05 18:36] randomvariable commented on #6112
+ :100:

[2021-10-05 18:45] srm09 commented on #6112
Huge +1

[2021-10-05 18:46] tamalsaha commented on #6112
+1

[2021-10-05 18:48] #6089 closed

[2021-10-05 18:50] shysank commented on #6112
+1

[2021-10-05 18:53] AartiJivrajani commented on #6112
💯 (+1)!!

[2021-10-05 19:49] ykakarap commented on #6112
Huge +1!!

[2021-10-05 20:02] vincepri commented on #6110
+1

[2021-10-05 20:29] devigned commented on #6089
+1 x 1000

[2021-10-05 20:32] kikisdeliveryservice commented on #6074
last but still gonna give my +1 ❤️

[2021-10-05 20:34] tpepper opened #6117 "Steering Committee Nomination: Tim Pepper (@tpepper)"
Kubernetes Community,

I am self-nominating to stand as a candidate in the project's 2021 Steering Committee election.

My involvement in this community spans many years activity across SIGs and WGs.  I've previously co-chaired WG LTS and SIG Release, contributed to our release tooling, led the 1.12 release, actively shepherded critical fixes through the cherry pick patch release process for many

[2021-10-05 20:35] kikisdeliveryservice commented on #6087
massive +1 ❤️

[2021-10-05 20:43] embano1 commented on #6112
No doubts +1, GOOOO Vince!!!!

[2021-10-05 20:52] tashimi opened #6118 "Steering Committee Nomination: Tasha Drew (@tashimi)"
Hi all,

I'd like to nominate myself for the Steering Committee for the 2021 election!

I've been around the Kubernetes community for five-ish years now, starting off working with the fine folks in SIG-Apps as I tried to understand how application lifecycle management would be handled in this brave new world when I was working on Habitat.sh, and then migrating over to WG-Multitenancy (and eventual

[2021-10-05 21:06] jdumars commented on #6118
Having served with Tasha on the code of conduct committee, as well as seeing the numerous invaluable contributions she has made to our community, I strongly support this nomination!

[2021-10-05 21:29] lachie83 commented on #6118
+1

[2021-10-05 21:33] elmiko commented on #6112
+1

[2021-10-05 21:35] yastij commented on #6112
Huge +1

[2021-10-05 21:42] jeremyrickard commented on #6117
+1 from me!!!

[2021-10-05 21:43] rjbez17 commented on #6118
+1

[2021-10-05 21:46] frapposelli commented on #6118
BIG +1

[2021-10-05 21:46] frapposelli commented on #6117
+1!

[2021-10-05 21:46] puerco commented on #6117
+10000 for Tim!!!!

[2021-10-05 21:47] frapposelli commented on #6112
BIG +1 for Vince

[2021-10-05 21:58] reylejano commented on #6117
+1 🚀

[2021-10-05 22:20] ehashman commented on #6110
Given generally positive response here, I've submitted https://github.com/kubernetes/community/pull/6120

[2021-10-05 22:41] Riaankl commented on #6117
+1

[2021-10-05 23:53] celestehorgan commented on #6118
+1

Working with Tasha on the CoCC has been an excellent experience! Tasha has so much leadership to offer the project, so much maturity, and such a level head, and would do well in this position.

[2021-10-05 23:54] celestehorgan commented on #6117
+1

Tim is one of the kindest and level-headed people in the project. He has the technical capacity and the emotional capacity to make a huge difference in the project at a critical time

[2021-10-06 02:32] astoycos commented on #6108
+ 1 :)

[2021-10-06 03:37] vincepri commented on #6118
+1 💯

[2021-10-06 03:37] vincepri commented on #6117
+1

[2021-10-06 03:38] vincepri commented on #6092
+1

[2021-10-06 03:38] vincepri commented on #6091
+1

[2021-10-06 03:38] vincepri commented on #6087
1

[2021-10-06 03:38] vincepri commented on #6074
+1

[2021-10-06 04:08] Debanitrkl commented on #6039
The Youtube Playlist is added and we are done with all the tasks
/close

[2021-10-06 04:08] #6039 closed

[2021-10-06 05:59] pravarag commented on #5532
Hi @spiffxp , this issue is closed by mistake I guess as still many scripts' documentation needs to be added 😃

[2021-10-06 07:08] saschagrunert commented on #6117
+1 :heart:

[2021-10-06 07:29] mcbenjemaa commented on #6117
+1 definitely 🙌

[2021-10-06 07:47] cpanato commented on #6118
+1 !!!

[2021-10-06 08:00] nikhita commented on #6107
/assign @idvoretskyi

[2021-10-06 08:55] idvoretskyi commented on #6107
@taku333 feel free to submit a PR to fix https://github.com/kubernetes/community/blob/master/CLA.md and https://github.com/kubernetes/community/blob/master/CLA.md

Thanks

[2021-10-06 09:02] RinkiyaKeDad commented on #6118
+1 I've first-hand experienced the welcoming environment Tasha creates for everyone when I was getting started!

[2021-10-06 09:35] n4j commented on #6086
+1

[2021-10-06 09:35] n4j commented on #6108
+1

[2021-10-06 14:31] detiber commented on #6112
+1

[2021-10-06 14:31] detiber commented on #6118
+1

[2021-10-06 14:31] detiber commented on #6117
+1

[2021-10-06 15:03] spiffxp commented on #5532
/reopen

[2021-10-06 19:12] xing-yang commented on #6117
+1

[2021-10-06 19:14] xing-yang commented on #6092
+1

[2021-10-06 19:14] xing-yang commented on #6091
+1

[2021-10-06 19:20] lauralorenz commented on #6011
SIG-Multicluster - @lauralorenz

[2021-10-06 19:28] claudiubelu opened #6123 "Remove the [Excluded:WindowsDocker] tag in Kubernetes 1.24"
In [a PR](https://github.com/kubernetes/community/pull/5355), we will be introducing the ``[Excluded:WindowsDocker]`` tag, with the intent of enabling some of the ``[LinuxOnly]`` tests on environments with Windows Containerd, which has more features that we'd want to validate through ``[Conformance]`` tests.

It is a temporary tag, as we will be removing support for Windows Docker in Kubernetes 1.

[2021-10-07 08:21] palnabarun commented on #6117
+1

[2021-10-07 08:21] palnabarun commented on #6108
+1

[2021-10-07 08:22] palnabarun commented on #6091
+1

[2021-10-07 14:25] harkiratsm commented on #4469
/assign

[2021-10-07 20:49] saschagrunert commented on #6091
+1 🤗

[2021-10-07 23:05] jberkus opened #6125 "2021 Steering Committee Election Tracking"
- [x] Generate voters.md
- [x] obtain emails and create email queue
- [x] Create 2021 initial election documents
- [x] Create Elekto election configuration
- [x] Send election announcement to kdev and start accepting nominations
- [x] Send weekly nomination status updates to kdev
- [x] Send notifications that nominations close in 24 hours
- [x] Merge all candidate profiles
- [x] Schedule old Steer

[2021-10-08 10:32] palnabarun opened #6126 "Steering Committee Nomination: Nabarun Pal (@palnabarun)"
Hi everyone,

I would like to self-nominate for the 2021 Kubernetes Steering Committee Election.

I started into the Kubernetes landscape while building an internal platform and started contributing to the project as a hobby in 2019 to give to a project that we were using internally. The same year I helped the Contributor Experience Events team with the KubeCon NA San Diego Contributor Summit. Kub

[2021-10-08 10:39] rikatz commented on #6126
+1

[2021-10-08 10:50] VineethReddy02 commented on #6126
+1 🚀

[2021-10-08 10:52] bhumijgupta commented on #6126
+1

[2021-10-08 11:04] endocrimes commented on #6087
the biggest of +1's 💜

(thanks for helping drag me into the community 😂 )

[2021-10-08 11:10] rajaskakodkar commented on #6126
+1 GO NABARUN!!!!!! 🚀

[2021-10-08 11:40] nehaLohia27 commented on #6126
+1 👍

[2021-10-08 11:44] vedant-kakde commented on #6126
+1 🚀

[2021-10-08 12:00] Ankitasw commented on #6126
+1 🚀

[2021-10-08 15:25] navidshaikh commented on #6126
+1

[2021-10-08 15:26] navidshaikh commented on #6108
+1

[2021-10-08 15:27] navidshaikh commented on #6074
+1

[2021-10-08 17:09] viveksahu26 commented on #6126
+1

[2021-10-08 17:17] jeremyrickard commented on #6126
+1 ❤️

[2021-10-08 17:42] pravarag commented on #5532
@spiffxp I've added another PR which covers two more scripts. I recently used those two (structured-logging, verify-gofmt) scripts while working on another issue so had some idea around it 🙂 Kindly review.

[2021-10-08 19:57] jeremyrickard opened #6129 "Question/Comment on candidate bios for Steering Election"
Hey SC election people!

I had a question/comment, after submitting my candidate bio.

It looks like we added a verify script that enforces the 300 character limit but is a little blunt:

[code]

I believe this ends up including all the template + SIGs and links to YouTube videos and other stuff, which limits down what you can include in your statements of "What I've Done" and "What I'll Do".  I e

[2021-10-08 19:59] jeremyrickard commented on #6129
oooops :)

/committee steering
/area elections
/sig contributor-experience

[2021-10-08 20:13] jberkus opened #6130 "REQUEST: Comms assistance with SC Election"
Contributor-comms:

The Election Committee would like your help with publicizing the timeline to our contributors during the election:

1. The beginning of voting on Oct 18th
2. Final Election Reminder, Oct 29
3. Election results announcement, Nov 7

Voting opens on October 18th, and we would like notification for that to be carried on contributor social media as well as kubernetes-dev.

The resul

[2021-10-08 20:21] vivian-src commented on #6108
+1

[2021-10-08 23:12] jberkus commented on #6129
Wait, I thought the verify hook was disabled?  I'd asked for it to be disabled.

[2021-10-09 00:15] #6129 closed

[2021-10-09 09:45] KuberDriver commented on #6126
+1 by all means 👍

[2021-10-09 11:51] amolugu commented on #6093
+1

[2021-10-09 19:26] vincepri commented on #6126
+1

[2021-10-10 09:04] shivanshu1333 commented on #6108
big big big +1 for @aojea

[2021-10-10 11:44] vidhyasagar7 commented on #6093
+1

[2021-10-11 10:49] MadhavJivrajani opened #6144 "[Tracking Issue] `kind/design` to `kind/feature` migration cleanup"
Following up from the [communication](https://groups.google.com/g/kubernetes-dev/c/f6W68eS8xo0) was sent out regarding the migration of `kind/design` to `kind/feature` and the changes that would entail - this issue is for tracking the cleanup work that needs to be done for completing that migration.

The next step is to actually remove the label from the GitHub repos that did not opt-in for the `k

[2021-10-11 17:26] savitharaghunathan commented on #4953
/unassign

[2021-10-11 18:42] nate-double-u commented on #4945
/assign

[2021-10-11 19:12] jpmcb commented on #4955
II can take this on!

/asign

[2021-10-12 21:16] marosset commented on #6045
/close

Thanks again @ddebroy for all your contributions and congratulations @claudiubelu!

[2021-10-12 23:57] jberkus commented on #6130
Tap tap tap ... is this thing on?

[2021-10-13 01:49] cblecker commented on #6130
@jberkus You may need to ping @\contributor-comms in slack again

[2021-10-13 17:08] Br00w opened #6152 "Update and fine support"
Update for new status information technology system

[2021-10-13 18:59] #6152 closed

[2021-10-13 21:03] ehashman commented on #5233
Closed by #5915.

/close

[2021-10-13 22:33] #6110 closed

[2021-10-14 02:03] mrbobbytables commented on #6011
The meet and greet is complete \o/ thanks everyone!
Looks like it went off really well :)

/close

[2021-10-14 02:03] #6011 closed

[2021-10-14 16:20] #6093 closed

[2021-10-14 21:53] jberkus commented on #6112
Bio is merged.

/close

[2021-10-14 21:53] #6112 closed, assigned to nobody

[2021-10-15 00:46] #6126 closed

[2021-10-15 00:50] #6074 closed

[2021-10-15 18:59] chris-short commented on #6130
Tweets updated to use https not http

[2021-10-17 19:15] sandipanpanda commented on #5872
/remove-lifecycle stale

[2021-10-18 05:01] #6118 closed

[2021-10-18 15:49] rosspeoples opened #6169 "kubectl drain output says node deleted/evicted"
When draining a node, using `kubectl drain [NODE]`, the output resembles this:
[code]

Expected output should indicate that the node was `drained`, for example:
[code]

[2021-10-18 15:52] #6169 closed, assigned to nobody

[2021-10-19 01:09] jberkus opened #6171 "Cannot recast vote in Kubernetes Steering Election"
This issue is known, and is being analyzed, but leaving a breadcrumb issue here in case anyone looks for it: https://github.com/kubernetes/k8s.io/issues/2955

/sig contributor-experience
/area elections

[2021-10-19 07:32] MadhavJivrajani commented on #6055
fyi - communication regarding this has been sent out to `leads@kuberentes.io`. Since this is not a google group - the email sent can be found [here](https://hackmd.io/6g33S9J4R2SdizZwrs_ILw?view).

[2021-10-20 09:31] ankitabhopatkar13 opened #6174 "Re-activating a deactivated Slack account"
I had an account on kubernetes slack channel but mistakenly I ended up deactivating it.

Can someone help me re-activate the account please?

Account ID - `ankitabhopatkar13@gmail.com`

[2021-10-20 09:42] #6174 closed, assigned to nobody

[2021-10-20 13:01] sandipanpanda opened #6175 "SIG-diagram of the K8s community in this repository needs to be updated"
[SIG-diagram.png](https://github.com/kubernetes/community/blob/master/SIG-diagram.png) and [SIG-diagram.svg](https://github.com/kubernetes/community/blob/master/SIG-diagram.svg) were created 2 years ago and are now outdated. The SIG structure of this community has changed since then. SIG PM, WGs Apply, Component Standard, LTS, machine learning, resource management and Security Audit have been arch

[2021-10-20 15:31] #5564 closed

[2021-10-20 20:10] sandipanpanda commented on #5444
/area community-management

[2021-10-20 21:23] #4948 closed

[2021-10-20 21:23] #4950 closed

[2021-10-20 21:34] Debanitrkl commented on #6088
/area community-management

[2021-10-20 21:35] Debanitrkl commented on #6088
/priority long-term

[2021-10-20 21:39] Debanitrkl commented on #5972
/area github-management

[2021-10-20 21:42] Debanitrkl commented on #5953
/area github-management

[2021-10-20 22:00] Debanitrkl commented on #6175
Related to #4001

[2021-10-21 00:08] mrbobbytables commented on #6175
fwiw, I have google slides with the template - its easy to modify and export to png

[2021-10-21 05:52] Debanitrkl commented on #5999
/area community-management

[2021-10-21 05:54] Debanitrkl commented on #5974
/area developer-guide

[2021-10-25 17:04] CIPHERTron opened #6178 "Update release cycle docs from 3 months to 4 months"
Recently, the release cycle period has been increased from **three** months to **four** months but the [release cycle docs](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/release.md) and the [timeline](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/release-cycle.png) hasn't been updated yet i.e. it still shows a timeline takin

[2021-10-25 20:49] jedsalazar opened #6180 "Security feature lifecycle"
I'm wondering if we should promote features that improve the security of a cluster beyond alpha more rapidly and backport these features to previous K8s versions. For example, Ephemeral Containers has been in alpha since 1.21 which requires a feature gate to enable and will transition to beta in K8s 1.23, after at least 2 K8s releases in alpha.

Using standard graduation feature timelines for feat

[2021-10-28 04:44] shambannaa opened #6186 "REQUEST: Slack account reset"
Hi team,

I am unable to log in to slack as my two-factor authentication app got deleted and I have lost the access code as well.
can you please reset my account so that I can signup and login.

Thanks,
Shambanna.

[2021-10-28 12:01] sreekaransrinath opened #6187 "The CLA Signing guide links to the old procedure"
https://github.com/kubernetes/community/blob/master/CLA.md still links to the old procedure of signing the CLA at https://identity.linuxfoundation.org/

When trying to find the right system, I came across this -  https://identity.linuxfoundation.org/migration-faq

Perhaps we should link to https://easycla.lfx.linuxfoundation.org/, https://myprofile.lfx.linuxfoundation.org/, or https://linuxfoundat

[2021-10-28 12:42] sreekaransrinath opened #6188 "Inaccurate descriptions for the Kubernetes Community Values"
Raised this issue on the contributor-site repo as well, but went through the source for that and realized that it populates pages based on info pulled from this repo - https://github.com/kubernetes/contributor-site/issues/252

The pages describing the Kubernetes Community Values have subtitles/descriptions as "Mentoring Initiatives"

https://github.com/kubernetes/community/blob/master/values.md
![

[2021-10-28 19:59] rkamudhan opened #6189 "How to get access for Network Special Interest Group documents"
I am trying to join in sig-network group. I am getting access request page. It will be good to add a _**how to get involve**_ section in the README.md,

[2021-10-28 20:06] #6187 closed, assigned to nobody

[2021-10-28 20:09] #6189 closed, assigned to nobody

[2021-10-29 19:21] sreekaransrinath commented on #6188
@sandipanpanda if you don't mind, I'd like to fix this myself, it seems like a good first PR to make :)

[2021-10-29 19:23] sreekaransrinath commented on #6188
/assign

[2021-10-30 18:32] sandipanpanda commented on #6188
/good-first-issue

[2021-10-30 18:32] sandipanpanda commented on #6188
/remove-help

[2021-11-01 06:05] itsMeShon opened #6194 "REQUEST: New moderator for <your-GH-handle> of <k8s property>"
### GitHub Username
e.g. (at)itsMeShon

### Property you'd like to Moderate
e.g. kubernetes-dev

### Username on Property Requested
e.g. (at)property_user

### Requirements

- [ ] I am a Kubernetes Org member already
- [ ] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [X] I have read and will abide by the policies mentioned in the [Moderation Guideli

[2021-11-01 06:13] coderanger commented on #6194
Hi there, welcome to Kubernetes. This form is intended to be filled out by folks requesting moderator permissions. I don't think that's what you were going for? Were you looking for help joining the mailing list maybe?

[2021-11-01 06:19] itsMeShon commented on #6194
I am trying to join the community as a member of the fommunity to work with community in the front end development.

[2021-11-01 06:49] coderanger commented on #6194
You probably want to join the SIG-UI mailing list then, which you can find here https://groups.google.com/g/kubernetes-sig-ui . Click "Join Group" at the top of that page. Going to close out this ticket since this isn't how you join mailing lists :) Welcome!

/close

[2021-11-01 06:50] #6194 closed

[2021-11-01 06:55] itsMeShon commented on #6194
K thanks

Thanks!

[2021-11-01 07:04] itsMeShon commented on #6194
I joined the group. But how can i join this community is there any way to join this community, github community

[2021-11-01 07:11] coderanger commented on #6194
You find information here https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

But the short version is you have to have already done some work on a Kubernetes project and find 2 existing members to sponsor you.

[2021-11-01 07:14] itsMeShon commented on #6194
Ok!

[2021-11-01 10:21] shambannaa commented on #6186
@nikhita  @coderanger  can you please reset my slack account?

[2021-11-01 12:47] #6188 closed

[2021-11-01 14:49] mrbobbytables commented on #6186
@shambannaa we need to know the email associated with the slack account that needs to be reset. Once we can verify it we can move to reset it.

[2021-11-03 14:09] CIPHERTron commented on #6178
Just a quick follow up,
https://kubernetes.io/blog/2021/07/20/new-kubernetes-release-cadence/

⬆️ Here's a blog stating the changes in the release cycle i.e.from 4 releases per year to three releases per year. We can use this to get some context and update the docs.

For the timeline, I think we can use [draw.io](https://draw.io) and make a flowchart kinda thing. Views? @reylejano

cc: @vedant-kak

[2021-11-03 15:30] Debanitrkl commented on #6003
https://www.katacoda.com/debanitrkl released the course here, could anyone please review it

[2021-11-03 15:31] Debanitrkl commented on #5576
I have created the katacoda scenario [here](https://www.katacoda.com/debanitrkl ), could anyone please review it.
cc @MadhavJivrajani @dims

[2021-11-03 22:28] parispittman opened #6200 "active contributor/owner survey"
TIMEBOX: for suggested questions or process changes - Tuesday, December 14th at 1pm PT.

**what**
in preparing sustainability and continuity planning, it would be good if we had some real data for some it. lets create an owners survey - or maybe active contributors? - to find this out.

**when**
March 29th

**knowns**
- we have the yearly ContribEx survey that we have retro'ed in the past would be

[2021-11-04 20:20] sandipanpanda commented on #5999
The APAC meeting is discontinued and should be removed. No need to update the docs.
https://kubernetes.slack.com/archives/C1TU9EB9S/p1631301227145600?thread_ts=1631301044.145300&cid=C1TU9EB9S

[2021-11-04 20:20] #5999 closed

[2021-11-04 20:38] sandipanpanda opened #6201 "Remove APAC Coordinator Meeting from meetings in SIG Contributor Experience"
The APAC Coordinator Meeting is discontinued, so it can be removed from Meetings under [community management](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/README.md#community-management) in SIG Contributor Experience.

As discussed with Bob in SIG meeting of 27th October about APAC coordinator meeting - that meeting has been canceled for a while; there was a coord

[2021-11-04 20:38] sandipanpanda commented on #6201
Will make a PR to make the necessary updates.

/assign

[2021-11-05 00:07] #6201 closed

[2021-11-05 15:17] mbbroberg commented on #6003
Looking for someone to do a full review of this -- going through the scenario and reviewing the text along the way. Anyone interested?

[2021-11-06 07:07] pravarag commented on #5532
Hi @spiffxp @BenTheElder I've opened one more PR [here](https://github.com/kubernetes/community/pull/6127) for your review. Kindly let me know if any changes are required for the same.

[2021-11-06 21:20] Mohammed-0 opened #6206 "I don’t see any compelling reason not to do this in 1.10."
I don’t see any compelling reason not to do this in 1.10.

Lgtm but will let others weigh in as well.

_Originally posted by @smarterclayton in https://github.com/kubernetes/community/issues/1806#issuecomment-366153621_

[2021-11-06 21:21] Mohammed-0 commented on #6206
Fi—-1

[2021-11-06 21:23] Mohammed-0 opened #6207 "https://www.facebook.com/profile.php?id=100023180792508"
تشفير

[2021-11-06 21:24] Mohammed-0 commented on #6207
/sig <group-name>

[2021-11-06 22:17] dims commented on #6207
/close

[2021-11-06 22:17] #6207 closed

[2021-11-06 22:18] dims commented on #6206
/close

[2021-11-06 22:18] #6206 closed

[2021-11-07 03:30] Mohammed-0 opened #6208 "REQUEST: New communication about <topic>"
**What do you want send out?** (Please include a link to a draft)

- [] I agree that if this is urgent, I will @contributor-comms in #sig-contribex Slack.

[2021-11-07 03:33] MadhavJivrajani commented on #6208
/close

[2021-11-07 03:33] #6208 closed

[2021-11-08 15:41] dims commented on #5576
@Debanitrkl please send an email to sig-contribex and sig-docs about creating a github repository like the one mentioned in the url above and let us see who can help. Also add it to their meeting agenda please.

[2021-11-08 16:45] alisondy opened #6209 "Improving the contributor experience of sig contributor experience"
From the mentoring meeting 8th of November

- Better documentation around how folks can get involved in the sig
- More opportunities
- What guides do we need for folks to be able to contribute and get involved in the sig
- how do we surface this information on the contributor site

[2021-11-08 16:47] alisondy commented on #6209
/sig contributor-experience

[2021-11-08 16:48] narenarjun commented on #6209
Good to see would be :
- getting started with contributing to contributex-sig
- list of checklist
- what are the roles of a contributor in regards with the contributex-sig

[2021-11-08 17:22] alisondy opened #6210 "Contributor Celebration 2021 Umbrella Issue"
Issue to track the organisation of the contributor celebration

[2021-11-08 17:23] CIPHERTron commented on #6210
/sig contributor-experience

[2021-11-08 17:25] narenarjun commented on #6210
[TODO]  Need to create a git repo to document and track the progress

[2021-11-08 17:25] Debanitrkl commented on #6210
/area contributor-summit

[2021-11-08 17:45] sandipanpanda commented on #6210
Contributor Celebration 2021 Meeting Notes:
https://docs.google.com/document/d/10AgEBsTAvLP7eAvIOqen6Q47moLnc9ts5QcHMoRl6hI

Dropped it here just for reference.:relaxed:

[2021-11-08 17:46] narenarjun commented on #6210
[TODO] Need to tidy-up discord and discuss what how to structure the channels in discord

[2021-11-08 17:48] sandipanpanda commented on #6210
Maybe you can edit your previous issue to add this, reduces scroll time.

[2021-11-09 02:09] mrbobbytables commented on #5890
/lifecycle frozen

[2021-11-09 03:07] dims commented on #5576
see "Repository creation/migration" in https://github.com/kubernetes/org/issues/new/choose (no need to involve steering, you need a SIG to own this)

[2021-11-09 16:24] pierluigilenoci commented on #5712
/remove-lifecycle stale

[2021-11-09 16:24] pierluigilenoci commented on #5712
@stevehipwell we need to find someone to ping 😜

[2021-11-09 16:30] stevehipwell commented on #5712
@pierluigilenoci this issue might be obsolete now that projects have added charts to their repos?

[2021-11-09 16:43] pierluigilenoci commented on #5712
Make sense

[2021-11-09 20:20] justaugustus commented on #5515
/remove-lifecycle rotten

[2021-11-09 20:22] justaugustus commented on #5854
/remove-lifecycle rotten

[2021-11-09 20:27] justaugustus commented on #5886
/remove-lifecycle stale
/lifecycle frozen

[2021-11-09 20:28] justaugustus commented on #5855
/remove-lifecycle stale
/lifecycle frozen

[2021-11-10 03:53] #5798 closed

[2021-11-10 05:29] Debanitrkl commented on #6200
/area community-management

[2021-11-10 17:27] onlydole commented on #6072
Thank you, @parispittman! I'm in!

[2021-11-10 17:27] #6072 closed

[2021-11-10 17:53] parispittman commented on #5877
timeline:
nov 10th - tell leads [what is their action?]
dec 7th - next release date - don't push changes before this date
dec 13th - tell kdev cc/leads - 3 week heads up - [what is their action?]
jan 3 - flip / make the change

[2021-11-10 17:53] jdumars commented on #6088
Big +1 - and I would suggest a person + shadow(s) for this. It might also be good to have a calendar/schedule so there's continual coverage.

[2021-11-10 17:59] markyjackson-taulia commented on #6088
I am interested in this role. Having served as Slack, email, and YouTube moderator, I have knowledge and am also looking to get back in to contributing.

[2021-11-10 18:02] #4946 closed

[2021-11-10 18:02] #4952 closed

[2021-11-10 18:02] #4958 closed

[2021-11-10 18:25] jberkus commented on #6088
I was going to say: I don't see the point in having such a role *unless* we have a candidate for it.  But: if Marky is available, I'll happily +1 him.

Couple of bits of feedback, neither of which should be considered blockers, just so that we get the role description right:

* we need to poll the existing moderation teams and get their collab on this.  Otherwise it could be seen as "imposing mana

[2021-11-10 18:53] parispittman commented on #6043
/close

In

[2021-11-10 18:53] #6043 closed

[2021-11-10 18:53] parispittman commented on #6047
/close

in

[2021-11-10 18:54] #6047 closed

[2021-11-10 18:54] parispittman commented on #6042
in

/close

[2021-11-10 18:54] #6042 closed

[2021-11-10 19:02] #4945 closed

[2021-11-10 19:05] markyjackson-taulia commented on #4947
/remove-lifecycle rotten

[2021-11-10 19:14] markyjackson-taulia commented on #6088
I agree that this role would require more than 5 hours per week. 10 - 15 is more what I feel is needed, and I am up for that.
As for gather info from other moderators, this is a very good idea. I do feel this could be done in parallel with the building of the role.

[2021-11-10 19:47] parispittman commented on #5877
other communications needed:
tweets - when?
blog - when?

[2021-11-10 19:48] parispittman commented on #5877
leads@ and #chairs-and-techleads have been given notice

kdev moderators are in the loop as well (please comment here y'all if we are missing anything!)

[2021-11-10 20:16] justaugustus commented on #5877
Could we take the opportunity to shorten the address (given "Kubernetes" is implied in the domain name?

dev@kubernetes.io ?
discuss@kubernetes.io ?

[2021-11-10 20:20] mrbobbytables commented on #5877
I was thinking dev@kubernetes.io personally since we canonically know it as "k-dev"

might be dev-k now :P

[2021-11-10 20:27] justaugustus commented on #5877
Agreed, but I'm also thinking it'd be cool to get away from any connotation that it's only a "dev-focused" list (being one of our primary discussion forums for code/non-code contributors/users alike)

[2021-11-10 20:50] BenTheElder commented on #5877
It might be useful to have multiple lists this time, e.g. one that is upstream development specific and one that is broadly contributors to the organization?

e.g. hen we share documents, calendar invites etc., those should be open to anyone in the organization (otoh calendar invite volume is a real issue as well...).

whereas when we wind up needing to announce things like "we're removing bazel h

[2021-11-10 23:04] #4955 closed

[2021-11-11 21:39] pnbrown opened #6219 "REQUEST: New moderator for pnbrown of YouTube Channel"
### GitHub Username
@pnbrown

### Property you'd like to Moderate
e.g. discuss.k8s.io, kubernetes-dev
https://www.youtube.com/c/KubernetesCommunity

### Username on Property Requested
e.g. (at)property_user
pnigelbrown@gmail.com

### Requirements

- [] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have

[2021-11-12 14:01] wiggitywhitney opened #6222 "Update github-workflow diagram to change references from 'master' to 'main'"
https://github.com/kubernetes/community/blob/master/contributors/guide/git_workflow.png

[2021-11-12 14:03] wiggitywhitney commented on #6222
/sig contributor-experience

[2021-11-12 16:52] jberkus opened #6223 "Establish and Publicize Official Community Survey Process"
Comms,

Per today's meeting, we want to make it clear across the contributor base that there's an official survey process for putting out surveys to the community.  Messaging:

1. We can help with surveys and we have experience and surveymonkey and ability to promote on multiple channels
2. Process is [documented](https://github.com/kubernetes/community/blob/master/communication/requesting-survey.

[2021-11-12 23:51] jberkus commented on #6130
All the messaging is done.  Thanks!

/close

[2021-11-12 23:51] #6130 closed

[2021-11-13 08:52] AvineshTripathi commented on #4549
/remove lifecycle-rotten

[2021-11-13 08:54] AvineshTripathi commented on #4549
/remove-lifecycle rotten

[2021-11-13 08:57] AvineshTripathi commented on #4549
Hey @alisondy can you brief me more about this issue so I can get a report on this issue and maybe get this work done

[2021-11-14 01:19] CIPHERTron commented on #6222
/area github-management

[2021-11-14 11:59] sandipanpanda opened #6224 "Add links of respective Project Boards in SIG READMEs"
Project boards are a very useful feature, built like a spreadsheet, project tables give us a live canvas to filter, sort, and group issues and pull requests.

Kubernetes currently has 48 active project boards: https://github.com/orgs/kubernetes/projects, but they are undocumented in the SIG / WG READMEs.

This reduces visibility for new contributors on the SIGs' / WGs' are current status of work:

[2021-11-14 12:05] sandipanpanda commented on #6224
I am willing to help in making necessary changes if the community sees this as an issue.  I would love feedback or suggestions on this.

[2021-11-14 12:36] mrbobbytables commented on #6222
/remove-area github-management
/area contributor-guide

[2021-11-14 13:08] CIPHERTron commented on #6222
OOPS! My bad 😅

[2021-11-14 15:55] jayunit100 opened #6225 "Add more detailed example to vendor.md"
In the KPNG project were looking to have clear docs for newcomers on all the spaghetti we use to vendor kubernetes componenents.

https://github.com/kubernetes-sigs/kpng/issues/113

In the process maybe we can add that as a second example in the https://git.k8s.io/community/contributors/devel/sig-architecture/vendor.md

[2021-11-15 16:11] Debanitrkl commented on #3708
I guess this is already documented here https://github.com/kubernetes/community/blob/master/events/awards/playbook.md regarding the community awards and regarding the CNCF awards, it's here https://github.com/cncf/awards

[2021-11-15 17:11] parispittman commented on #6084
+1

this would be extremely useful and a good way to organize this work

[2021-11-15 17:12] parispittman commented on #6084
related: #4586

[2021-11-15 17:32] chris-short opened #6227 "Contributor Celebration 2021 Comms"
This issue is for the communications regarding the 2021 Contributor Celebration

The Celebration Umbrella issue is here #6210 

The HackMD I'm working from is here: https://hackmd.io/Rw5Lw09pTH-4mUGow40eSw

[2021-11-15 17:37] sandipanpanda commented on #6225
/sig architecture
/area developer-guide

[2021-11-15 17:40] sandipanpanda commented on #6227
/sig contributor-experience
/area contributor-comms

[2021-11-15 17:47] chris-short commented on #6227
@jeefy Let me know when you have a landing page URL, please.

@mrbobbytables How is this for initial comms? [https://hackmd.io/Rw5Lw09pTH-4mUGow40eSw#Initial-Comms](https://hackmd.io/Rw5Lw09pTH-4mUGow40eSw#Initial-Comms)

I could not find the original messaging from last year so if anyone has that feel free to pass it along here.

[2021-11-15 17:47] chris-short commented on #6227
/assign

[2021-11-15 17:52] Debanitrkl commented on #6227
https://groups.google.com/g/kubernetes-dev/c/eZ8BwZT9k9I/m/poDDvJwQBgAJ
https://groups.google.com/g/kubernetes-dev/c/qsXoUnFDwXk/m/DTC31bI9BgAJ
I guess these 2 are the only communications sent regarding contributor celebration last year

[2021-11-15 17:55] sandipanpanda opened #6228 "Wrong spelling of "webhook" in subproject-responsibilities.md"
The spelling of `webhook` in https://github.com/kubernetes/community/blob/master/github-management/subproject-responsibilities.md?plain=1#L10 is wrong: `webooks`, it should be `webhooks`.

/sig contributor-experience
/good-first-issue

[2021-11-15 18:42] sandipanpanda commented on #6228
/assign @ICEBERG98

[2021-11-15 19:07] shakeerahamed opened #6230 "Reactivate the slack account"
I have an account in the slack with email ID shakeer16590@gmail.com
When I tried to get my invite link it is showing user_disabled.
Could you activate my account.
Username : Skr
Email: shakeer16590@gmail.com

[2021-11-15 19:08] shakeerahamed commented on #6230
/commitee admins

[2021-11-15 19:10] anubha-v-ardhan commented on #6228
/assign @ICEBERG98

[2021-11-15 19:24] ICEBERG98 commented on #6228
/assign @ICEBERG98

[2021-11-15 19:40] sandipanpanda commented on #5535
We can use https://github.com/alex-page/github-project-automation-plus and modify it according to our requirements.

[2021-11-15 19:46] coderanger commented on #6230
I've emailed you to confirm you control the address, please respond to that email.

[2021-11-16 02:28] grosser opened #6232 "stale bot feedback message is not helpful"
[code]
... link to an issue template or say what to put in title/body

/sig contributor-experience

[2021-11-16 02:31] grosser opened #6233 "stale bot should not stale PRs that are clean rebase"
for example https://github.com/kubernetes/node-problem-detector/pull/429

"PRs that remain open for >150 days are unlikely to be easily rebased"
is often wrong and ideally it would check the PR for rebaseability
also the general "if we auto-close prs then the problem is solved" is pretty terrible approach to fixing "nobody is reviewing prs"

[2021-11-16 02:31] grosser commented on #6233
/sig contributor-experience

[2021-11-16 03:08] jeefy commented on #6227
Once https://github.com/kubernetes/contributor-site/pull/258 merges in, it will take over the `k8s.dev/celebration` alias. That's probably the best one for comms. :)

That said, we also have permalinks for each event, this one's being `k8s.dev/kcc2021`

[2021-11-16 03:19] #6228 closed

[2021-11-16 09:36] AvineshTripathi commented on #6232
Hey @grosser I am not sure won't this issue come under sig/testing as they are responsible for the bot and stuff. Correct me if I missed anything

[2021-11-16 13:58] mrbobbytables commented on #6232
contribex is the right one for this 👍
We have lifecycle commands to flag issues, `/lifecycle frozen` is used for long term issues.
For PRs, we have a lot of issues with them being abandoned and they SHOULD age out.

[2021-11-16 14:33] AvineshTripathi commented on #6232
Hey @mrbobbytables thank you for clarifying it :-)

[2021-11-16 15:05] #6175 closed

[2021-11-16 16:25] grosser commented on #6232
"we have a lot of issues with them being abandoned and they SHOULD age out."
they should only be age out if the requester abandons them and not the contributors
as in "last comment is by contributor -> age out"
so either contributor closes them say "not going to happen / this is bad" or contributor asks for changes and never gets replies, but not "we never looked at this PR, let's close it"

[2021-11-16 16:32] justaugustus commented on #6224
I think this would be a great idea!
In favor of the first option: supporting a field for project boards in the generator app

cc: @kubernetes/sig-contributor-experience @kubernetes/owners

[2021-11-16 16:32] mrbobbytables commented on #6232
I did say for PRs, they should age out and never be frozen.

For issues, if they're a long term issue they can be frozen to avoid the stale bot.

[2021-11-16 16:43] mrbobbytables commented on #6224
The generator and template would be the right place 👍

[2021-11-16 16:49] grosser commented on #6232
Yes, "abandoned PRs" should age out, but not "unreviewed PRs".

[2021-11-16 17:57] jayunit100 opened #6234 "sig-network/windows meeting recordings missing...."
i think our sig-network weekly videos arent getting recorded in the last month or so ?  @caseydavenport

i guess we need to fix something in the zoom recording ?

https://www.youtube.com/playlist?list=PL69nYSiGNLP2E8vmnqo5MwPOY25sDWIxb

sig-windows:  last update, Oct 20, 2021

sig-network: last update, Sept 13, 2021

sig-node: all recordings up to date (published yesterday)

Some screenshots i too

[2021-11-16 18:08] bridgetkromhout commented on #6234
I suggest that someone with those zoom credentials check to see if the missing meetings are in the recordings section of the zoom account.

I checked the "videos" (not just the playlists) and it seems like items may be sometimes uploaded in batches. Have we identified the normal course of how the zoom recordings make it onto youtube and into playlists?

[2021-11-16 18:46] mrbobbytables commented on #6234
The vids should be there, the hold up is that there have been no active YT admins to process the vids. For awhile now its pretty much just been me, and YT stuff frequently winds up the 5th thing on the list.

[2021-11-16 21:21] tpepper commented on #5734
Can you elaborate on this?

[2021-11-16 21:32] parispittman commented on #5734
For context to folks reading this, I asked @CsatariGergely to come and talk to us at a Steering Committee meeting, unfortunately it can't happen in December due to Nokia schedules. I offered a contribex meeting but the Steering Committee has decided that is not an appropriate venue for this conversation.

Speed up to now/the latest :)
@CsatariGergely, we'd like to welcome you and any other Nokia r

[2021-11-16 23:40] coderanger commented on #6230
Sorry for the delay, user has confirmed account control and it is now reactivated. @shakeerahamed you can do a password reset if needed.

/close

[2021-11-16 23:40] #6230 closed

[2021-11-17 05:24] MikeSpreitzer opened #6235 "Issues in the Kubernetes Resource Model write-up"
I read [https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/resource-management.md] carefully, and noticed some things.

1. The title and/or organization is a bit odd.  The document's title is entirely focused on resources, but look at the outline:
- first there is some introductory/background material, under no section heading, providing context --- and

[2021-11-17 05:25] MikeSpreitzer commented on #6235
@kubernetes/sig-api-machinery-misc

[2021-11-17 05:38] Debanitrkl commented on #6234
/sig contributor-experience
/area community-management

[2021-11-17 13:43] mrbobbytables commented on #6235
Design proposals are there for historical purposes only and not being updated, they do not reflect any current work within the project. Please see the root of the design proposals dir for more info:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/

/close

[2021-11-17 13:44] #6235 closed

[2021-11-17 15:03] MikeSpreitzer commented on #6235
@mrbobbytables : oh, sorry, I did not notice that it is only a design proposal.  I read it because a colleague cited it, also without awareness that it is only a design proposal.  It is easy to find by searching on the Internet.  We should have some maintained document on this subject.  Is there such a thing?

[2021-11-17 15:10] jayunit100 commented on #6234
so, theres no active youtube admins other then bobby ? wow !

[2021-11-17 15:11] mrbobbytables commented on #6235
The plan is to actually move all the design proposals out of k/community to an archived repo - we get a lot of people citing them or opening PRs to fix links etc in them =/

It's on the owning SIGs to do what they want with each set of docs. Some maintain up to date copies in their devel directory, but it really varies from sig to sig.

[2021-11-17 15:16] endocrimes commented on #6234
@mrbobbytables happy to help spread the load a bit if needed

[2021-11-18 07:41] vaibhav2107 commented on #5738
/remove-lifecycle stale

[2021-11-18 08:05] rajaskakodkar commented on #6234
I am happy to help as well on this :)

[2021-11-18 17:06] pnbrown commented on #6219
Requested membership to Kubernetes in #3105
https://github.com/kubernetes/org/issues/3105

[2021-11-18 19:40] justaugustus commented on #6180
cc: @kubernetes/sig-architecture @kubernetes/release-engineering

[2021-11-19 14:31] #4830 closed

[2021-11-19 16:40] pnbrown commented on #5201
Gonna be helping sort out some automated posting.

[2021-11-19 16:44] pnbrown commented on #4175
Related to https://github.com/kubernetes/community/issues/5201

Will be working on it.

[2021-11-19 22:22] markyjackson-taulia opened #6241 "REQUEST: New moderator for markyjackson-taulia of Slack, YouTube, Zoom, Discuss"
### GitHub Username
markyjackson-taulia

### Property you'd like to Moderate
Youtube, Slack, discuss.k8s.io, kubernetes-dev, and zoom

### Username on Property Requested
@markyjackson-taulia

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies

[2021-11-19 23:13] markyjackson-taulia commented on #6241
/assign @markyjackson-taulia

[2021-11-20 22:12] mrbobbytables commented on #5823
/close

The summit is over

[2021-11-20 22:12] #5823 closed

[2021-11-21 12:33] sandipanpanda commented on #4001
/reopen
/lifecycle frozen

[2021-11-21 12:45] pom11 commented on #4001
Alternative https://github.com/mkimuram/k8sviz

[2021-11-22 14:57] mrbobbytables commented on #6234
@endocrimes @rajaskakodkar thank you!
If you could, please fill out [Moderator request form](https://github.com/kubernetes/community/issues/new?assignees=&labels=area%2Fcommunity-management%2C+sig%2Fcontributor-experience&template=moderator_application.md&title=REQUEST%3A+New+moderator+for+%3Cyour-GH-handle%3E+of+%3Ck8s+property%3E).

[2021-11-22 19:19] #6123 closed

[2021-11-22 23:49] justaugustus commented on #5344
@jlbutler -- Have we had a chance to make improvements here?

/remove-lifecycle stale
/lifecycle frozen

[2021-11-23 17:00] mrbobbytables opened #6251 "Convert Issue Templates in community repo to GitHub Forms"
It would be useful to convert the k/community [issues templates](https://github.com/kubernetes/community/tree/master/.github/ISSUE_TEMPLATE) to the new [GitHub Issue Forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/). They have been used in several repos and have worked out quite well.

Supporting material:
- [GitHub Issue Form Syntax Reference](https://doc

[2021-11-23 21:10] parispittman commented on #5877
@BenTheElder what if we moved the latter (upstream dev) to discord and/or slack only and not a mailing list?

also curious if folks in contributor comms have thoughts there re: two upstream mailing lists with separate purposes
area/contributor-comms

[2021-11-23 21:11] parispittman commented on #5877
@mrbobbytables @justaugustus - upstream@kubernetes.io? (contributors@ is already in play for the official comms)

[2021-11-23 21:20] BenTheElder commented on #5877
Slack might work, but kubernetes-dev@ has had a pretty solid signal / noise ratio *for the purpose of subscribing to upstream-developer facing updates* at least, whereas the closest current slack channel `#kubernetes-contributors` I don't think many are monitoring due to amount of other posts (e.g. lots of end-users wind up there asking questions, which does get moderated, but not before notifying

[2021-11-23 21:31] BenTheElder commented on #5877
Maybe those development announcements should just be rolled into the one overall contributors mailinglist and not split out, but in either case I would advocate for something other than "dev" for that name, that more clearly encompasses all contributors. To me at least "dev" sounds like a reference to writing code. It's too bad we already use `contributors@`.

[2021-11-23 21:47] parispittman commented on #5877
+1 on discord and employers, forgot about that.

I'm still on the positive with #kubernetes-contributors on slack because we can automate the kdev mailing list comms in there now we just don't because of time to do and think about the thing. moderation has made it infinitely better already.

would it be possible to sideline the convo about announcements channel / how we communicate announcements a

[2021-11-23 21:51] BenTheElder commented on #5877
Absolutely 🙏,  just with the related sticking point that maybe "dev" isn't quite the name we're looking for, for broad community-wide calendar invites etc.?

[2021-11-23 22:00] parispittman commented on #5877
100% same page @BenTheElder  - lemme update the issue too

[2021-11-23 22:22] mrbobbytables commented on #5877
Sadly we can't do this with slack, we only get one channel that is restricted to who can post there 🙃

Yes

I do think they should all be rolled into 1 list, there really isn't much comms on k-dev currently and its mostly contributor announcements - more discussions take place on the sig-specific mailing lists.

👍

Maybe we could repurpose community@kubernetes.io?

We've used it in the past for ev

[2021-11-23 22:28] caniszczyk commented on #5877
Another idea is to use something like github discussions for k-dev?

It seems to be working well for some CNCF projects
https://github.com/linkerd/linkerd2/discussions

And bigger projects like Node and Tailwind:
https://github.com/nodejs/node/discussions
https://github.com/tailwindlabs/tailwindcss/discussions

GH Discussions also can allow you to filter by announcements etc

On Tue, Nov 23, 2021

[2021-11-23 22:39] BenTheElder commented on #5877
SIG Testing has been trialing GitHub discussions and no-one will use it, probably because our github inboxes are already a tire fire : (

[2021-11-23 22:40] mrbobbytables commented on #5877
We share docs with k-dev (acls) and a good chunk of our contributors really want to stick with mail - we saw this when we brought up migrating to discourse.

Discussions also have a lot of moderation issues (aka its 100% on the github admins to handle or we create a new repo with new people with admin access) =/

[2021-11-24 00:56] spiffxp commented on #5532
/milestone v1.24

[2021-11-24 00:58] #5532 closed

[2021-11-24 16:24] Debanitrkl commented on #6251
I guess you both @simrangupta234 and @sandipanpanda are doing the same changes, it should be better if you folks should coordinate between each other and take up a part of it and work

[2021-11-24 16:42] Debanitrkl commented on #6251
/remove-help

[2021-11-24 16:54] simrangupta234 commented on #6251
Yes, you are right but I'm done from my side.

[2021-11-24 20:09] chris-short commented on #6227
Save the date sent on Nov 19th: https://groups.google.com/g/kubernetes-dev/c/lwGJo57PVGw

[2021-11-29 17:54] parispittman commented on #6219
invited

/close

[2021-11-29 17:55] #6219 closed

[2021-11-30 09:15] smallAttr opened #6256 "Why do you think resp.StatusCode = 200 is a failure?"
[source code](https://github.com/kubernetes/apimachinery/blob/master/pkg/util/httpstream/spdy/roundtripper.go)

`func (s *SpdyRoundTripper) NewConnection(resp *http.Response) (httpstream.Connection, error) {
	connectionHeader := strings.ToLower(resp.Header.Get(httpstream.HeaderConnection))
	upgradeHeader := strings.ToLower(resp.Header.Get(httpstream.HeaderUpgrade))
	if (resp.StatusCode != http.Sta

[2021-11-30 09:25] coderanger commented on #6256
Hi there, this repository is used for tracking community business and logistics. It looks like that's some code from https://github.com/kubernetes/kubernetes so that would be the place to ask in the future. But as to your specific question, that code is doing a protocol switch from HTTP to SPDY so a 200 OK response would indicate the server didn't understand the request for a protocol change which

[2021-11-30 09:25] #6256 closed

[2021-11-30 17:49] sandipanpanda commented on #5972
May be fixed by #6253

[2021-12-01 03:30] CIPHERTron commented on #6251
/area github-management

[2021-12-01 15:11] MadhavJivrajani commented on #6055
👋🏼
Over the past couple of days, we've worked towards moving design proposals to a separate repository that will be permanently archived. The approach mentioned in the issue description is not followed due to concerns raised on the mailing list and the preferred approach was to create a new repo and permanently archive them.

Post communication on the mailing list, there has been conversation on t

[2021-12-01 16:32] AvineshTripathi commented on #5425
forgot about this ;)
/assign

[2021-12-01 16:35] daemon1024 commented on #5425
/assign

[2021-12-02 02:58] justaugustus commented on #5515
/close ref: https://github.com/kubernetes/community/pull/5612#issuecomment-983986794

[2021-12-02 03:02] justaugustus commented on #5515
/close

[2021-12-02 03:02] #5515 closed

[2021-12-02 03:37] MadhavJivrajani commented on #6055
The relevant k/community PRs are merged:
https://github.com/kubernetes/community/pull/6259
https://github.com/kubernetes/community/pull/6258

And the repo has been updated and archived: https://github.com/kubernetes/design-proposals-archive

Closing!
/close

[2021-12-02 03:38] #6055 closed

[2021-12-02 03:39] MadhavJivrajani commented on #2565
The relevant k/community PRs are merged:
https://github.com/kubernetes/community/pull/6259
https://github.com/kubernetes/community/pull/6258

And the repo has been updated and archived: https://github.com/kubernetes/design-proposals-archive

Closing!
/close

[2021-12-02 03:39] #2565 closed

[2021-12-02 03:52] justaugustus commented on #5635
(cleaning up SC project board)
/unassign @spiffxp @cblecker @nikhita @mrbobbytables
/help

[2021-12-02 13:28] mrbobbytables commented on #5981
I am +1 for separate ML for calendar invites, but I would hold off on doing anything like that right now and make it a standard pattern when sigs start to migrate to kubernetes.io managed groups.

[2021-12-02 13:31] saschagrunert commented on #5913
Since the general interest seems high: Do we have any update on this?

/remove-lifecycle stale

[2021-12-02 14:24] mrbobbytables commented on #6125
@jberkus @coderanger @alisondy think this can be closed? We did hold the retro; there are a few follow up items on for the next SC meeting, but I think thats it.

[2021-12-02 19:23] CIPHERTron commented on #6227
https://www.kubernetes.dev/events/kcc2021/

@chris-short here's the link to the landing page if you're still looking for it.

https://k8s.dev/kcc2021
This also works!

[2021-12-02 20:30] parispittman commented on #5913
@saschagrunert I'm swamped but if anyone reading this would like to help out, please do. The next steps would be to get a quote from the above and work out a package. After, we will need to do a funding request through Steering Committee.

/help
new contributors may have a hard time with this one and thus not putting good-first-issue

[2021-12-02 20:40] jberkus commented on #6125
I still need to upload the ballots, and then I'll close.

[2021-12-03 00:07] jberkus commented on #6125
Uploaded.

/close

[2021-12-03 00:07] #6125 closed

[2021-12-03 01:58] ahg-g opened #6263 "Form a Batch Working Group"
Kubernetes historically focused on service-type workloads, support for load balancing, traffic splitting, rolling-updates, spreading, autoscaling and topology-aware routing are few examples of features the community built for service workloads. Stateful workloads are also getting more support with the introduction of CSI, topology-aware volume provisioning and storage capacity tracking to mention

[2021-12-03 02:23] ArangoGutierrez commented on #6263
++

[2021-12-03 02:26] ArangoGutierrez commented on #6263
Also [NFD](https://github.com/kubernetes-sigs/node-feature-discovery) project with
https://github.com/kubernetes-sigs/node-feature-discovery/pull/525

[2021-12-03 02:40] rochaporto commented on #6263
4. seems to be giving a 404.

[2021-12-03 02:49] ahg-g commented on #6263
Updated the link

[2021-12-03 03:01] yuzhiquan commented on #6263
/cc

[2021-12-03 04:49] MadhavJivrajani commented on #6263
/cc @kubernetes/steering-committee

[2021-12-03 06:41] Debanitrkl commented on #6003
Thank you for all the reviews and help, the [host repository](https://github.com/kubernetes-sigs/contributor-katacoda) for the katacoda-scenario has been created. So closing the issue
/close

[2021-12-03 06:41] #6003 closed

[2021-12-03 06:43] Debanitrkl commented on #5576
The [repository](https://github.com/kubernetes-sigs/contributor-katacoda) for the katacoda-scenario has been created and the first basic tutorial is prepared, so closing the issue.
/close

[2021-12-03 08:22] kniec commented on #6263
++

[2021-12-03 09:14] denkensk commented on #6263
+1

[2021-12-03 09:15] denkensk commented on #6263
Add CapacityScheduling for batch workloads
https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/capacityscheduling

[2021-12-03 10:10] kerthcet commented on #6263
+1

[2021-12-03 15:27] alculquicondor commented on #6263
cc @kubernetes/steering-committee

@soltysh for SIG apps

[2021-12-03 16:58] ajyounge commented on #6263
Yes please!

[2021-12-03 17:17] oshi36 opened #6268 "Marketing Council links are not working"
[In this](https://github.com/kubernetes/community/blob/master/communication/marketing-team/CHARTER.md) marketing council links are broken and need to be fixed for Kubernetes upstream marketing contributor communications team.

[2021-12-03 17:18] oshi36 commented on #6268
/assign

[2021-12-03 18:13] hiboyang commented on #6263
This will be great! We have been running Spark on Kubernetes for one year, and have to work around multiple issues. It will be very valuable to have Batch SIG/WG to enhance Kubernetes in this area. Would love to join and contribute to this effort!

[2021-12-03 18:29] chenya-zhang commented on #6263
+1 this is wonderful

[2021-12-03 18:42] Debanitrkl commented on #6268
/sig contributor-experience

[2021-12-03 18:42] Debanitrkl commented on #6268
/area contributor-comms

[2021-12-03 21:19] chris-short commented on #6227
Another message went out today: https://groups.google.com/g/kubernetes-dev/c/8b4rLkNEx48

Expectation is another message with more details will go out the next two weeks.

[2021-12-03 21:25] chris-short commented on #6223
Found this today during the Upstream Marketing meeting: https://www.kubernetes.dev/resources/services/#surveys

[2021-12-03 23:39] k82cn commented on #6263
Honestly, prefer to have a WG in CNCF to align other implementation for batch workload, e.g. Volcano & YuniKorn.

[2021-12-04 00:07] mrbobbytables commented on #6263
There can be collaboration between the two. The big thing is for work to be done within kubernetes, especially within k/k, a kubernetes organizational unit (sig/wg/subproject) makes sense. Especially as one or more SIGs within the org will be responsible for long term maintenance and stewardship of the code, not an external project or organization.

[2021-12-04 00:13] yangwwei commented on #6263
Greetings from the [Apache YuniKorn (Incubating)](https://yunikorn.apache.org/) community, we love to join this effort in order to build a common API for batch scheduling.

[2021-12-04 00:53] k82cn commented on #6263
hm... my major concern is that: this common API will dependent on k/k's progress and implementation instead of common requirements :)

Two simple examples :
-  `Queue` is one of common & major concepts of batch system, but there's not more discussed after my first proposal. So will we introduce this concept without implementation in k/k? And how about the other concepts ?
- `spec.scheduleTimeoutSe

[2021-12-04 05:58] daemon1024 commented on #5425
1. Where will this job/code reside in?
2. How do we import constructs from generator and label_sync tools?
	We were testing things out by building a local tool and we needed structures to read out the YAML files like

[2021-12-05 06:25] MadhavJivrajani commented on #5663
/remove-lifecycle rotten
/lifecycle frozen

[2021-12-06 06:47] abin-tiger commented on #6263
+1

[2021-12-06 15:19] alculquicondor commented on #6263
Specific implementation details are not decided. That's precisely why we need the SIG/WG. I agree with @mrbobbytables, even if there is a CNCF WG, we still need to close gaps in kubernetes.

We don't necessarily need a `Queue` API (although that's to be decided). For example, [suspended jobs](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2232-suspend-jobs) allows the impleme

[2021-12-06 17:39] liggitt commented on #1913
/assign

[2021-12-06 17:42] tpepper commented on #5913
/assign @tpepper @parispittman

...to add some effort focus as the new year starts.

[2021-12-06 17:44] justaugustus commented on #4289
/assign @mrbobbytables
(from 12/6 Steering public meeting)

[2021-12-06 17:57] justaugustus commented on #5092
/assign
(from 12/6 Steering public meeting)

[2021-12-06 18:17] tpepper commented on #5092
Something mentioned by @jberkus today was an idea of having the specific org in question meet (privately?) to decide (criteria ambiguous?) which subset of their elected folks would carry on after exceeding the maximal representation.  I very much dislike this.  I dislike this concept.  It feels contrary to https://github.com/kubernetes/steering/blob/main/elections.md#limiting-corporate-campaigning

[2021-12-06 23:46] cblecker commented on #5092
I agree with @tpepper 's thoughts here mostly. I'm not sure how the conflict of interest issue would apply here, but the idea that multiple members of a specific employer would meet and decide who would take the seat doesn't align with the idea that the community chooses its representatives.

If a particular member of the SC wishes to step down for some reason, my suggestion would be they just do

[2021-12-07 16:39] jberkus commented on #5092
So that sounds like a -1.  If someone from the SC wants to close this, that will decide it.

[2021-12-07 17:24] raravena80 commented on #6263
We just had a CNCF TOC meeting today and this issue came up. Just FYI the CNCF WG issue: https://github.com/cncf/tag-runtime/issues/38

[2021-12-07 17:45] parispittman opened #6273 "[ML Migration] comms to be drafted for kubernetes-dev migration"
#5877 - umbrella issue

comms to be drafted [help us with this! comment below with suggestions for each]

To Send:
**~Jan 2nd**
5: welcome email post migration
send from dev@kubernetes.io

Subject: dev@kubernetes.io: welcome to the new home for Kubernetes contributing discussions

Body:
Contributors,

Please update your contact lists to dev@kubernetes.io (old: kubernetes-dev@googlegroups.com). The

[2021-12-07 17:47] parispittman commented on #6273
/sig contributor-experience

[2021-12-07 18:00] parispittman opened #6274 "[ML Migration] group name for new k-dev mailing list"
umbrella #5877

TIMEBOX ON VOTE: Tuesday, Dec 14th 1pm PT

this warrants a separate issue so we can poll/vote/decide on the naming convention for the upcoming mailing list migration from kubernetes-dev@googlegroups to __@kubernetes.io

purpose of the group:
news and events closest to the source; the contributors and owners

options - please use emoji reactions per option for your vote:

1- dev@kub

[2021-12-07 19:54] parispittman opened #6275 "[ML Migration] Post migration: kdev mailing list"
Umbrella #5877

Things to do once the group has been created.

1. run a cs.k8s.io on k-dev@ and kubernetes-dev@ and change all respective instances to dev@kubernetes.io (https://groups.google.com/a/kubernetes.io/group/dev)
1.5 also google it to see what comes up and make the changes to the front page search results
  -pull for community repo #6311
  -need to look at all repos
  -need to look at go

[2021-12-07 19:55] parispittman commented on #6275
/sig contributor-experience

[2021-12-08 12:16] chris-short commented on #6200
The survey looks good.

As far as communicating goes, I'd legit hound OWNERS. Open a time period for the survey, email OWNERS three times throughout the time period (reminding fellow OWNERS to tell their friends who are also OWNERS), and maybe email to k-dev at least once (a message of encouragement to take the survey).

[2021-12-08 12:24] chris-short commented on #6273
Are we going to do any forwarding/duplication for a short period after the migration?

I'm concerned about the level of effort and timing of that effort. Maybe there's a way to shortcut the timing. I'd encourage leads to add the new list to docs before it's officially live because there are going to be brand new contributors who won't know about ye ole list or conversely only know about ye ole lis

[2021-12-08 14:12] alculquicondor commented on #6263
To add a bit more towards having a SIG Batch.

We need a venue to discuss what is the best way to support batch workloads in Kubernetes. Everyone writing controllers for kubernetes should be welcome to collaborate, but we ultimately need to decide what works within the kubernetes architecture.

I think a CNCF WG could dictate orchestrator-agnostic APIs or best practices, but it shouldn't dictate h

[2021-12-08 15:43] liggitt commented on #6263
_Some_ group within Kubernetes makes sense to me, but I have a hard time seeing a distinct scope for a SIG. The description of the batch work so far seems to sit at the intersection of sig-apps and sig-scheduling (and _maybe_ sig-autoscaling and sig-node, though that's less clear).

Thinking about each of the group options (sig, subproject, or working group), how would you envision the batch discu

[2021-12-08 16:07] parispittman commented on #6273
@chris-short no duplication needed. the list isn't being deleted - only new members won't be able to be added and no new messages will be able to be sent.

[2021-12-08 17:43] nimbinatus commented on #6274
what about builders@ ?

[2021-12-08 17:44] jberkus commented on #6274
Vote here for dev@

The existing lists can't easily be repurposed.

projectname-dev@ is a common convention as the "first" mailing list for many OSS projects, so I believe that folks are used to it even if they aren't aware of what "dev" is short for.

"upstream", in my experience, is not a familiar term to a lot of people, particularly those for whom English is not their first language.

[2021-12-08 17:46] jberkus commented on #6275
2. is going to be a HUGE effort.  Don't forget that many, many docs don't belong to current leads.  We need to treat that task as the major, months-long effort that it will be; we need a team in charge of it.

[2021-12-08 17:47] jberkus commented on #6275
Also:

What about ownership of calendar items?

[2021-12-08 17:49] pnbrown commented on #6274
supporter@ ?

I also like builder

[2021-12-08 18:07] #6241 closed

[2021-12-08 18:19] sandipanpanda commented on #6274
How about to appreciate and honor any and every type of contribution that people have made to the Kubernetes community so far, we rename it to
people@kubernetes.io. :heart:

[2021-12-08 18:24] yuanchen8911 commented on #6263
Just wanted to throw out some high level thoughts on the common requirement of k8s batch support.
- Job queue and lifecycle management
   - [kube-queue](https://github.com/kube-queue/kube-queue)
   - [volcano](https://github.com/volcano-sh/volcano)
-  Advanced scheduling: gang scheduling, capacity scheduling, GPU bin packing, topology-awareness, etc.
   - Available scheduler plugins: https://githu

[2021-12-08 18:53] markyjackson-taulia opened #6279 "REQUEST: New communication reviewer added to owners"
Adding markyjackson-taulia to comms reviewer per @parispittman

[2021-12-09 00:04] yuanchen8911 commented on #6263
Put aside the different ideas, shall we work together as a single virtual team to create a common forum/group for the topic? @ahg-g, @k82cn, @Huang-Wei , @rochaporto @raravena80

[2021-12-09 00:24] k82cn commented on #6263
That's my concern about the Batch System API/Specification. Most of batch system have `Queue` concept, and it's accepted by most of user; but it seems it'll not include in k/k.

`suspended jobs` is different feature for different scenrios, it's not related to Queue :)

We're going to have a common specification for batch system in CNCF, and have a group of CRDs accordingly.

My major concern is th

[2021-12-09 00:27] k82cn commented on #6263
+1, that's why I prefer to host a WG in CNCF to work together cross the community :)

[2021-12-09 01:32] Huang-Wei commented on #6263
Not quite. I'm open to defining some API like `Queue` even if it's not implemented in k/k yet.

We can see the values of defining generic batching APIs, and I think that's the common goal. It's just we should make it generic and implementation ignostic from day 1, and ensure the APIs to be extensible and backward-compatible.

A key aspect is where to host the APIs: (1) native k/k API from day 1, (

[2021-12-09 01:33] william-wang commented on #6263
+1. It's great that there will be a group in CNCF to discuss the batch scheduling and accelerate the process.

[2021-12-09 01:50] ahg-g commented on #6263
Exactly, the WG may well collaborate on a queue api hosted in k/k. Those are object APIs, k8s-level interfaces, they need to be hosted in k/k if core kubernetes were to support them.

CNI/CRI/CSI are not object APIs, they are communication interfaces that allows portability across container orchestrators, not k8s-related projects. CNCF can't define object APIs for core k8s, it is the other way aro

[2021-12-09 02:27] k82cn commented on #6263
If it's not implemented in k/k, why define this in k/k? IMO, CNCF is a good place to host such kind of specification cross communities.

Does that mean other community have to use k8s scheduling framework and dependent on its progress ?
CRD gives more convience for all developers to build cloud native ecosystem.

How do we define "core" API?

re CNI/CRI/CSI: it's more about specification instead o

[2021-12-09 02:52] ahg-g commented on #6263
I disagree with the not implemented part. If we are to have an api defined under https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/api, it needs to have an implementation.

No, I didn't refer to the scheduler framework, I was talking in general about object apis. CRDs allow extending k8s without hosting those apis in core k8s. It does not make sense to me that we define a CRD

[2021-12-09 07:15] k82cn commented on #6263
Does that mean if any new common requirement, we have to implement it in k/k before other community?

Fistly, I don't think batch system is core to k/k. Schedulilng framework already helps users to build related features, and a common CRD cross communities is better for all related projects. Why do we want to move it into "core" API? Is there any block issue that CRD + framework can not handle?

H

[2021-12-09 10:15] justaugustus commented on #6274
Maybe a bit of an internet colloquialism, but we are actively renaming a bunch of our default repo branches to it...
What about main@ ?

[2021-12-09 12:33] sudheerpodila opened #6282 "terminationmessage path and policy not working as expected"
I am using below configuration to log the abrupt disruption in pods using terminationMessagePath as terminationMessagePath: /tmp/message-log and terminationmessagePolicy as terminationMessagePolicy: FallbackToLogsOnError
but when the pods are getting restarted I am just seeing the path getting created as:
-rw-rw-rw- 1 root root 0 Sep 12 18:13 message-log

but file size is always of 0 byte.
Is this

[2021-12-09 12:45] Debanitrkl commented on #6282
@sudheerpodila this is not the right place to put up this issue.
I'm not sure if this issue is with k8s itself or with the EKS. If it's the former case then you should put the issue here https://github.com/kubernetes/kubernetes/issues or ask in Kubernetes slack under #kubernetes users channel someone will help you out.

[2021-12-09 12:47] Debanitrkl commented on #6282
/close

[2021-12-09 12:48] #6282 closed

[2021-12-09 13:20] mrbobbytables commented on #6274
After thinking more about it, I'm still in favor of referring to it as 'dev'. Contributors or community would be my general go-to options, but those are taken by other community owned accounts. The other thought of discuss already references our end user forum. I think we're stretching it trying to find other terms.  It's also the pattern we've asked people to follow when creating slack channels:

[2021-12-09 13:45] ahg-g commented on #6263
There are no mandates in any form or shape in whichever way we go, k8s is extensible and doesn't preclude any direction. But to answer your question, if an API has enough momentum to be implemented as an extension to an existing k/k controller or in a new controller that complements existing ones, then it has to live in k/k.

but that doesn't add up with the

CRDs don't unify the whole cloud nativ

[2021-12-09 15:21] Atharva-Shinde commented on #6274
These are the names I came up with as I was thinking of names describing the purpose of the mailing list-
1. discussions@kubernetes.io
2. forums@kubernetes.io

[2021-12-09 16:03] #5080 closed

[2021-12-09 17:03] #5712 closed

[2021-12-09 18:41] yuanchen8911 commented on #6263
+1.

"_Batch is not k8s-only_", but we are discussing k8s support for batch.  IMHO,
1. The solution (either as core features/APIs inside k8s or k8s extensions as CRDs, plugins and controllers) should be part of kubernetes.
2.  Which functions/features are core k8s objects/ APIs and what are extensions as CRDs/controllers need to be carefully evaluated, tradeoff between extensibility, performance,

[2021-12-09 21:12] reagul commented on #6263
++

[2021-12-09 22:11] sk8forether commented on #6263
I just have a few questions to better understand the scope:
As a k8s user, can I expect the outcome of this project to mean Slurm integration and job scheduling will become a supported feature for k8s clusters?  (Or at least that this integration is one of the goals?)  Will this include MPI jobs on single and multi-node clusters?

And would this integration work hand-in-hand with Singularity/Appta

[2021-12-09 22:23] vsoch commented on #6263
++ and I'm wondering how much closer will we be able to get to a k8s cluster acting / feeling a little more like HPC (as someone that is surrounded by it and would absolutely love to use Kubernetes instead!)

[2021-12-09 23:02] cblecker commented on #6273
Wording in the Dec 8th e-mail mostly LGTM. One question:
The date Jan 2 is used in one place and Jan 3 in another.. which date is it?

[2021-12-10 00:23] parispittman commented on #6263
based on the conversation so far, it sounds like a working group would be your best bet as it would cross multiple sigs (apps and scheduling at the very least) with a scoped defined time period as working groups are intended to be temporary. the code can live with one of the sponsoring sigs after completion or a sig can be formed (example: wg-k8s-infra to sig-k8s-infra).

https://github.com/kubern

[2021-12-10 00:49] raravena80 commented on #6263
My 2 cents,

The community can organically decide on how they want to work/collaborate, but for clarity CNCF TAGs were setup to encompass all cloud native open source projects.  So from that point of view whether it can be a K8s WG or a CNCF WG, it depends on the scope. If the work/collaboration is going to be only K8s then it can be a K8s WG, if the scope is wider than K8s then it can be a CNCF W

[2021-12-10 03:00] k82cn commented on #6263
+100 to that, it's better to have a CNCF WG to define the specification cross the projects in CNCF (or maybe broader); and generated CRD/gRPC for all projects to align. It's up to the project to decide to import the CRD directly, or re-implement it themself.

Recap my question above: there're several projects were built based on CRDs in CNCF, which CRDs will be the "core" API of k/k in the future?

[2021-12-10 03:23] ahg-g commented on #6263
Good questions, and I have one general answer.

This is not a single project, it is a working group that will try to advance the batch case across k8s components. Kubernetes have a process for proposing new features called the KEP process, it goes through sig-specific review (if the changes touches node for example, then sig node will have to approve it, if we plan to add a new controller to kube-

[2021-12-10 03:23] tao12345666333 commented on #6274
How about called kube-daily@ ?

Because it will contain news and events and some other information.

[2021-12-10 03:27] ahg-g commented on #6263
In my opinion, any batch enhancement is in scope and wroth discussing. My answer to this question is similar to  https://github.com/kubernetes/community/issues/6263#issuecomment-990576076. I want to stress we are not proposing a project, we are proposing a forum to discuss and advance the batch use case within k8s.

For example, if the HPC enhancement is NUMA-aware placement, then it is within the

[2021-12-10 03:37] ahg-g commented on #6263
Thanks Ricardo, I completely agree it is all about collaborating and getting work done.

This is a proposal to form a working group focused on k8s, hence it is in the k8s repo. The group will ideally include experts and contributors to k8s from different sigs who are able to advice and help shape new batch-focused enhancements to k/k. It can certainly collaborate with other groups like CNCF TAGs,

[2021-12-10 03:44] ahg-g commented on #6263
I think I somewhat indirectly gave my opinion on this question. There are no mandates in any form or shape in whichever way we go. k8s is extensible and frameworks built on top of k8s can choose to depend on the default behavior offered by some of k/k hosted controllers, or alter it and offer its own implementations.

In my opinion, k/k shouldn't depend on externally defined object APIs because k/

[2021-12-10 03:57] ahg-g commented on #6263
I agree. I think a working group is the right first step. It will help cultivate expertise across sigs first to help grow strong sig-k8s-batch TLs with ownership of batch specific sub pkgs of existing components.

[2021-12-10 04:06] ahg-g commented on #6263
I think there is a difference. Part of the community is focused on improving the default/core (not sure how else I can describe it) Kubernetes support for batch, and want to develop ownership of those enhancements within k/k even if it takes longer to land. The reason is that k/k has strong commitment towards  production readiness, backward compatibility and API stability. We are proposing to form

[2021-12-10 04:25] denkensk commented on #6263
I think even if the WG is built under Kubernetes, that doesn't mean we can't work with other projects under CNCF. We even need to collaborate with other communities not part of CNCF, like Spark and Kubeflow.

[2021-12-10 12:40] soltysh commented on #6263
I'm in the similar camp as a lot of previous comments, let's start simple figure out the outcomes and start with a WG, what follows will depend on the output of the work of that WG.

[2021-12-10 14:57] shambannaa commented on #6186
@mrbobbytables sorry for delay my email id is
echidna.shambu@gmail.com

[2021-12-10 16:55] parispittman commented on #6275
@jberkus calendar invites should be owned by the SIGs shared calendar for events https://github.com/kubernetes/community/blob/master/communication/calendar-guidelines.md#establishing-a-new-meeting

and then shared with contributors@ with full access to change

[2021-12-10 18:19] #4953 closed

[2021-12-10 19:01] riking commented on #6263
I agree with the proposal to start a WG, keeping an eye on exactly how much code ownership ends up involved to decide on whether to turn it into a SIG.

Batch is unlikely to outright own code for a major k/k component, and instead needs to coordinate interlocking changes across several components.

[2021-12-10 19:12] yuanchen8911 commented on #6263
May I try to summarize the debate and the perspectives of both sides?

Users (@k82cn's proposal): the key goal is a full functional batch (eco)system to run in k8s. The focus will be on features (close to YARN, SLURM, Volcano, Yunikorn, etc), the compatibility with existing batch frameworks, a broad collaboration and a large scope across multiple projects and communities.

Kubernetes teams (@ahg-g

[2021-12-10 19:48] ahg-g commented on #6263
I feel we have reasonable support to at least send a proposal, we will do so Monday and let this bake over the weekend.

[2021-12-10 19:49] ravisantoshgudimetla commented on #6263
+1 to the wg

[2021-12-10 19:49] dims commented on #6263
sounds like a plan @ahg-g

[2021-12-10 20:22] Huang-Wei commented on #6263
+1 to the batch wg.

[2021-12-10 23:01] parispittman commented on #6275
/help-wanted

[2021-12-10 23:02] parispittman commented on #6088
folks: #6278
your reviews would be very appreciated. thank you!

[2021-12-11 00:35] k82cn commented on #6263
It's more about the rule to define "core" API instead of implementation.

That's ok if this WG only focus on k/k. And CNCF WG will try to align differentiation cross CNCF projects.

[2021-12-12 04:16] shambannaa commented on #6186
@nikhita  @coderanger  @mrbobbytables  can you please help ?.

[2021-12-12 09:38] hex108 commented on #6263
+1, there are more and more batch workloads running on Kubernetes, and we are running big data applications on it.

[2021-12-12 23:27] mrbobbytables opened #6288 "Request: Tool to scan OWNERS files for sig labels"
A small script or program to scan a dir path for OWNERS files and report on any sig labels found within any ONWERS file it discovers.

This tool will serve 2 purposes:
1) Used to inform group leads of what areas of the codebase they own. The output could additionally be used to ensure sigs.yaml is kept up to date as well. (refs: #1913 #4125)
2) Provide a list to devstats so that they can track PRs

[2021-12-12 23:28] mrbobbytables commented on #6288
/help

[2021-12-13 04:58] charleszheng44 commented on #6263
+1

[2021-12-13 10:37] AvineshTripathi commented on #6288
Hey @mrbobbytables  I along with @daaemon1024 are working on #5425 so maybe we can help get this issue done too. Just want some guide how exactly do you want it to be

[2021-12-13 13:07] mrbobbytables commented on #6288
@AvineshTripathi sgtm! please feel free to self-assign. One thing - I would consider this a higher priority to complete than #5425 so that we can ensure devstats and sigs.yaml is up to date for the annual reports 👍

[2021-12-13 13:45] #5626 closed

[2021-12-13 18:15] sftim opened #6290 "Rename default branch to "main" for k/community"
For _this_ repo, we should rename the default branch from `master` to `main`.

[2021-12-13 18:15] sftim commented on #6222
Also see #6290

[2021-12-13 20:09] jberkus commented on #6088
Also ... should this Lead be responsible for reporting to the CoCC?

[2021-12-13 21:52] sk8forether commented on #6263
@ahg-g  Please let me know if you need anything in the form of example use cases.  I can contribute a bit more about our project at Cornell involving weather modeling HPC applications (that required MPI communication), containers, and kubernetes (see our [Tech Report](https://arxiv.org/abs/2109.12186) on arXiv).  Note: we did not use batch scheduling for this, but it is a good use case for it if i

[2021-12-13 22:08] alculquicondor commented on #6263
I just sent the formal WG formation request to kubernetes-dev@

If we get approved, a next step is establishing a time for bi-weekly meetings. Then we can plan agendas to discuss specific topics in a meeting.

[2021-12-13 22:34] markyjackson-taulia commented on #6088
@jberkus yes, I see that as being critical

[2021-12-13 22:35] sftim commented on #6290
/sig contributor-experience

[2021-12-14 06:53] CIPHERTron commented on #6222
Just a quick question:
The link to the workflow diagram in the issue description ([this](https://github.com/kubernetes/community/blob/master/contributors/guide/git_workflow.png)) belongs to the **kubernetes/kubernetes** repo whose default branch is yet to be updated to `main`. Do we still need to update this?

If yes, do we need to create a whole new diagram or do we have a way to edit the existin

[2021-12-14 14:00] mrbobbytables commented on #6186
@shambannaa I have disabled 2fa

[2021-12-14 15:58] ahg-g commented on #6263
/cc @x13n

[2021-12-14 17:29] AvineshTripathi commented on #6288
Hey @mrbobbytables I have tried something and on running I am getting the following output :
[code]

here for each owner file in repo the code is giving labels list

Plese tell if I am going in wrong direction also how I should proceed further

[2021-12-14 20:25] mrbobbytables commented on #6288
I would change the output to be a csv if possible with file path as the first column and sig/wg labels the following columns. That should make it easy to work with the data. Other option might be to just dump a yaml that could easily be parsed by something else.

cc @cblecker @dims
any thoughts?

[2021-12-15 09:20] #6251 closed

[2021-12-15 16:48] AvineshTripathi commented on #6288
Hey @mrbobbytables I have done converting it into csv here is what it looks like :
![csvcrop](https://user-images.githubusercontent.com/73980067/146228290-fad55a94-edf7-4f45-8b0a-1bb82e051274.jpeg)

-> I have done the manual checking and I feel the code does checks every ```OWNERS``` file but still if there is any test I should do for confirmation let me know
-> Completing this now what next ?

[2021-12-15 22:12] justaugustus commented on #5559
...well this is meta:
/remove-lifecycle rotten

[2021-12-16 14:16] #5466 closed

[2021-12-16 20:25] chris-short commented on #6210
Probably safe to close this?

[2021-12-16 20:26] chris-short commented on #6227
All comms for the contributor summit are complete.

[2021-12-16 20:26] #6227 closed

[2021-12-17 06:11] MadhavJivrajani commented on #6288
@AvineshTripathi is the initial PoC implementation commited somewhere? Asking since I can try and give early feedback on the implementation side of things and see how it can be tested out :)

[2021-12-17 06:20] AvineshTripathi commented on #6288
Hey @MadhavJivrajani I have kept in my k/Community clone. Here is the link to the code [link](https://github.com/AvineshTripathi/community/blob/master/owner-lable.go  ) would be happy to get review from you and also ignore the spell :smile:

[2021-12-17 07:03] MadhavJivrajani commented on #6288
Left a few comments here: https://github.com/AvineshTripathi/community/commit/aa817fac611d7a653274f83906aa4063ecc57fe1

[2021-12-17 20:29] jhskone commented on #6263
+1 to the batch wg.

[2021-12-20 08:01] AvineshTripathi commented on #6288
Hey @MadhavJivrajani I am stuck at a place doing the changes you sugested can you look at it [link](https://github.com/AvineshTripathi/community/commit/aa817fac611d7a653274f83906aa4063ecc57fe1#r62176438)

[2021-12-21 02:07] parispittman commented on #6274
https://github.com/kubernetes/k8s.io/pull/3217

[2021-12-21 02:08] parispittman commented on #6274
Thanks everyone for participating!
dev@kubernetes.io it is

/close

[2021-12-21 02:08] #6274 closed

[2021-12-21 02:10] parispittman commented on #6275
/help

[2021-12-21 02:10] parispittman commented on #6275
/good-first-issue

[2021-12-22 19:27] #6279 closed

[2021-12-22 19:27] markyjackson-taulia commented on #5546
I will have a draft up in a few days for this

[2021-12-23 08:21] scoof commented on #6050
/remove-lifecycle stale

[2021-12-23 16:32] dims commented on #4125
found a few more urls we need to fix

[code]

[2021-12-23 16:43] dims commented on #1913
see new tool for ensuring urls are still valid ( https://github.com/kubernetes/community/issues/4125#issuecomment-1000412060 )

[2021-12-23 22:04] dims opened #6307 "sigs.yaml is missing OWNERS files present in k/k repository"
### Describe the issue

Get a list of OWNERS files present in sigs.yaml (`rg` is ripgrep, but you can use regular grep as well)

[code]

Get the list of OWNERS files present on disk in k/k repository

[code]

Now if you do a `diff` between the 2 files you will see the following, all the ones with `+` in the beginning of the line are OWNERS files in k/k, but not in sigs.yaml.

[code]

[2021-12-23 22:05] dims commented on #6307
you will also see that some files in sigs.yaml are no longer present in k/k

[code]

[2021-12-23 22:05] dims commented on #1913
related https://github.com/kubernetes/community/issues/6307

[2021-12-23 22:05] dims commented on #6307
related https://github.com/kubernetes/community/issues/1913

[2021-12-23 22:05] dims commented on #6307
cc @mrbobbytables @parispittman

[2021-12-23 22:18] dims commented on #6307
NOTE to self : https://gist.github.com/spiffxp/629ab537c2e1d59072aa3154c91459c0

[2021-12-24 21:38] dims commented on #4125
[updated version of tool](https://gist.github.com/dims/dcdfd3a783f297452ac3a22d4892f67d) from @spiffxp shows the same issues

[code]

[2021-12-24 21:48] dims opened #6308 "empty noderesourcetopology-api repository in kubernetes-sigs"
### Describe the issue

https://github.com/kubernetes/noderesourcetopology-api/ is totally empty

Looks like instead there is a github.com/k8stopologyawareschedwg/noderesourcetopology-api repository

Is k8stopologyawareschedwg operated by k8s github management team?

Looks like `node-feature-discovery` and `scheduler-plugins` uses code from this new repository as well:
https://cs.k8s.io/?q=noderes

[2021-12-24 21:48] dims commented on #6308
/area github-management

[2021-12-24 21:51] dims opened #6309 "fix OWNERS path for kube-scheduler-simulator in sigs.yaml"
### Describe the issue

the correct URL is `https://raw.githubusercontent.com/kubernetes-sigs/kube-scheduler-simulator/master/OWNERS`

currently the sigs.yaml says `https://raw.githubusercontent.com/kubernetes-sigs/kube-scheduler-simulator/main/OWNERS`

[2021-12-24 21:52] dims commented on #6309
/sig contributor-experience

[2021-12-24 21:52] dims commented on #6308
/sig contributor-experience

[2021-12-24 21:52] dims commented on #6307
/sig contributor-experience

[2021-12-27 13:42] chetak123 commented on #6275
Hey @parispittman I have changed all instances of k-dev@ and kubernetes-dev@ to dev@kubernetes.io in Kubernetes/community. If this is ok then I will start changing in other repositories
Thanks.

[2021-12-27 13:42] chetak123 commented on #6275
/assign @chetak123

[2021-12-27 22:27] shambannaa commented on #6186
Thanks

[2021-12-27 22:27] #6186 closed

[2021-12-28 13:45] mrbobbytables commented on #5512
/close
No longer needed 👍

[2021-12-28 13:45] #5512 closed

[2022-01-02 15:58] jlsong01 opened #6314 "update stress installation command for go version 1.17"
### Describe the issue

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/flaky-tests.md

as above link says, stress install command is: `go get golang.org/x/tools/cmd/stress`

This is not correct for go version 1.17 and later, because since 1.17 installing executables with 'go get' in module mode is deprecated.

The installation command needs update.

[2022-01-02 15:58] jlsong01 commented on #6314
/sig testing

[2022-01-02 15:59] jlsong01 commented on #6314
/assign

[2022-01-03 06:53] parispittman commented on #6273
last email just went out - we're done here 😎

/close

[2022-01-03 06:54] #6273 closed

[2022-01-03 10:20] wojtek-t commented on #5236
/remove-lifecycle stale

[2022-01-03 13:47] #6309 closed

[2022-01-03 14:29] fromanirh commented on #6308
Hi there, commenting as member of the `k8stopologyawareschedwg` group.
I feel that it should be the other way around. AFAIK the plan was to have the node resource topology API merged (in a sufficiently matured/evolved form) into k8s, so we should eventually move the content from github.com/k8stopologyawareschedwg/noderesourcetopology-api  to  github.com/kubernetes/noderesourcetopology-api . I for

[2022-01-03 15:49] mrbobbytables commented on #6308
@fromanirh it's the opposite for k8s projects - things that are for the project should be developed inside one of the k8s managed repos. There is significantly more work required for vetting to donate or import an external code base and if the intent is to do that with github.com/k8stopologyawareschedwg/noderesourcetopology-api then we basically have to start from scratch and go through that proce

[2022-01-03 16:00] fromanirh commented on #6308
Thanks for pointing this out. This is unfortunate indeed. In this specific case it should be less painful because that repo holds a CRD definition and code autogenerated out of it.
Anyway, looking forward for other group members (@AlexeyPerevalov @swatisehgal and also @marquiz) to chime in and comment.

[2022-01-04 14:24] #6314 closed

[2022-01-05 21:41] SergeyKanzhelev commented on #6263
@ahg-g how much of SIG Node involvement do you envision in this working group? Based on description it is mostly scheduling and apps?

[2022-01-05 21:52] ahg-g commented on #6263
The concrete ones I have in mind are NUMA and retries based on exit codes (https://github.com/kubernetes/kubernetes/issues/17244); but may be there are other issues.

[2022-01-06 07:05] chenyanjunyjy commented on #6263
+1 this is wonderful

[2022-01-07 04:48] nikhita commented on #6307
/assign

[2022-01-07 14:07] jlbutler commented on #5344
Hi all. Sorry, for the latency.

Based on the discussion [here](https://github.com/kubernetes/sig-release/discussions/1606), I've added tasks revolving around facilitating an optional "Deprecations and Removals" blog per cycle to the [Comms handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/communications) (PR is [here](https://github.com/kubernetes/sig-rel

[2022-01-08 11:56] Debanitrkl commented on #6178
/good-first-issue

[2022-01-09 18:35] MadhavJivrajani commented on #6144
/remove-lifecyle stale
/lifecycle frozen

[2022-01-10 09:17] saschagrunert commented on #5235
/remove-lifecycle stale

Did we finish that in 1.23?

[2022-01-10 10:11] justaugustus commented on #5235
We currently have no assignee here. Assigning Jeremy, since he was the last to comment on this. :)
/assign @jeremyrickard
/milestone v1.24
/priority important-soon

[2022-01-10 16:17] justaugustus opened #6328 "Create a charter template for working groups"
### Describe the issue

SIGs have a charter template, but WGs do not. Let's fix that!
/committee steering
/assign
cc: @kubernetes/steering-committee

[2022-01-10 17:13] Anita-ihuman opened #6329 "REQUEST: New Slack Assistant"
### GitHub Username

@JimBugwadia

### Slack Username

@Jim Bugwadia

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

Bot

### Name of Requested Resource

Peritus Assistant & Connector

### Description of Request

We would love to set up Peritus on the Kyverno Slack channel to help moderate quick responses to questions asked in the channel.

Peritus is slack assistan

[2022-01-10 17:23] mrbobbytables commented on #6329
This is a hard -1 from me. Peritus is far too invasive and does things that we definitely do NOT want to enable such as the "Find and Connect with Top Experits" and it tries to assemble developer profiles without allowing people to OPT IN to that sort of thing.

[2022-01-10 18:55] markyjackson-taulia commented on #6329
Also a -1 from me. This will do things that are not ok imo.

[2022-01-10 19:52] coderanger commented on #6329
Firm -1 from me as well, going to close this since I think we have strong consensus.

I would recommend investigating CNCF Slack if you would like a more liberal approach to integrations.

/close

[2022-01-10 19:53] #6329 closed

[2022-01-10 20:34] Anita-ihuman commented on #6329
Alright,
Thank you all for your feedback regards this issue.

Will get the feedback to my team.

[2022-01-10 22:15] JimBugwadia commented on #6329
@coderanger @mrbobbytables @markyjackson-taulia - thanks for the feedback. We were under the impression this was an approved bot for CNCF projects, and hence wanted to try out. Totally understand the concerns.

[2022-01-10 22:17] coderanger commented on #6329
@JimBugwadia It might be, CNCF Slack is independent of us and we have very different policies.

[2022-01-10 22:23] mrbobbytables commented on #6329
We are very strict because slack is pretty much enable for all or none =\ There is no granular permissions, no way of opting in. We don't even have the newer GitHub slack plugin enabled because of some of these issues.

[2022-01-11 02:19] mrbobbytables commented on #4289
I've spoken with several of the more recent release team leads - the responsiveness of sig leadership has much improved since the issue's original creation. A lot of this can be attributed to a few practices that have been put in place by the RT:
1) Enhancements becoming opt-in
2) Creating threads and pinging leads on exception requests
3) More usage of the `#chairs-and-techleads` slack channel

S

[2022-01-11 14:57] mrbobbytables opened #6331 "[Umbrella] Remove instances of CCBY-SA2.5 (stackoverflow) licensed code"
### Describe the issue

Code snippets without a license that are posted to StackOverflow default to the [Creative Commons ShareAlike](https://creativecommons.org/licenses/by-sa/2.5/) license. This license is not compatible with the Apache 2.0 and instances  of expressive content (e.g. cargo culted functions, scripts etc) should be cleaned up from org.

**A note to contributors**
Small 1 liners sho

[2022-01-11 15:43] mrbobbytables commented on #6234
The new moderators have been onboarded and backlog published 👍  going to go ahead and close this out.

/close

[2022-01-11 15:44] #6234 closed

[2022-01-11 15:45] mrbobbytables commented on #6210
Event complete - closing issue

/close

[2022-01-11 15:46] #6210 closed

[2022-01-11 15:48] mrbobbytables commented on #6144
@MadhavJivrajani I think all the follow up items are done? Are we safe to close?

[2022-01-11 15:53] Debanitrkl commented on #4469
The blog post series is live
/remove-lifecycle stale

[2022-01-11 16:16] jeremyrickard commented on #5235
@savitharaghunathan I will pick this up and get it moving forward. I'll reach out on slack to do a handoff/context transfer if that is ok.

[2022-01-12 01:42] mrbobbytables commented on #5685
I'm going to go ahead and close this out, more moderators have been added bringing the total to 11.

/close

[2022-01-12 01:42] #5685 closed

[2022-01-12 01:43] mrbobbytables commented on #6275
@parispittman I think this is safe to close now? Are there any follow up AIs?

[2022-01-12 01:47] mrbobbytables commented on #5636
Following up on last comment, going to go ahead and close this out.

/close

[2022-01-12 01:48] #5636 closed

[2022-01-12 02:36] wsxiaozhang commented on #6263
+1 to the Batch WG

[2022-01-12 09:54] swatisehgal commented on #6308
We had created https://github.com/kubernetes/kubernetes/pull/96275 to populate https://github.com/kubernetes/noderesourcetopology-api/ but at that time we had created this we were proposing changes in the default kube-scheduler and there were concerns around dependency of a native component on a CRD API. In order to move things along and to let the project and the API mature we created: github.com

[2022-01-12 18:01] dims opened #6334 "cleanup emeritus_reviewers and emeritus_maintainers from OWNERS files across kubernetes orgs"
### Describe the issue

Following up from https://github.com/kubernetes/community/pull/6333#issuecomment-1011289104 and https://github.com/kubernetes/community/pull/6333#issuecomment-1011309609

We need to cleanup https://cs.k8s.io/?q=emeritus_reviewers&i=nope&files=OWNERS*&excludeFiles=&repos= and https://cs.k8s.io/?q=emeritus_maintainers&i=nope&files=OWNERS*&excludeFiles=&repos= looks like we ne

[2022-01-12 18:01] dims commented on #6334
/sig contributor-experience

[2022-01-12 18:10] dims commented on #6334
/good-first-issue

[2022-01-12 19:21] Garima-Negi commented on #6334
/assign

[2022-01-12 20:43] dims commented on #6334
@Garima-Negi found more problematic repositories / files:

https://cs.k8s.io/?q=%5E(emeritus%7Cemeritus-approvers%7Cemeritus_approver%7Cemeritus_maintainers%7Cemeritus_reviewers%7Cowners)%3A&i=nope&files=OWNERS*&excludeFiles=&repos=

[2022-01-12 20:48] dims commented on #6334
So the idea here is to open a PR in each repository to remove the section with the wrong key namely:
[code]

When the reviewers ask we point them to this issue and say that the allowed keys are one of those mentioned here:
https://github.com/kubernetes/test-infra/blob/eb87a9362476e00852ac398a2b6417d1f01d4b48/prow/repoowners/repoowners.go#L57-L60

or `emeritus_approvers` (per conversation in https:

[2022-01-12 20:50] dims commented on #6334
Oh! sorry if you see `emeritus-approvers` or `emeritus_approver` you can change it to `emeritus_approvers` anything else you can delete and follow what the reviewers guidance if they would like the names in another section.

[2022-01-13 00:43] Huang-Wei commented on #6308
No matter we will end up with in-tree noderesourcetopology API or not, hosting it under the kubernetes org sounds a good idea. (I also get to know the existence of https://github.com/kubernetes/noderesourcetopology-api/ today...)

[2022-01-13 16:33] swatisehgal commented on #6308
Apologies @Huang-Wei and @fromanirh, I should have done a better job at keeping you in the loop!

Let's reopen https://github.com/kubernetes/kubernetes/pull/96275 and work on populating github.com/k8stopologyawareschedwg/noderesourcetopology-api then!

Thanks for chiming in on this.

[2022-01-13 16:49] swatisehgal commented on #6308
@dims We have concluded that we should go ahead and populate https://github.com/kubernetes/noderesourcetopology-api/. Is it okay to close this issue?

[2022-01-13 17:20] dims commented on #6308
@swatisehgal works! thanks!

/close

[2022-01-13 22:21] dims commented on #6334
@Garima-Negi i've updated search url in https://github.com/kubernetes/community/issues/6334#issuecomment-1011435747 and opened 2 PR(s) for `kubernetes/kubernetes` and `kubernetes/test-infra` to unblock some other stuff i am doing.

[2022-01-14 19:17] dims commented on #6307
notes: looks like we have an easy way to the list of files in a repo

```curl -kvs https://api.github.com/repos/kubernetes/kubernetes/git/trees/master?recursive=1 > files.json```

[2022-01-15 14:20] dims commented on #6307
@nikhita i've automated this, can you please take a look:

- print files duplicated in multiple sigs/wgs etc..
- print files no longer present in k/k
- print files NOT present in sigs.yaml

[code]

[2022-01-15 14:22] dims commented on #6288
I've been able to automate this...

[code]

sample output:
[code]

labels.csv looks like this:

[code]

[2022-01-15 23:14] morremeyer commented on #5559
As a long time user, reader and contributor in some subprojects, let me offer some perspective:

I think this issue discusses a problem we shouldn't even have.

The automated triage often leads to frustration. Just one example: Open issues with confirmed bugs are labeled stale, rotten and then auto-closed.

Before the idea to limit the permissions to un-stale issues is further discussed, the discu

[2022-01-17 06:18] peizhouyu commented on #6334
/assign

[2022-01-17 07:02] peizhouyu commented on #6334
hi, @dims @Garima-Negi  i've updated `kubernetes-csi/csi-test`, other things  about `kubernetes-csi`  I'm doing. Thanks.

[2022-01-17 07:54] Garima-Negi commented on #6334
@dims what do we update `emeritus-maintainers` to ?

[2022-01-17 12:10] dims commented on #6334
@Garima-Negi yes please.

[2022-01-17 16:09] sreekaransrinath commented on #6334
/assign

[2022-01-17 16:10] jberkus commented on #6171
/close

[2022-01-17 16:11] #6171 closed

[2022-01-18 06:48] pohly commented on #6334
Please don't submit PRs for this against individual kubernetes-csi repos. The OWNERS_ALIASES file needs to be changed in csi-release-tools and then we'll copy it from there (semi-)automatically into the other repos.

[2022-01-18 13:20] mrbobbytables opened #6345 "Update generator to support overrides for label links"
### Describe the issue

Follow up on: https://github.com/kubernetes/community/pull/6343

The [generator](https://github.com/kubernetes/community/tree/master/generator) and [template](https://github.com/kubernetes/community/blob/master/generator/list.tmpl) have been updated to link from the items in the label column to the filtered items in the [kubernetes/kubernetes](https://github.com/kubernetes/

[2022-01-19 17:09] parispittman opened #6349 "Ask Cloudnative.tv folks to take on Office Hours"
**what**
talk to rawkode and other cloudnative.tv folks about moving Office Hours documentation into the CNCF repo, making sure its an official program, and has the support it needs to grow there.

**why**
it makes more sense due to the audience and the skillset required for the host(s); Jorge and others have done a great job with documenting the process and structure for the event and would be go

[2022-01-19 17:19] parispittman commented on #6275
@mrbobbytables - need to audit #2 for meeting agendas at the very least but then I'll close

[2022-01-19 17:41] parispittman commented on #6349
area/events

[2022-01-19 17:48] #6268 closed

[2022-01-19 23:22] parispittman opened #6351 "update hosting guide for chair/tl meeting"
update this and make it complete: https://github.com/kubernetes/community/blob/master/contributors/chairs-and-techleads/meeting-host.md
include:
- who should host and why
- agenda curation
- outreach
- post production

/sig contributor-experience

[2022-01-20 02:08] dims commented on #6334
@peizhouyu @sreekaransrinath @Garima-Negi here's a full set as of right now

[code]

[2022-01-20 07:17] MadhavJivrajani commented on #5435
/remove-lifecycle rotten
/lifecycle frozen
I brought this up in the last contribex meeting and had some ideas around this, I'll collate them into an RFC in the next couple of days.

[2022-01-20 16:33] mrbobbytables commented on #4289
With no other comments and the various follow ups created in their own issue. I am going to go ahead and close this out. If we think further discussion in this specific issue is needed please feel free to reopen 👍

/cose

[2022-01-20 17:10] BenTheElder commented on #4289
/close
FTFY 🙃

[2022-01-20 17:11] #4289 closed

[2022-01-20 17:42] parispittman opened #6353 "create mailing list migration guidance"
create guidance (checklist of actions, pull request template, etc) for community groups to migrate from @googlegroups to @kubernetes.io. this is part of https://github.com/kubernetes/steering/issues/213

- use all kdev migration artifacts (issues and PRs) as a starting point
  - all groups should use the same configuration as dev@
  - #5877 - has a timeline/outreach etc to pull from
- get sig-k8s-

[2022-01-20 17:45] parispittman commented on #6353
/sig k8s-infra

[2022-01-20 18:32] parispittman commented on #3541
with the migration efforts which will help with documentation the best we can, we can close this. also setting new fresh YouTube related issues.

/close

[2022-01-20 18:32] #3541 closed

[2022-01-20 18:47] parispittman commented on #3362
now that we have sig-k8s-infra, we can get this from them
/close

[2022-01-20 18:47] #3362 closed

[2022-01-21 05:08] Debanitrkl commented on #6353
/area community-management

[2022-01-21 05:10] Debanitrkl commented on #6351
/area contributor-guide

[2022-01-21 05:15] Debanitrkl commented on #6334
/area community-management

[2022-01-21 05:17] Debanitrkl commented on #6290
/area github-management

[2022-01-21 05:21] Debanitrkl commented on #6233
/area github-management

[2022-01-21 05:21] Debanitrkl commented on #6232
/area github-management

[2022-01-22 14:08] Debanitrkl commented on #6082
/area devstats

[2022-01-22 14:12] Debanitrkl commented on #4469
/close

[2022-01-22 14:12] #4469 closed

[2022-01-22 14:14] Debanitrkl commented on #3938
/area community-management

[2022-01-23 09:42] Garima-Negi commented on #6334
PRs opened for
- kubernetes/kube-openapi
- kubernetes/kube-state-metrics
- kubernetes-client/csharp
- kubernetes-client/java

[2022-01-23 10:03] Garima-Negi commented on #6334
for kubernetes-csi, I have created this PR - [https://github.com/kubernetes-csi/csi-release-tools/pull/185](https://github.com/kubernetes-csi/csi-release-tools/pull/185)

@pohly @dims Please let me know if the changes are correct and if I must modify further.

[2022-01-23 10:06] Garima-Negi commented on #6334
hi @sreekaransrinath ! You've been assigned this issue as well, would you like to work on some PRs?
From what's left in the list above:
[code]

[2022-01-24 00:08] dims commented on #4125
/remove-lifecycle stale

[2022-01-24 16:37] AvineshTripathi commented on #5546
Hey @markyjackson-taulia what is the current status of the draft. Is there any way I can help

[2022-01-24 16:51] #3708 closed

[2022-01-24 18:40] parispittman opened #6357 "Annual reports generator and templates improvements"
Things that aren't done/working yet:
- Auto generating list of KEPs
- Auto generating new subprojects in last year
- Auto generating new working groups in last year
- Auto generating unique reviewer/approver counts based on OWNERS files

But what is working re: https://github.com/kubernetes/community/pull/5514
- Auto generating annual report template for all SIGs and WGs in the right directory and

[2022-01-24 18:41] parispittman commented on #6357
/committee steering

[2022-01-24 23:47] dims commented on #6334
Looks like @sreekaransrinath may not be interested anymore ... @Garima-Negi can you please file the PRs? Also, i poked some approvers/reviewers in the 2 outstanding PRs. thanks for taking care of these!

[2022-01-25 03:26] peizhouyu commented on #6334
hi, If you don't mind, I think I may have revised it but didn't submit it. Could you please help to review it?
@Garima-Negi @dims
Thanks.

[2022-01-25 07:28] MadhavJivrajani commented on #6041
/remove-lifecycle rotten

[2022-01-25 11:46] dims commented on #6041
cc @liggitt

[2022-01-25 13:20] liggitt commented on #6041
whether a resource can be created with a PUT request to `.../$group/$version/$resource/$name` depends on the particular resource's storage strategy configuration, specifically the `AllowCreateOnUpdate()` return value.

Most built-in types do not allow this. The ones that do are:
* leases
* endpoints
* events
* limitranges
* services
* runtimeclasses
* roles, rolebindings, clusterroles, clusterrole

[2022-01-25 15:05] charan1998 opened #6360 "Broken link in contributing.md of contributors/guide"
### Describe the issue

The link attached to 'SIG' in the 'Communication' section is broken. The section it is pointing to is not present.

/area contributor-guide

[2022-01-25 15:06] charan1998 commented on #6360
/sig contributor-experience

[2022-01-25 17:27] cblecker opened #6362 "2021 Annual Report: SIG API Machinery"
Chairs: @deads2k @fedebongio
Liaison: @dims

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liaison f

[2022-01-25 17:27] cblecker opened #6363 "2021 Annual Report: SIG Apps"
Chairs: @janetkuo @kow3ns @soltysh
Liaison: @mrbobbytables

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Comm

[2022-01-25 17:27] cblecker opened #6364 "2021 Annual Report: SIG Architecture"
Chairs: @derekwaynecarr @dims @johnbelamaric
Liaison: @liggitt

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering

[2022-01-25 17:27] cblecker opened #6365 "2021 Annual Report: SIG Auth"
Chairs: @enj @mikedanese @ritazh
Liaison: @cblecker

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee l

[2022-01-25 17:27] cblecker opened #6366 "2021 Annual Report: SIG Autoscaling"
Chairs: @gjtempleton @mwielgus
Liaison: @tpepper

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liai

[2022-01-25 17:27] cblecker opened #6367 "2021 Annual Report: SIG CLI"
Chairs: @KnVerey @eddiezane @seans3 @soltysh
Liaison: @justaugustus

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Stee

[2022-01-25 17:27] cblecker opened #6368 "2021 Annual Report: SIG Cloud Provider"
Chairs: @andrewsykim @cheftako @nckturner
Liaison: @justaugustus

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steerin

[2022-01-25 17:27] cblecker opened #6369 "2021 Annual Report: SIG Cluster Lifecycle"
Chairs: @justinsb @neolit123 @vincepri
Liaison: @dims

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee

[2022-01-25 17:27] cblecker opened #6370 "2021 Annual Report: SIG Contributor Experience"
Chairs: @alisondy @mrbobbytables
Liaison: @mrbobbytables

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Commit

[2022-01-25 17:27] cblecker opened #6371 "2021 Annual Report: SIG Docs"
Chairs: @divya-mohan0209 @jimangel
Liaison: @parispittman

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Commi

[2022-01-25 17:27] cblecker opened #6372 "2021 Annual Report: SIG Instrumentation"
Chairs: @ehashman @logicalhan
Liaison: @cblecker

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liai

[2022-01-25 17:27] cblecker opened #6373 "2021 Annual Report: SIG K8s Infra"
Chairs: @ameukam @dims
Liaison: @justaugustus

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liaison

[2022-01-25 17:27] cblecker opened #6374 "2021 Annual Report: SIG Multicluster"
Chairs: @jeremyot @pmorie
Liaison: @mrbobbytables

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee lia

[2022-01-25 17:27] cblecker opened #6375 "2021 Annual Report: SIG Network"
Chairs: @caseydavenport @dcbw @thockin
Liaison: @tpepper

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Commit

[2022-01-25 17:27] cblecker opened #6376 "2021 Annual Report: SIG Node"
Chairs: @dchen1107 @derekwaynecarr
Liaison: @tpepper

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee

[2022-01-25 17:27] cblecker opened #6377 "2021 Annual Report: SIG Release"
Chairs: @justaugustus @saschagrunert
Liaison: @dims

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee l

[2022-01-25 17:27] cblecker opened #6378 "2021 Annual Report: SIG Scalability"
Chairs: @marseel @shyamjvs
Liaison: @mrbobbytables

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee li

[2022-01-25 17:27] cblecker opened #6379 "2021 Annual Report: SIG Scheduling"
Chairs: @Huang-Wei @ahg-g
Liaison: @liggitt

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liaison f

[2022-01-25 17:27] cblecker opened #6380 "2021 Annual Report: SIG Security"
Chairs: @IanColdwater @tabbysable
Liaison: @parispittman

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Commit

[2022-01-25 17:27] cblecker opened #6381 "2021 Annual Report: SIG Service Catalog"
Chairs: @jhvhs
Liaison: @mrbobbytables

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liaison for re

[2022-01-25 17:30] justaugustus commented on #6377
/assign @justaugustus @saschagrunert
cc: @kubernetes/sig-release-leads
/milestone v1.24

[2022-01-25 17:36] justaugustus commented on #6377
Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1643131993109700

[2022-01-25 17:36] cblecker opened #6382 "2021 Annual Report: SIG Storage"
Chairs: @saad-ali @xing-yang
Liaison: @parispittman

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee l

[2022-01-25 17:36] cblecker opened #6383 "2021 Annual Report: SIG Testing"
Chairs: @BenTheElder @spiffxp @stevekuznetsov
Liaison: @parispittman

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Ste

[2022-01-25 17:36] cblecker opened #6384 "2021 Annual Report: SIG UI"
Chairs: @floreks @maciaszczykm @shu-mutou
Liaison: @justaugustus

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steerin

[2022-01-25 17:36] cblecker opened #6385 "2021 Annual Report: SIG Usability"
Chairs: @hpandeycodeit @morengab @tashimi
Liaison: @dims

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Commit

[2022-01-25 17:36] cblecker opened #6386 "2021 Annual Report: SIG Windows"
Chairs: @marosset
Liaison: @liggitt

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liaison for revie

[2022-01-25 17:36] cblecker opened #6387 "2021 Annual Report: WG API Expression"
Chairs: @apelisse @kwiesmueller
Liaison: @liggitt

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee lia

[2022-01-25 17:36] cblecker opened #6388 "2021 Annual Report: WG Data Protection"
Chairs: @xing-yang @yuxiangqian
Liaison: @cblecker

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee li

[2022-01-25 17:36] cblecker opened #6389 "2021 Annual Report: WG IoT Edge"
Chairs: @cantbewong @cindyxing @dejanb
Liaison: @cblecker

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Commi

[2022-01-25 17:36] cblecker opened #6390 "2021 Annual Report: WG Multitenancy"
Chairs: @srampal @tashimi
Liaison: @liggitt

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liaison f

[2022-01-25 17:36] cblecker opened #6391 "2021 Annual Report: WG Policy"
Chairs: @JimBugwadia @rficcaglia
Liaison: @cblecker

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee l

[2022-01-25 17:36] cblecker opened #6392 "2021 Annual Report: WG Reliability"
Chairs: @deads2k @stevekuznetsov @wojtek-t
Liaison: @

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee

[2022-01-25 17:36] cblecker opened #6393 "2021 Annual Report: WG Structured Logging"
Chairs: @pohly @serathius
Liaison: @dims

Actions for the chair/organizer of the community group:
- [ ] Consult your community group to complete draft of report
- [ ] If needed, consult with Steering Committee liaison on any private issues or concerns that arrise while completing report
- [ ] Submit PR to git.k8s.io/community repo with copy of report, assigning your Steering Committee liaison for

[2022-01-25 18:06] neolit123 commented on #6369
thanks for logging the issue. we are in the process of collecting subproject metrics.
/assign @fabriziopandini @neolit123

[2022-01-25 18:19] ameukam commented on #6373
/milestone v1.24

[2022-01-25 18:23] mrbobbytables opened #6394 "Add documentation regarding 1password"
### Describe the issue

We have slowly been rolling out 1password, its in use by:
- SIG Contributor Experience
  - GitHub Admin team
- SIG K8s Infra
- SIG Release
- SIG Testing
- Steering Committee

We need to document how we grant access, enumerate those with owner rights etc etc.
Owners should be tightly controlled as they could potentially grant themselves rights to any k8s vault.

---
/sig con

[2022-01-25 19:47] #6041 closed

[2022-01-25 20:40] justaugustus commented on #6377
sigs.yaml audit: https://github.com/kubernetes/community/pull/6397

[2022-01-25 20:46] justaugustus commented on #6377
Draft report PR: https://github.com/kubernetes/community/pull/6398

[2022-01-26 00:43] Debanitrkl opened #6399 "Add Shadows for Marketing Council"
### Describe the issue

As discussed during the last week's Marketing Council meeting, there are a few shadow positions open in the Marketing Council.
Interested folks should reach out to the Leads, more details on this could be found [here](https://github.com/kubernetes/community/blob/master/communication/marketing-team/README.md).
Details on the shadow roles are mentioned [here](https://github.c

[2022-01-26 00:44] Debanitrkl commented on #6399
/assign @chris-short @kaslin @rajula

[2022-01-26 00:45] Debanitrkl commented on #6399
/assign @rajula96reddy

[2022-01-26 08:54] serathius commented on #6393
/assign

[2022-01-26 14:26] mrbobbytables opened #6401 "Update CLA documentation for EasyCLA migration"
### Describe the issue

With the switch-over planned for 2022-02-05 coming up, we should ensure that the [CLA docs](https://github.com/kubernetes/community/blob/master/CLA.md) are up to date with the new EasyCLA process. This should largely entail with removing most of the content from it. You now sign your CLA by following the link when opening your first PR. The bot responds with the links neede

[2022-01-26 16:15] jlbutler commented on #5344
Bumping this discussion as relates to other things brought up on the thread beyond the release comms team scope (a dedicated web asset for deprecations and removal, and the higher-level migration support and persona definitions). Do folks want to open these as additional issues, or continue discussion here?

[2022-01-26 19:40] ehashman commented on #6372
/cc @dashpole @dgrisonnet

Han and I will meet first and then pull you in.

[2022-01-27 05:43] AvineshTripathi commented on #6394
Hey @mrbobbytables is this issue similar to [issue](https://github.com/kubernetes/community/issues/3938) please confirm

[2022-01-27 06:39] BenTheElder commented on #5877
For anyone following along and getting lost ...

https://github.com/kubernetes/k8s.io/pull/3217

=>

https://groups.google.com/a/kubernetes.io/g/dev

(found via https://github.com/kubernetes/community/blob/f1222b4a3323c082bb8a2aaa1d481a002bb53aaa/community-membership.md)

[2022-01-27 11:40] Anosh21 commented on #6399
Hey @Debanitrkl , I would like to join marketing council.

[2022-01-27 13:48] Debanitrkl commented on #6399
@Anosh21 glad to know that you are interested in marketing council, I would suggest you to attend the weekly meeting we are having on Fridays.

[2022-01-27 15:31] alexander-demichev opened #6404 "REQUEST: New Slack channel cluster-api-operator"
### GitHub Username

alexander-demichev

### Slack Username

ademichev

### What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?

channel

### Name of Requested Resource

cluster-api-operator

### Description of Request

Hi, I'd like to request a slack channel cluster-api-operator subproject https://github.com/kubernetes-sigs/cluster-api-operator

[2022-01-27 15:49] chris-short commented on #5961
/remove-lifecycle rotten

/remove-lifecycle stale

[2022-01-27 17:52] chris-short commented on #5961
/reopen

[2022-01-27 21:15] jberkus commented on #5344
@jlbutler yeah, creating a "Create a web page with deprecations" issue makes sense.  You wanna launch it?

[2022-01-27 22:54] coderanger commented on #6404
Hi there, https://github.com/kubernetes/community/blob/master/communication/slack-guidelines.md#requesting-a-channel shows the overall process but tl;dr open a Pull Request with the channel you want added to the appropriate config file. I would recommend something like `#sig-cluster-lifecycle-capi-operator` but I leave the specifics up to your SIG :)

[2022-01-30 16:06] alisondy commented on #6349
I'll take this on

/assign @alisondy

[2022-01-30 16:09] parispittman commented on #6349
@alisondy
Bob and I have a convo with David (rawkode) last week and he is going to get back to us

[2022-01-31 07:30] #6360 closed

[2022-01-31 09:07] sftim opened #6483 "Document how to join the organization"
Within https://www.k8s.dev/docs/guide/ I didn't find any guide on how to join the Kubernetes org.

We should make that very clear.

/kind feature

[2022-01-31 20:24] dims commented on #5231
@MadhavJivrajani @palnabarun any interest in this?

[2022-01-31 20:29] dims commented on #5092
@tpepper @justaugustus @cblecker so we close this? (+1 to what @cblecker said)

[2022-02-01 05:12] ghostsquad opened #6418 "Please 🙏 remove the stale bot"
### Describe the issue

There's nothing more frustrating than having to comment on an issue every 30-90 days with a comment that essentially says, yep, my issue is still valid, just like it was on day one.

Another problem with the stale bot is that it just adds noise, especially in the case when other people comment that they are able to reproduce the problem, this they get subscribed to new comm

[2022-02-01 05:18] MadhavJivrajani commented on #6418
Thank you for raising the issue.
This is something that community has been discussing for quite some time now. If you're okay with it, would you mind voicing your concern in the issue where discussions around this are being tracked? https://github.com/kubernetes/kubernetes/issues/103151

Thanks again!

[2022-02-01 05:18] MadhavJivrajani commented on #6418
/sig contributor-experience

[2022-02-01 09:07] ghostsquad commented on #6418
Gladly.

[2022-02-01 15:13] ahg-g commented on #6379
/assign

[2022-02-01 23:44] cblecker commented on #5092
+1 to close

[2022-02-02 13:28] rajatgupta24 commented on #6334
/assign

[2022-02-02 16:47] kunalchhabra37 commented on #6178
/assign

[2022-02-02 16:53] kunalchhabra37 commented on #6178
@CIPHERTron can you please provide 4 month cycle?

[2022-02-02 17:20] chris-short opened #6421 "[KCEU 2022] Contributor Summit Space Interest"
### Describe the issue

This issue is to track other groups (SIG/WG/TAG) interest in utilizing some of the Contributor Summit space (2020-05-16). If your group or project is interested, please state your interest here. We can make no promises, as space is limited.

[2022-02-02 17:24] chris-short commented on #6421
/sig contributor-experience

[2022-02-02 17:41] Atharva-Shinde commented on #6401
/ assign

[2022-02-02 17:42] Atharva-Shinde commented on #6401
oops
/assign

[2022-02-02 18:54] Garima-Negi commented on #6334
@peizhouyu  thanks for taking up the remaining 2 kubernetes-sigs PRs . Looks like they are merged. Good job!

[2022-02-02 18:55] Garima-Negi commented on #6334
@dims looks like we are only waiting on  [kubernetes-csi/csi-release-tools#185](Fix OWNERS files with allowed keywords kubernetes-csi/csi-release-tools#185) for this issue to be solved.

I'[ll be squashing the commits and see if that moves it forward quickly.

[2022-02-02 19:43] dims commented on #6334
thanks @Garima-Negi

[2022-02-03 08:30] pohly commented on #6334
@Garima-Negi we are waiting for you to addresss https://github.com/kubernetes-csi/csi-release-tools/pull/185#issuecomment-1020749180...

[2022-02-03 17:04] apelisse commented on #5230
/cc @sftim

[2022-02-03 17:33] sftim commented on #5230
/triage accepted
Yes, this is a good thing to do.

If folks want advice about how to write these docs, ask in #sig-docs on Kubernetes Slack.

[2022-02-03 22:22] jayunit100 opened #6423 "update sigs.yaml for sig-windows"
### Describe the issue

placeholder , need to remove gmsa or other old subprojects

[2022-02-04 00:48] cblecker commented on #6423
/sig windows

[2022-02-04 08:58] #6178 closed

[2022-02-04 13:45] Debanitrkl commented on #5576
/reopen
For LFX Mentorship applicants to go through the discussion on this issue and get a brief idea of the motive behind the [contributor-katacoda](https://github.com/kubernetes-sigs/contributor-katacoda).

[2022-02-04 18:41] marosset opened #6429 "Update sig-windows CONTRIBUTING.md"
### Describe the issue

https://github.com/kubernetes/community/blob/master/sig-windows/CONTRIBUTING.md should be reviewed and updated accordingly.

/sig windows
/assign @marosset @jayunit100 @jsturtevant @claudiubelu

[2022-02-04 19:02] marosset commented on #6429
I'll take care of this.

[2022-02-05 10:14] #5994 closed

[2022-02-06 18:32] markyjackson-taulia commented on #6209
/remove-lifecycle stale

[2022-02-07 11:36] mdbooth opened #6432 "REQUEST: Calendar entry and Zoom meeting for Cluster API Provider OpenStack"
I am a maintainer of [CAPO](https://github.com/kubernetes-sigs/cluster-api-provider-openstack). We would like to create a regular Zoom meeting for the project, initially every 2 weeks on a Wednesday at 9am GMT (with European daylight savings) for 30 minutes.

I have created an [agenda doc](https://docs.google.com/document/d/1hzi6nr04mhQYBKrwL2NDTNPvgI4RgO9a-gqmk31kXMA/edit?usp=sharing).

This is c

[2022-02-07 14:04] maciaszczykm commented on #6384
/assign @floreks @maciaszczykm @shu-mutou

[2022-02-07 14:40] mrbobbytables commented on #6378
/assign @marseel @shyamjvs @wojtek-t  @mrbobbytables

[2022-02-07 14:41] mrbobbytables commented on #6401
Thanks @Atharva-Shinde  :)
fixed in #6422

/close

[2022-02-07 14:41] #6401 closed

[2022-02-07 14:42] mrbobbytables commented on #6363
/assign @janetkuo @kow3ns @soltysh @mrbobbytables

[2022-02-07 18:26] #5734 closed

[2022-02-07 19:46] vaibhav2107 commented on #6016
/remove-lifecycle rotten

[2022-02-08 00:22] sj7trunks commented on #6373
There's a number of questions in here that talk about the successes of k8s-infra and what wasn't listed in KEPs. I can help volunteer to interview the people responsible for these areas and collate this into the document listed above.

I think one thing that we can label for ongoing improvement is this effort itself - to complete the accomplishments for this year and then get alignment with other

[2022-02-08 07:54] ameukam commented on #6373
@sj7trunks -- This issue is only focus on annual reporting. I would suggest to open issues for each subject you want to discuss about on https://github.com/kubernetes/k8s.io/issues.

[2022-02-08 08:49] saschagrunert commented on #5854
/remove-lifecycle stale

[2022-02-08 15:09] dishantsethi opened #6436 "Update meeting schedule in sig-release/README.md"
### Describe the issue

The biweekly meeting time referred to in https://github.com/kubernetes/community/tree/master/sig-release#readme is incorrect.
The meetings are scheduled at 15:30 UTC, not at 14:30 UTC.

/assign me

[2022-02-08 17:37] mdbooth commented on #6432
I brought this up in the SIG meeting. Apparently I don't need this, and just need to ask in slack.

[2022-02-08 17:37] #6432 closed

[2022-02-08 21:42] #6436 closed

[2022-02-08 23:13] csantanapr opened #6438 "REQUEST: New moderator for csantanapr of YouTube"
### GitHub Username

@csantanapr

### Property you'd like to Moderate

YouTube Channel

### Username on Property Requested

csantana23@gmail.com

### Requirements

- [X] I am a Kubernetes Org member already
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.i

[2022-02-08 23:15] mrbobbytables commented on #6438
lgtm from me :)

[2022-02-08 23:15] rawkode commented on #6438
/lgtm 👍🏻

[2022-02-09 01:28] #6438 closed

[2022-02-09 02:56] Garima-Negi commented on #6334
@pohly just pushed a commit to squash. Should be merged soon! Sorry for the delay

[2022-02-09 08:22] Garima-Negi commented on #6334
[https://github.com/kubernetes-csi/csi-release-tools/pull/183](https://github.com/kubernetes-csi/csi-release-tools/pull/183)  is the remaining open PR on this issue. But [https://github.com/kubernetes-csi/csi-release-tools/pull/185](https://github.com/kubernetes-csi/csi-release-tools/pull/185) has been merged already (these 2 PRs are duplicates)
We can close the open PR.

[2022-02-09 13:42] dims commented on #6334
thanks for all your work on this @Garima-Negi !!

[2022-02-09 13:42] csantanapr opened #6442 "Incorrect link for sig-contribex video meetings"
### Describe the issue

On this page https://github.com/kubernetes/community/blob/master/sig-contributor-experience/README.md#meetings  there is a link for video meetings that is incorrect.

It should be updated
from:
[code]
to:
[code]

[2022-02-09 13:42] csantanapr commented on #6442
/assign

[2022-02-09 13:45] csantanapr commented on #6442
/sig contributor-experience

[2022-02-09 14:47] Debanitrkl commented on #6442
/area community management

[2022-02-09 14:54] #6442 closed

[2022-02-09 21:57] #6429 closed

[2022-02-10 10:48] #5982 closed

[2022-02-10 16:29] dmatch01 commented on #6263
@alculquicondor Has the WG been approved?  Any update?

[2022-02-10 16:46] alculquicondor commented on #6263
Here is the status: https://github.com/kubernetes/community/pull/6299#issuecomment-1034033559

[2022-02-11 20:53] alculquicondor commented on #6263
wohoo! Thanks everyone for supporting the requests. We still have some work to do.

/reopen

- [ ] Create mailing list
- [ ] Create slack channel
- [ ] Setup zoom
- [ ] Create meeting notes doc

[2022-02-14 16:05] neolit123 commented on #6369
PR is here:
https://github.com/kubernetes/community/pull/6458

[2022-02-14 17:56] alculquicondor commented on #6263
We have created the slack channel `#wg-batch` and we have a doodle that will be used to determine a meeting schedule: https://doodle.com/poll/8abtcy5m4dzac7cc

[2022-02-14 18:18] vsoch commented on #6263
Is this in the CNCF slack? I don't see it, but I see an old #batch-wg

[2022-02-14 18:21] alculquicondor commented on #6263
kubernetes slack, as this is a kubernetes WG

[2022-02-14 18:23] vsoch commented on #6263
oops don't mind my stupidity, :laughing:

[2022-02-14 21:45] ehashman opened #6462 "Add contributing.md for SIG Instrumentation for subprojects"
### Describe the issue

Generally the overall contributing.md works for SIG Instrumentation, but it doesn't tell folks how to get involved in our various subprojects.

@kubernetes/sig-instrumentation-members can subproject owners please take this on?

/cc @serathius
for metrics-server
/cc @fpetkovski @dgrisonnet
for KSM
/cc @pohly
for klog/logging

/sig instrumentation

[2022-02-14 23:18] ehashman commented on #5535
/remove-lifecycle stale

[2022-02-14 23:20] ehashman commented on #5535
There's quite a bit of modification required. In particular, we'd need to set up GH actions on any affected repos such as k/k and it doesn't support filtering by label.

[2022-02-15 05:28] divya-mohan0209 commented on #6371
Draft report PR: #6468

[2022-02-15 09:08] serathius commented on #6462
How this should differ than already existing CONTRIBUTING.md within subprojects? (for example https://github.com/kubernetes-sigs/metrics-server/blob/master/CONTRIBUTING.md)

[2022-02-15 15:23] nimbinatus opened #6470 "[Request] Calendar invite for the monthly community meeting"
### Describe the issue

We need to create a monthly calendar invite for the Kubernetes Community meeting, sent from the contributors@ alias. Here's the information that I think we need; please feel free to ask me questions!

- Recurrence: Recurring on the third Thursday of every month at 10a PST/PDT (note that it's 1800 UTC until daylight savings time starts on 13 March 2022; then it's 1700 UTC).

[2022-02-15 15:24] nimbinatus commented on #6470
/sig contributor-experience

[2022-02-15 17:36] parispittman opened #6471 "New role? 3rd party/other programs Mentorship Coordinator"
### Describe the issue

LFX
Outreachy
Google Summer of Code
Google Summer of Docs

we participate in all of these but have several folks (ihor, josh, bob, me, etc) who remind us when to do things. it would be worthwhile if we can make this a role and have that individual:
- keep a calendar of dates for each program (when to submit our project name, when to submit the project scope, when selecting

[2022-02-15 17:38] parispittman commented on #6471
/area mentorship-planning

[2022-02-15 19:05] jberkus commented on #6084
/remove-lifecycle stale

[2022-02-15 21:42] serathius commented on #6462
How this is different to just listing subprojects and saying to check their README.md/CONTRIBUTING.md file? In the end this will result in just becoming another list of SIGs project, which is redundant. I think it would make more sense to just encourage users to check out one of the subprojects (list is available in sig-instumentation/README.md).

Another approach to this problem that could be on

[2022-02-15 22:46] justaugustus commented on #6368
/assign @andrewsykim @cheftako @nckturner

[2022-02-15 22:48] justaugustus commented on #6367
/assign @KnVerey @eddiezane @seans3 @soltysh @justaugustus

[2022-02-15 22:49] justaugustus commented on #6368
/assign

[2022-02-15 22:49] justaugustus commented on #6373
/assign @ameukam @dims @justaugustus

[2022-02-15 22:49] justaugustus commented on #6384
/assign

[2022-02-16 15:41] pnbrown opened #6479 "REQUEST: New communication about Community Meeting February 17, 2022"
### What do you want send out?(Please include a link to a draft)

Hi, can we get this email out about tomorrow's Community Meeting?

Hello k-dev,
I’m nigel, and I’ll be your host for the February community meeting, which is this Thursday at 10 AM PST (reference the time converter below). We would love to have everyone attend if they can so we can discuss important upstream topics. As the host, I’m

[2022-02-16 16:59] mrbobbytables commented on #6470
Calendar invite has been created and sent out 👍

/assign
/close
/milestone v1.24

[2022-02-16 17:08] Debanitrkl commented on #6471
Last week we had some discussion on the same in Upstream marketing Council meeting. We have added it to the project board to reach out to SIGs and remind them of the deadlines of proposal submission. https://github.com/orgs/kubernetes/projects/39#card-77620268

[2022-02-16 17:27] parispittman commented on #3783
/remove-lifecycle stale

lets figure out how to get a process in place for this now that in person events are a thing again. ill put on a steering agenda.

[2022-02-16 18:32] parispittman commented on #3783
/assign @idvoretskyi

[2022-02-16 21:10] gjtempleton commented on #5872
/remove-lifecycle rotten
Sorry, this got lost in the Github noise and is still valid.

Our annual SIG report has also highlighted this link being broken. Marcin's looking into whether we still need to own that code and if so how we go about denoting ownership.

[2022-02-16 22:52] mrbobbytables commented on #3783
I think this is good now - the scholarship program was amended to include community members:
https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/attend/scholarships/

"Applicants should be active community members who are not being assisted or sponsored by a company or organization, and are unable to attend for financial reasons. (Virtual or In-Person)"

[2022-02-16 23:27] eddiezane commented on #3783
What I've been asking for is some KubeCon tickets for leads to give out to contributors that need them. Scholarships for travel and lodging are nice but even if we can help cover one of the expenses for attending it can go a long way.

[2022-02-17 00:18] dims commented on #3783
@eddiezane i think if the leads in question can submit that form and indicate that they have the support of k8s chairs/steering, we can make it work by vouching for them. (we've done similar things in the past)

cc @idvoretskyi

[2022-02-17 00:19] dims commented on #3783
also we can do different things like full travel vs just tickets too

[2022-02-17 09:18] AloisReitbauer commented on #6421
/TAG app delivery

[2022-02-17 13:18] mrbobbytables commented on #6421
from @debgiles "CNCF actually launched a new offering this year, [project meetings](https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/program/project-benefits/#project-benefits), for groups like CNCF TAGs, graduated, and incubating projects."

I think we're good to continue with the space as k8s only 👍

/close

[2022-02-17 13:18] #6421 closed

[2022-02-17 14:15] #4894 closed

[2022-02-17 17:18] parispittman commented on #6479
I didn't see a contributor comm member pick this up so I sent it from contributors@ now with 'top of the hour' language

/close

[2022-02-17 17:18] #6479 closed

[2022-02-17 17:22] pnbrown commented on #5201
/remove-lifecycle stale

[2022-02-17 18:25] parispittman commented on #6275
we are officially good with this!! 🚀

[2022-02-17 18:25] #6275 closed

[2022-02-18 19:28] #5859 closed

[2022-02-18 20:59] SergeyKanzhelev commented on #5859
this is tracked in the enhancement https://github.com/kubernetes/enhancements/pull/3042