[2016-06-29 14:54] rothgar opened #15 "Community office hours should be added to calendar"
I randomly found The [community office hours](https://www.youtube.com/watch?v=nKHYnvTr7LE) video from [@sarahnovotny's retweet](https://twitter.com/surajd_/status/748091857071026176)

They should be added to the [shared calendar](https://calendar.google.com/calendar/embed?src=cgnt364vd8s86hr2phapfjc6uk%40group.calendar.google.com&ctz=America/Los_Angeles) so people can get involved, ask questions,

[2016-06-29 14:57] rothgar opened #16 "time.is site reliance"
I found [links to time.is](https://github.com/kubernetes/community/tree/master/community) for checking timezones in localtime. The site is currently down.

It's not a big deal but maybe we could move to something more reliable. [Google search perhaps](https://www.google.com/search?q=1000+am+in+pst)? :clock10:

[2016-06-29 15:23] idvoretskyi commented on #16
@rothgar for me this site is up.

Double-checked with http://www.isup.me/http://time.is/.

[2016-06-29 16:20] rothgar commented on #16
It's up for me now too. It was down for at least 30 minutes while I was poking around this repo and doing other things.

[2016-06-30 09:47] idvoretskyi commented on #16
Google search sounds reasonable.

cc @sarahnovotny

[2016-06-30 21:35] sarahnovotny commented on #15
aaah!  i'd added them to the community events, not community meetings calendar.  I'll be sure to add them to both next time. thanks for the reminder.

[2016-06-30 21:35] #15 closed

[2016-07-14 14:58] sarahnovotny opened #28 "Kubernetes Elders Council - proposal"
**Problem**:  As the Kubernetes project has pivoted from a Company run open source project to a Foundation owned and community inclusive project, there have been growing pains.  The perceptions of Googler who have more structure and visibility into most of the operational aspects of the projects differ greatly from the perspectives of most of the community members - particularly new project contri

[2016-07-14 15:09] timothysc commented on #28
sounds like apache-"PMC" + with rotation.

[2016-07-14 16:01] dims commented on #28
Or the OpenStack Technical Committee:
https://wiki.openstack.org/wiki/Governance/Foundation/TechnicalCommittee

[2016-07-14 16:02] erictune commented on #28
Is there a forum or issue yet to discuss voter eligibility?

[2016-07-14 16:20] chrislovecnm commented on #28
Goals are listed as:

To me, those goals are kinda vague.  What are some example duties?  What influence does the governing body have?

Moreover, what checks and balances are in place?  How can the council be dissolved in case of serious leadership issues?  How do we keep politics to a minimum? How can we make being elected to the council, not a popularity contest?  Would we be able to have 1-year

[2016-07-14 16:39] philips commented on #28
@sarahnovotny thanks for putting this together. Seems like a great start and we do need to sort something out as our alternative to BFDL.

One anti-pattern I want to avoid is the "detached leader" who shows up just during critical moments but doesn't have the confidence of the community as they aren't regularly engaged. A few ideas on how we might do that:

1. Ask elders to rotate through planning

[2016-07-14 17:27] countspongebob commented on #28
Sarah, much appreciated effort and really critical to the health of the project, thank you!

Moving the project to a state where the power structures are transparent is vital.

The two-year terms with offsetting terms for part of the group is a good term with enough time for context and continuity.

I entirely support Brandon's comments about ensuring that we don't have detached leaders, and it se

[2016-07-15 15:37] mattfarina commented on #28
Sarah, thanks for putting this together.

While I'm not a long timer I like this idea very much. The small size and odd number are ideal as well.

In the first setup of terms can we try for at least one non-Googler to be an elder? I think that would be important for the community.

I second all of Bobs comments.

[2016-07-15 19:24] josephjacks commented on #28
@sarahnovotny Thanks for this. I concur with *most* of what you wrote in the problem statement. However, I often (maybe mistakingly) refer to Google as the BD(maybe FL) of Kubernetes given the very deep roots behind K8s design decision inspirations (Borg).

I think @philips makes some solid points about how we can avoid "disengaged/detached" leaders. I'd like to add related thoughts around the eld

[2016-07-16 18:39] chrislovecnm commented on #28
@sarahnovotny and others, it would be good to have a working group on defining mission and goal of this Elder Council.

Agreed

[2016-07-18 04:56] bprashanth commented on #28
@jfrazelle fyi

[2016-07-18 13:34] jfrazelle commented on #28
This is really neat!!!

[2016-07-28 15:12] sarahnovotny commented on #28
Thanks for all the comments.

As fodder for the first charter iteration,  please comment with examples of things that you'd imagine being escalated to the elders council.  They can be concerns from the past, current issues or hypothetical cases.  Please also include the type of resolution that you might expect ... not the outcome, but types like a technical decision, a policy, a process etc.

[2016-07-28 18:08] erictune commented on #28
Examples of conversations I think we might have, that we _might_ escalate to the elders:

1. Does workflow belong in kubernetes/kubernetes, or in another project?  Hypothetically, if the relevant SIG had said no, the advocate for adding workflow might escalate to the elders.  The elders would make a decision such as "yes, now", or "no, never", or "not at this time".  Their answer would probably in

[2016-07-28 18:16] erictune commented on #28
Common themes for these examples:
- There is always a single technical issue at stake.  There may be hurt feelings and history and baggage involved, but the question and decision are about a technical issue.
- Discussion occurred with OWNERs or SIG leads first, and got stuck.
- The lines are already drawn before it reaches the Elders.
- Someone who is not a SIG lead or OWNER can request an escalat

[2016-07-28 22:20] Lukenickerson commented on #28
I'm curious about the difference between the responsibilities of the Elders versus the existing [SIG leads](https://github.com/kubernetes/community/blob/master/README.md#special-interest-groups-sig). Are SIG leads already tasked with providing leadership, making decisions on what features get included, and resolving contentious issues? If so it seems like the Elders would act as the next-higher le

[2016-08-22 23:08] ae6rt opened #50 "rktnetes weekly meeting is incorrect"
The community calendar says the time is 10:00 Pacific.  The wiki says it is Monday, 13:00 Pacific.

[2016-08-22 23:23] euank commented on #50
Fixed by #52

[2016-08-22 23:23] #50 closed

[2016-08-26 23:59] shtatfeld commented on #28
I really liked @erictune escalations to the elders examples as they focus on technical issues and also they define the relationship between elders and SIG leads.

In the original proposal we are trying to address 2 issues, and perhaps the elders is a solution just to one of them:
1. Escalation point for technical matters - Elders as @erictune described can address.
2. Processes, roles and responsi

[2016-08-27 01:28] eparis commented on #28
I have to put a +1 vote in for @erictune idea of an elders group responsible for escalation of technical decisions.

[2016-08-31 18:33] idvoretskyi commented on #28
@shtatfeld +1 to add community pm team as the SIG. Let's work on this /cc @philips @aronchick @sarahnovotny

[2016-09-02 12:28] philips commented on #16
@rothgar Can you submit a PR to use Google?

[2016-09-15 15:06] sarahnovotny commented on #28
**Kubernetes Elders Council DRAFT v2**
Define the Kubernetes Elders program, responsibilities, vision

**Elders Council :**
This group acts in the service of the community and the project to provide clear decisions and direction for the community when it is unable to independently make a decision.  Whereas most of the component level technical decisions happen in Special Interest Groups (SIGs), th

[2016-09-15 20:30] philips commented on #28
LGTM

[2016-09-16 07:09] shtatfeld commented on #28
LGTM
Thanks Sarah!

[2016-09-16 15:39] marun commented on #28
What do people think of adding a term limit to the proposal?  My experience in OpenStack suggests that influence is extremely sticky.  In any given election, incumbents almost always prevailed against challengers.  This reduced the incentive for incumbents to be accountable, and made it very difficult to broaden the base of leadership in the community.

[2016-09-16 16:09] erictune commented on #28
What limit would you suggest?

[2016-09-16 16:34] marun commented on #28
Given a 2 year term, I think it would make sense to prohibit consecutive terms.  I don't think there should be a limit on serving non-consecutive terms.

[2016-09-16 16:40] erictune commented on #28
I'm not sure I can think of 10 people right now I would want to be elders.  I guess either I am too picky, or it would be a gamble that we can grow more elders in the next 2 years.

[2016-09-16 17:01] marun commented on #28
That begs the question: How would someone qualify to stand for election?

I think a certain amount of unease with relative inexperience is to be expected.  Always preferring the known quantity, though, is not without cost in an open source community.   In the absence of a benevolent dictator, responsibility for the long-term sustainability of the project would ideally be distributed to as many cap

[2016-09-16 19:13] idvoretskyi commented on #28
@sarahnovotny LGTM.

I'd like to suggest to place this proposal into a separate document - it will be easier to review, discuss and update it there (leaving the general discussion in this thread).

[2016-09-16 20:08] eparis commented on #28
@erictune it's only 8 not 10 if they take 1 year off. But I don't think that's actually relevant. I'm not aware of all of the issues around OpenStack, but it seems that continuity of thought leadership would be a good thing. Does that fact that *fingers crossed* the elders will have little work to do as the SIG leaders will be the deciders of most thing reduce the concerns at all?

[2016-09-16 20:38] marun commented on #28
An elders council may function as an arbiter of last resort, but as per @eparis it will not be the only source of wisdom and experience the community has to draw upon.  One person's election as a thought leader doesn't preclude others from attaining or retaining thought leadership.

[2016-09-17 22:04] #16 closed

[2016-09-27 16:18] idvoretskyi opened #86 "Contributor experience "kubernetes/community/SIG-foo" directory doesn't exist"
Contributor experience WG/SIG doesn't have a specified directory with README ("kubernetes/community/SIG-foo"); and the heading link within the SIG table in Community README (https://github.com/kubernetes/community/blob/master/README.md) redirects to the Meeting Agenda directly.

Please, create the SIG directory and fix the link.

[2016-09-27 16:18] idvoretskyi commented on #86
cc @grodrigues3 @pwittrock

[2016-09-27 21:03] pwittrock commented on #86
@grodrigues3 Will you take care of creating this?

[2016-09-30 13:55] idvoretskyi commented on #86
Solved with https://github.com/kubernetes/community/pull/89

@grodrigues3 @pwittrock thank you!

[2016-09-30 13:55] #86 closed

[2016-10-10 02:57] chrislovecnm opened #93 "Process for becoming lead of a sig"
Hi all

We would like to assist with the aws sig. What is the process? I know the @justinsb would like the help, but I have not talked with @mfburnett. I know there have not been any meetings and we would love to help!

Thanks

Chris

[2016-10-10 03:29] chrislovecnm commented on #28
Any movement on this?

[2016-10-10 03:43] davidopp commented on #28
-1 for term limits

[2016-10-10 18:44] kris-nova commented on #93
I would also like to help out as much as possible! Where is a good place to get involved?

[2016-10-10 20:06] foxish commented on #93
@sarahnovotny can you take a look at this?

[2016-10-10 20:29] chrislovecnm commented on #93
@foxish I pinged her on slack and she is reaching out to @mfburnett

[2016-10-10 20:30] chrislovecnm commented on #93
@sarahnovotny I assigned this to you, let me know if that is incorrect.  Thanks for your help!

[2016-10-12 18:44] sarahnovotny commented on #93
thanks, @chrislovecnm!  i've just talked with @justinsb and we're game to add you as a lead.  PRs are welcome on the kubernetes/kubernetes/community/README.md to add you to the leads list.  I'll additionally add you to the SIG-leads mailing list.

@kris-nova ping me on slack and we can talk about your interests and find the right place for you to get started and help.

[2016-10-12 18:44] #93 closed

[2016-10-12 19:48] chrislovecnm commented on #93
@sarahnovotny thanks ... @kris-nova is one of my partners in crime as well.  I will work with @justinsb and figure out a date for our meetings!

[2016-10-13 02:45] kris-nova commented on #93
Thanks for getting back to me @sarahnovotny! I will reach out to you tomorrow during the waking hours just to introduce myself. @chrislovecnm is right - I am his partner in crime ;)

Just want to be apart of the community and help out as much as I can. Nice to meet everyone.

[2016-10-18 18:09] jbeda commented on #28
Do we want to have any sort of limit about how many people from a specific company can be involved?  We are going to want to build diverse community and it would be unfortunate that the project leadership be dominated by any one company.

I'd propose that any one company can only have one position voted in (at the time of the vote) and at most 2 members on the council at any one time.

(The positi

[2016-10-18 21:41] philips commented on #28
@jbeda the two at a time limit seems reasonable; although I don't know if the number voted in at a time is as useful.

[2016-10-19 09:04] idvoretskyi commented on #28
@jbeda agree with @philips. The question is - what will happen if more than one person from some company will move to another company, that has already delegated some people?

[2016-10-19 17:55] chrislovecnm opened #102 "links to founders in sig-aws are broken"
username links in the README are broken

[2016-10-19 18:05] kemitche commented on #102
I opened https://github.com/kubernetes/community/pull/101 to fix the links.

[2016-10-19 18:13] jbeda commented on #28
I would suggest that we don't cut anyone's term short based on where they work.  That doesn't seem right.  Instead we say something like "Any newly elected member should not increase representation on the board above 2 people per company.  In the case where this invariant would be violated, the candidate(s) with the highest number of votes will be elected."

So say we have persons A, B, and C form

[2016-10-20 06:31] chrislovecnm commented on #102
Thanks!!

[2016-10-20 06:31] #102 closed

[2016-10-21 07:01] chrislovecnm commented on #28
@jbeda I like that!

[2016-11-22 00:30] philips opened #116 "deprecating wiki pages"
Several of the wiki pages are out of date and should go away. Please let me know if these shouldn't go away.

## Out of date

- [x] https://github.com/kubernetes/community/wiki/1.4-Release-Status cc @pwittrock

## Looks abandoned

- [x] https://github.com/kubernetes/community/wiki/WIP:-Proposed-1.5-Release-Milestones-and-Deadlines cc @pwittrock
- [x] https://github.com/kubernetes/community/wiki/Co

[2016-11-22 00:38] goltermann commented on #116
release-1.3 and release-1.4 can be removed - they've since been migrated to the kubernetes/features repo

[2016-11-22 00:45] philips commented on #116
Deleted.

[2016-11-22 01:03] bgrant0607 commented on #116
@philips Are you trying to eliminate all wiki pages?

As for the Roadmap pages that I created, I'd like to ensure that their content is taken into account by ongoing efforts. How about in documents owned by the relevant SIGs? I do not want to add documentation for the features repo, since that would increase notification and issue activity unrelated to feature tracking.

Wiki page, owner, and rele

[2016-11-22 01:15] philips commented on #116
@bgrant0607 Heh, well, essentially trying to eliminate them all because it seems like they all have better locations to exist these days.

Overall, you can't send a PR to a wiki page nor can you comment on it so it is sort of an exclusive club to be a wiki editor.

[2016-11-22 01:22] bgrant0607 commented on #116
@philips I don't disagree that there are mostly better places now (or will be soon).

I want to make it as easy as possible to keep fine-grained information, such as links to open issues, up to date. My intent is to hand out write access to this repo fairly liberally in order to facilitate that. So long as people don't need to create PRs to update any content -- no harder than posting a comment to

[2016-11-22 05:42] pigmej commented on #116
So, Roadmap:-DaemonSet for sure needs updates. We could instead link to https://github.com/kubernetes/kubernetes/issues/15310 

[2016-11-28 23:52] philips commented on #116
@pigmej that link is 404ing

[2016-12-02 09:18] xialonglee opened #134 "Need update some links in docs of "devel""
I found that the docs of project path <code>kubernetes/docs/devel/</code> was imported to
this project path <code>community/contributors/devel/</code>.
But some links should update in file devel/README.md :
<code>
It assumes some familiarity with concepts in the [User Guide](../user-guide/README.md) and the [Cluster Admin
Guide](../admin/README.md).
</code>
The links of User Guide and Cluster Admi

[2016-12-02 16:25] kargakis opened #135 "Document advice about generation/observedGeneration for controllers"
Moved from https://github.com/kubernetes/kubernetes/issues/35036

For some kinds of controllers, it's important to know which generation the status is valid for. I don't think it's strictly needed for all controllers, but its worth some thought to determine whether it's easier to apply the rule for everyone or if that would cause unnecessary controller churn for meaningless changes.

Also, if you

[2016-12-04 15:12] luxas opened #142 "Establish clear guidelines for who is authorized to join the organisation"
Hi,

As a Kubernetes maintainer, I've got a few people talking to me on Slack, asking what they should do in order to join the Kubernetes [organisation](https://github.com/kubernetes).

I haven't had a super-clear answer to them, and that's not great from an open community perspective.
We have to establish some clear guidelines that describes what a **contributor** should do in order to become a *

[2016-12-04 15:50] kad commented on #142
one more item in the list, why it might be useful: grabbing attention of sig groups to reviewed PRs. Otherwise mentioning @kubernetes/sig-xyz magic in comments doesn't work.

[2016-12-04 23:29] bgrant0607 commented on #142
See also #112

[2016-12-04 23:30] bgrant0607 commented on #142
In particular: https://github.com/kubernetes/community/pull/112#discussion_r88187107

[2016-12-05 03:46] k82cn commented on #142
Regarding PR, it should be not only the doc but also some functional ones.

[2016-12-05 17:30] bgrant0607 commented on #142
@kad Notifications are discussed elsewhere: https://groups.google.com/forum/#!topic/kubernetes-dev/LEtIxeG0i84

[2016-12-05 21:52] kad commented on #142
@bgrant0607 with notifications in this proposal: it's open to account forging. Whatever naming convention is used, even if all accounts created at some point for all existing SIGs, it will be problem for new SIGs: nobody can prevent somebody to create accounts with names following naming conventions... But well, it will solve issue for a while.

[2016-12-06 07:35] thockin commented on #142
I think there's something between reviewer and contributor, or some fork in
the tree.

casual reviewer: is not a member of the org, is not in OWNERS, does code
review (the hero we need!).
prosumer reviewer: is a member of the org, is in OWNERS as a reviewer.

On Sun, Dec 4, 2016 at 7:13 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-12-07 07:09] lichen2013 opened #150 "2 vagrant.md exists"
We have 2 vagrant.md file:
contributors/devel/developer-guides/vagrant.md
contributors/devel/local-cluster/vagrant.md

They're very much alike, I think we should maintaine only one, and remove the other one.

[2016-12-08 19:12] smarterclayton opened #154 "Proposal: Allow TerminationMessagePath to be more useful to arbitrary software"
TerminationMessagePath on containers is a mechanism to allow a container to write a useful, human or machine readable message to a file in the container that will be surfaced via the pod container status after container termination.  This data can then be displayed in a UI (to know what the result of a job or server crash was) or gathered by an API client to perform analysis on the reasons contain

[2016-12-08 19:14] smarterclayton commented on #154
@kubernetes/sig-apps @bgrant0607 @kubernetes/rh-ux @kubernetes/sig-cli leveraging termination message path in UIs is a clear win for users and provides richer debug tools in simple cases.  This would enable us to make use of termination message more widespread and also support software that does not know about terminationMessagePath.

[2016-12-08 19:17] erictune commented on #154
+1

[2016-12-08 21:42] erictune commented on #154
Controllers and/or UIs should aggregate termination messages to show "recent" or "frequent" termination messages.

Since we need to aggregate events about pods of a controller too, maybe the termination message should be part of a Pod termination Event message.

[2016-12-08 21:54] enisoc commented on #154
How much of the log will be *tail*ed? Would it make sense to specify a `TerminationMessageLogLines` count instead of a boolean?

[2016-12-08 22:05] bgrant0607 commented on #154
I am in favor.

There will need to be a hardcoded byte limit in addition to or instead of a line limit.

FYI @kubernetes/sig-node

[2016-12-08 22:31] erictune commented on #154
It is useful to be able to extract a limited cardinality snippet from the
TerminationMessage to allow for grouping, while also providing a more
detailed, specific message. (like Reason and Message in events).  Is it
reasonable to allow users to provide both types of messages or is that
asking too much?

On Thu, Dec 8, 2016 at 2:05 PM, Brian Grant <notifications@github.com>
wrote:

[2016-12-08 22:49] erictune commented on #154
Okay, so all of that is too big to fit in an event message.

On Thu, Dec 8, 2016 at 2:47 PM, Brian Grant <notifications@github.com>
wrote:

[2016-12-09 05:55] pmorie opened #155 "Develop documentation for creating a new API server"
One fundamental primitive in the Kubernetes world is the API server.  The process for creating a new API server should be as accessible and simple as possible, and work is being done to facilitate this currently.  This issue is to begin documenting the process of creating a new API server at a conceptual and applied level (where practical).  This area is in active development and the documentation

[2016-12-09 15:47] duglin commented on #155
There's also this: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/adding-an-APIGroup.md

[2016-12-09 17:05] smarterclayton commented on #154
I have a separate PR that will be part of this proposal to limit number of bytes for container termination message.  I think the limit has to be around 5-15k because we have a hard limit in etcd and size is very important.  Algorithm would probably be max size / containers per container.

[2016-12-09 17:09] smarterclayton commented on #154
The limit has to apply to both the file and the log lines, so I'd prefer a byte limit (hardcoded at first with some flexibility across the pod) that applies to both.  Right now you can destroy an api server and kubelet by writing a sufficiently long termination message, which we have to fix.

[2016-12-09 23:32] caesarxuchao opened #159 "Doc mungers need to be updated; "how-to-doc.md" needs to be updated"
Many doc [mungers](https://github.com/kubernetes/kubernetes/tree/master/cmd/mungedocs) can be removed, but these three are still needed:
* to [validate links](https://github.com/kubernetes/community/blob/master/contributors/devel/how-to-doc.md#how-to-write-links)
* to [keep examples update-to-date](https://github.com/kubernetes/community/blob/master/contributors/devel/how-to-doc.md#how-to-include-

[2016-12-12 04:53] pmorie commented on #155
@duglin That is for adding a new API group to an existing API server.  We probably need something eventually that ties everything together in the form of:

1.  How to make an API server
2.  Conventions for API objects (now that you have a server)
3.  How to add a new API group

[2016-12-12 12:40] duglin commented on #155
/cc @MHBauer

[2016-12-12 15:43] fraenkel opened #165 "Proposal: Allow kubectl create configmap to accept env files"
Now that a container can provide configmaps as an environment variables, we need to make it easier to build a configmap from a file containing key/value pairs.

The use cases are varied and not entirely agreed to. Below are excerpts from https://github.com/kubernetes/community/pull/148 and https://github.com/kubernetes/kubernetes/pull/37295

From @dhoer
I want k8s to be able read in an env file li

[2016-12-13 16:38] fraenkel opened #170 "Proposal: Allow containers to specify optional ConfigMaps for environment variables"
From @kad
If we already touching this part of API spec, it might be good also to add one thing: referenced ConfigMap might be optional. By default this option will be false, so if ConfigMap referenced and it is missing, it will lead to error. If optional parameter set to true, and referenced ConfigMap not found, it will continue normally. Use case for such behavior:

Application developer can prep

[2016-12-13 16:41] fraenkel commented on #170
I can see the value by allowing optional EnvFromSource which would allow anything like ConfigMaps, Secrets or whatever to be optional. But why are we saying that EnvFromSource can be optional but EnvVars cannot? An EnvVar may select a single item from a ConfigMap and expose it, shouldn't that be optional. Obviously it would allow either the ConfigMap to not be present or the key to be missing but

[2016-12-13 19:05] bowei opened #172 "Proposal: Move kubedns addon code to its own repository under Kubernetes"
# Overview
The kube-dns pod currently consists of the `kube-dns` daemon, `dnsmasq` and their healthcheck sidecars (`exec-healthz` and `dnsmasq-metrics`). The code is spread over both main `kubernetes/` and `contrib/` repositories. Images for each of the containers are currently versioned separately. For example, the `kube-dns` that ships with Kubernetes v1.5 is v1.9, `dnsmasq-metrics` v1.0 etc.

N

[2016-12-13 19:05] bowei commented on #172
@kubernetes/sig-network

[2016-12-13 19:15] thockin commented on #172
Why the "kube-dns-sidecar" name?  isn't it more like a dnsmaq-sidecar?

Should you also move the dnsmasq repo (which is basically a dockerfile), too?

[2016-12-13 19:16] thockin commented on #172
I am in favor of this move, FWIW - it gives permissions to the people doing the real work on the right granularity.

[2016-12-13 19:18] bprashanth commented on #172
It would be  great if we had feedback from a failing e2e to prevent merges in the new repo. I assume we'll run godep restore+build+unit/integration tests via build template invoked through travis? We might want to pull some of the mungers for docs etc, for the sake of consistency.

[2016-12-13 19:21] bowei commented on #172
updated regarding dnsmasq -- didn't realize this had its own build

[2016-12-13 23:40] thockin commented on #170
I think optional configmaps seem useful.

[2016-12-14 06:34] bgrant0607 commented on #172
ref https://github.com/kubernetes/kubernetes/issues/24343

[2016-12-14 16:07] pmorie commented on #165
cc @derekwaynecarr

[2016-12-14 22:35] thockin commented on #172
Next step here if no objections?

Bowei if you tell me what name you want and who you want to have admin
access to it, I can create the repo.  You'll need to populate it with
boilerplate as per the incubation guidelines

On Tue, Dec 13, 2016 at 10:34 PM, Brian Grant <notifications@github.com>
wrote:

[2016-12-15 17:40] bgrant0607 commented on #142
There is a start at documenting existing roles here:
https://github.com/kubernetes/community/blob/master/governance.md

[2016-12-15 18:47] thockin commented on #142
That's a very exhaustive breakdown!

On Thu, Dec 15, 2016 at 9:40 AM, Brian Grant <notifications@github.com>
wrote:

[2016-12-15 19:36] bowei commented on #172
repo: kubernetes/dns

Add @MrHohn as a admin (and yourself)

[2016-12-15 21:23] thockin commented on #172
Repo created.

[2016-12-15 21:23] #172 closed

[2016-12-16 03:03] mengqiy opened #187 "Proposal: Use Selector Generation for Deployments, ReplicaSet, DaemonSet, StatefulSet and ReplicationController"
Selector Generation for Deployments, ReplicaSet, DaemonSet, StatefulSet and ReplicationController
=============

# Goals
Make selector easy to use and less error-prone for Deployments, ReplicaSet, DaemonSet, StatefulSet and ReplicationController. Make `kubectl apply` work with selector.

# Problem Description
The field `spec.selector` of Deployments, ReplicaSet, DaemonSet are default to `spec.temp

[2016-12-16 21:28] colemickens opened #188 "#azure Slack channel without full blown SIG"
cc: @sarahnovotny

Is it possible to get an `#azure` Slack channel without going through the full SIG process?

[2016-12-16 21:28] kris-nova commented on #188
I knew it was coming..

[2016-12-19 12:32] kargakis opened #194 "Proposal: Introduce Available Pods (MinReadySeconds in the PodSpec)"
**Moved to https://github.com/kubernetes/community/pull/478**

Today, Deployments/ReplicaSets use MinReadySeconds in order to include an additional delay on top of readiness checks and facilitate more robust rollouts. The ReplicaSet controller decides how many available Pods a ReplicaSet runs and the Deployment controller, when rolling out new Pods, will not proceed if the minimum available Pods t

[2016-12-19 23:45] ymqytw commented on #187
cc: @andronat

[2016-12-20 06:09] chrislovecnm opened #201 "Get the bots working in this repo"
@sarahnovotny and others ... what bots make sense in this repo?

[2016-12-22 02:06] ymqytw opened #229 "Proposal: Add Discriminators in All Unions/OneOf APIs"
# Overview

We have a number of cases in the API where only one of a set of fields is allowed to be specified, aka undiscriminated union / oneof.

`VolumeSource` is the canonical example: it has fields such as emptyDir, gcePersistentDisk, awsElasticBlockStore and other 20 fields. Only one of these fields can be specified.

We should add discriminators to union / oneof APIs, since it has several ad

[2016-12-22 02:25] thockin commented on #194
Why is this a new condition, rather than a delay before setting the
existing condition.  With this we have 2 VERY similar conditions that
differ in only very subtle ways.  What guidance would we provide as to
which one to use and when?  E.g. readiness propagates to Endpoints.

On Mon, Dec 19, 2016 at 4:33 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-12-22 05:54] thockin commented on #229
While I accept that this change is desired, and I don't have a problem with
it, I have some comments (shocking, I know!).

First, I find the arguments for this to be weak.  Switch vs if/else is
relatively insignificant from code or perf, and as pointed out the
constants and the fields end up with different names anyway.

Second, I don't know that clearing non-selected fields is a good idea.  If
I

[2016-12-22 10:25] kargakis commented on #194
Readiness adds the pod under rotation as you already said, the available condition offers an additional delay for orchestrators like Deployments so that they won't proceed with deleting old pods for an amount of time (assumes traffic is moved to new pods).

Admittedly, we need metrics to make this robust like real # of connections served by new pods but once we have such metrics, we could easily e

[2016-12-22 13:56] soltysh commented on #187
See this comment https://github.com/kubernetes/kubernetes/issues/36859#issuecomment-262022027

[2016-12-22 15:53] kargakis commented on #229
It's still not clear to me which is the appropriate place in the api server for doing this sort of defaulting. The rest handlers or where we set defaults?

cc: @kubernetes/sig-api-machinery-misc

[2016-12-22 15:56] liggitt commented on #229
seems like repeating information in two places, and I agree that I'd rather get an error than have fields auto-cleared

[2016-12-22 18:23] heckj opened #235 "Kubernetes REST API documentation link broken"
https://github.com/kubernetes/community/tree/master/contributors/devel includes a link under *Developing against the Kubernetes API* for the Kubernetes REST API. I tried to follow it (`https://github.com/kubernetes/community/blob/master/contributors/api-reference/README.md`), and the one after it (`https://github.com/kubernetes/community/blob/master/contributors/user-guide/annotations.md`) - those

[2016-12-23 01:36] thockin commented on #194
I don't buy that this is a distinction that pays its own way.  Or at least,
the names are not sufficiently meaningful.embedding this into Pod and
making the distinction as described is hacky.  The distinction you're
trying to make is properly an attribute of the deployment.  I ACK the time
skew issue.

I'm open to better ways to characterize this or to alternative ways to
describe the time relatio

[2016-12-23 10:37] kargakis commented on #194
I am not sure how this would solve any of the problem I have outlined in
the original post

On Fri, Dec 23, 2016 at 2:36 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-12-23 11:08] kargakis commented on #194
I guess assuming both the replica set and pdb controllers use virtual clocks, the pdb controller will still need to get the information about available pods from somewhere else (deployment or any other controller).

[2016-12-23 12:36] kargakis commented on #187
Who will be responsible for cleaning up the extra generated labels in case of orphaning? The GC when orphaning? The controller manager when adopting? Probably needs to be called out.

[2016-12-27 22:35] thockin commented on #194
You understand that the names, as presented are very confusing, right?  So,
at minimum, we need a good name and less confusing meaning

And you understand that this problem will come up in other contexts,
right?  I was hoping to find a more general solution.

As a compromise, since I hate just being the guy who shoots things down,
how about a name/semantic like "stable".

[code]

A few things unre

[2016-12-28 01:15] ymqytw commented on #235
I guess you are looking for these two.
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/api-reference/README.md
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/annotations.md

[2016-12-28 08:10] ashishth09 opened #243 "E2e utils library and E2e Framework links are broken"
**E2e utils library** and **E2e Framework** links are broken in  section **Some concrete tools at your disposal** at  https://github.com/kubernetes/community/blob/master/contributors/devel/writing-good-e2e-tests.md

[2017-01-01 18:25] smarterclayton commented on #194
For example, clock skew between nodes and masters today means that your cluster is fairly broken to the end user.  I'm not sure adding new concepts is required without addressing that first.  We have skew problems in all controllers that deal with pods.  We've discussed several approaches - we already return Date headers from the server so that clients can adjust skew (web consoles, etc).  We requ

[2017-01-01 19:21] kargakis commented on #194
Agreed. My other concern was that available conditions in pods would help in making PDB work with controllers that use minReadySeconds but after a closer look in the pdb controller we can easily add support w/o having the condition. I am going to close this proposal for now and proceed with adding virtual clocks in all involved controllers.

[2017-01-03 18:50] pwittrock commented on #229
Thanks for the comments.

The driving use case for this is the api server defaulting one-of-union values.  The current behavior of providing an error message breaks `kubectl apply`'s ability to update one-of fields defaulted by the server, as the values are missing from the original config and won't be cleared by `apply`.

We could make the union behavior configurable by a parameter to the api cal

[2017-01-03 19:00] thockin commented on #229
I was about to ask why 3-way doesn't catch this, but I think I get it.
Blech.  It's not set in the annotation...

Are there any other cases where defaulting sets a value which the user
might legitimately want to un-set it later?  I can't think of any off the
top of my head.

I guess that argument makes this case much stronger.  Thanks.

On Tue, Jan 3, 2017 at 10:50 AM, Phillip Wittrock <notificati

[2017-01-04 22:54] pwittrock commented on #229
might legitimately want to un-set it later?  I can't think of any off the
top of my head.

I am not aware of any, but @ymqytw did an audit of all fields that are defaulted by the server that we could look at.

[2017-01-05 23:57] pwittrock commented on #229
I also think it would be helpful to have this requirement defined as part of object / field definition instead of implementing in the object validation.  Not a huge win, but would provide more consistency.

[2017-01-06 19:28] ymqytw commented on #187
Updated and created PR #256. PTAL. Thanks.

[2017-01-06 22:53] lavalamp commented on #229
[code]

We can't just call the discriminators "type" if there's other fields mixed in. The above snippet is super confusing. These need to be nested one level deeper, or the name has to be relevant (e.g. `mountType`).

[2017-01-07 01:26] thockin commented on #229
I'm not sure I grok the issue here?  Barring some unfortunate situation
where `type` was used as a name of a one-of option, why can't we
standardize that name as the discriminator?

[code]

On Fri, Jan 6, 2017 at 2:53 PM, Daniel Smith <notifications@github.com>
wrote:

[2017-01-07 01:30] lavalamp commented on #229
If it's nested without any siblings other than "type" and the one-of
options, then you are right. But the example I quoted is not nested like
that. (maybe it's a bug in the example, I haven't looked at the real
object...

On Fri, Jan 6, 2017 at 5:26 PM, Tim Hockin <notifications@github.com> wrote:

[2017-01-07 01:33] thockin commented on #229
The example you quoted is exactly the one I highlighted, but I hear your
concern that "type" is context dependent and may need to carry more meaning
if the context is less obvious.

On Fri, Jan 6, 2017 at 5:30 PM, Daniel Smith <notifications@github.com>
wrote:

[2017-01-07 01:41] smarterclayton commented on #229
I'm a little uncomfortable with magic unsetting of values - I think this should be context sensitive:

1. PATCH setting two of a one of is an error
2. PATCH *should* replace a union when you specify a single member
3. UPDATE should behave like PATCH
4. 3-way should happen on the server (so naive clients don't have to implement union clearing)
5. No need for magic clearing?

[2017-01-07 04:46] thockin commented on #229
Do we have a way to denote a one-of set via something like openapi?

On Fri, Jan 6, 2017 at 5:41 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-01-08 18:43] heckj commented on #235
thanks @ymqytw  - I tossed up a PR with links to the website/docs location that those generate to fix the README

[2017-01-10 00:36] pwittrock commented on #229
@smarterclayton

That makes a lot of sense to me.  Similarly, we could introduce a struct tag `patchStrategy:"replace"` for maps and structs (as opposed to `patchStrategy:"merge"` for lists).  Unions could be implemented by defining a field containing the set of Union values, and a replace strategy.  This doesn't provide "1.", but should provide 2, 3 & 5.  Semantically, this would be less meaningf

[2017-01-10 00:41] thockin commented on #229
so something like:

type PodVolume struct {
    Name string
    PodVolumeSource `openapi:oneof`
}

?

On Mon, Jan 9, 2017 at 4:36 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2017-01-10 17:15] pwittrock commented on #229
@thockin I was thinking there are a several different ways we could solve the underlying issue.

## Option A: Add Union Support to the Api Server

### Server Changes

Generalize support for Unions in the server.  Instead of having the union-ness of the field hard coded into the validation logic on a per-field basic, add first class support for validating unions.

- Validate that neither *PATCH* no

[2017-01-11 00:55] pwittrock commented on #229
@lavalamp expressed a preference for option B when I spoke him him today.  It is minimally invasive and is able to address the specific issue.

[2017-01-11 06:10] thockin commented on #229
I have no strong pref.

On Tue, Jan 10, 2017 at 4:55 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2017-01-12 01:07] lavalamp commented on #229
Following up on earlier conversation, I just noticed that the relevant
field actually does have the problem I mentioned, because it is inlined:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L230

On Tue, Jan 10, 2017 at 10:10 PM, Tim Hockin <notifications@github.com>
wrote:

[2017-01-12 01:15] pwittrock commented on #229
Since it is inlined into Volume, which just has the name and inlined VolumeSource, can we treat Volume as a Union / `patchStrategy=replace` and get the desired behavior?

[2017-01-12 01:23] liggitt commented on #229
Pretty sure we can't… "union except for the special name field" seems like it would be painful

[2017-01-12 01:37] darshanramu opened #266 "TestNamespaceAuthorization link broken under Testing Conventions"
The following link is not found under Testing Conventions.
TestNamespaceAuthorization -> https://github.com/kubernetes/community/blob/master/test/integration/auth/auth_test.go

[2017-01-12 18:15] lavalamp commented on #229
Since the patch applier only understands json, so the inline thing is not
something it would know about. :(

On Wed, Jan 11, 2017 at 5:23 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-01-12 18:21] pwittrock commented on #229
I think `patchStrategy=replace` might work for this case then - e.g. the patch always must contain the full Volume struct, which includes the name + the union

[2017-01-13 04:41] smarterclayton commented on #154
For size:

The current experimental is 4096 bytes per container. That's potentially a lot. I think 20-40 lines of backtrace in a normal log file would provide a fair amount of context, which is probably ~1600 bytes on average. For termination files, we would want to accept more, since every byte belongs to something the user intends to send. Overall, we can't accept more than probably 5k-20k per p

[2017-01-18 23:00] bgrant0607 commented on #170
cc @pmorie

[2017-01-19 00:54] #235 closed

[2017-01-19 08:53] bgrant0607 commented on #142
I have pushed another batch of updates to governance.md for any who wishes to take a look.

[2017-01-19 12:57] tmrts commented on #142
Other than automating the removal of inactive members, the [governance.md](https://github.com/kubernetes/community/blob/master/governance.md) now contains details about the current roles in the organization and the requirements for those roles (reviewer, approver, maintainer, etc.), we can close this issue.

[2017-01-19 13:06] tmrts opened #276 "Automated removal of inactive members"
An "automated" cron job that enumerates the list of members that became inactive in the last 30 days window using the GitHub API to a [GitHub Org Owner in Kubernetes](https://github.com/kubernetes/community/blob/master/governance.md) for removal should suffice (Fully automating organization modifications might cause headaches).

cc @bgrant0607 @philips

related to #142

[2017-01-19 17:28] #142 closed

[2017-01-19 18:42] bgrant0607 opened #277 "Finalize governance.md"
We've been iterating on governance.md to document how the project has been operating and to capture discussions from multiple issues, merged and unmerged PRs, and mailing-list discussions:
https://github.com/kubernetes/community/blob/master/governance.md

I created a Google doc to facilitate comments:
https://docs.google.com/document/d/1UKfV4Rdqi8JcrDYOYw9epRcXY17P2FDc2MENkJjMcas/edit

Please join

[2017-01-19 23:37] tmrts commented on #277
cc @thockin @philips

[2017-01-20 00:00] bgrant0607 commented on #277
cc @smarterclayton

[2017-01-20 01:23] bgrant0607 commented on #277
cc @spiffxp

[2017-01-20 07:20] ymqytw commented on #229
Created PR #278. Please review. Thanks.

[2017-01-20 15:31] bgrant0607 commented on #277
cc remaining top-level approvers:
@jbeda @brendandburns @lavalamp @dchen1107

[2017-01-23 04:31] moizjv opened #283 "[Doc fix] [Minor] Fix number of comments on pull requests in month for active contributors"
I was reading docs and under community expectations, the following is missing.

[Commented on more than ?? pull requests in the previous month, or more than 50 pull requests in the previous 12 months.](https://github.com/kubernetes/community/blob/master/contributors/devel/community-expectations.md#code-review)

I can fix it, but i do not know how many comments on PRs required in previous month

Th

[2017-01-23 17:30] bgrant0607 commented on #277
The draft has been restructured to make it easier to read.

[2017-01-23 22:14] sarahnovotny commented on #188
we additionally have this request -- https://github.com/kubernetes/community/pull/36.  i'd rather combine them and go sig-azure.  a topic for discussion on thursday?

[2017-01-23 22:39] colemickens commented on #188
cc: @brendandburns

I think the full SIG makes sense, just no one has yet written/submitted the proposal. I will attend the Thursday meeting in case this comes up.

[2017-01-23 23:09] brendandburns commented on #188
Sure, SIG sounds fine with me, it seems a shame not to have the slack channel in the meantime b/c it's an easy place to meetup with users, but I'm happy to follow the SIG process.

[2017-01-25 06:45] PradeepSingh1988 opened #289 "vagrant ssh-config is not showing node-2 entry"
I am following https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/vagrant.md.
I downloaded release v1.5.2
export KUBERNETES_PROVIDER=vagrant
export NUM_NODES=2
./cluster/kube-up.sh

I am not able to vagrant ssh node-2

[code]

[2017-01-25 07:43] codevulture commented on #289
Can you paste the output of :
`vagrant global-status`

[2017-01-25 07:56] PradeepSingh1988 commented on #289
@codevulture , it's working now, may be there is some catching which was not updated.
Good to know you are working here :).

[2017-01-25 07:57] #289 closed

[2017-01-25 07:57] codevulture commented on #289
Great!

[2017-01-26 07:34] countspongebob opened #295 "Three Branches of Governance - Proposal"
The long term health of any open source project depends on the people that contribute. Just as importantly, those people need a framework for working together effectively. Kubernetes continues to enjoy rapid growth and adoption and has been transitioning rapidly from an exciting new project to one with large numbers of productions systems, many at scale.

One of the very important balances between

[2017-01-26 07:40] countspongebob commented on #28
I have a related (and supporting) proposal to offer: https://github.com/kubernetes/community/issues/295

[2017-01-26 16:28] timothysc commented on #295
I like it.  I think the @kubernetes/kubernetes-pm & @kubernetes/sig-contributor-experience-misc can/should propose items but they should not act on autonomy without the buy in from the (Project Policy Board), whose ultimate goal is to ensure the consistency of the project and overall satisfaction of those contributing to the project.  I think the distinction is important.

[2017-01-26 17:27] bgrant0607 commented on #277
I created a PR: #286

[2017-01-26 17:39] countspongebob commented on #295
I entirely agree. Guidance and input from the sig contributor experience is critical. Would a required representative from that SIG on the PPB work?

[2017-01-26 17:57] zehicle commented on #295
+1

[2017-01-26 21:13] philips commented on #295
I am on the fence on this after the discussion in the community hangout.

We already have a number of processes in place that are poorly functioning because not enough people care about them. Another approach would be creating a tighter "this existing process isn't working" to "lets try this experiment" feedback loop. Two examples top of mind for me:

1. client-go is the first thing to be pulled o

[2017-01-26 21:28] derekwaynecarr commented on #295
I am confused by some of this.  It was my understanding that individual sig groups and their technical leadership defined roadmaps, implemented features, and authored much of the documentation.   The PM group in my experience just ensured the process is followed across the project and ensured status is rolled up from various sig groups.  I can't tell if you are saying that a PM group identifies a

[2017-01-26 23:44] countspongebob commented on #295
Derek:

In general, I'm not proposing anything about the PM group as regards feature management, roadmaps, etc. that is any different than what they are doing today. I'm suggesting that the role of the PM group be carefully narrowed to be just that, and to exclude project wide process and governance changes. The scope of the Council of Elders should also be similarly clear.

I _am_ saying that pro

[2017-01-27 01:06] bgrant0607 commented on #295
@countspongebob @timothysc

With respect to project processes, another possibility is that SIG contributor experience could own that and more people could get involved to help. There's tons of work to do, such as writing up our design-proposal policy. We don't have a shortage of ideas for improvements. We're lacking people to drive, implement, communicate, and roll out improvements (and test, meas

[2017-01-27 01:07] bgrant0607 commented on #295
Another example: I have yet to see a volunteer to update and organize our contributor docs.

[2017-01-27 01:09] bgrant0607 commented on #295
@philips I think new APIs and API changes should be covered by a proposal process, which I agree needs to be drafted. We'll need to make the process and stakeholders clear.

[2017-01-27 01:18] bgrant0607 commented on #295
@philips I'd be happy with a clause about evaluating new processes N weeks after they are introduced. In at least some cases, we'll need data to do so. I'd like data to determine how well the OWNERS changes are work, for example.

[2017-01-27 02:15] bgrant0607 commented on #295
There was an earlier suggestion by @shtatfeld for contributor experience to improve processes:

https://github.com/kubernetes/community/issues/28#issuecomment-242880296

Comment I also made on the elders proposal:

The project is a meritocracy. People are promoted in authority based on the scope, quality, quantity, and duration of their contributions. Anyone who wants to eventually own an area nee

[2017-01-27 03:36] bgrant0607 commented on #295
Proposed refinement/change to the proposal:

We have an established pattern of reviewer/approver (and Champion/Sponsor) in the project: #286

We could clarify which processes were owned by:
* The PM group
* Contributor experience
* Release team

And then add project-wide PROCESS REVIEWERS and PROCESS APPROVERS.

As with API REVIEWERS and API APPROVERS, those groups should be comprised of people wh

[2017-01-27 05:16] thockin opened #300 "Proposal: document structure of annotation/label namespaces more completely"
Since we have ever more incubated projects, and everyone loves annotations and labels, we need a spec for how those annotations are formed.

We also have extant names, such as volume.alpha.kubernetes.io, pod.alpha.kubernetes.io, beta.kubernetes.io, net.beta.kubernetes.io, as well as deployment.kubernetes.io, kubectl.kubernetes.io, and vendor or product-centric quobyte.kubernetes.io, rkt.kubernetes

[2017-01-27 14:46] idvoretskyi commented on #277
@bgrant0607 is it better to comment Google document or the PR?

[2017-01-27 14:52] bgrant0607 commented on #277
@idvoretskyi Please comment on the doc

[2017-01-27 15:42] justinsb commented on #300
I like this suggestion.  I have tried a few times, the biggest problem I've hit seems to be that we can't agree where to put things.  If labels are docs, they get bounced around outside the main repo and ignored.  I think they are code, but we need a clear dictat that this will happen and that the existing labels shall be added as-is - i.e. not a time to re-litigate existing labels.

For repos, I

[2017-01-27 21:54] philips commented on #300
Overall I think this is a good proposal. My desired outcomes for creating a well-known label registry:

- Increase user and community discoverability of labels
- Have consistency around deprecation (2 versions, 1 year, whatever)
- Documentation on best practices
- Encourage good patterns through review
- Provide a Go package for import

For projects I agree that .x. is sort of useless; just like t

[2017-01-28 07:55] thockin commented on #300
On Fri, Jan 27, 2017 at 1:54 PM, Brandon Philips
<notifications@github.com> wrote:

The .x. was specifically to normalize the existing names
(uncoordinated) with the complete namespace of every repo possible.
It's unlikely, but not impossible that a repo called "scheduler" could
be created and then that is a conflict.  The .x. specifically says
this is not "mainstream" yet, which gives us more fre

[2017-01-31 04:58] thockin commented on #295
This has focused a lot on process definition, which is surely needed, but I
have another concern.  There will inevitably be a challenge to authority,
on some topic.  Before that occurs, I'd like to get the authority structure
specified.

My thinking i that the "Elders Council", if it exists, is a final arbiter
and occasional direction-setter, but not a regularly convening
architectural body.

Bria

[2017-01-31 17:14] countspongebob commented on #295
Tim: I **am** proposing an "authority structure" along the lines of the checks-and-balances US government model. Although a benevolent dictator model implement via the Council is preferable to chaos, I think we can do better. I remain concerned about whether there will be sufficient diversity of concerns and companies on the Benevolent Dictator Council.

I also believe the BDC needs to be a regula

[2017-01-31 17:41] countspongebob opened #315 "Promote PM Group to Product Management SIG"
Not a new proposal, has been discussed in the community and generally agreed as appropriate. I'm writing this us to formalize the discussion. Pros/cons my attempt at summarizing the discussion.

Pros:
- PM group is no longer a "good idea", it is now integral to the functioning of the community.
- SIG guidelines around scheduling and transparency are working well, and should be adopted.

Cons:
- PM

[2017-01-31 17:50] idvoretskyi commented on #315
Mailing list discussion ref: https://groups.google.com/d/msgid/kubernetes-pm/CANhi8oAH7dwmpxu%2BR_2Zch8NqCKQxLOVMZadRc%2BjejBpGsTX6Q%40mail.gmail.com?utm_medium=email&utm_source=footer

[2017-02-01 06:54] thockin commented on #295
I don't think we're at odds, mostly.  From your text:

Legal/Licensing)

I think there are two levels of technical authority, but you're only
listing one (or I misunderstand).

My proposition was:

The SIGs have TLs who are ideally drawn from the list of OWNERS for an area
(not every area applies as cleanly as this) and have different
responsibilities from SIG-leads (who need not be as deeply ingr

[2017-02-01 16:25] smarterclayton commented on #300
I'm on board with this rough structure.  Where disputes in naming for `.x.` arise (prior or post incubation), we should probably set the bar that:

* Would a developer on the project associate the name with a sig AND
* Did that SIG get a chance to give feedback on naming.

The incubator process is effectively a DNS registrar for top level names, so even today it's a good point of control.

[2017-02-01 19:59] spiffxp commented on #295
@thockin

OK, so this suggestion makes total sense to me.  After I read it a few times.

I just want to raise the concern that my brain hurts parsing four levels of categorization which may or may not be hierarchical: SIG/TL/OWNERS/area.  I have concerns this project is tending towards stratifying vs simplifying.

flesh out the details of each role in docs like Sarah's "elders" doc.  This
is in pa

[2017-02-01 20:56] idvoretskyi commented on #295
@spiffxp

Having everything related in a single place is a good idea, so `governance.md` looks like a solution.

[2017-02-02 01:01] philips commented on #300
On Sat, Jan 28, 2017 at 8:55 AM Tim Hockin <notifications@github.com> wrote:

OK, +1 on .x. Forget my incubator- idea.

The rough thing I think will work:

1) Registered label package: People can register a new label namespace
(e.g. foobar.kubernetes.io) an email to a SIG with a few interested parties
and then get a PR approved by a label registry maintainer. The label
maintainers help everyone av

[2017-02-02 19:39] derekwaynecarr commented on #295
fwiw, i agree w/ @thockin

On Wed, Feb 1, 2017 at 3:56 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-02-02 20:44] tonglil opened #327 "Unable to run unit tests as specified"
Based on the [documentation here](https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md#run-unit-tests-from-certain-packages), it says "the `k8s.io/kubernetes` prefix is added automatically", however I have not found that to be the case.

Example with:
[code]

Example without:
[code]

[2017-02-02 20:52] gnufied commented on #327
https://github.com/kubernetes/community/pull/296

[2017-02-02 20:57] liggitt commented on #327
closing as dupe

[2017-02-02 20:57] #327 closed

[2017-02-03 10:11] idvoretskyi commented on #315
At the Community meeting 2/2 we have agreed that PM group will be promoted to the SIG status.

I will draft the official proposal about this.

[2017-02-06 18:12] countspongebob commented on #315
@idvoretskyi happy to review if you want to write something up more formally. Not sure we need much other than formal agreement as the SIG guidelines are pretty clear. You could add notes here.

[2017-02-07 16:18] tonglil opened #339 "hack/e2e.go fails on OS X"
Are e2e tests only meant to run on Linux (or CI)?

Running it on my mac gives:
[code]

If I update `vi build/common.sh` to use `:` instead of `.`, it is able to proceed.

[2017-02-09 16:47] pmorie opened #350 "Improve documentation about community norms and processes"
The [incubator process](https://github.com/kubernetes/community/blob/master/incubator.md) is currently very light on details about a number of facets of the community.  As an example, the role of the Champion is defined as:

The 'community norms and processes' referred to are very sparsely defined.

Since we are attempting to control growth and sprawl in `kubernetes/kubernetes`, it is logical to a

[2017-02-09 17:44] sebgoa opened #351 "Kubernetes Bylaws"
I have been meaning to write some comments related to:

#28 #295 and #286

Specifically, I think that the Kubernetes projects needs "Bylaws". The Bylaws can encompass most of what is in the Governance being worked on, the Elders proposal and the Three branches.

As a member of the [ASF](https://www.apache.org/foundation/bylaws.html) and member of the Kubernetes project, I think that a middle groun

[2017-02-09 18:28] erictune commented on #350
+1 to having a graduation requirement of "uses common review and automation standards".

[2017-02-09 18:44] idvoretskyi commented on #350
cc @bgrant0607 @philips @calebamiles as we have already had the thoughts about enhancing the Incubator.

[2017-02-09 19:21] sarahnovotny commented on #350
cc @philips as well.

[2017-02-09 19:39] luxas commented on #300
/cc

[2017-02-10 13:49] idvoretskyi commented on #315
@countspongebob Bob, just FYI - the SIG-PM has been already established (thank you for highlighting this) and the description is already at the Community repo - https://github.com/kubernetes/community/blob/master/sig-pm/README.md.

[2017-02-10 14:21] stp-ip commented on #315
There is another iteration on the README, but as no action or discussion is needed here:
Close?!

[2017-02-11 16:45] pmorie opened #357 "Document conventions for raw API fields"
The [API conventions document](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md) does not contain any information about raw API fields.  My understanding of the (undocumented) convention is that these should be `runtime.RawExtension` in versioned APIs and `runtime.Object` in unversioned APIs.  This issue is to document both the convention and the rationale

[2017-02-11 17:07] pmorie opened #359 "Add a link checker for this repo"
While looking at the API conventions docs this morning, I found that many of the links in that doc were broken.  We should add a link checker for this repo (and eventually other repos in the community).

[2017-02-11 17:21] pmorie commented on #266
It's inherently fragile to link to specific code constructs in this manner -- we should either link to a specific git commit (ugly) or embed an example directly in the documentation.

This is another case for a link checker #359

[2017-02-11 18:54] smarterclayton commented on #357
I'll do it

[2017-02-11 20:27] pmorie commented on #359
@duglin any chance you might be interested in doing this?

[2017-02-12 23:37] spzala opened #362 "Incorrect link to the PR Template"
Under the Release Notes section of the https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md and https://github.com/kubernetes/community/blob/master/contributors/devel/cherry-picks.md has an incorrect link to the "PR template"
The problem is that the link is a reference link to the https://github.com/kubernetes/kubernetes project which seems worked fine before the

[2017-02-12 23:37] spzala commented on #362
#dibs

[2017-02-15 22:28] marun opened #370 "Unable to run a specific integration test"
The [instructions](https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md#run-a-specific-integration-test) for how to run a specific integration test don't work.  All tests are always run regardless of the regex supplied.

[2017-02-15 23:42] marun commented on #370
Looks like https://github.com/kubernetes/kubernetes/pull/33952 provides a way to specify a test case:

[code]

This seems hacky, but it does work.  Should the documentation be updated to match the script, or the other way around?

cc: @thockin @eparis @deads2k

[2017-02-16 00:39] colemickens opened #372 "Pay for, or move away from Slack"
Would it be possible for the CNCF to pay for Slack?

If not, has there been consideration of using another platform? I'm repeatedly finding that rooms or private messages have little-to-no history from even just a few days ago because of the volume in Slack.

Or maybe I should try to find an alternative client that stores extra scrollback locally?

I realize this is huge can of worms and it would

[2017-02-16 01:59] resouer commented on #372
Just my two cents: I love slack >_<

[2017-02-16 02:07] k82cn commented on #372
How about email group or google group? But it need member to simplify the conversation :).

[2017-02-16 04:22] feiskyer commented on #372
@colemickens All public channels are archived at http://kubernetes.slackarchive.io/

[2017-02-16 07:03] thockin commented on #370
Why doesn't the documented way work?  It seems straight-forward, but I didn't dig in.  This hack is a hack.

[2017-02-16 16:55] sarahnovotny commented on #372
hi!  we have approached slack about paying for the service.   We were unable to negotiate the non profit rate.  there has been a pricing change since that earlier conversation which led to a prohibitively expensive rack rate conclusion, but even with that change slack for the k8s organization would be ~$225k per year for our current active user base.  I'll reach out to the CNCF again to see if the

[2017-02-16 17:01] caniszczyk commented on #372
From a CNCF/LF POV, we tried to negotiate with Slack multiple times but haven't been successful and are definitely open to other services depending what the k8s community desires.

On a related note, one of the other LF foundations with a fairly large and active Slack recently moved to RocketChat (https://rocket.chat/), Hyperledger.org: https://chat.hyperledger.org/

[2017-02-16 18:46] marun commented on #370
I was misinterpreting ``go test`` output.  I assumed that output like the following indicated that tests were running but that's not the case (it will appear even for packages for which no tests are run):

[code]

So the documented way does work, my bad.

I'm assuming that [#31533](https://github.com/kubernetes/kubernetes/pull/31533) was aiming to bypass this behavior by scoping to a single integr

[2017-02-16 19:13] marun commented on #370
Fix for ``make test-integration`` posted to https://github.com/kubernetes/kubernetes/pull/41581

[2017-02-16 19:13] #370 closed

[2017-02-16 19:27] hogepodge opened #376 "Clarify the sig-openstack mission statement"
After some discussion in the kubernetes-sig-openstack group, submit a patch to clarify the scope of sig-openstack to cover both OpenStack as a target platform and OpenStack as an application on top of K8S.

https://groups.google.com/forum/#!topic/kubernetes-sig-openstack/yTjt2_kJb4o

[2017-02-16 21:49] bgrant0607 commented on #277
Another example:
https://github.com/nodejs/node/blob/master/GOVERNANCE.md

[2017-02-17 00:19] #362 closed

[2017-02-17 03:57] derekwaynecarr commented on #350
+1 on the need for common code review patterns within reason.  I am not
sure if every incubator needs to follow OWNERS files yet for example.

On Thu, Feb 9, 2017 at 2:21 PM, sarahnovotny <notifications@github.com>
wrote:

[2017-02-17 10:20] tmrts commented on #277
This one is from GitHub: https://opensource.guide/

It includes detailed sections about maintainers, building communities, leading communities and so on, its a good read.

[2017-02-17 21:35] stp-ip commented on #372
There is also Mattermost (https://about.mattermost.com/), which might be technologically more aligned (using go) and might even look into k8s deployments due to their gitlab involvement. cc @coreyhulen

[2017-02-18 12:05] kris-nova commented on #372
IRC +1

[2017-02-18 12:24] Miyurz commented on #372
IRC +1 I know even the ansible guys are there

[2017-02-18 14:38] mindfulmonk commented on #372
IRC +1

[2017-02-18 14:46] tazjin commented on #372
IRC +1

[2017-02-18 15:13] timothysc commented on #372
kind of a +1 on matter most, and we can force dog-food it as a kube service ;-)

[2017-02-18 15:19] davidchua commented on #372
+1 for Mattermost as get to support another opensource project and at the same time get similar functionality to Slack.

[2017-02-18 15:19] mgoodness commented on #372
There's https://riot.im/ as well.

[2017-02-18 15:25] derekwaynecarr commented on #372
I am going to defend Slack and say i have been able to get responses in
more timely fashion since we adopted it, and integration with mobile is
easy enough that it helps me engage when away from desk.

On Sat, Feb 18, 2017 at 10:19 AM, Michael Goodness <notifications@github.com

[2017-02-18 15:26] liggitt commented on #372
Agree. Notifications and cross-machine access "just works".

[2017-02-18 16:27] rothgar commented on #372
I support moving away from slack. While I love IRC it doesn't have a lot of the modern features expected for a public chat of this size.
Mobile access, alerts, and on the fly group private messages are difficult for users to set up and would greatly limit the amount of support available.
I don't think paying for slack would be worth the features it provides over the other chat options.

We can do

[2017-02-18 16:34] tazjin commented on #372
IRC gives users the ability to take care of those things on their own, using for example tools like [IRCCloud](http://irccloud.com/). This would provide all the same benefits as Slack without locking users in to it.

More advanced users (which I'm sure we have many of) can use their normal tools that they already use with _most other open-source projects_.

[2017-02-18 16:41] mrhillsman commented on #372
https://rocket.chat/

[2017-02-18 17:48] phenomenes commented on #372
IRC +1

[2017-02-18 18:08] kmbannerman commented on #372
I would donate $ personally for a paid slack. The reach is much better vs. an older client like IRC (haven't used IRC in 8-9 years).

Another option: Companies contributing to K8s pitch in

Agree 100% with Joe Beda's tweet re: IRC is a barrier for new users, as well. I have loads of feels and reasons, but his thoughts sum mine up.

[2017-02-18 18:12] caniszczyk commented on #372
@kmbannerman the problem is cost and lock in, the money could be better going towards an open protocol + community that is willing to work with us. At the Linux Foundation we've had success with RocketChat (or just vanilla IRC) and at the Eclipse Foundation Mattermost works well.

I echo @rothgar and whatever is done we should make sure a solid comparison is done and that the community is involved

[2017-02-18 18:15] liggitt commented on #372
I have no allegiance to slack, but requiring users to wire up additional services on their own to get basic function like omnipresent notifications seems is less than ideal.

Doesn't slack have an IRC gateway for users that want to use only IRC?

[2017-02-18 18:25] dgoodwin commented on #372
+1 for mattermost or rocket.

I'd be personally completely happy with IRC as I'm there anyhow, but I can't argue it's an equivalent experience and it hasn't aged particularly well.

[2017-02-18 18:29] viglesiasce commented on #372
Folks,

This thread will be unproductive until we break out other issues that define the issues that people are having with slack. Otherwise we will boil the ocean.

I believe that one of the main ones is persistence of channel history. That can be solved much more easily and with less disruption than switching away from slack.

[2017-02-18 18:32] it33 commented on #372
Mattermost team here, thanks for the mentions. Just some thoughts:

1. You can use IRC with Mattermost using https://github.com/42wim/matterbridge, use #matterbridge on IRC to try it out.
2. Eclipse, Mozilla, Cern, Redhat, Penn Manor, University of British Columbia, and many other open source and non-profit orgs run Mattermost and we have lots of orgs contributing back in different ways
3. You can

[2017-02-18 18:38] rdodev commented on #372
I've had lengthy arguments about FOSS communities in Slack, in general, before (completely orthogonal to this issue at hand). I dislike the idea of walled FOSS communities (and the crazy proliferation of community-specif slacks). So my vote would go to IRC in this instance.

Another aspect I see here is cost, which as said above is, as of now, $225K/yr. And I would posit that money could be better

[2017-02-18 18:49] vmtyler commented on #372
I echo others that say just straight IRC is a huge barrier to entry to FOSS communities. I do get the annoyances of slack proliferation, and obviously cost is a big issue here. It's worth checking out solutions (both with slack and others) but I'd be against a move to IRC.

[2017-02-18 19:50] jbeda commented on #372
Breaking news here: https://twitter.com/stewart/status/833031230161637379

It looks like Slack opened up their non-profit offer to 503(c)(6)s and so the LF/CNCF/k8s slack should hopefully be covered.

As for the larger discussion -- when we switched from IRC to Slack (I'm the one that made the call) it was in an effort to make the community more accessible to more people that weren't steeped in th

[2017-02-18 20:20] davidopp commented on #372
If we switch (which it now sounds like we won't) we should at least start with a list of requirements as Vic alluded to. Must-have, vs. nice-to-have, vs. don't-care. Mobile and notifications are the killer features for me for Slack (and a few people mentioned this also upthread). I tried various IRC client software back when we were using IRC and never found anything remotely usable.

[2017-02-18 22:04] brendandburns commented on #372
https://xkcd.com/1782/

(someone had to do it...)

[2017-02-18 23:42] rektide commented on #372
I'm hugely in favor of IRC, but it definitely requires more than "here's our IRC" to make that happen. Kubernetes, if it does want to move way, should run some web clients that people can use, and it needs to run some of the logging services available. Otherwise it's not an upgrade imo, it's just a new color for the bikeshed- a more classic color but one that wont work for everyone. I think we can

[2017-02-19 00:49] v1k0d3n commented on #372
i admit, i didn't read through most of the comments...

why are people forgetting about the IRC and XMPP features in slack? right, so it's not exactly ideal...but i use an IRC client with slack, and it works just fine.

- [x] manage the logs yourself
- [x] use your same IRC client (hexchat, pidgin IRCCloud)

not sure what the fuss is about here.

[2017-02-19 01:12] rdodev commented on #372
@v1k0d3n the $225K/yr bill was a big motivator for this thread -- it's what started it, actually.

[2017-02-19 03:49] JpMaxMan commented on #372
+1 IRC and for the modern interface irccloud.com

[2017-02-19 15:10] lattwood commented on #372
2¢: If the k8s slack didn't exist I wouldn't have contributed to the k8s ecosystem. https://github.com/NickelMedia/efs2sky

[2017-02-19 16:18] Philmod commented on #372
What about creating a collective on https://opencollective.com, and finance Slack cost from the community?

[2017-02-19 16:52] timoreimann commented on #372
@Philmod Please read https://github.com/kubernetes/community/issues/372#issuecomment-280870270 -- it looks price is not going to be an issue anymore.

[2017-02-19 22:25] ashb commented on #372
I don't think this has been mentioned yet, but the signup barrier to Slack is non-zero: You have to use the hack to get an invite , go through an email confirmation etc. With a web-based IRC client you can click and get an (anon) session and start chatting if that's your thing.

[2017-02-20 10:25] nhlfr commented on #372
IRCCloud in free version has an unlimited history log and possibility of using a mobile app. Creating IRCCloud account isn't very different for creating an account on any website. At the same time, IRCCloud brings a feature we're mostly concerned about - an access to history.

What @ashb wrote is so true. The most of people interested in k8s discussions are sysadmins and developers who already use

[2017-02-20 10:29] tazjin commented on #372
Technically I believe we could use the Slack IRC bridge to do the same (and I think there has been an effort to do that?), but it may violate the Slack EULA.

[2017-02-20 10:34] davidopp commented on #372
I used IRCCloud back when the project used IRC (I even got the pay-monthly version) and I find that Slack is a lot more usable.

But as @timoreimann pointed out, it sounds like the money issue may be solved now, in which case this discussion presumably is too. Maybe we should suspend the discussion until we hear whether the money issue is actually resolved.

[2017-02-21 16:57] vaikas-google commented on #357
Any updates or ideas as to when this might land?

[2017-02-21 20:01] bgrant0607 commented on #372
As jbeda mentioned, we originally used IRC, and moved away from it. It had many downsides: diverse and inconsistent client experience, email notifications and other features were DIY, frequent connectivity problems, difficulty in managing channels, discoverability problems, archives at least as obscure as our current slack archives, and more. I can't envision moving back to IRC.

We did evaluate a

[2017-02-21 20:03] colemickens commented on #372
Thanks for the update @jbeda. I'm going to close this with the presumption that Slack will grant the non-profit plan for https://kubernetes.slack.com.

[2017-02-21 20:03] #372 closed

[2017-02-21 20:37] calebamiles commented on #315
closing this issue, let's move the discussion of when to schedule the SIG meetings to the [mailing list](https://groups.google.com/forum/#!forum/kubernetes-pm) or the Community Meeting.

[2017-02-21 20:37] #315 closed

[2017-02-22 16:04] justinsb commented on #300
I don't want to hijack this proposal, but should we discuss alpha & beta in labels & annotations here?

For example, on https://github.com/kubernetes/kubernetes/pull/40088 , we end up with this:

(Nothing particularly criticizing that PR, that is just the natural consequence).

That means we effectively break user manifest files.  We do all this API compatibility work to make sure everything works

[2017-02-22 16:38] luxas commented on #300
Also see: https://github.com/kubernetes/kubernetes/pull/41835

[2017-02-22 18:07] deads2k commented on #300
I think that we face a similar problem with namespace names.  To prevent future pain, we could reserve all namespaces that start with `kube-`.

We currently create a couple well known namespaces called `kube-system` and `kube-public`.  I suspect that over time we may develop more, particularly as we start self-hosting pieces of infrastructure or want to extend core functionality with "blessed" add

[2017-02-22 19:23] luxas commented on #300
@deads2k Agree. But how do you envision we can claim those namespaces?
Do you mean we should restrict the user from creating other `kube-*` namespaces or do you just mean that we should document them as claimed/well-known?

[2017-02-22 19:41] deads2k commented on #300
Document the intent. I don't think we can reasonably or easily actively restrict their creation with our current infrastructure.

[2017-02-22 19:43] luxas commented on #300
Yeah, that's what I thought. Seems like https://kubernetes.io/docs/api-reference/labels-annotations-taints/ or the like is the right place to start...

[2017-02-24 18:07] nydalal opened #400 "Cross-cluster communication between pods (AWS)"
I've question with cross-cluster communication between pods on AWS.

I am using kubernetes to deploy clusters on AWS. Both clusters are in same region and AZ. Both clusters are deployed in their own VPC with non-overlapping subnets. I've successfully created VPC Peering to establish communication between two VPCs. and Minions (instances) from VPC can ping each other through private IP.

Question i

[2017-02-24 19:37] bgrant0607 opened #402 "Project Governance Umbrella issue"
There have been a number of discussions about project governance.

Relevant issues:

* Elders
  * https://github.com/kubernetes/community/issues/28
  * https://github.com/kubernetes/community/pull/267
* Governance.md
  * https://github.com/kubernetes/community/issues/277
  * https://github.com/kubernetes/community/pull/286
  * https://docs.google.com/document/d/1UKfV4Rdqi8JcrDYOYw9epRcXY17P2FDc2ME

[2017-02-24 21:20] countspongebob commented on #402
Brian, great list, thanks for pulling this together.

One of the key issues for our project is whether we are philosophically running more of a top-down, hierarchically oriented project, or more of a decentralized one. I think if we can get some consensus on that (or get the BDFLs to agree), the implementation strategies become more clear.

There are good arguments both ways for how to tilt our di

[2017-02-25 20:57] xsgordon commented on #376
Following discussion on the SIG mailing list and in the weekly meetings @hogepodge's PR has now merged, any future additions/changes can be tracked via a new issue or PR.

[2017-02-25 20:57] #376 closed

[2017-02-26 23:10] dankohn commented on #402
It's an embarrassingly small part of your list, but CNCF staff is actively working on taking "...responsibility for legal issues, license validation, trademark enforcement, etc." In particular, we'll soon be presenting a program to the K8s project leaders and the TOC of monthly retroactive license scans of all code, especially vendored libraries and incubator projects.

CNCF staff stand ready to d

[2017-02-27 07:20] Fiseast opened #406 "cloudera manager in kubernetes"
I tried to deploy cloudera manager in kubernetes.
Kubernetes's network is flannel.
cloudera manger server 172.100.73.5
host1 172.100.39.3
host2 172.100.73.3
host3 172.100.76.3

Now, I found it will connect to broadcast's(172.100.73.0) port 7182 if the hosts and the cloudera manager server is different ip network when add hosts to cluster.
So the result is "connection is refused" except host2.

How

[2017-02-28 23:50] mbohlool commented on #229
@thockin @pwittrock [OpenAPI 3.0 draft](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md#schema-object) has oneof support.

[2017-03-01 23:02] monopole opened #420 "De-dupe developer/contributor information"
@bgrant0607 recently noted that [Our Developer/Contributor Docs Need Love](https://groups.google.com/forum/#!topic/kubernetes-wg-contribex/ucUPGVKhkQI).

One aspect of that is removal of duplicated or outdated info.

To close this issue, in the [code repo](https://github.com/kubernetes/kubernetes), replace all long discussions of code contribution with shorter text pointing to the right spots in t

[2017-03-02 15:55] TamalSaha opened #424 "Proposal: Implement stateful TPR Flock"
_[Birds of a feather flock together](http://www.urbandictionary.com/define.php?term=Birds%20of%20a%20feather%20flock%20together)_

When we run stateful apps (apps that store data in disk) like GlusterFS or various databases, we face a choice which Kubernetes object to use for provisioning such objects. Here are the requirements:

- Stable routable network ID (stable across restarts). Must support

[2017-03-02 17:14] idvoretskyi opened #425 "Feature Submission template has to be enhanced - umbrella issue"
This is an umbrella issue to collect the feedback from the community.

Existing feature submission template [1] has to be enhanced and simplified before 1.7 features acceptance will be open.

1. https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md

[2017-03-02 18:24] TamalSaha commented on #424
Looks like we can just write / use a dynamic provisioner for HostPath. Thanks @smarterclayton .

https://github.com/kubernetes-incubator/external-storage/tree/master/docs/demo/hostpath-provisioner

[2017-03-02 18:24] #424 closed

[2017-03-02 20:59] bgrant0607 commented on #420
cc @grodrigues3

[2017-03-02 21:58] idvoretskyi commented on #425
cc @kubernetes/features-maintainers @kubernetes/kubernetes-pm

[2017-03-02 22:33] #243 closed

[2017-03-02 23:42] bgrant0607 commented on #135
ref https://github.com/kubernetes/kubernetes/issues/14961, https://github.com/kubernetes/kubernetes/issues/7328

[2017-03-03 11:06] alouane opened #427 "ssh to kube nodes? [AWS]"
Hi there,
How is it possible to ssh to a particular kube node [AWS environment], where I can find the pem file? I looked in **kubernetes/cluster/aws/util.sh** but nothing could link me out to the pem file location, I got only the fingerprint used to create the aws key

Thanks

[2017-03-03 11:31] kris-nova commented on #427
How did you deploy the cluster? If you used a tool like kops you specified the key at runtime and you should have it on your local file system

[2017-03-03 11:36] alouane commented on #427
well I actually used kube-up.sh script => **[https://kubernetes.io/docs/getting-started-guides/aws/](https://kubernetes.io/docs/getting-started-guides/aws/)**

[2017-03-04 18:22] mindfulmonk commented on #372
Is there an update on this?

[2017-03-04 18:24] caniszczyk commented on #372
https://www.cncf.io/blog/2017/03/01/slack-gives-back-k8s-cncf-community

[2017-03-05 10:01] boynux opened #429 "Proposal: IPvS implementation for KubeProxy"
# Overview:

The current proxy with IPTables implementation has some limitations.

* The most problematic one is inability to pass-through the original request IP address.
* The other issue is load distribution algorithms over the origins.

Many applications rely on request source address information to work normally. Most layer 7 proxies like NginX or HAProxy can add "X-Forwarded-For" header to t

[2017-03-06 18:21] bgrant0607 opened #432 "Refresh our approach to conformance testing and create a distribution certification program"
Forked from the [system layers draft](https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#).

There are more than 30 Kubernetes distributions and services today. The portability of applications and tools across distributions is crucial to the health of the Kubernetes ecosystem. It is therefore desirable to foster maximal portability and to discourage fragmentation.

[2017-03-06 18:23] bgrant0607 commented on #432
Copying a comment from @justinsb:

IMO we cannot require upstreaming, but we should make it the optimal behaviour.

In particular: The pace of progress in core must continue to outpace the forks, and we should ensure that forks do not block core. So when people are objecting to a PR because it makes maintaining their non-upstreamed code harder, we should probably say "this is why you probably don'

[2017-03-06 18:23] bgrant0607 commented on #432
cc @timothysc

[2017-03-06 18:40] timothysc commented on #432
Building out e2e "Conformance" tests to be a fully featured checklist seems like the most tenable path towards this goal, and focuses on client<>api<>behavior vs. the details under the hood, which changes from vendor to vendor.

Ideally we could have a shared CNCF testing infrastructure that provides an incentive for vendors to hook in their distribution to get "approved" for a release.

/cc @jbed

[2017-03-06 18:47] bgrant0607 commented on #432
Another possible strategy for non-pluggable components, which some other projects use, is to mandate usage of upstream code somehow.

[2017-03-06 21:11] brendandburns commented on #402
In addition to defining roles, I'd like to see us define the process for decision making.

One other thing that concerns me with our current (lack of) governance structure is that it kind of papers over the fact that SIGs sometimes make changes that have really broad impact (sig-api-machinery, I'm looking at you...).

Currently we've been allowing SIGs to make these decisions without much input fr

[2017-03-06 22:29] WilliamDenniss commented on #432
Certification is a great way to promote interop. It would be fantastic if moving workloads between certified distributions was predictable and effortless. I like the idea of an image mark to denote compliance, and shared CNCF testing infrastructure to validate conformance.

It would be great if pluggable components were included in certification, it's possible to have very popular components that

[2017-03-06 22:42] bgrant0607 commented on #432
cc @philips

[2017-03-06 23:02] bgrant0607 commented on #432
cc @dankohn

[2017-03-06 23:14] dankohn commented on #432
CNCF stands ready to kick off a working group to organize a conformance and labeling program.

[2017-03-06 23:29] bgrant0607 commented on #432
Some examples of Kubernetes distributions, services, appliances, etc., in no particular order:
* https://cloud.google.com/container-engine/
* http://openshift.com
* https://tectonic.com/
* https://www.infoq.com/news/2016/11/apprenda-kubernetes-ket
* https://www.ubuntu.com/cloud/kubernetes
* https://www.mirantis.com/solutions/container-technologies/
* https://platform9.com/products-2/kubernetes/
*

[2017-03-07 00:23] bgrant0607 commented on #432
cc @erictune

[2017-03-07 05:22] smarterclayton commented on #432
In practice (at least with regards to forking) - Kubernetes moves glacially
slowly w.r.t. features and thorny issues.  Which incentivizes forkers to
create more forks.  So if kube actually moved faster (or split components
out) more of the need for forks diminishes.

On Mon, Mar 6, 2017 at 7:23 PM, Brian Grant <notifications@github.com>
wrote:

[2017-03-07 14:50] timothysc commented on #432
@dankohn I believe this must belong to the cncf to support the shared testing infrastructure to enable both tests and reporting.

[2017-03-07 16:47] bgrant0607 commented on #402
One description of a few common governance structures: https://opensource.guide/leadership-and-governance/#what-are-some-of-the-common-governance-structures-for-open-source-projects

[2017-03-07 17:21] bgrant0607 commented on #402
A TBD from the governance.md PR:
* Policies/procedures for donated code (e.g., helm, kubernetes-anywhere, kompose, kargo);  line is blurry between donating code to CNCF and donating code to Kubernetes; we may need to distinguish "affiliated" projects from repositories that feed into the Kubernetes releases

[2017-03-07 17:31] bgrant0607 commented on #277
Doc is deprecated. Now PR is primary.

[2017-03-07 19:07] #420 closed

[2017-03-08 03:14] talk2vino commented on #427
@alouane

The perm file should be in $HOME/.ssh/kube_rsa

``` ssh -i <path of the private key file>  admin@<ip of the aws kube instances> ```

hope this help

[2017-03-08 09:04] sebgoa commented on #402
Incubator:

The current structure of the [incubator](https://github.com/kubernetes/community/blob/master/incubator.md) is light weight by design but it lacks:

* Clear definition of graduation. Who votes on graduation of project ? Where are those discussions happening ?
* Processes to add members to an incubator project.

Suggestions:

* Create an _Incubator Management Committee_ which oversees al

[2017-03-08 12:17] alouane commented on #427
Yep I got it

Thanks @talk2vino

[2017-03-08 12:17] #427 closed

[2017-03-08 23:16] ymqytw commented on #229
Closing this in favor of #278.

[2017-03-08 23:16] #229 closed

[2017-03-09 05:56] bgrant0607 commented on #402
From a comment by @jbeda on the architectural layers doc:
* A process for accepting new features / functionality

[2017-03-09 12:31] jayunit100 opened #441 "sig-instrumentation desc."
We Need a better description for sig-instrumnetation

[2017-03-09 12:32] jayunit100 commented on #441
Also sig node needs beeter info https://github.com/kubernetes/community/blob/master/sig-node/README.md

[2017-03-09 12:35] jayunit100 commented on #441
sig storage also could use more specific buzz words in its description

[2017-03-09 12:36] jayunit100 commented on #441
And of course, sig testing should mention that we focus alot on CI, e2es, flakes, defining semantics of tests in our sig description.

[2017-03-09 20:47] bgrant0607 commented on #194
@thockin @smarterclayton

I actually suggested this here:
https://github.com/kubernetes/kubernetes/pull/32771#issuecomment-249916983

And got agreement in principle from dchen1107 (deliberately not notified so as not to bug her) that it wouldn't be crazy to add to Kubelet.

Independent of time-skew issues, it would be simpler to have this in PodSpec rather than duplicated in every workload control

[2017-03-09 20:56] bgrant0607 commented on #194
cc @erictune @janetkuo

[2017-03-09 20:59] erictune commented on #194
This is a good proposal.    Agree with doing in Kubelet.  Let's do kubelet in 1.7.

[2017-03-09 21:01] erictune commented on #194
I mean that "moving MinReadySeconds in the PodSpec" sounds good.  Haven't studied the details.  @janetkuo PTAL.

[2017-03-10 10:03] kargakis commented on #194
I can open a PR for better reviewing and drive the proposal to completion but I won't be able to drive the proposal implementation for 1.7.

[2017-03-13 21:34] luxas commented on #432
/cc

[2017-03-13 22:02] timothysc commented on #432
@kubernetes/sig-testing-feature-requests

[2017-03-13 23:01] chupman commented on #359
I'd like to work on this. I've looked at verify-links.sh script that @duglin wrote, but I'm not totally clear on how you want the link checking implemented. Are you wanting something like a scheduled task to regularly scan for dead links? Or just something to manually run from time to time?

[2017-03-13 23:55] duglin commented on #359
@chupman it should run as part of the verification checks that are part of the normal kube build process.  So basically it should run on every PR.  Similar to what is done for lint and gofmt checks.

[2017-03-14 00:15] chupman commented on #359
I'm most likely overthinking it, but my concern was that if you run on every PR it could cause unrelated errors if an existing link goes dead. Would it make sense to expect an extra arg with the files changed in addition to the repo base dir? Or is it better to just leave it simple and just scan the whole repo and let the reviewer read the error log?

[2017-03-14 00:20] duglin commented on #359
The purpose behind running the test is exact what you said... to find dead links. So we want things to fail if there area dead links.  I suspect the first time we turn this on we'll find a TON and it'll result in the PR to add this to also include a ton of md file fixes.  :-)

Now if you're concerned about having to check too many files and it being slow, we should wrapper the call to the checker

[2017-03-14 01:20] GheRivero commented on #432
/cc

[2017-03-14 04:39] brendandburns commented on #402
fwiw, there data + analysis tools for the community survey data is here:

https://github.com/brendandburns/k8s-community-survey

[2017-03-14 21:22] idvoretskyi commented on #425
Template v2 is described in the [document](https://docs.google.com/document/d/1-D_QP2IC5Z_QJUmTOV24IsFknc9pGPU5xeq6gjP4f38/edit) and proposed at https://github.com/kubernetes/features/pull/204.

[2017-03-14 21:29] hh opened #455 "Soliciting Kubernetes CI requirements for Inclusive Integration with CNCF Projects"
[[cncf-ci-public] CNCF CI Goals](https://lists.cncf.io/pipermail/cncf-ci-public/2017-February/000001.html)
[[cncf-ci-public] Soliciting CI requirements via Project GitHub Issues](https://lists.cncf.io/pipermail/cncf-ci-public/2017-March/000024.html)

This github issue is to provide a highly visible invite to be part of creating a cross-cloud cross-project CI within the diverse software communities

[2017-03-15 08:50] ohmystack opened #458 "Proposal: allow StatefulSet to use RestartPolicy "OnFailure" and "Never""
### Goal

Allow StatefulSet to use the other 2 restart policies: "OnFailure" and "Never".
It enables to deploy "run-once + strong identity" cluster apps using StatefulSet.

### Use Cases:

In machine learning, for training a model in distributed way, we define a bunch of ordered stateful container workers, e.g. "worker-0" "worker-1" ... "worker-n". (They use numbers as their suffix. StatefulSet ca

[2017-03-15 09:01] ohmystack commented on #458
/cc @smarterclayton @bprashanth @kargakis @kow3ns @thockin

[2017-03-15 12:40] kargakis commented on #458
I don't feel comfortable adding run-once semantics in a controller that is designed to run long-running processes. @soltysh @erictune is this a use case for indexed Jobs?
https://github.com/kubernetes/kubernetes/issues/14188

[2017-03-15 12:41] kargakis commented on #458
cc: @kubernetes/sig-apps-feature-requests

[2017-03-15 12:43] soltysh commented on #458
That's what it looks to me. Although, IndexedJobs will be limited in comparison with StatefulSet, esp. the storage part, but the stable identity is a key req for it.

[2017-03-15 14:12] ohmystack commented on #458
@kargakis @soltysh
I'm so glad that it has been designed before. This is my first time to hear about Indexed Job.
The `--restart=OnFailure` flag and the `$INDEX` environment variable are fantastic and useful!

I found that kubernetes/kubernetes#14188 has been shelved for over a year. Is there anyone working on or planning to implement this? I would like to help to implement this.

[2017-03-15 15:34] erictune commented on #458
Are the workers (1) cooperating to solve a single problem instance, e.g. train a single model?  Or are they (2) doing parallel work, e.g. train and evaluate a model 20 times in parallel, each with different values of a hyperparameter?

[2017-03-15 16:22] erictune commented on #458
If it is (1), then I'd suggest you just use a statefulSet, and have an outer control loop delete the statefulSet once the problem is done.

If it is (2), then the best current option is to just generate lots of Jobs using a script.

[2017-03-15 16:34] ohmystack commented on #458
@erictune
It is (1). The workers cooperationg to train a single model.
The workers mainly need 2 parameters: "a whole cluster structure" and "index of itself".
The whole cluster structure: this parameter is all the same among all the workers.
The index: this paremeter is different. Each worker need to use the index number to know which part to take. e.g. `--index=$INDEX`

For a distributed TensorF

[2017-03-16 05:18] thockin commented on #402
When the title is "governance", it brings to mind a particular class of concerns for me.  This is not to diminish the importance of the many other issues we
have as a codebase, project, and community, but I think GOVERNANCE is really the framework by which we decide who gets to decide.

1) There aren't official technical leads for subareas of the project.

2) There is no clear escalation path / pr

[2017-03-16 10:22] idvoretskyi commented on #402
We already have the SIG-PM [1], and its responsibility is more or less equal to that what you've described. Does your concept of PMG fit the concept of SIG-PM or PMG is rather a separate sub-organization?

1. https://github.com/kubernetes/community/tree/master/sig-pm

[2017-03-16 13:31] adohe commented on #135
/cc @adohe

[2017-03-16 14:34] kargakis commented on #135
We also need to document that controllers should not set owner refs when parents have been marked for deletion.

[2017-03-16 15:41] thockin commented on #402
It was designed to formalize the role of SIG-PM with regards to the rest of
my sketch.

On Thu, Mar 16, 2017 at 3:22 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-03-16 16:59] jbeda commented on #402
@thockin I like your sketch.

But I do worry about the phrasing: "SIG-TLs are beholden to the PMG,
and are expected to implement the plans therefrom."  This implies a level of command and control that may not be practical.  In an OSS project we can't really tell anyone where to spend their time.  We can withhold support, not merge, not review, etc.  But we can't make stuff happen if folks aren't b

[2017-03-16 17:32] kow3ns commented on #458
I do want to reiterate from the previous discussion that
- ReplicaSets are meant to [make sure a specific number of Pods are running at a particular time](https://kubernetes.io/docs/user-guide/replicasets/#when-to-use-a-replicaset)
- DeamonSets are meant to [make sure that all (or some) Nodes run a copy of a Pod](https://kubernetes.io/docs/admin/daemons/#what-is-a-daemonset)
- StatefulSets are mea

[2017-03-16 17:43] kargakis commented on #458
Yes, probably TPR is what you want to use:) Although TPRs are not ideal
today

On Thu, Mar 16, 2017 at 1:32 PM, Kenneth Owens <notifications@github.com>
wrote:

[2017-03-16 18:02] duglin commented on #359
For reference, here the repo with the link checker:  https://github.com/duglin/vlinker

[2017-03-16 20:00] bgrant0607 commented on #134
cc @grodrigues3

[2017-03-16 20:01] bgrant0607 commented on #159
cc @kubernetes/sig-docs-maintainers

[2017-03-16 22:56] smarterclayton commented on #458
Yeah, "StatefulJobs" is how we would bucket this.  Our controller types (Deployment, RS, StatefulSet) are not for "jobs".

[2017-03-16 22:57] k8s-mirror-aws-misc opened #468 "Add sig-aws to org"
@idvoretskyi @sarahnovotny

I will be adding the new sig users here, can you please add them to the org?

[2017-03-16 22:57] k8s-mirror-aws-misc commented on #468
😄

[2017-03-16 23:03] k8s-mirror-aws-test-failures commented on #468
:1st_place_medal:

[2017-03-16 23:08] k8s-mirror-aws-bugs commented on #468
😻

[2017-03-16 23:12] k8s-mirror-aws-feature-requests commented on #468
🚀

[2017-03-16 23:16] k8s-mirror-aws-proposals commented on #468
🤕

[2017-03-16 23:17] k8s-mirror-aws-pr-reviews commented on #468
😷

[2017-03-16 23:19] k8s-mirror-aws-api-reviews commented on #468
💃

[2017-03-16 23:22] kris-nova commented on #468
I need this done before I can add the teams :(

https://github.com/kubernetes/community/blob/master/sig-creation-procedure.md#create-the-github-teams

[2017-03-17 03:20] ohmystack commented on #458
Agree. After the discussion here, I think the "Indexed Job" or "StatefulJob" may be the best solution.

[2017-03-17 04:12] thockin commented on #402
On Thu, Mar 16, 2017 at 9:59 AM, Joe Beda <notifications@github.com> wrote:

Sure, I thought about that as I was writing, but I wasn't sure the
right words.  Like any constitution, we need to find the right balance
of powers and the right checks on those powers.

Agree.  What if PMG is elected by the OWNERS or MAINTAINERS to
represent the product interests.  In a way, it's still an engineering
dri

[2017-03-17 16:23] countspongebob commented on #402
@thockin : Three branches proposal is my concrete proposal for distributing project control, and concretely, this proposal gives the PM SIG too much weight without a check.

Inherent in my proposals is an opinion that the the project is currently ad-hoc highly centralized, and should be formally more decentralized.  This means more people from more companies granted a higher level of trust and emp

[2017-03-17 17:09] thockin commented on #402
On Fri, Mar 17, 2017 at 9:23 AM, Bob Wise <notifications@github.com> wrote:

To be sure, my proposal here was somewhat off the cuff, especially
with regards to PMG.  I'm going to pause here and re-digest your
proposal.  OK, I am back.

Bob, I think we're about 84.7113% aligned.  I de-emphasized what you
call the Project Policy Board, probably because I am not sure I
understand it, and I added the

[2017-03-17 21:20] timothysc commented on #432
I'll be deep in a multi-pronged cleaning of the e2es and will try to rationalize a doc with the testing sigs and communicate that back over the course of 1.7.  Before we even pontificate what the meaning of "is" ...is ;-) we need to cleanup what is there.

[2017-03-18 21:43] jbeda commented on #402
Some open questions that are unrelated to the main thread here as @bgrant0607 keeps telling me to put issues here:

* We need to define the scope of this governance.  Is this `kubernetes/kubernetes`? `kubernetes/*`? Some other subset?  Any repo that goes in to the main release?
* Right now there are hidden groups and membership lists.  I really like the model that the source of truth for any membe

[2017-03-19 01:54] smarterclayton commented on #402
I'd appreciate if the specific criticism of API machinery was moved into its own discussion thread (probably on that sig's email group) and the folks who have concerns specifically describe them in detail and work with the SIG on those issues.  I'm seeing references, but no attempt to resolve the concerns or be specific, which I don't think is in keeping with our community code of conduct.

[2017-03-19 04:18] jbeda commented on #402
I'm happy to move this stuff in to a SIG specific issue/document if we have one that I can put it in.  Otherwise, Brian was asking me to pull everything in to this one issue as I was reviewing the governance.md PR that he has out.

As for issues -- don't want to get in to it here.  But I find it encouraging that the discussions around external admission policy was submitted to the feature repo.  T

[2017-03-19 05:15] smarterclayton commented on #402
It was one of our committed 2017 features at the dev summit (along with TPR improvements, clients on the server): https://docs.google.com/presentation/d/1dFfN3_9VM4cRKknZB9_0wsM_1YLJToRTEx7dX6BoEhI/edit#slide=id.g18c1dcf7fb_3_431

I don't know how things can be more advertised than the Kubernetes community 2017 roadmap :)

[2017-03-19 05:41] jbeda commented on #402
I'm not sure that it is worthwhile to go back and forth on a specific issue but, yes, it could have been better advertised.  There was no feature issue for it until 2 days ago and there were no updates during the community meeting.  As features like this hit major milestones (design proposed, design accepted, alpha) it would be helpful to checkpoint with the larger community.

[2017-03-19 15:07] sebgoa commented on #402
To me we should do it all in one go.

I understand there are established roles that have grown organically, but we can define a high level framework that covers the entire project. That's what I suggested in #351

Once you have a basic framework - as succint as possible- we can work on layering technical roles and decision making on top of that structure, using some/all existing roles.

[2017-03-20 15:12] bgrant0607 commented on #402
Regarding membership lists: The governance.md draft does advocate checking in all membership lists, as suggested above: https://github.com/kubernetes/community/issues/402#issuecomment-287577041

[2017-03-20 15:39] bgrant0607 commented on #402
Observation: If we cap the number of SIGs, we'll definitely need to formalize the notion of Working Groups, which are already sprouting up (e.g., the Resource Management Working Group). People want dedicated forums to work together on specific areas of interest. That's what spawned SIG Cluster Lifecycle initially, as well.

[2017-03-20 17:00] bgrant0607 commented on #402
Buckets of areas:
* Decision process(es): lazy consensus, escalation, etc.
* Overall project structure: SIGs, TLs, elders, PMs, contributor ladder, other roles
* Someone needs the responsibility for ensuring the project is well functioning, in terms of structure, processes, policies, tooling, etc.
* Someone needs the responsibility for high-impact technical decisions and direction-setting

[2017-03-20 17:27] bgrant0607 commented on #402
Decision role identification framework aligned with existing project practices:
https://stumblingabout.com/tag/oarp/

[2017-03-20 21:39] davidopp commented on #402
I don't see a good reason to cap the number of SIGs.
I think the underlying issue here is that SIGs are sometimes making cross-cutting decisions without getting broad participation from affected parties, many of whom may not be in the relevant SIG.
We'd still need to address this even if we limited the number of SIGs (unless we reduced to one SIG).
I think the solution there is about better advert

[2017-03-21 02:03] bgrant0607 commented on #402
Great example of a community-led initiative by @philips:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/v_jgXtqMjeg/HsR0pbzKBwAJ
https://github.com/kubernetes/community/pull/126

[2017-03-21 02:06] bgrant0607 commented on #402
Whatever problems aren't solved by the initial draft should have assigned owners.

[2017-03-21 02:07] bgrant0607 commented on #402
Proposal to allow ~anyone into the github org: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-wg-contribex/ia6tV0LNen8/IEakt5YYEwAJ

[2017-03-21 15:21] bgrant0607 commented on #402
Followup from the first meeting (with links to notes and video):
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/4e8WOnMvZC0/eZIvrFYlCAAJ

One of the first things that needs to be figured out is a decision categorization framework, so that the deciders for each category can be easily and unambiguously determined (to the extent that is possible). Examples of

[2017-03-23 16:55] kargakis commented on #194
Closing in favor of https://github.com/kubernetes/community/pull/478

[2017-03-23 16:55] #194 closed

[2017-03-23 23:54] calebamiles commented on #402
I thought that the Rust Language [governance RFC](https://github.com/rust-lang/rfcs/blob/master/text/1068-rust-governance.md) was fairly interesting read. I also think that their general [RFC framework](https://github.com/rust-lang/rfcs#what-the-process-is) is an interesting, if not slightly ambiguous, way to propose changes to Rust.

[2017-03-24 02:00] josephjacks commented on #432
@bgrant0607 I have merged your list above with mine in a living sheet along with some more dimensional data that might prove useful. Happy to work with @dankohn in the new WG on next steps. The list is now up to 45+ and growing. Some pruning and corrections might be needed, but I think it is a decent start. https://docs.google.com/spreadsheets/d/1LxSqBzjOxfGx3cmtZ4EbB_BGCxT_wlxW_xgHVVa23es

[2017-03-24 02:18] dankohn commented on #432
Thanks, JJ, very helpful. I bless your spreadsheet as the official one as long as you promise to keep it up to date. Cc @WilliamDenniss

[2017-03-24 12:36] josephjacks commented on #432
@dankohn happy to with support from the community which has been great so far mostly thanks to twitter. :)

[2017-03-27 11:54] soltysh commented on #458
@ohmystack with the Indexed Job being tracked in https://github.com/kubernetes/kubernetes/issues/14188, are you ok with closing this in favor of it?

[2017-03-28 03:26] bgrant0607 opened #484 "New release notes process and guidance"
Forked from https://github.com/kubernetes/features/pull/204 and other discussions.

We put our release notes here:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md

The original release-note mechanism design and release changelog template were described here:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release-notes.md

A decision about whethe

[2017-03-28 13:05] ohmystack commented on #458
@soltysh OK. I'll close this. Let's track the Indexed Job.

[2017-03-28 13:05] #458 closed

[2017-03-28 20:20] bgrant0607 commented on #402
Thanks, @calebamiles. I'll take a look. I also thought the NodeJS governance was interesting, since they were also striving for a lightweight model:

https://github.com/nodejs/node/blob/master/GOVERNANCE.md

[2017-03-28 20:27] bgrant0607 commented on #402
One issue that has come up in multiple threads that governance will need to address:

We have a number of horizontal SIGs/teams that span the entire project, such as:
* PM
* Contributor experience
* Docs
* Testing
* Release
* API machinery
* CLI
* UI
* Cluster lifecycle
* Windows

Clearly these SIGs need to be able to make forward progress in these areas, but there has been discussion about how ch

[2017-03-29 19:08] hir3npatel opened #490 "Docs around starting hyperkube"
The step "2. Start hyperkube" in the link below, does not work anymore. At least with hyperkube 1.6.0 options --config no longer exist, --api-server seems not to apply, starting hyperkube as described in that step does not work.
https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md

[2017-03-29 21:52] bgrant0607 commented on #402
Many other SIGs work on areas that affect other SIGs, as well, such as scalability, scheduling, node, ...

I also want to reinforce a point by @spiffxp in another proposal:
https://github.com/kubernetes/community/pull/422#issuecomment-284919213

Where there are SIGs covering an area, we need to work with those SIGs to improve. Where there isn't an appropriate SIG, we either need to create one or d

[2017-03-30 11:24] hir3npatel commented on #490
The steps in the link are deprecated, as it says on the top of the page. It should probably be larger and in red, to grab reader attention though. Feel free to close though.

[2017-03-31 11:58] Wonder007 opened #496 "Kubernetes and Vault Integration"
Any experts out there who can briefly provide pros and cons of Vault vs Kubernetes?

Vault -> Generic storage for anything
Kubernetes -> Specific to Containerization Technology

Thanks in advance

[2017-03-31 16:08] bgrant0607 commented on #402
Another example:
https://www.debian.org/devel/constitution

[2017-03-31 16:25] bgrant0607 commented on #402
Interesting cautionary tale: http://asterisk.dynevor.org/xfree-forked.html

[2017-04-03 15:56] luxas commented on #468
Oh, wow, bot take over!!

Does a human control these accounts or was this auto-generated from somewhere :smile:?

[2017-04-03 17:14] kow3ns commented on #496
Vault is a secrets storage system.
Kubernetes is a container orchestration framework.
You could use Vault to secure your secrets for your Kubernetes workloads [eg](https://github.com/kelseyhightower/vault-controller).

[2017-04-03 17:16] kris-nova commented on #468
@luxas I created these accounts

I think they are used for bots and for mailing list notifications. I just do what I am told 😄

@idvoretskyi and @sarahnovotny probably can tell you more.

[2017-04-04 03:05] bgrant0607 commented on #402
The Rust governance RFC that @calebamiles pointed out also has interesting parallels to the K8s SIG model (~ Rust subteam) as well as to the proposal process (~ Rust RFC).

[2017-04-04 10:10] erikbgithub opened #505 "Most guides are not detailed enough"
For instance this one: https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md

It basically says "run hyperkube with these params" and even after an update it's mostly "don't do this any more, use minikube instead" while the minikube again just says "run minikube with these params".

This kind of article doesn't do any good, because people run into problems.

[2017-04-04 23:25] calebamiles commented on #402
I also really liked the Debian constitution, @bgrant0607. Specifically I like that all power flows _from_ individual developers to roles of official leadership and that it is possible to recall members from official leadership roles although I would hope that the process for doing so would be exercised infrequently

[2017-04-05 15:30] dankohn commented on #455
Note that there is a desire to move the K8s testing off of Google-controlled (and Google-funded) infrastructure. https://github.com/kubernetes/release/issues/281#issuecomment-287234235

[2017-04-06 14:14] kruunch commented on #400
I'm running into the same issue as well.

[2017-04-06 14:19] liggitt commented on #400
For issues like this, please use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/

[2017-04-06 14:19] #400 closed

[2017-04-06 15:44] quinton-hoole commented on #429
We have a tested implementation of IPVS kubeproxy in https://github.com/kubernetes/kubernetes/issues/44063
Busy tying the various related issues and PR's together now.

[2017-04-10 10:19] idvoretskyi commented on #468
@luxas @kris-nova these accounts are used for the "service" purposes, a human doesn't need to use them. More details are [here](https://github.com/kubernetes/community/blob/master/sig-creation-procedure.md#github-users-creation).

[2017-04-10 22:06] philips commented on #468
Can someone explain what is happening here?

On Mon, Apr 10, 2017 at 3:19 AM Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-04-11 09:53] idvoretskyi commented on #468
@philips no worries, testing the procedure with @kris-nova

[2017-04-11 21:44] countspongebob commented on #402
Per discussion at the SIG PM meeting today, I'm proposing we consider changes rather than features, @jbeda has proposed calling these "efforts".  Change control policy is a key governance issue, SIG PM requested I post the issue here.

https://github.com/kubernetes/features/issues/247

[2017-04-12 09:22] maxim28 opened #530 "Confused with CheckNodeMemoryPressure"
The Algorithm document says:

i think it means all pods except BestEffort will be checked for NodeMemoryPressurePredicate, is that right? but when i investigated the code, which means No BestEffort Pods will not be checked?

[code]

Similar in CheckNodeDiskPressurePredicate, the document says

i think it means all pods will be checked for NodeDiskPressurePredicate, and the code describe the same t

[2017-04-12 15:13] idvoretskyi opened #531 "Feature repo and SIG PM should track "efforts", not "features""
_From @countspongebob on April 11, 2017 21:39_

Creating this issue per the SIG PM discussion today. Linking this issue to Ihor's proposed feature lifecycle doc and the governance PM discussion as requested during the call.

Linking to governance umbrella seems sensible, as the Seven need to ensure they either define or define who will own the overall change control process.

Draft feature lifecyc

[2017-04-13 21:30] bgrant0607 commented on #484
It's also worth looking at:

https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/doc/criteria.md#release_notes

The project MUST provide, in each release, release notes that are a human-readable summary of major changes in that release to help users determine if they should upgrade and what the upgrade impact will be. The release notes MUST NOT be the raw output of a version co

[2017-04-13 22:01] idvoretskyi commented on #484
@bgrant0607 should it work for _every_ release (including minor x.y.z) or major only (x.y.0)?

[2017-04-14 00:34] calebamiles commented on #402
I've taken [some notes](https://gist.github.com/calebamiles/c578f88403b2fcb203deb5c9ef941d98) on the aspects of some other governance models for OSS communities. I've also taken some notes on [my thoughts](https://gist.github.com/calebamiles/dc160c6a6fc6da9f8786a0d810bb6d38) on the taxonomy of problems presented by @bgrant0607 although no promises of of consistency of proposed solutions is guarent

[2017-04-15 00:23] bgrant0607 commented on #402
Very constructive and helpful, @calebamiles. Thanks.

Know anyone at Debian who could answer questions, such as how they incentivize volunteers to work on the Front Desk?

[2017-04-15 20:11] davidopp commented on #530
The implementations are consistent with the comments. First one (memory) says "no BestEffort should be placed on a node under memory pressure" and thus only applies the predicate for best-effort pods. Second one (disk) applies to all pods.

In the future, please post questions like this on StackOverflow over the kubernetes-users mailing list
https://groups.google.com/forum/#!forum/kubernetes-users

[2017-04-15 20:11] #530 closed

[2017-04-16 19:38] #135 closed

[2017-04-18 07:10] bgrant0607 commented on #402
More examples:
http://gem5.org/Governance
https://www.xenproject.org/governance.html

[2017-04-18 07:16] bgrant0607 commented on #402
On lazy consensus:

Lazy consensus is very pragmatic, and we'll likely need to use that approach for some decision-making on the project in order to make forward progress. However, I am concerned about using the approach broadly, because it requires constant vigilance from the stakeholders. And, because voting/veto rights are not transferrable today, those stakeholders can never take vacation or a

[2017-04-18 09:01] idvoretskyi commented on #402
Lazy consensus is a valuable form of voting; I would avoid skipping it completely, but we need to define types of questions that might be solved with the lazy consensus.

"Simple" questions may be solved with the lazy consensus; "complex" questions - should use more enhanced for of voting.

[2017-04-18 13:31] jamiehannaford opened #544 "SIG README formats are inconsistent and sometimes incomplete"
Would it be possible to standardise a template for all SIGs to use in their READMEs? Something like:

[code]

I'd be willing to take this on but wanted some feedback first.

[2017-04-18 15:38] bgrant0607 commented on #402
PMC reports could serve as inspiration for repo and/or SIG reports: http://www.apache.org/foundation/board/reporting

Even if we split the project into more repos, we couldn't entirely unify SIGs and repos due to the number of horizontal efforts.

[2017-04-19 04:54] bgrant0607 commented on #402
More on nodejs:

https://nodejs.org/en/foundation/
https://medium.com/the-node-js-collection/healthy-open-source-967fa8be7951

13 working groups plus the core technical committee:
https://github.com/nodejs/CTC/blob/master/WORKING_GROUPS.md

Almost 300 github org members and 100 repos:
https://github.com/nodejs

Project descriptions, categorized as core, dependent, adjacent:
https://github.com/node

[2017-04-19 07:01] bgrant0607 commented on #402
Possible modified Lazy Consensus Seeking approach:

* Proposer posts "I propose we do X. If there are no objections within Y days, it will be approved." where Y could be 3 to 14 depending on the magnitude, complexity, or level of controversy.
* Any objection (-1) among those with voting rights triggers the consensus seeking.
* If consensus is not reached in the stated amount of time, a vote is tri

[2017-04-19 14:48] castrojo commented on #544
I'm wondering if a template would work? So instead of manually updating READMEs we could have one template with the appropriate metadata that could just autogenerate the READMEs for each SIG for consistency and drop them in the right directory. And then as a bonus also generate one-big-page to replace the list of SIGs (which are updated by hand) and also generate a one-line snippet for SIG leads t

[2017-04-19 16:26] castrojo opened #550 "Consider a more discoverable URL for the gubernator"
From scanning the contributor docs it seems https://k8s-gubernator.appspot.com/pr isn't mentioned, someone kind of has to tell you it exists. I debated just adding links to it in the existing docs but I was thinking as a prerequisite to make it a URL that anyone can remember, something like kubernetes.io/pr or pr.kubernetes.io.

Something that would make it easy to put on a slide/business card for

[2017-04-19 16:57] mikeal commented on #402
@bgrant0607 last week @dankohn invited me to speak to ContribX about how Node.js has managed all of this by, just trying to figure out the scheduling because I had a conflict during their meeting this week.

[2017-04-19 18:41] bgrant0607 commented on #402
LLVM: http://llvm.org/foundation/documents/other/LLVMF%20Bylaws.pdf

[2017-04-19 18:43] bgrant0607 commented on #402
@mikeal Would definitely appreciate it! I had a useful chat with Myles Borins at the OSLS a couple months ago. Nodejs looks to be of similar scale, encountered some of the same challenges, and shares similar goals (e.g., scaling the contributor base).

[2017-04-19 18:46] bgrant0607 commented on #402
Timely: https://medium.com/@mikeal/maintainer-vs-community-97edc28387ad

[2017-04-19 20:59] bgrant0607 commented on #402
Cloud Foundry: https://www.cloudfoundry.org/wp-content/uploads/2015/09/CFF_Development_Governance.pdf

[2017-04-20 09:32] jamiehannaford commented on #544
@castrojo I like that idea. Where would be best to store the SIG-specific info? Perhaps a JSON, YAML or MD file, like so?

[code]

[2017-04-20 09:48] jamiehannaford commented on #359
If nobody else is already working on this, I'd like to help out.

@duglin are there any docs about how to set up CI on a new repo? I'm not sure what the conventions are - e.g. is it okay to use Travis or does everything need to go through the existing https://github.com/kubernetes/test-infra?

[2017-04-20 09:52] jamiehannaford commented on #359
Also, instead of writing a new script, perhaps we could use or refactor https://github.com/kubernetes/kubernetes/blob/master/cmd/mungedocs/links.go and run all the mung scripts on a PR?

[2017-04-20 13:54] castrojo commented on #544
I think a YAML file to match everything else makes sense, though it's probably prudent to see what other people think.

Meetings would need `meeting_url` for the zoom hangout, and perhaps a `meeting_archive_url` for the groups that maintain youtube playlists of their meetings, looking good!

[2017-04-20 20:30] chupman commented on #359
I'm currently waiting on code review from @duglin for some enhancements on his link checker. Despite the fact that I've already invested some time in this I agree that if there's something out there that's already maintained it's probably a better option. In case we do go with vlinker I'd also like to know about the CI integration. I was using travis on my own forks for testing while I was whittli

[2017-04-21 08:18] kargakis opened #558 "Update logging conventions"
We need to strike a good balance wrt logging in our components. Some people have raised concerns that we are logging excessively and that can result in blowing up storage, others think that trimming down our logs undermines the debugability of the system (although this argument can go in both directions I think). We may need to revisit our [logging conventions](https://github.com/kubernetes/commun

[2017-04-21 08:19] kargakis commented on #558
Also @kubernetes/sig-scalability-misc

[2017-04-21 12:09] deads2k commented on #558
I disagree with all of his points.  There is a valuable distinction between info and error messages: "I'm starting on port 8080" is not the same as "Controller X failed to start".  Warnings do not always require human intervention and errors do: "something failed and I'll recover/retry" versus "something failed and it won't work until you do something".  Panic != fatal since panics can be improper

[2017-04-21 21:28] pipejakob opened #564 "Incident response process for critically flawed releases"
**Is this a BUG REPORT or FEATURE REQUEST?**:

PROCESS/DOCUMENTATION REQUEST

**Description**:

At the release of Kubernetes 1.6.0, the `kubeadm` tool had a [showstopping flaw](https://github.com/kubernetes/kubernetes/issues/43815) that caused every user who tried to initialize a cluster to face a hung process. The GitHub issue contained a noisy mixture of duplicate reports of the bug, users sugge

[2017-04-21 22:48] bgrant0607 opened #566 "Brainstorming on Feature Branches"
Feature branches have been discussed as a possible way to stabilize both the master branch and releases.

http://nvie.com/posts/a-successful-git-branching-model/
https://github.com/nvie/gitflow
https://www.atlassian.com/git/tutorials/comparing-workflows
https://dev.acquia.com/blog/pragmatic-guide-branch-feature-git-branching-strategy
https://news.ycombinator.com/item?id=11190310

This issue is int

[2017-04-21 23:02] bgrant0607 opened #567 "Brainstorming on faster releases"
What if the biweekly Kubernetes releases were usable and stable?

What would be the benefits and challenges?

Some benefits are described here:

http://spf13.com/post/release-early-release-often-to-minimize-risk

Some issues / questions to consider:

* Changes to development processes needed to ensure stability and that only functional features / APIs are exposed
  * Feature branches -- discuss in

[2017-04-21 23:22] jagosan commented on #566
The branching model in Brian's first link, generally known as gitflow, is what I've seen work best.

Kubernetes  currently runs on a quarterly release cadence.  The he impact of this is that there is tremendous pressure to hit the release date.  Corporate performance evaluations and personal satisfaction can hinge on hitting the deadline; the cost of missing the release because something isn't qui

[2017-04-23 05:41] thockin commented on #558
I find the arguments in Dave's post interesting but wrong in the nuance.

https://github.com/go-logr/logr was my response - I'd love to see us use
something like that (maybe with structured logs folded in) throughout kube..

On Fri, Apr 21, 2017 at 5:09 AM, David Eads <notifications@github.com>
wrote:

[2017-04-23 15:06] kargakis commented on #558
Yeah, I also agree that there is distinction between info and error but
apart from that, having too many levels results in inconsistent use (and we
are full of it).

On Sun, Apr 23, 2017 at 7:41 AM, Tim Hockin <notifications@github.com>
wrote:

[2017-04-23 15:21] thockin commented on #558
We need to allow modules to add things like debug info at higher levels.
We can normalize what V(0) to V(2) mean, but beyond that I think freedom is
needed.

On Apr 23, 2017 8:06 AM, "Michail Kargakis" <notifications@github.com>
wrote:

Yeah, I also agree that there is distinction between info and error but
apart from that, having too many levels results in inconsistent use (and we
are full of it)

[2017-04-24 05:54] vivekaundkar opened #573 "Kubernetes cluster why exactly is public hosted domain needed on AWS"
I am new to kubernetes. Using Kops I am able to create cluster using both public and private topologies on AWS . However trying to under why is it essential to have an public hosted domain for kubernetes cluster? Is there a way we can just use route 53(with no need of public hosted domain on external site like GoDaddy etc) and create a fully functional high availability kubernetes cluster? If do p

[2017-04-24 17:11] MylesBorins commented on #402
Here is the deck from my OSLS presentation https://kni.sh/osls-2017/

More than happy to help out and answer questions

[2017-04-24 20:30] jagosan opened #580 "Brainstorming on Issue management"
Background:  I am new to the project and trying to get a sense of status and direction is difficult.  This is at least partially due to a high number of open issues inconsistently labeled and organized.  I had some side conversations with a couple of people, who suggested opening a brainstorming issue here.

Intention is to start with brainstorming and evolve to a proposal for:

1. management of i

[2017-04-24 22:46] vmtocloud opened #581 "Proposal - Build a K8S hub to share and consume Deployment yaml files"
Finding decent K8S yaml files for common applications is difficult. I know we have Github for this but a central site like Docker Hub would be so much better.

[2017-04-24 22:53] viglesiasce commented on #581
Hey @vmtocloud!

Have you seen [KubeApps](https://kubeapps.com) and the [Charts repository](https://github.com/kubernetes/charts) for Helm?

[2017-04-24 22:56] vmtocloud commented on #581
Yup, I think KubeApps is what I was looking for! Man, I searched Google for a while too, thank you @viglesiasce for the share!

[2017-04-24 23:03] #581 closed

[2017-04-25 15:16] calebamiles commented on #567
**cc: @philips**

[2017-04-25 15:16] calebamiles commented on #566
**cc: @philips**

[2017-04-25 15:22] kris-nova commented on #573
@vivekaundkar I am closing this as a duplicate of https://github.com/kubernetes/kops/issues/2416

Please see notes there for follow up

[2017-04-26 04:38] bgrant0607 commented on #580
Brief proposal here:
https://github.com/orgs/kubernetes/projects/1#card-2296048

cc @grodrigues3

[2017-04-26 05:51] maxim28 commented on #530
OK，thanks for your response.

[2017-04-26 05:58] zhangxiaoyu-zidif commented on #580
@bgrant0607 https://github.com/orgs/kubernetes/projects/1#card-2296048 is broken? it response 404.

[2017-04-26 13:38] timothysc commented on #580
auto-close with label have bot ignore, similar to PRs -
https://github.com/kubernetes/test-infra/issues/2132

[2017-04-26 14:25] ffelicissimo opened #584 "Compatibility version kubernetes and docker"
I'm looking for compatibility map of kubernetes / docker and I can not find anything very concrete ...... I would like to know which version of docker this homologated for kubernetes 1.6?

[2017-04-26 14:32] FrederikNS commented on #584
In the [changelog for Kubernetes 1.6.0](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md), in the "Node Components" section it says:

    Drop the support for docker 1.9.x. Docker versions 1.10.3, 1.11.2, 1.12.6 have been validated.

[2017-04-26 17:57] bgrant0607 commented on #402
An observation: I think it has helped significantly to define specific roles and responsibilities for the release team. It makes it more clear what needs to be done, enables us to ensure that those roles get staffed adequately, and provides criteria for evaluating whether the responsibilities were adequately fulfilled.

We have quite a bit of other ongoing work in contributor experience (e.g., the

[2017-04-26 18:00] bgrant0607 commented on #277
Superseded by the governance effort.

[2017-04-26 18:00] #277 closed

[2017-04-26 18:12] ffelicissimo commented on #584
Hi Frederik,

What's the version of ETCD that is recommeded to install with k8s 1.6.1?

[2017-04-26 22:21] MylesBorins commented on #402
Clear responsibility for release team, and clear schedule for releases, is a great start. The TLDR for node is that we have a Core Technical Committee that hands off release responsibility to a small release team (about 6 individuals) who have their gpg keys listed in the README.md. The team acts fairly independently for latest release lines. LTS releases have primarily been done by myself, under

[2017-04-27 02:26] bgrant0607 commented on #580
Contents of the project card:

Design and implement sustainable issue routing (to appropriate SIG and kind (bug, feature request, etc.)). Require org members to provide this information (close if not). Round-robin assign to triage team if not provided by non-member.

[2017-04-27 23:44] bgrant0607 commented on #531
The existing guidelines are any change that:
* a blog post would be written about after its release (ex. minikube, StatefulSets, rkt container runtime)
* requires multiple parties/SIGs/owners participating to complete (ex. GPU scheduling [API, Core, & Node], StatefulSets [Storage & API])
* needs significant effort or changes Kubernetes in a significant way (ex. something that would take 10 person-

[2017-04-28 09:13] vivekaundkar opened #588 "Create kubernetes cluster without public hosted domain with working k8 dashboard on AWS"
I am trying to create a k8 cluster without public hosted domain. I just created a private route 53 zone entry and using this entry and an S3 bucket as inputs, with help of kops able to bring up a kubernetes cluster.
I am able to see load balancer entries, route tables, 3 master and 2 nodes, a bastion server created. It seems everything is in place. Since I used private topology option while creati

[2017-05-02 16:53] calebamiles commented on #584
@ffelicissimo, tested etcd version is 3.0.17. Information is in the [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#external-dependency-version-information) as mentioned by @FrederikNS. Closing this issue.

[2017-05-02 16:53] #584 closed

[2017-05-03 21:08] grodrigues3 commented on #425
Closing since new template is merged.  Reopen if needed

[2017-05-03 21:08] #425 closed

[2017-05-04 14:00] MikeSpreitzer opened #597 "development.md#workflow should emphasize that local repo location is not optional"
I used to be able to work on Kubernetes when its location on my laptop was `$GOPATH/src/github.com/${my github profile name}/kubernetes` (an obvious choice, IMO).  Now that _does not_ work.  The location stated in https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#workflow --- namely `$GOPATH/src/k8s.io/kubernetes` --- is _required_ .  If that location is not use

[2017-05-04 14:00] MikeSpreitzer commented on #597
It would also be good to have findable documentation for the `hack/update-bazel.sh` script; that could explain the requirement.

[2017-05-05 04:17] spzala opened #600 "Community sig-contribx README has a broken link"
https://github.com/kubernetes/community/blob/master/sig-contribx/README.md has a broken link under "Issues", the "Detailed backlog" (https://github.com/orgs/kubernetes/projects/1) hyper link is not working.

[2017-05-05 04:20] spzala commented on #600
#dibs

[2017-05-05 19:57] idvoretskyi commented on #600
cc @kubernetes/sig-contributor-experience-misc

[2017-05-05 20:34] grodrigues3 commented on #600
I think this is a github permissions issue.  I think org members can see the org level github projects, but the link is presumably broken (what does it show?) for non org members?

[2017-05-05 20:34] grodrigues3 commented on #600
@spzala our command is /assign by the way

https://github.com/kubernetes/test-infra/blob/master/commands.md

[2017-05-05 23:47] spzala commented on #600
@grodrigues3 - Hello, thanks for looking at it. I presumed it's a public link but regardless as you said it seems broken. I get a '404' Page not found, I suppose we should have 401 or 403. Please let me know if it's OK as it is, I am fine closing the PR or make any changes to my PR. Thanks!

[2017-05-05 23:48] spzala commented on #600
@grodrigues3 about the /assign comment - did it mean instead of "dibs" I should use "/assign"? Thanks!

[2017-05-05 23:48] spzala commented on #600
/assign

[2017-05-05 23:49] spzala commented on #600
@grodrigues3 - :-) well, I found the answer of my question on assign playing with it. Thanks!

[2017-05-07 00:25] thockin opened #605 "Every SIG README is different, not parseable, and many are missing info"
The SIG README page should have a consistent header section, which would make it machine parseable and consistent.

Many READMEs are missing information about who the leads are.

Many have broken links or outdated contact info.

[2017-05-08 20:40] ericchiang commented on #605
Perhaps addressed by https://github.com/kubernetes/community/pull/577?

[2017-05-08 21:19] #605 closed

[2017-05-09 17:39] timothysc commented on #564
/cc @castrojo - this could use some TLC.

[2017-05-10 06:30] hzxuzhonghu opened #614 "HA master deploy"
why only talk to localhost etcd?
what if local etcd is down?

[2017-05-10 18:23] castrojo commented on #564
I've started a document on this:

https://docs.google.com/document/d/1u2IBmB-xGcAYiEVHc9v0ej0N8Y712UF0SrSYIZZ8WBo/edit?usp=sharing

[2017-05-17 03:27] ahmetb opened #626 "devel: document pull request robot commands"
I am trying to find a complete list of PR commands for k8s-ci-robot or k8s-merge-robot. I think there used to be a `pull-request-commands.md` but it doesn't exist anymore.

[2017-05-17 06:40] davidopp commented on #626
+1

[2017-05-17 17:08] ashishth09 opened #630 "How are limits and requests default values applied if more then one limitrange resource is created in a namespace?"

[2017-05-17 17:10] ashishth09 commented on #630
I am sorry if this is not the right place to ask this question.

[2017-05-17 17:13] ashishth09 commented on #630
For example , is the min of all limitranges makes up the overall min for a container. What about the default request then? If more than one default requests are there because there are more than one limit range resource which one is picked?

[2017-05-17 17:15] davidopp commented on #630
Please ask on the kubernetes-users mailing list
https://groups.google.com/forum/#!forum/kubernetes-users
or on StackOverflow
https://stackoverflow.com/questions/tagged/kubernetes

[2017-05-17 17:15] #630 closed

[2017-05-17 23:46] ericchiang commented on #626
This is already defined in the test-infra repo: https://github.com/kubernetes/test-infra/blob/master/commands.md

Maybe we can just link to that?

[2017-05-18 02:05] ahmetb commented on #626
@ericchiang sounds good.

[2017-05-18 09:30] jamiehannaford opened #634 "Allow doc generator to work with custom content"
As suggested in https://github.com/kubernetes/community/pull/577#discussion_r114610769.

We will need some kind of expected delimiter, for example ``. Any content after this point is always appended to generated content.

[2017-05-18 09:34] jamiehannaford opened #635 "Integrate doc generation into CI"
One thought is use CI to verify PRs which touch SIG documentation. I can foresee a few scenarios:

1. User edits generated files. CI should fail because there is a mismatch between expected generated content (based off `sigs.yaml`) and actual content.
2. User edits `sigs.yaml` but forgets to build. CI should fail because there is a mismatch between expected generated content and actual content.
3.

[2017-05-18 14:26] cmluciano commented on #626
I was reading through the pull request docs and noted that we cross link to that guide [here](https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#comment-commands-reference). Should this title be moved up on the page to make it more obvious?

[2017-05-18 14:28] cmluciano commented on #626
I also wonder if having a k8s-bot help command would be useful. It could comment on the PR with the command reference link.

[2017-05-18 16:31] ahmetb commented on #626
@cmluciano k8s-bot linking to its own manual is a great idea.

[2017-05-18 16:33] ahmetb commented on #626
I remember skimming through the doc and searching the web for "kubernetes pr commands" (no relevant results). Maybe it's a bit of laziness on my side, I could've searched "kubernetes bot commands" and have found it.

[2017-05-19 12:23] jamiehannaford opened #641 "Autogenerate Google calendar for SIG meetings?"
Just an idea. For example, every time a PR is merged, a new group calendar for k8s community is generated or an existing one updated. That will calibrate the SIG docs with our public SIG meeting calendar.

[2017-05-20 15:02] dankohn opened #647 "Suggested process for kubernetes-distributors list"
The security release [process](https://github.com/kubernetes/community/blob/master/contributors/devel/security-release-process.md) says:

TODO: Figure out process for getting folks onto this list.

The K8s software conformance [working group](https://ponymail.cncf.io/thread.html/Zse5s4ind7utvjd) is maintaining a public [spreadsheet](https://docs.google.com/spreadsheets/d/1LxSqBzjOxfGx3cmtZ4EbB_BGC

[2017-05-22 12:37] jsafrane opened #648 "Proposed mount propagation won't work with Docker"
[propagation.md](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/propagation.md) says that we should "Make HostPath shared for privileged containers, slave for non-privileged."

I hacked this into kubelet (inspired by https://github.com/kubernetes/kubernetes/pull/41683) and tried to build a container that would mount iSCSI, CephRBD and Gluster volumes without havi

[2017-05-22 15:52] kfox1111 commented on #648
I've wondered about the status of this for a while. Its affecting a lot of projects I work on. What is the path forward to shared mounts?

If its stagnating because no one can really figure out whats the best path forward, I'd say then its overly complicated to try and do it flagless and lets just add a flag so we can make progress?

[2017-05-22 17:27] cmluciano commented on #626
@grodrigues3 Any opinions on this?

[2017-05-22 17:33] grodrigues3 commented on #626
Big +1 here.  I vote for `/help`

Side (related note):
Another priority is to make all the commands uniform (e.g. some are /sig and some are @ k8s bot).  I'd prefer if we just had (`/command`)

[2017-05-22 17:57] cmluciano commented on #648
/sig node
/sig storage

[2017-05-22 17:57] cmluciano commented on #648
@kubernetes/sig-node-proposals

[2017-05-22 22:40] jessfraz opened #651 "Cleaning up the design-proposals directory"
The go proposals repo is super clean and all kind of have the same format, see https://github.com/golang/proposal/tree/master/design.

Things we might consider:
- **`-` (dash) vs `_` (underscore)**: Throughout this repo there is a mixture of `-` vs `_` in filenames (example https://github.com/kubernetes/community/tree/master/contributors/design-proposals) and it is kind of driving my OCD insane...

[2017-05-22 23:07] jessfraz commented on #588
Hi @vivekaundkar I believe you opened this issue in the wrong repo, would you mind moving it to kubernetes/kubernetes or perhaps joining #sig-aws on slack :)

[2017-05-22 23:08] #573 closed

[2017-05-22 23:08] jessfraz commented on #588
also please see @kris-nova's response on https://github.com/kubernetes/community/issues/573#issuecomment-297066002

[2017-05-22 23:08] #588 closed

[2017-05-22 23:09] jessfraz commented on #150
would you be willing to submit a pull request to combine both of these with a redirect to the other, I agree this is redundant

[2017-05-22 23:20] jessfraz commented on #647
The less people added, the more likely embargo will not be leaked so at most we should say 1 person from each, pending certain circumstances. Security emails can also not be an internal mailing list group but should be required to be an individual, since groups would be up to the vendor to maintain who is on it and is out of our control.

I do think the request should ultimately be handled by the

[2017-05-23 00:24] ericchiang commented on #626
@grodrigues3 @cmluciano a help command that requires a comment is going to create a lot of excess notifications. I'd rather see k8s-bots actually linking to their available commands.

[2017-05-23 02:45] PengTaoWW opened #653 "I have some issues related to Prestop improvement."
I have an improvement on Kubernetes, in our production environment, a pod is removed to use the Perstop, but no matter how quickly the result of this pod is removed, my improvement is that when Perstop fails, it will retry until the execution succeeds, or the timeout is removed. I don't know why you were so designed, or if there's a problem with my improvement, please let me know, thank you.

[2017-05-23 05:23] ericchiang commented on #626
I've sent https://github.com/kubernetes/test-infra/pull/2838 to link to the list of commands from all approval notices for PRs. (example here: https://github.com/kubernetes/kubernetes/pull/45919#issuecomment-301936778). What does everyone think?

[2017-05-23 09:21] resouer commented on #653
I think you are saying PreStop hook?  My personal opinion is it worth to add a retry and timeout to lifecycle hook execution. So please remove this discussion to kubernetes/issues? So more developers can push it. You can title it as "Execution retry and timeout of lifecycle hooks" or anything you like.

[2017-05-23 09:21] #653 closed

[2017-05-23 16:47] cmluciano commented on #626
I see it under [this comment](https://github.com/kubernetes/kubernetes/pull/45919#issuecomment-301948425). Should it be in your linked comments details too?

[2017-05-23 21:29] ericchiang commented on #626
@cmluciano I actually missed that one. Looks like it's hidden under the details drop down and is actually a dead link.

[2017-05-25 09:17] pidah commented on #188
A sig-azure slack channel now exists. We can close this issue now.

[2017-05-25 11:06] PengTaoWW commented on #653
@resouer PR is here

[2017-05-25 11:07] PengTaoWW commented on #653
@resouer https://github.com/kubernetes/kubernetes/pull/46426

[2017-05-25 17:57] bgrant0607 commented on #402
Kubernetes governance docs: https://docs.google.com/document/d/1btvNcAKHG-3vxxpnoOk0dV5-RqyYyd198Psg11cEPVA/edit

PTAL

[2017-05-25 17:58] bgrant0607 commented on #28
Superseded by Steering Committee:
https://docs.google.com/document/d/1btvNcAKHG-3vxxpnoOk0dV5-RqyYyd198Psg11cEPVA/edit

[2017-05-25 17:58] #28 closed

[2017-05-27 07:45] karataliu opened #670 "Enforce git version when doing vendor dir update."
In the change https://github.com/kubernetes/kubernetes/pull/45430/files

Comment line of godeps file was changed to 8 digit commit id.
For example:
[code]
Changed to
[code]

This comes from describe command of git:
https://github.com/tools/godep/blob/27c0bbc57621664758b01b10cdbca24112c7a118/vcs.go#L43

'--abbrev' controls it but the default value has changed from 8 digits to 7 digits, since v1.7.0

[2017-05-28 01:06] #188 closed

[2017-05-31 02:05] bgrant0607 commented on #170
Not-present dependencies should not lead to error in the API. The consuming component should wait for it to be created.

This seems like it would create unpredictable behavior.

[2017-05-31 02:09] bgrant0607 commented on #651
Filenames: dash is better for my RSI

Metadata: Yes, a creation date, last updated, status in each release, and link to tracking info (e.g., features repo issue(s)).

We're also going to need to organize these by SIG to facilitate auto-assignment and approval.

[2017-05-31 03:56] thockin commented on #170
Optional configmaps went in months ago.

[2017-05-31 03:56] #170 closed

[2017-05-31 15:14] pwittrock commented on #567
I tend to think of more frequent releases as 2 distinct problems, each of which are really challenging and will require a lot of effort.

# Supporting the ability to perform a release at a moments notice

Target: developers
Benefit: stable and orderly release process

- Decouple code from set of enabled features
  - Flag guard features until fully certified as ready to enable
- Push on green
  - 1

[2017-06-01 01:39] xiangpengzhao commented on #597
Mike, the documentation for bazel is here: https://github.com/kubernetes/community/blob/master/contributors/devel/bazel.md

And it explains the requirement:

To update `BUILD` files, run:
[code]
**NOTE**: `update-bazel.sh` only works if check out directory of Kubernetes is `$GOPATH/src/k8s.io/kubernetes`.

[2017-06-01 01:43] xiangpengzhao commented on #597
I agree to make the documentation more findable. It would be great to put a new chapter introducing bazel briefly in development workflow.

/cc @bgrant0607

[2017-06-01 02:01] xiangpengzhao commented on #283
This was fixed in https://github.com/kubernetes/community/pull/418.

So can we close this issue now? @bgrant0607 @moizjv

[2017-06-01 02:07] xiangpengzhao commented on #600
Since it's not an actual problem, could we close this issue?

/cc @bgrant0607 @spzala

[2017-06-01 02:51] spzala commented on #600
@xiangpengzhao  Yes, sure. Thanks!

[2017-06-01 02:51] #600 closed

[2017-06-01 07:25] xiangpengzhao opened #677 "Document team list more clearly"
In comments of issues or PRs, contributors can find that org members sometimes mention some teams, e.g. `kubernetes/sig-apps-bugs@`, `kubernetes/sig-apps-pr-reviews@`, to request debugging or PR reviewing. But I can't find a documentation to explain these teams. When I click the team name within the comments, I get a 404 error.

There are some questions, which I think other contributors might have

[2017-06-01 07:47] xiangpengzhao commented on #677
One more thing, it would be good to make sig name consistent with sig label. We have sig directories in community root, and sig labels in this page: https://github.com/kubernetes/kubernetes/labels

But some sig names are not consistent, for example, `sig-on-premise` vs `sig/onprem`. And we have `sig-ui` in community but there isn't a label `sig/ui` in kubernetes repo.

[2017-06-01 14:29] pmorie commented on #357
This came up again here: https://github.com/kubernetes-incubator/service-catalog/issues/911

I think this needs to be documented since people are getting different answers when they ask people because **nothing is written down**.

[2017-06-01 16:02] erictune commented on #357
@kow3ns had to deal with this for ControllerHistory.

[2017-06-01 18:59] #634 closed

[2017-06-02 03:36] xiangpengzhao commented on #677
Also post this issue at https://groups.google.com/forum/#!topic/kubernetes-wg-contribex/Bo0TnJEljoA

[2017-06-02 05:21] idvoretskyi commented on #677
@xiangpengzhao I've been a person, responsible for the SIG+Teams new procedure and have documented the steps to create a SIG at https://github.com/kubernetes/community/blob/master/sig-governance.md#sig-creation-procedure.

Please, let me know if something is unclear still/has to be enhanced.

[2017-06-02 06:46] xiangpengzhao commented on #677
@idvoretskyi Thanks for the information, Ihor! The doc is very helpful!

It would be great to add some guidance for contributors, as below.

- explain briefly how contributors can join such a google group in case some new beginners are not clear.

- explain how contributors can notify a team in their comments. The chapter [Create the GitHub teams](https://github.com/kubernetes/community/blob/maste

[2017-06-02 07:08] xiangpengzhao opened #679 "Update slack channel names in "SIGs and Working Groups""
The two channels `#wg-contribex` and `#kubernetes-release` have renamed. We should update the doc [SIGs and Working Groups](https://github.com/kubernetes/community/blob/master/sig-list.md)

 `#wg-contribex` --> `#sig-contribex`

`#kubernetes-release` --> `#sig-release`

@sarahnovotny

[2017-06-02 17:31] moizjv commented on #283
Yes thanks!

[2017-06-02 17:31] #283 closed

[2017-06-02 20:43] #597 closed

[2017-06-03 03:36] cblecker commented on #679
@xiangpengzhao Feel free to send a PR :)

[2017-06-03 03:37] xiangpengzhao commented on #679
Thanks Christoph! Will do.

[2017-06-03 05:08] #679 closed

[2017-06-06 18:05] pmorie opened #691 "API Conventions: Document use of finalizers"
Discovered in https://github.com/kubernetes-incubator/service-catalog/pull/894; there is no document that shows correct use of finalizers in the API.  While not purely an API convention, this should be documented somewhere and the API conventions document seems like a reasonable place to do so.

[2017-06-08 15:06] jdumars opened #697 "sig-generator fails on new sig creation"
/cc @jamiehannaford  @jbeda
If a new sig is being created through addition to sigs-list.yaml, make will fail because there is not an existing README.md.

workaround was touch sig-newsig/README.md, then re-run make

[2017-06-08 18:08] jamiehannaford commented on #697
Should be easy to add some logic in to handle new SIGs, will try to implement when I get some free time

[2017-06-09 06:49] sunilvalmiki opened #698 "Kubernetes on Cloud Foundry?"
Hi,

I want to use kubernetes as CM tool for my Project.
Can I have Kubernetes on Cloud Foundry?
please suggest me some docs and workflow of kubernetes.

[2017-06-09 17:03] cblecker opened #702 "sig doc generator should list the kubernetes teams applicable to the sig"
Similar to how sig-cli did it here:
https://github.com/kubernetes/community/blob/709d7bf026075b1ef0092947381932eac7c6e9af/sig-cli/README.md#sig-cli-teams

This is helpful to non-org members who wouldn't be able to see them by default.

Thoughts?

cc: @jamiehannaford

[2017-06-09 17:03] cblecker commented on #702
@kubernetes/sig-contributor-experience-misc

[2017-06-09 17:46] jdumars commented on #702
+1 from me on adding it.  These teams should eventually exist for all SIGs per the community document, so in theory it will be a simple text substitution for the SIG name.  Right now, I don't think the names are uniform, however.

[2017-06-09 19:48] spiffxp opened #703 "sig name consistency"
There are a number of places where sig names are ever-so-slightly inconsistent.  I'd like us to link back to this issue when we identify those areas.  Update docs, preferably adjust what we can.

For a sig foo, I expect:
- a sig-foo entry in kubernetes/community/sigs.yaml
- kubernetes/community/sig-foo/README.md
- sig-foo google group
- sig-foo-* teams in https://github.com/orgs/kubernetes/teams
-

[2017-06-09 19:52] spiffxp commented on #703
FYI @kubernetes/sig-contributor-experience-misc

[2017-06-09 19:53] spiffxp commented on #703
FYI @xiangpengzhao

[2017-06-10 04:34] crassirostris commented on #558
/cc @piosz @fgrzadkowski

[2017-06-10 07:26] xiangpengzhao commented on #703
+1000

It would be good to also have our sig meeting channels follow the name consistency.

In the page [SIGs and Working Groups](https://github.com/kubernetes/community/blob/master/sig-list.md), we use `hangouts` or `zoom` to hold meetings. And some meeting channels use number as id and others use name string.

@spiffxp

[2017-06-10 14:37] jamiehannaford commented on #702
Yeah, I agree they should be there. We actually do provide those team links if the `full_github_teams ` field for the SIG is set to true, like [here](https://github.com/kubernetes/community/blob/master/sigs.yaml#L388). The generator will expect that the SIG abides by the standard team names. See:

https://github.com/kubernetes/community/blob/master/generator/app.go#L41
https://github.com/kubernete

[2017-06-11 03:14] thockin commented on #567
The idea of skipping releases has been much on my mind.  Very many things
we want to do involve deprecating an old behavior, and as engineers we want
to clean up later.  That requires some overlap, which we have specced in
the deprecation policy doc.

The ability to do this depends on the user upgrading in an orderly way and
not skipping releases.

To allow skipping we basically can never get rid

[2017-06-11 12:33] jagosan commented on #567
What if we put some effort into automating the process of rolling forward?
That is, the user would choose to jump from 1.4 to 1.7, and the system
would incrementally move through interim releases in an automated process?

Agree that allowing users to skip removes technical flexibility and adds
tremendously (I would argue unacceptably) to the upgrade test complexity.

On Jun 10, 2017 11:14 PM, "Tim

[2017-06-11 12:57] idvoretskyi commented on #567
@jagosan

would incrementally move through interim releases in an automated process?

Hmm, can you describe this idea with more details?

[2017-06-11 20:27] idvoretskyi commented on #702
+1 on this initiative.

[2017-06-12 00:14] timoreimann opened #704 "Document that calling `make` requires CDPATH to include the null directory"
Building github.com/kubernetes/kubernetes with a `CDPATH` set to

`.:/my/path`

yields a build error like this:

[code]

If I unset `CDPATH` or remove the leading period (i.e., have it start with a colon), things work fine.

I asked for help on Slack and got the information that the `CDPATH` must be updated accordingly, and I was asked to submit a documentation-updating PR. IMHO, Kubernetes should

[2017-06-12 00:22] timoreimann commented on #704
PR 705 submitted.

[2017-06-12 00:46] cblecker commented on #704
/assign

[2017-06-12 18:38] MikeSpreitzer opened #709 "Nothing refers to `contributors/devel/e2e-node-tests.md`"
The `contributors/devel/README.md` file is a guide to developer resources, but fails to mention the e2e-node tests.

[2017-06-12 20:57] saad-ali opened #710 "Re-introduce removed storage-SIG content"
The auto-generated SIG files from PR https://github.com/kubernetes/community/pull/687 wiped out custom content in the storage-SIG `README.md` file.

PR https://github.com/kubernetes/community/pull/655 (Issue https://github.com/kubernetes/community/issues/634) enables custom content to coexist with generated content. Leverage that to re-introduce the removed content.

[2017-06-12 22:12] #704 closed

[2017-06-12 22:19] bgrant0607 commented on #567
For the record, release history.

1.0 was 7/21/2015

Subsequent releases:
http://blog.kubernetes.io/2015/11/Kubernetes-1-1-Performance-upgrades-improved-tooling-and-a-growing-community.html
http://blog.kubernetes.io/2016/03/Kubernetes-1.2-even-more-performance-upgrades-plus-easier-application-deployment-and-management-.html
http://blog.kubernetes.io/2016/07/kubernetes-1.3-bridging-cloud-native-and

[2017-06-13 16:50] cblecker opened #718 "Unit tests for sig docs generator"
We have a cool new generator for sig docs, but there's no go unit tests for it.

cc: @jamiehannaford @jbeda

[2017-06-13 16:51] jamiehannaford commented on #718
Yeah, we definitely need this. I'll look into it when I get some time (if nobody else wants to take this)

[2017-06-13 16:52] cblecker commented on #718
Sounds good. Thanks for all your great work on this!

[2017-06-13 18:12] #697 closed

[2017-06-13 22:41] ahmetb opened #720 "Consider how to use team nesting on GitHub organization"
With 244 teams and still going strong, it's getting increasingly more difficult to navigate https://github.com/orgs/kubernetes/teams.

GitHub has just introduced nested teams (https://github.com/blog/2378-nested-teams-add-depth-to-your-team-structure) this allows categorizing the teams and permissions inheritance etc. Opening this issue to discuss whether we can leverage this feature or not.

[2017-06-13 23:51] enj commented on #720
Nested group membership in Active Directory was a nightmare to deal with.  It was impossible to tell what rights a user would have.  That being said, nested teams in GitHub seem significantly constrained and thus may actually be useful and auditable.

[2017-06-14 10:09] idvoretskyi commented on #720
cc @kubernetes/sig-contributor-experience-misc

[2017-06-14 14:03] cblecker commented on #720
From @spiffxp in [#sig-contribex](https://kubernetes.slack.com/archives/C1TU9EB9S/p1497382619722762) on Slack:

[2017-06-14 17:38] castrojo commented on #698
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2017-06-14 18:28] castrojo commented on #698
/assign

[2017-06-14 18:28] castrojo commented on #698
/close

[2017-06-14 18:28] #698 closed

[2017-06-14 18:30] castrojo commented on #641
+1, right now a sig lead has to ensure they invite cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com to get on the community calendar.

[2017-06-14 21:00] bgrant0607 commented on #720
Note that we plan to sync most/all the github teams from files checked in to some repo.

[2017-06-14 21:01] bgrant0607 commented on #720
People also need to be org members in order to belong to teams, so finalizing the policies around org membership and automating member maintenance is more important, as well.

[2017-06-15 10:39] idvoretskyi opened #724 "Non-UTC major timezones to be added to sig.yaml"
Today, [sig.yaml](https://github.com/kubernetes/community/blob/master/sigs.yaml) includes UTC timezone slots for the SIG-meetings.

It is likely to have other major timezones mentioned in the SIG README - to avoid the necessity of conversion.

Major timezones (with the largest number of attendees) are:
- Pacific (UTC−8)
- Eastern (UTC−05:00)
- Central European (UTC +1)
- other (optional)

[2017-06-15 10:39] idvoretskyi commented on #724
cc @jamiehannaford @kubernetes/sig-contributor-experience-misc

[2017-06-15 11:40] jamiehannaford commented on #724
@idvoretskyi Good idea. What do you think is the best way we can format that on the README?

[2017-06-15 14:33] cblecker commented on #724
The thing that gets tricky with non-UTC is you would also have to either list or compensate for Daylight Savings Time.

[2017-06-15 16:46] idvoretskyi commented on #724
@jamiehannaford just as we do for `utc`?

[2017-06-15 17:53] #544 closed

[2017-06-16 07:04] xiangpengzhao opened #729 ""Define a pre-commit hook" was removed from development.md"
The chapter `Define a pre-commit hook` was removed from `development.md` in #661. But I don't see the reason why to do this. `pre-commit` is useful and we should keep the guide.

/cc @alexandercampbell

[2017-06-16 07:05] xiangpengzhao commented on #729
This also breaks https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#run-local-verifications

[2017-06-16 16:42] alexandercampbell commented on #729
cc @pwittrock

@xiangpengzhao regarding the broken link: sorry, I should have also removed the link as part of the same PR.

I deleted the `pre-commit` section of the doc because nobody I've talked to used it and I didn't believe that any developer would be willing to use it. It's painfully slow. Even on my powerful desktop it takes nearly **eight minutes**.

[code]

If you did a rebase to reword

[2017-06-16 16:43] alexandercampbell commented on #729
/assign

[2017-06-16 16:43] alexandercampbell commented on #729
Heh, nice. @pwittrock when you see this, can you assign me to this issue?

[2017-06-16 16:51] pwittrock commented on #729
@xiangpengzhao Thanks for filing this.  Do you use precommit?  I have found it to be frequently broken for Mac development, and disabled it some time ago.

[2017-06-16 17:05] xiangpengzhao commented on #729
Thanks @alexandercampbell @pwittrock !
TBH, I skip pre-commit in most of commits, especially for trivial ones. It's indeed slow. But for those commits which need to auto generate files, the hook is useful, at least for me. It helps verify what should be auto generated. Surely we can leave the verifacation to CI, but CI is much slower than the hook.

[2017-06-16 17:07] xiangpengzhao commented on #729
IMO, we might not want to recommend pre-commit to developers, but we should provide the way how to setup hook if they do want it.

[2017-06-16 17:10] alexandercampbell commented on #729
@xiangpengzhao

Ok, I see what you're saying. The pre-commit is useful, but not as a pre-commit. It's more like a `pre-pull-request` check. Maybe we should move the script into `hack/pre-pull-request.sh` or something like that?

[2017-06-16 17:16] xiangpengzhao commented on #729
Agreed.

[2017-06-16 19:44] alexandercampbell commented on #729
See
 1. https://github.com/kubernetes/kubernetes/pull/47673
 2. https://github.com/kubernetes/community/pull/730

[2017-06-16 19:51] cblecker commented on #729
To comment here as well (from https://github.com/kubernetes/kubernetes/pull/47673#issuecomment-309118930):

[2017-06-16 19:52] alexandercampbell commented on #729
I like that solution. @xiangpengzhao thoughts?

[2017-06-17 00:31] xiangpengzhao commented on #729
https://github.com/kubernetes/kubernetes/pull/47673#issuecomment-309172057

[2017-06-19 06:39] sunilvalmiki commented on #698
Thanks, Jorge

Sorry, I couldn't reply before
Ya, I will repost it on the stack overflow.

On Wed, Jun 14, 2017 at 11:09 PM, Jorge O. Castro <notifications@github.com>
wrote:

[2017-06-19 14:46] chrislovecnm commented on #724
An we include a website link that will do the tz conversion for us? We had a link on the aws sig page awhile back.

[2017-06-20 05:37] idvoretskyi commented on #724
@chrislovecnm it can be an option.

[2017-06-20 10:34] jamiehannaford commented on #724
Links for conversion are already populated on the READMEs, see [here](https://github.com/kubernetes/community/tree/master/sig-api-machinery#meetings). A PR to fix this issue would just add a few more common timezones to the default view.

[2017-06-20 17:41] kargakis commented on #441
@piosz @fabxc can you guys take care of this issue? Also, I cannot find any github groups to mention this SIG...

[2017-06-20 22:25] bamb00 commented on #154
Will this make it into 1.5.4 or 1.6.x? Is there documentation or examples for these new features?
Thanks.

[2017-06-20 23:10] bamb00 commented on #154
Ooops! Just saw the new field terminationMessagePolicy in the 1.6 API references.

[2017-06-21 19:47] cblecker commented on #729
https://github.com/kubernetes/community/pull/730 was merged, and https://github.com/kubernetes/kubernetes/pull/47673 is approved to be merged.

Thanks to all! Closing..

[2017-06-21 19:47] #729 closed

[2017-06-21 22:19] bgrant0607 commented on #567
cc @monopole

[2017-06-22 00:55] mwielgus opened #754 "Make all fails due to missing generator/wg_index.tmpl"
[code]

[2017-06-22 00:56] cblecker commented on #754
/cc @jamiehannaford

[2017-06-22 00:57] cblecker commented on #754
Looks like https://github.com/kubernetes/community/pull/680 may have broke things

@vishh

[2017-06-22 04:03] vishh commented on #754
Posted a patch - https://github.com/kubernetes/community/pull/755
Sorry about the issue!

[2017-06-22 09:12] jamiehannaford commented on #754
This is also fixed by #718

[2017-06-22 14:29] cblecker commented on #754
Thanks to you both. Will review these this morning!

[2017-06-22 16:51] #754 closed

[2017-06-22 17:28] cblecker commented on #702
@jamiehannaford: a few things there..
- there is no guarantee that a sig will have all the teams listed. for example, contributor experience has no need for an api-reviews or test-failures team
- the sig names should have the format `@kubernetes/team-name` rather than just `@team-name` as you need the org to be able to mention them.
- the links are broken at the moment as you're missing the `/orgs

[2017-06-23 10:39] gunjanmiglani opened #760 ""x509: certificate signed by unknown authority error" when trying to pull images from a Private docker repo using secret."

[2017-06-23 10:49] gunjanmiglani commented on #760
Hi Guys,
I have a setup of kubernetes and want to deploy an image which should come from a private docker repo.
I have created the secrte with repo credentials for pulling the image but pod creation ends in error.

Failed to pull image "registry.<myip>.nip.io/ms-accounts:0.0.1": rpc error: code = 2 desc = Error response from daemon: {"message":"Get https://registry.<myip>.nip.io/v1/_ping: x509: ce

[2017-06-23 12:19] zhouhaibing089 commented on #760
This requires that all the nodes in your cluster has `--insecure-registry` flag set.

[2017-06-23 13:56] gunjanmiglani commented on #760
Thanks. But my kubeconfig has got certificates already so I cant add that flag.

The point is that this private docker registry is on another public host and not on any k8 mater or k8 nodes.

[2017-06-23 16:23] cblecker commented on #760
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-06-23 16:23] #760 closed

[2017-06-23 19:09] xiangpengzhao commented on #702
+1
ref: Document team list more clearly (#677)

[2017-06-27 16:38] tauqeerhassan opened #767 "No architecture diagram in "Kubernetes Design and Architecture""
Amazed to see no diagrams under a section named Architecture. It become easy to understand the whole thing if it has some logical or actual diagrammatic representation.

[2017-06-27 16:44] cblecker commented on #767
We're in the process of forming a formalized sig-architecture to oversee this kind of thing. The thread about it is [here](https://groups.google.com/d/msg/kubernetes-dev/T-5zfRZmM50/XoecI06lAAAJ), and there is a number of good resources including a presentation and diagrams.

[2017-06-29 11:11] johscheuer opened #770 "Munge script is missing"
Hi,

I wanted to update some docs but the munge script is missing in the main repository (https://github.com/kubernetes/kubernetes/tree/master/hack). I wanted to ask where I can find the `hack/update-munge-docs.sh` in the current setup?

Probably the [docs](https://github.com/kubernetes/community/blob/master/contributors/devel/how-to-doc.md#how-to-include-an-example) need some adjustment.

Thanks!

[2017-07-01 16:12] xiangpengzhao opened #773 "List projects under kubernetes org in alphabetical order"
By what order are the projects listed, importance? popularity? or other rules? They look like in random order currently. This makes them somewhat in a mess. Can we list them in alphabetical order. It will make contributors/users easier to find a project.

/cc @bgrant0607

[2017-07-01 16:15] cblecker commented on #773
Which page are you talking about exactly? https://github.com/kubernetes ? Or somewhere else?

[2017-07-01 16:17] xiangpengzhao commented on #773
Thanks @cblecker for so quick response! I meant https://github.com/kubernetes

[2017-07-01 16:22] cblecker commented on #773
It's sorted by "Last updated". It's a Github thing, and I don't believe there is a knob to change it to anything different. An org owner like Brian would have to 100% confirm.

[2017-07-01 16:34] xiangpengzhao commented on #773
@cblecker Thanks for explanation!
@bgrant0607 Could you please check the org settings and confirm this? Thanks!

[2017-07-02 00:58] eparis commented on #773
An organization (like a user) can ping repositories at the top. Kube has pinned `kuberetes`, `community`, and `features`. Otherwise than pinning (which we seem to have already done appropriately) there is no option.

[2017-07-02 00:58] #773 closed

[2017-07-02 01:50] xiangpengzhao commented on #773
Thanks @eparis!

[2017-07-02 17:36] Ramuimmadi opened #776 "some Group map error while using Kubectl commands in Jenkinsfile on a conatiner"
[sample-app_canary-BTNON2ANXDYAVLIOVE655HRPGQPTQMEIL3SOYOZ6LNOQWL2O5JVA] Running shell script
+ kubectl --namespace=production apply -f k8s/services/
error: group map[autoscaling:0xc820374cb0 componentconfig:0xc820374d90 extensions:0xc820374e00 federation:0xc820374af0 :0xc820374b60 apps:0xc820374bd0 authorization.k8s.io:0xc820374c40 batch:0xc820374d20 policy:0xc820374e70 rbac.authorization.k8s.io:

[2017-07-02 18:28] cblecker commented on #776
Hi @Ramuimmadi,
I'm sorry, but this isn't the right place for this issue.

You may wish to check our documentation and user support channels to see if someone has run into the same issue:
  * [user documentation](http://kubernetes.io/docs/)
  * [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/)

If you've checked those sources, and still think it's

[2017-07-02 18:28] #776 closed

[2017-07-03 02:27] Ramuimmadi commented on #776
Thank you for responding

On 02-Jul-2017 11:58 pm, "Christoph Blecker" <notifications@github.com>
wrote:

[2017-07-03 19:49] MHBauer commented on #770
Deprecated at the end of 2016 and doesn't exist anymore.

I think everything is done in https://github.com/kubernetes/kubernetes.github.io now, so it might be best to link there or just kill this doc.

[2017-07-05 19:19] bamb00 opened #780 "CrashLoopBack goes to container log to be view in Kibana"
Would it be helpful or have value for monitoring when a pod terminate (terminationMessagePath) for some unknown reason, for example the "CrashLoopBackOff" and the user can use Kibana to locate the Kubernetes node that has the app crash?  This would help out the user trying to identified which Kubernetes nodes with the crash error when there are hundreds of nodes.  In Kibana, I can see the informat

[2017-07-05 19:31] cblecker commented on #780
Hi @bamb00,
I'm sorry, but this isn't the right place for this issue.

You may wish to check our documentation and user support channels to see if someone has run into the same issue:
  * [user documentation](http://kubernetes.io/docs/)
  * [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/)

If you've checked those sources, and still think there is

[2017-07-05 19:31] #780 closed

[2017-07-11 04:46] xiangpengzhao commented on #773
FYI, if I visit github on mobile phone, that will be mobile version of github. The projects under kubernetes org are listed by alphabetical order.

[2017-07-11 13:08] fabiand opened #798 "Limits around the number of CRs"
We - KubeVirt - are using, like others, currently TPRs, but will move to UAS/AAS for our custom APi extensions. But even with UAS we can [hopefully rely on Kubernetes](kubernetes/kubernetes/issues/46351) for storing our objects i.e. in CRDs.
With this coming up I actually wondered if there could be official limits for the number of CRD or TPR objects in Kubernetes.

Those limits should be part of

[2017-07-11 18:10] cblecker commented on #798
@kubernetes/sig-scalability-misc

[2017-07-13 08:56] piosz commented on #441
@fabxc created kubernetes/sig-instrumentation-* groups and added mission statement #789. Any missing action item on our side?

[2017-07-13 09:01] kargakis commented on #441
@piosz @fabxc thanks guys! Good enough for me. I am closing this issue and will open separate issues for sig-node and sig-storage.

[2017-07-13 09:01] #441 closed

[2017-07-13 09:02] kargakis opened #806 "Better sig description for storage"
Forked from https://github.com/kubernetes/community/issues/441#issuecomment-285339847

@kubernetes/sig-storage-misc

[2017-07-13 09:03] kargakis opened #807 "Need for a sig-node description"
Forked from https://github.com/kubernetes/community/issues/441#issuecomment-285339310

@kubernetes/sig-node-feature-requests (no -misc team ...)

[2017-07-13 09:03] kargakis commented on #441
Opened https://github.com/kubernetes/community/issues/806 and https://github.com/kubernetes/community/issues/807

[2017-07-13 17:48] yujuhong commented on #807
/cc the leads @derekwaynecarr @dchen1107

[2017-07-14 17:13] #718 closed

[2017-07-16 03:23] paddyvishnubhatt opened #813 "Unable to run heat on openstack"
[INFO] Create stack KubernetesStack
ERROR: The template version is invalid: Unknown version (heat_template_version: 2016-10-14). Should be one of: 2012-12-12, 2013-05-23, 2010-09-09

[2017-07-16 16:16] jdumars commented on #550
Until a better solution comes along, I setup http://k8s.reviews

[2017-07-16 16:19] jdumars commented on #468
Can this issue be closed?

[2017-07-16 16:30] cblecker commented on #550
The go.k8s.io redirects are in code here, if we wanted to decide on something and make a PR:
https://github.com/kubernetes/k8s.io/blob/master/k8s.io/configmap-nginx.yaml#L193-L208

[2017-07-16 17:38] pmorie opened #814 "API conventions should contain a maximum length for object names"
The API conventions doc should contain a maximum length for object names.  [This page](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/) says the limit is 253 characters, but this is not defined anywhere else (or by any validation) that I can see.

[2017-07-17 15:26] idvoretskyi commented on #468
@jdumars not sure :(
https://github.com/orgs/kubernetes/teams?utf8=%E2%9C%93&query=aws

[2017-07-17 16:38] bgrant0607 commented on #813
@paddyvishnubhatt
Advice on how to debug and how to get help:
https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

[2017-07-17 16:38] #813 closed

[2017-07-17 17:58] bgrant0607 commented on #767
One possible source is this slide:
https://docs.google.com/presentation/d/1oPZ4rznkBe86O4rPwD2CWgqgMuaSXguIBHIE7Y0TKVc/edit#slide=id.g21b1f16809_1_79

cc @kubernetes/sig-architecture-bugs

[2017-07-17 20:28] thockin commented on #566
I don't understand the importance of keeping master as a pseudo-release
line.  I would expect the desire for "code for the most recent release, but
I don't care which" to be minimal.  If you want code for a release, don't
you want a particular release?

Having development on a branch other than "master" seems like it would
cause a lot of bad PRs.

In some sense we have feature branches, in the for

[2017-07-17 20:44] kbroughton opened #818 "support folder mounts for config.d style directories"
15:38 $ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.5", GitCommit:"490c6f13df1cb6612e0993c4c14f2ff90f8cdbf3", GitTreeState:"clean", BuildDate:"2017-06-14T20:15:53Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"darwin/amd64"}

@jpeeler
Referring to
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/all-in-one-volume.md

I'd li

[2017-07-18 04:27] chrislovecnm commented on #468
I am guessing it is some testing that needs to be cleaned up.

[2017-07-18 19:36] #550 closed

[2017-07-18 19:38] ixdy commented on #550
thanks to @dims, we now have https://go.k8s.io/pr-dashboard.

[2017-07-19 19:59] #710 closed

[2017-07-21 07:33] teotia39 opened #829 "Can we our self configure high availability of Kubernetes Master on kube-adm beta version."
Wanted to use kubeadm beta for production cluster , the only limitation i see is that we have single point of failure , i.e. we cant have multiple master, Wanted to know , if there's way to make master node highly available , some workaround in current beta version , or we cannot do this at all????

[2017-07-21 12:23] castrojo commented on #829
Please post this question to SIG cluster-lifecycle, you can find their mailing list here: https://groups.google.com/forum/#!forum/kubernetes-sig-cluster-lifecycle

Thanks!

[2017-07-21 12:23] castrojo commented on #829
/assign

[2017-07-21 12:24] castrojo commented on #829
/close

[2017-07-21 12:24] #829 closed

[2017-07-21 12:27] castrojo opened #830 "Investigate adding a SUPPORT file to the core repo."
@cblecker found this and posted in on slack, we should investigate this.

https://github.com/blog/2400-support-file-support
https://help.github.com/articles/adding-support-resources-to-your-project/

[2017-07-21 16:03] xiangpengzhao opened #831 "pull-requests.md has incorrect contents"
https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#why-was-my-pr-closed

Weird. In fact, the description is about issues. It has nothing to do with pull requests. It should be deleted here.

[2017-07-22 18:27] xiangpengzhao opened #834 ""Kubernetes Development Automation" is outdated"
[Kubernetes Development Automation](https://github.com/kubernetes/community/blob/master/contributors/devel/automation.md) has some outdated contents, e.g. in "Ready to merge status", we now
- use `cncf-cla` instead of `cla`
- label `lgtm` by `/lgtm` instead of `LGTM`
- allow PR to be ready to merge when it has both `lgtm` and `approved`

We should go through the doc to find all that needs to be up

[2017-07-22 18:41] xiangpengzhao commented on #834
/cc @bgrant0607 @grodrigues3

[2017-07-22 18:42] xiangpengzhao commented on #831
/cc @bgrant0607 @grodrigues3

[2017-07-24 17:26] grodrigues3 opened #841 "SIGs list uses UTC, but the SIGs generally don't"
https://github.com/kubernetes/community/blob/master/sigs.yaml
lists times in UTC but approximately every SIG actually meets on local time, so the times listed here are wrong half of the year in locales that have Daylight Savings Time

Created issue for tracking/triage, reported by @davidopp

[2017-07-24 19:50] grodrigues3 commented on #831
@xiangpengzhao please make a PR to remove this.  Thanks for noticing.

[2017-07-24 20:39] xiangpengzhao commented on #841
I remember that the times once were listed on local time in https://github.com/kubernetes/community/blob/master/sig-list.md. They were mapped to my local time on google calender. That's convenient·

[2017-07-24 22:38] cjwagner opened #842 "A `.generated-files` config file is needed to enable the size munger on this repo."
The community repo needs a file like [this](https://github.com/kubernetes/kubernetes/blob/master/.generated_files) in order to enable the 'size' munger which labels PRs based on the size of their changes.
/assign @grodrigues3

[2017-07-24 23:11] cjwagner commented on #842
fixed by #843

[2017-07-24 23:11] #842 closed

[2017-07-25 04:13] #831 closed

[2017-07-25 13:41] xiangpengzhao commented on #841
See also: https://github.com/kubernetes/community/issues/724#issuecomment-308751868

[2017-07-26 03:07] xiangpengzhao commented on #767
There are arch diagrams (https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture.png , also dia/svg format diagrams), but seems like none of them is linked and shown in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture.md

[2017-07-26 03:53] xiangpengzhao opened #851 "Clean up docs in "./contributors/devel/local-cluster/" and "./contributors/devel/developer-guides/""
There are docs `docker.md local.md vagrant.md`  in [dir local-cluster](https://github.com/kubernetes/community/tree/master/contributors/devel/local-cluster).
- `docker.md` and `local.md` have been superseded.
- `vagrant.md` is almost the same with the one in [dir developer-guides](https://github.com/kubernetes/community/blob/master/contributors/devel/developer-guides), and that one is newer than t

[2017-07-26 19:09] henning opened #854 "broken link in docs persistent-storage.md"
in  contributors/design-proposals/persistent-storage.md the Link to "Persisten Volumes Guide" is leading to a 404.

Maybe it's intended to lead to https://kubernetes.io/docs/concepts/storage/persistent-volumes/ - but i'm not sure, therefore I don't feel able to provide a patch / Pull Request right now.
Just thought it might be nice to tell.

[2017-07-27 15:48] xiangpengzhao opened #856 "Doc filenames should use dashes rather than underscores"
[Directory and file conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/coding-conventions.md#directory-and-file-conventions)

Many docs in community repo don't follow the conventions. Should they?

e.g.: https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md

/sig contributor-experience

[2017-07-27 15:50] cblecker commented on #856
Future docs? Sure. All the existing docs? Not sure it's worth updating all the links for something so minor. Open to other opinions though :)

[2017-07-27 15:57] xiangpengzhao commented on #856
Yeah this is just a minor enhancement (if any) but it may potentially break many links referenced to these docs. So it's not a very necessary TODO. Maybe it's even a should-not-do for the existing docs :)

[2017-07-27 16:17] xiangpengzhao commented on #834
[Pull Request Process](https://github.com/kubernetes/community/blob/master/contributors/devel/pull-requests.md#the-testing-and-merge-workflow) also need to update.

e.g.:

[2017-07-27 16:32] xiangpengzhao opened #857 "Document the label "cla: human-approved""
There is only something about `cla: human-approved` as below in [Kubernetes Development Automation](https://github.com/kubernetes/community/blob/master/contributors/devel/automation.md)

The PR must have the label "cla: yes" or "cla: human-approved"

We'd better document
- why we need this
- who can label this
- when to label this
- what if the PR is labeled this but the author doesn't sign cla no

[2017-07-27 16:45] xiangpengzhao commented on #857
/cc @cblecker @spiffxp

[2017-07-27 16:50] eparis commented on #857
It used to be (not sure if it is still true) that if person1 (who signed the CLA) created a commit and person2 (who also signed the CLA) sent a PR containing person1's commit the bot could never add `cla: yes`.  A human needed to approve it. (Very common for picks to old releses).

I'm trying to think of other times this was really required....

[2017-07-27 18:16] pmorie opened #859 "Clarify that magic values are not acceptable in APIs"
We've had a number of questions during API design for service-catalog about using magic values.  I believe the prevailing consensus amongst the owners of the project is that magic values in APIs are undesirable, but the API convention document does not give any treatment to this topic.  Varations of how this has come up:

- Magic values for the names of objects as used in reference; ie, when a fie

[2017-07-27 18:18] derekwaynecarr commented on #859
can you give an example magic value?

[2017-07-27 18:20] pmorie commented on #859
@derekwaynecarr a couple specific examples:

1.  When a reference field has the magic name (`k8s-magic-thing`), the behavior of the resource with the reference field completely changes
2.  When a field holding a duration has a zero-value, it means 'never' (this one might actually be okay, but i'm not sure if I'm remembering this one accurately)

[2017-07-27 19:10] deads2k commented on #859
The behavior of resources should be consistent and predictable.  We do have some APIs which have flavors, but are overall consistent in intent and handling.  There are two approaches to doing this:

 1. type.  This is done with Services in the `ServiceSpec.Type` field.  It is a strict enumeration of allow types which can flavor the behavior, but the overall thing is always a service.  It always be

[2017-07-27 19:11] deads2k commented on #859
Oh and I should say that having been through this in several APIs, I think the approach of "on of many pointers" ends up working better since it allows specific descriptions of what you want and makes future growth easy.

[2017-07-27 19:13] pmorie commented on #859
Yep, and those two approaches should be sufficient to differentiate behaviors of resources where necessary

[2017-07-27 19:27] jpeeler commented on #818
I'm wondering if you should investigate seeing about making configmap creation from files "not flatten" as you say (not fully sure what you mean). As long as you can get all of the directories into a single projected volume all the files should show up as desired, though they may require specific key/pathing.

[2017-07-28 00:45] cblecker opened #860 "help-wanted label suggestion"
I had a thought for better use of the `help-wanted` label..
- A slash command like /help-wanted to apply the label (this command should only apply to issues)
- Once someone is assigned the issue (either directly or by assigning @k8s-external-contributor), the bot automatically removes the label.

This would keep the label more relevant, allow its addition/removal by a wider group outside of just k

[2017-07-28 15:47] xiangpengzhao commented on #860
I like this idea! I have two cents.

- who will be allowed to add this label to issues, org members? issues reporters? or anyone? I'm afraid that there may be guys misreading `help-wanted`, i.e. they may label the issues which are requesting for support as `help-wanted`.

- I don't know exactly why non-org members can't be assigned issues but at least, it'd be good for the `help-wanted` issues can

[2017-07-28 17:18] cblecker commented on #860
On the second point:
The reason we can't assign issues to non-org members is a Github restriction:
https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

[2017-07-28 19:58] xiangpengzhao commented on #860
Thanks @cblecker for explanation!

[2017-07-31 15:56] jdumars opened #865 "Expand SIG-Architecture meetings to one hour to clear the backlog"
I would like to propose we expand SIG-Architecture meetings to one hour in length until we burn down some of the extensive backlog.  This would begin at the next full meeting on **August 7th, 2017**.  It would remain this length until **September 4th**, and would resume 30 minute meetings on **September 18th**.

/cc @bgrant0607

[2017-07-31 16:38] cblecker commented on #865
/sig architecture

[2017-08-02 23:38] grodrigues3 opened #874 "Membership Reporting Tool"
@spiffxp

Lots of people ask about membership and it'd be nice to have a consistent report (to send the  kubernetes-membership@googlegroups.com ) to demonstrate justification for promotion up the contributor ladder.

I'm imagining something where you could type in your gh handle, and it'd automatically generate a list of the PRs you authored across repos, issues you've opened and closed, and PRs y

[2017-08-03 03:39] resouer commented on #874
One quick question is is Github API is enough to get all the information?

[2017-08-03 11:25] etiennedi opened #876 "API Conventions: PUT does not create new resource"
According to [HTTP Verbs section of the API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#verbs-on-resources) documentation, using the HTTP Verb `PUT`, we can update or create a resource if it does not exist.

However, this doesn't seem to reflect reality. It might be true only for specific resources and endpoints, but we cannot seem to crea

[2017-08-03 16:16] grodrigues3 commented on #874
Yes, but not necessarily directly.  For example, getting PRs reviewed by someone who is not the "reviewer" or "assignee" in the gh usage of the word is not directly available.

[2017-08-04 03:02] k82cn commented on #874
That'll be great if we have such tools! Will this be the official records? Someone uses http://stackalytics.com, which count by commit instead of PR and use email instead of gh.

[2017-08-04 14:13] bgrant0607 commented on #566
@thockin Development in a single branch means that there may never be a releasable branch.

I think the choices are repos or branches/forks. No new major feature development should happen in the kubernetes repo directly. We need to be able to gate half-baked, broken, untested, undocumented code.

[2017-08-04 14:18] #187 closed

[2017-08-04 14:20] bgrant0607 commented on #406
Please try stackoverflow.

[2017-08-04 14:20] #406 closed

[2017-08-05 11:06] xiangpengzhao commented on #874
+1 cool!

This tool will be a web thing, right?

We may provide a script in K/community at first step. I'm imagining this script can generate the report. Contributors can run some command like `make contrib WHO=gh` which will invoke the script.

[2017-08-07 15:00] jdumars commented on #865
Agreed until the backlog is manageable in 30 minutes.

[2017-08-07 15:00] #865 closed

[2017-08-07 17:08] grodrigues3 commented on #874
@k82cn

I'm not sure what official records means here, but I think we can use it to help out with the contributor ladder.

@resouer

If web thing means dashboard, that sounds ideal to me.  I'm hoping to not build something new but rather to integrate with one the tools from ContribX (Sapho, Velodrome) that already pulls data from Gh.

[2017-08-07 20:25] cblecker commented on #860
I've submitted https://github.com/kubernetes/test-infra/pull/3952 to implement this. Still open to any other design thoughts. :)

[2017-08-08 02:53] xiangpengzhao commented on #874
Yeah. Agreed.

[2017-08-09 16:08] jbeda opened #891 "sig-release isn't in SIG list"
@calebamiles Can you make sure that sig-release is in sigs.yaml?

This is the system of record for all metadata about SIGs.  Feel free to point to a separate repo for other documents.  We can also expand the schema to include a SIG meta-repo.  But, regardless, the standard info should be there.

[2017-08-09 16:08] bgrant0607 commented on #566
How the Linux Kernel uses forks and branches:
http://blog.ffwll.ch/2017/08/github-why-cant-host-the-kernel.html

[2017-08-09 17:03] pmorie opened #892 "There should be a kubernetes contributor guide"
I've been working on the [service-catalog](https://github.com/kubernetes-incubator/service-catalog) incubator repo for around the last 11 months.  The service-catalog is an extension project shaped similarly to kubernetes from an architectural perspective:

- It has a distinct API server that is used via the aggregator
- The API server is backed by a controller that has the same state-reconciler a

[2017-08-09 19:53] DirectXMan12 commented on #892
I've asserted before that major structural changes to the code should include "developer docs".  Things like "how to write a controller" are not immediately clear (especially since at times certain controllers have used legacy patterns, while others have used new patters), and changes to the standard patterns can be unclear to developers less involved in the nitty-gritty parts of the code base (e.

[2017-08-09 23:16] bgrant0607 commented on #876
Sadly:

https://github.com/kubernetes/kubernetes/issues/2114

[2017-08-09 23:19] bgrant0607 commented on #859
See also:
https://github.com/kubernetes/kubernetes/issues/35345
https://github.com/kubernetes/kubernetes/issues/6979

[2017-08-09 23:20] bgrant0607 commented on #859
Magic values sound evil

[2017-08-09 23:21] bgrant0607 commented on #834
cc @spiffxp

[2017-08-09 23:25] bgrant0607 commented on #154
@smarterclayton Can this be closed?

[2017-08-10 00:03] erictune commented on #892
I love this and would like to help.

I think about this as three pieces:

  1. So you want to extend kubernetes?  Here are all the ways you can do that, which to use, and more detailed docs for each one.  (Aggregated Apiservers, CRDs, Initializers, Flex Volume plugins, Cloud Provider plugins, Operator patterns, etc).  This is targeted at devs that that want to tweak kubernetes, but typically don't

[2017-08-10 00:38] bgrant0607 commented on #859
The API conventions do state the following:
[code]

[2017-08-10 07:50] kargakis commented on #892
@kubernetes/sig-contributor-experience-proposals

[2017-08-10 12:40] ncdc commented on #892
I'm interested in collaborating on API related topics:
- What do Kubernetes APIs look like (describe HTTP structure)
- How are the APIs organized in the code base
- Difference between internal and versioned/external types
- What are GroupVersionResource and GroupVersionKind
- When might you want to add a new API type, group, and/or version
- Where to add new APIs (core, CRD, extension apiserver)
-

[2017-08-10 12:45] ncdc commented on #892
@castrojo we might need some assistance organizing this effort

[2017-08-10 13:02] castrojo commented on #892
Love to help when I get back from holiday, in the meantime recommend cc'ing in @kubernetes/sig-docs-maintainers

[2017-08-10 13:04] jayunit100 commented on #892
+1;

0) I would be happy to contribute as well.... Can we put automation in place for this that tests the snippets and API contructs don't  bit rot?

1) It seems like dev doc should focus on controllers, extensions, API stuff as the higher priority .

2) Possibly even some exersizes with the sections could be valuable for onboarding new engineers to cloud native places where kube extensions or sup

[2017-08-10 16:31] alexandercampbell commented on #892
/cc

I love working on onboarding docs of this type. A couple months ago I [reworked](https://github.com/kubernetes/community/pull/661) development.md and I have a 1-page "welcome to Kubernetes" doc under review here https://github.com/kubernetes/community/pull/883. I would gladly contribute to any other onboarding docs.

[2017-08-10 17:46] DirectXMan12 commented on #892
P.S. I'm totally willing to contribute to these docs -- I'm not just here to complain ;-).  I'm especially interested in aggregated API servers (I've already written docs in this area in the apiserver-builder repo) and core mechanics.

[2017-08-10 17:55] chenopis commented on #892
We're actually working on adding a user journey portal to kubernetes.io,
which should be tighter onboarding paths for different types of users. I
think this would fit nicely into that and would love to coordinate w/ you
folks who are offering to contribute to the docs. We should discuss this in
more detail at the next SIG-Docs meeting.

--Andrew (@chenopis)

On Thu, Aug 10, 2017 at 10:47 AM Solly

[2017-08-10 20:19] pwittrock commented on #892
Count me in.

[2017-08-10 20:33] chenopis commented on #892
/assign @chenopis

[2017-08-10 20:41] Bradamant3 commented on #892
@chenopis not sure where you were planning to start, but I started (locally) what Other Folks call a content audit, with an eye to roughing out IA/a TOC based on current content, proposed revisions, and identified gaps ^^

[2017-08-10 21:05] zacharysarah commented on #892
/assign @zacharysarah

[2017-08-10 22:50] zacharysarah commented on #892
Round 2:

/assign @zacharysarah

[2017-08-11 03:46] MHBauer commented on #892
As a kubernetes outsider, I'm more than willing to gently rant about I've learned about API Servers and code-generation thereof if somebody else wants to write it down or ask me questions in an office hour or something.

[2017-08-11 03:47] MHBauer commented on #892
@ncdc I'm very interested in how other people, especially kube insiders work.

[2017-08-11 07:59] chenopis commented on #892
This is related to https://github.com/kubernetes/kubernetes.github.io/issues/4548.

[2017-08-11 16:06] smarterclayton commented on #154
Yes it was implemented.

[2017-08-11 16:06] #154 closed

[2017-08-11 16:29] bgrant0607 commented on #295
@countspongebob and others:

Please suggest items to add to the Steering Committee backlog, here or via a PR:
https://github.com/kubernetes/community/blob/master/committee-steering/backlog.md

And then we'll close this issue.

[2017-08-11 16:30] bgrant0607 commented on #351
@sebgoa:

Please suggest items to add to the Steering Committee backlog, here or via a PR:
https://github.com/kubernetes/community/blob/master/committee-steering/backlog.md

And then we'll close this issue.

[2017-08-11 16:31] bgrant0607 commented on #892
This overlaps with #350

[2017-08-11 16:32] bgrant0607 commented on #892
API-machinery-related topics (e.g., generated code, documenting request structure) should be discussed with SIG API Machinery.

cc @kubernetes/sig-api-machinery-feature-requests

[2017-08-11 16:39] bgrant0607 commented on #860
It's been challenging to make help-wanted useful in the past.

We need to ensure that the items in the list are:
* Sufficiently actionable: they clearly describe what should be done
* Tractable for new/casual contributors: there is documentation how that type of change should be made
* Goldilocks priority: Not so high in priority that it would be done by a core contributor, but useful enough that