[2019-10-08 06:29] soorena776 commented on #4154
@kubernetes/sig-contributor-experience-proposals

[2019-10-08 14:48] palnabarun commented on #4022
I would love to take up the Registration Lead role for the Amsterdam Summit. :)

[2019-10-08 14:53] mrbobbytables commented on #4022
+1 from current reg lead :)

and with that, I'd like to shadow for lead :D

[2019-10-08 16:00] celanthe commented on #4022
+1 for being interested in shadowing as lead, though likely not for this particular event, as I [currently] don't think I'll be able to attend.

[2019-10-08 17:40] timothysc opened #5635 "Prune/shuffle projects under the kubernetes/*org"
Over the course of the last year and a half we've created a tiered organizational structure and sigs are responsible for their subprojects.  When inspecting the Kubernetes main org there is a lot of cruft repos that should either be shuffled to SIGs or moved to attic.

[2019-10-09 11:17] nikhita opened #4157 "Retire WG Resource Management"
It was mentioned in the Community Meeting on [October 3](https://docs.google.com/document/d/1VQDIAB0OqiSjIHI8AWMvSdceWhnz56jNpZrLs6o7NJY/edit#heading=h.mt6ckbh4j4u0) that WG Resource Mangement will be sunset soon. This is a tracking issue for the same.

It also looks like the WG hasn't had meetings after [Jan 30 2019](https://docs.google.com/document/d/1j3vrG6BgE0hUDs2e-1ZUegKN4W4Adb1B6oJ6j-4kyPU/

[2019-10-09 11:18] nikhita commented on #3396
FYI it was mentioned in the Community Meeting on [October 3](https://docs.google.com/document/d/1VQDIAB0OqiSjIHI8AWMvSdceWhnz56jNpZrLs6o7NJY/edit#heading=h.mt6ckbh4j4u0) that WG Machine Learning will be sunset soon.

[2019-10-09 11:54] idvoretskyi commented on #3178
/cc

[2019-10-09 15:45] saiyam1814 commented on #4086
We need below for the APAC webinars:
- cncf official approval for the webinars with the zoom links (when they get decided)
- Google forms : to fill out the (Name, Topic, Abstract, Speaker Bio)-> I can create that
Also I feel Google forms are more interactive rather than sending out emails for the same.
- Kubernetes maintainers/Sig chairs to choose the topics
- Date and Time (Biweekly, APAC friendl

[2019-10-09 17:39] celanthe commented on #3795
Hi @spiffxp and @justaugustus --I am working on contribex issue triage, and wanted to circle back as to the status of this PR.

If you have any updates as to where it's at in the process, or if it can be closed or frozen, that would be great.

If this issue needs to be escalated or there is someone else from the PM team I should loop in, please let me know so that I can get this moving again! Than

[2019-10-09 17:41] celanthe commented on #3795
kind/documentation

[2019-10-09 20:18] celanthe commented on #3795
/kind documentation

[2019-10-09 20:20] celanthe commented on #2833
Hi @castrojo, @justaugustus  I am working on contribex issue triage, and wanted to circle back as to the status of this PR.

If you have any updates as to where it's at in the process, or if it can be closed or frozen, that would be great.

If this issue needs to be escalated or there is someone else I should loop in, please let me know so that I can get this moving again! Thank you so much!

[2019-10-09 20:23] celanthe commented on #2440
Hi @jgrobbel and @mattf -- I am working on contribex issue triage, and wanted to circle back as to the status of this PR.

If you have any updates as to where it's at in the process, if it can be closed or frozen, that would be great. Did this get brought up at the SIG Apps meeting, or was a KEP filed?

If this issue needs to be escalated or there is someone else/another SIG I should loop in, plea

[2019-10-10 17:43] celanthe commented on #3480
#4163 https://github.com/kubernetes/community/pull/4163

[2019-10-10 19:50] celanthe commented on #3795
priority/backlog

[2019-10-10 20:15] celanthe commented on #3795
priority/awaiting-more-evidence

[2019-10-10 20:15] celanthe commented on #3795
/kind kep

[2019-10-11 02:14] parispittman commented on #3969
addressed everyones comments to date in my previous comment above with the updated question bank. ill email that to the mailing list and get some other opinions. id like to target next week to end this out.

[2019-10-11 08:18] jgrobbel commented on #2440
@celanthe There is no PR that I am aware of, I have merely raised the issue. Looks like it is not getting much traction so we may as well close it.

FWIW I have worked around it by adding random sleeps in all my k8s job container entrypoints which is good enough for me.

[2019-10-11 14:52] devdattakulkarni opened #4164 "Link Broken - Edge Security Challenges"
Following link seems to be broken.

https://github.com/kubernetes/community/blob/master/wg-iot-edge/whitepapers/edge-securuity-challenges

It it referenced from the wg-iot-edge README. It is also referenced in the community update slide deck:
https://docs.google.com/presentation/d/1Ozby628UmK91fGOoo_10YDSRJ0BVlUIx-YAF4iwlyOA/edit#slide=id.g62d1d3d748_0_2

[2019-10-11 14:55] devdattakulkarni commented on #4164
/sig docs

[2019-10-11 15:42] parispittman opened #4166 "question bank for survey"
this is one of the issues/tasks broken down from the #3969 (umbrella contributor survey) issue. this issue will close when the questions have been cleaned up and ready to ship. we have room for 1 more questions tops. need to figure out which questions are required to answer.

1- How long have you been contributing to Kubernetes?
less than one year
one to two years
two to three years
three+ years

[2019-10-11 16:45] geekygirldawn commented on #4164
It looks like that link is a typo with an extra u in security. The correct link should be:
https://github.com/kubernetes/community/tree/master/wg-iot-edge/whitepapers/edge-security-challenges

[2019-10-11 16:55] celanthe commented on #2440
Thanks so much for the response @jgrobbel! Done!

/close

[2019-10-11 16:55] #2440 closed

[2019-10-11 18:58] rochfordk commented on #4164
Have created PR#4165 to correct link https://github.com/kubernetes/community/pull/4165

[2019-10-12 02:37] vishakhanihore commented on #4111
@parispittman I would like to contribute to it.

[2019-10-12 02:39] vishakhanihore commented on #4086
@saiyam1814 Can I create the google form ?

[2019-10-12 02:40] vishakhanihore commented on #4086
Also I would love to help in the following issue.

[2019-10-12 02:42] vishakhanihore commented on #2696
@nikhita Is the issue up for contributions ?

[2019-10-14 08:30] furkanmustafa opened #4171 "Question about Flex volumes"
On [Volume Plugin FAQ](https://github.com/kubernetes/community/blob/704d38f63cedb5ff52946428c52e578bd93dc00a/sig-storage/volume-plugin-faq.md) page, it lists the limitations of Flex Volume.

1. FlexVolume requires root access on host
2. FlexVolume requires tools(mount, etc.) to exist on host, thus again requiring root access (and package managers, etc.) to install them.

I am confused about how CS

[2019-10-14 08:37] furkanmustafa commented on #4171
@k8s-ci-robot you're funny

[2019-10-14 13:18] parispittman commented on #4111
@vishakhanihore please do :)

[2019-10-14 13:51] dims opened #4174 "All documented times for meetings and meeting invites should be in UTC"
Pretty please?

This is the first step to reduce time zone burdens on people who are not based in US.

[2019-10-14 13:53] dims commented on #4174
Inspired by https://github.com/kubernetes/community/pull/4169

[2019-10-14 13:53] dims commented on #4174
/sig contributor-experience

[2019-10-14 13:56] parispittman commented on #4174
i think we had this discussion when we talked about the style guide. cc/ @mrbobbytables

[2019-10-14 13:59] mrbobbytables commented on #4174
It did -- The problem is with Daylight Savings Time :|  things would have to be updated multiple times per year to stay on 'track', not to mention different parts of the world have different DST rules. It was generally decided to use a timezone that 'follows' DST -- something like 'PT' or 'ET'. Instead of PST / PDT | EST / EDT.

It's super frustrating, but still the best solution we came up with =

[2019-10-14 14:13] wojtek-t commented on #2616
/remove-lifecycle stale

[2019-10-14 15:05] cblecker commented on #4174
We actually moved *away* from enforcing UTC specifically for DST considerations. We leave it up to the SIG to decide if they will follow DST or not, and schedule the meeting accordingly. The time zone conversion links and google calendar invites should move automatically if you choose a timezone that follows DST (and most sigs do choose to follow DST, because of the high amount of North American p

[2019-10-14 15:47] vishakhanihore commented on #1644
@markyjackson-taulia Can I help in this issue ?

[2019-10-14 20:47] timothysc commented on #4157
+1 from me.
wg's are meant to be ephemeral and this started years ago.

[2019-10-14 21:56] vishh commented on #4157
+1 from me as well. Most of the projects shepherded by the working group are now fully managed by participating SIGs. I'd say the original mission of the WG is fully met!

[2019-10-14 23:40] mrbobbytables commented on #4164
PR has merged, link should be fixed.
Thanks @rochfordk for the quick fix :)
/close

[2019-10-14 23:40] #4164 closed

[2019-10-14 23:44] mrbobbytables commented on #4150
Noah offered to take a stab at it last week 👍
/assign @qedrakmar

[2019-10-15 10:10] geekygirldawn commented on #4174
Actually, UTC creates issues for many of us outside of North America, too (not just DST). Here in the UK, we have British Summer Time (BST) and Central Europe has CEST, which are the equivalent of DST, except that the switch to these summer time zones is offset by a few weeks from when the US switches (sigh).

Using UTC means that we either change the time of the meeting twice a year, or that the

[2019-10-15 12:08] mrbobbytables commented on #2812
@justaugustus did a good break down image builder and some other things yesterday during the release engineering meeting that would be worth breaking out on its own:
https://www.youtube.com/watch?v=xZREdD35Kh0

[2019-10-15 12:50] mariantalla commented on #4166
* Not sure if SurverMonkey supports it, but it may be worth adding an `Other (tell us more)` sort of option for Question 6, just to open up space for additional blokers/bottlenecks to come up.
* I noticed "demographics" in https://github.com/kubernetes/community/issues/3969  (and the question on timezones covers part of it, in my head). Would we want to add a `Do you identify as an underrepresente

[2019-10-15 13:35] mrbobbytables opened #4175 "Improve process for requesting Zoom -> YouTube automation"
As we've had multiple groups recently come forward regarding setting up the splain -> Youtube bridge, we should do 2 things:
1) Create a generic YouTube/Zoom GitHub issue request to handle things like automation (splain), as well as new playlist requests etc.
2) improve instructions / record keeping as each additional zoom account that has splain integrated requires an additional license.

/sig co

[2019-10-15 19:55] mariantalla commented on #3726
Hello! If it's still ok to go ahead with this, I'd still be interested to get a read-only token.

/remove-lifecycle stale

[2019-10-16 14:50] mrbobbytables commented on #3726
I'm still okay with it ¯\_(ツ)_/¯
It's very tightly scoped.

[2019-10-16 20:30] devaips commented on #4174
Seems like there is no way to make it work for everyone. The argument for sticking with a DST timezone is reasonable to me. Consistency across all the sigs and docs is the most important aspect.

[2019-10-17 01:46] idealhack commented on #3100
/remove-lifecycle stale

[2019-10-17 06:17] p0lyn0mial commented on #3776
/remove-lifecycle rotten

[2019-10-17 10:11] geekygirldawn commented on #4171
/sig storage

[2019-10-17 13:26] castrojo commented on #4118
We've checked in the fixes, the document is pretty detailed, I don't think we need a face-to-face retro unless steering really wants one, IMO this can be closed.

[2019-10-17 17:14] dims commented on #4118
@castrojo sounds good!

[2019-10-17 20:24] Katharine commented on #3155
Pretty sure our policy on this is "user groups are cool, PR them if you want them."

/close

[2019-10-17 20:24] #3155 closed

[2019-10-18 04:28] markyjackson-taulia commented on #3809
/remove-lifecycle rotten

@jpeach Does the recording that @snowplayfire created suffice? If so, is it ok to close this issue?
Thanks kindly.

[2019-10-18 04:29] markyjackson-taulia commented on #3809
/assign @markyjackson-taulia

[2019-10-18 22:03] jberkus commented on #4166
edits:

22 seems redundant with 21.

For 13 - How often do you attend the weekly Thursday community meeting live?

Please change:

    you can't make it but read the notes or watch the video

To:

   - Rarely, but I frequently watch the video

I'd like to separate the folks who watch the video once a year from the ones who do it weekly.

Also, I see we've elminated questions about contributor summ

[2019-10-19 00:54] parispittman commented on #4166
@mariantalla great suggestions - added!

@jberkus - made all changes and added the 'how many contributor summits have you attended question' with a 0-3+ range. wdyt?

[2019-10-19 02:34] parispittman commented on #3183
/remove-lifecycle rotten

still needs to happen at some point

[2019-10-19 07:22] markyjackson-taulia commented on #3809
Closing this. Video recording is listed above.
/close

[2019-10-19 07:22] #3809 closed

[2019-10-19 14:37] markyjackson-taulia commented on #3071
/remove-lifecycle rotten

[2019-10-20 18:55] raelga commented on #3835
/remove-lifecycle stale

[2019-10-20 22:42] savitharaghunathan commented on #3544
/help-wanted
/remove-lifecycle rotten

[2019-10-21 04:21] cblecker commented on #3544
Fixed in #3728

[2019-10-21 04:21] #3544 closed

[2019-10-21 04:27] cblecker commented on #4174
SIGs themselves decide on meeting times, and for some, meeting with a non-North American time zone is preferable. We can't really enforce an across the board standard here.

If a SIGs meeting time is inaccurate in sigs.yaml, or you'd like to suggest a different meeting time for the sig, please contact the sig on their mailing list or Slack.

Closing as WONTFIX :)

[2019-10-21 04:27] #4174 closed

[2019-10-21 04:31] cblecker commented on #2959
/remove-lifecycle stale

[2019-10-21 04:40] cblecker commented on #3795
And update on this @justaugustus ?

[2019-10-21 04:44] cblecker commented on #1645
/remove-help
@markyjackson-taulia: As @nikhita stated, this should have a clear description of what needs to be done before it's eligible for help/good first issue.

[2019-10-21 04:49] cblecker commented on #3798
/remove-help

This should be handled by the sig-scheduling leads.

[2019-10-21 04:51] cblecker commented on #3621
asking some questions about this on the contributor survey https://github.com/kubernetes/community/issues/3969

[2019-10-21 04:57] cblecker commented on #3700
Dupe; closing in favour of https://github.com/kubernetes/kubernetes/issues/76269

[2019-10-21 04:57] #3700 closed

[2019-10-21 05:29] slv306 opened #4182 "Kubernetes NFS Servers Mount Issue"
I work in an media organisation where we deploy all our application on monolithic VMs but now we want move to kubernetes but we have major problem we have almost 40+NFS servers from which we are consuming the data in terabytes The major problem is how do we read all this data from containers The solutions we tried creating a 1.Persistent Volume and Persistent Volume Claim of the NFS which accordin

[2019-10-21 05:35] cblecker commented on #4182
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-10-21 05:35] #4182 closed

[2019-10-21 13:28] nikhita commented on #4118
There seem to be some more points in the [retro doc](https://docs.google.com/document/d/1La9ZJPdvgLRzVH_RvE3Tmmx7uw_de8x8Ca4HoCkH8R0/edit) that aren't crossed out yet. Could we keep this open until they are resolved (especially points related to the voter qualification bar and exemption)? Or maybe we should create a new issue for those? Wdyt?

I don't think this warrants a face-to-face retro immed

[2019-10-21 13:32] nikhita opened #4185 "Update WG Policy leads"
It was mentioned in https://github.com/kubernetes/community/issues/3945#issuecomment-517421709 and https://github.com/kubernetes/community/issues/3945#issuecomment-517499806 that some of the leads listed in sigs.yaml for wg-policy aren't active anymore. So it should be updated to reflect the current state.

/wg policy
/committee steering
/kind cleanup
/assign @hannibalhuang @ericavonb

[2019-10-21 13:38] mrbobbytables commented on #4118
sgtm -- Maybe an issue in steering with the retro items that weren't covered?

[2019-10-21 13:55] nikhita commented on #4118
Good idea! Created https://github.com/kubernetes/steering/issues/140. :+1:

Closing this issue since the retro items are moved to the steering one, and the election is over.
/close

[2019-10-21 13:55] #4118 closed

[2019-10-21 16:37] mrbobbytables commented on #3717
/remove-lifecycle stale
/assign @castrojo
just to keep everyone else on top of things

[2019-10-21 17:57] mrbobbytables commented on #4166
Possibly something to expand on `22- How many Kubernetes Contributor Summits have you attended?`

If you haven't been able to attend a previous summit or cannot attend the summit in San Diego, was there a particular reason why?
- Not attending KubeCon.
- Funding (no work support, or cannot afford to individually go).
- Not interested in attending.
- Helping at other co-located event.
- Attending o

[2019-10-21 19:17] alejandrox1 commented on #2812
Will start working on it :+1:

[2019-10-22 17:30] parispittman commented on #3837
/close

[2019-10-22 17:30] #3837 closed

[2019-10-22 17:31] parispittman commented on #3867
tim and claire have completed this journey ✨

[2019-10-22 17:32] parispittman commented on #3867
/close

[2019-10-22 17:32] #3867 closed

[2019-10-22 17:33] parispittman commented on #4002
thockin did a great job; logo was sent in and we are getting hoodies :)

@jberkus will take the lead on logo designs for 2020 summits

/close

[2019-10-22 17:33] #4002 closed

[2019-10-22 17:35] parispittman commented on #3893
need to get final confirmation on gopher band, get slides going, and some other finishing touches.

[2019-10-22 17:37] parispittman commented on #3896
i think we are good to close this one 🚀 what do you think?

[2019-10-22 20:20] timothysc commented on #4149
Hey folks what priority is contribex giving this?

[2019-10-23 08:06] geekygirldawn commented on #3896
We're still using this issue to track last minute changes - people who said they would represent their SIG, but who can't make it now for a variety of reasons. 🙄 We also still need to finish up some of the remaining tasks, like sending out the meeting request 😄

[2019-10-23 13:48] mrbobbytables commented on #4149
I can't speak for others, but it's on my list. I'm a little swamped right now between work and KubeCon/Contributor Summit prep though 😬

[2019-10-23 15:10] parispittman commented on #4149
@timothysc we will discuss in the meeting today but I have a feeling most folks that work contribex are working the summit or one of the 400 kubecon events. Could we attempt to do this as an unconference at the summit to talk about PR hygiene?

Do we know what SIGs are labeled on those PRs? We can start with a spreadsheet and then I can work with SIG Chairs who have n days old things that need to

[2019-10-23 15:55] celanthe commented on #4149
@parispittman I'm happy to help with setting this up as an unconference event at the Summit, could be great way for those who are interested in getting involved with the project but aren't sure where to start/how to contribute. :) If there's a point of contact I can get in touch with to secure a space for it/someone I can talk to to get it on the contributor site schedule I'll make it happen!

[2019-10-24 07:17] nikhita commented on #4157
@vishh @derekwaynecarr Next step would be send an email to kubernetes-dev@googlegroups.com and community@kubernetes.io with a doc like [this](https://docs.google.com/document/d/1qZcAvuWBznR_oEaPWtwm7U4JNT91m8r9YOUvInU-src/edit#heading=h.jsw0l2t0ra8) to let the community know that the WG plans to disband.

After that's done, contribex can take point on the retirement procedures.

Ref: https://githu

[2019-10-24 19:51] VineethReddy02 commented on #4022
+1 am interested and would love to help preferably content and registration also am flexible to take up any role looking forward to collaborate.  :)

[2019-10-25 18:45] mrbobbytables commented on #3178
Below is an updated list of outside collaborators.

I'll create issues in each repo linking back here / updating this issue with links.  Give folks 30~ days (December 1st)  to respond and/or become members of the associated org. After that they will be removed as an outside collaborator.

**This does not prevent them from being able to collaborate.**

It just means less permissions in the respecti

[2019-10-26 02:37] jeefy commented on #3726
I'm also okay with it. It's scoped well and I see no reason not to move forward with this.

@mariantalla More a curiosity, what's this for? Pet project?

[2019-10-26 03:41] jeefy commented on #1971
Created an issue for the final unfinished part of this list. Everything else has been or is in the process of being addressed. :)

[2019-10-26 03:41] jeefy commented on #1971
/close

[2019-10-26 03:42] #1971 closed

[2019-10-27 16:46] mrbobbytables commented on #3783
/remove-lifecycle stale

[2019-10-28 11:55] mrbobbytables commented on #3938
/remove-lifecycle stale

[2019-10-28 15:21] alejandrox1 commented on #4149
helping out on this as well so let me make sure i don't lose track of this
/assign
On another note, per @parispittman 's request. I made a simple program to see what labels appear in the PRs that have been open the longest ([alejandrox1/cool-github/pr-stats](https://github.com/alejandrox1/cool-github/tree/master/pr-stats) in case you anyone needs it).
I ran this program to see the labels on all PR

[2019-10-28 15:24] alejandrox1 commented on #4149
There are some other things to "explore", i.e., what labels appear tend to appear together for the old PRs and then to repeat this on all PRs that have been closed due to a `lifecycle rotten` label.

[2019-10-28 17:23] qedrakmar commented on #4150
Adding in @coderanger

[2019-10-28 18:00] MikeSpreitzer commented on #3752
/remove-lifecycle rotten

[2019-10-28 20:26] detiber commented on #3896
As of today (28 October), all current volunteer representatives are registered for the Contributor summit and an event reminder has been sent to all volunteers.

[2019-10-28 21:58] jingxu97 commented on #4171
cc @saad-ali

[2019-10-28 23:00] saad-ali commented on #4171
This should've been worded better. The intention was to point out that a standard Flex driver requires users to copy a Flex driver file to a specific directory on each node. This requires direct machine access beyond the Kubernetes control plane. With CSI you simply deploy a Kubernetes workload to install the CSI driver on all nodes (and automatically on any new nodes that may be added to the clus

[2019-10-29 01:48] furkanmustafa commented on #4171
Thanks for the explanation!

Maybe the wording can be focused around the two points;

* CSI is invoked through network (unix socket only?) (Flexvolume requires direct invocation)
* CSI allows running everything inside a container (Flexvolume does not, requires modifying host)
* Requiring root access is not much different, but can be quite confined in CSI's case, because of two points above.

Is my

[2019-10-29 05:24] vishakhanihore commented on #4111
/assign

[2019-10-29 06:03] vishakhanihore commented on #4111
@parispittman A little help, I can see there are places for `Day,Date,Time,Description` for meetings in `sigs.yaml`, But where do I find `mentoring and contributor documentation` to add in `sigs.yaml` ?

[2019-10-29 09:12] mariantalla commented on #3726
Yep! Started with the intention to include some of these in a talk I had last Kubecon, but now it's just for side project. That said, if there's anything in specific that would be useful/interesting for the slack admins team, let me know!

[2019-10-29 14:02] markyjackson-taulia commented on #3305
/remove-lifecycle stale

[2019-10-29 16:03] detiber opened #4200 "The instructions for configuring a mailing list moderation queue are out of date"
The directions at https://github.com/kubernetes/community/blob/7090e455e5c9b9e8adb02bbf8c4b6feaae7c460c/communication/mailing-list-guidelines.md#create-moderation-queue are out of date and the settings mentioned have been moved to various other places in the group settings.

[2019-10-29 16:03] detiber commented on #4200
/sig contribex

[2019-10-29 16:03] detiber commented on #4200
/sig contributor-experience

[2019-10-29 16:54] parispittman commented on #4111
you can find those on the meeting agenda @vishakhanihore. there is a link to that in sigs.yaml as well. you may need to join kubernetes-dev@googlegroups.com if you are having access problems and can't view. thanks for helping, too!! :)

[2019-10-30 06:25] saiyam1814 commented on #4086
@vishakhanihore we are not sure if we want to use that but please create a sample one and lets keep it , will bring this up in the next meeting.

[2019-10-30 10:19] nikhita commented on #3947
/remove-lifecycle stale

[2019-10-30 10:22] nikhita commented on #3305
I had started working on this long ago, but don't have bandwidth to clean up the script and make it almost automate-able. However, I'm happy to work with someone to drive this to completion.
/help

This isn't really a bug anymore since the repos were updated in devstats.
/kind feature
/remove-kind bug

[2019-10-30 10:25] nikhita commented on #4200
/cc @parispittman @castrojo

[2019-10-30 10:25] nikhita commented on #4200
/kind documentation
/priority important-longterm

[2019-10-30 10:27] nikhita commented on #3662
/remove-lifecycle stale
/committee steering

[2019-10-30 10:28] nikhita commented on #3623
/remove-lifecycle stale

[2019-10-30 10:28] nikhita commented on #3266
/remove-lifecycle stale

[2019-10-30 13:41] markyjackson-taulia commented on #3305
@nikhita 1 question: Does it make sense to remove the current list of assignees?

Also I would be willing to take this up if you and I could pair but me doing the actual work

[2019-10-30 13:56] nikhita commented on #3305
Yay! :)

And, yes I think it makes sense to update the assignees. I'll keep myself assigned so I can keep track of this and help out.

/unassign @spiffxp @jberkus @Phillels
/assign @markyjackson-taulia

[2019-10-30 14:20] markyjackson-taulia commented on #3894
I would like to do a walk over of the plan @thecrudge either this week or early next week. This is our final rulebook checkbox before showtime.

[2019-10-30 14:22] markyjackson-taulia commented on #3064
I continue to work on this. My hope is to have an initial pr in by end of this week

[2019-10-30 15:57] savitharaghunathan commented on #2725
Hi @justaugustus/ @calebamiles, I am a part of sig-contribex-triage team and wanted to check if either of you have any updates on this issue? Thanks! :)

[2019-10-30 23:31] saad-ali commented on #4171
Yep, that seems correct to me.

Yep, that's right.

One more thing I would add is that for master control plane operations (like volume attach), CSI allows the master component to be deployed on a node machine, whereas Flex requires a driver file to be installed on the master along with the kube-controller-manager. This makes some Flex drivers infeasible in Kubernetes environments where the master

[2019-10-31 09:46] MeenaAlfons opened #4207 "Secrets Storage"
Currently, Secrets are stored in `etcd`. I've been looking for a way to change the backend storage for Secrets but didn't found any. I also found that my expectations are aligned with the [Secrets design document](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/secrets.md). Here are some quotes from it:

1. Could someone confirm or deny that this aspect of th

[2019-10-31 09:47] bartsmykla opened #4647 "Some place to store voice recordings from our bi-weekly sessions"
Hi everyone!

At our slack channel one of our users (Niels van Brecht / @meauses) suggested to create some space and store there voice recordings from our sessions for people who can't watch videos but would like to listen them like podcasts.

I'm not aware what are requirements to place that kind of recording on Spotify or other places, but I think it would be a great to start with some bucket wh

[2019-10-31 09:50] MeenaAlfons commented on #4207
/sig storage

[2019-10-31 10:14] MeenaAlfons commented on #4207
I thought about achieving the same purpose by making a Custom Resource Definition and found a nice implementation at [godaddy/kubernetes-external-secrets](https://github.com/godaddy/kubernetes-external-secrets).

This for the record for those searching for a solution. But the questions in the original post still stands. What is the direction of Kubernetes regarding the storage of Secrets?

[2019-10-31 18:23] detiber commented on #3896
@chris-short thanks, I think the biggest thing we'd need right now is help with day of awareness

[2019-11-01 20:59] anirudhmurali commented on #4022
Can lend a hand for any of the roles. Count me in! 😄

[2019-11-02 16:07] vishakhanihore commented on #4111
Thanks for the perfect explaination.
@parispittman Can you please help me in drafting my final application for outreachy? Since I want to apply for `Technical Writer`, I am unable to figure out what to mention in my timeline?

[2019-11-04 01:06] hannibalhuang commented on #4157
@derekwaynecarr @vishh hi guys we have interested in still hosting the resource management wg forward, would it be possible for us to do that ?

[2019-11-04 16:35] justaugustus commented on #484
/unassign @onyiny-ang @nickchase @marpaia
/assign @saschagrunert
/milestone v1.18
/priority important-soon

[2019-11-04 16:43] mariantalla commented on #484
/cc

[2019-11-04 17:04] saschagrunert commented on #484
A note from my brain: Beside writing a guideline/contributor checklist, we could also introduce some sort of _assisted review_ process around in conjunction with the release notes team.

@mariantalla what do you think?

[2019-11-04 17:18] pravarag commented on #4109
If this has not been addressed, I would like to work on it as my first issue. @mrbobbytables let me know if I can take it.

[2019-11-04 17:25] mrbobbytables commented on #4109
It does not look like it has -- go for it! :)

[2019-11-04 19:10] detiber commented on #3896
Discussed how to distribute the SIG cards and buttons, since we don't necessarily know offhand how much space each SIG will need, discussed having them available for pickup by the entrance to the room to allow for SIG/WG reps to pick up when entering and move to an area based on how much room they feel they'll need.

[2019-11-05 10:32] pravarag commented on #4109
@mrbobbytables @nikhita any suggestions, where I can get the whole list of subprojects?

[2019-11-05 12:59] mrbobbytables commented on #4109
@pravarag The list can be found in [sigs.yaml](https://github.com/kubernetes/community/blob/master/sigs.yaml) in the root of the community repo, and each sig readme (e.g. [contributor experience](https://github.com/kubernetes/community/tree/master/sig-contributor-experience)) will contain the subprojects that they own.

For the documentation, the specifics sig subprojects don't need to be explicit

[2019-11-05 18:20] jobin-AT commented on #3078
if you are running on openstack or any cloud please make sure to allow the ports in security groups
TCP | Inbound | 6443* | Kubernetes API server

in my case this was the error

[2019-11-06 01:46] jberkus opened #4219 "Create official shortcut link for our CoC"
The official location of our CoC is at https://github.com/kubernetes/community/tree/master/committee-code-of-conduct, which is a difficult URL to fit into a text-only email, or to copy by hand from a slide projected on a screen.  Given how often we direct people to this, it needs to be shorter (and a shortcut link would also let us move the canonical location).

Can we create an official shortcut

[2019-11-06 01:53] cblecker commented on #4219
Does https://git.k8s.io/community/code-of-conduct.md work?
/sig contributor-experience

[2019-11-06 12:57] mrbobbytables commented on #4150
map has been added to sched under information tab: https://kcsna2019.sched.com/info

[2019-11-06 16:18] idvoretskyi opened #4220 "Call for Community Bridge interns"
[Community Bridge](https://communitybridge.org) is a platform developed by the Linux Foundation, which offers mentorship opportunities (besides many others).

This year, CNCF has started participating in the Community Bridge, sponsoring three students to work on Kubernetes and CoreDNS projects during the programs’ pilot stage - see https://www.cncf.io/blog/2019/08/22/cncf-hosts-three-student-inter

[2019-11-06 17:57] parispittman commented on #4220
would like to remain with outreachy and gsoc for interns and community bridge for contractors that are experienced. We should be choosing diverse pipelines only and I don’t see that from community bridge at the moment. What’s the roadmap/strategy on making connections with those communities?

[2019-11-07 05:26] nikhita commented on #4086
From the Nov 7 APAC meeting: @alisondy and I will setup a doodle for the contributor-focused meet-our-contributors-like session and share across the regional channels.

[2019-11-07 06:14] McCoyAle commented on #1913
/remove-lifecycle stale
/lifecycle frozen

Due to important long term label.

[2019-11-07 11:49] justaugustus commented on #3277
I can start looking at some of the Release Engineering components for this post-KubeCon.

/assign
/remove-lifecycle stale
/lifecycle frozen
/sig release
/area release-eng
/milestone v1.18

[2019-11-07 11:54] justaugustus commented on #3277
/milestone Next

[2019-11-07 21:53] jeremyeder commented on #4157
Loved working with you all in this WG context.  See you on the other side.

https://twitter.com/jeremyeder/status/980816275013238785

[2019-11-08 00:07] savitharaghunathan commented on #3277
Follow-up updates on test coverage: @BenTheElder , @hh , @Katharine has been working on improving e2e and unit tests, and api endpoint coverage ( https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-coverage-e2e-gci-gce/1192188001996771329, https://prow.k8s.io/?job=ci-kubernetes-coverage-e2e-gci-gce)

[2019-11-08 00:12] BenTheElder commented on #3277
er, @Katharine has worked on collecting the values by setting up the above linked jobs, I've been very minimally involved.

we could always use more coverage, but at this time I don't think Katharine or I are working on that aspect :sweat_smile:

[2019-11-08 15:54] idvoretskyi commented on #4220
This shouldn't be an issue as the program is backed by the Linux Foundation.

Also, one of the biggest benefits of the Community Bridge is that it's way more flexible than the comparable programs, eg. the Community Bridge doesn't set a specific timeline for a project and a student (it's up to project and mentor to decide on the timeline).

I'm happy to chat in San Diego at KubeCon about this more

[2019-11-09 00:25] haysclark opened #4227 "Minor typo contributors/guide/owners.md"
contributors/guide/owners.md has had a simple typo [here](https://github.com/kubernetes/community/blame/master/contributors/guide/owners.md#L263)

```/approve no-isse``` should be ```/approve no-issue```

[2019-11-09 00:33] haysclark commented on #4227
/sig docs

[2019-11-09 00:42] #4227 closed

[2019-11-09 11:40] vishakhanihore commented on #4111
Great, I joined the group! PR will be ready in day

[2019-11-11 03:22] #2696 closed

[2019-11-11 04:01] markyjackson-taulia commented on #3894
The above walk through was completed this evening with @thecrudge and some pr's were noted above

[2019-11-11 05:12] parispittman opened #4230 "contrib summit feedback for shanghai and san diego"
need to PR in the feedback (https://github.com/kubernetes/community/blob/master/events/events-team/feedback.md) and retros for the following

shanghai links for 2018 feedback and 2019 retro are below from yang.
still need 2018 retro and 2019 feedback

san diego retro: https://docs.google.com/document/d/1mDHxPAbwyy7CSrk7G__Qts6FkhuwuCUQ23RnHpJpVUQ/edit
still need san diego feedback

[2019-11-11 06:17] idealhack commented on #4230
This is what I can find:

- Shanghai 2019 retro: https://docs.google.com/document/d/13aeCb6Rfy0XM2uOhEhIZJZM2ykg-j2IgxsTdNbt2_TI/edit
- Barcelona retro: https://docs.google.com/document/d/1pwVJLPLJtv_vyLFF3BTuuZ24yEn0TJbxihd1I_e4p48/edit
- Shanghai 2018 feedbacks: https://docs.google.com/spreadsheets/d/1HLhpUwMSZlU_bkCsLgeMdB6jUBLOV9m81p7qicVXC6M/edit

[2019-11-11 13:58] sladyn98 commented on #4220
@idvoretskyi Hey I read about the project on the community bridge website, and I would like to be a student for the December round, I began looking around the k8 testing infrastructure as a starting point for my contributions, is there a specific list of projects that I can take a look at?
Thanks and cheers.

[2019-11-11 19:18] idealhack opened #4231 "REQUEST: New moderator for idealhack of YouTube & Zoom"
### GitHub Username

@idealhack

### Property you'd like to Moderate

YouTube & Zoom

### Username on Property Requested

idealhack(at)gmail.com

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable)
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https:

[2019-11-11 19:21] mrbobbytables commented on #4231
+1 from current mod on both

[2019-11-11 21:18] johnbelamaric commented on #3997
/remove-lifecycle stale
/lifecycle frozen

[2019-11-12 02:05] parispittman commented on #3708
/remove-lifecycle stale

still a thing

[2019-11-12 15:26] castrojo commented on #4231
+1 from me on both!

[2019-11-12 15:36] #4231 closed

[2019-11-12 20:25] johnbelamaric commented on #4000
/remove-lifecycle stale
/lifecycle frozen

[2019-11-14 16:46] parispittman commented on #4043
/close

next step is picking the interns!

[2019-11-14 16:46] #4043 closed

[2019-11-14 21:30] jonasrosland commented on #4069
Alright, I've added the schedule, all approved attendees, information about all SIGs, the NCWs, and the SIG Meet & Greet. Please take a look.

[2019-11-15 15:45] jeefy commented on #4022
Hey y'all! I'll be reaching out to people after San Diego to firm up the Amsterdam team. Stay tuned!

[2019-11-16 15:38] jeefy commented on #3692
/remove-lifecycle stale

[2019-11-17 18:33] vishakhanihore commented on #4111
@parispittman I see the `sign.yaml` already has a section for `sig-contributor-experience` and in the following there are sub-projects, Do I need to add another `subproject` with information mentioned in meeting notes ?

[2019-11-17 18:41] vishakhanihore commented on #2126
@nikhita Can I be of any help in here, if the following is not resolved yet 😄

[2019-11-18 17:45] celanthe commented on #2833
Hi @castrojo, @nikhita, @justaugustus--I'm at the docs sprint at the contributor summit doing some issue triage (yay!) and I just wanted to circle back on this and see if we found a resolution for this yet, or if it can be closed, or should it get tagged with another SIG label for attention? TYSM for any help you can provide! :D

[2019-11-18 20:01] thecrudge commented on #4022
I would like to lead the unconference if it’s not been filled yet

[2019-11-19 18:02] cblecker commented on #3364
/remove-lifecycle stale

[2019-11-19 18:03] cblecker commented on #3985
/remove-lifecycle stale

[2019-11-20 00:49] jberkus opened #4249 "Need to disable spellcheck test or find some other location for meeting notes"
Per #4247, we currently have a CI presubmit that checks English spelling.

This makes a lot of sense for, say, SIG profiles.  It does not make sense for meeting notes from things like contributor summits.

Should we find a different location for notes, or should we disable this presubmit on specific directories?

[2019-11-20 06:17] dddd45 opened #4250 "kubectl describe pod not found"
k8s@k8s-master:~$ kubectl get pod --all-namespaces
NAMESPACE              NAME                                         READY   STATUS             RESTARTS   AGE
kube-system            coredns-5644d7b6d9-9qhnd                     1/1     Running            4          4d1h
kube-system            coredns-5644d7b6d9-vh9wc                     1/1     Running            4          4d1h
kube-system

[2019-11-20 07:21] spzala commented on #3364
I believe we can close this issue as we now have a dedicated team, a new slack channel for the team and bi-weekly meetings /cc @ameukam @parispittman @nikhita

[2019-11-20 16:06] nikhita commented on #2324
/remove-lifecycle stale

On Wed 20 Nov, 2019, 6:03 AM fejta-bot, <notifications@github.com> wrote:

[2019-11-20 17:16] nikhita commented on #3954
/remove-lifecycle stale

[2019-11-20 17:37] dianaabv commented on #4022
I'm interested in helping out the RT but actually any Team would work. 💯 👍

[2019-11-20 23:51] cblecker commented on #3899
/help

[2019-11-21 06:41] pravarag commented on #4109
Thanks @mrbobbytables . I'm working on it.

[2019-11-22 18:24] tao12345666333 commented on #3899
Thank you. I have tried adding markdown lint to kubernetes-sigs/kind https://github.com/kubernetes-sigs/kind/pull/1122

[2019-11-23 02:00] onlydole commented on #4022
I’d love to help out in any of the Content / Registration / Event capacities!

[2019-11-24 03:40] BenTheElder commented on #3899
Personally I appreciate the work on this but I'm concerned about potentially adding another barrier to successfully PRing changes that blocks on things that don't really affect the content rendering or readability.

Also cc @zacharysarah @jimangel to tag in some
/sig docs

Apologies for the long winded comment, but I'd like to be specific and clear on this one:

---

Linters are kinda awful for ne

[2019-11-25 18:01] tpepper commented on #4249
It feels like already in the linked PR and in this issue more work has gone into discussing spelling than it would've taken to fix the five tiny typos in the first place and re-push an amended commit.

Misspellings can genuinely be a barrier to entry for readers and is something quite easy to address.

[2019-11-25 22:45] alisondy commented on #4022
✋  Am keen to help out with the NCW and am willing to lead

[2019-11-26 16:07] geekygirldawn commented on #3896
We had a great SIG M&G, but now we're done 😃

[2019-11-26 16:07] #3896 closed

[2019-11-26 16:34] spzala commented on #3364
We have a dedicated team, a new slack channel for the team and bi-weekly meetings set up. Closing this issue. Anything new we should iterate with new one. Hope that sounds good to everyone. Thanks!

[2019-11-26 16:34] #3364 closed

[2019-11-26 22:36] mrbobbytables commented on #3879
NA Summit has completed -- going to go ahead and close this issue.
/close

[2019-11-26 22:36] #3879 closed

[2019-11-26 22:37] mrbobbytables commented on #4150
Map was created and added 👍
Going to go ahead and close this out.
/close

[2019-11-26 22:37] #4150 closed

[2019-11-26 22:49] markyjackson-taulia commented on #3894
This has been completed so closing.

[2019-11-26 22:49] #3894 closed

[2019-11-26 22:55] markyjackson-taulia commented on #3894
Start of the unconference notes are here https://github.com/kubernetes/community/tree/master/events/2019/11-contributor-summit/unconference-notes

I also need to add some retro documentation to the notes here: https://github.com/kubernetes/community/blob/master/events/events-team/content/unconference.md

[2019-11-26 22:57] markyjackson-taulia commented on #3894
@thecrudge Link to this issue and I *HUGELY* nominate you as lead for the unconference Amsterdam if the opportunity presents itself.
cc: @jeefy

[2019-11-27 20:04] rajula96reddy commented on #4022
Hey! I loved participating in the NA Contributor Summit. I would love to help out here.

[2019-11-27 21:07] hpandeycodeit commented on #4022
I don't see Project Management role here but happy to be a part of the Project Management Team again or Registration Team.

[2019-11-28 02:47] BenTheElder commented on #4022
Hi, I would love to help run the new contributor workshop 🙂

[2019-11-28 09:32] saschagrunert commented on #484
I think a good first step is to bring these information into the contributors guide: #4274

[2019-11-28 15:46] aleksas commented on #4001
+1

[2019-11-29 07:52] Vageesha17 commented on #4250
@dddd45  try with the command  kubectl describe pod kubernetes-dashboard-b65488c4-wfqgx --namespace <namespace_of_pod>

[2019-11-29 13:27] mrbobbytables commented on #4250
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2019-11-29 13:27] #4250 closed

[2019-11-29 16:40] mrbobbytables commented on #2725
/remove-lifecycle rotten
Hoping to tackle this between the 1.18 and 1.19 release next year.

[2019-11-30 19:03] #3806 closed

[2019-12-01 15:34] mrbobbytables commented on #3178
Almost all outside collaborators have been removed.
-  A few were added to [kubernetes-sigs/kustomize](https://github.com/kubernetes-sigs/kustomize) after the initial notification of clean up. I've updated the issue with the additional people and pinged repo owners on slack. Will continue clean up 1 week from today.
- [kubernetes-sigs/poseidon](https://github.com/kubernetes-sigs/poseidon) - This r

[2019-12-02 17:07] parispittman opened #4280 "Wrap up SD Contributor Summit"
- [x]  survey
- [x] retro
- [ ]  blog post (+ follow up kdev with blog post link)
- [x]  wrap up email to all attendees
- [x]  picture album
- [x]  youtube videos
- [ ]  upload feedback and retro to events folder: https://docs.google.com/document/d/1mDHxPAbwyy7CSrk7G__Qts6FkhuwuCUQ23RnHpJpVUQ/edit#heading=h.v03voxdwxi2r - retro

[2019-12-02 18:55] mrbobbytables commented on #3237
/remove-lifecycle stale

[2019-12-02 19:04] jeremyrickard commented on #4022
Hey, I'm not 100% sure if I'll attend AMS, but I'd love to shadow NCW and help out. I enjoyed filling in during San Diego and would like to help make NCW even more successful!

[2019-12-02 19:20] chris-short commented on #3237
Aside from copying the Settings and Profile directories and tar'ing them up somewhere the only thing I think we could do is write a doc. But, last I checked, I used the default settings.

[2019-12-02 22:03] jberkus commented on #4249
It's not so much that PR as that asking people to create a PR, that has to pass presumbit tests, in order to save notes from a meeting, is probably the least likely way to result in anyone sharing any notes that I can think of.

We need to upload notes to a place with minimum barriers to speedy upload, or even one that would permit live note-taking during the session.  This GH repo isn't it.

[2019-12-03 15:25] onlydole commented on #3281
/remove-lifecycle stale

[2019-12-03 15:33] idvoretskyi commented on #3281
@justaugustus @castrojo do we plan to move on with this?

[2019-12-03 20:38] idvoretskyi commented on #3266
/milestone next

[2019-12-03 20:38] idvoretskyi commented on #3266
/milestone Next

[2019-12-03 20:39] idvoretskyi commented on #3266
_Game of Milestones ^_

[2019-12-04 00:41] jberkus opened #4286 "Form Application Performance and Benchmarking subproject for SIG-Scalability"
Per discussion with SIG-scalability leads and other interested parties, I'd like to start the process of forming a new subproject of SIG-Scalability, "Application Performance and Benchmarking".  The goal of this subproject would be to pool the efforts of the current various benchmarking efforts around applications on Kubernetes, provide a place to share and publish results for the education of use

[2019-12-04 01:05] onlydole commented on #3281
I'm happy to help document and get merged if anyone has time to help denote the current process!

[2019-12-04 02:55] mrbobbytables commented on #3237
IIRC @castrojo was going to add some bumpers etc for use

[2019-12-04 05:24] savitharaghunathan commented on #4022
Hi, I would like to be a shadow for Registration/Events team :)

[2019-12-04 07:28] wojtek-t commented on #4286
FYI - I'm no longer a chair - I moved to the TL role. @mm4tt replaced me in chair role

That said, I support creating that subproject - it's one of the things that wasn't getting enough attention from us.

I propose discussing this in a bit more details on the next SIG meeting on Dec 5th.

[2019-12-04 16:22] detiber commented on #4022
I'm happy to help out with the Content team as well (assisted @geekygirldawn with the SIG M&G planning for San Diego). Also happy to help out w/ Registration if needed as well.

[2019-12-04 16:30] markyjackson-taulia commented on #4022
I would like to help with the unconference. Still working out with my employer going but I would like to be involved

[2019-12-04 16:32] chris-short commented on #4022
I was confirmed going to Amsterdam yesterday. I’m in wherever needed. Can do content work And/or on the ground workshops.

[2019-12-04 18:02] munnerz commented on #4022
I would also like to help out with the new contributor workshop 🙂

[2019-12-04 19:20] cblecker commented on #2323
/remove-lifecycle rotten

[2019-12-04 19:52] amandakatona commented on #4022
Hey! I would love to help out with by way of shadow for the unconference in Amsterdam. I'll have more time to give in Boston, and would like to be a part of AMS if there's room.

[2019-12-04 22:01] guineveresaenger opened #4289 "Responsiveness of SIG Chairs needs improvement"
Hi Kubies,

I am the 1.17 Release Team Lead and I'm here to tell you that my team has been amazing throughout the release. But future release teams need your help!

We have had a really difficult time getting a response from some SIG-chairs on important release related issues via the SIG Chairs' mailing list. Almost every release team lead has had to go hunt down individuals via Slack, and sometim

[2019-12-04 22:06] guineveresaenger commented on #4289
/sig api-machinery
/sig apps
/sig architecture
/sig auth
/sig autoscaling
/sig cli
/sig cloud-provider
/sig cluster-lifecycle
/sig docs
/sig instrumentation
/sig multicluster
/sig network
/sig node
/sig onprem
/sig pm
/sig release
/sig scalability
/sig scheduling
/sig service-catalog
/sig storage
/sig testing
/sig ui
/sig usability
/sig windows

[2019-12-04 22:13] markyjackson-taulia commented on #2660
/remove-lifecycle stale

[2019-12-04 22:14] markyjackson-taulia commented on #2660
/assign @markyjackson-taulia

[2019-12-04 22:15] markyjackson-taulia commented on #2660
I took notes from today's meeting and this I have a way to box this up for someone to pick it up in a uniformed fashion

[2019-12-04 23:16] mrbobbytables commented on #3654
/remove-lifecycle stale

[2019-12-04 23:18] castrojo commented on #4289
Many of these release requirements are listed in the governance: https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md

More broadly it's not just the release team that has this problem. A quick scan of the YouTube playlists, SIG Meeting minutes, and other transparency goals are simply not being met. It's become a chore for the community meeting host t

[2019-12-05 01:08] onlydole commented on #2660
+1 to this, and @castrojo's comments from this morning 😆

[2019-12-05 04:22] jeefy commented on #4289
This is my hot-take when it comes to SIG-Chairs and the health of the project.

- SIG-Chairs should have a term limit and an effort limit.
- SIGs should have no more than three chairs. The rotations should be staggered so 4-6-12mo depending on 3-2-1 chairs, rotate.
- They should have someone shadow them for the last two months of their term (that is already in the OWNERs file as an approver)
- Whi

[2019-12-05 05:04] onlydole commented on #4289
I like the provisions outlined in your hot-take, @jeefy. :smile:

Making an effort to distribute the load of a SIG chair and encourage growth with the shadow process would be great to see! I especially like the idea of limiting the focus of the SIG chair role to only the SIG chair role.

[2019-12-05 05:11] parispittman commented on #4289
+1 to bob

[2019-12-05 17:43] mrbobbytables commented on #3178
All outside collaborators (excluding a few bots) have been removed or joined an associated org. With that I'm going to go ahead and close this issue out.
/close

[2019-12-05 17:50] #3178 closed

[2019-12-05 18:57] parispittman opened #4291 "zoom main account needs to change"
currently logging in as: k8szoom@gmail which is an account @castrojo and I share.
Should be: contributors@kubernetes.io

two things:
1-cncf needs to get zoom to change this for us because you can't update an email in zoom for the license you have to delete the license and then establish a new one. OR we may be able to add contributors@ as a license holder and then delete the other one, etc. [inser

[2019-12-05 19:03] lavalamp commented on #4289
I was a chair until just recently; chairs are kind of DOSed with communication, at least for me that is usually the cause of non-responsiveness.

I agree with the idea of requiring occasional confirmation to stay in a role, whether that's a term limit or something else. The point is to set the expectation of transiency. It's socially difficult for people to say "bad" things about people, like they

[2019-12-05 19:11] diranged commented on #4061
I have opened up https://github.com/kubernetes/kubernetes/issues/85963

[2019-12-05 21:10] castrojo commented on #4291
/assign

I'll work on this next week.

[2019-12-05 23:06] justaugustus commented on #1971
/remove-lifecycle stale

[2019-12-06 19:05] jeefy commented on #4022
Hey y'all! I'm going to keep this thread open to track the effort but at this point volunteer sign-ups are closed. :)

I've started reaching out to some prospective leads (and suggested some shadows along the way) and hopefully we'll have a team staffed next week.

Thanks to everyone that posted! Y'all make this community and make me feel warm and fuzzy inside. 😊 😊 😊

[2019-12-06 21:20] lukehinds opened #4295 "Domain registration"
Who can I contact that can acquire and manage domains for use in  k8's infrastructure (for functional tests)?

/sig security

[2019-12-06 21:23] lukehinds commented on #4295
/sig security

[2019-12-06 23:01] stp-ip commented on #4295
@idvoretskyi knows the best process I assume

[2019-12-06 23:40] caniszczyk commented on #4295
under what domain? kubernetes.io? k8s.io? also what would the DNS records be?

[2019-12-07 01:22] dims commented on #4295
@lukehinds let's use https://github.com/kubernetes/k8s.io/ we maintain a bunch of infra stuff

[2019-12-07 03:25] nikhita commented on #2873
/lifecycle frozen

[2019-12-07 06:49] lukehinds commented on #4295
We have an issue being handled in the product security committee and one part of a possible resolution under consideration requires a domain with a preference to not use anything with k8s, kubernetes, or CNCF in it. Do it being a private discussion I can't divulge in public why the specific need. This issue is to work out what any process would be or point of contact for requesting such a domain.

[2019-12-07 10:39] cblecker commented on #4295
@lukehinds Please reach out to dims and myself privately by email with some details around requirements and we can see what we can do.

/close

[2019-12-07 10:39] #4295 closed

[2019-12-09 03:00] justaugustus commented on #3456
@nikopen -- Are you coming back to this one?
/remove-lifecycle stale
/lifecycle frozen

[2019-12-09 04:00] Colstuwjx opened #4296 "Need more active response from owners and members"
There are lots of issues lost response and inactive from community, for example, [issues from kubespray](https://github.com/kubernetes-sigs/kubespray/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-asc), more than 30% percent issues don't have any response.

And some PRs, for example ( I just take the example from our repo pool, it's NOT the ONLY one ), like [this PR](https://github.com/kubernetes/w

[2019-12-09 05:36] nikhita commented on #4296
/sig contributor-experience

[2019-12-09 15:14] ameukam commented on #4007
@jberkus Now San Diego is done, do you want to keep this open for the future summits ?
/remove-lifecycle stale

[2019-12-09 15:17] ameukam commented on #3994
@jeefy Should we leave this open for Amsterdam ?

[2019-12-09 15:33] ameukam commented on #3678
SIG-GCP is now a sub-project of SIG Cloud Provider. You can find meeting docs and updates here:
https://docs.google.com/document/d/1OZE-ub-v6B8y-GuaWejL-vU_f9jsjBbrim4LtTfxssw/edit#heading=h.w7i4ksrweimp.

/close

[2019-12-09 15:33] #3678 closed

[2019-12-09 16:11] tashimi commented on #3994
@ameukam I would suggest we close it, but continue tracking if participants need laptops to participate. If they do, we can kick off a laptop program to satisfy the need.

[2019-12-09 17:59] mrbobbytables commented on #3835
The SD event is over~ going to go ahead and close out this issue :)
/close

[2019-12-09 17:59] #3835 closed

[2019-12-09 19:32] castrojo commented on #4296
This is related to thi: https://github.com/kubernetes/community/issues/4149

[2019-12-09 21:07] idvoretskyi commented on #3938
/assign

I'm going to document this CNCF-wide during the next few weeks, which will be applicable for Kubernetes (obviously) as well.

[2019-12-09 22:35] mrbobbytables commented on #3994
We'll definitely keep the question on the reg form 👍and will follow-up as needed.
Thanks for kicking off the idea @tashimi :)

[2019-12-09 22:40] mrbobbytables commented on #4069
The linked slide deck is complete and was used at the summit \o/
Here is the deck for future reference:
[Kubernetes Contributor Summit - San Diego 2019 - Sunday Info Slides](https://docs.google.com/presentation/d/1OFGJ2kTV_2KsBMmA4aM3j_JU2OQLxb0C/edit#slide=id.p1)

Going to go ahead and close this out :)

/close

[2019-12-09 22:40] #4069 closed

[2019-12-09 22:45] mrbobbytables commented on #3893
Sunday info slides are here:
[Kubernetes Contributor Summit - San Diego 2019 - Sunday Info Slides](https://docs.google.com/presentation/d/1OFGJ2kTV_2KsBMmA4aM3j_JU2OQLxb0C/edit#slide=id.p1)

We had a karaoke, dogs, games, bingo and more there 👍

With the event over, I'm going to go ahead and close this out.

Thanks!

/close

[2019-12-09 22:45] #3893 closed

[2019-12-09 22:49] mrbobbytables commented on #3914
Bingo went well, and it was a good ice breaker for new folk. ❤️

With the event now over, I'm going to go ahead and close out this issue.

Thanks @alisondy :D

/close

[2019-12-09 22:49] #3914 closed

[2019-12-09 22:54] mrbobbytables commented on #3919
With the summit done with, I think it's safe to close out this issue.
Thanks all for your effort ❤️

/close

[2019-12-09 22:54] #3919 closed

[2019-12-09 22:56] mrbobbytables commented on #3911
With the event over, I think it's safe to close this issue out. The remaining items that need to be completed can be found in the event wrap up issue (https://github.com/kubernetes/community/issues/4280).

Thanks all!

/close

[2019-12-09 22:56] #3911 closed

[2019-12-09 23:01] mrbobbytables commented on #3970
All items checked and complete \o/

Going to go ahead and close this out.

Thanks!

/close

[2019-12-09 23:01] #3970 closed

[2019-12-10 00:49] jberkus opened #4300 "REQUEST: New moderator for @jberkus of kubernetes Slack"
### GitHub Username
@jberkus

### Property you'd like to Moderate
slack.kubernetes.org

### Username on Property Requested
@jberkus

### Requirements

- [X] I am a Kubernetes Org member already
- [X] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [X] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io

[2019-12-10 00:53] mrbobbytables commented on #4300
+1

[2019-12-10 00:53] idealhack commented on #4300
+1 from current moderator

[2019-12-10 01:00] jeefy commented on #4300
+1

On Mon, Dec 9, 2019 at 7:53 PM Yang Li <notifications@github.com> wrote:

[2019-12-10 01:16] ameukam commented on #3994
/close

[2019-12-10 01:16] #3994 closed

[2019-12-10 02:14] mrbobbytables commented on #4077
/remove-lifecycle stale

This is a little more relevant now after some of the changes zoom has introduced.

[2019-12-10 02:16] onlydole commented on #4300
+1

[2019-12-10 15:55] castrojo commented on #4300
/assign

+1 - ping me on slack at some point this week and we'll do the minutea.

[2019-12-10 16:08] castrojo commented on #4291
Changing the email via Zoom totally worked, licenses appear to work fine, etc. I'll leave this open while I inform the zoom admins of the password change.

[2019-12-10 18:12] parispittman opened #4302 "[doc] youtube cred"
I've officially passed the primary ownership from me to contributors@kubernetes.io and the youtube and mod docs will need to be updated.

[2019-12-10 20:25] DanielCalvo opened #4303 "Broken link to Affiliation change file on CLA.md"
Going over the [CLA.md](https://github.com/kubernetes/community/blob/master/CLA.md) to sign the Contributor License Agreement, I noticed the link to change the developer affiliation on the cncf/gitdm repository is [broken](https://github.com/cncf/gitdm/blob/master/developers_affiliations.txt)

I would be thrilled to create a PR on this as my first issue soon as I can finish reading the getting sta

[2019-12-10 20:37] DanielCalvo commented on #4303
/sig docs

[2019-12-11 04:34] mm4tt commented on #4286
Sorry for not looking at this earlier, I was OOO for the last 2 weeks.

I second what Wojtek has said, +1 for creating the subproject.

[2019-12-11 16:19] mrbobbytables commented on #4010
/remove-lifecycle stale

[2019-12-11 17:12] castrojo commented on #4291
/close

This seems to have worked perfectly and everything has been updated, so closing this for now.

[2019-12-11 17:12] #4291 closed

[2019-12-11 17:16] #4303 closed

[2019-12-11 17:44] timothysc commented on #4289
As a chair, I see it as a responsibility to federate or bow out where necessary ^.

[2019-12-11 19:25] #4300 closed

[2019-12-12 01:31] LinshanYu opened #4312 "Kubelet'log shows a lot of 'timeout'"
kubelet、kubeproxy and many others is running ，one node is unKnow, kubelet'log shows a lot of 'timeout'

[2019-12-12 09:29] geekygirldawn commented on #4312
Hi @LinshanYu, thanks for filing an issue!

However, I'm not sure that you've provided enough detail for people to understand the problem. This page might help you do more troubleshooting or find an existing answer to your problem: https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/

If you still think this is a bug, it would help if you could, please include detailed infor

[2019-12-12 09:54] LinshanYu commented on #4312
ths, I‘’ll show more details and resubmit the Issues

[2019-12-12 09:55] LinshanYu commented on #4312
ths, I‘’ll show more details and resubmit the Issues

[2019-12-12 09:55] #4312 closed

[2019-12-13 13:02] nikhita commented on #2878
/remove-lifecycle stale

[2019-12-13 20:22] castrojo opened #4316 "SIG Auth youtube needs to be automated"
We're having a problem with collaboration not working in YouTube for the SIG Auth brand account -- currently they are unable to update their playlist, we should move them to the automated setup so it's easier for them to post their videos.

/sig contributor-experience

[2019-12-14 19:12] markyjackson-taulia commented on #2657
/remove-lifecycle stale

I continue to work on this

[2019-12-15 19:49] freepirat11 commented on #4001
+10

[2019-12-17 18:23] vishakhanihore opened #4324 "Remove the unwanted refereres file present."
Currently, there are many references files present to redirect to another page, might be due to changes in repo directory.

Remove such files as they were supposed to be deleted earlier.

/sig contributor-experience

[2019-12-17 18:24] vishakhanihore commented on #4324
cc: @markyjackson-taulia

[2019-12-17 20:25] vishakhanihore commented on #4185
@nikhita Can I update the following for the changes ?

[2019-12-17 20:39] #4302 closed

[2019-12-17 23:59] vishakhanihore commented on #3546
@timothysc @quinton-hoole  I think its good to be closed

[2019-12-18 00:13] hannibalhuang commented on #4185
if you could help with the update, please also add @rficcaglia as the third co-lead

[2019-12-18 00:45] mrbobbytables commented on #4185
@hannibalhuang before they're added, they should apply for org membership. The original issue that this is referencing was to ensure that all leads are org members.

[2019-12-18 13:57] Colstuwjx opened #4330 "Dead link for volume plugins inside CSI driver design proposal"
Hi team,

While reading the design proposal of CSI, I found the [volume plugins link](https://git.k8s.io/kubernetes/pkg/util/strings/escape.go#L27) from [kubelet-to-csi-driver-communication section](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#kubelet-to-csi-driver-communication) was out-dated.

In order to let our users d

[2019-12-18 13:59] Colstuwjx commented on #4330
/sig storage
/kind documentation

[2019-12-18 17:19] rficcaglia commented on #4185
Bob - is there a link for org membership for an individual?

On Tue, Dec 17, 2019 at 4:45 PM Bob Killen <notifications@github.com> wrote:

[2019-12-18 17:21] mrbobbytables commented on #4185
@rficcaglia membership guidelines can be found here:
https://github.com/kubernetes/community/blob/master/community-membership.md#member

[2019-12-18 17:47] vishakhanihore commented on #2441
/remove-lifecycle stale

[2019-12-18 18:03] #2833 closed

[2019-12-18 18:21] rficcaglia commented on #4185
ok I signed the document and linked my github account. for the issue with
sponsorship are you my sponsors that I put in the GHI? Or do I need someone
else?

On Wed, Dec 18, 2019 at 9:21 AM Bob Killen <notifications@github.com> wrote:

[2019-12-18 19:33] #4324 closed

[2019-12-18 21:31] vishakhanihore commented on #2759
/remove-lifecycle-stale
/assign

[2019-12-18 21:31] vishakhanihore commented on #2759
/remove-lifecycle stale

[2019-12-18 22:56] vishakhanihore opened #4333 "Include Contribution Best Practices Section in Contributor Guide"
I propose to add a section for `Contribution Best Practices` which may include some basic courtesy like:
- Naming the commit, PR Description.
- Using GitHub Special Keywords and etc.

/area contributor-guide
/kind documentation
/sig contributor-experience

[2019-12-18 23:02] mrbobbytables commented on #4333
That sounds good to me :)
We have a little bit here:
https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#6-squashing-and-commit-titles
but I know we're missing the guidelines like 'don't include `@<person>` in the commit msg etc.
Some other details here: https://github.com/kubernetes/test-infra/pull/9387

[2019-12-18 23:04] vishakhanihore commented on #4333
Hey @mrbobbytables Just made a PR, Lets discuss over there 😄

[2019-12-19 05:14] cblecker commented on #4333
/assign @vishakhanihore

[2019-12-19 05:17] #3749 closed

[2019-12-19 13:34] vishakhanihore commented on #767
@cblecker @nikhita I found this architecture diagram in the `K8 Website`, Will the following diagram work for same?
<img width="701" alt="Screenshot 2019-12-19 at 7 03 56 PM" src="https://user-images.githubusercontent.com/54327666/71177614-67c8bd80-2292-11ea-8a14-e1980ac424c0.png">

[2019-12-19 13:36] vishakhanihore commented on #3776
/lifecycle frozen

[2019-12-19 20:06] vishakhanihore commented on #1514
/assign

[2019-12-19 22:13] mrbobbytables commented on #4185
@rficcaglia I would recommend the other wg-policy leads as a starting point 👍 sponsors are generally folk that you've interacted with.

[2019-12-20 06:50] markyjackson-taulia commented on #4330
/assign @markyjackson-taulia

[2019-12-20 07:04] markyjackson-taulia commented on #4330
Per https://github.com/kubernetes/kubernetes/pull/73455 the code in https://github.com/kubernetes/kubernetes/tree/master/pkg/util/strings/ was moved to https://github.com/kubernetes/utils/tree/master/strings. So the documentation should reference https://github.com/kubernetes/utils/blob/master/strings/escape.go#L27

PR is https://github.com/kubernetes/community/pull/4340

[2019-12-20 07:14] Colstuwjx commented on #4330
Hi @markyjackson-taulia ,

I have been already submitted PR #4331 , no need to repeat it.
Thanks.

[2019-12-20 07:15] markyjackson-taulia commented on #4330
Oh my, I totally did not see that and I apologize.

[2019-12-20 07:17] markyjackson-taulia commented on #4330
@Colstuwjx I closed my pr, totally sorry about that
/honk for find and getting the PR in

[2019-12-20 12:32] #4330 closed

[2019-12-20 20:15] vishakhanihore commented on #3753
/lifecycle frozen

[2019-12-20 20:19] vishakhanihore commented on #2441
/lifecycle frozen

[2019-12-20 20:43] vishakhanihore commented on #2050
Noted, Working on it.

/assign

[2019-12-20 22:20] vishakhanihore commented on #3753
Looking onto it @parispittman @nikhita !

[2019-12-21 17:47] vishakhanihore commented on #923
/lifecycle frozen

[2019-12-21 17:55] vishakhanihore commented on #923
/assign

[2019-12-21 23:28] vishakhanihore commented on #1644
/assign

[2019-12-21 23:32] vishakhanihore commented on #1645
/assign

[2019-12-22 12:08] markyjackson-taulia commented on #3064
@vishakhanihore kindly see the above

[2019-12-22 12:09] markyjackson-taulia commented on #3064
/assign @vishakhanihore

[2019-12-22 12:14] ameukam commented on #3064
/assign @vishakhanihore

[2019-12-22 17:41] vishakhanihore commented on #3064
/assign

[2019-12-22 23:33] vishakhanihore commented on #3064
/lifecycle frozen

[2019-12-23 00:10] vishakhanihore commented on #3211
@liggitt Would you like some help here ?

[2019-12-23 02:47] parispittman commented on #4166
TESTING ONLY: https://www.surveymonkey.com/r/F6SG3GB
DO NOT expect your answers to stay; this is a sandbox link only for testing purposes.

Please report any bugs, feedback, and last minute question suggestions in this issue.

[2019-12-23 02:59] idealhack commented on #4166
[code]

this one seems more of an answer to _Does your employer support your contributions to Kubernetes?_ than _What areas of Kubernetes do you contribute to? Please check all that apply._

For the _areas_ question, also I don't see options for SIG Release or _Other (please specify)_.

[2019-12-23 03:00] idealhack commented on #4166
_Which of the below would make you likely to attend more of the Community Meetings? Check all that apply._ should have multiple choices instead of one.

[2019-12-23 03:03] idealhack commented on #4166
_Have you watched or participated in an episode of our YouTube mentoring series Meet Our Contributors? If you have specific suggestions, leave them at the end of the survey._ The link in question is broken because of extra space.

[2019-12-23 03:06] parispittman commented on #4166
thanks @idealhack, addressed

[2019-12-23 03:09] parispittman commented on #4166
thanks @idealhack, addressed

[2019-12-23 12:50] furukawa3 opened #4349 "Add an explanation about hack/install-etcd.sh into running-locally.md"
Regarding [running-locally.md](https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md), there is no explanation about [hack/install-etcd.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/install-etcd.sh).  I think it's more easy to install etcd by using hack/* scripts.

[2019-12-23 12:53] furukawa3 commented on #4349
/kind documentation
/sig contributor-experience
/area developer-guide

[2019-12-23 12:54] furukawa3 commented on #4349
/assign @furukawa3

[2019-12-23 19:16] rsevilla87 commented on #4286
@mm4tt I'm also interested on creating this subproject.

[2019-12-23 20:36] #4106 closed

[2019-12-23 21:07] vishakhanihore commented on #4077
/assign

[2019-12-23 21:07] vishakhanihore commented on #4077
@mrbobbytables Here we need to explain `Automation of Zoom` like recurring meetings, Automatic start & stop of meeting ?

[2019-12-23 21:39] underrun opened #4350 "Options other than just relying on cncf jobs board for careers"
Based on Jorge Castro's suggestion in slack:
https://kubernetes.slack.com/archives/C25QWBR71/p1576611073059000

The purpose of this issue is to collect ideas on alternatives to just shutting down #kubernetes-caeers channel in slack and relying on cncf's job board for kubernetes and cloud native related job postings, and to consider these alternative paths.

From the slack channel people have sugge

[2019-12-24 00:07] #359 closed

[2019-12-24 00:51] phumberdroz commented on #4350
I have not done this in this slack but a couple of years ago I used to just post my profile (what I do, who I am and CV) into the slack channels of slacks that I was active in. Sometimes companies are not actively looking but still might be interested if they spot your profile.

[2019-12-24 07:37] JoelSpeed commented on #4350
Not sure if people are aware of this or not, but the CNCF board does have a "job seekers" section too. You can create your own profile, upload details etc and then companies can browse those profiles as they would have done in slack

[2019-12-24 12:44] mrbobbytables commented on #4350
I'm open to the idea of turning the channel into more of something for career-advice, but I'd discourage posting positions/cvs there and push that to the job board.

The other thing that could be done in job postings from groups that have had a presence in slack, would be to reference it in the job posting / seeker profile -- along the lines of:
`Have a question? feel free to ping @herpderp on the

[2019-12-24 13:20] elisiano commented on #4350
@mrbobbytables personally I would prefer the opposite: having a post on the board and a link shared in the channel from the recruiter. I feel this enables better engagement.

If the intent is to have the channel read only, then there could be some sort of automation (webhook or otherwise) that would post the link in the channel followed by “for further info ping @herpderp”

[2019-12-24 13:22] mrbobbytables commented on #4350
@elisiano We can't make the channel read only.

[2019-12-24 14:00] idvoretskyi commented on #4350
Becoming a job seeker is so easy as signing up with a few clicks; for the individuals with LinkedIn accounts it's even easier as the LinkedIn SSO is supported.

[2019-12-24 15:14] markyjackson-taulia commented on #4112
/remove-lifecycle

[2019-12-24 15:14] markyjackson-taulia commented on #4112
@parispittman i can help here if needed

[2019-12-24 15:15] markyjackson-taulia commented on #4112
/assign @markyjackson-taulia

[2019-12-24 15:21] #923 closed

[2019-12-25 03:50] castrojo commented on #4350
/sig contributor-experience
/assign

I wonder if we could automate this, perhaps having a bot paste in new jobs from the board so individuals could discuss the positions in real time. I feel like we also need to keep the hallway track vibe that real time comms give us, which is what I believe @underrun's gist is here.

Extra point - the moderator load of the jobs channel vs. the rest of the slack

[2019-12-25 17:35] elisiano commented on #4350
@castrojo that was a long read! After reviewing it I would say I'm open to giving it a try.
Just a note about timezone: I'm mainly US/ET but a couple of months a year I am located in CET. Reading the rules I would just need to let other admins know (and most of the time I cover the same US/ET zone at work so it overlaps with the community duties).

[2019-12-25 18:51] markyjackson-taulia commented on #4044
/remove-lifecycle stale

[2019-12-25 21:18] markyjackson-taulia commented on #4117
/remove-lifecycle stale

[2019-12-27 09:45] hanoisteve commented on #4350
I think we need to keep communication about opportunities a two way channel. Also even though I am not looking at the moment I find it interesting to see what is in demand in the industry and be able to discuss with people about opportunities.   Moves away from slack are almost always a downgrade in quality of the communication. Perhaps its not the place for people to post resumes but thats differ

[2019-12-27 16:26] onlydole commented on #4166
@parispittman - this looks FANTASTIC. Thank you for this, I’ll be happy to retweet it out once it goes live!

[2019-12-27 17:04] markyjackson-taulia commented on #4166
This is awesome @parispittman thank you for all this hard work!
Question: `20. Are you available to mentor other Kubernetes contributors through one or more of our many mentorship programs?`
Should a link be included to https://github.com/kubernetes/community/tree/master/mentoring

[2019-12-27 17:17] mariantalla commented on #4166
Hello! Just a couple of nits below. Happy holidays! 🎅

* Question 2: `What level of the Contributor Ladder do you consider yourself to be on? (pick the highest if you are multiple OWNERs files)` > missing an `in`, I think (_in_ multiple OWNERs files)
* The nit of nits on Question 5: `5. How many other open source projects not in the Kubernetes ecosystem do you contribute to? (example nodejs, debia

[2019-12-28 08:07] cblecker commented on #4166
Question 3: If you're already a subproject owner (Q2), then you can't "advance" technically. There should be an option added "no, as I'm already a subproject owner"

[2019-12-28 14:36] spzala commented on #4166
@parispittman awesome overall. Few comments below. Thanks!
7. Do you agree with the following statements (1 - strongly disagree, 5 - strongly agree):
Comment: The first and second statements related to CI seems redundant.
10. What areas of Kubernetes do you contribute to? Please check all that apply.
Comment:  Suggest to move "Don’t contribute yet, hoping to start soon" before "Other"
14. Some of

[2019-12-28 17:40] cblecker commented on #4166
@spzala the similar statements in question 7 are intentional. They are different enough that we can determine subtleties if you agree with one but not the other

[2019-12-28 22:09] spzala commented on #4166
@cblecker :) OK, sounds great. I just wanted to make sure that it doesn't confuse the reader, thanks for clarifying it!

[2019-12-29 16:33] nikhita commented on #4125
/remove-lifecycle stale

[2019-12-29 18:23] raravena80 commented on #4019
/remove-lifecycle rotten

[2019-12-29 18:25] markyjackson-taulia commented on #4019
/remove-lifecycle rotten

[2019-12-30 11:29] wojtek-t commented on #4286
@jberkus already said that he will work on creating a charter for this subproject; there are more people interested in it.

[2019-12-30 13:37] parispittman commented on #4166
thanks all - will revise in a few hours and then post back here with updates! 🚀

[2019-12-30 18:02] parispittman commented on #4166
all changes are live. only a few of the nits couldn't happen like reordering of multiple choice answers re: sahdev. will check to see if we can do this before we go live. thanks all!

[2019-12-30 19:03] cblecker commented on #4117
/assign @stealthybox @mtaufen @sttts

[2019-12-30 19:26] cblecker commented on #4112
/remove-lifecycle stale

[2019-12-30 19:44] cblecker commented on #2663
/lifecycle frozen

[2019-12-30 19:47] cblecker commented on #4007
Closing for now. This can be revisited by future summit leads.
/close

[2019-12-30 19:47] #4007 closed

[2019-12-30 19:48] cblecker commented on #4022
/assign jeefy

[2019-12-30 19:52] cblecker commented on #4249
/sig contributor-experience

I agree with Tim here. Another benefit of the spell check is it prevents sucking up future reviewer time by needing to review small spell check PRs in the future. Get all the revisions in at once.

[2019-12-30 19:53] cblecker commented on #3985
/assign castrojo
I think this is done, isn't it?

[2019-12-30 20:01] mrbobbytables commented on #4166
I do have a few small nits:
---
_11- What areas of Kubernetes do you contribute to? Please check all that apply._
For the option:
`Code inside of another repo in the kubernetes/* GitHub organization`
If this is meant for all the k-orgs, it might be better as something like:
`Code inside another repo within one of the Kubernetes GitHub Organizations (e.g. kubernetes or kubernetes-sigs).`

---
_13 -

[2019-12-30 20:01] onlydole commented on #4112
@parispittman - I'd be happy to help out with this too!

[2019-12-30 20:02] mrbobbytables commented on #3985
It is done \o/
/close

[2019-12-30 20:02] #3985 closed

[2019-12-30 20:56] spzala commented on #4166
@parispittman awesome!! No worries about reordering. Thanks!!

[2019-12-30 22:17] cblecker commented on #4011
To make changes to this list, please PR in e-mail addresses here: https://github.com/kubernetes/k8s.io/blob/f7715c03741b081abacc78e651d1d1702bdd8c42/groups/groups.yaml#L741-L774

/remove-lifecycle stale

[2020-01-01 03:14] idealhack commented on #4011
+1, this should be documented in [moderators.md](https://github.com/kubernetes/community/blob/master/communication/moderators.md) too

[2020-01-02 17:47] parispittman commented on #4112
yay @onlydole !! file an issue template for moderator in k/community for zoom/youtube. they are different credentials but the automation and things you'll find need both to make a smooth process. use me as a sponosor if you need. thank you again!!

[2020-01-02 17:47] parispittman commented on #4112
@markyjackson-taulia just saw that you volunteered, too! same thing as I said to Taylor above!! :) yay

[2020-01-02 17:48] parispittman commented on #4112
closing this issue as between the two of you, even if we get one more thats awesome! :) thanks again everyone!!

[2020-01-02 17:48] #4112 closed

[2020-01-03 10:39] veera2019 opened #4361 "eks cluster nodes showing no resource found"
@k8s-github-robot i have installed eks cluster in aws and created nodes using cloud formation template.
while accessing cluster from ec2 instance if i kubectl get svc i am getting output and it's working
if i run kubectl get nodes it's getting no resource found and i have added node role in aws-auth-cm config file also still getting error

kubectl get nodes
no resource found

[2020-01-03 21:56] cblecker commented on #4361
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2020-01-03 21:56] #4361 closed

[2020-01-04 16:57] markyjackson-taulia commented on #3064
@vishakhanihore I am going to remove myself from assigned since you are now working on this. If you need any help please do let me know. Thanks kindly 😺

[2020-01-04 16:57] markyjackson-taulia commented on #3064
/unassign @markyjackson-taulia

[2020-01-04 16:58] markyjackson-taulia commented on #2759
/unassign @markyjackson-taulia now that @vishakhanihore is working on this

[2020-01-04 16:59] markyjackson-taulia commented on #2441
@vishakhanihore this also falls in to the dev guide work under #3064  Do you want to take this as well?

[2020-01-04 17:04] markyjackson-taulia commented on #155
@vishakhanihore This also falls under #3064

[2020-01-04 17:05] markyjackson-taulia commented on #1644
@vishakhanihore I would add this under the documentation umbrella for #3064

[2020-01-04 17:06] markyjackson-taulia commented on #1899
@vishakhanihore this also falls under #3064 Do you want to take this as well?

[2020-01-04 22:35] #4333 closed

[2020-01-04 22:56] parispittman commented on #4166
all changes have been made. target send out monday (6th) to k-dev@ mailing list.

collecting final approval from @nikhita @cblecker and @Phillels (elsie approved via slack)

[2020-01-04 22:57] parispittman commented on #4166
nikhita also approved via slack.

[2020-01-04 23:27] parispittman opened #4364 "kick off sig chair/tl monthly shindig"
We've been kicking around the idea for a while. This is an optional (until folks say its valuable and we PR into governance) meeting for SIG Chairs/TLs. This meeting will cover topics around the operations and leadership of SIGs/WGs. (ideas: announcements, administrivia operations/how-tos/demos (examples: youtube automation, zoom, etc) setting up programs to grow more reviewers and approvers, open

[2020-01-04 23:28] dims commented on #4166
Q3 : please move `no` as the last option. please prefix the others with `yes. ...`
Q19 : group all the `yes` before the `no`s please

Looks great thanks @parispittman

[2020-01-04 23:29] cblecker commented on #4166
Approved

[2020-01-05 00:49] parispittman commented on #4364
notes from mailing list thread:
@markyjackson-taulia @justaugustus @jimangel volunteered to help

[2020-01-05 12:30] vishakhanihore commented on #1899
/assign

[2020-01-05 12:31] vishakhanihore commented on #2441
/assign

[2020-01-05 14:46] markyjackson-taulia commented on #3917
/remove-lifecycle stale

[2020-01-05 14:49] markyjackson-taulia commented on #155
/assign @vishakhanihore

[2020-01-05 15:45] chris-short commented on #4364
Happy to help where skills match (email, meeting running, etc.)

[2020-01-05 19:43] mrbobbytables commented on #3179
/remove-lifecycle stale

[2020-01-06 03:33] nikhita commented on #3724
/remove-lifecycle stale

[2020-01-06 03:47] nikhita commented on #2659
/lifecycle frozen

[2020-01-06 05:10] sladyn98 commented on #4220
CC : cc @nikhita @parispittman

[2020-01-06 08:28] idvoretskyi commented on #4220
@sladyn98 please see https://github.com/cncf/soc/blob/master/communitybridge/README.md

[2020-01-06 08:29] nikhita commented on #4220
@idvoretskyi can this issue be closed? the interns have already been selected, right?

[2020-01-06 09:51] sladyn98 commented on #4220
Have the interns already been selected or are there any slots still left ?

[2020-01-06 13:10] palnabarun opened #4365 "[Umbrella Issue] Contributor Summit Amsterdam Registration"
This issue tracks tasks related to registrations for Kubernetes Contributor Summit Amsterdam.

- [x] Reconcile registration questions for all tracks (Deadline: 1/13)
- [x] Create and test registration workflows for all tracks (Deadline: 1/21)
- [x] Determine registration phases and groups (Ref: #4366)
- [ ] Rollout phased registration (Ref: #4366)

/sig contributor-experience
/area contributor-sum

[2020-01-06 13:10] palnabarun commented on #4365
/assign

[2020-01-06 13:16] idvoretskyi commented on #4220
@nikhita for Kubernetes - yes.

/close

@sladyn98 the program was publicly announced around a month ago, together with the call for applications - https://www.cncf.io/blog/2019/12/05/cncf-to-participate-in-the-community-bridge-mentorship-program/.

We already have Kubernetes mentees selected, but there are still a few other projects in progress. Also, feel free to apply for the next round of the C

[2020-01-06 13:16] #4220 closed

[2020-01-06 13:21] palnabarun opened #4366 "[Contributor Summit Amsterdam] Registration Phases"
The registration will open for Kubernetes Contributor Summit Amsterdam in phases.

#### Tentative Phases as of now:

- [x] January 27 - Registration for Active Contributor Track opens to Organisation members
- [x] January 27 - Registration for New Contributor Track opens to General Audience
- [ ] February 21 - Registration for Active Contributor Track opens to General Audience

#### Capacity for e

[2020-01-06 19:45] parispittman commented on #4166
@dims corrections made; thank you

updates:
https://www.surveymonkey.com/r/VYRJZ5G - this is the real survey. drafting language for k-dev@ email now and will have folks review from slack to be sent from contributors@. wait for this to send to your contributor groups.

[2020-01-06 21:12] parispittman commented on #3541
/remove-lifecycle stale

most of this is still applicable. the priority would be the team drive so we can play with splain's automation features for youtube which is a more solid connection than the current pipe.

[2020-01-07 00:03] alisondy opened #4367 "New Contributor Workshop Amsterdam Content Proposal"
The [content proposal for NCW Amsterdam](https://docs.google.com/document/d/1x3EyAqjOzZhM6eviMFQUu15TArBlv3CdJMOkxpJSrgs/edit#) is now live!

Links have been sent out to the New Contributor Content Team by email.

Aim to be complete by the time we send out reg.

/sig contributor-experience
/area contributor-summit
/area eu-summit

[2020-01-07 12:31] bhack commented on #3396
Check also https://github.com/kubeflow/community/issues/89

[2020-01-07 12:42] nikhita commented on #3396
xref https://github.com/kubernetes/community/pull/4287

/remove-lifecycle stale

[2020-01-07 13:23] bhack commented on #3396
/cc @ibrahimhaddad

[2020-01-07 16:32] parispittman commented on #3969
https://www.surveymonkey.com/r/VYRJZ5G

survey launched yesterday
END DATE: JAN 15 2019 @ 5PM PT

opening a new issue for post survey data tasks

/close

[2020-01-07 16:32] #3969 closed

[2020-01-07 19:07] chris-short commented on #2657
It's the new year, when were we talking about this?

[2020-01-07 20:30] markyjackson-taulia commented on #2657
I think we have a calendar to talk about this Friday

[2020-01-07 20:36] parispittman commented on #4044
folks - happy 2020. I want to revive this thread and have all of us jump on a call to discuss roles and bootstrap this! I'm sorry it fell down last year but I'm making this a priority.

pls take this doodle poll in the next three days (by friday afternoon-ish PT) so I can send out the invite by end of day Friday for the next week. https://www.doodle.com/poll/3qacuvmq7cny2p4x

cc @simplytunde @Guar

[2020-01-07 20:49] nimbinatus commented on #4044
I can volunteer to help with wherever I'm needed. Filling out the doodle 😃

[2020-01-07 20:59] mbbroberg commented on #4044
:hand: I'm interested as an editor or author (and happy to help republish / grow awareness through my day job at Opensource.com).

[2020-01-07 21:16] celanthe commented on #4044
Filled out the poll--Really only available Th/Fri, but am looking forward to helping out however I can!

[2020-01-07 21:19] simplytunde commented on #4044
I filled out the doodle. Pretty much available anytime outside 11am-12pm but can make exception if needed.

[2020-01-07 21:48] onlydole opened #4369 "REQUEST: New moderator for onlydole of Zoom and YouTube"
### GitHub Username
@onlydole

### Property you'd like to Moderate
Zoom, YouTube

### Username on Property Requested
@onlydole

### Requirements

- [X] I am a Kubernetes Org member already
- [X] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [X] I have read and will abide by the policies mentioned in the [Moderation Guidelines](https://git.k8s.io/comm

[2020-01-07 21:50] parispittman commented on #4369
+1

thank you for stepping up!

[2020-01-07 21:51] jeefy commented on #4369
Big +1

On Tue, Jan 7, 2020 at 4:50 PM Paris <notifications@github.com> wrote:

[2020-01-07 21:56] markyjackson-taulia opened #4370 "REQUEST: New moderator for New moderator for markyjackson-taulia of Zoom and YouTube"
### GitHub Username
@markyjackson-taulia

### Property you'd like to Moderate
Zoom, YouTube

### Username on Property Requested
@markyjackson-taulia

### Requirements

- [x] I am a Kubernetes Org member already
- [x] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [x] I have read and will abide by the policies mentioned in the [Moderation Guidelines](h

[2020-01-07 22:00] castrojo commented on #4369
+1 from me as well, let's coordinate through slack to train you up.

[2020-01-07 22:11] jeefy commented on #4370
Another big +1

On Tue, Jan 7, 2020 at 4:56 PM Marky Jackson <notifications@github.com>
wrote:

[2020-01-07 22:12] spiffxp commented on #3396
Per @nikhita's comment, it looks like the group isn't retiring but instead rotating leadership

/remove-committee steering
I'm taking this off of our radar as the WG is taking care of this

[2020-01-07 22:56] mrbobbytables commented on #4370
+1 here as well

[2020-01-07 22:59] mrbobbytables commented on #4369
+1 from me as well :)

[2020-01-08 00:35] parispittman commented on #4044
cool, 9/13 filled it out already. waiting on 4 more folks so will give it a day or so; not a clear winner right now. thanks everyone!

[2020-01-08 01:14] onlydole commented on #4044
Filled out! Thank you @parispittman 🙌

[2020-01-08 01:15] onlydole commented on #4370
+1 to the one, the only, @markyjackson-taulia! 🥇

[2020-01-08 01:23] kris-nova commented on #4370
Huge +1 for @markyjackson-taulia

[2020-01-08 01:31] markyjackson-taulia commented on #4370
I am ugly crying happy tears over here y’all

[2020-01-08 02:35] markyjackson-taulia commented on #4369
Also huge +1
/pony

[2020-01-08 15:04] parispittman opened #4374 "access and community infra for summit roles"
summit roles need access to contributor@ gsuite account to send notices from the main account. the lead+shadow, and marketing/comms+shadow roles will need this. all other roles should go through them to post things.

community@ is good for a support email line; contributors@ is messy right now. so folks may need access to this one too. reminder - this is a glorified google group and not an email b

[2020-01-09 00:23] #4370 closed

[2020-01-09 06:27] idealhack commented on #4154
/remove-sig contributor-experience

since you're linking a doc from sig-architecture, you could try to talk to them.

[2020-01-09 15:51] #4369 closed

[2020-01-09 20:02] castrojo opened #4380 "Communication guidelines need explicit policy for commercial purposes."
While obvious spam is obvious there are some commercial orgs that occasionally ask to post surveys and similar content on slack or the forums. Some may or may not be commercially related, some may or may not be about kubernetes.

We need a more explicit policy, something that we can link to so it's consistent. I wasn't able to find anything here, so filing this issue here for discussion:

https://

[2020-01-10 15:42] tsunamireversal opened #4383 "How can we rename a running cluster after cloning a whole drive, without recreating a kubernetes stack?"
As you can see, we cloned a drive and kubernetes can be brought up, BUT the name of the cluster (demo) is from the source disk, and is wrong:
[code]

Is there a way to keep the stack up and running (after all, it's all working!) but just rename the cluster?

If not, I think it would be really helpful to be able to do that for a running system.

[2020-01-10 15:44] tsunamireversal commented on #4383
/sig cli

[2020-01-10 15:45] tsunamireversal commented on #4383
/sig cli

[2020-01-10 17:30] markyjackson-taulia commented on #2663
Initial meeting took place today and the notes are here: https://docs.google.com/document/d/1WESip6l2r1sOQwIiKWV9aAUhQtqH1DDrnuTvwz0RXJ0/edit?userstoinvite=laura.santamaria@logdna.com&ts=5e18a07b&actionButton=1#

A recurring weekly meeting have been scheduled for every Friday 8 am pst to 8:30 am pst.

Action items are reflected in the notes and will be updated either via new issue or adding to an

[2020-01-10 19:54] DenKoren opened #4388 "Differences in restrictions on resourceVersion field usage in docs"
There are two places with API concepts description:

- [kubernetes.io](https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions) web site
- [github.com/kubernetes/community](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency) repository

Both of them contain information on what `resour

[2020-01-10 20:19] chris-short commented on #2663
Did we want or already have a Slack channel?

[2020-01-10 20:20] parispittman commented on #2663
pls use contribex. we've tried this already and folks use that channel to find mentors and then its more triage than planning.

[2020-01-10 20:54] jberkus commented on #4249
Y'all have your priorities skewed.

The #1 problem for community meetings is that people don't take notes at all, or that the notes they do take are inadequate, or that they do take notes but never upload them.  Readability of the notes is not a priority if there are no notes.

Right now, our priorities as expressed by how we have this set up is "We would rather not have notes at all than have mes

[2020-01-10 21:00] parispittman commented on #4249
why can't we upload the doc to the hack.sh file so it skips the check?

[2020-01-11 00:56] vishakhanihore commented on #4388
/sig docs
/area developer-guide

[2020-01-12 01:22] palnabarun commented on #4365
Registration Framework: https://docs.google.com/document/d/1UZ4fYCMa3jyzbaB2qSKjfBPn8gyBQi3-vS5VPpv6Zj4

[2020-01-12 15:43] markyjackson-taulia commented on #2616
/remove-lifecycle stale

[2020-01-12 18:10] jeefy commented on #4022
We're all set I think. :)

/close

[2020-01-12 18:10] #4022 closed

[2020-01-12 18:25] jeefy commented on #3999
/remove-lifecycle stale
/assign

[2020-01-13 06:23] parispittman commented on #4044
if you didn't get an invite, i don't have your email. i did put it on the shared contribex calendar though if you subscribe to that. dm me on slack or ping in #sig-contribex for the invite.

this friday @ 8am PT; zoom info to follow

[2020-01-13 06:39] parispittman commented on #4364
two initial meetings set for this tues and thurs; kubernetes-sig-leads@ mailing list sent invite. #chairs-and-techleads for more info.

will reach out to folks who said they can help post contribex update on weds/first meeting.

/close

[2020-01-13 06:39] #4364 closed

[2020-01-13 10:17] wojtek-t commented on #2616
It's fixed already - we already have TLs defined:
https://github.com/kubernetes/community/blob/2c0aa4bfa1d7159832a85d286a1f044befdc738c/sigs.yaml#L1734

We should probably have more, but as long as it's not a bottleneck it's probably fine (as it;s where we are now).

/close

[2020-01-13 10:17] #2616 closed

[2020-01-13 14:22] mrbobbytables commented on #4175
/remove-lifecycle stale

[2020-01-13 16:26] mattfarina commented on #4289
This has come up in the past. The problem is finding replacements for the people if they were term limited out.

Kubernetes [contributions](https://github.com/kubernetes/kubernetes/graphs/contributors) are going down. Some of this is because things are being broken out into other repos and some of this is because Kubernetes is stable enough that people are moving on to other projects (part or all

[2020-01-13 16:27] parispittman commented on #4166
survey went out; closing issue

/close

[2020-01-13 16:27] #4166 closed

[2020-01-13 16:29] parispittman commented on #4011
@cblecker @mrbobbytables can we automate this in some way?

[2020-01-13 16:32] parispittman opened #4392 "2019/20 ContribEx Survey Results"
- [x]  pass to m&k firm for analysis
- [ ] pass results to CNCF for pretty report
- [x]  create README for results
- [ ]  post results
- [x]  follow up with everyone who wanted swag with codes
- [x]  respond to everyone who left an email that had follow up questions, needs more 411 on a topic, etc. (41 people)
- [ ]  write a blog post https://docs.google.com/document/d/1jlJeioTblSet7S4hm5jMzEcski5

[2020-01-13 17:10] mrbobbytables commented on #4011
I don't think there's a good way to automate it beyond what we've done with PR'ing new emails into the groups.yaml in k8s.io. We just need need to make it part of our process when on-boarding new moderators.

[2020-01-13 18:09] lavalamp commented on #4289
Not everyone sees it the same way; also, at some level of overloadedness people lose the ability to load shed / gracefully bow out.

This is a general problem, not a problem with term limits. Maybe we should require 1-2 active chairs and 1-3 seconds / chairs-in-training / shadows.

[2020-01-13 20:05] BenTheElder commented on #4289
IMHO at least some of this is related to the difficulty to merge unless you know the right active people to poke and jump through various other hoops ... which in part stems from responsiveness of `OWNERS`, a related but separate but somewhat-related problem.

[2020-01-13 21:03] onlydole commented on #4175
/assign @onlydole

[2020-01-13 21:04] onlydole commented on #4175
I'd love to tackle this with you, @mrbobbytables and @castrojo (if you're down!)

[2020-01-13 21:46] cblecker opened #4395 "Check permissions on UG/WG mailing lists"
I attempted to post to the following mailing lists today, and received a rejection. This indicates either the list in sigs.yaml is incorrect, or the settings are incorrect.

Need help with the following:
- Check via a web browser that each of these mailing lists, as indicated in sigs.yaml and the UG/WG README.md file actually exist
- If they exist, then we need to send a note to the organizers poi

[2020-01-13 21:47] cblecker commented on #4395
/sig contributor-experience

[2020-01-13 21:47] cblecker commented on #4395
FYI: @parispittman @castrojo

[2020-01-13 22:09] jberkus commented on #4249
Works for me.  Up to the folks running CD-AMS, of course.

[2020-01-14 07:40] parispittman commented on #4289
we also don't ask people either re: pipeline for chairs. (example: quarterly asks to mailing lists about open roles coming up, currently open, etc.). I don't do enough of this but when I do (and I see others, too) we get a ton of folks who step forward. term limits can help be a forcing function here to succession planning and having these conversations with contributors.

[2020-01-14 11:16] Avni-Sharma opened #4397 "Add slack channel for Service Binding work-group"
Over the last several years, several vendors have proposed solutions toward the concept of "binding" applications with backend services managed by operators. There are several projects going on with similar goals.

The purpose of this channel(service-binding) would be to encourage a dialog and to work towards consensus in this area. A workgroup has been formed focused around this topic. Currently,

[2020-01-14 15:10] markyjackson-taulia commented on #2659
cc @helayoty @chris-short
Going to mover this to `In Progress` and start working through this. I foresee some PR in the near future

[2020-01-14 17:34] mariantalla opened #4399 "[Discussion] Remove language that might come across inconsiderate"
Inspiration for this comes from other open-source projects: https://github.com/facebook/jest/commit/59f6e3fd3fe6b502100a9c91ea22e91fe554136b and https://github.com/pivotal/docs-concourse-pcf/pull/22.

A quick and very superficial search brings back a pretty big number of occurrences of just/simple/simply/of course etc. - however, other than that, I haven't thoroughly looked into how frequently the

[2020-01-14 17:35] mariantalla commented on #4399
/sig contributor-experience
/sig docs
seem like the most appropriate ones 🤔

[2020-01-14 17:36] parispittman commented on #4399
+1, on board. very considerate discussion topic ;) thanks for bringing this up @mariantalla

[2020-01-14 17:42] mariantalla commented on #4399
I see what you did there 🙃

[2020-01-15 01:31] dims commented on #4399
LOL +1 :)

[2020-01-15 12:44] mrbobbytables commented on #4399
+1 As well. Outside of being potentially inconsiderate, omitting unnecessary adverbs improves readability and helps non-native english speakers.

/cc @zacharysarah @jimangel @Bradamant3
For comments from docs 👍

[2020-01-15 13:11] idealhack opened #4406 "[Umbrella] Contributor Summit Amsterdam Current Content"
Opening this to track the tasks of Content for current contributors at the Amsterdam event.

- [x] form the team with two shadows
- [x] create a CFP form (https://forms.gle/eMHu6WsAj8RG9aC36)
- [x] send out CFP open notice (https://groups.google.com/forum/#!topic/kubernetes-dev/D7pHcT-FxWA)
- [x] close the CFP
- [x] review proposals
- [x] shedule a program
- [x] reach out to speakers
- [x] confirm

[2020-01-15 13:21] mrbobbytables commented on #4406
You have now been added as an admin to sched, the URL for the Amsterdam summit is:
https://kcseu2020.sched.com

[2020-01-15 13:24] idealhack commented on #4406
@mrbobbytables thanks!

[2020-01-15 14:47] zacharysarah commented on #4399
+1

Can we get rid of `master` and `slave` while we’re at it?

[2020-01-15 14:54] jimangel commented on #4399
BIG +1! Thanks @mariantalla!

[2020-01-15 14:58] parispittman commented on #4399
I don't think you'll see many folks disagree on principle. What about putting a plan together for the /community repo as a small(er) playground to test?  If you want to recruit some folks to help (with plan or execution), mail this issue link to the contribex mailing list.

[2020-01-15 16:53] mrbobbytables commented on #4185
@hannibalhuang @rficcaglia poking again about this. It's been a month and the other issue (#3945) has been open for almost 6 months. =/

[2020-01-15 16:56] rficcaglia commented on #4185
I think I just need Erica to add herself as the second sponsor?

On Wed, Jan 15, 2020 at 8:53 AM Bob Killen <notifications@github.com> wrote:

[2020-01-15 17:00] mrbobbytables commented on #4185
That would be ideal -- once you have your sponsors lined up, just need to open up an issue in k/org - https://github.com/kubernetes/community/blob/master/community-membership.md#member

[2020-01-15 18:05] ericavonb commented on #4185
@mrbobbytables I would be honored to sponsor @rficcaglia. Do I need to add a comment somewhere else?

[2020-01-15 18:23] tmart333 commented on #4399
@mariantalla as a novice to github and a non-coder, I'd love to be involved in this. I subscribed to this issue... is there something else I should do to track this? :)

[2020-01-15 18:25] mrbobbytables commented on #4185
Once he opens the k/org issue, you'll want to chime in with a +1 on there 👍

[2020-01-15 18:27] mbbroberg commented on #4399
Hey @mariantalla :wave:, ping me if I can help scope how to tackle this!

[2020-01-15 18:36] mrbobbytables opened #4409 "Index sig / contributor office hours"
Many sigs have adopted contributor office hours or onboarding sessions to help new contributors. These are scattered across several resources, with most of them listed in sigs.yaml / sig-list.md.

These should be indexed and linked to from our general mentoring docs.

/sig contributor-experience
/area mentorship-planning
/milestone Next

[2020-01-15 18:41] christopherhein opened #4410 "Update Community Documented day of the month"
The day for the Kubernetes Community call has changed to the third Thursday of every month, this was changed in the Google Doc but not in the markdown files in this repo. `communication/README.md`

[2020-01-15 18:43] cblecker commented on #4399
- We can use hound to help us find occurrences of a word across all our repos: https://cs.k8s.io/?q=just&i=fosho&files=%5C.md
- We have both a contribex and a sig-docs style guide.. if we want to remove certain language, we should update these style guides and notify k-dev

[2020-01-15 18:53] savitharaghunathan commented on #3362
@idvoretskyi , Hi! This is Savitha from sig-contribex-triage team and following up to see if you had a chance to get any updates from ServiceDesk team?

[2020-01-15 18:54] savitharaghunathan commented on #3362
/remove-lifecycle rotten

[2020-01-15 18:56] idvoretskyi commented on #3362
@savitharaghunathan I am the CNCF ServiceDesk team :)

I assume we have solved this, @parispittman please confirm.

[2020-01-15 19:14] #4410 closed

[2020-01-15 19:44] savitharaghunathan commented on #3362
@idvoretskyi - Thank you for the update :)

[2020-01-15 23:10] markyjackson-taulia commented on #3481
/remove-lifecycle rotten

[2020-01-15 23:11] onlydole commented on #3481
I'd love to take this one or pair with anyone working on it!
/assign @onlydole

[2020-01-15 23:17] markyjackson-taulia commented on #3481
/assign @onlydole

I can help you if you want to pair

[2020-01-16 00:51] cblecker commented on #4392
I would specifically want to see breakdowns of questions 6 and 7 by experience in the project

[2020-01-16 03:23] idealhack commented on #4397
+1, could you please make a PR to add it in our [slack configs](https://github.com/kubernetes/community/blob/master/communication/slack-config/channels.yaml)?

[2020-01-16 05:57] parispittman commented on #3481
I can also help by talking your ear off :)

[2020-01-16 06:19] nikhita commented on #4383
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
or our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions an

[2020-01-16 06:19] #4383 closed

[2020-01-16 07:19] parispittman opened #4415 "Paris' Chair Offboarding"
Checklist for off-boarding things:

- [x] sent email to mailing list & announce during update meeting
- [x] emeritus in sigs.yaml
- [x] removed from contribex-leads@ mailing list
- [x] contribex zoom password needs to be changed
- [x] that might be it? what am I missing?

[2020-01-16 13:32] #4380 closed

[2020-01-16 13:50] castrojo commented on #4415
Are you going to keep running your programs/subprojects in the SIG or do we need to divy those up? What about youtube/zoom admin/moderation overall?

[2020-01-16 13:58] castrojo commented on #4395
I've added these to the audit list: https://github.com/kubernetes/community/issues/3717

We need to do this for 2020, I'll put it on the next agenda for us to divy this up.

[2020-01-16 13:59] castrojo commented on #4395
Just as a note for myself, we should try with one mail to all the lists and see what bounces, with something they'd all need to read anyway like an announcement or something, that way we're not mailing "test" to each SIG.

[2020-01-16 14:04] markyjackson-taulia commented on #4415
If I can help in any way here please do not hesitate to call on me

[2020-01-16 16:27] parispittman commented on #4415
@castrojo keeping everything :)

[2020-01-16 21:29] alejandrox1 commented on #3481
ha needed an update on this: I've been working on this on the background.
Slowed down because of the holidays but still around :smile:

[2020-01-16 21:30] alejandrox1 commented on #3481
and since this is an ongoing effort
/lifecycle frozen

[2020-01-17 04:22] Mishra-Akash opened #4420 "NetworkPolicy not working with SCTP protocol"
I am trying to setup a Network Policy for my Pods. I need to only allow Port 3301(on SCTP) & 443(TCP) as ingress. But Once NP is created , rule is not working.

NP.yaml==>
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
name: custom-networkpolicy
namespace: alpha
spec:
podSelector:
matchLabels:
role: web
policyTypes:

    Ingress
    ingress:
        from:
            namespaceSelec

[2020-01-17 04:40] nikhita commented on #3183
/lifecycle frozen

[2020-01-17 14:51] markyjackson-taulia commented on #3071
/remove-lifecycle stale

[2020-01-17 14:52] markyjackson-taulia commented on #3071
@spiffxp @mariantalla @justaugustus Is this still a valid issue or anything I can help with?

[2020-01-17 17:12] parispittman opened #4423 "SIG Chair/TL mtg follow up items"
- [x] clean up notes / send out a summary
- [x] create a preferred chair/tl contact doc [linked in mtg agenda]
- [ ] form small discussion groups/cohorts to tackle larger problems/projects (chair onboarding, chair description, and other points that were brought up)
- [x] curate Feb meetings from parking lot ideas,
- [x] update meeting invites
- [x] post agenda 48-72 hours before meeting; post meet

[2020-01-18 16:15] mrbobbytables commented on #4392
In addition to 6 and 7 break down by experience in the project, 14 would be good as well.

[2020-01-18 20:54] mrbobbytables commented on #4397
Out of curiosity, have you engaged with the folks in the [service catalog sig](https://github.com/kubernetes/community/tree/master/sig-service-catalog)? This seems very much inline with what they're trying to accomplish.

[2020-01-19 14:40] mrbobbytables commented on #3945
/remove-lifecycle stale
Still blocked by wg-policy, but there has been some updates in https://github.com/kubernetes/community/issues/4185

[2020-01-19 14:57] stp-ip commented on #2959
/remove-lifecycle stale

[2020-01-19 14:58] stp-ip commented on #2959
/unassign misterikkit
/assign

[2020-01-19 21:16] markyjackson-taulia commented on #2812
/remove-lifecycle stale

[2020-01-20 00:35] mrbobbytables commented on #4409
/good-first-issue
/help

[2020-01-20 04:40] danielthrasher commented on #4409
@mrbobbytables id love to take a stab at this!

[2020-01-20 04:46] markyjackson-taulia commented on #4409
/assign @danielthrasher

[2020-01-20 04:47] markyjackson-taulia commented on #4409
@danielthrasher if I can help in any way please do not hesitate to ping me

[2020-01-20 07:19] nikhita commented on #3621
/remove-lifecycle stale

[2020-01-20 07:20] nikhita commented on #4420
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
or our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions an

[2020-01-20 07:20] #4420 closed

[2020-01-20 20:34] mrbobbytables commented on #4409
Thanks @danielthrasher and @markyjackson-taulia :)

[2020-01-20 21:07] parispittman opened #4426 "personal emails in docs"
there are some personal emails in https://github.com/kubernetes/community/blob/master/communication/mailing-list-guidelines.md#mailing-list-owners

they should be processes and/or group emails at this point and should be removed.

[2020-01-21 00:38] justaugustus commented on #3795
/remove-lifecycle stale

[2020-01-21 00:39] justaugustus commented on #3455
/remove-lifecycle stale

[2020-01-21 00:40] justaugustus commented on #3267
/remove-lifecycle stale

[2020-01-21 00:44] justaugustus commented on #647
/remove-lifecycle stale
/remove-sig pm
/committee product-security

[2020-01-21 00:49] justaugustus commented on #2727
/remove-lifecycle rotten

[2020-01-21 00:52] justaugustus commented on #2724
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2020-01-21 00:53] justaugustus commented on #531
/remove-lifecycle rotten

[2020-01-21 01:50] jberkus commented on #3071
it's always an issue.  Let's talk about it in release meeting, or better CI subproject.

[2020-01-21 08:15] parispittman commented on #4392
https://github.com/kubernetes/community/pull/4427 -> readme

[2020-01-21 16:30] lrouquette commented on #2210
/remove-lifecycle stale

[2020-01-21 17:59] parispittman opened #4430 "contributor marketing team needs label"
the upstream marketing team just had their first kick off meeting and are starting to produce issues and PRs. will need to create a label to help with organization.

`area/contributor-comms`

[2020-01-21 22:54] mrbobbytables commented on #3396
They have changed leadership 👍
@k82cn has been effectively leading it and there is now sign off from previous chairs. in https://github.com/kubernetes/community/pull/4287

With that I'm going to go ahead and close :) If there is an issue, please feel free to reopen.

/close

[2020-01-21 22:54] #3396 closed

[2020-01-22 19:04] samudralavamshi54 commented on #4426
working on this

[2020-01-22 19:13] parispittman commented on #2441
michelle did a test grid video and presentation at the contributor summit. we can document that and it would be great for this.

[2020-01-22 19:17] parispittman commented on #2012
any edge cases need to go to the LF at this time and that documentation has no been entered into docs and bots

/close

[2020-01-22 19:17] #2012 closed

[2020-01-22 19:30] mrbobbytables commented on #4316
This has been sorted out \o/
Thanks @castrojo :)
/close

[2020-01-22 19:30] #4316 closed

[2020-01-22 19:33] parispittman commented on #4171
looks like this is safe to close. should these move to the keps repo?

/close

[2020-01-22 19:33] #4171 closed

[2020-01-22 22:20] mrbobbytables commented on #4415
contribex zoom password has been changed 👍

[2020-01-23 00:47] tallclair commented on #2992
/remove-lifecycle stale

[2020-01-23 01:58] parispittman commented on #2660
https://github.com/kubernetes/community/pull/4435

[2020-01-23 02:02] parispittman commented on #3480
4163 and 4435 cover this - thanks @celanthe !

/close

[2020-01-23 02:03] #3480 closed

[2020-01-23 07:27] parispittman opened #4437 "mktg team needs a charter"
the upstream marketing team needs a small charter. its a new kind of group; will be good to help define it more. want to make sure scope/out of scope is set (boundaries between sig-docs-blog, cncf, etc.)

more notes about charter/purpose/mission in mtg notes
https://docs.google.com/document/d/1IlHAJ131akGhI5ffF4OoVW0PrsVY4C0BB8l-UyQaQVo/edit?usp=sharing

[2020-01-23 07:42] parispittman commented on #4437
angelg also offered to help with this, too

[2020-01-23 07:58] parispittman commented on #4415
and we're closed :)

/close

[2020-01-23 07:58] #4415 closed

[2020-01-23 17:59] BenTheElder commented on #3179
Discussed again today, we seem to have a lot of these.
How do we get consensus on the standards? Sounds like @mrbobbytables already more or less has the data.

[2020-01-23 17:59] BenTheElder commented on #3179
Is there a related issue for "get SIGs to add new OWNERS"? I haven't found it yet.

[2020-01-23 18:07] BenTheElder commented on #3753
UPDATE:

- I've introduced a faster, less flaky, locally reproducible option for e2e presubmits (`pull-kubernetes-e2e-kind` and friends which are now in blocking presubmit) and we disabled flake attempts to start taking flaky tests more seriously ... but we still have the super slow tests and we currently have a major flake issue we hope may be resolved by the next runc release ...

- Staging is w

[2020-01-23 18:10] BenTheElder commented on #3947
xref https://github.com/kubernetes/community/issues/3945, some of our OWNERS are apparently not even org members 🙃

[2020-01-23 20:34] ktrOpenSource commented on #798
@nikhita
Can resource quota be used to apply Hard limits on number of objects - across the cluster - irrespective of namespace.

Eg: Can I say max 10k objects of CRD type "example.com/toys" across namespace a,b,c,d,e ?

[2020-01-23 20:56] lavalamp commented on #798
This issue should probably be in k/k. I recommend closing and opening a new one (or finding an existing dup).

I don't think there's a clusterwide option like that, @yliaog can correct me if I'm wrong.

[2020-01-23 21:04] yliaog commented on #798
correct, that is not supported today

[2020-01-24 00:37] parispittman commented on #2660
#4440
/close

[2020-01-24 00:37] #2660 closed

[2020-01-24 01:27] robscott opened #4441 "Request: Auto upload for sig-network Zoom meetings"
To avoid manually uploading meeting recordings after every call, it would be nice to have auto upload enabled for our meetings. This includes all meetings currently listed in this repo (sig-network, Service APIs, Ingress V1). As long as a sig-network chair approves this, @mrbobbytables can help get this set up for us.

/cc @bowei @mrbobbytables
/assign @caseydavenport

[2020-01-24 01:28] robscott commented on #4441
/sig network

[2020-01-24 02:34] parispittman commented on #4019
i think it might be safe to close this issue for now and re-open after evaluation of current changes?

[2020-01-24 04:42] parispittman commented on #4044
i wish i could @ all of you in one swoop :)
@mbbroberg @simplytunde @Guaris @chris-short @saiyam1814 @celanthe @onlydole @boluisa @k-hopson @rthomchick @nimbinatus

hope to see you tomorrow/in a few hours :)! have our first two issues set for planning  :) #4437 and our first area/contributor-comms to designate something for the marketing team https://github.com/kubernetes/test-infra/pull/16009

[2020-01-24 07:39] nikhita commented on #4019
:+1:

/close

[2020-01-24 07:39] #4019 closed

[2020-01-24 12:49] mrbobbytables commented on #4175
There is an [open issue](https://github.com/kubernetes/community/issues/4441) regarding adding another sig for the splain automation. This would be a great time to go through the process and improve the docs / add the issue template 👍

[2020-01-24 12:59] mrbobbytables commented on #4111
FYI - there are a few meeting decisions in flight, should have consensus on this early next week 👍
The 5 that will be updated/added are:
- biweekly meeting
- triage meeting
- biweekly apac meeting
- marketing meeting
- mentoring meeting

[2020-01-24 15:21] mrbobbytables opened #4444 "[Tracking Issue] Revamping the Contributor Guide"
xref: https://github.com/kubernetes-sigs/contributor-site/issues/86

A large portion of the contributor site is based on the presenting the [Contributor Guide](https://github.com/kubernetes/community/tree/master/contributors/guide) in a more web-presentable/user-friendly way.

The current README and organization structure of docs should be updated to accommodate this other method of presentation.

[2020-01-24 15:28] mrbobbytables commented on #4441
/sig contributor-experience
/area community-management

[2020-01-24 15:39] mrbobbytables opened #4445 "[Feature Request] Add "point of contact" for subprojects in sigs.yaml"
TL;DR: An additional optional field in sigs.yaml for subprojects that will list preferred contacts for that project.

This is a follow-up to several discussions in slack and the contribex bi-weekly meeting.
Subprojects can span multiple OWNERS files and different groups -- In most cases, there is 1-3 people who shepherd that project and should be the preferred point of contact regarding it. It wou

[2020-01-24 17:15] RobertKielty opened #4446 "Create a bot to push announcements to multiple communications channels"
**High Level Use Case**

- As a designated user responsible for communications they should be able to create a message that can be automatically published to multiple specified communications channels.

The idea here is to make multi-channel communications easy:  write once, then optionally publish to some or all of the comm channels such as rooms/accounts/groups on say Slack, Twitter, Discuss, Ma

[2020-01-24 18:08] vishakhanihore commented on #4444
@mrbobbytables I had something else in mind , What about creating a custom landing page in hugo for the contributor section and then guiding them to the other section of our contribution guide ?
I have roughly four subsection as of now in my mind:
- Getting started with Kubernetes.
- Making your first contribution.
- Communication & Meetup.
- Policies, Procedure & Documents.

This will be better f

[2020-01-24 18:20] caseydavenport commented on #4441
/lgtm

[2020-01-24 18:35] parispittman commented on #4446
i will put an area/contributor-comms label on this once it is live :)

these are good ideas for sure and worth exploring with the marketing and slack teams.

[2020-01-24 21:50] mrbobbytables commented on #4444
I would lean towards that being called something like 'getting started' instead of guide. We want to surface both the contributor and developer guide to the site eventually so they're indexed well. We have a big discovery problem with our documentation and getting them on a site outside of GitHub will do much for that.

[2020-01-24 22:57] vishakhanihore commented on #4444
Yes, I totally understand, Rendering the content out of the original repository is already too much. But a contributor website with just markdown and documentation may be a little bore ?

[2020-01-24 23:00] mrbobbytables commented on #4444
I think there's room for both. We need our docs to be more discoverable (searchable). They aren't in their current state and that's a problem.

Long term the full blown developer guide should be synced over there as well.

[2020-01-25 17:09] markyjackson-taulia commented on #3783
/remove-lifecycle stale

[2020-01-25 23:56] jayr713 opened #4450 "REQUEST: New Slack <[channel|usergroup|bot|token|webhook]> <[channel|usergroup|bot|token|webhook] name>"
**GitHub Username:**

**Slack Username:**

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

**Name of Requested Resource:**

**Description of Request:**

[2020-01-25 23:56] jayr713 opened #4451 "REQUEST: New Slack <[channel|usergroup|bot|token|webhook]> <[channel|usergroup|bot|token|webhook] name>"
**GitHub Username:**

**Slack Username:**

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

**Name of Requested Resource:**

**Description of Request:**

[2020-01-26 00:02] mrbobbytables commented on #4450
/close

[2020-01-26 00:02] #4450 closed

[2020-01-26 00:02] mrbobbytables commented on #4451
@jayr713 Are you trying to open a regular issue? This issue template is just for slack requests.

[2020-01-26 00:06] mrbobbytables commented on #4451
/close

[2020-01-26 00:06] #4451 closed

[2020-01-26 12:25] alex-leonhardt commented on #2759
I was trying to follow the instructions to install `kubetest` but it failed, being unable to find some of its dependencies :

[code]

[2020-01-26 23:56] mrbobbytables commented on #4149
/remove-lifecycle stale

[2020-01-27 09:06] Joseph-Irving opened #4454 "Pod Startup Latency SLO with Sidecars"
The Sidecars KEP (https://github.com/kubernetes/enhancements/issues/753) has the potential to increase the time taken for all Containers in a Pod to start which is one of the SLOs defined here
https://github.com/kubernetes/community/blob/master/sig-scalability/slos/pod_startup_latency.md

By design, the non-sidecar containers will wait until the sidecars have started up and passed readiness checks

[2020-01-27 09:06] Joseph-Irving commented on #4454
/sig scalability
cc @wojtek-t

[2020-01-27 09:41] wojtek-t commented on #4454
@kubernetes/sig-scalability-api-reviews

[2020-01-27 13:38] wojtek-t commented on #3798
This should be fixed now - readme is up-to-date, notes are being regularly updated.

/close

[2020-01-27 13:38] #3798 closed

[2020-01-27 14:41] #4426 closed

[2020-01-28 11:33] mrbobbytables commented on #4430
The label has been created \o/
ref: https://github.com/kubernetes/test-infra/pull/16009
Going to go ahead and close this out :)
/close

[2020-01-28 11:33] #4430 closed

[2020-01-28 12:49] casibbald commented on #2759
It looks like there are broken dependencies:

$ go get -u k8s.io/test-infra/kubetest
package github.com/aws/aws-k8s-tester/ekstester: cannot find package "github.com/aws/aws-k8s-tester/ekstester" in any of:
        /usr/local/go/src/github.com/aws/aws-k8s-tester/ekstester (from $GOROOT)
        /home/mrink/go/src/github.com/aws/aws-k8s-tester/ekstester (from $GOPATH)

Taking a look at the aws-k8s-

[2020-01-28 15:05] markyjackson-taulia commented on #3305
/remove-lifecycle stale

[2020-01-28 15:14] mrbobbytables commented on #3479
/remove-lifecycle stale

[2020-01-29 05:48] #4117 closed

[2020-01-29 15:43] markyjackson-taulia commented on #4031
@chris-short Did you find a doc for tweeting?

[2020-01-29 15:43] markyjackson-taulia commented on #4031
/remove-lifecycle stale

[2020-01-29 15:48] chris-short commented on #4031
@markyjackson-taulia No. I would say that this is going to fall under the Social Media subproject of the Marketing team. That's all in-flight.

[2020-01-29 16:30] parispittman opened #4464 "Action Items for 2020 Survey / process"
starting this issue to collect comments for the 2020 survey and how to do it better (and what to continue)

- don't advertise on k8s main twitter; maybe the contributor focused twitter? (timestamp survey data matches up with this)
- write a blog post
- have christoph or someone else blast all 40+ community group mailing lists; attend major sig meetings (this worked out well)
- include the accident

[2020-01-29 16:44] markyjackson-taulia commented on #3959
/remove-lifecycle stale

[2020-01-29 17:02] markyjackson-taulia commented on #3959
@castrojo Can I pair with you to complete this? I think the only portion left to do is sync the zoom and youtube users and combo the doc.. Currently, it looks like we have more youtube admins then zoom admins..

[2020-01-29 17:02] markyjackson-taulia commented on #3959
/assign @markyjackson-taulia

[2020-01-29 17:09] mrbobbytables commented on #4280
I think enough time has passed where we can probably skip the blog post. :x

[2020-01-29 19:13] mrbobbytables commented on #4185
@rficcaglia Can you please go ahead and open the membership request? We'd really like to close this out. 😬

[2020-01-29 21:06] MikeSpreitzer commented on #3752
/remove-lifecycle stale
still current, see #87594

[2020-01-29 21:10] lavalamp commented on #3752
/assign @apelisse

[2020-01-29 21:11] lavalamp commented on #3752
Since we should also explain the new way.

[2020-01-29 21:13] apelisse commented on #3752
Should be fixed by #4218

[2020-01-29 21:29] timucingelici opened #4467 "Re-activating a deactivated Slack account"
It seems I joined to Kubernetes’ Slack community on 11th of April 2017 but then my account has been deactivated in time.

I believe the reason was that I have not been active for quite a long time. I was wondering if anyone can check the status of my account and help me to re-activate it - if possible?

The local part of the email I used was “timucin.gelici”, which should help to find the deactiva

[2020-01-29 21:38] timucingelici commented on #4467
/sig sig-contributor-experience

[2020-01-29 21:38] timucingelici commented on #4467
/sig contributor-experience

[2020-01-30 05:00] idealhack opened #4469 "Blog posts format of “Meet Our Contributors”"
We had the initiative to have another "meet our contributors" streaming for APAC regions (https://github.com/kubernetes/community/issues/4086) and have started talking to people about it.

During the discussion back in KubeCon San Diego and several meetings of APAC planning in SIG Contributor Experience, we got the idea that some contributors might be too shy to be on a live video session, and may

[2020-01-30 05:05] idealhack commented on #4469
cc @kubernetes/sig-contributor-experience-apac-coordinators

[2020-01-30 12:37] wojtek-t commented on #4454
/assign

[2020-01-30 15:53] markyjackson-taulia commented on #3353
/remove-lifecycle rotten

[2020-01-30 15:55] casibbald commented on #2759
@vishakhanihore vishakhanihore Please may you kindly advise if this is something you have started looking at?

[2020-01-30 17:02] parispittman commented on #4469
@idealhack we are building a marketing team and will have bloggers assigned so we can help!  we've got some guidelines that we are bootstrapping and sig-docs folks are involved as well. #4459

notes from the meeting https://docs.google.com/document/d/1IlHAJ131akGhI5ffF4OoVW0PrsVY4C0BB8l-UyQaQVo/edit

[2020-01-30 19:30] castrojo commented on #4467
/assign

I can't find any account with "timucin.gelici" in the slack admin interface?

[2020-01-30 23:11] jpeach opened #4471 "API conventions give incorrect Conditions advice"
As per [this comment](https://github.com/kubernetes-sigs/service-apis/pull/47#issuecomment-580474003) the advice the API conventions document gives about `.status.conventions` is wrong. This should be corrected so that projects trying to be good API participants can define interoperable Conditions behavior.

[2020-01-30 23:11] jpeach commented on #4471
/sig api-machinery

[2020-01-30 23:12] jpeach commented on #4471
xref kubernetes-sigs/service-apis#47

[2020-01-31 00:02] evankanderson commented on #4471
@smarterclayton if you think this is sufficiently established case law, I'm happy to send a PR to distill some of the wisdom.

[2020-01-31 01:14] parispittman commented on #4392
swag codes sent to 58 people

[2020-01-31 11:12] timucingelici commented on #4467
@castrojo I don't know if I ever get in and set a username for that workspace. `timucin.gelici` is the part comes before `@` of my email registered address. Is it possible to search the deactivated users by their emails?

[2020-01-31 13:33] parispittman opened #4473 "moderators.md needs to be updated"
several open slots that aren't open, sarah is no longer the owner of youtube and hasn't been for a while, and since i'm counting at least 3 areas that need to be updated, an overall audit of this page should probably happen.

https://github.com/kubernetes/community/blob/master/communication/moderators.md

it might be time to have a moderator lead for all moderators with a shadow so that they can o

[2020-01-31 19:32] castrojo commented on #4467
Found it! I activated the account, please confirm it works before I close this, thanks!

[2020-01-31 21:06] timucingelici commented on #4467
@castrojo Yes, I am in. Thank you. :)

[2020-01-31 21:06] #4467 closed

[2020-02-03 10:40] parispittman commented on #2565
fyi @gkarthiks has been working on cleaning up whats left of the design proposals folder and shepherding the creation of KEPs for those that need it, etc.

[2020-02-03 12:05] parispittman commented on #4423
Jan Meeting Summary:
- yay we met for the first time
- 90% of those on the call(s) say slack is the best way to contact with github and email being tied for the next two. TODO: figure out how to collect from the chairs/tls that weren't present and where to store this for the future
- much of discussion was around the chair job itself, succession strategies, challenges, and what people want to see

[2020-02-03 13:11] #4437 closed

[2020-02-03 15:36] gkarthiks commented on #2565
yeah, so far have got 4 PR's moved/closed/concluded. Working with the rest of it. Will keep posted on the progress.

[2020-02-03 17:16] samudralavamshi54 commented on #4473
will audit the page and update

[2020-02-03 20:54] jberkus opened #4477 "Discuss/revise requirements for Slack Audit"
Below are the Slack Audit requirements from https://github.com/kubernetes/community/blob/master/sig-contributor-experience/community-maintenance.md   Due to discussion and issues on Slack, I'd like to revisit these before putting serious effort into fulfilling them.

One major roadblock is that we've determined that the statistics from Slack Analytics are not trustworthy, which will make it a chal

[2020-02-03 20:55] jberkus commented on #4477
/sig contributor-experience
/area slack
/kind cleanup

attn:
@Katharine @castrojo @mrbobbytables

[2020-02-03 21:07] Katharine commented on #4477
I am going to argue against all three of these tasks:

Channels don't need agendas, because they aren't required to have meetings. Indeed, as far as I recall, none of these things are requirements of channels. I think are only hard requirement is that channel members follow the code of conduct (which we now automatically pin at channel creation), and that the topic of the channel itself is Kuberne

[2020-02-03 22:31] jberkus commented on #4477
Katharine,

The main reason I can see for closing inactive channels is to reduce new member confusion when trying to find a channel for a specific purpose.  Whether or not that benefit offsets the effort required to actually do it is another question, though.

[2020-02-04 00:50] mrbobbytables commented on #4477
**Prune old abandoned users** - I think we can strike this task off completely; auditing the current user base just isn't worth it. I agree with Katharine, we'll likely just get a higher rate of confused users if/when they come back.

**Close unused channels** - I don't think it's worth the effort to audit these at this point. Most of the channels do have SOME users in them, even if quiet. At most

[2020-02-04 09:09] palsivertsen opened #4479 "Save the hamburger!"
Apologies if this is the wrong place to post this issue.

Browsing kubernetes.io today and I noticed that the navigation menu disappears when it is collapsed into a hamburger menu.

![image](https://user-images.githubusercontent.com/11890143/73729979-4d5d7d00-4736-11ea-9bb3-ec70679b91e5.png)

[2020-02-04 09:23] palsivertsen commented on #4479
/sig docs

[2020-02-04 13:22] mrbobbytables commented on #4149
@matthyx has actually done work in this space lately :)
Here is a google sheet with some very useful stats (`created_at`, `closed_at`, `sigs` etc):
https://docs.google.com/spreadsheets/d/1umeNRqS5Mqn53LjKFfH4S5I31qaVLcCND_2PHu5UkPE/edit?usp=sharing

He's made his scripts available here:
https://gitlab.com/matthyx/repo-stats

[2020-02-04 19:19] jberkus commented on #4219
giving up on this.

/close

[2020-02-04 19:19] #4219 closed

[2020-02-04 20:20] karenhchu opened #4482 "REQUEST: New Slack channel #aks-engine"
**GitHub Username:**
craiglpeters
karenhchu

**Slack Username:**
craiglpeters
karenhchu

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**
Channel

**Name of Requested Resource:**
#aks-engine

**Description of Request:**
Need a place to discuss AKS Engine matters with the community.

[2020-02-04 22:41] samudralavamshi54 commented on #4445
will start working on this

[2020-02-04 23:32] craiglpeters commented on #4482
There are really two audiences to address: users and developers. Ideally I'd like to see two channels:

- aks-engine-users
- aks-engine-devs

[2020-02-05 06:03] nikhita commented on #4086
We've decided to move to a blog post format instead: https://github.com/kubernetes/community/issues/4469

/close

[2020-02-05 06:04] #4086 closed

[2020-02-05 06:20] YuikoTakada opened #4486 "devel docs need to update references from hack/e2e.go to kubetest"
in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#building-kubernetes-and-running-the-tests , a file name `hack/e2e.go` is written, but this file has been removed since https://github.com/kubernetes/kubernetes/commit/7a1eaa112e720f3a9097f30f07644b05e1d772dc
this docs need to be updated.

[2020-02-05 06:22] YuikoTakada commented on #4486
/sig testing

[2020-02-05 07:27] parispittman commented on #2923
splain has been explored and currently in use by many sigs. closing this issue.

/close

[2020-02-05 07:27] #2923 closed

[2020-02-05 07:34] parispittman commented on #4044
the roles aren't fully complete yet but closing this issue as the bootstrap pieces are moving along and we can continue on with other issues now.

#4474
/close

[2020-02-05 07:34] #4044 closed

[2020-02-05 13:46] nzoueidi commented on #3362
/cc

[2020-02-05 13:46] nzoueidi commented on #3541
/cc

[2020-02-05 15:36] debgiles commented on #4230
Here are the links I have.  I'm not 100% comfortable editing that feedback page, as it's opened very different than I'm used to, but let me know if there's something else I can do to get them added.

Shanghai
Retro - https://docs.google.com/document/d/13aeCb6Rfy0XM2uOhEhIZJZM2ykg-j2IgxsTdNbt2_TI/edit#heading=h.7zrpue9bmixk
NCW Feedback - https://drive.google.com/open?id=1PhBMtacE567SH7sMyxdDGhAC8U

[2020-02-05 16:38] tao12345666333 commented on #4469
SGTM!

blog posts will be a good start.

[2020-02-05 18:01] rficcaglia commented on #4185
sure - one problem I always hit is that neither Zhipeng or Erica show up in
github so I can't @them.  I don't know if it's something weird in my
browser or what but FWIW I added the ghi:
https://github.com/kubernetes/org/issues/1618

On Wed, Jan 29, 2020 at 11:13 AM Bob Killen <notifications@github.com>
wrote:

[2020-02-05 22:05] #3945 closed

[2020-02-05 22:05] #4185 closed

[2020-02-06 06:28] parispittman commented on #2663
yay more things checked off

[2020-02-07 12:31] SomtochiAma commented on #4111
Hey, New contributor here, Can I pick this up?

[2020-02-07 15:33] mrbobbytables commented on #4409
@danielthrasher Just wanted to check in :)
Are you still looking to work on this?

[2020-02-07 15:39] mrbobbytables commented on #4175
@onlydole friendly ping. Is something you're still interested in taking on?

[2020-02-07 15:42] mrbobbytables commented on #3305
I know it's been a bit 😬 but just wanted to check back in. Do you think theres enough bandwdith to tackle this in the 1.18 cycle?

[2020-02-07 16:06] markyjackson-taulia commented on #3305
@mrbobbytables I think this should be targeted for v.1.19. Thoughts @nikhita?
I still plan to work with @nikhita on this

[2020-02-07 16:27] onlydole commented on #4175
I am indeed! I need to take a look at what's currently in place and then I can get started. I’ll have time this coming week to take a peek.

[2020-02-07 20:38] mrbobbytables commented on #3662
Just checking in, any update on this? Last was a recommendation from dims on an idea.

/remove-lifecycle stale

[2020-02-07 20:41] mrbobbytables commented on #2812
We have a [playlist for code-walkthroughs](https://www.youtube.com/watch?v=EImWsMI-I48&list=PL69nYSiGNLP0gugLYzpNR1ueyUj9GjzpK) and add useful vids as they come in.
I think this is safe to close as long as we continue that pattern?

[2020-02-07 20:59] mrbobbytables commented on #4464
We could bring this up on the next bi-weekly meeting. Then aim to PR the notes in.

[2020-02-07 21:55] mrbobbytables commented on #3281
This came up recently again in #sig-contribex.
I can answer some of these questions, we just need to further document it better:

Should we investigate a team account? Does the demand support this (probably not, at the moment)?

The CNCF has a single user account. The group accounts are too expensive and it is not used enough to warrant it.

I think an issue template would be good. It needs to hit

[2020-02-07 22:00] mrbobbytables commented on #3481
Do we actually want to pursue #1?  If so I'd go the route we use for office hours and keep a running hackmd of the questions. They could be added to the ep description when its published.

For #2 on the list. I think we're doing a pretty good job of that ad-hoc. We have enough people keeping an eye out for that sort of content that we clip it or add it to the right playlist.

[2020-02-07 22:06] mrbobbytables commented on #3708
We sorta did this at KCS Boston with the awards and drafted the [awards ceremony role book](https://github.com/kubernetes/community/blob/master/events/events-team/content/awards-ceremony.md#awards-ceremony-handbook), although it still has some outstanding TODOs.

Maybe create an awards dir similar to the [cncf awards repo](https://github.com/cncf/awards) and formalize things a bit more?

[2020-02-08 01:27] mrbobbytables commented on #4374
This has been done for the EU team.
The follow-up that is needed is to update the role-book.

[2020-02-09 03:48] parispittman commented on #3662
@mrbobbytables we have the chairs/tl meeting now that we can do trainings and things through. i honestly don't remember if i connected with dims so will need to ping him again. @dims

[2020-02-09 09:29] idvoretskyi commented on #3281
This makes sense, thanks @mrbobbytables

[2020-02-09 16:04] dustymabe opened #4496 "REQUEST: New Slack app: wee-slack"
**GitHub Username:**

I don't know who to put down here. My GH name is @dustymabe but I don't think that is what is being asked for.

**Slack Username:**

Again, my username is @dustymabe, but not sure that is the correct answer to the question

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

Slack App request.

**Name of Requested Resource:**

A request for the [wee

[2020-02-09 20:54] mrbobbytables commented on #4111
Here are the current updates that need to be applied, the Mentoring meeting time is still TBD.
- Meetings:
  - Regular SIG Meeting
    - url: https://zoom.us/j/397264241
  - Biweekly Issue Triage
    - day: Wednesday
    - time: 10:30
    - tz: PT
    - frequency: biweekly
    - url: https://zoom.us/j/308291410
    - recordings_url: https://www.youtube.com/watch?v=EMGUdOKwSns&list=PL69nYSiGNLP2x_4

[2020-02-09 21:27] mrbobbytables commented on #4486
There are 4 docs that need to be updated to reference kubetest instead of hack/e2e.go:
- [contributors/devel/development.md](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md)
- [contributors/devel/sig-architecture/conformance-tests.md](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md)
- [contributors/d

[2020-02-10 05:33] onlydole commented on #3654
Template for questions [has been started](https://docs.google.com/document/d/1mqC5ySqtAENvhDXGnMHDFWjlP7AXJdyIE0PngeHhb0I/edit?usp=sharing) - let me know if you need edit access, or want to see anything else from these blog posts.

[2020-02-10 05:36] onlydole commented on #3481
For item number 1, would there be any issue with asking the CNCF if we can get funds for using a service to handle the transcriptions? I agree with @mrbobbytables on item number 2.

[2020-02-10 06:28] lukaszgryglicki commented on #3305
I would really like to help with this, but I just don't know where those new repos should be assigned.

[2020-02-10 07:50] markyjackson-taulia commented on #3305
@lukaszgryglicki we can pair if you would like

[2020-02-10 08:19] lukaszgryglicki commented on #3305
All I need is a list of all new repos and what repo group they should be assigned to. I'll do the rest. So for example:
- kubernetes/fancy-new-repo: "SIG Fancy"
- kubernetes-addons/new-csi-driver": "Some other SIG"

Once I have that list, I'll update config for DevStats and regenerate data.

[2020-02-10 11:12] YangLu1031 opened #4498 "Windows node `PLEG not healthy` during load test with 1pod/s rate"
When running windows [pod startup latency load test](https://github.com/kubernetes/test-infra/blob/f51bb12132dbc3b35a9223d1d4caf8d6361c1555/config/jobs/kubernetes/sig-windows/windows-gce.yaml#L315) with pod creation speed 1pod/s, the kubelet on the node will become Not Ready with error message `PLEG is not healthy: pleg was last seen active 3m8.068354s ago; threshold is 3m0s`
[code]
Compared with

[2020-02-10 14:02] lukaszgryglicki commented on #3305
Here is the list of repositories that are falling back to "Other" repository group.
[other.txt should be saved as other.csv](https://github.com/kubernetes/community/files/4181198/other.txt)

[2020-02-10 14:21] markyjackson-taulia commented on #3305
/unassign @markyjackson-taulia
/assign @lukaszgryglicki

[2020-02-10 15:06] lukaszgryglicki commented on #3305
Great, but I cannot proceed on this, I need the community to actually define repository groups for those repos. Once I have that, I'll update devstats.

[2020-02-10 15:25] mrbobbytables commented on #3726
Token has been granted \o/
/close

[2020-02-10 15:25] #3726 closed

[2020-02-10 16:31] mrbobbytables commented on #3305
/assign
I can take care of creating those mappings, we should add a task somewhere to update them quarterly...I think they just keep falling off the radar.

[2020-02-11 17:08] parispittman commented on #3481
ad hoc doesn't scale. needs to be a process. im going to add into the host guide that they need to alert the youtube admins post the meeting about which items need to be clipped out. im guessing this will be ok to do in slack? (will add this explicitly to the guide). i also see a few code base tours that are missing from the playlist so im clearly not doing well on the adhoc part.

im also going t

[2020-02-11 17:10] parispittman commented on #3305
we used to have devstat meetings and working meetings. might be good to kick that up again on a quarterly basis and even if no agenda, could do this as an audit working together.

[2020-02-11 17:19] mrbobbytables commented on #3481
No prob with keeping it open 👍
As far as process goes, Can ping youtube-admins in slack or open an issue tagging `@`kubernetes/youtube-admins . Slack will definitely get eyes on it quicker, but could fall-back to GH if no one is immediately available.

[2020-02-11 17:44] mrbobbytables commented on #3305
Right now I'm thinking of just making it a task as part of quarterly planning. @lukaszgryglicki is going to add a dashboard of repo -> repo group mappings. If any appear in there under the 'other' category that we aren't already familiar with, create an issue to update the repo mappings.

[2020-02-11 20:58] hh commented on #3546
Thanks @quinton-hoole for the push to write the docs and @devaips for writing them.
/close

[2020-02-11 20:58] #3546 closed

[2020-02-12 09:26] lukaszgryglicki commented on #3305
New dashboard showing repository groups - repositories assignments implemented: https://github.com/cncf/devstats/issues/235#issuecomment-585110324

[2020-02-12 15:27] mrbobbytables commented on #4409
I think this is open again if anyone wants to take it on. 👍

[2020-02-12 15:28] mrbobbytables commented on #4109
I think this is back to being open again if anyone wants to take it on 👍

[2020-02-12 17:28] idealhack opened #4513 "Build Shanghai 2020 Contributor Summit Team"
Contributor Summit will be back to Shanghai again at the end of July, and here we form the team and get the ball rolling :)

Please see [Events Team roles](https://github.com/kubernetes/community/tree/master/events/events-team) for details and nominate yourself or others.

- Lead roles: from current and past contributor summit staff
- Shadows: do not need to have Kubernetes event experience, but s

[2020-02-12 20:08] #4111 closed

[2020-02-13 07:36] idealhack commented on #4513
cc @puja108 @kubernetes/sig-contributor-experience-apac-coordinators @kubernetes/sig-contributor-experience-leads

[2020-02-13 07:40] idealhack commented on #4513
note: I've confirmed with Deb that we are going to work on this event as planned, for concerns about the coronavirus, see https://www.lfasiallc.cn/kubecon-cloudnativecon-open-source-summit-china/attend/coronavirus-update/ as KCS is a co-located event of KubeCon.

[2020-02-13 07:45] tao12345666333 commented on #4513
I was about to say this.  :+1:
This thing will affect the schedule.

[2020-02-13 14:49] castrojo commented on #4482
/lgtm

Sorry it took so long to get to this, here are the instructions for PRing in the channels you want: https://github.com/kubernetes/community/blob/master/communication/slack-guidelines.md#requesting-a-channel

Feel free to assign me to the PR.

[2020-02-13 16:15] idvoretskyi commented on #3938
CNCF suggests using Keybase for credentials sharing - https://github.com/cncf/servicedesk/#how-do-i-share-credentials-passwords-or-other-confidential-information.

[2020-02-13 21:15] smarterclayton commented on #4471
Yeah I think so, @liggitt if he wants to disagree

[2020-02-14 11:01] #4498 closed

[2020-02-14 11:06] justaugustus commented on #3456
I've opened the following PRs, to carry the work, as it has stalled out:
- Add `needs-triage`: https://github.com/kubernetes/test-infra/pull/16298
- Rename triage labels: https://github.com/kubernetes/test-infra/pull/16299

Both PRs are on **_explicit hold_** until we/I produce a phase 0 KEP for issue triage.

[2020-02-14 15:50] parispittman opened #4515 "create new slack team/user group for upstream marketing"
need to create @contributor-comms as a team in slack so folks can reach out to us as one (out of many) methods, this one hitting our real time needs. this is a reminder PR for myself but if someone wants this as a good first issue or a friendly PR and it's still open - take it. :)

jonasrosland
chrisshort
tunde
simplytunde
onlydole
Rin Oliver
and me - paris

need to get ok to add from karthik, nzo

[2020-02-14 16:20] parispittman opened #4516 "[umbrella] contributor twitter account bootstrap"
- [x] set up guidelines
- [x] research collaboration tools
- [x] send out a short list vote on handles to k-dev@ mailing list / #4554

[2020-02-14 16:57] mbbroberg commented on #4399
Jumping back in (thanks for the nudge @mariantalla!). Thinking process-wise, I could see this issue being reframed as a meta issue with the following checklist items:

- [ ] use hound to find instances of undesirable language
- [ ] update sig-docs style guide to advise on language
- [ ] categorize these instances to make a set of issues people can fix
- [ ] notify k-dev of these updates and invite

[2020-02-14 17:04] mbbroberg commented on #4399
Looking through hound, I see a ton of _just_ instances alone. They are, thankfully, not in a ton of repositories, so that could be the most natural separation for issues. For instance "Remove instances of uninclusive language from $REPO" as a template and that outlines the style guide updates.

[2020-02-14 17:23] darbiste opened #4519 "When the legacy-cloud-provider for vsphere will be removed from the k8s controller?"
it's announted that the CSI for vSphere is supported only for on v6.7U3 (https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md). In the other hand, legacy-cloud-provider embeded with k8s controller is marked as depricated and continue to work on lasted k8s version, our vSvphere infra is not moving so fast interms of upgrades, and

[2020-02-15 15:53] tao12345666333 commented on #4515
I submitted a PR to complete it

/assign

[2020-02-15 22:30] justaugustus commented on #3456
Enhancement issue opened: https://github.com/kubernetes/enhancements/issues/1553
Initial Issue Triage KEP opened: https://github.com/kubernetes/enhancements/pull/1554

[2020-02-15 22:41] justaugustus commented on #3456
/unassign @nikopen

[2020-02-17 06:24] deekshith-elear opened #4525 "Threshold limits on headless service"
Hi,
I was using headless service to provide DNS name for the pod, In thresholds.md I'm seeing services can hold max endpoints of 250, Does this applies the same to headless service.

Thanks
Deekshith

[2020-02-17 14:32] mrbobbytables commented on #4519
@darbiste This repo is used as the general management point of Kubernetes contributor community. Questions like that are not likely to be answered here. I'd ask it over in the [#provider-vsphere slack channel](https://kubernetes.slack.com/messages/provider-vsphere) or reach out to the [vmware users group channel / or send an email to their mailing list](https://github.com/kubernetes/community/tree

[2020-02-17 14:32] #4519 closed

[2020-02-17 14:54] mrbobbytables commented on #3305
@lukaszgryglicki I've created a sheet with the mappings here: https://docs.google.com/spreadsheets/d/1vpM7CkLH0PZsXm_lkFA5iUOCecGkX1HxxK8Zz5Hkgt4/edit#gid=0

Some don't really have a direct owner...they pre-date sigs and I couldn't track down a group who "should" be the owner now.

FYI - few other little things on that sheet:
- All former cloud providers sigs (aws, azure, gcp) have been consolidat

[2020-02-17 15:21] lukaszgryglicki commented on #3305
Will update DevStats tomorrow.

[2020-02-18 06:12] lukaszgryglicki commented on #3305
I'm working on this, I'm __adding__ assignments repo - repo group from this document, we already have a lot of assignments defined, I'm only checking if there are no collisions with the document, and if there are any I'm using the document as a higher priority source. Current definitions are [here](https://github.com/cncf/devstats/blob/master/scripts/kubernetes/repo_groups.sql).

[2020-02-18 07:09] lukaszgryglicki commented on #3305
After updating [repo groups definitions](https://github.com/cncf/devstats/blob/master/scripts/kubernetes/repo_groups.sql) we now have 23 repos falling back to "Other":
[code]

Here are those 23 "Other" repos:
[code]

[2020-02-18 12:50] lukaszgryglicki commented on #3305
Populating on the [test server](https://k8s.teststats.cncf.io/d/12/dashboards?orgId=1&refresh=15m). If there are no problems, I'll populate this on prod tomorrow (this takes few hours to complete, but test server is available during the process, only some dashboards might be unavailable for the time given dashboard is regenerating).

[2020-02-18 13:08] mrbobbytables commented on #3305
I few small additional repo mappings from looking over the "other" list:
- kubernetes-sigs/vsphere-csi-driver -> sig-cloud-provider
- kubernetes-sigs/gcp-filestore-csi-driver -> sig-cloud-provider
- kubernetes-sigs/compute-persistent-disk-csi-driver- -> sig-cloud-provider

[2020-02-18 19:13] #4482 closed

[2020-02-18 20:53] bradtopol opened #4530 "Add a mentor available label to denote that an issue has a mentor available for getting it addressed"
In an effort to reduce the friction of new contributors being able to identify and implement an existing issue,  I propose the creation of a new prow label called the "mentor available" label. Similar to how the good first issue label denotes that an issue is appropriate for a new contributor, the mentor available label denotes that a mentor is available for any contributor that wishes to attempt

[2020-02-18 20:54] bradtopol commented on #4530
/sig contributor-experience

[2020-02-18 23:16] zacharysarah commented on #4530
The PR to add a label belongs in test-infra, but I asked @bradtopol to open an issue here to maximize visibility.

Like Brad mentions, SIG Docs wants to deepen our pool of good first issues. We notice that many issues aren't quite in the range of a new contributor, but could be with a mentor to provide feedback. Folks with feature knowledge but no bandwidth to write docs may find it easier to prov

[2020-02-19 06:45] idealhack commented on #4406
/assign @puja108 @onlydole
for on-site operations

[2020-02-19 11:49] idealhack commented on #4513
btw, we don't have the staff information for the [2018](https://github.com/kubernetes/community/tree/master/events/2018) or the [2019](https://github.com/kubernetes/community/tree/master/events/2019/06-contributor-summit) one. I'll add them when I contact previous leads.

[2020-02-19 12:39] puja108 commented on #4513
@jberkus mentioned in San Diego that he would like to step down from being the lead and IIRC nominated @idealhack as the new lead. I would support Yang's nomination for this and I can offer to be the shadow, as I've been involved with the last two years, too, and as it currently looks will also make it to China again this year. Alternatively, I can be involved in Current Content again.

[2020-02-19 12:57] sftim commented on #4530
SIG Docs also intend to update https://kubernetes.io/docs/contribute/intermediate/ and https://kubernetes.io/docs/contribute/advanced/ to specifically mention mentoring.

[2020-02-19 14:09] lukaszgryglicki commented on #3305
Finished, see https://k8s.devstats.cncf.io.

[2020-02-19 18:34] mrbobbytables commented on #3305
Awesome, thanks!
Next steps for us on contribex side is documenting some place the responsibilities of updating the list.

[2020-02-19 22:30] alisondy commented on #4513
👋 I'll be willing to help out with NCW

[2020-02-21 01:37] thockin opened #4534 "REQUEST: New Slack channel (k8s-infra-alerts) and integration (Google Cloud Monitoring)"
**GitHub Username:** thockin

**Slack Username:** thockin

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**. Channel & integration

**Name of Requested Resource:**  k8s-infra-alerts and enable GCP Monitoring integration

**Description of Request:** We want to be able to send alerts (e.g. k8s.io is down) to a slack channel.  To do that, we need to allow Google Cloud Mon

[2020-02-21 03:10] jeefy commented on #4534
/assign @mrbobbytables @jeefy

Context https://kubernetes.slack.com/archives/C4M06S5HS/p1582220495051900

[2020-02-21 09:31] aravindputrevu commented on #4513
I'd like to join you folks too,  but it depends on the travel restrictions.

[2020-02-21 16:00] #4515 closed

[2020-02-21 16:29] thockin commented on #4534
YAY!  I have a channel.

How do I get the app authorized?

[code]

[2020-02-21 16:32] munnerz commented on #4534
Copying from Slack...

I am +1 to this, but we should double check whether this will allow anyone on Slack to configure Stackdriver Monitoring alerts from there own workspace into channels (and if this _is_ the case, decide whether that's okay...)

[2020-02-21 16:33] munnerz commented on #4534
(I wouldn't be against 'learning on the job' either!)

[2020-02-21 16:36] palnabarun commented on #4513
@idealhack @puja108 I would like to help out again with the Registration role. I am a bit doubtful about my attendance on-site for the event.

[2020-02-21 16:45] thockin commented on #4534
All approved - will test now!  Thanks slack admins.

[2020-02-21 16:45] #4534 closed

[2020-02-22 10:56] RobertKielty commented on #4486
/assign @RobertKielty

[2020-02-22 21:27] cblecker commented on #3899
/remove-lifecycle stale

[2020-02-23 10:01] JimBugwadia opened #4538 "Policy Violation Custom Resource Definition"
The [Policy Violation CRD](https://docs.google.com/document/d/1QJWcaJdo8w88tIixiZp9zBMHKghTMrHTyHyk6xcoVhk/edit#heading=h.wn242twwl364) proposal aims to standardize how different Kubernetes policy management tools (OPA, Falco, Kyverno, kube-bench, etc.) can report non-conformance. The goal is to allow consistent reporting and management of policy violations.

There are three work areas for this pr

[2020-02-23 10:01] JimBugwadia commented on #4538
/wg policy

[2020-02-23 11:03] RobertKielty opened #4539 "Improve Youtube "Leave-behind""
In marketing there is the concept of "leave behind"

You go visit a client, you give them a presentation, and you _leave behind_ materials that back up your presentation so that they can think on it while you are no longer there.

In the olden times, leave behind might include product samples, printed product documentation, the presentation itself, a business card etc.

In preparing for the New Co

[2020-02-23 11:06] RobertKielty commented on #4539
/sig contributor-experience

[2020-02-23 12:30] Pensu commented on #4513
Would love to help out with KCS Shanghai, hope the travel situation is sorted out by then. :)

[2020-02-23 13:56] mrbobbytables commented on #4525
@deekshith-elear The community repo is used as the general management point of Kubernetes contributor community. Questions like that are not likely to be answered here. =/

I'd ask it over in the [#sig-network](https://kubernetes.slack.com/messages/sig-network) slack channel or on their [mailing list](https://groups.google.com/forum/#!forum/kubernetes-sig-networkt).

With that I'm going to go ahea

[2020-02-23 13:56] #4525 closed

[2020-02-24 03:40] itssimon commented on #2210
/reopen
/remove-lifecycle rotten

[2020-02-24 05:53] LinshanYu opened #4541 "Broken link：Branch-based links in projects are more likely to fail"
In this project, there are many broken links. The type of these links is a reference to a branch, such as the master branch. When certain files in the branch are changed or deleted, these links will definitely fail. I suggest that follow-up links in this project should be based on the specified commit or tag, not a branch

[2020-02-24 10:49] discordianfish commented on #2210
And another issue "fixed" by @fejta-bot... 💪

[2020-02-24 18:32] mrbobbytables commented on #3305
I've updated our community maintenance doc in #4544 with a note about reviewing the dashboard and making sure they are a part of a repo group. 👍

[2020-02-25 08:01] nikhita commented on #4538
xref https://github.com/cncf/soc/pull/145 - this is for a GSoC project.

[2020-02-25 12:51] mrbobbytables commented on #3917
This has been done for some time ¯\_(ツ)_/¯

/close

[2020-02-25 12:51] #3917 closed

[2020-02-25 15:26] #4541 closed

[2020-02-26 00:10] itssimon commented on #2210
@danielepolencic would you mind reopening as it remains a relevant and open issue / feature request.

[2020-02-26 00:18] alisondy commented on #4367
This is all done! ✨
/close

[2020-02-26 00:18] #4367 closed

[2020-02-26 00:43] alisondy opened #4549 "[Contributor Summit Amsterdam] - Create New Contributor Workshop Slides"
Following content discussed in the [Content Proposal](https://docs.google.com/document/d/1x3EyAqjOzZhM6eviMFQUu15TArBlv3CdJMOkxpJSrgs)

We now need to modify the slides to align with the content proposal

[Link to slides](https://docs.google.com/presentation/d/19OtCzuDTVeeIfMD39OOODGJzkV3UGM_nr7jpSNhoy2s/edit#slide=id.g5e6254b17b_4_1145)

Proposal for the decks content:
## Introduction
- [ ] Intro

[2020-02-26 01:38] danielepolencic commented on #2210
/reopen

[2020-02-26 17:29] mrbobbytables commented on #1234
This has been open for some time, but I think it's been sorted out --
We've fleshed out the approver section in our community membership doc:
https://github.com/kubernetes/community/blob/master/community-membership.md#approver

Several SIGs/subprojects have started to spell things out more specifically as well:
https://github.com/kubernetes-sigs/kubebuilder/blob/master/docs/CONTRIBUTING-ROLES.md

[2020-02-26 17:29] #1234 closed

[2020-02-26 18:06] #3305 closed

[2020-02-26 18:06] #4477 closed

[2020-02-27 02:18] onlydole commented on #4406
Hello team! I will not be on-site for Amsterdam (unfortunately), but I will be able to help with anything you need, otherwise!

[2020-02-27 03:05] onlydole commented on #4175
I'm still looking into this one...do you know the best place I can come up to speed with Splain, @mrbobbytables?

[2020-02-27 16:13] swinslow commented on #3623
/remove-lifecycle stale

[2020-02-27 16:13] swinslow commented on #3623
/remove-lifecycle rotten

[2020-02-27 16:14] swinslow commented on #3623
Hi @nikhita, I've made a note to reach out to you shortly so that we can reconnect and move this forward. Thanks!

[2020-02-27 17:10] mrbobbytables commented on #2725
/remove-lifecycle stale

The ongoing discussion for this is happening in this PR to update 617
https://github.com/kubernetes/enhancements/pull/1545

[2020-02-27 18:31] mrbobbytables commented on #4175
We have some docs here: https://github.com/kubernetes/community/blob/master/communication/youtube/youtube-guidelines.md#automation

But they should be cleaned up... and a GH template for requesting it assigning the youtube admins  would be useful here too.
1.  We have to request an additional splain license by sending an email to support@splain.io with the email address of the zoom account request

[2020-02-27 19:02] mrbobbytables commented on #2234
Is this still needed? If so, wouldn't it be an item for k/website if its run-time dependendencies for users?

[2020-02-27 22:03] matthyx commented on #4149
Hi, I have added some more graphs, but they aren't too useful as such...
Can any of you suggest some edits or new data?
We can also discuss in Amsterdam in one month!

[2020-02-28 12:28] mrbobbytables commented on #4207
@MeenaAlfons The community repo is used as the general management point of Kubernetes contributor community. Questions like that are not likely to be answered here. =/

I'd ask it over in the #sig-storage slack channel or on their mailing list.

With that I'm going to go ahead and close this out, if you have any questions feel free to respond or reach out to me directly.

/close

[2020-02-28 12:28] #4207 closed

[2020-02-28 17:51] chris-short opened #4554 "Kubernetes Contributor Twitter Handle"
The [Kubernetes Upstream Marketing](https://github.com/kubernetes/community/tree/master/communication/marketing-team) team has been stood up to elevate the hard work being done throughout the Kubernetes community by its contributors. Part of that work is to create a community social media presence.

The first platform we're looking to tackle is Twitter and we need to choose a handle from a group @

[2020-02-28 17:52] chris-short commented on #4554
/sig contributor-experience
/area contributor-comms

[2020-02-28 17:53] chris-short commented on #4554
/assign @chris-short

[2020-03-01 13:14] mrbobbytables commented on #2210
I know this was just reopened -- but the community repo is used as the general management point of Kubernetes contributor community. Discussions like that are not likely to show up on the SIG stakeholder's radar. =/

If you'd like to get more visibility on the topic I'd move the convo to the autoscaling [mailing list](https://groups.google.com/forum/#!forum/kubernetes-sig-autoscaling) / [slack](ht

[2020-03-02 20:18] jeefy opened #4558 "Virtualize 2020 EU Kubernetes Contributor Summit"
With the concerns I've heard from many contributors (summit staff and otherwise) as well as companies starting to ban international travel, I want to propose that the Kubecon EU 2020 Contributor Summit be ~cancelled and~ turned into a virtual-only event.

I (along with @geekygirldawn and @mrbobbytables) had [written up a proposal](https://docs.google.com/document/d/1FH24lkoLS0mQcXNhYbk08L9qXzjrCaV

[2020-03-02 20:47] jeefy commented on #4558
GH Group broke it looks like

/assign @parispittman @guineveresaenger @jberkus @mrbobbytables @Phillels @cblecker @nikhita

[2020-03-02 20:59] BenTheElder commented on #4558
What's the upshot to this over like, generally preparing materials for contributors?

To me the contributor summit is about getting face to face time. For the new contributor workshop in particular that means having people go around and personally help people work through it 1:1.

If it's "virtual" AKA video calls and slack, that sounds like every other day in the project and lacking the 1:1 inter

[2020-03-02 21:06] markyjackson-taulia commented on #4558
Zoom has the breakout room for 1:1 help and I have done that before for training

[2020-03-02 21:33] chris-short commented on #4558
@BenTheElder I think the idea is that a lot of folks have already booked this time for the event so we do not want to leave them empty-handed. For example, OpenShift Commons has shifted to a completely virtual event. Additionally, this content does have the added benefit of then becoming available asynchronously.

[2020-03-02 22:34] jberkus commented on #4558
I firmly believe that IF Kubecon still happens, there should be a live, physical Contributor Summit.  If people are going to Kubecon anyway we're not adding to anyone's risk by holding the CS, and currently a lot of our registrants forwent other Day 0 events so that they could be at the Contributor Summit.  Cancelling on them would be irresponsible.

[2020-03-02 22:38] alisondy commented on #4558
@jberkus playing devils advocate
with all these travel bans, and people dropping out
are we confident we can still deliver them a quality event?

[2020-03-02 22:42] jberkus commented on #4558
Now, that's a good question.  I'm inclined to believe that, if enough companies pull their people to make the CS untenable, they'll also cancel Kubecon.  But maybe you aren't.

[2020-03-02 22:43] markyjackson-taulia commented on #4558
I will also add to what @alisondy said, if we do not have enough staff or speakers, I am of the opinion that delivering a subpar event should not happen

[2020-03-02 22:44] chris-short commented on #4558
There would still be an event. It would be virtual. If there are folks on the ground there that could facilitate participation, I think that could be blended. I could be wrong too. But, I believe that the quality is going to be subpar right now given those that have pulled out.

[2020-03-02 23:02] jeefy commented on #4558
FYI I formatted things to remove the word Cancel. The core idea here is to transition things from an in-person event to an entirely remote/virtual one.

PS I'm staying out of things for a while. I brought the proposal up and want everyone to have a voice here. <3

[2020-03-02 23:06] mrbobbytables commented on #4558
Sorry for the large delay in response -- just got back near a comp

A digital event cannot replace Face-to-Face time =/ We can however try and do what we can.

We have focused session content that should be useful (e.g. [overview of structure logging](https://kcseu2020.sched.com/event/aO3i/introducing-structured-logging-into-kubernetes-codebase)). For others its a block of time where we can discus

[2020-03-02 23:19] BenTheElder commented on #4558
I still think the former is a video or written post and the latter should be a KEP or slack or mailinglist discussion. Or workgroup meeting. Needing to attend and present this live digitally seems pointlessly exclusionary.

I contest the idea that everyone will still have an uninterrupted time slot for this when they are no longer attending, and presume attendees would prefer a physical event.

I

[2020-03-03 00:11] parispittman commented on #4558
It looks like ~4 folks on the event crew are left out of 25. I'm +1 to start on virtual plans.

[2020-03-03 00:22] jberkus commented on #4558
Yeah, when I made the comment above I wasn't aware that two companies had already pulled their people.

However ... we should discuss timing.  Like, if this is not happening at Kubecon, then is there a particular reason to have it on March 30?

[2020-03-03 00:36] parispittman commented on #4558
@jeefy can you and ams crew discuss the pros/cons of moving vs having the same day and let us know what you think?

[2020-03-03 00:44] jberkus commented on #4558
My thought was to break it up over several days.

[2020-03-03 01:16] cblecker commented on #4558
@jeefy Thank you for bringing this forward.

As a subproject owner and ContribEx TL: +1 to cancelling the in person summit, and moving forward with some sort of virtual plan.

I agree with a number of the arguments and concerns, both for the health and safety of our volunteer contributors running this event, and the quality of program we could put on with the large number of staff and speakers who

[2020-03-03 01:52] jeefy commented on #4558
@parispittman - Having it the same day has a couple benefits that were discussed on the planning call:
* As of now, everyone already has the time blocked off
* If Kubecon is held, those summit attendees who travel to it could attend it still virtually (depending on the timezone question, which is still up in the air)

When the group was polled on Zoom, the majority felt same-day made the most sens

[2020-03-03 08:31] nikhita commented on #4558
Explicit +1 for a virtual event :+1: :100:

[2020-03-03 15:46] chris-short commented on #4558
I am a hard +1 for virtualizing the event.

I would also propose we make as few changes to the schedule as possible to minimize confusion, drastically ease logistics (no one's workload changes), and not burn the three streamers we have out. I understand there is flexibility in virtualizing but, I'd rather see that flexibility used to open the event up to more people as opposed to changing formats

[2020-03-03 16:03] raelga commented on #4558
+1 for the virtual event too.

[2020-03-03 16:24] saschagrunert commented on #4558
+1 let’s do it virtual

[2020-03-03 21:23] jberkus commented on #4558
The Virtual Contributor Summit (VCS) should not be all on March 30th.

Here's why: nobody is going to be OK with schedule conflicts in a purely online event when we could actually serialize it.

One of the primary compliants about the CS in every survey we do is the conflicts between sessions that the same people want to be in.  And for this CS, we were juggling presenters for the NCW because of t

[2020-03-04 17:13] justaugustus commented on #4554
It feels a little confusing/diluted to have multiple presences?
Is there a reason we couldn't share control of https://twitter.com/kubernetesio?

[2020-03-04 17:20] parispittman commented on #4554
@justaugustus they only push out so much content a day and we have more content than what they want to share

[2020-03-04 17:23] justaugustus commented on #4554
Gotcha. Thanks for the clarification, @parispittman! :)

[2020-03-04 17:28] parispittman opened #4562 "process for summit team shadows"
recruiting shadows for future events outside of setting a github link needs some work. maybe we can mirror the release process and include a form? scribing this issue so we remember.

[2020-03-04 19:20] samudralavamshi54 commented on #4109
/assign

[2020-03-04 19:22] samudralavamshi54 commented on #4409
/assign

[2020-03-04 20:38] eyevariety commented on #4554
It's criminal that the hyphenated version is winning.  The non hyphenated is far easier to communicate and will be the default mistake that people trying to do the hyphenated one make.

[2020-03-04 20:43] nimbinatus commented on #4554
✋ Can we ensure that if any of the non-hyphenated handles do get picked gets CamelCased so people with screen readers have an easier time of it? My understanding based on what I know of accessibility is that CamelCase is read properly by a reader (e.g., "Cam-el Case" vs "cam-el-cas-e") Or are these already claimed and we just need to pick one?

[2020-03-04 20:49] eyevariety commented on #4554
Twitter handles aren't case sensitive, so it would just be an aesthetic change

[2020-03-05 00:43] parispittman commented on #4558
thank you everyone for your comments and jeff for being considerate and asking for folks suggestions <3 closing this issue now as the decision has been made. thank you jeff, dawn, and bob for the thoughtful proposal.

/close

[2020-03-05 00:43] #4558 closed

[2020-03-05 18:07] markyjackson-taulia opened #4567 "Add New Contributor Workshop Video playlist to the mentoring subproject"
Add New Contributor Workshop Video playlist to the mentoring subproject
https://github.com/kubernetes/community/tree/master/mentoring

[2020-03-05 18:08] markyjackson-taulia commented on #4567
sig/contributor-experience

[2020-03-05 18:08] markyjackson-taulia commented on #4567
/assign @markyjackson-taulia

[2020-03-05 18:09] markyjackson-taulia commented on #4567
/sig contributor-experience

[2020-03-06 14:05] #4567 closed

[2020-03-06 14:33] lukaszgryglicki commented on #3305
You can now see repository/repository groups configuration using [new DevStats REST API](https://devstats.cncf.io/api/v1) (described [here](https://github.com/cncf/devstatscode#api)).

Example call to get that configuration for kubernetes and filter to show only repositories falling back to `Other` repository group:
- `curl -H "Content-Type: application/json" https://teststats.cncf.io/api/v1 -d'{"

[2020-03-06 15:54] markyjackson-taulia opened #4573 "Update shadow-roles.md"
Add some more context to https://github.com/kubernetes/community/blob/master/mentoring/programs/shadow-roles.md

[2020-03-06 15:56] markyjackson-taulia commented on #4573
/sig contributor-experience
/area mentorship-planning
/assign @markyjackson-taulia

[2020-03-06 22:15] parispittman opened #4576 "remove 'big data' from sig list on gov doc"
https://github.com/kubernetes/community/blob/master/governance.md#sigs

big data is still listed as a sig under the vertical category. it's now a usergroup and not needed on that list. if someone could remove that only, it's a good first issue! :)

[2020-03-06 22:19] parispittman opened #4577 "chair role book/handbook?"
After speaking with numerous chairs, many requested that we have a baseline role book, others suggested they make their own, etc. I was curious what a baseline would look like anyway so I mad libbed [sig-governance.md](https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md) sections for chairs, how sigs should operate, [governance.md](https://github.com

[2020-03-06 23:06] markyjackson-taulia commented on #4157
/remove-lifecycle rotten

[2020-03-06 23:06] markyjackson-taulia commented on #4157
/remove-lifecycle stale

[2020-03-06 23:50] divya-mohan0209 commented on #4576
/assign
/lang en

[2020-03-08 08:31] idealhack commented on #4513
As KubeCon China 2020 was [canceled](https://www.lfasiallc.cn/kubecon-cloudnativecon-open-source-summit-china/), the (physical) KCS will be canceled as well. However, the SIG will be planning on if we are going to have a virtual event, so I'll keep this one open.

[2020-03-08 21:06] markyjackson-taulia commented on #4296
/remove-lifecycle stale

[2020-03-09 07:55] #4154 closed

[2020-03-09 10:16] puja108 commented on #4513
Yeah, some Chinese contributors and community companies are planning on creating a virtual KubeCon China/APAC (cc @kevin-wangzefeng as you sent me your survey) anyway, so we might be able to attach our events there to have a nicer crowd and benefit from each other's marketing and organization efforts.

[2020-03-09 12:46] vikaschenny opened #4581 "REQUEST: New Slack <[channel|usergroup|bot|token|webhook]> <[channel|usergroup|bot|token|webhook] name>"
**GitHub Username:**

**Slack Username:**

**What Type of Request is it (Channel, User Group, Bot, Token, or Webhook)?**

**Name of Requested Resource:**

**Description of Request:**

[2020-03-09 12:46] vikaschenny opened #4582 "kubernets network issue"

[2020-03-09 12:52] vikaschenny opened #4583 "/issue <Network>"
hi all

i have external db server created service in k8s and i have deployed application in kubernets environment but there is connectivity issue the pod not able to connect db. even i tried without service means db server ip and port no luck using flannul network (but using wave net work able to connect db ip and port ) i didn't understand what i have to change if i want make connection between d

[2020-03-09 13:04] mrbobbytables commented on #4581
/close

[2020-03-09 13:04] #4581 closed

[2020-03-09 13:06] mrbobbytables commented on #4582
/close

[2020-03-09 13:06] #4582 closed

[2020-03-09 13:07] mrbobbytables commented on #4583
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-03-09 13:07] #4583 closed

[2020-03-09 16:24] parispittman commented on #3467
this does need to happen still. happy to walk someone through how to do this.

/remove-lifecycle rotten
/help-wanted

[2020-03-09 16:39] parispittman opened #4584 "baseline and expectation of comms for chairs"
disclaimer: abbreviation used - ack (short for acknowledge)

right now communication expectations for chairs is a little fuzzy - where they should be looking, what intervals, for what?, expected SLAs/ack times, what needs an ack from everyone/what needs an ack from some

 thanks to @onlydole we captured[ preferred channels for immediate contact](https://docs.google.com/spreadsheets/d/1osoBcTtzjiXf

[2020-03-09 17:07] mrbobbytables commented on #4441
This was completed last Wednesday \o/

if you have any questions, please feel free the reopen or ping the youtube admins in slack 👍

Thanks!

/close

[2020-03-09 17:07] #4441 closed

[2020-03-09 17:18] mrbobbytables opened #4585 "Update SIG Contributor Experience Sub-project Owners"
This is a general maintenance task. Before the 1.19 cycle / project planning starts we should ensure that the sub-project owners are up to date.
- [x] [Community](https://github.com/kubernetes/community/tree/master/sig-contributor-experience#community)
- [x] [Community-management](https://github.com/kubernetes/community/tree/master/sig-contributor-experience#community-management)
- [x] [Contributo

[2020-03-09 17:23] parispittman commented on #4585
Checking in that I have intentions of remaining active in all of mine. I would like to be emeritus in the communication subproject by EOY if I can get someone to mentor.

[2020-03-09 19:18] mrbobbytables commented on #484
Assigning other relnotes owners to for additional ack
/assign @jeefy @onyiny-ang @marpaia

@saschagrunert @jeefy @onyiny-ang @marpaia - Do you think this is good enough to be closed at this point?

[2020-03-09 19:23] mrbobbytables commented on #814
This is documented here:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md#identifiers-and-names-in-kubernetes

If there are no objections, I think this can be closed 👍

[2020-03-09 19:25] mrbobbytables commented on #914
Closing this as it is no longer relevant with the KEP process 👍
/close

[2020-03-09 19:25] #914 closed

[2020-03-09 19:30] mrbobbytables commented on #1007
I think the document has been updated, but history lost in the documentation shuffle...
@mengqiy @caesarxuchao can you double check and see if this still needs to be updated?
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/generating-clientset.md

[2020-03-09 19:34] parispittman opened #4586 "sig elections process check list/how to"
we need a light process for elections in the cases where sigs need to vote on topics. most recent is sig-instrumentation voting for tech leads. most should be using lazy consensus imo but in the case where they would like to vote we should have guidance.

possibly election/voting-as-a-service from contribex?

[2020-03-09 19:48] mrbobbytables commented on #4576
fixed by #4579
/close

[2020-03-09 19:48] #4576 closed

[2020-03-09 19:58] parispittman opened #4587 "zoom feature additions to add to docs"
break out rooms, polling, and nonverbal queues to host are features we were not using before that we should start using in certain situations/SIGs/meetings. when flipping these on zooms global control panel, this will let meeting hosts on individual licenses toggle those on if they would like. this is a net positive but will need some things in place:

1-documentation will need to be updated/testi

[2020-03-10 00:43] mrbobbytables commented on #1693
Would some of these items be good for the Chair & TL documentation being put together? ref: https://github.com/kubernetes/community/pull/4461

[2020-03-10 01:15] mrbobbytables commented on #2126
I think this is safe to close at this point, the section is documented. The other 2 permissions levels (triage and maintain) aren't really used by the project.

[2020-03-10 01:34] mrbobbytables commented on #2565
With it being a little over a month since the last ping -- I think we should set a cut off date 3/24 (the date of 1.18's release) for the remaining [design proposal PRs](https://github.com/kubernetes/community/pulls?q=is%3Apr+is%3Aopen+label%3Akind%2Fdesign), close them and move it over to k/enhancements for archival purposes.

@gkarthiks do you want to do 1 last ping with a note about the close d

[2020-03-10 01:56] mrbobbytables commented on #2770
I think all the tasks have been completed outside of the remaining ML / Zoom / Calendar tasks.

[2020-03-10 02:15] mrbobbytables opened #4588 "Replace SIG/WG meeting placeholder references with Zoom links"
Some time ago Zoom did not have sufficient moderation capabilities and the Zoom meeting links were removed from [sigs.yaml] and pointed towards this placeholder:
https://docs.google.com/document/d/1FQx0BPlkkl1Bn0c9ocVBxYIKojpmrS1CFP5h0DI68AE/edit

As a workaround to help mitigate trolls from causing problems in meetings. This has since been resolved and the entries in [sigs.yaml] should be updated

[2020-03-10 02:31] mrbobbytables commented on #2951
ref: https://github.com/kubernetes/community/pull/4461
Start of one is being built there^^

[2020-03-10 02:35] mrbobbytables commented on #3183
ref: https://github.com/kubernetes/community/pull/4461
I think that is the start of it

[2020-03-10 07:45] saschagrunert commented on #484
I think we're probably fine with https://github.com/kubernetes/community/pull/4274 and https://github.com/kubernetes/community/pull/4282 and I suggest in closing this issue. :+1:

[2020-03-10 12:24] AGMETEOR commented on #4588
Would love to try this

[2020-03-10 12:44] mrbobbytables commented on #4588
Go for it @AGMETEOR :)

[2020-03-10 12:48] markyjackson-taulia commented on #4588
This is awesome and I am so proud of you for giving this a go.
You will need to make side you sign the CLA: https://github.com/kubernetes/community/blob/master/CLA.md

/assign @AGMETEOR

[2020-03-10 13:12] markyjackson-taulia opened #4589 "Update Youtube guidelines"
The following location needs to be updated with the below bullet items:

Location: https://github.com/kubernetes/community/blob/abc269477475538409a6f4e6e390684c6fbf29e2/communication/youtube/youtube-guidelines.md

Update Items:
-[] Note that date must be in title and description
-[] Note that the date format must be YYYYMMDD
-[] Note that the section titled `Is this video made for kids?` should no

[2020-03-10 13:13] markyjackson-taulia commented on #4589
/remove-good-first-issue
/sig contributor-experience

[2020-03-10 13:14] markyjackson-taulia commented on #4589
/good-first-issue

[2020-03-10 13:18] markyjackson-taulia commented on #4589
/assign @markyjackson-taulia

[2020-03-10 14:03] rajendar38 commented on #4588
I am also interested in this  jack and bob

[2020-03-10 14:07] markyjackson-taulia commented on #4588
@rajendar38 this has been taken up by @AGMETEOR

[2020-03-10 14:24] rajendar38 commented on #4588
Ok no issues, any good first issue please let me know jack,
I already signed in CLA agreement
and let me know the next steps to proceed further for future purposes.

[2020-03-10 14:30] markyjackson-taulia commented on #4588
Take a look at https://github.com/search?q=org%3Akubernetes+org%3Akubernetes-sigs+org%3Akubernetes-incubator+org%3Akubernetes-csi+org%3Akubernetes-client+is%3Aopen+is%3Aissue+label%3A%22help+wanted%22&type=Issues

[2020-03-10 14:59] #4573 closed

[2020-03-10 15:56] jeefy commented on #484
+1 to closing

On Tue, Mar 10, 2020 at 3:45 AM Sascha Grunert <notifications@github.com>
wrote:

[2020-03-10 16:49] parispittman opened #4591 "fixing shadow-roles.md"
I was in the middle of a review and someone lgtm'ed it. I had some comments that need to be addressed in a new PR.

https://github.com/kubernetes/community/pull/4574

[this doc](https://github.com/kubernetes/community/blob/master/mentoring/programs/shadow-roles.md)

<img width="638" alt="Screen Shot 2020-03-10 at 9 57 58 AM" src="https://user-images.githubusercontent.com/5912992/76340105-420eeb80-

[2020-03-10 17:01] mrbobbytables commented on #484
with 2 acks, I'm going to go ahead and close this out. Thanks!

/close

[2020-03-10 17:01] #484 closed

[2020-03-10 17:43] #4486 closed

[2020-03-10 18:07] zestrells commented on #4591
/assign

[2020-03-10 18:31] #4589 closed

[2020-03-10 19:51] AGMETEOR commented on #4588
@mrbobbytables / @markyjackson-taulia for each meeting with the same `description`, should I use the same zoom link or I should just map the meeting day and time in `sig.yaml` with the time on the calendar and then get the appropriate zoom link?

[2020-03-10 19:51] neolit123 commented on #4584
added my details to the XLS. in general i think that chairs should be at the minimum watching their respective mailing lists (google groups).

[2020-03-10 20:12] markyjackson-taulia commented on #4588
@AGMETEOR I would map the meeting day and time in sig.yaml with the time on the calendar and then get the appropriate zoom link but I would also like @mrbobbytables to advise

[2020-03-10 21:26] barney-s commented on #2440
FYI we are tracking this as part of Cronjob GA KEP https://github.com/kubernetes/enhancements/pull/978/files#

[2020-03-11 01:52] parispittman commented on #4423
/close

we haven't formed many groups worth noting yet but that's ok; the majority of this issue is good and we can file future issues for that.

worth noting for history that the theme for march was triage :)

[2020-03-11 01:52] #4423 closed

[2020-03-11 02:17] mrbobbytables commented on #4588
Multiple people should be able to do this one. You can do 1 sig/wg per PR and break it up that way :)
1 SIG per PR will also likely get reviewed/merged much much faster.

[2020-03-11 02:22] jberkus commented on #4513
You'll be able to re-use the NCW content from the virtual NCW in March.

[2020-03-11 07:24] palnabarun opened #4593 "Wrong repository link in sigs.yaml"
Ref: https://github.com/kubernetes/community/blob/master/sigs.yaml#L92

[2020-03-11 07:25] palnabarun commented on #4593
/sig contributor-experience
/sig api-machinery

[2020-03-11 07:25] palnabarun commented on #4593
/assign

[2020-03-11 09:17] #4593 closed

[2020-03-11 11:47] mrbobbytables commented on #798
Going to go with lavalamp's suggestion. This won't really get any visibility here in the community repo. =/

If this is something you'd still like to see, please go ahead and open an issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes).

/close

[2020-03-11 11:47] #798 closed

[2020-03-11 13:56] AGMETEOR commented on #4588
@mrbobbytables going to break them up.

[2020-03-11 14:35] mrbobbytables commented on #4031
/area contributor-comms
Moved this over to the marketing sub-project 👍

[2020-03-11 18:32] AGMETEOR commented on #4588
@mrbobbytables broke them up into 9 branches. I also noted that some meeting links were not available on the calendar. I noted them down and will be putting a comment of those under each PR.

[2020-03-11 23:50] janetkuo opened #4595 "Splain configuration for SIG Apps"
I want the splain (zoom to youtube automation service) configuration for SIG Apps. Thanks!

@kow3ns @mattfarina @prydonius

[2020-03-11 23:51] janetkuo commented on #4595
/sig apps

[2020-03-12 00:02] janetkuo commented on #4595
This message is confusing. k8s-ci-robot added `sig/apps` label successfully.

[2020-03-12 00:03] mrbobbytables commented on #4595
/sig contributor-experience
/area community-management
/assign

[2020-03-12 15:51] castrojo commented on #4588
You need to run `make` on your PRs, the instructions are here: https://github.com/kubernetes/community/tree/master/generator

Thanks for working on this!

[2020-03-12 16:28] AGMETEOR commented on #4588
@castrojo thanks for the heads up! I just did :)

[2020-03-13 02:15] zestrells commented on #4591
Opened a PR to address this issue https://github.com/kubernetes/community/pull/4609

[2020-03-13 03:54] zxgm opened #4610 "How does an external application access the k8s headless service?"
How does an external application access the k8s headless service? For example, the external access port is 31111. How is the service.yaml written?
[code]

Is that correctly?

[2020-03-13 06:04] #4610 closed

[2020-03-13 08:01] zhupeixiang1234 opened #4612 "if i want to use http request to get k8s api '/api/v1/namespaces/namespace/pods/pod/log?follow=true',the result is dynamic,how i can get the result"
### GitHub Username
e.g. (at)github_user

### Property you'd like to Moderate
e.g. discuss.k8s.io, kubernetes-dev

### Username on Property Requested
e.g. (at)property_user

### Requirements

- [ ] I am a Kubernetes Org member already
- [ ] I have enabled 2FA on my account for the property I would like to moderate (if applicable).
- [ ] I have read and will abide by the policies mentioned in the [

[2020-03-13 14:44] mrbobbytables commented on #4612
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-03-13 14:44] #4612 closed

[2020-03-13 18:03] remyleone opened #4615 "Ensure odd numbers of voting leaders to ensure tie decisions are break"
Could we make an explicit recommendation to have an odd number of voting leaders in all SIG? This could ensure that in case of a debate there is always a tie break with a decision to move things forward.

Already enforced tacitly by @zacharysarah but it could be made more explicit and systematic to have it as a general recommendation.

[2020-03-13 18:07] zacharysarah commented on #4615
It’s not a pressing issue in any SIG as far as I know, but the time to fix for good governance isn’t in the middle of needing it. +1

[2020-03-13 18:14] mbbroberg opened #4616 "Define the happy path to multichannel communication"
As part of ContribEx Upstream Marketing initiative, we want to provide a clearer way to consume Kubernetes information. This issue is a kickoff to that primary goal of defining our motive, documenting the strategy, and assigning subtasks.

Here's my first take on our motive:

- Provide all Kubernetes contributors with a dependable experience of communication.
- Find ways of adding our human touch

[2020-03-13 18:16] mbbroberg commented on #4616
/sig contributor-experience

[2020-03-13 18:35] remyleone opened #4617 "Contributor bill of rights | What are contributors rights/recourses when consensus with a reviewer is not reach"
I think it would be a good idea to describe explicitly in the whole project or in specific SIGs what are the contributors' rights and how conflicts are solved in our community.

The code of conduct is fine but doesn't give much specifics about how a given contributor experience will take place. It doesn't say how a contribution will be reviewed and recourses with actionable actions in case there i

[2020-03-13 18:52] alejandrox1 commented on #2659
proposal that I made for the group on a zoom call:

Besides actual approvers for an area also have as mentors people who are comfortable with the code base.
Not necessarily approvers but people who can help others interested in becoming approver for SIG X.
Mentors should be able to help with reviews, coding, technical knowledge but also help create work.
Creating work in this context would be to l

[2020-03-13 19:32] parispittman commented on #4616
notes:

outbound: kubernetes-dev@googlegroups.com
justification: growing in popularity to check for contributor news per 2018 and 2019 survey results, highlighted on the contributor guide, sig readmes, gov docs, etc.

inbound: issue or PR with area/contributor-comms

[2020-03-13 20:31] thockin commented on #4617
I understand the desire here, but I have to ask how much of this is hypothetical and how much is grounded in real events?

The project is not a democracy, and voting on code is almost never a good idea.  I can't think of a single time (in my experience) where a change or idea has reached sig-TLs or "root approvers" and not been able to reach consensus or compromise.

At the end of the day, the peo

[2020-03-13 21:16] lavalamp commented on #4615
My hot take: I disagree with this. We should not be voting on code. I can't think of any situation in API Machinery where a 3rd co-TL or co-chair would have changed the outcome, and I wouldn't want to participate in a forum with the implied amount of conflict needed to make that untrue.

[2020-03-13 21:26] lavalamp commented on #4617
Reviewer / TL bandwidth is a constrained resource. Right now people "pay" for this resource by waiting more or less time for reviews on their PRs. Sometimes for good reason (priority) and often for bad reasons (lack of visibility).

People do not like to wait for reviews and I 100% understand and empathize with that. But if we decree that there shall be deterministic progress through the review pi

[2020-03-13 21:46] markyjackson-taulia opened #4618 "Add Marky to Outreachy and a note about always having 3 coordinators"
Add Marky to Outreachy and a note about always having 3 coordinators to the following location:

https://github.com/kubernetes/community/blob/master/mentoring/programs/outreachy.md

[2020-03-13 21:52] markyjackson-taulia commented on #4618
/sig contribex

[2020-03-13 21:53] markyjackson-taulia commented on #4618
/sig contributor-experience

[2020-03-13 21:54] markyjackson-taulia commented on #4618
/assign markyjackson-taulia

[2020-03-13 21:56] markyjackson-taulia commented on #4618
/area mentorship-planning

[2020-03-14 00:20] chris-short commented on #4554
Hey Kubernetes Family,

The polling is over. **K8s-contributors** is the clear winner. But, we have a few issues we're working through at the moment with regards to the Twitter handle.

Earlier this week, we realized that K8s-contributors is an invalid Twitter handle as it exceeds the fifteen (15) character limit. When piecing together what didn't go as planned, we realized something rather unique